body 
{
	font-size: 9pt; 
	color: #4F4F4F; 
	font-family: gulim; 
	line-height: 11pt
} 
td 
{	font-size: 9pt; 
	color: #4F4F4F; 
	font-family: gulim; 
	line-height: 11pt
} 
a 
{
	font-size: 9pt; 
	color: #4F4F4F; 
	font-family: gulim; 
	text-decoration: none
} 
a:link 
{
	font-size: 9pt; 
	color: #4F4F4F; 
	font-family: gulim; 
	text-decoration: nono
} 
a:hover 
{
	font-size: 9pt; 
	color: #0071CF; 
	font-family: gulim; 
	text-decoration: nono
} 

