@charset "utf-8";

.wrap_bridge {position:relative; width:100%; min-width:970px; height:100%;}
.wrap_bridge .section {width:100%;}
.wrap_bridge .contents {position:relative; margin:0 auto; width:970px; height:100%;}
.wrap_bridge .ir_ {overflow:hidden; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/home/shopbest/ir_bg.png) no-repeat;}
.wrap_bridge .btn {cursor:pointer;}

.wb_head {width:100%; height:80px; background:url(http://img.enuri.info/images/home/shopbest/bg_top.gif) 0 0 repeat-x;}
.wb_head .ir_.pageTit {position:absolute; bottom:8px; left:10px; width:340px; height:40px; background-position:0 0;}
.wb_head .tabs {overflow:hidden; position:absolute; bottom:0; right:0; width:542px;}
.wb_head .tabs li {display:inline; float:left; position:relative; width:180px; margin-left:1px;}
.wb_head .tabs li:first-child {margin-left:0;}
.wb_head .tabs li:before {content:""; position:absolute; bottom:0; left:-1px; width:1px; height:30px; background:url(http://img.enuri.info/images/home/shopbest/ir_bg.png) -180px -161px no-repeat;}
.wb_head .tabs li .btn {display:block; width:180px; height:39px;}
.wb_head .tabs li .ir_.btn.tab1 {background-position:0 -41px;}
.wb_head .tabs li .ir_.btn.tab2 {background-position:0 -81px;}
.wb_head .tabs li .ir_.btn.tab3 {background-position:0 -121px;}
.wb_head .tabs li .ir_.btn:hover,
.wb_head .tabs li .ir_.btn.on  {background-position-x:-180px;}

.wb_cont {overflow:hidden; width:100%; padding:30px 0 40px;}
.wb_cont .shopbest_list {display:none; overflow:hidden; width:100%; padding:2px 0 0 2px;}
.wb_cont .shopbest_list ul {margin-left:-43px;}
.wb_cont .shopbest_list ul li {float:left; width:210px; margin-bottom:30px; padding:0 0 19px 43px; border-bottom:1px solid #eee;}
.wb_cont .shopbest_list ul li .btn {display:block; position:relative; width:100%; height:100%;}
.wb_cont .shopbest_list ul li .btn .nb {position:absolute; top:-2px; left:-2px; z-index:10; width:31px; height:31px; padding:0 2px 2px 0; font-weight:bold; font-size:14px; color:#fff; text-indent:0; text-align:center; vertical-align:middle; line-height:31px; background-position:0 -161px;}
.wb_cont .shopbest_list ul li .btn .imgs {width:208px; height:208px; border:1px solid #e2e2e2;}
.wb_cont .shopbest_list ul li .btn .pname {display:-webkit-box; overflow:hidden; height:34px; margin:10px 0; text-overflow:ellipsis; -webkit-line-clamp: 2; /* 라인수 */ -webkit-box-orient: vertical; word-wrap:break-word; font-size:13px; line-height:17px; color:#171717;}
.wb_cont .shopbest_list ul li .btn .price {text-align:right; font-size:14px; color:#0073be; line-height:20px; vertical-align:middle;}
.wb_cont .shopbest_list ul li .btn .price .ir_.free {display:inline; float:left; width:46px; height:15px; margin-top:4px; background-position:-34px -161px;}
.wb_cont .shopbest_list ul li .btn .price strong {font-size:18px;}


/*.btm_area {clear:both; width:970px; margin:0 auto;}
.btm_area img {float:left; width:970px; height:90px;}*/

/* 주요쇼핑몰 바로가기 */
.mall_go {position:relative; width:970px; margin:45px auto 0; }
.mall_go h3 {font-size:14px; color:#333333; font-weight:bold; padding-bottom:5px;}
.mall_go span {position:absolute; top:0; right:0px; color:#666666; }
.mall_go span em {color:#1f8fd7; font-weight:bold; }
.mall_go ul {border:1px solid #f1f1f1; padding:10px 0 5px 0;}
.mall_go ul:after {clear:both; display:block; content:"";}
.mall_go ul li {float:left; width:105px; line-height:35px; text-align:center; cursor:pointer;}