@charset "utf-8";
/* NotoSans Font Weight 300 - Light  400 - Regular 500 - Medium 700 - Bold*/
@import url("//img.enuri.info/fonts/NotoSans-Hestia/webfont.css");
/* Local Font - for Local Test */
/* @import url("/css/webfont-local.css"); */

/************************************************************************
 * 파일명 :com.simple.header.css
 * 설명 :에누리 공통 심플헤더 (PC)
 * 작성자  :신왕섭
 * 작성일 :2019.10.23
************************************************************************/

/* Reset */
#header .com_simple_header a:link, 
#header .com_simple_header a:hover, 
#header .com_simple_header a:active, 
#header .com_simple_header a:visited, 
#header .com_simple_header a:focus,
.com_simple_header a:link, 
.com_simple_header a:hover, 
.com_simple_header a:active, 
.com_simple_header a:visited, 
.com_simple_header a:focus{color:inherit}

/* 공통 심플헤더  */
.com_simple_header{line-height:1.5;font-weight:400;height:40px;position:relative;background-color:#f2f2f8;border-bottom:1px solid #dbdbdb;color:#666;-webkit-box-sizing:content-box;box-sizing:content-box}
.com_simple_header:after{content:"";clear:both;}
#header .com_simple_header{color:#666;line-height:1.5;font-weight:400;}
.com_simple_header *{font-family:'Noto Sans KR',tahoma,"Apple SD Gothic Neo",'malgun gothic',"맑은고딕",'dotum','돋움','gulim','굴림',verdana,sans-serif !important;-webkit-box-sizing:content-box;box-sizing:content-box}
.ico_simple__sprite{background-image:url(http://img.enuri.info/images/home/sprite_simple.png);background-repeat:no-repeat;text-indent:-9999em} /* 공통 아이콘 */
.com_simple_header .com_lay_box{border:1px solid #222222;visibility:hidden;position:absolute;right:0;top:36px;-webkit-box-shadow:rgba(0, 0, 0, 0.1) 5px 5px 4px;box-shadow:rgba(0, 0, 0, 0.1) 5px 5px 4px;z-index:20002;} /* 공통 레이어 기본값 */
.com_simple_header .com_lay_box:before{content:"";position:absolute;top:-7px;right:30px;background-image:url(http://img.enuri.info/images/home/sprite_simple.png);background-repeat:no-repeat;background-position:-60px 0;width:11px;height:7px}
.com_head__menu li:hover .com_lay_box{visibility:visible;} /* 공통 레이어 활성화 */
/* 레이어 등장효과 */
.com_simple_header .com_lay_box{-webkit-transition:.3s all ease-out;-o-transition:.3s all ease-out;transition:.3s all ease-out;transition-delay:.2s;opacity:0;-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px)}
.com_head__menu li:hover .com_lay_box{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}

/* 쇼핑지식 예외처리 */
.mobile .com_simple_header{display:none} /* 모바일 비노출 */

/* 심플헤더 - 내부영역 */
.com_head__inner{width:1258px;height:40px;position:relative;margin:0 auto}
.ty_wide .com_head__inner{width:1280px} /* 와이드*/

/* 심플헤더 - 패밀리 탭 */
.com_head__tab_fam{height:40px;position:relative;float:left;border-left:1px solid #dbdbdb}
.com_head__tab_fam li{width:73px;border-right:1px solid #dbdbdb;line-height:40px !important;float:left;text-align:center;letter-spacing:-.5px;-webkit-transition:.2s all ease-in-out;-o-transition:.2s all ease-in-out;transition:.2s all ease-in-out}
.com_head__tab_fam li:hover{background-color:rgba(0,0,0,.03)}
.com_head__tab_fam li a{display:block;width:100%;height:41px;position:relative;z-index:1;color:#888 !important;text-decoration:none;font-size:12px}
.com_head__tab_fam li.on a{background-color:#fff}
.com_head__tab_fam li:hover a{color:#666}

/* 심플헤더 - 추가 배너 */
.com_head__list_ban{height:40px;position:relative;float:left}
.com_head__list_ban li{width:140px;float:left;height:40px;text-align:center;line-height:40px !important;}
.com_head__list_ban li a{display:block;padding:0 10px;font-size:13px;font-weight:500;color:#222 !important}
.com_head__list_ban li a strong{font-weight:500;color:#222}
.com_head__list_ban li.list_ban_nm{width:73px;border-right:1px solid #dbdbdb;}
.com_head__list_ban li.list_ban_pick{width:80px}
/* 201111 : SR#43316 : [PC] PICK 심플헤더 수정 요청 (소문자 -> 대문자 변경)
.com_head__list_ban li.list_ban_pick a{background:url(http://img.enuri.info/images/home/ico_sp_pick.png) no-repeat 20px 10px;text-indent:-9999em} */
.com_head__list_ban li.list_ban_pick a{background:url(http://img.enuri.info/images/home/ico_sp_pick_upper.png) no-repeat 20px 10px;text-indent:-9999em}
.com_head__list_ban li.list_ban_nm:hover{background-color:rgba(0,0,0,.03)}
.ico__sp_ben{display:inline-block;width:51px;height:18px;background-position:0 -20px;vertical-align:middle;margin:-2px 0 0 4px;-webkit-animation:icoBounce ease-in-out 2s infinite alternate;animation:icoBounce ease-in-out 2s infinite alternate}
@-webkit-keyframes icoBounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50%,70% {-webkit-transform:translateX(-3px);transform:translateX(-3px)}
}
@keyframes icoBounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform:translateX(0);transform:translateX(0)}
    50%,70% {-webkit-transform:translateX(-3px);transform:translateX(-3px)}
} 

/* 심플헤더 - 우측 메뉴 */
.com_head__menu{position:absolute;top:0;right:0;height:40px;text-align:right;font-size:0;letter-spacing:0}
.com_head__menu > li{line-height:40px !important;font-size:12px;padding:0 11px 0 10px;position:relative;display:inline-block}
.com_head__menu > li:after{content:"";position:absolute;top:0;right:0;height:11px;border-right:1px solid #cccccc;top:15px}
.com_head__menu > li:last-child{padding-right:0}
.com_head__menu > li > a{display:block;position:relative;text-align:center}
.com_head__menu > li em{color:#222}
.com_head__menu em.user_name{display:inline-block;max-width:100px;overflow:hidden;vertical-align:middle;margin:-3px 0 0 0;font-weight: normal;text-overflow:ellipsis;white-space:nowrap;}
.ico__arr_down{display:inline-block;width:14px;height:14px;background-position:0 0;vertical-align:middle;margin:-2px 0 0 4px}
.com_head__menu li:hover .ico__arr_down{background-position:-20px 0}
.ico__app_down{display:inline-block;width:14px;height:14px;background-position:-40px 0;vertical-align:middle;margin:-2px 0 0 4px}

/* 마이에누리 */
.com_lay_login{background-color:#fff;width:150px;letter-spacing:0;text-align:left;}
.com_lay_login .lay_inner{position:relative;padding:16px}
.com_lay_login .lay_inner ul li{height:30px;line-height:30px !important;font-size:13px !important;color:#666666}
.com_lay_login .lay_inner ul li em{color:#52b3f1;font-size:12px}
.com_lay_login .lay_inner ul li a{text-decoration:none;display:block;color:inherit}
.com_lay_login .lay_inner ul li:hover a{color:#222 !important}

/* 사이트맵 > 쇼핑지식, 해외직구, 조립PC 공통 */
.com_lay_sitemap{padding:16px 15px 50px;width:414px;background:#fff;z-index:1030;line-height:24px !important;text-align:center;}
.com_lay_sitemap dl{width:205px;float:left;}
.com_lay_sitemap dl:first-child{margin-right:3px}
.com_lay_sitemap dt{color:#fff;height:28px;line-height:28px;font-weight:400;background:#7c838d;margin-bottom:12px;}
.com_lay_sitemap dd{width:102px;height:120px;text-align:left;float:left;border-left:1px solid #f3f3f3}
.com_lay_sitemap dd:first-of-type{border-left:none}
.com_lay_sitemap dd a{text-indent:12px;background:none;padding-right:0;display:block}
.com_lay_sitemap dd a:hover{color:#222 !important}
.com_lay_sitemap .all{width:100%;border-top:1px solid #eeeeee;position:absolute;left:0;bottom:0;height:37px;line-height:37px;text-align:left;text-align:center;background-color:#fafbfd}
.com_lay_sitemap .all a{display:inline-block;color:#555555;letter-spacing:-.5px}
.com_lay_sitemap .all .enuri_all{padding-right:10px;background-position:123px -209px;position: relative;}
.com_lay_sitemap .all .enuri_all:after{content:"";position: absolute;right:0;background:url(http://img.enuri.info/images/enuripc/ico_common.png) 0 -225px no-repeat;width:3px;height:5px;top:50%;margin-top:-1.5px;}

/* 앱다운로드 */
.com_lay_app{text-align:left;}
.com_lay_app .spbox{width:445px;height:288px;background:#fff;position:relative;text-indent:-9999em;z-index:100}
.com_lay_app .spbox .sp_tab{position:absolute;left:12px;top:10px;width:100% !important;text-align:left !important}
.com_lay_app .spbox .sp_tab li {float:left;background:none !important;margin:0 !important}
.com_lay_app .spbox .sp_tab li a{width:70px;height:37px;padding:0 !important;text-indent:-9999em;float:left}
.com_lay_app .spbox .sp_tab li:first-child a{width:107px}
.com_lay_app .spbox .sp_tab li:nth-child(2) a{width:65px}
.com_lay_app .spbox .sp_enuri{background:url(http://img.enuri.info/images/home/lay_down_app.jpg) 0 0;height:288px;width:445px}
.com_lay_app .spbox .sp_hotdeal{background:url(http://img.enuri.info/images/home/lay_down_app.jpg) 0 -288px;height:288px;width:445px}
.com_lay_app .spbox dl dd a{padding:0 !important;width:48px;height:48px;position:absolute}
.com_lay_app .spbox dl dd a.goole{left:31px;top:199px}
.com_lay_app .spbox dl dd a.apple{left:101px;top:199px}
.com_lay_app .spbox dl dd input{position:absolute;border:0;background-color:transparent; left:174px;top:203px;padding:3px 5px;width:150px;}
.com_lay_app .spbox dl dd input.mobile{background:url(http://img.enuri.info/images/main/bg_input.gif) 2px 5px no-repeat}
.com_lay_app .spbox dl dd input.focus{background:none}
.com_lay_app .spbox dl dd .send{position:absolute;left:346px;top:200px;width:69px;height:29px;background:url(http://img.enuri.info/images/main/btn_send.gif) 0 0;border:none;cursor:pointer}