@charset "utf-8";

@import url("layer.css");
/************************************************************************
 * 파일명 : default.css
 * 설명 : enuri.com 기본속성
 * 작성자  : 최민경
 * 작성일 : 2016.04.27
************************************************************************/

#hFrame{position:absolute; left:-9999px; top:-9999px}
* {margin:0;padding:0;}
html,body{width:100%; height:100%; margin:0;padding:0;font-family:malgun gothic, "맑은고딕", verdana, sans-serif;font-size:12px;line-height:1.5}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;}
h1,h2,h3,h4,h5,h6{font-weight:normal; margin:0; padding:0;}

table{border-collapse:collapse; word-break: break-all; font-size:12px;}

.hide {display:none}  /* none */
.blind {display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;} /* hide */
.png24{tmp:expression(setPng24(this));}

/* Link Css */
a {cursor:pointer; color:#666666}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:none; }

/* form */
textarea, input, select, label{font-family:malgun gothic, "맑은고딕", verdana, sans-serif;font-size:12px;outline:none}
button {border:0 none;cursor:pointer;vertical-align:middle}


/* 공통 _ 로컬네비게이션 */
.lp_category{width:970px; margin:0 auto; }
.local_navi{padding:0px 0 10px}
.local_navi:after{content:""; display:block; clear:both; }
.local_navi li.home{background:none; padding-left:0; }
.local_navi li.home a{width:17px; padding:0; margin-right:2px; background:none; font-weight:bold; border: 1px solid #ffffff;}
.local_navi li.home a:hover{text-decoration:underline;}
.local_navi li{float:left; padding-left:11px; background:url(http://img.enuri.info/images/home/bullet.gif) 0px 6px no-repeat; position:relative; letter-spacing:-1px; }
.local_navi li a{overflow:hidden; color:#343434; width:105px; height:19px; display:block; border: 1px solid #e3e3e3; border-radius: 2px; padding: 0 24px 0 6px; margin-right:8px; text-decoration:none; background:url(http://img.enuri.info/images/home/bullet.gif) 97% -38px no-repeat;}
.local_navi li .sub_dp{display:none; border-bottom:2px solid #dbdbdb; border-radius:2px; width:127px; position:absolute; left:16px; top:0px; border:1px solid #787878; padding:0 2px 0 6px; z-index:101; background:#ffffff}
.local_navi li .sub_dp span{display:block; background:url(http://img.enuri.info/images/home/ico_sub_dp.gif) 98% 7px no-repeat; padding-bottom:3px;}
.local_navi li .sub_dp ul{max-height:220px; overflow:auto;}
.local_navi li .sub_dp li{background:none; padding:0; width:100%}
.local_navi li .sub_dp li a{border:none; background:none; display:block; width:98px; padding:0 1px; margin:0; overflow:hidden; }
.local_navi li .sub_dp li a:hover, .local_navi li .sub_dp li a.on:hover{background:#2d9fe8; color:#ffffff; text-decoration:none;}
.local_navi li .dp4{color:#000000; border:1px solid #ffffff; border-radius:2px; font-weight:bold; display:inline-block; height:22px; letter-spacing:-0.5px;}
.local_navi li .sub_dp li a.on{color:#2d9fe8; text-decoration:underline; background:#ffffff; }
.local_navi li a div.sub{padding-left:10px; font-size:13px; position:relative;}
.local_navi li a div.sub:after{position:absolute; left:-4px; top:0; content:"└"; }

/*페이징*/
.paging{text-align:center; margin:22px 0; position:relative;}
.paging li{display:inline-block; margin:0 1px; vertical-align:middle}
.paging li a{width:34px; height:30px; padding-top:4px; border:1px solid #e2e2e2; color:#999999; text-align:center; display:block; font-size:18px; font-family:tahoma;}
.paging li a.btn{background: url(http://img.enuri.info/images/home/bullet.gif) 0 0 no-repeat; color:#181818; width:78px; height:30px; padding-top:4px; font-family:malgun gothic; font-size:16px; }
.paging li a.btn:hover{border:1px solid #e2e2e2; color:#181818;}
.paging li a.btn.prev{background-position:10px -247px; text-indent:7px;}
.paging li a.btn.next{background-position:right -300px; text-indent:-7px;}
.paging li a.selected{cursor:default; background:#2d9fe8; border:1px solid #1f8fd7; color:#ffffff}
.paging li a.selected:hover{border:1px solid #1f8fd7; color:#ffffff}
.paging li a:hover{border:1px solid #787878; color:#343434}

/* 상품비교창 */
.comparison_box{width:848px; border:1px solid #52606f; background:#ffffff; position:fixed; bottom:0; left:50%; margin:0 0 auto -424px; z-index:100; box-shadow:-2px -2px 3px 0px rgba(0, 0, 0, 0.3);}
.comparison_box h4{font-weight:bold; background:#575c67; color:#ffffff; height:33px; padding-top:2px; font-size:18px; text-indent:14px;}
.comparison_box .updown{position:absolute; right:5px; top:0; width:71px; height:30px; display:block; }
.comparison_box .updown em{width:35px; height:29px; text-indent:-9999em; display: inline-block; background:url(http://img.enuri.info/images/home/ico_stick.png) -36px -262px no-repeat; }
.comparison_box.boxfold .updown .close, .comparison_box .updown .close{background:url(http://img.enuri.info/images/home/ico_stick.png) -72px -262px no-repeat; }
.boxfold{bottom:-205px;}
.comparison_box.boxfold .updown em{width:35px; height:29px; text-indent:-9999em; display: inline-block; background:url(http://img.enuri.info/images/home/ico_stick.png) 0 -262px no-repeat; }
.prod_comlist{float:left; width:668px; height:184px; padding:20px 20px 0px; overflow:auto; }
.prod_btn{position:absolute; right:1px; top:35px; background:#f9f9f9; border-left:1px solid #bbbbbb; width:125px; height:183px; padding:21px 0 0 14px; }
.prod_btn li{font-size:13px; width:108px; height:22px; padding-top:2px; border:1px solid #bbbbbb; text-align:center; box-shadow: 0px 2px 0px #efefef; margin-bottom:8px; background:#ffffff; cursor:pointer; font-weight:bold; color:#333333;}
.prod_btn li.bl{background:#2d9fe8; color:#ffffff; border:1px solid #1689d3; }

.prod_comlist .compare{}
.prod_comlist .compare:after{clear:both; display:block; content:"";}
.prod_comlist .compare li{display:table-cell; position:relative; width:100px; }
.prod_comlist .compare li a{display:block; margin-right:20px;}
.prod_comlist .compare li img{width:98px; height:98px; border:1px solid #e2e2e2; }
.prod_comlist .compare li .unchk, .prod_comlist .compare li .chk{position:absolute; left:0; top:0;}
.prod_comlist .compare li .ico_ad{position:absolute;top:1px;right:21px;width:16px;height:10px;background:url(http://img.enuri.info/images/home/ico_stick.png) no-repeat 0 -300px;text-indent:-9999em;}
.prod_comlist .compare li strong{display:block; text-align:right; color:#0073be; font-size:14px; }
.prod_comlist .compare li strong em{font-size:12px; font-weight:normal; vertical-align:1px;}
.prod_comlist .compare li .m_price{margin-left:0;}
.prod_comlist .compare li div{height:31px; overflow:hidden; line-height:16px}

.prod_comlist .unchk{background:url(http://img.enuri.info/images/home/ico.png) left -171px no-repeat !important; padding-left:20px; height:14px !important; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}
.prod_comlist .unchk input, .chk input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.prod_comlist .chk{background:url(http://img.enuri.info/images/home/ico.png) left -204px no-repeat  !important; font-weight:bold; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}

/* 191204 PC 공통 로더 */
.comm__loader{position:fixed;top:50%;left:50%;width:80px;height:80px;margin:-40px 0 0 -40px;border-radius: 50% 50%;-webkit-box-shadow: 0 0 30px rgba(0,0,0,0.25);box-shadow: 0 0 30px rgba(0,0,0,0.25);overflow:hidden;z-index: 100000;text-align:left}
.comm__loader .loader_inner{text-indent:-9999em;width:80px;height:80px;background:url(http://img.enuri.info/images/home/enuri_loader.gif) no-repeat; background-size:80px 80px;}