* {-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0);margin:0;padding:0}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Helvetica','AppleGothic','Droid sans','Sans-serif','Dotum','Verdana','Helvetica',sans-serif}
h1,h2,h3,h4,h5 {font-size:100%}
a:link,a:hover,a:active,a:visited,a:focus {color:#4c5363;text-decoration:none;outline:none;-webkit-tap-highlight-color:transparent}
ul,ol,li {list-style:none}
table {width:100%;border-collapse:collapse; word-break: break-all}
colgroup {background:none}
input,select,textarea,label,button {vertical-align:middle;font-size:14px; font-family: inherit }
button{border: 0 none; background-color: transparent; cursor: pointer}
fieldset,img {border:0}
img {vertical-align:top}
td img {vertical-align:middle}
legend,caption {visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px}
address,em {font-style:normal}
hr {display:none}
.hide {visibility:hidden;position:absolute;font-size:0;line-height:0}
input,textarea{-webkit-appearance: none;-webkit-border-radius:0}
input,textarea,button{outline-style:none}
select,input[type="text"],input[type="password"],input[type="number"],input[type="radio"],input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0}
button{outline:none;background-color:transparent;color:inherit;letter-spacing:inherit;font-size:inherit}
button::-moz-focus-inner {border:0;padding:0; }

#header{position:fixed;top:0;left:0;right:0;height:88px;-webkit-box-shadow:0px 2px 0 rgba(0,0,0,.1);box-shadow:0px 2px 0 rgba(0,0,0,.1);background-color:rgba(255,255,255,1)}
#header h1{font-size:24px;color:#000;height:40px;line-height:38px;padding:24px 40px;letter-spacing:-2px;}
#header h1 .btn_enuri{float:left;margin:4px 4px 0 0;width:34px;height:34px;background:url(/images/img.png) no-repeat -100px 0;background-size:300px;text-indent:-9999em}
#header .btn_close{position: absolute;top: 50%;right: 40px;margin-top:-18px;width: 36px;height: 36px;background: url(/images/img.png) no-repeat 0;background-size: 300px;background-position: -180px 0px;text-indent: -9999em;}

#map{position:fixed!important;top:88px;bottom:0;left:0;right:0;height:calc(100% - 88px)!important;background:#ddd}

/* 검색창 */
.search { position:absolute;z-index:1000;top:30px;left:119px;right:20px;height:64px;background:rgba(255,255,255,.95);border-radius:32px;-webkit-box-shadow:2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 0 rgba(0,0,0,.1)}
.search #address { position: absolute;height:26px;line-height:26px;font-size:20px;top:19px;left:44px;right:100px;border:0;outline:none;letter-spacing:-1px;width:calc(100% - 144px);background:transparent}
.search .btn_search{position:absolute;height:64px;width:64px;right:10px;top:0;text-indent:-9999em;}
.search .btn_search:after{content:"";width:26px;height:26px;background:url(/images/img.png) no-repeat 0 0;background-size:300px;position: absolute;top:19px;left:19px}
.search #submit {z-index:1;position:relative;display:block;height:64px;width:64px;background:none;border:0;outline:none;text-indent:-9999em;cursor: pointer;}

/* 범례 */
.summary{position: absolute;top:154px;right:40px;border-radius:4px;padding:18px;width:120px;background:rgba(255,255,255,.95);-webkit-box-shadow:2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 0 rgba(0,0,0,.1);z-index:10}
.summary .btn_summary_close{position: absolute;top:20px;right:20px;width:12px;height:12px;background:url(/images/img.png) no-repeat 0 0;background-size:300px;background-position:-40px 0px;text-indent:-9999em}
.summary .summary_head{height:18px;line-height:18px;font-size:14px;font-weight:bold;color:#222;letter-spacing:-.5px;}
.summary ul{margin-top:7px}
.summary ul li{height:12px;overflow:hidden;line-height:12px;font-size:12px;padding:6px 0;color:#555;letter-spacing:-.5px}
.summary ul li i.ico_color{float:left;width:12px;height:12px;border-radius: 2px;margin-right:4px}
.color_01{background-color:#5bd776}
.color_02{background-color:#ffae27}
.color_03{background-color:#f6665b}
.color_04{background-color:#aaaaaa}

/* 마스크 정보 */
.mask_info{position:absolute;bottom:0;left:20px;right:20px;border:1px solid #cdcbca;border-bottom:0;border-radius:10px 10px 0 0;background:rgba(255,255,255,.9);padding:24px 40px;z-index:1000;letter-spacing:-.5px}
.info-pharmacy{line-height:24px;font-size:22px;font-weight:bold;letter-spacing:-2px;margin-bottom:10px}
.info-pharmacy .address{font-weight:normal;font-size:12px;color:#aaa;display:block;letter-spacing:-1px}
.info-reserve{height:30px;line-height:30px;font-size:24px;letter-spacing:-2px}
.info-reserve .txt_amount{display:inline-block;margin-left:10px;font-size:16px;color:#555555;letter-spacing:-1px}
.info-reserve .txt_amount em{font-size:24px;font-weight:bold;letter-spacing:-1px}
.type_01 em{color:#5bd776}
.type_02 em{color:#ffae27}
.type_03 em{color:#f6665b}
.type_04 em{color:#aaaaaa}
.info-update{height:28px;line-height:28px;font-size:16px}
.info-update .txt_time{display:inline-block;color:#666666;margin-left:8px}

.btn_buy_online.pc--only{position:absolute;top:50%;margin-top:-27px;right:60px;padding:0 50px;height:52px;border:2px solid #1780c4;border-radius:27px 27px;line-height:50px;text-align:center;font-size:18px;color:#0073be;letter-spacing:-1px;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease;background-color:#fff;letter-spacing:-2px;font-weight:bold}
.btn_buy_online.pc--only:hover{color:#fff;background-color:#1780c4;-webkit-box-shadow:0 0 5px rgba(0,0,0,.2);box-shadow:0 0 5px rgba(0,0,0,.2)}
.btn_buy_online.mobile--only{position: absolute;bottom:-100%;left:-100%;height:60px;width:100%;line-height:60px;font-size:16px;color:#fff;background-color:#0b79c1;text-align:center;letter-spacing:-1px}

/* 유의사항 레이어 */
.layer_wrap{position:fixed;top:0;left:0;right:0;bottom:0;background:rgba(0,0,0,.7);z-index:1000}
.noti_layer{width:320px;padding:20px 25px 40px;position: absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:rgba(255,255,255,1);line-height:20px;letter-spacing:-1px;text-align:center;border-radius:4px;}
.noti_layer .noti_head{height:32px;padding-top:24px;border-bottom:3px solid #222;color:#222;font-size:24px;font-weight:bold;line-height:32px;display:inline-block;letter-spacing:-2px;margin-bottom:27px}
.noti_layer .noti_cnt{text-align:left;font-size:14px;letter-spacing:-1.2px}
.noti_layer .noti_cnt .txt_caution{display:block;color:#f44336}
.noti_layer .noti_cnt .noti_summary .txt_summary{height:50px;line-height:50px;}
.noti_layer .noti_cnt .noti_summary ul{border-top:1px solid #d6d6d6;border-bottom:1px solid #d6d6d6;padding:15px 0;letter-spacing:-.5px}
.noti_layer .noti_cnt .noti_summary ul li{position:relative;height:24px;line-height:24px;padding-left:14px}
.noti_layer .noti_cnt .noti_summary ul li:before{content:"";position: absolute;top:11px;left:5px;width:3px;height:3px;border-radius: 50% 50%;background-color:#999999;}
.noti_layer .noti_cnt .txt_caution2{display:block;padding:16px 0 20px;color:#555555}
.noti_layer .btn_noti_close{border:0;outline:none;width:120px;height:44px;border-radius:4px;background-color:#0174be;text-align:center;font-size:16px;color:#fff}
.noti_layer .btn_noti_close_top{position:absolute;top:20px;right:20px;width:28px;height:28px;background:url(/images/img.png) no-repeat  0;background-size:300px;background-position:-140px 0px;text-indent:-9999em}

/* 현재위치 */
.btn_mylct{z-index:1001;overflow:hidden;display:inline-block;position:absolute;top:30px;left:40px;width:64px;height:64px;background:#fff;-webkit-box-shadow:2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 0 rgba(0,0,0,.1);border-radius:50%;text-align:center}
.spr_trff{overflow:hidden;display:inline-block;color:transparent!important;vertical-align:top;background:url(/images/img.png) 0 0;background-size:300px;}
.spr_ico_mylct{width:30px;height:30px;margin:16px 0 0 0;background-position:-60px 0px}

/* 내 위치 */
div[title="내위치"]{-webkit-animation: bounce ease-in-out 2s infinite alternate;animation: bounce ease-in-out 2s infinite alternate;}
@-webkit-keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
    50%,70% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}    
}
@keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
    50%,70% {-webkit-transform: translateY(-5px);transform: translateY(-5px);}    
} 

/* SNS공유하기 */
.com__layer{background-color:#fff;position:absolute;top:50%;left:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);letter-spacing:-1px}
.com__layer .lay_head{height:37px;text-align:center;line-height:37px;font-size:16px;color:#333;border-bottom:1px solid rgba(0,0,0,.01)}
.com__layer .lay_close{background-image:url(/images/img.png);background-repeat:no-repeat;background-size:150px;width:20px;height:20px;background-position:-70px -20px;position:absolute;top:8px;right:10px;text-indent:-9999em}
.com__layer .lay_inner{background-color:#f6f6f6;text-align:center}
.com__btn_share{width:36px;height:36px;background:url(/images/img.png) no-repeat -220px 0;background-size:300px;position:absolute;top:50%;margin-top:-18px;right:116px;text-indent:-9999em;z-index:20}
.com__share_wrap{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7)}
.share_layer{width:270px;margin-left:-135px}
.share_layer .lay_inner{padding:15px 20px 25px}
.share_layer .lay_inner ul{margin-top:-5px;display:inline-block;overflow:hidden;width:auto;max-width:204px}
.share_layer .lay_inner ul li{float:left;width:60px;height:60px;text-indent:-9999em;margin:5px 4px 0;cursor: pointer;}
.share_layer .lay_inner ul li.share_fb{background:url(/images/ico_share_fb.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner ul li.share_kakao{background:url(/images/ico_share_kakao.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner ul li.share_tw{background:url(/images/ico_share_tw.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner .btn_wrap{margin-top:20px;height:25px;overflow:hidden;width:230px}
.share_layer .lay_inner .btn_wrap .btn_group{width:460px;height:25px;-webkit-transition:.3s transform ease-in-out;-o-transition:.3s transform ease-in-out;transition:.3s transform ease-in-out}
.share_layer .lay_inner .btn_item{height:25px;overflow:hidden;position:relative;float:left;width:230px}
.share_layer .lay_inner .btn_wrap.mail_on .btn_group{-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.btn_item .txt__share_url,
.btn_item .txt__share_mail,
.btn_item .btn__share_copy{border:1px solid #ccc;background-color:#fff;font-size:12px;color:#333;border-radius:2px 2px;line-height:25px}
.btn_item .btn__share_mail{border:1px solid #222222;background-color:#222222;font-size:12px;color:#fff;border-radius:2px 2px;line-height:25px}
.share_layer .lay_inner .btn_item .txt__share_url{display:block;padding:0 10px;margin-right:53px;height:23px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;letter-spacing:0}
.share_layer .lay_inner .btn_item .txt__share_mail{display:block;padding:0 10px;height:23px;overflow:hidden;width:147px;-webkit-appearance:none;-webkit-border-radius:0}
.share_layer .lay_inner .btn_item .btn__share_copy,
.share_layer .lay_inner .btn_item .btn__share_mail{position:absolute;top:0;right:0;text-align:center;width:58px;height:25px}
.share_layer .lay_inner .btn_item .btn__share_copy{width:48px}

@media (max-width:768px){
    #header{height:56px;}
    #header h1{font-size:20px;height:30px;line-height:30px;padding: 13px 41px 13px 16px;letter-spacing:-1.5px;}
    #header h1 .btn_enuri{margin:4px 4px 0 0;width:21px;height:21px;background:url(/images/img.png) no-repeat -50px -20px;background-size:150px;text-indent:-9999em}

    #map{top:56px;bottom:60px;height:calc(100% - 116px)!important}

    /* 검색창 */
    .search { top:10px;left:65px;right:10px;height:44px;border-radius:22px;}
    .search #address {font-size:14px;top:9px;left:20px;right:50px;letter-spacing:-1px;width:calc(100% - 70px)}
    .search .btn_search{height:44px;width:44px;right:5px;}
    .search .btn_search:after{width:26px;height:26px;background:url(/images/img.png) no-repeat 0 -20px;background-size:150px;top:14px;left:14px}
    .search #submit {height:44px;width:44px;}

    /* 현재위치 */
    .btn_mylct{top:10px;left:10px;width:44px;height:44px;}
    .spr_trff{background-size:150px;}
    .spr_ico_mylct{width:19px;height:19px;margin:12.5px 0 0 0;background-position:-30px -20px}

    /* 범례 */
    .summary{top:74px;right:10px;}

    /* 마스크 정보 */
    .mask_info{left:10px;right:10px;bottom:10px;padding:16px 20px;border:0;border-radius:10px;-webkit-box-shadow:2px 2px 0 rgba(0,0,0,.1);box-shadow:2px 2px 0 rgba(0,0,0,.1);}
    .info-pharmacy{line-height:18px;font-size:16px;font-weight:bold;letter-spacing:-1px;margin-bottom:5px}
    .info-reserve{font-size:18px;letter-spacing:-2px}
    .info-reserve .txt_amount{margin-left:6px;font-size:12px;}
    .info-reserve .txt_amount em{font-size:18px;}
    .info-update{height:22px;line-height:22px;font-size:12px}
    .info-update .txt_time{margin-left:4px}

    .btn_buy_online.pc--only{display:none}
    .btn_buy_online.mobile--only{z-index:10;position:fixed;bottom:0;left:0;right:0;}   

    /* 레이어 */
    .noti_layer{width:270px;}

    #header .btn_close{right:10px;margin-top:-11px;width:22px;height:22px;background-size: 220px;background-position: -102px 0px;}
    #header .com__btn_share{width:24px;height:24px;background-position:-110px -20px;background-size:150px;right:60px;margin-top:-13px}
}
