@charset "euc-kr";
.ico_cellphone{display: inline-block; width:8px; height:12px; vertical-align: -1px; line-height:999px; *line-height:0; *font-size:0; overflow:hidden; cursor:pointer; background:url(http://img.enuri.info/images/main/2015/common/ico_cellphone.gif) 0 0 no-repeat  }
.ico_cellphone:hover{background:url(http://img.enuri.info/images/main/2015/common/ico_cellphone.gif) 0 bottom no-repeat  }


/*레이어 기본 타입*/
.mobile_only{background:#fff;border:1px solid #575c67; box-shadow: 0px 1px 2px 0px #000; z-index:51;position:relative; letter-spacing:-0.5px; width:376px; position:absolute; left:0; top:0;}
.mobile_only *{margin:0; padding:0;}
.mobile_only h4{background:#575c67; color:#ffffff; font-size:12px; height:25px; padding:5px 0 0 0; text-indent:10px}
.mobile_only .close{width:14px; height:14px; position:absolute; right:7px; top:7px; background: url(http://img.enuri.info/images/home/ico_stick.png) -117px -208px no-repeat; text-indent:-9999em;}
.mobile_only .boxly{background:#ffffff; padding:10px 15px; color:#343434;}
.mobile_only .boxly:after{content: ""; display: block; clear: both; }
.mobile_only .boxly .qrcode{float:left; width:98px; }
.mobile_only .boxly .qrcode img{border:1px solid #e2e2e2; width:84px; height:84px;}
.mobile_only .boxly .m_txt{float:left; width:245px; }
.mobile_only .boxly .m_txt p{font-size:13px; line-height:17px; }
.mobile_only .boxly .m_txt ul{padding-top:13px;}
.mobile_only .boxly .m_txt li{display:inline-block; border:1px solid #e2e2e2; font-size:12px; cursor:pointer; padding:0 8px; height:20px; margin-right:4px; vertical-align:bottom;}
.mobile_only .boxly .m_txt li label{vertical-align:0}
.mobile_only .boxly .m_txt li input{vertical-align:text-bottom; margin-right:2px;}
.mobile_only .boxly .m_txt li.app{border:1px solid #0073be; background:#2e91fc; color:#ffffff;}
.mobile_only .boxly .m_txt li a, .mobile_only .boxly .m_txt li a:hover{color:#666666 !important;}

.mobile_only .boxly .zzim_price{color:#0073be; }
.mobile_only .boxly .zzim_price b{font-size:24px; vertical-align:-2px; letter-spacing:-1px; margin:0 2px}
.mobile_only .boxly .zzimlist{position:absolute; right:10px; bottom:5px; padding-right:8px; background: url(http://img.enuri.info/images/home/bullet.gif) right -346px no-repeat; display:block;}

/*sms*/
.mobile_only .boxly_b{background:#f2f2f2; padding:10px 15px 15px; color:#787878; font-size:11px;}
.mobile_only .boxly_b .mms{border:1px solid #e2e2e2; background:#ffffff;  width:212px;height:22px; padding:0 10px; vertical-align:bottom; display:inline-block; margin:0; }
.mobile_only .boxly_b .mms input{color:#787878; font-size:11px; width:205px; background:transparent; border:none; margin-top:3px; height:14px;}
.mobile_only .boxly_b .btn_send{background:#ffffff; color:#343434; padding:2px 36px 0; height:20px; border:1px solid #e2e2e2; display:inline-block; vertical-align:bottom; margin-left:3px; cursor:pointer; }
.mobile_only .boxly_b p{line-height:14px; margin-top:3px;}
.mobile_only .none{display:none}
.mobile_only.smsmore .none{display:block;}
.mobile_only .boxly_b h5.tit{font-size:13px; font-weight:bold; color:#343434; padding-bottom:4px;}