@charset "euc-kr";

#detailbody {margin:5px 0px 0px 5px;padding:0px;background:#fcfcfc url(http://img.enuri.info/2012/list/loading/bg_pattern.gif) repeat fixed;}
#td_leftforbigimg {position:relative;width:0px;height:100%;margin:0px;padding:0px;}
#div_leftforbigimg {width:0px;height:0px;margin:0px;padding:0px;overflow:hidden;}
#tableDetailLeft {position:relative;display:block;margin:0px;padding:0px;}
#tableDetailLeftSwitchBg {display:none;}
#divBigImgBtns {position:absolute;display:none;width:248px;top:0px;margin-right:10px;text-align:right;z-index:100;}
#divBigImgBtns img {cursor:pointer;}
#div_modelno_bigimg {position:absolute;top:0px;left:670px;z-index:2;display:none;}
#div_modelno_bigimg .strmodelnotxt {font-family:돋움;font-size:11px;color:#00788A;margin:5px 0px 0px 1px;}
#div_modelno_bigimg .strmodelno {font-family:Arial;color:#00788A;font-size:11pt;font-weight:bold;margin:-2px 0px 0px 0px;}
#btnCloseDetail {position:absolute;display:none;top:5px;left:755px;cursor:pointer;z-index:2;}
#btnOpenDetail {position:absolute;display:none;top:60px;margin-left:-26px;cursor:pointer;z-index:100;}
#boxTopRoundDiv_back {position:absolute;display:none;top:5px;margin-left:-3px;cursor:pointer;z-index:101;}
#bigImgSingoDiv_back {position:absolute;display:none;top:140px;margin-left:-16px;cursor:pointer;z-index:101;}
#img_detailcorner_1 {display:block;}
#img_detailcorner_2 {display:block;}
ul, li {overflow:hidden;}
h6 {margin:0px 0px 0px 3px;padding:0px;}
#bt_manual {border:0;}
#sp_speed {display:block;margin:10px 0px 5px 0px;padding:0px;text-align:right;cursor:pointer;}
#menu_detail_2 {position:absolute;top:63px;left:17px;z-index:99;display:none;}
#4th_noticedetailImg {border:0;}
#noticepopup2 {position:absolute;top:135px;left:46px;z-index:99;display:none;}
#noticepopup2 img {border:0;}
#noticepopup3 {position:absolute;top:167px;left:-96px;z-index:99;display:none;}
#noticepopup3 img {border:0;}
#priceNotiBtn {position:absolute;margin:-15px 0 0 15px;cursor:pointer;}
#priceNoti {display:none;position:absolute;z-index:9999;}
#helppopup1 {position:absolute;top:65px;left:100px;z-index:99;display:none;}
#helppopup1 img {border:0;}
#helppopup2 {position:absolute;top:63px;left:147px;z-index:99;display:none;}
#helppopup2 img {border:0;cursor:pointer;}
#popularListDiv {display:none;position:absolute;top:63px;left:250px;z-index:99;}
#orderListDiv {position:absolute;top:100px;left:40px;width:420;height:649;z-index:99;}
#goodsinfoPointGuide {display:none;position:absolute;left:296;top:136;z-index:10;}
#AuthLayer {position:absolute;width:270px;z-index:100;margin:5 0 0 5;padding:0;text-align:left;color:black;font-size:11px;background-color:#F6F8E0;display:none;}
#AuthLayer h1 {width:270;height:4px;margin:0;padding:0;overflow:hidden;}
#AuthLayer h2 {width:269;height:1px;margin:0;padding:0;overflow:hidden;}
#AuthLayer ul {width:270;margin:0;padding:0;text-align:left;overflow:hidden;background-color:#F6F8E0;background:url(http://img.enuri.info/images/view/detail/layer_box_bottom_bg_081001.gif) repeat-y;}
#AuthLayer ul li {width:270;margin:0;padding:0;overflow:hidden;}
#AuthLayer .AuthLayerModel0 {width:269px;margin:0;padding:0;background-color:#D9D9D9;display:block;background:url(http://img.enuri.info/images/view/detail/layer_box_top_bg_081001.gif) repeat-y;}
#AuthLayer .AuthLayerModel0 .modelname {
	width:230;
	margin:0 0 3 5;
	padding:0;
	word-break:break-all;
	color:#000000;
	font-family:"돋움";
	font-weight:bold;
	font-size:13px;
	float:left;
	/*filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=1, OffY=1, Color='#E3E3E3', Positive='true');*/
}
#AuthLayer .AuthLayerModel0 .combodown {width:22px;margin:1px 0px 0px 0px;padding:0px;float:right;}
#AuthLayer .AuthLayerModel0 .combodown img {margin:0px;padding:0px;cursor:pointer;}
#AuthLayer .AuthLayerTxt {width:268px;margin:0px;padding:0px;display:block;}
#AuthLayer .AuthLayerTxt p {float:left;margin:6px 0px 0px 8px;}
#AuthLayer .AuthLayerTxt span img {width:30px;float:right;margin:3px 3px 0px 0px;padding:0px;cursor:pointer;}
#AuthLayer .AuthLayerModels {width:266px;margin:0px 0px 0px 1px;cursor:pointer;background-color:#F6F8E0;color:#000000;}
#AuthLayer .AuthLayerModels_on {width:266px;margin:0px 0px 0px 1px;cursor:pointer;background-color:#000000;color:#FFFFFF;}
#AuthLayer .AuthLayerModels p {margin:4px 0px 4px 8px;}
#AuthLayer .AuthLayerModels_on p {margin:4px 0px 4px 8px;}
#AuthLayer .AuthLayerModels_price {color:blue;}
#AuthLayer .AuthLayerModels_price_on {color:#FFFFFF;}
#AuthLayer .AuthLayerModelBottom span img {float:right;margin:0px 10px 3px 0px;cursor:pointer;}
#LinkLayer {position:absolute;top:75px;left:179px;z-index:99;display:none;font-family:굴림;font-size:12px;color:#000000;line-height:16px;}
#LinkLayer .text01 {font-family:돋움;font-size:11px;line-height:15px;color:#000000;text-decoration:none;}
#LinkLayer .text02 {font-family:돋움;font-size:11px;line-height:18px;color:#000000;text-decoration:underline}
#LinkLayer .style1 {font-family:돋움;font-size:11px;line-height:15px;color:#9C0000;text-decoration:none;}
#LinkLayer .style2 {color:#0A44A2;font-weight:bold;}
#mailSendLayer {position:absolute;left:179px;top:109px;width:282px;display:none;z-index:99;}

.detailleft {width:279px;margin:0px;padding:0px;text-align:left;overflow-x:hidden;overflow-y:visible;}
.detailleft h1 {width:279px;height:10px;text-align:left;margin:0px;padding:0px;}
.detailleft .detaillefttop {width:279px;background-color:#D9D9D9;}
.detailleft .modelinfo {width:279px;margin:0px;padding:0px;}
.detailleft .modelinfo .modelname_short {letter-spacing:0px;width:237px;margin:0px 2px 0px 5px;padding:0px;word-break:break-all;color:#000000;font-family:"맑은 고딕";font-size:12px;font-weight:bold;}
.detailleft .modelinfo .modelname_long {letter-spacing:0px;width:264px;margin:0px 2px 0px 5px;padding:0px;word-break:break-all;color:#000000;font-family:"맑은 고딕";font-size:12px;font-weight:bold;}
.detailleft .modelinfo .combodown {width:27px;margin:0px 5px 0px 0px;padding:0px;float:right;}
.detailleft .modelinfo .combodown img {margin:0px 0px 0px 5px;padding:0px;cursor:pointer;}
/*제조사브랜드 변경시 삭제.detailleft .factoryname_link {text-decoration:underline;font-size:11px;font-family:wooriSaebom;color:#00789f;font-weight:normal;}*/
.detailleft .factoryname {font-size:11px;font-family:wooriSaebom;color:#00789f;font-weight:normal;}
.detailleft .modelphoto {width:110px;height:120px;overflow:hidden;margin:0px;padding:1px 0px 0px 3px;background:url(http://img.enuri.info/images/view/detail/detail_photo_bg_120626.gif) no-repeat;}
.detailleft .modelphoto img {width:100px;height:100px;}
.detailleft .btn_goodsinfo {margin:0 0 0 8px;padding:0;}
.detailleft .btn_goodsinfo li {float:left;height:18px;margin:0;padding:0;font-size:11px;font-family:'맑은 고딕';list-style:none;}
.detailleft .btn_goodsinfo li span {cursor:pointer;}
.ico_siren {padding-left:11px; background:url(http://img.enuri.gscdn.com/images/main/2015/common/ico_siren.png) 0 2px no-repeat; }
.detailleft .btn_goodsinfo .btn_goodsinfo_1 {width:33px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_2 {width:26px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_3 {width:32px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_4 {width:45px;text-align:right;margin-left:30px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_5 {width:30px;clear:both;}
.detailleft .btn_goodsinfo .btn_goodsinfo_6 {width:29px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_7 {width:32px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_8 {width:45px;text-align:right;margin-left:28px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_8 img {cursor:pointer;}
.detailleft .btn_goodsinfo .btn_goodsinfo_9 {clear:both;width:49px; height:19px; margin-top:5px; overflow:visible;}
.detailleft .btn_goodsinfo .btn_goodsinfo_9 img {cursor:pointer;}
.detailleft .btn_goodsinfo .btn_goodsinfo_10 {width:80px; margin-top:6px;}
.detailleft .btn_goodsinfo .btn_goodsinfo_10 img {cursor:pointer;}

/* 20150518 모바일 강화 */
.detailleft .share_box {display:none; position:absolute; width:102px; height:152px; margin-left:2px; text-indent:-9999em; z-index:400; background:url(http://img.enuri.gscdn.com/images/main/2015/common/share_box.png) 0 0 no-repeat; }
.detailleft .share_box.type3 {clear:both;height:132px; background:url(http://img.enuri.gscdn.com/images/main/2015/common/share_box3.png) 0 0 no-repeat; }
.detailleft .share_box .list {position:absolute; top:30px; left:1px; width:98px; margin:0; padding:0; }
.detailleft .share_box .list li a {display:block; height:23px;}
.detailleft .share_box .close {position:absolute; top:5px; right:7px; width:12px; height:11px; padding:5px; text-indent:-9999em; z-index:450; }

.detailleft .enuriapp_box {clear:both;display:none; position:absolute; width:342px; height:152px; margin-left: 57px;  text-indent:-9999em; z-index:400; background:url(http://img.enuri.gscdn.com/images/main/2015/common/enuriapp_box.png) 0 0 no-repeat; }
.detailleft .enuriapp_box .phone_trans {display:none;}
.detailleft .enuriapp_box .qrcode {position:absolute; top:45px;left:23px; width:84px; height:84px;text-indent:0; border:1px solid #e2e2e2;}
.detailleft .enuriapp_box .qrcode img {width:100%; height:100%;}
.detailleft .enuriapp_box .inner p {margin:0; padding:0;}
.detailleft .enuriapp_box .inner a {position:absolute; top:96px;height:23px;}
.detailleft .enuriapp_box .inner a.btn_phone {left:120px; width:82px; }
.detailleft .enuriapp_box .inner a.btn_install {left:212px; width:90px; }
.detailleft .enuriapp_box .close {position:absolute; top:5px; right:7px; width:12px; height:11px; padding:5px; text-indent:-9999em; z-index:450; }

.detailleft .enuriapp_box.spread {height:232px;  background:url(http://img.enuri.gscdn.com/images/main/2015/common/enuriapp_box2.png) 0 0 no-repeat; }
.detailleft .enuriapp_box.spread .phone_trans {display:block;}
.detailleft .enuriapp_box.spread .phone_trans input {position:absolute; bottom:50px; left:22px;width:168px; height:22px; padding-left:10px; line-height:22px; font-family:Malgun Gothic;  font-size:11px; color:#787878; letter-spacing:-0.05em; border:0; background:0;}
.detailleft .enuriapp_box.spread .phone_trans .btn_trans {position:absolute; bottom:50px; right:40px; width:90px; height:24px; }
/* 20150518 모바일 강화 */

.detailleft .modelbrand {width:106px;height:34px;margin:8px 0px 0px 20px;padding:0px;background:url(http://img.enuri.info/images/view/detail/sp_brand_shadow.gif) no-repeat left top;text-align:center;}
.detailleft .detailbtns {width:85px;margin:0px;padding:0px;overflow:hidden;}
.detailleft .detailbtns li {width:85px;height:17px;margin:0px;padding:0px;display:block;overflow:hidden;}
.detailleft .detailbtns li img {cursor:pointer;}
.detailleft .detailbtns li span img {margin:0px 0px 0px -1px;cursor:pointer;}
.detailleft .detailbtns li .btn_reference {width:81px;height:17px;margin:0px;padding:0px 0px 0px 43px;background:url(http://img.enuri.info/images/view/blue/button/bt_reference_off_0725.gif) no-repeat left top;cursor:pointer;overflow:hidden;}
.detailleft .detailbtns li .btn_reference p {width:15px;height:11px;margin:4px 0px 0px 0px;padding:0px;color:red;font-family:돋움체;font-size:11px;letter-spacing:-1;line-height:12px;text-align:center;overflow:hidden;border:0px solid red;}
.detailleft .btn_goodslist {width:262px;margin:10px 0px 5px 0px;padding:0px;text-align:right;color:#0000FF;font-family:굴림;font-size:11px;}
.detailleft .btn_goodslist span {cursor:pointer;}
.detailleft .btn_goodslist span img {margin:0px 2px -3px 0px;padding:0px;cursor:pointer;}
.detailleft .btn_goodsrelate {width:262px;margin:6px 0px 7px 10px;padding:0px;}
.detailleft .btn_goodsrelate span {color:#4E38B9;}
.detailleft .btn_goodsrelate span img {margin:0px 2px -2px 0px;padding:0px;cursor:default;}
.detailleft .btn_goodsrelate img {margin:0px 2px -3px 3px;padding:0px;cursor:pointer;}
.detailleft .btn_singo_spec {width:262px;text-align:center;margin:0px;padding:0px;}
.detailleft .modelspec {width:250px;margin:0px 0px 0px 15px;padding:0px;overflow:hidden;}
.detailleft .modelspec h2 {margin:1px 0px 3px 0px;padding:0px;}
.detailleft .modelspec p {width:246px;margin:0px 0px 0px 4px;padding:0px;color:#000000;line-height:16px;word-break:break-all;}
.detailleft .modelfunc {width:274px;margin:0px 0px 0px 3px;padding:0px;overflow:hidden;}
.detailleft .modelfunc h4 {width:274px;margin:0px;padding:0px;}
.detailleft .modelfunc h5 {margin:0px;padding:0px;}
.detailleft .modelfunc h5 img {margin:5px 0px 5px 7px;}
.detailleft .modelfunc pre {width:264px;margin:0px 0px 0px 6px;padding:0px;color:#000000;line-height:17px;word-break:break-all;}
.detailleft .modelfunc p {width:264px;margin:0px 0px 0px 6px;padding:0px;color:#000000;line-height:17px;}
.detailleft .modelfunc .caution {margin:0px 0px 0px 6px;padding:0px;}
.detailleft .modelfunc .caution h1 {width:261px;height:6px;margin:0px;padding:0px;}
.detailleft .modelfunc .caution table {margin:0px;padding:0px;}
.detailleft .modelfunc .adlink {margin:0px 0px 0px 6px;padding:0px;line-height:16px;}

.detailright {width:501px;margin:0px;padding:0px;text-align:left;position:relative;}
.detailright h2 {width:495px;height:5px;margin:0px;padding:0px;}
.detailright .detailrighttop {margin:0px;padding:0px;}
.detailright .detailrighttop h1 {width:501px;height:10px;text-align:right;margin:0px;padding:0px;background-color:#D9D9D9;}
.detailright .detailrighttop .detailtabs {width:495px;background-color:#D9D9D9;}
.detailright .detailrighttop .detailtabs img {cursor:pointer;}
.detailright .detailrighttop .detailtabs .detailbbscnt3 {width:25px;height:18px;position:absolute;text-align:center;cursor:pointer;font-family:Arial;font-size:7pt;padding:4px 0px 0px 0px;}
.detailright .detailrighttop .detailtabs .detailbbscnt4 {width:25px;height:14px;font-family:Arial;font-size:7pt;position:absolute;text-align:center;cursor:pointer;}
.detailright .detailrighttop .detailtabs .detailtab2 {width:60px;height:14px;top:18px;left:90px;font-family:돋움;font-size:12px;position:absolute;display:none;text-align:center;cursor:pointer;}
.detailright .detailrighttop .div_heightbg_4 {width:495px;height:4px;background-color:#D9D9D9;overflow:hidden;}
.detailright .detailrighttop .detailcompareinfo {width:495px;height:152px;background:url(http://img.enuri.info/images/view/detail/sp_tab_bg_130905.gif) no-repeat left bottom;overflow:hidden;}
.detailright .detailrighttop .detailcompareinfo div {width:470px;margin:0px 0px 5px 15px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left {float:left;width:275px;margin:0px;padding:0px;overflow:hidden;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_minprice {width:275px;margin:0px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_minprice img {margin:0px 10px -1px 0px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_minprice .detailcompare_pricetrend img {margin:0px 0px -1px 0px;padding:0px;cursor:pointer;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_minprice p {margin:0px;padding:0px;font-family:Arial,Helvetica,sans-serif;font-size:21px;color:#0000FF;font-weight:bold;letter-spacing:-1px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_orderlist {margin:0px;padding:0px;display:inline;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_orderlist p {width:162px;height:18px;margin:4px 0px 0px 31px;padding:2px 0px 0px 0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_orderlist div {width:162px;height:18px;margin:4px 0px 0px 19px;padding:2px 0px 0px 0px;cursor:pointer;overflow:hidden;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_left .detailcompare_orderlist div p {margin:0px 0px 0px 12px;padding:0;color:#750000;font-weight:bold;line-height:15px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right {width:190px;margin:5px 0px 0px 0px;padding:0px;overflow:hidden;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_launch {height:22px;margin:0px 0px 0px 3px;padding:0px;background:url(http://img.enuri.info/images/view/detail/noticedetail/2th_sangpumwin_boxin_dotline_2009.gif) repeat-x left bottom;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_launch img {margin:0px 0px -2px 0px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_launch p {margin:0px 2px 0px 13px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_launchdate {color:#C70B09;font-weight:bold;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_launchhelp {cursor:pointer;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_update {margin:6px 0px 0px 3px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompareinfo_right .detailcompare_update img {margin:0px 3px -1px 0px;padding:0px;}
.detailright .detailrighttop .detailcompareinfo .detailcompare_dotfull {width:470px;height:1px;margin:-5px 0px 5px 15px;border:0;background:url(http://img.enuri.info/images/view/detail/noticedetail/2th_sangpumwin_boxin_dotline_2009.gif) repeat-x;overflow:hidden;}
.detailright .detailrighttop .detailcompareinfo .detailcompare_dotfull2 {width:470px;height:3px;margin:-5px 0px 2px 15px;border:0;background:url(http://img.enuri.info/images/view/deliverycate/sp_line_0527.gif) repeat-x;overflow:hidden;}

.detailright .detailcomparelist {width:487px;margin:0px 0px 0px 4px;padding:0px;overflow:hidden;}
.detailright .detailcomparelist h3 {width:485px;height:14px;text-align:center;margin:0px;padding:0px;overflow:hidden;}
.detailright .detailright_bbs {width:495px;margin:0;padding:0;background:url(http://img.enuri.info/images/view/detail/sp_bbox06_120626.gif) repeat-y left;overflow:hidden;}

.imageZoom img {margin:0px 0px 20px 0px;}
.singobtn {hspace:1; display:none;cursor:pointer;}
.listSingoBtn {hspace:1;display:none;cursor:pointer;position:static;margin:0px 0px 2px 0px;}
#kbAviDiv {margin:5px 0px 0px 20px;cursor:pointer;}
#kbRealDiv {margin:5px 0px 0px 5px;cursor:pointer;}
#detailBigImg {top:0px;left:0px;margin:0px;padding:0px;z-index:98;}
#detailBigImg #divGsSize {position:absolute;top:18px;left:200px;width:300px;margin:0px;padding:0px;font-size:11px;font-family:돋움;}
#detailBigImg #divGsSize img {margin:0px 0px -5px 0px;}
#detailBigImg #divGsSize_left {width:300px;margin:0px 0px 0px 20px;padding:0px;font-size:11px;font-family:돋움;}
#detailBigImg #divGsSize_left img {margin:0px 0px -5px 0px;}
#detailBigImg #div_imgViewBigImg {margin:0px 40px 0px 10px;}
#detailBigImg .div_addVideo {margin:0px auto;width:100%;text-align:center;font-family:'맑은 고딕';font-size:13px;font-weight:bold;}
#detailBigImg .addVideo_title {margin:0 0 0 0;}
#detailBigImg .addVideo {margin:8px 20px 8px 20px;}
#detailBigImg .addVideo_tail {margin:0 0 50px 0;}
#detailBigImg .div_addEcatal {list-style:none;margin:20px 0 0 10px;padding:0;height:30px;font-family:'맑은 고딕';font-size:13px;text-align:left;}
#detailBigImg .div_addEcatal li {float:left;}
#detailBigImg .div_addEcatal li.option_ecatal {width:90px;}
#detailBigImg .addEcatal_tail {margin:8px 0 50px 0;text-align:center;font-family:'맑은 고딕';font-size:13px;}
#detailBigImg .addEcatal_tail span {font-weight:bold;}
#detailBigImg .addEcatal_tail a {font-weight:bold;}

.table_style01 {margin:8px 0px 0px 0px;padding:0px;}
.cursor_pointer {cursor:pointer;}
.div_relative {position:relative;}
.div_width_15 {width:15px;overflow:hidden;}
.div_width_30 {width:30px;overflow:hidden;}
.div_width_35 {width:35px;overflow:hidden;}
.div_height_1 {height:1px;overflow:hidden;}
.div_height_2 {height:2px;overflow:hidden;}
.div_height_4 {height:4px;overflow:hidden;}
.div_height_5 {height:5px;overflow:hidden;}
.div_height_7 {height:7px;overflow:hidden;}
.div_height_8 {height:8px;overflow:hidden;}
.div_height_10 {height:10px;overflow:hidden;}
.div_height_15 {height:15px;overflow:hidden;}
.div_height_20 {height:20px;overflow:hidden;}
.div_height_24 {height:24px;overflow:hidden;}
.div_height_30 {height:30px;overflow:hidden;}
.div_height_35 {height:35px;overflow:hidden;}
.div_height_38 {height:38px;overflow:hidden;}
.div_height_40 {height:40px;overflow:hidden;}
.div_height_43 {height:43px;overflow:hidden;}

.imgButton{cursor:pointer;}

.span_sponsor_link_title {font-size:12px;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;cursor:pointer;text-decoration:underline;}
.span_enurilink_title {font-size:12px;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;color:#BA0000;cursor:pointer;text-decoration:underline;display:inline;}
.enurilink_register {margin-top:2px;color:#0000FF;text-decoration:underline;font-size:11px;}
.enurilink {margin:0px;padding:0px;list-style-image:none;list-style:none;margin:6px 0px 0px 0px;line-height:18px;}
.enurilink li {margin:0px;padding:0px;line-height:18px;}
.enurilink_title {color:#BA0000;font-size:11px;font-family:굴림;text-decoration:underline;}
.enurilink_desc {margin:0px;padding:0px;line-height:9px;text-decoration:none;font-size:11px;font-family:굴림;}
.enurilink_link {margin:0px;padding:0px;color:#757575;font-size:11px;font-family:굴림;}
.enurilink_title_bull {color:#BA0000;font-size:11px;font-family:굴림;}
.li_enurilink_link {line-height:11px;}
.li_enurilink_desc {margin:0px 0px 2px 0px;}

.span_sponsor_link_bb_title {font-size:12px;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;cursor:pointer;text-decoration:underline;}
.span_enurilink_bb_title {font-size:12px;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;color:#BA0000;cursor:pointer;text-decoration:underline;display:inline;}
.enurilink_bb_register {margin-top:2px;color:#0000FF;text-decoration:underline;font-size:11px;}
.enurilink_bb { font-size:12px;width:100%;list-style-image:none;list-style:none;margin:7 0 0 0;padding:0; }
.enurilink_bb_title { font-size:12px;color:#BA0000;font-family:굴림;text-decoration:underline; }
.enurilink_bb_title_bull { font-size:12px;color:#BA0000;font-family:굴림; }
.enurilink_bb_desc { font-size:12px;text-decoration:none;font-family:굴림;color:#000000; }
.enurilink_bb_link { font-size:12px;color:#757575;font-family:굴림;text-decoration:none; }
.li_enurilink_bb_link { font-size:12px;line-height:11px;padding-bottom:3px; }
.li_enurilink_bb_desc { font-size:12px;margin:3 5 4 0; }

/* 주문실적 레이아웃 */
.cls_txt1 {font-family:굴림;font-size:13px;font-weight:bold;color:#645F6C;}
.cls_txt2 {font-family:굴림;font-size:12px;font-weight:bold;color:#C70B09;}
.cls_modelnm {width:330;height:18;overflow:hidden;text-overflow:ellipsis;font-family:굴림;font-size:14px;font-weight:bold;color:#00788A;}

/* 왼쪽 상품평 스타일 */
.goods_info_style {padding-left:10px;padding-right:10px;padding-top:4px;line-height:150%;text-align:left;word-break:break-all;font-size:12px;font-family:wooriSinmoon;color:#000000;}
/* 요약설명 새로운 스타일 */
.goods_spec_style {font-family:돋움;padding-top:7px;padding-left:8px;padding-right:8px;padding-bottom:5px;line-height:140%;text-align:left;word-break:break-all;}
/* 이카달로그 스타일 */
.ecatalog_style {font-family:돋움;color:#00789F;font-size:11px;padding-left:2px;padding-top:10px;padding-bottom:10px;text-align:left;}

.CateListLayerTop{width:349px;height:11px;background:url(http://img.enuri.info/2010/images/view/bg_gocatelist_01.png) no-repeat;}
.CateListLayerMiddle{width:349px;height:90px;background:url(http://img.enuri.info/2010/images/view/bg_gocatelist_02.png);}
.CateListLayerBottom{width:349px;height:17px;background:url(http://img.enuri.info/2010/images/view/bg_gocatelist_03.png) no-repeat;}

/* 구매수량 선택 */
#priceListTab6Img {font-family:돋움;}
#buyCntBox {display:none;position:absolute;width:156px;height:78px;background:url(http://img.enuri.info/images/view/detail/pricelist/toptab/tab_buycnt_on.gif) no-repeat;z-index:101;font-family:돋움;}
#priceListTab6Img {position:absolute;margin:10px 0 0 -156px;width:156px;height:27px;background:url(http://img.enuri.info/images/view/detail/pricelist/toptab/tab_buycnt.gif) no-repeat;cursor:pointer;}
.buyCntSelText {float:left;margin-top:3px;width:130px;text-align:center;font-family:'맑은 고딕';font-size:11px;}
.buycnt_no_now {font-weight:bold;}
.buyCntBoxClose {float:right;width:18px;height:18px;cursor:pointer;}
#buyCntBox table {margin:0 0 0 30px;}
#buyCntBox td {font-family:'맑은 고딕';font-size:11px;}
#buyCntBox td span {cursor:pointer;}
#buyCntBox .buycnt_info {width:20px;height:11px;border-bottom:1px solid;cursor:pointer;font-size:10px;}
#buyCntInfoLayer {display:none;position:absolute;z-index:102;}

/* 이베이 광고 제휴 */
#ep_area {clear:both;width:480px;font-size:11px;overflow:hidden;margin:5px 0 0 0px;}
#ep_area div {margin:0px;width:480px;}
.ep_title {width:470px;height:16px;overflow:hidden;font-size:11px;line-height:11px;font-weight:bold;color:#575757;font-family:'돋움';background-color:#d9d9d9;}
.ep_title p {margin:3px 0 0 3px;}
.ep_goods {float:left;margin:4px 0px 0px 10px;width:230px;height:62px;overflow:hidden;}
.ep_goods .ep_goods_goodsimg {float:left;width:65px;height:62px;overflow:hidden;}
.ep_goods .ep_goods_goodsimg img {cursor:poniter;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.ep_goods .ep_goods_info {float:left;width:165px;height:62px;overflow:hidden;}
.ep_goods .ep_goods_info .ep_goods_name {overflow:hidden;width:165px;height:45px;line-height:15px;font-family:'맑은 고딕';color:#575757;word-break:break-all;cursor:pointer;}
.ep_goods .ep_goods_info .ep_goods_etc {width:165px;height:13px;overflow:hidden;}
.ep_goods .ep_goods_info .ep_goods_etc .ep_goods_shop {width:40px;overflow:hidden;}
.ep_goods .ep_goods_info .ep_goods_etc .ep_goods_price {width:125px;text-align:right;font-size:11px;overflow:hidden;}
.ep_goods .ep_goods_info .ep_goods_etc .ep_goods_price img {display:none;}
.ep_goods .ep_goods_info .ep_goods_etc .ep_goods_price .ft_goods_price {font-family:Arial;color:#0058b0;font-size:12px;font-weight:bold;line-height:12px;cursor:pointer;}

.tab_similar_info {position:absolute;top:16px;left:122px; width:16px; height:16px; /*left:136px;width:21px;height:10px;*/ z-index:9999;cursor:pointer;background:url(http://img.enuri.info/images/blank.gif);}
#SimilarLayer {position:absolute;display:none;margin-left:5px;}

/* e-카탈로그 */
#div_ecatal_mov {width:800px;margin-left:10px;text-align:center;}
#div_ecatal_mov * {margin:auto;}
#div_ecatal_img {width:835px;margin-left:10px;text-align:center;}
#div_ecatal_img * {margin:auto;}
/* 오류신고 */
#errorProposal {display:none;position:absolute;z-index:9999;width:280px;top:185px;left:3px;font-size:11px;}
#errorProposal * {font-family: "맑은 고딕";color:#000000;}
#epTop {height:50px;background:url('http://img.enuri.info/2012/toolbar2/singo_bg_01.png') left top no-repeat;}
#epTop.formall {background:url('http://img.enuri.info/2012/toolbar2/singo_bg_01_1.png') left top no-repeat;}
#epTop * {display:none;}
#errorProposal .closeBtn {position:absolute;top:10px;right:10px;width:17px;height:16px;cursor:pointer;}
#epTitle {height:24px;font-size:14px;font-weight:bold;}
#epDetail {height:24px;line-height:16px;}
#epDetail span {color:#800000;}
#epMain {width:280px;background:url('http://img.enuri.info/2012/toolbar2/singo_bg_02.png') repeat;}
#epMallChk {display:none;}
#epMallChk ul {width:240px;list-style:none;margin:0 0 0 16px;padding:0;}
#epMallChk ul li {list-style:none;float:left;width:110px;height:20px;font-size:12px;font-weight:bold;}
#epFormTitle {clear:both;margin:0 0 0 18px;padding-top:5px;font-size:12px;line-height:16px;}
#epFormSubInfo {clear:both;margin:0 0 0 18px;font-size:11px;line-height:14px;display:none;}
#epFormSubInfo div {margin-top:4px;}
#epfTitle {font-weight:bold;}
.inconv_txt {width:244px;height:100px;border:1px solid black;margin:5px 0 5px 16px;font-size:12px;ime-mode:active;}
#epfDetail {margin-left:16px;width:244px;font-size:12px;}
/* 최근 1개월 신고 건수 삭제 */
#epNums { display:none;margin: 5px 0;padding-left:10px;background:url('http://img.enuri.info/2012/toolbar2/bu_g.gif') 0 50% no-repeat;}
#epNums * {color:#5A5A5A;}
#epnNums {font-weight:bold;}
#epNumsDummy {width:244px;height:20px;margin:12px 0 0 16px;text-align:right; }
#epfSubmit {cursor:pointer;}
#epBottom {width:280px;height:15px;background:url('http://img.enuri.info/2012/toolbar2/singo_bg_03.png') left top no-repeat;}
#div_inconv * {font-family: "맑은 고딕";color:#000000;}
#div_inconv .closeBtn {position:absolute;top:10px;right:10px;width:17px;height:16px;cursor:pointer;}

/* 최근본 상품 */
.bgNowMoveModelShow {background-image:url(http://img.enuri.info/images/view/detail/moveinfo/20140113/bg_01_120626.png);}
.bgNowMoveModelShow2 {background-image:url(http://img.enuri.info/images/view/detail/moveinfo/20140113/bg_02_120626.png);}

.resentListCell { width:247px;height:51px;margin:0px 0px 0px 4px; }
.resentListCell .cellImageDiv { width:45px;height:45px;overflow:hidden;margin:2px 0px 0px 6px;float:left; }
.resentListCell .cellImageDiv img { width:43px;height:43px;margin:0px 0px 0px 0px;cursor:pointer; }
.resentListCell .cellInfoDiv { width:182px;height:45px;float:right;margin:3px 10px 0px 0px; }
.resentListCell .cellInfoDiv .factoryRow { width:180px;height:14px;overflow:hidden; }
.resentListCell .cellInfoDiv .modelnmRow { float:right;position:relative;width:170px;height:26px;overflow:hidden;margin:3px 0px 0px 0px;font-family:돋움;font-size:8pt;color:#555555; }
/*제조사브랜드 변경*/.resentListCell .cellInfoDiv .modelnmRow { margin:3px 0px 0px 0px;float:right;width:170px;height:30px;overflow:hidden;font-family:돋움;font-size:8pt;color:#555555; }*/
.resentListCell .cellInfoDiv .modelnmRow span { cursor:pointer; }
.resentListCell .cellInfoDiv .priceRow { position:absolute;width:75px;height:13px;margin:13px 0px 2px 95px;text-align:right;background-color:#fafafa;overflow:hidden;z-index:2; }
/*제조사브랜드 변경*/.resentListCell .cellInfoDiv .priceRow { width:75px;height:13px;margin:0px 0px 2px 95px;text-align:right;background-color:#fafafa;overflow:hidden;z-index:2; }*/

.resentListCell1 { width:247px;height:51px;background-image:url(http://img.enuri.info/images/view/detail/moveinfo/20140113/bg_04_on.gif);margin:0px 0px 0px 4px;background-repeat:no-repeat; }
.resentListCell1 .cellImageDiv { width:45px;height:45px;overflow:hidden;margin:2px 0px 0px 6px;float:left; }
.resentListCell1 .cellImageDiv img { width:43px;height:43px;margin:0px 0px 0px 0px;cursor:pointer; }
.resentListCell1 .cellInfoDiv { width:182px;height:45px;float:right;margin:3px 10px 0px 0px; }
.resentListCell1 .cellInfoDiv .factoryRow { width:180px;height:14px;overflow:hidden; }
.resentListCell1 .cellInfoDiv .modelnmRow { float:right;position:relative;width:170px;height:26px;overflow:hidden;margin:3px 0px 0px 0px;font-family:돋움;font-size:8pt;color:#555555; }
/*제조사브랜드 변경*/.resentListCell1 .cellInfoDiv .modelnmRow { margin:3px 0px 0px 0px;float:right;width:170px;height:30px;overflow:hidden;font-family:돋움;font-size:8pt;color:#555555; }*/
.resentListCell1 .cellInfoDiv .modelnmRow span { cursor:pointer; }
.resentListCell1 .cellInfoDiv .priceRow { position:absolute;width:75px;height:13px;margin:13px 0px 2px 95px;text-align:right;background-color:#fafafa;overflow:hidden;z-index:2; }
/*제조사브랜드 변경*/.resentListCell1 .cellInfoDiv .priceRow { width:75px;height:13px;margin:0px 0px 2px 95px;text-align:right;background-color:#fafafa;overflow:hidden;z-index:2; }*/

.resentBtnBackImg1 { width:9px;overflow:hidden;background-image:url(http://img.enuri.info/images/view/detail/moveinfo/bg_left_120626.png); }
.resentBtnBackImg2 { width:11px;overflow:hidden;background-image:url(http://img.enuri.info/images/view/detail/moveinfo/bg_right_120626.png); }

.resentListFactory {margin:2px 0px 2px 0px;float:left;font-family:돋움;font-size:8pt;color:#00789F;}
.resentListPrice {font-family:Arial;font-size:8pt;color:#0074D5;}
.resentListText {font-family:돋움;font-size:8pt;color:#0074D5;}
.resentListWon {font-family:돋움;font-size:8pt;color:#808080;}

/* 20150506 VIP 내 상품평+평점 정보 노출 */
/* 좌측 상풍별점 */
.comment_mark {position:relative; margin: 10px 0 28px 0;}
.comment_mark ul {margin:0 0 0 6px; padding:0;}
.comment_mark li {height:16px; line-height:16px;list-style:none;}

.comment_mark em {font-style:normal;}
.star_comm {display:block; overflow:hidden;width:100%;}
.comment_mark .tit {float:left; font-family:Malgun Gothic; font-size:12px; }
.comment_mark .bar {float:left; background:url(http://img.enuri.gscdn.com/images/main/2015/common/bul_bar_gray.gif) 0 3px no-repeat;}
	.star_comm .bar {margin-left:5px; padding-left:4px; }
	.evaluate .bar {margin-left:7px; padding-left:6px; }
	@media \0screen {.evaluate .bar {background-position:0 6px;}}
.star_comm .eval_rate {float:left; color:#333; }
.star_comm .num_rate {float:left; margin-left: 4px;  color:#2485fb; letter-spacing:0.05em;}
.star_comm .star_rate {float:left;width:59px;height:10px; margin:3px 0 0 0; background-position:0 0}
.star_comm .inner_star {display:block;width:100%;height:100%;font-size:0;line-height:0;background-position:0 -15px;text-indent:-9999px;}
.img_star {background:url(http://img.enuri.gscdn.com/images/main/2015/common/starmark.png) 0 0 no-repeat;}
.comment_mark .star_comm .score_mark {margin-left:3px; font-family:dotum; font-size:11px; color:#b6b6b6; line-height: 18px;}
.comment_mark .star_comm .score_mark em {color:#333;}
.evaluate {padding-top: 5px; }
@media \0screen {.comment_mark li.evaluate {padding-top:2px; height:20px; line-height:20px;}}


.evaluate .tit {font-size:11px; color:#2485fb;cursor:pointer;}
.evaluate .reply {width:200px; display: inline-block; overflow:hidden; cursor:pointer;text-overflow:ellipsis;white-space:nowrap; font-family:Malgun Gothic; font-size:11px; color:#676767;}


.screen_out {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.comment_mark .btn_more {position:absolute; top:0; right:7px; cursor:pointer; font-family:Malgun Gothic; font-size:11px; color:#959595; letter-spacing:-0.05em; padding-right:14px; background:url(http://img.enuri.gscdn.com/images/main/2015/common/bul_arrow_rg3.gif) 90% 4px no-repeat }

/* 용어사전 */
.beg_btn{width:63px;height:20px;position:absolute;cursor:pointer;z-index:116}
.bgBeginnerBig1  {background-image:url(http://img.enuri.info/2010/images/view/guide/sp_bigLayer01_bg.png)}
.bgBeginnerBig2  {background-image:url(http://img.enuri.info/2010/images/view/guide/sp_bigLayer03_bg.png)}
.bgBeginnerBig3  {background-image:url(http://img.enuri.info/2010/images/view/guide/sp_bigLayer02_bg.png)}
.bgBeginnerBig4  {background-image:url(http://img.enuri.info/2010/images/view/guide/sp_bigLayer04_bg.png)}

.googleLayerTop  {height:35px;background:url(http://img.enuri.info/2010/images/view/guide/google_bg_01.png);padding-left:15px;}
.googleLayerMiddle  {height:595px;background:url(http://img.enuri.info/2010/images/view/guide/google_bg_02.png);}
.googleLayerBottom  {height:20px;background:url(http://img.enuri.info/2010/images/view/guide/google_bg_03.png);}

.popularTDStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/layer02_bg.png');
}
.helppopup1BgStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/layer_launch_bg.png');
}
.menu_detail_2BgStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/layer01_bg_120917.png');
}
.qrCodeLayerStyle {
	background-image:url('http://img.enuri.info/2010/images/view/2014/qr_layer_02.png');
}
.addInfoBgStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/guidelayer_02_120917.png');
}
.factoryBgStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/layer_factory_bg02.png');
}
.getinfo_catalogBgStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/copy_layer_02.png');
}
.sp_layer_BgStyle {
	background-image:url('http://img.enuri.info/images/view/detail/noticedetail/20110916/sp_layer_bg.png');
}
.popListTop{
	background-image:url('http://img.enuri.info/images/view/detail/ingi/3m_layer_01_120920.png');
}
.popListMiddle{
	background-image:url('http://img.enuri.info/images/view/detail/ingi/3m_layer_02_120920.png');
}
.popListInfoTop{
	background-image:url('http://img.enuri.info/images/view/detail/ingi/3m_info_layer_01_120920.png');
}
.favorTd {
	font-family: "돋움";
	font-size: 12px;
	color: #000000;
	line-height: 16px;
}
.favorStyle1 {color: #0A44A2; 	font-weight: bold;}
.favorStyle2 {font-family: "돋움";	font-size: 11px;	color: #434343;}
.bgFavoriteBox1 {
	background-image:url('http://img.enuri.info/images/view/favorite/detailmulti20090204/d_favorites_box01_bg.png');
}
.bgFavoriteBox2 {
	background-image:url('http://img.enuri.info/images/view/favorite/detailmulti20090204/d_favorites_box02_bg.png');
}
.bgFavoriteBox3 {
	background-image:url('http://img.enuri.info/images/view/favorite/detailmulti20090204/d_favorites_box03_bg.png');
}
.bgFavoriteBox4 {
	background-image:url('http://img.enuri.info/images/view/favorite/detailmulti20090204/d_favorites_box04_bg.png');
}
.bgFavoriteBoxAll {
	background-image:url('http://img.enuri.info/images/view/favorite/detailmulti20090204/d_favorites_box_tbg.png');
}

.question_box {position:relative; width:588px; height:377px;background:url(http://img.enuri.gscdn.com/images/main/2015/common/bg_question_box.png) 0 0 no-repeat }
.question_box p {margin:0; padding:0; text-indent:-9999em;}
.question_box table {margin:42px auto 0; width:500px; table-layout:fixed;}
.question_box table th {text-align:center; font-family:dotum; font-size:12px; }
.question_box table thead th {height:28px; line-height:18px; color:#343434; border:1px solid #d2d2d2;  border-left:none; background-color:#eee;}
.question_box table thead th:first-child {border-left:1px solid #d2d2d2;}
.question_box table tbody th {color:#787878; background-color:#f2f2f2;}
.question_box table tbody th:first-child {border:1px solid #d2d2d2; border-top:none;}
.question_box table tbody td {height:50px;  text-align:center; font-family:dotum;  font-size:12px; color:#343434;  border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2;}
.question_box table th em {font-style:normal; font-weight:normal; font-size:11px; color:#f64e5a; letter-spacing:-1px}
.question_box table th .stress {display:block; padding-top:14px; height:17px; color:#f64e5a; background:url(http://img.enuri.gscdn.com/images/main/2015/common/ico_redstar.png) 3px 1px no-repeat}
.question_box table td .tip {font-size:11px; color:#2680ef;  letter-spacing:-1px}
.question_box .btn_close {position:absolute; top:7px; right:11px; width:12px; height:11px; padding:5px;text-indent:-999em;}

/* 20150706 VIP 백화점비교 정렬 추가 */
.depart_compare {position:absolute;width:95px;margin:10px 0 0 -170px; *margin:8px 0 0 -174px; font-family:Malgun gothic; font-size:11px; letter-spacing:-1px;color:#000;}
.depart_compare * {vertical-align:middle;}
.depart_compare input[type=checkbox] {margin:0 -1px 0 0; *margin:0 -2px 0 0;}
@media 0screen {.depart_compare input[type=checkbox] {margin:0 -2px 0 0;}}
.depart_compare .btn_question {vertical-align:1px; }
.depart_compare .btn_question img {border:none;}
#buyCntBox {display:none;position:absolute;width:82px;height:151px;background:url(http://img.enuri.info/images/view/detail/pricelist/toptab/tab_buycnt2_on.gif) no-repeat;z-index:101;font-family:'돋움';}
#priceListTab6Img {position:absolute;margin: 10px 0 0 -80px;width:82px;height:27px;background:url(http://img.enuri.info/images/view/detail/pricelist/toptab/tab_buycnt2.gif) no-repeat;cursor:pointer;}
.buyCntSelText {float:left;margin-top:1px;width:64px;text-align:center;font-family:Malgun gothic;font-size:11px;}
#buyCntBox table {margin:0 0 0 0;}
#buyCntBox .spread_list {width:65px; margin:0 0 0 7px; padding:0;}
#buyCntBox .spread_list li {float:left; width:24px; margin:5px 0 0 8px; text-align:left; font-family:Malgun gothic; font-size:11px; }
#buyCntBox .spread_list li.top {margin-top:7px;}
#buyCntBox .spread_list li span {cursor:pointer;}
#buyCntBox .spread_list li .selected {color:#800000;}
#buyCntBox .buycnt_info {position:absolute; bottom:6px; right:10px;}
#buyCntInfo2Layer a {background:url(http://img.enuri.info/images/);}

/* 20151005 [LP,SRP,VIP] 제조사,브랜드명 영역 생성*/
.detailleft .makerbrandList  {height:34px; margin:0 8px 7px 8px; padding:0 0 2px 0; border-bottom:1px solid #999;}
.detailleft .makerbrandList li {text-align:left; font-family:dotum; font-size:11px; color:#333; height:17px; line-height:17px;}
.detailleft .makerbrandList li span {display:inline-block;*display:inline; zoom:1; height:100%; padding-bottom:1px; width:136px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;  }
.detailleft .btn_area {position:relative; width:20px; }
.detailleft .btn_area .singobtn {position: absolute; bottom:17px; left:0;}
