#MyTodayViewLayer{
    margin:0;padding:0;width:133px;overflow:hidden;
}
#guide_recent_zzim{
    padding-top:5px;
    width:130px;
}
#guide_recent_zzim #grz_tab{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:100%;
    height:20px;
}
#guide_recent_zzim #grz_tab li{
    float:left; 
    margin:0px;
    padding:0px;    
    height:20px;
}
#guide_recent_zzim #grz_guide_box{
    width:128px;
    /*background-image:url("http://img.enuri.gscdn.com/2010/images/view/guide_line01.gif");
    background-repeat:repeat;*/
    border:1px solid #dddddd;
}
#grz_guide_box h5.title {height:21px;  text-align:center; font-family:"맑은 고딕", Malgun Gothic; font-size:13px;  color:#333; background-color:#f5f5f5; }
#grz_guide_box h5.title span {display:inline-block; line-height:12px; margin-top:3px; }
#grz_guide_box h5.title .ico_twinkle {height:15px; padding-right:16px; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/icon_guide.gif) no-repeat 100% 0; }

#guide_recent_zzim .grz_ul{
    list-style-type:none;
    padding:1px 0px 0px 1px;
    color: #666;
    font-size: 11px;
    line-height: 12px;
    font-family:돋움;
    width:126px;
}
#guide_recent_zzim .brTop {border-top:1px solid #ddd;}

.grz_list {width:116px; margin:5px auto 7px;}
.grz_list li {margin-top:5px; line-height:15px; text-align:left; padding-left:5px; color:#666; word-break:break-all; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/bul_sq_gray.gif) no-repeat 0 6px;}
.grz_list li a {color:#666; text-decoration:none;}
.grz_list li .banner_item_all {cursor:pointer;}
.grz_list li .banner_item_all .icon {vertical-align:-1px;}

/*
#guide_recent_zzim #grz_guide{
    border-bottom:1px solid #c8c8c8;
}
#guide_recent_zzim #grz_guide li,#grz_review li{
    margin:0px;
    padding:3px 0px 2px 0px;
}
#guide_recent_zzim #grz_guide p,#grz_review p{
    margin:0px;
    padding:0px;
}
#guide_recent_zzim #grz_guide .p_guide,#grz_review .p_guide{
    margin:0px 0px 0px 8px;
    padding:0px;
}

/*#guide_recent_zzim h5{
    margin:5px 0px 0px 0px;
    padding:0px;
}*/
#mytoday_goods{
    width:130px;
    background-image:url(http://img.enuri.gscdn.com/images/main/2015/hp/svi_bg_list2.gif);
}
.grz_goods{width:130px;height:57px;margin:0px 0px 0px 0px; border-bottom:1px solid #eaeaea;}
.grz_goods.last {border-bottom:none;}

.grz_goods_img{
    cursor:pointer;float:left;width:45px;height:45px;display:inline;margin-left:7px;
}
.grz_desc{
    float:left;width:66px;height:54px;margin-left:5px;margin-top:3px;display:inline;overflow:hidden;
}
.grz_npc{
    width:66px;height:15px;
}
.grz_num{
    float:left;width:17px;height:15px;font-weight:bold;font-size:11px;cursor:pointer;
}
.grz_num_0{
    float:left;width:10px;height:15px;font-weight:bold;font-size:11px;cursor:pointer;
}
.grz_price{
    float:left;width:50px;height:15px;overflow:hidden;;cursor:pointer;text-align:right;
}
.grz_price_0{
    /*float:left;width:57px;*/height:15px;overflow:hidden;;cursor:pointer;text-align:right;
}
.grz_price_0 .price {color:#2684fe;font-size:11px;height:5px;font-family:'맑은고딕',Malgun Gothic;
}
.grz_cut{
    float:right;cursor:pointer
}
.grz_fnm{
    width:66px;height:39px;overflow:hidden;line-height:13px;cursor:pointer;word-break:break-all;font-family:"돋움", dotum;
}
.grz_factory{
    color:#333333;font-size:11px;line-height:13px; 
}
.grz_modelnm{
    color:#888888;font-size:11px;line-height:13px;
}
.grz_endline{
    width:124px;height:2px;margin-left:5px;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/rg_line_dotblue.gif);
    background-repeat:repeat-x;
    background-position:left top;
}
.rz_top  {width:130px;height:18px;background-image:url(http://img.enuri.gscdn.com/2012/list/guide/rvi_05.gif);}
.rz_search_m  {background-image:url(http://img.enuri.gscdn.com/2010/images/view/rg_layer_bg_w.gif)}


.fashion_rolling_banner {width:128px; padding-top: 2px; } 
.fashion_rolling_banner .banner_box {width: 128px; border:1px solid #dddddd; }
.fashion_rolling_banner .grz_ul{
    list-style-type:none;
    margin:1px 0px 0px 1px;
    color: #666;
    font-size: 11px;
    line-height: 13px;
    font-family:돋움;
    width:126px;
}

.fashion_rolling_banner h5.title {position:relative; height:21px; /*margin-bottom:5px;*/ text-align:center; font-family:"맑은 고딕", Malgun Gothic; font-size:13px;  color:#333; background-color:#f5f5f5; }
.fashion_rolling_banner h5.title span {display:inline-block; margin-top:2px; *margin-top:0; line-height:12px; *line-height:17px;}
.fashion_rolling_banner h5.title .controller {position:absolute; top:4px; right:4px;}
.fashion_rolling_banner h5.title .controller img {margin:0; padding:0;vertical-align:top;}
.fashion_rolling_banner .grz_ul .pop_td{display:block; padding:5px 0;}

.question_banner {width:128px; height:66px; margin-top:4px; font-family:"맑은 고딕", Malgun Gothic; border:1px solid #ddd; background-image:url(http://img.enuri.gscdn.com/images/main/2015/lp/bg_question_banner.gif)}
.question_banner p {width:114px; height:17px; line-height:17px; padding:14px 0 0 8px; color:#333; letter-spacing:-0.3px; overflow:hidden;}
.question_banner p strong {font-size:11px; color:#0f16b3;}
.question_banner span {font-size:0;}

.question_banner2 {width:128px; height:58px; margin-top:4px; text-indent:-9999em; border:1px solid #ddd; background-image:url(http://img.enuri.gscdn.com/images/main/2015/lp/bg_question_banner2.gif)}





/*
#MyTodayViewLayer{
    margin:0;padding:0;width:133px;overflow:hidden;
}
#guide_recent_zzim{
    padding-top:5px;
    width:130px;
}
#guide_recent_zzim #grz_tab{
    list-style-type:none;
    margin:0px;
    padding:0px;
    width:100%;
    height:20px;
}
#guide_recent_zzim #grz_tab li{
    float:left; 
    margin:0px;
    padding:0px;    
    height:20px;
}
#guide_recent_zzim #grz_guide_box{
    width:130px;
    background-image:url("http://img.enuri.gscdn.com/2010/images/view/guide_line01.gif");
    background-repeat:repeat;
}
#guide_recent_zzim .grz_ul{
    list-style-type:none;
    margin:0px 0px 0px 4px;
    padding:2px 0px 0px 0px;
    color: #333333;
    font-size: 11px;
    line-height: 12px;
    font-family:돋움;
    width:120px;
}
#guide_recent_zzim #grz_guide{
    border-bottom:1px solid #c8c8c8;
}
#guide_recent_zzim #grz_guide li,#grz_review li{
    margin:0px;
    padding:3px 0px 2px 0px;
}
#guide_recent_zzim #grz_guide p,#grz_review p{
    margin:0px;
    padding:0px;
}
#guide_recent_zzim #grz_guide .p_guide,#grz_review .p_guide{
    margin:0px 0px 0px 8px;
    padding:0px;
}

#guide_recent_zzim h5{
    margin:5px 0px 0px 0px;
    padding:0px;
}
#mytoday_goods{
    width:130px;
    background-image:url(http://img.enuri.gscdn.com/images/main/2015/hp/svi_bg_list2.gif);
}
.grz_goods{width:130px;height:57px;margin:0px 0px 0px 0px; border-bottom:1px solid #eaeaea;}

#mytoday_goods{
    width:130px;
    background-image:url(http://img.enuri.gscdn.com/2012/list/guide/rvi_05.gif);
}
.grz_goods{
    width:130px;height:57px;
    background-image:url(http://img.enuri.gscdn.com/2012/list/guide/rvi_06.gif);
    background-repeat:repeat-x;
    background-position:left top;   
}

.grz_desc{
    float:left;width:76px;height:54px;margin-left:3px;margin-top:3px;display:inline;overflow:hidden;
}
.grz_npc{
    width:76px;height:15px;
}
.grz_num{
    float:left;width:17px;height:15px;font-weight:bold;font-size:11px;cursor:pointer;
}
.grz_num_0{
    float:left;width:10px;height:15px;font-weight:bold;font-size:11px;cursor:pointer;
}
.grz_price{
    float:left;width:50px;height:15px;overflow:hidden;;cursor:pointer;text-align:right;
}
.grz_price_0{
    float:left;width:57px;height:15px;overflow:hidden;;cursor:pointer;text-align:right;
}
.grz_cut{
    float:right;cursor:pointer
}
.grz_fnm{
    width:76px;height:39px;overflow:hidden;line-height:13px;cursor:pointer;word-break:break-all;
}
.grz_factory{
    color:#00789f;font-size:11px;line-height:13px;
}
.grz_modelnm{
    color:#7f7f7f;font-size:11px;line-height:13px;
}
.grz_endline{
    width:124px;height:2px;margin-left:5px;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/rg_line_dotblue.gif);
    background-repeat:repeat-x;
    background-position:left top;
}
.rz_top  {width:130px;height:18px;background-image:url(http://img.enuri.gscdn.com/2012/list/guide/rvi_05.gif);}
.rz_search_m  {background-image:url(http://img.enuri.gscdn.com/2010/images/view/rg_layer_bg_w.gif)}

*/



/* 20150518 불편신고 버튼 분리 
.notifiy_singo {height:23px; margin-top:4px; text-align:center; line-height: 21px; font-family:malgun gothic; font-size:11px;  color:#343434; border:1px solid #bbb;}
.ico_siren {padding-left:15px; background:url(http://img.enuri.gscdn.com/images/main/2015/common/ico_siren.png) 0 3px no-repeat }*/

/* 20150519 모바일 강화 메인,LP,SRP 공통 맞춤 최근본상품, 찜 재수정(열림) */
.sv_rz_toptab {position:relative; width:287px; height:36px; background-image:url(http://img.enuri.gscdn.com/images/main/2015/hp/svi_bg_toptab.png);}
.sv_rz_toptab .btn_appdown {position:absolute; top:8px; right:10px; width:124px; height:19px; text-indent:-9999em;background-image:url(http://img.enuri.gscdn.com/images/main/2015/hp/btn_appdown.gif);}
.svi_tab_menu {overflow:hidden;width:128px ;height:34px;padding:2px 0 0 2px;}
.svi_tab_menu li {float:left; width:64px; height:34px; z-index:10; text-align:center; font-family:malgun gothic; font-weight:bolder; color:#fff;font-size:11px;letter-spacing:-0.05em}
.svi_tab_menu li a {display:block; height:13px; padding:7px 0 14px; color:#fff;text-decoration:none}
.svi_tab_menu li span {color:#fff;font-size:11px;font-weight:normal}
.svi_tab_menu li.active {z-index:20; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/svi_tab_on.png) no-repeat 0 0}
.svi_tab_menu li.active a {color:#343434;text-decoration:none}
.svi_tab_menu li.active span{color:#2680ef;}

.sv_rz_goods {position:relative; width:283px;padding-top: 5px;border:2px solid #2680ef; border-top:none; background-color:#fff; }
.con_list {width:253px; margin:0 auto; }
.con_list ul li {overflow:hidden; height:70px; padding:10px 0 5px; border-bottom:1px solid #e2e2e2;}
/*.con_list ul li:first-child {padding-top:15px;}*/
.con_list .thumb {float:left; width:68px; margin-left:3px; border:1px solid #e2e2e2;}
.con_list .thumb img {width:68px; height:68px; cursor:pointer;}
.con_list .info {float:right;width:166px; margin-right:4px;  font-family:malgun gothic; }
.con_list .info strong, .info span {cursor:pointer;}
.con_list .title {margin-top:1px;font-size:12px; color:#343434;}
.con_list .title .check {vertical-align:-2px; cursor:pointer;}
.con_list .subtxt {width:100%;height:30px;overflow:hidden; margin-top:1px; line-height:14px;font-size:12px; color:#787878;}
.con_list .price {height:20px;line-height:16px; margin-top:4px; text-align:right; font-weight:bold; font-size:12px;color:#2680ef; letter-spacing:-0.025em; }
.con_list .price strong {font-size:16px;}

.btn_page {text-align:center; height:38px; line-height:38px; }
.btn_page span {display:inline-block; font-family:dotum; font-size:12px; color:#333 !important; text-decoration:none; }
/*.btn_page a:hover {color:#333 !important;}*/
.btn_prev {padding-left:10px; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/btn_arrow_prev_off.gif) no-repeat 0 13px;}
.btn_prev.on {font-weight:bold; color:#333; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/btn_arrow_prev_on.gif) no-repeat 0 13px; cursor: pointer;}
.btn_next {margin-left:26px;padding-right:10px; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/btn_arrow_next_off.gif) no-repeat 100% 13px;}
.btn_next.on {font-weight:bold; color:#333; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/btn_arrow_next_on.gif) no-repeat 100% 13px;cursor: pointer;}

.btn_total {width:100%; height:31px; background-color:#f2f2f2;}
.btn_total a {position:absolute; bottom:0; width:141px; display:inline-block; text-align:center; height:31px; line-height:31px; font-family:malgun gothic; font-size:12px; color:#343434 !important; letter-spacing:-0.03em; text-decoration:none;}
.btn_total a:hover {color:#343434 !important;}
.btn_total a.btn_allview {left:0;}
.btn_total a.btn_close {right:0; background:url(http://img.enuri.gscdn.com/images/main/2015/hp/bul_bar_gray.gif) no-repeat 0 50%;}