@charset "utf-8";
#wrap{
	width:100%;	
}
#header{
	width:100%-10px;	
	margin-left:7px;
	margin-right:3px;
}
#category{
	/*background-image:url('http://img.enuri.gscdn.com/2010/images/view/list_m_bg_01.gif');*/
	height:104px;
	width:100%;
}
#category_box{
	width:97%;
	height:84px;
	float:left;
	padding-left:22px;
	/*padding-right:100px;*/
}
#category #category_title_box{
	float:left;
	width:160px;
	/*width:29%;*/
	height:105px;
	padding-left:52px;
	padding-right:5px;
	display:inline;
}
#category #category_title_box *{
	float:right;
}
#category #category_title_box #fav_link_img{
	margin-top:8px;
}
#category #category_title_box h1{
	margin-top:20px;
}
#category #category_img_box{
	float:left;
	width:102px;
	padding-left:5px;
	/*width:9%;*/
	
}
#category #category_img_box #category_img{
	margin-left:10px;
}

#category #category_desc_box{
	float:left;
	margin-top:2px;
	padding-top:2px;
	width:485px;
	line-height:13px;
	/*width:50%;*/
}
#category #category_desc_box p{
	margin-top:7px;
	margin-left:41px; 
	font-size:9pt;
	font-family:'맑은 고딕','돋움';
	color:#333333;
}

#category #category_desc_box div{
	font-family:'맑은 고딕','돋움';
}

#incFavoriteLayer{
	float:left; 
	position:absolute;
	/*width:500px;
	height:500px;*/
	left:125px;
	top:83px;
	display:none;
	z-index:10;
}
#category_menu_tab{
	list-style-type:none;
	margin:0px;
	padding:0px;
	/*background-image:url('http://img.enuri.gscdn.com/2010/images/view/list_menu_bg2.gif');*/
	height:19px;
}
#category_menu_tab li{
	float:left;	
	margin:0px;
	padding:0px;	
	height:20px;
}
#img_menu ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
#img_menu .cate_text1{
	text-decoration:none;
	font-size:11px;
	color:#000000;
	padding-left:2px;
}
#img_menu .scate_text{
	height:15px;
	width:100%;
	background-color:#dce6f1;
	margin-top:3px;
	padding:0px 0px 2px 0px;
	font-family:'맑은 고딕','돋움';
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:15px;
}
#img_menu .scate_text_1{
	height:15px;
	width:100%;
	background-color:#dce6f1;
	margin-top:3px;
	padding:3px 0px 3px 0px;
	font-family:'맑은 고딕','돋움';
	font-size:12px;
	font-weight:bold;
	text-align:center;
	line-height:15px;
}
/*미분류레이어색깔*/
#img_menu .cate_text2{
	text-decoration:none;
	font-size:11px;
	color:#444444;
	padding-left:2px;
}
#img_menu .cate_text3{
	text-decoration:none;
	font-size:11px;
	color:#bd0f0e;
	padding-left:2px;
}
#img_menu .cate_text4{
	text-decoration:none;
	font-size:11px;
	color:#bd0f0e;
	padding-left:2px;
}
#img_menu .cate_text_ex1{
	text-decoration:none;
	font-size:11px;
	color:#000000;
	padding-left:2px;
}
#img_menu .cate_text_ex2{
	text-decoration:none;
	font-size:11px;
	color:#5e5e5e;
	padding-left:2px;
}
#img_menu {
 width:100%;
 height:96px;
 position:relative;
 background-color:#ebebeb;
 z-index:2;
}

#img_menu_left {
 width:5px;
 height:76px;
 position:relative;
 /*background-color:#ebebeb;*/
 z-index:3;
 float:left;
}

#img_menu_right {
 width:100;
 height:100px;
 position:relative;
 background-color:#eaeaea;
 background:url(http://img.enuri.gscdn.com/2010/images/view/menu/list_bar_0311.gif) repeat-x;
 z-index:2;
}
#img_menu_test {
	width:100%;
	height:100px;
	position:relative;
	background-color:#eaeaea;
	background:url(http://img.enuri.gscdn.com/2010/images/view/menu/list_bar_0311.gif) repeat-x;
	z-index:2;
	float:left;
}
#img_menu li{
	float:left;
	margin:0px;
	padding:0px;	
}
#img_menu .img_menu_small{
	float:left;
}
#img_menu .img_menu_small_org{
	float:left;
	margin-top:3px;
}
#img_menu .img_menu_small_text{
	font-size:9pt;
	text-align:center;
	color:green;
	padding-bottom:3px;
	height:12px;
	line-height:11px;
	font-family: "맑은 고딕";
}
#img_menu .img_menu_small_text_test{
	font-size: 11px;
	text-align:center;
	color:#000000;
	height:12px;
	line-height:11px;
	font-weight: bold;
	font-family: "맑은 고딕";
	background-color:dce6f1;
}
#img_menu .img_menu_small_img{
	text-align:center;
	color: #bd0f0e;
	font-weight: bold;
}
#img_menu .img_menu_small_img_test{
	text-align:center;
	color: #bd0f0e;
	font-weight: bold;
}
#recom_menu{
	width:100%;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:19px;
	background-color:#f3f3f3;
	border-bottom:1px solid #adaeae;
	overflow:hidden;
}
#recom_menu #recom_menu_list{
	table-layout:fixed;
}
#recom_menu #recom_menu_list p{
	color:#007df9;
	font-size:12px;
}
#recom_menu #recom_menu_list .dotline{
	background-image:url(http://img.enuri.gscdn.com/2010/images/view/dotline.gif);
}
#recom_menu #recom_menu_desc{
	width:100%;
}
#recom_menu #recom_menu_desc .title{
	margin-left:17px;
	padding-top:10px;
	width:96%;
	font-weight:bold;
	border-top:1px solid #c6c6c6;
}
#recom_menu #recom_menu_desc .desc{
	margin-left:17px;
	margin-top:3px;
	width:96%;
}
#spread_menu{
	width:100%;
	table-layout:fixed;
	/*border-bottom:1px solid #adaeae;
	background-color:#DDDEE1;
	overflow-y:auto;
	border-top:1px solid #6C6C6C;
	scrollbar-face-color: #b1b2b8; 
	scrollbar-shadow-color: #878892; 
	scrollbar-highlight-color: #dddee1; 
	scrollbar-3dlight-color: #b1b2b8; 
	scrollbar-darkshadow-color:#2a2a33; 
	scrollbar-track-color: #dddee1; 
	scrollbar-arrow-color: #2a2a33;
	*/
	margin-bottom:19px;
}
#spread_menu #spread_menu_list{
	table-layout:fixed;
	z-index:1;
	/*margin:10px auto 10px auto;*/
}
#spread_menu #spread_menu_list .sml_n0{
	cursor:pointer;
	font-size:11px;
	color:#bd0f0e;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_nA{
	cursor:pointer;
	font-size:11px;
	color:#000000;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n1{
	cursor:pointer;
	font-size:11px;
	color:#000000;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n2{
	cursor:pointer;
	font-size:11px;
	color:#5e5e5e;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n3{
	cursor:pointer;
	font-size:11px; 
	color:#bd0f0e;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n4{
	cursor:pointer;
	font-size:11px;
	color:#bd0f0e;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n_ex1{
	font-size:11px;
	color:#000000;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n_ex2{
	font-size:11px;
	color:#5e5e5e;
	margin-left:2px;
}
#spread_menu #spread_menu_list .sml_n_ex3{
	font-size:11px;
	color:#bd0f0e;
	margin-left:2px;
}
#spread_menu ul{
	list-style-type:none;
	margin:10px 0px 0px 20px;
	padding:0px;
	width:90%;	
}
#spread_menu li{
	float:left;	
	margin:0px 0px 0px 20px;
	padding:0px;	
	height:18px;	
	display:inline;
	width:130px;
}
.lfu_ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.lfu_li{
	float:left;
	list-style:none;
	margin:0px 5px 0px 0px;
	padding:0px;
	line-height:23px;
	height:23px; 
}
.lfu_ul_b{
	list-style:none;
	margin:0px;
	padding:0px;
}
.lfu_li_b{
	float:left;
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px;
	line-height:23px;
	height:26px; 
}
.scate_img{cursor:pointer;
	-webkit-box-shadow: 1px 1px 0px #c0c0c0;  /* Safari and Chrome */
	-moz-box-shadow: 1px 1px 0px #c0c0c0;  /* Firefox */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#c0c0c0, Direction=150, Strength=1);  /* IE */
} 
.scate_img_location{cursor:pointer;}
.scate_img_bg_x{cursor:pointer;} 
#spec_menu{
	margin-top:1px;
	/*background-image:url(http://img.enuri.gscdn.com/2010/images/view/menu/line_right.gif);*/
	background-image:url(http://img.enuri.gscdn.com/2010/images/view/menu/spec_r_02.gif);
	background-repeat:repeat-y;	
	background-position:right top;
}
#spec_menu ul, li{list-style-type:none;}

#specTop{clear:both;margin:0px;padding:0px;height:3px;background-color:#f9f9f9;background:url(http://img.enuri.gscdn.com/2012/list/specmenu_bg_top.gif) repeat-x;}
/* 
#specTop ul{margin:0px;padding:0px;height:11px;background-color:#f9f9f9;background:url(http://img.enuri.gscdn.com/2012/list/bar_01_2.gif) repeat-x;}
#specTop .li_1{float:left;width:5px;height:11px;z-index:10;}
#specTop .li_2{float:right;width:5px;height:11px;z-index:10;}
*/
#specScroll {position:absolute;clear:both;z-index:10;right:5px;width:20px;margin-top:55px;}
#specScroll .ul_1{width:19px;height:19px;margin:0px;padding:0px;}
#specScroll .li_1{list-style:none;width:19px;height:19px;}
#specScroll .ul_2{margin:0px;padding:0px;}
#specScroll .li_2{height:85px;list-style:none;background:url(http://img.enuri.gscdn.com//2010/images/view/menu/scroll_02.gif) repeat-y;}
#specScroll .ul_3{margin:0px;padding:0px;}
#specScroll .li_3{list-style:none;width:19px;height:19px;}
 
#line_1 {position:relative;margin:0px;padding:0px 0px 0px 0px;font-family:돋움;}
/*#line_2 {position:relative;margin:0px;padding:20px 0px 0px 0px;font-family:돋움;}*/
.line_2 {position:relative;margin:0px;padding:20px 0px 0px 0px;font-family:돋움;}
 
.specOne_li {list-style:none;margin:0px;padding:0px;font-size:11px;font-family: "맑은 고딕";text-align:center;background-color:#C1C4CA;}
.specOne_left {list-style:none;margin:0px;padding:0px;float:left;}
.specOne_right {list-style:none;margin:0px;padding:0px;float:left;}
.specOne_line {list-style:none;float:left;width:1px;height:100%;border-left:1px solid #d9dade;}
.group_ul {margin:0px;padding:0px;width:100%;}
.group_li {text-align:center;font-size:11px;height:17px;} 
.group_div1 {float:left;width:5%;text-align:right;}
.group_div2 {float:left;width:90%;background:url(http://img.enuri.gscdn.com/2010/images/view/menu/group_line_2.gif) repeat-x;}
.group_div3 {float:left;width:5%;text-align:left;}
.group_div4 {clear:both;}
.group_div5 {float:left;width:6%;text-align:right;}
.group_div6 {float:left;width:88%;background:url(http://img.enuri.gscdn.com/2010/images/view/menu/group_line_4.gif) repeat-x;}
.group_div6_pink {float:left;width:88%;background:url(http://img.enuri.gscdn.com/2010/images/view/menu/group_line_4_0408.gif) repeat-x;}
.group_divexcept7 {float:left;width:80%;background:url(http://img.enuri.gscdn.com/2010/images/view/menu/group_line_4.gif) repeat-x;}
.group_div7 {float:left;width:2px;text-align:left;}
.group_span {font-family: "맑은 고딕";font-size: 11px;color: #000000;line-height:14px;background-color:#C1C4CA;margin:0px;padding:1px 5px 0px 5px;border:1px solid #838792;height:14px;}
.group_span_re {font-family: "맑은 고딕";font-size: 11px;color: #000000;line-height:14px;background-color:#CBDEF2;margin:0px;padding:1px 5px 0px 5px;border:1px solid #85AAD3;height:14px;}
.group_span_pink {font-family: "맑은 고딕";font-size: 11px;color: #000000;line-height:14px;background-color:#CBDEF2;margin:0px;padding:1px 5px 0px 5px;border:1px solid #D9A5B7;height:14px;}
.spec_chk {position:relative;top:2px;width:13px;height:13px;overflow:hidden;padding:0px 4px 0px 2px;margin:0px;}

.spectitle_text{font-family: "돋움";color:#000000;background-color:transparent;height:11pt;}
.spectitle_text_blank{font-family: "돋움";color:#000000;background-color:transparent;height:10px;}
.spec_text{color:#5a5a5a;background-color:transparent;height:18px;}
.spec_text_on{color:#5a5a5a;background-color:#9dea9d;height:16px;margin-bottom:2px;}
.spec_text a{
	text-decoration:none;
	color:#5a5a5a;
}
.spec_text a:hover{
	text-decoration:underline;
	color:#5a5a5a;
}
.spec_text a:active{
	text-decoration:none;
	color:#5a5a5a;
}
.spec_text_on a{
	text-decoration:none;
	color:#5a5a5a;
}
.spec_text_on a:hover{
	text-decoration:underline;
	color:#5a5a5a;
}
.spec_text_on a:active{
	text-decoration:none;
	color:#5a5a5a;
}
.specReset {height:15px;text-align:right;margin:0px;padding:0px 30px 0px 0px;}
#specMenuGo {position:absolute;display:none;z-index:10;cursor:pointer;width:43px;height:28px;}
.specMenuGo_Out {background:url(http://img.enuri.gscdn.com/2012/list/spec_btn_go.gif);}
.specMenuGo_Over {background:url(http://img.enuri.gscdn.com/2012/list/spec_btn_go_ov.gif);}http://news.naver.com/main/read.nhn?mode=LSD&mid=shm&sid1=106&oid=079&aid=0002460514

#specBottom {clear:both;height:25px;background-color:#ffffff;} 
#specBottom ul{margin:0px;padding:0px;height:25px;background:url(http://img.enuri.gscdn.com/2012/list/specmenu_bg_bottom.gif) repeat-x;}
#specBottom .li_1{float:left;width:13px;height:25px;}
#specBottom .li_2{float:right;width:83px;cursor:pointer;} 
#specBottom .li_3{float:right;width:8px;padding-top:0px;}
#specMenuBody {
	overflow-y:scroll;
	overflow-x:hidden;
	background-color:#f9f9f9;
	margin:0px 2px 0px 0px;
	padding:0px;
	background-image:url(http://img.enuri.gscdn.com/2010/images/view/menu/specmenu_bg_left.gif);
	background-repeat:repeat-y;
	background-position:left top;	
	scrollbar-arrow-color: #5e5e5e;scrollbar-3dlight-color: #cbcbcb;scrollbar-darkshadow-color: #b1b1b1;scrollbar-face-color: #d0d0d0;scrollbar-highlight-color: #bbbbbb;scrollbar-shadow-color: #e8e8e8;scrollbar-track-color: #f3f3f3;
}


/* 20150624 LP 내 전문관 인벤토리 추가 */
.professional_shop {/*width:990px;*/ margin:0 3px 0 7px; }
.professional_shop a {text-decoration:none;}
.professional_shop em {font-style:normal;}
.professional_shop .top_area {position:relative; margin:18px 0 4px; }
.professional_shop .title {margin-left:5px; font-family:Malgun Gothic; font-size:12px; color:#333; letter-spacing:-1px}
.professional_shop .title strong {font-size:14px;}
.professional_shop .respondelivery {display:inline-block; margin-left:7px; width:91px; height:18px; text-indent:-9999em; background-image:url(http://img.enuri.gscdn.com/images/view/shop/ico_respondelivery.png); }
.professional_shop .go_link {position:absolute; right:0; bottom:6px; font-family:dotum; font-size:11px; color:#808080;}
.prolist_con {padding:15px 0 13px; border-top:1px solid #cecece;  border-bottom:1px solid #cecece;}
.product_list {margin:0; padding:0; *zoom:1;}
.product_list:after {content:""; display:block; clear:both;}
.product_list li {position:relative; float:left; width:179px; height:289px; margin-left:23px; }
.product_list li:first-child {margin-left:0;}
.product_list a {display:block; }
.product_list li .tit_product {width:179px; height:25px; margin-bottom:9px; text-align:center; overflow:hidden; font-family:dotum; font-size:12px; color:#444; letter-spacing:-0.075em; line-height:26px; background-image:url(http://img.enuri.gscdn.com/images/view/shop/bul_line_gray.png); }
.product_list li .thumb {display:block; width:179px; height:179px; }
.product_list li .thumb img {width:100%; height:100%;}
.product_list li .pro_info {position:relative; height:30px; }
.product_list li .subject {margin:12px 0 2px; word-break: break-all; display:block; height:32px; text-overflow:ellipsis; overflow:hidden; font-size:12px; color:#808080; line-height:16px; text-align:left; font-family:dotum; letter-spacing:-0.05em;}
.product_list li .price {position:absolute; top:6px; right:3px;  font-family:dotum; font-size:12px; color:#2684fe; letter-spacing:-1px;}
.product_list li .price .num {font-family:Tahoma; font-size:15px; letter-spacing:0;}




<!--[if lte IE 6]>
._f{
}
#div_brand_list_inner{
	_background-image : none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.enuri.gscdn.com/2010/images/brand/acc_layer02.png',sizingMethod='scale');
}
#div_brand_list_bottom{
	_background-image : none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.enuri.gscdn.com/2010/images/brand/acc_layer03.png',sizingMethod='scale');
}
<![endif]-->








