@charset "utf-8";

/* 20141212 에누리정책 신규 */
.rules_wrap {position:relative; width:1000px; margin:40px auto 0; overflow:hidden; font-family:"맑은 고딕", Malgun Gothic;}
.rules_wrap:after {content:""; display:block; clear:both;}

/* lnb */
.rules_wrap .lnb {float:left; width:180px;  border:1px solid #cdcdcd;}
.rules_wrap .lnb h2 {padding:15px; line-height:1;  font-weight:600; font-size:15px; color:#2466b0;  letter-spacing:-1px; border-bottom:1px solid #cdcdcd; background-color:#f5f5f5;}
.rules_wrap .lnb ul {padding:8px 15px  7px 15px;}
.rules_wrap .lnb ul li {height:27px; line-height:27px; font-size:13px; letter-spacing:-1px; color:#444; padding-left:11px; background:url(http://imgenuri.enuri.gscdn.com/images/rules/2014/bul_ob_gray.gif)  0 12px no-repeat;}
.rules_wrap .lnb ul li a {color:#444;}
.rules_wrap .lnb ul li a:hover {color:#0071bd; text-decoration:underline;}
.rules_wrap .lnb ul li.on {background:url(http://imgenuri.enuri.gscdn.com/images/rules/2014/bul_ob_blue.gif)  0 12px no-repeat;}
.rules_wrap .lnb ul li.on a {color:#0071bd; text-decoration:none;}

/* 공통 */
.rules_wrap .section {float:right; width:795px; margin-bottom:50px; color:#888;}
.rules_wrap .section h3 {margin-bottom:20px; padding-bottom:10px; line-height:1; font-weight:700; font-size:24px; color:#48494f; border-bottom:2px solid #2471c6;}
.rules_wrap .section  p, .rules_wrap .section  dl, .rules_wrap .section  ol {padding-left:15px; padding-right:15px; font-size:12px; color:#888; line-height:1.5;}
.rules_wrap .section  a {color:#444;}
.rules_wrap .section  a:hover {text-decoration:underline;}
.rules_wrap .section .list_box {margin:30px 0; padding:40px 45px; background-color:#fafafa}
.rules_wrap .section .list_box ol li {font-size:14px; font-weight:600; line-height:1.5;}
.rules_wrap .section dl {margin-top:50px;}
.rules_wrap .section dl dt {margin-bottom:18px; font-size:16px; font-weight:600; color:#0071bd; line-height:1;}
.rules_wrap .section dl dd > p {padding:0;}
.rules_wrap .section .info_box {width:100%; margin-top:18px;}
.rules_wrap .section .info_box:after {content:""; display:block; clear:both;}
.rules_wrap .section .info {float:left; width:240px; }
.rules_wrap .section .info:first-child {margin-right:54px;}
.rules_wrap .section .info > ul {margin-top:15px;}
.rules_wrap .section dl dd > ol {padding:0;}
.rules_wrap .section .list_num {margin-left:15px;}
.rules_wrap .section .list_num span {margin: 0px 3px 0px -15px; padding: 0px}

/*이용약관 */
.rules_wrap .section .clause {}
.rules_wrap .section .clause .slist {margin-left:15px;}
/* 개인정보 취급방침 */
.rules_wrap .section .privacy .list_num2 { }
.rules_wrap .section .privacy .list_num2  {margin-left:15px;}
.rules_wrap .section .privacy .list_num2 li {margin-top:20px;}
.rules_wrap .section .privacy .list_num2 li:first-child {margin-top:0;}
.rules_wrap .section .privacy .list_num2 span {margin: 0px 3px 0px -15px}
/* 청소년 보호방침 */
.rules_wrap .section .youthpolic {}
.rules_wrap .section .youthpolicy .list_num {margin-bottom:50px;}
/* 법적고지 */
.rules_wrap .section .disclaimer {}
.rules_wrap .section .disclaimer .list_num {margin-bottom:20px;}
.rules_wrap .section .disclaimer .ask {margin:50px 0 0; text-align:right;}


/* 공통 요소 */
.mgt0 {margin-top:0 !important;}
.mgt40 {margin-top:40px !important;}
.mgb50 {margin-bottom:50px !important;}
.mgl15 {margin-left:15px !important;}
.mgl30 {margin-left:30px !important;}

/* go top */
.gotop{position:fixed; _position:absolute; left:50%; bottom:80px; width:1000px; margin-left:-478px; text-align:right; clear:both;}
.gotop a{display:block; float:right; position:relative; right:-22px; padding:17px 7px 6px 7px; font:12px Tahoma; font-weight:bold; color:#fff; background:url(http://imgenuri.enuri.gscdn.com/images/etc/bul_arrow.png) #48aef0 no-repeat 50% 9px;}
.gotop a:hover,.gotop a:active,.gotop a:visited,.gotop a:focus {color:#fff; text-decoration:none;}









