@charset "utf-8";

/* enuri */
.headerArea{position:relative; width:1000px; z-index:10000;}
.simple_h{position:absolute; left:0; top:29px}
.simple_h .enuriApp{background:url(http://img.enuri.info/images/main/ico_down.gif) 0 7px no-repeat; padding-left:20px !important; }
.simple_h .enuriApp:hover{text-decoration:underline !important; }
.sp_header li a.benefit {padding-top:4px;} /* 20160203 쇼핑혜택존 추가 */
#header .sp_header li img {vertical-align:middle !important;} /* 20160212 쇼핑혜택존 영역 수정 */

.simple_h .spbox{border:2px solid #0182e8; width:442px; height:288px; z-index:10; background:#ffffff; position:relative; text-indent:-9999em; z-index:100;}
.simple_h .spbox .ly_close{position:absolute; right:0; top:0; text-indent:-9999em; width:10px; padding:7px 10px; z-index:10000; display:block; }
.simple_h .spbox .sp_tab{position:absolute; left:12px; top:10px; width:100% !important; text-align:left !important;}
.simple_h .spbox .sp_tab li {float:left; background:none !important; margin:0 !important;}
.simple_h .spbox .sp_tab li a{width:70px; height:37px; padding:0 !important; text-indent:-9999em; float:left;}
.simple_h .spbox .sp_tab li:first-child a{width:107px;}
.simple_h .spbox .sp_tab li:last-child a{width:85px;}

.simple_h .spbox .sp_enuri{background:url(http://img.enuri.info/images/main/new_simpleheader.jpg) 0 0; height:288px; width:442px;}
.simple_h .spbox .sp_car{background:url(http://img.enuri.info/images/main/new_simpleheader.jpg) 0 -304px; height:288px; width:442px;}
.simple_h .spbox .sp_hotdeal{background:url(http://img.enuri.info/images/main/new_simpleheader.jpg) 0 -608px; height:288px; width:442px;}
.simple_h .spbox .sp_depart{background:url(http://img.enuri.info/images/main/new_simpleheader.jpg) 0 -913px; height:288px; width:442px;}
.simple_h .spbox dl dd a{padding:0 !important; width:48px;height:48px; position:absolute; }
.simple_h .spbox dl dd a.goole{left:31px; top:199px;}
.simple_h .spbox dl dd a.apple{left:101px; top:199px;}
.simple_h .spbox dl dd input.mobile{border:0; background-color:transparent; position:absolute; left:174px; top:200px; padding:3px 5px; width:150px; background:url(http://img.enuri.info/images/main/bg_input.gif) 2px 5px no-repeat;}
.simple_h .spbox dl dd input.focus{position:absolute; border:0; background-color:transparent;  left:174px; top:200px; padding:3px 5px; width:150px; background:none; }
.simple_h .spbox dl dd .send{position:absolute; left:346px; top:198px; width:69px; height:29px; background:url(http://img.enuri.info/images/main/btn_send.gif) 0 0; border:none; cursor:pointer; }
.sp_depart .enuri_m{width:68px; height:20px; position:absolute; left:222px; top:133px; }

/* department */
.r_menu a.enuriApp{background:url(http://img.enuri.info/images/main/ico_down.gif) 0 5px no-repeat !important; padding-left:20px !important; }
.r_menu a.enuriApp:hover{text-decoration:underline !important; }
#header .r_menu{position:relative !important; z-index:10000; width:352px}
#header .r_menu .sp_tab li{border-left:none !important;}
.depart .simple_h{top:30px !important}

/* deal */
.headerArea_s .category li{position:relative; }
.category li a.enuriApp{background:url(http://img.enuri.info/images/main/ico_down.gif) 0 0px no-repeat !important; padding-left:20px !important; }
.category li a.enuriApp:hover{text-decoration:underline !important; }
.headerArea_s .simple_h .spbox .ly_close{width:30px; height:30px; padding:0 !important; }
.headerArea_s .simple_h{left:-235px !important; top:26px;}
.headerArea_s .spbox{width:326px; }
.headerArea_s .spbox .sp_enuri{width:326px; background:url(http://img.enuri.info/images/main/img_simpleheader_s.jpg) 0 0; }
.headerArea_s .spbox .sp_car{width:326px; background:url(http://img.enuri.info/images/main/img_simpleheader_s.jpg) 0 -304px;  }
.headerArea_s .spbox .sp_hotdeal{width:326px; background:url(http://img.enuri.info/images/main/img_simpleheader_s.jpg) 0 -608px;  }


/* soho*/
.header_enuri .h_e_center{z-index:1000}
.soho .simple_h{top:24px !important}
#headerWrap{position:static !important;}


/*150805*/
.sp_header li span{display:inline-block; margin:-1px 0 0 5px; background:url(http://img.enuri.info/images/main/event_tag.gif) 0 0 no-repeat; text-indent:-9999em; width:36px; height:13px; vertical-align:middle}
.sp_header li span{.margin-top:2px}
.sp_enuri .evt_bnr{width:224px; height:47px; position:absolute; left:115px; top:79px; background:url(http://img.enuri.info/images/main/evt_img.gif) 0 0 no-repeat; padding-top:42px;}
.sp_enuri .evt_bnr a{display:block; position:absolute; left:0; top:42px; width:224px; height:47px; }