@charset "utf-8";

/* 20141211 사이트맵 신규 */
.sitemap_wrap {position:relative; width:1000px; margin:41px auto 0; overflow:hidden; font-family:"맑은 고딕", Malgun Gothic;}
.sitemap_wrap h3 {font-weight:normal;}
.sitemap_wrap .icon {display:inline-block; width:11px; height:11px; text-indent::0; font-size:0; line-height:0; vertical-align:top; background-image: url(http://img.enuri.info/images/SiteMap/2014/ico_sitemap.png); }
.sitemap_wrap .icon.hot {background-position: 0 0;}
.sitemap_wrap .icon.new {background-position: 0 -11px;}
.sitemap_wrap .icon_type {position:absolute; top:13px; right:0; width:194px;}
.sitemap_wrap .icon_type li {float:left; width:93px; font-family:"돋움", dotum; font-size:13px; color:#858585; letter-spacing:-1px;}
.sitemap_wrap .icon_type li:first-child {margin-right:4px;}
.sitemap_wrap .icon_type li .icon {margin:1px 6px 0 0; }
.sitemap_wrap .sitemap_box {float:left; width:100%;}
.sitemap_wrap .sitemap_box:after {content:""; display:block; clear:both;}
.sitemap_wrap .sitemap_box.sb1 {margin-top:20px; padding-bottom:70px;}
.sitemap_wrap .sitemap_box.sb2 {padding-bottom:70px;}
.sitemap_wrap .section {float:left; width:182px; margin-left:22px;}
.sitemap_wrap .section.mgl0 {margin-left:0;}
.sitemap_wrap .section h3 {padding:10px 10px 8px 10px; line-height:1; font-size:16px; letter-spacing:-0.5px; color:#0071bd; border-top:1px solid #65a0cf; border-bottom:1px solid #bed5e7; }

.sitemap_wrap .section ul {margin-top:5px; padding-left:10px;}
.sitemap_wrap .section ul.btop {margin-top:6px; padding-top:6px; border-top:1px solid #ecf1f2;}
.sitemap_wrap .section ul li {height:23px; line-height:23px; font-size:13px; letter-spacing:-1px; color:#686e70; padding-left:10px; background:url(http://img.enuri.info/images/SiteMap/2014/bul_sq_gray.gif)  0 12px no-repeat;}
.sitemap_wrap .section ul li  a {color:#686e70;}
.sitemap_wrap .section ul li  a:hover {color:#0071bd; text-decoration:underline; }
.sitemap_wrap .section ul li  a > .icon {margin:8px 0 0 6px; *margin:5px 0 0 6px; }









