@charset "utf-8";

@import url("default.css");

html{overflow-y : scroll;}

/* 나눔고딕
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 800;
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot);
  src: url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/nanumgothic/v5/NanumGothic-ExtraBold.ttf) format('truetype');
}
 */


.wrap{min-width:1106px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/body_bg.gif) left top repeat-x;}
.wrap .content{width:1000px; margin:0 auto; position:relative; z-index:10}
.wrap .content:after {clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.wrap .top_area{height:219px; }
.wrap .top_area .content{position:static; }

#ly_more{width:100%; height:111px; position:absolute; top:30px; z-index:9999;left:-105px; }
#ly_more ul{width:1205px; margin:0 auto;  }
#ly_more ul li{ float:right; margin-right:0}
 

/* 검색영역 */
.imgall{background:url(http://imgenuri.enuri.gscdn.com/images/deal/common.png) 0 0 no-repeat ;}
.enuri_search{float:left; width:320px; position:relative; }
.enuri_search h1{background-position:0 0; margin-top:5px; width:93px; height:32px; float:left;}
.enuri_search h1 a{text-indent:-9999em; display:block;height:20px; }
.enuri_search fieldset{float:left; background-position:0 -37px; width:213px; height:40px;}
.enuri_search input{width:135px; margin:13px 0 0 8px; border:none;}
.enuri_search button{ width:56px; height:31px; border:none; text-indent:-9999em; position:absolute; left:246px; top:4px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/common.png) -153px -40px no-repeat; }
.top_area .category{float:right; margin-top:16px;}
.top_area .category li{float:left; }
.top_area .category li a{color:#666666; padding:0 13px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/line.gif) 0 1px no-repeat; }
.top_area .category li:first-child a{background:none; }

.hotdeal_search{height:102px; padding-top:23px; width:100%; float:left;}
.hotdeal_search h2{background-position:0 -95px; width:200px; height:54px; margin-left:160px;float:left;}
.hotdeal_search h2 a{text-indent:-9999em; display:block;width:182px; height:54px; }
.hotdeal_search .searcharea{width:460px; height:34px; border:3px solid #e60100; float:left; position:relative; z-index:1000}
.hotdeal_search .searcharea input{width:400px; padding:5px; margin-top:3px;border:none; font-size:14px; font-weight:bold;}
.hotdeal_search .searcharea button{position:absolute; right:0px; top:-3px; width:52px; height:40px; background-position:0 -170px; border:none; text-indent:-9999em; }

.hotdeal_search .searcharea .keyword{width:462px; position:absolute; left:-2px; top:48px; text-align:center; }
.hotdeal_search .searcharea .keyword li{display:inline; }
.hotdeal_search .searcharea .keyword li a{color:#666666; padding:0 4px 0 8px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/line.gif) 0 -39px no-repeat; }
.hotdeal_search .searcharea .keyword li:first-child a{background:none; }
.hotdeal_search .searcharea .keyword li a:hover{text-decoration:underline;}

.auto_search{position:absolute; left:-3px; top:36px; border:1px solid #e60100; width:410px; padding:7px 0 25px 0; background:#ffffff; z-index:5; overflow:hidden;}
.auto_search ul li{position:relative;}
.auto_search ul li a{color:#444444; padding:4px 22px 2px 10px; display:block; }
.auto_search ul li span{margin:-9999em;}
.auto_search ul li:hover{background:#efefef; }
.auto_search ul li:hover span{margin:0; cursor:pointer}
.auto_search ul li .search_del{width:16px; height:16px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_close.gif) 0 0 no-repeat; position:absolute; right:2px; top:2px; text-indent:-9999em; }
.auto_search .save_out a{position:absolute; right:5px; bottom:5px; font-size:11px; text-decoration:underline; color:#818181; }

.leftArea{float:left;position:relative;z-index:1 }
.rightArea{width:117px; position:absolute; right:-128px; top:33px; z-index:100000}

/* GNB */
.gnb{width:1000px; }
.gnb:after {clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}

.gnb li{width:200px; height:54px; float:left; position:relative; z-index:100 }
.gnb li a{text-indent:-9999em;display:block; width:200px; height:54px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/gnb.gif) 0 0 no-repeat; }
.gnb li.n01 a{background-position:0 0;}
.gnb li.n02 a{background-position:-200px 0;}
.gnb li.n03 a{background-position:-400px 0;}
.gnb li.n04 a{background-position:-600px 0;}
.gnb li.n05 a{background-position:-800px 0;}

.gnb li.n01 .on{background-position:0 -54px;}
.gnb li.n02 .on{background-position:-200px -54px;}
.gnb li.n03 .on{background-position:-400px -54px;}
.gnb li.n04 .on{background-position:-600px -54px;}
.gnb li.n05 .on{background-position:-800px -54px;}

.gnb li.on_01 a{background-position:0 -108px;}
.gnb li.on_02 a{background-position:-200px -108px;}
.gnb li.on_03 a{background-position:-400px -108px;}
.gnb li.on_04 a{background-position:-600px -108px;}
.gnb li.on_05 a{background-position:-800px -108px;}

.gnb li ul{background:#ffffff; border:1px solid #c20100; border-top:none; position:absolute; left:-1px; top:54px; z-index:1000; width:199px; padding:10px 0;}
.gnb li ul li{height:38px; }
.gnb li ul li a{background:none; text-indent:0; color:#666666; padding-left:28px; width:165px; line-height:38px;}
.gnb li ul li a:hover{font-weight:bold;}
.gnb li ul li a img{vertical-align:middle; margin:-1px 5px 0 -7px; }

.gnb li ul.shopping{left:-1px; width:399px; float:left;}
.gnb li ul.shopping li{float:left; width:193px;}
.gnb li ul.shopping li a{padding-left:28px; width:165px;}

/* 투데이핫 
.carouselWrap{width:975px;height:360px; background:#b2b4be;position:relative; overflow:hidden; margin-top:10px;}
.carouselPrev{z-index:10; position:absolute;top:0;left:0px;cursor:pointer; background:url(http://imgenuri.enuri.gscdn.com/images/deal/today_hot_bull.png) 0 0 no-repeat; width:100px; height:376px; text-indent:-9999em;}
.carouselNext{z-index:10; position:absolute; top:0px; right:0; cursor:pointer; background:url(http://imgenuri.enuri.gscdn.com/images/deal/today_hot_bull.png) right 0 no-repeat; width:100px; height:376px; text-indent:-9999em;}
.carousel{width:100%; height:100%; overflow:hidden;}
.carouselInner .column{width:828px;list-style-type:none; float:left; padding-top:15px; }
.carouselInner .column .ss{float:left; width:260px; height:345px; margin:0 8px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/bg_hot.png) -6px -18px no-repeat; overflow:hidden; }
.carouselInner .column .ss a{width:260px; height:345px; display:block; position:relative; }
.carouselInner .column .ss img{border:none; width:260px; height:259px;}
.carouselInner .column .ss .ico_mall{width:105px; height:30px; right:-4px; top:0px; position:absolute;}
.carouselInner .column .ss strong{height:32px; display:block; color:#555555; font-size:14px; padding:4px 5px 0px 6px; overflow:hidden; margin-bottom:4px;}
.carouselInner .column .ss .price{color:#222222; font-family:tahoma; font-size:18px; padding:0px 0 0 7px; position:relative; }
.carouselInner .column .ss .price em{font-size:12px;}
.carouselInner .column .ss .price .per{position:absolute; right:10px; bottom:-3px; color:#f62c2c; font-size:32px; font-family:tahoma; }
.carouselInner .column .ss .price .per em{font-size:20px;}
.carouselInner .column .ss .social{color:#f62c2c; font-size:18px; text-align:right; padding-right:10px; font-weight:bold; }
.dot{font-family:dotum;}
.carouselInner .column .ss .price .sptxt{position:absolute; right:10px; bottom:0px; color:#f62c2c;  font-size:18px; font-family:Malgun Gothic; }*/

/* 오른쪽영역 */
.mall_area{border:1px solid #d6d6d6; border-top:none; border-bottom:none; }
.mall_area dt{margin-top:-1px; font-size:11px; text-align:center; height:26px; padding-top:13px; border-bottom:1px solid #d6d6d6;border-top:1px solid #d6d6d6; font-weight:bold; letter-spacing:-1px; cursor:pointer; position:relative;}
.mall_area dt span{font-size:11px; font-family:tahoma; position:absolute; right:10px; top:13px;}
.mall_area dd{width:117px; }
.mall_area .mallList{display:block; width:114px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/mall.gif) 0 0 no-repeat; padding:0 0 5px 0px;  }
.mall_area .mallList li{width:110px; padding-left:5px;}
.mall_area .mallList li a{font-size:11px; color:#999999; line-height:20px; width:100%; letter-spacing:-1px;  }
.mall_area .mallList li.impor{float:left; width:50px; height:26px; margin-bottom:3px;}
.mall_area .mallList li.impor a{width:50px; height:26px; text-indent:-9999em; display:block; }

.mall_area .prodList{padding:13px 0 0 14px; }
.mall_area .prodList li .img_no{background:#ffffff; text-align:center; display:block; height:58px; padding-top:27px; color:#000000; }
.mall_area .prodList li{width:85px; height:85px; background:#ececec; position:relative; margin-bottom:13px; z-index:100000; }
.mall_area .prodList li img.Thum{width:85px; height:85px; }
.mall_area .prodList li .tooltip{position:absolute; right:-2px; top:-2px; width:252px; height:81px; border:2px solid #616576; height:85px; overflow:hidden; z-index:100;}
.mall_area .prodList li .tooltip .mall_n{font-size:11px; color:#888888; display:block; background:#ffffff; width:150px; height:20px; padding:10px 0 0 10px;  }
.mall_area .prodList li .tooltip .mall_t{display:block; background:#ffffff; width:150px; padding:5px 0; padding-left:10px; color:#555555; letter-spacing:-1px; height:20px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis;  }
.mall_area .prodList li .tooltip strong{text-align:right; display:block;background:#ffffff; width:150px; color:#2485fb; font-size:18px; font-family:tahoma; font-weight:normal; height:40px; padding-left:10px;}
.mall_area .prodList li .tooltip strong em{font-family:dotum; font-size:12px; color:#000000 }
.mall_area .prodList li .tooltip .btn_close{position:absolute; right:0; top:0; width:13px; height:13px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/wing_close.gif) 0 0px no-repeat; text-indent:-9999em;}

.mall_area dd .paging{text-align:center; height:30px; padding:0 0 0 20px;}
.mall_area dd .paging img{display:inline; float:left;}
.btn_top{border:1px solid #d6d6d6;background:#f1f1f1; padding-top:5px; height:21px; width:115px; text-align:center; display:block; font-family:tahoma; font-weight:bold; margin-top:-1px;}
.btn_top span{background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_top.gif) 0 6px no-repeat; padding-left:10px; color:#444444; }


/* 핫클릭 */
.hot_click{width:1000px; float:left; padding-bottom:20px; }
.hot_click:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.hot_click h3{background:url(http://imgenuri.enuri.gscdn.com/images/deal/tit_hotclick.gif) -3px bottom no-repeat; height:24px; width:100%; text-indent:-9999em; margin:0px 0 8px 0; }
.hot_click h3.search{background:url(http://imgenuri.enuri.gscdn.com/images/deal/tit_hotclick.gif) -3px bottom no-repeat; height:24px; width:100%; text-indent:-9999em; margin:38px 0 -10px 0; }
.hot_list{float:left; position:relative; border:1px solid #dedede; padding-bottom:10px; width:973px;}
.hot_list .more_btn{position:absolute; bottom:-19px; right:-1px; width:75px; height:19px; border:0; background:url(http://imgenuri.enuri.gscdn.com/images/deal/btn_more.gif) 0 0 no-repeat; text-indent:-9999em;  }
.hot_list .more_btn02{position:absolute; bottom:-19px; right:-1px; width:75px; height:19px; border:0; background:url(http://imgenuri.enuri.gscdn.com/images/deal/btn_more.gif) 0 bottom no-repeat; text-indent:-9999em;  }
.category_f{height:69px; padding:10px 0 0 26px; border-bottom:1px #dedede solid}
.category_f li{display:inline; float:left; width:184px; line-height:30px;}
.category_f li a{color:#333333; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_dot.gif) 0 4px no-repeat; padding-left:8px; }

.category_location{width:975px; text-align:center; height:30px; padding-top:12px;}
.category_location li{display:inline; padding:0px 45px}
.category_location li a{font-size:11px; color:#666666; }
.category_location li a.on{color:#444444; font-weight:bold; text-decoration:underline;}

.location_detail{padding-left:86px;}
.location_detail ul{float:left; width:100%}
.location_detail ul li{width:175px; float:left; color:#999999; line-height:30px; }
.location_detail ul li input{vertical-align:middle; margin:-1px 4px 0 0;}

.hot_view{border:2px solid #bbbbbb; float:left; width:996px; }
.hot_view:after {clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.hot_view .hit_list{padding-left:91px; position:relative; float:left; width:1000px;}
.hot_view .hit_list dt{position:absolute; left:0; top:0; color:#888888; border-bottom:1px solid #bbbbbb; border-right:1px solid #bbbbbb; background:#f1f1f1;height:51px; width:91px; display:block; text-align:center; padding-top:26px }
.hot_view .hit_list dt.location{top:78px; height:26px; padding-top:12px; }
.hot_view .hit_list dd.location{width:884px;}
.hot_view .hit_list dd{float:left; width:160px; padding-left:20px; border-left:1px solid #e5e5e5; line-height:38px; border-bottom:1px solid #e5e5e5;}
.hot_view .hit_list dd.line{border-bottom:1px solid #bbbbbb;}

.hot_view .hit_list dd.location ul li{display:inline; padding:0 33px; float:left;}
.hot_view .hit_list dd.location ul li:first-child{padding-left:0;}
.hot_view .hit_list dd.location ul li a.on{color: #333333; font-weight: bold;}

.hot_view .hit_list dd a{color: #666666;}
.hot_view .hit_list dd a.on{color:#333333; font-weight:bold; }
.hot_view .hit_list dd span{display:inline-block; width:74px;}
.hot_view .hit_list dd span.br{background: url(http://imgenuri.enuri.gscdn.com/images/deal/ico_dot.gif) 0 0 repeat-y;  padding-left:10px;}

.shop_all dt{float:left; width:269px; line-height:38px; text-align:center; border-right:1px solid #e5e5e5;}
.shop_all dt span{cursor:pointer;display:inline-block; width:137px; border-bottom:1px solid #636773; text-align:center; background:#818591; color:#ffffff; line-height:30px; }
.shop_all dt em.down{background: url(http://imgenuri.enuri.gscdn.com/images/deal/bullet_all.gif) right 7px no-repeat; padding-right:18px; display:inline-block;}
.shop_all dt em.up{background: url(http://imgenuri.enuri.gscdn.com/images/deal/bullet_all.gif) right -30px no-repeat; padding-right:18px; display:inline-block;}
.shop_all dd{float:left; line-height:38px; margin:0 20px 0 6px; color:#333333;  }
.shop_all dd{.letter-spacing:-1px;}
.shop_all dd input{vertical-align:middle; margin: -3px 2px 0 0}
.shop_all dd img{vertical-align:middle; margin: -3px 2px 0 0}
.shop_view{position:relative; float:left; z-index:100000}
.shop_all dd label{cursor:pointer;}
.shop_all dd label.on{font-weight:bold; }

.shoplist{position:absolute; right:-2px; top:42px; border:1px solid #818591; background:#ffffff; width:708px; z-index:1000}
.shoplist ul{padding:15px; float:left; width:678px;}
.shoplist li{display:inline; width:135px; float:left; color:#888888; line-height:30px; letter-spacing:-1px;}
.shoplist .btn_close{position:absolute; right:5px; top:5px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/btn_close.gif) 0 0; width:14px; height:13px; text-indent:-9999em;}
.shoplist li input{vertical-align:middle; margin: -3px 2px 0 0}
.shoplist .layerbtn{position:absolute; right:7px; bottom:7px; }
.shoplist .layerbtn img{margin:0 2px;}

.shop_view .shop_detail{height:40px; padding:0px 0 0 27px; width:969px; }
.shop_view .shop_detail li{float:left; padding:14px 41px 0 0; height:26px;}
.shop_view .shop_detail li{.padding-right:34px}
.shop_view .shop_detail li.on{font-weight:bold; color:#333333}
.shop_view .shop_detail li input{vertical-align:middle; margin:-3px 3px 0 0}
.shop_view .shop_detail li.selbox{width:179px; border-left:1px solid #bbbbbb; text-align:center; padding-right:0;}
.shop_view .shop_detail li.selbox .date{font-weight:bold; color:#333333; }
.shop_view .shop_detail li.selbox a{color:#666666; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_sel_bullet.gif) right -2px no-repeat; padding-right:17px; }
.shop_view .shop_detail li.selbox .more_close{background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_sel_bullet02.gif) right -2px no-repeat; padding-right:17px; }

.calendar{position:absolute; right:180px; top:42px; border:1px solid #818591; background:#ffffff; width:186px; padding:6px 0 6px 12px;  z-index:1000}
.calendar .year{width:176px; border-top:1px solid #cacaca; border-bottom:1px solid #cacaca; padding:7px 0; font-family:tahoma; text-align:center; font-weight:bold; }
.calendar .year span{background:url(http://imgenuri.enuri.gscdn.com/images/deal/bull_cal.gif) 0 0 no-repeat; cursor:pointer; text-indent:-9999em; }
.calendar .year .c_back{width:26px; height:18px; background-position:10px 5px; position:absolute; left:10px; top:10px;}
.calendar .year .c_next{width:26px; height:18px; background-position:10px -34px; position:absolute; right:10px; top:10px;}
.calendar table{margin:10px 0 0 0; width:177px;}
.calendar table th{font-size:11px; padding:5px 0;}
.calendar table th.sun{color:#f62c2c; }
.calendar table td{font-size:11px; font-size:10px; font-family:tahoma; font-weight:bold; font-weight:bold; text-align:center;  padding:5px 0; border:1px solid #ffffff; cursor:pointer}
.calendar table td.sun{color:#f62c2c; }
.calendar table .visiable{opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); }
.calendar table td.select{background:#f1c6cc;}
.calendar table td:hover{border:1px solid #cfaab0}


/* 상품리스트 */
.align_list{width:100%; clear:both; padding-bottom:10px;}
.align_list:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.align_list li{margin-right:10px; display:inline;}
.align_list li a{font-size:11px; color:#777777; padding-left:14px;  background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 7px -45px no-repeat;}
.align_list li a.on{background-position:0 -1px; font-weight:bold;}

.prod_list{width:1000px; overflow:hidden; padding-top:3px;}
.prod_list:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.prod_thum{float:left; width:1100px;}
.prod_thum li{float:left; width:313px; border:1px solid #c3c3c3; position:relative; margin:0 24px 25px 2px; height:476px;}
.prod_thum li .thum{width:313px; height:313px; }
.prod_thum li .overborder{display:none;}
.prod_thum li.on .overborder{display:block; border:2px solid #de1818; position:absolute; left:-1px; top:-1px; width:311px; height:474px; z-index:1000;}
.prod_thum li.on .clickimg{position:absolute; left:0; top:278px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/img_click.png) 0px 0 no-repeat; width:313px; height:35px; text-indent:-9999em; z-index:10}
.prod_thum li:hover .overborder{display:block; border:2px solid #de1818; position:absolute; left:-1px; top:-1px; width:311px; height:474px; z-index:1000;}

.prod_thum li .info{height:23px; position:relative; font-size:11px; color:#999999; padding:2px 0 0 10px; z-index:1000 }
.prod_thum li .info{.height:20px; .padding:5px 0 0 10px; }
.prod_thum li .info .dong{text-overflow:ellipsis; line-height:18px;background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 0px -85px no-repeat; padding:0px 100px 0 16px; display:block; overflow:hidden; height:17px;}
.prod_thum li .info .dong a{color:#999999}
.prod_thum li .info .basic{padding:3px 0 0 0; display:block; height:21px; }
.prod_thum li .buy{position:absolute; right:10px; bottom:6px; font-size:11px; color:#999999;}
.prod_thum li .buy em{font-family:tahoma; color:#666666; font-weight:bold; }

.prod_thum li .prod_info{border-top:1px solid #eaeaea; border-bottom:1px solid #eaeaea; padding:0 0 0 10px; height:105px; position:relative; }
.prod_thum li .prod_info .mall{display:block; font-size:11px; color:#666666; padding:9px 0 3px 0}
.prod_thum li .prod_info .price{display:block; padding:0 10px 10px 0px; text-align:right; }
.prod_thum li .prod_info .price em{color:#aaa9a9; font-family:tahoma; text-decoration:line-through; margin-right:7px;}
.prod_thum li .prod_info .price strong{font-family:tahoma; color:#0072bc; font-size:24px; display:inline; }

.prod_thum li .info p{position:absolute; right:0; top:2px; z-index:1000}
.prod_thum li .info p{.top:5px}
.prod_thum li .info p .good{cursor:pointer; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 3px -371px no-repeat; display:inline-block; text-align:right; font-size:11px; color:#aaaaaa; padding:3px 3px 0px 20px;}
.prod_thum li .info p .good:hover .mnt{display:block;}
.prod_thum li .info p .good .mnt{ z-index:100; display:none; position:absolute; right:0px; top:19px; width:146px; height:44px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/img_good.png) 0 0 no-repeat; text-indent:-9999em !importnat}
.prod_thum li .info p .zzim{cursor:pointer; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 0px -446px no-repeat; display:inline-block; text-align:right; font-size:11px; color:#aaaaaa; padding:3px 5px 0px 22px;}
.prod_thum li .info p .good:hover{color:#666666; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 2px -389px no-repeat;}
.prod_thum li .info p .zzim:hover, .prod_thum li .info p .zzim.on{color:#666666; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 0px -463px no-repeat;}

.prod_thum .prod_info .tit{display:block; color:#666666; height: 36px; line-height:18px; overflow:hidden; font-size:15px; font-family:malgun gothic; width:220px;}
.prod_thum .prod_info .tit a{color:#666666; }
.prod_thum .prod_info .special{letter-spacing:-1px; text-align:center; font-family:Malgun Gothic; font-size:20px; color:#ffffff; width:65px; height:52px;padding-top:5px;  position:absolute; top:0; right:9px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 0 -240px no-repeat; display:block; }
.prod_thum .prod_info .per{font-weight:bold; letter-spacing:-1px; text-align:center; font-family:tahoma; font-size:24px; color:#ffffff; width:65px; height:52px;padding-top:5px;  position:absolute; top:0; right:9px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 0 -240px no-repeat; display:block; }
.prod_thum .prod_info .per em{font-size:16px; font-weight:normal;}

.prod_thum li .num{display:block; width:35px; height:37px; padding-top:8px; text-align:center; color:#000; font-family:tahoma; font-size:16px; position:absolute; left:-1px; top:-1px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_product.png) 0px -132px no-repeat; z-index:10000}
.prod_thum li .ing{display:block; padding:6px 0 0 5px}
.prod_thum li .ing{.padding:7px 0 0 5px}
.prod_thum li .ing em{width:49px; height:16px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/img_ing.gif) 0 0 no-repeat; text-indent:-9999em; display:block; float:left; margin-right:2px;}
.prod_thum li .ing .ing01{background-position:0 0;}
.prod_thum li .ing .ing02{background-position:-51px 0;}
.prod_thum li .ing .ing03{background-position:-102px 0; width:47px;}
.prod_thum li .ing .ing04{background-position:-151px 0 ; width:47px;}

.prod_thum li .click_prod{z-index:100000; position:absolute; top:287px; left:0; width:100%; height:35px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/bg_click.png) 0 0 no-repeat; text-indent:-9999em; }
.prod_thum li .ser{position:absolute; top:292px; left:0; background: url(http://imgenuri.enuri.gscdn.com/images/deal/png60.png); padding:4px 5px; color:#ffffff; font-size:11px;}

.prod_thum li.click{border:1px solid #de1818 !important; }
.catelink{color:#999999;}

/* 푸터 */
.Footer{width:1000px; padding:40px 0; float:left;}
.tblFooter{width: 1000px; background-color: #f3f3f3; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; text-align: center; padding:5px 0}
.tblFooter li{display:inline; padding:5px 30px; }
.tblFooter li a{color:#666666; font-size:11px; }
.m_footer {position:relative;width:1000px;height:108px;margin-left:70px;}
.main .m_footer {width:883px;margin:0 auto;}
.m_footer .m_footLogo {position:absolute;top:20px;left:24px;}
.m_footer .m_footInner {padding:17px 0 0 146px;font:11px/1.6 '돋움', Dotum;letter-spacing:-1px;}
.m_footer .m_footInner .m_enuriDec {color:#4984b5;}
.m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}
.m_footer .m_footInner .m_enuriInfo {color:#888;}
.m_footer .m_footInner .m_enuriInfo span {color:#888;margin:0 0 0 3px;padding:0 0 0 7px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_foot_bar.gif) no-repeat 0 1px;}
.m_footer .m_footInner .m_enuriInfo img {vertical-align:middle;}
.m_footer .m_footInner .m_copyright {margin:8px 0 0;color:#686868;}
.m_footer p {margin:0px;padding:0px}

/* 검색결과 레이어 */
.search_result{width:393px; height:148px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/bg_layer.png) no-repeat 0 0px; position:absolute; left:290px; top:38px; z-index:1000000; }
.search_result div{width:277px; margin:0 auto;}
.search_result .btn_close{position:absolute; right:10px; top:10px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/btn_close.gif) 0 0; width:14px; height:13px; text-indent:-9999em;}
.search_result p{margin:33px 0 15px 0; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_mark.gif) no-repeat 0 0px; height:27px; padding:5px 0 0 30px; font-size:14px; color:#333333; font-weight:bold;}
.search_result  ul li{background:url(http://img.enuri.gscdn.com/2014/main/images/bl_2x2.gif) 0 6px no-repeat; padding-left:10px; line-height:18px;}

.sub_start{position:relative; padding-top:10px;}
.sub_start .rightArea{top:0; }

/* gnb 3depth */
.threeDepth{border-bottom:1px solid #cccccc; }
.shop_menu{text-align:center; margin:0 auto; width:998px;}
.shop_menu li{display:inline; text-align:center; width:94px; height:34px; margin:0 10px;}
.shop_menu li a{font-size:11px; height:19px; display:inline-block; color:#666666; padding:76px 0 18px 0; text-align:center; margin:0 auto; background:url(http://imgenuri.enuri.gscdn.com/images/deal/bg_shopping.gif) 0 0 no-repeat; }
.shop_menu li a:hover, .shop_menu li a.on{border-bottom:3px solid #c60404; color:#c60404; font-weight:bold; height:16px; }

.shop_menu li.sh01 a{background-position:-40px 4px; width:40px;}
.shop_menu li.sh02 a{background-position:-135px 4px; width:40px;}
.shop_menu li.sh03 a{background-position:-225px 4px; width:40px;}
.shop_menu li.sh04 a{background-position:-324px 4px; width:40px;}
.shop_menu li.sh05 a{background-position:-400px 4px; width:79px;}
.shop_menu li.sh06 a{background-position:-500px 4px; width:67px;}
.shop_menu li.sh07 a{background-position:-597px 4px; width:67px;}
.shop_menu li.sh08 a{background-position:-686px 4px; width:79px;}
.shop_menu li.sh09 a{background-position:-794px 4px; width:52px;}
.shop_menu li.sh10 a{background-position:-880px 4px; width:76px;}
.shop_menu li.sh11 a{background-position:-963px 4px; width:67px;}
.shop_menu li.sh12 a{background-position:-1052px 4px; width:52px;}

.shop_menu li.tr01 a{background-position:-40px -115px; width:40px;}
.shop_menu li.tr02 a{background-position:-127px -115px; width:65px;}
.shop_menu li.tr03 a{background-position:-226px -115px; width:65px;}
.shop_menu li.tr04 a{background-position:-328px -115px; width:65px;}
.shop_menu li.tr05 a{background-position:-423px -115px; width:79px;}
.shop_menu li.tr06 a{background-position:-518px -115px; width:95px;}
.shop_menu li.tr07 a{background-position:-630px -115px; width:79px;}

.shop_menu li.sw01 a{background-position:-40px -236px; width:40px;}
.shop_menu li.sw02 a{background-position:-130px -236px; width:65px;}
.shop_menu li.sw03 a{background-position:-226px -236px; width:79px;}
.shop_menu li.sw04 a{background-position:-322px -236px; width:82px;}
.shop_menu li.sw05 a{background-position:-423px -236px; width:85px;}

.hot_click .sub_searcharea{position:relative; padding-bottom:5px; margin-top:30px;}
.hot_click .sub_searcharea .prod_all{color:#333333; padding-left:3px;}
.hot_click .sub_searcharea .prod_all em{color:#d14141; font-family:tahoma; font-size:14px}
.hot_click .sub_searcharea .sub_search{position:absolute; right:0; bottom:5px; width:248px; height:23px; border:1px solid #d14141; }
.hot_click .sub_searcharea .sub_search button{font-family:dotum; background:#d14141; color:#ffffff; padding:0 10px; width:50px; height:23px; border:none; text-align:center; position:absolute; right:-1px; top:0;}
.hot_click .sub_searcharea .sub_search input{width:181px; padding:0 5px; margin-top:4px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/txt_input.gif) no-repeat 5px 1px; border:none;  }
.hot_click .sub_searcharea .sub_search input.focus{background:#ffffff !important;}

.menu_3depth{margin-bottom:10px; float:left;border:1px solid #cccccc; width:998px; overflow:hidden}
.menu_3depth ul{width:1010px;}
.menu_3depth ul li{border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; float:left; width:201px; line-height:39px; letter-spacing:-1px; margin:-1px 0 0 -1px; }
.menu_3depth ul li.on{font-weight:bold; }
.menu_3depth ul li.on a{color:#ffffff; background: url(http://imgenuri.enuri.gscdn.com/images/deal/ico_sub_dot.gif) -55px -55px no-repeat #777777; }
.menu_3depth ul li a{padding-left:20px; line-height:39px; display:block; }
.menu_3depth ul li a:hover{font-weight:bold;}
.menu_3depth ul li.wd{width:197px}
.menu_3depth ul li a{color:#666666; }
.menu_3depth ul li.lastline{border-bottom:none}

.menu_4depth{background:#eeeeee; margin-bottom:10px; float:left; width:1000px}
.menu_4depth li{display:inline; line-height:41px; }
.menu_4depth li a{color:#777777; padding-left:30px; width:109px; display:inline-block; background: url(http://imgenuri.enuri.gscdn.com/images/deal/ico_sub_dot.gif) 20px 18px no-repeat;}
.menu_4depth li a:hover{color:#555555; }
.menu_4depth li a.on{font-weight:bold; color:#555555; background: url(http://imgenuri.enuri.gscdn.com/images/deal/ico_sub_dot.gif) 20px -69px no-repeat;}

/* 검색결과 */
.keyword_result{width:100%; margin:30px 0 20px 0 }
.keyword_result .keyword{display:block; padding:0 0 10px 5px; }
.keyword_result .keyword strong{color:#c60404; font-size:14px; margin-right:3px;}
.keyword_result .key_view{border-top:1px solid #c7c7c7; border-bottom:1px solid #c7c7c7; text-align:center; padding:18px 0;}
.keyword_result .key_view li{display:inline; text-align:center; }
.keyword_result .key_view li a{color:#666666;display:inline-block;width:190px; }
.keyword_result .key_view li a.on, .keyword_result .key_view li a:hover{color:#666666; font-weight:bold; }

.search_msg{background:#f1f1f1; padding:20px 0; text-align:center; }
.search_msg strong{display:block; font-size:14px; color:#333333; padding:10px 0 20px 0}
.search_msg strong em{color:#c60404; margin-right:3px; }
.search_msg .btnarea{padding-top:20px; width:630px; padding-left:345px; height:30px;}
.search_msg .btnarea span{cursor:pointer; width:130px; height:30px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/btn_search_result.gif) no-repeat; float:left; text-indent:-9999em; margin:0 4px; }
.search_msg .btnarea span.btn_prev{background-position:0 0;}
.search_msg .btnarea span.btn_prev:hover{background-position:0 -31px;}
.search_msg .btnarea span.btn_next{background-position:-140px 0;}
.search_msg .btnarea span.btn_next:hover{background-position:-140px -31px;}

.search_msg ul{text-align:left; margin:0 auto; width:260px;}
.search_msg ul li{color:#333333; line-height:18px;}
.search_msg ul ol li{font-size:11px; color:#666666; padding-left:10px;}

/* 지역 (기존 class에 _2추가) */
.loca_content{width:1000px; margin:0 auto; padding-bottom:20px;}
.loca_content:after{content:""; display:block; clear:both;}
.menu_3depth_2 {float:left;}
.menu_3depth_2 ul{padding-left:1px;}
.menu_3depth_2 ul li{border:1px solid #ccc; float:left; width:248px; line-height:34px; letter-spacing:0; margin:-1px 0 0 -1px;}
.menu_3depth_2 li:first-child {width:251px;}
.menu_3depth_2 ul li a:hover {font-weight:bold;}
.menu_3depth_2 ul li.on{border:1px solid #46495b; background:#616576;}
.menu_3depth_2 ul li.on a{color:#ffffff; font-weight:bold;}
.menu_3depth_2 ul li a{padding-left:20px; line-height:34px; display:block; }
.menu_3depth_2 ul li.wd{width:197px}
.menu_3depth_2 ul li a{color:#666666; }

.menu_4depth_2 {float:left; width:998px; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-left:1px solid #ccc; background:#eeeeee;}
.menu_4depth_2 li{display:inline; line-height:41px; }
.menu_4depth_2 li a{color:#777777; padding-left:30px; width:109px; display:inline-block; background: url(http://imgenuri.enuri.gscdn.com/images/deal/ico_sub_dot.gif) 20px 18px no-repeat;}
.menu_4depth_2 li a:hover{color:#555555}
.menu_4depth_2 li a.on{font-weight:bold; color:#555555 }

.menu_5depth_2 {float:left; width:959px; padding:0 18px 0 21px;  margin-bottom:20px; border:1px solid #ccc;  border-top:none;}
.menu_5depth_2 .areasel_top  {float:left; width:959px; line-height:41px;}
.menu_5depth_2 .areasel_top:after {content:""; display:block; clear:both;}
.menu_5depth_2 .areasel_top dt {float:left; width:204px; }
.menu_5depth_2 .areasel_top dt{.padding-top:12px}
.menu_5depth_2 .areasel_top dt * {vertical-align:middle;}
.menu_5depth_2 .areasel_top dt img {margin:0 8px 0 3px;}
.menu_5depth_2 .areasel_top dt strong  {display:inline-block; color:#313131;  line-height:1; padding-right:10px; background: url(http://imgenuri.enuri.gscdn.com/images/deal/icon_arrowr.gif) no-repeat 100% 1px;}
.menu_5depth_2 .areasel_top dd {float:left;}
    .menu_5depth_2 .areasel_top dd.areaW1 {width:80px;}
    .menu_5depth_2 .areasel_top dd.areaW2 {width:79px;}
    .menu_5depth_2 .areasel_top dd.areaW3 {width:106px;}
    .menu_5depth_2 .areasel_top dd.areaW4 {width:76px;}
    .menu_5depth_2 .areasel_top dd.areaW5 {width:76px;}

    .menu_5depth_2 .areasel_top dd.areaW6 {width:76px;}
    .menu_5depth_2 .areasel_top dd.areaW7 {width:76px;}
    .menu_5depth_2 .areasel_top dd.areaW8 {width:105px;}
    .menu_5depth_2 .areasel_top dd.areaW9 {width:56px;}
.menu_5depth_2 .areasel_top dd a {color:#666;}
.menu_5depth_2 .areasel_top dd a.on {font-weight:bold; color:#c60404;}

.menu_5depth_2 .areasel_detail {position:relative; float:left; width:947px; padding:13px 6px 10px 6px;  background: url(http://imgenuri.enuri.gscdn.com/images/deal/bul_doline_gray.gif) repeat-x 50% 0;}
.menu_5depth_2 .areasel_detail:after {content:""; display:block; clear:both;}
.menu_5depth_2 .areasel_detail dl{width:100%;}
.menu_5depth_2 .areasel_detail dl:after {content:""; display:block; clear:both;}
.menu_5depth_2 .areasel_detail dl dd {float:left; width:188px; line-height:29px;}
.menu_5depth_2 .areasel_detail dl dd input[type=checkbox] {margin:-3px 2px 0 0; vertical-align:middle;}
.menu_5depth_2 .areasel_detail dl dd label {color:#999;}

.menu_5depth_2 .areasel_detail  .btn_close {position:absolute; bottom:5px; right:-20px; padding-right:20px; text-align:center; font-family:"돋움", doum; font-size:11px; color:#999;  background: url(http://imgenuri.enuri.gscdn.com/images/deal/btn_location.png) 24px -83px no-repeat }

.areasel_detail ul{width:260px;margin:0 auto; height:27px; margin-top:10px}
.areasel_detail ul li{float:left; }
.areasel_detail ul li a{background: url(http://imgenuri.enuri.gscdn.com/images/deal/btn_location.png) no-repeat 0 0; width:130px; height:27px; display:block; text-indent:-9999em}
.areasel_detail ul li a.loca_search{background-position:0 0;}
.areasel_detail ul li a.loca_search:hover{background-position:0 -27px;}
.areasel_detail ul li a.refresh{background-position:-130px 0 ;}
.areasel_detail ul li a.refresh:hover{background-position:-130px -27px;}

/* 팝업 */
.popup{width:700px; height:550px;   margin:0 auto;}
.popup .close{position:absolute; margin-left:667px}
.popup .popup_top {padding:25px 25px 10px 25px; height:110px;background-color:#f0f0f0; }
.popup .popup_top li.photo{ height:96px; width:96px; margin-right:10px; float:left; }
.popup .popup_top li.title a { text-decoration:none}
.popup .popup_top li.title{ height:65px; width:544px; float:left; }
.popup .popup_top li.title dt{color:#666; font-size:14px; font-weight:bold; line-height:2; margin-left:-2px}
.popup .popup_top li.title dd{ line-height:1.2; color:#999 ; font-size:11px}
.popup .popup_top li.subTxt {  float:left ;width:544px;}
.popup .popup_top li.subTxt dt {float:left;}
.popup .popup_top li.subTxt dt span.per{display:inline-block;  width:60px; padding-right:3px; color:#de1818; font-size:17px; font-family:tahoma,"돋움", dotum;}
.popup .popup_top li.subTxt dt span.per strong {font-size:30px; }
.popup .popup_top li.subTxt dt span.price{font-size:15px;color:#666;  font-size:12px;  font-family:"돋움", dotum;}
.popup .popup_top li.subTxt dt span.price strong { font-weight:bold; color:#0072bc; font-size:24px;  font-family:tahoma,"돋움", dotum;}
.popup .popup_top li.subTxt dt span.specail{display:inline-block; padding-right:3px; color:#de1818; font-size:17px; font-family:"돋움", dotum;}
.popup .popup_top li.subTxt dt span.specail strong {color:#de1818; font-size:22px; vertical-align:2px;}
.popup .popup_top li.subTxt dd  { line-height:1.4; color:#999; /*width:370px;*/ float:right; font-size:11px; text-align:right;}
.popup .popup_top li.subTxt dd p:first-child {padding-bottom:2px;}
.popup .popup_top li.subTxt dd p strong{color:#666}

.popup .popup_map{ background-color:#fff; height:380px;  border-top:1px solid #cccccc}
.popup .popup_map li.city { padding:10px 22px 10px 28px; color:#333 ; height:20px; border-top:2px solid #e5e5e5;}
.popup .popup_map li.city dt {float:left ; padding-top:5px}
.popup .popup_map li.city dt span{color:#999}
.popup .popup_map li.city dd {float:right}
.popup .popup_map li.map {width:653px ; height:318px; border:1px solid #ccc; margin-left:22px}


/* 이동팝업 */
.move{width:706px; height:338px; margin: -179px 0px auto -353px; position:absolute; top:50%; left:50%; }
.move h1{background:url('http://imgenuri.enuri.gscdn.com/2014/layout/move_BI.png') 0 0 no-repeat; display:block; height:42px; text-indent:-9999em; }
.move_box{border:3px solid #0073b2; border-top:none; height:292px; }
.move_box h2{background:#0073b2; display:block; color:#ffffff; height:33px; font-weight:normal; padding:10px 0 0 12px; font-size:18px;}
.mall_area_p{float:left; width:155px; text-align:center; padding:10px 0 0 16px; }
.mall_area_p{.padding:15px 0 0 16px; }
.mall_area_p .txt{font-size:12px; display:block; }
.mall_area_p .load{padding:15px 0 7px 0; display:block;}
.mall_area_p .btn{ padding-top:18px; display:block;}
.text_area{float:left; width:510px; padding:30px 0 0 17px; display: block;  }
.text_area li{line-height:20px; padding-bottom:10px;font-size:13px; list-style-type:none; letter-spacing:-1px; }
.text_area li span{color:#0073be; font-weight:bold;}
.mall_area .noimg{height:45px; text-align:center; display:block; color:#000000; font-weight:bold; font-size:18px;}

/* 리스트 item 커버 */
.prod_thum_cover {position:absolute; left:-1px; top:-1px; width:315px; height:314px; background: url(http://imgenuri.enuri.gscdn.com/images/deal/bg_sns_cover.png); z-index:10000;}
.prod_thum_cover .tit {padding-top:40px; font-size:18px; text-align:center;}
.prod_thum_cover .txt_box {background:url(http://imgenuri.enuri.gscdn.com/images/deal/txt_likeq.png) center 40px no-repeat; padding:80px 0 0 50px; }
.prod_thum_cover .txt_url {margin-top:20px; font-size:12px; color:#fff; padding-left:7px; line-height:1.5;}
.prod_thum_cover .txt_url strong {font-size:14px;}
.prod_thum_cover .url_area  {width:207px; margin-top:5px; color:#a1a1a1;  line-height:1.5; border:0 none;  height:20px; margin-top:5px; padding:0 5px; background:#fff; /*background:url(http://imgenuri.enuri.gscdn.com/images/deal/txt_input2.gif) no-repeat 5px 1px;*/}

.prod_thum_cover .list_share {position:absolute; left:20px; bottom:20px;}
.prod_thum_cover .list_share li {float:left; width:86px; height:88px; margin:0 3px; border:0;}
.prod_thum_cover .btn_close {position:absolute; top:5px; right:5px; width:16px; height:15px; text-indent:-9999em; background-image: url(http://imgenuri.enuri.gscdn.com/images/deal/btn_close.png); cursor:pointer;  z-index:100}

/*투데이핫*/
.today_hot{width:100%; height:417px; background:url(http://imgenuri.enuri.gscdn.com/images/deal/bg_todayhot.gif) center top no-repeat; padding-top:23px; }
.today_hot .today_tab {width:220px; float:right;}
.today_hot .today_tab>li{padding-bottom:3px; position:relative; float:left;}
.today_hot .today_tab>li>a {display:block; width:130px; height:61px; padding:8px 80px 0 10px; color:#555; }
.today_hot .today_tab>li>a img{position:absolute; right:0; top:0; z-index:10}
.today_hot .today_tab>li>a img.thum{width:76px; height:69px;}
.today_hot .today_tab>li>div {height:0; overflow:hidden; position:absolute; right:222px; top:-7px;}
.today_hot .today_tab>li.on>div {position:absolute; right:222px; top:-7px; width:770px; height:357px; padding:7px; }
.today_hot .today_tab>li.on>div img{width:770px; height:356px;}
.today_hot .today_tab>li.on>div.prod02{top:-79px;}
.today_hot .today_tab>li.on>div.prod03{top:-151px;}
.today_hot .today_tab>li.on>div.prod04{top:-223px;}
.today_hot .today_tab>li.on>div.prod05{top:-295px;}
.today_hot .today_tab>li .hover{display:none;}
.today_hot .today_tab>li.on .hover{display:block; z-index:10; position:absolute; left:-8px; top:-3px;}
.today_hot .today_tab>li .tit{font-size:11px; color:#999999; display:block; }
.today_hot .today_tab>li strong{display:block; color:#555555;font-family:malgun gothic; letter-spacing:-1px; padding:1px 0 2px 0;height:18px;overflow:hidden;}
.today_hot .today_tab>li .price{color:#de1819; font-family:tahoma; font-size:14px;}
.today_hot .today_tab>li .price em{font-size:24px; font-weight:bold;}
.today_hot .today_tab>li .specail_price{font-size:13px;font-family:malgun gothic; font-weight:bold; color:#de1819; padding-top:6px; display:block;}
.today_hot .today_tab>li.on>div .ico_hot{width:107px; height:107px; display:block; background:url(http://imgenuri.enuri.gscdn.com/images/deal/ico_hot.png) 0 0 no-repeat; position:absolute; left:0px; top:0px; text-indent:-9999em;}

.today_hot .today_tab>li.on>div .txtarea{position:absolute; left:38px; top:253px; font-size:16px; float:left; width:500px;}
.today_hot .today_tab>li.on>div .txtarea .per{color:#de1819; font-size:34px; font-family:verdana; letter-spacing:-3px; display:inline-block;  float:left; padding-right:10px; margin-top:-5px}
.today_hot .today_tab>li.on>div .txtarea .per em{font-size:56px; }
.today_hot .today_tab>li.on>div .txtarea .special{color:#de1819; font-size:38px; letter-spacing:-5px; display:inline-block;  float:left; padding:0px 15px 0 0; font-family:malgun gothic}

.today_hot .today_tab>li.on>div .txtarea .price_txt{position:relative;  float:left; background:url(http://imgenuri.enuri.gscdn.com/images/deal/bg_price_line.gif) bottom left no-repeat; padding-left:10px; color:#666666; height:57px;}
.today_hot .today_tab>li.on>div .txtarea strong{font-family:tahoma; font-weight:bold; color:#0072bc; font-size:34px; display:inline; vertical-align:-2px; padding-right:4px; }
.today_hot .today_tab>li.on>div .txtarea .won{position:absolute; left:13px; top:40px; color:#aaaaaa; text-decoration:line-through; font-size:12px;  }
.today_hot .today_tab>li.on>div .txtarea .won em{font-family:tahoma; font-weight:bold; font-size:17px; padding-right:2px; }

.culture li{margin:0 42px;}
.tour li{margin:0 16px;}
.sub_start .hot_view{border:1px solid #bbbbbb; width:998px;}
.sub_start .hot_view .calendar{top:40px; }
.sub_start .hot_view .shoplist{top:40px; right:-3px; }