/* CSS Document */
	td {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#49484C; text-decoration: none}
    td:link {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#49484C; text-decoration: none}
    td:visited {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#49484C; text-decoration: none}
    td:active {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#49484C; text-decoration: none}
    td:hover {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#49484C; text-decoration: underline}


	.jejo_bk {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #000000; font-weight:bold; text-decoration: none}
	a.jejo_bk {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt;  color:  #000000; font-weight:bold; text-decoration: none}
   	a.jejo_bk {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color:  #000000; font-weight:bold; text-decoration: none}	
   	a.jejo_bk {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color:  #000000; font-weight:bold; text-decoration: none}
	a.jejo_bk {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #000000; font-weight:bold; text-decoration: none}	
	
	
	.jejo_red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ff0000;  text-decoration: none}
	a.jejo_red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ff0000; text-decoration: none}
   	a.jejo_red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ff0000; text-decoration: none}	
   	a.jejo_red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ff0000; text-decoration: none}
	a.jejo_red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ff0000; text-decoration: none}
	
	
	.jejo_spec {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #0C2E6D;  text-decoration: none}
	a.jejo_spec {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #0C2E6D0; text-decoration: none}
   	a.jejo_spec {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #0C2E6D; text-decoration: none}	
   	a.jejo_spec {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #0C2E6D; text-decoration: none}
	a.jejo_spec {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #0C2E6D; text-decoration: none}
	
	
	.price {font-family: "Arial"; font-size: 8pt; color: #0000ff; font-weight:bold; text-decoration: none}
	a.hit:link {font-family: "Arial"; font-size: 8pt;  color:  #0000ff; font-weight:bold; text-decoration: none}
   	a.hit:visited {font-family: "Arial"; font-size: 8pt; color:  #0000ff; font-weight:bold; text-decoration: none}	
   	a.hit:active {font-family: "Arial"; font-size: 8pt; color:  #0000ff; font-weight:bold; text-decoration: none}
	a.hit:hover {font-family: "Arial"; font-size: 8pt; color: #0000ff; font-weight:bold; text-decoration: none}		
	
	
	.f_gray_s {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #808080; text-decoration: none}
	a.s:link {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt;  color:  #808080; text-decoration: none}
   	a.s:visited {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color:  #808080; text-decoration: none}	
   	a.s:active {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color:  #808080; text-decoration: none}
	a.s:hover {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #808080; text-decoration: none}
	
	
	.popup_purple {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #7258AC; font-weight:bold; text-decoration: none}
	a.popup_purple:link {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt;  color:  #7258AC; font-weight:bold; text-decoration: none}
   	a.popup_purple:visited {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color:  #7258AC; font-weight:bold; text-decoration: none}	
   	a.popup_purple:active {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color:  #7258AC; font-weight:bold; text-decoration: none}
	a.popup_purple:hover {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #7258AC; font-weight:bold; text-decoration: none}	


	.menu {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #4596D2; font-weight:bold;text-decoration: none}
	a.menu :link {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt;  color:  #4596D2; font-weight:bold;text-decoration: none}
   	a.menu :visited {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color:  #4596D2; font-weight:bold;text-decoration: none}	
   	a.menu :active {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color:  #4596D2; font-weight:bold;text-decoration: none}
	a.menu :hover {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #000000; font-weight:bold;text-decoration: none}		
	
	.footInner {padding:17px 0 0 15px;font:11px/1.6 'µ¸¿ò', Dotum;letter-spacing:-1px;}
	.footInner p {margin:0;padding:0;}
	.footInner .enuriDec {color:#4984b5;}
	.footInner address {float:left;margin:0 4px 0 0;color:#888;}
	.footInner .enuriInfo {color:#888;}
	.footInner .enuriInfo span {color:#888;margin:0 0 0 3px;padding:0 0 0 7px;background:url('http://imgenuri.enuri.gscdn.com/images/layout/bg_foot_bar.gif') no-repeat 0 1px;}
	.footInner .enuriInfo img {vertical-align:middle;}
	.footInner .copyright {margin:8px 0 0;color:#686868;}
    
		
    select
	{
    font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#333333; text-decoration: none
	}		
	
	
	