@charset "utf-8";
.out{
	font-size:11px;
	color:#616161;
	padding-left:2px;
	line-height:16px;
	background-color:#FFFFFF;
	cursor:pointer;
}
.over{
	font-size:11px;
	color:#FFFFFF;
	padding-left:2px;
	line-height:16px;
	background-color:#08246B;
	cursor:pointer;
}
.bid_style3 {
	font-family: "돋움";
	font-size: 12px;
	color: #000000;
}
.bid_style6 {
	font-family: "돋움";
	font-size: 18px;
	color: #000000;
	font-weight: bold;
}
.bid_style8 {
	color: #0000FF;
	font-weight: bold;
}