@charset "utf-8";
/* base style */
* {margin:0;padding:0;}
img {vertical-align:middle;border:none;}
li {list-style:none;}
.png24 {tmp:expression(setPng24(this));}
body{font-family:돋움;font-size:12px;margin:5px 0 0 5px;background:url(http://img.enuri.gscdn.com/images/blank.gif) fixed;}
<!--[if lte IE 6]>
._f{
}
*html{
	background:url(http://img.enuri.gscdn.com/images/blank.gif) repeat-x 0 0px fixed;
}
<![endif]-->
.f {}
input {font-size:12px;}
.h_1 {clear:both;width:1px;height:1px;overflow:hidden;}
.h_3 {clear:both;width:1px;height:3px;overflow:hidden;}
.h_4 {clear:both;width:1px;height:4px;overflow:hidden;}
.h_5 {clear:both;width:1px;height:5px;overflow:hidden;}
.h_6 {clear:both;width:1px;height:6px;overflow:hidden;}
.h_7 {clear:both;width:1px;height:7px;overflow:hidden;}
.h_8 {clear:both;width:1px;height:8px;overflow:hidden;}
.h_9 {clear:both;width:1px;height:9px;overflow:hidden;}
.h_10 {clear:both;width:1px;height:10px;overflow:hidden;}
.h_15 {clear:both;width:1px;height:15px;overflow:hidden;}
.h_20 {clear:both;width:1px;height:20px;overflow:hidden;}
.h_30 {clear:both;width:1px;height:30px;overflow:hidden;}
.h_40 {clear:both;width:1px;height:40px;overflow:hidden;}

.eb_top {width:984px;height:180px;overflow:hidden;}
.eb_top_enuri {position:absolute;width:84px;height:40px;top:23px;left:13px;cursor:pointer;overflow:hidden;}
.eb_top_link {position:absolute;width:310px;height:78px;top:53px;left:328px;cursor:pointer;overflow:hidden;}
.eb_search_input {position:absolute;top:156px;left:785px;width:140px;height:14px;overflow:hidden;}
#eb_keyword {width:140px;height:14px;border:1px solid #ffffff;font-family:돋움;font-size:12px;margin:0;padding:0;}
.eb_search_btn {position:absolute;top:151px;left:933px;width:43px;height:23px;cursor:pointer;overflow:hidden;}

.eb_kbread {background-color:#ffffff;}
.eb_kbread iframe {margin-left:15px;}

.eb_right {background-color:#f9f9f9;}
.eb_prof_pic {width:189px;margin:8px 0 0 15px;}
.eb_prof_txt {width:160px;margin-left:30px;font-size:11px;color:#4a4a4a;}
.eb_menu {width:200px;margin-left:15px;}
.eb_menu .menu_txt {cursor:pointer;}
.eb_menu .menu_cnt {font-size:11px;color:#a2a2a2;}
.eb_newkb {width:200px;margin-left:15px;}
.eb_newreply {width:200px;margin-left:15px;}
.eb_newlist {width:200px;}
.eb_newlist .new_sign {clear:both;float:left;width:11px;height:21px;}
.eb_newlist .new_sign img {display:block;margin-top:3px;}
.eb_newlist .new_article {float:left;width:189px;height:21px;overflow:hidden;}
.eb_newlist .new_article .article_txt {color:#646464;cursor:pointer;}
.eb_newlist .new_article .article_replycnt {color:#000000;}

.eb_listline {width:730px;height:2px;overflow:hidden;margin:auto;background-color:#000000;}

.groupbtn {cursor:pointer;}
#blogGroupRunKey {display:none;}
#blogGroupPage {display:none;}
#blogGroupPageCount {display:none;}
.top_bm_list {width:742px;margin:0 auto;border:1px solid #bfbfbf;border-top:none;}
#top_bm_box_1 {margin:0 auto;width:730px;height:31px;background-color:#eaeef3;}
#top_bm_box_2 {margin:0 auto;width:730px;height:31px;background-color:#eaeef3;}
.top_bm_list_sel {float:left;height:12px;margin:10px 10px 0 17px;border-bottom:2px solid #0090ff;font-size:11px;cursor:pointer;}
.top_bm_list_normal {float:left;height:11px;margin:10px 10px 0 17px;border-bottom:1px solid #000000;font-size:11px;cursor:pointer;}
.top_list_dotline {width:726px;height:3px;overflow:hidden;background:url(http://img.enuri.gscdn.com/images/blog/dotline.gif) repeat-x center center;}
.top_list_readsel {background-color:#bfe2ff;}
.top_list_title_td {font-size:11px;}
.top_list_title_normal {font-size:12px;cursor:pointer;}
.top_list_title_sel {font-size:12px;color:#4c6890;font-weight:bold;}
.top_qna_write .input {height:17px;font-size:11px;color:#808080;border:1px solid #c7cfda;background-color:#ffffff;}
.top_qna_write .textarea {width:610px;height:80px;font-size:11px;color:#808080;border:1px solid #c7cfda;ime-mode:active;}
.input_loginid {height:15px;ime-mode:disabled;border:1px solid #c7cfda;}
.input_loginpwd {height:15px;border:1px solid #c7cfda;}
