@charset "utf-8";
#dcate_title{
    width:100%;
    height:59px;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/food/food_top_bg.gif);
}   
#dcate_menu{
    width:100%;
    margin:0px;
    padding:0px;
    list-style:none;
    background-color:#FFFFFF;
}
#dcate_menu li{
    float:left;
    width:146px;
    height:25px;
    color:#5f7394;
    background-color:#f0f1f5;
    border:2px solid #fafafa;
    font-weight:bold;
    line-height:25px;
    padding-left:5px;
    display:inline;
}
#divMCateSub{
    display:none;
    position:absolute;
    width:167px;
    background-color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top:-1px;
    z-index:51;
}
#divSCateSub{
    display:none;
    position:absolute;
    width:167px;
    background-color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top:-1px;
    z-index:51;
}
#divDCateSub{
    display:none;
    position:absolute;
    width:167px;
    background-color:#ffffff;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin-top:-1px;
    z-index:51;
}
#divMCateContent{
    cursor: pointer;
    padding-left: 2px;
    padding-bottom: 1px;
}
#bottom_line{
    margin-top:15px;
    border-top:1px solid #d1d1d1;
}
#food_banner{
    float:left;
    margin-top:10px;
    width: 94%;
    border-color: black;
    border-width: 0px;
    border-style: solid;
}
#food_banner ul{
    margin:0px 0px 0px 0px;
    padding:0px;
    list-style:none;
    height:87px;
    text-align: center;
    overflow: hidden;
    border-color: aqua;
    border-width: 0px;
    border-style: solid;
}
#food_banner li{
    float:left;
    margin-left:3px;
    margin-right:0px;
    display: inline;
    border-color: red;
    border-width: 0px;
    border-style: solid;
}
.bannerNavi_l{
    margin-top:10px;
    margin-bottom:30px;
    vertical-align: middle;
    float:left;
    margin-left:2px;
    margin-right:7px;
    height: 87px;
    width: 20px; 
}
.bannerNavi_r{
    margin-top:10px;
    vertical-align: middle;
    float:left;
    margin-left:-8px;
    margin-right:0px;
    height: 87px;
    width: 20px; 
    border-color: black;
    border-width: 0px;
    border-style: solid;
}
#top_location{
    margin:13px 3px 0px 8px;
    height:20px;
}
#top_location{
    margin:13px 3px 0px 8px;
    height:20px;
}
#top_location a{
    text-decoration:none;
    color:#000000;
}
#top_location a:hover {
    text-decoration:none;
    color:#FF0000;
}
#top_location a:active {
    text-decoration:none;
    color:#FF0000;
}
#linemap{
    margin-left:5px;
    float:left;
    display:inline;
    line-height:14px;
    margin:0px 0px 0px 0px;
    padding:0px;    
    list-style:none;
}
#linemap li{
    float:left;
    margin:0px;
    padding:0px;    
    height:17px;
    overflow:hidden;
}
#linemap #lm_lname{
    width:79px;
    height:17px;
    background-image:url('http://img.enuri.gscdn.com/2012/list/linemap2013/now_combo_02.gif');
    font-size:11px;
    font-family:돋움;
    color:#242424;
    cursor:pointer;
}
#linemap #lm_mname{
    width:129px;
    height:17px;
    background-image:url('http://img.enuri.gscdn.com/2012/list/linemap2013/now_combo_02.gif');
    font-size:11px;
    font-family:돋움;
    color:#242424;
    cursor:pointer;
}
#linemap #lm_sname{
    width:144px;
    height:17px;
    background-image:url('http://img.enuri.gscdn.com/2012/list/linemap2013/now_combo_02.gif');
    font-size:11px;
    font-family:돋움;
    color:#242424;
    cursor:pointer;
}
#linemap .lm_txt{
    line-height:18px;
}
#rec_middle_banner{
    width:850px;
    height:30px;
    margin:5px auto 0px auto;
}
#list_btn{
    float:right;
    list-style:none;
    margin:6px 0px 0px 0px;
    padding:0px;
}
#list_btn #btn_newgoods_list{
    color:#4e4e4e;
}
#list_btn #btn_bigphoto{
    color:#4e4e4e;
}
#tab #list_btn #selected_view_mode {
    height:13px;
    width:70px;
    margin-top:1px;
    border:1px solid #6d6d6d;
    cursor:pointer;
    background-color:#ffffff;
    font-family:돋움;
    font-size:11px;
    color:#000000;
}
#tab #list_btn li{
    float:right;
    font-family:'맑은 고딕','돋움';
    font-size:11px;
}
#tab #list_btn p{
    height:14px;
    font-size:11px;
    color:#000000;
    line-height:14px;
    font-family:돋움;
}
#nowLoc_L_Layer ul{
    background-image:url(http://img.enuri.gscdn.com/2012/list/linemap2013/now_combo_01_open02.gif);
    width:83px;
    margin:0px;
    padding:0px;        
}
#nowLoc_L_Layer li{
    margin:0px 0px 0px 4px;
    padding:0px 0px 0px 6px;    
    width:83px;
    height:17px;
    overflow:hidden;    
    font-size:11px;
    font-family:돋움;
    color:#242424;  
    line-height:17px;
    cursor:pointer;
    background-image:url(http://img.enuri.gscdn.com/2012/list/linemap2013/bullet.gif) ;
    background-repeat:no-repeat ;
    background-position:left center ;   
}

#nowLoc_L_Layer{
    position:absolute;  
}
#nowLoc_M_Layer{
    position:absolute;  
}
#nowLoc_M_Layer ul{
    width:146px !important;
    margin:0px !important;
    padding:0px !important;
}
#nowLoc_M_Layer #nowLoc_M_Layer_In{
    background-image:url(http://img.enuri.gscdn.com/2012/list/linemap2013/now_combo_02_open02.gif) !important;
    width:148px !important; 
}
#nowLoc_M_Layer .m_basic{
    margin:0px !important;
    padding:0px !important;
}
#nowLoc_M_Layer .m_basic div{
    height:19px !important;
    line-height:19px !important;
    background-image:url(http://img.enuri.gscdn.com/2012/list/linemap2013/bullet.gif) ;
    background-repeat:no-repeat !important;
    background-position:left center !important;
    margin: 0px 0px 0px 5px !important;
}
#nowLoc_M_Layer .m_basic div span:first-child{
    display:none !important;
}
#nowLoc_M_Layer .m_basic div span span:first-child{
    display:inline !important;
    font-size:11px !important;
    font-family:돋움 !important;
    color:#242424;  
    line-height:17px !important;
    cursor:pointer !important;
    font-weight:normal !important;  
    margin: 0px 0px 0px 5px !important;
    width:123px;
}
#nowLoc_M_Layer .m_basic span{
    height:19px !important;
    float:none !important;
    line-height:19px !important;
    padding:0px !important;
    margin:0px !important;
    overflow:hidden;    
    display:block;
    width:122px !important;
}
#nowLoc_S_Layer{
    position:absolute;  
}


#nowLoc_S_Layer ul{
    width:146px !important;
    margin:0px !important;
    padding:0px !important;
}
#nowLoc_S_Layer #nowLoc_S_Layer_In{
    background-image:url(http://img.enuri.gscdn.com/2012/list/linemap2013/now_combo_02_open02.gif) !important;
    width:148px !important; 
}
#nowLoc_S_Layer .m_basic{
    margin:0px !important;
    padding:0px !important;
}
#nowLoc_S_Layer .m_basic div{
    height:19px !important;
    line-height:19px !important;
    background-image:url(http://img.enuri.gscdn.com/2012/list/linemap2013/bullet.gif) ;
    background-repeat:no-repeat !important;
    background-position:left center !important;
    margin: 0px 0px 0px 5px !important;
}
#nowLoc_S_Layer .m_basic div span:first-child{
    display:none !important;
}
#nowLoc_S_Layer .m_basic div span span:first-child{
    display:inline !important;
    font-size:11px !important;
    font-family:돋움 !important;
    color:#242424;  
    line-height:17px !important;
    cursor:pointer !important;
    font-weight:normal !important;  
    margin: 0px 0px 0px 5px !important;
    width:123px;
}
#nowLoc_S_Layer .m_basic span{
    height:19px !important;
    float:none !important;
    line-height:19px !important;
    padding:0px !important;
    margin:0px !important;
    overflow:hidden;    
    display:block;
    width:121px !important;
}

.cate_layer_ul{
    scrollbar-arrow-color: #797979;
    scrollbar-3dlight-color: #c8c8c8;
    scrollbar-darkshadow-color: #c9c9c9;
    scrollbar-face-color: #c8c8c8;
    scrollbar-highlight-color: #959595;
    scrollbar-shadow-color: #f0f0f0;
    scrollbar-track-color: #ffffff; 
    list-style:none;
}
#location{
    font-size:11px;
    margin-top:3px; 
}
#tab{
    clear:both;
    /*height:25px;*/
    /*background-image:url('http://img.enuri.gscdn.com/2010/images/view/tab_bg_new.gif');*/
    margin:2px 3px 0px 4px;
    position:relative;
    left:0px;
    top:0px;
    z-index:100;
    
}
#tab #tab_btn {
    float:left;
    list-style:none;
    margin:0px;
    padding:0px;
    height:25px;
    display:inline;
    
}
#tab #tab_btn li{
    float:left;
    padding:0px;
    height:19px;
    font-size:0px;  
}
#tab #tab_seach_sort{
    float:left;
    /*width:350px;*/
    list-style:none;
    margin:5px 0px 0px 0;
    padding-left:11px;
    height:17px;
}
#tab #tab_seach_sort li{
    float:left;
    padding:0px;    
    font-family:'맑은 고딕','돋움';
    font-size:11px; 
}

#tab #tab_seach_sort {position:relative;}
#tab #tab_seach_sort:after  {content:""; display:block; clear:both;}
#tab #tab_seach_sort li{height:17px; float:left;font-family:'맑은 고딕','돋움'; font-size:12px; color:#666; letter-spacing:-0.05em; line-height:17px; margin-left:14px; padding-left:6px; background:url(http://img.enuri.gscdn.com/images/main/2015/lp/bul_sq_777.gif) 0 60% no-repeat; cursor:pointer;}
#tab #tab_seach_sort li:first-child {margin-left:0;}
#tab #tab_seach_sort li.selected, #tab #tab_seach_sort li:hover {color:#161616;}
#tab #tab_seach_sort li.selected {padding-left:12px; background:url(http://img.enuri.gscdn.com/images/main/2015/lp/bul_check_blue.gif) 0 80% no-repeat;}
#tab #tab_seach_sort li * {vertical-align:middle;}
#tab #tab_seach_sort li.popular {position:relative; width:51px; height:17px;}
#tab #tab_seach_sort li a.btn_question {display:inline-block; zoom:1;*display:inline; width:11px; height:11px; margin-left:3px; *margin-top:2px; text-indent:-9999em; background-image:url(http://img.enuri.gscdn.com/images/main/2015/lp/ico_question.gif)}

.lpLaypop {position:absolute; top:20px; left:5px; width:354px; height:100px; font-family:"돋움", dotum; font-size:11px; color:#666; line-height:16px; letter-spacing:0; z-index:100; cursor:Default;}  
.lpLaypop .inner {padding:12px 18px 10px; background:url(http://img.enuri.gscdn.com/images/main/2015/lp/bg_lpLaypop_md.png) 0 0 repeat-y; }
.lpLaypop .tit {padding-bottom:11px; font-family:'맑은 고딕','돋움';  font-size:14px; line-height:14px; color:#333; letter-spacing:-0.5px; font-weight:bold;}
.lpLaypop .con em {color:#2c7fc7; text-decoration:underline;}
.lpLaypop .caution {padding-top:3px; color:#f04242;}
.lpLaypop .caution span {font-size:12px;}
.lpLaypop .btn_close {position:absolute; top:10px; right:9px; width:9px; height:9px; text-indent:-9999em; background-image:url(http://img.enuri.gscdn.com/images/main/2015/lp/btn_laypop_close.gif); cursor:pointer;}
.lpLaypop .top_bg {width:350px; height:2px; margin-left:2px; background:url(http://img.enuri.gscdn.com/images/main/2015/lp/bg_lpLaypop_top.png) 0 0 repeat-x;}
.lpLaypop .bt_bg {width:350px; height:4px; margin-left:2px; background:url(http://img.enuri.gscdn.com/images/main/2015/lp/bg_lpLaypop_bt.png) 0 0 repeat-x;}
#selected_sort_mode , #selected_view_mode1, #selected_view_mode2 {
    height:13px;
    width:70px;
    margin-top:1px;
    border:1px solid #6d6d6d;
    cursor:pointer;
    background-color:#ffffff;
    font-family:돋움;
    font-size:11px;
    color:#24599b;
}
.fusion_goods{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
    border-bottom: 1px solid #D1D1D1
}
.fusion_goods .goods_image{
    text-align:center;
    width:150px;
    margin:0 auto;
    margin-top: 4px;
    cursor: pointer;
    border:0px solid #FFFFFF;
}
.fusion_goods .goods_price{
    text-align:left;
    height:20px;
    width:90%;
    margin:0 auto;
    margin-top: 7px;
    margin-bottom: 0px;
}
.fusion_goods .goods_price .won{
    float:left;height:16px;color:#0000FF;font-family:Arial;font-size:9pt;font-weight:bold;line-height:17px;width:78px;background-image:url('http://img.enuri.gscdn.com/2010/images/view/btn_price03.gif');text-align:right;padding-right:14px;
}
.fusion_goods .goods_price .won_noimage{
    float:left;height:16px;color:#0000FF;font-family:Arial;font-size:9pt;font-weight:bold;line-height:17px;width:78px;
}
.fusion_goods .goods_price_mall{
    text-align:left;
    height:20px;
    width:90%;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 2px;
}
.fusion_goods .goods_title{
    float:left;
    text-align:left;
    height:43px;
    width:150px;
    margin:0 auto;
    margin-left:5px;
    line-height:14px;
    overflow:hidden;
    font-size:11px;
    cursor: pointer;
    margin-bottom: 10px;
}
.fusion_goods .goods_zzim{
    height:15px;
    width:80%;
    margin:0 auto;
    line-height:14px;
    overflow:hidden;
    cursor: pointer;
    color:#333333;
    margin-bottom: 4px;
}
.fusion_goods_25{
    width: 20%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #D1D1D1
}
.fusion_goods_25 .goods_image{
    text-align:center;
    width:90%;
    margin:0 auto;
    cursor: pointer;
    margin-top: 10px;
    border:1px solid #FFFFFF;
}
.fusion_goods_25 .goods_price{
    text-align:left;
    height:20px;
    width:90%;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 2px;
}
.fusion_goods_25 .goods_price_mall{
    text-align:left;
    height:20px;
    width:90%;
    margin:0 auto;
    margin-top: 5px;
    margin-bottom: 2px;
}
.fusion_goods_25 .goods_title{
    height:43px;
    width:80%;
    margin:0 auto;
    line-height:14px;
    overflow:hidden;
    font-size:11px;
    cursor: pointer;
    margin-bottom: 10px;
}
#goodslist{
    clear:both;
    border-top:1px solid #d1d1d1;
    width:100%;
    height:100;
}
.maingoodslist{
    clear:both;
    border-bottom:1px solid #d1d1d1;
    width:100%;
    height:100;
}
.goodslist{
    table-layout:fixed;
}
.goodslist td{
    border-top:1px solid #d4d4d4;
}
.goodslist dl{
    padding:0px;
    margin:0px;
}
.goodslist dt dd{
    padding:0px;
    margin:0px;
}
.goodslist .goods_image{
    text-align:center;
    width:90%;
}
.goodslist .goods_price{
    height:20px;
    width:90%;
}
.goodslist .goods_title{
    height:52px;
    width:90%;
    margin-left:5px;
    line-height:14px;
    overflow:hidden;
    font-size:11px;
}
.goodslist .goods_bbs{
    text-align:right;
    width:90%;
    margin-bottom:10px;
    color:#575757;
    text-decoration:underline;
}
.price{
    width:81px;
    height:16px;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/btn_price04.gif);
    color:#0000FF;
    font-family:Arial;
    font-size:9pt;
    cursor:pointer;
    font-weight:bold;
    text-align:right;
    line-height:16px;
    float:left;
    margin-left:36px;
    cursor: pointer;
    display:inline;
}
.price .won{
    color:#808080;
    font-weight:normal;
    font-size:11px;
    margin-right:5px;
}
.price_m{
    width:86px;
    height:17px;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/btn_price01.gif);
    color:#0000FF;
    font-family:Arial;
    font-size:9pt;
    cursor:pointer;
    font-weight:bold;
    text-align:right;
    line-height:17px;
    float:left;
    margin-left:46px;
    cursor: pointer;
    display:inline;
}
.price_m .won{
    color:#808080;
    font-weight:normal;
    font-size:11px;
    margin-right:5px;
}
.price_1_mall{
    /*width:78px;*/
    height:16px;
    /*width:51%;*/
    width:100%;
    /*background-image:url(http://img.enuri.gscdn.com/2010/images/view/btn_price06.gif);*/
    color:#0000FF;
    font-family:Arial;
    font-size:9pt;
    cursor:pointer;
    font-weight:bold;
    /*text-align:right;*/
    line-height:16px;
    float:left;
    margin-left:10px;
    cursor: pointer;
    display:inline;
}
.price_1_mall .won{
    color:#808080;
    font-weight:normal;
    font-size:11px;
    margin-right:5px;
}
.price_1_mall_m{
    /*width:86px;*/
    height:17px;
    /*background-image:url(http://img.enuri.gscdn.com/2010/images/view/btn_price03.gif);*/
    color:#0000FF;
    font-family:Arial;
    font-size:9pt;
    cursor:pointer;
    font-weight:bold;
    /*text-align:right;*/
    line-height:17px;
    float:left;
    margin-left:10px;
    cursor: pointer;
    display:inline;
}
.price_1_mall_m .won{
    color:#808080;
    font-weight:normal;
    font-size:11px;
    margin-right:5px;
}
.price6{
    width:81px;
    height:16px;
    background-image:url(http://img.enuri.gscdn.com/2012/list/price/btn_price04.gif);
    background-repeat:no-repeat;
    color:#0066DE;
    font-family:Arial;
    font-size:9pt;
    cursor:pointer;
    font-weight:bold;
    text-align:right;
    line-height:15px;
    float:left;
}
.price7{
    width:94px;
    height:16px;
    background-image:url(http://img.enuri.gscdn.com/2012/list/price/btn_price01.gif);
    color:#0066DE;
    font-family:Arial;
    font-size:9pt;
    cursor:pointer;
    font-weight:bold;
    text-align:right;
    line-height:15px;
    float:left;
}
.goods_shop_name{
    /*width:48%;*/
    font-family:맑은 고딕;
    font-weight:bold;
    font-size:11px;
    hight:17px;
    line-height:17px;
    color:#000000;
    text-align:right;
    text-valign:bottom;
    cursor:pointer;
    overflow:hidden;
}
#divOrderList,#divContentCount{
    width:115px;
    position:absolute;
    z-index:200;
    background-image:url(http://img.enuri.gscdn.com/2012/list/list_box_open02.gif);
}
#divOrderList ul, #divContentCount ul{
    list-style:none;
    margin:0px 4px 0px 4px;
    padding:0px;
    width:107px;
    
}
#divOrderList .out, #divContentCount .out{
    padding-left:2px;
    line-height:16px;
    color:#616161;
    background-color:#FFFFFF;
    font-size:11px;
    cursor:pointer;
}
.out{
    padding-left:2px;
    line-height:16px;
    color:#616161;
    background-color:#FFFFFF;
    font-size:11px;
    cursor:pointer;
}
.over{
    padding-left:2px;
    color:#616161;
    background-color:#ddeff9;
    font-size:11px;
    line-height:16px;
    cursor:pointer; 
}
#divOrderList .over, #divContentCount .over{
    padding-left:2px;
    color:#616161;
    background-color:#ddeff9;
    font-size:11px;
    line-height:16px;
    cursor:pointer; 
}
.sm_rarrow{margin:0px 2px 0px 2px;}
#searchTab{
    display:none;
    position: absolute;
    width:130px;
    background-color:#ffffff;
    border-left:1px solid #cbcdd1;
    border-right:1px solid #cbcdd1;
    border-bottom:1px solid #cbcdd1;
}

#divContentCount_bottom{
    position:absolute;
    width:107px;
    background-color:#ffffff;
    border-left:1px solid #949494;
    border-right:1px solid #949494;
    border-bottom:1px solid #949494;
    z-index: 10;
}
#goods_image_list{
    margin-top:2px;
    margin-left:2px;
    border:1px solid #d4d4d4;
    float:left;
    display:inline;
}
#goods_image_list dl{
    width:141px;
    height:120px;
    float:left;
}
#goods_image_list dt{
    margin-left:10px;
}
#goods_image_list dd{
    width:100px;
    margin-left:10px;
}
#goods_image_list p{
    font-size:11px;
    color:#0074d5;
    float:right;
    display:inline;
}
#goods_image_list span{
    color:#808080;
}
.legal_notice{
    color:#008080;
    font-size:11px;
    float:left;
    margin-top:15px;
    margin-left:5px;
}
#sort_mode{
    border-left:1px solid #949494;
    border-right:1px solid #949494;
    border-bottom:1px solid #949494;
    position:absolute;
    z-index:200;
}
#sort_mode ul{
    list-style:none;
    margin:0px;
    padding:0px;
    width:109px;
}
#sort_mode .out{
    font-size:11px;
    color:#616161;
    padding-left:2px;
    line-height:16px;
    background-color:#FFFFFF;
    cursor:pointer;
}
#bottom_sort{
    float:right;
    list-style:none;
    margin:15px 2px 0px 0px;
    padding:0px;
}
#bottom_sort li{
    float:left;
    padding:0px;    
}
#bottom_sort p{
    height:14px;
    width:70px;
    padding:0px 0px 0px 3px;
    font-size:11px;
    color:#333333;
    line-height:16px;
    float:left;
    font-family:돋움;
}
#paging{
    list-style:none;
    margin:0px;
    padding:0px;
    height:18px;
    float:left;
}
#paging li{
    text-align:center;
    float:left;
    padding:0px;
    margin:0px 0px 0px 5px;
}
#paging .paging_on_100{
    border:2px solid #FF0000;
    color:#FF6600;
    font-family:Arial;
    font-weight:bold;
    height:16px;
    width:24px; 
}
#paging .paging_off_100{
    border:1px solid #d6e3e9;
    color:#006699;
    font-family:Arial;
    height:17px;
    width:25px; 
}
#paging .paging_over_100{
    border:1px solid #FF6600;
    color:#FF6600;
    font-family:Arial;
    height:17px;
    width:25px; 
    cursor:pointer;
}
#paging .paging_on_1000{
    border:2px solid #FF0000;
    color:#FF6600;
    font-family:Arial;
    font-weight:bold;
    height:16px;
    width:32px; 
}
#paging .paging_off_1000{
    border:1px solid #d6e3e9;
    color:#006699;
    font-family:Arial;
    height:17px;
    width:33px; 
}
#paging .paging_over_1000{
    border:1px solid #FF6600;
    color:#FF6600;
    font-family:Arial;
    height:17px;
    width:33px; 
    cursor:pointer;
}
#paging .paging_on{
    border:2px solid #FF0000;
    color:#FF6600;
    font-family:Arial;
    font-weight:bold;
    height:16px;
    width:16px; 
}
#paging .paging_off{
    border:1px solid #d6e3e9;
    color:#006699;
    font-family:Arial;
    height:17px;
    width:17px; 
}
#paging .paging_over{
    border:1px solid #FF6600;
    color:#FF6600;
    font-family:Arial;
    height:17px;
    width:17px; 
    cursor:pointer;
}
#paging_group{
    float:left;
    list-style:none;
    margin:0px 0px 0px 17px;
    padding:0px;
    display:inline;
}
#paging_group li{
    float:left;
    padding:0px;    
    height:18px;
    overflow:hidden;
}
#paging_group p{
    border-left:1px solid #949494;
    border-top:1px solid #949494;
    border-bottom:1px solid #949494;
    padding-left:2px;
    height:14px;
    width:45px;
    font-size:11px;
    color:#616161;
    line-height:16px;
    *line-height:14px;
}
#select_paging_group{
    border-left:1px solid #949494;
    border-right:1px solid #949494;
    border-bottom:1px solid #949494;
    position:absolute;
}
#select_paging_group ul{
    list-style:none;
    margin:0px;
    padding:0px;
}
#select_paging_group .out{
    font-size:11px;
    color:#616161;
    padding-left:2px;
    line-height:16px;
    background-color:#FFFFFF;
    cursor:pointer;
}
#select_paging_group .over{
    font-size:11px;
    color:#FFFFFF;
    padding-left:2px;
    line-height:16px;
    background-color:#08246B;
    cursor:pointer;
}
/*
#related_category{
    margin-top:15px;
    margin-left:5px;
    width:100%;
    border-bottom:1px solid #d1d1d1;
    height:40px;
}
*/
#related_category{
    margin-top:15px;
    margin-left:5px;
    width:99%;
    height:20px;
    clear:left;
}
#sponsor_link{
    clear:left;
    margin-top:30px;
    margin-left:5px;
    width:100%;
}
#sponsor_link li{
    margin:0px;
    padding:0px;
    list-style-position:outside;
}
#sponsor_link a.link_overture{
    color:#000000;
}
#sponsor_link a.link_overture:hover {
    color:#000000;
}
#sponsor_link a.link_overture:active {
    color:#000000;
}
#sponsor_link a.link_overture:visited {
    color:#000000;
}
#sponsor_link a.reg_overture{
    color:#0000FF;
}
#sponsor_link a.reg_overture:hover {
    color:#0000FF;
}
#sponsor_link a.reg_overture:active {
    color:#0000FF;
}
#sponsor_link a.reg_overture:visited {
    color:#0000FF;
}
#sponsor_link a.desc{
    text-decoration:none;
    color:#000000;
}
#sponsor_link a.desc:hover {
    text-decoration:none;
    color:#FF0000;
}
#sponsor_link a.desc:active {
    text-decoration:none;
    color:#FF0000;
}
#sponsor_link a.desc:visited {
    color:#000000;
}
#sponsor_link a.url{
    text-decoration:none;
    color:#008000;
}
#sponsor_link a.url:hover {
    text-decoration:none;
    color:#008000;
}
#sponsor_link a.url:active {
    color:#008000;
    text-decoration:none;
}
#sponsor_link a.url:visited {
    color:#008000;
    text-decoration:none;
}
#red_link{
    margin-top:30px;
    margin-left:5px;
    width:100%;
    float:left;
}
#red_link li{
    margin:0px;
    padding:0px;
}
#red_link .unit_redlink{
    list-style:none;
    margin:0px 0px 0px 0px;
    padding:0px;
    float:left;
    height:60px;
    width:100%;
}
#red_link .unit_redlink li{
    list-style:none;
    margin:3px 0px 0px 10px;
    padding:0px;
    line-height:12px;   
}
#red_link a.title{
    color:#ba0000;
}
#red_link a.title:hover {
    color:#ba0000;
}
#red_link a.title:active {
    color:#ba0000;
}
#red_link a.title:visited {
    color:#ba0000;
}
#red_link a.desc{
    text-decoration:none;
    color:#000000;
}
#red_link a.desc:hover {
    text-decoration:none;
    color:#FF0000;
}
#red_link a.desc:active {
    color:#FF0000;
    text-decoration:none;
}
#red_link a.desc:visited {
    color:#000000;
    text-decoration:none;
}
#red_link a.url{
    text-decoration:none;
    color:#757575;
}
#red_link a.url:hover {
    text-decoration:none;
    color:#757575;
}
#red_link a.url:active {
    color:#757575;
    text-decoration:none;
}
#red_link a.url:visited {
    color:#757575;
    text-decoration:none;
}
.shop_shoutcut{position:relative; width:980px; margin:15px 5px 0 5px; padding:2px 5px 5px 5px; background: #efefef;}
.shop_shoutcut .shop_txt{position:absolute; right:3px; top:2px; color:#808080;font-family:돋움;font-size:11px; margin-top:7px;margin-right:5px;}
.shop_shoutcut .shop_go{list-style:none; margin:auto; padding:5px 0; width:100%; background:#ffffff;}
.shop_shoutcut .shop_go:after{content:""; display:block; clear:both;}
.shop_shoutcut .shop_go li{text-align: center; display:inline-block; width:122px; float:left; }
#bottom_menu{
    clear:left;
    margin-top:15px;
    width:100%;
    background-color:#898989;
    height:22px;
}
#bottom_menu li{
    margin:5px 3px 0px 3px;
    padding:0px;    
    float:left;
    color:#ffffff;
    font-size:11px;
    cursor:pointer;
}
#footer{
    width:100%;
    height:106px;
    background-image:url('http://img.enuri.gscdn.com/2010/images/view/footer_bg.gif');  
}

.footInner {padding:17px 0 0 146px;background:url('http://imgenuri.enuri.gscdn.com/images/layout/bg_foot_logo.gif') no-repeat 24px 20px;font:11px/1.6 '돋움', Dotum;letter-spacing:-1px;}
.footInner .enuriDec {color:#4984b5;}
.footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}
.footInner .enuriInfo {color:#888;}
.footInner .enuriInfo span {color:#888;margin:0 0 0 3px;padding:0 0 0 7px;background:url('http://imgenuri.enuri.gscdn.com/images/layout/bg_foot_bar.gif') no-repeat 0 1px;}
.footInner .enuriInfo img {vertical-align:middle;}
.footInner .copyright {margin:8px 0 0;color:#686868;}
#paging_off {
    padding-top:2px;
    padding-right:2px;
    padding-left:2px;
    width:20px;
    height:17px;
    border-top:1px solid #D6E3E9;
    border-right:1px solid #D6E3E9;
    border-bottom:1px solid #D6E3E9;
    border-left:1px solid #D6E3E9;
    color:#006699;
}
#paging_on {
    padding-top:2px;
    padding-right:2px;
    padding-left:2px;
    width:20px;
    height:17px;
    
    font-family:Arial;Helvetica;
    font-size:12px;
    font-weight:bold;
    text-decoration:none;
    color:#FF6600;
    border-top:2px solid #ff0000;
    border-right:2px solid #ff0000;
    border-bottom:2px solid #ff0000;
    border-left:2px solid #ff0000;
    color:#FF6600;
}

#paging_select {
    font-family:Arial;Helvetica;
    font-size:12px;
    color:#006699;
}
.chkbox{
    overflow:hidden;
    width:13px;
    height:13px;
    font-size:1%;
    line-height:1%;
    padding:0px;
    float:left;
}
.h_chkbox{
    display:none;
}
#factory_layer{
    margin:0px 0px 0px 4px;
    position:relative;
    top:-2px;
}
#factory_layer #factory_layer_top{
    clear:both;
    position:relative;
    height:6px;
    width:100%;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/price_box01_bg.gif);
}
#factory_layer #hot_factory_layer{
    clear:both;
    overflow:hidden;
    background-color:#f9f9f9;
    position:relative;
    border-left:1px solid #58585c;
    border-top:1px solid #58585c;
    border-right:1px solid #58585c;
}
#factory_layer #factory_layer_inner{
    clear:both;
    overflow:hidden;
    background-color:#f9f9f9;
    position:relative;
    border:1px solid #58585c
}

#factory_layer .factory_name{
    margin:0px 0px 0px 0px;
    padding:0px;
    line-height:22px;
    font-size:11px;
    float:left;
    width:20%;  
    overflow:hidden;
}
*:first-child+html #factory_layer .factory_name{/*ie7*/
    width:19%;  
}
#factory_layer .factory_name ul{
    width:100%;
    list-style:none;
    margin:0px;
    padding:0px;
}

#factory_layer #factory_sort{
    border-left:1px solid #949494;
    border-right:1px solid #949494;
    border-bottom:1px solid #949494;
    z-index:101;
}
#factory_layer #factory_sort ul{
    list-style:none;
    margin:0px;
    padding:0px;
    width:89px;
}

#factory_layer #factory_sort .out{
    font-size:11px;
    color:#616161;
    padding-left:2px;
    line-height:16px;
    background-color:#FFFFFF;
    cursor:pointer;
}
#factory_layer #factory_sort .over{
    font-size:11px;
    color:#FFFFFF;
    padding-left:2px;
    line-height:16px;
    background-color:#08246B;
    cursor:pointer;
}
#factory_layer  #factory_layer_bottom{
    clear:both;
    position:relative;
    height:1px;
    width:100%;
    background-color:#d0d0d0;
}
#hot_factory_layer p{
    border-left:1px solid #949494;
    border-top:1px solid #949494;
    border-bottom:1px solid #949494;
    height:14px;
    width:75px;
    padding-left:2px;
    font-size:11px;
    color:#616161;
    line-height:16px;
    *line-height:14px;
    background-color:#ffffff;
}
#price_layer{
    margin:0px 0px 0px 4px;
    position:relative;
    top:-2px;
}
#price_layer ul{
    margin:0px;
    padding:0px;
    list-style:none;
}
#price_layer #price_layer_top{
    clear:both;
    position:relative;
    height:6px;
    width:100%;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/price_box01_bg.gif);
}
#price_layer #price_layer_inner{
    clear:both;
    overflow:hidden;
    background-color:#f9f9f9;
    position:relative;
    border:1px solid #58585c
}

#price_layer #txt_start_price, #txt_end_price{
    border:none;
    height:18px;
    font-size:9pt;
    padding:0px;
    margin:0px;
    text-align:right;
    ime-mode:disabled;
    font-family:arial;
    background-image:url(http://img.enuri.gscdn.com/2014/list/tab/price_box_02.gif);
    width:80px;
    line-height:18px;
}

#price_layer .price_name{
    margin:0px 0px 0px 15px;
    padding:0px;
    height:22px;
    line-height:22px;
    font-size:11px;
}
#price_layer .price_group_name{
    margin:0px;
    padding:0px;
    height:22px;
    line-height:22px;
    font-weight:bold;
    font-size:11px;
}
#price_layer #price_layer_bottom{
    clear:both;
    position:relative;
    height:1px;
    width:100%;
    background-color:#d0d0d0;
}

#price_layer #price_layer_bottom2{
    clear:both;
    position:relative;
    height:6px;
    width:98%;
    background-image:url(http://img.enuri.gscdn.com/2010/images/view/price_line01.gif);
    background-repeat:repeat-x;
    background-position:left center;
    margin:auto;
}
#reckeyword{
    margin:12px 3px 0px 7px;border:1px solid #83a383;background-color:#fbfbfb; 
}
#reckeyword_search{
    height:20px;width:100%;
}
#reckeyword_search img{
    cursor:pointer;
}
#reckeyword_search ul{
    margin:7px 0px 0px 10px;padding:0px;list-style:none;
}
#reckeyword_search li{
    margin:0px;padding:0px;
}
#reckeyword_top_list{
    height:27px;overflow:hidden;width:100%;
}
#reckeyword_top_list ul{
    margin:8px 0px 0px 0px;padding:0px;height:14px;list-style:none;
}
#reckeyword_top_list li{
    margin:0px 0px 0px 20px;padding:0px;float:left;font-family:돋움;font-size:11px;line-height:17px;
}

#reckeyword_all_list{
    width:100%;
}
#reckeyword_all_list ul{
    margin:8px 0px 0px 10px;padding:0px;list-style:none;width:100%;
}
#reckeyword_all_list li{
    width:115px;margin:0px;padding:0px;float:left;font-family:돋움;font-size:11px;line-height:19px;
}

#reckeyword_search #keyword{
    font-family:돋움;
    border:none;
    width:243px;
    height:15px;
    line-height:15px;
    font-size:12px;
    color:#c70b09;
    padding-left:5px;
    padding-top:3px;
    margin:0px;
    background-image:url(http://img.enuri.gscdn.com/2012/list/reckeyword/keyword_bg.gif);
}
#list_btn #keyword{
    font-family:돋움;
    width:150px;
    height:13px;
    line-height:15px;
    font-size:12px;
    color:#c70b09;
    padding-left:5px;
    padding-top:3px;
    margin:0px;
    border-left:1px solid #949494;
    border-top:1px solid #949494;
    border-bottom:1px solid #949494;
    border-right:none;
}
.no_sel_ganada{
    font-size:11px;
    color:#214989;
    cursor:pointer;
}
.sel_ganada{
    font-size:11px;
    color:#0088CC;
    font-weight:bold;
    cursor:pointer;
}
.dcate_menu{
    font-size:9pt;
    color:#214989;
    cursor:pointer;
}
.dcate_menu_selected{
    font-size:9pt;
    color:#0088CC;
    font-weight:bold;
    cursor:pointer;
}
#hot_factory_layer p{
    border-left:1px solid #949494;
    border-top:1px solid #949494;
    border-bottom:1px solid #949494;
    height:14px;
    width:75px;
    padding-left:2px;
    font-size:11px;
    color:#616161;
    line-height:16px;
    *line-height:14px;
    background-color:#ffffff;
}

#factory_layer #factory_sort{
    border-left:1px solid #949494;
    border-right:1px solid #949494;
    border-bottom:1px solid #949494;
    z-index:101;
}
#factory_layer #factory_sort ul{
    list-style:none;
    margin:0px;
    padding:0px;
    width:89px;
}

#factory_layer #factory_sort .out{
    font-size:11px;
    color:#616161;
    padding-left:2px;
    line-height:16px;
    background-color:#FFFFFF;
    cursor:pointer;
}
#factory_layer #factory_sort .over{
    font-size:11px;
    color:#FFFFFF;
    padding-left:2px;
    line-height:16px;
    background-color:#08246B;
    cursor:pointer;
}

.fashion_style_layout_off{
    text-align: center;
    background-image:url(http://image.enuri.gscdn.com/images/view/ls_fcate/2010/style_line_img/img_box.gif);
    background-repeat:no-repeat;
    background-position:center center;
} 

.fashion_style_layout_on{
    text-align: center;
    background-repeat:no-repeat;
    background-position:center middle;
    background-image:url(http://image.enuri.gscdn.com/images/view/ls_fcate/2010/style_line_img/img_box_on.gif); 
}
#shop_layer{
    margin:0px 0px 0px 4px;
    position:relative;
    top:-2px;
}
#shop_layer #shop_layer_inner{
    clear:both;
    overflow:hidden;
    background-color:#f9f9f9;
    position:relative;
    border:1px solid #58585c;
}
#shop_layer #shop_layer_inner .shop_name{
    width:19%;
    margin:0px;
    padding:0px 0px 5px 0px;
    line-height:22px; 
    font-size:11px;
    float:left;
    overflow:hidden;
}
#shop_layer #shop_layer_bottom{
    clear:both;
    position:relative;
    height:1px;
    width:100%;
    background-color:#d0d0d0;
}
#view_mode, #sort_mode{
    width:65px;
    position:absolute;
    z-index:200;
    border:1px solid #6d6d6d;
    background-color:#ffffff;
}
#view_mode ul, #sort_mode ul{
    list-style:none;
    margin:0px 4px 0px 4px;
    padding:0px;
    width:62px;
    
}
#view_mode .out{
    padding-left:2px;
    line-height:16px;
    color:#555555;
    background-color:#FFFFFF;
    font-size:11px;
    cursor:pointer;
    font-family:돋움;
}
#view_mode .over{
    padding-left:2px;
    color:#555555;
    background-color:#e7e7e7;
    font-size:11px;
    line-height:16px;
    cursor:pointer;
    font-family:돋움; 
}
#sort_mode .out{
    padding-left:2px;
    line-height:16px;
    color:#333333;
    background-color:#FFFFFF;
    font-size:11px;
    cursor:pointer;
    font-family:돋움;
}
#sort_mode .over{
    padding-left:2px;
    color:#333333;
    background-color:#e0e0e0;
    font-size:11px;
    line-height:16px;
    cursor:pointer;
    font-family:돋움; 
}
#view_mode2{
    border-left:1px solid #949494;
    border-right:1px solid #949494;
    border-bottom:1px solid #949494;
    position:absolute;
}
#view_mode2 ul{
    list-style:none;
    margin:0px;
    padding:0px;
    width:109px;
}
#view_mode2 .out{
    font-size:11px;
    color:#333333;
    padding-left:2px;
    line-height:16px;
    background-color:#FFFFFF;
    cursor:pointer;
    font-family:돋움;
}
#view_mode2 .over{
    font-size:11px;
    padding-left:2px;
    line-height:16px;
    background-color:#ddeff9;
    cursor:pointer;
}
.dn_arrow{
    float:left;margin-top:7px;
}

/*150212 소셜모아  검색결과*/
.deal_srp{padding:21px 0 0px 8px; width:989px; position:relative;overflow:hidden}
.deal_srp h2{font-size:14px; color:#333333; height:20px; border-bottom:1px solid #cecece;}
.deal_srp h2 em{color:#ee4949; }
.deal_srp h2 span{font-weight:normal; }
.deal_srp h2 span em{font-size:11px; padding-left:6px; color:#333333;}
.deal_srp .deal_more{width:123px; height:22px; position:absolute; top:15px; right:0px; background:url(http://imgenuri.enuri.gscdn.com/images/main/btn_deal_more.gif) 0 0 no-repeat; text-indent:-9999em; }
.deal_srpList{border-bottom:1px solid #e9e9e9;padding:0; margin:0; padding:15px 0; width:1050px;}
.deal_srpList:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.deal_srpList li{list-style:none; padding:0; margin:0 22px 0 0; width:180px; position:relative; float:left; height:270px;}
.deal_srpList li a{display:block; text-decoration:none; height:270px; width:180px;}
.deal_srpList li img.thum{border:1px solid #dddddd; width:179px; height:179px;}
.deal_srpList li strong{color:#72787f; font-weight:normal; display:block; padding-top:5px; height:38px; line-height:18px; overflow:hidden; }
.deal_srpList li strong img{vertical-align:middle; margin:-2px 2px 0 0}
.deal_srpList li .per{position:absolute; left:0; top:252px; font-family:tahoma; color:#de1819; font-size:18px; letter-spacing:-1px;}
.deal_srpList li .special{position:absolute; left:0; top:257px; color:#de1819; font-size:14px; }
.deal_srpList li .price{right:0; bottom:0; position:absolute; color:#6f747a; font-size:11px; width:150px; text-align:right; background:none; font-family:dotum;}
.deal_srpList li .price .buy{position:absolute; right:3px; bottom:22px; color:#999999; font-weight:normal; font-family:dotum;}
.deal_srpList li .price .buy em{font-family:tahoma;}
.deal_srpList li .price .won{color:#2684fe;font-size:12px; }
.deal_srpList li .price .won em{font-family:tahoma; font-size:18px;}
.cl_ca_name_m a{text-decoration:none; }

.deal_tab{background:#f5f5f5; width:100%; height:34px; margin:0; padding:0; background:url(http://imgenuri.enuri.gscdn.com/images/main/deal_tabbg.gif) 0 0 repeat-x;}
.deal_tab li{list-style:none; float:left; text-align:center; width:185px;}
.deal_tab li.on{border:1px solid #cfcfcf; border-bottom:1px solid #ffffff;  background:#ffffff; height:32px; }
.deal_tab li a{text-decoration:none; color:#777777; line-height:34px; text-align:center; }
.deal_tab li a em{color:#acacac;}
.deal_tab li.on a{color:#3c4046; font-weight:bold; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_deal_on.gif) 0 2px no-repeat; padding-left:9px}
.deal_tab li.on a em{color:#72787f; }

.listpage h2{border-bottom:none;}
.listpage .deal_area{border:1px solid #cfcfcf; border-top:none; }
.listpage .deal_srpList{padding:23px 0 23px 19px; margin:0; width:1050px; border-bottom:none; }
.listpage .deal_srpList li{list-style:none; padding:0; margin:0 12px 0 0; width:180px; position:relative; float:left; height:270px;}


*:first-child+html #factory_layer{/*ie7*/
    top:-4px;
}
*:first-child+html #factory_layer .factory_name{/*ie7*/
    width:19%;  
}
*:first-child+html #price_layer{/*ie7*/
    top:-4px;
}
*:first-child+html #shop_layer{/*ie7*/
    top:-4px;
}
*:first-child+html .goodslist2 .chkbox2{/*ie7*/
    top:-1px;
}

*:first-child+html #linemap{/*ie7*/
    width:99%;
    float:none;
    display:block;
}
*:first-child+html .goods_image_list .chkbox2{/*ie7*/
    top:-1px;
}
*:first-child+html #search_shop_text{/*ie7*/
    height:15px;
    line-height:15px;
}
*:first-child+html .today_goodslist .chkbox2{/*ie7*/
    top:-1px;
}
*:first-child+html #tab #tab_seach_sort #keyword , #in_keyword{/*ie7*/
    border-color:white; border-style:none; border-width:0;
}
*:first-child+html #reckeyword_top #rec_keyword{/*ie7*/
    border-color:white; border-style:none; border-width:0;margin-top:-1px;
}
*:first-child+html #list_btn #keyword{/*ie7*/
    margin-top:1px;
}
*:first-child+html *#reckeyword_search #keyword{/*ie7*/
    margin-left:-10px;
}
*:first-child+html #rec_keyword_clear,*#rec_keyword_left{{/*ie7*/
    margin-top:1px;
}
