/* CSS Document */
.ft_resultline{
	font-size:8pt;
	color:#000080;
}
.ft_resultline_month{
	font-size:8pt;
	color:#000080;
	font-weight:bold;
	margin-right:3;
}
.ft_resultline_normal{
	font-size:8pt;
	color:#000080;
	/*
	filter:progid:DXImageTransform.Microsoft.Shadow(Color='#6A6A69', direction=135, strength=1);
	*/
}
.ft_resultline_saturday{
	font-size:8pt;
	color:#000080;
	/*
	color:#0000FF;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color='#000000', direction=135, strength=1);
	*/
}
.ft_resultline_sunday{
	font-size:8pt;
	color:#000080;
	/*
	color:#FF0000;
	filter:progid:DXImageTransform.Microsoft.Shadow(Color='#000000', direction=135, strength=1);
	*/
}
#tbl_resultmap{
	width:778px;
	cellspacing:0;
	cellpadding:0;
}
