/* CSS Document */
@charset "utf-8";
.line_style1{background-color:#c8c8c8;width:114px;height:1px;margin-left:6px;margin-bottom:-1px;padding:0px;}

.cate_qna_list_layer {list-style-type:none;margin:0px 0px 0px 4px;padding:2px 0px 0px 0px;color:#616161;font-size:11px;line-height:12px;font-family:'맑은 고딕','돋움';width:120px;}