	body, td, textarea {font-family:µ¸¿ò, ±¼¸², ±¼¸²Ã¼;font-size:9pt;}
	a {font-family:±¼¸²Ã¼;color:darkblue;font-size:9pt;text-decoration:none;}
	a:hover {font-family:±¼¸²Ã¼;color:red;font-size:9pt;text-decoration:none;}
	.input {border:1px solid  #7f9db9}
	P {margin-top:2px;margin-bottom:2px;}

	.listbtncss{cursor:hand;background-color:#EFEFEF;border:0px solid;width:100%;height:18;font-size:9pt;font-weight:bold;}
	.input {border:1px solid  #7f9db9;font-size:9pt;font-family:±¼¸²Ã¼;}
	.ttche {font-size:9pt;font-family:±¼¸²Ã¼;}
	.BtnImg 
	{
		border-style:none;
		font-family: ±¼¸²Ã¼;
		font-size: 9pt;
		width: 25px;
		height: 25px;
		background-color:#f0f0f0;
	}
	.TextMenuBar 
	{
		border-top-style:none;
		font-family: ±¼¸²Ã¼;
		font-size: 9pt;
		background-color:#f0f0f0;
	}
	.kbItemType1
	{
		font-weight: normal;
		color: #524BAC;
	}

	.kbItemTitle1
	{
		font-weight: bold;
		color: #524BAC;
	}
	
	a.kbModelName1:hover, a.kbModelName1:link, a.kbModelName1:visited, a.kbModelName1:active, span.kbModelName1
	{
		font-weight: bold;
		color: #EB64A7;
	}
	
.greyColor
{
	color: 808080
}