@charset "utf-8";

#brandlist ul{margin:0px;padding:0px;list-style:none;}
#brandlist li{padding:0px;}
#brandlist .ga15{margin:0px 0px 0px 15px;float:left;}
#brandlist .ga3{margin:0px 0px 0px 3px;float:left;}
#brandlist .bl_pop{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_abc{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ga{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_na{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_da{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ra{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ma{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ba{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_sa{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_aa{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ja{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_cha{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ka{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ta{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_pa{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_ha{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_123{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}

#brandlist .bl_10224{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_10220{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_10225{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_10235{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
#brandlist .bl_10226{margin:0px;padding:0px;float:left;width:14%;height:23px;cursor:pointer;font-family:돋움;font-size:11px;}
						
#brandlist a{text-decoration:none;color:#000000;}
#brandlist a:hover {text-decoration:none;color:#BD0F0E;}
#brandlist a:active {text-decoration:none;color:#BD0F0E;}

#div_bl img{cursor:pointer;}
#_hidden_bl_list {display:none;}
#divBrand2List{position:absolute;}
#divBrand2List ul{margin:0px 0px 0px 15px;padding:0px;list-style:none;}
#divBrand2List li{padding:0px;margin:0px;font-family:돋움;font-size:11px;line-height:20px;}
#divBrand2List a{text-decoration:none;color:#000000;}
#divBrand2List a:hover {text-decoration:none;color:#BD0F0E;}
#divBrand2List a:active {text-decoration:none;color:#BD0F0E;}

#div_brand_cate ul{margin:10px 0px 0px 15px;padding:0px;list-style:none;float:left;}
#div_brand_cate li{padding:0px;margin:0px;font-family:돋움;font-size:11px;line-height:20px;float:left;}
#div_brand_cate a{text-decoration:none;color:#000000;}
#div_brand_cate a:hover {text-decoration:none;color:#BD0F0E;}
#div_brand_cate a:active {text-decoration:none;color:#BD0F0E;}