 td,body {font-size: 9pt; color: #505050; font-family: gulim; line-height: 12pt} 
a {font-size: 9pt; color: #505050; font-family: gulim; text-decoration: none} 
a:hover {font-size: 9pt; color: #505050; font-family: gulim; text-decoration: 
underline} a.menu {font-size: 9pt; color: #505050; font-family: gulim; text-decoration: 
none} a:hover.menu {font-size: 9pt; color: #0370cd; font-family: gulim; text-decoration: 
underline} a.link {font-size: 9pt; color: #0370CD; font-family: gulim; text-decoration: 
none} a:hover.link{font-size: 9pt; color: #0370CD; font-family: gulim; text-decoration: 
none} 