@charset "utf-8";
/* base style */
* {margin:0;padding:0;}
img {vertical-align:middle;border:0 none;}
li {list-style:none;}
form {margin:0}
.text_break {
	word-wrap: break-word; /* Internet Explorer 5.5+ */
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
}
.png24 {tmp:expression(setPng24(this));}
/*html,body{width:100%;height:100%;}*/
/*html{overflow-y:scroll;}*/
body{text-align:center;font-family:돋움;font-size:12px;}

/* CSS Document */
#div_tour_right_top {
	position:absolute;
	display:;
	left:0px;
	top:5;
	z-index:5;
}
body {
	margin:0 0 0 2px;
	font-family:"돋움";
	font-size:9pt;
	color:#000000;
	line-height:14px;
	text-align:left;
}
 
td {
	font-family:"돋움";
	font-size:9pt;
	color:#000000;
}
ul {
	list-style:none;
}

.s_8 {
	font-family:"돋움";
	font-size:8pt;
	color:#000000;
	line-height:14px;
}

.s_9 {
	font-family:"돋움";
	font-size:9pt;
	color:#000000;
	line-height:14px;
}

a {selector-dummy: expression(this.hideFocus=true);}
a,img {selector-dummy: expression(this.hideFocus=true);}
a,img,input{selector-dummy: expression(this.hideFocus=true);}

a:link, a:visited, a:active {text-decoration: none; color:#3B2418; font-size:9pt;}
A:hover {text-decoration: none; color:#00358D; font-size:9pt;}

#c_menu_div a:link, a:visited, a:active {font-size:8pt;}
#c_menu_div A:hover {font-size:8pt;}

#wrap{
	min-width:780px;
}
#red_link{
	margin-top:30px;
	margin-left:5px;
	width:100%;
}
#red_link li{
	margin:0px;
	padding:0px;
}
#red_link .unit_redlink{
	list-style:none;
	margin:0px 0px 0px 0px;
	padding:0px;
	float:left;
	height:60px;
	width:100%;
}
#red_link .unit_redlink li{
	list-style:none;
	margin:3px 0px 0px 10px;
	padding:0px;
	line-height:12px;	
}
#red_link a.title{
	color:#ba0000;
	text-decoration:underline;
}
#red_link a.title:hover {
	color:#ba0000;
	text-decoration:underline;
}
#red_link a.title:active {
	color:#ba0000;
	text-decoration:underline;
}
#red_link a.title:visited {
	color:#ba0000;
	text-decoration:underline;
}
#red_link a.reg_redlink{
	color:#0000FF;
	text-decoration:underline;
}
#red_link a.reg_redlink:hover {
	color:#0000FF;
	text-decoration:underline;
}
#red_link a.reg_redlink:active {
	color:#0000FF;
	text-decoration:underline;
}
#red_link a.reg_redlink:visited {
	color:#0000FF;
	text-decoration:underline;
}

#red_link a.desc{
	text-decoration:none;
	color:#000000;
}
#red_link a.desc:hover {
	text-decoration:none;
	color:#FF0000;
}
#red_link a.desc:active {
	color:#FF0000;
	text-decoration:none;
}
#red_link a.desc:visited {
	color:#000000;
	text-decoration:none;
}
#red_link a.url{
	text-decoration:none;
	color:#757575;
}
#red_link a.url:hover {
	text-decoration:none;
	color:#757575;
}
#red_link a.url:active {
	color:#757575;
	text-decoration:none;
}
#red_link a.url:visited {
	color:#757575;
	text-decoration:none;
}
<!--//////////////////////////////////////////////////////////////////////////////////////////////////>

.b{font-weight:bold;}

a.b_brown:link{text-decoration: none;color:#3B2418}
a.b_brown:visited {text-decoration: none; color:#3B2418}
a.b_brown:active{text-decoration: none; font-weight:bold; color:#3B2418}
a.b_brown:hover {text-decoration:none;color:#3B2418}

a.link_blue:link{text-decoration: none;color:#0002FE}
a.link_blue:visited {text-decoration: none; color:#0002FE}
a.link_blue:active{text-decoration: none; color:#0002FE}
a.link_blue:hover {text-decoration:underline;color:#0002FE}

a.link_bk:link{text-decoration: none;color:#000000}
a.link_bk:visited {text-decoration: none; color:#000000}
a.link_bk:active{text-decoration: none; color:#000000}
a.link_bk:hover {text-decoration:none;color:#000000}

/* 입력폼*/

.txtarea {border:1px solid #9C9C9C; padding:2px; font-size:10pt; font-family:"돋움"; background-color:#ffffff; height:19px;}
.txtunderline{text-decoration:underline;}


/*달력글씨*/

.s_mon{
font-size:8pt; font-family:"돋움"; color:#000000;}
.s_sat{
font-size:8pt; font-family:"돋움"; color:#0000FF;}
.s_sun{
font-size:8pt; font-family:"돋움"; color:#FF0000;}

/* 사이즈 지정 */

.s_bk{
	font-size:7pt;
	color:#000000;
	font-family:Arial, "돋움";
	line-height:14px;
	letter-spacing:-0.1px;
}

.s_blue{
	font-size:11px;
	color:#25519A;
	font-family:돋움;
	line-height:14px;
	letter-spacing:-0.8px;
}


.s_bk_b{
	font-size:8pt;
	color:#000000;
	font-weight:bold;
	font-family:"돋움";
	line-height:14px;
}

.bigb_14{
	font-size:14px;
	font-family:Arial,"돋움";
	color:#000000;
	font-weight:bold;
}

.big_blue{
	font-size:15px;
	font-family:Arial,"돋움";
	padding-top:10px;
	padding-right:2px;
	letter-spacing:-1px;
	color:#01035A;
	font-weight:bold;
}


/* 칼라색 지정 */
.orange_b{
	font-size:10pt;
	font-weight:bold;
	font-family: Arial, "Courier New";
	color:#FF6800;
}

.dark_blue_b_price{
	font-size:10pt;
	font-family: Arial, "Courier New", "돋움";
	font-weight:bold;
	color:#003870;
}

.dark_blue_b{
	font-size:10pt;
	font-weight:bold;
	color:#003870;
}

.light_blue_b_price{
	font-size:10pt;
	font-family: Arial, "Courier New", "돋움";
	font-weight:bold;
	color:#2864C6;
}

.light_blue_b{
	font-size:10pt;
	font-weight:bold;
	color:#2864C6;
}

.light_blue_b8{
	font-size:8pt;
	font-weight:bold;
	color:#2864C6;
}

.blue_b{
	font-size:8pt;
	font-family: "돋움";
	font-weight:bold;
	color:#00106F;
	letter-spacing:-0.7px;
	line-height:14px;
}


/* 가격 범위 설정 */
.big_bk{
	font-size:12pt;
	font-family: Arial, "Courier New","돋움",;
	font-weight:bold;
	color:#000000;
	letter-spacing:-0.7px;
	line-height:14px;
}

/* 게시판 */
.white_b {
color:#FFFFFF; font-weight:bold;}

.bbs_blue{ 
	color:#001CC4;
	letter-spacing:0px;
	line-height:14px;
	padding-left:2px;
	padding-right:2px;
}

a.bbs_blue:link{text-decoration: none;color:#001CC4}
a.bbs_blue:visited {text-decoration: none; color:#001CC4}
a.bbs_blue:active{text-decoration: none;  color:#001CC4}
a.bbs_blue:hover {text-decoration:none;color:#001CC4}

.bbs_price {
	color:#00127C;
	font-family: Arial, "Courier New";
	font-size:11pt;
	font-weight:bold;
}

.bbs_gray { color:#999999;}

.travel_price {
	color:#0000FF;font-weight:bold;font-family:Arial;font-size:11pt;
}
.travel_price_point {
	color:#0000FF;font-family:돋움;font-size:8pt;
}
.travel_price_normal {
	color:#0000FF;font-family:Arial;font-size:9pt;
}
.travel_price_dod {
	color:#0000FF;font-family:돋움;font-size:9pt;
}
.travel_won {
	color:gray;font-weight:normal;font-size:8pt;font-family:돋움;
}

/* 항공사 링크 */
.airman { font-size:11px; font-family:"돋움"; color:#FF6600;}
a.airman:link{text-decoration: none; font-weight:bold; color:#E9490C; font-size:8pt; font-family:"돋움";}
a.airman:visited {text-decoration: none; font-weight:bold; color:#E9490C; font-size:8pt; font-family:"돋움";}
a.airman:active{text-decoration: none; font-weight:bold; color:#E9490C; font-size:8pt;font-family:"돋움";}
a.airman:hover {text-decoration:none;color:#333333; font-weight:bold; font-size:8pt;font-family:"돋움";}

/* 항공사 로고 테이블박스 스크롤 */
#airman_box {
	width:148px;
	height:300px;
	overflow:scroll;
	overflow-x:hidden;
	scrollbar-face-color: #addc9d; 
	scrollbar-shadow-color: #84c66f; 
	scrollbar-highlight-color: #FFFFFF; 
	scrollbar-3dlight-color: #addc9d; 
	scrollbar-darkshadow-color:#276e14; 
	scrollbar-track-color: #FFFFFF; 
	scrollbar-arrow-color: #276e14;
}

/* 메인배너번호버튼 */
.travel_ad_btn{
	width: 17;
	height: 17;
	cursor: pointer;
}

.tsearch_keyword_red{
	color:#750000;
}

/* 검색탭부분 */
#LayerSortBar {
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #7F9DB9 #7F9DB9 #7F9DB9 #7F9DB9;
	color: #000000;
	font-size: 0pt;
	padding: 0px 0px 0px 0px;
	text-align: right;
	width:100%;
	height: 18;
}

a.menuButton, a.menuButtonActive {
	background-color: transparent;
	border: 0px solid #c0c0c0;
	color: #000000;
	cursor: hand;
	font-family: "굴림";
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	position: relative;
	left: 0px;
	top: 0px;
	text-decoration: none;
	width:100%;
	height:100%;
}
a.menuButton:hover {
	background-color: transparent;
	border-color: #f0f0f0 #808080 #808080 #f0f0f0;
	color: #000000;
}
a.menuButtonActive, a.menuButtonActive:hover {
	background-color: #FFFFFF;
	border-color: #808080 #f0f0f0 #f0f0f0 #808080;
	color: #000000;
	left: 0px;
	right: 0px;
}
.menu {
	background-color: #FFFFFF;
	border: 1px solid;
	border-color: #7F9DB9 #7F9DB9 #7F9DB9 #7F9DB9;
	padding: 0px;
	position: absolute;
	text-align: left;
	visibility: hidden;
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;  
}

a.menuItem {
	background-color: transparent;
	color: #000000;
	cursor: hand;
	display: block;
	font-family: "굴림";
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	padding: 2px 22px 2px 5px;
	text-decoration: none;
	white-space: nowrap;
}
 
a.menuItem:hover {
	background-color: #FFFFFF;
	color: #000000;
}
/* 이미지 겹칠때 투명처리 */
.png24 {
    tmp:expression(setPng24(this)); 
}

.ft_factory {
	font-family:"돋움";
	font-size:8pt;
	padding-left:1;
	letter-spacing:-1px;
}
.ft_factorycnt {
	font-family:"MS Serif";
	font-size:7pt;
	color:#4B4B4B;
	padding-right:0;
}

/* 검색대표상품 */
.ft_listmaster {
	font-family: "돋움", "돋움체";
	font-size: 8pt;
	color: #232323;
	line-height: 13px;
}
.ft_listmaster_p1 {
	font-family:돋움;
	font-size:8pt;
	color:#808080;
}
.ft_listmaster_p2 {
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	color:#0000FF;
}
#resultmap_getcnt{
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
}
#resultmap_getgroupcnt{
	background-color:red;
	font-family:Arial;
	font-size:9pt;
	font-weight:bold;
	color:#FFFFFF;
	padding:0 2 0 2;
}

.ft_resultcnt{
	font-family:"MS Serif";
	font-size:7pt;
	color:#FF0000;
}

#tbl_main_banner{
	width:430px;
	border:0px solid red;
	cellspacing:0;
	cellpadding:0;
}
#travel_ad_1{
	width:430px;
	height:220;
	display:;
	overflow:hidden;
	z-index:2;
}
#travel_ad_2{
	 width:430px;
	 height:220px;
	 display:none;
	 overflow:hidden;
	 z-index:2;
}
#travel_ad_3{
	 width:430px;
	 height:220px;
	 display:none;
	 overflow:hidden;
	 z-index:2;
}
#travel_ad_4{
	 width:430px;
	 height:220px;
	 display:none;
	 overflow:hidden;
	 z-index:2;
}
#travel_ad_5{
	 width:430px;
	 height:220px;
	 display:none;
	 overflow:hidden;
	 z-index:2;
}
#travel_ad_6{
	border:0px solid red;
	width:100%;
	height:20px;
	align:right;
	valign:top;
}
#travel_number_layer{
	float:right;
}
#travel_number_layer1{
	float:left;
	width:17px;
}
#travel_number_layer2{
	float:left;
	margin:0 0 0 3px;
	width:17px;
}
#travel_number_layer3{
	float:left;
	margin:0 0 0 3px;
	width:17px;
}
#travel_number_layer4{
	float:left;
	margin:0 0 0 3px;
	width:17px;
}
#travel_number_layer5{
	float:left;
	margin:0 0 0 3px;
	width:17px;
}
#main_middle{
	float:left;
	width:778px;
}
#main_banner_layer{
	float:left;
	width:440px;
}
#travel_mainurgency{
	float:left;
	width:320px;
	height:220px;
	margin:0 0 0 5px;
}
#tblTravelMain{
	float:left;
	width:317px;
}
#tblTravelMain1_img1{
	width:21px;
	height:19px;
	padding:0;
	margin:0 0 0 5px;
}
#tblTravelMain1_img2{
	width:151px;
	height:26px;
	padding:0;
	margin:0 0 0 5px;
}
#tblTravelMain2{
	float:right;
	width:115px;
	margin:0 0 0 0;
}
#tblTravelMain2 ul{
	float:right;
	list-style:none;
	margin:7px 10px 0 0;
}
#tblTravelMain2 li{
	float:left;
	margin-left:3px;
	padding:0;
}
#tblTravelMain2 img{
	align:absmiddle;
	border:0;
	padding:0 0 1px 0;
	cursor:pointer; 
}

#tbl_urgency{
	float:left;
	width:317px;
	height:207px;
	background-image:url(http://img.enuri.gscdn.com/images/view/travel/ba01_img_bg.gif);
}
#tbl_urgency_top_line{
	float:left;
	width:317px;		
}
#tbl_urgency_bottom_line{
	float:left;
	width:317px;
	height:9px;
}
#tbl_urgency_middle{
	width:317px;
}
#tblTravelMain1{
	float:left;
	margin:0;
	padding:0;
	width:200px;
	height:27px;
}
#tbl_urgency_top_img{
	float:left;
	display:block;
	width:317px;
}
#tbl_urgency_bottom_img{
	float:left;
	vertical-align:middle;
	display:block;
	width:317px;
}
#urgency_list{
	float:left;
	width:316px;
	margin:10px 0 0 0;
}
#urgency_list ul{
	clear:left;
	wifth:316px;
	margin:0;
	padding:0;
	height:19px;
	cursor:pointer;
}
#urgency_list_li1{
	float:left;
	width:45px;
	margin:0 0 0 5px;
}
#urgency_list_li2{
	float:left;
	padding:0 0 0 5px;
	width:180px;
}
#urgency_list_li3{
	float:right;
	margin:0 5px 0 0;
	width:65px;
	text-align:right;
}
#main_middle2{
	float:left;
	width:778px;
	height:250px;
	margin:13px 0 0 0;
}
#main_middle2_title{
	float:left;
	width:778px;
}
#main_middle2_title ul{
	float:left;
	width:778px;
}
#middle2_title_li1{
	float:left;
	margin:0 0 0 10px;
}
.middle2_title_li{
	float:left;
	margin:0 0 0 5px;
}
#middle2_title_li2{
	vertical-align:middle;
	display:block;
}
#div_travelmainarea_searching{
	display:none;
	position:relative;
	top:150px;
	width:200px;
	height:50px;
	background-color:#FFFFFF;
}
#travel_mainlist_1{
	float:left;
	height:220px;
}
#travel_mainlist_2{
	height:220px;
}
#travel_mainlist_3{
	height:220px;
}
#travel_mainlist_4{
	height:220px;
}
#travel_mainlist_5{
	height:220px;
}
#travel_mainlist_6{
	height:220px;
}
#tbl_managetrave{
	float:left;
	width:778px;
}
#tr_managetrave1{
	float:left;
	width:778px;
}
#td_managetrave1_left{
	float:left;
	width:410px;
	margin:10px 0 0 0;
}
#td_managetrave1_right{
	float:right;
	width:410px;
	margin:10px 0 0 0;
}
#tr_managetrave2{
	float:left;
	width:778px;
	margin:10px 0 0 0;
}

#td_managetrave2_left{
	float:left;
	width:410px;
}
#td_managetrave2_right{
	float:right;
	width:410px;
}
#td_managetrave1_left ul{
	float:left;
	width:410px;
	
}
#td_managetrave1_left li{
	margin:1px 0 0 0;
}

.managetrave_title{
	float:left;
	width:270px;
	margin:0 0 0 5px;
	overflow:hidden;
}
.managetrave_tour{
	float:left;
	width:71px;
	height:17px;
	font-size:11px;
	color:#25519A;
	font-family:돋움;
	line-height:14px;
	letter-spacing:-0.8px;
	text-align:center;
	background-image:url(http://img.enuri.gscdn.com/images/view/travel_2011/tour_bt.gif);
	margin:0 0 0 2px;
	padding:2px 0 0 0;
	background-repeat: no-repeat;
}
.managetrave_price{
	width:60px;
	float:right;
	font-size:10pt;
	font-family: Arial, "Courier New", "돋움";
	font-weight:bold;
	color:#2864C6;
	padding:0 0 0 0;
}
.managetrave_title_div{
	width:265px;
	height:17px;
	margin:5px 0 0 5px;
	overflow:hidden;
}
#direct_tour{
	float:left;
	width:778px;
}
#direct_tour ul{
	float:left;
}
#direct_tour li{
	float:left;
}
#direct_tour_title{
	width:99px;
	height:28px; 
}
#direct_tour_line{
	width:778px;
	height:5px; 
}
.direct_tour_li{
	float:left;
	width:119px;
	height:35px;
	vertical-align:middle;
	text-align:center;
}
#tbl_red_link{
	clear:both;
	width:778px;
}
#sp_layer{
	float:left;
	width:309px;
	height:129px;
}
#tr_search_layer{
	float:left;
	width:767px;
	margin:0;
	padding:0;
	border:0px solid red;
}
#search_layer_menu{
	float:left;
	height:22px;
}
#search_layer_menu ul{
	float:left;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#search_layer_menu li{
	float:left;
	valign:bottom;
	margin:0px;
}
#search_layer_menu img{
	display: block;
}
#tbl_travel_detail1 ul{
	float:left;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#tbl_travel_detail1 li{
	float:left;
	margin:0px;
	padding:0px;
}
#search_layer_menu li{
	float:left;
	margin:0px;
	padding:0px;
}
#tbl1_travel_detail1{
	float:left;
}
#tbl1_travel_detail1 ul{
	float:left;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#tbl1_travel_detail1 li{
	float:left;
	margin:0px;
	padding:0px;
}
#travel_top{
	width:778px;
}