/* CSS Document */
td {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#464646; text-decoration: none}
   td:link {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#464646; text-decoration: underline}
   td:visited {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#464646; text-decoration: none}
   td:active {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#464646; text-decoration: none}
   td:hover {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#464646; text-decoration: underline}


.blue {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #6395d8; text-decoration: none}

.blue_s {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #6395d8;  text-decoration: none}

.red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #ff0000; text-decoration: none}	

.s {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:8pt; color:#464646; text-decoration: none} 		

.blue {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: ##6395d8; text-decoration: none}

.font_w_s {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ffffff; text-decoration: none}

.s_sun {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #cc0000; text-decoration: none}

.s_sat {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: ##6395d8; text-decoration: none}

.s_price {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #35A3F8;text-decoration: none}	

.s_red {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #ff0000; text-decoration: none}		

.s_gray7 {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #777777; text-decoration: none}

.s_gray6 {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #666666; text-decoration: none}

.s_m_gray {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #333333; text-decoration: none}

.s_r_gray {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 8pt; color: #AFAFAF; text-decoration: none}

.list_tit {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #333333; font-weight:bold;text-decoration: underline}

.list_tit_blue {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #2775D5; text-decoration: none}	

.jejo {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #008080; text-decoration: none}	

.go {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #464646; text-decoration: none}
a.go :link {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt;  color:  #464646; text-decoration: underline}
  	a.go :visited {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color:  #464646; text-decoration: underline}	
  	a.go :active {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #464646;;text-decoration: underline}
a.go :hover {font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size: 9pt; color: #333333; text-decoration: underline}	
 
	
   select
{
   font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#333333; text-decoration: none;
}	


div, select
{
   font-family: "µ¸¿ò", "µ¸¿òÃ¼"; font-size:9pt; color:#333333; text-decoration: none;	
}
	
.style3 {color: #000000}