td, th		{	vertical-align:middle;font-family:±¼¸², ±¼¸²Ã¼;font-size:10pt;background-color:white;line-height:20pt}
th			{	font-weight:bold;font-size:11pt}
.alignright {	text-align:right}
.inputclass	{
				border-right: black 1px solid;
				border-top: #000000 1px solid;
				border-left: #000000 1px solid;
				border-bottom: #000000 1px solid;
				font-size: 9pt;
				color: black;
				background-color: #ffffff
			}
.buttonclass{
				border-right: #000000 1px solid;
				border-top: #000000 1px solid;
				border-left: #000000 1px solid;
				border-bottom: #000000 1px solid;
				font-size: 9pt;
				color: white;
				background-color:#6099e0;
				font-weight:bold;
				vertical-align:middle;
			}