@charset "utf-8";

/* common */

body {width:100%;height:100%; margin:0; padding:0;}

/*header*/
.header_enuri ul,li{list-style:none}
.header_enuri{font-size:12px;color:#666666;}
.header_enuri input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
.header_enuri h2{margin:0;padding:0;}
.header_enuri a{text-decoration:none; }
.header_enuri img{border:none;}
.header_enuri form, input{margin:0; padding:0;}

.footerarea ul,li{list-style:none}
.footerarea{font-size:12px;color:#666666;}
.footerarea input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
.footerarea h2{margin:0;padding:0;}
.footerarea a{text-decoration:none; }
.footerarea img{border:none;}
.footerarea form, input{margin:0; padding:0;}

.header_enuri{color:#747b92;height:32px; border-bottom:1px solid #d2d2d2; width:100%; font-family:"malgun gothic"; }
.header_enuri textarea{border:1px solid #ccc}
.header_enuri select{padding-left:2px;border:1px solid #ccc}
.header_enuri input{ border:1px solid #ccc;vertical-align:middle}
.header_enuri fieldset{border:0;margin:0px;padding:0px}
.header_enuri legend{display:none}
.header_enuri label input{border:0px}

.searcharea{padding-top:3px;}
.header_enuri .h_e_center{position:relative; width:980px;margin:0 auto; z-index:10;}
.header_enuri .h_e_center .logo{float:left;width:69px;height:22px;margin-top:2px;text-indent:-9999px;background:url(http://imgenuri.enuri.gscdn.com/images/etc/logo.png) no-repeat;}
.header_enuri .h_e_center .search_box{float:left;margin-left:15px;margin-top:2px;width:150px;height:20px;border:1px solid #0082e6;border-right:none;background:#fff}
.header_enuri .h_e_center .search_box input{height:16px;width:140px;line-height:16px;border:none;margin:2px 0 0 5px}
.header_enuri .h_e_center .btn_search{float:left;margin-top:2px; height:22px;border:none;cursor:pointer; font-size:11px !important; color:#ffffff; background:#0082e6; width:64px;}
.header_enuri .h_e_center .r_menu{position:absolute; right:0; top:2px; height:22px; width:670px; }
.header_enuri .h_e_center .r_menu .l_menu{float:left;height:22px;line-height:23px; color:#747b92}
.header_enuri .h_e_center .divider{float:left;margin-top:6px;height:10px;width:22px;background:url(http://imgenuri.enuri.gscdn.com/images/etc/bull_hd_blink.gif) center center no-repeat;}

.s_more{border:2px solid #0083e8; padding:48px 0 0 13px; width:230px; height:197px; background: url(http://imgenuri.enuri.gscdn.com/images/etc/tit_service.gif) 13px 19px no-repeat #ffffff; position:absolute; right:0px; top:32px; }
.s_more h2{display:none; }
.s_more .service_list.first{border-left:none;}
.s_more .service_list{border-left:1px solid #f1f1f1; width:110px; float:left; height:158px; margin:0; padding:0; }
.s_more .service_list li{width:98px; padding-left:10px; line-height:21px !important; list-style:none}
.s_more .service_list li a{color:#3a3a43; font-family:dotum !important; text-decoration:none; font-size:12px;font-weight:normal; }
.s_more .ly_close{z-index:100; position:absolute; right:0; bottom:0; background: url(http://imgenuri.enuri.gscdn.com/images/main/ico_service.gif) 7px -23px no-repeat; width:23px; height:23px; text-indent:-9999em;  }
.s_more .all_view{margin:0; padding:0; border-top:1px solid #f5f5f5; width:228px; position:absolute; left:0; bottom:0;  height:18px; padding:7px 0 0 15px; background:#ffffff;}
.s_more .all_view a{font-weight:normal; text-decoration:none !important; font-family:dotum !important; font-size:11px; color:#68686d !important; background: url(http://imgenuri.enuri.gscdn.com/images/main/ico_service.gif) right 4px no-repeat; position:absolute; left:15px; bottom:5px; padding-right:14px; z-index:100}

.enuriAPP{position:absolute; left:310px; top:0; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; height:26px; padding:7px 7px 0 7px;}
.enuriAPP a.app_down{color:#333333; font-weight:bold; background: url(http://imgenuri.enuri.gscdn.com/images/main/ico_app.gif) 0px 3px no-repeat; padding-left:12px;}
.service_area{position:absolute; right:0px; top:0; padding-top:7px;}
.service_area a.service_list{color:#333333; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_more.gif) right 3px no-repeat; padding-right:17px;}

/*footer*/
.enuri_description{width: 940px; margin: 50px auto 0; padding:20px; }
.enuri_description:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.enuri_description ul{width:50%; float:left; margin:0; padding:0;}
.enuri_description ul li{line-height:19px; color:#727272; font-size:12px; font-family:dotum; }

#footerWrap{width:980px;height:150px;margin:0 auto;clear:both}
#footerWrap div.FCon{border-top:2px solid #000;padding:30px}
#footerWrap div.FCon div.fcLogo{width:170px;float:left;margin-right:30px}
#footerWrap div.FCon div.fcTxt{width:700px;float:left}
#footerWrap div.FCon ul.fcOdinfo{height:40px;line-height:18px;padding:0 5px}
#footerWrap div.FCon ul.fcOdinfo li a{font-size:11px;text-decoration:underline}
#footerWrap div.FCon div.fcTxt div.fcInfo{padding:10px 5px;line-height:20px}
#footerWrap div.FCon div.fcTxt div.fcInfo a:hover{text-decoration:underline}
#footerWrap div.FCon div.fcTxt div.fcInfo span{color:#d1d1d1;font-size:11px;padding:2px 5px}
.tblFooter{width:100%;border-top:1px solid #ccc;border-bottom:1px solid #ccc; text-align:center; margin:0; padding:7px 0;}
.tblFooter li{display:inline; margin:0 30px; }
.tblFooter li a{color:#757575; font-size:11px; font-family:dotum;}

#m_footer{position:relative;width:1000px;height:108px;margin-right:136px; z-index:1}
.main #m_footer{width:883px;margin:0 auto}
#m_footer .m_footLogo{position:absolute;top:20px;left:24px; z-index:1}
#m_footer .m_footInner{padding:17px 0 0 146px;font:11px/1.6 '돋움', Dotum;letter-spacing:-1px}
#m_footer .m_footInner .m_enuriDec{color:#4984b5}
#m_footer .m_footInner address{float:left;margin:0 4px 0 0;color:#888;font-style:normal}
#m_footer .m_footInner .m_enuriInfo{color:#888}
#m_footer .m_footInner .m_enuriInfo span{color:#888;margin:0 0 0 3px;padding:0 0 0 7px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_foot_bar.gif) no-repeat 0 1px}
#m_footer .m_footInner .m_enuriInfo img{vertical-align:middle}
#m_footer .m_footInner .m_copyright{margin:8px 0 0;color:#686868}
#m_footer p{margin:0px;padding:0px}

/* enuri */
.headerArea{position:relative; width:1000px; margin:0 auto;  z-index:10000;}
.headerArea_s{position:relative; margin:0 auto;  z-index:10000;}
.simple_h{position:absolute; right:-8px; top:9px;}
.simple_h .enuriApp{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_down.gif) 0 7px no-repeat; padding-left:20px !important; }
.simple_h .enuriApp:hover{text-decoration:underline !important; }

.simple_h .spbox{border:2px solid #0182e8; width:326px; height:288px; z-index:10; background:#ffffff; position:relative; text-indent:-9999em; }
.simple_h .spbox .ly_close{position:absolute; right:0; top:0; z-index:10; text-indent:-9999em; width:10px;}
.simple_h .spbox .sp_tab{position:absolute; left:12px; top:10px; width:100% !important; text-align:left !important; margin:0; padding:0;}
.simple_h .spbox .sp_tab li {float:left; background:none !important; margin:0 !important;}
.simple_h .spbox .sp_tab li a{width:70px; height:37px; padding:0 !important; text-indent:-9999em; float:left;}
.simple_h .spbox .sp_tab li:first-child a{width:107px;}
.simple_h .spbox .sp_tab li:last-child a{width:85px;}

.simple_h .spbox .sp_enuri{background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader.jpg) 0 0; height:288px; width:442px;}
.simple_h .spbox .sp_car{background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader.jpg) 0 -304px; height:288px; width:442px;}
.simple_h .spbox .sp_hotdeal{background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader.jpg) 0 -608px; height:288px; width:442px;}
.simple_h .spbox dl dd a{padding:0 !important; width:48px;height:48px; position:absolute; }
.simple_h .spbox dl dd a.goole{left:31px; top:199px;}
.simple_h .spbox dl dd a.apple{left:101px; top:199px;}
.simple_h .spbox dl dd input.mobile{border:0; background-color:transparent; position:absolute; left:174px; top:200px; padding:3px 5px; width:150px; background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_input.gif) 2px 5px no-repeat;}
.simple_h .spbox dl dd input.focus{position:absolute; border:0; background-color:transparent;  left:174px; top:200px; padding:3px 5px; width:150px; background:none; }
.simple_h .spbox dl dd .send{position:absolute; left:346px; top:198px; width:69px; height:29px; background:url(http://imgenuri.enuri.gscdn.com/images/main/btn_send.gif) 0 0; border:none; cursor:pointer; }

.headerArea_s .category li{position:relative; }
.category li a.enuriApp{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_down.gif) 0 0px no-repeat !important; padding-left:20px !important; }
.category li a.enuriApp:hover{text-decoration:underline !important; }
.headerArea_s .simple_h .spbox .ly_close{width:30px; height:30px; padding:0 !important}
.headerArea_s .simple_h{right:-8px; top:9px;}
.headerArea_s .spbox h2, .headerArea_s .spbox p, .headerArea_s .spbox dl{margin:0; padding:0; }
.headerArea_s .spbox .sp_enuri{width:326px; background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader_s.jpg) 0 0; }
.headerArea_s .spbox .sp_car{width:326px; background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader_s.jpg) 0 -304px;  }
.headerArea_s .spbox .sp_hotdeal{width:326px; background:url(http://imgenuri.enuri.gscdn.com/images/main/img_simpleheader_s.jpg) 0 -608px;  }

#contentWrap {  position: relative;  margin-left: auto;  margin-right: auto;}