@charset "utf-8";
/* ----------------------------------------------------------- 
                연관상품페이지
----------------------------------------------------------- */
body {background-color: #fff;}
#wrap {padding-bottom:70px;}
.bin_area {height:10px; background-color: #f8f8f8;}
.rrg_nav {padding:9px 10px; background-color: #fff; border-bottom:1px solid #ccc;}
.rrg_nav.fixed_top{position: fixed;top:0;left:0;width:100%;z-index: 100;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);box-shadow: 0 3px 3px rgba(0,0,0,.05)}
.scr_up .rrg_nav.fixed_top {-webkit-transition:all .5s; -o-transition:all .5s; transition:all .5s; -webkit-transform:translateY(57px);-ms-transform:translateY(57px);transform:translateY(57px)}
.scr_down .rrg_nav.fixed_top {-webkit-transition:all .5s;-o-transition: all .5s;transition: all .5s;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}

.rrg_nav .rrg_tabmenu {width: 100%; overflow: auto; white-space: nowrap;}
.rrg_nav .rrg_tabmenu li {position:relative; display: inline-block; vertical-align: middle; color:#fff; font-size: 14px; height:28px; line-height: 28px; padding:0 8px; border-radius: 6px; background-color: #ccc; cursor: pointer;}
.rrg_nav .rrg_tabmenu li button {display: none; padding:8px; position:absolute; top:0; right:0;}
.rrg_nav .rrg_tabmenu li button i.icon_remove{display: block; width:12px; height:12px; background-position: -24px -136px;}

.rrg_nav .rrg_tabmenu li.active {padding:0 8px; background-color: #2680eb;}
.rrg_nav .rrg_tabmenu li.active button {display: block;}

.rrg_tab_content {padding-top:14px; border-top:1px solid #eee;}
.rrg_tab_content > div {display: none; padding:0 12px; max-width: 360px; margin: 0 auto;}
.rrg_tab_content > div.active {display: block;}

.rrg_list {display: -webkit-flex; display: flex; justify-content: space-between; flex-wrap: wrap; margin-left:-12px; margin-right:-12px;}
.rrg_list > li {flex: 0 0 auto; width:50%; padding-left:12px; padding-right:12px; margin-bottom:32px;}
.rrg_list > li:nth-child(n+7) {display: none;}
.rrg_list > li a {display: block;}

.rrg_list .goods_thumb {position: relative; margin-bottom:8px;}
.rrg_list .goods_thumb .btn__zzim {display: block; position: absolute; bottom: 8px; right: 8px;}
.rrg_list .goods_thumb .thumbnail_img {display: block; position: relative; text-align: center;}
.rrg_list .goods_thumb .thumbnail_img .label_recent {display: block; height:20px; line-height: 18px; font-size: 11px; color:#2680eb; border:1px solid #2680eb;  background-color: #fff; position:absolute; top:0; left:0; padding: 0 5px; letter-spacing: -1.5px;}
.rrg_list .goods_thumb .thumbnail_img img {width:134px; height:134px; object-fit: cover;}
.rrg_list .goods_thumb .thumbnail_img:after {content:""; display: block; position:absolute; top:0; left:0; right:0; bottom:0; background-color: rgba(0,0,0,.02);}

.rrg_list .goods_info {letter-spacing: -.5px;}
.rrg_list .goods_info .goods_name {height:40px; font-size: 14px; display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; -webkit-box-orient:vertical; -webkit-line-clamp:2; overflow:hidden; line-height: 20px; }
.rrg_list .goods_info .goods_price {height:19px; font-weight: bold; font-size: 16px; color:#000; margin-top:8px; line-height: 1;}
.rrg_list .goods_info .goods_price em {}
.rrg_list .goods_info .goods_rate {height:14px; font-size: 12px; color:#555; margin-top:8px; letter-spacing: 0;}
.rrg_list .goods_info .goods_rate i.icon_star {display: inline-block; vertical-align: -1px; width:12px; height:12px; background-position: -0 -328px; margin-right: 2px;}
.rrg_list .goods_info .goods_rate .rate_score {}
.rrg_list .goods_info .goods_rate .rate_count {color:#888; margin-left:2px;}
.rrg_list .goods_info .goods_addinfo {height:14px; font-size: 12px; color:#2d85ed; margin-top:6px;}
.rrg_list .goods_info .goods_addinfo i.icon_epoint {display: inline-block; vertical-align: -1px; width:12px; height:12px; background-position: -12px -328px; margin-right: 2px;}


.btn_more_list {position:fixed; bottom:0; left:0; width:100%; height:47px; line-height: 46px; font-size: 14px; color:#222; border-top:1px solid #eee; text-align: center; background-color: #fff;}
.btn_more_list i.icon_arrow_down_s20 {display: inline-block; vertical-align: -5px; width:20px; height:20px; background-position: 0 -410px;}

/* 리스트 홀수일때 아이템 */
.rrg_list > li .noitem {height:100%; background:#fff url("//img.enuri.info/images/mobile_v2/logo_noitem.png") no-repeat center; background-size: 82px;}

/* 노리스트 */
.rrg_nolist {padding:36px 0 50px; text-align: center;}
.rrg_nolist > img {width:76px;}
.rrg_nolist .txt1 {font-size: 16px; color:#666; margin-top:13px;}
.rrg_nolist .txt2 {font-size: 14px; color:#222; margin-top:28px;}
.rrg_nolist a {display: inline-block; width:142px; height:40px; line-height: 40px; font-size: 16px; background-color: #0073be; color:#fff; margin-top:14px; letter-spacing: -1px;}

