@charset "utf-8";

@import url("default.css");


/* 20150422  매스마케팅2 프로모션 */
#divScreen {display:none;position:fixed; top:0; left:0;width:0%; height:0%; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/prize/layer_back.png); z-index:10000;}
#divScreen.on{width:100%; height:100%;display:block;}

.event_wrap {position:relative; width:1300px; margin:0 auto;}
.event_wrap h2, .event_wrap h3, .event_wrap .txt {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}

.section {position:relative; overflow:hidden;}
.visual {height:1110px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_visual.jpg) no-repeat 50% 0;}
.landing {background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_visual2.jpg) no-repeat 50% 0;}
.visual .movie {position:absolute; top:425px; left:232px; width:834px; height:472px; }
.visual  a.btn_comment {position:absolute; bottom:70px; left:529px; display:inline-block; width:242px; height:55px; text-indent:-9999em;  background:url(/images);}

.present {height:747px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_present.jpg) no-repeat 50% 0;}
.present .quiz_box { font-family:NanumGothicBold; font-size:24px; color:#002745; }
.present .quiz_box dt {position:absolute; top:188px; left:413px;  width:700px; height:30px; overflow:hidden; line-height:1; *line-height:1.2;}
.present .example .chk {position:absolute; top:277px;}
.present .example .chk label {line-height:1; margin-left:5px;  font-size:28px; vertical-align:7px}
.present .example .chk1 {left:355px; }
.present .example .chk2 {left:683px; }
.present a.btn_quiz {position:absolute; top:357px; display:inline-block; width:242px; height:55px; text-indent:-9999em;  background:url(/images);}
.present a.btn_submitAnswer {left:403px;}
.present a.btn_winnerConfirm {left:655px;}

.share {height:1110px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_share.jpg) no-repeat 50% 0;}
.share .scrap_area {position:absolute;top:298px; left:400px;  }
.share .scrap_area li {position:relative; float:left; width:134px; height:195px; margin-left:49px;}
.share .scrap_area li:first-child {margin-left:0;}
.share .scrap_area li a {position:absolute; display:inline-block; text-indent:-9999em; }
.share .scrap_area li a.btn_circle {width:134px; height:135px; }
.share .scrap_area li a.btn_square {margin:154px 0 0 16px; width:102px; height:38px;}
.share .qrcode {display:none; position:absolute; top:-7px; left:144px; width:150px; height:182px; text-indent:-9999em;  z-index:500; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/qrcode.png); }
.share .comment {position:absolute; top:530px; left:448px;  width:564px; height:164px; }
.share .comment input {width:544px; height:37px; padding:0 10px; font-size:12px; line-height:37px;  font-family:"돋움", dotum; color:#767676; border:none; background-color:#fff;}
.share .comment textarea {margin-top:20px; width:544px;  padding:10px; height:86px; font-family:"돋움", dotum; color:#767676; border:none; background-color:#fff;}
.share .btn_area {}
.share .btn_area a {position:absolute; bottom:342px;right:172px; width:242px; height:55px; display:inline-block; text-indent:-9999em;  background:url(/images);}
.share .btn_area a.btn_apply {left:448px;}
.share .btn_area a.btn_board {left:700px;}
.share .btn_vip  {position:absolute;  bottom:67px; right:150px; width:412px; height:224px; display:inline-block; text-indent:-9999em;  background:url(/images);}

.enuriapp {height:627px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_enuriapp.jpg) no-repeat 50% 0;}
.enuriapp a.btn_installApp {position:absolute; bottom:142px; right:190px; width:402px; height:63px; display:inline-block; text-indent:-9999em; background:url(/images); }

.tvcf {height:868px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_tvcf.jpg) no-repeat 50% 0;}
.tvcf .movie {position:absolute; top:134px; left:235px; width:834px; height:472px; }
.btn_mv {position:absolute; bottom:63px; width:270px; height:173px; display:inline-block; text-indent:-9999em; background:url(/images); }
.btn_mv.m1 {left:236px; }
.btn_mv.m2 {left:518px; }
.btn_mv.m3 {left:799px; }

.customer p {margin-top:60px; text-align:center;}

/* table 공통 */
.tb_box {width:1000px; margin:28px auto 0; border-top:2px solid #363636; border-bottom:1px solid #b9b9b9;}
.tb_box .tb {width:100%; border-collapse:collapse; }
.tb_box .tb colgroup .col1 {width:114px;}
.tb_box .tb colgroup .col2 {width:633px;}
.tb_box .tb colgroup .col3 {width:128px;}
.tb_box .tb colgroup .col4 {width:110px;}
.tb_box .tb colgroup .col5 {width:15px;}
.tb_box .tb tbody tr td {position:relative;  padding:20px 0; text-align:center;  font-family:"맑은 고딕", Malgun Gothic; font-size:13px; color:#333; border-top:1px solid #e9e9e9;}
.tb_box .tb tbody tr td.number  {color:#7a7a7a; padding-left:15px; text-align:left;}
.tb_box .tb tbody tr td.question {text-align:left; padding-left:15px; padding-right:15px;}
.tb_box .tb tbody tr td.question a {display:block; text-decoration:underline; color:#0090ff}
.tb_box .tb tbody tr td.writer .name {width:140px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; *display:inline; zoom:1; }
.tb_box .tb tbody tr td.delete button {display:block; width:14px; height:14px; text-indent:-9999em; padding:0; margin:0 auto;  border:0; outline:none;  background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/btn_list_remove.png);}
.paginate {margin:30px 0 80px; overflow:hidden; text-align:center;}


.caution {height:262px; margin-bottom:70px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_caution.jpg) no-repeat 50% 0;}


/*팝업 */
.popup {position:relative; margin:0 auto; overflow:hidden; }
.popup h2, .popup .txt {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup img {vertical-align:top; margin:0; padding:0;}
.popup button {padding:0; margin:0; border:none; background:none;}

/* 정보 동의 공통 */
.popup .guide {width:413px; height:140px; padding:20px 15px; line-height:17px; color:#999; overflow-y:auto;line-height:18px; background-color:#fff;}
.popup .guide .tit {font-weight:bold; margin:20px 0;}
.popup .guide .tit.mgt0 {margin-top:0;}
.popup .guide ol, .popup .guide ul { margin-top:10px; padding-bottom:9px;}
.popup .guide ol {margin-left:16px;}
.popup .guide ol li span {margin-left:-14px;}
.popup .guide ul {margin-left:0;}
.popup .agree {width:196px; }
.popup .agree * {vertical-align:middle;}
.popup .agree input[type="checkbox"] {margin-top:-1px; margin-right:5px; background-color:none;}
.popup .agree label {font-family:"돋움", dotum; font-size:12px;  color:#767676; font-weight:bold;}

.pop1 {width:560px; }
.pop1.pa {height:570px;  background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_pop1a.jpg) no-repeat 0 0;}
.pop1.pb {height:590px;  background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_pop1b.jpg) no-repeat 0 0;}
.pop1 input[type="text"] {height:34px; font-family:"돋움", dotum; font-size:12px; color:#767676; line-height:34px; padding:0 10px; border:1px solid #c6c9cd; background-color:#fff;}
.pop1 .nickname {position:absolute; left:192px;  top:98px;}
.pop1 .nickname input {width:248px;}
.pop1 .phonenumber {position:absolute; left:192px;  top:142px;}
.pop1 .phonenumber input {width:58px; margin-right:18px;} 
.pop1 .phonenumber input.first {width:44px;}
.pop1 .guide {position:absolute; top:198px; left:58px; }
.pop1 .agree {position:absolute; top:388px; left:184px;}
.pop1 a.submit {position:absolute;  top:428px; left:149px; display:inline-block; width:262px; height:42px; text-indent:-9999em;  background:url(/images);}
.pop1 a.close {position:absolute; top:16px; right:16px; width:18px; height:18px; text-indent:-9999em;  background:url(/images); }

.pop2 {width:600px; height:673px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_pop2.jpg) no-repeat 0 0; }
.pop2 .winDate {position:absolute; top:156px; left:168px; width:262px; text-align:center; line-height:16px; font-family:"돋움", dotum; font-weight:bold; color:#fff; font-size:16px; }
.pop2 .sel_date {position:absolute; top:166px; right:40px;}
.pop2 .sel_date select {width:90px; color:#535353; border:1px solid #cececc; }
.pop2 .prize {overflow:hidden;}
.pop2 .p1 {position:absolute; top:268px; left:229px; }
.pop2 .p2 {position:absolute; top:453px; left:49px; }
.pop2 .prize ul li {float:left; width:149px; color:#535353; height:24px; line-height:24px;  font-family:"돋움", dotum;  font-size:12px;}
.pop2 .p1 ul {width:140px;}
.pop2 .p2 ul li {margin-right:28px; }
.pop2 .prize ul li * {vertical-align:middle;}
.pop2 .prize ul li .nick {display:inline-block; width:58px; overflow:hidden;white-space:nowrap; }

.popt {width:576px; }
.popt .title .close {position:absolute; top:16px; right:16px; width:18px; height:18px;  text-indent:-9999em;   background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/btn_pop_close.png) }
.popt .contents {padding-top:76px;}
.popt .title {position:fixed; width:560px; height:76px; text-indent:-9999em; }
.popt.pop3 {height:1010px; }
.popt.pop3 .title {background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/pop3_tit.jpg) }
.popt.pop4 {height:1200px;}
.popt.pop4 .title {background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/pop4_tit.jpg) }
.popt.pop5 {height:880px;}
.popt.pop5 .title {background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/pop5_tit.jpg) }


@font-face {
  font-family: 'NanumGothicBold';
  src: url(/common/fonts/NanumGothicBold.eot);
  src: url(/common/fonts/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothicBold.woff) format('woff'),
       url(/common/fonts/NanumGothicBold.ttf) format('truetype');
}


.pagingMain { margin:0 auto;height:40px;font-size:24px;}
.pagingMain span {
    padding-top:5px;
    padding-right:2px;
    padding-left:2px;
    width:17px;
    height:17px;
    border:1px solid #D6E3E9;
    font-family: Arial;
    margin-right:5px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
    color:#006699;
    text-decoration:none;
    display:inline-block
}
.pagingMain span:hover {
    border:1px solid #ff0000;
    color:#FF6600;
}

.pagingMain span.on {
    text-decoration:none;
    color:#FF6600;
    border:2px solid #ff0000;
    color:#FF6600;
}



/* ----------------------- 20150507 추가 ----------------------- */

/* 메인 섹션 추가 */
.experience {height:910px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bg_experience.jpg) no-repeat 50% 0;}
.experience a.btn_entry {position:absolute; display:inline-block; text-indent:-9999em; background:url(/images); }
.experience a.btn_entry.et1 {top:530px; left:309px;  width:467px; height:37px; }
.experience a.btn_entry.et2 {top:521px; left:787px;  width:202px; height:56px; }

/* 팝업 추가 */
.pop6 {width:980px; height:805px; overflow-y:hidden;} 
.pop6:after {content:""; display:block; clear:both;}
.pop6 .f_left {float:left; width:480px; height:797px; overflow-x:hidden; overflow-y:auto; border:4px solid #055695; border-right:none;}
.pop6 .f_right {position:relative; float:left; width:479px; height:805px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/pop6_bg.jpg) no-repeat 0 0;}
.pop6 .f_right input[type="text"] {height:26px; font-family:"돋움", dotum; font-size:12px; color:#767676; line-height:26px; padding:0 10px; border:1px solid #c6c9cd; background-color:#fff;}
.pop6 .f_right .nickname {position:absolute; left:151px;  top:84px;}
.pop6 .f_right .nickname input {width:248px;}
.pop6 .f_right .phonenumber {position:absolute; left:151px;  top:124px;}
.pop6 .f_right .phonenumber input {width:58px; margin-right:18px;} 
.pop6 .f_right .phonenumber input.first {width:44px;}
.pop6 .f_right .buymall {position:absolute; left:151px;  top:164px;}
.pop6 .f_right .buymall .select_box {width: 178px; }
.pop6 .f_right .buydate {position:absolute; left:151px;  top:204px; overflow:hidden;}
.pop6 .f_right .buydate .select_box {float:left; }
.pop6 .f_right .buydate .select_box.sb1 {width:78px; margin-right:10px;}
.pop6 .f_right .buydate .select_box.sb2 {width:88px; }
.select_box {position: relative;height: 28px; border: 1px solid #b5b5b5;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/bul_select_arrow.gif) #fff 100% 50% no-repeat;}
.select_box label {position: absolute;  top: 8px; left: 10px; font-family:"돋움", dotum; font-size:12px; 	color: #767676;}
.select_box select#sel {width:100%; height: 28px; min-height: 28px;	line-height:28px; padding: 0 10px;	opacity: 0;	filter: alpha(opacity=0);	}
.select_box .select_box_sel {width:100%; height: 28px; min-height: 28px;	line-height:28px; padding: 0 10px;	opacity: 0;	filter: alpha(opacity=0);	}

.pop6 .f_right .ordernumber {position:absolute; left:151px;  top:244px;}
.pop6 .f_right .ordernumber input {width:248px;}
.pop6 .f_right .guide {position:absolute; top:304px; left:17px; }
.pop6 .f_right .agree {position:absolute; top:494px; left:129px;}
.pop6 .f_right a.submit {position:absolute;  top:534px; left:108px; display:inline-block; width:262px; height:42px; text-indent:-9999em;  background:url(/images);}
.pop6 .f_right a.close {position:absolute; top:16px; right:19px; width:18px; height:18px; text-indent:-9999em;  background:url(/images); }

/* 퀵메뉴 */
#quick_menu {position:absolute; left:50%; top:0px; width:86px; height:332px; margin-left:520px; z-index: 600;}
/*.event_wrap #quick_menu {position: absolute; left:50%; margin-left:520px; display: block;  overflow:hidden; z-index: 1000;}*/
/*#quick_menu {position: absolute;  top:500px; display: block;  overflow:hidden; z-index: 1000;}*/
/*#quick_menu ul {position:fixed; bottom:100px;}*/
#quick_menu li a {display:block; width:86px; height:83px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing2/quick_menu.png) no-repeat 0 0;}
#quick_menu li:first-child a {margin-top:0;}
#quick_menu li a.top {background-position:0 0;}
#quick_menu li a.event1 {background-position:0 -83px ;}
#quick_menu li a.event2 {background-position:0 -166px;}
#quick_menu li a.event3 {background-position:0 -249px;}
#quick_menu li a  > span {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}



/* display 관련. 2015.05.20 추가. */
.displayblock {display:block;visibility:visible;}
.displaynone {display:none;visibility:hidden;}

/*150520 푸터*/
.bnr_area{margin-top:8px;background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_footer_bnr.gif) 0 0; text-align:center; height:91px; }
.bnr_area ul{margin:0 auto; width:1000px; background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr.gif) 0 0 no-repeat; height:91px;}
.bnr_area ul li a{width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer{width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu{text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li{margin:auto; display:inline; margin:0 17px;}
.footer_menu li a{color:#555555; text-decoration:none;}

.footer .adr{padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span{padding-right:12px; }
.footer .adr img{vertical-align:middle}

.footer .award_list{background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr02.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright{padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong{display:block; font-weight:normal; color:#5390be; }

#m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}

