@charset "utf-8";

/*
    개편되는 헤더
*/

.header_comm {position:relative;width:100%;height:56px;background-color:#fff}
.header_comm .hd_inner {position:relative;width:100%;height:100%;}
.hd_inner:after {content:"";display:table;clear:both}
.hd_inner .hd_left {float:left;width:56px}
.hd_inner .hd_right {float:right;width:56px}
.hd_inner .hd_center {width:calc(100% - 112px)}