@charset "utf-8";

/************************************************************************
 * 파일명 : emoney_info.css
 * 설명 : 에누리 모바일 웹 > 이머니 이용안내
 * 작성자  :신왕섭
 * 작성일 :2020.10.19
************************************************************************/

/* 201019 디자인 신규로 변경 */
.emoney_info{background-color:#fff;padding-bottom:40px;letter-spacing:-.6px}
.emoney_info .btn_view_detail{display:block;margin:24px 10px 0;background-color:#0073be;height:48px;line-height:48px;border-radius:4px;text-align:Center;color:#fff;font-size:16px;}
.emoney_info .btn_pop_close{width:24px;height:24px;position:fixed;top:12px;right:12px;background:url(http://img.enuri.info/images/mobile_v2/emoney/emoney_btn_close.png) no-repeat 50% 50% transparent;background-size:100%;z-index: 10;text-indent:-9999em}
.inf_sec_01{background:url(http://img.enuri.info/images/mobile_v2/emoney/emoney_info_01.png) no-repeat 50% 0 #d9eafd;background-size:360px;height:480px;}
.inf_sec_02{background:url(http://img.enuri.info/images/mobile_v2/emoney/emoney_info_02.png) no-repeat 50% 0 #fff;background-size:360px;height:480px;}
.inf_sec_03{background:url(http://img.enuri.info/images/mobile_v2/emoney/emoney_info_03.png) no-repeat 50% 0 #f8f8f8;background-size:360px;height:480px;}
.inf_sec_04{background:url(http://img.enuri.info/images/mobile_v2/emoney/emoney_info_04.png) no-repeat 50% 0 #fff;background-size:360px;height:480px;}
.inf_sec_05{background:url(http://img.enuri.info/images/mobile_v2/emoney/emoney_info_05.png) no-repeat 50% 0 #f6f6f6;background-size:360px;height:480px;}