@charset "utf-8";

/* common */
.my__sprite{background-image:url(http://img.enuri.info/images/mobile_v2/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px}

header.m_header.m_header_sub{z-index:101;box-shadow:none}
.my_wrap{color:#555}
.header_group{background:#f6f6f6;position: relative;padding-bottom:58px}
.my_emoney{height:22px;line-height:22px;background:#f2f7ff;color:#30a7f7;font-size:15px;text-align:center;padding:19px 0}
.my_emoney .txt_tit{position:relative;/* padding-left:23px; */display:inline-block;font-size:15px;letter-spacing:-.6px;margin-right:6px;color:#333;font-weight: bold}
.my_emoney .txt_tit > span{font-size:21px;font-weight:normal;}
/* .my_emoney .txt_tit:before{position: absolute;content:"";width:18px;height:15px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat -195px -55px;background-size:300px;top:50%;left:2px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)} */
.my_emoney strong{font-size:21px;font-weight:bold;line-height:-1px;}
.my_emoney .txt_tit .tx_name{font-size:15px;font-weight:normal;display:inline}
.my_emoney .txt_tit .tx_name em{font-weight:bold;line-height:22px;height:22px;max-width:100px;text-overflow:ellipsis; white-space: nowrap;overflow:hidden;display:inline-block;vertical-align: middle;}

/* 적립금 표시 영역 */
.my_summary{overflow:hidden;background-color:#fff;text-align:center}
.my_summary li{width:50%;padding:15px 0 17px;float:left;position: relative;}
.my_summary li:first-child:after{content:"";position: absolute;top:0;right:0;height:100%;border-right:1px solid #f2f7ff}
.my_summary li > span{display:block;}
.my_summary li .txt_tit{font-size:13px;line-height:20px}
.my_summary li .txt_point{font-size:15px;line-height:22px}
.my_summary li .txt_point em{font-size:17px;font-weight:bold}
.summ_earn .txt_point{color:#3a7bd5}
.summ_lapse .txt_point{color:#d33030}

/* 셀렉트박스 영역 */
.lookup_box{padding:12px 10px;border-top:1px solid #d0e3ea;border-bottom:1px solid #d0e3ea;background-color:#e5f4fb;position: absolute;bottom:0;left:0;right:0}
.lookup_box.m_fixed{position:fixed;top:0;left:0;right:0;bottom:auto;}
.lookup_box .lookup_inner{height:32px;position: relative;}
.lookup_box .select_tab{float:left;}
.lookup_box .select_terms{float:right}
.lookup_box .select_area{width:calc(50% - 5px);height:32px;position:relative;}
.lookup_box .select_area:after{content:"";position:absolute;background-image:url(http://img.enuri.info/images/mobile_v2/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px;width:20px;height:20px;top:5px;right:5px;background-position:-160px -20px}
.lookup_box .select_area select{display:block;width:100%;background-color:#fff;height:32px;line-height:30px;padding:0 10px;font-size:13px;color:#555;border:1px solid #d0e3ea;border-radius: 3px 3px}

/* MY에누리 - E머니적립 - 상단탭메뉴 */
.menu_tab {overflow: hidden;font-size:15px;letter-spacing: -.52px;text-align:center;background:#fff}
.menu_tab li{width:25%;float:left;height:40px;line-height:40px;-webkit-box-sizing: border-box;box-sizing: border-box}
.menu_tab li.selected{color:#4396f2;border-bottom:2px solid #4396f2}
.menu_tab li a{display:block;width:100%;height:100%;}

/* MY에누리 - E머니적립 - 탭컨텐츠 - 내부탭 */
.tab_elem .tab_area{padding:10px 10px 0}
.tab_elem .tab_inner{overflow: hidden;}
.tab_elem .tab_inner li{float:left;width:50%;text-align:center;border:1px solid #eeeeee;-webkit-box-sizing:border-box;box-sizing:border-box;color:#888888;font-size:15px;letter-spacing: -.8px;background:#fff;height:41px;line-height:39px}
.tab_elem .tab_inner li:nth-child(1){border-right:0;border-radius:5px 0 0 5px}
.tab_elem .tab_inner li:nth-child(2){border-left:0;border-radius:0 5px 5px 0}
.tab_elem .tab_inner li.selected{background:#4396f2;border-color:#4191ea;color:#fff}

/* MY에누리 - E머니적립 - 탭컨텐츠 - 리스트 */
.tab_cnt{padding:10px}
.tab_cnt .tab_list li{border-radius:5px 5px;border: 1px solid #eeeeee;background:#fff;font-size:12px;margin-top:5px}
.tab_cnt .tab_list li:first-child{margin-top:0}
.tab_cnt .tab_list .wrap_head{display:block;padding:10px;height:12px;line-height:12px;color:#aaaaaa;letter-spacing: -.22px;border-bottom:1px solid #eeeeee}
.tab_cnt .tab_list .wrap_head .txt_device{float:right}
.tab_cnt .tab_list .wrap_info{position:relative;padding:10px;height:50px}
.tab_cnt .tab_list .wrap_info .txt_tit{height:30px;font-size:13px;line-height:15px;letter-spacing: -.52px;overflow: hidden;display:-webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break:keep-all;padding:0 60px 0 0;color:#555555}
.tab_cnt .tab_list .wrap_info .txt_point{display:block;height:17px;line-height:17px;margin-top:3px;font-size:12px;}
.tab_cnt .tab_list .wrap_info .txt_point > span{font-size:17px;color:#30a7f7;}
.tab_cnt .tab_list .wrap_info .btn_type_emoney{position:absolute;width:50px;height:50px;border-radius:50% 50%;top:10px;right:10px;line-height:48px;color:#fff;letter-spacing: -1px;border:1px solid #74acf2;outline:none;-webkit-box-sizing:border-box;box-sizing:border-box;font-size:12px}
.tab_cnt .tab_list .wrap_info .btn_active{background:#7cb4fa}
.tab_cnt .tab_list .wrap_info .btn_inactive{background:#eeeeee;color:#aaa;border-color:#eeeeee}
.tab_cnt .btn_all_receive{position:fixed;bottom:52px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:180px;height:40px;color:#fff;background:rgba(0,0,0,.9);border-radius:20px 20px;font-size:13px;line-height:40px;text-align:center;z-index: 100}
.tab_cnt .btn_all_receive span{position:relative;display:inline-block;padding-right:20px}
.tab_cnt .btn_all_receive span:after{position: absolute;content:"";width:15px;height:15px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat -215px -55px;background-size:300px;top:50%;right:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.tab_cnt .btn_all_received{position:fixed;bottom:52px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:110px;height:40px;color:#fff;background:rgba(34,34,34,.5);border-radius:20px 20px;font-size:13px;line-height:40px;text-align:center;z-index: 100;opacity:0}
.tab_cnt .btn_all_received.fadeInOut{
    -webkit-animation: flickerAnimation 1.5s 1;
    animation: flickerAnimation 1.5s 1;
}
 
@keyframes flickerAnimation {
  0%   { opacity:1; }
  70%  { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes flickerAnimation{
  0%   { opacity:1; }
  70%  { opacity:1; }
  100% { opacity:0; }
}

/* 예외 - 사용 */
.tab_using .tab_list .wrap_info .txt_point,
.tab_using .tab_list .wrap_info .txt_point span{color:#ccc}

/* 예외 - 소멸예정 */
.tab_expiring .exp_list{min-height:200px;padding-bottom:40px}
.tab_expiring .tab_list .wrap_info{height:18px;padding:15px 10px;line-height:18px;display:block}
.tab_expiring .tab_list .wrap_info .txt_date{font-size:13px}
.tab_expiring .tab_list .wrap_info .txt_point{float:right;height:18px;color:#ccc;line-height:18px;margin:0;}
.tab_expiring .tab_list .wrap_info .txt_point span{color:#ccc;}
.tab_expiring .exp_noti{display:block;padding:10px;font-size:12px;line-height:16px;color:#aaa;letter-spacing: -.5px}

/* e머니 적립 가능 쇼핑몰 */
.shop_list{background:#fff;border-top:1px solid #eee;}
.shop_list .txt_tit{font-size:14px;letter-spacing: -.5px;height:16px;padding:13px 15px}
.shop_list ul{overflow:hidden;border-top:1px solid #eee}
.shop_list ul li{float:left;text-align:center;line-height:20px;padding:14px 0;border:1px solid #eee;border-left:0;border-top:0;width:33.3333333%;-webkit-box-sizing: border-box;box-sizing: border-box}
.shop_list ul li img{width:72px;}
.shop_list ul li:nth-child(3n){border-right:0}

/* 내역이 없을때 */
.empty_list{padding:0 10px 10px 10px}
.empty_list .txt_tit{display:block;padding:135px 0 54px;height:14px;line-height:14px;color:#555;position: relative;font-size:14px;font-weight: bold;text-align:center;letter-spacing: -.56px}
.empty_list .txt_tit:before{position: absolute;content:"";top:50px;width:75px;height:75px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat -100px -50px;background-size:300px;}
.emoney_notice{border-radius:5px 5px;border: 1px solid #eeeeee;background:#fff;font-size:11px;margin:8px }
.emoney_notice .tit_notice{font-size:14px;height:14px;line-height:14px;padding:14px 10px;color:#555;border-bottom:1px solid #eee;letter-spacing: -.6px}
.emoney_notice ul{padding:5px 10px}
.emoney_notice ul li{position:relative;padding:10px 10px 10px 20px;line-height:15px;font-size:12px;letter-spacing: -.5px;color:#888888;border-top:1px solid #eeeeee}
.emoney_notice ul li:before{position: absolute;content:"";width:15px;height:15px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat -180px -55px;background-size:300px;left:0;top:10px;}
.emoney_notice ul li:first-child{border-top:0}
.emoney_notice ul li > span{color:#30a7f7}

/* 카드 하단 페이지네이션 영역 */
/* .list_paging{font-size:13px;line-height:14px;height:14px;padding:16px 0 6px;text-align:center;}
.list_paging a{display:inline-block;padding:0 8px;color:#aaaaaa}
.list_paging a.btn_page_prev,
.list_paging a.btn_page_next{position:relative;width:14px;height:14px;display:inline-block;padding:0;text-indent:-9999em}
.list_paging a.btn_page_prev:before,
.list_paging a.btn_page_next:before{position:absolute;content:"";width:6px;height:10px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat;background-size:300px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.list_paging a.btn_page_prev:before{background-position:-245px -55px}
.list_paging a.btn_page_next:before{background-position:-251px -55px}
.list_paging a.selected{font-weight:bold;color:#555} */

.list_paging{position:relative;border-radius: 5px 5px;border:1px solid #eee;background-color:#fff;font-size:13px;line-height:30px;height:30px;text-align:center;padding:0 30px;display:flex;margin:5px 10px 0 10px}
.list_paging a{flex:auto;box-sizing:border-box;border-left:1px solid #eee;color:#aaaaaa;}
.list_paging a:first-child,
.list_paging a.btn_page_prev + a{border-left:0}
.list_paging a.btn_page_prev,
.list_paging a.btn_page_next{position: absolute;width:30px;height:100%;display:inline-block;padding:0;text-indent:-9999em;box-sizing: border-box;top:0}
.list_paging a.btn_page_prev{border-right:1px solid #eee;left:0}
.list_paging a.btn_page_next{border-left:1px solid #eee;right:0}
.list_paging a.btn_page_prev:before,
.list_paging a.btn_page_next:before{position:absolute;content:"";width:6px;height:10px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat;background-size:300px;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.list_paging a.btn_page_prev:before{background-position:-245px -55px}
.list_paging a.btn_page_next:before{background-position:-251px -55px}
.list_paging a.selected{font-weight:bold;color:#555}


/* dim레이어 */
.dim{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index:110}
.myarea{position:absolute; left:0; top:50%; width:100%; margin: -180px 0px auto 0px;text-align:center}
.myarea.refund{top:50%; width:100%; margin: -215px 0px auto 0px; }
.myarea.refund .refund_list{text-align:left;padding:8px}
.myarea.refund .tab_list li .wrap_info{padding:10px;height:60px}
.myarea.refund .tab_list li .txt_date{display:block;color:#aaaaaa;line-height:20px}
.myarea.refund .tab_list li .txt_tit{padding-right:100px;}
.myarea.refund .tab_list li .txt_point{position: absolute;top:0;right:0;padding:30px 10px 0 0;margin-top:0}
.myarea.refund .tab_list li .txt_point.minus span{color: #bbbbbb;}
.my_info{padding:0 20px; z-index:11; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
h4.lose{background-image: -webkit-gradient(linear,left top, right top,from(#30a7f7) ,to(#2d83ed));background-image: -webkit-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: -o-linear-gradient(left,#30a7f7 ,#2d83ed);background-image: linear-gradient(to right,#30a7f7 ,#2d83ed); color:#ffffff; text-align:center; line-height:40px; font-size:16px; font-weight:normal;height:40px}
h4.lose em{display:inline-block; background:url(http://img.enuri.info/images/mobilefirst/reward/icoset.png) -103px -73px no-repeat; background-size:150px; width:19px; text-indent:-9999em; }
.lose_list{padding:15px 5px; background:#ffffff; }
.lose_list ul{max-height:250px; overflow:auto;}
.close{position:absolute; right:30px; top:13px; background:url(http://img.enuri.info/images/mobilefirst/reward/icoset.png) -126px -80px no-repeat; background-size:150px; width:16px; height:16px; text-indent:-9999em;}
.my_info li{line-height:34px; border-bottom:1px solid #e2e2e2; color:#262626; }
.my_info li .day{width:98px; display:inline-block; color:#c7c7c7; font-family:arial; font-weight:bold; text-indent:5px}
.my_info li:last-child{border-bottom:none; }
.my_info li:nth-child(1) .day, .my_info li:nth-child(2) .day, .my_info li:nth-child(3) .day{color:#ff4a57;}
.my_info li em{color:#bbbbbb; font-size:13px;}

/*스토어아이콘*/
.mark{background: url(http://img.enuri.info/images/mobilefirst/reward/ico_pcm.png) 0 0 no-repeat; background-size:53px; text-indent:-9999em; display:block; }
.mark.ico_pc{position:absolute; right:2px; top:2px; background-position:-27px -29px; width:16px; height:16px;}
.mark.ico_mobile{position:absolute; right:2px; top:2px; background-position:0 -28px; width:16px; height:16px;}
.mark.ico_big_pc{position:absolute; top:10px; background-position:-27px 0; width:26px; height:26px;}
.mark.ico_big_mobile{position:absolute; top:10px; background-position:0 0; width:26px; height:26px;}
.refund_box .mark{left:10px; z-index:100}
.couponList .mark{right:10px; z-index:100}
.ico_txt{text-align:center; color:#333333; font-size:12px; padding:10px 0;}
.ico_txt .mark{position:static; display:inline-block; vertical-align:middle; margin-right:2px;}

.refund_box{background:#ffffff; border-radius:5px; box-shadow: 0px 1px 0px 0px #dfdfdf; margin:8px; padding:13px 10px 13px 120px; position:relative; min-height:100px;}
.refund_box .thum{position:absolute; left:13px; top:13px;}
.refund_box .thum img{width:100px; height:100px;}
.refund_box strong{font-weight:normal; height:35px; overflow:hidden; display:block; margin-bottom:10px; display: table-cell; vertical-align: middle;}
.refund_box .emo{font-size:12px; color:#bbbbbb; }
.refund_box .emo em{color:#1288d5; }
.refund_box .emo em b{font-size:24px; font-family:arial; letter-spacing:-1px; margin:0 1px 0 5px; vertical-align:-1px;}
.refund_box .date{font-size:12px; color:#bbbbbb; margin-top:10px;}
.refund_box .date em{color:#666666; padding-right:3px}
.note{font-size:12px; color:#999999; position:relative; padding-left:12px; margin:0 8px;}
.note:after{content:"※"; position:absolute; left:0; top:0; }
.refund_area{background:#f2f2f2; padding-top:1px; max-height:400px; overflow: auto;}

/*시스템 점검 레이어*/
.checkLayer{z-index:100;width:252px; height:350px; margin: -175px 0px auto -126px; position:absolute; left:50%; top:50%; background:#373c40; position:absolute; }
.checkLayer .txt{height:315px; background: url(http://img.enuri.info/images/m_home/system_chk.gif) center 23px no-repeat #ffffff; background-size:245px 285px; text-indent:-9999em; }
.checkLayer ul{width:100%; }
.checkLayer ul li img{width:300px; height:162px; }
.checkLayer .frontbtn{color:#ffffff}
.checkLayer span{box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; height:36px; display:inline-block; text-align:center; font-weight:normal; font-size:12px; position:relative; padding-top:10px}
.checkLayer span a{background: url(http://img.enuri.info/images/m_home/front_close.gif) right 2px no-repeat; background-size:25px; background-size:11px; color:#ffffff; padding-right:15px}
.checkLayer span:first-child{width:70%; border-right:1px solid #35373e;}
.checkLayer span:last-child{width:30%;border-left:1px solid #626467;}

/* 위메프 상품권 적립안내 레이어 2018-02-28 */
.wemap_ticket_layer{padding:10px; position:absolute; left:0; top:50%; margin:0 auto; z-index:100; width:100%; -webkit-transform:translateY(-50%); -ms-transform:translateY(-50%); -moz-transform:translateY(-50%); transform:translateY(-50%); box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.wemap_ticket_layer .con{width:100%; background:#fff; padding:20px 15px 3px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.wemap_ticket_layer .con h1 {margin-bottom:10px; padding:0; color:#000; font-size:23px; letter-spacing:-1px; line-height:30px; vertical-align:middle;}
.wemap_ticket_layer .con h1 b {color:#007dc3;}
.wemap_ticket_layer .con .txt{font-size:12px; color:#666; line-height:17px; padding-bottom:3px; letter-spacing:-1px;}
.wemap_ticket_layer .con .txt02{font-size:10px; color:#666666; padding-bottom:10px;}
.wemap_ticket_layer .con .eticket_use_list {clear:both; /* margin-top:18px; */ padding-top:13px; background:url(http://img.enuri.info/images/m_home/bg_dashed_line.gif) top left repeat-x; background-size:16px;}
.wemap_ticket_layer .con .eticket_use_list h2 {font-weight:bold; font-size:12px; color:#007dc3; text-align:left; line-height:17px;}
.wemap_ticket_layer .con .eticket_use_list ul {margin:0 0 20px; text-align:left;}
.wemap_ticket_layer .con .eticket_use_list ul:last-child {margin-bottom:0;}
.wemap_ticket_layer .con .eticket_use_list li {position:relative; margin-bottom:5px; font-size:12px; line-height:16px; padding-left:10px; letter-spacing:-1px;}
.wemap_ticket_layer .con .eticket_use_list li:after {content:"-"; display:block; position:absolute; left:0; top:0;}
.wemap_ticket_layer .con .eticket_use_list li .subtxt {color:#999;}
.wemap_ticket_layer .con .eticket_use_list li .emp-blue {color:#007dc3;}
.wemap_ticket_layer .con .eticket_use_list .cautionment {position:relative; margin-bottom:15px; padding-left:15px; font-size:12px; line-height:16px;}
.wemap_ticket_layer .con .eticket_use_list .cautionment:before {content:"※"; position:absolute; left:0;}
.wemap_ticket_layer .con .eticket_use_list .view {display:block; width:calc(100% - 20px); margin:15px auto 0; border-radius:5px; font-weight:bold; font-size:12px; color:#fff; line-height:35px; vertical-align:middle; background-color:#3a7bd5;}
.wemap_ticket_layer .frontbtn{color:#ffffff; background:#373c40; }
.wemap_ticket_layer .frontbtn span{box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; height:35px; display:inline-block; text-align:center; font-weight:normal; font-size:12px; position:relative; line-height:33px; vertical-align:middle;}
.wemap_ticket_layer .frontbtn span a{display:block; color:#fff;}
.wemap_ticket_layer .frontbtn span:first-child{width:70%; border-right:1px solid #35373e;}
.wemap_ticket_layer .frontbtn span:last-child{width:30%;border-left:1px solid #626467;}

@media (max-height: 480px){
	.dim {position:absolute; bottom:0; min-height:480px;}
	.wemap_ticket_layer {position:static; top:0; -webkit-transform:translateY(0); -ms-transform:translateY(0); -moz-transform:translateY(0); transform:translateY(0); }
	.wemap_ticket_layer .con {min-height:400px;}
}

.wemap_ticket_layer.app{width:100%; height:100%; background:#dde1e6; top:0; margin:0; padding:0;}
.wemap_ticket_layer.app .con{padding:20px;}
.wemap_ticket_layer.app .btnclose{position:absolute; right:3px; top:3px; width:28px; height:28px; border-radius:3px; background: url(http://img.enuri.info/images/main/ico_popup.png) -49px 5px no-repeat #bcbfc4; background-size:72px; text-indent:-9999em;}

/*e머니 적립레이어*/
.saveLayer{width:310px; padding-bottom:25px; margin-left: -155px; background:#e8ebf2; position:absolute; left:50%; top:50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);}
.saveLayer .txt{letter-spacing:-0.5px; font-size:12px; width:300px; margin:55px auto 20px; background:#ffffff; padding:18px 10px 10px; box-sizing: border-box;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; position:relative; }
.saveLayer .txt h1{font-size:22px; color:#2d9fe8; letter-spacing:-2px; position:absolute; top:-40px; left:0; width:100%; text-indent:55px; }
.saveLayer .txt h1:after{content:""; width:62px; height:62px; background: url(http://img.enuri.info/images/m_home/e_ico.png) 0 0 no-repeat; background-size:62px; position:absolute; left:-9px; top:-5px;}
.saveLayer .txt h2{padding-top:10px}
.saveLayer .txt .red{color:#ff3333; }
.saveLayer .txt span{color:#999999; font-size:10px; padding-top:15px; display:block; }
.saveLayer .txt dl{border-radius:5px; border:1px solid #e2e2e2; padding:0 5px 5px 5px; margin-top:5px; }
.saveLayer .txt dt{color:#2d9fe8; padding-top:3px}
.saveLayer .txt dd{padding-left:7px; position:relative;}
.saveLayer .txt dd:after{content:"-"; position:absolute; left:0; top:0;}
.saveLayer .box{border-radius:5px; border:1px solid #e2e2e2; padding:10px; margin:10px 0 5px; }
.saveLayer .box li{line-height:20px; }

.saveLayer .frontbtn{color:#ffffff; background: #373c40; position:absolute; left:0; bottom:-1px; width:100%; }
.saveLayer .frontbtn span{box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; height:36px; display:inline-block; text-align:center; font-weight:normal; font-size:12px; position:relative; padding-top:10px}
.saveLayer .frontbtn span a{background: url(http://img.enuri.info/images/m_home/front_close.gif) right 3px no-repeat; background-size:11px; color:#ffffff; padding-right:15px}
.saveLayer .frontbtn span:first-child{width:70%; border-right:1px solid #35373e;}
.saveLayer .frontbtn span:last-child{width:30%;border-left:1px solid #626467;}
.saveLayer .txt p{padding-top:5px}

/* 20190910 탭하단 수정 */
.tab_elem .tab_cnt > ul{line-height:20px}
.tab_elem .tab_cnt > ul > li{margin-top:5px;border:1px solid #eeeeee;border-radius: 5px 5px;background-color:#fff;overflow:hidden}
.tab_elem .tab_cnt > ul > li:first-child{margin-top:0}
.tab_elem .tab_cnt .txt_date{padding:5px 10px;font-size:13px;color:#aaa;}
.tab_elem .tab_cnt .tab_list .list_item{padding:12px 10px;border:0;border-top:1px solid #eeeeee;border-radius:0}
.tab_elem .tab_cnt .tab_list .list_item .item_inner{position: relative;height:52px;font-size:20px;letter-spacing:-.5px}
.tab_elem .tab_cnt .tab_list .list_item .ico{width:50px;height:50px;position:absolute;top:0;left:0;border-radius:50% 50%;border:1px solid #eee;text-align:center;font-size:11px;line-height:14px}
.tab_elem .tab_cnt .tab_list .list_item .ico span{display:block;position: absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);width:100%}
.tab_elem .tab_cnt .tab_list .list_item .info{display:block;margin:0 85px 0 60px;padding-top:8px;letter-spacing:-1px}
.tab_elem .tab_cnt .tab_list .list_item .info > span{display:block;overflow:hidden;color:#555}
.tab_elem .tab_cnt .tab_list .list_item .info .txt_tit{font-size:14px;height:19px;line-height:19px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.tab_elem .tab_cnt .tab_list .list_item .info .txt_date{background-color:transparent;line-height:18px;padding:0;font-size:11px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.tab_elem .tab_cnt .tab_list .list_item .point{position:absolute;width:80px;right:0;top:15px;font-size:12px;text-align:right}
.tab_elem .tab_cnt .tab_list .list_item .point em{font-weight:bold;font-size:17px;letter-spacing: -1px;vertical-align: -1px;}
.tab_elem .tab_cnt .tab_list .list_item .point .tx_tmon{display:block;font-size:11px;line-height:18px;height:36px;margin-top:-10px}
.tab_elem .tab_cnt .tab_list .list_item .point .tx_tmon strong{display:block;font-size:16px;color:#222}
.ty_expected .ico{border-color:#cedef4 !important;background-color:#eaf3ff;color:#3a7bd5}
.ty_expected .txt_tit,
.ty_expected .point em{color:#3a7bd5}
.ty_earned .ico{border-color:#3a7bd5 !important;background-color:#3a7bd5;color:#fff}
.ty_earned .txt_tit,
.ty_earned .point em{color:#3a7bd5}
.ty_used .ico{border-color:#d33030 !important;background-color:#d33030;color:#fff}
.ty_used .txt_tit,
.ty_used .point em{color:#d33030}
.ty_refund .ico{border-color:#666666 !important;background-color:#666666;color:#fff}
.ty_refund .txt_tit,
.ty_refund .point em{color:#666666}
.ty_lapse .ico{border-color:#f5cbcc !important;background-color:#fce2e3;color:#d22423}
.ty_lapse .txt_tit,
.ty_lapse .point em{color:#d33030}

.tab_elem .tab_cnt .tab_list .list_item.ty_earn{padding:12px 40px 12px 10px;position: relative;}
.tab_elem .tab_cnt .tab_list .list_item.ty_earn:after{content:"";background-image:url(http://img.enuri.info/images/mobile_v2/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px;width:20px;height:20px;position: absolute;top:50%;margin-top:-10px;right:10px;background-position:-220px -40px}

.btn_more_list{width:calc(100% - 20px);height: 30px;border: 1px solid #eeeeee;margin:10px;background-color: #fff;font-size:13px;text-align:center;color:#555;line-height:28px}

/* e머니 적립예정 상세 */
.lay_emoney_detail{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:200;display:none}
.lay_emoney_detail .btn_dim_close{position: absolute;top:0;left:0;right:0;bottom:0;text-indent:-9999em;z-index: 0;}
.lay_emoney_detail .lay_inner{position:absolute;bottom:0;left:0;width:100%;max-width:480px;max-height:calc(100% - 100px);z-index: 1;overflow-y:auto;border-radius: 10px 10px 0 0;background-color:#fff;-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);-webkit-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s}
.lay_emoney_detail.on .lay_inner{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
@media (min-width:480px) {
	.lay_emoney_detail .lay_inner{left:50%;margin-left:-240px}
}

.lay_emoney_detail .lay_head{position:-webkit-sticky;position:sticky;top:0;left:0;right:0;height:44px;line-height:44px;background-color:#fff;text-align:center;font-size:16px;font-weight:bold;letter-spacing:-1px;border-bottom:1px solid #d4e1e8;z-index: 10;}
.lay_emoney_detail .lay_head .lay_in_close{position:absolute;width:20px;height:20px;text-indent:-9999em;right:12px;top:12px;background-position:-200px -20px}
.lay_emoney_detail .lay_cnt{position: relative;font-size:16px;color:#555555}

.earn__detail .earn__date{display:block;height:36px;background-color:#e9f4fa;line-height:36px;color:#5c7395;border-bottom:1px solid #d4e1e8;text-align:center;font-weight:bold}
.earn__detail .earn__summary{position:relative;display:block;padding:15px 12px;line-height:24px;height:48px;border-bottom:1px solid #d4e1e8;letter-spacing:-.5px}
.earn__detail .earn__summary > span{display:block;}
.earn__detail .earn__summary .tx_txt_sub{font-size:14px;color:#aaa;letter-spacing:-1px}
.earn__detail .earn__summary .tx_txt_sub.tx_date{margin-right:110px;overflow:hidden;text-overflow:ellipsis;  white-space: nowrap;}
.earn__detail .earn__summary .tx_point{position: absolute;right:7px;height:48px;line-height:48px;top:15px;color:#30a7f7;font-weight:bold;font-size:16px}
.earn__detail .earn__summary .tx_point em{font-size:20px}
.earn__detail .earn__info{position:relative;display:block;padding:15px 12px;line-height:24px;letter-spacing:-.5px;background-color:#fafcff;border-bottom:1px solid #d4e1e8;}
.earn__detail .earn__info > span{display:block;}
.earn__detail .earn__info .tx_tit{color:#5c7395}
.earn__detail .earn__info .tb_earn_info{margin-top:6px}
.earn__detail .earn__info .tb_earn_info li{height:26px;position: relative;line-height:26px;text-align:right;font-size:14px}
.earn__detail .earn__info .tb_earn_info li .tb_tx_tit{position: absolute;left:0;top:0;text-align:left;color:#535a64;font-size:14px}
.earn__detail .earn__info .tb_earn_info li .tx_price{font-weight:bold;font-size:16px}
.earn__detail .earn__buy_list{margin-bottom:-20px}
.earn__detail .earn__buy_list ul li{padding:16px 12px;position: relative;border-top:1px solid #eee;letter-spacing:-.5px}
.earn__detail .earn__buy_list ul li:first-child{border-top:0}
.earn__detail .earn__buy_list ul li .tx_name{display:block;font-size:14px;line-height:20px;color:#888;}
.earn__detail .earn__buy_list ul li .tx_price{display:block;line-height:18px;font-size:16px;font-weight:bold;margin-top:8px;color:#222;text-align:right}
.earn__detail .earn__noti{letter-spacing:-1px;margin-top:20px}
.earn__detail .earn__noti .tx_tit{position: relative;border:1px solid #eee;border-left:0;border-right:0;height:40px;line-height:40px;padding:0 12px;background-color:#f6f6f6}
/* .earn__detail .earn__noti .tx_tit:after{content:"";background-image:url(http://img.enuri.info/images/mobile_v2/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px;background-position:-320px 0;width:20px;height:20px;position: absolute;top:8px;right:8px} */
.earn__detail .earn__noti .tx_noti{padding:15px 12px 25px;line-height:20px;font-size:14px;color:#888;background-color:#fafafa}
.earn__detail .earn__noti .tx_noti ul li{position:relative;padding-left:7px;}
.earn__detail .earn__noti .tx_noti ul li:before{content:"-";position: absolute;top:0;left:0}

/* 200218 신규디자인 공지사항 */
/* .lay_pop_noti{} */
.lay_pop_noti .lay_inner{position:absolute;top:50%;left:50%;-webkit-box-sizing:border-box;box-sizing:border-box;max-width:320px;width:100%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);padding:20px 20px 56px;background-color:#fff;letter-spacing:-.5px;-webkit-box-shadow:5px 5px 10px rgba(0,0,0,.25);box-shadow:5px 5px 10px rgba(0,0,0,.25);letter-spacing:-1px}
.lay_pop_noti .lay_inner h1{height:38px;line-height:38px;font-size:20px;font-weight:bold;text-align:center;color:#30a7f7}
.lay_pop_noti .lay_inner h2{height:24px;line-height:24px;font-size:14px;color:#30a7f7}
.lay_pop_noti .lay_cont_sec{border-top:1px solid #efefef;padding:10px 0;font-size:13px;color:#555;line-height:18px;}
.lay_pop_noti .lay_cont_sec strong{font-size:14px;color:#222;display:block;}
.lay_pop_noti .lay_cont_sec > p{margin-top:4px}
.lay_pop_noti .lay_cont_sec em{color:#b80900}
.lay_pop_noti .lay_cont_sec em.blue{color:#30a7f7}
.lay_pop_noti .lay_schedule{position: relative;padding:3px 0 0 100px;min-height:87px;letter-spacing:-.5px}
.lay_pop_noti .lay_schedule:before{content:"";position: absolute;top:0;left:0;width:87px;height:87px;background-image:url(http://img.enuri.info/images/mobile_v2/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px;background-position:-160px -60px;border-radius:50% 50%;overflow:hidden;}
.lay_pop_noti .lay_schedule ul{line-height:18px}
.lay_pop_noti .lay_schedule ul li{margin-top:5px;padding-left:8px;position: relative;}
.lay_pop_noti .lay_schedule ul li:before{content:"";position:absolute;width:3px;height:3px;background-color:#9a9a9a;border-radius:50% 50%;top:7px;left:0}
.lay_pop_noti .lay_schedule ul li strong{font-size:13px;color:#333;}
.lay_pop_noti .lay_detail ul{line-height:20px}
.lay_pop_noti .lay_detail ul li{padding-left:8px;position: relative;}
.lay_pop_noti .lay_detail ul li:before{content:"";position:absolute;width:3px;height:3px;background-color:#9a9a9a;border-radius:50% 50%;top:8px;left:0}
.lay_pop_noti .lay_detail ul li strong{font-size:13px;color:#333;display:inline}
.lay_pop_noti .lay_detail ul li p{margin-top:6px}
.lay_pop_noti .lay_inner .lay_cont_sec:first-of-type{border-top:0}
.lay_pop_noti .lay_btn_area{position: absolute;left:0;bottom:0;right:0;height:44px}
.lay_pop_noti .lay_btn_area button{height:44px;width:50%;background-color:#4197f2;color:#fff;text-align:center;font-size:14px;border:0;outline:none;float:left}
.lay_pop_noti .lay_btn_area button:last-of-type{border-left:1px solid #91c6ff}