@charset "utf-8";

#wrap{/* overflow:hidden;*/min-width:320px}
#wrap.scroll_lock{position:fixed;left:0;right:0;top:0;height:100%;overflow:hidden;z-index:0}

/* common */
.my__sprite{background-image:url(/images/myenuri/m/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px}

/* 마이에누리 헤더 */
.my__head{position:relative;font-size:13px;padding-bottom:10px;letter-spacing:-.5px;color:#555}
.my__head .my__head_inner{position:relative;z-index:1}
.my__head .my__head_inner .txt_welcome{color:#fff;font-size:16px;padding:11px 10px;height:20px;line-height:20px;letter-spacing:-1px;border-top:1px solid rgba(255,255,255,.1);background-image:-o-linear-gradient(left,#30a7f7 ,#2d83ed);background-image:-webkit-gradient(linear,left top, right top,from(#30a7f7) ,to(#2d83ed));background-image:linear-gradient(to right,#30a7f7 ,#2d83ed)}
.my__head .my__head_inner .txt_welcome em{font-weight:bold}
.my__head .box_inner{position:relative;background:#fff;overflow:hidden;padding:0 12px 9px;text-align:center;border-bottom:1px solid #eee}

.my__head .box_inner .my_login_gate{padding:60px 0 40px}
.my__head .box_inner .my_login_gate .txt_gate{display:block;line-height:19px;font-size:16px;color:#222;margin-bottom:10px;letter-spacing:-1.5px}
.my__head .box_inner .my_login_gate .btn_my_join,
.my__head .box_inner .my_login_gate .btn_my_login{display:inline-block;width:90px;height:32px;line-height:32px;border-radius:5px 5px;color:#fff;font-size:12px}
.my__head .box_inner .my_login_gate .btn_my_join{background-color:#727f96}
.my__head .box_inner .my_login_gate .btn_my_login{background-color:#82bfef}
.my__head .box_inner .my_menu{position:relative;overflow:hidden;/* height:161px;*/;padding-bottom:2px}
.my__head .box_inner .my_menu li{position:relative;float:left;-webkit-box-sizing:border-box;box-sizing:border-box;width:33.3333%;height:80px;vertical-align:top}
.my__head .box_inner .my_menu li.emoney_score{line-height:20px;width:100%;border-bottom:1px dashed #eee}
.my__head .box_inner .my_menu li.certification{line-height:20px;width:100%;padding:40px 0;height:auto}
.my__head .box_inner .my_menu li > span{line-height:20px}
.my__head .box_inner .my_menu li .tit_emoney{display:block;height:20px;font-size:16px;color:#333;padding-top:15px;font-weight:bold}
.my__head .box_inner .my_menu li .txt_emoney{display:block;height:20px;font-size:14px;color:#333;padding-top:19px}
.my__head .box_inner .my_menu li .txt_cert{display:block;height:20px;font-size:16px;color:#333;padding:6px 0 4px;letter-spacing:-1px}
.my__head .box_inner .my_menu li .btn_my_cert{display:inline-block;font-size:14px;color:#fff;margin-top:6px;height:32px;width:120px;background:#727f96;border-radius:5px 5px;line-height:32px} 
.my__head .box_inner .my_menu li .btn_emoney{display:inline-block;font-size:15px;color:#30a7f7;margin-top:6px;height:20px;padding-left:6px} 
.my__head .box_inner .my_menu li .btn_emoney em{font-weight:bold;font-size:20px}
.my__head .box_inner .my_menu li .btn_emoney .ico__move{vertical-align:2px}
.my__head .box_inner .my_menu li .btn_my_coupon{display:inline-block;height:27px;line-height:27px;font-size:18px;color:#333;font-weight:bold}
.my__head .box_inner .my_menu li .btn_my_coupon .ico__move{vertical-align:0px}
.ico__move{background-position:-300px 0;display:inline-block;width:20px;height:20px;text-indent:-9999em}

.my__head .box_inner .my_sub_menu{border-top:1px dashed #eee;padding:8px 0 4px;display:-webkit-box;display:-ms-flexbox;display:flex}
.my__head .box_inner .my_sub_menu li{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;width:70px}
.my__head .box_inner .my_sub_menu li .my__sprite{position:relative;width:40px;height:30px;margin:0 auto;display:block}
.my__head .box_inner .my_sub_menu li.unconfirmed .my__sprite:before{content:"";position:absolute;top:5px;left:29px;width:4px;height:4px;background-image:var(--url-comm-sprite);background-repeat:no-repeat;background-size:var(--size-comm-sprite);background-position:-193px -44px}
.my__head .box_inner .my_sub_menu li .ico__receive{background-position:0 -20px}
.my__head .box_inner .my_sub_menu li .ico__history{background-position:-40px -20px}
.my__head .box_inner .my_sub_menu li .ico__notice{background-position:-80px -20px}
.my__head .box_inner .my_sub_menu li .ico__faq{background-position:-120px -20px}
.my__head .box_inner .my_sub_menu li .ico__attendance{background-position:0 -50px}
.my__head .box_inner .my_sub_menu li .ico__benefit{background-position:-40px -50px}
.my__head .box_inner .my_sub_menu li .ico__zzim{background-position:-80px -50px}
.my__head .box_inner .my_sub_menu li .ico__recent{background-position:-120px -50px}
.my__head .box_inner .my_sub_menu li .txt_menu{display:block;height:19px;line-height:19px;font-size:13px}

.my__head .btn_area{position:absolute;right:10px;height:20px;margin-top:-31px;text-align:right}
.my__head .btn_area button{height:17px;display:inline-block;color:#fff;font-size:12px;padding-left:19px;position:relative;line-height:17px}
.my__head .btn_area .btn_logout .ico{width:17px;height:17px;position:absolute;top:0;left:0;background-position:-180px -20px}

.my__head_month{margin-top:10px;background-color:#727f96;position:relative;height:52px;line-height:52px}
.my__head_month a{display:block;font-size:14px;color:#fff;padding:0 10px}
.my__head_month:after{content:"";background-image:var(--url-my-sprite);background-repeat:no-repeat;background-size:var(--size-my-sprite);width:20px;height:20px;position:absolute;top:16px;right:10px;background-position:-200px -40px}

/* 마이에누리 메인 컨텐츠 */
/* .my__cont{} */
.my__cont .my_cont_box:first-of-type{margin-top:0}
.my__cont .my_cont_box{margin-top:10px;background-color:#fff;letter-spacing:-0.0625em;border-top:1px solid #eee;}
.my__cont .my_cont_box .box_head{position:relative;line-height:38px;overflow:hidden;border-bottom:1px solid #eee;padding:0 10px}
.my__cont .my_cont_box .box_head p.tit{font-size:16px;color:#222;font-weight:bold;display:inline-block;text-indent:5px}
.my__cont .my_cont_box .box_head p.tit .num_count{color:#30a7f7;font-size:12px;letter-spacing:0}
.my__cont .my_cont_box .box_head p.tit .num_count:before{content:"("}
.my__cont .my_cont_box .box_head p.tit .num_count:after{content:")"}
.my__cont .my_cont_box .box_head .btn_more{position:absolute;bottom:8px;right:5px;font-size:11px;color:#999;line-height:18px;padding:2px 20px 2px 0;letter-spacing:-1px}
.my__cont .my_cont_box .box_head .btn_more:after{content:"";width:20px;height:20px;background-image:var(--url-my-sprite);background-repeat:no-repeat;background-size:var(--size-my-sprite);background-position:-300px 0;position:absolute;top:50%;right:0;margin-top:-10px}

.my__cont .pro__list{overflow-x:auto;overflow-y:hidden}
.my__cont .pro__list .no_result{display:block;height:auto;padding:30px 0;line-height:20px;font-size:15px;color:#555;text-align:center}
.my__cont .pro__list .no_result .txt_sub{display:block;color:#888;font-size:13px}
.my__cont .pro__list .no_result a.btn_shopping{display:block;margin:10px auto 0;width:138px;height:34px;border:1px solid #ebf0f7;background-color:#f1f7fd;color:#8f9caf;;line-height:36px;border-radius:5px 5px}
.my__cont .pro__list .no_result a.btn_shopping span{padding:0 10px 0 0;display:inline-block;font-size:13px;position:relative}
.my__cont .pro__list .no_result a.btn_shopping span:after{content:"";width:4px;height:6px;background-image:var(--url-comm-sprite);background-repeat:no-repeat;background-size:var(--size-comm-sprite);background-position:-153px -36px;position:absolute;top:50%;right:0;margin-top:-3px}
.my__cont .pro__list ul{display:-webkit-box;display:-ms-flexbox;display:flex;display:-webkit-inline-box;display:-ms-inline-flexbox;letter-spacing:-1px;padding-bottom:6px}
.my__cont .pro__list ul li{margin-left:10px;width:120px}
.my__cont .pro__list ul li .prod_info_req{padding-top:15px}
.my__cont .pro__list ul li .prod_img{width:120px;height:120px;position:relative}
.my__cont .pro__list ul li .prod_img:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #efefef}
.my__cont .pro__list ul li .prod_img img{width:100%;height:100%}
.my__cont .pro__list ul li .prod_info{position:relative;margin-top:10px;height:74px}
.my__cont .pro__list ul li .prod__name{line-height:18px;height:36px;display:block;color:#555;font-size:13px}
.my__cont .pro__list ul li .prod__name .prod__name_txt{display:-webkit-box;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;word-break:break-all}
.my__cont .pro__list ul li .prod__price{display:block;height:22px;line-height:22px;margin-top:6px;color:#222;font-size:12px}
.my__cont .pro__list ul li .prod__price .txt_lowest{color:#ff4646;display:inline-block;padding-right:5px}
.my__cont .pro__list ul li .prod__price strong{font-weight:bold;font-size:16px;vertical-align:top}

/* .my__cont .key__list{} */
/* .my__cont .key__list ul{} */
.my__cont .key__list ul li{position:relative;height:36px;border-top:1px solid #f8f8f8;padding:0 80px 0 36px;color:#888;line-height:36px;font-size:14px;overflow:hidden}
.my__cont .key__list ul li:before{content:"";position:absolute;top:8px;left:8px;width:20px;height:20px;background-image:var(--url-my-sprite);background-repeat:no-repeat;background-size:var(--size-my-sprite);background-position:-60px 0}
.my__cont .key__list ul li:first-child{border-top:0}
.my__cont .key__list ul li.no_result{height:auto;padding:30px 0;line-height:20px;text-align:center;font-size:15px;color:#555}
.my__cont .key__list ul li.no_result .txt_sub{display:block;color:#888;font-size:13px}
.my__cont .key__list ul li.no_result:before{display:none}
.my__cont .key__list ul li span.txt_date{position:absolute;color:#aaa;font-size:12px;height:20px;line-height:20px;top:8px;right:34px;text-align:right;letter-spacing:0;width:40px}
.my__cont .key__list ul li a.btn_remove{position:absolute;width:20px;height:20px;top:8px;right:8px;background-position:-80px 0;text-indent:-9999em}

/* .my__cont .earn__list{} */
/* .my__cont .earn__list ul{} */
.my__cont .earn__list ul li{padding:12px 10px;border-top:1px solid #eeeeee;letter-spacing:-.5px}
.my__cont .earn__list ul li:first-child{border-top:0}
.my__cont .earn__list ul li.no_result{padding:0 10px 10px 10px}
.my__cont .earn__list ul li.no_result .txt_tit{display:block;padding:135px 0 54px;height:14px;line-height:14px;color:#555;position:relative;font-size:14px;font-weight:bold;text-align:center;letter-spacing:-.56px}
.my__cont .earn__list ul li.no_result .txt_tit:before{position:absolute;content:"";top:50px;width:75px;height:75px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background:var(--url-vip-sprite) no-repeat -100px -50px;background-size:var(--size-vip-sprite);}
.my__cont .earn__list ul li .list_inner{position:relative;padding-right:90px;line-height:20px}
.my__cont .my_earn .earn__list ul li .list_inner{padding-right:120px}
.my__cont .earn__list ul li .list_inner .txt_date{display:block;font-size:12px;color:#888888}
.my__cont .earn__list ul li .list_inner .txt_name{display:block;max-height:40px;overflow:hidden}
.my__cont .earn__list ul li .list_inner .area_point{position:absolute;top:50%;right:0;width:90px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);font-size:12px}
.my__cont .my_earn .earn__list ul li .list_inner .area_point{width:120px}
.my__cont .earn__list ul li .list_inner .area_point > span{display:block;height:20px;text-align:right}
.my__cont .earn__list ul li .list_inner .area_point .txt_num{color:#555555}
.my__cont .earn__list ul li .list_inner .area_point .txt_num em{font-weight:bold;color:#30a7f7;font-size:17px}
.my__cont .earn__list ul li .list_inner .area_point .txt_num.type_dn em{color:#d33030}
.my__cont .earn__list ul li .list_inner .area_point .txt_num .tx_tmon strong{display:inline-block;margin-left:4px;font-weight:normal}
.my__cont .earn__list ul li .list_inner .area_point .txt_source,
.my__cont .earn__list ul li .list_inner .area_point .price_purchase{color:#888888}

.my__cont .earn__list ul li.ty_earn{padding:12px 40px 12px 10px;position:relative}
.my__cont .earn__list ul li.ty_earn:after{content:"";background-image:var(--url-my-sprite);background-repeat:no-repeat;background-size:var(--size-my-sprite);width:20px;height:20px;position:absolute;top:50%;margin-top:-10px;right:10px;background-position:-220px -40px}

.my__cont .sto__list{overflow-x:auto;overflow-y:hidden}
.my__cont .sto__list ul{display:-webkit-box;display:-ms-flexbox;display:flex;display:-webkit-inline-box;display:-ms-inline-flexbox;letter-spacing:-1px;padding-bottom:6px}
.my__cont .sto__list ul li{margin-left:10px;width:120px}
.my__cont .sto__list ul li .prod_info_req{padding-top:15px}
.my__cont .sto__list ul li .prod_img{width:120px;height:120px;position:relative}
.my__cont .sto__list ul li .prod_img:after{content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #efefef}
.my__cont .sto__list ul li .prod_img img{width:100%;height:100%}
.my__cont .sto__list ul li .prod_info{position:relative;margin-top:10px;height:105px;text-align:center}
.my__cont .sto__list ul li .prod__name{line-height:18px;height:36px;display:block;color:#555;font-size:13px}
.my__cont .sto__list ul li .prod__name .prod__name_txt{display:-webkit-box;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;word-break:break-all}
.my__cont .sto__list ul li .prod__price{display:block;height:22px;line-height:22px;margin-top:3px;color:#222;font-size:12px}
.my__cont .sto__list ul li .prod__price .txt_lowest{color:#ff4646;display:inline-block;padding-right:5px}
.my__cont .sto__list ul li .prod__price strong{font-weight:bold;font-size:16px;vertical-align:top}
.my__cont .sto__list ul li .btn_change{display:block;height:29px;line-height:29px;border:1px solid #666;background-color:#666666;color:#aaa;font-size:13px;margin-top:3px}
.my__cont .sto__list ul li .btn_change.active{color:#fff;background-color:#3a7bd5;border-color:#235396}

.my__cont_sub{position:relative}

/* 마이에누리 > 내차 시세관리 */
.mycar__list .mycar__item {margin-bottom:10px;border-bottom:1px solid #ddd;padding:0;background-color:#fff}
.mycar__list .mycar__item .item_body{position:relative;margin:20px 12px;min-height:148px}
.mycar__list .mycar__item .item_thumb{position:absolute;top:0;left:0;padding:0;width:148px;height:148px;background-color:#f6f6f6}
.mycar__list .mycar__item .item_thumb .thumb{display:block;width:144px;height:72px;margin:38px auto;}
.mycar__list .mycar__item .item_thumb img{width:100%;vertical-align:top}
.mycar__list .mycar__item .item_info{position:absolute;top:50%;left:160px;transform:translateY(-50%)}
.mycar__list .mycar__item .item_info > span{display:block;line-height:18px;}
.mycar__list .mycar__item .item_info .tx_model{display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;word-break:break-all;font-weight:normal;max-height:48px;line-height:24px;font-size:20px;letter-spacing:-.4px;color:#333;}
.mycar__list .mycar__item .item_info .tx_lineup{margin-top:8px;font-size:13px;color:#888;}
.mycar__list .mycar__item .item_info .tx_price {margin-top:14px}
.mycar__list .mycar__item .item_info .tx_price .tx_1 {display:block;margin-bottom:5px;font-weight:bold;font-size:13px;line-height:16px;color:#555;letter-spacing:-.5px;}
.mycar__list .mycar__item .item_info .tx_price .tx_2 {display:block;font-weight:bold;font-size:14px;line-height:16px;color:#30a7f7;letter-spacing:-.5px;}
.mycar__list .mycar__item .item_info .tx_price .tx_2 em {font-weight:bold;font-size:20px;letter-spacing:-.9px;vertical-align:-1px;}
.mycar__list .mycar__item .mqd_detail {clear:both;display:flex;justify-content:space-between;width:100%;}
.mycar__list .mycar__item .mqd_detail li {flex:1 1 auto;width:100%;min-height:44px;border-top:1px solid #eee;}
.mycar__list .mycar__item .mqd_detail li+li {border-left:1px solid #eee}
.mycar__list .mycar__item .mqd_detail li dl {padding:14px 0;line-height:20px;text-align:center}
.mycar__list .mycar__item .mqd_detail li dl dt {display:block;font-size:13px;letter-spacing:-.4px;color:#555;}
.mycar__list .mycar__item .mqd_detail li dl dd {display:block;font-weight:bold;font-size:18px;color:#333;line-height:20px;}
.mycar__list .no_result {overflow:hidden;padding-bottom:20px;border-bottom:1px solid #ddd}
.mycar__list .no_result .txt_tit{position:relative;display:block;padding:120px 0 34px;height:14px;line-height:14px;color:#555;font-size:14px;font-weight:bold;text-align:center;letter-spacing:-.56px;}
.mycar__list .no_result .txt_tit:before{position:absolute;content:"";top:30px;width:76px;height:76px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background:var(--url-vip-sprite) no-repeat -210px -130px;background-size:var(--size-vip-sprite);}
.mycar__list .no_result .btn_quote {display:block;line-height:40px;width:160px;height:40px;margin:0 auto;background-color:#0073be;border-radius:2px;color:#fff;font-size:16px;line-height:40px;text-align:center;}

/* 마이에누리 > 자동차 견적관리 */
.my__cont .newcar__list{overflow-x:auto;overflow-y:hidden;padding-top:18px;padding-bottom:10px}
.my__cont .newcar__list ul{display:-webkit-box;display:-ms-flexbox;display:flex;display:-webkit-inline-box;display:-ms-inline-flexbox;letter-spacing:-1px;padding-bottom:6px}
.my__cont .newcar__list ul li{margin-left:10px;width:136px;position:relative;}
.my__cont .newcar__list ul li .prod_item{border:1px solid #eee;height:110px;width:136px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:10px;text-align:center}
.my__cont .newcar__list ul li .prod_item .ico_new_item{position:absolute;width:20px;height:20px;border-radius:50% 50%;background:#30A7F7;color:#fff;font-size:11px;text-align:center;top:4px;right:4px;line-height:22px;font-style:normal;}
.my__cont .newcar__list ul li .prod_img{width:100%;height:50px;margin:0 auto}
.my__cont .newcar__list ul li .prod_img img{width:100px;height:50px}
.my__cont .newcar__list ul li .prod_info{margin-top:4px;}
.my__cont .newcar__list ul li .prod__name_txt{height:20px;line-height:20px;font-size:14px;color:#555;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.my__cont .newcar__list ul li .prod__date{height:18px;line-height:18px;font-size:13px;color:#000;}
.my__cont .newcar__list .no_result .txt_tit{position:relative;display:block;padding:120px 0 34px;height:14px;line-height:14px;color:#555;font-size:14px;font-weight:bold;text-align:center;letter-spacing:-.56px;}
.my__cont .newcar__list .no_result .txt_tit:before{position:absolute;content:"";top:30px;width:76px;height:76px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);background:var(--url-vip-sprite) no-repeat -210px -130px;background-size:var(--size-vip-sprite);}

/* 자동차 견적관리 */
.my__car_estimate{padding:0  0 20px 0;}
.my__car_estimate .list_head{font-size:14px;padding:10px;height:18px;line-height:18px;color:#999;}
.list_estimate{margin:0 5px}
.list_estimate li{margin-top:8px;}
.list_estimate li:nth-child(1){margin-top:0}
.list_estimate li.no_result{margin:0 -5px;padding:96px 0;border-top:1px solid #d4e1e8;border-bottom:1px solid #d4e1e8;text-align:center;letter-spacing:-.5px;background-color:#fff}
.list_estimate li.no_result .ico_no{display:block;width:76px;height:76px;background:var(--url-vip-sprite) no-repeat -210px -130px;background-size:var(--size-vip-sprite);margin:0 auto;}
.list_estimate li.no_result .tx_tit{display:block;margin-top:10px;font-size:16px;line-height:24px;letter-spacing:-.7px;color:#222;}
.list_estimate li.no_result .tx_sub{display:block;font-size:14px;line-height:18px;letter-spacing:-.6px;color:#999;}
.list_estimate li.no_result .btn__estimate{display:inline-block;height:34px;margin:15px auto;padding:4px 22px;border:1px solid #ddd;border-radius:4px;font-size:14px;line-height:34px;color:#222;background-color:#f6f6f6;}
.list_estimate li .list_item{border:1px solid #eee;border-radius:5px;background-color:#fff;-webkit-box-shadow:0 0 5px rgba(0,0,0,.015);box-shadow:0 0 5px rgba(0,0,0,.015);letter-spacing:-.5px}
.list_estimate li .list_item .item_body{margin:15px 12px;position:relative;min-height:120px}
.list_estimate li .list_item .item_tag{position:absolute;left:0;bottom:0;width:144px;text-align:center;line-height:0}
.list_estimate li .list_item .item_tag .tx_tag{font-size:12px;height:20px;line-height:22px;padding:0 12px;border-radius:10px;background-color:#30a7f7;display:inline-block;color:#fff}
.list_estimate li .list_item .item_thumb{position:absolute;top:0;left:0;padding:24px 0;width:144px;}
.list_estimate li .list_item .item_thumb .logo{position:absolute;top:0;left:0;width:40px;height:28px}
.list_estimate li .list_item .item_thumb .logo img{width:100%}
.list_estimate li .list_item .item_thumb .thumb{display:block;width:144px;height:72px;}
.list_estimate li .list_item .item_thumb .thumb img{width:100%}
.list_estimate li .list_item .item_info{margin-left:156px}
.list_estimate li .list_item .item_info > span{display:block;line-height:18px;}
.list_estimate li .list_item .item_info .tx_model{font-weight:bold;height:24px;line-height:24px;font-size:16px;color:#222;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.list_estimate li .list_item .item_info .tx_lineup{margin-top:8px;font-size:13px;color:#888;}
.list_estimate li .list_item .item_info .tx_trim{margin-top:4px;font-size:13px;color:#333;}
.list_estimate li .list_item .item_info .tx_price{height:26px;line-height:26px;margin-top:8px;font-size:14px;color:#222}
.list_estimate li .list_item .item_info .tx_price em{font-size:20px;font-weight:bold}
.list_estimate li .list_item .item_foot{border-top:1px solid #eee;padding:12px;line-height:20px;height:20px;}
.list_estimate li .list_item .item_foot .tx_date{position:absolute;color:#666;font-size:14px;}
.list_estimate li .list_item .item_foot .tx_status{position:relative;display:block;}
.list_estimate li .list_item .item_foot .tx_status span{margin-left:10px;float:right}
.list_estimate li .list_item .item_foot .tx_remaining_time{color:#D43031;font-size:13px;}
.list_estimate li .list_item .item_foot .tx_remaining_time em{font-weight:bold}
.st_complete,
.st_receive,
.st_release{color:#30A7F7;font-weight:bold}
.st_waiting,
.st_standby,
.st_expiration{color:#666666;font-weight:bold}

/* 자동차 견적관리 상세*/
/* .my__car_detail{} */
.cont_estimate{background-color:#fff;letter-spacing:-0.0625em;}
.my__car_detail .info_model{margin:0 12px;padding:20px 0;position:relative;min-height:112px;}
.my__car_detail .info_model .thumb{position:absolute;top:20px;left:0;}
.my__car_detail .info_model .logo{position:absolute;top:20px;left:0;width:40px;height:28px}
.my__car_detail .info_model .logo img{width:100%}
.my__car_detail .info_model .thumb{position:absolute;left:0;top:40px;display:block;width:144px;height:72px;}
.my__car_detail .info_model .thumb img{width:100%}
.my__car_detail .info_model .info{margin-left:156px;letter-spacing:-.5px} 
.my__car_detail .info_model .info .tx_date{display:block;height:18px;line-height:18px;font-size:13px;color:#999;letter-spacing:0}
.my__car_detail .info_model .info .tx_model{margin-top:6px;display:block;height:29px;line-height:29px;font-size:20px;color:#333;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;font-weight:bold;letter-spacing:-0.0625em;}
.my__car_detail .info_model .info .tx_model_sub{margin-top:4px;display:block;line-height:22px;font-size:14px;color:#666}
.my__car_detail .info_price{border-top:1px solid #eee;padding-top:12px;}
.tb_info_price{margin:0 5px}
.tb_info_price > li{border:1px solid #DDDDDD;margin-top:8px;border-radius:5px;overflow:hidden}
.tb_info_price > li:nth-child(1){margin-top:0}
.tb_info_price li .box_price{padding:12px;height:22px;line-height:22px;position:relative;}
.tb_info_price li .box_price .tx_tit{position:absolute;font-size:14px;color:#333;font-weight:bold}
.tb_info_price li .box_price .tx_tit .tx_count{color:#30A7F7}
.tb_info_price li .box_price .tx_price{display:block;position:relative;text-align:right;font-size:12px;color:#999}
.tb_info_price li .box_price .tx_price em{font-size:16px;font-weight:bold;vertical-align:-2px;letter-spacing:0;}
.tb_info_price li .box_price .tx_direct {display:block;position:relative;text-align:right;font-size:14px;color:#D62222}
.tb_info_price li .box_price .tx_direct:after {content:"";display:inline-block;width:12px;height:12px;margin-left:2px;vertical-align:-1px;background:var(--url-my-sprite) -89px -85px;background-size:var(--size-my-sprite)}
.tb_info_price li .box_expend{display:none;border-top:1px solid #ddd;padding:16px 10px;background-color:#F8F8F8}
.tb_info_price li.ty_expend .box_price .tx_price{color:#333;padding-right:28px}
.tb_info_price li.ty_expend .box_price .tx_price:after{content:"";position:absolute;top:1px;right:0;width:20px;height:20px;background:var(--url-vip-sprite) no-repeat 0 -190px;background-size:var(--size-vip-sprite);}
.tb_info_price li.ty_expend.unfold .tx_price:after{background-position:-20px -190px;}
.tb_info_price li.ty_expend.unfold .box_expend{display:block;}
.tb_info_price .list_detail{line-height:20px;color:#666;font-size:13px}
.tb_info_price .list_detail .no_result{text-align:center}
.tb_info_price .list_detail li{position:relative;margin-top:6px;}
.tb_info_price .list_detail li:nth-child(1){margin-top:0}
.tb_info_price .list_detail li .tx_tit{position:absolute;height:20px;max-width:50%;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.tb_info_price .list_detail li .tx_price{position:relative;display:block;margin-left:50%;text-align:right;font-size:12px}
.tb_info_price .list_detail li .tx_price em{font-size:12px;font-size:14px;vertical-align:-1px;letter-spacing:0}
.tb_info_price li.row_total{border-color:#30A7F7;background-color:#30A7F7;}
.tb_info_price li.row_total .box_price .tx_tit,
.tb_info_price li.row_total .box_price .tx_price{color:#fff}
.tb_info_price li.row_total .box_price .tx_price em{font-size:18px;vertical-align:-2px;}

.tx_valid_period{margin-top:12px;background-color:#727F96;text-align:center;line-height:20px;padding:16px 0;color:#fff;font-size:14px}
.tx_valid_period em{font-size:16px;font-weight:bold}

.btn_more_list{width:calc(100% - 10px);height:40px;border:1px solid #eeeeee;margin:-5px 5px 10px;background-color:#fff;font-size:13px;text-align:center;color:#999;line-height:40px;border-radius:4px}

/* 견적 응답 수신 */
.list_response{margin:0 5px;padding:20px 0}
.list_response > li{margin-top:10px;border:1px solid #ddd;border-radius:5px;overflow:hidden;position:relative;}
.list_response > li:nth-child(1){margin-top:0}
.list_response > li.no_result{border-radius:0;border:0;padding:10px 0}
.list_response > li.no_result .tx_result{position:relative;padding-left:140px;height:120px;width:190px;margin:0 auto;color:#666;line-height:20px;font-size:13px}
.list_response > li.no_result .tx_result:before{content:"";position:absolute;top:0;left:0;width:112px;height:120px;background:url(/images/myenuri/m/ico_ground.png) no-repeat 0 0;background-size:112px}
.list_response > li.no_result .tx_result em{color:#222;font-size:16px;display:block;margin-bottom:6px;line-height:22px;font-weight:bold;padding-top:4px}
.list_response .tx_info{padding-bottom:28px;}
.list_response .tx_date{line-height:24px;padding:10px;font-size:12px;color:#666;background-color:#EBF3FF;border-bottom:1px solid #ddd;letter-spacing:0}
.list_response .tx_price{line-height:24px;position:absolute;top:10px;right:10px;color:#3A7CD3;font-size:14px;}
.list_response .tx_price em{font-size:18px;font-weight:bold;letter-spacing:0}
.list_response .tx_msg{padding:18px 22px;line-height:20px;font-size:14px;color:#666;display:block;word-break:break-all;}
.list_response .tx_status{display:block;margin:6px auto 0;width:240px;height:36px;border:1px solid #3A7CD3;background-color:#fff;color:#3A7CD3;text-align:center;font-size:16px;line-height:36px;border-radius:18px}
.list_response .tx_status.release{background-color:#3a7bd5;color:#fff}
.list_response .tx_status.contract{border-color:#555555;color:#555}
.list_response .tx_status.contract .tx_sub{font-size:13px;color:#999}
.list_response li.end .tx_date{background-color:#ECECEC;color:#999}
.list_response li.end .tx_price{color:#999}
.list_response li.end .tx_status.end{border-color:#ECECEC;background-color:#ECECEC;color:#999}

.lay_popup{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000}
.lay_popup .dimmed{position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.75);}
.lay_popup .lay_wrap{position:absolute;top:50%;left:50%;margin-left:-150px;width:300px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);background-color:#fff;z-index:10}
.lay_popup .lay_box{padding:25px 22px 30px;letter-spacing:-0.0625em;text-align:center}
.lay_popup .lay_box .lay_head{line-height:22px;text-align:center;font-size:16px;font-weight:bold;color:#333}
.lay_popup .lay_box .lay_head em{color:#30A7F7}
.lay_popup .lay_box .lay_cont{margin-top:6px;line-height:16px;font-size:12px;color:#888}
.lay_popup .lay_box .lay_btn{margin-top:24px;height:40px;}
.lay_popup .lay_box .lay_btn button{height:40px;text-align:center;border-radius:2px;font-size:16px;color:#fff}
.lay_popup .lay_inp_area{margin-top:8px;position:relative;}
.lay_popup .lay_inp_area input{width:100%;height:44px;border:1px solid #ccc;border-radius:4px;font-size:14px;color:#222;text-align:center;-webkit-box-sizing:border-box;box-sizing:border-box}
.lay_popup .lay_inp_area input.error{border-color:#D43031}
.lay_popup .lay_inp_area .tx_error{display:block;text-align:left;color:#D43031;line-height:20px;margin-bottom:-20px}
.lay_popup.lay_cfidnum .lay_inp_area{margin-bottom:8px}
.lay_popup.lay_cfidnum .lay_inp_area input{padding-right:63px;}
.lay_popup.lay_cfidnum .lay_inp_area .btn__copy{position:absolute;top:0;right:0;bottom:0;width:62px;border-left:1px solid #eee;font-size:13px}

.lay_btn .btn__apply,
.lay_btn .btn__inp_id{background-color:#0073BE;float:left;width:166px}
.lay_btn .btn__cancel{background-color:#515B6D;float:right;width:82px}
.lay_btn .btn__close{background-color:#515B6D;width:82px;margin:0 auto;display:block;}

/* 버튼영역 */
.button_row{height:50px;margin-top:18px}
.button_row button{border:0;outline:0;text-align:center;color:#fff;width:calc(50% - 2px);border-radius:4px;height:50px;font-size:16px}
.button_row .btn_cancel{float:left;background-color:#515b6d}
.button_row .btn_confirm{float:right;background-color:var(--color-enuri-blue)}

/* e머니 적립 가능 쇼핑몰 */
.shop_list{background:#fff;border-top:1px solid #eee;margin-top:8px}
.shop_list .txt_tit{font-size:16px;letter-spacing:-.5px;padding:13px 15px;font-weight:bold}
.shop_list .txt_tit .txt_sub{color:#888888;font-size:12px;display:block;font-weight:normal}
.shop_list ul{overflow:hidden;border-top:1px solid #eee}
.shop_list ul li{float:left;text-align:center;line-height:20px;padding:14px 0;border:1px solid #eee;border-left:0;border-top:0;width:33.3333333%;-webkit-box-sizing:border-box;box-sizing:border-box}
.shop_list ul li img{width:72px}
.shop_list ul li:nth-child(3n){border-right:0}

/* e머니 적립예정 상세 */
.lay_emoney_detail{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.8);z-index:200;display:none}
.lay_emoney_detail .btn_dim_close{position:absolute;top:0;left:0;right:0;bottom:0;text-indent:-9999em;z-index:0}
.lay_emoney_detail .lay_inner{position:absolute;bottom:0;left:0;width:100%;max-width:480px;max-height:calc(100% - 100px);z-index:1;overflow-y:auto;border-radius:10px 10px 0 0;background-color:#fff;-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transform:translateY(100%);-ms-transform:translateY(100%);transform:translateY(100%);-webkit-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s}
.lay_emoney_detail.on .lay_inner{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
@media (min-width:480px) {
	.lay_emoney_detail .lay_inner{left:50%;margin-left:-240px}
}

.lay_emoney_detail .lay_head{position:-webkit-sticky;position:sticky;top:0;left:0;right:0;height:44px;line-height:44px;background-color:#fff;text-align:center;font-size:16px;font-weight:bold;letter-spacing:-1px;border-bottom:1px solid #d4e1e8;z-index:10}
.lay_emoney_detail .lay_head .lay_in_close{position:absolute;width:20px;height:20px;text-indent:-9999em;right:12px;top:12px;background-position:-200px -20px}
.lay_emoney_detail .lay_cnt{position:relative;font-size:16px;color:#555555}

.earn__detail .earn__date{display:block;height:36px;background-color:#e9f4fa;line-height:36px;color:#5c7395;border-bottom:1px solid #d4e1e8;text-align:center;font-weight:bold}
.earn__detail .earn__summary{position:relative;display:block;padding:15px 12px;line-height:24px;height:48px;border-bottom:1px solid #d4e1e8;letter-spacing:-.5px}
.earn__detail .earn__summary > span{display:block}
.earn__detail .earn__summary .tx_txt_sub{font-size:14px;color:#aaa;letter-spacing:-1px}
.earn__detail .earn__summary .tx_txt_sub.tx_date{margin-right:110px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis; white-space:nowrap}
.earn__detail .earn__summary .tx_point{position:absolute;right:7px;height:48px;line-height:48px;top:15px;color:#30a7f7;font-weight:bold;font-size:16px}
.earn__detail .earn__summary .tx_point em{font-size:20px}
.earn__detail .earn__info{position:relative;display:block;padding:15px 12px;line-height:24px;letter-spacing:-.5px;background-color:#fafcff;border-bottom:1px solid #d4e1e8}
.earn__detail .earn__info > span{display:block}
.earn__detail .earn__info .tx_tit{color:#5c7395}
.earn__detail .earn__info .tb_earn_info{margin-top:6px}
.earn__detail .earn__info .tb_earn_info li{height:26px;position:relative;line-height:26px;text-align:right;font-size:14px}
.earn__detail .earn__info .tb_earn_info li .tb_tx_tit{position:absolute;left:0;top:0;text-align:left;color:#535a64;font-size:14px}
.earn__detail .earn__info .tb_earn_info li .tx_price{font-weight:bold;font-size:16px}
.earn__detail .earn__buy_list{margin-bottom:-20px}
.earn__detail .earn__buy_list ul li{padding:16px 12px;position:relative;border-top:1px solid #eee;letter-spacing:-.5px}
.earn__detail .earn__buy_list ul li:first-child{border-top:0}
.earn__detail .earn__buy_list ul li .tx_name{display:block;font-size:14px;line-height:20px;color:#888}
.earn__detail .earn__buy_list ul li .tx_price{display:block;line-height:18px;font-size:16px;font-weight:bold;margin-top:8px;color:#222;text-align:right}
.earn__detail .earn__noti{letter-spacing:-1px;margin-top:20px}
.earn__detail .earn__noti .tx_tit{position:relative;border:1px solid #eee;border-left:0;border-right:0;height:40px;line-height:40px;padding:0 12px;background-color:#f6f6f6}
/* .earn__detail .earn__noti .tx_tit:after{content:"";background-image:url(http://img.enuri.info/images/mobile_v2/myenuri_sprite.png);background-repeat:no-repeat;background-size:360px;background-position:-320px 0;width:20px;height:20px;position:absolute;top:8px;right:8px} */
.earn__detail .earn__noti .tx_noti{padding:15px 12px 25px;line-height:20px;font-size:14px;color:#888;background-color:#fafafa}
.earn__detail .earn__noti .tx_noti ul li{position:relative;padding-left:7px}
.earn__detail .earn__noti .tx_noti ul li:before{content:"-";position:absolute;top:0;left:0}

/* 고객센터 버튼 추가 */
.my_customer{margin:10px;}
.my_customer button{background-color:#515b6d;height:44px;border-radius:2px;text-align:center;width:100%}
.my_customer button span{color:#fff;font-size:14px}

/* 시세조회 */
.my__car_quote{margin-top:10px;padding:0 0 20px 0;border-top:1px solid #eee}
.my__car_quote .list_head{font-size:14px;padding:16px 10px 6px;height:18px;line-height:18px;color:#999;}

.my_quotelist {margin-bottom:10px; border-bottom:1px solid #ddd;background-color:#fff;}
.my_quotelist .item_head {position:relative;min-height:44px;border-bottom:1px solid #ddd}
.my_quotelist .item_head:after {content:"";display:table;clear:both}
.my_quotelist .item_head .tx_tit {float:left;padding-left:12px;font-size:16px;color:#333;line-height:44px}
.my_quotelist .item_head .tx_num {font-weight:bold;font-size:12px;color:#30a7f7;}

.my_quotelist .tabs_scroll {display:block;overflow:hidden;overflow-x:auto}
.my_quotelist .mytabs {display:-webkit-inline-box;padding:17px 10px;}
.my_quotelist .mytabs:after {content:"";display:table;clear:both}
.my_quotelist .mytabs li {position:relative;width:134px;height:94px;border:1px solid #eee;}
.my_quotelist .mytabs li+li {margin-left:10px}
.my_quotelist .mytabs li.is-on{border-color:#1073be}
.my_quotelist .mytabs .thumb {display:block;width:100px;height:50px;margin:10px auto 6px}
.my_quotelist .mytabs .thumb img {width:100%;height:100%;vertical-align:top}
.my_quotelist .mytabs .tx_model{display:block;font-size:14px;font-weight:bold;color:#555;height:20px;line-height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center}
.my_quotelist .mytabs .tab__delete {position:absolute;top:10px;right:10px;background-position:0 -60px;width:14px;height:14px;}
.my_quotelist .mytabs li.add_quote {padding:0;}
.my_quotelist .mytabs li.add_quote a {display:block;font-size:14px;color:#aaa;text-align:center;letter-spacing:-.5px}
.my_quotelist .mytabs li.add_quote a .ico_plus {display:block;width:36px;height:36px;margin:18px auto 12px;background-position:-90px -85px}

.my_quoteinfo{margin:0}
/* .my_quoteinfo .tabs_container {} */
.my_quoteinfo .tab_cont {display:none}
.my_quoteinfo .tab_cont:first-child {display:block}
.my_quoteinfo .cont_inner {position:relative;}
.my_quoteinfo .cont_inner .tab_del {position:absolute;top:7px;right:7px;z-index:10;width:30px;height:30px;font-size:0;text-indent:-9999px;background-position:-125px -80px}

.my_quoteitem {margin-bottom:10px;border-bottom:1px solid #ddd;padding:0;background-color:#fff}
.my_quoteitem .item_body{position:relative;margin:15px 12px;min-height:120px}
.my_quoteitem .item_thumb{position:absolute;top:0;left:0;padding:24px 0;width:144px;}
.my_quoteitem .item_thumb .logo{position:absolute;top:0;left:0;width:40px;height:28px}
.my_quoteitem .item_thumb .thumb{display:block;width:144px;height:72px;}
.my_quoteitem .item_thumb img{width:100%;vertical-align:top}
.my_quoteitem .item_info{position:absolute;top:50%;left:156px;transform:translateY(-50%)}
.my_quoteitem .item_info > span{display:block;line-height:18px;}
.my_quoteitem .item_info .tx_model{display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;word-break:break-all;font-weight:normal;max-height:48px;line-height:24px;font-size:20px;letter-spacing:-.4px;color:#333;}
.my_quoteitem .item_info .tx_lineup{margin-top:8px;font-size:13px;color:#888;}
.my_quoteitem .mqd_detail {clear:both;display:flex;justify-content:space-between;width:100%;}
.my_quoteitem .mqd_detail li {flex:1 1 auto;width:100%;min-height:44px;border-top:1px solid #eee;}
.my_quoteitem .mqd_detail li+li {border-left:1px solid #eee}
.my_quoteitem .mqd_detail li dl {padding:14px 0;line-height:20px;text-align:center}
.my_quoteitem .mqd_detail li dl dt {display:block;font-size:13px;letter-spacing:-.4px;color:#555;}
.my_quoteitem .mqd_detail li dl dd {display:block;font-weight:bold;font-size:18px;color:#333;line-height:20px;}

/* 내차 현재시세 */
.my_quote {overflow:hidden;border-top:1px solid #eee;border-bottom:1px solid #ddd;background-color:#fff;}
.my_quote .item_head {position:relative;min-height:20px;padding:12px;border-bottom:1px solid #ddd}
.my_quote .item_head:after {content:"";display:table;clear:both}
.my_quote .item_head .tx_tit {float:left;font-size:16px;color:#333;line-height:20px}
.my_quote .item_head .tx_unit {float:right;font-size:13px;color:#999;letter-spacing:-.5px;line-height:20px;}

/* 시세 바 그래프 */
.quote_wrap{overflow:hidden;padding:105px 30px 70px;border-bottom:1px solid #eee;}

/* 시세 프로그레스 바 */
#quote_bar{position:relative;background:#ccc;width:80%;height:6px;float:left;}
#quote_bar .bar_pips > span {position:absolute;top:20px;white-space:nowrap;font-size:16px;color:#999;text-indent:-50%;}
#quote_bar .bar_pips > span:before {content:"";display:block;width:1px;height:16px;background:#ddd;position:absolute;top:-25px;left:0;}
#quote_bar .bar_pips > span.min_value {left:0;}
#quote_bar .bar_pips > span.half_value {left:50%;}
#quote_bar .bar_pips > span.max_value {left:100%;}

#quote_bar .value_bar {display:block;width:60%;margin:0 20%;height:6px;background-color:#2f8bc7;position:absolute;top:0;-webkit-transition:all .4s;transition:all .4s;}
#quote_bar .value_bar > span {display:block;position:absolute;width:16px;height:16px;background-color:#2f8bc7;-webkit-border-radius:50%;border-radius:50%;top:-5px;}
#quote_bar .value_bar > span.low_dot {left:-8px;}
#quote_bar .value_bar > span.high_dot {right:-8px;}
#quote_bar .value_bar > span.low_dot:hover,
#quote_bar .value_bar > span.high_dot:hover {z-index:10;}
#quote_bar .value_bar > span:before {content:"";display:block;width:36px;height:36px;-webkit-border-radius:50%;border-radius:50%;background:#2f8bc7;opacity:.5;position:absolute;top:-10px;left:-10px;animation:.8s linear 0s infinite circle_expand ;}
@keyframes circle_expand {
    0% {transform:scale(0);opacity:.5;}
    100% {transform:scale(1);opacity:0;}
}

#quote_bar .value_bar > span .value_tooltip {position:absolute;display:block;bottom:100%;min-width:76px;left:50%;transform:translateX(-50%);margin-bottom:20px;text-align:center;letter-spacing:-.5px;padding:10px 0;background:#fff;border:1px solid #2f8bc7;-webkit-border-radius:8px;border-radius:8px;line-height:1;}
#quote_bar .value_bar > span .value_tooltip .prefix {display:block;color:#666;font-size:12px;margin-bottom:4px;}
#quote_bar .value_bar > span .value_tooltip .barvalue {font-size:18px;font-weight:bold;color:#0073be;vertical-align:-1px}
#quote_bar .value_bar > span .value_tooltip .suffix {color:#2f8bc7;font-size:14px;}
#quote_bar .value_bar > span .value_tooltip:after {content:"";display:block;background:#fff;width:6px;height:6px;border-right:1px solid #2f8bc7;border-bottom:1px solid #2f8bc7;-webkit-transform:rotate(45deg);-moz-transform:rotate(45deg);-o-transform:rotate(45deg);transform:rotate(45deg);position:absolute;bottom:-4px;left:50%;margin-left:-3px;}
/* 출고가 바 */
.release_bar {position:relative;width:20%;float:right;background:#e6e6e6;height:6px;}
.release_bar .txt {position:absolute;color:#999;font-size:12px;display:inline-block;top:21px;left:100%;text-indent:-100%;text-align:center;white-space:nowrap}
.release_bar .txt:before {content:"";display:block;width:1px;height:16px;background:#ddd;position:absolute;top:-26px;left:0;}
.release_bar .txt > span {display:block;font-weight:bold;font-size:16px;color:#333}

.request_box {padding:20px 12px 25px;background-color:#fff}
.request_box .btn__request {clear:both;display:block;width:100%;height:48px;padding:0;border-radius:3px;font-size:16px;color:#fff;line-height:48px;text-align:center;background-color:var(--color-enuri-blue)}
.request_box .btn__request em {font-size:16px;color:#fff}
.request_box .btn__request em:before {content:"";display:inline-block;width:28px;height:28px;margin-top:-4px;margin-right:8px;background:var(--url-comm-sprite-56) -89px -35px;background-size:var(--size-comm-sprite);vertical-align:middle;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
.request_box .btn__quote {margin-bottom:12px;}
.request_box .btn__quote em:before {display:none}
.request_box .tx_alert {display:block;position:relative;padding-left:15px;font-size:13px;line-height:20px;letter-spacing:-.2px;color:#666}
.request_box .tx_alert:before {content:"※";position:absolute;top:0;left:0;}

/* 미래 시세 */
.future_quote {overflow:hidden;margin-top:10px;border-top:1px solid #eee;border-bottom:1px solid #ddd;background-color:#fff;}
.future_quote .item_head {position:relative;min-height:44px;border-bottom:1px solid #ddd}
.future_quote .item_head:after {content:"";display:table;clear:both}
.future_quote .item_head .tx_tit {float:left;padding-left:12px;font-size:16px;color:#333;line-height:44px}
.chart_wrap {position:relative;padding:20px 12px 24px;}
.chart_box {position:relative;width:100%;height:200px;background-color:#F8F8F8}
.chart_box:after {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border:1px solid #ddd;pointer-events:none;}

.my_quoteinfo .no_result{padding:48px 0 28px 0;text-align:center;letter-spacing:-.5px}
.my_quoteinfo .no_result .ico_no{display:block;width:76px;height:76px;background:var(--url-vip-sprite) no-repeat -210px -130px;background-size:var(--size-vip-sprite);margin:0 auto;}
.my_quoteinfo .no_result .tx_tit{display:block;margin-top:10px;font-size:16px;height:24px;line-height:24px;color:#222;}
.my_quoteinfo .no_result .tx_sub{display:block;font-size:14px;height:20px;line-height:20px;color:#666;}
.my_quoteinfo .no_result .btn__quote{display:block;line-height:40px;width:160px;height:40px;margin:20px auto 0;background-color:#0073be;border-radius:2px;color:#fff;font-size:16px}

/* 레이어 COMMON (@신차비교 /newcar/m/layer.html 참조) */

.my_lay_box {display:none;overflow:hidden;overflow-y:auto;position:fixed;top:0;bottom:0;left:0;right:0;z-index:10000;width:100vw;background-color:rgba(0,0,0,.4)}
.my_lay_box .lay_inner {overflow-y:auto}
.my_lay_box .lay_head {position:relative;height:52px;border-bottom:1px solid #ccc;background-color:#fff}
.my_lay_box .lay_head h1 {position:absolute;top:18px;left:50%;font-weight:normal;font-size:2rem;line-height:1;letter-spacing:-.8px;color:#333;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.my_lay_box .lay_head .btn__close {display:inline-block;position:absolute;top:14px;right:12px;width:24px;height:24px;font-size:0;text-indent:-9999px;background:var(--url-comm-sprite-48) -101px -35px no-repeat;background-size:var(--size-comm-sprite)} 


/* 다이얼로그 : 얼럿박스 */
.lay_alert .lay_inner{position:absolute;top:50%;left:50%;min-width:280px;width:calc(100% - 34px);max-width:326px;padding:30px 0 34px;border:1px solid #ddd;font-size:14px;letter-spacing:-1px;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background-color:#fff;z-index:100}
.lay_alert .dimmed {position:absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);z-index:1}
.lay_alert .lay_inner .tx_comm{line-height:22px;text-align:center;padding:0 5px;color:#333;word-break:keep-all}
.lay_alert .lay_inner .tx_comm em{font-weight:bold;color:#222}
.lay_alert .lay_inner .tx_comm .tx_sub{display:block;margin-top:3px;font-size:12px;color:#ccc;line-height:18px}
.lay_alert .lay_inner .group__layin_btn{margin:22px auto 0;display:block;width:calc(100% - 38px);height:42px;}
.lay_alert .lay_inner .group__layin_btn button{width:calc(50% - 5px);height:42px;border-radius:21px;text-align:center;color:#fff;font-size:14px;line-height:42px}
.lay_alert .lay_inner .btn__layin_confirm{display:block;margin:22px 38px 0;width:calc(100% - 76px);max-width:252px;height:42px;border-radius:21px;background-color:#596374;text-align:center;color:#fff;font-weight:500}
.lay_alert .lay_inner .btn__layin_list{float:left;background-color:#0073BE}
.lay_alert .lay_inner .btn__layin_esti{float:right;background-color:#596374}

/* MY알림 */
.tabs_wrap {display:block;position:relative;width:calc(100% - 4px);margin:0 -10px;padding:8px 12px; border-top:1px solid #eee;}
.tabs_wrap:before {content:"";position:absolute;top:0;left:0;right:0;border-top:1px solid #fff;opacity:.2}
.tabs_wrap .swiper-container {overflow:visible}
.tabs_wrap .swiper-slide {display:block;width:auto;}
.tabs_wrap .swiper-slide .btn-tab {position:relative;height:28px;padding:0 12px;border-radius:14px;font-weight:400;font-size:13px;letter-spacing:-.7px;color:#888;background-color:#fff; border:1px solid #bbb;transition:all .3s ease-in-out; line-height: 26px;}
.tabs_wrap .swiper-slide.is--on .btn-tab {border:1px solid #30a7f7;color:#30a7f7;background-color:rgba(101, 182, 247, 0)}
.tabs_wrap .swiper-slide.is--new .btn-tab {padding-right:8px;}
.tabs_wrap .swiper-slide.is--new .btn-tab:after {content:"";display:inline-block;position:relative;top:-10px;left:2px;width:4px;height:4px;border-radius:4px;background-color:#f24141}

.alarmsheet {position:relative;width:100%;height:calc(100% - 92px);background-color:#f6f6f6}
.alarmsheet .card_box {position:relative;padding:12px;}
.alarmsheet .card_item {display:block;margin-bottom:8px;border-radius:8px;border:1px solid rgba(0, 0, 0, 0.1);background-color:#fff;}
.alarmsheet .card_item a.card_link {display:block;position:relative;padding:16px;transition:background .3s ease-in-out}
.alarmsheet .card_item a.card_link:hover {text-decoration:none;background-color:rgba(0,0,0,.02)}
.alarmsheet .card_item a.card_link span {display:block;}
.alarmsheet .card_item a.card_link .tx_cate {position:relative;width:calc(100% - 60px);font-weight:bold;font-size:16px;color:#111;letter-spacing:-.6px;line-height:24px;}
.alarmsheet .card_item a.card_link .tx_time {position:absolute;top:16px;right:16px;font-size:13px;color:#aaa;letter-spacing:-.5px;line-height:24px;}
.alarmsheet .card_item a.card_link .tx_msg {margin-top:6px}
.alarmsheet .card_item a.card_link .tx_msg > span {font-size:13px;color:#777;letter-spacing:-.6px;line-height:20px;}
.alarmsheet .card_item a.card_link .tx_msg > span.tx_nm {overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:100%;}
.alarmsheet .card_item.is--new a.card_link .tx_cate:after {content:"";display:inline-block;position:relative;top:-16px;left:0;width:4px;height:4px;border-radius:4px;background-color:#f24141} 
.alarmsheet .card_item.no-data {position:relative;border:0;text-align:center;background:transparent}
.alarmsheet .card_item.no-data .tx_noti {display:block;margin:230px auto;font-size:13px;line-height:24px;letter-spacing:-.6px;color:#666;}
.alarmsheet .card_item.no-data .tx_noti:before {content:"";display:block;width:76px;height:76px;margin:0 auto 10px;background:url(/images/myenuri/m/bg_alarm_nodata.png) no-repeat;background-size:76px}