
@charset "utf-8";

/************************************************************************
 * 파일명 : plan.css
 * 설명 : 에누리 모바일웹 (v2019) - 모바일 기획전
 * 작성자  :신왕섭
 * 작성일 :2020.02.20
************************************************************************/

.plan_header{height:40px;background-color:#fff;border-bottom:1px solid #eee}
.plan_header .header_wrap{position:relative}
.plan_header .header_wrap .m_txt{margin:0 41px;text-align:center;height:40px;line-height:40px;font-size:15px;color:#30a7f7;letter-spacing:-.5px;font-weight:normal;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.plan_header .header_wrap .btn_phd_back,
.plan_header .header_wrap .btn_phd_share{border:0;width:21px;height:21px;position:absolute;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-indent:-9999em}
.plan_header .header_wrap .btn_phd_back{left:10px;background-position:-100px -160px}
.plan_header .header_wrap .btn_phd_share{right:10px;background-position:-125px -160px}

.m_event__top{position:relative}
.m_event__top img{width:100%}
.m_event__top .more{position:absolute;right:0;bottom:10%;background:rgba(0,0,0,0.5);border-radius:20px 0 0 20px;padding:10px 12px;color:#ffffff;font-size:12px}

.m_event__select{padding:5px 0;background-color:#fff;position:relative;border-bottom:1px solid #ccc}
.m_event__select select{margin:0 5px;width:calc(100% - 10px);border:1px solid #eee;background-color:#fff;color:#555;box-sizing:border-box;padding:0 10px;height:34px;line-height:34px;border-radius:4px 4px;font-size:11px;letter-spacing:-1px}
.m_event__select:after{content:"";position:absolute;right:17px;top:19px;width:11px;height:6px;background:url(http://img.enuri.info/images/m_home/icon_pack.png) -237px -193px no-repeat;background-size:250px 400px}
.m_event__select.f-nav{position:fixed;top:0;left:0;width:100%;z-index: 10;}

.m_event__group{}
.m_event__group .group_wrap{}
.m_event__group .group_wrap .txt_tit{height:40px;line-height:40px;padding:10px 10px 0;background-color:#f6f6f6;color:#888888;font-size:12px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;border-bottom:1px solid #eee;font-weight:normal}
.m_event__group .group_wrap strong{display:inline-block;margin-right:10px;font-size:16px;font-weight:bold;color:#000}
.m_event__group .group_wrap .goods{overflow:hidden;background:#fff}
.m_event__group .group_wrap .goods .item{position:relative;border:0;border-bottom:1px solid #eee;padding:16px 0 12px}
.m_event__group .group_wrap .goods .item .inner{height:126px;margin:0 10px;padding:0;position:relative}
.m_event__group .group_wrap .goods .item .inner .thumb{position:absolute;width:124px;height:124px;border:1px solid #fff;padding:0}
.m_event__group .group_wrap .goods .item .inner .thumb:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.02)}
.m_event__group .group_wrap .goods .item .inner .thumb img{width:100%;height:100%}
.m_event__group .group_wrap .goods .item .inner .info_wrap{position:relative;padding:0;margin-left:136px;text-align:left;height:120px}
.m_event__group .group_wrap .goods .item .inner .info_wrap .info_cnt{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.m_event__group .group_wrap .goods .item .inner .info_wrap .info_cnt > span{display:block}
.m_event__group .group_wrap .goods .item .inner .info_wrap .txt_company{height:16px;line-height:16px;font-size:12px;color:#888}
.m_event__group .group_wrap .goods .item .inner .info_wrap .info_cnt .txt_prdname{width:calc(100% - 30px);height:36px;line-height:18px;font-size:14px;color:#222;display:box;display:-ms-flexbox;display:-moz-box;display:-webkit-box;overflow:hidden;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;font-weight:normal;margin:0}
.m_event__group .group_wrap .goods .item .inner .info_wrap .txt_desc{height:16px;line-height:16px;font-size:12px;color:#888;margin-top:5px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.m_event__group .group_wrap .goods .item .inner .info_wrap .txt_price{text-align:left;margin-top:5px;line-height:22px;height:22px;font-weight:normal;font-size:12px}
.m_event__group .group_wrap .goods .item .inner .info_wrap .txt_price .lowest{color:#333;font-size:inherit;margin-right:4px}
.m_event__group .group_wrap .goods .item .inner .info_wrap .txt_price .price{padding:0;font-weight:bold;color:#ff4646;font-size:20px}
.m_event__group .group_wrap .goods .item .inner .info_wrap .txt_price .won{color:#ff4646;font-size:inherit}
.m_event__group .btn__zzim{position:absolute;top:0;right:0;border:1px solid #eeeeee}

@media screen and (min-width:540px){
    .goods li{float:left;width:50%}
    .goods li:nth-child(odd):after{content:"";position:absolute;top:0;right:0;height:100%;border-left:1px solid #eee}
}

/* 레이어 :연관기획전 리스트 */
.m_related_layer{z-index:10;overflow:auto;display:none}
.m_related_layer .lay_tit{position:fixed;top:0;left:0;width:100%;height:44px;font-size:17px;text-align:center;color:#fff;line-height:44px;background:rgba(0,0,0,.7);z-index:2;transition:.3s transform ease-out;transform:translateY(-100%)}
.m_related_layer .btn_close{position:absolute;width:20px;height:20px;top:12px;right:12px;text-indent:-9999em;background-position:-292px 0}
.m_related_layer .btn_close_dim{position:absolute;top:0;left:0;width:100%;height:100%;z-index:0}
.m_related_layer ul{position:relative;z-index:1;width:90%;max-width:420px;margin:0 auto;padding:54px 0 20px;-webkit-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;opacity:0;-webkit-transform:translateY(12px);-ms-transform:translateY(12px);transform:translateY(12px);-webkit-transition-delay:.3s;-o-transition-delay:.3s;transition-delay:.3s}
.m_related_layer ul li{margin-top:6px}
.m_related_layer ul li img{width:100%}
.m_related_layer.active .lay_tit{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.m_related_layer.active ul{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);opacity:1}