@charset "utf-8";

/************************************************************************
 * 파일명 : st_connect.css
 * 설명 : 에누리 모바일웹 ST회원연동 (SSL)
 * 작성자  : 신왕섭
 * 작성일 : 2021.01.19
************************************************************************/

body{background-color:#fff!important}
#wrap{overflow:hidden;}
/* .connect-wrap{} */
.connect__head{padding:72px 0 0}
.connect__tit{height:40px;line-height:40px;font-size:28px;font-weight:bold;text-align:center;color:#222;letter-spacing:-2px}
.connect__tit--sub{margin-top:8px;line-height:20px;text-align:center;color:#444;font-size:16px;letter-spacing:-1px}
.connect__tit--sub em{color:#03a9f4}
/* .connect__cont{} */

/* visual */
.connect__img--01{width:280px;height:280px;margin:34px auto;background:url(//img.enuri.info/images/mobile_v2/connect/img_01.png) no-repeat 50% 50% / 100% 100%}
.connect__img--02{width:280px;height:280px;margin:34px auto;background:url(//img.enuri.info/images/mobile_v2/connect/img_02.png) no-repeat 50% 50% / 100% 100%}
.connect__img--03{width:280px;height:280px;margin:34px auto;background:url(//img.enuri.info/images/mobile_v2/connect/img_03.png) no-repeat 50% 50% / 100% 100%}

/* 정보입력 */
.connect__enterinfo{width: 100%;max-width: 320px;margin: 25px auto 43px;}
.connect__enterinfo ul{margin-top:-25px;}
.connect__enterinfo ul li{position:relative;padding-top:25px;}
.connect__enterinfo ul li .tx--tit{font-size:12px;color:#999;}
.connect__enterinfo ul li .tx--error{display:none;font-size:12px;color:#03a9f4;z-index:1;position: absolute;top:25px;left:0;background-color:#fff}
.connect__enterinfo ul li.is--error .tx--error{display:block;}
.connect__enterinfo ul li.is--error input{border-color:#03a9f4}

/* Join History */
.connect__id{width: 100%;max-width: 320px;margin: 34px auto;}
.connect__id ul{border-bottom: 1px solid #dddddd;}
.connect__id li{height:24px;line-height:24px;padding:13px;border:1px solid #ddd;border-bottom:0;}
.connect__id li .input--radio-item + label{max-width:calc(100% - 110px);overflow:hidden;white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis;}
.connect__id li .input--radio-item + label .tx--channel{color:#999}
.connect__tx--date{float:right;font-size:12px;color:#aaa;width:60px}
.connect__tx--noti{font-size:13px;color:#999;line-height:20px;display:block;padding:10px 0 0 0}

/* Accept the terms */
.connect__terms{width:100%;max-width:320px;margin:28px auto 16px;border:1px solid #dddddd;}
.connect__terms--all{padding:13px;border-bottom:1px solid #ddd;background-color:#f8f8f8}
.connect__terms--all .input--checkbox-item + label{font-size:15px;color:#333;font-weight:bold}
.connect__terms--list{padding:16px 13px;}
.connect__terms--list label{font-size:14px;color:#666}
.connect__terms--list label em{color:#333}
.connect__terms--list li{height:24px;position: relative;padding:8px 0}
.connect__terms--item{position:relative;padding:13px;background-color:#f8f8f8}
.connect__terms--item .connect__btn--view{right:13px}
.connect__terms--item .input--radio-item + label{color:#333;}
.connect__terms--alert {position:relative;display:block;width:100%;max-width:320px;margin:0 auto 30px;font-size:14px;color:#333;line-height:24px;text-align:left}
.connect__terms--alert button {position:relative;}
.connect__terms--alert button:after {content:"";position:absolute;bottom:4px;left:32px;right:0;border-bottom:1px solid #333}
.connect__terms--alert .ico--alert {display:inline-block;position:relative;top:-1px;width:24px;height:24px;margin-right:8px;font-size:0;text-indent:-9999em;vertical-align:middle;background:url(//img.enuri.info/images/mobile_v2/connect/ico_has_eid.png) no-repeat 0 0 / 100% 100%}
.connect__form{margin:0 20px;text-align:center;}
.connect__form button{display:block;width:100%;max-width:320px;height:52px;border-radius:2px;margin:0 auto;}
.connect__btn--login,
.connect__btn--agree,
.connect__btn--next{background-color:#03a9f4;color:#fff;font-size:18px;transition:.3s background ease}
.connect__btn--disagree{background-color:#fff;color:#999;font-size:13px;margin-top:8px}
.connect__btn--view{color:#aaa;background:none;font-size:12px;height:20px;line-height:20px;position:absolute;top:50%;right:0;margin-top:-10px;}
.connect__btn--next.is--disabled,
.connect__btn--login.is--disabled{background-color:#ccc;/* pointer-events:none */}
.connect__tx--copyright{padding:30px 0;font-size:11px;color:#aaa;line-height:16px;padding:30px 0;text-align:center}

/* 에누리 아이디 레이어 */
.lay-eid{position:absolute;top:0;bottom:0;left:0;right:0;z-index:100;}
.lay-eid .dimmed {content:"";position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.4);z-index:1}
.lay-eid .lay-content{position:fixed;top:-50%;left:-50%;right:-50%;bottom:-50%;width:320px;max-height:260px;margin:auto;vertical-align:middle;background-color:#fff;z-index:100}

.lay-eid__head{position:relative;height:60px;margin:0 12px;border-bottom:1px solid #ddd}
.lay-eid__tit{display:block;height:20px;padding:20px 12px;line-height:20px;font-size:16px;font-weight:bold;color:#333;letter-spacing:-.8px;text-align:left}
.lay-eid__tit .ico--question {display:inline-block;position:relative;top:-1px;width:20px;height:20px;margin-right:12px;font-size:0;text-indent:-9999em;vertical-align:middle;background:url(//img.enuri.info/images/mobile_v2/connect/ico_question.png) no-repeat 0 0 / 100% 100%}
.lay-eid__body{position:relative;padding:22px 24px}
.lay-eid__body .eid_inner {position:relative;padding-left:30px}
.lay-eid__body .eid_inner .ico--answer {display:inline-block;position:absolute;top:-1px;left:0;width:20px;height:20px;margin-right:12px;font-size:0;text-indent:-9999em;vertical-align:middle;background:url(//img.enuri.info/images/mobile_v2/connect/ico_answer.png) no-repeat 0 0 / 100% 100%}
.lay-eid__body .eid_inner .tx_answer {font-size:13px;line-height:20px;color:#666;letter-spacing:-.5px}
.lay-eid__btn--close{text-indent:-9999em;position:absolute;top:18px;right:4px;width:24px;height:24px;background:url(//img.enuri.info/images/mobile_v2/connect/ico_close.png) no-repeat 0 0 / 100% 100%}

/* 이용약관 레이어 */
.lay-terms{position: fixed;top:0;left:0;right:0;bottom:0;background-color:#fff;z-index:100}
.lay-terms__head{position: absolute;top:0;left:0;right:0;height:54px;border-bottom:1px solid #ddd;background-color:#f5f5f5}
.lay-terms__tit{height:24px;line-height:24px;font-size:20px;font-weight:bold;color:#333;letter-spacing:-.8px;text-align:center;padding:15px 0;}
.lay-terms__body{position: absolute;top:55px;bottom:52px;left:0;right:0;overflow-y:auto;padding:20px}
.lay-terms__foot{position: absolute;bottom:0;right:0;left:0;height:52px;z-index:100}
.lay-terms .connect__btn--agreeall{width:100%;height:52px;background-color:#03a9f4;text-align:center;font-size:18px;font-weight:bold;color:#fff}
.lay-terms__btn--back{text-indent:-9999em;position:absolute;top:15px;left:20px;width:24px;height:24px;background:url(//img.enuri.info/images/mobile_v2/connect/ico_back.png) no-repeat 0 0 / 100% 100%}
.lay-terms__btn--close{text-indent:-9999em;position:absolute;top:15px;right:20px;width:24px;height:24px;background:url(//img.enuri.info/images/mobile_v2/connect/ico_close.png) no-repeat 0 0 / 100% 100%}

/* 약관 관련 */
.policy_inner{font-size:12px;line-height:18px;color:#555;}
.policy_inner.previous,
.policy_inner.disclaimer,
.policy_inner.shopping_report,
.policy_agreement .policy_inner{display:block}
.policy_inner h2{font-size:13px;color:#222;line-height:20px;margin-bottom:10px;}
.policy_inner p + h2{margin-top:20px}
.policy_inner h2 + p,
.policy_inner ul{margin-bottom:20px}
.policy_inner p + .tb_box{margin-top:-10px}
.policy_inner .tb_box{margin-top:10px}
.policy_inner .tb_box th{background-color:#f6f6f6;text-align:center;padding:15px 5px}
.policy_inner .tb_box td{padding:12px 5px}
.policy_inner .tb_box th,
.policy_inner .tb_box td{color:#555;font-size:12px;line-height:18px;border:1px solid #dddddd;}
.policy_inner .rule_selectype{position:relative;display:block;width:100%;border:1px solid #aaaaaa;background-color:#fff;border-radius:2px 2px;}
.policy_inner .rule_selectype select{z-index:1;background:transparent;position:relative;border:0;outline:none;width:100%;height:32px;padding:0 32px 0 17px;color:#555;overflow:hidden;-webkit-box-sizing:border-box;box-sizing:border-box;height:32px;line-height:30px;font-size:14px;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;letter-spacing:-1px}
.policy_inner .rule_selectype:after{content:"";z-index:0;position:absolute;width:12px;height:12px;background-image:var(--url-my-sprite);background-repeat:no-repeat;background-size:var(--size-my-sprite);background-position:-160px -40px;top:10px;right:10px}
.policy_inner  em.changed{color:#0073be;background-color:#e5f1f8;font-weight:bold}

/* 인풋 */
.inp--text-item{height:44px;width:100%;border:0;background-color:transparent;border-bottom:1px solid #cccccc;transition:.3s all ease}
.inp--text-item:focus{border-color:#03a9f4}

/* 라디오 */
.input--radio-item{position:absolute;width:1px;height:1px;visibility:hidden;}
.input--radio-item + label{position:relative;display:inline-block;height:24px;line-height:24px;font-size:14px;padding-left:32px;font-family:inherit;letter-spacing:-.5px}
.input--radio-item + label:before{content:"";position:absolute;width:24px;height:24px;left:0;top:0;background-image:url(//img.enuri.info/images/mobile_v2/connect/ico_radio_off.png);background-repeat:no-repeat;background-size:24px 24px}
.input--radio-item:checked + label:before{background-image:url(//img.enuri.info/images/mobile_v2/connect/ico_radio_on.png);}

/* 체크박스 */
.input--checkbox-item{position:absolute;width:1px;height:1px;visibility:hidden;}
.input--checkbox-item + label{position:relative;display:inline-block;height:24px;line-height:24px;font-size:14px;padding-left:32px;font-family:inherit;letter-spacing:-.5px}
.input--checkbox-item + label:before{content:"";position:absolute;width:24px;height:24px;left:0;top:0;background-image:url(//img.enuri.info/images/mobile_v2/connect/ico_chk_off.png);background-repeat:no-repeat;background-size:24px 24px}
.input--checkbox-item:checked + label:before{background-image:url(//img.enuri.info/images/mobile_v2/connect/ico_chk_on.png);}