@charset "utf-8";

/************************************************************************
 * 파일명 : vip_info_663.css
 * 설명 : VIP > 롯데홈쇼핑 css
 * 목적 : MobileWeb > 상품상세정보 > 크롤링 데이터 모바일 대응
 * 작성자  : 신왕섭
 * 작성일 : 2020.04.10
************************************************************************/

/* .prd_info_view 하위만 작성 */
.prd_info_view .box_statem{overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;position:relative;min-height:400px;color:#666;line-height:1.25em;}
.prd_info_view .box_statem.dtl_exp_n {min-height:0;}
.prd_info_view .box_statem h3,
.prd_info_view .box_statem td,
.prd_info_view .box_statem span,
.prd_info_view .box_statem font,
.prd_info_view .box_statem div,
.prd_info_view .box_statem em,
.prd_info_view .box_statem p,
.prd_info_view .box_statem a,
.prd_info_view .box_statem strong{font-size:12px !important;font-family:'Roboto','Droid Sans','Malgun Gothic' !important;text-align:left;}
.prd_info_view .box_statem strong,.prd_info_view .box_statem h3{font-weight:bold;}

.prd_info_view .box_statem div,
.prd_info_view .box_statem p {width:auto !important; min-width:0 !important; max-width:100% !important;}
.prd_info_view .box_statem img {max-width:100% !important; min-width:0 !important; max-width:100% !important; height:auto !important;}
.prd_info_view .box_statem table {border-collapse:collapse;width:100% !important; min-width:0 !important; max-width:auto !important;height:auto !important;}
.prd_info_view .box_statem th,
.prd_info_view .box_statem td{height:auto !important;}
.prd_info_view .box_statem object{width:100%;}
.prd_info_view .box_statem embed{width:100%;}
.prd_info_view .box_statem embed[src*=".swf"]{display:none;}
.prd_info_view .box_statem .goods_img {margin:0;}
.prd_info_view .box_statem .btn_view_detail {position:absolute;top:50px;right:8px;z-index:100;border:none;margin:0;padding:0;background-color:transparent !important;}
.prd_info_view .box_statem .btn_view_detail img {width:45px !important; height:45px !important;}

@media (max-width:768px) {
    .prd_info_view .size_guide_tip_wrap,
    .prd_info_view .guide_tip_wrap{padding-left:0!important;}    
    .prd_info_view .guide_tip_wrap ul li{height:auto!important}
}