@charset "utf-8";

/* 모바일웹 개편 후 사용 X */

.zzim_wrap{padding-bottom:10px;}
.zzim_wrap table{width:100%;table-layout:fixed}
.zzim_wrap table th,
.zzim_wrap table td{padding:9px 11px;border-bottom:1px solid #f6f6f6;height:24px;line-height:24px;}
.zzim_wrap table .txt_name{color:#555;font-weight: normal;font-size:13px;letter-spacing: -.52px;padding-left:15px;text-overflow:ellipsis; white-space:nowrap;overflow:hidden}
.zzim_wrap table .txt_amount{padding:12px 0;color:#aaaaaa;font-size:12px;letter-spacing: -.48px;text-align:center}
.zzim_wrap table .txt_amount em{font-weight: normal;color:#555}
.zzim_wrap table .btn_area{line-height:0}
.zzim_wrap .txt_name{text-align:left}
.zzim_wrap .btn_area{text-align:right}
.zzim_wrap .btn_delete{border:1px solid #dbdbdb;box-sizing: border-box;width:60px;height:24px;border-radius:5px 5px;margin:0;padding:0;font-size:11px;letter-spacing: -.44px;line-height:22px;color:#888888;outline:none}

.zzim_wrap .card_inner{padding-bottom:55px;min-height:260px}
.zzim_wrap .card_inner .btn_folder{position: absolute;bottom:0;left:0;right:0;padding:10px}
.zzim_wrap .card_inner .btn_folder .btn_add_folder{display:block;border-radius: 2.5px;background:#7bb3fa;border:1px solid #73abf2;width:100%;height:36px;box-sizing: border-box;margin:0;padding:0;line-height:34px;color:#fff;font-size:14px;letter-spacing: -.56px}
.zzim_wrap .card_inner .btn_folder .btn_add_folder span{position:relative;display:inline-block;padding-left:16px}
.zzim_wrap .card_inner .btn_folder .btn_add_folder span:before{position: absolute;content:"";width:12px;height:12px;background:url(http://img.enuri.info/images/mobile_v2/ico_pack_vip.png) no-repeat -230px -55px; background-size:300px;left:0;top:50%;transform:translateY(-50%)}