@charset "utf-8";
/* @import url("/css/webfont.css"); */
/* @import url("/css/webfont-local.css");  */
/************************************************************************
 * 파일명 :common.css
 * 설명 : 기획전 common.css
 * 작성자 : 박현원
 * 작성일 : 2020.12.13
************************************************************************/
.plan_wrap {width: 100%; height: auto; padding-bottom:30px; background-color: #f8f8f8; font-family: "Noto Sans KR","맑은고딕",-apple-system, Roboto, sans-serif;}
.plan_container {position:relative; width:1280px; margin:0 auto; z-index: 10;}
.section {position:relative;}

/* ---------------------------------------------------------- 
				최상단 배너
---------------------------------------------------------- */
.plan_top_bnnr {background-position: center; text-align: center; color:#fff; height:160px; padding:43px 0;}
.plan_top_bnnr .top_bnnr_cover_bg {position:absolute; top:0; left:0; width:100%; height: 100%;  opacity: .7;} 
.plan_top_bnnr .bnnr_title {font-size: 32px; font-weight: bold; font-family: "Roboto"}
.plan_top_bnnr .bnnr_summary {font-size: 16px;} 

/* ---------------------------------------------------------- 
				상단 카테고리 메뉴 버튼
---------------------------------------------------------- */
.plan_top_cate_menu {margin-top:48px;}
.plan_top_cate_menu ul {display: flex; flex-wrap: wrap; justify-content: space-between;}
.plan_top_cate_menu ul li {flex:0 0 auto; width:100px; text-align: center;}
.plan_top_cate_menu ul li a {display: block; text-decoration: none;}
.plan_top_cate_menu ul li a .menu_icon {position:relative; width:100px; height:100px; border-radius: 50%; overflow: hidden; border:1px solid #ddd; background-color: #fff; padding:9px;}
.plan_top_cate_menu ul li.active a .menu_icon:after {content:""; display: block; width:100%; height: 100%;  background-image: url("//img.enuri.info/images/rev/plan/icon_checked.png"); background-position: center; background-color: rgba(248,104,158,.9); position:absolute; top:0; left:0;}
.plan_top_cate_menu ul li:first-child.active a .menu_icon:after {background-color: rgba(146,86,214,.9);}

.plan_top_cate_menu ul li a .menu_name {display: flex; align-items: center; justify-content: center; font-size: 13px; color:#222; letter-spacing: -.5px; height:36px; line-height: 18px; margin-top:8px;}
.plan_top_cate_menu ul li.active a .menu_name {color: #F8689E; font-weight: bold;}
.plan_top_cate_menu ul li:first-child.active a .menu_name {color: #9256D6;}
/* ---------------------------------------------------------- 
				컨텐츠 - 공통
---------------------------------------------------------- */
.plan_grid {padding: 40px 39px 43px; border: solid 1px #ddd; background-color: #fff;}


.col_wrap {display: flex; justify-content: space-between; align-items: flex-start; flex-wrap:wrap;}
.col_wrap > .col {flex:0 0 auto;}
.col_wrap > .col.col_3 {width:25%;}
.col_wrap > .col.col_4 {width:33.3333%;}
.col_wrap > .col.col_half {width:50%;}
.col_wrap > .col.col_full {width:100%;}
/* ---------------------------------------------------------- 
				컨텐츠 - 탭(전체,쇼핑기획전,구매가이드) (index.html)
---------------------------------------------------------- */
.plan_alllist {margin-top: 40px;}
.plan_alllist .plan_grid {padding-bottom:0;}
.plan_alllist .tab_sortmenu {margin-bottom:36px; padding-bottom:12px; border-bottom:1px solid #000;}
.plan_alllist .tab_sortmenu ul {display: flex; ;}
.plan_alllist .tab_sortmenu ul li {position:relative; font-size: 22px; font-weight: bold; color:#000; line-height: 32px; letter-spacing: -.6px; margin-right:16px; cursor: pointer; opacity: .3;  }
.plan_alllist .tab_sortmenu ul li:before {content:""; display: block; width:28px; height:28px; background-image: url("//img.enuri.info/images/rev/plan/icon_check_s28.png"); position:absolute; top: 50%; left: 0; margin-top: -14px; opacity: 0;}

.plan_alllist .tab_sortmenu ul li.active {opacity: 1; padding-left:28px; transition: all .4s;}
.plan_alllist .tab_sortmenu ul li.active:before {opacity: 1; transition: all .4s .2s;}

.plan_alllist .col_wrap {margin-left:-12px; margin-right:-12px; justify-content: flex-start;}
.plan_alllist .col_wrap > .col {padding-left:12px; padding-right:12px; margin-bottom:36px;}
.plan_alllist .cont_list {padding-bottom:16px;} 
.plan_alllist .cont_list > div {overflow: hidden; transition: all 1s;}
.plan_alllist .cont_list > div.hide_list {width:0; margin:0; padding:0; opacity: 0;}
.transtion_immed {transition-duration: 0s!important;}
/* .plan_alllist .cont_list > div.hide_list .tx_nm,
.plan_alllist .cont_list > div.hide_list .tx_summary {font-size: 0!important;} */

.plan_alllist .cont_list a {display: block; position:relative; text-decoration: none;}
.plan_alllist .cont_list a .item_thumb {position:relative; padding-top:100%; width: 100%;}
.plan_alllist .cont_list a .item_thumb .label_name {display: inline-block; font-size: 13px; font-weight: 400; min-width: 76px; line-height: 28px; padding:0 8px; text-align: center; color:#fff; background-color: rgba(0, 0, 0, 0.75); position:absolute; top:0; left:0; letter-spacing: -.2px; z-index: 10;}
.plan_alllist .cont_list a .item_thumb img {position:absolute; top:0; left:0; width: 100%; height: 100%; object-fit: cover;}
.plan_alllist .cont_list a .item_info {margin-top:16px;}
.plan_alllist .cont_list a .item_info .tx_tit1 {font-size: 20px; height:28px; line-height: 1.4; color:#000; letter-spacing: -.4px; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; overflow: hidden;}
.plan_alllist .cont_list a .item_info .tx_tit2 {font-size: 20px; height:28px; line-height: 1.4; color:#000; letter-spacing: -.4px; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; overflow: hidden;}
.plan_alllist .cont_list a .item_info .tx_summary {line-height: 21px; color:#666; font-size: 14px; margin-top:12px; letter-spacing: -.3px; height: 21px; overflow: hidden;}

/* ---------------------------------------------------------- 
				컨텐츠 - 쇼핑트렌드 (index_pick.html)
---------------------------------------------------------- */
.plan_shopping_trend {margin-top:40px;}
.plan_shopping_trend .tit {font-size: 22px; font-weight: bold; color:#000; line-height: 32px; letter-spacing: -.6px; margin-bottom:32px; padding-bottom:12px; border-bottom:1px solid #000;}
.plan_shopping_trend .tit a {float:right; font-size: 13px; font-weight: 500; color:#888; line-height: 20px; margin-top:6px;}
.plan_shopping_trend .tit a:after {content:""; display: inline-block; width:12px; height:12px; background: url("//img.enuri.info/images/rev/plan/icon_arrow_right_s12.png") no-repeat center; margin-left:4px; vertical-align: -1px;}

.plan_shopping_trend .col_wrap {margin-left:-12px; margin-right:-12px;}
.plan_shopping_trend .col_wrap > div {padding-left:12px; padding-right:12px; margin-bottom:20px;}
.plan_shopping_trend .col_wrap > div:nth-last-child(1),
.plan_shopping_trend .col_wrap > div:nth-last-child(2) {margin-bottom:0;}
.plan_shopping_trend .col_left {width:610px;}
.plan_shopping_trend .col_right {width:calc(100% - 610px);}

.plan_shopping_trend .goods_list a {display: flex; flex-wrap: wrap; align-items: center; letter-spacing: -.5px; text-decoration: none;}
.plan_shopping_trend .goods_list a .item_thumb{flex:0 0 auto; width:138px; display: block; border:1px solid #eee;}
.plan_shopping_trend .goods_list a .item_info{flex:0 0 auto; width:calc(100% - 138px); padding-left:12px;}
.plan_shopping_trend .goods_list a .item_info .tx_item_nm {font-size: 14px; color:#333; display: -webkit-box;text-overflow: ellipsis;word-wrap: break-word;-webkit-box-orient: vertical;-webkit-line-clamp: 2; line-height: 1.5; height:44px; overflow: hidden;}
.plan_shopping_trend .goods_list a .item_info .tx_item_price {font-size: 14px; color:#000; margin-top:10px;}
.plan_shopping_trend .goods_list a .item_info .tx_item_price em {font-size: 18px; font-weight: 500; font-family: "Roboto"; color:#000; vertical-align: -1px;}

.plan_shopping_trend_swiper {position:relative;}
.plan_shopping_trend .swiper-button {position:absolute; top:50%; margin-top:-20px; width: 40px; height:40px; box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1); opacity: 0; z-index: 10; transition:all .4s; cursor: pointer;}
.plan_shopping_trend .swiper-button-prev {left:0; background: url("//img.enuri.info/images/rev/plan/icon_swiper_btn_prev.png") no-repeat 0 0;}
.plan_shopping_trend .swiper-button-next {right:0; background: url("//img.enuri.info/images/rev/plan/icon_swiper_btn_next.png") no-repeat 0 0;}
.plan_shopping_trend:hover .swiper-button {opacity: 1;}
.plan_shopping_trend:hover .swiper-button-prev {transform: translateX(-20px);}
.plan_shopping_trend:hover .swiper-button-next {transform: translateX(20px);}

/* ---------------------------------------------------------- 
				컨텐츠 - PICK 상단 keyword영역 (index_pick.html)
---------------------------------------------------------- */
.plan_pick_keyword {margin-top:26px; }
.pick_keyword_grid {padding-bottom:39px;}
.pick_keyword_grid .tit {font-size: 22px; font-weight: bold; color:#000; line-height: 32px; letter-spacing: -.6px; margin-bottom:16px; }

.pick_keyword_grid .keyword_list {}
.pick_keyword_grid .keyword_list > ul{display: flex; flex-wrap: wrap;}
.pick_keyword_grid .keyword_list > ul > li {flex:0 0 auto; margin-right:8px;}
.pick_keyword_grid .keyword_list > ul > li > a {display: block; line-height: 33px; font-size: 14px; color:#333; padding:0 12px; border-radius: 4px; background-color: #eee; transition:all .4s; text-decoration: none;}
.pick_keyword_grid .keyword_list > ul > li > a:hover {font-weight: bold; color:#fff; background-color: #9256d6;}

.plan_pick_cont {margin-top:-1px;}
.pick_cont_grid .tit {font-size: 20px; font-weight: 500; line-height: 30px; letter-spacing: -.6px; padding-bottom:12px; margin-bottom:32px; border-bottom:1px solid #000;}
.pick_cont_grid .col_wrap {margin-left:-12px; margin-right:-12px;}
.pick_cont_grid .col_wrap > div {padding-left:12px; padding-right:12px; margin-bottom:20px;}

.pick_cont_grid .cont_list {padding-bottom:16px;}
.pick_cont_grid .cont_list a {display: block; text-decoration: none;}
.pick_cont_grid .cont_list a .item_thumb {position:relative; padding-top:100%;}
.pick_cont_grid .cont_list a .item_thumb img {width: 100%; height: 282px; object-fit: cover;}
.pick_cont_grid .cont_list a .item_thumb .label_name {display: inline-block; font-size: 13px; font-weight: 400; min-width: 76px; line-height: 28px; padding:0 8px; text-align: center; color:#fff; background-color: rgba(0, 0, 0, 0.75); position:absolute; top:0; left:0; letter-spacing: -.2px; z-index: 10;}
.pick_cont_grid .cont_list a .item_thumb img {position:absolute; top:0; left:0; width: 100%; height: 100%; object-fit: cover;}
.pick_cont_grid .cont_list a .item_info {margin-top:16px;}
.pick_cont_grid .cont_list a .item_info .tx_tit1 {font-size: 20px; height:28px; line-height: 1.4; color:#000; letter-spacing: -.4px; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; overflow: hidden;}
.pick_cont_grid .cont_list a .item_info .tx_tit2 {font-size: 20px; height:28px; line-height: 1.4; color:#000; letter-spacing: -.4px; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; overflow: hidden;}
.pick_cont_grid .cont_list a .item_info .tx_summary {line-height: 21px; color:#666; font-size: 14px; margin-top:12px; letter-spacing: -.3px;}

.pick_cont_grid .cont_hr {width:100%; height:1px; background-color: #eee; margin-bottom:36px;}
.pick_cont_grid .cont_list_swiper .slide_item {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: flex-start; text-decoration: none;}
.pick_cont_grid .cont_list_swiper .slide_item > div {flex:0 0 auto;}
.pick_cont_grid .cont_list_swiper .slide_item .item_thumb {position:relative; width: 282px;}
.pick_cont_grid .cont_list_swiper .slide_item .item_thumb .thumbnail_img {position:relative; padding-top:100%;}
.pick_cont_grid .cont_list_swiper .slide_item .item_thumb .thumbnail_img img {position:absolute; top:0; left:0; width: 100%; height: 100%; object-fit: cover;}
.pick_cont_grid .cont_list_swiper .slide_item .item_thumb .label_name {display: inline-block; font-size: 13px; font-weight: 400; min-width: 76px; line-height: 28px; padding:0 8px; text-align: center; color:#fff; background-color: rgba(0, 0, 0, 0.75); position:absolute; top:0; left:0; letter-spacing: -.2px; z-index: 10;}

.pick_cont_grid .cont_list_swiper .slide_item .item_info {width: calc(100% - 282px); padding:36px 24px 0;}
.pick_cont_grid .cont_list_swiper .slide_item .item_info .tx_tit {font-size: 22px; font-weight: 600; line-height: 30px; letter-spacing: -.6px; color:#222; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; overflow: hidden;}
.pick_cont_grid .cont_list_swiper .slide_item .item_info .tx_summary {font-size: 16px; color:#555; height:82px; line-height: 1.7; letter-spacing: -.6px; margin-top:16px; display: -webkit-box;text-overflow: ellipsis;word-wrap: break-word;-webkit-box-orient: vertical;-webkit-line-clamp: 3; overflow: hidden;}
.pick_cont_grid .cont_list_swiper .slide_item .item_info .tx_link {display: inline-block; font-size: 14px; color:#555; text-decoration: underline; margin-top:62px; line-height: 24px;}

.cont_list_swiper {position:relative;}
.cont_list_swiper .swiper-button {position:absolute; top:50%; margin-top:-20px; width: 40px; height:40px; box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1); opacity: 0; z-index: 10; transition:all .4s; cursor: pointer;}
.cont_list_swiper .swiper-button-prev {left:0; background: url("//img.enuri.info/images/rev/plan/icon_swiper_btn_prev.png") no-repeat 0 0;}
.cont_list_swiper .swiper-button-next {right:0; background: url("//img.enuri.info/images/rev/plan/icon_swiper_btn_next.png") no-repeat 0 0;}
.cont_list_swiper:hover .swiper-button {opacity: 1;}
.cont_list_swiper:hover .swiper-button-prev {transform: translateX(-20px);}
.cont_list_swiper:hover .swiper-button-next {transform: translateX(20px);}

/* ---------------------------------------------------------- 
				TO TOP 버튼
---------------------------------------------------------- */
.btn_top {position: fixed; right: 15px; bottom: 50px; width: 38px; height: 38px; line-height: 1; margin-left: 540px; border: 1px solid #c5c5c5; text-align: center; background: #fff; z-index: 150;}
.btn_top i {width: 19px; height: 14px; display: inline-block; font-size: 0; text-indent: -9999em; background: url("//img.enuri.info/images/event/2017/hitbrand/icon_arup.gif") no-repeat 50% 0;}


