
@import url(https://fonts.googleapis.com/css?family=Cardo|Open+Sans|Roboto+Condensed:300,400,700|Roboto:100,400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url("https://fast.fonts.net/lt/1.css?apiType=css&c=9b39dd82-7052-4a7d-8db1-bd5ff43ce8d6&fontids=5596129");
@font-face{
    font-family:"Times NR MT W01 Regular";
    src:url("/Fonts/5596129/b16444e1-9cd9-4379-a438-18d87b684370.eot?#iefix");
    src:url("/Fonts/5596129/b16444e1-9cd9-4379-a438-18d87b684370.eot?#iefix") format("eot"),
    url("/Fonts/5596129/6642bbc6-06d1-4a08-b268-306c41fe19e4.woff2") format("woff2"),
    url("/Fonts/5596129/abc069b6-f30d-49b9-bfda-344dfc1eb8b2.woff") format("woff"),
    url("/Fonts/5596129/6dbaa002-d812-4c71-ac5d-3726349c50f0.ttf") format("truetype");
}

/* 
이 CSS 리소스에는 Monotype 및 / 또는 해당 공급 업체의 저작권으로 보호되는 글꼴 소프트웨어에 대한 링크가 포함되어 있습니다. 
이 글꼴 소프트웨어를 복사, 설치, 재배포, 변환, 수정 또는 리버스 엔지니어링 할 수 없습니다. 
웹 글꼴에 관한 질문은 Monotype에 문의하십시오 : http://www.fonts.com
*/

html, body { 
    background: #003562;
    height: 100%;
    margin: 0;
}

body{
    overflow: hidden; 
}

/*function*/
.blockingPage{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 999999999;
}

.coverPage{
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #003562;
    z-index: 999999999;
}

#div0{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-height: 630px;
    background-image: url(../img/p00_bg.png);
    background-size: cover;
}

#div1, #div2, #div3, #div4, #div5, #div6{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    min-height: 630px;
    background-color: rgba(0,0,0,0);
}

.alignWrapper{
    position: absolute;
    width: 1024px;
    min-height: 610px;
    left: 50%;
    top: 50%;
    margin-left: -512px;
    margin-top: -305px;
}

#contentsBox_0, #contentsBox_1, #contentsBox_2, #contentsBox_3, #contentsBox_4 {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 150px;
    opacity : 0;
}

.btn_line_intro{
    display: block;
    position: absolute;
    width: 157px;
    height: 21.5%;
    left: 50%;
    margin-left: -78px;
    top: 86.5%;
    background-image: url(../img/00_line.png);
    background-repeat: repeat-y;
    z-index: 4;
}

.btn_line{
    display: block;
    position: absolute;
    width: 157px;
    height: 16.5%;
    left: 50%;
    margin-left: -78px;
    top: 91.5%;
    background-image: url(../img/00_line.png);
    background-repeat: repeat-y;
    z-index: 4;
}

#btn_dn_0{
    position: absolute;
    width: 216px;
    min-height: 109px; 
    left: 50%;
    margin-left: -108px;
    bottom: 13%;
    background:rgba(0,0,0,0);
    z-index: 4;
    cursor: pointer;
}

#btn_up_1, #btn_up_2, #btn_up_3, #btn_up_4 {
    position: absolute;
    width: 157px;
    min-height: 28px;
    left: 50%;
    margin-left: -78px;
    top: 8%; 
    background:rgba(0,0,0,0);
    z-index: 4;
    cursor: pointer;
}

#btn_dn_1, #btn_dn_2, #btn_dn_3, #btn_dn_4 {
    position: absolute;
    width: 157px;
    min-height: 28px;
    left: 50%;
    margin-left: -78px;
    bottom: 8%;
    background:rgba(0,0,0,0);
    z-index: 4;
    cursor: pointer;
}

/*tabMenu*/
.tabMenu {
    position:absolute; 
    width:800px; 
    left: 0;
    top:0;
    margin-top: 0px;
}

.tabMenu ul {
    margin:0px;
    padding:0px;
    list-style:none;
}

.tabMenu ul li a{
    width:143px;
    height: 48px;
    float:left;
    margin-right: 1px;
}

.tabMenu ul li:last-child a{
    width:144px;
}

.tabMenu .tabContents {
    display:none; 
    width:720px;
    height:252px;
    position:absolute; 
    left:0px;
    top:48px; 
    z-index: 2;
}

.tabMenu .tabContents .blinkArea{
    width:720px;
    height:252px;
    position:absolute;
    top: 0;
    left:0; 
    z-index: 1;
}

.tabMenu .tabContents .clickArea{
    width:720px;
    height:252px;
    position:absolute;
    top: 0;
    left:0; 
    z-index: 3;
}

.tabMenu .tabContents .imgArea{
    width:720px;
    height:252px;
    position:absolute;
    top: 0;
    left:0; 
    z-index: 2;
}

.tabMenu .tabContents .tabLogo{
    width:180px;
    height:126px;
    position:relative; 
    float: left;
    left:0px; 
}

.imgArea .tabLogo img{
    width:180px;
    height:126px;
    top: 0;
    left:0; 
}

.imgArea .tabLogo p{
    position: absolute;
    top: 70px;
    left: 15px;
    color: #747474;
    font-weight: 400;
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 10pt;
}

/*overlay*/
#floatMenu{
	position: absolute;
	width: 28px;
	height: 27px;
	top: 8%;
	margin-top: -14px;
	right:5%;
	z-index: 4;
}

.overlay, #shade {
    display: none;
}

#shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #000000;
}

/*overlay_floatMenu(0~6)*/
#inbox_0, #inbox_1, #inbox_2, #inbox_3, #inbox_4 {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 970px;
    margin-left: -485px;
    min-height: 228px;
    margin-top: -114px;
    z-index: 10000;
    background-color: #ffffff;
} /*id use!!! because .overlay*/

#inbox_0 .close, #inbox_1 .close, #inbox_2 .close, #inbox_3 .close, #inbox_4 .close {   
    position: absolute;
    display: block;
    cursor: pointer; 
    top: 38px;
    right: 65px;
    width: 35px;
    min-height: 34px;
    z-index: 10000;
} 

.btnBack{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 738px;
    min-height: 228px;
    background: #9a8349;
    z-index: -2;
}

.jumpBtn_0 {
    position: absolute;
    top: 0;
    right: 27px;
    width: 75px;
    min-height: 27px;
    cursor: pointer; 
}

#inbox.jumpBtn_0 img{ /*#inbox <---------for inbox jumpBtn*/
    position: absolute;
    top: 39px;
    left: -73px;
    width: 75px;
    min-height: 27px;
    cursor: pointer; 
}

.jumpBtn_1:hover, .jumpBtn_2:hover, .jumpBtn_3:hover, .jumpBtn_4:hover, .jumpBtn_5:hover  {
    opacity: 1;
}

.jumpBtnCol_1 span, .jumpBtnCol_2 span{
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 233px;
    min-height: 69px;
    cursor: pointer; 
    z-index: 10001;
    opacity: 1 !important;
}
.jumpBtn_4 img, .jumpBtn_6 img{
    width:233px !important;
}

.jumpBtnCol_1{
    position: absolute;
    top: 6px;
    left: 53px;
    width: 233px;
    min-height: 207px;
    cursor: pointer; 
    z-index: 10001;
}

.jumpBtnCol_2{
    position: absolute;
    top: 6px;
    left: 390px;
    width: 274px;
    min-height: 207px;
    cursor: pointer; 
    z-index: 10001;
}

.jumpBtn_5 {
    position: relative;
    top: 0;
    left: 0;
    width: 274px;
    min-height: 69px;
    cursor: pointer; 
    z-index: 10001;
    opacity: 0.4;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

.jumpBtn_1, .jumpBtn_2, .jumpBtn_3, .jumpBtn_4, .jumpBtn_5 {
    position: relative;
    top: 0;
    left: 0;
    width: 233px;
    min-height: 69px;
    cursor: pointer; 
    z-index: 10001;
    opacity: 0.4;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

#launch_0 , #launch_1 , #launch_2 , #launch_3 , #launch_4 { 
    position: absolute;
    display: block;
    cursor: pointer;
    top: 50%;
    left: 50%;
    width: 35px;
    height: 34px;
    margin-top: -14px;
    margin-left: -13px;
}

/*overlay_contentsBox_3(5~) <-----OurTeam*/
#inbox_5{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 722px;
    min-height: 395px;
    margin-left: -361px;  
    margin-top: -174px;
    z-index: 10000;
    background-color: #ffffff;
} /*small*/

#contentsBox_3 .close {  
    position: absolute;
    display: block;
    cursor: pointer; 
    top: 0px;
    right: -65px;
    width: 65px;
    min-height: 65px;
    z-index: 10000;
} /*team popup close*/

.launchColumn p, .launchColumn_2 p, .launchColumn_3 p{
    width: 140px;
    position: absolute;
    cursor: pointer;
    font-weight: 500;
    top: -2px;
    left: 12px;
    margin-top: 0;
    margin-bottom: 0;
    color: #000000;
    opacity: 0.47;
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 10.3pt;
    letter-spacing: -0.6px;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

.launchColumn p:hover, .launchColumn_2 p:hover, .launchColumn_3 p:hover{
    opacity: 0.9;
}

.launchColumn p:active, .launchColumn_2 p:active, .launchColumn_3 p:active{
    opacity: 0.5;
}


.launchColumn{
    position: absolute;
    display: block;
    cursor: pointer;
    top: 150px;
    left: 92px;
    width: 120px;
    height: 120px;
    margin-left: -62px;
}

.launchColumn_2{
    position: absolute;
    display: block;
    cursor: pointer;
    top: 150px;
    left: 245px;
    width: 120px;
    height: 120px;
    margin-left: -62px;
}

.launchColumn_3{
	position: absolute;
	display: block;
    cursor: pointer;
	top: 150px;
	left: 398px;
	width: 150px;
	height: 120px;
	margin-left: -62px;
}

#launch_5 { 
    position: relative;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 7px;
    height: 16px;
    margin-bottom: 17px;
}


/*launch ->inbox "tabMenu"*/
#inbox_21, #inbox_22, #inbox_23, #inbox_24,
#inbox_25, #inbox_26, #inbox_27, #inbox_28, #inbox_29, #inbox_30, #inbox_31, #inbox_32, #inbox_33, #inbox_34, #inbox_35, #inbox_37, #inbox_38, #inbox_39, #inbox_40, #inbox_41, #inbox_42, #inbox_43, #inbox_44, #inbox_45, #inbox_46 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 722px;
    min-height: 396px;
    margin-left: -361px;  
    margin-top: -246px;
    z-index: 5;
    background-color: #ffffff;
}

#contentsBox_5 .close {  
    position: absolute;
    display: block;
    cursor: pointer; 
    top: 0px;
    right: -65px;
    width: 65px;
    min-height: 65px;
    z-index: 5;
}

#launch_21 ,#launch_22 ,#launch_23 ,#launch_24 ,
#launch_25 ,#launch_26 ,#launch_27 ,#launch_28 ,#launch_29 ,#launch_30, #launch_31, #launch_32, #launch_33, #launch_34, #launch_35, #launch_37, #launch_38, #launch_39, #launch_40, #launch_41, #launch_42, #launch_43, #launch_44, #launch_45, #launch_46 {
    width:180px;
    height:126px;
    position:relative; 
    float: left;
    left:0px; 
    background-color: #ffffff;
    opacity: 0;
    cursor: pointer;
    transition: opacity .20s ease-in-out;
    -moz-transition: opacity .20s ease-in-out;
    -webkit-transition: opacity .20s ease-in-out;
}

#blink_1 ,#blink_2 ,#blink_3 ,#blink_4 ,#blink_5 ,
#blink_6 ,#blink_7 ,#blink_8 ,#blink_9 ,#blink_10 ,#blink_11, #blink_12, #blink_13, #blink_14, #blink_15, #blink_16, #blink_17, #blink_18, #blink_19, #blink_20, #blink_21, #blink_22, #blink_23, #blink_24, #blink_25, #blink_26, #blink_27 {
    width:180px;
    height:126px;
    position:relative; 
    float: left;
    left:0px; 
    background-color: #ffffff;
    opacity: 0;
    cursor: pointer;
}

/*decoration*/
img{
    width: 100%;
    height: auto;
    top: 0; 
    left: 0;
    outline: none;
    border:0;
    select-dummy:expression(this.hideFocus=true);
}

a {
    outline: none;
    border:0;
    select-dummy:expression(this.hideFocus=true);
}

.copyright{
    position: absolute;
    bottom: 30px;
    right: 49px;
    width: 126px;
    height: 21px;
}

.menuLine img{
    position: absolute;
    top: 0;
    left: 0;
    width: 853px;
    height: 228px;
    z-index: -1;
}

.eng{
    position: absolute;
    top: 111px;
    right: 129px;
    width: 31px;
    height: 14px;
    opacity: 0.4;
}

.kor{
    position: absolute;
    top: 111px;
    right: 74px;
    width: 31px;
    height: 14px;
    opacity: 1;
    cursor: pointer;
}

#contentsBox_0 .innerContents_00 {
    position: absolute;
    top: 50%;
    left: 50%;  
    width: 527px;
    height: 144px;
    margin-top: -72px;
    margin-left: -263px;
}

/*common 3 page ------------------*/
.headPageText{
    position: absolute;
    top: 85px; 
    left: 50%;
    width: 248px;
    margin-left: -124px;
    height: 91px;
}

.bodyPageText {
    top: 0px;
    left: 0px;
    width: 512px;
    height: auto;
    margin-top: 263px;
    margin-left: 35px;
}

#contentsBox_1 .bodyPageText p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 80px;
    color: #505050;
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 9.7pt;
    letter-spacing: -0.1pt;
    font-weight: 300;
    line-height: 16pt;
    word-break: keep-all;
}

#contentsBox_2 .bodyPageText p{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 93px;
    color: #505050;
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 9.7pt;
    letter-spacing: -0.1pt;
    font-weight: 300;
    line-height: 16pt;
    word-break: keep-all;
}

#contentsBox_2 .bodyPageText span{
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 8pt;
    letter-spacing: -0.5pt;
    line-height: 15pt;
}

.subPageText, .subPageText_2 {
    top: 0px;
    left: 0px;
    width: 512px;
    height: auto;
    margin-top: 92px;
}

.subPageText p{   
    text-align: center;
    color: #dfd1ad;
    font-size: 14pt;
    letter-spacing: 0px;
    line-height: 4.3pt;
}

.subPageText_2 p{   
    text-align: center;
    color: #d9e5ef;
    font-size: 14pt;
    letter-spacing: 0px;
    line-height: 4.7pt;
    opacity: 0.8;
}

.subPageText_3 {
    top: 0px;
    left: 0px;
    width: 512px;
    height: auto;
    margin-top: 86px;
}

.subPageText_3 p{
    text-align: center;
    color: #f7f7f7;
    font-size: 14pt;
    letter-spacing: 0px;
    line-height: 4.3pt;  
}

.subPageText ,.subPageText_2, .subPageText_3{
    font-family: "Times NR MT W01 Regular",'Times New Roman', Times, sans-serif;
}

.slideBox{
    position: absolute;
    display: none;
    bottom: 0;
    z-index: 2;  
}

.slideBoxWrap{
    position: relative;
    top: 610px;
    left: 512px;
}

.slideBox_2{
    position: absolute;
    left: 512px;
    width: 512px;
    height: 610px;
}


/*1 page ------------------*/
#contentsBox_1 .innerContents_01{
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 512px;
    height: 610px;
    background-color: #ffffff;
}

#contentsBox_1 .innerContents_03{
    position: absolute;
    top: 365px;
    left: 512px;
    width: 512px;
    height: 245px;
    z-index: 3;
}


#contentsBox_1 .slideBox{
    width : 512px;
    height : 245px;
    background-color: #9a8349;
}

/*2 page ------------------*/
#contentsBox_2 .innerContents_01{
    position: absolute;
    top: 0px; 
    left: 0px;
    width: 512px;
    height: 610px;
    background-color: #ffffff;
}

#contentsBox_2 .innerContents_03{
    position: absolute;
    top: 0px;
    left: 512px;
    width: 512px;
    height: 610px;
    z-index: 1;
}

#contentsBox_2 .slideBox{
    width: 512px;
    height: 365px;
    z-index: 3;
    background-color: #9a8349;
}

#contentsBox_2 .noslideBox{
    position: absolute;
    top: 0px;
    left: 512px;
    width: 512px;
    height: 610px;
    background-color: #023e70;
}

/*-----------------our team popup--------------------*/

#contentsBox_3 .headPopText_y{    
	margin-top: 57px;
    margin-left: 45px;
    color: #a2a2a2;
    font-family: 'Noto Sans KR', Sans-serif;
    font-weight: 500;
    font-size: 24pt;
    letter-spacing: -2pt;
    line-height: 38.59pt;
}


#contentsBox_3 .headPopText_b{
    margin-top: 57px;
    margin-left: 45px;
    color: #185d98;
    font-family: 'Noto Sans KR', Sans-serif;
    font-weight: 500;
    font-size: 24pt;
    letter-spacing: -2pt;
    line-height: 38.59pt;
}

#contentsBox_3 .headPopText_g{
    margin-top: 57px;
    margin-left: 45px;
    color: #a2a2a2;
    font-family: 'Noto Sans KR', Sans-serif;
    font-weight: 500;
    font-size: 24pt;
    letter-spacing: -2pt;
    line-height: 38.59pt;
}

#contentsBox_3 .subPopText_y{
    top: 36px;
    position: absolute;
    margin-top: 0;
    margin-left: 47px;
    color: #a2a2a2;
    font-family: 'Noto Sans KR', Sans-serif;
    font-weight: 400;
    font-size: 10pt;
    letter-spacing: -0.7pt;
    line-height: 26pt;
    opacity: 0.7;
}

#contentsBox_3 .subPopText_b{
    top: 36px;
    position: absolute;
    margin-top: 0;
    margin-left: 47px;
    color: #185d98;
    font-family: 'Noto Sans KR', Sans-serif;
    font-weight: 400;
    font-size: 10pt;
    letter-spacing: -0.7pt;
    line-height: 26pt;
    opacity: 0.7;
}

#contentsBox_3 .subPopText_g{
    top: 36px;
    position: absolute;
    margin-top: 0;
    margin-left: 47px;
    color: #a2a2a2;
    font-family: 'Noto Sans KR', Sans-serif;
    font-weight: 400;
    font-size: 10pt;
    letter-spacing: -0.7pt;
    line-height: 26pt;
    opacity: 0.7;
}

#contentsBox_3 .bodyPopText{
    margin-top: 53px;
}

#contentsBox_3 .bodyPopText p{
    margin-top: 21px;
    margin-right: 70px;
    margin-left: 48px;
    color: #505050;
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 9.7pt;
    letter-spacing: 0pt;
    font-weight: 300;
    line-height: 15.3pt;
    word-break: keep-all;
}
#contentsBox_3 .innerContents_03{
	position: absolute;
    top: 90px; 
    left: 50%;
    margin-left: -124px;
    width: 248px;
    height: 91px;
}

/* Col3 */
#contentsBox_3 .innerContents_04{
	position: absolute;
    top: 226px; 
    left: 199px;
    margin-left: -124px;
    width: 874px;
    height: 300px;
}

.verticalLine_1{
    position: absolute;
    top: 65px;
    left: 180px;
    width: 1px;
    height: 99px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

.verticalLine_2{
    position: absolute;
    top: 65px;
    left: 360px;
    width: 1px;
    height: 99px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

.verticalLine_3{
    position: absolute;
    top: 65px;
    left: 540px;
    width: 1px;
    height: 99px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

.verticalLine_4{
    position: absolute;
    top: 183px;
    left: 180px;
    width: 1px;
    height: 99px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

.verticalLine_5{
    position: absolute;
    top: 183px;
    left: 360px;
    width: 1px;
    height: 99px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

.verticalLine_6{
    position: absolute;
    top: 183px;
    left: 540px;
    width: 1px;
    height: 99px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

.horiLine{
    position: absolute;
    top: 174px;
    left: 0px;
    width: 720px;
    height: 1px;
    background-color: #5a5a5a;
    opacity: 0.1;
    z-index: 3;
}

#contentsBox_5 .innerContents_02 .backColor{
    position: absolute;
    top: 48px;
    left: 50%;
    margin-left: -360px;
    width: 720px;
    height: 252px;
    z-index: 1; 
    background-color: #f2f5f7;
}

#contentsBox_4 .innerContents_01{
    position: absolute;
    top: 0px; 
    left: 50%;
    margin-left: -124px;
    width: 248px;
    height: 91px;
    z-index: 2; 
}

#contentsBox_4 .innerContents_02{
    position: absolute;
    top: 136px;
    left: 0;
    width: 1024px;
    height: 474px;
    z-index: 1;
}

#contentsBox_4 .innerContents_03{
    position: absolute;
    top: 207px;
    right: 52px;
    width: 245px;
    height: 320px;
    z-index: 3;
}

.innerContents_03 .contactPopHead{  
    color: #ffffff;
    font-family: 'Roboto', Sans-serif;
    font-weight: bold;
    font-size: 9pt;
    letter-spacing: 0.1pt;
    line-height: 14pt;
    text-align: left;
    z-index: 4;
}

.contactPopHead #headLoc{
    position: absolute;
    top: 51px;
    left: 22px;
}

.contactPopHead #headCon{
    position: absolute;
    top: 143px;
    left: 22px;
}

.contactPopHead #headTel{
    position: absolute;
    top: 196px;
    left: 22px;
}

.innerContents_03 .contactPopText{
    width: 200px;
    position: absolute;
    color: #ffffff;
    font-family: 'Roboto', Sans-serif;
    font-weight: 500;
    font-size: 9.4pt;
    letter-spacing: -0.1pt;
    line-height: 14pt;
    text-align: left;
    z-index: 4;
}

.contactPopText #textLoc{
    font-family: 'Noto Sans KR', Sans-serif;
    font-size: 9pt;
    line-height: 14pt;
    font-weight: 400;
    letter-spacing: 0.3px;
    position: absolute;
    opacity: 0.9;
    top: 69px;
    left: 22px;
}

.contactPopText #textCon{
    letter-spacing: 0.4pt;
    position: absolute;
    opacity: 0.9;
    color: #ffffff;
    top: 161px;
    left: 22px;
}

.contactPopText #textCon:hover{
    opacity: 1;
}

.contactPopText #textTel{
    position: absolute;
    opacity: 0.9;
    top: 196px;
    left: 59px;
}

.innerContents_03 #google{
    position: absolute;
    top: 272px;
    left: 0px;
    width: 245px;
    height: 49px;
    z-index: 4;
    cursor: pointer;
}

.innerContents_03 #popBack{
    width: 245px;
    height: 320px;
    z-index: 3;
}

/*++++++++++++++ basic css for animation(position must move with "TOP") +++++++++++++++++*/
.innerContents_00 .innerContents_01 .innerContents_02 .innerContents_03 .innerContents_04{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 1024px;
    height: 610px;
    background-color: rgba(0,0,0,0);
}