@charset "utf-8";

@import url("default.css");

.admin_wrap{min-width:1000px; width:1000px;  margin:0 auto;  color:#48494f; position:relative;}

/*로그인*/
.admin_wrap h1{height:73px; border-bottom:2px solid #2d2d35; width:100%; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/ci.gif) 19px 18px no-repeat; text-indent:-9999em; position:relative; }
.admin_wrap h1 a{position:absolute; left:0; top:0; width:335px; height:73px;}
.mainvisual{background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/mainvisual.jpg) 0 0 no-repeat; text-indent:-9999em; height:370px; margin:100px 0 48px 0; }
.admin_wrap h2{background:#48aef0; text-align:center; width:100%; height:43px; padding-top:5px; color:#ffffff; font-size:26px; font-weight:normal;}
.login{height:196px; border:1px solid #ababab; border-top:none;}
.login fieldset{width:428px; margin:0 auto; padding-top:40px;}
.inputbox input, .inputbox button{vertical-align:middle; font-size:14px; }
.inputbox div{height:40px;}
.inputbox input.input_text{border:1px solid #c9cbd6; height:19px; width:216px; padding:5px 9px 9px 9px; margin-right:6px;}
.inputbox input.focus {border:2px solid #2d2d35; height:17px; width:214px;padding:5px 9px 9px 9px; margin-right:6px;}
.inputbox input.input_text .focusnot{border:1px solid #c9cbd6; height:19px; width:216px; padding:5px 9px 9px 9px; margin-right:6px;}
.inputbox label{width:78px; display:inline-block; font-size:14px; color:#48494f; font-weight:bold; }
.inputbox .idsave_txt{font-size:12px; }
.inputbox .btn_login{background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/btn_login.gif) 0 0 no-repeat; width:81px; height:35px; border:none; text-indent:-9999em; cursor:pointer;  }
.inputbox .btn_login{.margin-left:4px;}
.inputbox .join{float:left; margin-left:76px; border-top:dashed 1px #c9cbd6; width:240px; padding-top:5px;margin-top:5px;}
.inputbox .join li{float:left; padding:0 8px; font-weight:bold; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/login_line.gif) 0 5px no-repeat; }
.inputbox .join li:first-child{background:none;}
.inputbox .join li:first-child a{color:#48aef0; }
.admin_wrap .myinfo{position:absolute; right:0; top:28px; font-size:14px; color:#48494f; text-align:right; padding-right:80px;}
.admin_wrap .myinfo .date{display:block; font-size:12px; }
.admin_wrap .myinfo .mybtn{border:1px solid #c9cbd6; background:#ffffff; font-size:12px; padding:1px 5px; margin-left:10px; display:inline-block; vertical-align:middle; margin-top:1px; position:absolute; right:0; top:15px;}

.content{width:998px; border:1px solid #d2d2d3; }
.content:after{content:"";display:block;clear:both;}


/*lnb*/
.content .lnb{float:left; width:180px; padding:36px 0 0 15px;}
.content .lnb h3{height:39px; border-bottom:2px solid #0990d6; color:#48494f; padding-top:30px; font-size:22px; }
.content .lnb ul li{border-top:1px solid #d2d2d3}
.content .lnb ul li a{font-size:18px; color:#48494f; font-weight:bold; letter-spacing:-1px; padding:10px 0 15px 0; display:block; }
.content .lnb ul li a.on{color:#3776bf; }
.content .lnb ul li:first-child{border-top:none;}
.content .lnb ul li a img{vertical-align:top; margin:3px 5px 0 0;}
.content .lnb ul li ul{padding:5px; border-top:1px solid #d2d2d3}
.content .lnb ul li ul li{border:none}
.content .lnb ul li ul li a{padding:5px 0 10px 20px; font-size:14px; }
.content .lnb ul li ul li a:hover, .content .lnb ul li ul li a.on{color:#0990d6}
.content .lnb ul li ul li a em{font-size:10px; vertical-align:2px}

/*right*/
.content .right{float:right; border-left:1px solid #d2d2d3; width:788px; min-height:300px; padding-bottom:50px; position:relative; }
.main_tit{background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/bg_main.gif) center 35px no-repeat; padding:90px 0 0 193px; height:90px; font-size:16px; line-height:20px; }
.ad_list{width:393px; margin:0 auto; }
.ad_list h3{text-align:center; font-size:16px; padding:40px 0 10px 0;}
.ad_list .main_info{border:1px solid #77787b; width:391px;border-right:none; border-bottom:none}
.ad_list .main_info th, .ad_list .main_info td{border-right:1px solid #77787b; border-bottom:1px solid #77787b;}
.ad_list .main_info th{background:#def2ff; padding:0 0 3px 0; font-size:14px;}
.ad_list .main_info td{padding:7px 0; text-align:Center;}
.ad_list .main_info td a{color:#48aef0; text-decoration:underline; }


/*게시판 리스트*/
.info_layout{width:700px; margin:0 auto; padding-top:45px;}
.info_layout .search{text-align:right; padding-bottom:5px; }
.info_layout .search input,select{vertical-align:middle; }
.info_layout .search input.search_input{border:1px solid #cccccc; width:217px; padding:2px 10px; color:#9b9b9b }
.info_layout .search input.search_input{padding:3px 10px 2px 10px\9;}
.info_layout .search select{color:#777777; }

.list{width:700px; }
.list th{background:#0990d6; color:#ffffff; font-size:12px; height:30px;}
.list td{text-align:center; padding:18px 0; font-family:dotum; }
.list td.a_left{text-align:left;}
.back{color:#ff0300; }
.blue{color:#0a90d7; }

.list tr.notice td{color:#333333; font-weight:bold; }
.list tr.notice td a{color:#333333;}
.list  td .link{color:#0a90d7; text-decoration:underline;}


/*광고등록*/
.info_layout h4{font-size:14px; padding-bottom:6px; position:relative}
.info_layout h4 em{font-size:11px;}
.info_layout h4 .down{display:block;  position:absolute; right:0; top:2px; font-size:12px; font-weight:normal; padding-right:23px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/ico_html.gif) bottom right no-repeat; }
.register_info{width:700px; border-bottom:1px solid #d2d2d3; border-right:1px solid #d2d2d3;}
.register_info td,
.register_info th{border-top:1px solid #d2d2d3; border-left:1px solid #d2d2d3; font-size:14px; padding:5px 0 7px 15px;}
.register_info th{background:#ebf7ff; font-weight:normal; padding:5px 0 7px 0px;}

.history{width:700px; font-size:14px; }
.history th{background:#ebf7ff; border:1px solid #d2d2d3; padding:5px 0 7px 0;}
.history td.num{background:#ebf7ff; text-align:center;  padding-left:0;}
.history td{border:1px solid #d2d2d3; border-top:none; padding:5px 0 7px 15px;}
.history td.c{text-align:center; padding-left:0;}

/*페이징*/
.paging {margin-top:10px; text-align:center; }
.paging strong,
.paging a {display:inline-block; width:20px; height:20px; padding:3px 0 0 4px; font-size:13px; color:#999999; text-align:center; text-decoration:none; line-height:15px; vertical-align:middle; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/paging_line.gif) 0 9px no-repeat;}
.paging strong {color:#519cba;}
.paging a.prev,
.paging a.next {width:auto; height:auto; background:none; padding:0;}
.paging a.prev{margin-right:-4px;}



/*버튼*/
.btn_r{width:100%; position:relative; text-align:right; padding-bottom:30px;}
.btn_r a{margin-left:15px;}
.btn_r .btn_ad{position:absolute; right:0; top:-22px; width:80px; padding-top:5px; height:25px; background:#48aef0; color:#ffffff; display:block; text-align:center; font-size:14px;}
.btn_r .nopage{top:0 !important; }
.type01{display:inline-block; border:1px solid #48aef0; text-align:center; padding-top:3px; height:26px; width:78px; color:#48aef0; font-size:14px;font-weight:bold; margin-top:10px; letter-spacing:-1px;}
.type02{display:inline-block; border:1px solid #48aef0; background:#48aef0; text-align:center; padding-top:3px; height:26px; width:78px; color:#ffffff; font-size:14px;font-weight:bold; margin-top:10px; letter-spacing:-1px;}
.type03{display:inline-block; text-align:center; padding-top:3px; height:26px; width:78px; color:#ff0000; font-size:14px;font-weight:bold; margin-top:10px; border:1px solid #ff0000; letter-spacing:-1px;}
.btn_c{width:100%; text-align:center; padding:10px 0 30px 0;}
.btn_c a{margin:0 9px;}
.b_prev{padding-left:20px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/ico_bullet.gif) 0 4px no-repeat; }
.b_next{padding-right:20px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/ico_bullet.gif) right -83px no-repeat; }
.disable{color:#acacac; border:1px solid #acacac; cursor:default;}
.disable .b_prev{padding-left:20px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/ico_bullet2.gif) 0 4px no-repeat; }
.disable .b_next{padding-right:20px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/ico_bullet2.gif) right -83px no-repeat; }

/*광고등록*/
.register_info input{border:1px solid #c9cbd6; padding:3px 7px; color:#ababab; margin-right:5px; vertical-align:middle; }
.register_info textarea{border:1px solid #c9cbd6; padding:3px 7px; color:#ababab; margin-right:5px; vertical-align:middle; }
.register_info .a_center{text-align:center; padding-left:0; font-weight:bold;}
.register_info td select{font-size:14px; width:120px;}

.register_info input.input01{width:320px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/input_txt.gif) 0 0 no-repeat;}
.register_info input.input02{background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/input_txt.gif) 0 -29px no-repeat; width:550px;}
.register_info input.input03{background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/input_txt.gif) 0 -58px no-repeat; width:68px; }
.register_info .input04{background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/input_txt.gif) 0 -87px no-repeat;  width:546px; height:260px; }

.register_info input.input05{background-position:0 -448px; width:421px; }
.register_info .input06{background-position:0 -478px; width:546px; height:400px; }

.register_info input.focus01{background:none; width:320px; }
.register_info input.focus02{background:none; width:550px; }
.register_info input.focus03{background:none; width:68px; }
.register_info .focus04{background:none; width:546px; height:260px; }

.file_add_layout{position:relative; width:340px;}
.file_text {float:left; width:220px; height:16px; border:1px solid #eee; color:#ababab !important; font-size:12px; }
.file_wrap {display:inline-block; width:97px; height:24px;  background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/btn_find.gif) 0 0 no-repeat; position: absolute; top:0; right:0;}
.file_add {filter:alpha(opacity:0); opacity:0; width:97px; height:24px; cursor:pointer }

.register_info .day{font-size:12px;}
.register_info .day span{padding:0 15px;}
.register_info .file_name{color:#84868f; font-size:13px; padding:0 0 5px 8px;}
.register_info .file_name img{vertical-align:middle; padding-left:5px;}
.register_info .file_name02{color:#84868f; font-size:13px; }
.register_info .file_name02 img{vertical-align:middle; padding-left:10px;}
.register_info .txtarea{padding-right:15px; line-height:30px; min-height:400px;}
.register_info .view_reple{font-size:14px; color:#48494f}

/*footer*/
#footer {width:1000px;height:108px;margin-right:136px;}
#footer {width:1000px;margin:0 auto;}
#footer .footInner {position:relative;padding:25px 0 30px 146px;font:11px/1.6 '돋움', Dotum;letter-spacing:-1px;}
#footer .footInner .footLogo {position:absolute;top:20px;left:24px;}
#footer .footInner .enuriDec {color:#0387b8; font-size:12px;}
#footer .footInner address {float:left;margin:0 4px 0 0;color:#878787; font-style:normal}
#footer .footInner .enuriInfo {color:#878787;}
#footer .footInner .enuriInfo span {color:#878787;margin:0 0 0 3px;padding:0 0 0 7px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_foot_bar.gif) no-repeat 0 1px;}
#footer .footInner .enuriInfo img {vertical-align:middle;}
#footer .footInner .copyright {margin:8px 0 0;color:#676767;}


/* 레이어 */
.layer{border:1px solid #b6b6b6; width:424px; background:#ffffff; position:absolute; z-index:100; left:180px; top:200px;}
.layer h2{height:40px; padding:0; border-bottom:2px solid #0072cd; position:relative; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/img_layer.gif) no-repeat 0px 0px #48aef0; text-indent:-9999em;}
.layer h2 a{position:absolute; right:5px; top:3px;width:34px; height:34px; background:url(http://imgenuri.enuri.gscdn.com/images/brand_part/img_layer.gif) no-repeat 0 -66px; }
.layer .layer_box{width:380px; margin:0 auto; min-height:206px; padding-bottom:18px;}
.layer .layer_box h3{padding:10px 0 10px 0; color:#444444; font-size:18px; }
.layer .layer_box .layer_msg{background:#fafdff; border:1px solid #cccccc; width:358px; height:160px; font-size:14px; background:#fafdff; overflow:auto; letter-spacing:-1px; padding:10px; }
.layer_btn{width:100%; text-align:center; padding-top:20px;}
.layer_btn img{margin:0 6px;}
.layer .layer_box textarea{border:1px solid #cccccc; width:358px; height:162px; font-size:14px; color:#929292; padding:10px;}
.layer .layer_box .click_view{width:100%; color:#444444; }
.layer .layer_box .click_view th{background:#def2ff; height:32px; font-size:14px; border:1px solid #77787b; font-weight:normal; }
.layer .layer_box .click_view td{height:32px; font-size:12px; text-align:center; border:1px solid #77787b; }
.layer_box ul{padding:0 0 12px 10px;}
.layer_box li{font-size:14px; line-height:19px;}
.layer_box li em{color:#0182ea; padding-left:4px;}