@charset "utf-8";
#wrap {}
#header {padding:10px 0; background:#234978;}
#header .area {width:1180px; margin:0 auto; zoom:1;}
#header .area:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
#header .area h1 {}
#header .area .main_nav {margin:16px 0 0 0; zoom:1;}
#header .area .main_nav:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
#header .area .main_nav li {float:left; height:17px; padding:0 10px; border-right:1px solid #8da6c2; line-height:1;}
#header .area .main_nav li.first {padding:0 10px 0 0;}
#header .area .main_nav li.last {border-right:0 none;}
#header .area .main_nav li a {display:inline-block; font-size:13px; color:#fff;}
#header .area .main_nav li.on a {font-weight:bold;}
#container {width:1180px; margin:20px auto; zoom:1;}
#container:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
#container #left_nav {float:left; margin-right:20px; width:170px;}
#container #left_nav h3 {padding-bottom:10px; font-size:20px; border-bottom:3px solid #8da6c2;}
#container #left_nav .tree_area {margin-top:20px;}
#container #content {float:left; width:985px;}
#container #content .cont_tab_area {margin:11px 0; height:20px;}
#container #content .cont_tab_area ul {border-bottom:1px solid #8da6c2; zoom:1;}
#container #content .cont_tab_area ul:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
#container #content .cont_tab_area ul li {float:left; padding:5px 10px; border:1px solid #ddd; border-right:0 none; border-bottom:0 none; background:#fff;}
#container #content .cont_tab_area ul li.on {background:#8da6c2;}
#container #content .cont_tab_area ul li.on a {color:#fff;}
#container #content .cont_tab_area ul li.last {border-right:1px solid #ddd;}
#container #content .cont_tab_area ul li a.btn_tab_close {position:relative; top:2px;}


h3.section_tit {margin-bottom:10px; color:#050505; font-size:15px; font-weight:bold; padding-left:13px; background:url('../images/common/bg_section_title.gif') no-repeat 0 7px;}
p.view_content {line-height:20px;}

/* table_list_type A */
table.list_type_a {table-layout:fixed; width:100%; border-top:2px solid #8c8c8c; background:url('../images/common/bg_table01_list_th.gif') repeat-x 0 2px; border-collapse:collapse; font-size:12px;}
table.list_type_a.long_bg {background:url('../images/common/bg_table01_list_th_long.gif') repeat-x 0 2px;}
table.list_type_a.long_bg2 {background:url('../images/common/bg_table01_list_th_long2.gif') repeat-x 0 2px;}
table.list_type_a th {padding:9px 0; border-bottom:1px solid #ababab; background:url('../images/common/bg_table01_list_bar.gif') no-repeat right 0; text-align:center;}
table.list_type_a th.last {background:none;}
table.list_type_a tbody th.th_year {font-weight:bold; background:#f7f7f7; border-bottom:1px solid #cdcdcd;}
table.list_type_a tbody tr.checked th.th_year {background:#dbf1ff;}
table.list_type_a tbody tr.depth td.subject {padding-left:15px; background:#fff url('../images/ico_reply_arrow.png') no-repeat 3px 9px;}
table.list_type_a tbody tr.depth:hover td.subject {background:#f7f7fa url('../images/ico_reply_arrow.png') no-repeat 3px 9px;}
table.list_type_a tbody tr:hover th.th_year {background:#dbf1ff;}
table.list_type_a td {padding:7px 0; text-align:center; border-bottom:1px solid #cdcdcd;}
table.list_type_a tr:hover td {background:#f7f7fa;}
table.list_type_a td.al_left {text-align:left; padding-left:5px;}
table.list_type_a td.al_right {text-align:right; padding-right:5px;}
table.list_type_a td img {margin-left:4px; vertical-align:middle;}
table.list_type_a td a.btn_calendar {position:relative; top:-1px; margin-left:1px}
table.list_type_a td a.btn_calendar img {margin-left:0;}

table.process_stat_table {table-layout:fixed; width:100%; border-top:2px solid #8c8c8c; background:#fff; border-collapse:collapse; }
table.process_stat_table th {border-bottom:1px solid #acabb0; padding:7px 0;}
table.process_stat_table td {border-bottom:1px solid #acabb0; padding:7px 0; text-align:center;}
table.process_stat_table tr.new td.work_number {background:#517fa4; font-weight:bold; color:#fff; font-size:15px;}
table.process_stat_table td.work_number {background:#efefef; font-size:15px;}
table.process_stat_table td.subject {text-align:left; padding-left:7px;}

/* table_view_type A */
table.view_type_a {table-layout:fixed; width:100%; border-top:2px solid #8c8c8c; border-collapse:collapse;}
table.view_type_a th {padding:7px 3px 7px 0; border-bottom:1px solid #cdcdcd; border-right:1px solid #cdccd1; background:#f1f1f1; text-align:center; font-size:12px;}
table.view_type_a th.border_left {border-left:1px solid #cdccd1;}
table.view_type_a th.last {border-bottom:1px solid #acabb0;}
table.view_type_a td.al_right {text-align:right; padding-right:15px;}
table.view_type_a td {padding:5px 8px; border-bottom:1px solid #cdcdcd; vertical-align:middle;}
table.view_type_a td.border_left {border-left:1px solid #cdcdcd;}
table.view_type_a td.last {border-bottom:1px solid #acabb0;}
table.view_type_a td.border_right {border-right:1px solid #cdcdcd;}
table.view_type_a td span.exam {margin-left:10px; color:#797979; font-size:11px;}
table.view_type_a td span.help {margin-left:6px; color:#5e5e5e;}
table.view_type_a td img {margin-left:4px; vertical-align:middle;}	
table.view_type_a td a img {margin-left:0; position:relative; top:-1px; vertical-align:middle;}
table.view_type_a td a.btn_calendar {position:relative; top:-1px; margin-left:1px;}
table.view_type_a td a.btn_search {position:relative; top:0; margin-left:3px;}
table.view_type_a.hover tr:hover {background:#dbf1ff;}

/* inner_table */
table.inner_table {width:100%; table-layout:fixed;}
table.inner_table th {background:#f8f8f8;}
table.inner_table th.last {border-bottom:0 none;}
table.inner_table td {line-height:20px;}
table.inner_table td a {color:#0056bb;}
table.inner_table td.last {border-bottom:0 none;}

/* content view reply */
.reply_area {padding:10px 20px; background:#f9f9f9;}
.reply_area ul {}
.reply_area ul li.first {margin-top:0;}
.reply_area ul li {margin-top:10px; border-bottom:1px dotted #ddd;}
.reply_area ul li.last {border-bottom:0 none;}
.reply_area ul li.depth {padding-left:17px; background:url('../images/ico_reply.gif') no-repeat 3px 2px;}
.reply_area ul li div strong {position:relative; top:-1px; display:inline-block; margin-right:7px;}
.reply_area ul li div span.date{display:inline-block; margin-right:7px; color:#b0b0b0; position:relative; top:0;}
.reply_area ul li div a.btn_reply {display:inline-block; position:relative; top:-1px; padding-left:10px; background:url('../images/ico_reply_arrow.png') no-repeat 0 2px;}
.reply_area ul li div a.btn_reply:hover {text-decoration:underline;}
.reply_area ul li p.comment {padding:10px 0;}
.reply_area ul li p span.name {display:inline-block; margin-right:5px; color:#b3b3b3; font-weight:bold;}
.reply_area ul li.write {position:relative;}
.reply_area ul li.write a.cancel {display:inline-block; margin-left:10px; text-decoration:underline; color:#888;}
.reply_area ul li.write p {margin-bottom:5px; }
.reply_area ul li.write p strong {position:relative; top:0; color:#b0b0b0; margin-right:3px;}
.reply_area ul li.write div .float_left {width:700px;}
.reply_area ul li.write div .float_left textarea {margin-bottom:10px; }
.reply_area ul li.write div .float_right {width:190px;}

/* page_nate */
.page_nate {position:relative; margin-top:20px; text-align:center;}
.page_nate a {color:#595959; padding:0 6px;}
.page_nate a:hover {color:#055cc8; text-decoration:underline;}
.page_nate a.num_first {padding-left:12px;}
.page_nate a.num_last {padding-right:12px;}
.page_nate a strong {color:#055cc8; text-decoration:underline;}
.page_nate a.btn {position:relative; top:2px; padding:0;}

/* margin, padding */
.mg_left5 {margin-left:5px !important;}
.mg_left8 {margin-left:8px !important;}
.mg_left15 {margin-left:15px !important;}
.mg_top5 {margin-top:5px !important;}
.mg_top10 {margin-top:10px !important;}
.mg_top15 {margin-top:15px !important;}
.mg_top25 {margin-top:25px !important;}
.mg_top40 {margin-top:40px !important;}
.mg_bottom5 {margin-bottom:5px !important;}
.mg_bottom10 {margin-bottom:10px !important;}
.pd_right21 {padding-right:21px !important;}

/* menu setup*/
.depth1_setup_area {position:relative; width:950px; margin:0 auto; background:#fff;}
.depth1_setup_area .view_all_menu {display:none; position:absolute; top:33px; z-index:100; padding:15px 10px; width:920px; background:#fff; border:5px solid #517fa4;}
.depth1_setup_area .view_all_menu .list_box {padding:5px 20px 15px; zoom:1;}
.depth1_setup_area .view_all_menu .list_box:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
.depth1_setup_area .view_all_menu .list_box dl {float:left; width:158px; margin-right:21px;}
.depth1_setup_area .view_all_menu .list_box dl.last {margin-right:0; }
.depth1_setup_area .view_all_menu .list_box dl dt {margin-bottom:5px; padding-left:7px; font-size:17px; font-weight:bold; padding-bottom:5px; border-bottom:1px solid #888;}
.depth1_setup_area .view_all_menu .list_box dl dd {padding:3px 3px 3px 12px;}
.depth1_set {width:950px; margin:0 auto; border-top:2px solid #888;}
.depth1_set .depth1_header {border:4px solid #eee; width:880px; margin:10px auto; padding:10px;}
.depth1_set p.summary {padding-top:8px;}

.depth1_set ul {margin-bottom:10px; zoom:1; clear:both;}
.depth1_set ul:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
.depth1_set ul li {float:left; width:189px; padding:10px 0; border-right:1px solid #eee; text-align:center;}
.depth1_set ul li.first {padding:22px 0 23px;}
.depth1_set ul li.last {border-right:0;}
.depth1_set .create_menu_area .toolbox_area {position:relative;}
.depth1_set .create_menu_area .toolbox_area .tooltip {display:none; position:absolute; top:-46px; left:-65px; padding:15px; width:162px; background:#fff; border:1px solid #000; text-align:center;}


.depth2_setup_area {width:950px; margin:10px auto; border-top:2px solid #888;}
.depth2_setup_area p.summary {border:4px solid #eee; width:880px; margin:10px auto; padding:10px;}
.depth2_setup_area .list_box {padding:5px 20px 15px; zoom:1;}
.depth2_setup_area .list_box:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
.depth2_setup_area .list_box dl {float:left; width:165px; margin-right:21px;}
.depth2_setup_area .list_box dl.last {margin-right:0; }
.depth2_setup_area .list_box dl dt {margin-bottom:5px; padding-left:7px; font-size:17px; font-weight:bold; padding-bottom:5px; border-bottom:1px solid #888;}
.depth2_setup_area .list_box dl dd {padding:3px 3px 3px 12px;}

/* common */
.inline-block {display:inline-block;}
.btn_area_center {margin-top:10px; text-align:center;}
.btn_area_right {margin-top:10px; text-align:right;}
.float_box {zoom:1;}
.float_box:after {display:block; content:""; clear:both; height:0; visibility:hidden;}
.float_box .float_left {float:left;}
.float_box .float_right {float:right;}
.file_down {display:inline-block; padding-left:14px; background:url('../images/ico_file.gif') no-repeat 0 3px;}
.file_down:hover {text-decoration:underline;}
.w45 {width:45%;}
.w46 {width:46%;}
.w47 {width:47%;}
.w48 {width:48%;}
.w49 {width:49%;}
.w50 {width:50%;}
.border_gray {border:1px solid gray;}
.padding_none {padding:0 !important;}

.color_red {color:#f88 !important;}
.color_blue {color:#30c !important;}
.color_green {color:#3c0 !important;}
.color_gold {color:#990 !important;}
.bold {font-weight:bold !important;}