@charset "utf-8";

/* default.css */
html, body	 {width:100%;height:100%;}
body {width:100%;height:100%;background:#fff; margin:0; padding:0;}
/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
/* common */
body{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666; font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}

.hide{display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */
/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 
/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active, a:hover {text-decoration:none}
/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
button{cursor:pointer;}


/* 폰트 */
@font-face {
  font-family: 'NanumGothic';
  src: url(/common/fonts/NanumGothic.eot);
  src: url(/common/fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothic.woff) format('woff'),
       url(/common/fonts/NanumGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicBold';
  src: url(/common/fonts/NanumGothicBold.eot);
  src: url(/common/fonts/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothicBold.woff) format('woff'),
       url(/common/fonts/NanumGothicBold.ttf) format('truetype');
}


/* 20160324 4월 구매 프로모션 */
.event_wrap {position:relative; width:100%; height:100%;}
.event_wrap h2, .event_wrap h3, .event_wrap .txt,  .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap a {outline:none;}
.event_wrap .section {width:100%; overflow:hidden;}
.event_wrap .contents {position:relative; margin:0 auto; width:1000px; height:100%;}

.moving_tap {position: absolute; top:0; left: 50%; width:830px; height: 65px; margin-left:-415px; font-family:NanumGothic; color:#fefefe;  z-index:100; background-image:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/movingtab_bg.png);}
.moving_tap .inner {width:699px; padding:16px 0 0 60px; overflow:hidden;}
.moving_tap strong {font-family:NanumGothicBold; font-size:24px; color:#fefefe; font-weight:normal; letter-spacing:-0.03em;}
.moving_tap .left_area strong {padding-left:37px; background:url(http://img.enuri.info/images/event/2016/attendance/ico_person.png) no-repeat 0 50%;}
.moving_tap .login_before strong {margin-right:8px;}
.moving_tap .login_after strong {margin-right:2px;}
.moving_tap .left_area span {font-size:18px;}
.moving_tap .right_area {position:absolute; right:70px; text-align:right; }
.moving_tap .login_before .right_area {top:12px;}
.moving_tap .login_after .right_area {top:16px;}
.moving_tap .right_area a {display:block;}
.moving_tap .right_area .btn.emoney {float:left; display:inline-block; width:74px; height:32px; margin-right:10px; background-image:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/btn_emoney.png)}
.moving_tap .right_area .btn.login {display:inline-block; width:110px; height:39px; background-image:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/btn_login.png)}
.moving_tap .right_area strong {float:left; padding-right:24px; background:url(http://img.enuri.info/images/event/2016/attendance/bul_right_arrow.png) no-repeat 100% 50%;}
.moving_tap .login_before .left_area span {color:#ffcedd;}

/* 공통 레이어 */
.laypop {display:none; width:408px; height:237px; position:absolute; top:10px; right:0; border:1px solid #0182ea; border-top:0; background:#fff; z-index:200; }
.laypop h4 {height:69px; text-indent:23px; font-family:NanumGothic;font-size:20px; font-weight:normal; line-height:66px;  color:#fff; background-color:#0182ea;}
.laypop .inner {width:364px; padding:20px 22px; line-height:1.5; font-family:NanumGothic; font-size:15px;color:#444;}
.laypop .inner .stress {font-family:NanumGothicBold; color:#ff2424;}
.laypop .layinstall {position:absolute; left:129px; bottom:26px; width:150px; height:50px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_install.gif);}
.laypop .layclose {position:absolute; right:25px; top:25px; width:19px; height:19px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_close.png);}

.tab_area {position:absolute; top:522px; width:100%; height:100px; z-index:100; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/tabarea_bg.png) repeat-x 0 0;}
.tab_area .tabmenu {width:1000px; margin:0 auto; overflow:hidden; }
.tab_area .tabmenu li {float:left; width:250px; height:100px;}
.tab_area .tabmenu li.tab1 {margin-left:0; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/tab1.png) no-repeat 0 0;}
.tab_area .tabmenu li.tab1.on {height:119px; background-position:0 -119px;}
.tab_area .tabmenu li.tab2 {background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/tab2.png) no-repeat 0 0;}
.tab_area .tabmenu li.tab2.on {height:119px; background-position:0 -119px;}
.tab_area .tabmenu li.tab3 {background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/tab3.png) no-repeat 0 0;}
.tab_area .tabmenu li.tab3.on {height:119px; background-position:0 -119px;}
.tab_area .tabmenu li.tab4 {background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/tab4.png) no-repeat 0 0;}
.tab_area .tabmenu li a {display:block; height:100%; outline:none;}

.visual {height:522px; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/visual_bg.png) #fcd0d7 no-repeat 50% 0;}
.visual .contents {width:1200px; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/visual.png) no-repeat 0 0;}

.apply {height:806px; padding-top:119px; }
.apply .contents {text-align:center; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/apply.jpg) no-repeat 0 0;}
.apply .contents .btn.request {position:absolute; left:249px; bottom:110px; display:block; width:500px; height:90px;}

.stampclick {height:1031px; background-color:#ffecef;}
.stampclick .contents {text-align:center; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/stampclick.jpg) no-repeat 0 0;}
.stampclick ol {position:absolute; top:384px; left:154px; width:694px; overflow:hidden; cursor:pointer;}
.stampclick ol li {float:left; width:173px; height:173px; line-height:1.1}
.stampclick ol span {display:inline-block; width:100%; height:133px;  margin-top:42px;}
.stampclick ol span em {font-size:0; line-height:0; text-indent:-9999em;}
.stampclick ol span.pick {width:121px; height:121px; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/stamp_pack.png) no-repeat 0 0;}
.stampclick ol span.pick.done {background-position:0 0;}
.stampclick ol span.pick.click {background-position:0 -174px;}
.stampclick ol span.pick.fridayclick{background-position:-174px -174px;}
.stampclick ol span.pick.fridaydone {background-position:-174px 0;}

.amass {height:900px; }
.amass .contents {text-align:center; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/emoneyview.jpg) no-repeat 0 0;}
.amass .contents .btn {position:absolute; left:273px; display:block; width:452px; height:90px;}
.amass .contents .btn.mymoney {bottom:116px; left:281px; }

.event_wrap .contents .btn.caution {position:absolute;  left:362px; width:260px; height:50px;}
.apply .contents .btn.caution {bottom:46px;}
.stampclick .contents .btn.caution {bottom:60px; }
.amass .contents .btn.caution {bottom:40px; }

/* e머니 생활백서 - 20160331 추가 */
.whitepaper {height:879px; z-index:10; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/whitepaper_bg.gif) repeat-x 0 0;}
.whitepaper .contents {width:1000px; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/whitepaper_tit.png) no-repeat 0 0;}
/* 생활백서 플리킹*/
.emoney_slide {position:absolute; left:50%; top:333px; overflow:hidden; width:700px;  height:739px; margin-left:-350px; }
.movecontent  .owl-pagination{display:inline-block; width:350px; margin: 20px auto 0; text-align:center }
.owl-carousel .owl-wrapper-outer {height:415px;}
.movecontent .howto_one .owl-controls .owl-pagination{display:block; }
.movecontent .howto_one .owl-controls .owl-pagination span{opacity:1;  display:block; float:left;}
.emoney_slide .movecontent .howto_one {width:600px; width:600px; height:640px; margin:0 auto; z-index:10}
.emoney_slide .movecontent .howto_one .owl-controls .owl-pagination span {width:30px; height:32px; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/dottip.png) no-repeat left top; }
.emoney_slide .movecontent .howto_one .owl-controls .active span{background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/dottip_on.png) no-repeat left top; }
.emoney_slide .movecontent .howto_one .item{height:415px; overflow:hidden; z-index:10000; }
.emoney_slide .movecontent .howto_one .item a {display:block;}
.emoney_slide .movecontent .howto_one img {width:600px; height:415px; vertical-align:top;}
.emoney_slide .movecontent .owl-buttons > div{position:absolute;top:174px; z-index:10; display:block !important; width:32px !important; height:49px !important; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/arrowtip.png) no-repeat;}
.emoney_slide .movecontent .owl-prev{left:-51px !important; background-position:left top !important;}
.emoney_slide .movecontent .owl-prev:hover {background-position:left -49px !important;}
.emoney_slide .movecontent .owl-next{right:-51px !important; background-position:right top !important;}
.emoney_slide .movecontent .owl-next:hover {background-position:right -49px !important;}
.owl-theme .owl-controls .owl-buttons div{font-size: 0 !important; text-indent:-9999em}
.emoney_slide .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity: 1;}
.emoney_slide .owl-theme .owl-controls .owl-page span{margin:0 10px;}

/* 탭 - e머니 생활백서 - 20160330 추가
.whitepaper {height:1287px; background:url(http://img.enuri.info/images/event/2016/shopping_benefits/whitepaper_bg.gif) repeat-x 0 0;}
.whitepaper .contents {background:url(http://img.enuri.info/images/event/2016/shopping_benefits/whitepaper.png) no-repeat 0 0;}
.whitepaper .contents ol {padding-top:290px; overflow:hidden;}
.whitepaper .contents ol li {position:relative; float:left; width:333px; height:440px; margin-bottom:40px;}
.whitepaper .contents ol li a {position:absolute; bottom:46px; left:77px; width:180px; height:50px; }
.enuriapp {height:799px; background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/enuriapp_bg.gif) repeat-x 0 0;}
.enuriapp .contents {background:url(http://img.enuri.info/images/event/2016/shopping_stamp/spring/enuriapp.png) no-repeat 0 0;}
*/

/* 가이드팝업 - 유의사항 : 아래로 떨어지는 형태 */
.guide {width:800px;  position:absolute; left:50%; margin-left:-400px; z-index:50;}
.guide h4 {height:69px; text-align:center; font-family:NanumGothic;font-size:32px; font-weight:normal;  line-height:66px;  color:#fff; background-color:#6a87af;}
.guide .layer_open {display:none;  position:absolute; left:0; width:100%; border:1px solid #6a87af; border-top:0; background:#fff; z-index:50;}
.guide.gd1 .layer_open {top:-48px; height:600px;}
.guide.gd2 .layer_open {top:-64px; height:640px;}
.guide.gd3 .layer_open {top:-36px; height:610px;}
.guide .layer_open .inner {padding:34px 50px 24px 50px;}
.guide .layer_open dl {margin-bottom:30px; font-size:15px;color:#333;}
.guide .layer_open dt {margin-right:15px; line-height:20px; font-family:NanumGothicBold;}
.guide .layer_open dd {margin-left:2px;font-family:NanumGothic;  line-height:1.5; padding:2px 0 3px 11px; background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.guide .layer_open dd .stress {color:#ff2424;}
.guide .layer_open ul li { font-size:15px;color:#333; margin-left:2px;font-family:NanumGothic;  line-height:1.5; padding:2px 0 3px 11px; background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.guide .laysubmit {position:absolute; left:299px; bottom:30px; width:200px; height:60px; background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute; right:33px; top:23px; width:31px; height:31px; background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}


/* 우측윙 배너 */
.wingBnner {position: absolute; top: 0; left: 50%; margin-left: 521px; width:100px; height:320px; z-index:110; }
.wingBnner a {display:block;}
.wingBnner map area {cursor:pointer;}

/*딤레이어 공통 */
.pop-layer  {position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100000;}
.popupLayer {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10000; -ms-filter: alpha(opacity=60); filter: alpha(opacity=60); opacity:0.6; -moz-opacity:0.6;}
.popupLayer .dim {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:10100;}
.popup_box {position:absolute; left:50%; top:50%; overflow:hidden; z-index:10200;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top; margin:0; padding:0;}
.popup_box .pop-conts {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10200;}


/* 딤레이어 : 모바일 앱 전용 이벤트 */
.mobileapp {width:408px;  height:237px; margin-left:-204px; margin-top:-118px; border:1px solid #0182ea; border-top:0; background:#fff;}
.mobileapp h4 {height:69px; text-indent:23px; font-family:NanumGothic;font-size:20px; font-weight:normal; line-height:66px;  color:#fff; background-color:#0182ea;}
.mobileapp .inner {width:364px; padding:20px 22px; line-height:1.5; font-family:NanumGothic; font-size:15px;color:#444;}
.mobileapp .inner .stress {font-family:NanumGothicBold; color:#ff2424;}
.mobileapp .layinstall {position:absolute; left:129px; bottom:26px; width:150px; height:50px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_install.gif);}
.mobileapp .layclose {position:absolute; right:25px; top:25px; width:19px; height:19px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_close.png);}
.mobileapp .laysubmit {position:absolute; left:129px; bottom:26px; width:150px; height:50px; background-image:url(http://img.enuri.info/images/event/2016/shopping_stamp/btn_submit.gif);}

/* 공통 가운데 정렬 */
.alcenter {text-align:center;}


/* ------------------------------------------------ 개발 ------------------------------------------------  */

/*150520 푸터*/
.bnr_area{margin-top:8px;background:url(http://img.enuri.info/images/main/bg_footer_bnr.gif) 0 0; text-align:center; height:91px; }
.bnr_area ul{margin:0 auto; width:1000px; background:url(http://img.enuri.info/images/main/footer_bnr.gif) 0 0 no-repeat; height:91px;}
.bnr_area ul li a{width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer{width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu{text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li{margin:auto; display:inline; margin:0 17px;}
.footer_menu li a{color:#555555; text-decoration:none;}

.footer .adr{padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span{padding-right:12px; }
.footer .adr img{vertical-align:middle}

.footer .award_list{background:url(http://img.enuri.info/images/main/footer_bnr02.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright{padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong{display:block; font-weight:normal; color:#5390be; }

#m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}

