




	
  

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>상품비교 - eNuri.com</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:title" content="상품비교 - eNuri.com"/>
<meta property="og:url" content="http://www.enuri.com/view/Comparemulti.jsp?chkNo=12907746,13385615,13400095"/>
<meta property="og:image" content="http://photo3.enuri.com/data/images/service/small/12907000/12907746.gif"/>
<meta property="og:site_name" content="에누리닷컴"/>
<meta property="og:description" content="상품비교 - eNuri.com"/>
<link REL="stylesheet" HREF="/common/css/enuri.css" TYPE="text/css">
<link rel="stylesheet" href="/common/css/comparemulti.css" type="text/css">
<script type="text/javascript" src="/common/js/lib/prototype.js"></script>
<script type="text/javascript" src="/common/js/lib/scriptaculous.js?load=effects,slider"></script>
<script type="text/javascript" src="/common/js/function.js"></script>
<script language=javascript src="http://img.enuri.info/common/js/Log_Header.js"></script>
<script language="javascript">


var compareCnt = 3; //현재 열려진 상품수
var compareMaxCnt = 3; //최초 열려진 상품수
var chkNo = "12907746,13385615,13400095"; //현재 열려진 모델번호 나열
var moveUrl = "http://www.enuri.com/move/Redirect.jsp";
var chkNo2 = new Array('12907746','13385615','13400095'); //현재 열려진 모델번호 배열
</script>
<script type="text/javascript" src="/common/js/comparemulti.js"></script>
</head>
<body onload="init()">
<!-- 화장품 성분 layout -->
<link rel="stylesheet" HREF="http://dev.enuri.com/common/css/eb/beauty.css" TYPE="text/css">
<script type="text/javascript">
function compolayeroff(id) {
	if(document.getElementById(id).style.display=='') {
		document.getElementById(id).style.display='none';
	}
}

//화장품 성분 레이어 닫힘 함수
function hideCompareCompToolLayer() {
	if (document.getElementById("div_comparemult_data_info")){
		document.getElementById("div_comparemult_data_info").style.display = "none";
	}
}
</script>
<!--  div id="div_component_data_info" style="display:none;left:0px;top: 0px;position:fixed;z-index: 1010;"></div-->
<div id="div_comparemult_data_info"></div>
<table border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
			<div class="cpm_left">
				<div class="cpm_logo"><img src="http://img.enuri.info/images/view/compare/logo_enuri.gif"/></div>
				
				<div id="btn_bigimg" class="cpm_menubtn" onclick="hideCompareCompToolLayer();viewBigImg();"><img src="http://img.enuri.info/images/view/compare/btn_big_photo.gif" onmouseover="overImg(this)" onmouseout="outImg(this)"/></div>
				
				<div id="btn_detail" class="cpm_menubtn" onclick="viewUnit()"><img src="http://img.enuri.info/images/view/compare/btn_price.gif" onmouseover="overImg(this)" onmouseout="outImg(this)"/></div>
				<div id="btn_share" class="cpm_menubtn" onclick="openShareMenu()"><img src="http://img.enuri.info/images/view/compare/btn_fav.gif" onmouseover="overImg(this)" onmouseout="outImg(this)"/></div>
				<div id="tmp"></div>
			</div>
		</td>
	
		<td valign="top">
			<div id="cpm_unit_1" class="cpm_unit"><iframe name="frmSimpleView" style="width:288px;height:100%;" id="frmSimpleView_1" src="/toolbar/index.jsp?modelno=12907746&frm=list&compare=1&selmenu=&frameIdx=1" frameBorder="0" marginWidth="0" marginHeight="0" scrolling="no" onload="loadSimpleView(this,1)" scrollleft="0" scrolltop="0"></iframe></div>
			<div id="cpm_bigimg_1" class="cpm_bigimg">
				<table border="0" cellpadding="0" cellspacing="0">
	
					<tr>
						<td height="45" align="center">
							<table width="100%" height="40" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td width="4" class="bigimg_title_left"></td>
									
									<td align="center" class="bigimg_title">LG 울트라PC 그램 13ZD950-GX56K</td>
									
									<td width="4" class="bigimg_title_right"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td id="bigimg_1" class="bigimg" valign="top" align="center">
	
							<pre class="divGsSize_left" id="divGsSize_left_1" style="display:;"><div style="margin-left:5px;margin-top:5px;"><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>크기(가로x세로x두께): 30.3 x 21.4 x 1.36 cm<BR><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>부피: 882 cc (크기의 단순 계산 값)<BR><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>무게: 0.98 kg</div></pre>
							<div id="divPhoneIcon" style="margin:5px 30px 0px 15px;;">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box01.gif' width="12"></td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box02.gif);"></td>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box03.gif' width="12"></td>
									</tr>
									<tr>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box04.gif);"></td>
										<td>
											<span id="spanPhoneIcon" style="margin-right:2px"><nobr>
											<img src='http://img.enuri.info/images/f_icon/325_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/327_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/330_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/335_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/357_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/122_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/339_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/124_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/187_b.gif' border='0' style='margin-left:5px'>											</span></nobr>
										</td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box08.gif);"></td>
									</tr>
									<tr>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box05.gif' width="12"></td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box06.gif)"></td>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box07.gif' width="12"></td>
									</tr>
								</table>
							</div>
							<img src="http://photo3.enuri.com/data/images/service/big/12907000/12907746.jpg"  align="absmiddle"  style='margin-top:15px;margin-left:5px;' onerror="this.src='http://photo3.enuri.com/data/working.gif'"/>
	
						</td>
					</tr>
				</table>
			</div>
		</td>
	
		<td valign="top">
			<div id="cpm_unit_2" class="cpm_unit"><iframe name="frmSimpleView" style="width:288px;height:100%;" id="frmSimpleView_2" src="/toolbar/index.jsp?modelno=13385615&frm=list&compare=1&selmenu=&frameIdx=2" frameBorder="0" marginWidth="0" marginHeight="0" scrolling="no" onload="loadSimpleView(this,2)" scrollleft="0" scrolltop="0"></iframe></div>
			<div id="cpm_bigimg_2" class="cpm_bigimg">
				<table border="0" cellpadding="0" cellspacing="0">
	
					<tr>
						<td height="45" align="center">
							<table width="100%" height="40" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td width="4" class="bigimg_title_left"></td>
									
									<td align="center" class="bigimg_title">한성컴퓨터  U36C ForceRecon 4327SE[+윈도10]</td>
									
									<td width="4" class="bigimg_title_right"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td id="bigimg_2" class="bigimg" valign="top" align="center">
	
							<pre class="divGsSize_left" id="divGsSize_left_2" style="display:;"><div style="margin-left:5px;margin-top:5px;"><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>크기(가로x세로x두께): 32.4 x 22 x 2 cm<BR><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>부피: 1,426 cc (크기의 단순 계산값)<BR><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>무게: 1.39 kg (SSD 장착 기준)</div></pre>
							<div id="divPhoneIcon" style="margin:5px 30px 0px 15px;;">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box01.gif' width="12"></td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box02.gif);"></td>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box03.gif' width="12"></td>
									</tr>
									<tr>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box04.gif);"></td>
										<td>
											<span id="spanPhoneIcon" style="margin-right:2px"><nobr>
											<img src='http://img.enuri.info/images/f_icon/108_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/335_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/122_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/377_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/339_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/124_b.gif' border='0' style='margin-left:5px'>											</span></nobr>
										</td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box08.gif);"></td>
									</tr>
									<tr>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box05.gif' width="12"></td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box06.gif)"></td>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box07.gif' width="12"></td>
									</tr>
								</table>
							</div>
							<img src="http://photo3.enuri.com/data/images/service/big/13385000/13385615.jpg"  align="absmiddle"  style='margin-top:15px;margin-left:5px;' onerror="this.src='http://photo3.enuri.com/data/working.gif'"/>
	
						</td>
					</tr>
				</table>
			</div>
		</td>
	
		<td valign="top">
			<div id="cpm_unit_3" class="cpm_unit"><iframe name="frmSimpleView" style="width:288px;height:100%;" id="frmSimpleView_3" src="/toolbar/index.jsp?modelno=13400095&frm=list&compare=1&selmenu=&frameIdx=3" frameBorder="0" marginWidth="0" marginHeight="0" scrolling="no" onload="loadSimpleView(this,3)" scrollleft="0" scrolltop="0"></iframe></div>
			<div id="cpm_bigimg_3" class="cpm_bigimg">
				<table border="0" cellpadding="0" cellspacing="0">
	
					<tr>
						<td height="45" align="center">
							<table width="100%" height="40" border="0" cellpadding="0" cellspacing="0">
								<tr>
									<td width="4" class="bigimg_title_left"></td>
									
									<td align="center" class="bigimg_title">삼성 노트북9 metal NT900X3L-K58WS[SSD 500G (교체)]</td>
									
									<td width="4" class="bigimg_title_right"></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td id="bigimg_3" class="bigimg" valign="top" align="center">
	
							<pre class="divGsSize_left" id="divGsSize_left_3" style="display:;"><div style="margin-left:5px;margin-top:5px;"><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>크기(가로x세로x두께): 31.4 x 21.9 x 1.34 cm<BR><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>부피: 921 cc (크기의 단순 계산값)<BR><img src='http://img.enuri.info/images/view/blue/detail_bullet.gif' style='margin-right:2px;'>무게: 0.86 kg (배터리 포함 시)</div></pre>
							<div id="divPhoneIcon" style="margin:5px 30px 0px 15px;;">
								<table border="0" cellpadding="0" cellspacing="0">
									<tr>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box01.gif' width="12"></td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box02.gif);"></td>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box03.gif' width="12"></td>
									</tr>
									<tr>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box04.gif);"></td>
										<td>
											<span id="spanPhoneIcon" style="margin-right:2px"><nobr>
											<img src='http://img.enuri.info/images/f_icon/325_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/327_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/330_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/334_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/335_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/357_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/122_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/339_b.gif' border='0' style='margin-left:5px'><img src='http://img.enuri.info/images/f_icon/124_b.gif' border='0' style='margin-left:5px'>											</span></nobr>
										</td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box08.gif);"></td>
									</tr>
									<tr>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box05.gif' width="12"></td>
										<td style="background-image:url(http://img.enuri.info/images/view/viewbigimage/icon_box06.gif)"></td>
										<td><img src='http://img.enuri.info/images/view/viewbigimage/icon_box07.gif' width="12"></td>
									</tr>
								</table>
							</div>
							<img src="http://photo3.enuri.com/data/images/service/big/13400000/13400095.jpg"  align="absmiddle"  style='margin-top:15px;margin-left:5px;' onerror="this.src='http://photo3.enuri.com/data/working.gif'"/>
	
						</td>
					</tr>
				</table>
			</div>
		</td>
	
	</tr>
</table>
<div id="compareShare" class="_hideClass">
	<div id="svsTop"><img src="http://img.enuri.info/2012/toolbar_new/btn_layer_x.gif" border="0" class="img_button" onclick="hideShareMenu()"/></div>
	<div id="svsBody" >
		<ul id="svsBody1">
			<li><span id="svs_copy_url" class="shareTxt" onclick="shareCmd(1)" style="z-index:122;"><img src="http://img.enuri.info/2012/toolbar_new/url.gif"></span><span class="shareDesc">주소복사</span></li>
			<li><span class="shareTxt" onclick="shareCmd(2)"><img src="http://img.enuri.info/2012/toolbar_new/fav.gif"></span><span class="shareDesc">즐겨찾기에 등록</span></li>
			<li><span id="svs_copy_html" class="shareTxt" onclick="shareCmd(3)" style="z-index:122;"><img src="http://img.enuri.info/2012/toolbar_new/link.gif"></span><span class="shareDesc">문장중에 추가하면 버튼생성</span></li>
		</ul>
		<hr />
		<ul id="svsBody2" >
			<li><img src="http://img.enuri.info/images/view/buttons/btn_t.gif" class="img_button" onclick="goCpmSnsLink(1)"/></li>
			<li><img src="http://img.enuri.info/images/view/buttons/btn_f.gif" class="img_button" onclick="goCpmSnsLink(2)"/></li>
			<li>SNS에 정보 올리기</li>
		</ul>
	</div>
	<div id="svsBottom" ><!--  --></div>
</div>
</body>
</html>
<script language=javascript src="http://img.enuri.info/common/js/Log_Tail.js"></script>
