@charset "utf-8";

.mainarea{margin:0 auto; width:320px; position:relative; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_june/mainvisual.png) center 42px no-repeat; background-size:235px 287px; height:350px;}
.mainarea .attend{width:178px; height:178px; display:block; position:absolute; left:72px; top:146px; text-indent:-9999em; }

/* 캘린더 */
.calendar{margin:0 auto; width:310px; padding-bottom:30px;}
.calendar .attend_chk{position:relative; height:44px; font-family:tahoma; font-weight:bold; font-size:36px; text-align:right; background:#363636; color:#ffffff; border-radius:30px }
.calendar .attend_chk em{color:#d5d5d5; font-size:20px; font-family:malgun gothic; vertical-align:6px; padding:0 20px 0 2px}
.calendar .attend_chk em:first-child{position:absolute; left:20px; top:10px;}
.calendar .attend_chk em strong{color:#ffffff}

.week{padding:16px 0 20px 0; }
.week:after{clear:both; display:block; content:""; }
.week li{width:44px; float:left; text-align:center; font-family:tahoma; color:#363636; font-size:12px;}
.week li span{display:block; font-size:14px;line-height:35px; color:#363636; width:35px; margin:0 auto; margin-top:8px; background:#e9e9e9; border-radius:50%; cursor:pointer; }
.week .past span{color: #c1c9d8; background:#ffffff; }
.week .chk span{background:#f33680; border-radius:50%; color:#ffffff}

.note{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_june/ico_btn.gif) center top no-repeat; background-size:70px 20px; height:20px; text-indent:-9999em; display:block; width:70px; margin:0 auto; }

/*레이어*/
.layer_back{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:1000;}
.noteLayer{width:300px; padding-bottom:15px; background:#ffffff; border:1px solid #114ea5; margin: -110px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:1000}
.noteLayer h4{background:#114ea5; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.noteLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.btn_close{text-align:center; }
.btn_close button{background:#422a26; color:#ffffff; width:120px; line-height:32px; border:none; text-align:center; font-weight:bold}
.txtlist{padding:15px 10px; color:#333333}
.txtlist dt{font-size:12px; font-weight:bold; padding:7px 0 2px 0;}
.txtlist dd{font-size:10px; padding-left:8px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 2px -44px no-repeat; background-size:50px; }
.txtlist li{font-size:10px; padding-left:8px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 2px -42px no-repeat; background-size:50px; line-height:16px}

.point{width:261px; height:360px; margin: -180px auto 0 -131px; left: 50%; top:50%; position:absolute; z-index:1000; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_june/point5.png) center top no-repeat; background-size:261px 300px;}
.point.p10{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_june/point10.png) center top no-repeat; background-size:261px 300px;}
.point.p100{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_june/point100.png) center top no-repeat; background-size:261px 300px;}
.point.p500{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_june/point500.png) center top no-repeat; background-size:261px 300px;}
.point h4{text-indent:-9999em; }
.point .btnok{background:#f33680; color:#ffffff; width:120px; line-height:32px; border:none; text-align:center; font-weight:bold; position:absolute; left:70px; bottom:0;}