.gnb_wrap {height:41px;border-bottom: 1px solid #aeaeae;}
#header #gnb .gnbMenu li {float:left;width:131px;margin:0 0 0 -1px;border-top:1px solid #fff;border-left:none;border-bottom:none;}
#header #gnb .gnbMenu li a {display:block;height:40px;background:#fff;text-align:center;cursor:default;background:url(http://imgenuri.enuri.gscdn.com/2015/gnb_event/bul_gnb_bar.gif) 100% 50% no-repeat;}

#header #gnb .depth2 {position:absolute;display:none;width:179px;height:335px;background:#fff;border:1px solid #0195eb;margin-left:-1px;}
#header #gnb .depth2 li {float:none;width:auto;margin:3px 0 0;border:0; }
#header #gnb .depth2 li a {height:auto;padding:2px 0 1px 18px;color:#444;text-align:left;cursor:default;}

#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2{width:100% !important; display:block !important; float:left !important; background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow10.gif) no-repeat 158px 6px; letter-spacing:-1px;}
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs1{padding:8px 0 1px 18px;color:#0095e9;font-weight:bold;}
#header #gnb .gnbMenu li.allMenuBtn a,#header #gnb .gnbMenu li.allMenuBtn a:hover  {background:none;}

#header #depth3Detail {width:999px;height:212px;margin:0 0 0 0px;background:#fff;border:1px solid #262632;}

#header #allMenu li {float:left;width:131px;margin:0 0 0 -1px;border-top:1px solid #fff;border-left:none;border-bottom:none;}
#header #allMenu li a {display:block;height:40px;background:#fff;text-align:center;cursor:default;background:url(http://imgenuri.enuri.gscdn.com/2015/gnb_event/bul_gnb_bar.gif) 100% 50% no-repeat;}
#header #allMenu li a:hover,
#header #allMenu li.on a {position:relative;background:#fff;background:url(http://imgenuri.enuri.gscdn.com/2015/gnb_event/bul_gnb_bar.gif) 100% 50% no-repeat;}
#header #allMenu li.on a .onArw {content:"";position:absolute;bottom:-1px;left:50%;display:block;width:15px;height:9px;margin-left:-7px;background:url(http://imgenuri.enuri.gscdn.com/2015/gnb_event/bg_arrow5_2.gif) no-repeat;z-index:2;}
#header #allMenu .depth2allMenu {top:41px;}
#header #allMenu li.allMenuBtn a {background:none;}
#header #allMenu .allMenuClose {top:547px;}

#header .utilMenu {width:100%; height:29px; /*background:#f3f4f5;*/ border-bottom:1px solid #d2d2d2; border-top:1px solid #d2d2d2;}
#header .utilMenu a {display:inline-block;color:#333333; font-family:Malgun Gothic; letter-spacing:-1px; }

.headerArea{width:1000px; margin:0 auto; position:relative; z-index:1002;}
.sp_header{position:absolute; left:0; top:0; }
.sp_header li{float:left; border-left:1px solid #d2d2d2; }
.sp_header li a{padding:5px 18px 0px 18px; display:block; height:25px;}
.sp_header li a.enuriApp{font-weight:bold; background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_app.gif) 13px 9px no-repeat; padding-left:25px; }

.right_navi{position:absolute; right:0; top:0; width:400px !important;}
.right_navi li{display:inline-block;*display:inline;margin:0 -4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_util_bar.gif) no-repeat 0 50%;}
.right_navi li:first-child {background:none;}
.right_navi li a{padding:5px 10px 0px 10px; display:block; height:25px;}
.right_navi li a.more{background:url(http://imgenuri.enuri.gscdn.com/images/main/ico_more.gif) right 9px no-repeat; padding-right:15px; }

.s_more{border:2px solid #0083e8; padding:48px 0 0 13px; width:343px; height:197px; background: url(http://imgenuri.enuri.gscdn.com/images/main/tit_service.gif) 13px 19px no-repeat #ffffff; position:absolute; right:-2px; top:29px; }
.s_more h2{display:none; }
.s_more .service_list.first{border-left:none;}
.s_more .service_list{border-left:1px solid #f1f1f1; width:110px; float:left; height:168px}
.s_more .service_list li{width:98px; padding:0 0 2px 10px; line-height:23px !important}
.s_more .service_list li a{color:#3a3a43; font-family:dotum !important; text-decoration:none; font-size:12px; }
.s_more .ly_close{z-index:10; position:absolute; right:0; bottom:0; background: url(http://imgenuri.enuri.gscdn.com/images/main/ico_service.gif) 7px -23px no-repeat; width:23px; height:23px; text-indent:-9999em;}
.s_more .all_view{border-top:1px solid #f5f5f5; width:340px; position:absolute; left:0; bottom:0;  height:18px; padding:7px 0 0 15px; background:#ffffff;}
.s_more .all_view a{font-family:dotum !important; font-size:11px; color:#68686d !important; background: url(http://imgenuri.enuri.gscdn.com/images/main/ico_service.gif) right 4px no-repeat; padding-right:14px;  }
@media screen and (-webkit-min-device-pixel-ratio:0){
.s_more .all_view{height:25px; padding:0px 0 0 15px;}
}