@charset "utf-8";

/*========================
My쇼핑지식 영역
========================*/
.mygrade_container {overflow:visible;margin-top:0}

/********** 나의등급 **********/
.myshop_container {}

.mygrade_area {position:relative;height:169px;padding-left:145px}

/* MY쇼핑지식 본인인증 190131 */
.myconfirm {position:absolute;top:-1px;left:-1px;z-index:10;width:140px;height:100%;border:1px solid #0071bc;box-shadow:4px 0 0 #f5f5f5;background:url(http://img.enuri.info/images/knowcom/bg_grade_pattern.gif) repeat-x}
.myconfirm .customer {display:block;overflow:hidden;padding:10px 5px 3px;font-weight:bold;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:25px;vertical-align:middle;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap}
.myconfirm .btn_confirm {display:block;width:110px;height:54px;font-size:18px;color:#0071bc;font-weight:bold;font-weight:500;line-height:1;letter-spacing:-0.025em;margin:14px auto 0;background:url(http://img.enuri.info/images/knowcom/bg_myconfirm.png) no-repeat}
.myconfirm .txt { display:block;position:relative;overflow:hidden;padding:8px 5px 0;font-size:12px;color:#fff;text-align:center;line-height:18px;vertical-align:middle}

/* //MY쇼핑지식 본인인증  */

.my_grade_img {position:absolute;top:-1px;left:-1px;z-index:10;width:140px;height:100%;border:1px solid #0071bc;box-shadow:4px 0 0 #f5f5f5;background:url(http://img.enuri.info/images/knowcom/bg_grade_pattern.gif) repeat-x}
.my_grade_img .customer {display:block;overflow:hidden;padding:10px 5px 3px;font-weight:bold;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:25px;vertical-align:middle;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap}
.my_grade_img .bg {display:block;width:90px;height:90px;margin:0 auto;background:url(http://img.enuri.info/images/knowcom/bg_grade_round.png) no-repeat}
.my_grade_img .gradename {display:block;overflow:hidden;padding:8px 5px 0;font-weight:bold;font-weight:500;font-size:16px;color:#fff;text-align:center;line-height:19px;vertical-align:middle;letter-spacing:-1px;text-overflow:ellipsis;white-space:nowrap}

.my_grade_info {width:100%;height:100%;padding:0}
.my_grade_info ul {display:inline;float:left;width:calc(100% - 6px);margin:24px 6px 16px 0;text-align:center}
.my_grade_info ul li {float:left;width:138px;width:20%}
.my_grade_info ul li .tit {position:relative;font-size:13px;color:#343434;line-height:28px}
.my_grade_info ul li .tit .hasLayer_wrap {display:inline;position:relative}
.my_grade_info ul li .tit .hasLayer_wrap .ico_q {display:inline-block;width:18px;height:18px;vertical-align:middle;background-position:-30px -550px;cursor:pointer}
.my_grade_info ul li + li {width:calc(20% - 1px);border-left:1px solid #eee}
.my_grade_info ul li .number {font-weight:bold;font-weight:500;font-size:15px;color:#343434;line-height:30px;vertical-align:middle}
.my_grade_info ul li .number strong {display:block;font-weight:normal;font-weight:400;font-size:32px;line-height:32px;letter-spacing:-1px}
.my_grade_info ul li .number strong.action {color:#52b3f1}

.my_grade_graph {clear:both;position:relative;margin:0 14px;padding-bottom:20px}
.my_grade_graph .txt {position:absolute;bottom:0;font-size:11px;color:#666}
.my_grade_graph .txt.now {left:0} 
.my_grade_graph .txt.next {right:0}
.bg_gauge {display:block;height:6px;margin:0;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/knowcom/bg_grade_gauge.png) no-repeat}
.bg_gauge .gauge {display:block;min-width:1%;width:0;position:relative;height:6px;margin:0;background:url(http://img.enuri.info/images/knowcom/bg_grade_bar.png) repeat-x;transition:all .3s ease-in-out;}
.bg_gauge .gauge:before {content:"";display:block;position:absolute;top:0;left:0;width:6px;height:6px;background:url(http://img.enuri.info/images/knowcom/bg_grade_lt.png) no-repeat}
.bg_gauge .gauge:after {content:"";display:block;position:absolute;top:0;right:0;width:6px;height:6px;background:url(http://img.enuri.info/images/knowcom/bg_grade_rt.png) no-repeat}

/* My쇼핑지식 TAB 6ea */
.myshopping_tab {}
.myshopping_tab .category_list .tabarea:after {display:block;clear:both;content:""}
.myshopping_tab .category_list .tabarea li {float:left;position:relative;width:169px;/*width:141px;*/ height:55px}
.myshopping_tab .category_list .tabarea li:last-child {width:170px}
.myshopping_tab .category_list .tabarea li a {letter-spacing:-0.5px;display:block;color:#666;text-align:center;height:38px;padding-top:16px;font-size:15px;background:#f7f7f7;border-top:1px solid #d9d9d9;border-right:1px solid #d9d9d9;text-overflow:ellipsis;white-space:nowrap;overflow:hidden}
.myshopping_tab .category_list .tabarea li.emoney a {position:relative;border-right:0;font-weight:bold;font-weight:500;color:#0073be}
.myshopping_tab .category_list .tabarea li.emoney a .ico_e {display:block;position:absolute;top:8px;right:7px;width:21px;height:23px;background-position:0 -550px}
.myshopping_tab .category_list .tabarea li.on a {margin-left:-1px;font-weight:bold;font-weight:500;font-size:15px;height:39px;padding-top:15px;background:#ffffff;color:#343434;border-left:1px solid #d9d9d9;border-top:2px solid #1689d3;border-bottom:0;z-index:10}

.myshop_board {padding:16px}
.myshop_board table {width:100%;border-collapse:collapse}
.myshop_board table thead {}
.myshop_board table thead tr th:first-child span {border-left:1px solid #e2e2e2}
.myshop_board table thead tr th span {display:block;margin-bottom:16px;border-right:1px solid #e2e2e2;font-weight:normal;font-weight:400;font-size:12px;color:#666;text-align:center;line-height:32px;vertical-align:middle}
.myshop_board table tbody {position:relative;margin-top:16px;border-top:1px solid #e2e2e2}
.myshop_board table td {height:34px;padding:17px 7px;border-bottom:1px solid #e2e2e2;text-align:center}
.myshop_board table td .rect {display:inline-block;padding:0 4px;border:1px solid #d2d2d2;font-size:12px;color:#999;line-height:20px;letter-spacing:-1px;word-break:keep-all}
.myshop_board table td .tit {display:block;overflow:hidden;max-width:460px;padding:0 10px;font-size:16px;color:#343434;text-align:left;text-overflow:ellipsis;white-space:nowrap}
.myshop_board table td .tit:hover {text-decoration:underline}
.myshop_board table td .point {font-weight:bold;font-weight:500;font-size:18px;color:#1689d3}
.myshop_board table td .date {font-size:12px;color:#666}
.myshop_board table tr.blind_report td .tit {color:#999;text-decoration:none;cursor:default}
.myshop_board table tr.blind_report td .point {color:#999}
.myshop_board table td .reply {position:relative;display:block;letter-spacing:-1px;text-align:left}
.myshop_board table td .reply:hover span {text-decoration:underline}
.myshop_board table td .reply .origin {display:block;overflow:hidden;position:relative;max-width:622px;font-size:14px;color:#787878;line-height:24px;vertical-align:middle;text-overflow:ellipsis;white-space:nowrap}
.myshop_board table td .reply .my {display:block;overflow:hidden;position:relative;max-width:600px;padding-left:22px;font-size:16px;color:#343434;text-overflow:ellipsis;white-space:nowrap}
.myshop_board table td .reply .my:before {content:"";display:block;position:absolute;top:5px;left:6px;width:10px;height:10px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -40px -300px no-repeat}
.myshop_board.col_3 table td .tit {max-width:600px}
.myshop_board .no_result {padding:90px 0;font-size:18px;color:#666;text-align:center}

/* 20190617 마이페이지 - 누리머니 아이콘 추가 */
.myshop_board table td .tit .nurimoney__ico{vertical-align:1px}
.myshop_board table td .reply .origin .nurimoney__ico{vertical-align:-2px}

/* e머니전환 컨텐츠 */
.emoney_store_wrap {}
.emoney_store_wrap .inner {position:relative;padding:40px 16px}

/* 사용가능한 E머니 */
.my_emoney{padding:34px 0;color:#343434;text-align:center;border:1px solid #dddddd;height:28px;line-height:28px;border-top:2px solid #787878;margin-bottom:20px;font-size:18px;letter-spacing:-1px}
.my_emoney .tx_nick{display:inline-block;font-weight:bold;font-weight:500;overflow:hidden;max-width:300px;white-space:nowrap;text-overflow:ellipsis;vertical-align:-6px}
.my_emoney .tx_emoney{display:inline-block;overflow:hidden;position:relative;padding-left:55px;margin-left:20px;border-left:1px solid #dddddd;color:#0073be;font-size:24px;letter-spacing:-.5px;vertical-align:-6px}
.my_emoney .tx_emoney:before{content:"";position:absolute;width:24px;height:24px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) no-repeat 0 -700px;top:3px;left:20px}
.my_emoney .tx_emoney em{font-size:28px;font-weight:bold;font-weight:500}

/* 나의활동점수 */
.my_active_point {position:relative;margin-bottom:200px;padding-top:18px;border-bottom:2px solid #787878}
.my_active_point .tit {font-weight:bold;font-weight:500;font-size:18px;color:#343434;line-height:52px}
.my_active_point .tit .hasLayer_wrap {display:inline;position:relative}
.my_active_point .tit .hasLayer_wrap .ico_q {display:inline-block;width:18px;height:18px;vertical-align:middle;background-position:-30px -550px;cursor:pointer}

.my_active_point .my_point {position:absolute;top:12px;right:0}
.my_active_point .my_point .point {display:inline;float:left;margin-right:20px;font-weight:bold;font-weight:500;font-size:15px;color:#343434;line-height:52px;vertical-align:middle}
.my_active_point .my_point .point strong {font-weight:normal;font-weight:400;font-size:48px;letter-spacing:-1px;color:#52b3f1;line-height:52px;vertical-align:-3px}
.my_active_point .my_point .ebtn {display:inline-block;width:164px;height:38px;line-height:38px;margin-top:10px;border:1px solid #0073be;font-weight:bold;font-weight:500;font-size:16px;color:#fff;text-align:center;background-color:#0073be}

/* 활동 점수 안내 */
.my_active_exp{position:absolute;top:90px;left:0;width:100%}
.my_active_exp .mp_tit{display:block;margin-bottom:8px;font-weight:normal;font-weight:400;font-size:18px;color:#343434;line-height:35px}
.my_active_exp .mp_list{border:1px solid #e2e2e2;padding:12px;font-size:15px;line-height:26px}
.my_active_exp .mp_list li {position:relative;padding-left:10px;font-size:13px;line-height:24px;color:#555;word-break:keep-all}
.my_active_exp .mp_list li:after {content:"";position:absolute;top:10px;left:0;width:3px;height:3px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -97px -260px no-repeat}

/* 190624 버튼 스타일 추가 */
.btn_in_tit{float:right;margin-top:3px;display:inline-block;padding:0 20px;height:28px;line-height:26px;border:1px solid #e2e2e2;border-radius:2px 2px;font-size:13px;text-align:center;color:#444444;letter-spacing:-1px}

/* 스토어인기브랜드 */
.store_bestbrand {position:relative;margin-bottom:50px}
.store_bestbrand .tit {display:block;margin-bottom:8px;font-weight:normal;font-weight:400;font-size:18px;color:#343434;line-height:35px}
.store_bestbrand .brand_list {}
.store_bestbrand .brand_list table {width:100%;border-collapse:collapse}
.store_bestbrand .brand_list table td {border:1px solid #e2e2e2}
.store_bestbrand .brand_list table td > a {display:block;padding:30px 16px}
.store_bestbrand .brand_list table td > a:focus,
.store_bestbrand .brand_list table td > a:hover {outline:1px solid #999;box-shadow:0 2px 0 #e1e1e1}
.store_bestbrand .brand_list table td > a .bname {position:relative;z-index:1;font-size:14px;color:#555;line-height:1;text-align:center}

/* 활동점수 적립방법 & 레벨/등급 */
.active_point_info {position:relative;margin-bottom:50px}
.active_point_info .tit {display:block;margin-bottom:8px;font-weight:normal;font-weight:400;font-size:18px;color:#343434;line-height:35px}
.active_point_info .info_table {} 
.active_point_info .info_table table {width:100%;border-collapse:collapse}
.active_point_info .info_table table th,
.active_point_info .info_table table td {border:1px solid #e2e2e2;padding:20px 10px;font-size:15px;color:#343434;text-align:center;line-height:26px;vertical-align:middle}
.active_point_info .info_table table th {padding:10px;font-weight:normal;font-weight:400;color:#666;background-color:#fcfcfc}
.active_point_info .info_table table td .step {font-size:12px;color:#999;line-height:18px}
.active_point_info .info_table table td .gradename {font-size:14px;color:#343434;line-height:18px}
.active_point_info .info_table table td .point {font-weight:bold;font-weight:500;color:#343434}
.active_point_info .info_table table td .e_point {color:#0073be}
.active_point_info .info_table table td .txt {line-height:22px}
/* 190624 추천활동점수 안내 추가 */
.active_point_info .info_table table td .ab_active_point{font-size:12px;color:#555555;line-height:16px;margin-top:6px}
.active_point_info .info_table table td .ab_active_point dt{font-weight:bold;font-weight:500;color:#387ec9}
.active_point_info .info_table table td .ab_active_point dd{margin-top:2px}

/* 꼭알아두세요! */
.point_caution {position:relative;margin-bottom:50px}
.point_caution .tit {display:block;margin-bottom:12px;padding-bottom:8px;border-bottom:1px solid #f3f3f3;font-weight:normal;font-weight:400;font-size:18px;color:#343434;line-height:35px}
.point_caution .list {}
.point_caution .list li {position:relative;padding-left:10px;font-size:13px;line-height:24px;color:#555;word-break:keep-all}
.point_caution .list li:after {content:"";position:absolute;top:10px;left:0;width:3px;height:3px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -97px -260px no-repeat}

/* 190624 추가 - 활동점수 & e머니 FAQ */
.point_faq {position:relative;margin-bottom:50px}
.point_faq .tit {display:block;margin-bottom:12px;padding-bottom:8px;border-bottom:1px solid #f3f3f3;font-weight:normal;font-weight:400;font-size:18px;color:#343434;line-height:35px}
.point_faq .list{line-height:24px;font-size:13px;color:#555;word-break:keep-all}
.point_faq .list dt{position:relative;padding-left:15px;margin-top:24px}
.point_faq .list dt:first-of-type{margin-top:0}
.point_faq .list dt:after{content:"Q.";position:absolute;top:0px;left:0;width:15px;height:24px;line-height:24px;font-size:13px;color:#555}
.point_faq .list dd{position:relative;padding-left:15px}
.point_faq .list dd:after {content:"";position:absolute;top:10px;left:2px;width:3px;height:3px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -97px -260px no-repeat}

/* 공통 작은레이어팝업 */
.smallbox {display:none;position:absolute;z-index:100;border-radius:2px;border:1px solid #707070;background:#fff;filter:progid:DXImageTransform.Microsoft.DropShadow(Color=#ebebeb,Positive=1,OffX=2,OffY=2);box-shadow:2px 2px 2px #ebebeb }
.smallbox h5 {height:27px;background:#575c67;color:#ffffff;font-size:12px;font-weight:normal;font-weight:400;letter-spacing:-0.5px;padding:0 0 0 10px;line-height:27px}
.smallbox h5 em {color:#e2e2e2;margin-left:8px}
.smallbox h5 i {margin-left:8px;font-style:normal;font-size:11px;letter-spacing:-0.5px}
.smallbox h5 .btnclose{position:absolute;right:5px;top:2px;width:12px;height:11px;background:url(http://img.enuri.info/images/home/btn_pop_close.png) 5px 5px no-repeat;text-indent:-9999em;padding:5px;cursor:pointer}
.smallbox .scr{overflow-y:scroll !important;overflow-x:hidden}
.smallbox .inner {padding:17px 20px 30px}

/* 190613 삭제 - 레이어-활동점수 안내 */
.smallbox.mypoint_layer {width:348px;text-align:left}
.smallbox.mypoint_layer#myPointInfo1 {top:2px;right:-354px}
.smallbox.mypoint_layer#myPointInfo2 {top:6px;right:-354px}
.smallbox.mypoint_layer p.mp_tit {position:relative;margin-bottom:15px;padding-left:12px;font-weight:bold;font-weight:500;font-size:18px;color:#171717;line-height:30px}
.smallbox.mypoint_layer p.mp_tit:before {content:"";display:block;position:absolute;top:50%;left:2px;width:4px;height:4px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -96px -270px no-repeat}
.smallbox.mypoint_layer p.mp_txt {font-size:14px;line-height:17px;color:#343434;letter-spacing:-1px;word-break:keep-all}

/* 190212 e머니 전환안내 레이어 추가 */
.smallbox.myconfirm_layer {width:348px;text-align:left}
.smallbox.myconfirm_layer#myPointInfo3 {top:0px;right:170px}
.smallbox.myconfirm_layer .inner {position:relative;padding:17px 20px 60px}
.smallbox.myconfirm_layer .inner .bt_btns { position:absolute;right:72px;top:100px}
.smallbox.myconfirm_layer .inner .bt_btns .btn_wh { display:inline-block;width:98px;height:26px;line-height:24px;font-size:14px;color:#555;text-align:center;background-color:#fff;border:1px solid #e2e2e2;padding-top:0}
.smallbox.myconfirm_layer .inner .bt_btns .btn_wh.confirm { color:#0073be}

/* @list.css 와 동일한 css */
/* PC - 게시판 WRAP */
.board_wrap {overflow:hidden;position:relative;margin-top:16px;background-color:#fff} 
.board_wrap .board_border:after {content:"";display:block;position:absolute;top:0;bottom:0;left:0;right:0;border:1px solid #d9d9d9;z-index:100;pointer-events:none}

/* 게시판 상단에 컨텐츠 없을 때 상단 마진 제거 (=단일 게시판) */
.oneboard_wrap {margin-top:0}
.mobile .oneboard_wrap {border-top:1px solid #d9d9d9}

/* .board_wrap .board_inner {position:relative;z-index:100} */

/* PC - 게시판 탭메뉴 */
.board_menu {position:relative;width:100%}
.board_menu ul.board_tabs {display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;-js-display:flex;display:flex;width:100%;border-top:1px solid rgba(0, 0, 0, 0.1);border-bottom:1px solid #1689d3}
.board_menu ul.board_tabs li {min-width:10% \0/IE9;-webkit-flex:auto;-ms-flex:auto;flex:auto;position:relative;height:50px}
.board_menu ul.board_tabs li:after {content:"";display:block;position:absolute;top:0;right:0;width:1px;height:100%;background-color:rgba(0, 0, 0, 0.1);z-index:1}
.board_menu ul.board_tabs li:last-child {border-right:none}
.board_menu ul.board_tabs li a {display:block;font-size:15px;color:#666;letter-spacing:-.5px;line-height:50px;text-align:center}
.board_menu ul.board_tabs li:hover,
.board_menu ul.board_tabs li.on {border-right-color:#1689d3;background-color:#1689d3}
.board_menu ul.board_tabs li.on a,
.board_menu ul.board_tabs li:hover a {color:#fff}
.board_menu ul.board_tabs li a .ico_e {display:block;position:absolute;top:8px;right:27px;width:21px;height:23px;background-position:0 -550px;}

/* PC - 게시판 내용 컨테이너 */
/* .board_tabs_container {} */
.board_tabs_container .no_data {margin:0;padding:100px 18px;border-bottom:1px solid #d6d6d6;font-size:16px;color:#999;text-align:center}
.mobile .board_tabs_container .no_data {margin:0 -10px;}

.tabs_cont {/* display:none */}
.tabs_cont .tabs_cont_inner {padding:0 18px}