@charset "utf-8";
/* ----------------------------------------------------------------
                     common
-----------------------------------------------------------------*/
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.color-red {color:#ff2424;}
.bgcolor_lightblue {background-color: #e5f4ff;}
.clear:after {content:"";display: block;clear:both;}

/* ----------------------------------------------------------------
                     com.enuri.event.m 부분으로인한 꺠짐수정.
-----------------------------------------------------------------*/
.com__btn_share{z-index: 50;}

.name {height: auto;padding:7px 0 7px 25px;}
.name:after {top:8px;}
.name span {padding:0 10px 0 0;}
.name span:before {top: 2px;}

.moving_tap .inner {width: 1280px;}
.moving_tap .left_area {padding-left: 0;}

.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4  {margin:0;}
.event_wrap, .event_wrap * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* ----------------------------------------------------------------
					상단비주얼
-----------------------------------------------------------------*/
.visual{position:relative;width:100%;height:350px;overflow:hidden;background:#dae28f url("//img.enuri.info/images/event/2022/familymonth_pro/m_visual_bg.png") 50% 35px no-repeat;background-size:511px;}

.visual .inner_share { position:relative;display:block;width:320px;margin:0 auto;padding-top:10px;text-align:left;} 
.visual .inner_share .com__btn_share { position:relative;top:0;left:10px;}

.visual .inner{ position:relative;width:320px;display:block;margin:0 auto;z-index:10;font-size:0;}
.visual .inner .react_text_area {font-size:0;text-align:center;}
.visual .inner .txt_date{display:block;margin:0 auto;margin-bottom:10px;font-family:"Roboto", sans-serif;font-size:12px;font-weight:normal;color:#5b3d3a;transition:.5s all ease-in-out;transform:translateX(20px);opacity:0;letter-spacing:1px;}
.visual .inner .txt_01{position:relative;display:block;width:197px;height:86px;text-indent:-9999px;margin:0 auto 26px;padding:0;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_visual_txt1.png") no-repeat 0 0;background-size:197px;transition:.5s all ease-in-out;transform:translateX(20px);opacity:0;}
.visual .inner .txt_01 span{display:block;width:197px;height:86px;position:absolute;top:0;left:0;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_visual_txt1_active.png") no-repeat 0 0;background-size:197px;transition:.5s all ease-in-out;transform:translateX(4px);opacity:0;z-index:10;}

/* .start 시 작동 */
.visual.start .inner .txt_date{transition-delay:0;transform:translateX(0);opacity:1;}
.visual.start .inner .txt_01{transition-delay:.6s;transform:translateX(0);opacity:1}
.visual.start .inner .txt_01 span{transition-delay:1.2s;transform:translateX(-4px);opacity:1}

/* ----------------------------------------------------------------
					탭
-----------------------------------------------------------------*/
.floattab {width:100%;padding:0;background-color:#a3ad3f;}
.floattab__list {width:320px;margin:0 auto;}
.floattab__list li {float:left;width:50%;height:100%;}
.floattab__list:after {content:"";display:block;clear:both;}
.floattab__list li a {position:relative;display:block;overflow:hidden;width:100%;height:62px;font-size:0;text-indent:-9999px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_nav.png") no-repeat;background-size:320px}
.floattab__list li:first-child a {background-position:0 0}
.floattab__list li:last-child a {background-position:100% 0}
.floattab__list li:first-child a.active {background-position:0 100%}
.floattab__list li:last-child a.active {background-position:100% 100%}

/* ----------------------------------------------------------------
					탭1 - event_01
-----------------------------------------------------------------*/
.event_01{position:relative;padding:25px 0;overflow:hidden;text-align:center;background:#faf2dc;}
.event_01 .inner {position:relative;width: 320px;margin:0 auto;z-index:10;}
.event_01 .inner img {width: 100%; max-width: 100%;vertical-align:top}
.event_01 .tx_step {display:block;width:110px;margin:0 auto 20px}
.event_01 .tx_tit1 {display:block;width:253px;margin:0 auto 55px}

/* 준비물 선택 */
.game_area {position:relative;width:301px;height:210px;margin:0 auto 25px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_step1_back.png") no-repeat 0 0;background-size:301px;}
.game_area .obj_material {position:relative;width:100%;height:100%;}
.game_area .obj_material > span {position:absolute;display:block;opacity:1;-webkit-animation:1s linear infinite alternate movingObj;animation:1s linear infinite alternate movingObj;cursor:pointer;}
.game_area .obj_material > span.obj_bread 		{animation-delay:.3s;top:2px;left:20px;width:91px;height:94px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_ico_bread.png") no-repeat;background-size:91px;}
.game_area .obj_material > span.obj_grape 		{animation-delay:.6s;top:121px;left:14px;width:64px;height:73px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_ico_grape.png") no-repeat;background-size:64px;}
.game_area .obj_material > span.obj_cheeze 		{animation-delay:.12s;top:-12px;left:146px;width:60px;height:55px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_ico_cheeze.png") no-repeat;background-size:60px;}
.game_area .obj_material > span.obj_apple		{animation-delay:.9s;top:28px;left:227px;width:46px;height:64px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_ico_apple.png") no-repeat;background-size:46px;}
.game_area .obj_material > span.obj_wine 		{animation-delay:.3s;top:107px;left:218px;width:44px;height:104px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_ico_wine.png") no-repeat;background-size:44px;}
.game_area .obj_material > span.selected {top:35%;left:43%;transition:all 1s ease-in-out;opacity:0}
@keyframes movingObj {
	from {transform:translateY(0)}
	to {transform:translateY(5px)}
}

/* 참여완료 */
.game_area .game_end {position:absolute;top:0;bottom:0;left:0;right:0;width:100%;height:100%;background-color:rgba(0,0,0,.3);opacity:0;pointer-events:none;transition:.5s ease-in-out}
.game_area .game_end .round {position:absolute;top:50%;left:50%;width:178px;height:178px;border-radius:100%;margin-top:-89px;margin-left:-89px;text-align:center;background:rgba(0,0,0,.5)}
.game_area .game_end .round>strong {display:block;margin:55px 0 10px;font-weight:bold;font-weight:500;font-size:25px;color:#fff;letter-spacing:-1px;line-height:1}
.game_area .game_end .round>span {font-size:10px;color:#fff;letter-spacing:-.4px;line-height:13px}
.game_area.is-end .game_end {opacity:1;pointer-events:auto;}

/* 선택시 */
.game_obj .obj_target > span.selected {transform :scale(1.3);z-index:10;}

/* evt1쪽 sns 공유버튼 */
.event_01 .evt1_sns_share {}
.event_01 .evt1_sns_share .tx_tit {display:block;width:227px;margin:0 auto 25px;}
.event_01 .evt1_sns_share .sns_share_list {font-size:0;text-align:center;}
.event_01 .evt1_sns_share .sns_share_list li {display:inline-block;vertical-align:middle;margin:0 auto 9px;text-align:center}
.event_01 .evt1_sns_share .sns_share_list li a {display:block;font-size:0;text-indent:-9999px;width:174px;height:50px}
.event_01 .evt1_sns_share .sns_share_list li a.btn1 {background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_btn_share.png") no-repeat;background-size:174px;}
.event_01 .evt1_sns_share .sns_share_list li a.btn2 {background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_btn_appjoin.png") no-repeat;background-size:174px;}
.event_01 .evt1_sns_share .sns_share_list li a.btn3 {background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_btn_appalarm.png") no-repeat;background-size:174px;}
.event_01 .evt1_sns_share .sns_share_list li a.btn1.is-on {background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_btn_share_on.png") no-repeat;background-size:174px;}
.event_01 .evt1_sns_share .sns_share_list li a.btn2.is-on {background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_btn_appjoin_on.png") no-repeat;background-size:174px;}
.event_01 .evt1_sns_share .sns_share_list li a.btn3.is-on {background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_btn_appalarm_on.png") no-repeat;background-size:174px;}
.event_01 .evt1_sns_share .sns_share_list li a span {display:block;margin-top:12px;}

/* ----------------------------------------------------------------
					@탭1 스텝1 - event_02
-----------------------------------------------------------------*/
.event_02{position:relative;padding:25px 0 32px;overflow:hidden;text-align:center;background:#f0eed7}
.event_02 .inner {position:relative;z-index:10;}
.event_02 .tx_step {display:block;width:110px;margin:0 auto 20px}
.event_02 .tx_tit1 {display:block;width:268px;margin:0 auto 30px}

/* 자판기 */
.machine_area {position:relative;width:315px;height:467px;margin:0 auto 30px;background:url("//img.enuri.info/images/event/2022/familymonth_pro/m_step2_machine.png") 0 0 no-repeat;background-size:315px;}
.machine_area .obj_list {position:absolute;top:60px;left:14px;width:285px;height:208px;font-size:0;}
.machine_area .obj_list>li {display:inline-block;width:95px;height:104px;vertical-align:top;}
.machine_area .obj_list>li .btn {display:block;position:relative;width:100%;height:100%;font-size:0;}
.machine_area .obj_list>li .btn .obj {display:flex;position:relative;justify-content:center;align-items:center;}
.machine_area .obj_list>li .btn .obj>img {width:100%;height:auto;vertical-align:top}
.machine_area .obj_list>li .btn .obj_1 {width:101px;transform:translate(8px, -6px)}
.machine_area .obj_list>li .btn .obj_2 {width:64px;transform:translate(20px, -8px)}
.machine_area .obj_list>li .btn .obj_3 {width:63px;transform:translate(20px, -7px)}
.machine_area .obj_list>li .btn .obj_4 {width:80px;transform:translate(15px, -4px)}
.machine_area .obj_list>li .btn .obj_5 {width:75px;transform:translate(18px, -3px)}
.machine_area .obj_list>li .btn .obj_6 {width:72px;transform:translate(16px, -2px)}
.machine_area .obj_list>li .btn .tx_cnt {position:absolute;bottom:0;left:50%;width:82px;height:22px;margin-left:-41px;border-radius:5px;border:1px solid #bea67b;font-size:10px;color:#3d2e1f;letter-spacing:-.56px;line-height:22px;background-color:#fef3df}
.machine_area .obj_list>li .btn .tx_cnt>em {margin-left:4px;font-weight:bold;font-size:12px;color:#3d2e1f;letter-spacing:-.56px}
.machine_area .my_coin {position:absolute;bottom:92px;left:50%;width:108px;height:48px;margin-left:-52px;}
.machine_area .my_coin .tx_my {display:block;margin-top:6px;font-size:15px;color:#fff;letter-spacing:-1px;line-height:20px}
.machine_area .my_coin .tx_cnt {display:block;font-weight:bold;font-size:18px;color:#ffd800;letter-spacing:-.5px;line-height:20px}

/* 유의사항 BTN */
.btn_caution{display:block;position: relative;width: 86.5px;height: 15px;background:url(http://img.enuri.info/images/event/2021/winter_pro/btn_notice.png) no-repeat 0 0;background-size: 86.5px;margin:0 auto;text-indent:-9999em}
.btn_caution.evt-caution-2{position:relative;left:auto;bottom:auto;margin:50px auto 70px;}

@media (max-width:359px){
	.section .inner {width:320px;margin:0 auto}
	.game_area {margin-left:-11px}
	.machine_area {margin-left:-11px}
}

/* ----------------------------------------------------------------
					탭2 - 기획전
-----------------------------------------------------------------*/
.mid_banner {position:relative;width:100%;margin:0 auto 35px;text-align:center;background:#fbf9e2}
.mid_banner .tx_msg {position:relative;display:block;padding:30px 0;overflow:hidden;z-index:10;font-size:15px;letter-spacing:-1px;line-height:18px;color:#524527}
.mid_banner .tx_msg>strong {display:block;margin-top:8px;font-weight:bold;font-size:21px;letter-spacing:-.8px;color:#524527}

.pro_itemlist {overflow:hidden;clear:both; text-align:center;background-color:#fff;}
.pro_itemlist .item_group {padding:40px 0;}
.pro_itemlist .item_group:nth-child(even) {background:#eae6e7;}

.pro_itemlist h3 { font-size: 14px; color: #666; line-height: 1; text-align: center; letter-spacing: -1.5px; margin-bottom:18px;}
.pro_itemlist h3 strong { display: block; line-height: 1; color: #1b1b1b; font-size: 22px; letter-spacing: -2.5px; font-weight: bold; margin-top: 6px;}
.pro_itemlist h3 strong em {color: #f78256;}
.pro_itemlist h3 .deco_line {font-size: 0; text-align: center; line-height: 0; margin-bottom: 15px;}
.pro_itemlist h3 .deco_line span {display: inline-block; width: 20px; height: 5px;}
.pro_itemlist h3 .deco_line span.color1 {background-color: #ff7157;}
.pro_itemlist h3 .deco_line span.color2 {background-color: #ffd161;}
.pro_itemlist h3 .deco_line span.color3 {background-color: #6ac488;}
.pro_itemlist h3 .deco_line span.color4 {background-color: #60a7eb;}

.pro_itemlist ul.pro_tabs {overflow:hidden;position:relative;width:100%; max-width:320px;margin:0 auto 15px; display:block; padding: 0 19px;}
.pro_itemlist ul.pro_tabs > li {display:block;float:left;text-align:center;width:49%; margin-right:2%; margin-bottom:5px;}
.pro_itemlist ul.pro_tabs > li:nth-child(even){margin-right:0;}
.pro_itemlist ul.pro_tabs > li > a {display:block; position:relative; width:100%;padding:7px 0; font-size:13px; color:#fff; background:#cacaca; letter-spacing:-1px;text-align: center;}
.pro_itemlist ul.pro_tabs > li.active > a {background-color:#a3ad3f; color:#fff;}

/* 상품리스트 */
.tab_content {overflow:visible;width:282px;margin:0 auto;}
.itemlist {overflow:visible;width:100%;text-align:center;}
.itemlist .items {overflow:hidden;width:282px;margin: 0 auto;outline:none}
.itemlist .items .item {float:left;width:136px;height:210px;margin:0 10px 0 0;}
.itemlist .items .item:nth-child(2n) {margin-right:0;}
.itemlist .items .item > a{display:block; outline:none;}
.itemlist .items .item .thumb {display:block;position: relative;width:136px;height:136px;margin-bottom:5px; border: 1px solid #e6e6e6;}
.itemlist .items .item .thumb .soldout {position: absolute;top:50%;left:50%;z-index:100;width:100px;height:100px;margin:-50px 0 0 -50px;font-size:0;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2019/hot_summer/ico_soldout.png);background-size:100px;}
.itemlist .items .item .thumb img {width: 100%;height: 100%;vertical-align:top;}
.itemlist .items .item .pro_info {display:block;text-align:center;}
.itemlist .items .item .pro_info .pro_name {display:block;height:31px;margin-bottom:0;font-size:12px;letter-spacing:-1px;color:#535353;font-family:Malgun Gothic;line-height:15px;font-family:Malgun Gothic;display:-webkit-box;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;-webkit-box-orient:vertical; -webkit-line-clamp:2;}
.itemlist .items .item .pro_info .price {overflow:hidden;display:block;color:#333; font-weight: bold;}
.itemlist .items .item .pro_info .price .price_label {font-size:12px;letter-spacing:-1px;vertical-align:1px;}
.itemlist .items .item .pro_info .price > em {font-weight:600;font-size:17px;letter-spacing:-1.5px;color:#ff4e4e}
.itemlist .items .item .pro_info .price .pro_unit {font-size:12px;margin-left:-2px;vertical-align:1px;}
/* SLICK 공통 */
.itemlist .slick-arrow {position:absolute;top:174px;z-index:10;width:34px;height:45px;border:none;text-indent:-9999em; background-size:10px auto; background-position: center; background-repeat: no-repeat; background-color: rgba(0,0,0,.4);}
.itemlist .slick-prev {left:-24px;background-image: url(http://img.enuri.info/images/event/2021/chuseok/mobile/btn_prev.png); border-radius: 0 4px 4px 0;}
.itemlist .slick-next {right:-24px;background-image: url(http://img.enuri.info/images/event/2021/chuseok/mobile/btn_next.png); border-radius: 4px 0 0 4px;}
.itemlist .slick-dots {display:inline-block;height:10px;margin:10px auto;padding:0 7px;border-radius:15px;background-color:transparent;}
.itemlist .slick-dots li {display:inline-block;overflow:hidden;width:8px;height:10px;margin:7px 2px;}
.itemlist .slick-dots li button {width:6px;height:6px;padding:0;font-size:0;text-indent:-9999px;border-radius:100%;background-color:#000000;vertical-align:top;border:1px solid #000000}
.itemlist .slick-dots li.slick-active button {background-color:transparent;}
.tab_content .btn_more {display: block;width:147px;height:35px;margin:0 auto;background:url(http://img.enuri.info/images/event/2020/newyear/m_btn_more.png) no-repeat 50% 50%;background-size:122px auto; text-indent: -9999px;}


/* ----------------------------------------------------------------
					딤레이어 공통
-----------------------------------------------------------------*/
.pop-layer  {position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000;}
/*기존*/
.popupLayer {position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.popupLayer .dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10100;}
/*new*/
.backdim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}

.popup_box {position:absolute;left:50%;top:50%;overflow:hidden;z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top;margin:0;padding:0;}
.popup_box h4 {height:69px;text-align:center;font-family:Malgun Gothic;font-size:22px;font-weight:normal;line-height:66px;color:#fff;letter-spacing:-0.75px;background-color:#0182ea;}
.popup_box .layclose {position:absolute;right:19px;top:19px;width:30px;height:30px;background:url(http://img.enuri.info/images/event/2021/chuseok/btn_lay_close.png) center center no-repeat;background-size:15px;}

/* 당첨 레이어 */
.vote_box {position:absolute; left:50%; top:50%; z-index:10200; width:420px; height:570px; margin:-285px 0 0 -210px; padding:0;}
.vote_box .inner {position:relative; width:100%; height:100%;}
.vote_box .inner .vote_img {display:block;}
.vote_box .layclose {position:absolute; right:12px; top:12px; width:30px; height:30px; font-size:0; text-indent:-9999px; background-image:url(http://img.enuri.info/images/event/2020/summer_pro/w_btn_close.png);background-repeat:no-repeat}

/* 상품 결과 팝업 */
#play_result .popup_box {width:260px;height:320px;margin-top:-160px;margin-left:-130px;border:0;background:transparent}
#play_result .popup_box .layclose {position:absolute;right:0;top:0;width:44px;height:44px;background:transparent}
#play_result .result_img {width:100%;height:100%;vertical-align:top}

/* 응모권 레이어 */
#play_coin .popup_box {overflow:visible;width:210px;height:285px;margin-left:-105px;margin-top:-143px;border:0;background:transparent}
#play_coin .popup_box .layclose {right:5px;top:5px;width:30px;height:30px;}

/* 딤레이어 : 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;height:283px;margin-left:-205px;margin-top:-142px;border:1px solid #0182ea;border-top:0;background:#fff;}
.onlyapp .inner {width:377px;padding:22px 16px 0;line-height:1.5;font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center;line-height:1.2;padding-bottom:25px;font-size:18px;color:#393939;letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-weight:bold;font-size:14px;color:#2366aa;letter-spacing:-0.5px;margin:0 0 5px 1px;padding-left:10px;background:url(http://img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px;padding:0 20px;text-align:left;font-family:Malgun Gothic;font-size:16px;color:#bfbfbf;letter-spacing:-0.5px;height:40px;line-height:36px;background:0;border:1px solid #0182ea;border-right:0;box-sizing:content-box;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px;color:#7f7f7f;letter-spacing:-0.5px;margin-left:2px;padding-left:6px;background:url(http://img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute;right:0;top:0;width:123px;height:42px;background-image:url(http://img.enuri.info/images/event/2016/template/btn_lay_send2.gif);}

/* 가이드팝업 - 유의사항 */
.guide {width:800px; height:400px; margin-top:-200px;margin-left:-400px;border:1px solid #0e151c;border-top:0;background:#fff;}

.guide.entry {height:589px;margin-top:-294px ;text-align:center;color:#333;}
.guide.entry strong {font-weight:bold;font-size:30px;font-weight:normal;}
.guide.entry .tip { font-size:24px;}
.guide.entry .tip strong  {color:#ff0200;}
.guide h4 {height:69px;text-align:center;font-size:32px;font-weight:normal;line-height:70px;color:#fff;background-color:#0e151c ;}
.guide .inner {padding:20px;}
.guide .layentry {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/install/btn_lay_entry.gif);}
.guide .laysubmit {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute;right:33px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.guide dl dd.emp {color:#f00;}
.guide .tb {width:100%;margin:15px 0;}
.guide .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse;}
.guide .tb table th, .guide .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333;}
.guide .tb table th {background:#f0f0f0;}
.guide .tb table td.savepr {width:100px;text-align:right;}

#notetxt2 .guide dl {margin-bottom:10px;font-size:14px;}
#notetxt2 .guide dl:last-child {margin-bottom:30px;}
#notetxt2 .guide dt {margin-bottom:3px;font-weight:bold;line-height:20px;padding-top:5px;}
#notetxt2 .guide dd {padding-left:10px;line-height:24px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
#notetxt2 .guide dd ul li {font-size:13px;color:#666;background:none;}

/* 딤레이어 : emoney */
.emoneypop {width:377px;height:452px;margin-left:-188px;margin-top:-226px;border:1px solid #636363;background:#eaeaea;}
.emoneypop h4 {height:43px;line-height:41px;font-size:20px;letter-spacing:-0.5px;font-weight:bold;color:#fff;background:#202020;}
.msgarea {width:377px;height:217px;overflow:hidden;}
.msgarea.bggrn { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg1.gif) no-repeat 0 0;}
.msgarea.bgpup { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg2.gif) no-repeat 0 0;}
.msgarea.bgnavy { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg3.gif) no-repeat 0 0;}
.msgarea.bgpink { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg4.gif) no-repeat 0 0;}
.msgarea.bgblk { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg5.gif) no-repeat 0 0;}
.msgarea .message {height:80px;padding:86px 35px 0 35px;overflow:hidden;font-size:20px;color:#ffffff;letter-spacing:-0.5px;}
.msgarea .icon { text-align:center;line-height:25px;font-family:Malgun Gothic, '맑은고딕';}
.icon.bubble  {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say1.png) no-repeat 50% 20px;}
.icon.bell {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say2.png) no-repeat 50% 20px;}
.icon.owl {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say3.png) no-repeat 50% 20px;}
.icon.chick {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say4.png) no-repeat 50% 20px;}


/* 팝업 추가 css */
#notetxt1 .popup_box.guide { width: 800px; height: 600px; margin-top:-300px; margin-left:-400px;}
#notetxt1 .popup_box.guide .inner { height: 473px; overflow: auto;}

#notetxt2 .popup_box.guide { width: 800px; height: 400px; margin-top:-200px; margin-left:-400px;}
#notetxt2 .popup_box.guide .inner { height: 473px; overflow: auto; }

#notetxt3 .popup_box.guide { width: 800px; height: 600px; margin-top:-300px; margin-left:-400px;}
#notetxt3 .popup_box.guide .inner { height: 530px; overflow: auto;}

#play_result .popup_box.guide { width: 260px; height: 320px; margin-top:-160px; margin-left:-130px; border:none; }
#play_result .popup_box.guide .layclose { position: absolute; right: 15px; top: 12px; width: 29px; height: 29px; background-image: url("//img.enuri.info/images/event/2022/btn_lay_close_black@s30_a40.png"); }
#play_result .popup_box img {width: 100%;}

.popup_inner_tit {font-size: 16px;font-weight: bold;margin-bottom: 3px;color:#222;}
.list_mb5 > li{margin-bottom:5px;}
/* 대쉬 형태 리스트 */
.list_hyphen > li {position:relative;list-style: none;padding-left: 15px;font-size: 14px;}
.list_hyphen > li:before {content:"";display:block;width: 5px;border-top:1px solid;position:absolute;top:10px;left:2px;}
/* 닷 형태 리스트 */
.list_dot > li {position:relative;list-style: none;padding-left: 15px;font-size: 14px;}
.list_dot > li:before {content: "";display: block;width: 0px;height: 0px;border: 2px solid;border-radius: 50%;position: absolute;top: 8px;left: 3px;}

.popup_inner_table {width: 100%;border-collapse: collapse;border-spacing: 0;}
.popup_inner_table tr th,
.popup_inner_table tr td {border: 1px solid #ddd;width: 200px;padding: 4px 0;font-size: 14px;text-align: center;}
.popup_inner_table tr th {background-color: #eee;}

/* ----------------------------------------------------------------
					에누리혜택 공통
-----------------------------------------------------------------*/
.otherbene {padding:40px 0 35px;background:#75754c}
.otherbene .contents {width: 320px;margin:0 auto;}
.otherbene h3 {font-size:20px;color:#fcffa3;line-height:1;letter-spacing:-2px;margin:0 0 20px;text-align:center;}
.otherbene h3 strong {display:block;margin-top:5px;font-size:33px;letter-spacing:-2.5px;color:#fbf9e2}
.otherbene .banlist {width:300px;margin:0 auto;overflow:hidden;}
.otherbene .banlist li {float:left;width:145px; height:120px; margin-bottom:10px;margin-right:10px;}
.otherbene .banlist li:nth-child(even){margin-right: 0;}
.otherbene .banlist li {background-size: cover; background-position: center;}
.otherbene .banlist li a {position:relative; display:flex; justify-content: center;align-items: center; flex-wrap:wrap; text-align: center; height: 100%; width: 100%;  flex-direction: column; letter-spacing: -1px; text-decoration: none; color:#fff; background-color: rgba(0,0,0,.65);}
.otherbene .banlist li a > * {flex:0 0 auto; width: 100%; text-decoration: none;}

.otherbene .banlist li:nth-child(1) {background-image: url("//img.enuri.info/images/event/2021/winter_pro/pc_otherbene_ban1.jpg?v=2");}
.otherbene .banlist li:nth-child(2) {background-image: url("//img.enuri.info/images/event/2021/summer_pro/pc_otherbene_ban2.jpg?v=3");}
.otherbene .banlist li:nth-child(3) {background-image: url("//img.enuri.info/images/event/2021/summer_pro/pc_otherbene_ban3.jpg?v=3");}
.otherbene .banlist li:nth-child(4) {background-image: url("//img.enuri.info/images/event/2021/winter_pro/pc_otherbene_ban4.jpg?v=3");}


.otherbene .banlist li a > div.tx1 {font-size: 12px;margin-top: 15px;}
.otherbene .banlist li a > div.tx2 {font-size: 16px;font-weight: bold; margin-bottom:10px;}
.otherbene .banlist li a .comm_btn {width:74px; margin:0 auto; text-align: center;}
.otherbene .banlist li a .comm_btn img {width: 100%;}

/* 200703 이전 프로모션 적용되는 CSS -> 모든 프로모션 개편시 삭제 */
/* 디자인상 안맞아 클래스변경후 재작업 */
.evt_slide{position:relative;border-bottom:1px solid #ccc;background-color:#fff;display:none}
.evt_slide--head{background:#222;line-height:40px;color:#fff;font-size:16px;text-align:center;letter-spacing:-1px;text-align:center}
.evt_slide--cont{margin:0 auto;padding:20px 10px;box-sizing:border-box;letter-spacing:-1px;color:#535353;font-size:12px;text-align:left;}
/* .evt_slide--cont .evt_slide--continner {} */
.evt_slide--cont .evt_slide--continner .htit {font-size:14px;font-weight:600;margin-bottom:10px;color:#222;}
.evt_slide--cont .evt_slide--continner .noti {font-size:11px;}

.evt_slide--cont .evt_slide--continner dl{margin-top:16px;margin-bottom:15px;line-height:22px}
.evt_slide--cont .evt_slide--continner dl:first-of-type{margin-top:0}
.evt_slide--cont .evt_slide--continner dl dt{padding-bottom:3px;color:#222;font-size:13px;font-weight:500;font-weight:bold;}
.evt_slide--cont .evt_slide--continner dl dd ul li {position:relative;margin-left:2px;line-height:1.4;padding:2px 0 2px 8px;/* background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 8px;background-size:2.5px; */}
.evt_slide--cont .evt_slide--continner dl dd ul li:before {content:"";position:absolute;width:3px;height:3px;border-radius:50% 50%;left:0;top:6px;background-color:#222}
.evt_slide--cont .evt_slide--continner dl dd ul li.stress:before {background-color:#ff2424}
.evt_slide--cont .evt_slide--continner dl dd ul li .indent {padding-left:8px;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub {margin-bottom:5px;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub:last-child {margin-bottom:0;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li{position:relative;padding-left:0;background:none;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li:before {display:none;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li:first-child{margin-top:0}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li strong{font-weight:500;color:#222}
.evt_slide--cont .evt_slide--continner .stress{color:#ff2424}
.evt_slide--cont .evt_slide--continner li.stress:before{background-color:#ff2424}
.evt_slide--cont .evt_slide--continner .gray{color:#343434}
.evt_slide--cont .evt_slide--continner li .evt_noti_tb {margin-top:5px;}
.evt_slide--cont .evt_slide--continner .evt_noti_tb th,
.evt_slide--cont .evt_slide--continner .evt_noti_tb td{border:1px solid #ddd;max-width:200px;padding:0;font-size:11px;text-align:center}
.evt_slide--cont .evt_slide--continner .evt_noti_tb th{background-color:#eee}
.evt_slide--cont .evt_slide--continner .evt_noti_tb td .stress {font-size:11px;line-height:14px;margin-bottom:3px;color:#e91030}
.evt_slide--cont .evt_slide--continner .evt_noti_tb + ul{margin-top:16px}



/* 200703 이전 프로모션 적용되는 CSS -> 모든 프로모션 개편시 삭제 */
.evt_slide--cont .list__event li{line-height:20px;position:relative}
.evt_slide--cont .list__event > li{padding-left:10px;margin-top:4px}
.evt_slide--cont .list__event > li:before{content:"";position:absolute;width:2px;height:2px;background-color:#222;border-radius:50% 50%;top:9px;left:4px;}
.evt_slide--cont .list__event > li:first-of-type{margin-top:0}
.evt_slide--cont .list__event > li > ul > li{padding-left:12px}
.evt_slide--cont .list__event > li > ul > li:before{content:"-"}
.evt_slide--cont .txt{text-align:center; color:#333333; letter-spacing:-1.3px;text-align:left;font-size:11px; letter-spacing: -1px;}
.evt_slide--cont .txt em{font-weight:bold; }
.evt_slide--cont .txt_indent > li{padding-left:8px;margin-top:5px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 2px -42px no-repeat;background-size:50px;}
.evt_slide--cont .txt_indent > li:first-child{margin-top:0px;}
.evt_slide--cont .txt_indent > li.no_bul{background:none;}
.evt_slide--cont .stress {color:#e91030;}
.evt_slide--cont strong{display:block;color:#333;margin-top:20px;margin-bottom:5px;font-size:12px;}
.evt_slide--cont strong:first-child{margin-top:0px;}
.evt_slide--cont .inner{width:auto; padding-left:8px; margin:0; margin-top:10px; }
.evt_slide--cont .inner li{padding-left:1em;text-indent:-1em;margin-top:5px;}
.evt_slide--cont .inner li:first-child{margin-top:0px;}
.evt_slide--cont .tb {margin-top:15px;}
.evt_slide--cont .tb table {width:100%; border-left:1px solid #333; border-top:1px solid #333;}
.evt_slide--cont .tb table .col1 {width:65%;}
.evt_slide--cont .tb table .col2 {width:35%;}
.evt_slide--cont .tb table th,
.evt_slide--cont .tb table td {text-align:center;padding:3px 20px; font-size:11px; word-break:keep-all; border-right:1px solid #333; border-bottom:1px solid #333; }
.evt_slide--cont .tb table th {padding:3px 5px; background:#f0f0f0;}
.evt_slide--foot{padding:0 10px 20px}
.evt_slide--cont .evt_slide--foot{padding:10px 0 0 0}
.evt_slide--foot .btn__evt_confirm{display:block;width:100px;height:30px;margin:0 auto 0;font-size:14px;color:#fff;line-height:30px;text-align:center;vertical-align:middle;background-color:#333}

.evt_slide .evt_notice--foot {}
.evt_slide .evt_notice--foot button {display: block;width: 100px;height: 30px;margin: 0 auto 0;font-size: 14px;color: #fff;line-height: 30px;text-align: center;vertical-align: middle;background-color: #333;}


/*레이어*/
.layer_back{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index:100005;}
.layer_back.appinfo__layer {display:none; position:absolute; top:200px; margin-top:0;}
.layer_back.appinfo__layer .btn_close {padding-bottom:30px;}
.btn_close{text-align:center; }
.btn_close button {background:#22211e; color:#ffffff; width:100px; line-height:32px; border:none; text-align:center; font-weight:bold; font-size:12px;}
.appLayer{width:300px;padding-bottom:15px; background:#ffffff; border:1px solid #0182ea; left:50%; top:50%; position:absolute; z-index:1000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
.appLayer h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.appLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.appLayer .btn_close button{background:#22211e; color:#ffffff; width:100px; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
.appLayer .txt{text-align:center; padding:15px 0; color:#333333;  font-size:16px; letter-spacing:-1.3px;}
.appLayer .txt strong{color:#ff2424; display:block; }
.appLayer .txt em{font-weight:bold; }

/*유의사항*/
.noteLayer {width:300px; background:#fff; border: 1px solid #025e9a; margin: -20px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:10010;}
.layer_back.appinfo__layer .noteLayer {margin-bottom:30px;}
#appinfo .noteLayer{top:0}
.noteLayer h4 {background:#025e9a; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.noteLayer h5 {padding:5px 0 0 10px; margin-bottom:-10px}
.noteLayer .close {position:absolute; right:0px; top:0px; padding:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 10px 10px no-repeat; background-size:50px; text-indent:-9999em; }
.txtlist {padding:15px 10px; color:#333;}
.txtlist li {position:relative; font-size:10px; padding:0 0 5px 8px; word-break:keep-all;}
.txtlist li:after {content:"•"; position:absolute; left:0; top:0; }
.txtlist li .stress {color:#f00;}