.wrap { width: 100%; }
.inner { width: 970px; margin: auto;}

/* top-bar */
#top-bar { background:#333333; height: 45px; width: 100%; line-height: 45px; }
#top-bar .topbar-inner { width: 1290px; margin: auto;padding: 0px 10px; }
#top-bar .benefit { display: flex; flex-wrap: wrap; justify-content: space-between; }
#top-bar .benefit li { flex: 0 0 auto; color: #f5f5f5; padding-left: 30px; background-repeat: no-repeat; font-size: 15px; flex-wrap: wrap;}
#top-bar .benefit .name {background-image: url(../img/topbar-1.png); background-position: 0px 9px; }
#top-bar .benefit .point { background-image: url(../img/topbar-2.png); background-position:0px 11px; }
#top-bar .benefit li a { display:inline-block; color: #f9f9f9; }
#top-bar .benefit li em { font-weight: 500; font-size: 18px; }
#top-bar .benefit li a i { font-size: 22px; vertical-align:-2px; }

/* visual */
#content .visual { width: 100%; height: 690px; background-image: url(../img/visual-bg.png); background-repeat: no-repeat; background-position: 50% 0; position: relative;}
#content .visual .share { position: absolute; left: 25%; top: 2%; }

/* visual animation */
#content .visual .visual-txt { width: 570px;margin: auto;height: 307px; padding-top: 105px; }
#content .visual .visual-txt .welcome { animation: welcome 0.5s linear;position: absolute;  opacity: 0; animation-fill-mode: forwards;}
#content .visual .visual-txt .first { animation: first1 0.7s linear;position: absolute;  opacity: 0; animation-fill-mode: forwards; animation-delay: 0.5s;}
#content .visual .visual-txt .special {animation: special 0.5s linear;position: absolute;  opacity: 0; animation-fill-mode: forwards; animation-delay: 1.2s; }
#content .visual .visual-txt .first2 {animation: first2 0.5s linear;position: absolute;  opacity: 0; animation-fill-mode: forwards; animation-delay: 1.6s;}
#content .visual .visual-txt .first3 {animation: first3 0.5s linear;position: absolute;  opacity: 0; animation-fill-mode: forwards; animation-delay: 1.65s;}
#content .visual-pic { width: 900px; height: 330px; margin: auto;}
#content .visual-pic .people {animation: people 1s linear;position: absolute; opacity: 0; animation-fill-mode: forwards; animation-delay: 2.4s; }

@keyframes welcome {
    0%{left: 37%; top: 18%; opacity: 0.2;}
    25%{left: 36.5%; top: 18%; opacity: 0.4;}
    50%{left: 36%; top: 18%; opacity: 0.6;}
    75%{left: 35.5%; top: 18%; opacity: 0.8;}
    100%{left: 35%; top: 18%; opacity: 1;}
}
@keyframes first1 {
    0%{left: 37%; top: 25%; opacity: 0.2;}
    25%{left: 36.5%; top: 25%; opacity: 0.4;}
    50%{left: 36%; top: 25%; opacity: 0.6;}
    75%{left: 35.5%; top: 25%; opacity: 0.8;}
    100%{left: 35%; top: 25%; opacity: 1;}
}
@keyframes special {
    0%{left: 37%; top: 40%; opacity: 0.2;}
    25%{left: 36.5%; top: 40%; opacity: 0.4;}
    50%{left: 36%; top: 40%; opacity: 0.6;}
    75%{left: 35.5%; top: 40%; opacity: 0.8;}
    100%{left: 35%; top: 40%; opacity: 1;}
}
@keyframes first2 {
    0%{left: 34.9%; top: 25%; opacity: 0.2;}
    25%{left: 34.8%; top: 25%; opacity: 0.4;}
    50%{left: 34.7%; top: 25%; opacity: 0.6;}
    75%{left: 34.6%; top: 25%; opacity: 0.8;}
    100%{left: 34.5%; top: 25%; opacity: 1;}
}
@keyframes first3 {
    0%{left: 46.5%; top: 25%; opacity: 0.2;}
    25%{left: 46.4%; top: 25%; opacity: 0.4;}
    50%{left: 46.2%; top: 25%; opacity: 0.6;}
    75%{left: 46.1%; top: 25%; opacity: 0.8;}
    100%{left: 46%; top: 25%; opacity: 1;}
}

@keyframes people 
{
    0%{left: 26%;; top: 49%; opacity: 0.2;}
    25%{left: 26%;; top: 48.5%; opacity: 0.4;}
    50%{left: 26%;; top: 48%; opacity: 0.6;}
    75%{left: 26%; top: 47.5%; opacity: 0.8;}
    100%{left: 26%; top: 47% ; opacity: 1;}
}

/* tab-bar */
#content .tab-bar { background: #000949;}
#content .tab-bar .tab-menu { display: flex; height: 85px; line-height: 85px; flex-wrap: wrap; }
#content .tab-bar .tab-menu li { width: 323px; text-align: center; flex: 0 0 auto; }
#content .tab-bar .tab-menu .inv {width: 324px;}
#content .tab-bar .tab-menu .tab { display: block; font-size: 24px; color: #ffff; opacity: 0.5; }
#content .tab-bar .tab-menu .tab:hover { opacity: 0.8 ;}
#content .tab-bar .tab-menu .new { background: #d95b34;}
#content .tab-bar .tab-menu .on{ opacity: 1; pointer-events: none;}


/* join */
#content .join { width: 100%; position: relative; background: #d95b34;padding-bottom: 70px;}
#content .join .inner {}
#content .join-title { padding-top: 70px;}
#content .join-title img {margin: auto;width: 970px;}
#content .join-box {  }
#content .join-box ul { display:flex ;flex-wrap: wrap; height:75px; width: 550px; margin: auto; }
#content .join-box ul li a {width: 253px;  background: #000949;flex: 0 0 auto; display: block; font-size: 26px; color: #ffff; text-align: center; line-height:75px; margin-right: 20px;}
#content .join-box .box-saving a {background-image: url(../img/join-saving.png); background-repeat: no-repeat; background-position: 27% 55%; padding-left: 12%;}

/* 팝업 내용 공통 */
#content .notice-popup .notice dt { font-weight: 500; font-size: 19px; margin-bottom: 5px;}
#content .notice-popup .notice dd { font-size: 17px ; padding-left: 10px; margin-bottom: 2px; }
#content .notice-popup .notice dd::after { display:inline-block; content: ""; width: 4px; height: 4px; border-radius: 25px 25px; background: #000000; position: absolute; left: 4%; margin-top: 10px; }
#content .notice-popup .notice { padding-bottom: 30px; }
#content .notice-popup .notice .indent { text-indent: 5px; }
#content .notice-popup .notice .indent::after {display: none;}
#content .notice-popup .notice dd em{color: red; }

/* notice-area */
#content .notice-area {width: 100%; height: 100%; position:fixed; background: rgb(1,1,1,0.5);z-index: 100; left: 0; right: 0; top: 0;}
#content .notice-area button {border:none; cursor: pointer;}
#content .notice-popup { width: 900px; height: 650px; background: #ffff;position: absolute;top: 100%; opacity: 1;transition: all 500ms; margin-left: -450px;}
#content .notice-area .up { top: 50%; opacity: 1; margin-top: -325px; left: 50%;}
#content .notice-popup .notice-header { background: #000000; height: 80px; line-height: 80px; }
#content .notice-popup .notice-header h2 { font-size: 35px; text-align: center; color: #ffff;font-weight: 600;}
#content .notice-popup .notice-header .close { color: #ffff; font-size: 35px; position: absolute; right: 5%;top: 4%; background: #000000;;}
#content .notice-popup .notice-body { padding: 20px 35px;}
#content .notice-popup .notice-body .benefit{ margin-bottom: 15px; }
#content .notice-popup .notice-button { width: 220px ; height: 55px; background: #000000; display: block; margin: auto; margin-top: 30px;text-align: center; line-height: 50px; color: #ffff; font-size: 20px; border: none; }

/* 꼭!확인하세요 공통 */
#content .essential{padding-top: 50px;}
#content .essential .notice-more { display: block; color: #ffff; font-size: 20px; font-weight: 200; letter-spacing: -2px; text-align: center; background-image: url(../img/join-notice.png); background-repeat: no-repeat; background-position: 79% 50%; width: 250px;margin: auto; cursor: pointer;}
#content  .essential .notice-more::after { display: block; content: ""; width: 128px; height: 1px; background: #ffff;margin-left: 29%;}

/* e-money */
#content .e-money { width: 100%; position: relative; background: #2c5fd7; padding-bottom: 70px; }
#content .e-money .inner {}
#content .e-money .emoney-title { padding-top: 70px;}
#content .e-money .emoney-title img { width: 100%; margin: auto;}
#content .emoney-box ul { display:flex ;height:75px; width: 550px; margin: auto;flex-wrap: wrap; }
#content .emoney-box ul li a {width: 253px;  background: #000949;flex: 0 0 auto; display: block; font-size: 26px; color: #ffff; text-align: center; line-height:75px; margin-right: 20px;}

/* various */
#content .various { width: 100%; background:#000948 ; padding-bottom: 70px; position: relative;}
#content .various .inner { background-image: url(../img/various-bg.png);background-repeat: no-repeat;background-position: 50% 10%; }
#content .various .various-benefit { width: 970px; height: 870px; padding-top: 240px;}
#content .various .benefit-list { width: 640px; height: 630px; margin: auto; display: flex; flex-wrap: wrap;}
#content .various .benefit-list li { height: 315px; background-repeat: no-repeat; background-position: 0 0; width:45%; margin-right: 30px; flex: 0 0 auto; font-size: 22px;   text-align: center; letter-spacing: -2px; }
#content .various .benefit-list li .won { display:block; padding-top:95px}
#content .various .benefit-list li .won .txt {display:block;width:100%; height: 100%; color: #585858;transition: all .5s;}
#content .various .benefit-list li .won .txt em {display: block; color: #000000; font-size: 34px; font-weight: 500;}
#content .various .benefit-list li .won img {padding-top: 20px; transform:translateY(10px);transition: all .5s;opacity: 0;} 
#content .various .benefit-list li .won.show .txt {transform:translateY(-10px)}
#content .various .benefit-list li .won.show img {opacity:1;transform:translateY(0)}

#content .various .benefit-list .store { background-image: url(../img/use\ bg.png); }
#content .various .benefit-list .attend { background-image: url(../img/attend\ bg.png); }
#content .various .benefit-list .stamp {  background-image: url(../img/attend\ bg.png); }
#content .various .benefit-list .event { background-image: url(../img/use\ bg.png); }


/* swiper */
#content .swiper-slide-active {height: 500px;}
#content .swiper-wrap { padding-top:50px; padding-bottom: 50px;}
#content .swiper-wrap img { padding-left: 11%; }
#content .swiper-wrap .swiper-button-next { color: #f7ddd5; position: absolute;right: 0;top: 50%;}
#content .swiper-wrap .swiper-button-prev { color: #f7ddd5; position: absolute;left: 0; top: 50%;}
#content .swiper-wrap .swiper-pagination { position: absolute; top: 91%;}
#content .swiper-wrap .swiper-pagination-bullet {cursor: pointer; width: 13px;height: 13px;border: 2px solid #fff; background: rgb(0,0,0,0); margin-right: 9px; opacity: 1;}
#content .swiper-wrap .swiper-pagination-bullet-active { background: #f7ded6;}
