@charset "utf-8";
/************************************************************************
 * 파일명 : intro_quote.css
 * 설명 : 에누리 시세조회, 내차팔기 소개페이지
 * 작성자  : 박현원
 * 작성일 : 2022.02.21
************************************************************************/
/* Common */
.border-box, .border-box *, .border-box *:before, .border-box *:After { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.section { margin-bottom: 0;border-top: none;border-bottom: none;background-color: #fff;}
.section_inner{width:100%;margin:0 auto}
.container{padding-top:44px;width: 100%;overflow: hidden}
.container .intro h3:after{display:none}

/* ----------------------------------------------------------
                @소개페이지 - 시세조회
-----------------------------------------------------------*/
.quote_intro img {vertical-align: top; max-width:100%;}
.quote_intro .inner_wrap {position:relative; width: 360px; margin:0 auto;}

.quote_intro_top_banner {position:relative; margin-bottom: 0;}
.quote_intro_top_banner a {position:absolute; bottom:0; left:0; width:100%; line-height: 48px; text-align: center; font-size: 16px; color:#fff; background-color: #0073be;}
.quote_intro_top_banner a.fixed_bottom {position:fixed; bottom:0; left:0; width:100%; z-index: 5;}


.quote_intro_content {margin-bottom:0; border-bottom:none;}
.quote_intro_content .intro_cont_list > li + li {border-top:1px solid #dbdbdb;}
.quote_intro_content .intro_cont_list > li:nth-child(2) {background-color: #fcfcfc;}

.quote_intro_mid_banenr {background-color: #fff;}
.quote_intro_mid_banenr a {display: block;}

.quote_intro_link {padding:30px 0 24px; background-color: #fff;}
.quote_intro_link .inner_wrap {padding:0 16px;}
.quote_intro_link .btn_link_mycar_quote {position: absolute; bottom: 34px; left:50%; margin-left:-112px;  width:240px; height:48px; line-height: 48px; background-color: #39465b; color:#fff; font-size: 16px; color:#fff; text-align: center; border-radius: 25px;}
