@charset "utf-8";

/************************************************************************
 * 파일명 : intro.css
 * 설명 : 에누리 신차견적 - 소개페이지 (M)
 * 작성자  : 신왕섭
 * 작성일 : 2020.11.20
************************************************************************/

/* 인트로페이지 예외처리 */
#header #nav.fixed_top{position: absolute;top:auto;}

/* Common */
.section_inner{width:100%;margin:0 auto}
.container{padding-top:48px;width: 100%;overflow: hidden}
.container .intro h3:after{display:none}

/* Intro */
.intro{letter-spacing:-.5px}
.intro_top{text-align:center}
.section_tit{background-color:#EBF2FA;height:540px;position:relative}
.section_tit .tx_sub{font-size:16px;line-height:32px;padding-top:46px;display:block;color:#555;letter-spacing:-1px}
.section_tit h2{display:inline-block;margin-top:12px;padding-top:32px;position: relative;font-weight:normal}
.section_tit h2 em{color:#266DCB;font-size:36px;letter-spacing:-2px;line-height:42px;}
.section_tit h2 .tx_tit{position: absolute;top:0;left:2px;right:0px;line-height:32px;color:#333;font-size:20px;/* text-align: justify;-moz-text-align-last: justify;text-align-last: justify; */letter-spacing:4px}
.section_tit .visual{position:absolute;top:245px;left:50%;margin-left:-164px;width:562px;height:278px;background:url(//img.enuri.info/images/newcar/intro/m_intro_visual.png) no-repeat 0 0 / 562px auto;}
.section_tit .visual{-webkit-transition:2s all ease;-o-transition:2s all ease;transition:2s all ease;opacity:0;-webkit-transform:translate(40px,-7px);-ms-transform:translate(40px,-7px);transform:translate(40px,-7px)}
.section_tit .visual.show{opacity:1;-webkit-transform:translate(0,0);-ms-transform:translate(0,0);transform:translate(0,0)}
.section_summ{background-color:#9BC2F6;height:500px;}
.section_summ h3{padding-top:46px;line-height:34px;color:#24418A;font-size:28px;letter-spacing:-1px;font-weight:normal}
.section_summ .tx_sub{display:block;font-size:16px;line-height:22px;margin-top:22px;color:#fff}
.section_summ dl{width:calc(100% - 20px);height:140px;position: relative;border-radius:6px;margin:28px auto 0;background-color:#fff;overflow:hidden}
.section_summ dl:before{content:"";position: absolute;top:0;left:0;right:0;bottom:0;border:4px solid #237DF3;border-radius:6px;}
.section_summ dt{position:absolute;top:24px;width:50%;font-size:15px;line-height:20px;color:#333}
.section_summ dl dt{right:0}
.section_summ dl dt:first-child{left:0}
.section_summ dd{float:left;position:relative;width:50%;padding-top:76px;height:42px;line-height:42px;font-weight:bold;font-size:28px;color:#237DF3}
.section_summ dl dt:first-child + dd:after{content:"";position: absolute;top:30px;height:80px;border-right:1px solid #ccc;right:0}
.section_summ .tx_source{display:block;margin-top:16px;color:#237DF3;font-size:14px;line-height:24px;opacity:.9}
.section_summ .tx_source .tx_date{display:block;color:#fff;font-size:12px;line-height:24px;opacity:.75}

/* LNB */
/* .intro_cont{} */
.section_head{background:#24418A;padding:40px 0;text-align:center}
.section_head h3{line-height:32px;font-size:24px;color:#fff;letter-spacing:-1px;font-weight:normal}
.section_head .lnb_wrap{margin-top:18px;height:40px;}
.section_head .lnb_inner{height:40px;}
.section_head .lnb_inner .swiper-container{width:100%;height:40px}
.section_head .lnb_inner .swiper-slide{width:110px;text-align:center;background-color:#4771aa;}
.section_head .lnb_wrap .lnb_inner .swiper-slide.on{background-color:#237df3!important}
.section_head .lnb_inner .swiper-slide a{display:block;line-height:40px;font-size:14px;color:#fff;border-left:1px solid #237DF3}
.section_head .lnb_inner .swiper-slide:nth-child(1) a{border-left-color:transparent}
.section_head .lnb_wrap.sticky .lnb_inner{position:fixed;top:0;left:0;right:0;z-index:100;background-color:#24418A;-webkit-transition:.3s transform ease;-o-transition:.3s transform ease;transition:.3s transform ease}
.section_head .lnb_wrap.sticky .lnb_inner .swiper-slide{background-color:#24418A;}
.section_head .lnb_wrap.sticky .lnb_inner .swiper-slide a{border-color:transparent}

/* Content */
/* .section_body{} */
.section_body h4{line-height:32px;font-size:24px;color:#344A81;letter-spacing:-1px;font-weight:normal;}
.section_body h4 em{color:#237DF3}
.section_body .section_inner{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0 16px;text-align:left;position: relative;height:100%;}
.section_body .section_inner h4{padding-top:50px}
.section_body .section_inner .tx_sub{display:block;margin-top:10px;font-size:14px;line-height:22px;color:#333}
.section_body .section_inner .tx_sub_noti{display:block;margin-top:8px;line-height:22px;color:#AAAAAA;font-size:12px}
.section_body .section_inner .btn__move{position:absolute;left:16px;right:16px;bottom:56px;height:52px;line-height:54px;font-size:18px;color:#fff;background-color:#237DF3;text-align:center;border-radius:6px;z-index:1}
.section_body .section_inner .btn__move.ready{background-color:#BAC2CE;}

@media (min-width:640px) {  
    .section_tit .visual{margin-left:-250px;-webkit-transition-duration:1s;-o-transition-duration:1s;transition-duration:1s;}  
    .section_head .lnb_inner .swiper-container{width:550px;margin:0 auto}
    .section_body .section_inner{text-align:center}
}

.sec_intro_01{height:584px;}
.sec_intro_01 .section_inner:after{content:"";position: absolute;top:212px;left:50%;margin-left:-160px;width:440px;height:283px;background:url(//img.enuri.info/images/newcar/intro/m_intro_bg_01.png) no-repeat 0 0 / 440px auto }

.sec_intro_02{height:1176px;}
.sec_intro_02 .intro_02_01{height:502px;}
.sec_intro_02 .intro_02_01:after{content:"";position: absolute;top:232px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:281px;height:226px;background:url(//img.enuri.info/images/newcar/intro/m_intro_bg_02-1.png) no-repeat 0 0 / 281px auto }
.sec_intro_02 .intro_02_02{height:673px;}
.sec_intro_02 .intro_02_02:before{content:"";position: absolute;top:0;left:16px;right:16px;border-top:1px solid #CCDBF2}
.sec_intro_02 .intro_02_02:after{content:"";position: absolute;top:222px;left:50%;margin-left:-177px;width:354px;height:300px;background:url(//img.enuri.info/images/newcar/intro/m_intro_bg_02-2.png) no-repeat 0 0 / 354px auto }

.sec_intro_03{height:636px;}
.sec_intro_03 .section_inner:after{content:"";position: absolute;top:228px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:230px;height:258px;background:url(//img.enuri.info/images/newcar/intro/m_intro_bg_03.png) no-repeat 0 0 / 230px auto }

.sec_intro_04{height:674px;}
.sec_intro_04 .section_inner:after{content:"";position: absolute;top:259px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:310px;height:265px;background:url(//img.enuri.info/images/newcar/intro/m_intro_bg_04.png) no-repeat 0 0 / 310px auto }

.sec_intro_05{height:646px;}
.sec_intro_05 .section_inner:after{content:"";position: absolute;top:232px;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%);width:303px;height:263px;background:url(//img.enuri.info/images/newcar/intro/m_intro_bg_05.png) no-repeat 0 0 / 303px auto }

.sec_intro_06{padding:50px 0;text-align:center}
.sec_intro_06 ul{margin:0 16px;overflow:hidden;padding-top:11px;}
.sec_intro_06 ul li{margin:9px 0;padding:178px 0 24px;position:relative;float:left;overflow:hidden;border:1px solid #c8d6e8;background-color:#fff;border-radius:6px;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box}
.sec_intro_06 ul li:before{content:"";position: absolute;top:0;left:0;width:100%;height:178px;background-color:#fbfbfb;background-position:50% 50%;background-repeat:no-repeat;background-size:132px}
.sec_intro_06 .spe_01:before{background-image:url(//img.enuri.info/images/newcar/intro/m_intro_spe_01.png)}
.sec_intro_06 .spe_02:before{background-image:url(//img.enuri.info/images/newcar/intro/m_intro_spe_02.png)}
.sec_intro_06 .spe_03:before{background-image:url(//img.enuri.info/images/newcar/intro/m_intro_spe_03.png)}
.sec_intro_06 h5{font-size:20px;line-height:32px;color:#237DF3;padding-top:16px;font-weight:normal}
.sec_intro_06 .tx_spe{display:block;line-height:20px;font-size:16px;color:#333;margin-top:4px}

.sec_intro_01,
.sec_intro_03,
.sec_intro_05{background-color:#fff}

.sec_intro_02,
.sec_intro_04,
.sec_intro_06{background-color:#eaf2fd}

.service_cont{padding:28px 0;background-color:#000;text-align:center}
.service_cont ul{margin:0 32px;overflow:hidden;height:80px;}
.service_cont ul li{width:33.3333%;height:80px;float:left}
.service_cont ul li a{display:block;width:80px;height:80px;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px solid #fff;border-radius:50%;line-height:80px;font-size:24px;color:#fff;margin:0 auto}
.service_cont .serv_01 a{padding-top:23px;line-height:16px;font-size:13px}
.service_cont .serv_02 a{background:url(//img.enuri.info/images/newcar/intro/m_ico_app_store.png) no-repeat 50% 50% / 36px auto}
.service_cont .serv_03 a{background:url(//img.enuri.info/images/newcar/intro/m_ico_play_store.png) no-repeat 50% 50% / 48px auto}
.service_cont .serv_02 a,
.service_cont .serv_03 a{text-indent:-9999em}
.service_cont .tx_service{display:block;margin-top:20px;line-height:27px;color:#fff;opacity:.75;}