@charset "utf-8";

/************************************************************************
 * 파일명 :lp_fashion.css
 * 설명 : 파인더 목업 CSS
 * 작성자  : 지승호
 * 작성일 :2021.05.03
************************************************************************/

/* 파인더 목업용 CSS */
#wrap {width:375px;}
.mockup_wrap {overflow:hidden;position:relative;position:fixed;top:50%;left:50%;width:375px;height:812px;border-radius:16px;transform:translate(-50%, -50%)}

.mockup_cont {overflow:hidden;position:absolute;top:0;left:50%;width:375px;height:100%;padding-right:20px;margin-left:10px;background-color:#fff;overflow:hidden;overflow-y:scroll;transform:translateX(-50%);background-color:#F6F6F6}

header.m_header {max-width:375px;}

.lp__head {border-bottom:1px solid #E4E8F1; height: 43px;}
.detail_sr {margin-bottom:10px;padding:0;}
.detail_sr .box_inner {border-top:0;border-bottom:1px solid #dfe2ea}

.lp__head .lp__navi .navi__cate:last-of-type {font-weight:bold;color:#222}
.lp__head .lp__navi .navi__cate:last-of-type .txt__cate:after {background:url(http://img.enuri.info/images/mobile_v2/finder/navi__cate-arr.png) 0 0 no-repeat}
.list__util {
    border-top:10px solid #eee;
    padding-bottom: 0;
    border-bottom: 5px solid #EEE;
}
.lay-cate {position:fixed;top:0;left:0;right:0;bottom:0;z-index:100;transform:translateX(-100%);transition:all .4s ease-in-out}
.lay-cate img {width:calc(100% - 3px);max-width:360px;height:auto;vertical-align:top}
.lay-cate.is-unfold {transform:translateX(0)}
.lay-cate .is-fold {position:absolute;top:0;right:1px;width:50px;height:50px}

.lp__cont--fashion {padding-top:0;}
.fashion__head {padding:0; letter-spacing: -1px;border-bottom:1px solid #DFE2EA;background:#fff}
.fashion__source {}
.fashion__source .opt__btn {height:50px;padding:0 10px; border-bottom: 1px solid #dfe2ea;}
.fashion__source .opt__btn ul > li {margin:10px 0;}
.fashion__source .opt__btn ul > li + li {margin-left:4px;}
.fashion__source .opt__btn ul > li .btn {position:relative;height:30px;padding:0 31px 0 13px;border-radius:15px;font-size:13px;color:#222;letter-spacing:-.5px;transition:all .2s ease-in-out}
.fashion__source .opt__btn ul > li .btn:after {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border-radius:15px;border:1px solid #DBDBDB;pointer-events:none;z-index:0}
.fashion__source .opt__btn ul > li .btn:before {content:"";position:absolute;top:6px;right:10px;width:17px;height:17px;background:url(http://img.enuri.info/images/mobile_v2/finder/finder_arr_down.png) 0 0 no-repeat;z-index:1}
.fashion__source .opt__btn ul > li.is--on .btn {padding-right:25px;color:#fff;background-color:#198FF6}
.fashion__source .opt__btn ul > li.is--on .btn:before {content:"";position:absolute;top:5px;right:5px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/finder/finder_sprite.png) 0 0 no-repeat;}
.fashion__source .opt__btn ul > li.is--on .btn:after {border-color:#198FF6;}
.fashion__source .opt__btn ul > li.is--on:nth-child(even) .btn {background-color:#0D68B7}
.fashion__source .opt__btn ul > li.is--on:nth-child(even) .btn:after {border-color:#0D68B7;}
.fashion__source .opt__btn ul > li .btn:active {background-color:rgba(0,0,0, .03)}
.fashion__source .opt__side{float:right;position:relative;}
.fashion__source .opt__side:before {content:"";display:block;position:absolute;top:18px;left:0;width:1px;height:14px;background-color:#eee}
.fashion__source .opt__side button{position: relative;float:left;border:0;outline:0;line-height:50px;color:#555;}
.fashion__source .opt__side button:after{content:"";position: absolute;width:24px;height:24px;left:10px;top:14px;background-image: url(http://img.enuri.info/images/mobile_v2/common_sprite.png);background-repeat: no-repeat;background-size: 360px;}
.fashion__source .opt__side .btn__filter {width:50px;height:50px;}
.fashion__source .opt__side .btn__filter:after{background-position:-200px -185px;left:13px;}


.mockup__prdlist img {max-width:100%;height:auto;vertical-align:middle;}

.finder_wrap {overflow:hidden;position:absolute;top:0;bottom:0;left:50%;right:0;transform:translateX(-50%);width:375px;}
.finder {position:absolute;bottom:0;left:0;right:0; border-radius:16px 16px 0 0;box-shadow:0 0 2rem 0 rgba(41, 48, 66, .1);transition:transform .3s ease-in;background-color:#fff;transform:translate(0, 100%);}
.finder_wrap .dimmed {display:none;position:fixed;top:0;bottom:0;left:0;right:0;background-color:rgba(0,0,0,.3);transition-delay:1s;transition:opacity .3s ease-in}
.finder_wrap.is-shown {z-index:1 !important;}
.finder_wrap.is-shown .dimmed {display:block;}
.finder_wrap.is-shown .finder {transform:translate(0, 0);z-index:1;}

.finder__inner {position:relative;top:0;bottom:0; padding:0;}
.btn_toggle_bar {position:absolute;top:7px;left:50%;width:50px;height:6px;border-radius:3px;background-color:#eee;transform:translateX(-50%)}
.finder__head {display:block;position:relative; margin:0 0 20px; padding:0 16px; white-space: nowrap; font-size: 0; border-bottom: 1px solid #eee;overflow-x: scroll; overflow-y: hidden;}
.finder__head:after {content:"";display:table;clear:both;}
.finder__head > li {position:relative;display: inline-block;margin-right:24px}
.finder__head > li .tab {position:relative;font-size:16px;font-weight:bold;color:#C5CBD2;letter-spacing:-.3px;line-height:1; padding:21px 0 17px}
.finder__head > li.is--on:before {content:"";display:block;width: 100%;height: 2px; background: #198ff6; position:absolute;bottom:-1px;left:0;}
.finder__head > li.is--on .tab {color:#222;}
.finder__head > li .tab.has-choice:after {content:"";display:block;position:absolute;top:-1px;right:-4px;width:4px;height:4px;border-radius:100%;background-color:#198FF6}
.finder__cont {clear:both;}

.finder__cont .finder__swiper {}
.finder__cont .finder__swiper .finder__item {}
.finder__cont .finder__swiper .f_inner__cont {overflow:hidden;overflow-y:auto;position:relative;padding:0; height: 342px;}
.finder__cont .finder__swiper .f_inner__cont h5 {font-size: 14px;color:#222; font-weight: bold; padding:2px 0 5px 4px;}
.finder__cont .finder__swiper .f_inner__cont h5 span {color:#198ff6; font-weight: normal;}
    /* 파인더 > 가격 */
.range__price {display:block;margin-bottom:25px;color:#333;font:bold 28px/29px 'Roboto', 'Apple SD Gothic Neo','Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Helvetica','AppleGothic','Droid sans','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
.range__price .tx_price {display:inline-block;}
.range__price .tx_price--min {color:#666}
.chart__slide {position:relative;}
.chart__slide .chart__img {position:relative;width:100%;height:176px;margin-bottom:20px;border-radius:10px;border:1px solid rgba(0,0,0,.03);background-color:#F8F8F8}
.chart__slide .chart__img img {position:absolute;bottom:0;left:50%;transform:translateX(-50%);}

/* 파인더 > 탭 목록 */
.cate__box {}
.srch_bar {display:block;clear:both;position:relative;width:100%;height:40px;margin-bottom:25px;background-color:#FBFBFB}
.srch_bar:before {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border:1px solid rgba(0,0,0, .05);pointer-events:none}
.srch_bar .ipt-text {display:block;width:calc(100% - 20px);height:100%;padding:0 10px;border:0;background:transparent}
.srch_bar:after {content:"";display:block;position:absolute;top:10px;right:10px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/finder/ico_srch.png) 0 0 no-repeat}
.cate__tit {display:block;clear:both;margin-bottom:10px;font-size:14px;color:#aaa;letter-spacing:-.4px;line-height:20px;}
.cate__list + .cate__tit {margin-top:30px;}
.cate__list {position:relative;}
.cate__list:after {content:"";display:table;clear:both;}
.cate__list li {float:left;margin-right:4px;margin-bottom:8px;}
.cate__list li .btn {position:relative;height:30px;padding:0 13px;border-radius:15px;font-size:13px;color:#333;letter-spacing:-.5px;transition:all .2s ease-in-out}
.cate__list li .btn:after {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border-radius:15px;border:1px solid #DBDBDB;pointer-events:none;z-index:0}
.cate__list li.is--on .btn {color:#198FF6;}
.cate__list li.is--on .btn:after {border-color:#198FF6;}
.cate__list li .btn:active {background-color:rgba(0,0,0, .03)}
.cate__list li .chk {display:inline-block;position:relative;top:-2px;width:24px;height:24px;vertical-align:middle;background:url(http://img.enuri.info/images/mobile_v2/finder/chk_sprite.png) 0 0 no-repeat}
.cate__list li.is--on .chk {background-position:-24px 0}
.cate__list.chk_list li {float:none;width:calc(100% + 30px);margin-left:-15px;margin-right:-15px;border-bottom:1px solid #eee}
.cate__list.chk_list li .btn {font-size:15px}
.cate__list.chk_list li .btn:after {display:none}

.finder__foot {}
.finder__foot {width:100%;height:92px;border-top:1px solid #eee;}
.finder__foot .reset__price {position:relative;padding:20px 15px;}
.finder__foot .reset__price .btn-reset {position:relative;margin-top:12px;font-size:14px;color:#222;letter-spacing:-.4px;line-height:20px;padding-left:24px;}
.finder__foot .reset__price .btn-reset:before {content:"";display:block;position:absolute;top:0;left:2px;width:20px;height:20px;background:url(http://img.enuri.info/images/mobile_v2/finder/finder_sprite.png) -20px 0 no-repeat;z-index:1}
.finder__foot .reset__price .btn-next {position:absolute;top:20px;right:15px;height:44px;padding:0 35px;border-radius:22px;font-size:16px;color:#fff;letter-spacing:-.5px;background-color:#198FF6;z-index:1;}
.finder__foot .reset__price .btn-next:before {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border-radius:22px;border:1px solid rgba(0,0,0,.05)}
.finder__foot .reset__price .btn-next .range_loader {display:none;position:absolute;top:13px;left:50%;padding:0;border-radius:22px;z-index:2;transform:translateX(-50%)}
.finder__foot .reset__price .btn-next.is-loading:before {background-color:rgba(0,0,0,0.5)}
.finder__foot .reset__price .btn-next.is-loading .range_loader {display:block}
.finder__foot .reset__price .btn-next.is-loading .range_loader .throbber-loader,
.finder__foot .reset__price .btn-next.is-loading .range_loader .throbber-loader:before,
.finder__foot .reset__price .btn-next.is-loading .range_loader .throbber-loader:after {width:6px;height:10px;margin:0 2px}
.finder__foot .reset__price .btn-next.is-loading .range_loader .throbber-loader:before {left:-12px}
.finder__foot .reset__price .btn-next.is-loading .range_loader .throbber-loader:after {right:-12px}




.border-box,.border-box *,.border-box *:after,.border-box *:before {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}


/* 추가 */
.detail_sr_tab {height: 48px;}
.detail_sr_tab ul {height: 48px;}
.detail_sr_tab ul li {height: 48px; line-height: 48px;}
.detail_sr_tab ul li em {height:48px;font-size: 14px;}


.vertical_scroll::-webkit-scrollbar { width: 4px;}
.vertical_scroll::-webkit-scrollbar-track { background-color: #e1e1e1; -webkit-border-radius: 2px;border-radius: 2px;}
.vertical_scroll::-webkit-scrollbar-thumb { background: #c5c5c5; -webkit-border-radius: 2px;border-radius: 2px;}
.vertical_scroll::-webkit-scrollbar-button { display: none; }

.vertical_scroll.blue::-webkit-scrollbar-track { background-color: #f2f2f2;}
.vertical_scroll.blue::-webkit-scrollbar-thumb { background: #3d83f7; }








