@charset "utf-8";

/* common_main.css============================================================================================================*/
/* layout */
#header div, #header ul, #header li, #header span, #header section {overflow:visible;font:12px/1.5 '돋움', Dotum, Sans-serif;}
#header a {outline:none;}
#header {margin-left:4px;}
#main_body #header{margin-left:0px;}
#header .skipMenu {position:relative;width:883px;margin-right:136px;}
#main_body #header .skipMenu {margin:0 auto;}
#header .skipMenu a {display:inline-block;position:absolute;top:-100px;padding:0 10px;color:#fff;background:#0081e6;}
#header .skipMenu a:focus,
#header .skipMenu a:hover {top:0;}


#header .utilMenu {width:100%;height:29px;background:#f3f4f5;border-bottom:1px solid #e7e7e7;}
/*#header .utilMenu ul {min-width:850px;max-width:1000px;margin-right:136px;text-align:right;}*/
#header .utilMenu ul {width:1000px;margin-right:136px;text-align:right;}
#main_body #header .utilMenu ul {width:1000px;margin:0 auto;}
#header .utilMenu li {display:inline-block;*display:inline;margin:0 -4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_util_bar.gif) no-repeat 0 50%;}
#header .utilMenu li:first-child {background:none;}
#header .utilMenu a {display:inline-block;padding:6px 10px;font-size:11px;color:#777;}

/*#header .enuriBi {min-width:850px;max-width:1000px;height:102px;margin-right:136px;}*/
#header .enuriBi {width:1000px;height:102px;margin-right:136px;}
#main_body #header .enuriBi {width:1000px;margin:0 auto;}
#header .enuriBi:after {content:"";display:block;clear:both;} 
#header .enuriBi h1 {float:left;margin:28px 0 0;padding:0 26px 0 1px;} 
#header .enuriBi h1._chu {float:left;margin:0 0 0;padding:0 26px 0 0;}
#main_body #header .enuriBi h1 {float:left;margin:28px 0 0;padding:0 26px 0 0;}
#main_body #header .enuriBi h1._chu {float:left;margin:0 0 0;padding:0 26px 0 0;}
/*#header .enuriBi .search {position:relative;float:left;width:340px;margin:30px 0 0;z-index:1001;left:55px;}*/
#header .enuriBi .search .searchForm {position:relative;float:left;width:290px;height:30px;padding:0;border:5px solid #0083e8;border-right:0;}
input[type=text]::-ms-clear {display:none;}
#header .enuriBi .search .placeholder {position:absolute;top:7px;left:5px;color:#b0b0b0;font-weight:bold;}
#header .enuriBi .search .txt {width:255px;margin:6px 0 0;border:0;font-weight:bold;font-size:14px;line-height:14px;color:#444;}
#header .enuriBi .search .keywordDel {display:none;position:absolute;top:7px;left:246px;overflow:hidden;width:16px;height:16px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/btn_del.gif) no-repeat;line-height:1px;font-size:1px;text-indent:-9999px;}
#header .enuriBi .search .on {background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow7.gif) no-repeat 270px 50%;}
#header .enuriBi .search .over .keywordDel {display:block;}
#header .enuriBi .search .searchHistory {display:none;position:absolute;top:36px;left:0;width:337px;background:#fff;border:1px solid #212330;border-top:0;}
#header .enuriBi .search .searchHistory .desc {padding:7px 11px 5px;color:#444;}
#header .enuriBi .search .searchHistoryList {padding:7px 0;}
#header .enuriBi .search .searchHistoryList li {position:relative;}
#header .enuriBi .search .searchHistoryList li a {display:block;padding:2px 0 1px 11px;color:#444;}
#header .enuriBi .search .searchHistoryList li em {font-weight:bold;color:#0081e6;}
#header .enuriBi .search .searchHistoryList li.over a {background:#dff1ff;}
#header .enuriBi .search .searchHistoryList li a.del {display:none;position:absolute;top:5px;right:9px;overflow:hidden;width:11px;height:11px;padding:0;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/btn_del2.gif) no-repeat;line-height:1px;font-size:1px;text-indent:-9999px;}
#header .enuriBi .search .searchHistoryList li.over a.del {display:block;}
#header .enuriBi .search .searchHistoryList li a.cate {margin:0 0 0 15px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_cate.gif) no-repeat 0 5px;color:#7f7f7f;}
#header .enuriBi .search .searchHistoryList li a.cate:hover {text-decoration:underline;}
#header .enuriBi .search .keywordOpt {padding:4px 10px 3px;background:#f7f7f7;border-top:1px solid #ddd;font-size:11px;text-align:right;}
#header .enuriBi .search .keywordOpt a {color:#818181;text-decoration:underline;}
#header .enuriBi .search .searchForm #imgToggleAutoMake{margin:12px 3px 0px 27px;}
#header .enuriBi .headBanner {float:right;width:170px;height:75px;margin:13px 0 0;}

#header #gnb {position:relative;width:100%;height:40px;z-index:1000;}
#main_body #header #gnb {width:1000px;margin:0 auto;background:none;}
/*#header #gnb .gnbMenu {position:relative;min-width:850px;max-width:1000px;margin-right:136px;}*/
#header #gnb .gnbMenu {width:1000px;margin:0 136px 0 1px;/*background:#2466b0;*/}
#main_body #header #gnb .gnbMenu {width:1000px;margin:0 0 0 1px;}
/*#header #gnb .gnbMenu li {float:left;width:15%;margin:0 0 0 -1px;border-top:1px solid #1a447e;border-left:1px solid #1a447e;border-bottom:1px solid #1a447e;}*/
#header #gnb .gnbMenu li {float:left;width:130px; margin:0 0 0 -3px; /*margin:0 0 0 -1px; border-top:1px solid #1a447e;*//*border-left:1px solid #1a447e;*//*border-bottom:1px solid #1a447e;*/  /*background:url(http://imgenuri.enuri.gscdn.com/2015/gnb_event/bul_gnb_bar.gif) 100% 0 no-repeat;*/}

#header #gnb .gnbMenu:after {content:"";display:block;clear:both;}
#header #gnb .gnbMenu li:first-child {border-left:0;}
#header #gnb .gnbMenu li.allMenuBtn {width:90px; /*border-right:1px solid #1a447e;*/}
#header #gnb .gnbMenu li.allMenuBtn a {background:none;}
#header #gnb .gnbMenu li a {display:block;height:40px;background:#fff;text-align:center;cursor:default; background:url(http://imgenuri.enuri.gscdn.com/2015/gnb_event/bul_gnb_bar.gif) 100% 50% no-repeat;}
/*#header #gnb .gnbMenu li a:hover,
#header #gnb .gnbMenu li.on a,
#header #gnb .gnbMenu li a.current {background:#1a447e;}*/
#header #gnb .gnbMenu li.allMenuBtn a {cursor:pointer;}
#header #gnb .gnbMenu li.on .depth2 {display:block;}
#header #gnb .gnbMenu li.on .depth2 a {background:transparent;border:0;}
#header #gnb .gnbMenu li.recomPrd {margin-bottom:5px;padding:0 0 5px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_dotline2.gif) no-repeat 20px 100%;}
#header #gnb .depth2 {position:absolute;display:none;width:179px;height:335px;background:#fff;border:1px solid #20222f;margin-left:-1px;}
#header #gnb .depth2 ul {padding:5px 0 0;}
#header #gnb .depth2 li,
#main_body #header #gnb .depth2 li {float:none;width:auto;margin:3px 0 0;border:0; }
#header #gnb .depth2 li a {height:auto;padding:2px 0 1px 18px;color:#444;text-align:left;cursor:default;}
#header #gnb .depth2 li.recomPrd,
#main_body #header #gnb .depth2 li.recomPrd {margin-bottom:7px;padding:0 0 7px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_dotline2.gif) no-repeat 20px 100%;}
#header #gnb .depth2 li.recomPrd a:first-child {color:#767676;font-weight:bold;}
#header #gnb .depth2 li.cateLine,
#main_body #header #gnb .depth2 li.cateLine {margin:5px 0 0;*margin-bottom:-4px;padding:6px 0 0;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_dotline2.gif) no-repeat 20px 0;zoom:1;}
#header #gnb .depth2 li.cateLine2,
#main_body #header #gnb .depth2 li.cateLine2 {margin:5px 0 0;*margin-bottom:-4px;padding:6px 0 0;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_dotline_hot.gif) no-repeat 20px 0;zoom:1;}
#header #gnb .depth2Pr {position:absolute;left:178px;top:-1px;width:178px;height:322px;padding:13px 0 0;background:#fff;border:1px solid #0195eb;}
#header #gnb .gnbMenu li.on .depth2 li .depth2Pr .onArw {display:block;width:10px;height:21px;position:absolute;top:8px;*top:9px;left:-10px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow8.png) no-repeat;}
#header #gnb .gnbMenu li.on .depth2 li.on a {position:relative;background:#0195eb;color:#fff;z-index:4;}
#header #gnb .depth2 li.on a .onArw {content:"";display:block;width:11px;height:21px;position:absolute;top:0;right:-1px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow.gif) no-repeat;}
#header #gnb .gnbMenu li.on .depth2 li.on .depth2Pr a {background:none;}
#header #gnb .depth2 li.on .depth2Pr a .onArw {display:none;}
#header #gnb .depth2 li.recomPrd a {cursor:default;}
#header #gnb .depth2 li.recomPrd a .onArw {display:block;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow8.png) no-repeat;}
#header #gnb .depth2 li .depth2Pr a {padding:0;cursor:pointer;}
#header #gnb .depth2 li.on .depth3 {top:-1px;}
/* 전문관 추가시 변경
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li a {background:none;color:#444;}
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li a:hover,
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li a:focus {color:#0195eb;font-weight:bold;letter-spacing:-1px;}
*/
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li a {background:none;color:#444;text-decoration:none;}
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li a:hover,
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li a:focus {text-decoration:underline;}

#main_body #header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs1,
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs1{padding:8px 0 1px 18px;color:#0095e9;font-weight:bold;}
/*#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2{width:100%; background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow10.gif) no-repeat 155px center; letter-spacing:-1px;}*/
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2 a,
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2 a:active {background:none;color:#0095e9;text-decoration:none;}
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2 a:hover,
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2 a:focus {text-decoration:underline;}
#header #gnb .gnbMenu li.on .depth2 li.on .depth3 li.addcs2{width:100% !important; display:block !important; float:left !important; background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow10.gif) no-repeat 158px 6px; letter-spacing:-1px;}

#header #gnb .depth3 {position:absolute;left:178px;top:-99999px;width:178px;height:335px;background:#f4f9fe;border:1px solid #0195eb;z-index:3;}
#header #gnb .depth3 ul {position:relative;}
#header #gnb .depth3 li a {cursor:pointer;}
#header #gnb .gnbMenu li.on .depth3DetailBtn {position:absolute;left:0;bottom:0;width:159px;height:24px;padding:8px 0 0 19px;background:#f9f9f9;border-top:1px solid #eee;}
#header #gnb .gnbMenu li.on .depth3DetailBtn a {display:inline-block;height:auto;padding:0 10px 0 0;cursor:pointer;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow9.gif) no-repeat 100% 5px;color:#0195eb;font-size:11px;text-align:left;}

/*#header #depth3Detail {display:none;position:relative;min-width:850px;max-width:1000px;margin-right:136px;}*/
#header #depth3Detail {display:none;position:relative;overflow:hidden;width:999px;height:212px;margin-right:136px;background:#fff;border:1px solid #262632;}
#main_body #header #depth3Detail {width:999px;height:212px;margin:0 0 0 0px;background:#fff;border:1px solid #262632;}
#header #depth3Detail ul {position:absolute;top:0;left:0;width:100%;}
#header #depth3Detail ul:after {content:"";display:block;clear:both;}
#header #depth3Detail li {float:left;width:10%;height:64px;text-align:center;font-weight:bold;}
#main_body #header #depth3Detail li {width:100px;}
#main_body #header #depth3Detail li:first-child {width:99px;}
#header #depth3Detail li a {display:block;height:64px;margin-right:-1px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_dotline.gif) no-repeat 0 50%;color:#495060;letter-spacing:-1px;font-size:11px;}
#header #depth3Detail li a:focus {outline:none;}
#header #depth3Detail li.on a {position:relative;color:#fff;border-right:1px solid #1a447e;background:#1a447e;}
#header #depth3Detail li.on a:hover {color:#fff;}
#header #depth3Detail li a:hover {color:#0097eb;}
#header #depth3Detail li a:after {content:"";display:inline-block;height:64px;vertical-align:middle;}
#header #depth3Detail li a span {display:inline-block;padding-top:1px \0/IE8;vertical-align:middle;font-weight:bold;cursor:pointer;}
#header #depth3Detail li:first-child a {background-image:none;magin:0;}
#header #depth3Detail li.on .detailDepth2 {display:block;}
#header #depth3Detail .detailDepth2 {display:none;position:absolute;top:64px;left:0;width:100%;}
#header #depth3Detail .detailDepth2 ul {position:static;width:auto;height:auto;border:0;}
#header #depth3Detail .detailDepth2 li {height:auto;}
#header #depth3Detail .detailDepth2 li:first-child {margin:0;border-left:0;}
#header #depth3Detail .detailDepth2 li a {position:relative;height:60px;background:#fff;color:#848484;border:1px solid #a7bcd7;border-bottom:0;}
#header #depth3Detail .detailDepth2 li a:hover {color:#848484;}
#header #depth3Detail .detailDepth2 li:first-child a {border-left:0 !important;}
#header #depth3Detail .detailDepth2 li.on a {height:61px;background:#dff1ff;border:1px solid #0195eb;border-bottom:0;z-index:1;}
#header #depth3Detail .detailDepth2 li a:after {height:60px;}
#header #depth3Detail .detailDepth2 li.on .detailDepth3 {display:block;}
#header #depth3Detail .detailDepth2 li.on .detailDepth3 li a {background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow2.gif) no-repeat 0 6px;border:0;}
#header #depth3Detail .detailDepth2 li.on .detailDepth3 li a:focus,
#header #depth3Detail .detailDepth2 li.on .detailDepth3 li a:hover {font-weight:bold;letter-spacing:-1px;}
#header #depth3Detail .detailDepth2 li.detailDepth2_blank {}
#header #depth3Detail .detailDepth3 {display:none;position:absolute;top:61px;left:0;width:100%;background:#dff1ff;border-top:1px solid #0195eb;}
#header #depth3Detail .detailDepth3 ul {width:auto;height:70px;padding:16px 20px 0;background:transparent;}
#header #depth3Detail .detailDepth3 li {width:16% !important;margin:0;border:0;text-align:left;background:transparent;}
#header #depth3Detail .detailDepth3 li a {height:auto !important;padding:0 0 0 10px !important;color:#4a5460;border:0;letter-spacing:0;font-weight:normal;font-size:12px;}
#header #depth3Detail .detailDepth3 li a:after {display:none;}
#header #depth3Detail .detailClose {position:absolute;top:191px;right:0;line-height:0;z-index:2;}
#main_body #header #depth3Detail .detailClose {right:-1px;}
#header #depth3Detail .detailClose a {display:inline-block;overflow:hidden;width:23px;height:23px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/btn_close.gif) no-repeat;line-height:1px;font-size:1px;text-indent:-9999px;*text-indent:0;}
#header #depth3Detail .detailDepth1_blank a,
#header #depth3Detail .detailDepth2_blank a {cursor:default;}

/*#header #allMenu {position:relative;display:none;min-width:850px;max-width:1000px;margin-right:136px;}*/
#header #allMenu {position:relative;display:none;width:1000px;margin-right:136px;}
#main_body #header #allMenu {width:1000px;margin:0 0 0 1px;}
#header #allMenu ul {position:relative;}
#header #allMenu li {float:left;width:130px;margin:0 0 0 -1px;border-top:1px solid #1a447e;border-left:1px solid #1a447e;border-bottom:1px solid #1a447e;}
/*#main_body #header #allMenu li {width:130px;margin:0;}*/
#header #allMenu:after {content:"";display:block;clear:both;}
#header #allMenu li:first-child {border-left:0;}
#header #allMenu li.allMenuBtn {width:10%;border-right:1px solid #1a447e;}
#main_body #header #allMenu li.allMenuBtn {width:91px;border-right:0;}
#header #allMenu li.allMenuBtn a:after {display:block;}
#header #allMenu li a {display:block;height:38px;background:#2466b0;text-align:center;z-index:2;}
#header #allMenu li a:hover,
#header #allMenu li.on a {position:relative;background:#1a447e;}
#header #allMenu li.on a .onArw {content:"";position:absolute;bottom:-1px;left:50%;display:block;width:15px;height:9px;margin-left:-7px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow5.gif) no-repeat;}
#header #allMenu li.on .depth2allMenu {display:block;}
#header #allMenu .depth2allMenu {display:none;width:100%;position:absolute;top:39px;left:-1px;background:#fff;}
#main_body #header #allMenu .depth2allMenu {width:1001px;}
#header #allMenu .depth2allMenu ul {overflow:hidden;border:1px solid #212330;}
#header #allMenu .depth2allMenu ul:after {content:"";display:block;clear:both;}
#header #allMenu .depth2allMenu li {width:20%;margin:0;border:0;letter-spacing:-1px;}
#main_body #header #allMenu .depth2allMenu li {width:20%;margin:0;border:0;letter-spacing:-1px;}
#main_body #header #allMenu .depth2allMenu li.noLine strong {border-left:0;}
#main_body #header #allMenu .depth2allMenu li.noLine ul {border-left:0;}
#header #allMenu .depth2allMenu li strong {display:block;margin-top:-1px;padding:8px 0 5px 19px;background:#dff1ff;border-top:1px solid #c0c7d7;border-bottom:1px solid #c0c7d7;border-left:1px solid #c0c7d7;color:#4b5767;}
#header #allMenu li.on .depth2allMenu li a {height:auto;padding:2px 0 1px 19px;background:#fff url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow3.gif) no-repeat 95% 50%;color:#444;text-align:left;}
#header #allMenu li.on .depth2allMenu li a:after {display:none;}
#header #allMenu li.on .depth2allMenu li a:hover {background:#0195eb url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_arrow4.gif) no-repeat 95% 50%;color:#fff;}

#header #allMenu .depth2allMenu li ul {width:auto;height:218px;padding:14px 0 0;border:0;border-left:1px solid #c0c7d7;}
#header #allMenu .depth2allMenu li li {width:100%;border:0;}

#main_body #header #allMenu .depth2allMenu li ul {width:auto;height:218px;padding:14px 0 0;border:0;border-left:1px solid #c0c7d7;}
#main_body #header #allMenu .depth2allMenu li li {width:100%;border:0;}

#header #allMenu .allMenuClose {position:absolute;top:545px;right:0;line-height:0;margin-right:1px;}
#header #allMenu .allMenuClose a {display:inline-block;overflow:hidden;width:23px;height:23px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/btn_close.gif) no-repeat;line-height:1px;font-size:1px;text-indent:-9999px;*text-indent:0;}

/*footer {min-width:850px;max-width:1000px;height:108px;margin-right:136px;}*/
#footer {width:1000px;height:108px;margin-right:136px;}
.main #footer {width:883px;margin:0 auto;}
#footer .footInner {position:relative;padding:17px 0 0 146px;font:11px/1.6 '돋움', Dotum;letter-spacing:-1px;}
#footer .footInner .footLogo {position:absolute;top:20px;left:24px;}
#footer .footInner .enuriDec {color:#0387b8;}
#footer .footInner address {float:left;margin:0 4px 0 0;color:#878787;}
#footer .footInner .enuriInfo {color:#878787;}
#footer .footInner .enuriInfo span {color:#878787;margin:0 0 0 3px;padding:0 0 0 7px;background:url(http://imgenuri.enuri.gscdn.com/2014/layout/bg_foot_bar.gif) no-repeat 0 1px;}
#footer .footInner .enuriInfo img {vertical-align:middle;}
#footer .footInner .copyright {margin:8px 0 0;color:#676767;}

#container {min-width:850px;max-width:1000px;margin-right:136px;}
#main_body #container {width:883px;margin:30px auto 0;}
#container:after {content:"";display:block;clear:both;}

#main_body #footer {margin:0;}
#main_body #quickMenu {display:none;}
#quickMenu {position:fixed;top:172px;}

/* 에누리 링크들 */
#section8 { width:883px;height:28px;background-color:#f3f3f3; }
#section8 .linkItem { float:left;margin:8px 0px 0px 24px;height:18px; }
#section8 .linkItem span { float:left;font-family:'돋움';font-size:11px;color:#757575;line-height:13px;text-decoration:none;cursor:pointer; }
#section8 .linkItem a { font-family:'돋움';font-size:11px;color:#757575;line-height:13px;text-decoration:none;cursor:pointer; outline:none;}
#section8 .linkItem a:hover { font-family:'돋움';font-size:11px;color:#757575;line-height:13px;text-decoration:none;cursor:pointer; }
/* 에누리 링크들 */

/* //layout */









/* mins.css============================================================================================================*/
/* 전체를 감싸는 div */
#main_body { width:100%;margin:0 auto;position:relative;overflow:visible; }
#mainLeftDiv { display:none;position:absolute;width:140px;left:-64px;top:180px;z-index:9; }
#mainDiv { width:1000px;position:relative;overflow:visible;margin:4px auto;}
#mainDiv ul { overflow:hidden;padding:0px;margin-left:0px; }
#mainDiv li { overflow:hidden;list-style-type:none;list-style:none;margin:0px;padding:0px; }
#mainDiv div { overflow:hidden;font-family:'돋움',dotum;font-size:12px;color:#000000;line-height:17px; }
#mainDiv span { overflow:hidden;color:#000000; }
#mainRightDiv { position:fixed;bottom:0px;width:100px;display:none; }

#mainDiv #mainBodyDiv { width:1000px;margin:0px 0px 10px 0px; }
#mainDiv #mainBodyDiv #mainBodyLeftDiv { float:left;width:592px; }
#mainDiv #mainBodyDiv #mainBodyLeftDiv1 { float:left;width:592px; }
#mainDiv #mainBodyDiv #mainBodyRightDiv { float:right;width:287px; }
#mainDiv #mainBodyDiv #mainBodyRightDiv1 { float:right;width:287px; }


#main_body #header .enuriBi .search {position:relative;float:left;width:442px;margin:27px 0 0;z-index:1001;left:15px;}
#main_body #header .enuriBi .search .searchForm {position:relative;float:left;width:357px;height:38px;padding:0;border:5px solid #0083e8;border-right:0;}
#main_body #header .enuriBi .search .txt {width:317px; height:15px; margin:0; padding:12px 5px 8px 5px; border:0;font-weight:bold;font-size:14px;line-height:14px;color:#444;}
#main_body #header .enuriBi .search .searchForm #imgToggleAutoMake{margin:17px 3px 0px 27px;}


/* 20150116 이벤트 페이지 전용 gnb */
.gnb_wrap {width:100%; border-top:2px solid #0072bb;}

/* 20150123 추가 */
#header img {vertical-align:top;}
#header fieldset, img {border:0 none;}