@charset "utf-8";

/************************************************************************
 * 파일명 : emoney.css
 * 설명 : 마이 에누리 컨텐츠 (PC) - SSL
 * 작성자  : 신왕섭
 * 작성일 : 2020.02.19
************************************************************************/

/* summary */
.my_top{background-color:#3a7bd5;color:#fff;height:250px;letter-spacing: -1px}
.my_top .inner{width:1280px;margin:0 auto;position: relative;height:100%}
.my_top .summary{width:260px;font-weight:300}
.my_top .summary .my_info{padding:20px 0 10px;position: relative;height:60px;line-height:60px}
.my_top .summary .my_info:after{content:"";position: absolute;bottom:0;left:0;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -351px -60px;width:260px;height:6px}
.my_top .summary .my_info_area{position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:22px;text-align:center;line-height:56px}
.my_top .summary .my_info_area em{font-weight:bold;display:inline-block;max-width:220px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;vertical-align: -21px;margin-right:10px}
.my_top .summary .my_info_area .ico{display:block;width:60px;height:60px;position: absolute;top:0;left:0;}
.my_top .summary .my_info_area .ico_naver{background-position:-448px 0}
.my_top .summary .my_info_area .ico_kakao{background-position:-508px 0}
.my_top .summary .my_info_area .ico_enuri{background-position:-568px 0}
.my_top .summary .my_emoney{margin-top:24px;border:1px solid #6b9ce0;border-radius:3px 3px;padding-left:56px;padding-right:30px;text-align:right;position: relative;height:52px;line-height:52px;font-size:22px;font-weight:300}
.my_top .summary .my_emoney:before{content:"";position: absolute;top:0;left:56px;height:100%;border-left:1px solid #6b9ce0}
.my_top .summary .my_emoney .ico{position: absolute;top:15px;left:15px;width:24px;height:24px;background-position:0 -60px;text-indent:9999px}
.my_top .summary .my_emoney em{font-weight:bold;letter-spacing: -.5px}
.my_top .summary .my_noti{line-height:22px;margin-top:15px;color:#d4e6ff;font-size:17px;letter-spacing: -1px}
.my_top .summary .my_noti > span{display:block;}
.my_top .summary .my_noti .is-cert{text-align:center}
.my_top .view{position: absolute;top:0;left:300px}
.my_top .view .view_simple{overflow:hidden;height:250px;border-left:1px solid #3673c8;border-right:1px solid #3673c8;width:978px}
.my_top .view .view_simple li{width:243px;float:left;height:100%;border-left:1px solid #3673c8;text-align:center}
.my_top .view .view_simple li:first-child{border-left:0}
.my_top .view .view_simple li .inner{width:150px;margin:0 auto;padding-top:50px}
.my_top .view .view_simple li .inner > span{display:block;text-align:center}
.my_top .view .view_simple li .txt_tit{font-size:20px;line-height:26px}
.my_top .view .view_simple li .my_sprite{width:97px;height:60px;margin:10px auto}
.ico_view_01{background-position:-60px 0}
.ico_view_02{background-position:-157px 0}
.ico_view_03{background-position:-254px 0}
.ico_view_04{background-position:-351px 0}
/* .my_top .view .view_simple li .txt_count{font-weight:bold;height:38px;line-height:38px;width:148px;border:1px solid #235498;border-radius: 19px 19px;background-color:#2b5ca0;display:block;margin:0 auto;font-size:20px} */
.my_top .view .view_simple li .btn_move{font-weight:bold;height:40px;line-height:38px;width:150px;border:1px solid #235498;border-radius:20px 20px;background-color:#2b5ca0;display:block;margin:0 auto;font-size:20px}
.my_top .view .view_simple li .btn_move em.txt_count,
.my_top .view .view_simple li .btn_move em.txt_move{position:relative;display:inline-block;color:#fff;padding:0 10px;min-width:100px}
.my_top .view .view_simple li .btn_move em.txt_move{font-size:16px;font-weight:bold;line-height:36px;top:-2px}
.my_top .view .view_simple li .btn_move em.txt_count:after,
.my_top .view .view_simple li .btn_move em.txt_move:after{content:"";position: absolute;top:13px;right:0;width:7px;height:12px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -48px -60px}
.my_top .view .view_simple li .btn_move_page{display:none}
/* .my_top .view .view_simple li .btn_move_page{display:inline-block;padding-right:16px;height:26px;line-height:26px;color:#98c3ff;font-size:18px;margin-top:18px;position: relative;} */
/* .my_top .view .view_simple li .btn_move_page:after{content:"";position: absolute;top:7px;right:0;width:7px;height:12px;background:url(http://img.enuri.info/images/home/myenuri/pc_sprite.png) no-repeat -48px -60px} */

/* 서브페이지 심플뷰 */
.my_top.simple{height:90px}
.my_top.simple .view{display:none}
.my_top.simple .summary{width:100%}
.my_top.simple .summary .my_info{padding:15px 0;width:260px}
.my_top.simple .summary .my_info:after{display:none}
.my_top.simple .summary .my_emoney{position: absolute;top:0;right:0;line-height:30px;padding:30px 0 0 40px;margin-top:0;border:0}
.my_top.simple .summary .my_emoney:before{display:none}
.my_top.simple .summary .my_emoney .ico{left:0;top:33px}
.my_top.simple .summary .my_noti{position: absolute;top:0;left:300px;line-height:30px;padding-top:30px;border-bottom:1px solid #6b9ce0;margin-top:0}
.my_top.simple .summary .my_noti .is-cert:after{content:"이예요!"}
.my_top.simple .summary .my_noti .is-cert em{color:#fff;font-weight: 500}
.my_top.simple .summary .my_noti .is-cert em:after{content:"점이";font-weight: 400;color:#d4e6ff}

.view_inner{padding:50px 0 0 0;text-align:center}
.no-cert .view_inner{padding-top:70px}
.view_inner > span{display:block}
.view_inner .txt_comm{line-height:40px;font-size:30px;color:#fff;}
/* .view_inner .txt_comm em{font-weight: 00;} */
.view_inner .txt_sub{margin-top:8px;line-height:26px;font-size:20px;color:#9fc7ff}
.btn_go_cert{display:inline-block;border:1px solid #235498;line-height:44px;font-size:22px;color:#fff;background-color:#2b5ca0;padding:0 60px;border-radius: 22px 22px;margin-top:20px;font-weight:300}

/* 컨텐츠 */
.my_cont{width:1280px;margin:60px auto;position:relative;min-height:700px;}
.my_cont .menu{position:absolute;top:0;left:0;width:260px;font-size:18px;letter-spacing:-.5px;line-height:28px}
.my_cont .menu.sticky{position:fixed;top:20px;left:50%;margin-left:-640px}
.my_cont .menu h2{padding:12px 30px;background-color:#2b5ca0;font-weight:bold;color:#fff;font-size:18px}
.my_cont .menu .list{line-height:28px}
.my_cont .menu .list .item_tit,
.my_cont .menu .list .item_cnt{border:1px solid #dddddd;border-top:0}
.my_cont .menu .list .item_tit{display:block;padding:12px 30px;color:#333;font-weight:bold}
.my_cont .menu .list .item_cnt{padding:20px 30px;color:#666666;background:#f6f6f6}
.my_cont .menu .list .item_cnt li{padding:6px 0}
.my_cont .menu .list .item_cnt a{display:block;padding-left:18px;position: relative;font-size:17px}
.my_cont .menu .list .item_cnt a:before{content:"-";position: absolute;top:0;left:0;height:40px;width:28px;color:#aaaaaa}
.my_cont .menu .list .item_cnt li.on a,
.my_cont .menu .list .item_cnt li.on a:before,
.my_cont .menu .list .item_cnt li:hover a,
.my_cont .menu .list .item_cnt li:hover a:before{color:#3a7bd5}
.my_cont .cont_inner{width:980px;position:relative;margin-left:300px}
.my_cont .cont_inner .box_inner{letter-spacing: -.5px;margin-top:35px}
.my_cont .cont_inner .box_inner:first-of-type{margin-top:0}
.my_cont .cont_inner .box_head{position:relative;height:54px;line-height:54px;border-bottom:1px solid #666666;letter-spacing: -1px}
.my_cont .cont_inner .box_head em{font-size:24px;letter-spacing: -1.4px}
.my_cont .cont_inner .box_head .txt_sub{font-size:18px;color:#999999}
.my_cont .cont_inner .box_head .btn_more{position: absolute;top:14px;right:10px}

.tb_summary{line-height:28px;width:100%;}
.tb_summary th{padding:12px 5px;}
.tb_summary td{padding:11px 5px}
.tb_summary td .txt{display:block;height:28px;display:block;text-overflow:ellipsis; white-space:nowrap;width:395px;overflow:hidden}
.tb_summary td.no_result{font-size:18px;height:154px}
.tb_summary th{color:#333;font-size:16px;font-weight:bold;border-bottom:1px solid #666666}
.tb_summary td{font-size:16px;color:#666666;border-bottom:1px solid #cccccc;text-align:center;}
.tb_summary .txt_date{width:160px;}
.tb_summary .txt_mall,
.tb_summary .txt_history{width:395px;}
.tb_summary .btn_arrow{width:58px;padding-left:0;padding-right:0}
.tb_summary td.txt_history{text-align:left}
.tb_summary .txt_price,
.tb_summary .txt_terms{width:190px}
.tb_summary .txt_expected,
.tb_summary .txt_used_price{width:110px}
.tb_summary tbody td.txt_expected,
.tb_summary tbody td.txt_used_price{padding-right:20px;text-align:right}
.tb_summary tbody td .type_up{color:#d33030}
.tb_summary tbody td .type_dn{color:#3a7bd5}
.tb_summary tbody td .tx_tmon{font-size:15px;letter-spacing: -1px;}
.tb_summary tbody .ty_earn{cursor: pointer;}
.tb_summary tbody .ty_earn:hover{background-color:#f5f8fd}
.tb_summary tbody .ty_earn.on:hover{background-color:transparent}
.tb_summary tbody .ty_earn .btn_arrow .ico_arr{display:block;width:24px;height:24px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -120px -60px;}

.tb_summary tbody .ty_earn .btn_arrow .ico_arr{display:block;width:24px;height:24px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -120px -60px;}
.tb_summary tbody .ty_earn.on .btn_arrow .ico_arr{background-position:-144px -60px;}

.tb_summary tbody .ty_earn.on .btn_arrow .ico_arr{background-position:-144px -60px;}

.tb_summary tbody .ty_earn .btn_arrow .ico_arr{display:block;width:24px;height:24px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -120px -60px;}
.tb_summary tbody .ty_earn.on .btn_arrow .ico_arr{background-position:-144px -60px;}

.tb_summary tbody .view_earn{display:none}
.tb_summary tbody .view_earn td{padding:0}
.tb_summary tbody .ty_earn.on + .view_earn{display:table-row}

.earn__detail{background-color:#f8f8f8;padding:10px 50px;position: relative;text-align:left}
.earn__detail .earn__summary{padding:20px 0;letter-spacing:0;}
.earn__detail .earn__summary .tx_tit{font-size:17px;font-weight:bold;color:#333;letter-spacing:-1px;height:28px;line-height:26px}
.earn__detail .earn__summary .tb_earn_info{overflow:hidden;margin-top:6px;height:26px;line-height:24px;}
.earn__detail .earn__summary .tb_earn_info li{float:left;margin-left:40px;font-size:15px;color:#333;overflow:hidden}
.earn__detail .earn__summary .tb_earn_info li:first-child{margin-left:0}
.earn__detail .earn__summary .tb_earn_info li span{float:left}
.earn__detail .earn__summary .tb_earn_info li .tb_tx_value{position: relative;padding-left:20px;}
.earn__detail .earn__summary .tb_earn_info li .tb_tx_value:before{content:"";position: absolute;top:5px;height:16px;left:10px;border-left:1px solid #aaaaaa}
.earn__detail .earn__buy_list{letter-spacing:-.5px;text-align:left}
.earn__detail .earn__buy_list li{padding:20px 0;border-top:1px solid #dddddd;position: relative;padding-right:190px;font-size:15px;line-height:24px;color:#666666}
.earn__detail .earn__buy_list li .tx_price{position: absolute;top:50%;margin-top:-12px;right:40px}

.tool_tip .layer_box.box_wide{width:500px;padding:24px 30px 30px}
.tool_tip .layer_box .lay_tit{font-size:18px;font-weight:bold}
.tool_tip .layer_box .lay_cnt ul li{color:#666666;margin-top:4px;letter-spacing:-1px}

.store_list{overflow:hidden;width:997px;margin-left:-17px;padding:25px 0 0}
.store_list li{width:230px;margin-left:17px;float:left;height:311px;border:1px solid #dddddd;text-align:center}
.store_list li .thumb{display:block;padding-top:10px;width:130px;height:130px;margin:0 auto;}
.store_list li .thumb img{width:100%;height:100%}
.store_list li .name{display:block;font-size:18px;line-height:22px;height:44px;overflow:hidden;color:#333;margin-top:8px}
.store_list li .price{display:block;font-size:20px;line-height:26px;color:#3a7bd5;margin-top:4px}
.store_list li .btn_change{display:inline-block;width:180px;font-size:18px;color:#aaaaaa;padding:8px 0;line-height:22px;height:24px;background-color:#666666;border:1px solid #666666;border-radius: 2px 2px;margin-top:15px;cursor:initial}
.store_list li .btn_change.active{background-color:#3a7bd5;color:#fff;border-color:#235396;cursor: pointer;}
.btn_list_more{width:100%;height:57px;border:1px solid #dddddd;background-color:#f6f6f6;margin-top:20px;font-size:20px;}
.box_bnr_01{padding-top:50px}

.mall_list{overflow:hidden;width:979px;border:1px solid #dddddd;border-right:0;border-bottom:0;margin-top:25px;text-align:center}
.mall_list li{height:41px;padding:17px 0 16px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;float:left;width:194px;float:left}
.mall_list li:nth-child(5n+1){width:197px}
.mall_list li a{display:block}
.mall_list li img{width:121px;height:41px}

.event_list{overflow:hidden;width:995px;margin-left:-15px;padding:25px 0 0}
.event_list li{width:316px;height:190px;overflow:hidden;float:left;margin-left:15px}

.btn_more{display:inline-block;padding:0 20px 0 14px;height:26px;line-height:24px;border:1px solid #dddddd;border-radius:2px 2px;font-size:16px;color:#999;position: relative;}
.btn_more:after{content:"";position: absolute;top:7px;right:9px;width:7px;height:11px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -48px -72px}

/* 서브 탭  */
.tab_wrap{overflow:hidden;border:1px solid #3a7bd5;}
.tab_wrap ul{width:100%;overflow:hidden;text-align:center;background-color:#f6f6f6}
.tab_wrap ul li{float:left;}
.tab_wrap ul li a{position:relative;display:block;padding:14px 0;font-size:18px;height:30px;line-height:28px;width:244px;border-left:1px solid #c3cfe0;border-right:1px solid #c3cfe0;margin-left:-1px}
.tab_wrap ul li:last-child{width:243px}
.tab_wrap ul li.on{background-color:#fff}
.tab_wrap ul li.on a{z-index:1;border-color:#3a7bd5;color:#3a7bd5}

/* 기간별 조회 */
.tab_wrap + .lookup_box{margin-top:30px}
.lookup_box{border-top:2px solid #333333;border-bottom:1px solid #333;padding:20px}
.lookup_box button{text-align:center;height:40px;line-height:38px;font-size:18px;border-radius: 2px 2px;}
.cont_inner .lookup_box .box_head{line-height:30px;font-size:20px;height:30px;border-bottom:0}
.lookup_box .box_cnt{padding:13px 0 5px;height:40px;}
.lookup_box .box_cnt ul{float:left}
.select_terms{overflow:hidden;padding-right:53px;position: relative;}
.select_terms li{float:left;margin-left:6px;}
.select_terms li:first-child{margin-left:0}
.select_terms:after{content:"";position: absolute;top:4px;height:30px;right:26px;border-right:1px solid #bfbfbf;transform:rotate(40deg)}
.select_group{position: relative;float:left;height:40px;padding-right:100px}
.select_group .select_list{width:168px;height:38px;border:1px solid #dddddd;border-radius: 2px 2px;float:left;position: relative;cursor: pointer}
.select_group .select_list:first-child:after{content:"-";position:absolute;top:0;right:-26px;width:26px;text-align:center;height:40px;line-height:36px;color:#dddddd;font-size:24px}
.select_group .select_list.date_end{margin-left:26px}
.select_group .select_list{cursor: pointer;}
.select_group .select_list .select_val{display:block;height:38px;line-height:38px;padding-left:50px;position: relative;color:#999999;font-size:16px}
.select_group .select_list .select_val input{width:118px;padding:0;cursor: pointer;}
.select_group .select_list.on,
.select_group .select_list:hover{border-color:#3a7bd5}
.select_group .select_list.on .select_val,
.select_group .select_list:hover input{color:#3a7bd5}
.select_group .select_list .select_val:before{content:"";position: absolute;top:6px;left:10px;width:25px;height:24px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -60px -60px}

.select_group .select_list.on .lay_calendar{display:block}
.lay_calendar{display:none;position:absolute;top:50px;left:0;width:240px;border:1px solid #3a7bd5;border-radius: 2px 2px;text-align:center;background-color:#fff;z-index: 10}
.lay_calendar .calendar_head{height:40px;line-height:40px;position: relative;font-size:16px;border-bottom:1px solid #ddd}
.lay_calendar .calendar_head button{position:absolute;width:8px;height:15px;text-indent:-9999em;top:12px}
.lay_calendar .calendar_body{padding:6px 0}
.tb_calendar{width:100%;font-size:12px;}
.tb_calendar th{padding:4px 0}
.tb_calendar td a{padding:4px 0;display:block}
.tb_calendar td a.blank{display:none}
.tb_calendar tr td:first-child{color:#f2412c}
.tb_calendar tr td:last-child{color:#3a7bd5}
.tb_calendar tr td a:hover{background-color:#eee}

.btn_prev_month{background-position:-90px -60px;left:10px}
.btn_next_month{background-position:-100px -60px;width:8px;height:15px;right:10px}

button.btn_terms_month{color:#666666;width:90px;border:1px solid #aaaaaa;}
button.btn_lookup{position:absolute;top:0;right:0;width:90px;border:1px solid #555555;background-color:#666666;color:#fff;}

/* 캘린더 CSS 추가 */
.ui-widget{font-family:tahoma,malgun gothic,"맑은고딕",verdana,sans-serif;margin:10px 0 0 -51px}
.ui-datepicker{width:240px;border:1px solid #3a7bd5;border-radius: 2px 2px;text-align:center;background-color:#fff;}
.ui-datepicker{padding:0}
.ui-widget-content{background:#fff;padding-bottom:6px}
.ui-widget-header{border:0;background:#fff;font-weight:400;font-size:16px;color:#222}
.ui-datepicker .ui-datepicker-header{padding:0;height:40px;line-height:40px;position: relative;font-size:16px;border-bottom:1px solid #ddd;border-radius:0 !important}
.ui-datepicker .ui-datepicker-title{line-height:40px;margin:0}
.ui-datepicker .ui-datepicker-calendar{width:100%}
.ui-datepicker-header .ui-datepicker-prev,
.ui-datepicker-header .ui-datepicker-next{width:30px;height:30px;top:5px;position: absolute;}
.ui-datepicker-header .ui-datepicker-prev{left:5px}
.ui-datepicker-header .ui-datepicker-next{right:5px}
.ui-datepicker-header .ui-datepicker-prev .ui-icon,
.ui-datepicker-header .ui-datepicker-next .ui-icon{position:absolute;width:8px;height:15px;top:7px;left:11px;background-image: url("http://img.enuri.info/images/home/pc_sprite.png");margin:0;text-indent:-9999em}
.ui-datepicker-header .ui-datepicker-prev .ui-icon{background-position:-90px -60px;left:10px}
.ui-datepicker-header .ui-datepicker-next .ui-icon{background-position:-100px -60px;width:8px;height:15px;right:10px}
.ui-datepicker-header .ui-datepicker-prev.ui-datepicker-prev-hover,
.ui-datepicker-header .ui-datepicker-next.ui-datepicker-next-hover{border:0;background:none;color:inherit}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{border:0;color:inherit;background:transparent;font-weight:400;text-align:center}
.ui-datepicker th{padding:1em .3em}
.ui-datepicker td{padding:4px;color:#222}
.ui-datepicker tr td:hover{background-color:#eee}
.ui-datepicker tr td:first-child,
.ui-datepicker tr th:first-child{color:#f2412c}
.ui-datepicker tr td:last-child,
.ui-datepicker tr th:last-child{color:#3a7bd5}

.tab_cnt{margin-top:30px}
.tab_cnt > ul{line-height:28px}
.tab_cnt > ul > li{margin-top:20px;border:1px solid #dddddd;border-radius: 3px 3px}
.tab_cnt > ul > li:first-child{margin-top:0}
.tab_cnt .txt_date{padding:11px 20px;font-size:20px;color:#333;background-color:#f6f6f6;}
.tab_cnt .no_result{font-size:18px;text-align:center;padding:50px 0;letter-spacing:-1px}
.tab_cnt .tab_list .list_item{padding:29px;border-top:1px solid #dddddd}
.tab_cnt .tab_list .list_item .item_inner{position: relative;height:100px;font-size:18px;letter-spacing:-.5px}
.tab_cnt .tab_list .list_item .ico{width:98px;height:98px;position: absolute;top:0;left:0;border-radius: 50% 50%;border:1px solid #eee;line-height:22px;text-align:center;}
.tab_cnt .tab_list .list_item .ico span{display:block;position: absolute;top:50%;transform:translateY(-50%);width:100%;margin-top:-1px}
.tab_cnt .tab_list .list_item .info{display:block;margin:0 230px 0 122px;padding-top:22px}
.tab_cnt .tab_list .list_item .info > span{display:block;overflow:hidden}
.tab_cnt .tab_list .list_item .info .txt_tit{font-size:18px;height:28px;line-height:28px}
.tab_cnt .tab_list .list_item .info .txt_date{background-color:transparent;line-height:28px;padding:0}
.tab_cnt .tab_list .list_item .point{position:absolute;width:170px;padding-right:60px;right:0;top:38px;font-size:17px;text-align:right}
.tab_cnt .tab_list .list_item .point em{font-weight:bold;font-size:28px;letter-spacing: -1px;vertical-align: -3px;margin-right:2px;}

.tab_cnt .tab_list .list_item.ty_earn{cursor: pointer;}
.tab_cnt .tab_list .list_item.ty_earn:hover{background-color:#f5f8fd}
.tab_cnt .tab_list .list_item.ty_earn.on:hover{background-color:transparent}
.tab_cnt .tab_list .list_item.ty_earn .earn__detail{margin:29px -29px -29px;border-top:1px solid #dddddd;display:none}
.tab_cnt .tab_list .list_item.ty_earn.on .earn__detail{display:block}
.tab_cnt .tab_list .list_item .btn_arrow{display:none}
.tab_cnt .tab_list .list_item.ty_earn .btn_arrow{display:block;position:absolute;top:50%;margin-top:-9px;right:0;}
.tab_cnt .tab_list .list_item.ty_earn .btn_arrow .ico_arr{display:block;width:24px;height:24px;background:url("http://img.enuri.info/images/home/pc_sprite.png") no-repeat -120px -60px;}
.tab_cnt .tab_list .list_item.ty_earn.on .btn_arrow .ico_arr{background-position:-144px -60px;}

.ty_expected .ico{border-color:#cedef4 !important;background-color:#eaf3ff;color:#3a7bd5}
.ty_expected .txt_tit,
.ty_expected .point em{color:#3a7bd5}
.ty_earned .ico{border-color:#3a7bd5 !important;background-color:#3a7bd5;color:#fff}
.ty_earned .txt_tit,
.ty_earned .point em{color:#3a7bd5}
.ty_used .ico{border-color:#d33030 !important;background-color:#d33030;color:#fff}
.ty_used .txt_tit,
.ty_used .point em{color:#d33030}
.ty_refund .ico{border-color:#666666 !important;background-color:#666666;color:#fff}
.ty_refund .txt_tit,
.ty_refund .point em{color:#666666}
.ty_lapse .ico{border-color:#f5cbcc !important;background-color:#fce2e3;color:#d22423}
.ty_lapse .txt_tit,
.ty_lapse .point em{color:#d33030}


/* 유의사항 */
.emoney_earn_noti{margin-top:20px;background:#f6f6f6;padding:34px 30px;color:#666;letter-spacing:-.5px}
.emoney_earn_noti .tx_tit{display:block;height:34px;line-height:32px;font-weight:bold;font-size:19px;color:#333;letter-spacing:-1px}
.emoney_earn_noti .tx_noti{line-height:26px;font-size:15px;margin-top:10px}