@charset "utf-8";

html{overflow-y:scroll}
.comnbox{width:970px; margin:0 auto; position:relative; }
.sub .comnbox, .comnbox:after{content:""; clear:both; display:block; }
.sub .comnbox{height:40px;}

/*상단메뉴*/
.header{height:193px; width:100%;}
.header .top_menu{height:29px; border-bottom:1px solid #d2d2d2; background:#f9f9f9;}
.header .top_menu li{float:left; text-align:center; cursor:pointer; position:relative; }
.header .top_menu li a{display:block; }
.header .top_menu li a:hover{text-decoration:none;}
.header .familysite li{width:86px; border-left:1px solid #e4e4e4; height:29px; line-height:26px;}
.header .familysite li:first-child{text-indent:-9999em; background:url(http://img.enuri.info/images/enuripc/ico_common.png) 15px 5px no-repeat; }
.header .top_menu .snb{float:right; padding-top:4px; }
.header .top_menu .snb li{padding:0 10px; position:relative; }
.header .top_menu .snb li:nth-child(2):after{background:none;}
.header .top_menu .snb li:after{content:""; left:-1px; top:5px; position:absolute; width:1px; background:#e4e4e4; height:11px;}
.header .top_menu .snb li:first-child:after{left:-9999px}
.header .top_menu .snb li:last-child{padding:0 0 0 10px;}
.header .top_menu .snb li:last-child a{background:url(http://img.enuri.info/images/main/ico_more.gif) right 4px no-repeat; padding-right:15px; }
.header .top_menu .snb li .sitemap{position:absolute; right:0; top:25px; padding:15px 7px 35px 10px; border: 2px solid #0083e8; width:445px; background:#ffffff; z-index:100}
.header .top_menu .snb li .sitemap dl{width:219px; float:left; margin-right:3px}
.header .top_menu .snb li .sitemap dt{color:#ffffff; font-weight:bold; background:#a8cfff; border-radius:3px; margin-bottom:7px; padding-bottom:1px}
.header .top_menu .snb li .sitemap dd{width:108px; height:155px; text-align:left; float:left; border-left: 1px solid #f1f1f1;}
.header .top_menu .snb li .sitemap dd:first-of-type{border-left:none;}
.header .top_menu .snb li .sitemap dd a{text-indent:10px; line-height:22px; background:none; padding-right:0;}
.header .top_menu .snb li .sitemap .all{width:100%; border-top:1px solid #f1f1f1; position:absolute; left:0; bottom:0; height:25px; line-height:23px; text-align:left; text-indent:8px}
.header .top_menu .snb li .sitemap .all a{display:inline-block; background:url(http://img.enuri.info/images/enuripc/ico_common.png) 0 0 no-repeat;}
.header .top_menu .snb li .sitemap .all .enuri_all{padding-right:10px; background-position:127px -214px}
.header .top_menu .snb li .sitemap .all .layer_close{position:absolute; right:0; top:0; text-indent:-9999em; width:25px; height:25px; padding-right:0; background-position:8px -245px}

/* 검색영역 */
.header .top_search{height:108px; width:970px; margin:0 auto; position:relative;}
.header .top_search h1{width:108px; height:27px; position:absolute; left:0; top:40px; z-index:9;}
.header .top_search h1 a{display:block; width:108px; height:27px; background:url(http://img.enuri.info/images/enuripc/ico_common.png) -40px -200px no-repeat; text-indent:-9999em; }
.header .top_search fieldset{width:100%; padding-top:25px; position:absolute;}
.header .top_search .search_area{width:414px; margin:0 auto; border-bottom:2px solid #555555; position:relative; padding-left:2px }
.header .top_search .search_area:before{position:absolute; left:0; bottom:0; height:4px; width:2px; background:#555555; content:""}
.header .top_search .search_area:after{position:absolute; right:0; bottom:0; height:4px; width:2px; background:#555555; content:""}
.header .top_search .search_area input{padding:8px 55px 8px 10px; width:345px; border:1px solid #ffffff; vertical-align:bottom; font-size:16px; font-weight:bold; color:#000; outline-style:none;}
.header .top_search .search_area input:focus{background:#ffffdd}
.header .top_search .search_area .searchbtn{position:absolute; right:10px; top:3px; width:34px; height:34px; background:transparent; outline-style:none;}
.header .top_search .search_area .searchbtn span{display:block; height:34px; text-indent:-9999em; background:url(http://img.enuri.info/images/enuripc/ico_common.png) 5px -175px no-repeat;}
.header .top_search .search_area .keyword__txt--ad {position:absolute;top:0;left:0;color:#999;font-size: 16px;padding: 8px 10px;width: 345px;}

.header .top_search .icobtn{position:absolute; right:0; top:30px;}
.header .top_search .icobtn li{float:left; cursor:pointer; color:#171717; width:55px; text-align:center; position:relative; }
.header .top_search .icobtn li:hover{font-weight:bold}
.header .top_search .icobtn li:after{position:absolute; left:0; top:0; width:1px; height:42px; background:#f2f2f2; content:"";}
.header .top_search .icobtn li:first-child:after{left:-9999px}
.header .top_search .icobtn li em.msg{position:absolute; right:5px; top:0; color:#ffffff; font-weight:bold; background:#ff4d4d; border:1px solid #ff3232; border-radius:50%; line-height:18px; width:18px; text-align:center; z-index:1}
.header .top_search .icobtn li.on{font-weight:bold}
.header .top_search .icobtn li span{-webkit-transition: background 0.2s; -moz-transition: background 0.2s; transition: background 0.2s; }
.header .top_search .icobtn li.on span{
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(1);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transition: transform 0.2s, opacity 0.2s;
	animation: push 0.4s ease-in-out;
}

@keyframes push {
    0% {transform: scale(0.1); }
    100% { transform: scale(1) }
}

.fadein{-webkit-keyframes: animationfade 2s;}

.header .top_search .icobtn li span{width:42px; height:42px; margin:0 auto; display:block; background:url(http://img.enuri.info/images/enuripc/ico_common.png) no-repeat; }
.header .top_search .icobtn li span.btn01{background-position:0 -79px; }
.header .top_search .icobtn li.on span.btn01{background-position:0 -126px; }
.header .top_search .icobtn li span.btn02{background-position:-51px -79px;}
.header .top_search .icobtn li.on span.btn02{background-position:-51px -126px;}
.header .top_search .icobtn li span.btn03{background-position:-102px -79px;}
.header .top_search .icobtn li.on span.btn03{background-position:-102px -126px;}

/* GNB (6EA) 
.header .gnb{background:url(http://img.enuri.info/images/enuripc/bg_gnb.gif); height:44px; position:relative;}
.header .gnb .gnb_area{margin:0 auto; width:970px; }
.header .gnb .gnb_area:after{clear:both; content:""; display:block; }
.header .gnb li{float:left; border-top:1px solid #e4e4e4;  }
.header .gnb li a{width:162px; line-height:43px; text-align:center; display:block; font-size:16px; color:#171717; background:url(http://img.enuri.info/images/enuripc/ico_common.png) -9999em -9999em no-repeat;}

.header .gnb li:nth-child(1) a{background-position:41px -275px; text-indent:-9999em; }
.header .gnb li.on:nth-child(1) a{background-position:-89px -275px; }
.header .gnb li:nth-child(2) a{background-position:45px -319px; text-indent:-9999em;}
.header .gnb li.on:nth-child(2) a{background-position:-90px -319px;}
.header .gnb li:nth-child(3) a{background-position:44px -364px; text-indent:-9999em;}
.header .gnb li.on:nth-child(3) a{background-position:-90px -364px;}
.header .gnb li:nth-child(4) a{background-position:45px -406px; text-indent:-9999em;}
.header .gnb li.on:nth-child(4) a{background-position:-88px -406px;}
.header .gnb li:nth-child(5) a{background-position:43px -450px; text-indent:-9999em;}
.header .gnb li.on:nth-child(5) a{background-position:-88px -450px;}
.header .gnb li:nth-child(6) a{background-position:54px -495px; text-indent:-9999em;}
.header .gnb li.on:nth-child(6) a{background-position:-75px -495px;}

.header .gnb li:first-child a{width:160px; }
.header .gnb li.on:first-child{background:#2da4a8; border-top:1px solid #29979b;}
.header .gnb li.on{background:#111111; border-top:1px solid #111111;}
.header .gnb li.on a{color:#ffffff}

.header .gnb li .sub{display:none; position:absolute; left:0; top:44px; width:100%; background:#333333; height:40px; /*border-bottom:2px solid #efefef;* / z-index:10}
.header .gnb li .sub ul{position:absolute; right:20px; top:7px;}
.header .gnb li:nth-child(2) .sub ul{position:absolute; left:175px; top:7px;}
.header .gnb li .sub li{border-top:none; padding:0 30px}
.header .gnb li .sub li.on{background:none; border-top:none; }
.header .gnb li .sub li span{color:#ffffff; line-height:24px; font-size:14px; cursor:pointer; display:block; }
.header .gnb li .sub li.on span{border-bottom:3px solid #27c5ca; border-radius:1px; text-decoration:none; font-weight:bold; }
.header .gnb li.on .sub{display:block;}
*/

/* GNB 조립PC3차 GNB(8EA) */
.header .gnb{background:url(http://img.enuri.info/images/enuripc/bg_gnb.gif); height:43px; position:relative; border-bottom:1px solid #ddd;}
.header .gnb:after{content:"";display:block;clear:both}
.header .gnb .gnb_area{margin:0 auto; width:970px; height:44px; overflow:hidden}
.header .gnb .gnb_area:after{content:""; display:block;clear:both; }
.header .gnb li{float:left; border-top:1px solid #e4e4e4;}
.header .gnb .gnb_area > li{margin-right:21px}
.header .gnb .gnb_area > li:last-child{margin-right:0}
.header .gnb li a{width:130px; margin:0 auto; line-height:43px; text-align:center; display:block; font-size:16px; color:#171717; text-indent:-9999em; background:url(http://img.enuri.info/images/enuripc/ico_common_v3.png?v=4) -9999em -9999em no-repeat;}
.header .gnb li.home {}
.header .gnb li.home a {width:60px;}
/* .header .gnb .gnb_area > li:first-child + li + li{width:142px} */

.header .gnb li:nth-child(1) a{background-position:-35px -276px;}
.header .gnb li.on:nth-child(1) a{background-position:-164px -276px;}
.header .gnb li:nth-child(2) a{background-position:0 -319px;}
.header .gnb li.on:nth-child(2) a{background-position:-130px -319px;}
/* 전문판매점PC .header .gnb li:nth-child(3) a{background-position:0 -620px;}
.header .gnb li.on:nth-child(3) a{background-position:-130px -620px;} */
.header .gnb li:nth-child(3) a{background-position:0 -405px;}
.header .gnb li.on:nth-child(3) a{background-position:-130px -405px;}
.header .gnb li:nth-child(4) a{background-position:0 -448px;}
.header .gnb li.on:nth-child(4) a{background-position:-130px -448px;}
.header .gnb li:nth-child(5) a{background-position:0 -491px;}
.header .gnb li.on:nth-child(5) a{background-position:-130px -491px;}
.header .gnb li:nth-child(6) a{background-position:0 -534px;}
.header .gnb li.on:nth-child(6) a{background-position:-130px -534px;}
.header .gnb li:nth-child(7) a{background-position:0 -578px;}
.header .gnb li.on:nth-child(7) a{background-position:-130px -578px;}

/* IE8 대응을 위해 nth-child 를 사용하지 않음. */
/* 210125 : 전문판매점 메뉴 삭제로 인한 수정 반영 */
/* 210223 : 에누리 리뉴올PC 메뉴 추가로 인한 수정 반영 */
/* 210330 : 에누리 리뉴올PC 메뉴 삭제로 인한 수정 반영 */
/*.header .gnb li:first-child a{background-position:22px -276px;}*/
/*.header .gnb li:first-child.on a{background-position:-96px -276px;}*/
/*.header .gnb li:first-child + li a{background-position:46px -320px;}*/
/*.header .gnb li:first-child + li.on a{background-position:-72px -320px;}!* */
/*.header .gnb li:first-child + li + li a{background-position:20px -366px;}*/
/*.header .gnb li:first-child + li + li.on a{background-position:-98px -366px;} *!*/
/*.header .gnb li:first-child + li + li a{background-position:39px -407px;}*/
/*.header .gnb li:first-child + li + li.on a{background-position:-79px -407px;}*/
/*.header .gnb li:first-child + li + li + li a{background-position:30px -452px;}*/
/*.header .gnb li:first-child + li + li + li.on a{background-position:-88px -452px;}*/
/*.header .gnb li:first-child + li + li + li + li a{background-position:38px -496px;}*/
/*.header .gnb li:first-child + li + li + li + li.on a{background-position:-80px -496px;}*/
/*.header .gnb li:first-child + li + li + li + li + li a{background-position:37px -541px;}*/
/*.header .gnb li:first-child + li + li + li + li + li.on a{background-position:-81px -541px;} */
/*.header .gnb li:first-child + li + li + li + li + li + li a{background-position:49px -586px;}*/
/*.header .gnb li:first-child + li + li + li + li + li + li.on a{background-position:-69px -586px;}*/

.header .gnb li:first-child a{width:60px; }
.header .gnb li.on:first-child{background:#2da4a8; border-top:1px solid #29979b;}
.header .gnb li.on{background:#111111; border-top:1px solid #111111;}
.header .gnb li.on a{color:#ffffff}

.header .gnb li .sub{display:none; position:absolute; left:0; top:44px; width:100%; background:url(http://img.enuri.info/images/enuripc/gnb_bg.png) repeat; /*background:#000; -ms-filter: alpha(opacity=70); filter: alpha(opacity=70); opacity:0.7; -moz-opacity:0.7;*/ height:40px; /*border-bottom:2px solid #efefef;*/ z-index:10}
.header .gnb li .sub ul{position:absolute; right:20px; top:7px;}
.header .gnb li:nth-child(2) .sub ul{position:absolute; left:35px; top:7px;}
.header .gnb li .sub li{border-top:none; padding:0 30px}
.header .gnb li .sub li.on{background:none; border-top:none; }
.header .gnb li .sub li span{color:#ffffff; line-height:24px; font-size:14px; cursor:pointer; display:block; }
.header .gnb li .sub li.on span{border-bottom:3px solid #27c5ca; border-radius:1px; text-decoration:none; font-weight:bold; }
.header .gnb li.on .sub{display:block;}

/* 하단 광고 배너 영역 */
.ad_banner_wrap {}
.ad_banner_wrap .ad_promotion {overflow:hidden; margin-bottom:10px;}
.ad_banner_wrap .ad_promotion img {vertical-align:top;}

/* 하단 공통 배너 */
.ad_bottom_area{clear:both; width:100%; background:url(http://img.enuri.info/images/enuripc/img_enuripc_0413.jpg) center top no-repeat #fff0dc; height:320px; text-indent:-9999em; }

/* FOOTER */
.footer{background:#555555; width: 100% !important; margin: inherit !important;}
.footer *{letter-spacing:-0.5px}
.footer .mnt{color:#808080; font-size:11px; line-height:50px; position:relative;}
.footer .mnt .admin_login{position:absolute; right:10px; top:10px; border:1px solid #787878; background:#444444; text-align:center; width:118px; height:28px; line-height:24px;  color: #eeeeee;}
.footer .site_info{border-top:1px solid #787878; border-bottom:1px solid #787878; padding:20px 0; position:relative;}
.footer .site_info:after{content:""; display:block; clear:both;}
.footer .site_info li{float:left; padding:0 13px; }
.footer .site_info li:first-child a{color:#eeeeee;}
.footer .site_info li a{color:#bbbbbb; display:block; position:relative; }
.footer .site_info li a:after{content:""; width:1px; height:12px; position:absolute; right:-13px; top:4px; background:#b0b0b0}
.footer .site_info li a.privacy{font-weight:bold; color:#eeeeee;}
.footer .site_info li a.privacy:after, .footer .site_info li:last-child a:after{background:none;}
.footer address{font-style:normal; color:#cccccc; padding:15px 0; float:left; width: 380px;}
.footer address .tit{display:block; color:#ffffff; font-size:14px;}
.footer .txt_copyright{color:#808080; font-size:11px}
.footer .enuritxt{color:#7b7b7b; font-size:11px; float:right; padding:7px 24px; background:#4d4d4d; margin-top:15px; line-height:14px}
.footer .enuritxt strong{display:block; font-size:12px; color:#cccccc; padding-bottom:3px; }
.footer .site_info li.right{padding-left:300px; border-left:none; }

/* wing */
.wing_area {position:absolute; top:999px; width:120px; z-index:1000;}
.wing_area.topnav{position:fixed; top:10px; right:50%; margin-right:-630px}
.wing_area.subtopnav{position:fixed; right:50%; margin-right:-630px}
.wing_area._left {left:50%; margin-left:-630px;}
.wing_area._right {right:50%; margin-right:-630px;}
.wing_area_sm.wing_area._left {margin-left:-454px;}
.wing_area_sm.wing_area._right {margin-right:-454px;}

.wing_area_nofix{position: absolute;top: 602px;width:120px;}
.wing_area_nofix._left{left:50%;margin-left:-630px;}
.wing_area_nofix._right{right:50%;margin-right:-630px;}
.go_top {position:fixed; right:50%; bottom:20px; margin-right:-605px; background:url(http://img.enuri.info/images/enuripc/ico_common.png) -154px -125px no-repeat; width:60px; height:63px; text-indent:-9999em;z-index: 10;}

/* 20180420 고객센터 내용 */
.subwing_service_group {overflow:hidden; position:absolute; top:0; left:0; width:120px; height:350px;}
.subwing_service_group ul {width:100%; border-top:1px solid #4a566e;}
.subwing_service_group ul li {padding:9px 5px; border:1px solid #dce3f1; border-top:0; background-color:#f6f9ff;}
.subwing_service_group ul li .just {display:block; text-align:center;}
.subwing_service_group ul li .just .tit {display:block; font-weight:bold; font-size:12px; color:#2d77ff; line-height:15px; vertical-align:top; letter-spacing:-1px;}
.subwing_service_group ul li .just .info {display:block; font-size:12px; color:#666; line-height:14px; vertical-align:top; letter-spacing:-1px;}
.subwing_service_group ul li.dark {padding:15px 5px 10px; border:1px solid #4a566e; border-top:0; background-color:#525f78;}
.subwing_service_group ul li.dark .just .tit {margin-bottom:4px; font-weight:normal; font-size:11px; color:#c8d1e1; line-height:14px; vertical-align:top;}
.subwing_service_group ul li.dark .just .info {font-size:12px; color:#fff; line-height:30px; vertical-align:middle;}
.subwing_service_group ul li.dark .just .info .icon {position:relative; width:14px; height:14px; margin:7px 5px 0 0; vertical-align:top; background-position:-400px 0;}
.subwing_service_group ul li.dark .just .info .icon.today {background-position:-400px 0;}
.subwing_service_group ul li.dark .just .info .icon.salepc {margin-right:2px; background-position:-400px -30px;}
.subwing_service_group ul li.dark .just .info .numb {font:normal 24px/24px Arial; color:#fff; vertical-align:-2px;}


/* 20180420 에누리 링크 */
.wing_enurilink {overflow:hidden; position:relative; width:120px; margin-bottom:10px;}
.wing_enurilink ul {width:100%; border-top:1px solid #e2e2e2;}
.wing_enurilink ul li {padding:23px 0 19px; border:1px solid #e2e2e2; border-top:0; background-color:#fcfcfc;}
.wing_enurilink ul li .just {display:block; text-align:center;}
.wing_enurilink ul li .just .icon {display:block; position:relative; width:30px; height:28px; margin:0 auto;}
.wing_enurilink ul li .just .icon.elink1 {background-position:-448px 1px;}
.wing_enurilink ul li .just .icon.elink2 {top:-6px; background-position:-490px 1px;}
.wing_enurilink ul li .just .icon.elink3 {top:-5px; background-position:-529px 0;}
.wing_enurilink ul li .just .tit {display:block; font-weight:bold; font-size:12px; color:#2d77ff; line-height:15px; vertical-align:top; letter-spacing:-1px;}
.wing_enurilink ul li .just .info {display:block; font-size:12px; color:#666; line-height:14px; vertical-align:top; letter-spacing:-1px;}

/* 이용가이드(SUB 적용) */
#wingPointArea {position:relative;}
.subwing_group {}
.subwing_group .wing_area {top:77px;}

.subwing_guide_group {position:relative; margin-bottom:5px;}
.subwing_guide_group ul {width:100px; padding:0 9px 1px; border:1px solid #e2e2e2; background-color:#fcfcfc;}
.subwing_guide_group ul li {border-bottom:1px solid #e2e2e2;}
.subwing_guide_group ul li:last-child {border-bottom:0;}
.subwing_guide_group ul li .btn {display:block; overflow:hidden; width:100px; height:76px; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/enuripc/guide_group_img.jpg) no-repeat;}
.subwing_guide_group ul li .btn.ico1 {background-position:0 0;}
.subwing_guide_group ul li .btn.ico2 {background-position:-100px 0;}
.subwing_guide_group ul li .btn.ico3 {background-position:-200px 0;}
.subwing_guide_group ul li .btn.ico4 {background-position:-300px 0;}
.subwing_guide_group ul li .btn.ico1:hover {background-position:0 -76px;}
.subwing_guide_group ul li .btn.ico2:hover {background-position:-100px -76px;}
.subwing_guide_group ul li .btn.ico3:hover {background-position:-200px -76px;}
.subwing_guide_group ul li .btn.ico4:hover {background-position:-300px -76px;}

.pc_wrap{padding-bottom:50px;}
.pc_wrap:after{content:""; display:block; clear:both; }
.pc_wrap.game{padding-bottom:0; background-color: #222}


/*레이어*/
#company_popup_min{top:0; -webkit-transform: translateY(0%); transform: translateY(0%);}
.shop_layer{box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); border:1px solid #60646f; width:730px; background:#ffffff; margin-left:-365px;position:absolute; left:50%; top:50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index:10}
.shop_layer h2{height:35px; line-height:30px; position:relative; background:#575c67; color:#ffffff; font-weight:normal; font-size:14px; text-indent: 10px;}
.shop_layer h2 a{position:absolute; right:0px; top:0px;width:35px; height:35px; background:url(/images/enuripc/ico.png) 13px -252px no-repeat; text-indent:-9999em}
.shop_layer h3{text-align:center; font-size:22px; padding-bottom:20px;}
.shop_layer .layer_box{width:700px; margin:20px auto; max-height:600px; overflow:auto; overflow-x:hidden }
/* 2018-03-29 팝업일 경우에는 오버플로우 해제 */
.shop_layer .com_info{width:100%; color:#666666;  }
.shop_layer .com_info th{background:#fcfcfc; width:118px; border:1px solid #eeeeee;}
.shop_layer .com_info td{padding:10px 18px; border:1px solid #eeeeee;}
.shop_layer .com_info td.notice{color:#148c90}
.shop_layer img,
.shop_layer .seller_img {width:700px; max-width:100%; height:auto; margin-top:20px;}

/* 레이어 - 프린트 전용 */
.shop_layer-print {position:relative; top:0; left:0; width:800px; height:auto; margin-left:0; border:0; box-shadow:none; transform:translateY(0); -webkit-transform:translateY(0);}
.shop_layer-print .layer_box {overflow:visible; max-height:100%;}

/* 조립PC 신규 DA지면 추가 */
.ad_banner_top{width:100%;height:70px;overflow:hidden;position:relative;border-bottom: 1px solid #dbdbdb;}
.ad_banner_top > a{display:block;height:70px;margin:0 auto}
.ad_banner_top .btn_close{position:absolute;top: 10px;left:50%;margin-left:454px;width: 21px;height: 21px;border: 0;cursor: pointer;z-index: 100;line-height: 21px;text-indent: -99999em;background: url(http://img.enuri.info/images/banner_2015/X.png) no-repeat;}
.ad_banner{width:970px;height:90px;overflow:hidden;position:relative;margin:0 auto}
.ad_banner > a{display:block;height:90px;text-indent:-9999em}
.ad_banner.ad_bnr_j2{margin:20px auto -5px}/* 에누리PC 상단 배너 */
.ad_banner.ad_bnr_j3{margin:-30px auto 30px}/* 전문판매점PC 상단 배너 */
.ad_banner.ad_bnr_j4{margin:25px auto -5px}/* 부품/주변기기 상단 배너 */
.ad_banner.ad_bnr_j5{padding-top:20px;margin:0 auto -5px}/* 온라인 견적 상단 배너 */
.ad_banner.ad_bnr_j6{margin:20px auto 20px}/* PC견적상담 상단 배너 */
.ad_banner.ad_bnr_j7{margin:25px auto -5px}/* 커뮤니티 상단 배너 */
.ad_banner.ad_bnr_j8,
.ad_banner.ad_bnr_j10{margin:27px auto 0}/* 에누리PC / 부품/주변기기 상세 페이지 상단 배너 */
.ad_banner.ad_bnr_j9{padding-top:32px}/* 전문판매점PC 상세 페이지 상단 배너 */