@charset "utf-8";

/* MAIN WRAPPER */
.main_container {}

/* MAIN HEAD */
.main_head {overflow:hidden; min-height:750px;}

@media (max-width:768px) {
    .main_head {width:970px; margin:0 auto;}
}
.m_banner {/*background-color:#3a3532;*/}

.gmain_slides {position:relative;}
.gmain_slides .item {min-height:360px; text-align:center;}
.gmain_slides .item > a {display:inline-block; vertical-align:middle;}
.gmain_slides .item > img {display:inline !important; vertical-align:middle;}
/* 에누리 A/S 서비스 아이템 */
.gmain_slides .item .item__inner {position:relative; width:970px; margin:0 auto;}
.gmain_slides .item .item__inner > a.btn__asdetail {display:block; position:absolute; bottom:41px; left:99px; width:206px; height:38px; font-size:0; text-indent:-9999px; outline:0;}
.gmain_slides .slick-arrow {overflow:hidden; position:absolute; top:50%; z-index:100; width:32px; height:60px; margin-top:-30px; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/enuripc/gmain_util.png) no-repeat;}
.gmain_slides .slick-arrow.slick-prev {left:50%; margin-left:-485px; background-position:0 0;}
.gmain_slides .slick-arrow.slick-next {right:50%; margin-right:-485px; background-position:-32px 0;}
.gmain_slides .slick-dots {display:block; position:absolute; bottom:10px; left:50%; z-index:100; width:auto; height:16px; padding:6px 14px; border:0; border-radius:14px; text-align:center; transform:translateX(-50%); background:url(http://img.enuri.info/images/enuripc/gnb_bg.png);}
.gmain_slides .slick-dots li {display:inline-block; margin:0 4px; vertical-align:top;}
.gmain_slides .slick-dots li button {width:16px; height:16px; font-size:0; text-indent:-9999px; vertical-align:top; background:url(http://img.enuri.info/images/enuripc/gmain_util.png) 0 -120px no-repeat;}
.gmain_slides .slick-dots li.slick-active button {background-position:-16px -120px;}
.gmain_slides .item .nodata {padding:60px 0;}
.gmain_slides .item .nodata .none {margin-bottom:0;}

/* MAIN CONTENTS */
.main_contents {padding:30px 0;}

.m_standard {overflow:hidden; border-bottom:1px solid #e2e2e2; background-color:#f5f5f5;}

/* 20180420 고객센터 내용 */
.wing_service_group {overflow:hidden; position:absolute; top:0; left:-145px; width:120px; height:350px;}
.wing_service_group ul {width:100%; border-top:1px solid #4a566e;}
.wing_service_group ul li {padding:9px 5px; border:1px solid #dce3f1; border-top:0; background-color:#f6f9ff;}
.wing_service_group ul li .just {display:block; text-align:center;}
.wing_service_group ul li .just .tit {display:block; font-weight:bold; font-size:12px; color:#2d77ff; line-height:15px; vertical-align:top; letter-spacing:-1px;}
.wing_service_group ul li .just .info {display:block; font-size:12px; color:#666; line-height:14px; vertical-align:top; letter-spacing:-1px;}
.wing_service_group ul li.dark {padding:15px 5px 10px; border:1px solid #4a566e; border-top:0; background-color:#525f78;}
.wing_service_group ul li.dark .just .tit {margin-bottom:4px; font-weight:normal; font-size:11px; color:#c8d1e1; line-height:14px; vertical-align:top;}
.wing_service_group ul li.dark .just .info {font-size:12px; color:#fff; line-height:30px; vertical-align:middle;}
.wing_service_group ul li.dark .just .info .icon {position:relative; width:14px; height:14px; margin:7px 5px 0 0; vertical-align:top; background-position:-400px 0;}
.wing_service_group ul li.dark .just .info .icon.today {background-position:-400px 0;}
.wing_service_group ul li.dark .just .info .icon.salepc {margin-right:2px; background-position:-400px -30px;}
.wing_service_group ul li.dark .just .info .numb {font:normal 24px/24px Arial; color:#fff; vertical-align:-2px;}


/* 이용가이드 */
.wing_guide_group {/*position:absolute; top:40px; left:-140px;*/}
.wing_guide_group ul {width:100px; padding:0 9px 1px; border:1px solid #e2e2e2; background-color:#fcfcfc;}
.wing_guide_group ul li {border-bottom:1px solid #e2e2e2;}
.wing_guide_group ul li:last-child {border-bottom:0;}
.wing_guide_group ul li .btn {display:block; overflow:hidden; width:100px; height:76px; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/enuripc/guide_group_img.jpg) no-repeat;}
.wing_guide_group ul li .btn.ico1 {background-position:0 0;}
.wing_guide_group ul li .btn.ico2 {background-position:-100px 0;}
.wing_guide_group ul li .btn.ico3 {background-position:-200px 0;}
.wing_guide_group ul li .btn.ico4 {background-position:-300px 0;}
.wing_guide_group ul li .btn.ico1:hover {background-position:0 -76px;}
.wing_guide_group ul li .btn.ico2:hover {background-position:-100px -76px;}
.wing_guide_group ul li .btn.ico3:hover {background-position:-200px -76px;}
.wing_guide_group ul li .btn.ico4:hover {background-position:-300px -76px;}

.ms_prod_wrap {overflow:hidden; margin:20px 0; box-shadow:0 4px 0 #ebebeb;}
.ms_prod_wrap .tit {display:inline; float:left; width:250px; font-weight:normal; font-size:24px; color:#555; line-height:40px; vertical-align:middle;}
.ms_prod_wrap .tit em {margin-left:12px; border-bottom:1px solid #6bbdc0; color:#148c90;}

.ms_nav {display:table; float:left; position:relative; z-index:20; width:720px;}
.ms_nav li {float:left; width:240px;}
.ms_nav._two li {width:360px;}
.ms_nav._one li {width:720px;}
.ms_nav li .btn {display:block; overflow:hidden; position:relative; z-index:25; width:100%; padding:0 10px; font-size:15px; color:#555; line-height:39px; box-sizing:border-box; text-align:center; text-decoration:none; text-overflow:ellipsis; white-space:nowrap;}
.ms_nav li.on .btn {border:1px solid #ccc; border-top-left-radius:5px; border-top-right-radius:5px; border-bottom:1px solid #fff; font-weight:bold; color:#148c90; background-color:#fff;}

.ms_contents {overflow:hidden; float:left; width:100%; position:relative; z-index:10; width:968px; height:308px; margin-top:-1px; border:1px solid #ccc; background-color:#fff;}
.ms_cont {float:left; width:100%;}
.ms_cont .img_thumb {float:left; width:250px; height:308px;}
.ms_cont .img_thumb .imgs {max-width:250px; max-height:308px;}
.part_wrap {display:inline; float:right; width:666px; margin-right:29px;}
.part_wrap .pctit {overflow:hidden; width:100%; margin-bottom:15px; padding-top:35px; border-bottom:2px solid #2da4a8;}
.part_wrap .pctit h3 {display:block; overflow:hidden; float:left; width:340px; font-size:22px; color:#343434; line-height:47px; text-overflow:ellipsis; white-space:nowrap;}
.part_wrap .pctit .price {float:left; width:193px; padding-right:10px; font-weight:bold; font-size:20px; color:#1c1c1c; vertical-align:middle; text-align:right;}
.part_wrap .pctit .price strong {font:bold 28px/47px Tahoma, sans-serif; color:#1c1c1c; vertical-align:-2px;}
.part_wrap .pctit .btn_buy {display:inline; float:right; width:120px; height:34px; margin:4px auto; border:1px solid #f22; font-weight:bold; font-size:18px; color:#fff; line-height:32px; vertical-align:middle; text-align:center; background-color:#f44; box-shadow:0 2px 0 #f5f5f5;}
.part_wrap .pctit .btn_buy:hover {text-decoration:none !important;}
.part_wrap .pctit .btn_buy.soldout {border-color:#d2d2d2; font-weight:normal; color:#787878; background-color:#eee; cursor:default;}
.part_wrap .pctit .btn_buy.soldout:hover,
.part_wrap .pctit .btn_buy.soldout:focus {text-decoration:none !important;}

.part_wrap .part_list {float:left; width:376px;}
.part_wrap .part_list li {float:left; position:relative; width:90px; padding-right:4px; padding-bottom:4px;}
.part_wrap .part_list li > a {display:block; overflow:hidden; width:88px; height:88px; border:1px solid #d2d2d2; text-align:center; line-height:84px; vertical-align:middle;}
.part_wrap .part_list li > a .badge {display:block; position:absolute; top:0; left:0; padding:0 5px; font-weight:bold; font-size:12px; color:#fff; line-height:16px; background-color:#555;}
.part_wrap .part_list li > a .imgs {display:inline-block; max-width:88px; max-height:88px; vertical-align:middle;}
.part_wrap .part_list li > a .pname {display:none; position:absolute; top:0; left:0; width:100%; max-width:90px; height:28px; padding:31px 0; text-align:center; background:url(http://img.enuri.info/images/enuripc/hover_bg.png) repeat;}
.part_wrap .part_list li > a .pname span {display:-ms-flexbox; display:-webkit-box; width:100%; height:28px; font-weight:bold; font-size:12px; color:#fff; line-height:14px; -webkit-line-clamp:2; text-align:center; vertical-align:middle;}
.part_wrap .part_list li > a:hover .pname,
.part_wrap .part_list li > a:focus .pname {display:block;}

.media_area {float:right; position:relative; width:282px; height:182px; border:1px solid #d2d2d2;}
.media_area .tit {display:block; width:100%; height:22px; border-bottom:1px solid #d2d2d2; font-weight:bold; font-size:12px; color:#343434; line-height:22px; text-align:center; vertical-align:middle;}
.media_area .media {display:block; clear:both; width:282px; height:159px; margin:0 auto;}

/* 2018-01-25 홈 표준PC 영역 디자인 변경 */
.standardinner {overflow:hidden; padding:20px;}

/* 좌 영역 */
.standard-left {display:inline; float:left; width:477px; height:268px;}
.standard-media {width:100%; height:100%;}
.standard-media .nodata {padding:55px 0;}
.standard-media .nodata .msg {margin-top:10px; margin-bottom:15px; font-size:14px;}
.standard-media .nodata .none {margin-bottom:0; width:135px; height:88px; background-position:-250px -387px;}

/* 우 영역 */
.standard-right {float:right; width:420px;}
.standard-detail {}
.standard-detail .sdpc-name {display:block; margin:5px 0 10px; font-size:24px; color:#343434; line-height:34px; vertical-align:middle;}
.standard-detail .sdpc-info {background-color:#f0f6f6;}
.standard-detail .sdpc-info ul {width:380px; height:129px; margin-bottom:19px; padding:12px 20px;}
.standard-detail .sdpc-info ul li {position:relative; height:25px;}
.standard-detail .sdpc-info ul li span {display:inline; float:left; font-size:14px; line-height:25px; vertical-align: middle;}
.standard-detail .sdpc-info ul li .th {width:98px; font-weight:bold; color:#148c90; }
.standard-detail .sdpc-info ul li .td {width:280px; color:#1a1a1a;}
.standard-detail .sdpc-price {position:relative; text-align:right;}
.standard-detail .sdpc-price .price {display:inline-block; padding-right:20px; font-size:12px; color:#171717; text-align:right; line-height:32px; vertical-align:middle;}
.standard-detail .sdpc-price .price strong {font-weight:bold; font-size:26px; color:#171717; vertical-align:-2px;}
.standard-detail .sdpc-price .btn.btn_buy {float:right; width:120px; height:34px; margin:0 auto; border:1px solid #f22; font-weight:bold; font-size:18px; color:#fff; line-height:30px; text-align:center; background-color:#f44; box-shadow:0 2px 0 #e0e0e0;}
.standard-detail .sdpc-price .btn:hover {text-decoration:none !important;}
.standard-detail .sdpc-price .btn.btn_buy.soldout {border-color:#d2d2d2; font-weight:normal; color:#787878; background-color:#eee; cursor:default;}
/* 품절일 때 */
.standardinner.is-soldout {}
.is-soldout .standard-left {width:268px;}
.is-soldout .standard-media {width:100%; height:100%;}

.is-soldout .standard-right {width:630px;}
.is-soldout .standard-detail .sdpc-info ul {width:590px;}
.is-soldout .standard-detail .sdpc-info ul li .td {width:490px} 

/* 배너 영역 */
.is-banner .standard-left {width:468px;}
.is-banner .standard-right {width:440px;}
.is-banner .standard-media {width:100%; height:100%;}

.banner-detail {position:relative; padding-bottom:46px;}
/* .banner-head {overflow:hidden; margin-bottom:10px;}
.banner-head .thumb {display:inline; float:left; width:128px; height:74px; margin-right:18px; border:1px solid #eee;}
.banner-head .name {display:inline; float:left; padding-top:6px;}
.banner-head .name:hover {text-decoration:underline;}
.banner-head .name .tit {display:block; float:none; position:relative; margin-bottom:3px; font-weight:bold; font-size:12px; color:#333; line-height:18px; vertical-align:top;; letter-spacing:-1px;}
.banner-head .name .tit .icon.play {display:inline; float:left; width:16px; height:13px; margin:4px 4px 0 0; background-position:-400px -70px;}
.banner-head .name .txt {display:block; font-size:13px; color:#666; line-height:18px; letter-spacing:0;} */

/* 190128 상품명 노출 수정 */
.banner-head {overflow:hidden; margin-bottom:24px;}
.banner-head > span { display:block; padding-left: 12px; width: 428px;  font-size: 20px; letter-spacing: -0.025em; color:#000; font-weight: bold; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;  line-height: 1.4;  }


.banner-info {}
.banner-info ul {width:100%;}
.banner-info ul li {position:relative; height:28px;}
.banner-info ul li:nth-child(odd) {background-color:#f5f9f9;}
.banner-info ul li.odd {background-color:#f5f9f9;}
.banner-info ul li span {display:inline; float:left; font-size:13px; line-height:26px; vertical-align: middle;}
.banner-info ul li .th {position:relative; width:74px; padding-left:23px; font-weight:bold; color:#148c90;}
.banner-info ul li .th:before {content:""; display:block; position:absolute; top:12px; left:14px; width:4px; height:4px; background:url(http://img.enuri.info/images/enuripc/stripe_img.png) -118px -70px no-repeat;}
.banner-info ul li .td {width:320px; color:#333; letter-spacing:0;}
.banner-price {position:absolute; bottom:0; right:0; text-align:right;}
.banner-price .price {display:inline-block; padding-right:18px; font-size:16px; color:#171717; text-align:right; line-height:36px; vertical-align:middle;}
.banner-price .price strong {font-weight:bold; font-size:28px; color:#171717; vertical-align:-2px;}
.banner-price .emoney{margin-right:8px;vertical-align:-3px}
.banner-price .btn.btn_buy {float:right; width:120px; height:34px; margin:0 auto; border:1px solid #f22; font-weight:bold; font-size:18px; color:#fff; line-height:30px; letter-spacing:-1px; text-align:center; background-color:#f44; box-shadow:0 2px 0 #e0e0e0;}
.banner-price .btn:hover {text-decoration:none !important;}
.banner-price .btn.btn_buy.soldout {border-color:#d2d2d2; font-weight:normal; color:#787878; background-color:#eee; cursor:default;}

/* main content sector */
.m_section {/*overflow:hidden; */ clear:both; float:left; position:relative; width:100%; margin-bottom:35px;}
.m_s_head {overflow:hidden; margin-bottom:30px; border-bottom:2px solid #787878;}
.m_s_head > .tit {float:left; font-size:24px; line-height:36px; vertical-align:middle;}
.row {position:relative; margin-left:-10px; margin-right:-10px;}
.row .col_box {float:left; margin:0 10px;}

/* 추천상품 & 에누리전문판매점추천PC */
.recom_prod {min-height:278px;}
.recom_prod .col_box {width:308px; margin-bottom:10px; border:1px solid #d2d2d2;}
.recom_prod .col_box .inner {overflow:hidden; float:left; width:100%; height:198px;}
.recom_prod .col_box .inner > a.btn {display:block; position:relative; width:100%; height:100%;}
.recom_prod .col_box .inner > a.btn .price {position:absolute; bottom:5px; left:20px; font-size:12px; color:#171717;}
.recom_prod .col_box .inner > a.btn .price em {font-weight:bold; font-size:24px; vertical-align:-2px; letter-spacing:-1px;}
.recom_prod .col_box .inner > a.btn .price.soldout em {color:#f00; text-align:left; font-size:18px;}
.recom_prod .col_box .inner > a.btn .emoney{position:absolute;bottom:36px;left:20px}
/*
.recom_prod .col_box .inner .info {float:left; width:130px; padding:38px 0 0 20px;}
.recom_prod .col_box .inner .info .ptit {margin-bottom:5px; font-weight:bold; font-size:15px; line-height:18px; color:#171717;}
.recom_prod .col_box .inner .info .ptit strong {display:block; font-weight:bold; font-size:20px; line-height:24px; color:#2da4a8;}
.recom_prod .col_box .inner .info .pdetail {margin-bottom:8px;}
.recom_prod .col_box .inner .info .pdetail li {position:relative; padding-left:10px; font-size:11px; line-height:15px; color:#555;}
.recom_prod .col_box .inner .info .pdetail li:after {content:''; position:absolute; top:7px; left:0; width:2px; height:2px; background-color:#2da4a8;}
.recom_prod .col_box .inner .info .price {font-size:12px; color:#171717;}
.recom_prod .col_box .inner .info .price em {font-weight:bold; font-size:24px; vertical-align:-2px; letter-spacing:-1px;}
.recom_prod .col_box .inner .imgs {float:right;}
*/
.recom_prod .col_box .inner .badge {position:absolute; top:-2px; left:-2px; z-index:100; width:54px; height:35px; background-position:-1000px -1000px} 
.recom_prod .col_box .inner .badge._best {background-position:-272px -140px;}
.recom_prod .col_box .inner .badge._recomm {background-position:-336px -140px;}
.recom_prod .col_box .inner .badge._pop {background-position:-400px -140px;}

.recom_gamepc_prod .list_gamepc_prod{overflow:hidden;}
.recom_gamepc_prod .list_gamepc_prod li{float:left;width:178px;height:143px;position: relative;margin-left:20px}
.recom_gamepc_prod .list_gamepc_prod li:first-child{margin-left:0}
.recom_gamepc_prod .list_gamepc_prod li a{display:block;position: relative;}
.recom_gamepc_prod .list_gamepc_prod li a:before{content:"";position: absolute;left:0;top:0;right:0;bottom:0;border:1px solid rgba(0, 0, 0, 0.129)}
.recom_gamepc_prod .list_gamepc_prod li .gamepc_thumb{width:178px;height:102px;display:block}
.recom_gamepc_prod .list_gamepc_prod li .gamepc_thumb img{width:100%;height:100%}
.recom_gamepc_prod .list_gamepc_prod li .gamepc_info{display:block;padding:0 5px;height:41px;line-height:40px;font-size:16px;letter-spacing:-1px;text-align:center;color:#555}

/* 이벤트/기획전 */
.event_promotion {position:relative;}
.event_promotion .row {margin:0;}
.event_promotion .col_box {width:314px; min-height:200px; margin:0; margin-right:11px; margin-bottom:10px; border:1px solid #d2d2d2;}
/*.event_promotion .col_box {width:308px; min-height:199px; margin-bottom:10px; border:1px solid #d2d2d2;}*/
.event_promotion .col_box.col_box-3n {margin-right:0;}
.event_promotion .col_box:nth-child(3),
.event_promotion .col_box:nth-child(6),
.event_promotion .col_box:nth-child(9) {margin-right:0;}
.event_promotion .col_box > a.btn {display:block;}
.event_promotion .col_box img {width:314px; height:200px;}
.event_promotion .col_box .nodata {padding:25px 0 35px;}
.event_promotion .col_box .nodata .msg {margin-top:10px; margin-bottom:15px; font-size:18px;}
.event_promotion .col_box .nodata .none {margin-bottom:0; width:135px; height:88px; background-position:-250px -387px;}

.evtprom_arrows {position:absolute; top:12px; right:0; height:20px;}
.evtprom_arrows p {display:inline-block; padding:0 5px;}
.evtprom_arrows p span {padding:0 2px; font-size:14px; color:#666; line-height:20px; vertical-align:-2px;}
.evtprom_arrows p span.curr {font-weight:bold; color:#171717;}
.evtprom_arrows .slick-arrow {overflow:hidden; display:inline-block; width:20px; height:20px; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/enuripc/stripe_img.png) no-repeat;}
.evtprom_arrows .slick-arrow.slick-prev {background-position:-350px -50px;}
.evtprom_arrows .slick-arrow.slick-next {background-position:-370px -50px;}

/* 커뮤니티 */
.community_wrap {position:relative;}
.community_wrap .col_box {width:290px; height:218px; margin-bottom:10px; padding:0 9px; border:1px solid #d2d2d2;}
.community_wrap .col_box.two_col {width:618px;}
.community_wrap .col_box > a.btn {display:block;}
.cw_head {position:relative; padding-top:5px; margin-bottom:14px; border-bottom:1px solid #eee;}
.cw_head .tit {padding-left:4px; font-weight:bold; font-size:15px; color:#171717; line-height:36px; vertical-align:middle;}
.cw_head .more {position:absolute; top:12px; right:10px; padding:0 5px; border:1px solid #e2e2e2; font-size:11px; color:#666; line-height:17px; text-align:center; vertical-align:middle;}
.cw_head .more .plus {display:inline-block; width:10px; height:10px; margin-right:3px; background-position:-174px -74px; vertical-align:-1px;}
.cw_cont {overflow:hidden;}
.cw_cont a:hover {text-decoration:underline;}
.cw_cont .cw_board {}
.cw_cont .cw_board li {font-size:13px; color:#555; line-height:24px;}
.cw_cont .cw_board li a {} 
.cw_cont .cw_board._real {float:left; width:450px; height:144px; overflow:hidden;}
.cw_cont .cw_board._real li {overflow:hidden;}
.cw_cont .cw_board._real li .cell {float:left; text-align:center; height:24px; overflow:hidden;}
.cw_cont .cw_board._real li .cell.usage {width:115px; }
.cw_cont .cw_board._real li .cell.price {width:105px; font-weight:bold;}
.cw_cont .cw_board._real li .cell.tit {width:230px; text-align:left;}
.cw_cont .cw_board._real li .cell.usage.sty1 {color:#4f8af4;}
.cw_cont .cw_board._real li .cell.usage.sty2 {color:#d94be6;}
.cw_cont .cw_board._real li .cell.usage.sty3 {color:#0bb723;}
.cw_cont .cw_board._real li .cell.usage.sty4 {color:#555;}  
.cw_cont .makepc {float:right; padding-right:10px;}
.cw_cont .cw_board._notice li {padding-left:10px;} 
.cw_cont .cw_board._notice li a {display:block; position:relative; padding:0 10px;} 
.cw_cont .cw_board._notice li a:after {content:''; position:absolute; top:12px; left:0; width:2px; height:2px; background-color:#2da4a8;}

.cw_cont .cw_board._review li {padding-left:10px;} 
.cw_cont .cw_board._review li a {display:block; position:relative; padding:0 10px;} 
.cw_cont .cw_board._review li.none {}
.cw_cont .cw_board._review li.none .nodata {padding:0;}
.cw_cont .cw_board._review li.none .nodata .msg {margin-top:10px; margin-bottom:15px; font-size:14px;}
.cw_cont .cw_board._review li.none .nodata .none {margin-bottom:0; width:135px; height:88px; background-position:-250px -387px;}

/* 별 평가 */
.star_rate {display:inline; overflow:hidden; float:left; width:64px; height:11px; margin-top:7px; line-height:11px; background:url(http://img.enuri.info/images/enuripc/graph_star.png) 0 -12px no-repeat;}
.star_fill {display:block; width:100%; height:100%; font-size:0; line-height:0; text-indent:-9999px; background:url(http://img.enuri.info/images/enuripc/graph_star.png) 0 0 no-repeat;}

.cw_cont .cw_board._guidediv {display:inline; float:left; width:280px; height:150px;}
.cw_cont .cw_board._guidediv._news {margin-right:29px; padding-right:27px; border-right:1px solid #eee;}
.cw_cont .cw_board._guidediv li {padding-left:10px;} 
.cw_cont .cw_board._guidediv li a {display:block; position:relative; padding:0 10px;} 
.cw_cont .cw_board._guidediv li a:hover span {text-decoration:underline;}
.cw_cont .cw_board._guidediv li a:after {content:''; position:absolute; top:12px; left:0; width:2px; height:2px; background-color:#2da4a8;}
.cw_cont .cw_board._guidediv li.inimg {margin-bottom:12px; padding-left:0;}
.cw_cont .cw_board._guidediv li.inimg a {display:block; overflow:hidden; width:100%;}
.cw_cont .cw_board._guidediv li.inimg a:after {display:none;}
.cw_cont .cw_board._guidediv li.inimg a .imgs {display:inline; float:left; margin-right:14px;}
.cw_cont .cw_board._guidediv li.inimg a .txt {float:left; width:170px; height:60px; padding:3px 0; font-size:14px; line-height:20px; color:#343434; -webkit-line-clamp:3;}
.cw_cont .cw_board._guidediv._buy li {padding-left:0;}
.cw_cont .cw_board._guidediv._buy li.inimg a {padding:0;}



/* 용도별 추천조립PC 리스트 */
.app_recompc .tabs {overflow:hidden; padding-top:5px; text-align:right;}
.app_recompc .tabs li {display:inline-block;}
.app_recompc .tabs li .btn {padding-left:20px; font-size:14px; color:#666; line-height:30px; vertical-align:middle;}
.app_recompc .tabs li .btn.on {font-weight:bold; color:#171717;}
.app_recompc .tabs li .btn.on .icon {width:9px; height:6px; background-position:-153px -50px;}

.app_recompc .row {margin-left:-25px; margin-right:-25px;} 
.app_recompc .col_box {display:inline; overflow:hidden; float:left; width:460px; margin:0; padding:0 25px 20px;}
.app_recompc .col_box.b_border {margin-bottom:20px; border-bottom:1px solid #e2e2e2;}
.app_recompc .col_box .inner {overflow:hidden;}
.app_recompc .col_box .inner .thumb {display:inline; float:left; width:200px; position:relative; margin-right:10px;}
.app_recompc .col_box .inner .thumb .imgs {width:198px; height:198px; border:1px solid #d2d2d2;}
.app_recompc .col_box .inner .thumb .badge {display:none; overflow:hidden; position:absolute; left:3px; bottom:1px;}
.app_recompc .col_box .inner .thumb .badge li.icon {display:inline; float:left; width:28px; height:30px; margin-right:2px;}
.app_recompc .col_box .inner .thumb .badge li.icon.bdg1 {background-position:0 -140px;}
.app_recompc .col_box .inner .thumb .badge li.icon.bdg2 {background-position:-30px -140px;}
.app_recompc .col_box .inner .thumb .badge li.icon.bdg3 {background-position:-60px -140px;}
.app_recompc .col_box .inner .txtwrap {float:left; width:250px;}
.app_recompc .col_box .inner .txtwrap .pname {display:block; width:250px; height:38px; margin:6px 0 11px; font-size:15px; color:#171717; line-height:19px;}
.app_recompc .col_box .inner .txtwrap .pname:hover {text-decoration:underline;}
.app_recompc .col_box .inner .txtwrap .pname span.txt {display:block;}
.app_recompc .col_box .inner .txtwrap .pinfo {margin-bottom:12px; padding:9px 8px 6px; background-color:#f9f9f9;}
.app_recompc .col_box .inner .txtwrap .pinfo ul {}
.app_recompc .col_box .inner .txtwrap .pinfo ul li {position:relative; overflow:hidden; height:17px;}
.app_recompc .col_box .inner .txtwrap .pinfo ul li span {display:inline-block; float:left; padding-left:7px; font-size:11px; line-height:13px; vertical-align:middle;}
.app_recompc .col_box .inner .txtwrap .pinfo ul li .th {width:45px; border-right:1px solid #e2e2e2; color:#888;}
.app_recompc .col_box .inner .txtwrap .pinfo ul li .th:after {content:""; display:inline-block; position:absolute; top:7px; left:0; width:3px; height:3px; background-color:#999;}
.app_recompc .col_box .inner .txtwrap .pinfo ul li .td {width:173px; color:#555;}
.app_recompc .col_box .inner .txtwrap .pprice {position:relative;text-align:right}
/* .app_recompc .col_box .inner .txtwrap .pprice .price {float:left; width:145px; padding-right:5px; font-size:12px; color:#171717; text-align:right; line-height:32px; vertical-align:middle;} */
.app_recompc .col_box .inner .txtwrap .pprice .price {display:inline-block;padding-right:5px; font-size:12px; color:#171717; text-align:right; line-height:32px; vertical-align:middle;}
.app_recompc .col_box .inner .txtwrap .pprice .price strong {font-weight:bold; font-size:26px; color:#171717; vertical-align:-2px;}
.app_recompc .col_box .inner .txtwrap .pprice .emoney{margin-right:6px;vertical-align:-3px}
.app_recompc .col_box .inner .txtwrap .pprice .btn.btn_buy {float:right; width:100px; height:32px; margin:0 auto; font-weight:bold; font-size:18px; color:#fff; line-height:28px; text-align:center; background-color:#f44; box-shadow:0 2px 0 #e0e0e0;}
.app_recompc .col_box .inner .txtwrap .pprice .btn:hover {text-decoration:none !important;}
.app_recompc .col_box .none {clear:both; width:910px; border-bottom:0;}
.app_recompc .col_box .none.on {background-color:transparent;}
.app_recompc .col_box .none .nodata {padding:220px 0;}
.app_recompc .col_box .none .nodata .msg {}

/* 인기 조립PC 리스트 */
.app_standardpc .tabs {overflow:hidden; padding-top:5px; text-align:right;}
.app_standardpc .tabs li {display:inline-block;}
.app_standardpc .tabs li .btn {padding-left:20px; font-size:14px; color:#666; line-height:30px; vertical-align:middle;}
.app_standardpc .tabs li .btn.on {font-weight:bold; color:#171717;}
.app_standardpc .tabs li .btn.on .icon {width:9px; height:6px; background-position:-153px -50px;}

.app_standardpc .row {margin-left:-25px; margin-right:-25px;} 
.app_standardpc .col_box {display:inline; overflow:hidden; float:left; width:460px; margin:0 25px; padding:0 0 20px;}
.app_standardpc .col_box.b_border {margin-bottom:20px; border-bottom:1px solid #e2e2e2;}
.app_standardpc .col_box .inner {overflow:hidden;}
.app_standardpc .col_box .inner .thumb {display:inline; float:left; width:200px; position:relative; margin-right:10px;}
.app_standardpc .col_box .inner .thumb .imgs {width:198px; height:198px; border:1px solid #d2d2d2;}
.app_standardpc .col_box .inner .thumb .badge {display:none; overflow:hidden; position:absolute; left:3px; bottom:1px;}
.app_standardpc .col_box .inner .thumb .badge li.icon {display:inline; float:left; width:28px; height:30px; margin-right:2px;}
.app_standardpc .col_box .inner .thumb .badge li.icon.bdg1 {background-position:0 -140px;}
.app_standardpc .col_box .inner .thumb .badge li.icon.bdg2 {background-position:-30px -140px;}
.app_standardpc .col_box .inner .thumb .badge li.icon.bdg3 {background-position:-60px -140px;}
.app_standardpc .col_box .inner .txtwrap {float:left; width:250px;}
.app_standardpc .col_box .inner .txtwrap .pname {display:block; height:38px; margin:6px 0 11px; font-size:15px; color:#171717; line-height:19px; -webkit-line-clamp:2;}
.app_standardpc .col_box .inner .txtwrap .pname:hover {text-decoration:none;}
.app_standardpc .col_box .inner .txtwrap .pinfo {margin-bottom:12px; padding:9px 8px 6px; background-color:#f9f9f9;}
.app_standardpc .col_box .inner .txtwrap .pinfo ul {}
.app_standardpc .col_box .inner .txtwrap .pinfo ul li {position:relative; overflow:hidden; height:17px;}
.app_standardpc .col_box .inner .txtwrap .pinfo ul li span {display:inline-block; float:left; padding-left:7px; font-size:11px; line-height:12px; vertical-align:middle;}
.app_standardpc .col_box .inner .txtwrap .pinfo ul li .th {width:45px; border-right:1px solid #e2e2e2; color:#888;}
.app_standardpc .col_box .inner .txtwrap .pinfo ul li .th:after {content:""; display:inline-block; position:absolute; top:7px; left:0; width:3px; height:3px; background-color:#999;}
.app_standardpc .col_box .inner .txtwrap .pinfo ul li .td {width:173px; color:#555;}
.app_standardpc .col_box .inner .txtwrap .pprice {position:relative;}
.app_standardpc .col_box .inner .txtwrap .pprice .price {float:left; width:145px; padding-right:5px; font-size:12px; color:#171717; text-align:right; line-height:32px; vertical-align:middle;}
.app_standardpc .col_box .inner .txtwrap .pprice .price strong {font-weight:bold; font-size:26px; color:#171717; vertical-align:-2px;}
.app_standardpc .col_box .inner .txtwrap .pprice .btn.btn_buy {float:right; width:100px; height:32px; margin:0 auto; font-weight:bold; font-size:16px; color:#fff; line-height:32px; text-align:center; background-color:#f44; box-shadow:0 2px 0 #e0e0e0;}
.app_standardpc .col_box .inner .txtwrap .pprice .btn:hover {text-decoration:none;}
.app_standardpc .col_box .none {clear:both; width:910px; border-bottom:0;}
.app_standardpc .col_box .none.on {background-color:transparent;}
.app_standardpc .col_box .none .nodata {padding:220px 0;}
.app_standardpc .col_box .none .nodata .msg {}

.paw_foot {clear:both; padding:0 10px; border:1px solid #e2e2e2;}
.paw_foot .relate_tit {display:block; border-bottom:1px solid #eee; font-weight:bold; font-size:14px; color:#232323; line-height:41px; vertical-align:middle;}
.paw_foot .relate_comp {overflow:hidden; padding:8px 18px;}
.paw_foot .relate_comp li {display:inline; float:left; position:relative; margin:10px 26px;}
.paw_foot .relate_comp li .imgs {width:100px; height:30px;}
.paw_foot .relate_comp li a .pname {position:absolute; top:0; left:0; opacity:0; visibility:hidden; transition:opacity .2s ease-in;}
.paw_foot .relate_comp li a:hover .pname {display:block; overflow:hidden; opacity:1; visibility:visible; transition:opacity .2s ease-out; width:100px; height:30px; text-overflow:ellipsis; white-space:nowrap; font-weight:bold; font-size:12px; color:#fff; text-align:center; vertical-align:middle; line-height:30px; background:url(http://img.enuri.info/images/enuripc/hover_bg.png) repeat;}
