@charset "utf-8";

/*
	date : 2019-01-23
	description : print css
	author : JSH 
*/
.payment_result{background-color:#444444;}
.payment_result:after{content:""; display:block; clear:both;}
.payment_result li{color:#cccccc; font-size:13px; float:left; padding:30px 0; text-align:center; font-weight:bold; position:relative;}
.payment_result li:after{width:2px; height:77px; background:#4d4d4d; position:absolute; right:0; top:20px; content:""; }
.payment_result li span{width:32px; height:32px; position:absolute; right:-15px; top:40px; background:url(/images/enuripc/ico.png) 0 0 no-repeat; z-index:1}
.payment_result li .plus{background-position:-1px -77px}
.payment_result li .minus{background-position:-1px -125px}
.payment_result li .equals{background-position:-1px -173px}
.payment_result li strong{color:#ffffff; font-size:28px; display:block; line-height:30px}
.payment_result li strong em{font-size:12px; font-weight:normal; }
.payment_result li.order{width:25%; }
.payment_result li.add{width:20%;}
.payment_result li.sale{width:20%;}
.payment_result li.total{width:35%; background:#343434; color:#ffffff}
.payment_result li.total:after{background:none}
.payment_result li.total strong{color:#fbff91; }

.order_list{width:100%; border-bottom:1px solid #d2d2d2}
.order_list th{background:#f9f9f9; color:#787878; font-weight:normal;  height:34px; border:1px solid #d2d2d2; box-shadow:0 4px 0 #f9f9f9;font-size:14px;}
.order_list td{padding:17px 10px; border-bottom:1px dashed #d2d2d2; text-align:right; border-left:1px solid #e2e2e2}
.order_list td:first-child{text-align:left; border-left:none;}
.order_list td b{font-size:15px; color:#555555;}
.order_list td strong{font-size:18px; display:block; font-weight:normal; line-height:1.3}
.order_list td .detail{padding-top:5px; color:#787878; font-size:13px; overflow:hidden; height:20px; width:510px; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis;  }
.order_list td.shop{text-align:center; }
.order_list td.shop a{color:#0073be; font-weight:bold; text-decoration:underline}
.order_list td em{color:#148c90; font-weight:bold;}


/*레이어*/
#company_popup_min{top:0; -webkit-transform: translateY(0%); transform: translateY(0%);}
.shop_layer{box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1); border:1px solid #60646f; width:730px; background:#ffffff; margin-left:-365px;position:absolute; left:50%; top:50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); z-index:10}
.shop_layer h2{height:35px; line-height:30px; position:relative; background:#575c67; color:#ffffff; font-weight:normal; font-size:14px; text-indent: 10px;}
.shop_layer h2 a{position:absolute; right:0px; top:0px;width:35px; height:35px; background:url(/images/enuripc/ico.png) 13px -252px no-repeat; text-indent:-9999em}
.shop_layer h3{text-align:center; font-size:22px; padding-bottom:20px;}
.shop_layer .layer_box{width:700px; margin:20px auto; max-height:600px; overflow:auto; overflow-x:hidden }
/* 2018-03-29 팝업일 경우에는 오버플로우 해제 */
.shop_layer .com_info{width:100%; color:#666666;  }
.shop_layer .com_info th{background:#fcfcfc; width:118px; border:1px solid #eeeeee;}
.shop_layer .com_info td{padding:10px 18px; border:1px solid #eeeeee;}
.shop_layer .com_info td.notice{color:#148c90}
.shop_layer img,
.shop_layer .seller_img {width:700px; max-width:100%; height:auto; margin-top:20px;}

/*레이어 내부*/
.shop_layer .payment_result{margin:10px 0 20px}
.shop_layer .payment_result li{padding:20px 0;}
.shop_layer .payment_result li strong{font-size:18px; line-height:23px}
.shop_layer .payment_result li.total strong{font-size:22px}
.shop_layer .payment_result li:after{top:10px; height: 67px}
.shop_layer .payment_result li span{top:30px}
.shop_layer h4{font-size:14px; padding:0 0 7px 16px; position:relative; background:url(http://img.enuri.info/images/home/bul_sq_black2.gif) 7px 9px no-repeat}
.shop_layer h4 .order_date{position:absolute; right:0; top:2px; font-size:12px; letter-spacing:-0.5px}
.shop_layer h4 .order_date em{padding-left:15px}
.shop_layer .del_info{width:99%; margin-bottom:20px; background:#ffffff; border-left:1px solid #d2d2d2;}
.shop_layer .del_info th{background:#f9f9f9; padding:8px 15px; border:1px solid #d2d2d2; font-weight:normal; color:#787878; }
.shop_layer .del_info td{padding:8px 15px; border:1px solid #d2d2d2; position:relative; }
.shop_layer .btn_print {display: block; width: 100px; height: 34px; line-height: 32px; margin: 0 auto 3px; padding: 0 30px; color: #fff; font-size: 16px; font-weight: bold; letter-spacing: -0.05em; box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1); border: 1px solid #148c90; background: #2da4a8; text-align: center; }

/* 레이어 - 프린트 전용 */
.shop_layer-print {position:relative; top:0; left:0; width:800px; height:auto; margin-left:0; border:0; box-shadow:none; transform:translateY(0); -webkit-transform:translateY(0);}
.shop_layer-print .layer_box {overflow:visible; max-height:100%;}