@charset "utf-8";

/* 단품VIP 상세설명 STYLE */
/*==========================================================================
20160530 VIP 개편
==========================================================================*/

.section {width:970px; margin:0 auto;}
.tabcon .section {padding-bottom:50px;}
.category .local_navi {padding-bottom:15px;}

/* 공통버튼(흰색,회색보더) */
.btn em, .icon em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.btn_sq {display:inline-block; height:20px; padding:4px 0 3px; font-size:12px;  color:#343434; letter-spacing:-0.05em;  border:1px solid #e2e2e2; background-color:#fff;}
.btn_sq2 {display:inline-block; height:20px; line-height:15px;  font-size:12px;  color:#343434; letter-spacing:-0.05em;  padding:0 8px; -webkit-box-shadow: 0 2px 0 #ebebeb; -moz-box-shadow: 0 2px 0 #ebebeb; box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);  border:1px solid #e2e2e2; background-color:#fff;}
.btn_sq3 {display:inline-block; height:16px; line-height:15px; font-size:11px;  color:#666; letter-spacing:-0.05em;  padding:0 8px; -webkit-box-shadow: 1px 1px 1px #fbfbfb; -moz-box-shadow: 1px 1px 1px #fbfbfb; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); border:1px solid #e2e2e2; background-color:#fff;} /* 더보기 */
.btn_sq4 {display:inline-block; height:12px; padding:1px 4px 2px; line-height:1.2; font-size:11px;  color:#666666; letter-spacing:-0.05em;  border:1px solid #e2e2e2; background-color:#fff;}
.btn_sq5 {display:inline-block; height:12px; padding:3px 10px 7px; line-height:1; font-size:12px;  color:#343434; border:1px solid #e2e2e2; background-color:#fff;}

 /* 공통 모바일 아이콘 */
.icon {display:inline-block; }
.icon.new {width:12px; height:13px; background-image:url(http://img.enuri.info/images/home/ico_new.png);}
.icon.mobile {width:8px; height:12px;  background-image:url(http://img.enuri.info/images/home/ico_mobile.gif)}
.icon.mobile2 {width:6px; height:10px;  background-image:url(http://img.enuri.info/images/home/ico_mobile2.gif)}
.icon.onlymobile {width:40px; height:15px;  background-image:url(http://img.enuri.info/images/home/ico_mobile_only.gif)}
.icon.dismobile {width:36px; height:15px;  background-image:url(http://img.enuri.info/images/home/ico_mobile_dis.gif)}

/* 공통 체크버튼 */
.unchk{background:url(http://img.enuri.info/images/home/chk_radio.png) 0 0 no-repeat; padding-left:17px; height:12px; line-height:10px; display:inline-block; cursor:pointer; padding-top:1px;}
.unchk input, .chk input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.chk {background:url(http://img.enuri.info/images/home/chk_radio.png) 0 -30px no-repeat; width:auto; font-weight:bold; padding-left:17px; height:12px; line-height:10px; display:inline-block; cursor:pointer; padding-top:1px;}

.unchkb{background:url(http://img.enuri.info/images/home/ico.png) left -170px no-repeat; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}
.unchkb input, .chkb input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.chkb {background:url(http://img.enuri.info/images/home/ico.png) left -204px no-repeat; font-weight:bold; padding-left:17px; height:14px; line-height:12px; display:inline-block; cursor:pointer; padding-top:1px;}

.unchkb2{background:url(http://img.enuri.info/images/home/chk_box.png) 0 0 no-repeat; padding-left:17px; height:13px; line-height:11px; display:inline-block; cursor:pointer; padding-top:1px;}
.unchkb2 input, .chkb2 input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.chkb2 {background:url(http://img.enuri.info/images/home/chk_box.png) 0 -29px no-repeat; font-weight:bold; padding-left:17px; height:13px; line-height:10px; display:inline-block; cursor:pointer; padding-top:1px;}

/* 공통 버튼 (파란버튼,흰텍스트) */
.btn_viewgo {display:inline-block; height:22px; line-height:20px; padding:0 10px; font-size:12px; font-weight:bold; letter-spacing:-1px; color:#fff; background-color:#2d9fe8; border:1px solid #1689d3;}
.btn_apply {display:inline-block; height:44px; line-height:42px; padding:0 25px; font-size:18px; font-weight:bold; letter-spacing:-1px; color:#fff; letter-spacing:-0.5px; background-color:#2d9fe8; border:1px solid #1689d3; box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); border-radius:3px;}

/* 텍스트 우측 정렬 */
.ta_right {text-align:right;}
.ta_cneter {text-align:center;}

/* 보더 */
.brb0 {border-bottom:0 !important;}

/* 준비중, 품절 느낌표 공통 사용, 19성인, 모바일전용 */
.exception {margin-top:25px;}
.exception .exclamark {text-align:center; padding-top:212px; background:url(http://img.enuri.info/images/home/exclamark.gif) no-repeat 50% 40px;}
.exception .exclamark .txt {color:#666666;}
.exception .exclamark .txt1 {font-size:24px; line-height:1.2; letter-spacing:-0.25px;}
.exception .exclamark .txt2 {margin-top:20px; font-size:13px; }
.exception .exclamark.adult {padding-top:150px; background:url(http://img.enuri.info/images/home/adultmark.gif) no-repeat 50% 40px;}
.exception .exclamark.mobile {padding-top:215px; background:url(http://img.enuri.info/images/home/mobilemark.gif) no-repeat 50% 40px;}
.exception .exclamark.mobile .txt2 {margin-top:5px; font-size:15px; font-weight:bold; color:#343434;}
.exception .exclamark.mobile .txt2 strong {color:#1689d3}
.exception .exclamark.mobile .ta_cneter {margin-top:35px;}
.exception .exclamark.mobile .ta_cneter .btn_appinstall {margin-left:5px;}

/*==========================================================================
탭 - 레이아웃
==========================================================================*/
.tab_conts {width:100%; }
/*.tab_conts .listview_area .section {padding-bottom:80px;}*/
.tabcon h3.title {padding:30px 0; /*margin:40px 0 30px; padding-top:10px;*/}

.over_bar {position : fixed; top:0px;}

.product_tab {width:100%;height:44px; overflow:hidden; z-index:500; margin-bottom:18px; border-bottom:2px solid #464e5b; background-color:#fff;}
.product_tab .tabarea:after{display:block; clear:both; content:""}
.product_tab .tabarea li{float:left; width:159px; }
.product_tab .tabarea li:first-child a {border-left:1px solid #e2e2e2;}
.product_tab .tabarea li.on {width:164px; padding-top:0;}
.product_tab .tabarea li.compare {width:168px;}
.product_tab .tabarea li.compare.on {width:173px;}
.product_tab .tabarea li.event {width:159px;}
.product_tab .tabarea li.event.on {width:164px;}
.product_tab .tabarea li a{letter-spacing:-0.05em; display:block; color:#171717; text-align:center; height:43px; line-height:37px; font-size:16px; background:#f9f9f9; border-top:1px solid #e2e2e2; border-right:1px solid #e2e2e2;}
.product_tab .tabarea li a span{margin-left:5px; font-size:11px; color:#171717; letter-spacing:0;  }
.product_tab .tabarea li.on a {height:44px; line-height:40px; font-weight:bold; background:url(http://img.enuri.info/images/home/tab2_on_bg.gif) 0 0 no-repeat; color:#ffffff; border:none; }
.product_tab .tabarea li.on:first-child a {border-left:0; }
.product_tab .tabarea li.compare.on a {background-position:0 -50px; }
.product_tab .tabarea li.event.on a {background-position:0 bottom;}
.product_tab .tabarea li.on a span {font-weight:normal; color:#ffffff;}
.product_tab .tabarea li .ico_new {position:relative; font-weight:normal;}
.product_tab .tabarea li .ico_new .icon.new {position:absolute; right:-10px; top:-2px; }


/*==========================================================================
탭 - 상품설명
==========================================================================*/
.explain .option_area {margin-top:30px; padding-bottom:5px; border-bottom: 1px solid #d2d2d2;}
.explain .option_area:after {content:""; display:block; clear:both; }
.explain .option_area li {float:left; margin-right:30px;}
.explain .option_area li .chk, .explain .option_area li .unchk {font-size:13px; color:#343434}
.offerer .message {margin-top:20px;}
.offerer .message .txt {font-size:11px; color:#999999; letter-spacing:-0.25px; padding-left:18px; background:url(http://img.enuri.info/images/home/bul_exclamark.gif) 0 1px no-repeat; }
.offerer .message .txt a {color:#666666; text-decoration:underline;}
.offerer .message .btn_mallmove {display:inline-block; height:22px; line-height:21px;  margin-left:7px; padding:0 10px; text-align:center; font-size:12px; color:#343434; letter-spacing:-0.5px; border:1px solid #e2e2e2;}
.offerer .pro_intro {text-align:center;}
.offerer .pro_intro img {vertical-align:top;}
.enuriofferer_con .message dt.txt {margin-bottom:2px; font-size:12px; padding:0; background:0}
.enuriofferer_con .message dt.txt strong {display:inline-block; padding:0 10px; height:15px; line-height:13px; font-size:11px; color:#fff; text-align:center;  border-radius:5px; background-color:#cccccc }
.enuriofferer_con .message dd {font-size:11px; color:#999999; padding-left:6px; background:url(http://img.enuri.info/images/home/bul_sq_gray.gif) 0 8px no-repeat; }

.tb2 {width:970px; margin-top:20px; border:1px solid #e2e2e2;}
.tb2 .col1 {width:123px;} .tb2 .col2 {width:359px;} .tb2 .col3 {width:123px;} .tb2 .col4 {width:360px;}
.tb2 tr:first-child th {border-top:1px solid #e2e2e2;}
.tb2 th {text-align:left;  padding:10px 18px; font-size:12px; color:#666666; font-weight:normal; letter-spacing:0; border-top:1px solid #e2e2e2; border-left:1px solid #e2e2e2; background-color:#f9f9f9;}
.tb2 th:first-child {border-left:none;}
.tb2 th.title {font-size:13px;  font-weight:bold; color:#171717; border-left:none; border-top:1px solid #e2e2e2; background-color:#fff;}
.tb2 td {padding:10px 18px;  font-size:12px; color:#171717; font-weight:normal; letter-spacing:0; border-top:1px solid #e2e2e2; border-left:1px solid #e2e2e2; background-color:#fff;}
.tb2 tr a.attr {text-decoration:underline; }
.tb2 tr a.attr:hover {color:#1689d3}

.no_attbu {margin:18px 0 20px;}
.no_attbu .sort {margin-bottom:35px; padding:10px 0; text-align:left; font-size:12px; color:#171717;  letter-spacing:-0.25px; border:1px solid #e2e2e2;}
.no_attbu .sort span {margin-left:18px; }
.no_attbu .offerer {padding-top:10px;}

.enuriofferer_con .top_info {margin-top:30px; }
.enuriofferer_con .top_info:after {content:""; display:block; clear:both; }
.exp_list {/*width:430px;*/ margin-left:20px;}
.exp_list li {font-size:12px; line-height:18px;  color:#171717; letter-spacing:-0.25px;  padding-left:7px; background:url(http://img.enuri.info/images/home/bul_sq_black2.gif) no-repeat 0 8px; }
.flag_box {height:84px; margin:30px 0 30px 20px;}
.flag_box .fix {float:left; display:inline-block; width:11px; height:84px; }
.flag_box ul {float:left; height:84px;}
.flag_box ul li {float:left; width:45px; height:60px; margin-lefT:5px; padding-top:12px; }
.flag_box ul li:first-child {margin-left:0;}

.pro_intro {position:relative;  margin-top:30px; } 
.pro_intro .sponserpd {position:absolute; top:0; left:15px; width:144px; height:85px; text-align:left; color:#999999; line-height:15px; letter-spacing:-0.5px; font-size:11px; z-index:20; padding:12px 0 0 72px; background:url(http://img.enuri.info/images/home/icon_sponserpd.png) no-repeat 0 0;}
.pro_intro .sponserpd strong {display:block; font-size:13px;color:#171717;}
.pro_intro .sponserpd span {line-height:15px;}
.pro_intro .pro_image {margin-bottom:50px;}
.enuriofferer_con .exception .txt2 {margin-top:25px;}

.partbox {position:relative; border-bottom:1px solid #e2e2e2;}
.partbox .title {position:relative; padding:5px 17px ; height:24px; font-weight:bold; font-size:13px; color:#0073be; letter-spacing:-0.5px; border:1px solid #e2e2e2;}
.partbox .title em {color:#171717;  margin-right:20px;}
.partbox .title .scrap {position:absolute; right:5px; top:5px; width:38px; padding:0 0 1px 21px; font-weight:normal; background:url(http://img.enuri.info/images/home/icon_pack_vip.png) no-repeat 4px -256px;}
.partbox .partexp ul:after {content:""; display:block; clear:both; }
.partbox .partexp ul {background:url(http://img.enuri.info/images/home/bg_line_gray.gif) repeat-y 0 0;}
.partbox .partexp li {float:left; width:30%; padding:10px 12px 20px 20px;}
.partbox .partexp li pre {font-family:Malgun Gothic; float:left; padding-bottom:20px !important }
.partbox.detail {margin-top:40px; }
.partbox.detail .partexp li pre {color:#666666; }
.partbox.term {margin-top:20px;}
.partbox.term .partexp pre table td span, .term .partexp pre {margin-bottom:6px; font-weight:Malgun Gothic;}
.partbox.maker, .partbox.manual {border:0;}
/*.partbox.makerb, .partbox.manualb {border-bottom:0;}*/
.partbox.makerb .title, .partbox.manualb .title {border-top:1px solid #e2e2e2; border-bottom:0;}
.partbox.maker .title {border-top:0;}
.partbox.maker .title .homepg {display:inline-block; margin-right:20px; padding:0 0 1px 14px; color:#1689d3; font-size:12px; text-decoration:underline; background:url(http://img.enuri.info/images/home/icon_pack_vip.png) no-repeat 0 -276px;}
.partbox.manual .title {border-top:0;}
.partbox.manual .btn_sq4, .partbox.manual .txt {font-weight:normal;}
.partbox.manual .title .txt {margin-left:10px; font-size:11px;  letter-spacing:-0.5px; color:#666666;}
.partbox.manual .title .acrobat {display:inline-block; margin-left:5px; padding:0 0 1px 14px; color:#e60000; font-size:11px; text-decoration:underline; background:url(http://img.enuri.info/images/home/icon_pack_vip.png) no-repeat 0 -298px;}

.recomprd_list {margin-top:30px; }
.recomprd_list .title {position:relative; font-size:14px; color:#343434; letter-spacing:-0.25px; padding-bottom:8px; border-bottom:1px solid #bbbbbb;}
.recomprd_list .title .btn_sq {position:absolute; right:0; bottom:6px; height:12px; padding:4px 10px 6px; line-height:1}

/* 레이어-전성분 더보기 */
.material_area .morebox {right:0; top:125px; width:450px;}
.table-wapper{position: relative; width:400px; padding: 65px 0 28px 25px; .padding-top:50px; z-index:1000;}
.table-container{width: 400px; /*height:280px;*/ overflow:hidden; border-bottom:1px solid #cccccc; }
.table-content{width: 401px; overflow:hidden;  border-collapse: collapse; border-spacing: 0; border-bottom:1px solid #eeeeee}
.table-content caption {display:none;}
.table-content thead tr {position: absolute; top:29px; left: 25px; z-index:100 }
.table-content th{height:36px; background:url(http://img.enuri.info/images/main/bg_th.gif) repeat-x; width:200px; color:#999999; font-weight:normal; text-align:center; z-index:100; font-size:12px;}
.table-content th{.height:34px; }
.table-content td{padding:7px 8px; width: 50%;color:#333333; border-bottom:1px solid #eeeeee; border-right:1px solid #eeeeee;background:#ffffff; height:20px;}

.table-wapper .scr td{padding-right:16px}
.textbox{padding:15px 20px; }
.morebox  .bottom {margin-top:20px; text-align:center;}
.morebox  .bottom .btn_viewgo {padding:0 25px;}
.btn_no {display:inline-block; padding:3px 10px 4px; color:#343434; letter-spacing:-0.5px; border:1px solid #e2e2e2; background:#fff;}
.btn_ok {display:inline-block; margin-left:3px; padding:2px 10px 5px; font-weight:bold; color:#fff; letter-spacing:-0.5px; border:1px solid #0073be; background:#2e91fc;}

/* 레이어-스크랩*/
.lay_scrap {right:4px; top:34px; width:458px;}
.lay_scrap .inner_wrapper {padding:0 0 20px 20px; }
.lay_scrap .inner_content { padding-top:28px; overflow:hidden;}
.lay_scrap .inner_content .tip {font-weight:bold; color:#343434;}
.lay_scrap .inner_content dl dt {color:#666666; margin:22px 0 8px; letter-spacing:-0.25px;}
.lay_scrap .inner_content dd {width: 398px; padding:12px 10px 16px; border:1px solid #e2e2e2; }
.lay_scrap .inner_content ol {width:400px; margin-left:10px;}
.lay_scrap .inner_content ol li {font-size:11px; color:#787878; letter-spacing:-0.5px;}
.lay_scrap .inner_content ol li span {margin-left:-10px;}
.lay_scrap .agree {margin:10px 0 0 10px;}
.lay_scrap .bottom {margin-top:5px;}
.lay_scrap .btn_scrap {display:inline-block;  text-align:center; width:108px; height:34px; line-height:32px; font-size:14px; color:#171717; font-weight:bold; letter-spacing:-0.5px; border:1px solid #d2d2d2; background-color:#fff; box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1); }

/* 레이어-용어사전 */
.morebox {display:none; position:absolute;  border-radius:2px; border:1px solid #707070; background:#ffffff; z-index:200; filter:progid:DXImageTransform.Microsoft.DropShadow(Color=#ebebeb,Positive=1,OffX=2,OffY=2); box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1)}
.morebox h5{height:27px; background:#575c67; color:#ffffff; font-size:12px; font-weight:normal; letter-spacing:-0.5px; padding:0 0 0 10px; line-height:21px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.morebox h5 {line-height:23px;}}
.morebox h5 em {color:#e2e2e2; margin-left:8px;}
.morebox h5 .btnclose{position:absolute; right:5px; top:2px; width:12px; height:11px; background:url(http://img.enuri.info/images/home/btn_pop_close.png) 5px 5px no-repeat; text-indent:-9999em; padding:5px; }
.morebox .scr{overflow-y:auto !important; /*overflow-y:scroll !important;*/ overflow-x:hidden;}
.morebox .inner_wrapper{position: relative;  z-index:1000;}
.morebox.lay_dictionary {z-index:1001;}

.lay_dictionary {width:738px;}
.lay_dictionary .inner_wrapper {padding:30px 20px; }
.lay_dictionary .inner_content {height:408px; border:1px solid #e2e2e2;}
.lay_dictionary .inner_content:after{content:""; clear:both; display:block; }
.lay_dictionary .fleft {position:relative; float:left;width:227px; border-right:1px solid #e2e2e2}
.lay_dictionary .fright {float:left;width:468px; }
.lay_dictionary .modelinfo {height:78px; overflow:hidden; }
.lay_dictionary .basic .modelinfo {border-bottom:1px solid #e2e2e2}
.lay_dictionary .modelinfo .thumb {float:left;  width:78px; height:78px; text-align:center; line-height:76px; border-right:1px solid #e2e2e2}
.lay_dictionary .modelinfo .thumb img {vertical-align:middle; }
.lay_dictionary .modelinfo .proname {float:left; width:131px; padding:6px 8px 20px; color:#343434; letter-spacing:-0.5px; }
.lay_dictionary .option_box {position:relative; height:289px; overflow:hidden}
.lay_dictionary .research .modelinfo {position:absolute; top:-1px; left:-1px; width:227px; height:77px;  letter-spacing:-0.5px; text-align:center; background-color:#fffff4; border:1px solid #575c67; border:1px solid #000;}
.lay_dictionary .research .keyword {padding-top:1px; font-size:15px; color:#171717; font-weight:bold; height:24px; overflow:hidden;}
.lay_dictionary .research .keyword strong {display:inline-block; width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; vertical-align:-6px}
.lay_dictionary .research .result {padding-bottom: 5px; font-size:11px; color:#999999; }
.lay_dictionary .research .btn_sq2 {height:22px; line-height:20px;}
.lay_dictionary .research .option_box {margin-top:78px;}

.morebox.lay_dictionary .scr {overflow-y:auto !important;}
.lay_dictionary .option_box.b1 {background:#f5f5f5; border-bottom:1px solid #e2e2e2;}
.lay_dictionary .option_box.b2  {width:468px;}
.lay_dictionary .option_box .list {padding-bottom:10px;}
.lay_dictionary .option_box li:first-child {padding-top:10px;}
.lay_dictionary .list li {font-size:11px; color:#666666;}
.lay_dictionary .list li a {position:relative; display:block; padding:4px 0 5px 10px; letter-spacing:-0.5px;font-size:13px; color:#666666;}
.lay_dictionary .list li a:hover {font-weight:bold; background-color:#e2e2e2;}
.lay_dictionary .list li a.on {font-weight:bold; color:#1689d3; background-color:#fff;}
.lay_dictionary .list li a.on  .sel {position:absolute; right:10px;top:8px; display:inline-block; width:7px; height:11px; text-indent:-9999em; font-size:0; background:url(http://img.enuri.info/images/home/bul_arrowr_blue.png) 0 0  no-repeat;}

.lay_dictionary .search_box {padding:6px 9px; background-color:#eeeeee;}
.lay_dictionary .search_box:after{background:none}
.lay_dictionary .search_box .write {height:25px;  padding:0 6px; /*line-height:22px;*/  border:1px solid #d2d2d2; background-color:#fff;}
.lay_dictionary .search_box .write input {width:170px; height:25px; line-height:23px; font-size:11px; color:#999999; letter-spacing:-0.5px; border:0;}
.btn_magglass {display:inline-block;; width:20px; height:20px; vertical-align:14px;  text-indent:-9999em; font-size:0; background:url(http://img.enuri.info/images/home/icon_magglass.gif) 50% 50% no-repeat;}

.lay_dictionary .con_top {margin:10px auto 12px; width:240px;  letter-spacing:-0.5px;}
.lay_dictionary .con_top .tit {font-size:18px; color:#181818; text-align:center; padding-bottom:4px; border-bottom:2px solid #575c67;}
.lay_dictionary .con_top .sub {margin-top:5px; padding: 0 10px; overflow:hidden;}
.lay_dictionary .con_top .sub .s1 {float:left; }
.lay_dictionary .con_top .sub .s1 .star_area {vertical-align:-2px;}
.lay_dictionary .con_top .sub .s2 {float:right; }
.lay_dictionary .con_top .sub em {float:left; margin-right:5px; color:#666666;}
/*.lay_dictionary .con_top .sub .s1 em {margin-top:-2px;}*/
.lay_dictionary .con_top .sub .star_area {float:left;}
.lay_dictionary .cont {padding:11px 13px; color:#343434; letter-spacing:-1px; word-break: break-all;}
.morebox.lay_dictionary .bottom {margin-top:10px; text-align:center; font-size:12px; color:#171717;}
.lay_dictionary .bottom .btn_ok {display:inline-block; margin-left:3px; padding:2px 10px 5px; font-weight:bold; color:#fff; letter-spacing:-0.5px; border:1px solid #0073be; background:#2e91fc;}



/*==========================================================================
탭 - 상품평
==========================================================================*/
.top_value {margin-top:30px; margin-bottom:23px; padding-bottom:15px; border-bottom:2px solid #d2d2d2;} 
.top_value:after{clear:both; display:block; content:"";}
.graph_box {position:relative; float:left;  width:448px; height:148px; border:1px solid #f1f1f1;}
.graph_box .upper {width:380px; overflow:hidden; margin:8px auto 0;}
.represent_area .user_star {float:left; margin-right:15px; font-size:14px; letter-spacing:-0.5px; font-weight:bold; color:#343434;}
.vgraph{width:380px; height:75px; margin:15px auto 0; background-image: url(http://img.enuri.info/images/home/bg_graph.gif);}
.vgraph ul { margin:0; padding:22px 0 0 20px; width:360px; height:53px;  font-size:11px; border-bottom:1px solid #bbbbbb;  }
.vgraph ul:after {content:""; display:block; clear:both;}
.vgraph li {float:left; display:inline; width:58px; height:100%; margin:0 5px; position:relative; text-align:center; white-space:nowrap;}
.vgraph .gterm {position:relative; display:inline-block; width:100%; height:20px; line-height:14px; margin:0 -59px -22px 0; padding:55px 0 0 0; vertical-align:bottom; color:#787878; }
.vgraph .gbar {position:relative; display:inline-block; width:100%; margin:-1px 0 0 0; border:1px solid #bbbbbb; background:#ffffff; border-bottom:0;  vertical-align:bottom; cursor:pointer;}
	.vgraph li .on {background:#ff5e5e; border:1px solid #ff2222; }
.vgraph .gbar em { position:absolute; width:100%; top:-20px; left:0; color:#767676;}
	.vgraph li .on em {font-weight:bold; color:#343434;}
.novalue {margin-top:64px; text-align:center; font-family:Malgun Gothic; font-size:16px; color:#a6a6a6;}

.commen_box {float:right; width:500px;}
.commen_box ul {width:498px;}
.commen_box ul li {position:relative; width:458px; padding:6px 20px 10px; letter-spacing:-0.5px; border:1px solid #f1f1f1; z-index:10;}
.commen_box ul li:first-child {border-bottom:0;}
.commen_box ul li.one {border-bottom:1px solid #f1f1f1}
.commen_box ul li.on {background-color:#f8fcff; }
.commen_box ul li.on .active {position:absolute; top:-1px; left:-1px; width:498px; height:75px; border:1px solid #c6dbea; z-index:-1;}
.commen_box ul li .native {font-size:13px; color:#999999;}
.commen_box ul li a.txt {display:block; width:456px; height:38px; line-height:1.3; font-size:14px; color:#171717;  overflow:hidden; }
.commen_box ul li a.txt:hover {text-decoration:underline; }

.tab_selstar {position:relative;}
.tab_selstar ul:after{clear:both; display:block; content:"";}
.tab_selstar > ul > li {float:left; width:82px; margin-right:10px; height:22px;  line-height:21px;  text-align:center; border:1px solid #e2e2e2}
.tab_selstar > ul > li a {display:block;}
.tab_selstar ul li .btn {display:inline-block; width:64px; height:11px;background:url(http://img.enuri.info/images/home/starmarkt.png) no-repeat 0 0; }
.tab_selstar ul li.star5 .btn {background-position:0 0;}
.tab_selstar ul li.star4 .btn {background-position:0 -15px;}
.tab_selstar ul li.star3 .btn {background-position:0 -30px;}
.tab_selstar ul li.star2 .btn {background-position:0 -45px;}
.tab_selstar ul li.star1 .btn {background-position:0 -60px;}
.tab_selstar ul li.on {background:#fff; border:1px solid #ff2222;}
.tab_selstar ul li.all {width:88px; line-height:19px; border:1px solid #e2e2e2;}
.tab_selstar ul li.all.on {background:#ff5e5e; border:1px solid #ff2222;}
.tab_selstar ul li.all.on a {font-weight:bold; color:#fff;}

.comment_item .qa_infoask {text-align:right; }
.comment_item .qa_infoask .btn_viewgo { border-radius:3px;}
/* .comment_item .btn_viewgo {position:absolute; right:0; bottom:0; border-radius:3px;} */
.comment_item .no_comment {margin:95px 0 63px; text-align:center; font-size:24px; color:#999999; letter-spacing:-0.5px;}
.comment_item .paging {margin:22px 0 40px;}


.comment_write {position:relative; width:968px; height:149px; margin-top:10px; border:1px solid #e2e2e2; background-color:#fcfcfc;}
.user_space {position:relative; padding:12px 19px 18px; overflow:hidden;}
.topspot {overflow:hidden; margin-bottom:10px;}
.user_space .tit {float:left; /*width:72px;*/ display:inline-block; margin-right:47px; font-size:14px;  color:#343434; letter-spacing:-0.5px;}
.user_space .logininfo {float:left; overflow:hidden; color:#666;}
.user_space .logininfo .idpw {float:left; margin-right:10px;}
.user_space .logininfo .idpw li {position:relative; float:left; margin-left:18px;}
.user_space .logininfo .idpw li:first-child {margin-left:0;}
.user_space .logininfo .idpw li em {float:left; margin-right:6px; vertical-align:2px; }
.user_space .logininfo .idpw li input {width:78px; height:22px;  color:#999; padding:0 10px; border:1px solid #e2e2e2;}
.user_space .logininfo .idpw li .writer {margin-left:5px; font-weight:bold; color:#0073be; text-decoration:underline;}
.user_space .logininfo a {float:left; display:inline-block; letter-spacing:-0.5px; margin-right:24px; }
.user_space .btn_login  {width: 59px; height: 22px; line-height:20px; text-align:center; font-weight:bold; color:#343434;  border: 1px solid #e2e2e2; background-color:#fff; }
.user_space .btn_search {text-decoration:underline;}
.user_space .btn_join {text-decoration:underline;}
.user_space textarea {float:left; width: 828px;  height: 58px;  padding: 10px;  color:#999; resize:none; border: 1px solid #e2e2e2;}
.user_space .btn_register {float:right; display:inline-block; width:80px; height: 80px; line-height:76px;  font-size:16px; color:#fff; text-align:center;  border:0; background-color:#787878;font-weight:bold; letter-spacing:-0.5px; cursor: pointer; }

/* 별 평가 */
.great_star .img_star {background:url(http://img.enuri.info/images/home/starmark.png) 0 0 no-repeat}
.little_star .img_star {background:url(http://img.enuri.info/images/home/starmark2.png) 0 0 no-repeat}
.star_comm {float:left; overflow:hidden;  line-height:1.2;}
.star_comm .star_rate {float:left; background-position:0 0}
	.great_star .star_rate {width:94px;height:18px; margin:2px 6px 0 0;}
	.little_star .star_rate {width:64px;height:11px; margin:4px 5px 0 0;}
.star_comm .inner_star {display:block;width:100%;height:100%;font-size:0;line-height:0;background-position:0 -20px;text-indent:-9999px}
.star_comm .num_rate {float:left; color:#666}
	.great_star .num_rate {font-size:18px; }
	.little_star .num_rate {font-size:14px; letter-spacing:-0.5px; }
.star_comm .num_rate strong {color:#444;}
/*   상품평 제목 추가, 평점 없을 때 이미지 추가 */
.star_area.nodata {height:30px; padding:0; background :url(http://img.enuri.info/images/home/star_nodata.png) 50% 0 no-repeat;}
.star_area.nodata em {font-size:0; text-indent: -9999em;}


/*==========================================================================
탭 - 블로그/동영상 리뷰
==========================================================================*/
.top_data {position:relative; padding-bottom:10px; border-bottom:1px solid #bbbbbb;}
.top_data .title {height:22px; overflow:hidden; font-size:14px; color:#343434; letter-spacing:-0.25px;}
.top_data .title em {color:#0073be;}
.top_data .btn_sq5.more {position:absolute; right:0; top:2px;}
.top_data .figure {position:absolute; right:0; bottom:8px; color:#343434; font-size:11px;}
.top_data .figure.zum {color:#999;}
.top_data .figure.zum .icon_zum {display:inline-block; width:33px; height:9px; font-size:0; text-indent:-9999em; vertical-align:7px; background-image:url(http://img.enuri.info/images/home/icon_zum.gif)}

.knowledge_area {margin-top:60px;}
.know_box {position:relative; margin-top:19px; }
.know_box .know_inner {width:890px; min-height:360px; margin:0 auto;}
.know_box .cell_list { margin:-10px 0 0 -10px; }
.know_box .cell_list:after{clear:both; display:block; content:"";}
.know_box .cell_list > li {float:left; width:410px; height:80px; margin:10px 0 0 10px; padding:14px; overflow:hidden; cursor:pointer; border:1px solid #eeeeee;}
.know_box .cell_list > li:hover { -webkit-box-shadow: 0 2px 0 #ebebeb; -moz-box-shadow: 0 2px 0 #ebebeb; box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);  border:1px solid #343434;}
.know_box .leftside {float:left; width:130px; margin-right:20px;}
.know_box .rightside {float:left; width:259px; }
.know_box .leftside .thumb {display:inline-block; width:138px; height:78px; line-height:74px; overflow:hidden; border:1px solid #eeeeee;}
.know_box .leftside .thumb img {max-width:138px; max-height:78px; vertical-align:middle;}
.know_box .leftside {text-align:center; }
.know_box .rightside .tit {line-height:1;}
.know_box .rightside .tit em {display:inline-block; font-size:11px; color:#999999; height:13px;  line-height:12px; padding:0px 4px; border:1px solid #dcdcdc;; background-color:#fff;}
.know_box .rightside .txt {height:39px; overflow:hidden; line-height:1.3; margin-top:4px; font-size:15px; letter-spacing:-0.25px; color:#343434;}
.know_box .rightside .inciden {margin-top:8px;}
.know_box .rightside .inciden:after{clear:both; display:block; content:"";}
.know_box .rightside .inciden  li {float:left; width:100px; height:17px; overflow:hidden; font-size:11px; color:#666666;  padding-left:6px; background:url(http://img.enuri.info/images/home/bul_sq_gray2.gif) 0 8px no-repeat;}
.know_box .btn {position:absolute; top:157px; width:31px; height:60px;}
.know_box .btn.prev {left:0; background:url(http://img.enuri.info/images/home/arrow_slide.png) left top no-repeat; }
.know_box .btn.prev:hover {background-position:left bottom;}
.know_box .btn.next {right:0; background:url(http://img.enuri.info/images/home/arrow_slide.png) right top no-repeat; }
.know_box .btn.next:hover {background-position:right bottom;}

.searesult_area {/*margin-top:60px*/}
.blog_box {margin-top:19px; cursor:pointer;}
.stit {position:relative; padding-left:10px; font-size:14px; letter-spacing:-0.25px;}
.stit em {color:#0073be;}
.stit .result_more {position:absolute; right:10px; bottom:0; font-size:11px; color:#666;}
/*.blog_box .cell_list {margin:-10px 0 0 -30px; }*/
.blog_box .cell_list:after{clear:both; display:block; content:"";}
.blog_box .cell_list > li {float:left; width:460px; margin:0  0 0 10px; padding:12px 10px 20px 0; overflow:hidden; border:1px solid #fff; border-bottom:1px solid #eeeeee;}
/*.blog_box .cell_list > li:hover {  -webkit-box-shadow: 0 2px 0 #ebebeb; -moz-box-shadow: 0 2px 0 #ebebeb; box-shadow: 0 2px 0 #ebebeb;  border:1px solid #343434;}*/
.blog_box .cell_list > li a {display:block;}
.blog_box .rightside {float:right; width:366px;}
.blog_box .thumb {float:left; width:100px; text-align:center; display:inline-block; width:76px; height:76px; line-height:73px; border:1px solid #eee;}
.blog_box .thumb img {max-width:76px; max-height:76px; vertical-align:middle;}
.blog_box .rightside .txt {overflow:hidden; line-height:1.3;  }
.blog_box .rightside .txt1 {height:20px; font-size:15px; font-weight:bold; color:#343434; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.blog_box .rightside .txt2 {display:block; height:32px; margin-top:5px; font-size:12px; color:#666666;}
.blog_box .rightside .txt2:hover {text-decoration:underline;}
.blog_box .rightside .inciden {margin-top:7px;}
.searesult_area .inciden:after{clear:both; display:block; content:"";}
.searesult_area .inciden li {float:left; height:17px; overflow:hidden; font-size:11px; color:#666666; margin-left:10px; padding-left:10px; background:url(http://img.enuri.info/images/home/bul_bar_gray2.gif) 0 4px no-repeat;}
.searesult_area .inciden li:first-child {margin-left:0; padding-left:0; background:0;}
.searesult_area .inciden li.url {max-width:226px; text-overflow:ellipsis; white-space:nowrap; }



.video_box {margin-top:19px; }
.video_box .cell_list {margin:12px 0 0 -45px; z-index:10 }
.video_box .cell_list:after{clear:both; display:block; content:"";}
.video_box .cell_list > li {float:left; width:145px; margin:0 0 0 55px; overflow:hidden; cursor:pointer; }
.video_box .cell_list > li a {display:block;}
.video_box .cell_list > li .video {position:relative; width:143px; height:79px; border:1px solid #000; background-color:#000;}
.video_box .cell_list > li .video .btn.play {position:absolute; bottom:3px; left:6px; display:inline-block; width:28px; height:30px; z-index:100;  background-image:url(http://img.enuri.info/images/home/btn_play.png);}
.video_box .txt {overflow:hidden; margin-top:4px; line-height:1.3;  display:block; height:38px; font-size:14px; color:#343434;}
.video_box .txt:hover {text-decoration:underline;}
.video_box .inciden {margin-top:3px;}
.video_box .inciden:after{clear:both; display:block; content:"";}
/*.video_box .inciden  li {float:left; width:104px; height:17px; overflow:hidden; font-size:11px; color:#666666; letter-spacing:-0.25px;  padding-left:6px; background:url(http://img.enuri.info/images/home/bul_sq_gray2.gif) 0 8px no-repeat;}*/

/*.bt_support {text-align:right; margin-top:3px; font-size:11px; color:#666666; letter-spacing:-0.5px;}
.video_area .bt_support {margin-top:3px;}
.video_area .bt_support {margin-top:10px;}*/

/* 170530 별점선택, 쇼핑몰선택 셀렉박스 추가 */
.comm_choice .title {width:700px;}
.comm_choice {position:absolute; top:-2px; right:0px; z-index:20}
.comm_choice:after {content:""; display:block; clear:both}
.comm_choice .select {position: relative; float:left; width:120px;}
.comm_choice .select.star {margin-right:10px;}
.comm_choice .select a{overflow:hidden; color:#343434; width:100px; height:22px; display:block; border: 1px solid #e3e3e3; padding:0 9px; text-decoration:none;  background:url(http://img.enuri.info/images/home/bul_arr_gray.png) 94% 9px no-repeat;}
.comm_choice .sub_dp{display:none; border-bottom:2px solid #dbdbdb; border-radius:2px; /*width:127px;*/ position:absolute; left:0; top:-1px; border:1px solid #787878; /*padding:0 2px 0 6px;*/ z-index:101; background:#ffffff}
.comm_choice .sub_dp > span{display:block; width:104px; padding:1px 9px 6px 5px; background:url(http://img.enuri.info/images/home/bul_arr_gray.png) 100% -20px no-repeat; }
.comm_choice .sub_dp ul{max-height:220px; overflow:auto; padding-bottom: 6px;}
.comm_choice .sub_dp li{background:none; /*width:100%*/}
.comm_choice .sub_dp li a{border:none; background:none; display:block; width:98px; margin:0; padding-top:0; padding-bottom:0; overflow:hidden; }
.comm_choice .sub_dp li a:hover, .local_navi li .sub_dp li a.on:hover{background:#d3ecff; text-decoration:none;}
.comm_choice .sub_dp li a.on {background:#d3ecff;}
.comm_choice .select.star .sub_dp li a.total {color:#ff2222;}
.comm_choice .select.mall .sub_dp li a:hover {text-decoration:underline}
.comm_choice .rating {display:inline-block;overflow:hidden; width:64px; height:11px; vertical-align:-1px; font-size:0;line-height:0;text-indent:-100px; background:transparent url(http://img.enuri.info/images/home/starmark_all.png) no-repeat}
.comm_choice .rating.s5 {background-position:0 0;}
.comm_choice .rating.s4 {background-position:0 -20px;}
.comm_choice .rating.s3 {background-position:0 -40px;}
.comm_choice .rating.s2 {background-position:0 -60px;}
.comm_choice .rating.s1 {background-position:0 -80px;}
.comm_choice .select.star .sub_dp ul li span {float:right; width:20px;}
.comm_choice .select.star .sub_dp ul li {clear:right}
.comment_item .hglight {font-weight:bold; background:#ffff66;}

/* 170531 상품평 펼친 후 기준으로 재수정 */
.comment_area {position: relative; margin-top:15px; background-color:#fff;}
.comment_item {position:relative;}
.comment_item .top_data {margin-top:20px; border-bottom: 1px solid #e2e2e2;}
.comment_item .top_data .title {width:650px;}
.comment_item .btn_more {position:absolute; bottom:19px; right:19px; width:42px; height:15px; line-height:1.2; text-align:center; font-size:11px; color:#666666; letter-spacing:-0.5px; border:1px solid #e2e2e2; padding:0 10px 0 3px; background:url(http://img.enuri.info/images/home/bul_arrow_updown2.png) #fff 44px 6px no-repeat; }
.comment_item .btn_more.fold {background-position: 40px -4px}
/* 펼친 후 */
.comment_item .list li {position:relative; padding:18px 0 20px; margin-top:-1px;border:1px solid #c6dbea; background:#f8fcff;}
.comment_item .list li:after {content:""; display:block; clear:both;}
/*.comment_item .list li:last-child {border-bottom:0;}*/
.comment_item .list li .mallstar {float:left; width:169px;  text-align:center; }
.comment_item .list li .mall {display:block; font-size:14px; color:#343434; letter-spacing:-0.5px;}
.comment_item .list li .star_area {margin-top:15px;}
.comment_item .list li .star_comm {float:none; display:block; width:64px; margin:0 auto;}
.comment_item .list li .little_star .star_rate {margin:0;}
.comment_item .list li .num_rate {display:block; font-size:14px}
.comment_item .list li .reply  {float:left; width:763px; padding-left:18px; padding-right:18px;}
.comment_item .list li .reply .ments {overflow:hidden; max-height:80px; font-size:13px; letter-spacing:-0.5px;}
.comment_item .list li .reply .showheight {max-height:none;}
.comment_item .list li .datewriter {margin-top:18px; color:#666666;}
.comment_item .list li .datewriter.mine {font-weight:bold; color:#0073be; line-height:1.1}
.comment_item .list li .datewriter .btn_del {display:inline-block; height:12px; padding:1px 8px 2px; font-size:11px;  font-weight:bold; color:#343434; letter-spacing:-0.05em;  border:1px solid #e2e2e2; background-color:#fff;}
/* 펼치기 전 */
.comment_item .list li.base {border:0; margin-top:0; border-bottom:1px solid #e2e2e2; background:#fff}
/* 포토상품평 */
.comment_item.photo .list li {padding:15px 0 20px; }
.comment_item.photo .reply {position:relative;}
.comment_item.photo .list li .thumb {margin-top:25px;}
.comment_item.photo .list li .thumb img {max-width:756px; vertical-align:top;}
.comment_item.photo .list li .pics img {margin-top:10px;}
.comment_item.photo .list li .mallstar {padding-top:8px;}
.comment_item.photo .btn_more {bottom:0;}
/* 포토상품평 펼치기 전 */
.comment_item.photo .list li.base {padding:10px 0; }
.comment_item.photo .list li.base .reply {min-height:103px;}
.comment_item.photo .list li.base .reply .thumb {position:relative; display:inline-block; width:103px; height:103px; overflow:hidden; margin-top:0; border:1px solid #e2e2e2;cursor:pointer; z-index:0}
.comment_item.photo .list li.base .ments {position:absolute; right:18px; top:0; width:647px; max-height: 80px;}
.comment_item.photo .list li.base .datewriter {position:absolute; right:18px; bottom:0; width:647px;}
.comment_item.photo .list li.base .thumb {margin-top:0;}
.comment_item.photo .list li.base .thumb img {max-width:none;}
.comment_item.photo .list li.base .reply .thumb .moreimg {position:absolute; bottom:2px; right:2px; display:inline-block; width:30px; height:14px; line-height:14px; color:#171717; font-size:11px; text-align:center; border:1px solid #bbb; background:#fff; z-index:50}
.comment_item.photo .list li.base .reply .thumb .moreimg strong {display:inline-block; width:10px; padding-left:10px; background:url(http://img.enuri.info/images/home/bul_plus.gif) 0 3px no-repeat; }



/* 170725 상단 이미지영역 스펙아이콘 노출 */
.markarea.spec { width:45px; height:200px; overflow:hidden; }
.markarea.spec .speclist {height:200px; margin-top:-10px;}
.markarea.spec .speclist li {position:relative; width:45px; height:60px; margin-top:10px;}

/* 공통 작은레이어팝업 */
.smallbox {display:none;  border-radius:2px; border:1px solid #707070; position:absolute; background:#ffffff; z-index:100; filter:progid:DXImageTransform.Microsoft.DropShadow(Color=#ebebeb,Positive=1,OffX=2,OffY=2); box-shadow:2px 2px 2px rgba(0, 0, 0, 0.1) }
.smallbox h5{height:27px; background:#575c67; color:#ffffff; font-size:12px; font-weight:normal; letter-spacing:-0.5px; padding:0 0 0 10px; line-height:21px;}
.smallbox h5 em {color:#e2e2e2; margin-left:8px;}
.smallbox h5 i {margin-left:8px; font-style:normal; font-size:11px; letter-spacing:-0.5px;}
.smallbox h5 .btnclose{position:absolute; right:5px; top:2px; width:12px; height:11px; background:url(http://img.enuri.info/images/home/btn_pop_close.png) 5px 5px no-repeat; text-indent:-9999em; padding:5px; }
.smallbox .scr{overflow-y:scroll !important; overflow-x:hidden;}
.smallbox .inner {padding:16px 10px 0;}
.smallbox .inner .pw {font-size:13px; margin-bottom:10px; }
.smallbox .inner  input {width:153px; height:22px; margin-left:10px; line-height:20px; padding:0 10px; border:1px solid #e2e2e2;}
/* 레이어-게시글 삭제 */
.smallbox.boarddel {width:319px; height:129px;}
/* 레이어 공통 닫기 버튼 */
.btn_dis {display:inline-block; text-align:center; padding:2px 30px 4px; color:#343434; letter-spacing:-0.5px; border:1px solid #e2e2e2; background:#fff;}
