@charset "utf-8";

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}

.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */


nav, section, article, header, aside, footer, figure, dialog {display:block}

select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"]{-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button {
    outline: medium none;
    cursor: pointer;
	border:0 none;
}


body{height:100%; background:#fff;}
img {width:100%; margin:0; font-size:0;}
#wrap {position:relative;  font-size: 0;margin:0 auto;}
/*#wrap {text-align:center; background:url(http://imgenuri.enuri.gscdn.com/images/mobileevent/hotdeal/hotdeal_bg.jpg) left top no-repeat; background-size:100% 100%;}*/

#wrap .roulette_con {position:relative; }
#wrap .roulette_con div {}
#wrap .guide_con {position:relative; }
#wrap dl {position:relative; font-family:맑은 고딕;}
#wrap dl dt {padding-bottom:10px; }
#wrap dl dd {font-size:12px; color:#962001; background:url(http://imgenuri.enuri.gscdn.com/images/mobileevent/hotdeal/hotdeal_bul.gif) 10px 7px no-repeat; background-size:4px 2px; line-height:16px; padding:0 20px; margin-bottom:5px; margin-left:6%;}
#wrap dl dd em {font-size:8px; display:block; margin-top:-2px;}
#wrap .guide1 {position:absolute;top:0;z-index:3;width:100%;}
#wrap .guide2 {position:absolute;top:37%;z-index:3;width:100%;}
#wrap button.btn_close {position:absolute; top:1%; right:4%; width:23px; height:25px;  text-indent:-9999em; background:url(http://imgenuri.enuri.gscdn.com/images/mobileevent/hotdeal/btn_close.png) 0 0 no-repeat; background-size:23px 25px;}
#wrap button.btn_close2 {position:absolute; bottom:2%; right:4%; width:100px; height:27px;  font-size:15px; color:#fff; letter-spacing:-0.5px; background:url(http://imgenuri.enuri.gscdn.com/images/mobileevent/hotdeal/btn_close2.gif) 0 0 no-repeat; background-size:118px 30px;}

#wrap .today_chk {position:absolute; bottom:2%; left:4%; font-size:13px; color:#fff; width:70%; cursor:pointer;}
#wrap .today_chk * {vertical-align:middle;}
#wrap .today_chk img {width:21px; height:19px;}

/* 팝업 메세지 */
#wrap .laypop {position:absolute; top:26%; left:50%; width:85%; margin-left:-43%; border:1px solid #2f2742; border-top:2px solid #2f2742;  background-color:#fff; z-index:10;}
#wrap .laypop .header {width:100%; height:40px; line-height:1.7;  letter-spacing:-0.5px; text-align:center; font-size:22px; color:#fff; background-color:#2f2742; }
#wrap .laypop .con {text-align:center;  padding:0 10px; background-color:#fff;}
#wrap .laypop .con p {font-size:12px; color:#444;  letter-spacing:-0.5px;}
#wrap .laypop .con p.get {padding-top:10px; font-size:15px; line-height:20px;}
#wrap .laypop .con p.get2 {padding-top:6px; font-size:12px; line-height:18px;}
#wrap .laypop .con p.gift {padding-top:11px; }
#wrap .laypop .con p em, #wrap .laypop .con p strong {color:#d71b1b;}
#wrap .laypop .con input {margin-top:10px; width:100%; height:35px; /*width:96%;  padding:0 2%;*/ font-size:14px; letter-spacing:-0.5px; text-align:center; color:#888; border:1px solid #ccc; background-color:#f5f5f5;}

#wrap .laypop .con .info {width:100%; margin-top:5px; }
#wrap .laypop .con .info:after {content:""; display:block; clear:both;}
#wrap .laypop .con .agree {float:left; width:70%;text-align:left;}
#wrap .laypop .con .agree * {vertical-align:middle;}
#wrap .laypop .con .agree img{vertical-align:middle;cursor:pointer}
#wrap .laypop .con .agree .ic_chk {width:15px; height:15px; margin-right:1%;}
#wrap .laypop .con .agree .ig_txt {width:50%; color:#555; font-size:11px; cursor:pointer; }
#wrap .laypop .con a.detail_view {float:right; width:30%; text-align:right; font-size:11px; color:#555; letter-spacing:-0.5px; text-decoration:underline;}
#wrap .laypop .con .alert {margin-top:13px; font-size:13px; color:#ef1414; letter-spacing:-0.5px; }
#wrap .laypop .con .agree_txt {height:88px; margin-top:15px; padding:10px; font-size:11px; color:#888; letter-spacing:-0.5px; line-height:1.5; text-align:left; border:1px solid #ccc; overflow-x:hidden; overflow-y:scroll;}
#wrap .laypop .con .agree_txt p {font-size:11px; color:#888; }
#wrap .laypop .con .agree_txt ol {padding-top:12px;}

#wrap .laypop .btm {margin-top:14px; text-align:center; padding:10px 0; /*background-color:#f5f5f5;*/}
#wrap .laypop .btm input[type=button], #wrap .laypop .btm button {width:116px; height:30px; font-size:15px; color:#fff; letter-spacing:-0.5px;  border:0; background:url(http://imgenuri.enuri.gscdn.com/images/mobileevent/hotdeal/btn_submit.gif) 0 0 no-repeat; background-size:118px 30px; cursor:pointer;}
#wrap .laypop .btm button:last-child {margin-left:2.5%;}



