@charset "utf-8";
@import url("/css/webfont.css");
/* @import url("/css/webfont-local.css");  */
/************************************************************************
 * 파일명 : brandstore_pro_m.css
 * 설명 : 메이크샵_브랜드스토어_프로모션 (모바일)
 * 작성자 : 박현원
 * 작성일 : 22.04.28
 * 내용 : 상단 비주얼부분 제거
************************************************************************/
/*  
    ※ 다른영역때문에 전체설정이 불가 (헤더푸터)
    *, *:before, *:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
    event_wrap 에 '.border-box' 추가
*/
.border-box,
.border-box *,
.border-box *:before,
.border-box *:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img {max-width:100%;}
.color-red {color:#f00;}
.mb20 {margin-bottom:20px;}
input, select, textarea, button, label {font-family: 'Noto Sans KR';}
.event_wrap {background:#fcf1d7; font-family: 'Noto Sans KR'; min-width: auto;}
.section {position:relative;}
.section .inner {position:relative; width:320px; padding:0 5px; margin:0 auto; z-index: 10;}
/* @media (max-width:1280px) {
    .moving_tap .inner {width: 100%;}
    .section .inner {width:100%;}
} */

/* ===========================================================  
                    evt_details (상단)
 =========================================================== */
.evt_details {padding:35px 0 40px; text-align: center;}
.evt_details .sector_header {}
.evt_details .sector_header > div {line-height: 1;}
.evt_details .sector_header .promotion_label {}
.evt_details .sector_header .promotion_label img {width: 50%;}
.evt_details .sector_header .promotion_name {font-size: 12px; color:#888888; margin-top:15px; letter-spacing: -1px;}
.evt_details .sector_header .sector_txt1 {font-size: 18px; font-weight: 500; color: #ca9d63; margin-top: 20px; letter-spacing: -.5px;}
.evt_details .sector_header .sector_txt1 em{color:#b4864b; font-size: 23px; font-weight: 600;}
.evt_details .sector_header .sector_txt2 {font-size: 29px; font-weight: bold; color :#fcb459; margin-top:8px; letter-spacing: -3px;}
.evt_details .sector_header .sector_txt2 em{color:#ff9000}

.evt_details .sector_contents {position:relative; margin-top:34px;}
.evt_details .sector_contents .prize_default {position:relative; width:100%; padding:30px 25px 50px; margin-top:30px;}
.evt_details .sector_contents .prize_default .box_title {position:absolute; top:0; left:0; width:100%;}
.evt_details .sector_contents .prize_default .box_title img {width:50%;}
.evt_details .sector_contents .prize_default .box_wrap{display: flex; flex-wrap: wrap; align-items: center; justify-content: center; padding:40px 0 211px; background-color: #fffaee; border:1px solid #ecd08d; border-radius: 25px;}
.evt_details .sector_contents .prize_default .box_wrap > div{flex: 0 0 auto;}
.evt_details .sector_contents .prize_default .box_wrap > div.col_left {width:100%;}
.evt_details .sector_contents .prize_default .box_wrap > div.col_left img {width:50%;}
.evt_details .sector_contents .prize_default .box_wrap > div.col_right {width:100%; padding:0 30px; margin-top:18px;}

.evt_details .sector_contents .prize_default .col_right .txt {font-size: 16px; font-weight: 400; color:#444; letter-spacing: -.5px; line-height: 1; margin-bottom:15px;}
.evt_details .sector_contents .prize_default .col_right .txt em {color:#ff9d20;}
.evt_details .sector_contents .prize_default .col_right .btn_prize {display: block; width: 100%; line-height: 34px; border: 1px solid #decca3; font-size: 12px; color: #444; border-radius: 20px; background-color: #fff6e2; margin-bottom: 10px; letter-spacing: -.5px;}
.evt_details .sector_contents .prize_default .col_right .btn_prize:last-child {margin-bottom:0;}
.evt_details .sector_contents .prize_default .col_right .btn_prize:after {content:""; display: inline-block; background: url('//img.enuri.info/images/event/2022/brandstore_pro/icon_btnprize_arrow.png') no-repeat 0 0; background-size: 100%; width:5px; height:10px; margin-left:14px; vertical-align: -1px;}

.evt_details .sector_contents .evt_period {position:absolute; bottom:0; left:3%; width:96%; padding:20px 0 12px; background-color: #fff; border-radius: 6px; border:1px solid #decca3; text-align: left; font-size: 12px; font-weight: 400; color:#444; text-align: center;}
.evt_details .sector_contents .evt_period ul li {position:relative; line-height: 28px; letter-spacing: -.5px;}
.evt_details .sector_contents .evt_period ul li + li {margin-top:14px;}
.evt_details .sector_contents .evt_period ul li span {display: block; width:90px; line-height: 28px; color:#fff; font-size: 12px; font-weight: 400; margin:0 auto; text-align: center; background-color: #ff9d20; border-radius: 27px;}

.btn_caution {display: inline-block; font-size: 12px; padding-bottom:4px; border-bottom:1px solid #444; margin-top:25px; letter-spacing: -.5px;}
.btn_caution:after {content:""; display: inline-block; width:7px; height:7px; margin-left:7px; border-bottom:1px solid #333; border-right:1px solid #333; transform: rotate(45deg); vertical-align: 4px;}

/* =========================================================== 
                    evt_brandstore(브랜드스토어란)
=========================================================== */ 

.evt_define_brandstore {text-align: center; color:#fff; background-color: #f3b74c;}
.evt_define_brandstore .title {display:block; width:176px; padding:56px 0 7px; background-color: #ef9d0b; font-size: 19px; font-weight: 500; margin:0 auto; letter-spacing: -1px;}
.evt_define_brandstore .summary {font-size: 13px; font-weight: 300; letter-spacing: -.5px; padding: 22px 0 55px;}
.evt_define_brandstore .summary strong {font-weight: 500;}
.evt_define_brandstore .icon_arrow_down {position:absolute; bottom:24px; left:50%; margin-left:-11px; animation:arrowDown 1s infinite;}
.evt_define_brandstore .icon_arrow_down:after {content:""; display: block; width:11px; height:11px; border-bottom:1px solid #fff; border-right:1px solid #fff; transform: rotate(45deg);}

@-webkit-keyframes arrowDown { 
    0% {-webkit-transform:translateY(0); transform:translateY(0); opacity: 0.5;}
    100% {-webkit-transform:translateY(14px); transform:translateY(14px); opacity: 1;}
}
@keyframes arrowDown { 
    0% {-webkit-transform:translateY(0); transform:translateY(0); opacity: 0.5;}
    100% {-webkit-transform:translateY(14px); transform:translateY(14px); opacity: 1;}
} 
/* =========================================================== 
                    evt_how(스토어리스트, 상품리스트)
=========================================================== */
.evt_store_list {padding:30px 0; background-color: #fbebc6;}
.evt_store_list .title {font-size: 20px; font-weight: 500; color:#444; text-align: center; margin-bottom: 26px; letter-spacing: -1px;}
.tab_contents  > div {display: none;}
.tab_contents  > div.active {display: block;}

.store_list {margin-bottom:10px;}
.store_list ul {display: flex; flex-wrap: wrap; margin:0 -1px;}
.store_list ul li {flex:0 0 auto; width:33.3333%; padding:0 1px; margin-bottom:2px; cursor: pointer;}
.store_list ul li span {display: block; border:1px solid #d0c3a5; background:#e2d6bb; text-align: center; color:#a49a83; padding:4px;}
.store_list ul li span img {width:70px; opacity: .5;}
.store_list ul li.active span {background: #ff9d20; border-color:#ea7710; color:#fff}
.store_list ul li.active span img {opacity: 1;}

.store_goods .goods_list {display: flex; flex-wrap: wrap; margin:0 -2px;}
.store_goods .goods {flex:0 0 auto; width:50%; padding: 0 2px; margin-bottom:4px; min-height:252px;}
.store_goods .goods .nolist {position:relative; padding-top:calc( 100% + 99px)}
.store_goods .goods .nolist:after {position:absolute; top:0; left:0; content:""; width: 100%; height: 100%;background-color: #fff; border:1px solid #eee; background-image: url("//img.enuri.info/images/event/2022/brandstore_pro/img_nolist.png"); background-repeat: no-repeat; background-position: center; background-size: 50%;}

.store_goods .goods a {display: block;}
.store_goods .goods_thumbs {position: relative; padding-top:100%;}
.store_goods .goods_thumbs img {position:absolute; top:0; left:0; width:100%; height:100%; object-fit: cover;}

.store_goods .goods_info {display: block; height:100px; border:1px solid #eee; padding:10px 8px; margin-top:-1px; background: #fff; overflow: hidden;}
.store_goods .goods_info .info_price {font-size: 14px; color:#000; line-height: 21px; letter-spacing: -.5px;}
.store_goods .goods_info .info_price em {font-size: 16px; font-weight: bold;}
.store_goods .goods_info .info_name {font-size: 12px; color:#000; display:-webkit-box; text-overflow:ellipsis; word-wrap:break-word; -webkit-box-orient:vertical; -webkit-line-clamp:2; overflow:hidden; line-height: 17px; max-height:34px; margin-top:8px;}

.swiper-pagination {text-align: center; font-size: 0; padding-top:20px;}
.swiper-pagination span {display: inline-block; width:10px; height:10px; border:1px solid #a29169; background-color: #fbebc6; margin: 0 5px;}
.swiper-pagination span.swiper-pagination-bullet-active {background-color: #a29169;}

.store_goods .btn_more {display: block; width:210px; height:38px; line-height: 36px; border:1px solid #ea7710; background-color: #ff9d20; color:#fff; text-align: center; font-size: 12px; letter-spacing: -.5px; margin:20px auto 0;}
/* =========================================================== 
                    evt_how(이벤트참여방법)
=========================================================== */ 
.evt_how { padding:42px 0 30px; background-color: #fcf1d7; text-align: center;}
.evt_how .title {position:relative; display: inline-block;}
.evt_how .title span {position:relative; font-size: 20px; font-weight: 500; color:#444; padding:0 8px; letter-spacing: -1px; z-index: 2;}
.evt_how .title:before {content:""; position:absolute; bottom:0; left:0; width: 100%; height:14px; background-color: #ffe3a1; z-index: 1;}
.evt_how .box_wrap {display:flex; flex-wrap: wrap; align-items: center; justify-content: center; margin-top: 32px;}
.evt_how .box_wrap .box_col {flex: 0 0 auto;}
.evt_how .box_wrap .col_left {width:100%; padding:0 4px;}
.evt_how .box_wrap .col_right {width:88%; margin-top: 25px;}

.evt_how .evt_step {margin-bottom:30px;}
.evt_how .evt_step ul li {position: relative; text-align: left; font-size: 13px; color: #444; line-height: 1.25; padding-left: 34px; letter-spacing: -.5px; margin-bottom: 20px;}
.evt_how .evt_step ul li + li {margin-top: 20px;}
.evt_how .evt_step ul li em {font-weight: 500;}
.evt_how .evt_step ul li .num {position:absolute; top:4px; left:0; width:26px; height:26px; border:1px solid #ff9d20; color:#ff9d20; line-height: 24px; text-align: center; border-radius: 50%; background-color: #fff8e7; font-size: 16px; font-weight: 500; font-family: 'Roboto';}
.evt_how .evt_step ul li .step_link {display: inline-block; font-size:11px; background-color: #fcd374; border:1px solid #ffbe28; line-height: 25px; padding:0 15px; border-radius: 20px; margin-top:6px; transition: all .4s;}
.evt_how .evt_step ul li .step_link:after {content:""; display: inline-block; width:7px; height:7px; border-top:1px solid #be9e56; border-right:1px solid #be9e56; transform: rotate(45deg); margin-left:5px; transition: all .4s;}

.evt_how .evt_step ul li .step_caution {font-size: 12px;}

.evt_share {}
.evt_share ul {font-size: 0;}
.evt_share ul li{display:inline-block; width:40px; height:40px; margin:0 7px; text-indent:-9999em; cursor: pointer;}
.evt_share ul li.share_fb{background:url("//img.enuri.info/images/event/2022/brandstore_pro/m/icon_social_facebook.png") no-repeat center; background-size:100%;}
.evt_share ul li.share_kakao{background:url("//img.enuri.info/images/event/2022/brandstore_pro/m/icon_social_kakaotalk.png") no-repeat center; background-size:100%;}
.evt_share ul li.share_tw{background:url("//img.enuri.info/images/event/2022/brandstore_pro/m/icon_social_twitter.png") no-repeat center; background-size:100%;}


/* =========================================================== 
                    evt_banner_push(푸쉬배너)
=========================================================== */ 
.evt_banner_push {background-color: #fef8eb; box-shadow:  0 0 10px 6px rgba(0,0,0,.02); z-index: 10;}
/* ----------------------------------------------------------------
					딤레이어 공통
-----------------------------------------------------------------*/


.popup_inner_tit {padding-bottom: 3px; color: #222; font-size: 13px; font-weight: 500;}
.list_mb5 > li{margin-bottom:5px;}
.list_hyphen > li {position:relative;list-style:none;padding-left:15px;font-size:14px;}
.list_hyphen > li:before {content:"";display:block;width:5px;border-top:1px solid;position:absolute;top:10px;left:2px;}
.list_dot > li {position:relative;list-style:none;padding-left:15px;font-size:13px; line-height: 1.5;}
.list_dot > li:before {content:"";display:block;width:0px;height:0px;border:2px solid;border-radius:50%;position:absolute;top:8px;left:3px;}
.list_dot > li .sub {padding-left:20px}
.list_dot > li .sub > li:before {content:"- "}
.popup_inner_table {width:100%;border-collapse:collapse;border-spacing:0;}
.popup_inner_table tr th,
.popup_inner_table tr td {border:1px solid #ddd;width:200px;padding:4px 0;font-size:14px;text-align:center;}
.popup_inner_table tr th {background-color:#eee;}


/* 테이블 */
.table_default {width:100%; border-spacing: 0; border-collapse: collapse; margin-top:10px;}
.table_default thead th {font-size: 14px; font-weight: bold; background-color: #f0f0f0;}
.table_default thead th,
.table_default tbody th,
.table_default tbody td {padding:6px 0; border:1px solid #ddd; font-size: 13px; text-align: center;}



/* 공통 */
.go_top {width: 39px; height: 39px; position: fixed; bottom: 10px; right: 10px; z-index: 9999;}
.go_top a {background: url(http://img.enuri.info/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}


/* 배너 */
.aside_bnr a {display: block;}