@charset "utf-8";

img{vertical-align: top; max-width: 100%;}

/* 프로모션 템플릿 */
.event_wrap {clear:both;position:relative;min-width:1000px;}
.event_wrap .blind,  .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap a {outline:none;}
.event_wrap .section {width:100%;}
.event_wrap .contents {position:relative;margin:0 auto;width:1000px;height:100%;}
.event_wrap .contents .btn {cursor:pointer;}


/* 공통 정렬 */
.event_wrap .alcenter {text-align:center;}

/* 공통 */
.imgbox{width:100%;padding:0;margin:0;display:block;text-align:center;}
.imgbox img {max-width:100%;height:auto;vertical-align:top;}

.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4, .contents .notice h4 {margin:0;}

/* 상단 비주얼 */
.visual {overflow:hidden;position:relative;height:513px;background-color:#bfe9f5;text-align:center}
.visual .inner{width:970px;padding-top:80px;height:100%;margin:0 auto;position:relative;z-index:20}
.visual .inner .txt_01{position:relative;margin:0 auto 0 12px;display:block;height:40px;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_top_tit_sub.png) no-repeat 0 0 ;text-indent:-9999em}
.visual .inner h2{width:550px;height:80px;margin:20px auto 0 17px;position:relative;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_top_tit.png) no-repeat 0 0;}
.visual .inner h2:after{content:"";position:absolute;top:1px;left:-7px;width:164px;height:80px;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_top_tit_cover.png) no-repeat 0 0;}
.visual .inner .txt_02{height:25px;display:block;margin:30px auto 0 12px;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_top_txt_sub.png) no-repeat 0 0;text-indent:-9999em;}
.visual .inner .box_wrap{position:absolute;right: -130px;bottom:-20px;overflow:hidden;width:450px;height:466px;margin-left:-168px;opacity:0;background:url(http://img.enuri.info/images/event/2022/buy_stamp/july/w_obj_box.png) no-repeat 50% 0;}

.obj_flow_01,
.obj_flow_02,
.obj_flow_03{position:absolute;top:0;left:50%;height:513px;overflow:hidden;}
.obj_flow_01{z-index:10;width:1048px;margin-left:-506px;}/* 파랑색 */
.obj_flow_02{z-index:9;width:962px;margin-left:-565px;}/* 분홍색 */
.obj_flow_03{z-index:8;width:922px;margin-left:-452px;}/* 흰색 */
.obj_flow_01 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_obj_flow_blue.png) no-repeat 50% 0;}
.obj_flow_02 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_obj_flow_pink.png) no-repeat 50% 0;}
.obj_flow_03 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/buy_stamp/aug/w_obj_flow_white.png) no-repeat 50% 0;}
.flow_obj_01{top:0}
.flow_obj_02{top:-100%}

/* 모션 */
.visual .inner .txt_01{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner .txt_02{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2{transition:.8s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2:after{transition:.3s all ease-in;transform:translateX(6px);opacity:0}
.obj_flow_01,
.obj_flow_02,
.obj_flow_03{transition:2s all ease-in-out;opacity:0}

/* 모션 intro */
.visual.intro .inner .box_wrap{animation:box_mv 1s linear;animation-delay:2.2s;animation-fill-mode:forwards;}
@-webkit-keyframes box_mv {
    0% {opacity:0;bottom:-200px}
    100% {opacity:1;bottom:-80px}
} 
@keyframes box_mv {
    0% {opacity:0;bottom:-200px}
    100% {opacity:1;bottom:-80px}
} 
.visual.intro .inner .txt_01{transform:translateX(0);opacity:1}
.visual.intro .inner .txt_02{transition-delay:1.2s;transform:translateX(0);opacity:1}
.visual.intro .inner h2 {transition-delay:.5s;transform:translateX(0);opacity:1}
.visual.intro .inner h2:after{transition-delay:1.6s;transform:translateX(0);opacity:1}

/* 모션 end */
.visual.end .obj_flow_01,
.visual.end .obj_flow_02,
.visual.end .obj_flow_03{opacity:1}
.visual.end .obj_flow_01 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 12s linear infinite;animation:flowShower 12s linear infinite;}
.visual.end .obj_flow_02 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 26s linear infinite;animation:flowShower 26s linear infinite;}
.visual.end .obj_flow_03 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 50s linear infinite;animation:flowShower 50s linear infinite;}
@-webkit-keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
}
@keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
} 

.visual.intro .loader-box{opacity:0}
.loader-box{display:inline-block;position:relative;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;transform:translateY(-280px)}
.visual-loader:before{content:"";position:absolute;top:0px;left:-25px;height:12px;width:12px;border-radius:12px;-webkit-animation:loader10g 3s ease-in-out infinite;		animation:loader10g 3s ease-in-out infinite;}
.visual-loader{position:relative;width:12px;height:12px;border-radius:12px;-webkit-animation:loader10m 3s ease-in-out infinite;		animation:loader10m 3s ease-in-out infinite;}
.visual-loader:after{content:"";position:absolute;top:0px;left:25px;height:10px;width:10px;border-radius:10px;-webkit-animation:loader10d 3s ease-in-out infinite;		animation:loader10d 3s ease-in-out infinite;}
@-webkit-keyframes loader10g{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,1);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}
@keyframes loader10g{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,1);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}

@-webkit-keyframes loader10m{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,1);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}
@keyframes loader10m{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,1);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}

@-webkit-keyframes loader10d{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,1);}
	100%{background-color:rgba(0,0,0,.2);}
}
@keyframes loader10d{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,1);}
	100%{background-color:rgba(0,0,0,.2);}
}

/* 플로팅 탭 */
.floattab {width:100%;height:82px;background-color:#000}
.floattab__list{background-color:#000;width:100%;height:100%;}
.floattab__list.is-fixed {position:fixed;top:0;left:0;height:82px;z-index:100;box-shadow:0 0 6px rgba(0,0,0,.5)}
.floattab__list ul {overflow:hidden;width:970px;margin:0 auto;height:100%}
.floattab__list li {position:relative; float:left; width: 33.3333%; height:100%;}
.floattab__list li:after {content:""; display: block; width: 1px; height: 20px; position:absolute; top:50%; right:0; margin-top:-10px; background-color: rgba(255,255,255,.5);}
.floattab__list li:last-child:after {display: none;}
.floattab__list li .floattab__item {display:block;width:100%;height:100%;font-size:24px; text-align:center; line-height: 80px; color:#fff;opacity: .5; font-weight: 300;}

.floattab__list li .floattab__item:hover,
.floattab__list li .floattab__item.is-on {opacity: 1;}


/* ----------------------------------------------------------------
						누리팡 스탬프 이벤트01
-----------------------------------------------------------------*/
.buying_stamp {position:relative; padding:70px 0 40px; background:#fff2d7; text-align: center;}
.buying_stamp .stamp_tit{margin-bottom:60px;}
.stamp_climb_wrap{width: 1400px;background-image: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_vacation_bg.png"); background-repeat: no-repeat; background-position: center; margin: auto;}
.stamp_climb {width: 100%; height:700px;position:relative;margin-bottom:80px; }

.stamp_list {}
.stamp_list .prize {position:absolute; width:220px; height:220px; border-radius: 50%; background-color: #fff;}
/* 동그라미 위치 */
.stamp_list .prize1 {top: 335px; left: 0;}
.stamp_list .prize2 {top: 155px; left: 236px;}
.stamp_list .prize3 {top: 295px; left: 480px;}
.stamp_list .prize4 {top: 130px; left: 746px;}

.stamp_list .prize .prize_img {width:100%; height:100%;}
.stamp_list .prize.status_complete:after {content:""; display:block; width:100%; height:100%; background: url("//img.enuri.info/images/event/2022/buy_stamp/mar/stamp_complete.png") no-repeat 0 0; position:absolute; top:0; left:0; z-index: 3;}
.stamp_list .prize.status_on:after {content:""; display: block; width:100%; height:100%; border:1px solid #f95858; position:absolute; top:0; left:0; transform-origin: center; border-radius: 50%; animation: statusOn 2s linear infinite; z-index: 0;}
@keyframes statusOn {
	0% {transform: scale(1.01); opacity: .8;}
	100% {transform: scale(1.2); opacity: 0;}
}

/* 진행중 _ status_on */
.stamp_list .prize1.status_on .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize1.png") no-repeat 0 0;}
.stamp_list .prize2.status_on .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize2.png") no-repeat 0 0;}
.stamp_list .prize3.status_on .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize3.png") no-repeat 0 0;}
.stamp_list .prize4.status_on .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize4.png") no-repeat 0 0;}
/* 진행대기 _ status_off */
.stamp_list .prize1.status_off .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize1_off.png") no-repeat 0 0;}
.stamp_list .prize2.status_off .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize2_off.png") no-repeat 0 0;}
.stamp_list .prize3.status_off .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize3_off.png") no-repeat 0 0;}
.stamp_list .prize4.status_off .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize4_off.png") no-repeat 0 0;}
/* 참여완료 _ complete */
.stamp_list .prize1.status_complete .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize1_off.png") no-repeat 0 0;}
.stamp_list .prize2.status_complete .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize2_off.png") no-repeat 0 0;}
.stamp_list .prize3.status_complete .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize3_off.png") no-repeat 0 0;}
.stamp_list .prize4.status_complete .prize_img {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/stamp_prize4_off.png") no-repeat 0 0;}
/* 버튼 */
.stamp_list .prize .btn_stamp {position:absolute; bottom:20px; left:50%; margin-left:-66px; width:132px; height:42px; z-index: 2;}
.stamp_list .status_complete .btn_stamp {background: url("//img.enuri.info/images/event/2022/buy_stamp/mar/btn_stamp_complete.png") no-repeat 0 0;}
.stamp_list .status_on .btn_stamp {background: url("//img.enuri.info/images/event/2022/buy_stamp/mar/btn_stamp_on.png") no-repeat 0 0;}
.stamp_list .status_off .btn_stamp {background: url("//img.enuri.info/images/event/2022/buy_stamp/mar/btn_stamp_off.png") no-repeat 0 0;}


/* 참여상품 상세정보 */
.stamp_prize_info_list {padding:0 55px; margin-bottom:25px;}
.stamp_prize_info_list .stamp_prize_list_txt {font-size: 38px; font-weight: bold; color:#2f363f; line-height: 1; margin-bottom:55px; letter-spacing: -1px;}
.stamp_prize_info_list .col_wrap {margin:0 -15px;}
.stamp_prize_info_list .col_wrap:after {content:""; display: block; clear:both;}
.stamp_prize_info_list .col_wrap .col {float:left;}
.stamp_prize_info_list .col_wrap .col.col_6 {width:50%; padding:0 15px; margin-bottom:30px;}

.buying_stamp .view_cont {text-align: center; margin-bottom:15px;}
.buying_stamp .view_cont .event_info {display: inline-block;}
.buying_stamp .view_cont .event_info > li {font-size: 18px; color:#646058; text-align: left;}

/* 배너 */
.banner {width: 100%;}
.banner a {display: block;}
.banner-inner {background: url("//img.enuri.info/images/event/2022/buy_stamp/july/banner.png") no-repeat center;height: 200px;text-indent: -9999em;}

/* ----------------------------------------------------------------
							추가적립
-----------------------------------------------------------------*/
.addsaving {position:relative; padding:70px 0 40px; background:#e5f7ff; text-align: center; letter-spacing:-.5px;}
.addsaving .addsaving_tit{margin-bottom:70px;}
.addsaving .addsaving_top {margin-bottom:50px;}
.addsaving .addsaving_speech_balloon{margin-bottom:40px;}
.addsaving .addsaving_noti{font-size: 20px; color:#888;margin-bottom:55px;}
.addsaving .addsaving_step_img {margin-bottom:40px;}
.addsaving .addsaving_btn_area {font-size: 0; margin-bottom:35px;}
.addsaving .addsaving_btn_area > span {display: inline-block; vertical-align: middle; font-size: 32px; width: 300px; padding:18px 0; color:#fff; margin:0 30px; max-height: 80px;}
.addsaving .addsaving_btn_area > span.btn_join {background-color: #1c89e7;}
.addsaving .addsaving_btn_area > span.btn_cate {background-color: #44b4ec;}

.addsaving .view_cont {text-align: center; margin-bottom:15px; }
.addsaving .view_cont .event_info {display: inline-block;}
.addsaving .view_cont .event_info > li {font-size: 18px; color:#646058; text-align: left;}

/* ----------------------------------------------------------------
							VIP 맞춤적립
-----------------------------------------------------------------*/
.vipsave {overflow:hidden;position:relative; }
.vipsave .vipsave_bg {background: #f7f7f7 url("//img.enuri.info/images/event/2022/buy_stamp/mar/w_bg_vip.png") no-repeat center;}
.vipsave .vipsave_tit {padding:70px 0 40px; text-align:center;}
.vipsave .vipsave_detail {padding-bottom: 40px;}
.vipsave_detail .sector {position:relative;width:100%;height:290px; margin-bottom:50px;}
.vipsave_detail .sector:after {content:"";display:block;clear:both;}
.vipsave_detail .sector li {float:left; width:475px;height:100%;font-size:0;text-indent:-9999px; box-shadow: 6px 8px 14px 6px rgba(0,0,0,.2);}
.vipsave_detail .sector li.card-lt {background:url(//img.enuri.info/images/event/2022/buy_stamp/mar/w_vip_card01.jpg) no-repeat 0 0; margin-right: 20px;}
.vipsave_detail .sector li.card-rt {background:url(//img.enuri.info/images/event/2022/buy_stamp/mar/w_vip_card02.jpg) no-repeat 0 0;}
.vipsave_detail .txtinfo {margin-bottom:40px;}
.vipsave_detail .txtinfo h3.tit {display:inline-block;position:relative;left:50%;margin-bottom:25px;font-size:36px;color:#000;letter-spacing:-2px;transform:translateX(-50%)}
.vipsave_detail .txtinfo h3.tit strong {font-weight:bold;font-weight:600;}
.vipsave_detail .txtinfo h3.tit:after {content:"";display:inline-block;position:absolute;bottom:-3px;left:0;width:100%;height:5px;background-color:#bf860d;}
.vipsave_detail .txtinfo .txt {font-size:22px;text-align:center;color:#555;line-height:32px;letter-spacing:-.5px;}
.vipsave_detail .txtinfo .txt em {color:#bf860d;}
.vipsave_detail .txtinfo .txt span {display:block; margin-bottom:20px;}
.vipsave_detail .txtinfo .txt span:last-child {margin-bottom:0;}
.vipsave_detail .btn_join {display:block;width:280px;height:99px;margin:0 auto;font-size:0;text-indent:-9999px;background:url(//img.enuri.info/images/event/2022/buy_stamp/mar/w_vip_btn.png) no-repeat 0 0;}
.vipsave .vipsave_notice {padding:55px 0 20px; background-color:#ededed;}

.vipsave .view_cont {text-align: center; background-color: #ededed; padding:40px 0 20px;}
.vipsave .view_cont .event_info {display: inline-block;}
.vipsave .view_cont .event_info > li {font-size: 18px; color:#646058; text-align: left;}

.color_red {color:#e52424!important;}

/* ----------------------------------------------------------------
							공통 : 꼭 확인하세요 버튼 위치
-----------------------------------------------------------------*/
.nuripang_stamp .com__evt_notice,
.addsaving .com__evt_notice {text-align:center;}
.evt_notice--cont .evt_notice--continner .gray {color:#343434;}

/* ---------------------------------------------------- */

/* e머니 스토어 인기브랜드 */
.epresd {padding:0 0 65px;background-color:#f4f4f4;border-top:1px solid #d8d8d8;}
/* .bene_zone {width:966px;margin:0 auto;padding-bottom:37px; position:relative;}
.emy_exp{width:797px;margin:0 auto;background:none;}
.emy_exp li:focus {outline:0;}
.emy_exp li.view {position:relative;}
.emy_exp li.view a {position:absolute;bottom:18px;right:124px;width:255px;height:53px;display:inline-block;}
.emy_exp li img {display:block;}
.emy_exp button{text-indent:-9999em;background:url(http://img.enuri.info/images/event/2017/template/slidepc_arrow.png) no-repeat 0px 0px;width:28px;height:52px; position:absolute;top:141px; z-index:10;border:none;}
.emy_exp .slick-prev {left:-85px;}
.emy_exp .slick-prev:hover {background-position:0 -78px;}
.emy_exp .slick-next {right:-85px;background-position:-63px 0;}
.emy_exp .slick-next:hover {background-position:-63px -78px;} */

/* SR#47141 2021.06.07 추가 e머니 스토어 인기브랜드 */
.storezone_wrap { padding:65px 0; background: #f4f4f4; text-align: center;}
.storezone {width:960px; padding:30px 0 40px; border:1px solid #c1c6cd; background-color: #fff; margin:0 auto;}
.storezone ul {margin-top:27px; overflow:hidden}
.storezone ul li {float:left; margin-right:27px; padding-left:28px; background: url(http://img.enuri.info/images/event/2017/template/bul_dotline.gif) left center no-repeat;}
.storezone ul li:first-child {background:0;}
.storezone ul li:last-child {margin-right:0;}
.storezone ul li img {display:block; width:137px; height:138px;}

/* sms 주소로 받기 */
.smsaddress {padding:90px 0 95px;background:#e7e7e7;}
.smsaddress h4 {margin-bottom:23px;}
.smsaddress .method {margin-bottom:100px;text-align:center;line-height:25px;font-size:18px;color:#2c2c2c;letter-spacing:-0.5px}

.smsaddress *:before, .smsaddress *:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
label, form, input, button, textarea, fieldset {/*vertical-align:text-top;*/font-family:inherit;font-size:inherit;}
.clean, .makeawish-input {-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;background-color:transparent;outline:none;padding:0;margin:0;border:0;float:none;}
#makeawish-form {-webkit-perspective:200px;-moz-perspective:200px;-ms-perspective:200px;-o-perspective:200px;perspective:200px;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;max-width:470px;height:55px;margin:0 auto;font-family:Malgun Gothic;text-align:center;}
#makeawish-form::after {display:block;content:"";clear:both;}
#makeawish-form .side {-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;position:absolute;min-width:470px;height:55px;}
#makeawish-form .side-a {-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-ms-transform:rotateX(0deg);-o-transform:rotateX(0deg);transform:rotateX(0deg);z-index:3;}
#makeawish-form .side-b {-webkit-transform:rotateX(-180deg);-moz-transform:rotateX(-180deg);-ms-transform:rotateX(-180deg);-o-transform:rotateX(-180deg);transform:rotateX(-180deg);z-index:2;}
#makeawish-form.step-b .side-a {-webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-ms-transform:rotateX(180deg);-o-transform:rotateX(180deg);transform:rotateX(180deg);z-index:2;}
#makeawish-form.step-b .side-b {-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-ms-transform:rotateX(0deg);-o-transform:rotateX(0deg);transform:rotateX(0deg);z-index:3;}
.form-alert {position:absolute;top:0;left:0;bottom:0;right:0;line-height:55px;vertical-align:middle;color:#fff;cursor:pointer;display:none;font-size:15px;}
.form-alert.alert-error {background:#fc3434;}
.form-alert.alert-success {background:#1f76ed;}
.makeawish-input {margin:0;height:52px;float:left;}
.makeawish-input-text {background-color:white;font-size:16px;color:#585858;padding:2px 20px 0;width:65%;border-radius:2px 0 0 2px;}
.makeawish-btn {background-color:#222222;border-radius:0 2px 2px 0;font-size:19px;color:white;padding:2px 0 0;width:25%;line-height:48px;}

/* 가이드팝업 - 유의사항 :아래로 떨어지는 형태 */
/* .notice {width:800px;position:absolute;left:50%;bottom:42px;margin-left:-400px;z-index:500;}
.notice.not2 {bottom:90px;z-index:1000;}
.notice.not3 {bottom:80px;}
.notice.not4 {bottom:90px;}
.notice.not5 {bottom:99px;} */

/* .notice h4 {height:69px;text-align:center;font-size:32px;font-weight:normal; line-height:66px; color:#fff;background-color:#2f363f}
.notice .layer_open {display:none; position:absolute;left:0;width:100%;border:1px solid #2f363f;border-top:0;background:#fff;z-index:50;}
.notice .layer_open .inner {padding:34px 50px 85px 50px;}
.notice .layer_open dl {margin-bottom:26px;font-size:15px;color:#333;}
.notice .layer_open dt {line-height:20px;padding-bottom:3px;font-weight:bold;}
.notice .layer_open dd {margin-left:2px;line-height:1.4;padding:2px 0 2px 11px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.notice .layer_open dd ul li {padding-top:1px;}
.notice .layer_open dd .stress {color:#ff2424;}
.notice .layer_open dd b.stress{font-weight:500}
.notice .laysubmit {position:absolute;left:299px;bottom:28px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.notice .layclose {position:absolute;right:26px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.notice .tb {width:100%;margin:15px 0;}
.notice .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse;}
.notice .tb table th, .notice .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333;}
.notice .tb table th {background:#f0f0f0;}
.notice .tb table td.savepr {width:100px;text-align:right;} */


/*딤레이어 공통 */
.lay_overlay{position:fixed; top:0; left:0; width:100%; height:100%; background-color: rgba(0,0,0,.25);}
.pop-layer  {display:none; position:fixed; top:50%;left:50%; width:640px; z-index:100000; background-color: #fff; border-radius: 24px;}
.pop-layer .layer_wrap {position:relative; text-align: center; letter-spacing: -1px; padding:40px 0 30px;}
.pop-layer .layer_wrap h4 {font-size: 36px; font-weight: bold; color:#000; margin-bottom:10px;}
.pop-layer .layer_wrap .cont{padding:0 25px; font-size:26px; color:#333;}
.pop-layer .layer_wrap .cont .txt {margin-bottom:30px;}
.pop-layer .layer_wrap .cont .txt_sub{display:block;font-size:24px;color:#777}
.pop-layer .btn_common {display: inline-block; min-width: 200px; line-height: 55px; color:#fff; font-size: 28px; font-weight: bold; background-color: #f55650; border-radius: 25px; text-decoration: none;}
.pop-layer .lay_close {display: block; width:30px; height:30px; text-indent: -9999px; background: url("//img.enuri.info/images/event/2022/btn_pop_close.png") no-repeat 0 0; position:absolute; top:-40px; right:0; }

/* 딤레이어 - 대상카테고리 확인 */
.save_category_list .cont {overflow:hidden; overflow-y:auto; max-height:580px; margin-top:40px;}
.save_category_list .cont::-webkit-scrollbar {width: 4px;}
.save_category_list .cont::-webkit-scrollbar-track { background-color: #e1e1e1; -webkit-border-radius: 2px;border-radius: 2px;}
.save_category_list .cont::-webkit-scrollbar-thumb { background: #1f76ed; -webkit-border-radius: 2px;border-radius: 2px;}
.save_category_list .cont::-webkit-scrollbar-button { display: none; }
.save_category_list .cont ul {margin:0 -10px;}
.save_category_list .cont ul li {float:left; width:50%; padding:0 10px; margin-bottom:20px;}
.save_category_list .cont ul li a {display: block; height:70px; line-height: 68px; border:1px solid #000; border-radius:15px; text-align:center; font-size:24px; color:#000; font-weight:normal; text-decoration: none;}
.save_category_list .cont ul li a:hover {color:#1f76ed; border-color: #1f76ed;}

/* 딤레이어 - 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px; border:1px solid #0182ea; background:#fff; border-radius: 0;}
.onlyapp .layer_wrap {padding:0;}
.onlyapp .layer_wrap h4 {height: 69px; text-align: center; font-size: 22px; font-weight: normal; line-height: 66px; color: #fff; letter-spacing: -0.75px; background-color: #0182ea; margin:0;}
.onlyapp .layer_wrap .cont {padding:20px 16px 35px; text-align: left;}
.onlyapp .layer_wrap .cont .cont_inner_title {text-align: center; line-height: 1.2; margin-bottom: 20px; font-size: 16px; color: #393939; letter-spacing: -0.5px;}
.onlyapp .layer_wrap .cont .cont_inner_input_label { font-weight: bold; font-size: 14px; color: #2366aa; margin-bottom:4px;}
.onlyapp .layer_wrap .cont .input_area {position:relative; border:1px solid #0182ea; padding-right:122px;}
.onlyapp .layer_wrap .cont .input_area input {width:100%; line-height: 40px; border:none; font-size: 16px; padding:0 10px; vertical-align: top;}
.onlyapp .layer_wrap .cont .input_area input::placeholder {color:#bfbfbf;} 
.onlyapp .layer_wrap .cont .input_area a {position:absolute; top:0; right:0; width:122px; height: 40px; background-color: #0182ea; line-height: 42px; color:#fff; font-size: 20px; font-weight: bold; text-align: center;}
.onlyapp .layer_wrap .cont .caution {margin-top:13px;}
.onlyapp .layer_wrap .cont .caution li {font-size:14px;color:#7f7f7f;}
.onlyapp .lay_close {display: block; width:19px; height:19px; text-indent: -9999px; background: url("//img.enuri.info/images/event/2022/btn_pop_close2.png") no-repeat 0 0; position:absolute; top:25px; right:25px; }


/* 딤레이어 - 개인정보 수집 동의 */
.infoagree {width:545px; height:494px;margin-left:-272px;margin-top:-247px;font-family:Malgun Gothic;background:url(http://img.enuri.info/images/event/2018/buy_coupon/april/pc_pop_infoagree.png) no-repeat 0 0;}
.infoagree .inner {position:absolute;top:180px;left:0;width:540px}
.infoagree dl {padding-left:64px;height:60px;font-weight:bold;overflow:hidden;}
.infoagree dl dt {float:left;width:156px;line-height:56px; font-size:26px;color:#333333; letter-spacing:-0.5px;}
.infoagree dl dd {float:left;width:264px;line-height:58px; font-size:30px;color:#0182ea;height:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.infoagree .tip {font-size:28px;color:#666666;text-align:center;line-height:38px;}
.infosh {margin-top:57px;text-align:center;}
.unchk{background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 0 no-repeat; font-size:28px;letter-spacing:-0.5px;color:#666;padding-left:49px;height:36px;line-height:30px;display:inline-block;cursor:pointer;padding-top:1px;}
.unchk input, .chk input{-webkit-appearance:none;border:0;height:1px;width:1px;position:absolute;margin:-9999em;}
.chk {background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 -60px no-repeat;font-size:28px;letter-spacing:-0.5px;color:#666;padding-left:49px;height:36px;line-height:30px;display:inline-block;cursor:pointer;padding-top:1px;}
.infoagree .laysend {position:absolute;left:30px;bottom:36px;width:480px;height:70px;}
.infoagree .layclose {position:absolute;right:36px;top:20px;width:30px;height:30px;background-image:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/btn_pop_close.png);}


