@charset "utf-8";
.color-red {color:#f00;}

/* 프로모션 템플릿 */
.event_wrap {clear:both; position:relative; min-width:1010px;}
.event_wrap .blind,  .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap a {outline:none;}
.event_wrap .section {width:100%;}
.event_wrap .section:after {content:""; display:table; clear:both;}
.event_wrap .contents {position:relative; margin:0 auto; width:970px; height:100%;}
.event_wrap .contents .btn {cursor:pointer;}
/* 공통 정렬 */
.event_wrap .alcenter {text-align:center;}

.contents h4 {margin-bottom:50px; text-align:center}
.contents .laypop h4, .contents .notice h4 {margin:0;}

/* 상단 비주얼 */
.visual {overflow:hidden;position:relative;height:513px;background:url(//img.enuri.info/images/event/2022/vip/jan/w_visual_bg.jpg) no-repeat;text-align:center}
.visual .inner{width:970px;padding-top:80px;height:433px;margin:0 auto;position:relative;z-index:20}
.visual .inner .txt_01{position:relative;margin:0 auto 0 217px;display:block;height:40px;background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit_sub.png) no-repeat 0 0 ;text-indent:-9999em}
.visual .inner h2{width:550px;height:78px;margin:22px auto 0 224px;position:relative;text-indent:-9999em;}
.visual .inner h2:after{content:"";position:absolute;top:0;left:-6px;width:160px;height:78px;}
.visual .inner h2.tit1 {background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit1.png) no-repeat 0 0;}
.visual .inner h2.tit2 {background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit2.png) no-repeat 0 0;}
.visual .inner h2.tit3 {height:80px;margin-top:21px;background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit3.png) no-repeat 0 0;}
.visual .inner h2.tit1:after{background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit1_cover.png) no-repeat 0 0;}
.visual .inner h2.tit2:after{background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit2_cover.png) no-repeat 0 0;}
.visual .inner h2.tit3:after{height:82px;background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_tit3_cover.png) no-repeat 0 0;}
.visual .inner .txt_02{height:25px;display:block;margin:26px auto 0 217px;background:url(//img.enuri.info/images/event/2022/vip/jan/w_top_txt_sub.png) no-repeat 0 0;text-indent:-9999em;}
.visual .inner .box_wrap {display:block;position:relative;width:406px;height:324px;margin:-82px auto 0;}
.visual .inner .box_wrap span {display:block;position:absolute;left:50%;opacity:0;}
.visual .inner .box_wrap .card1{bottom:-44px;width:406px;height:324px;margin-left:-203px;z-index:10;background:url(//img.enuri.info/images/event/2022/vip/jan/w_obj_box.png) no-repeat 50% 0;}
.visual .inner .box_wrap .card2{bottom:62px;width:400px;height:88px;margin-left:-200px;z-index:9;background:url(//img.enuri.info/images/event/2022/vip/jan/w_obj_box_back.png) no-repeat 50% 0;}
.visual .inner .box_wrap .ruby{left:auto;right:60px;bottom:32px;width:108px;height:68px;z-index:11;background:url(//img.enuri.info/images/event/2022/vip/jan/w_obj_box_front.png) no-repeat 50% 0;}

.obj_flow_01,
.obj_flow_02{position:absolute;top:0;left:50%;height:513px;overflow:hidden;}
.obj_flow_01{z-index:10;width:910px;margin-left:-455px;}/* 앞 */
.obj_flow_02{z-index:9;width:1132px;margin-left:-566px;}/* 뒤 */
.obj_flow_01 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(//img.enuri.info/images/event/2022/vip/jan/w_obj_flow_front.png) no-repeat 50% 0;}
.obj_flow_02 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(//img.enuri.info/images/event/2022/vip/jan/w_obj_flow_back.png) no-repeat 50% 0;}
.flow_obj_01{top:0}
.flow_obj_02{top:-100%}

/* 모션 */
.visual .inner .txt_01{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner .txt_02{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2{transition:.8s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2:after{transition:.3s all ease-in;transform:translateX(6px);opacity:0}
.obj_flow_01,
.obj_flow_02,
.obj_flow_03{transition:2s all ease-in-out;opacity:0}

/* 모션 intro */
.visual.intro .inner .box_wrap .card1{animation:card1_mv .8s linear;animation-delay:2.7s;animation-fill-mode:forwards;}
.visual.intro .inner .box_wrap .card2{animation:card2_mv .5s linear;animation-delay:2.2s;animation-fill-mode:forwards;}
.visual.intro .inner .box_wrap .ruby {animation:ruby_mv .4s ease-in-out;animation-delay:3.5s;animation-fill-mode:forwards;}
@-webkit-keyframes card1_mv {
    0% {opacity:0;transform:scale(0,1)}
    100% {opacity:1;transform:scale(1,1)}
} 
@keyframes card1_mv {
    0% {opacity:0;transform:scale(0,1)}
    100% {opacity:1;transform:scale(1,1)}
} 
@-webkit-keyframes card2_mv {
    0% {opacity:0;bottom:-10px;}
    100% {opacity:1;bottom:62px;}
} 
@keyframes card2_mv {
    0% {opacity:0;bottom:-10px;}
    100% {opacity:1;bottom:62px;}
} 
/* @-webkit-keyframes ruby_mv {
    0% {opacity:0;transform:scale(0,0)}
    100% {opacity:1;transform:scale(1,1)}
}  */
@keyframes ruby_mv {
    0% {opacity:0;transform:scale(0,0)}
    20% {opacity:1;transform:scale(1,1)}
    30% {opacity:1;transform:scale(1.2,1.2)}
    40%,100% {opacity:1;transform:scale(1,1)}    
} 
.visual.intro .inner .txt_01{transform:translateX(0);opacity:1}
.visual.intro .inner .txt_02{transition-delay:1.2s;transform:translateX(0);opacity:1}
.visual.intro .inner h2 {transition-delay:.5s;transform:translateX(0);opacity:1}
.visual.intro .inner h2:after{transition-delay:1.6s;transform:translateX(0);opacity:1}

/* 모션 end */
.visual.end .obj_flow_01,
.visual.end .obj_flow_02{opacity:1}
.visual.end .obj_flow_01 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 12s linear infinite;animation:flowShower 12s linear infinite;}
.visual.end .obj_flow_02 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 50s linear infinite;animation:flowShower 50s linear infinite;}
@-webkit-keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
}
@keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
} 

.visual.intro .loader-box{opacity:0}
.loader-box{display:inline-block;position:relative;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;transform:translateY(-280px)}
.visual-loader:before{content:"";position:absolute;top:0px;left:-25px;height:12px;width:12px;border-radius:12px;-webkit-animation:loader10g 3s ease-in-out infinite;		animation:loader10g 3s ease-in-out infinite;}
.visual-loader{position:relative;width:12px;height:12px;border-radius:12px;-webkit-animation:loader10m 3s ease-in-out infinite;		animation:loader10m 3s ease-in-out infinite;}
.visual-loader:after{content:"";position:absolute;top:0px;left:25px;height:10px;width:10px;border-radius:10px;-webkit-animation:loader10d 3s ease-in-out infinite;		animation:loader10d 3s ease-in-out infinite;}
@-webkit-keyframes loader10g{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,1);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}
@keyframes loader10g{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,1);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}

@-webkit-keyframes loader10m{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,1);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}
@keyframes loader10m{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,1);}
	75%{background-color:rgba(0,0,0,.2);}
	100%{background-color:rgba(0,0,0,.2);}
}

@-webkit-keyframes loader10d{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,1);}
	100%{background-color:rgba(0,0,0,.2);}
}
@keyframes loader10d{
	0%{background-color:rgba(0,0,0,.2);}
	25%{background-color:rgba(0,0,0,.2);}
	50%{background-color:rgba(0,0,0,.2);}
	75%{background-color:rgba(0,0,0,1);}
	100%{background-color:rgba(0,0,0,.2);}
}

/* 플로팅 탭 */
.floattab {width:100%;background-color:#bf860d;}
.floattab.is-fixed {position:fixed;top:0;left:0;z-index:900;height:80px;}
.floattab__list {overflow:hidden;width:100%;height:80px;}
.floattab__list li {float:left;height:100%;}
.floattab__list li .floattab__item {display:block; overflow:hidden; width:100%; height:100%; font-size:0; text-indent:-9999px; /* transition:all .2s ease-in-out;  */background:url(//img.enuri.info/images/event/2022/vip/jan/w_nav.png) no-repeat;}
.floattab__list li .floattab__item.floattab__item--01 {width:222px;background-position:0 0;}
.floattab__list li .floattab__item.floattab__item--02 {width:196px;background-position:-222px 0;}
.floattab__list li .floattab__item.floattab__item--03 {width:168px;background-position:-418px 0;}
.floattab__list li .floattab__item.floattab__item--04 {width:178px;background-position:-586px 0;}
.floattab__list li .floattab__item.floattab__item--05 {width:206px;background-position:-764px 0;}
.floattab__list li .floattab__item.floattab__item--01.is-on {background-position:0 -80px;}
.floattab__list li .floattab__item.floattab__item--02.is-on {background-position:-222px -80px;}
.floattab__list li .floattab__item.floattab__item--03.is-on {background-position:-418px -80px;}
.floattab__list li .floattab__item.floattab__item--04.is-on {background-position:-586px -80px;}
.floattab__list li .floattab__item.floattab__item--05.is-on {background-position:-764px -80px;}
.floattab__list li .floattab__item.floattab__item--01:hover {background-position:0 -80px;}
.floattab__list li .floattab__item.floattab__item--02:hover {background-position:-222px -80px;}
.floattab__list li .floattab__item.floattab__item--03:hover {background-position:-418px -80px;}
.floattab__list li .floattab__item.floattab__item--04:hover {background-position:-586px -80px;}
.floattab__list li .floattab__item.floattab__item--05:hover {background-position:-764px -80px;}


/* 페이지 내 공통 */
.com__evt_notice {display:block;margin:0 auto;text-align:center;}

/* 유의사항 */
.event_info {clear:both;width:470px; margin :0 auto;}
.crownsave .event_info {width:460px;}
.event_info > li {font-size:17px;line-height:26px;color:#777;letter-spacing:-.5px;}
.event_info > li:before {content:"\00B7";margin-right:5px;}
.event_info > li.stress {color:#e52424;}
.event_info > li.stress:before {content:"";display:none;margin-right:0;}
.event_info > li .sub {margin-left:12px;}

/* VIP 맞춤적립 */
.vipsave {overflow:hidden;position:relative; }
.vipsave .vipsave_bg {background: #f7f7f7 url(//img.enuri.info/images/event/2022/vip/jan/w_bg_vip.png) no-repeat center;}
.vipsave .contents {padding: 90px 0 60px;}
.vipsave h2.tit {width:377px;height:146px;margin:0 auto 50px;font-size:0;text-indent:-9999px;background:url(//img.enuri.info/images/event/2022/vip/jan/w_vip_tit.png) no-repeat 0 0;}
.vipsave_detail .sector {position:relative;width:100%;height:290px; margin-bottom:50px;}
.vipsave_detail .sector:after {content:"";display:block;clear:both;}
.vipsave_detail .sector li {float:left; width:475px;height:100%;font-size:0;text-indent:-9999px; box-shadow: 6px 8px 14px 6px rgba(0,0,0,.2);}
.vipsave_detail .sector li.card-lt {background:url(//img.enuri.info/images/event/2022/vip/jan/w_vip_card01.png) no-repeat 0 0; margin-right: 20px;}
.vipsave_detail .sector li.card-rt {background:url(//img.enuri.info/images/event/2022/vip/jan/w_vip_card02.png) no-repeat 0 0;}
.vipsave_detail .txtinfo {margin-bottom:40px;}
.vipsave_detail .txtinfo h3.tit {display:inline-block;position:relative;left:50%;margin-bottom:25px;font-size:36px;color:#000;letter-spacing:-2px;transform:translateX(-50%)}
.vipsave_detail .txtinfo h3.tit strong {font-weight:bold;font-weight:600;}
.vipsave_detail .txtinfo h3.tit:after {content:"";display:inline-block;position:absolute;bottom:-3px;left:0;width:100%;height:5px;background-color:#bf860d;}
.vipsave_detail .txtinfo .txt {font-size:22px;text-align:center;color:#555;line-height:32px;letter-spacing:-.5px;}
.vipsave_detail .txtinfo .txt em {color:#bf860d;}
.vipsave_detail .txtinfo .txt span {display:block; margin-bottom:20px;}
.vipsave_detail .txtinfo .txt span:last-child {margin-bottom:0;}
.vipsave_detail .btn_join {display:block;width:280px;height:99px;margin:0 auto;font-size:0;text-indent:-9999px;background:url(//img.enuri.info/images/event/2021/vip/jan/w_vip_btn.png) no-repeat 0 0;}
.vipsave .vipsave_notice {padding:55px 0 20px; background-color:#ededed;}

/* VIP 맞춤적립 */
.crownsave {overflow:hidden;position:relative;background-color:#fff5e7;}
.crownsave:before {content:"";display:block;position:absolute;top:0;left:50%;width:2580px;height:854px;margin:0 0 0 -1290px;background:url(//img.enuri.info/images/event/2021/vip/jan/w_bg_crown.png) no-repeat 0 0;}
.crownsave .contents {overflow:hidden;}
.crownsave h2.tit {width:416px;height:266px;margin:60px auto 40px;font-size:0;text-indent:-9999px;background:url(//img.enuri.info/images/event/2021/vip/jan/w_crown_tit.png) no-repeat 0 0;}
.crownsave_detail {}
.crownsave_detail .sector {position:relative;width:100%;height:342px;}
.crownsave_detail .sector:after {content:"";display:table;clear:both;}
.crownsave_detail .sector li {position:absolute;width:528px;height:100%;font-size:0;text-indent:-9999px;}
.crownsave_detail .sector li.card-ct {top:0;left:235px;background:url(//img.enuri.info/images/event/2021/vip/jan/w_crown_card01.png) no-repeat 0 0;}

.crownsave_detail .btn_join {display:block;width:280px;height:99px;margin:0 auto 40px;font-size:0;text-indent:-9999px;background:url(//img.enuri.info/images/event/2021/vip/jan/w_vip_btn.png) no-repeat 0 0;}
.crownsave_detail .btn_join.btn_end {background:url(//img.enuri.info/images/event/2021/vip/jan/w_vip_btn_end.png) no-repeat 0 0;cursor:default;}
.crownsave .crownsave_notice {clear:both;background-color:#ffedd5;}


/* 추가적립 */
.unlimite {position:relative; background-color:#e0e0e0;}
.unlimite__img {display:block; position:relative; width:100%; height:820px; margin-bottom:30px; background:url(//img.enuri.info/images/event/2020/vip/jul/pc_addedsave_img.png) no-repeat 50% 0;}
.unlimite .btn_join {bottom:10px;}
.unlimite .event_info {width:510px; margin-bottom:20px;}
.unlimite .event_info .mileage{color:#898989;font-size:18px}

/* 추가적립 인기카테고리 */
.evt-bestcategory {overflow:hidden; background-color:#847155;}
.bestcategory__head {}
.bestcategory__head .tit {padding:44px 0 36px; font-weight:700; font-size:36px; color:#fff; line-height:1; vertical-align:top; text-align:center; letter-spacing:-.5px;}
.bestcategory__cont {clear:both; padding-bottom:30px;}
.bestcategory__cont .catelist {text-align:center;}
.bestcategory__cont .catelist li {display:inline-block; height:54px; margin:0 6px 24px; }
.bestcategory__cont .catelist li .btn_round {display:block; height:54px; padding:0 50px; border:1px solid #f9f9f9; border-radius:27px; -webkit-border-radius:27px; font-size:22px; color:#fff; line-height:51px; vertical-align:middle; -webkit-transition:all .2s ease-out; -ms-transition:all .2s ease-out; transition:all .2s ease-out;}
.bestcategory__cont .catelist li .btn_round:active, 
.bestcategory__cont .catelist li .btn_round:hover {background-color:#fff; color:#292728; -webkit-transition:all .2s ease-out; -ms-transition:all .2s ease-out; transition:all .2s ease-out;} 

/* 띠배너 */
.bnr_wrap {clear:both;position:relative;width:100%;height:270px;background:#f9f2e3;}
.bnr_wrap a {display:block;position:absolute;top:0;left:50%;width:970px;height:100%;margin-left:-485px;font-size:0;text-indent:-9999px;background:url(//img.enuri.info/images/event/2020/vip/dec/w_bnr_bottom_02.png) 50% 0 no-repeat;}


/* 가이드팝업 - 유의사항 : 아래로 떨어지는 형태 */
.notice {width:800px; position:absolute; left:50%; bottom:68px; margin-left:-400px; z-index:500; }
#layerGd2 {top:0; }
#layerGd3 {top:20px; }
.notice h4 {height:69px; text-align:center;font-size:32px; font-weight:normal;  line-height:66px;  color:#fff; background-color:#ff1b2d;}
.notice .layer_open {display:none;  position:absolute; left:0; width:100%; border:1px solid #ff1b2d; border-top:0; background:#fff; z-index:50;}
.notice .layer_open .inner {padding:34px 50px 85px 50px;}
.notice .layer_open dl {margin-bottom:26px; font-size:15px;color:#333;}
.notice .layer_open dt {line-height:20px; padding-bottom:3px; font-weight:bold;}
.notice .layer_open dd {margin-left:2px; line-height:1.4; padding:2px 0 2px 11px; background:url(//img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.notice .layer_open dd ul li {padding-top: 1px;}
.notice .layer_open .stress {color:#ff2424;}
.notice .laysubmit {position:absolute; left:299px; bottom:28px; width:200px; height:60px; background-image:url(//img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.notice .layclose {position:absolute; right:28px; top:18px; width:31px; height:31px; background-image:url(//img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.notice .tb {width:100%; margin:15px 0;}
.notice .tb table {border-left:1px solid #333; border-top:1px solid #333;}
.notice .tb table th, .notice .tb table td {text-align:center; padding:3px 20px; font-size:13px; border-right:1px solid #333; border-bottom:1px solid #333; }
.notice .tb table th {background:#f0f0f0;}
.notice .tb table td.savepr {width:100px; text-align:right;}


/* edeal 슬라이더 */
.edeal {padding:90px 0 80px; border-top:1px solid #d8d8d8;}
.edeal .deal_sm {height:270px; margin-top:43px; padding:0 38px; }
.edeal .slick-list {overflow:hidden;}
.edeal .item {position:relative; height:270px; margin:0 10px;}
.edeal .deal_sm .item img{display: block; width:200px;  height:198px;}
.edeal .deal_sm button{z-index:10; border:none;}
.edeal .deal_sm .slick-prev{ text-indent:-9999em; background: url(//img.enuri.info/images/event/2016/template/arrowtip.png) no-repeat left top; width:31px; height:48px;  position:absolute; top:72px; left:0; }
.edeal .deal_sm .slick-prev:hover {background-position:left -48px !important;}
.edeal .deal_sm .slick-next{ text-indent:-9999em; background: url(//img.enuri.info/images/event/2016/template/arrowtip.png) no-repeat right top ; width:31px; height:48px;  position:absolute; top:72px; right:0; }
.edeal .deal_sm .slick-next:hover {background-position:right -48px !important;}
.edeal .owl-pagination {display:none;}
.edeal .deal_sm .item .soldout{color:#ffffff; line-height:54px; font-size:26px; font-weight:bold; position:absolute; left:27px; top:78px; background:url(//img.enuri.info/images/event/2016/enurideal/dim_red.png) repeat; padding:0 14px; border-radius:7px;}
.edeal .deal_sm .soon{letter-spacing:-1px; color:#ffffff; line-height:54px; font-size:22px; font-weight:bold; position:absolute; left:13px; top:73px;  background:url(//img.enuri.info/images/event/2016/enurideal/dim_gray.png) repeat; padding:0 10px; border-radius:7px;}
.edeal .deal_sm em{display:block; text-align:center; font-family:Malgun Gothic; color:#171717; letter-spacing:-0.05em; }
.edeal .deal_sm .pc{font-size:21px;  margin-top:5px; }
.edeal .deal_sm .pr{font-size:23px; font-weight:bold; line-height:1.1}

/* 생활혜택 */
.epresd {padding:0 0 65px; background-color:#f4f4f4;}
/* .bene_zone {width:966px; margin:0 auto; padding-bottom:37px;  position:relative;}
.emy_exp{width:797px; margin:0 auto; background:none;}
.emy_exp li:focus {outline: 0;}
.emy_exp li.view {position:relative;}
.emy_exp li.view a {position:absolute; bottom:18px; right:124px; width:255px; height:53px; display:inline-block; }
.emy_exp li img {display:block; }
.emy_exp button{ text-indent:-9999em; background: url(//img.enuri.info/images/event/2017/template/slidepc_arrow.png) no-repeat 0px 0px; width:28px; height:52px;  position:absolute; top:141px;  z-index:10; border:none;}
.emy_exp .slick-prev {left:-85px;}
.emy_exp .slick-prev:hover {background-position:0 -78px;}
.emy_exp .slick-next {right:-85px; background-position:-63px 0;}
.emy_exp .slick-next:hover {background-position:-63px -78px;} */

.storezone {width:960px; padding:30px 0 40px; background-color:#fff; border:1px solid #c1c6cd;}
.storezone ul {margin-top:27px; overflow:hidden}
.storezone ul li {float:left; width:137px; margin-right:27px; padding-left:28px; background: url(//img.enuri.info/images/event/2017/template/bul_dotline.gif) left center no-repeat;}
.storezone ul li:first-child {background:0;}
.storezone ul li img {display:block; width:137px; height:138px;}


/*딤레이어 공통 */
.pop-layer  {display:none; position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100000;}
.popupLayer {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10000; -ms-filter: alpha(opacity=60); filter: alpha(opacity=60); opacity:0.6; -moz-opacity:0.6;}
.popupLayer .dim {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:10100;}
.popup_box {position:absolute; left:50%; top:50%; overflow:hidden; z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top; margin:0; padding:0;}
.popup_box h4 {height:69px; text-align:center; font-family:Malgun Gothic;font-size:22px; font-weight:normal; line-height:66px;  color:#fff;letter-spacing:-0.75px; background-color:#0182ea;}
.popup_box .layclose {position:absolute; right:25px; top:25px; width:19px; height:19px; background-image:url(//img.enuri.info/images/event/2016/shopping_benefits/btn_lay_close.png);}

/* 딤레이어 : 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;  height:283px; margin-left:-205px; margin-top:-142px; border:1px solid #0182ea; border-top:0; background:#fff;}
.onlyapp .inner {width:377px; padding:22px 16px 0; line-height:1.5; font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center; line-height:1.2; padding-bottom:25px; font-size:18px; color:#393939; letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-weight:bold; font-size:14px; color:#2366aa;  letter-spacing:-0.5px; margin:0 0 5px 1px; padding-left:10px; background:url(//img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px; padding:0 20px; text-align:left; font-family:Malgun Gothic; font-size:16px; color:#bfbfbf;  letter-spacing:-0.5px;height:40px; line-height:36px; background:0; border:1px solid #0182ea; border-right:0;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px; color:#7f7f7f; letter-spacing:-0.5px; margin-left:2px; padding-left:6px; background:url(//img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute; right:0; top:0px; width:123px; height:42px; background-image:url(//img.enuri.info/images/event/2016/template/btn_lay_send2.gif);}

/* 사전고지 팝업 */
.lay_dim_noti{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1002}
.lay_dim_noti .lay_inner{position:absolute;top:50%;left:50%;margin-left:-260px;width:520px;transform:translateY(-50%);padding:48px 0;line-height:26px;text-align:center;font-size:18px;color:#0d0d0d;letter-spacing:-1px;background-color:#fff;z-index:1}
.lay_dim_noti .btn__evt_close{position: absolute;right:0;top:-40px}
.lay_dim_noti .dimmed{position: absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.8);}

/* sms 주소로 받기 */
.smsaddress {padding:90px 0 95px;background:#e7e7e7;}
.smsaddress h4 {margin-bottom:23px;}
.smsaddress .method {margin-bottom:100px;text-align:center;line-height:25px;font-size:18px;color:#2c2c2c;letter-spacing:-0.5px}

.smsaddress *:before, .smsaddress *:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
label, form, input, button, textarea, fieldset {/*vertical-align:text-top;*/font-family:inherit;font-size:inherit;}
.clean, .makeawish-input {-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;background-color:transparent;outline:none;padding:0;margin:0;border:0;float:none;}
#makeawish-form {-webkit-perspective:200px;-moz-perspective:200px;-ms-perspective:200px;-o-perspective:200px;perspective:200px;-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;max-width:470px;height:55px;margin:0 auto;font-family:Malgun Gothic;text-align:center;}
#makeawish-form::after {display:block;content:"";clear:both;}
#makeawish-form .side {-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-o-backface-visibility:hidden;backface-visibility:hidden;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-ms-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;position:absolute;min-width:470px;height:55px;}
#makeawish-form .side-a {-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-ms-transform:rotateX(0deg);-o-transform:rotateX(0deg);transform:rotateX(0deg);z-index:3;}
#makeawish-form .side-b {-webkit-transform:rotateX(-180deg);-moz-transform:rotateX(-180deg);-ms-transform:rotateX(-180deg);-o-transform:rotateX(-180deg);transform:rotateX(-180deg);z-index:2;}
#makeawish-form.step-b .side-a {-webkit-transform:rotateX(180deg);-moz-transform:rotateX(180deg);-ms-transform:rotateX(180deg);-o-transform:rotateX(180deg);transform:rotateX(180deg);z-index:2;}
#makeawish-form.step-b .side-b {-webkit-transform:rotateX(0deg);-moz-transform:rotateX(0deg);-ms-transform:rotateX(0deg);-o-transform:rotateX(0deg);transform:rotateX(0deg);z-index:3;}
.form-alert {position:absolute;top:0;left:0;bottom:0;right:0;line-height:55px;vertical-align:middle;color:#fff;cursor:pointer;display:none;font-size:15px;}
.form-alert.alert-error {background:#fc3434;}
.form-alert.alert-success {background:#1f76ed;}
.makeawish-input {margin:0;height:52px;float:left;}
.makeawish-input-text {background-color:white;font-size:16px;color:#585858;padding:2px 20px 0;width:65%;border-radius:2px 0 0 2px;}
.makeawish-btn {background-color:#222222;border-radius:0 2px 2px 0;font-size:19px;color:white;padding:2px 0 0;width:25%;line-height:48px;}


/* 임시 알림 팝업 */
.temp_popup {position:absolute;top:0;left:0;width: 100%;height:100%;background-color: rgba(0,0,0,.6);z-index: 10;}
.temp_popup .pop_inner_box {position: absolute;top: 50%;left: 50%;width: 800px;margin-top: -200px;margin-left: -400px;padding: 40px 0;text-align: center;background-color: #fff;-webkit-border-radius: 10px;border-radius: 10px;}
.temp_popup .pop_inner_content {font-size: 14px;}
.temp_popup .pop_inner_content h3 {font-size: 20px; margin:0 0 25px;}
.temp_popup .pop_inner_content ul {width:80%; margin:10px auto; border:1px solid #e0e0e0; background-color: #f0f0f0; border-radius: 4px; padding:10px; }
.temp_popup .btn_close_temp_popup {width: 180px;padding: 10px 0;margin: 30px auto 0;font-size: 18px;text-align: center;color: #fff;background-color: #333;-webkit-border-radius: 4px;border-radius: 4px;}

