@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {margin:0;padding:0;}
html {}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
h1,h2,h3,h4,h5 {font-size:100%;}
a:link, a:hover, a:active, a:visited, a:focus {color:#4c5363;text-decoration:none;outline:none;-webkit-tap-highlight-color:transparent;}
ul, ol, li {list-style:none;}
table {width:100%;border-collapse:collapse; word-break: break-all;}
colgroup {background:none;}
input, select, textarea, label, button {vertical-align:middle;font-size:14px; font: 'malgun gothic',Helvetica,sans-serif;}
button {outline:none;-webkit-tap-highlight-color:transparent;cursor:pointer;}
fieldset, img {border:0;}
img {vertical-align:top;}
td img {vertical-align:middle;}
legend, caption {visibility:hidden;width:0;font-size:0;line-height:0;text-indent:-5000px;}
address, em {font-style:normal;}
hr {display:none;}
.hide {visibility:hidden;position:absolute;font-size:0;line-height:0;}
input, textarea{outline-style:none;}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
body, #main {background: #e5e5e5 !important;}
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */

/*로그인*/
.pageHead {position:relative;height:37px;background:#0072bc;text-align:center; border-bottom:1px solid #041e49}
.pageHead h1 {padding:10px 0 0;color:#fff;font-size:15px;}
.pageHead .back {position:absolute;top:0;right:0;display:block;width:27px;height:33px;overflow:hidden;text-indent:-99999px;}
.pageHead .back:after {content:"";display:block;width:18px; height:18px; background:url(http://img.enuri.info/images/event/2016/new/btn_bnr_close.png) 0 0 no-repeat; background-size:17px; float:left;margin:10px 7px 0 0; }
#container {position:relative;min-height:200px;}
.loginField {margin:-6px 0 0;}
.loginField .inputBox {margin:6px 0 0;}
.boxField {padding:9px;}
.boxField .btnWrap {margin:15px 0 0;}
.inputBox {position:relative;margin:-1px 0 0;padding:6px 12px;background:#fff;border:1px solid #d7d7d7;}
.inputBox:first-child {margin:0;}
.inputBox label {position:absolute;top:12px;left:12px;color:#a5a9b1;font-size:13px;}
.inputBox .txt {width:100%;border:0;padding:0;height:30px;font-size:13px;line-height:30px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.inputBox .inBtn {display:block;padding-right:94px;}
.inputBox .btnBox {position:absolute;top:6px;right:6px;}
.inputBox .alerTxt {margin:0;}
input[type='checkbox'] {width: 18px; height: 18px; border: 0; background: url(http://img.enuri.info/images/mobilefirst/bg_form.png) no-repeat 0 0; background-size: 100px;}
input[type='checkbox']:checked {background-position: 0 -18px;}
.btnType3 {display:block;height:42px;background:#0072bc;border:1px solid #dfdfdf;border-radius:3px;color:#fff !important;text-align:center;font-size:15px;line-height:42px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}

.utilSection {margin:10px 0 0;font-size:13px;text-align:right; color:#999999; }
.utilSection a{color:#999999; font-size:11px;}
.utilSection:after {content:"";display:block;clear:both;}
.utilSection label {font-size:11px;}
.utilSection .left {float:left;}
.utilSection .link {display:inline-block;margin:2px 0 0;}
.utilSection .link:after {display:inline-block;content:"";width:6px;height:11px;margin:0 0 0 2px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -100px -75px;background-size:250px;vertical-align:-1px;}
.lineBox {margin:10px 0 0px;border-top:1px solid #d7d7d7; color:#999999; font-size:11px; }
.lineBox:before {content:"";display:block;margin:0 0 15px;border-top:1px solid #fff;}
.lineBox p{text-align:center; padding-top:10px}

.agree_chk{margin:15px 0 37px 0}
.joinm {padding: 11px 12px; font-size:13px;text-align:right; background: #ffffff; border: 1px solid #d7d7d7; margin-top:-1px}
.joinm:after {content:"";display:block;clear:both;}
.joinm label {font-size:13px; color:#b1b1b1;}
.joinm .left {float:left;}
.joinm .link {display:inline-block;margin:2px 0 0;}
.joinm .link:after {display:inline-block;content:"";width:6px;height:11px;margin:0 0 0 2px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -100px -75px;background-size:250px;vertical-align:-1px;}



#container {position:relative;}
#memberWrap fieldset{padding: 9px 15px;}
.titField {margin:0 0 6px;}
.titField h1 {padding:9px 12px;background:#f3f4f5;border:1px solid #d7d7d7;}
.titField .findTxt {padding:50px 0;background:#fff;border:1px solid #d7d7d7;border-top:0;font-size:15px;text-align:center;}
.titField .findTxt strong {color:#0081e5;font-weight:normal;}
.btnTxt {height:30px;color:#4c5363;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;font-size:13px;}
.alerTxt {margin:6px 0 0;color:#ff0000;font-size:11px;}

.agreeWrap {position:absolute;top:0;right:0;width:100%;height:100%;}
.agreeWrap .agreeSection {position:relative;}
.agreeWrap .container {padding:6px;}
.agreeWrap .btnClose{position:absolute;top:0px;right:0px;width:42px;height:42px;border:0;background:url(http://img.enuri.info/images/mobilenew/images/btn_layer_close.png) no-repeat 15px 11px;background-size:15px;text-indent:-99999px;}
.agreeBox {padding:15px;background:#fff;border:1px solid #d7d7d7;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; font-size:13px; font-family:dotum; color:#4c5363;}
.agreeBox h2 {margin:20px 0 5px;}
.agreeBox h2:first-child {margin-top:0;}
.agreeBox li ul {margin:0 0 0 12px;}

.adult {margin:-6px -6px 0;padding:35px 20px 15px;background:#fff;border-bottom:1px solid #dedede;}
.adult:before {content:"";display:block;width:75px;height:75px;margin:0 auto 30px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -175px -300px;background-size:250px;}
.adult .txt1 {margin:0 0 20px;color:#7f7f7f;font-size:20px; text-align:center;}
.adult p {margin:10px 0 0;color:#b3b3b3; font-size:12px; }

.adultSection .btnWrap2 {margin:15px 0 0;text-align:center}
.adultSection .btnWrap2 .btnTxt {display:inline-block;width:140px;height:40px;margin:0 1px;line-height:40px;}

h2.ci{height:107px; background:url(http://img.enuri.info/images/mobilefirst/logo_enuri.png) no-repeat center 30px; background-size:154px 50px; text-indent:-9999em;}
.btnjoin{margin-top:5px; display:block;height:42px;background:#ffffff; border-radius:3px;color:#0190ff !important;text-align:center;font-size:15px;line-height:42px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-shadow: 0px 1px 3px #bebebe;}
.btnjoin02{margin-top:5px; display:block;height:42px;background:#ffffff; border-radius:3px;color:#da0101!important;text-align:center;font-size:15px;line-height:42px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-shadow: 0px 1px 3px #bebebe;}

/*하단여백*/
.powerLink{margin-top:10px;}
#container{margin-bottom:10px;}

/* 백화점 */
.mobiledepart .pageHead{background:#4b4641; }
.mobiledepart .pageHead h1{background:#4b4641; }
.mobiledepart .btnType3{background:#4b4641;}
.mobiledepart .joinTxt{color:#4b4641}
.mobiledepart .joinTxt a{color:#4b4641}


/* 소셜모아 */
.mobiledeal .pageHead{background:#da0101; }
.mobiledeal .pageHead h1{background:#da0101; }
.mobiledeal .btnType3{background:#da0101;}
.mobiledeal .joinTxt{color:#da0101}
.mobiledeal .joinTxt a{color:#da0101}


/* 이벤트 관련 배너 */
.top_Bnr{background:#ffc300; background:url(http://img.enuri.info/images/event/2015/app_install/top_bnr_bg.gif) center 0 #ff4c59; background-size:6px 46px; height:46px; position:relative; text-indent:-9999em;}
.top_Bnr span{width:320px; height:46px; margin:0 auto; }
.top_Bnr span a{display:block; height:46px; background:url(http://img.enuri.info/images/event/2015/app_install/top_bnr.gif) center 0 no-repeat; background-size:320px 46px; }
.top_Bnr .close{width:35px; height:46px; background:url(http://img.enuri.info/images/event/2015/app_install/btn_bnr_close.gif) 13px 15px no-repeat; background-size:11px; position:absolute; right:0; top:0;}

.dim{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index: 101;}
.eventLayer{background:url(http://img.enuri.info/images/event/2015/app_install/web_bnr.jpg) 0 0 no-repeat; background-size:300px 360px; z-index:100;width:300px; height:360px; margin: -180px 0px auto -150px; position:absolute; left:50%; top:50%; position:absolute; }
.eventLayer a.go_event{width:300px; height:360px; display:block; text-indent:-9999em;}
.eventLayer a.btn_today{position:absolute; left:0px; bottom:0px; width:209px; height:35px; text-indent:-9999em; }
.eventLayer a.btn_close{position:absolute; right:0px; bottom:0px; width:90px; height:35px; text-indent:-9999em; }
.eventLayer li a{display:block; width:100%; height:162px; text-indent:-9999em; }

.evtBnr_second{height:46px; position:relative; text-indent:-9999em;}
.evtBnr_second span{width:320px; height:46px; margin:0 auto; }
.evtBnr_second span a{display:block; height:46px; background:url(http://img.enuri.info/images/event/2015/butterfly/top_bnr02.png) center 0 no-repeat; background-size:320px 46px; }
.evtBnr_second .close{width:35px; height:46px; background:url(http://img.enuri.info/images/event/2015/marketing/btn_bnr_close.png) 13px 15px no-repeat; background-size:11px; position:absolute; right:0; top:0;}

.giftArea{background:#ef6872; height:46px; position:relative; text-indent:-9999em;}
.giftArea span{width:320px; height:46px; margin:0 auto; }
.giftArea span a{display:block; height:46px; background:url(http://img.enuri.info/images/event/2015/marketing/gift_top_banner.png) center 0 no-repeat; background-size:320px 46px; }
.giftArea .close{width:35px; height:46px; background:url(http://img.enuri.info/images/event/2015/marketing/btn_bnr_close.png) 13px 15px no-repeat; background-size:11px; position:absolute; right:0; top:0;}

/* vip 배너 */
.event_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background:url(http://img.enuri.info/images/event/2015/install/bnr_vip_new.png) center 0 no-repeat; background-size:100px; text-indent:-9999em; z-index:100;}
.event_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.event_bnr a.btnclose{position:absolute; right:0; top:0; width:24px; height:24px;}

.buy_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background:url(http://img.enuri.info/images/event/2016/new/bnr_vip_buy.png) center 0 no-repeat; background-size:100px; text-indent:-9999em; z-index:100;}
.buy_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.buy_bnr a.btnclose{position:absolute; right:0; bottom:0; width:24px; height:24px;}

.cash_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background:url(http://img.enuri.info/images/event/2016/attend_august/vip_dd.png) center 0 no-repeat; background-size:100px; text-indent:-9999em; z-index:100;}
.cash_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.cash_bnr a.btnclose{position:absolute; right:0; top:0; width:24px; height:24px;}

.friend_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background:url(http://img.enuri.info/images/event/2016/friend/vip_bnr.png) center 0 no-repeat; background-size:100px; text-indent:-9999em; z-index:100;}
.friend_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.friend_bnr a.btnclose{position:absolute; right:0; top:0; width:24px; height:24px;}

.summer_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background:url(http://img.enuri.info/images/event/2016/attend_july/summer_vip.png) center 0 no-repeat; background-size:100px; text-indent:-9999em; z-index:100;}
.summer_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.summer_bnr a.btnclose{position:absolute; right:2px; top:2px; width:24px; height:24px;}

.first_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background:url(http://img.enuri.info/images/event/2016/buy_king/first_vip_dd.png) center 0 no-repeat; background-size:100px; text-indent:-9999em; z-index:100;}
.first_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.first_bnr a.btnclose{position:absolute; right:2px;bottom:2px; width:24px; height:24px;}

.vip_bnr{position:absolute; right:20px; top:10px; width:100px; height:100px; background-size:100px; text-indent:-9999em; z-index:100;}
.vip_bnr a.evtgo{position:absolute; left:0; top:0; width:100px; height:96px;}
.vip_bnr a.btnclose{position:absolute; right:2px;bottom:2px; width:24px; height:24px;}


/* 앱다운로드 */ 
.appArea{width:100%; background:#ffeeee; position:relative; z-index:1}
.app_down{width:320px; margin:0 auto; position:relative; background:url(http://img.enuri.info/images/mobilenew/images/img_appdown.gif) 10px top no-repeat ; background-size:266px 46px; height:46px; text-indent:-9999em; }
.app_down a.app_go{width:104px; height:29px; position:absolute; left:163px; top:9px; }
.appArea a.app_close{z-index:10; text-indent:-9999em; width:28px; height:29px; position:absolute;right:10px; top:9px; background:url(http://img.enuri.info/images/mobilenew/images/close_appdown.gif) left top no-repeat ; background-size:28px 29px; }
.appdown_layer{text-indent:-9999em; width:304px; height:240px; margin: -120px 0px auto -152px; position:absolute; left:50%; top:50%; background:#f4f4f4; position:absolute; z-index:1000 }
.appdown_layer a{background:url(http://img.enuri.info/images/mobilenew/images/img_appdown02.gif) 0 0 no-repeat; background-size:304px 240px; position:absolute; }
.appdown_layer a.go_down{width:304px; height:204px; display:block; }
.appdown_layer a.btn_today{width:131px; height:31px; background-position:-42px -206px; left:42px; top:206px;}
.appdown_layer a.btn_close{width:81px; height:31px; background-position:-179px -206px; left:179px; top:206px;}


/* 앱종료 */ 
.appendLayer{width:250px; height:400px; position:absolute; left:50%; top:50%; margin: -200px 0px auto -125px; background:#ffffff; }
.appendLayer img{250px; height:325px; }
.appendLayer p{font-size:14px; color:#333333; height:24px; padding-top:10px; text-align:center; font-weight:bold; }
.appendLayer ul{width:230px; margin:0 auto; }
.appendLayer ul li{width:113px; float:left; background:#0072bc; }
.appendLayer ul li:first-child{border-radius:5px 0 0 5px; border:1px solid #358fca; border-bottom: 1px solid #005185; border-right:1px solid #005b96; }
.appendLayer ul li:last-child{border-radius:0 5px 5px 0; border:1px solid #358fca; border-right:1px solid #005a95; border-bottom: 1px solid #005185; }
.appendLayer ul li a{display:block; line-height:31px; text-align:center; font-size:13px; font-weight:bold; color:#ffffff }
.appendLayer.adnon{height:110px; margin:-55px 0 auto -125px; }
.appendLayer.adnon p{line-height:68px; height:68px; padding-top:0;}


/* 20150605 바탕화면 바로가기 */
.wallpaperLayer{position:fixed; left:50%; bottom:25px; width:250px; height:120px; margin: 0px 0px auto -125px; background:#ffffff; z-index:400;}
.wallpaperLayer .goevent {position:relative; background:url(http://img.enuri.info/images/mobilefirst/bg_wallpaper.png) 0 0 no-repeat; background-size:250px 93px; width:250px; height:93px; display:block; text-indent:-9999em;}
.wallpaperLayer .goevent a {position:absolute; bottom:12px; left:38px; width:174px; height:30px;}
.wallpaperLayer .bottom_bt {width:100%; }
.wallpaperLayer .bottom_bt:after {content:""; display:block; clear:both}
.wallpaperLayer a {float:left; display:inline-block; text-indent:-9999em; margin:0; padding:0}
.wallpaperLayer a.btn_today{width:157px; height:28px; background:url(http://img.enuri.info/images/mobilefirst/btn_today.png) 0 0 no-repeat; background-size:157px 28px; }
.wallpaperLayer a.btn_close{width:93px; height:28px; background:url(http://img.enuri.info/images/mobilefirst/btn_close.png) 0 0 no-repeat; background-size:93px 28px;}


/* 150702 옥션배너 */
.aution_bnr{margin:10px 0 25px 0; background:url(http://img.enuri.info/images/mobilefirst/bg_auction.gif) 0 0; background-size:2px 75px; text-align:center; }
.aution_bnr a{display:block;}
.aution_bnr img{width:320px; height:75px; }


/* 150708 라면이벤트 교환번호 */
.appevt{z-index:100;width:305px; height:300px; margin: -150px 0px auto -153px; position:absolute; left:50%; top:50%; background:url(http://img.enuri.info/images/event/2015/quiz/evt_number.png) 0 0 no-repeat; background-size:305px 530px; }
.win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://img.enuri.info/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }
.number_in{text-align:center; width:100%; display:block; position:absolute; left:0; top:150px;}
.number_in input{border:2px solid #d2d2d2; width:245px; height:29px; margin:0 3px; text-align:center; }
.appevt_ok{width:150px; height:28px; position:absolute; left:78px; top:247px; text-indent:-9999em;}
.congrats{z-index:100;width:250px; height:225px; margin: -113px 0px auto -125px; position:absolute; left:50%; top:50%; background:url(http://img.enuri.info/images/event/2015/quiz/evt_number.png) 0 -304px no-repeat; background-size:305px 530px; }
.congrats_ok{width:150px; height:28px; position:absolute; left:50px; top:174px; text-indent:-9999em;}


.miniPop{position: fixed; bottom:8px; left: 0; width: 100%; height: 60px; z-index: 10000;}
.main_mini{position: absolute; top: 0; width: 100%; padding: 0 53px 0 0px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; z-index: 1000;}
.main_mini a{width:100%; background:url(http://img.enuri.info/images/event/2015/app_install/mini_layer.png) center 0 no-repeat #ff4c59; background-size:250px 60px; text-indent:-9999em; height:60px; display:block;}


/* 150812 휴면계정 */
.restLayer{width:288px; height:380px; margin: -190px 0px auto -144px; position:absolute; left:50%; top:50%; background:#ffffff; border:1px solid #d1d0d5; letter-spacing:-1px;}
.restLayer .btn_close{position:absolute; right:10px; top:10px; width:22px; height:22px; background:url(http://img.enuri.info/images/mobilefirst/ico_rest.gif) left bottom no-repeat; background-size:54px 118px; text-indent:-9999em;}
.restLayer h2{margin-bottom:20px; font-size:25px; font-weight:bold; color:#444444; line-height:35px; padding:30px 0 0 80px; background:url(http://img.enuri.info/images/mobilefirst/ico_rest.gif) 15px 28px no-repeat; background-size:54px 118px;}
.restLayer h2 span{color:#0072bc; }
.restLayer .txt{color:#8e8e8e; line-height:20px; padding-left:14px; }
.restLayer .txt span{color:#0072bc; }
.restLayer .txt span.id{text-decoration:underline; letter-spacing:0; }
.restLayer .btnarea{background:#f8f8f8; text-align:center; height:90px; padding-top:14px; color:#787878; font-weight:bold; font-size:15px; margin:22px 0;}
.restLayer .btnarea p{line-height:20px; font-size:13px}
.restLayer .btnarea button{width:205px; height:42px; border:none;  border-radius:3px; font-weight:bold; color:#ffffff; font-size:16px; margin-top:12px;
background: -moz-linear-gradient(top, #0072bb 0%, #006bb0 50%, #0065a6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0072bb), color-stop(50%,#006bb0), color-stop(100%,#0065a6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #0072bb 0%,#006bb0 50%,#0065a6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #0072bb 0%,#006bb0 50%,#0065a6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #0072bb 0%,#006bb0 50%,#0065a6 100%); /* IE10+ */
background: linear-gradient(to bottom, #0072bb 0%,#006bb0 50%,#0065a6 100%); /* W3C */}
.restLayer .txt02{font-size:12px; color:#787878; font-weight:bold; padding-left:20px; position:relative;  line-height:18px}
.restLayer .txt02 span{position:absolute; left:8px; top:0;}

.txt_idpw{font-size:12px; color:#787878; padding-left:22px; position:relative; letter-spacing:0; line-height:18px; margin-top:-5px}
.txt_idpw span{position:absolute; left:10px; top:0;}

#memberWrap fieldset.rest ul{margin-bottom:18px;}
#memberWrap fieldset.rest li{margin:-1px 0 0 0; padding:0;}
#memberWrap fieldset.rest input{border:1px solid #d1d0d5; width:100%; text-indent:10px; padding:10px 0; margin-bottom:7px;}
#memberWrap fieldset.rest input:focus {outline:none;border:1px solid #0072bc;}
#memberWrap fieldset.rest li:first-child input:focus{border:none; border:1px solid #d1d0d5; }

#memberWrap fieldset.rest .rest_txt{font-size:14px; color:#787878; text-align:center; padding:10px 0 19px 0;}


/* paging */
.paging{text-align:center; margin:5px 0; background:#ffffff; padding:5px 0}
.paging li{display:inline-block; margin:0 2px; position:relative; width:30px }
.paging li a{width:30px; height:30px; line-height:30px; color:#d7d7d7; text-align:center; display:block; font-size:15px; font-family:tahoma;}
.paging li a.btn{position:absolute; text-indent:-9999em; background: url(http://img.enuri.info/images/mobilefirst/ico_paging.png) 0 0 no-repeat; background-size:38px; }
.paging li a.btn.prev{background-position:-20px 10px; left:-12px; top:-21px;}
.paging li a.btn.prev.none{background-position:12px 10px; }
.paging li a.btn.next{background-position:-20px -17px; right:-12px; top:-21px;}
.paging li a.btn.next.none{background-position:12px -17px; }
.paging li a.selected{cursor:default; color:#444444}

/*기획전_탑배너*/
.plan_bnr{width:100%; height:46px; background: url(http://img.enuri.info/images/event/2016/school/plan_bnr.png) top center no-repeat #ecf7fd; background-size:320px 46px; text-indent:-9999em; }
.plan_bnr a{display:block; height:46px;}

.home_plan_bnr{width:100%; height:46px; background: url(http://img.enuri.info/images/event/2016/home/plan_bnr.gif) top center no-repeat #c7e5b3; background-size:320px 46px; text-indent:-9999em; }
.home_plan_bnr a{display:block; height:46px;}

.wd_plan_bnr{width:100%; height:46px; background: url(http://img.enuri.info/images/event/2016/wedding/top_bnr_wedding.jpg) top center no-repeat #fec1c8; background-size:320px 46px; text-indent:-9999em; }
.wd_plan_bnr a{display:block; height:46px;}

.summer_plan_bnr{width:100%; height:46px; background: url(http://img.enuri.info/images/event/2016/m_common/summer_plan_bnr.png) top center no-repeat #0057b4; background-size:320px 46px; text-indent:-9999em; }
.summer_plan_bnr a{display:block; height:46px;}

.rule_selectype {
    display: inline-block;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
	width:100%;
}
.rule_selectype select {
    width: 100%;
    height: 26px;
    padding: 0 10px;
    background: url(http://img.enuri.info/images/mobilefirst/bg_select1.gif) #fff no-repeat 100% 0;
    border: 0;
    background-size: 27px;
    font-size: 12px;
}


/* 160314 개인정보 */
.tb_box{font-size:12px; margin-top:5px}
.tb_box th{border:1px solid #e3e3e3; background:#f7f4f4; padding:3px;}
.tb_box td{border:1px solid #e3e3e3; padding:3px;}


/*160418 친구추천*/
.recom{background:#133c7e; border-radius:16px; display:block; text-align:center; padding:6px 0; margin-top:10px; color:#fdf457; box-shadow: inset  0px 4px 3px #0e2c5c; font-size:13px;}
.recom em{color:#ffffff; padding-right:5px;}
.agreeWrap  .recom{margin-bottom:-15px;}

.friendLayer{margin: -90px 0px auto -150px; position:absolute; left:50%; top:50%; position:absolute; width:300px; }
.friendLayer h3{font-size:15px;font-weight:normal; width:300px; height:27px; padding-top:28px; background:url(http://img.enuri.info/images/event/2016/friend/login_tit.png) 0 0 no-repeat; background-size:300px 55px; text-align:center; position:relative; color:#181818;}
.friendLayer h3 em{color:#ffffff; font-weight:bold; }
.friendLayer h3 .lyclose{position:absolute; right:0; bottom:0; width:40px; height:35px; text-indent:-9999em; }
.friendLayer .boxarea{background:#ffffff; border:1px solid #133c7e; border-top:none; padding-bottom:16px; text-align:center; font-size:18px; border-radius:0px 0px 6px 6px;}
.friendLayer .boxarea p{padding:10px 0 15px 0}
.friendLayer .boxarea p em{color:#ff2424; font-weight:bold; }
.friendLayer .boxarea button{background:#000; border-radius:6px; color:#ffffff; padding:15px; border:none; font-size:18px; font-weight:bold; }

.friendtxt{text-align:center; font-size:11px; color:#ff7070; padding-top:10px;}

/*개인정보레이어*/
.privacy_layer{font-family:malgun gothic; width:310px; position:absolute; height:320px; top:50%; left:50%; margin:-160px auto 0 -155px; color:#333333; }
.privacy_layer h4{background:#0072bb; line-height:36px; color:#ffffff; text-indent:10px; font-weight:normal; font-size:15px; letter-spacing:-1px;}
.privacy_layer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; border:0; background: url(http://img.enuri.info/images/mobilefirst/icon_pack_vip.png) no-repeat -65px -80px; background-size: 250px; text-indent: -99999px;}
.privacy_layer .pr_layercon{background:#fafbfc; padding:10px; }
.privacy_layer .pr_layercon .update{font-size:11px; display:block; padding-bottom:5px; }
.privacy_layer .pr_layercon .box{background:#ffffff; border-radius:5px; border:1px solid #edf1f5; padding:10px 8px; letter-spacing:-1px; line-height:17px; }
.privacy_layer .pr_layercon .btncnt{text-align:center; padding:18px 0 10px 0;}
.privacy_layer .pr_layercon .btncnt a{width:143px; height:38px; line-height:38px;  background:#ffffff; color:#333333; border:1px solid #ced2d7; border-radius:3px; display:inline-block; font-size:15px; letter-spacing:-1px; }
.pvlayer_go{display:block; cursor:pointer; }



/*사과공지 레이어*/
.apologyLayer{width:300px; padding-bottom:15px; background:#ffffff; border:1px solid #b199d6; margin: -220px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:1000}
.apologyLayerh4{background:#b199d6; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.apologyLayer .close{position:absolute; right:0px; top:0px; padding:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 10px 10px no-repeat; background-size:50px; text-indent:-9999em; }
.apologyLayer .box{padding: 5px 10px 0px 10px;}


.uplus_stop{padding:10px; color:#666; font-size:12px; }
.uplus_stop h2{text-align:center; font-weight:bold; padding:20px 0 10px}
.uplus_stop ul{padding-left:20px}
.uplus_stop li{list-style-type:disc; padding-bottom:12px;}

/* ---------------------------------------------------------
                    renew_common_header
---------------------------------------------------------*/
button {outline: none; background-color: transparent; color: inherit; letter-spacing: inherit; font-size: inherit; border:none;}
:root {
    --comm-sprite2 : url("//img.enuri.info/images/mobile_v2/common_sprite2.png");
    --depth1-sprite : url("//img.enuri.info/images/mobile_v2/depth1_sprite.png");
    --mobile--sprite-size : 360px;
}
.comm__sprite2 {background-image: var(--comm-sprite2); background-size: var(--mobile--sprite-size);}
.depth1__sprite {background-image: var(--depth1-sprite); background-size: var(--mobile--sprite-size);}
.nomargin {margin :0!important;}
.nopadding {padding :0!important;}
.border_bottom_color_fff {border-bottom-color:#fff!important;}
.page_header {position:relative; margin-bottom:10px; z-index: 110;}
.page_header.fixed_top {position:fixed; top:-57px; left:0; width: 100%; z-index: 100; transition: all .5s;}
.scr_up .page_header {transform:translate(0, 57px);}
.scr_down .page_header {transform:translate(0, 0);}

.header_top {position:relative; border-bottom:1px solid #eee; background-color: #fff; z-index:15;}
.header_top .wrap {position:relative; padding:10px 56px;}
.header_top .wrap h1 {position: absolute; top:14px; left:16px;}

/* 페이지상단이 스크립트없이 기본 고정일때 */
.header_top_fixed {position:fixed; top:0; left:0; width: 100%; transform:translate(0, 0)!important;}

a.icon_header_logo {display: block; width:28px; height:28px; text-indent: -9999px; background-position: 0 -192px; border-radius: 3px;}
/* 페이지별 아이콘 색상 */
a.logo_color_default {background-color: #1a70dd;}
a.logo_color_car {background-color: #0060af;}
a.logo_color_knowledgeshopping {background-color: #30a6f6;}
a.logo_color_overseashopping {background-color: #d11479;}
/* 알람아이콘 */
.header_top .wrap button.btn_myalarm {position: absolute; top:14px; right:16px; width:28px; height:28px;}
.header_top .wrap button.btn_myalarm i.icon_header_alarm {display:block; width:28px; height:28px; text-indent: -9999px; background-position: -28px -192px;}
/* 서치아이콘 파랑-검색 */
.header_top .wrap button.btn_open_search_layer {text-align: left; position: relative; width: 100%; border: 1px solid #1a70dd; border-radius: 18px; height: 36px; background: #fafafa; padding: 0 10px; color: #999999; font-size: 13px;}
.header_top .wrap button.btn_open_search_layer i.icon_header_search {display:block; width:24px; height:24px; background-position: -48px -220px; position:absolute; top:5px; right:11px;}
/* 페이지명 */
.header_top .wrap .header_top_page_name {position:relative; width:100%; height:36px; line-height: 36px; text-align: center; color:#222; font-size: 19px; letter-spacing: -1px;}
.header_top .wrap .header_top_page_name i.icon_ex_circle_s24 {display: inline-block; vertical-align: -5px; margin-left: 2px; width: 24px; height: 24px; background-position: 0 -220px;}
/* 서치아이콘 검정-검색*/
.header_top .wrap .btn_open_search_layer_icon {position:absolute; top:14px; right:56px;}
.header_top .wrap .btn_open_search_layer_icon i.icon_header_search_black {display: block; width:28px; height: 28px; background-position: -56px -192px;}
/* 닫기아이콘 */
.header_top .wrap .btn_close_page {position: absolute; top:14px; right:16px; width:28px; height:28px;}
.header_top .wrap .btn_close_page i.icon_header_close {display: block; width:28px; height: 28px; text-indent: -9999px; background-position: -112px -192px;}
/* 광고아이콘 */
.header_top .wrap .header_top_ad {position: absolute; top:16px; right:16px; width:24px; height:24px;}
.header_top .wrap .header_top_ad i.icon_header_ad {display: block; width:24px; height: 24px; text-indent: -9999px; background-position: -24px -220px;}
/* 뒤로가기아이콘 */
.header_top .wrap .btn__sr_back {position: absolute; top:14px; left:16px;}
.header_top .wrap .btn__sr_back i.icon_arrow_back {display: block; width:28px; height:28px;background-position:-84px -192px; text-indent:-9999em;}