@charset "utf-8";

/*가격비교 리스트*/
.enuri_mall:after{content:""; clear:both; display:block; }
.enuri_mall{padding: 15px 10px 5px;}
.enuri_mall li{width:50%; float:left; }
.enuri_list{width:113px; margin:0 auto; display:block; font-size:12px; }
.enuri_list .img{border:1px solid #f1f1f1; display:block; width:78px; margin:0 auto;}
.enuri_list .img img{width:78px; height:78px;}
.enuri_list .title{line-height:16px; display:table-cell; vertical-align:middle; display:-webkit-box;overflow:hidden;color:#282828;word-break:break-all;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;padding-top:5px; height: 32px;}
.enuri_list .low{display:block; font-weight:bold !important; margin:4px 0; font-size:11px; }
.enuri_list .low em{color:#ff4a57; padding-right:3px; font-weight:bold !important;}
.enuri_list .low strong{font-size:14px; font-weight:bold !important; letter-spacing:-0.5px; }
.enuri_mall li .list_go{width:113px; border:1px solid #1bc093; border-radius:12px; background:#ffffff; color:#1bc093; display:block; margin:0 auto 5px; text-align:center; font-size:12px;}

.ePage{position:absolute;top:604px;left:0;right:0;font-size:0;text-align:center}
.ePage a{position:relative;display:inline-block;width:28px;height:28px;border:1px solid #ecf0f1}
.ePage a span{position:absolute;top:8px;display:block;width:6px;height:11px;overflow:hidden;color:rgba(255,255,255,0);font-size:1px;background:url("http://set2.shoplayer.zumst.com/resources/style/uplus/shoppingbox/images/spr_list_paging-47a0a89286d257caeabc41fb567d5250.png") no-repeat;background-size:17px 11px;vertical-align:top}
.ePage a.btn_prev span{left:10px;background-position:0 0}
.ePage a.btn_next span{right:10px;background-position:-11px 0}
.ePage .page{display:inline-block;width:53px;color:#999;font-size:11px;font-family:Tahoma,sans-serif;line-height:30px;vertical-align:top}
.ePage .page strong{color:#21cb9d;font-weight:bold}

/*에누리홈*/
.today_goods h3:after, 
.today_goods .myset:after, 
.info_btn .go_store em:after, 
.m_top_sub .subm li:before,
.con_box h3 .more:after,
.Maincontent .mart_cate li:before,
.mainbnr .slick-arrow,
.enuri_deal h3:before,
.zzimly:after,
.family_app li a:after{background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) 0 0 no-repeat ; background-size: 250px 400px;}

/* 카테고리 아이콘 */
.Maincontent{padding-top:5px;}
.Maincontent .m_depth li:before{background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_uplus.png) 0 0 no-repeat ; background-size: 195px 59px;}
.Maincontent .m_depth{border-bottom:1px solid #ced2d7; background:#fafbfc; margin-bottom:5px;}
.Maincontent .m_depth:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.Maincontent .m_depth li{text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:53px; width:25%; float:left; border-left:1px solid #edf1f5; border-top:1px solid #edf1f5; position:relative;}
.Maincontent .m_depth li span{font-size:10px; text-align:center; color:#54748c; letter-spacing:-1px; display:block; position:absolute; left:0; bottom:0; width:100%; }
.Maincontent .m_depth li:nth-child(1), .Maincontent .m_depth li:nth-child(5){border-left:none;}

.Maincontent .m_depth li:before{content:""; display:block; width:28px; height:28px; margin:3px auto 0; }
.Maincontent .m_depth li:nth-child(1):before{background-position:2px 3px; }
.Maincontent .m_depth li:nth-child(2):before{background-position:-40px 3px; }
.Maincontent .m_depth li:nth-child(3):before{background-position:-81px 3px; }
.Maincontent .m_depth li:nth-child(4):before{background-position:-127px 3px; }
.Maincontent .m_depth li:nth-child(5):before{background-position:-170px 3px; }
.Maincontent .m_depth li:nth-child(6):before{background-position:1px -30px; }
.Maincontent .m_depth li:nth-child(7):before{background-position:-40px -31px; }
.Maincontent .m_depth li:nth-child(8):before{background-position:-82px -30px; }

/* 프로모션 배너*/
.Maincontent .mainbnr{position:relative; z-index:10; overflow:hidden; text-align:center; margin-bottom: 7px;}
.Maincontent .mainbnr .evtbnr img{width:100%}
.mainbnr .slick-dots{position: absolute; bottom:5px; width: 100%; text-align:center; display:none;}
.mainbnr .slick-dots:after {content:"";display:block;clear:both;}
.mainbnr .slick-dots li{display: inline-block; zoom: 1; width:8px; height:9px; background: #3f4044; padding:3px; margin-left:-5px;}
.mainbnr .slick-dots li:first-child{border-radius:50% 0 0 50%; padding-left:6px; }
.mainbnr .slick-dots li:last-child{border-radius:0 50% 50% 0; padding-right:6px; }
.mainbnr .slick-dots li button{display: block;background:#ffffff; opacity:0.9; width:8px; height:8px; border-radius:50%; text-indent:-9999em; padding:0; border:none;}
.mainbnr .slick-dots li.slick-active button{display: block; background:#ff4a57; }
.Maincontent .mainbnr .slick-dots li.slick-active button{display: block; background:#ff4a57; }
.Maincontent .mainbnr .slick-arrow{border:none; display: inline-block; zoom: 1; text-indent: -9999em; position: absolute; z-index:1; width: 20px; height: 30px; top: 43%; padding:0;}
.Maincontent .mainbnr button.slick-prev{position:absolute; left:10px; background-position:-154px -214px; }
.Maincontent .mainbnr button.slick-next{position:absolute; right:10px; background-position:-178px -214px; }

/*프로모션 카테고리*/
.evt_cate{background:#ffffff; height:65px; border-bottom:1px solid #ced2d7; margin-bottom: 7px; display:none;}
.evt_cate:after{clear:both; content:""; display:block; }
.evt_cate li{float:left; width:20%; text-align:center; padding-top:5px; height:60px;  cursor:pointer; position:relative; }
.evt_cate.four li{width:25%; }
.evt_cate li img{width:39px; height:39px;}
.evt_cate li span{font-size:10px; text-align:center; color:#54748c; letter-spacing:-1px; display:block; position:absolute; left:0; bottom:0; width:100%; }

/*오늘의 추천상품*/
.today_goods{position:relative; }
.today_goods h3{color:#54748c; padding-top:7px; height:28px;position:relative; text-indent:30px; background:#edf1f5}
.today_goods h3:after{content:""; position:absolute; left:10px; top:8px; width:16px; height:18px; background-position:-150px 0;  }
.today_goods .myset{padding:0 10px 0 22px; color:#ffffff; background:#a1bbcd; font-size:10px; position:absolute; right:5px; top:7px; border-radius:10px; height:21px; }
.today_goods .myset:after{content:""; position:absolute; left:9px; top:5px; width:10px; height:10px; background-position:-178px 0; }

.today_list li{position:relative; z-index:10; margin-bottom:7px; }
.today_list li a{display:block; background:#ffffff;}
.today_list .thum{position:relative; padding:0px 0 7px 0; text-align:center;}
.today_list .hotpic{background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) 0 0 no-repeat; background-size:250px 400px; border:none; text-indent:-9999em; position:absolute; left:10px; top:10px; width:43px; height:43px; background-position:0 -159px; }
.today_list .depart{position:absolute; left:0px; top:13px; text-indent:-9999em; background:url(http://imgenuri.enuri.gscdn.com/images/m_home/ico_depart.png) 0 0 no-repeat; width:90px; height:18px; background-size:100px 150px;}
.today_list .depart.hyundai{background-position:0 0;}
.today_list .depart.ak{background-position:0 -20px;}
.today_list .depart.shinsegae{background-position:0 -40px;}
.today_list .depart.lotte{background-position:0 -60px;}
.today_list .depart.galleria{background-position:0 -81px;}
.today_list .depart.daegu{background-position:0 -101px;}

.today_list.sdeal .price del{font-size:12px; padding-left:5px; color:#999999; letter-spacing:-0.5px}
.today_list .ment{position:absolute; left:0; top:100px; background:#666666; opacity:0.7; color:#ffffff; padding:2px 10px; font-size:16px; line-height:20px;}
.today_list .ment em{opacity:1; font-weight:bold; }
.today_list .thum img{width:100%;}
#mainlist .thum img{width:165px; height:165px; padding-top:5px;}
.today_list .thum.sq img{padding-top:5px; width:165px;}
.today_list .mall{padding:0 10px; color:#7d7d7d; font-size:11px; display:block; height:20px;}
.today_list .mall.txt{padding-top:3px; height:17px; }
.today_list .mall img{width:40px; height:20px; }
.today_list .titarea{overflow:hidden; height:37px; }
.today_list strong{padding:0 10px; display: table-cell; vertical-align: middle; font-weight:normal; font-size:16px; color:#333333; line-height:18px; height:37px; width:100%; box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; }

.today_list .price{height:20px; color:#333;font-size:13px;line-height:20px; position:relative; padding:5px 10px 12px 10px; }
.today_list .sale{color:#f62e3d;font-size:12px; }
.today_list .sale b{font-size:18px}
.today_list .sale b.kr{font-size:11px}
.today_list .sale.sp{font-size:12px;font-weight:bold;vertical-align:1px}
.today_list .prc{margin-right:2px;color:#333;font-size:11px;}
.today_list .prc b{font-size:18px;}
.today_list .price del{color:#999;font-size:10px;}
.today_list .price del b{font-size:12px;font-weight:normal;}
.today_list .price .buy{position:absolute; right:10px; top:4px; font-size:12px;  color: #999999;}

.today_list .info_btn{border-top:1px solid #edf1f5; height:27px; color:#7d7d7d; background:#fafbfc; border-bottom:1px solid #ced2d7; }
.today_list .info_btn .go_store, .today_list .info_btn .pr{text-align:center; width:50%; height:27px; padding:3px 0 0 0; float:left; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; display:block; }
.today_list .info_btn span:last-child{border-left:1px solid #edf1f5}
.today_list .info_btn .go_store em{padding-right:10px; position:relative; color:#7d7d7d;}
.today_list .info_btn .go_store em:after{position:absolute; right:0; top:1px; content:""; background-position:-116px -162px; width:6px; height:11px; }
.today_list .info_btn .pr em{color:#333333; padding-left:2px}
.today_list .info_btn .comt{float:left; text-align:left; width:50%; height:27px; padding:3px 0 0 10px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.today_list .info_btn .comt .star_graph{background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) 0 0 no-repeat; background-size:250px 400px; border:none; text-indent:-9999em;  display: inline-block; width: 53px; height: 9px; margin: 1px 0 0 3px; background-position:-55px -161px;}
.today_list .info_btn .comt .star_graph span{background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) 0 0 no-repeat; background-size:250px 400px; border:none; text-indent:-9999em;  display: block; overflow: hidden; width: 53px; height: 9px; background-position:-55px -171px; }
.today_list .info_btn .comt  span:last-child{border-left:none;}
.today_list .info_btn .go_store.onebtn{width:100%;}

/*찜*/
.zzimarea{z-index:1000;}
.zzimarea .heart, .zzimarea .hearton{position:absolute; right:10px; bottom:105px; width:29px; height:29px; border-radius:50%; background: #eef2f5; text-indent:-9999em; }
.zzimarea .heart:after{position:absolute; left:7px; top:8px; content:""; width:16px; height:14px; background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) -96px -117px no-repeat ; background-size: 250px 400px;}
.zzimarea .hearton:after{position:absolute; left:7px; top:8px; content:""; width:16px; height:14px; background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) -121px -117px no-repeat ; background-size: 250px 400px;}



.zzimly{z-index:100; letter-spacing:-0.5px;width:90px; height:42px; background: rgba(0,0,0,0.5); position:fixed; margin:-20px auto 0 -45px; left:50%; top:50%; border-radius:50%; color:#ffffff; text-align:center; font-size:11px; padding-top:48px; line-height:11px}
.zzimly:after{background-position:-146px -117px; content:""; position:absolute; left:30px; top:15px; width:31px; height:27px; }

.sdeal .zzimarea .heart, .sdeal .zzimarea .hearton{bottom:70px}
.mart_list .heart, .mart_list .hearton{right:0px; bottom:7px}
.mart_list .zzimarea .zzimly{margin:0px auto 0 -117px; top:20%}



h3.maintit{background:#ffffff; padding-top:7px; height:28px; border-bottom:1px solid #dedede; text-indent:10px; font-size:14px;}
.newMallList {width:100%;border-width:1px 0 0 1px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; overflow:hidden; }
.newMallList:after {content:"";display:block;clear:both;}
.newMallList li {background:#fff; float:left; width:25%; }
.newMallList li a{display:block; border:1px solid #f2f2f2; margin:-1px; }
.newMallList li img {width:100%;}
.newMallList li:nth-child(17){border-radius:0 0 0 5px; }
.newMallList li:nth-child(20){border-radius:0 0 5px 0; }

/* 기획전 */
.guide{border-bottom:1px solid #ced2d7; }
.cam_tip{width:100%; position:relative;}
.cam_tip:after{position:absolute; left:0; top:0; content:""; width:100%; height:100%; background: rgba(0,0,0,0.5);}
.cam_tip.img:after{background:none;}
.cam_tip img{width:100%; }
.cam_tip .txtbox{position:absolute; left:0; top:0; text-align:center; z-index:10; width:100%; height:100%; display:block; }
.cam_tip .txtbox span{border:2px solid #ffffff; color:#ffffff; font-size:20px; display:inline-block; padding:4px 8px; margin-top:12%; font-weight:bold; }
.cam_tip .txtbox em{display:block; font-size:12px; line-height:14px; margin-top:5px; font-weight:normal; }


.buy_tip{padding:16px 0; background:#ffffff; }
.buy_tip:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.buy_tip li{float:left; width:33.3%; padding:0 2px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; margin:0; }
.buy_tip li:first-child{width:33.4%; }
.buy_tip li a img{width:70px; height:70px; border-radius:50%; border:1px solid #edf1f5}
.buy_tip li a{display:block; margin:0 auto; width:80px;padding-bottom:0; text-align:center; color:#333333}
.buy_tip li a .tit{font-size:11px; line-height:13px; display: block; height: 26px; overflow: hidden; padding:5px 0 0 0px; }
.buy_tip li a b{font-size:15px; }
.buy_tip li a b em{font-size:11px;}

.bnrarea{width:100%; height:100% !important}
.bnrarea img{width:100%; }




/*CPP*/
.m_top_sub .subm{background:#ffffff; margin-bottom:5px;}
.m_top_sub .subm li{border-top:1px solid #edf1f5; text-indent:10px; color:#4c5363; line-height:40px; font-size:14px; position:relative; letter-spacing:-0.5px}
.m_top_sub .subm li span{display:block;}
.m_top_sub .subm li:before {content:""; position:absolute; right:10px; top:18px; width:9px; height:5px; background-position:-208px -193px; }
.m_top_sub .subm li.sub_y:before {content:""; position:absolute; right:10px; top:15px; width:9px; height:5px; background-position:-208px -203px;}
.m_top_sub .subm ul{display:none; }
.m_top_sub .subm ul:after{content: ""; display: block; clear: both; }

.m_top_sub .sub_y ul{display:block; background:#fafbfc; }
.m_top_sub .sub_y ul li{border-top:1px solid #edf1f5; width:50%; float:left; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; line-height:34px; color:#7d7d7d; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; padding:0 10px 0 0}
.m_top_sub .sub_y ul li:nth-child(even){border-left:1px solid #edf1f5; }
.m_top_sub .sub_y li:before{background:none;}

.cpp_bnr{margin:8px 0}
.cpp_bnr img{width:100%;}

/*쇼핑뉴스*/
.con_box{background:#ffffff; margin:5px 0 8px 0; border-bottom:1px solid #ced2d7;}
.con_box h3{color:#333333; font-weight:bold; line-height:35px; position:relative; text-indent:10px;}
.con_box h3 .more{position:absolute; right:5px; top:0px; font-size:12px; color:#999999; padding-right:8px;}
.con_box h3 .more:after{background-position:-226px -193px; width:5px; height:9px; position:absolute; right:0; top:12px; content:""}
.top_news_box {overflow:hidden; }
.top_news_box ul {overflow:hidden; }
.top_news_box ul li {float:left; width:50%; margin-bottom:10px }
.top_news_box ul li a {display:block; margin:0 10px}
.top_news_box ul li .thumb{width:100%; min-height:91px; border:1px solid #ececec; } 
.top_news_box ul li .tit {display:block; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;  word-wrap:break-word; line-height: 1.2em; height: 2.2em; width:152px;color:#7d7d7d; margin:0 auto; padding-top:5px}

.news_list li{position:relative;  min-height:10px; padding:9px; border-top:1px solid #f5f5f5;}
.news_list li a {display:block; white-space: nowrap; text-overflow: ellipsis; color:#7d7d7d; overflow:hidden; }

.hit_scroll{position: relative;overflow: hidden; height:208px; background:#ffffff; }
.hit_scroll .hit_List_area{overflow-x: auto;overflow-y: hidden; -webkit-overflow-scrolling:touch; width: 100%; }
.hit_scroll .hit_product {overflow: hidden; display: inline-flex; display: -webkit-inline-box; padding-right:10px; height:220px;}
.hit_List_area{padding:0 10px; position:relative; }
.hit_product li{float:left; margin-right:20px; position:relative; height:174px;width:121px;}
.hit_product li:last-child{margin-right:10px;}
.hit_product li .thum{width:119px; height:119px; border:1px solid #eeeeee}
.hit_product li strong{color:#333333; display:block; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;  word-wrap:break-word; line-height: 1.2em; height: 2.2em; width:100%; font-weight:normal; }
.hit_product li .price{color:#333333; font-weight:bold; font-size:15px; }
.hit_product li .price .per{color:#fd3333; margin-right:3px;}
.hit_product li .price .per em{font-size:11px; vertical-align:0px;}
.hit_product li .price b{font-size:11px; vertical-align:1px;}
.hit_product li .price .sp{color:#fd3333; font-size:11px; margin-right:3px; vertical-align:2px}
.hit_product li .mall{display:block; }
.hit_product li .mall img{height:22px;}

.brand_list:after{clear:both; display:block; content:""}
.brand_list li{text-align:center; float:left; width:33.3%; border-right:1px solid #edf1f5; border-top:1px solid #edf1f5; background:#fafbfc; color:#858585; line-height:36px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.brand_list li img{width:95px; height:36px;}
.brand_list li:first-child{width:33.4%}

/* 마트 */
.Maincontent .mart_cate{border-bottom:1px solid #edf1f5; }
.Maincontent .mart_cate:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.Maincontent .mart_cate li{background:#ffffff; text-align:center; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:62px; width:33.3%; float:left; border-left:1px solid #edf1f5; border-top:1px solid #edf1f5; position:relative;}
.Maincontent .mart_cate li.on{background:#e8faff}
.Maincontent .mart_cate li span{font-size:12px; text-align:center; color:#333333; letter-spacing:-1px; display:block; position:absolute; left:0; bottom:5px; width:100%; }
.Maincontent .mart_cate li:nth-child(1), .Maincontent .mart_cate li:nth-child(4), .Maincontent .mart_cate li:nth-child(7){width:33.4%; border-left:none;}
.Maincontent .mart_cate li img{width:50px; height:45px}

.mart_tit{font-size:12px; color:#333333; letter-spacing:-0.5px; line-height:35px; font-weight:normal; text-indent:10px;}
.mart_tit strong{font-size:14px; margin-right:3px}
.mart_list li{margin-bottom: 7px; position:relative;}
.mart_list li a{display:block; height:134px; position:relative; padding:0 10px 0 145px; background:#ffffff}
.mart_list li .thum{margin:9px; left:0; top:0; position:absolute;}
.mart_list li .thum img{width:117px; height:117px; }
.mart_list li .info{position:relative; height:134px;}
.mart_list li strong{font-weight:normal; font-size:16px; color:#333333; display:block; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;  word-wrap:break-word; line-height: 1.2em; height: 2.4em; width:100%; }
.mart_list li .price{color:#333333; font-size:15px; position:absolute; left:0; bottom:12px }
.mart_list li .price .prc{display:inline-block; position:relative; font-size: 11px;}
.mart_list li .price .prc b{font-size:18px;}
.mart_list li .price .prc del{font-size:12px; color:#999999; font-weight:normal; position:absolute; left:0; top:-13px;}
.mart_list li .price .sale{color:#fd3333; display:inline-block; font-size:12px; vertical-align: 1px;}
.mart_list li .price .sale em{font-size:11px; vertical-align:0px;}
.mart_list li .sale b{font-size: 18px; vertical-align: -1px;}
.mart_list li .price .sp{color:#fd3333; font-size:11px; margin-right:3px; vertical-align:2px}
.mart_list li .mall{display:block; padding-top:15px; color:#7d7d7d; font-size:11px;}
.mart_list li .mall img{height:30px;}

.option_area{color:#999999; font-size:12px;  }
.option_area em{display:inline-block; border:1px solid #e0f1fc !important; color:#82bfef; font-size:11px; height:14px; padding:1px 3px 0px 3px; margin-left:3px;}
.mart_list li .option_area, .sdeal li .option_area{position:absolute; right:10px; bottom:13px;}
.mart_list li .price .txt{color: #f62e3d; font-size: 12px; vertical-align: 1px;}

@media screen and (min-width: 640px){
.mart_list{margin:0 8px;}
.mart_list:after{content:'';display:block;clear:both;}
.mart_list li{width:50%; float:left; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.mart_list li:nth-child(2n-1){padding-right:4px;}
.mart_list li:nth-child(2n){padding-left:4px;}
.mart_list li .option_area, .sdeal li .option_area{bottom:50px;}
}

/* 핫딜 */
.tab_deal {height:34px; background: #ccd2d9; border: 1px solid #c0c5cc; margin:0 5px 5px;}
.tab_deal  li{width:;float:left; position:relative; z-index:1; width:20%}
.tab_deal  li a {display:block; text-align:center; line-height:34px; color:#77818c; }
.tab_deal  li.on a {color:#ffffff; font-weight:bold; z-index:1}
.tab_deal li.on a:after {position:absolute; content:""; left:-1px; top:-1px; width:100%; height:34px; background:#57c7da; border: 1px solid #4abbce; z-index:-1}

h4.hot_title{background:#ffffff; text-align:center; border-top:1px solid #edf1f5; border-bottom:1px solid #edf1f5}
h4.hot_title img{width:116px; height:40px; }

.app_install{text-indent:-9999em; width:261px; height:233px; margin: -116px auto 0 -130px; left: 50%; top: 50%; position: absolute; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/app_install.png) 0 0 no-repeat; background-size:261px 233px; }
.app_install .go_app{position:absolute; width:167px; height:42px; left:48px; bottom:20px;}
.app_install .closebtn{position:absolute; width:36px; height:36px; right:5px; top:0px;}

.family_app{margin-top: 7px;}
.family_app:after{content: ""; display: block; clear: both; }
.family_app li a{width:50%; float:left; background:#ffffff; line-height:36px; font-size:11px; color:#7d7d7d; display:block; text-indent:46px; position:relative;}
.family_app li a:after{width:21px; height:21px; content:""; position:absolute; left:18px; top:7px; background:url(http://imgenuri.enuri.gscdn.com/images/m_home/icon_pack.png) 0 0 no-repeat ; background-size: 250px 400px;}
.family_app li:nth-child(1) a:after{background-position:-131px -161px}
.family_app li:nth-child(2) a:after{background-position:-157px -161px}
.family_app li:nth-child(3) a:after{background-position:-185px -161px}
.family_app li:nth-child(4) a:after{background-position:-212px -161px}


/*공통영역*/
.Maincontent{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif; background:#e5e5e5}