@charset "utf-8";

/*header*/
#main header{width:100%; z-index:100; background:#e5e5e5 !important;}
#main header.sub{width:100%; padding-top:56px;height:44px;}
header .mainTop{background:#e5e5e5; height:39px; padding:8px 0 0 0; width:100%; position:relative;}
header .mainTop button{background:url(http://img.enuri.info/images/mobilefirst/ico_gnb.png) -9999em -9999em no-repeat; background-size:142px 500px; border:none; text-indent:-9999em; }
header .mainTop button.cate_menu{background-position:10px 14px; width:39px; height:48px; position:absolute; left:0; top:0; }
/*header .mainTop button.cate_menu:hover{background-position:-27px 14px;}*/
header .mainTop .logo{position:absolute; left:47px; top:0; width:70px; height:48px; background:url(http://img.enuri.info/images/mobilefirst/ico_gnb.png) -71px 13px no-repeat; background-size:142px 500px; text-indent:-9999em; }
header .searchbox{margin:0px 40px 0 124px; height:24px; border:1px solid #cacaca; background:#ffffff; padding:7px 32px 0 10px;}
.searchbox input{width:100%; border:none; border:none !important; line-height:20px !important; height:20px !important; padding:0 !important;}
header .mainTop button.srp{background-position:10px -54px; width:32px; height:31px; position:absolute; right:40px; top:9px; cursor:pointer; }
header .mainTop button.mybtn{background-position:12px -116px; width:40px; height:33px; position:absolute; right:0px; top:9px; }
header .mainTop button.mybtn:hover{background-position:-25px -116px; }

nav.m_top{padding-bottom:2px; background:url(http://img.enuri.info/images/mobilefirst/nav_bg.png) left bottom; background-size:2px; width:100%; height:41px;}
nav .newgnb{background:#0072bb; border-bottom:1px solid #051d49; height:41px;}
nav .newgnb li{float:left; }
nav .newgnb li:nth-child(1){width:12%; }
nav .newgnb li:nth-child(2){width:25%; }
nav .newgnb li:nth-child(3){width:25%; }
nav .newgnb li:nth-child(4){width:19%; }
nav .newgnb li:nth-child(5){width:19%; }
nav .newgnb li a{color:#95b8f8; letter-spacing:-1px; text-align:center; display:block; padding-top:13px; height:26px; border-bottom:2px solid #0072bb; }
nav .newgnb li a.on{color:#ffffff; border-bottom:2px solid #ffffff; height:26px;}

/*header-서브*/
.mainTop_sub{position:static}
nav h2{z-index:100; background:#0072bb; border-bottom:1px solid #051d49; height:32px; color:#ffffff; font-size:15px; font-weight:normal; padding:13px 0 0 25px; position:relative; text-align:center; text-indent:-25px;}
nav h2 .back{background:url(http://img.enuri.info/images/mobilefirst/btn_back_b.png) no-repeat 10px 15px; background-size:15px; width:30px; height:45px; position:absolute; left:0; top:0; text-indent:-9999em;}
nav h2 .android{background-position:12px -13px;}
nav h2 em{font-size:10px;}
nav h2 .tip{position:absolute; right:11px; top:13px; width:54px; height:16px; background:url(http://img.enuri.info/images/mobilefirst/h2_tip.png) 0 0 no-repeat; background-size:54px 16px; text-indent:-9999em}
nav h2.a_center{text-align:center; text-indent:-15px;}

/*카테고리 type1*/
.cate_type1{position:absolute; left:0; top:0; z-index:1001; background:#ffffff; width:100%; }
.cate_type1 h3{z-index:101;height:30px; background:#81a9db; border-bottom:1px solid #041e49; color:#041e49; padding:15px 0 0 25px; color:#ffffff; font-weight:14px; position:fixed; left:0; top:0; width:100%; box-shadow: 0 0 5px 0 #555555;}
.cate_type1 .back{background:url(http://img.enuri.info/images/mobilefirst/btn_back.png) no-repeat 10px 17px; background-size:7px 40px; width:25px; height:40px; position:absolute; left:0; top:0; text-indent:-9999em;}
.cate_type1 .type_btn{position:fixed;right:14px; top:6px;z-index:101;}
.cate_type1 .type_btn li{float:left;}
.cate_type1 .type_btn li a{ height:33px; display:block; background:url(http://img.enuri.info/images/mobilefirst/btn_view.gif) no-repeat 0 0; background-size:75px 66px; text-indent:-9999em;}
.cate_type1 .type_btn li a.listView{background-position:0 0; width:38px;}
.cate_type1 .type_btn li a.listView.on{background-position:0 -33px;}
.cate_type1 .type_btn li a.allView{background-position:-38px 0; width:37px;}
.cate_type1 .type_btn li a.allView.on{background-position:-38px -33px;}

#cssmenu ul ul li{position:relative; }
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  width: 100%;
  font-family: malgun gothic;
  color: #ffffff;margin-top:46px;position:relative; 
}
#cssmenu ul ul ul{
  display: none;
}
.align-right {
  float: right;
}

/*1depth*/
#cssmenu ul li.first{border-bottom:1px solid #cacaca}
#cssmenu ul ul li:last-child a span{border-bottom:none;}
#cssmenu > ul > li > a {
  padding: 14px 20px 0px 40px;
  height:42px;
  z-index: 2;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #4b7eff;
  background: url(http://img.enuri.info/images/mobilefirst/category_icon_v2.png) -9999em -9999em no-repeat #ffffff; background-size:25px 262px; 
}

#cssmenu > ul > li > a.digital{background-position:10px 14px; }
#cssmenu > ul > li > a.computer{background-position:10px -28px; }
#cssmenu > ul > li > a.car{background-position:10px -67px; }
#cssmenu > ul > li > a.baby{background-position:10px -107px; }
#cssmenu > ul > li > a.furniture{background-position:10px -148px; }
#cssmenu > ul > li > a.fashion{background-position:10px -192px; }
#cssmenu > ul > li > a.book{background-position:10px -232px; }

.holder {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
}
.holder::after,
.holder::before {
  display: block;
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  right: 20px;
  z-index: 10;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.holder::after {
  top: 17px;
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
}
#cssmenu > ul > li > a:hover > span::after,
#cssmenu > ul > li.active > a > span::after,
#cssmenu > ul > li.open > a > span::after {
  border-color: #82e8f2;
}
.holder::before {
  top: 18px;
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-color: inherit;
  border-left-color: inherit;
}

#cssmenu ul ul li a {
  cursor: pointer;
  padding:0 20px;
  z-index: 1;
  text-decoration: none;
  font-size: 14px;
  color: #444444;
}

/*#cssmenu ul ul li.open a{border-bottom:1px solid #c2c2c2; }*/
#cssmenu ul ul li.open li a{border-bottom:1px solid #dfdfe1; box-shadow:none}
#cssmenu ul ul li.open li:last-child > a {border-bottom:0;}

#cssmenu ul ul li a span{display:block; height:27px; padding:14px 0 0 20px; background: url(http://img.enuri.info/images/mobilefirst/category_bullet.png) 95% 18px no-repeat; background-size:10px 60px; border-bottom: 1px solid #f5f5f5; }
#cssmenu ul ul li.open a span{display:block; background: url(http://img.enuri.info/images/mobilefirst/category_bullet.png) 95% -8px no-repeat; background-size:10px 60px; border-bottom:none; padding-left:20px;}

#cssmenu ul ul li.open a span em{background: url(http://img.enuri.info/images/mobile_dp/ico_3depth.gif) 10px 0 no-repeat; background-size:5px; display:inline-block; width:20px; height:10px;}
#cssmenu ul ul ul li a{background:#f5f5f5; border-bottom: 1px solid #ffffff; font-weight:normal !important; padding-left: 36px; }
#cssmenu ul ul ul li a::after{position: absolute; top: 18px; left:32px; content: "";background: url(http://img.enuri.info/images/mobile_dp/ico_3depth.gif) 10px 0 no-repeat; background-size:5px; display:inline-block; width:20px; height:10px;}
#cssmenu ul ul ul li a span{background:none !important; border-bottom:none; }
#cssmenu ul ul ul ul li a::after{display:none;}
#cssmenu ul ul ul ul li{border-bottom:1px solid #f5f5f5}
#cssmenu ul ul ul ul li a span{padding:14px 24px 0 5px !important; height:26px;display:block;overflow:hidden;width:86%;white-space:nowrap;text-overflow:ellipsis;}
#cssmenu ul ul ul ul li a span .ico_box{position:relative;font-weight:normal;}
#cssmenu ul ul ul ul li a span .ico_box .ico{display:block;position:absolute;top:50%;margin-top:-7px;left:0px;padding:2px 1px 0px 1px;border:1px solid #f2f2f2;font-size:10px;color:#a6a6a6;background-color:#fff;font-family:"arial";}
#cssmenu ul ul ul ul li a span .ico{display:none;}

#cssmenu ul ul li.open > a,
#cssmenu ul ul li.active > a {
  border-top:1px solid #e5e5e7;
  color: #222;
  background-color:#fffce0;
}
#cssmenu ul ul li.open > a span em {width:0; height:0; background:none;}

#cssmenu ul ul ul li:first-child > a {border-top:1px solid #dfdfdf}
#cssmenu ul ul ul ul li:first-child > a {border-top:none;}

#cssmenu > ul > li > ul > li:last-child > a,
#cssmenu > ul > li > ul > li.last > a {
  /*border-bottom: 0;*/ padding-bottom:1px;
}

#cssmenu > ul > li > ul > li.open:last-child > ul > li:last-child > a {
  border-bottom: 0;
}

#cssmenu ul ul li.active > a::after,
#cssmenu ul ul li.open > a::after,
#cssmenu ul ul li > a:hover::after {
  border-color: #ffffff;
}


#cssmenu ul ul ul ul li a{font-size:13px;background: url(http://img.enuri.info/images/mobilefirst/category_bullet.png) 97% -35px no-repeat; background-size:10px 60px; border-bottom: 1px solid #f5f5f5; padding-left:10px;}
#cssmenu ul ul ul ul{overflow:auto; }

#cssmenu .gnb4{min-height: 100%;z-index:1; position:fixed; width:50%; right:0; top:47px;  box-shadow: -2px 0 7px -4px #000; background:#ffffff; background-size:3px 2px; border-left: 1px solid #bebebe; }

#cssmenu ul ul ul li.open::after{
position: absolute;
top: 14px;
right: 50%;
content: "";
display: block;
width: 11px;
height: 17px;
margin: 0 -1px 0 0;
background: url(http://img.enuri.info/images/mobilefirst/ico_selcet.png) no-repeat 3px -1px;
background-size: 9px 12px;
z-index: 100;
}

/*카테고리 하단 버튼*/
.family_site{width:100%; position:fixed; bottom:0; left:0; background:#393939;z-index:100 }
.family_site li{width:50%; float:left; padding:10px 0;}
.family_site li a{color:#ffffff; font-weight:bold; display:block; text-align:center;}
.family_site li a span{padding:5px 0 5px 32px; background:url(http://img.enuri.info/images/mobilefirst/ico_family.png) 0 0 no-repeat;background-size: 27px 82px; display:inline-block;}
.family_site li:first-child a{border-right:1px solid #b6b6b6;  }
.family_site li:first-child a span{background-position:0 0;}
.family_site li:last-child a span{background-position:0 -56px;}


/*전체 카테고리*/
.curtain .all_view div ul{padding-top:0}
.cate_type2{position:absolute; left:0; top:0; width:100%; z-index:1001; background:#ffffff; height:100%;}
.cate_type2 h3{z-index:101;height:30px; background:#81a9db; border-bottom:1px solid #041e49; color:#041e49; padding:15px 0 0 25px; color:#ffffff; font-weight:14px; position:fixed; left:0; top:0; width:100%; box-shadow: 0 0 5px 0 #555555;}
.cate_type2 .back{background:url(http://img.enuri.info/images/mobilefirst/btn_back.png) no-repeat 10px 16px; background-size:7px 40px; width:25px; height:40px; position:absolute; left:0; top:0; text-indent:-9999em;}
.cate_type2 .type_btn{position:fixed;right:14px; top:6px;z-index:101;}
.cate_type2 .type_btn li{float:left;}
.cate_type2 .type_btn li a{ height:33px; display:block; background:url(http://img.enuri.info/images/mobilefirst/btn_view.gif) no-repeat 0 0; background-size:75px 66px; text-indent:-9999em;}
.cate_type2 .type_btn li a.listView{background-position:0 0; width:38px;}
.cate_type2 .type_btn li a.listView.on{background-position:0 -33px;}
.cate_type2 .type_btn li a.allView{background-position:-38px 0; width:37px;}
.cate_type2 .type_btn li a.allView.on{background-position:-38px -33px;}
.all_view{height:100%;}
.all_view div{height:100%; width:25%; float:left;   overflow:auto; position:relative; }
.all_view div.first{background:#97caf5;}
.all_view div.second{background:url(http://img.enuri.info/images/mobilefirst/bg_navi.png) 0 0 repeat-y #d6e9fa; }
.all_view div.third{background:url(http://img.enuri.info/images/mobilefirst/bg_navi.png) 0 0 repeat-y #eff6fe; }
.all_view div.fourth{background:url(http://img.enuri.info/images/mobilefirst/bg_navi.png) 0 0 repeat-y #ffffff; }

.all_view div ul{padding:46px 0; font-size:13px; }
.all_view div.first ul li span{font-size:12px; background:url(http://img.enuri.info/images/mobilefirst/ico_dot.gif) 5px 12px no-repeat; background-size:3px; display:block; color:#000000; font-weight:bold; padding:7px 5px 7px 10px}
.all_view div.first ul ul{padding:0; border-bottom:1px dashed #7193be}
.all_view div.first ul ul li{padding:12px 5px 12px 12px; position:relative;}
/*
.all_view div.first ul ul li.on{border:2px solid #0072bc; padding:10px 5px 10px 10px; }
.all_view div.first ul ul li.on a{color:#0072bc; }
*/
/* 2017-09-18 오버 색상 변경 */
.all_view div.first ul ul li.on{padding:10px 5px 10px 10px; background-color:#5ba7e7;}
.all_view div.first ul ul li.on a{color:#fff; }
.all_view div.first ul ul li a{color:#444444;}
.all_view div.first ul ul li img{position:absolute; right:5px; top:5px; width:12px; height:6px;}

.all_view div.depth ul li{padding:12px 5px 12px 12px; position:relative;}
.all_view div.depth ul li.dot{padding:0 7px}
.all_view div.depth ul li.dot a{border-top: 1px dashed #7193be; margin-left:0px;  padding:12px 0; }
.all_view div.depth ul li.dot_down{padding:0 7px}
.all_view div.depth ul li.dot_down a.all{margin-left:0px; padding:12px 0; display:block; border-bottom: 1px dashed #7193be; background:url(http://img.enuri.info/images/mobilefirst/ico_all_go.png) 90px 17px no-repeat; background-size:5px 9px; }
/*
.all_view div.depth ul li.on{border:2px solid #0072bc; padding:10px 5px 10px 10px; }
.all_view div.depth ul li.on a{color:#0072bc; }
*/
/* 2017-09-18 오버 색상 변경 */
.all_view div.depth ul li.on{padding:10px 5px 10px 10px; background-color:#5ba7e7;}
.all_view div.depth ul li.on a{color:#fff; }
.all_view div.depth ul li a{color:#444444; display:block;}
.all_view div.depth ul li img{position:absolute; right:5px; top:5px; width:12px; height:6px;}
.all_view div.depth ul li .all{margin-left:-5px; padding:0 8px 0 0px; background:url(http://img.enuri.info/images/mobilefirst/ico_all_go.png) 90px 5px no-repeat; background-size:5px 9px; letter-spacing:-1px;}

.all_view div.depth ul ul{padding:0; margin-left:5px; }
.all_view div.depth ul ul li{padding:10px 0 10px 10px; background:url(http://img.enuri.info/images/mobilefirst/bg_tree_line02.png) left bottom no-repeat; background-size:6px 80px;}
.all_view div.depth ul ul li:last-child{background:url(http://img.enuri.info/images/mobilefirst/bg_tree_line.png) left bottom no-repeat; background-size:6px 80px;}
/* 2017-09-18 오버 색상 변경 */
.all_view div.depth ul li.on ul li{padding:10px 0 10px 10px; background:url(http://img.enuri.info/images/mobilefirst/bg_tree_line02_v2.png) left bottom no-repeat; background-size:6px 80px;}
.all_view div.depth ul li.on ul li:last-child{background:url(http://img.enuri.info/images/mobilefirst/bg_tree_line_v2.png) left bottom no-repeat; background-size:6px 80px;}
/*마이메뉴*/
.my_back{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index: 101; }
.mymenu{position: fixed; width:272px; min-height:100%; background:#ffffff; right:0; top:0; z-index:1001; }
.mymenu h1{height:32px; padding-top:13px; font-size:15px; }
.mymenu h1 .login a{background:url(http://img.enuri.info/images/mobilefirst/ico_mymenu.png) 10px 0px no-repeat; background-size:100px 126px; padding-left:26px; color:#444444; }
.mymenu h1 .login:hover a{background-position:-65px 0; color:#0072bc}
.mymenu h1 .login.after{padding-left:10px}
.mymenu .logout a{color:#444444; font-size: 15px; font-weight:bold; position:absolute; right:10px; top:12px; background:url(http://img.enuri.info/images/mobilefirst/ico_mymenu.png) 0px -55px no-repeat; background-size:100px 126px; padding-left:15px; }

.mymenu h2{background:#81a9db; height:37px; }
.mymenu h2 a{display:block; padding:10px 0 0 10px;color:#ffffff; font-weight:normal; background:url(http://img.enuri.info/images/mobilefirst/ico_mymenu.png) 250px -103px no-repeat; background-size:100px 126px;}
.scrollbox_area {position: relative;overflow: hidden;height: 74px;padding:15px 9px ;border: 1px solid #ddd;}
.scrollbox_area .innder_scroll{overflow-x: auto;overflow-y: hidden; -webkit-overflow-scrolling:touch; width: 100%; }
.scrollbox_area .swiper-wrapper {overflow: hidden; display: inline-flex; display: -webkit-inline-box; padding-right:5px;}
.scrollbox_area .swiper-wrapper li{position: relative; float: left; margin-right: 4px;}
.scrollbox_area .swiper-wrapper li img{width:74px; height:74px; border:1px solid #e7e7e7;}
.recent_txt{text-align:center; width:100%; padding-top:26px; }
.scrollbox_area .swiper-wrapper li.a_c{text-align:center; }

.zzim{overflow:auto; padding:0 8px 0 0px; -webkit-overflow-scrolling:touch; height:212px !important;}
.zzim li{border-bottom:1px solid #e7e7e7; height:100px; position:relative; padding-left:105px;}
.zzim li:last-child{border-bottom:none;}
.zzim li .thum{width:100px; height:100px; position:absolute; left:0; top:0;}
.zzim li a{display:block; width:100%; height:100px;}
.zzim li a strong{display:block; width:148px; color:#444444; font-weight:normal; padding:15px 0 0px 0; height:52px; overflow:hidden; }
.zzim li a strong em{display:block; padding-bottom:3px;}
.zzim li a span{display:block; text-align:right; color:#2485fb; padding-top:5px}
.zzim li a span.soldout{color:#f65c52;}
.zzim li a span em{font-family:tahoma; font-weight:bold; }
.zzim_txt{text-align:center; padding-top:30px; height:87px !important; line-height:26px; padding-left:0 !important;}
.zzim_txt img{width:31px; height:31px;  vertical-align:middle; margin-top:-5px; clear:both;}

@media screen and (min-width:359px){
.zzim{height:308px !important;}
}

/*검색창*/
.search {position:relative;padding:10px 0;margin:0 40px 0 82px;background:none;}
.search .btn-search {display:block;position:absolute;top:17px;right:8px;width:19px;height:19px;margin:0;padding:0;border:0;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px 0;background-size:250px; text-indent:-9999px;}
.search input[type='text'] {overflow:hidden;width:100%;height:33px;padding:0 30px 0 5px;border:3px solid #0072bc;color:#373737;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:14px;line-height:1.2;text-overflow:ellipsis;white-space:nowrap;}
.search .del {position:absolute;top:18px;right:55px;overflow:hidden;width:17px;height:16px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -75px;background-size:250px;border:0;text-indent:-99999px;}

.searchBody {background:#fff;}
.back_line{background:url(http://img.enuri.info/images/mobilenew/images/lline.gif) right 10px repeat-y #ffffff !important;}
#searchWrap .search {position:relative;margin:0;padding:10px;border-bottom:1px solid #e6e6e6;z-index:1;  background:#ffffff}
#searchWrap .search .btn-search {right:24px;}
#searchWrap .searchCont {position:relative;height:100%;margin:-54px 0 0;padding:54px 0 42px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
#searchWrap .search label {top:17px; left:17px;}
#searchWrap .latest {padding-right:79px;}
#searchWrap .searchFoot {position:fixed;bottom:0;left:0;width:100%;height:42px;padding:10px 8px 0;background:#e9e9e9;border-top:1px solid #d5d5d5;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
#searchWrap .searchFoot button {border:0;background:none;color:#77787b;font-size:14px;}
#searchWrap .searchFoot .bar {margin:0 4px;color:#c1c2c4;}
#searchWrap .searchFoot .close {position:absolute;right:8px;}
#searchWrap .search input[type='text'] {padding-right:70px;}
.searchList .noneTxt {padding:17px 0 0;text-align:center;font-size:14px;color:#b3b3b3;}
.searchList {min-height:100%;}
.latest .searchList {border-right:1px solid #e6e6e6;}
.searchList li {position:relative;border-bottom:1px solid #e6e6e6;}
.searchList li:first-child {}
.searchList li a {color:#444444; display:block;height:41px;padding:12px 30px 0 10px;font-size:13px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.searchList li a span {color:#0072bc;}
.searchList li .del {position:absolute;top:0;right:0;width:30px;height:41px;background:none;border:0;text-indent:-99999px;}
.searchList li .del:after {content:"";position:absolute;top:14px;right:10px;width:11px;height:11px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -25px;background-size:250px;}
.latestProd {overflow:auto; position:absolute;top:54px;right:0;width:80px;padding:0;background:#fff;border-left:1px solid #e6e6e6;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.latestProd li {position:relative;overflow:hidden;width:79px;height:83px;border-bottom:1px solid #e6e6e6;}
.latestProd li img {width:79px;height:83px;}
.latestProd li .del {position:absolute;top:0;right:0;width:30px;height:41px;background:none;border:0;text-indent:-99999px;}
.latestProd li .del:after {content:"";position:absolute;top:10px;right:10px;width:11px;height:11px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -25px;background-size:250px;}
.latestProd li.more {height:36px !important;background:#f6f5f5;font-size:13px; padding-top:5px;}
.latestProd li.more a {padding:0 0 0 9px;color:#77787b;line-height:31px;}
.latestProd li.more:after {position:absolute;top:14px;right:12px;content:"";width:6px;height:11px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -100px -75px;background-size:250px;}


.swiper-wrapper li .del {position:absolute;top:0;right:0;width:30px;height:30px;background:none;border:0;text-indent:-99999px;}
.swiper-wrapper li .del:after {content:"";position:absolute;top:5px;right:5px;width:11px;height:11px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -25px;background-size:250px;}

/* 상세 이미지 확대 헤더 */
.head_area  {padding-bottom:2px; background:url(http://img.enuri.info/images/mobilefirst/nav_bg.png) left bottom; background-size:2px; position:fixed; left:0; top:0; width:100%; z-index:100}
.head_area .head_inner {text-align:center; padding-top:10px; font-size:13px;color:#fff;font-weight:bold; background:#0072bb; border-bottom:1px solid #041e49; height:27px;}
.head_area .head_inner .tit {font-size:15px}
.head_area .head_inner .close {position:absolute; right:1px; top:3px; width:12px; height:13px; text-indent:-9999em; padding:10px; background:url(http://img.enuri.info/images/mobilefirst/ico_close.png) 10px 10px no-repeat; background-size:12px 13px; }
