@charset "utf-8";
body, #main{background:#e5e5e5 !important; }



.moreBtn{position:relative; }
.moreBtn em{display:block; position:absolute; right:10px; top:11px; color:#6b6b6b; font-size:12px; background: url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_more.png) right 3px no-repeat; background-size: 5px 9px; padding-right:8px;}
.moreBtn a {display:block;color:#a6a7ab;font-size:14px;text-align:center; height:26px; padding-top: 10px; border-bottom:2px solid #dadada; width:100%;}
.moreBtn span{background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_lp_more.png) no-repeat right 2px;background-size:13px 30px; width:13px; height:13px; padding-right:18px; color:#6b6b6b; }
.moreBtn a.on span{background-position:right -15px;}
.prodCategory .detail-menu {padding:10px 10px 0 10px; background-color:#f0f1f3; border-top:1px solid #dedede; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.prodCategory .detail-menu .btn-blue-type {font-size:14px; color:#4c5363; margin-bottom:10px;}
.prodCategory .on .detail-menu {display:block;}
.prodCategory li.on a:before {background-position:-205px -456px;}

.prodSortOpt {margin:4px 0;position:relative;padding:8px 6px 8px 0;background:#fff;border-top:1px solid #e6e6e6;border-bottom:2px solid #dedede;text-align:right;}
.prodSortOpt p {float:left;margin:6px 0 0 10px;color:#2485fb;font-size:14px;font-weight:bold;}
.prodSortOpt button {margin-left:3px; background:#ffffff;}
.prodSortOpt span{font-size:13px; color:#4c565f; font-weight:bold;}
.prodSortOpt em{font-size:14px; color:#2485fb; position:absolute; left:10px; top:13px; font-weight:bold}

.selectype1 {display:inline-block;border:1px solid #dfdfdf;border-radius:3px;}
.selectype1 select {vertical-align:-1px; width:100%;height:28px;padding:0 25px 0 5px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/bg_select2.png) no-repeat 100% 12px;border:0;background-size:18px;font-size:13px;color:#4c5363;}
.selectype1 span.open {background-position:100% -33px;}
.selectype2 {display:inline-block; border:1px solid #e6e6e6; background-color:#fff;}
.selectype2 select {display:inline-block;width:100%;height:28px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/bg_select.png) no-repeat 100% 12px;border:0;background-size:18px;cursor:pointer;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:13px;}
span.select-box {display:inline-block;width:100%;height:28px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/bg_select.png) no-repeat 100% 12px;border:0;background-size:18px;cursor:pointer;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:13px;}
span.select-box .selected {display:inline-block;padding:7px 0 0 5px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;line-height:1.2;}
ul.select-box-list {overflow:auto;position:absolute;z-index:100;margin:0 0 0 -1px;border:1px solid #d4d4d4;border-top:0;background-color:#f3f4f5;cursor:pointer;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
ul.select-box-list li {padding:12px 0 11px 14px;border-top:1px solid #d4d4d4;font-size:13px;}
ul.select-box-list li:active {background:#0081e5;color:#fff;}
.btnIcon{overflow:hidden;border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;}
.btnIcon span {position:absolute;top:-9999px;}
.btnIcon:after {display:block;content:"";background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat;background-size:250px;}
.btnGrid {width:30px;height:30px;}
.btnGrid:after {width:15px;height:15px;background-position:0 -50px;margin:0 0 0 7px;}
.btnList {width:30px;height:30px;}
.btnList:after {width:15px;height:16px;background-position:0 -75px;margin:0 0 0 7px;}
.btnAllOpen {width:30px;height:30px;}
.btnAllOpen:after {width:17px;height:16px;background-position:-25px -50px;margin:0 0 0 6px;}
.btnAllOpen.on {background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4c5363), to(#4c5363));background:-moz-linear-gradient(19% 75% 90deg,#4c5363, #4c5363);}
.btnAllOpen.on:after {background-position:-50px -225px;}
.btnLink {width:24px;height:18px;border-radius:0;}
.btnLink:after {width:15px;height:12px;background-position:-150px -25px;margin:0 0 0 4px;}

button.btn-blue-type {
  position: relative;
  width: 100%;
  height: 30px;
  padding-left: 22px;
  border: 1px solid #dbf2fd;
  text-align: left;
  color: #fff;
  background-color: #f1fafe;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
button.btn-blue-type:after {
  display: block;
  overflow: hidden;
  content: "";
  width: 14px;
  height: 19px;
  position: absolute;
  right: 8px;
  top: 8px;
  background: url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -200px 0;
  background-size: 250px;
}

/*tab*/
ul.lp_tab{margin-top:4px;}
ul.lp_tab:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
ul.lp_tab li{width:25%;height:37px;float:left; background:#f3f4f5; border-bottom:1px solid #e5e5e5 }
ul.lp_tab li:first-child a{border-left:none;}
ul.lp_tab li a:before {content:"";float:right;margin:16px 8% 0 0;width:11px;height:6px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/icon_pack.png) no-repeat -125px -25px;background-size:250px;}
ul.lp_tab li a.on:before {background-position:-125px -50px;}
ul.lp_tab li a{display:block; color:#6b6b6b; line-height:38px;border-left:1px solid #e5e5e5; padding-left:10px; font-size:15px}
ul.lp_tab li a.on{text-decoration:none; color:#0081e5; cursor:default; background:#ffffff; line-height:38px; border-bottom:none;}
div.panel{clear:both; border-top:none; padding:0; margin-bottom:4px}
ul.twotab li, ul.twotab li:first-child{width:50%; }
ul.threetab li{width:33.3%}
ul.threetab li:first-child{width:33.4%}

/*list*/

.prodList:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.prodList li{min-height:150px; border-bottom:2px solid #dadada; margin-top:6px; background:#ffffff; z-index:10; }
.prodList li a.listarea{padding:20px 10px 0 146px; display:block; height:123px; color:#444444; position:relative; z-index:1}
.prodList li .rank{z-index:10; background:#7adcda; font-weight:bold; font-size:12px; width:22px; line-height:22px; color:#ffffff; display:block; text-align:center; position:absolute; left:10px; top:13px;}
.prodList li .pluslink{display:none; border-radius:1px; z-index:10; font-size:10px; padding:1px 2px 0px 2px; letter-spacing:-1px; background:#ffffff; color:#b6b6b6; border:1px solid #b6b6b6; display:block; text-align:center; position:absolute; left:10px; top:15px;}
.prodList li.lp_cpc .pluslink{display:none; }
.gridType li.lp_cpc .pluslink{display:block; left:7px}
.prodList li .best{z-index:10; font-size:10px; color:#f54a3d; position:absolute; right:0px; top:0px; padding-left:12px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_crown.png) no-repeat 0 0; background-size:10px 9px;}
.prodList li .delivery{font-size:10px; position:absolute; right:0px; top:66px;}
.prodList li .rent{z-index:10; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_rental.png) 0 0 no-repeat; text-indent:-9999em; background-size:65px 15px; width:65px; height:15px; display:block; position:absolute; left:0px; top:13px;}

.prodChoice{position: absolute;top:3px;right:3px; z-index:1;}
.prodChoice button{width:32px; height:32px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/btn_zzim.png) no-repeat 0 0; background-size:32px 70px; border: 0; text-indent:-9999em;}
.prodChoice button.on{background-position:0 -38px;}
.prodList li span.thum{position:absolute; left:10px; top:15px; width:123px; height:123px;}
.prodList li input{margin:10px;}
.prodList li span.chk_zzim{left:-3px !important; top:-3px !important}

.prodList li a div{padding-top:22px; position:relative;}
.prodList li a div .stit{font-size:11px; display:block; color:#6b6b6b; position:absolute; left:0px; top:66px; }
.prodList li a div .stit em{color:#dfdfdf; padding:0 4px;}
.prodList li a div .com{display:block; height:20px; padding:0px 0 2px 0; font-size:12px; color:#6b6b6b; position:absolute; left:0; top:0; width:100%; }
.prodList li a div .best_mall{display:block; height:20px; padding:0px 0 2px 0; font-size:12px; color:#6b6b6b; position:absolute; left:0; top:0; width:100%; }
.prodList li a div .best_mall img{width:40px; height:20px; margin-top:-7px;}
.prodList li a div .com em:first-child{width:85px; height:15px; overflow:hidden; display:block;}
.prodList li a div .com em.date{position:absolute; right:29px; top:1px; font-size:11px}
.zzim_List li a div .com em.date{position:absolute; right:0px;}
.prodList li a div .com em.company{display:none;}

@media screen and (max-width:320px){
.prodList li a div .com em:first-child{width:55px; }
}

.prodList li a div strong{display:block; height:37px; overflow:hidden; margin-bottom:6px; font-size:15px;}
.prodList li a div strong.cpc{ font-weight:normal; }
.prodList li a div .price{min-width:148px; text-align:right; display:block; font-size:12px; height: 23px; position:absolute; right:0; bottom:-57px; padding:4px 5px 0 5px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4)); background: -moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);
border: 1px solid #dfdfdf; text-align: right;}
.prodList li a div .price.shop_p{min-width:105px;}
.prodList li a div .price.sold{background:none; border:none; }
.prodList li a div .price .min span{padding-left:20px; display:inline-block;}
.prodList li a div .price .min{position:absolute; left:4px; top:7px;}

.prodList li a div .price em{color:#2485fb; font-size:16px; font-weight:bold; }
.prodList li a div .price em em{font-size:12px; font-family:malgun gothic; vertical-align:1px; font-weight:normal;}
.prodList li a div .price .soldout{display:block; padding-top:1px; color:#ff7781;font-family:malgun gothic; font-size:14px; text-align:center;}
.prodList li a div .price .release{display:block; padding-top:1px; color:#2485fb;font-family:malgun gothic; font-size:14px; text-align:center;}
.prodList li a div em.shop{position:absolute; left:0; top:97px; font-size:11px; width:50px; height:15px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }
.prodList li a div em.sales{position:absolute; left:0; top:90px; font-size:11px; width:50px; }

.prodList li .prodtxt{font-size:14px; padding:10px 25px 0px 10px; margin-bottom:10px; color:#6b6b6b; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis;  position:relative;}
.prodList li .prodtxt span{background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_plus.png) no-repeat 0 0; width:14px; height:14px; background-size:14px 35px; position:absolute; right:8px; top:10px; text-indent:-9999em; display:block;}
.prodList li .prodtxt .btndetail{display:none;}
.prodList li .prodtxt.txtclose .btndetail{display:block;}
.prodList li .prodtxt.spec{padding-bottom:0 !important}
.prodList li .prodtxt.line{line-height:17px; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap: break-word; overflow: hidden;  white-space: normal;}

.prodList li .prodtxt.txtclose{display:block; padding:10px 25px 28px 10px; color:#6b6b6b; font-size:14px; position:relative; white-space: inherit}
.prodList li .prodtxt.txtclose span{background-position:0 -20px;}
.prodList li .prodtxt.txtclose .btndetail a{position:absolute; right:10px; bottom:0px; display:block; border:1px solid #dfdfdf; border-radius:3px; padding:3px 12px 2px 8px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_more.png) 88% 6px no-repeat; background-size:5px 9px; font-size:12px; }

.prodList li .pircelist{height:40px; overflow:hidden;}
.prodList li .pircelist.pmore{height:auto; display:block; }
.prodList li .pircelist.pmore dt:before{background-position:0 -56px;}
.prodList li .pircelist dt{position:relative; color:#ffffff; line-height:40px; height:40px;  padding-left:26px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_pricelist.png) no-repeat 9px 12px #81a9db; background-size:14px 64px; font-size:16px}
.prodList li .pircelist dt span{font-size:12px; padding-left:10px; font-weight:normal; vertical-align:1px}
.prodList li .pircelist dt:before {content:"";float:right; margin:14px 3% 0 0;width:12px;height:12px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_pricelist.png) no-repeat 0px -30px #81a9db; background-size:14px 64px;}
.prodList li .pircelist dd table th{background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/th_line.gif) 0 7px no-repeat #e0f2fe; background-size:1px 18px; color:#69aeda; padding:5px 0 3px 0; font-size:12px;text-align:center; line-height:13px;  height:25px; vertical-align:middle; }
.prodList li .pircelist dd table th:first-child{background:#e0f2fe none;}
.prodList li .pircelist dd table td{padding:12px 8px 10px 8px; border-bottom:1px solid #f5f5f5; font-size:12px; color:#444444; line-height:17px; vertical-align:middle }
.prodList li .pircelist dd table td.sum{text-align:center; font-size:14px;}
.prodList li .pircelist dd table td a{display:block; padding:0; height:auto; font-size:12px; color:#6b6b6b;}
.prodList li .pircelist dd table td.min{color:#ff7781;  text-align:right; font-size:10px;}
.prodList li .pircelist dd table td.min.spontxt span{background:#ff7781; color:#ffffff; border-radius:1px; padding:2px 2px 0px 2px; vertical-align:1px}
.prodList li .pircelist dd table td.min .tit_rent{color:#59d3d0}
.prodList li .pircelist dd table td.min em{color:#2485fb; font-size:12px; }
.prodList li .pircelist dd table td.min em em{font-family:malgun gothic;color:#2485fb;font-size:12px;}
.prodList li .pircelist dd table td img{width:19px; height:11px; vertical-align:middle; margin:-1px 0 0 5px;}
.prodList li .pircelist dd table td span.spon{background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_sponsor02.png) no-repeat 0 0;background-size:25px 12px; width:25px; height:12px; text-indent:-9999em; display:inline-block; vertical-align:-1px; margin-left:3px}
.prodList li .pircelist dd table td img.pc{width:16px; height:14px; vertical-align:middle; margin:-2px 3px 0 3px;}
.prodList li .pircelist dd table td.price{text-align:right;}
.prodList li .pircelist dt span{position:absolute; right:33px; top:0px; }
.prodList li .pircelist dt em{font-size: 12px;}

@media screen and (min-width:359px){
.prodList li .pircelist dd table td,
.prodList li .pircelist dd table td.min em,
.prodList li .pircelist dd table td.min em em{font-size:14px}
}

/*grid*/
.gridType{margin-top:-10px}
.gridType .prodtxt, .gridType .pircelist, .gridType li a div .stit{display:none;}
.gridType{padding:5px 3px 0 3px; }
.gridType:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.gridType li a div .price{width:100%; min-width:0; padding:4px 0 0 0; bottom:-40px; height:23px;}
.gridType li a div .price .min{top:7px}
.gridType li a div .price em{padding-right:2px}
.gridType > li{width:50%; height: 242px; float:left; background:none; margin-top:7px; border-bottom:none;}

.gridType > li a.listarea{margin:0 3px; padding:15px 7px 7px 7px; display:block; background:#ffffff; height: 221px; text-align:center; }
.gridType > li span.thum{width: 110px; height: 110px; position:static; display:inline-block; text-align:center;}
.gridType > li span.thum img{width:100%; height:100%; }
.gridType > li div{text-align:left;}
.gridType > li a div{padding-top:32px;}
.gridType > li a div strong{height:38px;}
.gridType > li .rank{position:absolute; left:0; top:0;}
.gridType li a div .com{top:10px;}
.gridType > li .shop{display:none;}
.gridType li .prodtxt.txtclose{display:none;}
.gridType li a div .com em.date{display:none;}
.gridType li a div em.sales{display:none;}
.gridType .pircelist{display:none !important;}
.gridType li a div .com em.company{position:absolute; top:0px; right:0; display:inline-block; text-align:right;}
.gridType li .best{top:10px; left:0; text-align:left; }
.gridType li .best_mall{top:8px !important; text-align:right; }
.gridType li .pluslink{top:8px;}
.gridType li .delivery{display:none;}

.gridType li .prodtxt.line{display:none;}

.gridType li.lp_cpc{padding:0 3px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.gridType li.lp_cpc .lp_cpc_tit{display:none;}
.gridType li.lp_cpc li{margin-top:0;}
.gridType li.powerlink{margin-top:0; }

@media (max-width: 320px){
.gridType li a div .price{width: 100%; padding:0; left:0; min-width:0; height: 24px; padding-top:14px; margin-top: 3px; bottom:-50px}
.gridType li a div .price em{padding:10px 2px 0 0; }
.gridType li a div .price .min{top:3px}
.gridType > li{height:252px; }
.gridType > li a.listarea{height:231px; }
}

.loading{text-align:center; color:#4d555b; font-size:11px; width:100%; background:#f1f1f3; padding:80px 0 50px 0; background: url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/ico_loading.png) center 50px no-repeat #f1f1f3; background-size:27px 27px; }
.loading span{text-align:center; color:#0970c1; font-size:15px; font-weight:bold; display:block; }

.adArea{padding:3px 6px; }
.adArea img{width:100%;}

.prodList li a .sponsor{z-index:11; width:50px; height:50px; position:absolute; left:2px; top:2px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/icon_pack.png) 0 -100px no-repeat; background-size:250px; text-indent:-9999em}
.prodList li a .chk_zzim{z-index:11; position:absolute; left:5px; top:5px; }

/*srp*/
.search_mnt{background:#ffffff;border-top:1px solid #dcdcdc; }
.searchbtn{width:100%;}
.searchbtn td{padding:5px 5px 5px 10px;}
.searchbtn .tt{width:77%; letter-spacing:-1px; font-size:11px;}
.searchbtn .tt span{color:#1089e8; margin:0 3px}
.searchbtn .btn{width:20%; text-align:right;}
.searchbtn .btn button{cursor:pointer; vertical-align:middle; text-indent:-9999em; width:72px; height:24px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/btn_search_result.png) -9999em -9999em no-repeat; background-size:72px 50px; border:none; }
.searchbtn .btn button.btn_result{background-position:0 0; }
.searchbtn .btn button.btn_category{background-position:0 -24px; }


div.panel .searchArea{padding:0px; background:#ffffff; }
.searh_align{padding:10px 3px 0 3px;; height:38px}
.searh_align:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.searh_align li{float:left; width:33.3%; position:relative;}
.searh_align li div{text-align:center; display:block;   border:1px solid #dfdfdf; border-radius:3px; color:#6b6b6b; margin:0 3px; padding:6px 0  0px 0; height:22px; }
.searh_align li div span{display:inline-block; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_search.png) 0 0 no-repeat; background-size:50px 101px; text-indent:18px;}
.searh_align li div.on{background:#138ae7; border:1px solid #138ae7;}
.searh_align li div.on span{background-position:0 -18px; color:#ffffff; }
.searh_align li:first-child{width:33.4%}

.prodListTop {background:#fff;}
.prodHead {position:relative;height:30px;padding:8px 0 0;background:#0081e5;text-align:center;}
.prodHead h1 {overflow:hidden;margin:0 0 0 4px;padding:0 15px;font-size:15px;color:#fff;text-overflow:ellipsis;white-space:nowrap;}
.prodHead h1 span {font-size:12px;}
.prodHead .back {position:absolute;top:0;left:0;font-size:0;line-height:0;display:block;width:27px;height:33px;overflow:hidden;text-indent:-99999px;text-align:left; word-break:nowrap;}
.prodHead .back:after {content:"";display:block;width:9px;height:16px;float:left;margin:12px 0 0 7px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -50px 0;background-size:250px}

.scrollbox_brand {position: relative;overflow: hidden;padding:0 ; height: 190px; }
.scrollbox_brand{width:100%; }
.scrollbox_brand:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.scrollbox_brand li{border-bottom:1px solid #f5f5f5; height:37px; line-height:13px; width:50%; float:left; }
.scrollbox_brand li label{position:relative; display:block; padding:6px 30px 0 30px;font-size: 12px; }
.scrollbox_brand li input{position:absolute; left:10px; top:5px;}

.scrollbox_brand li span{color:#6b6b6b; padding-left:3px; font-size:11px;}
.scrollbox_brand li .rank{width: 19px; height: 11px; position:absolute; right:10px; top:8px;}
.scrollbox_brand li .on, .scrollbox_brand li.on span{color:#67a6ec}

.scrollbox_brand .non_chk li label{padding: 6px 30px 0 6px !important; }

.pagingview{background:#f3f4f5; position:relative; border-bottom:1px solid #dadada; border-top:2px solid #e5e5e5; height:36px; margin-top:-1px}
.pagingview:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.pagingview .pagination01{width:100%;padding:6px 0 6px;text-align:center; }
.pagingview .pagination01 span {display:inline-block;margin:0 5px;vertical-align:-1px;font-size:13px;color:#77787b;}
.pagingview .pagination02{width:100%;padding:6px 0 6px;text-align:center; }
.pagingview .pagination02 span {display:inline-block;margin:0 5px;vertical-align:-1px;font-size:13px;color:#77787b;}
.pagingview .pagination03{width:100%;padding:6px 0 6px;text-align:center; }
.pagingview .pagination03 span {display:inline-block;margin:0 5px;vertical-align:-1px;font-size:13px;color:#77787b;}
.pagingview button {border:none; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_search.png) no-repeat; background-size:50px 101px; vertical-align:middle; font-size:12px; color:#444444; cursor:pointer; }
.pagingview button.pagingPrev2{background-position:0 -78px; width:23px; height:23px;text-indent:-99999px; }
.pagingview button.pagingNext2{background-position:-27px -78px; width:23px; height:23px;text-indent:-99999px; }
.pagingview button.btnreset{background-position:34px -44px;position:absolute; left:10px; top:10px; padding-right:17px; }
.pagingview button.btnclose{background-position:24px -59px;position:absolute; right:10px; top:10px; padding-right:15px;}

.sortSelect .detailSort {padding:15px 15px 0px 15px;}
.sortSelect .detailSort p {position:relative;padding:0px 55px 15px 90px;font-size:11px;}
.sortSelect .detailSort p label {position:absolute;top:6px;left:0;width:80px; font-size:14px;  color:#6b6b6b;}
.sortSelect .detailSort p .inForm {display:table;width:100%; }
.sortSelect .detailSort p .inForm span {display:table-cell;text-align:center; position:relative;}
.sortSelect .detailSort p .inForm span input {width:100%;text-align:right;}
.sortSelect .detailSort p input{width:100%; height: 27px; padding: 0 25px 0 5px; background: #fff; border: 1px solid #dedede; box-sizing: border-box; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;line-height: 25px;}
.sortSelect .detailSort p .inSearch {display:block;position:relative;}
.sortSelect .detailSort p .del {position:absolute;top:0;right:0;width:25px;height:25px;overflow:hidden;border:0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -142px 8px;background-size:250px;text-indent:-99999px;}
.sortSelect .detailSort p .search_chk{width:46px; height:27px; background:#138ae7; border-radius:3px; color:#ffffff; border:none; position:absolute; right:0; top:0;}

.searchArea .spec{padding:10px 10px 18px 10px;}
.searchArea .spec li{padding-left:118px; position:relative; font-size:12px; color:#4c5363; margin-top:7px;}
.searchArea .spec a{font-size:14px; display:block; width:100%; border:1px solid #e6e6e6; border-radius:4px; line-height: 26px; height: 26px; text-indent:10px; background: url("http://imgenuri.enuri.gscdn.com/images/mobilenew/images/bg_select2.png") no-repeat 100% 12px; background-size:18px 6px}
.searchArea .spec span{position:absolute; left:0; top:6px; font-size:14px; }
.searchArea .spec a span{padding-left:117px !important; top:1px !important;}

/*.sortBox li{padding-left:107px; position:relative; font-size:12px; color:#4c5363; }
.sortBox a{display:block; width:100%; border:1px solid #e6e6e6; border-radius:4px; line-height: 26px; height: 26px; text-indent:26px; background: url("http://imgenuri.enuri.gscdn.com/images/mobilenew/images/bg_select2.png") no-repeat 100% 12px; background-size:18px 6px}
.sortBox span{position:absolute; left:0; top:6px; }*/

/* layer popup */
.dimmed {position: fixed;width: 100%;height: 100%;top: 0 !important;left: 0;background: #000;z-index: 6 !important;opacity: 0.5;}
.transfer-popup.select-option {width:100%; height:auto; top:50%;}
.transfer-popup.select-option .layerPopCont .btnClose {position:absolute;top:14px;right:12px;width:15px;height:15px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/btn_layer_close.png) no-repeat 0 0; background-size:15px;}
.transfer-popup.select-option .layerPopCont .contents {height:308px; overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.transfer-popup.select-option .layerPopCont .contents ul li {height:45px; border-top:1px solid #d7d7d7;}
.transfer-popup.select-option .layerPopCont .contents ul li:first-child {}
.transfer-popup.select-option .layerPopCont .contents ul li label {display:block; position:relative; height:45px; padding-left:10px; line-height:45px; white-space:nowrap; text-overflow:ellipsis; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.transfer-popup.select-option .layerPopCont .contents ul li label input[type='checkbox'] {position:absolute; right:10px; top:15px;}
.transfer-popup.select-option .layerPopCont .contents .section-title {padding:9px 10px; border-top:1px solid #d7d7d7; border-bottom:1px solid #f3f4f5; background-color:#f3f4f5;}
button.btn-blue-type {position:relative; width:100%; height:30px; padding-left:22px; border:1px solid #dbf2fd; text-align:left; color:#fff; background-color:#f1fafe; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
button.btn-blue-type:after {display:block; overflow:hidden; content:""; width:14px; height:19px; position:absolute; right:8px; top:8px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/icon_pack.png) no-repeat -200px 0; background-size:250px;}

.layerPop {display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;}
.layerPopInner {position:absolute;top:50%;width:100%;padding:0 20px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;z-index:1001;}
.layerPopCont {position:relative;background:#fff;}
.layerPopCont h1 {padding:11px 0 9px 10px;background:#0081e5 !important;color:#fff;font-size:14px;}
.layerPopCont .btnClose {z-index:10; position:absolute;top:0px;right:0px;width:100px;height:40px;border:0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/btn_layer_close.png) no-repeat 72px 12px; background-size:15px;text-indent:-99999px;}
.layerPopCont .layerBtn {padding:6px 0;background:#f3f4f5;border-top:1px solid #d5d5d5;text-align:center;}

.layerPopCont .listType1 li {border-top:1px solid #d5d5d5;}
.layerPopCont .listType1 li:first-child {border:0;}
.layerPopCont .listType1 li label {display:block;height:42px;padding:12px 15px 0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:13px;}
.layerPopCont .listType1 li label input {vertical-align:-2px;}
.layerPopCont .description {padding:10px; font-size:13px;}
.layerPopCont .layerBtn {padding:18px 15px; text-align:center;}
.layerPopCont .layerBtn .btnTxt {width:48%;}

/* button */ 
.btnType1 {width:95px;height:28px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;text-align:center;font-size:13px;color:#4c5363;}
.btnType2 {display:inline-block;width:100%;height:30px;padding:0 7px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;line-height:28px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:13px;color:#4c5363;}
.btnType2:before {content:"";float:right;width:7px;height:13px;margin:7px 0 0 4px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -150px -50px;background-size:250px;}
.btnType3 {display:block;height:42px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#0088f0), to(#007fe1));background:-moz-linear-gradient(19% 75% 90deg,#007fe1, #0090ff);border:1px solid #dfdfdf;border-radius:3px;color:#fff !important;text-align:center;font-size:14px;line-height:42px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.btnType4 {width:95px;height:28px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#dcdee2), to(#c8cad1));background:-moz-linear-gradient(19% 75% 90deg,#c8cad1, #dcdee2);border:1px solid #bfc1c9;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;text-align:center;font-size:13px;}
.iconSearch:before {content:"";display:inline-block;width:12px;height:12px;margin:0 4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -75px -200px;background-size:250px;vertical-align:-2px;}
.btnZoom:before {content:"";display:inline-block;width:12px;height:12px;margin:0 4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -100px -225px;background-size:250px;vertical-align:-2px;}
 
.btnTxt {height:30px;color:#4c5363;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;font-size:13px;}
.btnTxt2 {width:48%;height:30px;line-height:30px;vertical-align:middle;color:#4c5363;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;font-size:13px;}


.bestCategoryWrap {position:relative; overflow:hidden; background:#fff;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.bestCategoryWrap button {display:none; position:absolute; top:0; border:0; width:26px; height:80px; background:#fff; text-align:center; z-index:1;}
.bestCategoryWrap button span {display:inline-block; width:8px; height:16px; background:#fff url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat; background-size:250px; text-indent:-9999px;}
.bestCategoryWrap button.btn-prev {left:0; border-right:1px solid #d7d7d7;}
.bestCategoryWrap button.btn-prev span {background-position:-94px -451px;}
.bestCategoryWrap button.btn-next {right:0; border-left:1px solid #d7d7d7;}
.bestCategoryWrap button.btn-next span {background-position:-114px -451px;}
.bestCategory {overflow:hidden; overflow-x:auto; width:100%; padding:5px 0;}
.bestCategory ul {width:100%;}
.bestCategory ul:after {content:""; display:block; clear:both;}
.bestCategory ul li {float:left; width:20%; border-left:1px solid #ededed; height:70px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.bestCategory ul li:first-child {border-left:0;}
.bestCategory ul li a.ico {display:block; width:62px; height:69px; margin:1px auto 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat; background-size:250px; text-indent:-9999px; word-wrap:nowrap;}
.bestCategory ul li a.ico.best01 {background-position:-3px -526px;}
.bestCategory ul li a.ico.best02 {background-position:-74px -526px;}
.bestCategory ul li a.ico.best03 {background-position:-142px -526px;}
.bestCategory ul li a.ico.best04 {background-position:-5px -668px;}
.bestCategory ul li a.ico.best05 {background-position:-75px -668px;}
/*.bestCategory ul li a.ico.best06 {background-position:-138px -663px;}
.bestCategory ul li a.ico.best07 {background-position:0 -807px;}*/
.bestCategory ul li a.ico.best01.on {background-position:-3px -596px;}
.bestCategory ul li a.ico.best02.on {background-position:-74px -596px;}
.bestCategory ul li a.ico.best03.on {background-position:-142px -596px;}
.bestCategory ul li a.ico.best04.on {background-position:-5px -740px;}
.bestCategory ul li a.ico.best05.on {background-position:-75px -737px;}
/*.bestCategory ul li a.ico.best06.on {background-position:-138px -735px;}
.bestCategory ul li a.ico.best07.on {background-position:0 -871px;}*/

.hitcategory{width:100%; float:left;}
.hitcategory h3{font-size:13px; color:#4c565f; padding:7px 10px 5px 10px; letter-spacing:-1px; font-weight:normal;}
.hitcategory ul{float:left; width:100%;}
.hitcategory ul:after{content:"";display:block;}
.hitcategory li{line-height:30px; width:100%; letter-spacing:-1px }
.hitcategory li a{width:40%; float:left; display:inline; color:#868686; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/ico_dot_best.gif) 22px -26px no-repeat; background-size:4px 41px; padding-left:30px;}
.hitcategory li a.on{color:#198be3; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/bestico_dot.gif)  22px 13px no-repeat; background-size:4px 41px; }
.hitcategory .owl-controls{margin-top:10px; border-top:1px solid #eaeaea; height:24px !important }

.searchNone {position:relative; padding:67px 0;background:#fff;text-align:center;/*color:#b3b3b3;*/border-top:1px solid #e6e6e6;}
.searchNone:before {content:"";display:inline-block;width:75px;height:75px;background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/icon_pack.png) no-repeat -175px -150px;background-size:250px;}
.searchNone .txt1 {margin:9px 0 8px;font-size:18px;font-weight:bold; color:#b3b3b3;}
.searchNone .txt2:before {content:"";display:inline-block;width:2px;height:2px;margin:0 4px 0 0;background:#b3b3b3;vertical-align:4px;}
.searchNone .write .btnTxt {position:absolute; top:3px; right:10px; padding:0 10px;} 

.brandSort {position:relative;width:100%; overflow-x:auto;-webkit-overflow-scrolling:touch;overflow-y:hidden;}
.brandSort:after {content:"";display:block;clear:both;}
.brandSort > div {overflow:hidden; min-height:150px;}
.brandSort  ul {  list-style-type: none;float:left;}

.brandSort2 {position:relative;width:100%; overflow-x:auto;-webkit-overflow-scrolling:touch;overflow-y:hidden;}
.brandSort2:after {content:"";display:block;clear:both;}
.brandSort2 > div {overflow:hidden; min-height:150px;}
.brandSort2  ul {  list-style-type: none;float:left;}

/* 찜,최근본상품*/ 
.utilTxt {padding:6px 6px 0px 6px;text-align:right;font-size:13px;}
.utilTxt .left {margin:4px 0 0;float:left;font-size:14px;}
.utilTxt .left strong {margin-left:5px;}

.choiceTop {padding:6px;background:#fff;border-bottom:1px solid #dedede;text-align:right;}
.choiceTop .left {float:left;font-size:14px;color:#2485fb;font-weight:bold; }
.choiceTop .left .selectype1 {margin:0 0 0 4px;}

.choiceFolderList {background:#fff;}
.choiceFolderList li {padding:6px 6px 6px 10px;border-bottom:1px solid #e6e6e6;}
.choiceFolderList li button {width:60px;}
.choiceFolderList li:after {content:"";display:block;clear:both;}
.choiceFolderList li span {float:left;width:40%;height:23px;padding:7px 0 0;}
.btnWrap2 {margin: 6px 0; text-align: center;}

.cateSort #cateSort2{padding:0;}
.cateSort #cateSort2 p{padding:10px;color:#0081e5; font-weight:bold;}
.cateSort #cateSort2 p span{color:#4c5363; font-weight:normal; position:static }
.non_chk li{padding:0;}
.non_chk li label{padding: 5px 0 0 10px; min-height: 37px; font-size: 13px; line-height: 1.2; display:block; }
.non_chk li label span{display:block; position:static;}
.non_chk li.prev{border-bottom:none !important; padding-left:10px; height: 40px}
.non_chk li.prev:before{content: ""; display: inline-block; width: 8px; height: 26px; margin: 0 4px 0 0; background: url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -25px -160px; background-size: 250px; vertical-align: -1px;}


.cateSort {position:relative;}
.cateSort > li > button {width:100%;height:42px;padding:0 10px;background:#fff;border:0;border-top:1px solid #e6e6e6;color:#4c5363;text-align:left;font-size:13px;font-weight:bold;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.cateSort > li > button span {font-weight:normal;}
.cateSort > li:first-child > button {border:0;}
.cateSort > li > button:before {float:right;content:"";width:8px;height:4px;margin:8px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat 0 -175px;background-size:250px;}
.cateSort > li.on > button {color:#0081e5;} 
.cateSort > li.on > button span {color:#4c5363;} 
.cateSort > li.on > button .inCate:before {content:"";display:inline-block;width:6px;height:12px;margin:0 4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -25px -200px;background-size:250px;vertical-align:-2px;}
.cateSort > li.on > button:before {background-position:0 -200px;}
.cateSort > li.on .cateSortList {display:block;}
.cateSort .cateSortList {display:none;}
.cateSort .cateSortList li {border-top:1px solid #e6e6e6;}
.cateSort .cateSortList li a {display:block;padding:0 0 0 10px;font-size:13px;line-height:32px;}
.cateSort .cateSortList li.on a {color:#0081e5;}
.cateSort .allCateLIst {overflow-x:auto;overflow-y:hidden;-webkit-overflow-scrolling:touch;width:100%;/*height:215px;*/ border-top:1px solid #dedede}
.cateSort .allCateLIst > div {/*height:215px;*/}
.cateSort .allCateLIst > div > ul {float:left;margin-left:-2px;}
.cateSort .allCateLIst > div > ul:first-child {margin-left:0;}
.cateSort .allCateLIst > div > ul li {float:left;width:50%;margin:-1px 0 0 -1px;border:1px solid #dedede;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.cateSort .allCateLIst > div > ul li.prev a:before {content:"";display:inline-block;width:8px;height:12px;margin:0 4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -25px -175px;background-size:250px;vertical-align:-1px;}
.cateSort .allCateLIst > div > ul li a {padding:5px 0 0 10px;min-height:37px; font-size:13px; line-height:1.2;}

.over_bar {
  position:fixed;
  /*top:55px;*/
  top:0px;
  left:0;
  width:100%;
  z-index:2;
  border-bottom:1px solid #cbcbcb;
  margin-right: 16px;
 }


.newquick{position:fixed; right:10px; bottom:25px; z-index:10}
.newquick p{cursor:pointer; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/btn_top.png) -9999em -9999em no-repeat; background-size:40px 83px; display:block; width:40px; height:40px;margin-top:3px; }
.newquick .cateBtn{width:40px; height:40px; background-position:0 0; margin-bottom:3px; text-indent:-9999em; }
.newquick .TBtn{width:40px; height:41px; background-position:0 -42px; text-indent:-9999em; }

.inCate:before {content:"";display:inline-block;width:6px;height:12px;margin:0 4px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/icon_pack.png) no-repeat -25px -200px;background-size:250px;vertical-align:-2px;}
#categoryAll{font-size:12px;}


/* 찜레이어  */
.transfer-popup.select-option .layerzzim .contents{min-height:130px !important;}
.layerzzim{position: absolute; top: 50%; width: 100%; padding: 0 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; z-index: 1001; margin-top:-120px; font-family: 'Malgun Gothic', '맑은 고딕',dotum,'굴림',sans-serif;}
.layerzzim h1{margin:0; padding:0 0 0 10px; line-height:42px;}
.zzimlist {list-style-type: none; margin: 0px; padding: 0px; }
.zzimlist li{border-top: 1px solid #d7d7d7; }
.zzimlist li:first-child{border-top:none;}
.zzimlist li a{padding-left:10px; line-height:45px; display:block; color:#4c5363; text-decoration:none; outline: none; -webkit-tap-highlight-color: transparent; font-size:12px;}
.zzimlist li a.on{color:#0081e5}
.layerzzim button.btnClose{cursor:pointer;}


/* 백화점 찜 */
.prodList li .deptag {width:68px; height:20px; display:inline-block; text-align:center; font-size:11px; font-weight:normal; color:#fff; padding-top:3px; margin-left:-10px;  background:url(http://imgenuri.enuri.gscdn.com/images/mobile_dp/bul_detag.png) 0 0 no-repeat; background-size:68px 20px; }
.prodList li .thum img{width:100%; height:100%; }
.prodList li .prodPr{position:absolute; left:0; top:0; z-index:100}
.prodList li strong.tit {display: block; font-size: 15px; height: 38px; overflow: hidden; margin-bottom: 6px;}
.prodList li .logo_area {position:absolute; left:0px; top:35px;}
.prodList li .logo_area .mall_name img {width:50px; height:11px;}
.prodList li .logo_area .dep_logo {display:block; margin-top:-2px}
.prodList li .logo_area .dep_logo img {width:50px; height:19px;}
.prodList li .resposive_bt .resposive-txt {position:absolute; right:7px; top:35px; display:inline-block; height:40px; padding-right:10px; background:url(http://imgenuri.enuri.gscdn.com/images/mobile_dp/bg_list_arrow.png) no-repeat right 7px; background-size:7px auto; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.prodList li .resposive_bt .resposive-txt .hihgPrice {display:block; text-align:right;font-size:11px; color:#b5b5b5; line-height:1.2; font-weight:normal;}
.prodList li .resposive_bt .resposive-txt .hihgPrice span {font-family:verdana; font-size:13px; letter-spacing:-1px;}
.prodList li .resposive_bt .resposive-txt .txt1 {display:block;color:#8c8c8c;font-size:13px;font-weight:normal;}
.prodList li .resposive_bt .resposive-txt .opt {float:left;margin:4px 0 0;}
.prodList li .resposive_bt .resposive-txt strong {display:block;margin:0;color:#2485fb;font-size:19px;text-align:right;line-height:1.2; letter-spacing:-0.5px;}
.prodList li .resposive_bt .resposive-txt strong span {display:inline-block; font-size:12px;font-weight:normal;vertical-align:1px;}
.prodList li .resposive_bt .resposive-txt.nop {height:24px; background:0 none;}
.prodList li .resposive_bt .resposive-txt strong.soldout{color:#f65c52}


/*인기상품*/
.depart_hit{position:relative; overflow:hidden; border-bottom:2px solid #dadada; margin-top:20px; background:#ffffff}
.depart_hit h3{text-indent:8px; color:#6b6b6b; font-size:12px; height:35px; line-height:35px; padding:0 12px; border-bottom:1px solid #e5e5e5; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_dot_tit.gif) no-repeat 13px 15px; background-size: 3px}
.hit_more{position:absolute; right:10px; top:10px; color:#6b6b6b; padding-right:8px; font-size: 12px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_more_hit.png) no-repeat right 2px; background-size:5px 10px}
.go_hotdeal{position:absolute; right:10px; top:9px; text-indent:-9999em; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/deal_tit.gif) no-repeat right 0px; background-size:72px 18px; width:72px; height:18px;}

.hit_scroll{position: relative;overflow: hidden; height: 194px; background:#ffffff; }
.hit_scroll .hit_List_area{overflow-x: auto;overflow-y: hidden; -webkit-overflow-scrolling:touch; width: 100%; }
.hit_scroll .hit_product {overflow: hidden; display: inline-flex; display: -webkit-inline-box; padding-right:10px;}

.hit_List_area{padding:10px; position:relative; height:174px; }
.hit_product div{float:left; margin-right:10px; position:relative; height:174px;}
.hit_product div img{width:124px; height:124px; border:1px solid #e7e7e7}
.hit_product div .mall{position:absolute; left:0; top:0; width:43px; height:34px; border:1px solid #774008; background:#ffffff; text-align:center; }
.hit_product div .mall em{display:block; text-align:center; margin:0 auto 1px; width:38px; height:14px; font-size:9px; border-bottom:1px dotted #e5e5e5; padding-top:4px;}
.hit_product div .mall img{width:39px; height:14px; border:none;}
.hit_product div .lowest{text-align:right; position:absolute; left:1px; top:125px; padding:18px 7px 0 0; width:117px; height:21px; font-size:12px; color:#2485fb; }
.hit_product div .lowest.deal{line-height:26px; height:26px; padding:0 7px 0 0; top:99px; }
.hit_product div .lowest .shop{position:absolute; right:7px; top:6px; font-size:10px; color:#6b6b6b; }
.hit_product div .lowest .shop em{display:inline-block; vertical-align:top; margin:1px 4px 0 0; background: url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_ad.gif) 0 0 no-repeat; background-size:16px 10px; font-size:0; text-indent:-9999em; width:16px; height:10px;}
.hit_product div .lowest strong{font-size:16px; vertical-align:-1px; }

.hit_product div .sale{padding-top:7px; font-size:18px; font-family:tahoma;font-weight:bold; text-align:center; position:absolute; left:0px; top:0; background:#f65c52; width:35px; height:28px; color:#ffffff; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/bg_sale.png);}
.hit_product div .sale em{font-size:12px; vertical-align:-1px}
.hit_product div .special{padding-top:9px; font-size:15px; font-weight:bold; text-align:center; position:absolute; left:0px; top:0; background:#f65c52; width:35px; height:26px; color:#ffffff; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/bg_sale.png); }

.hit_paging{position:absolute; width:100%; top:212px; text-align:center; }
.hit_paging span{display: inline-block;margin:0 2px; background: url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_dot.png) no-repeat; background-size: 9px; width: 9px; height: 9px;}
.hit_paging span.active{background: url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_dot_ac.png) no-repeat; background-size: 9px; width: 9px; height: 9px;}

/*cpc*/
.depart_hit.cpc h3{text-indent:0; background:none; border:1px solid #e2e2e2; color:#343434; font-size:13px; font-weight:normal; display:inline-block; line-height:20px; height:20px; padding:0px 3px 0 3px; margin:6px 0 6px 10px;}
.depart_hit.cpc h3 em{color:#999999; font-weight:bold; font-size:12px; padding-left:2px; }
.depart_hit.cpc .cpcgo{position:absolute; right:8px; top:10px; color:#343434; font-size:12px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_link.gif) right 3px no-repeat; background-size:8px; padding-right:11px; }
.depart_hit.cpc .hit_scroll{height:235px;}
.depart_hit.cpc .hit_product .cpcad{width:16px; height:10px; position:absolute; left:3px; top:3px; background: url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_ad.gif) 0 0 no-repeat; background-size: 16px 10px;  text-indent:-9999em; }
.depart_hit.cpc .hit_List_area{border-top:1px solid #e5e5e5; height:215px; }
.depart_hit.cpc .hit_product div{height:215px;}
.depart_hit.cpc .hit_paging{top:250px;}
.depart_hit.cpc .lowest .tit{padding:8px 0 0px; text-align:left; color:#444444; font-size:12px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;  word-wrap:break-word; line-height: 1.2em; height: 2.3em;}
.depart_hit.cpc .lowest .shop{top:7px; right:4px;}
.depart_hit.cpc .lowest .shop img{border:none; width:32px; height:16px; margin:-3px 0 0 0;}
.depart_hit.cpc .lowest .deli{position:absolute; left:0; top:7px; color:#999999; font-size:10px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_cpc.gif) 0 1px no-repeat; background-size:24px; padding-left:15px; }
.depart_hit.cpc .lowest .deli.free{color:#82bfef; background-position:0 -14px;}

.lp_cpc_tit{padding:6px 10px; position:relative; border-bottom: 1px solid #e5e5e5;}
.lp_cpc_tit h3{border:1px solid #e2e2e2; color:#343434; font-size:13px; font-weight:normal; display:inline-block; line-height:20px; height:20px; padding:0px 3px 0 3px; margin:0;}
.lp_cpc_tit h3 em{color:#bbbbbb; font-weight:bold; font-size:12px; padding-left:2px; }
.lp_cpc_tit .cpcgo{position:absolute; right:8px; top:10px; color:#343434; font-size:12px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_link.gif) right 3px no-repeat; background-size:8px; padding-right:11px; }
.lp_cpc li:first-child{border-bottom:1px solid #dadada}
.lp_cpc li .deli{position:absolute; right:0; top:66px; color:#999999; font-size:10px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_cpc.gif) 0 1px no-repeat; background-size:24px; padding-left:15px; }
.lp_cpc li .deli.free{color:#82bfef; background-position:0 -13px;}

.gridType .lp_cpc .deli{position:absolute; left:0; top:9px; color:#999999; font-size:10px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_cpc.gif) 0 1px no-repeat; background-size:24px; padding-left:15px; }
.gridType .lp_cpc .deli.free{color:#82bfef; background-position:0 -13px;}


/* 20150615 브랜드 검색 배너 */
.brand_topbox {width:100%; position:relative;}
.brand_topbox .ico_ad{position:absolute; right:10px; top:5px; font-family:tahoma; color:#b6b6b6; font-size:9px; }
.brand_topbox img {width:100%;}
.brand_topbox .type_total {position:relative; height:123px; overflow:hidden; /*background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/brandshop/bannd_banner_bg.jpg) #fff no-repeat 0 0;*/ background-color:#fff; background-size:320px 123px; }
.brand_topbox .type_total .product {position:absolute; top:40px; left:170px; height:73px; overflow:hidden; z-index:300} 
.brand_topbox .type_total .product:after {content:""; display:block; clear:both;}
.brand_topbox .type_total .product .item {position:relative; float:left; width:73px;  height:73px; margin-right:5px; border:1px solid #e7e7e7;}
.brand_topbox .type_total .product .item a {display:block;}
.brand_topbox .type_total .product .item a img {z-index:10;}
.brand_topbox .type_total .product .item a strong {position:absolute; bottom:0; display:block; width:100%; height:18px; line-height:18px; text-align:center; color:#fff; font-size:10px; letter-spacing:-1px; background-color:#000; opacity:.5; z-index:20;}

/* 브랜드관 */
nav.brandshop h2 {height:27px; font-weight:bold; padding:10px 0 0 42px; box-shadow: 0 2px 3px #474747; border-bottom: 1px solid #041e49; }
nav.brandshop h2 .back{background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/brandshop/btn_back_arrow.png) no-repeat 0 0; background-size:42px 37px; width:42px; height:37px; position:absolute; left:0; top:0; text-indent:-9999em;}
.shop_banner {} 
.brand_sub {height:40px; line-height:40px; text-align:center; font-size:15px; color:#fff; border-bottom:1px solid #e5e5e5; }
.brand_sub.type1 {background-color:#424242;} /* 리스트형 */
.brand_sub.type2 {background-color:#00bff3;} /* 바둑판형 */
.brand_sub.type3 {background-color:#fff;}

/* 브랜드관 LP 공통 */
.brandshopList{margin-bottom:20px; }
.brandshopList:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.brandshopList > li{border-bottom:1px solid #dadada; background:#ffffff; z-index:10; }
.brandshopList > li a.listarea{display:block; color:#444444; position:relative; z-index:1}
.brandshopList > li a .detail_info {position:relative;}
.brandshopList > li a .detail_info .com{display:block; height:20px; font-size:12px; color:#6b6b6b; position:absolute; left:0; top:0; width:100%; overflow:hidden; text-overflow:ellipsis;white-space:nowrap;}
.brandshopList > li a .detail_info strong{display:block; font-size:15px; overflow:hidden; margin-bottom:6px;}
.brandshopList > li a .detail_info .shop{font-size:11px; display:block; color:#6b6b6b; position:absolute;  }
.brandshopList > li a .detail_info .price {min-width:148px; text-align:right; display:block; font-size:12px; height: 18px; position:absolute; right:0; padding:4px 5px 0 5px;background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f5f5f5)); background: -moz-linear-gradient(19% 75% 90deg,#f5f5f5, #fff);border: 1px solid #e5e5e5;text-align: right;}
.brandshopList > li a .detail_info .price .min span{padding-left:20px; display:inline-block;}
.brandshopList > li a .detail_info .price .min{position:absolute; left:4px; top:6px; font-size:11px; color:#6b6b6b;}
.brandshopList > li a .detail_info .price em{font-family:Tahoma; color:#2485fb; font-size:15px; font-weight:bold; }
.brandshopList > li a .detail_info .price em em{font-size:11px; font-family:malgun gothic; vertical-align:1px; font-weight:normal;}
.brandshopList > li a .detail_info .price .soldout{display:block; padding-top:1px; color:#ff7781;font-family:malgun gothic; font-size:14px; text-align:center;}
.brandshopList > li a .detail_info .price .release{display:block; padding-top:1px; color:#2485fb;font-family:malgun gothic; font-size:14px; text-align:center;}
.brandshopList > li .bt_info {display:none; padding:7px 0; margin: 0 11px; border-top:1px solid #f5f5f5}
.brandshopList > li .bt_info ul {width:100%; }
.brandshopList > li .bt_info ul:after {content:""; clear:both; display:block;}
.brandshopList > li .bt_info ul li {float:left; text-align:center; font-size:11px; color:#6b6b6b; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/brandshop/bul_bar_gray.png) no-repeat 0 2px; background-size:1px 9px;}
.brandshopList > li .bt_info ul li:nth-child(1) {width:33%; background:0;}
.brandshopList > li .bt_info ul li:nth-child(2) {width:38%;}
.brandshopList > li .bt_info ul li:nth-child(3) {width:29%;}
.brandshopList > li .bt_info ul li .logo_enuri {display:inline-block; width:12px; height:14px; margin-right:5px; text-indent:-9999em; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/brandshop/logo_enuri_e.png) no-repeat 0 0; background-size:12px 14px;}
/* 별점 */
.star_score {background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/icon_pack_vip.png) 0 0 no-repeat; background-size:250px 250px;}
.star_comm {overflow:hidden;width:90px; display:inline-block; vertical-align: -3px;}
.star_comm .star_rate {float:left;width:64px;height:12px; background-position:0 0}
.star_comm .inner_star {display:block;width:100%;height:100%;font-size:0;line-height:0;background-position:0 -15px;text-indent:-9999px}
.star_comm .num_rate {float:left;font-size:12px;line-height:14px;color:#6b6b6b; margin-left:3px; }
.star_comm.star_type2 .star_rate {width:58px; height:11px; margin-top:1px; background-position:-90px 0;}
.star_comm.star_type2 .inner_star {background-position:-90px -15px;}

/* soldout 리스트형*/
.brandshopList > li .thum {position:absolute; left:11px; top:13px; width:109px; height:109px;  border:1px solid #e7e7e7;}
.brandshopList > li .thum img {z-index:10;}
.brandshopList > li .thum.soldout {background:#000;}
.brandshopList > li .thum.soldout img{opacity:0.6;}
.brandshopList > li .thum.soldout:after{position:absolute;top:50%;left:50%;width:49px;height:49px;margin:-25px 0 0 -25px;background:url('http://imgenuri.enuri.gscdn.com/images/mobilefirst/brandshop/soldout1.png') no-repeat 0 0;background-size:49px 49px;content:'';}

/* soldout 바툭판형*/
.brandshopList > li .thumb img {z-index:10;}
.brandshopList > li .thumb.soldout {position:relative; display:block; background:#000;}
.brandshopList > li .thumb.soldout  img{opacity:0.6;}
.brandshopList > li .thumb.soldout:after{position:absolute;top:50%;left:50%;width:98px;height:98px;margin:-49px 0 0 -49px;background:url('http://imgenuri.enuri.gscdn.com/images/mobilefirst/brandshop/soldout2.png') no-repeat 0 0;background-size:98px 98px;content:'';}

/* 상세 리스트형 */
.brandshopList.type1 > li a.listarea {height:123px; padding:13px 11px 0 131px;  }
.brandshopList.type1 > li a .detail_info {padding-top:28px; }
.brandshopList.type1 > li a .detail_info .com {padding:11px 0 2px 0; }
.brandshopList.type1 > li a .detail_info strong {height:37px; padding:0;}
.brandshopList.type1 > li a .detail_info .shop {right:0px; top:69px;}
.brandshopList.type1 > li a .detail_info .price {top:85px; }
/* 상세 바둑판형 */
.brandshopList.type2 > li a.listarea{height:auto; padding:20px 35px; }
.brandshopList.type2 > li a .detail_info {height:78px; padding:0;}
.brandshopList.type2 > li a .detail_info .com{ padding:10px 0 2px 0;}
.brandshopList.type2 > li a .detail_info .shop {top:61px; left:0;}
.brandshopList.type2 > li a .detail_info .price {top:54px;}
.brandshopList.type2 > li a .detail_info strong {height:18px; padding-top:27px; }


@media screen and (min-width: 540px){
.goods:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.goods li{float:left; width:50%; }
.goods li a{margin:0 5px;}
}

/*160406 마음열기 */
.news{color: #6b6b6b; padding: 10px 0px 8px 0px; margin:0 10px; border-bottom:1px solid #cccccc; display:block; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }
.news span{color:#2485fb; display:inline-block; border:1px solid #2485fb; width:38px; text-align:center; padding-top:1px; border-radius:1px; font-size:11px; vertical-align:2px; margin-right:5px;}

.tab_trend ul{height:34px; background: #ffffff; margin-top:7px; border-bottom:1px solid #dadada}
.tab_trend.three li{width:33.3%; float:left; position:relative;}
.tab_trend.three li:last-child{width:33.4%; }
.tab_trend  li a {display:block; text-align:center; line-height:34px; color:#b3b3b3}
.tab_trend  li a.selected {color:#181818; font-weight:bold;}
.tab_trend li a.selected:after {position:absolute; content:""; left:0; bottom:0; width:100%; height:2px; background:#40cde6; }

.guidelist{background:#ffffff; border-bottom:2px solid #dadada}
.guidelist ul{margin:0  6px;}
.guidelist li{position:relative;  min-height:10px; padding:11px 9px; border-bottom:1px solid #f5f5f5;}
.guidelist li a {display:block; white-space: nowrap; text-overflow: ellipsis; color:#444; overflow:hidden; }
.guidelist li.thum{height:50px; position:relative; padding-left:69px; font-weight:bold;}
.guidelist li.thum a{margin-top:10px; width:100%;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; white-space:normal !important;}
.guidelist li.thum img{width:50px; height:50px; position:absolute; left:8px; top:11px;}
.guidelist .morebtn{font-size: 14px; text-align: center; height: 26px; display: block; color: #6b6b6b; padding-top: 10px; }
.guidelist .morebtn span{display:inline-block; padding-right:10px; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_more.gif) right 4px no-repeat; background-size:4px 9px; }

.guidelist li.banner{padding:6px 0; font-size:13px; }
.guidelist li.banner img{width:100%; }
.guidelist li.banner span{display:block; font-weight:bold; padding-top:5px; font-size:15px;}


/* 카테고리 상세레이어 */
.prodCategory.cen{text-align:center; background: #f0f1f3; padding: 10px 0 5px;}
.catebox_layer{position:relative; display:inline-block; background:#ffffff; border:1px solid #85aad3; }
.catebox_layer table{background:#f9f9f9}
.catebox_layer table td{padding:5px; position:relative; }
.catebox_layer table td.on{color:#3162c7}
.catebox_layer .close{position:absolute; right:0; bottom:2px; background:url(http://imgenuri.enuri.gscdn.com/images/view/catelayer_x_red.gif) 0 0 no-repeat; width:10px; height:10px; text-indent:-9999em;}
.catebox_layer .in_table{border:none; width:100%;}
.catebox_layer .in_table td{border:none; padding:0 2px 0px 2px; }

.prodCategory{background:#ffffff;}
.prodCategory li {border-bottom:1px solid #dcdcdc;}
.prodCategory li a {display:block;padding:0 0 0 10px;color:#4c5363; line-height:38px; font-size:14px;}
.prodCategory li a:before {content:"";float:right; height:11px;margin:10px 10px 0 0;background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/icon_pack.png) no-repeat -100px 0;background-size:250px;}
.prodCategory li a span {color:#adaeb0;font-size:11px; }