@charset "utf-8";

.rental input,
.rental textarea,
.rental select{box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border:1px solid #d2d2d2; color:#444444; font-weight:bold; font-size:12px}

.rental h3{border-bottom:1px solid #444444; background:url(http://img.enuri.info/images/mobilefirst/ico_h3.gif) 0 11px no-repeat; background-size:7px; text-indent:10px; line-height:31px;}
section .rental {border-bottom:2px solid #dadada; padding:10px; margin-bottom:7px; background:#ffffff; color:#444444}
section .rental img{width:100%; }

section .rental .rental_detail{margin-bottom:15px;}
section .rental .rental_detail li{padding:10px 0 10px 65px; border-bottom:1px solid #eeeeee; position:relative; }
section .rental label:first-child{position:absolute; left:2px; top:24px; }
section .rental label{position:absolute; left:2px; top:63px; font-size:12px }
section .rental label.num{position:absolute; left:2px; top:65px; font-size:12px }
section .rental span.inForm{line-height:40px; display:block; }
section .rental span.inForm select{background:url(http://img.enuri.info/images/mobilefirst/select_box_bullet.png) 96% 13px no-repeat; background-size:7px; color:#999999; font-weight:normal; padding-right:30px}
section .rental span.inForm .price{color:#2680ef; font-family:tahoma; font-size:16px; font-weight:bold;}
section .rental span.inForm input, section .rental select{height:33px; padding:0px 0px 0px 10px; width:100%;}
section .rental span.inForm span{display: table-cell; text-align: center; }
section .rental span.inForm span input{width:100%;}
section .rental span.inForm span.sp{width:20px;}

section .rental span.searchbtn{width:74px; }
section .rental span.searchbtn button{margin-left:10px; width:64px; background:#787878; color:#ffffff; border:none; height:33px}
section .rental span.inForm textarea{background: url(http://img.enuri.info/images/mobilefirst/txt_input.png) no-repeat 10px 12px; background-size:210px; border-radius:0; line-height:18px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border:1px solid #d2d2d2; padding:10px; width:100%; min-height:60px; font-weight:bold; font-size:12px}
section .rental span.inForm textarea.focus {background: #ffffff !important; }


section .rental span.inForm .txt_privacy{-webkit-overflow-scrolling: touch;overflow-x: auto; overflow-y: hidden; line-height:18px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border:1px solid #d2d2d2; padding:10px; width:100%; height:80px; overflow:auto; color:#b6b6b6; font-size:12px}
section .rental span.inForm label.chk{position:static; margin-top:-3px; display:block; }
section .rental span.inForm label.chk input{border:none; width:18px; height:18px;}
.rental .btnWrap{width:150px; margin:0 auto; }
.rental .btnWrap a{border:none; }

/*주소검색*/
.dim{z-index:101; }
.layerPop{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1;}
.adr_search{padding:0 10px; position:absolute; width:100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  }
.adr_search h2{background:#81a9db; color:#ffffff; font-size:15px; padding: 11px 0 9px 10px;}
.adr_search .btnClose {z-index:10; position:absolute;top:10px;right:20px;width:16px;height:16px;border:0;background:url(http://img.enuri.info/images/mobilefirst/icon_pack_vip.png) no-repeat -65px -80px;background-size:250px;text-indent:-99999px;}
.adrarea{padding:5px 10px; background:#ffffff; }
.adr_tab {position:relative; padding-top:31px; }
.adr_tab>li>a {display:block; position:absolute; top:0; width:50%; height:33px; line-height:33px; text-align:center; background:#e6e6e6; color:#999999; border:1px solid #e6e6e6; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.adr_tab>li.on>a {border:1px solid #81a9db; background:#ffffff; color:#444444; font-weight:bold; }
.adr_tab>li:first-child>a {left:0;}
.adr_tab>li+li>a {left:50%;}
.adr_tab>li>div {height:0; overflow:hidden; position:absolute;}
.adr_tab>li.on>div {height:auto; position:static; padding-top:15px;}

.adr_tab .location{padding:0 68px 10px 48px; position:relative; }
.adr_tab .location label{color:#444444; position:absolute; left:0; top:8px; }
.adr_tab .location .post_search{width:100%; height:33px; border:1px solid #d2d2d2; text-indent:5px;}
.adr_tab .location .searchbtn{position:absolute; right:0; top:0; width:68px; background:#787878; color:#ffffff; border:none; height:35px}
.adr_tab .location em{color:#b6b6b6; font-size:11px; padding:5px 0 0 5px; display:block; }
.adr_tab .adr_sel{border-top:1px solid #eeeeee; text-align:center; color:#444444; padding:15px 0}

.adr_sel_list{height:200px; -webkit-overflow-scrolling: touch;overflow-x: auto;  border-top:1px solid #787878; margin-bottom:15px }
.adr_sel_list ul{color:#444444; }
.adr_sel_list li{border-bottom:1px solid #eeeeee; padding:10px 0 10px 75px; position:relative; cursor:pointer; }
.adr_sel_list li:last-child{border-bottom:none; }
.adr_sel_list li span{position:absolute; left:5px; top:10px;}

