@charset "utf-8";

/* 적립금 */
body{background:#f2f2f2 !important}
.reward .save{background:#343434; color:#ffffff; line-height:50px; position:relative; overflow:hidden;}
.reward .save strong{font-size:16px; padding:0 3px 0 10px; letter-spacing}
.reward .save span{padding-left:40px; font-size:24px; position:absolute; right:10px; top:0; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_save.png) 0 11px no-repeat; background-size:32px 28px; }
.reward .save span em{font-size:13px; }
.mall_save{padding:5px;}
.savingList{padding-top:10px}
.savingList li{background:#ffffff; border-radius:4px; padding:0 0 0px 87px; margin-bottom:7px; position:relative; box-shadow: 0px 1px 0px 0px #d2d1d1; min-height:70px}
.savingList li .mall{width:75px; height:41px; position:absolute; left:0; top:14px;}

.savingList li em.date{font-size:12px; color:#787878;display:block; padding-top:7px;}
.savingList li .num{padding-right:75px;}
.savingList li .num span{font-size:12px; display:block; color:#787878; border-bottom:1px solid #eeeeee; padding-bottom:5px}
.savingList li .num .detail{display:none;}
.savingList li .num .detail em{color:#787878; border:none;}
.savingList li .num.txtclose .detail{z-index:10; display:block; position:absolute; right:6px; top:20px; width:100%; background:#ffffff; border:1px solid #787878; border-radius:4px; padding:12px 7px 7px 7px; font-size:12px; color:#171717; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.savingList li .num .detail .price{font-size:14px; text-align:right; border-top:1px solid #e2e2e2; border-bottom:none; color:#171717; padding-top:5px; margin-top:5px; }

.savingList li .num em{color:#343434; border-bottom:1px solid #343434; }
.savingList li .num em.more{width:15px; height:15px; margin-left:5px; border-bottom:none; background: url(http://img.enuri.info/images/mobilefirst/reward/ico_plus.png) no-repeat right 0; background-size: 15px 38px; display: inline-block; text-indent:-9999em }
.savingList li .txtclose{display:block; font-size:14px; position:relative; }
.savingList li .txtclose em.more{background-position:right bottom;}
.savingList li .save_m{color:#8a8a8a; font-size:13px; padding:5px 75px 0 0; display:block; }
.savingList li .save_m strong{color:#171717; font-size:14px; float:right; font-weight:normal;}
.savingList li button.btnsave{background:#2680ef; border:1px solid #0073be; color:#ffffff; position:absolute; right:7px; top:6px; border-radius:3px; width:59px; height:56px; }
.savingList li span.savebtn{background:#ffffff; border:1px solid #e2e2e2; color:#0073be; position:absolute; right:7px; top:6px; border-radius:3px; width:59px; line-height:56px; text-align:center; display:block;}
.savingList li span.ready{color:#000;}
.savingList li span.end{color:#bbbbbb; background:#f9f9f9;}
.savingList li span.end02{color:#ff4a57;}

.savetxt{font-size:11px; color:#787878; }
.savetxt li{padding:0 10px; letter-spacing:-1px;}

@media screen and (max-width:320px){
.savingList li{padding:0 0 22px 87px;}
.savingList li .save_m strong{display:block; float:left;}
.savingList li .save_m strong:after{clear:both;display:block;content:'';}
.savingList li .num.txtclose .detail{top:35px}
.reward .save strong{letter-spacing:-1px;}
.reward .save span{background:none;}
}


/* 레이어 */
.pop{position: fixed; width: 100%;height:180px; padding: 0 40px; margin-top:-90px; top:50%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.rewardLayer{position:relative; background:#ffffff; width:100%; height:180px; color:#787878; padding:4px;  text-align:center; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.rewardLayer p{height:132px; letter-spacing:-1px; }
.rewardLayer p strong{padding:48px 0 2px 0}
.rewardLayer strong{color:#171717; display:block; font-size:16px; }
.rewardLayer .btn_ok{width:100%; background:#2680ef; color:#ffffff; border:none; line-height:40px; }
.rewardLayer p.one strong{padding:57px 0 56px 0}

/*캐시아웃 신청*/
.cashout{background:#ffffff !important; }
.cashout .mall_save{background:#f2f2f2 }
.cashout .mall_save .savetxt{padding:8px 0 0 0}
.cashout .mall_save .savetxt li{padding:0 0 0 5px;}

.cash{padding-top:10px}
.cash li{background:#ffffff; border-radius:4px; padding:9px 153px 0 8px; position:relative; box-shadow: 0px 1px 0px 0px #d2d1d1; height:61px; color:#787878; font-size:12px;}
.cash li .price{display:block; border-top:1px solid #eeeeee; font-size:14px; margin-top:6px; color:#171717; font-weight:bold; padding-top:5px}
.cash li .price strong{color:#2680ef; font-size:24px;vertical-align:-2px }
.cash li .btncashout{background:#ffffff; border:1px solid #e2e2e2; color:#2680ef; position:absolute; right:7px; top:6px; border-radius:3px; width:93px; line-height:56px; text-align:center; display:block; box-shadow: 0px 1px 0px 0px #f5f5f5;}

section.casharea{background:#ffffff; }
section.casharea h2{border-bottom:2px solid #787878; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_dot.png) 10px 25px no-repeat #f2f2f2; background-size:3px; font-size:16px; padding:18px 0 5px 17px; font-weight:normal;}

.cashlist th{border-bottom:1px solid #e2e2e2; color:#81a9db; line-height:40px; font-weight:normal; background:url(http://img.enuri.info/images/mobilefirst/reward/line_th.gif) left 8px no-repeat; background-size:1px 24px; }
.cashlist th:first-child{background:none;}
.cashlist td{color:#787878; line-height:40px; border-bottom:1px solid #e2e2e2; text-align:center; }
.cashlist td:nth-child(4){color:#171717; text-align:right; padding-right:20px; }
.cashlist td div.tit{width:100%; height:40px; overflow:hidden; white-space:nowrap; word-wrap:normal;text-overflow:ellipsis; }

.paging{width: 100%; padding: 15px 0; text-align: center;}
.paging button{border-radius:2px; border:1px solid #e2e2e2; width:48px; height:30px; box-shadow: 0px 1px 0px 0px #f5f5f5; text-indent:-9999em; background:url(http://img.enuri.info/images/mobilefirst/reward/btn_paging.png) 0 0 no-repeat #ffffff; background-size:42px;}
.paging button.prev{background-position:18px -20px;}
.paging button.prev_n{background-position:18px 6px;}
.paging button.next{background-position:-13px -20px;}
.paging button.next_n{background-position:-13px 6px;}
.paging span{vertical-align:-1px; color:#787878; padding:0 5px;}
.paging span strong{color:#171717; font-weight:normal;}

.applyform{padding:28px;}
.applyform dl{border:1px solid #e2e2e2; border-bottom:none; position:relative; font-size:13px}
.applyform dl:after{clear:both;display:block;content:''; }
.applyform dl dt{border-right:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2; width:25%;float:left; background:#f9f9f9; color:#787878; height:45px; padding-top:14px; text-align:center; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.applyform dl dd{border-bottom:1px solid #e2e2e2;width:75%; float:left; height:45px; padding:5px 8px 0px 8px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.applyform dl dd input{width:100%; border:1px solid #d2d2d2; padding:8px 0px 8px 4px; font-size:13px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.applyform dl dd select{text-indent:4px; width:99.9%; border:1px solid #d2d2d2; padding:8px 0px 8px 0px; font-size:13px; background:url(http://img.enuri.info/images/mobilefirst/reward/bg_select.gif) right top no-repeat; background-size:35px 32px; color:#999999; }
.applyform p.cashbtnarea{text-align:center; padding:30px 0}
.applyform .btn_cash{background:#2680ef; border:1px solid #0073be; color:#ffffff; border-radius:3px; width:149px; height:48px; }


/*faq*/
section.casharea h2.faq{background:url(http://img.enuri.info/images/mobilefirst/reward/ico_dot.png) 10px 21px no-repeat #f2f2f2; background-size:3px; border-bottom:none; padding:14px 0 5px 17px; }
.faqtxt{font-size:11px; color:#787878; padding:0 10px 5px 10px; letter-spacing:-1px; border-bottom:2px solid #787878; background:#f2f2f2;}

.faq dt{line-height:40px; border-bottom:1px solid #e2e2e2; color:#787878; padding-left:30px; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_qna.png) 8px 10px no-repeat #f9f9f9; background-size:20px 150px;}
.faq .active{color:#000; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_qna.png) 8px -56px no-repeat #edf5ff; background-size:20px 150px; border-bottom:1px solid #d7e1ed;}
.faq dd{border-bottom:1px solid #787878; padding:12px 30px; font-size:13px; color:#787878; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_qna.png) 8px -122px no-repeat #ffffff; background-size:20px 150px;}


/*일대일문의*/

.btnrequest{display:block; background:#f2f2f2; padding:15px 10px 0 10px; }
.btnrequest button{width:100%; background:#ffffff; color:#171717; font-size:16px; border:1px solid #d2d2d2; border-radius:3px; line-height:38px; box-shadow: 0px 2px 0px 0px #e9e9e9;}
.btnrequest button em{padding-left:24px; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_request.png) 0 1px no-repeat; background-size:20px; }

.request_list{position:relative; table-layout:fixed; border-bottom:1px solid #e2e2e2; }
.request_list th{color:#81a9db; line-height:40px; font-weight:normal; background:url(http://img.enuri.info/images/mobilefirst/reward/line_th.gif) left 8px no-repeat; background-size:1px 24px; }
.request_list th:first-child{background:none;}
.request_list td{color:#787878; line-height:40px; border-top:1px solid #e2e2e2; text-align:center; }
.request_list td:nth-child(4){color:#171717; text-align:right; padding-right:20px; }
.request_list td div.tit{width:100%; height:40px; overflow:hidden; white-space:nowrap; word-wrap:normal;text-overflow:ellipsis; }
.request_list tbody tr.tr_visible {display:table-row; }
.request_list tr.active td{background:#edf5ff; color:#171717; border-bottom:none; border-top:1px solid #000000 }
.request_list .tr_visible a {position:absolute; width:100%; text-indent:-9999px; left:0; background:#fff; opacity:0; -ms-filter:alpha(opacity=0); filter:alpha(opacity=0);}
.request_list td span.end{color:#bbbbbb; }
.request_list td span.standby{color:#ff4a57; }
.request_list tr.reply{background:#edf5ff; display:none; }
.request_list tr.reply td{padding:10px; padding-top:0; font-size:13px; text-align:left; line-height:18px; border-top:none; border-bottom:1px solid #787878}
.request_list tr.reply td p.q{background:#ffffff; color:#171717; border:1px solid #d7e1ed; padding:10px;}
.request_list tr.reply td div.a{background:#ffffff; color:#171717; border:1px solid #d7e1ed; padding:10px; margin-top:10px; position:relative; }
.request_list tr.reply td div.a span{position:absolute; left:28px; top:-8px; width:18px; height:8px; background:url(http://img.enuri.info/images/mobilefirst/reward/a_bullet.png) 0 0 no-repeat; background-size:18px 8px; }

.apply_layer{height:397px; width:100%; position:absolute; left:0; top:0; background:#ffffff; }
.apply_layer h2{background:#81a9db; border-bottom:1px solid #719acd; line-height:42px; color:#ffffff; text-align:center; font-size:16px; }
.apply_layer h2 span.back{width:32px; height:43px; position:absolute; left:0; top:0; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_back.png) 8px 11px no-repeat; background-size:20px; display:block; text-indent:-9999em;}
.apply_layer fieldset{padding:15px 10px 10px; }
.apply_layer fieldset p{position:relative; margin-bottom:10px;}
.apply_layer fieldset p input{border:1px solid #d2d2d2; width:99.8%; padding:10px; border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.apply_layer fieldset p textarea{border-radius:0;border:1px solid #d2d2d2; height:205px; width:100%; padding:10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.apply_layer fieldset .btnaera{width:100%;}
.apply_layer fieldset .btnaera li{width:50%; float:left;box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.apply_layer fieldset .btnaera li:first-child{padding-right:10px; }
.apply_layer fieldset .btnaera li button{width:100%; border:1px solid #2680ef; background:#2680ef; color:#ffffff; font-size:16px; box-shadow: 0px 1px 0px 0px #f5f5f5; line-height:38px;}
.apply_layer fieldset .btnaera li:first-child button{width:99%; border:1px solid #e2e2e2; background:#ffffff; color:#787878; font-size:16px; box-shadow: 0px 1px 0px 0px #f5f5f5;}

.notxt{color:#787878; padding:11px 0 0 14px;}


/*home*/
.main{background:url(http://img.enuri.info/images/mobilefirst/reward/bg_save_top.gif) 0 0 repeat-x; background-size:5px 236px;}
.home_top{height:226px; }
.toparea{position:relative; }
.toparea li{color:#bbbbbb; font-size:12px; }
.toparea li strong{color:#ffffff; font-size:16px; display:block; }
.toparea li strong em{font-size:12px; font-weight:normal; vertical-align:1px;}
.toparea li:first-child{position:absolute; left:10px; top:18px; }
.toparea li:last-child{position:absolute; right:10px; top:18px; text-align:right;}
.toparea li.save_m{position:absolute; left:50%; top:38px; width:204px; height:200px; margin: 0 auto 0 -100px; background:url(http://img.enuri.info/images/mobilefirst/reward/bg_savem.png) center 0 no-repeat; background-size:200px;}
.toparea li.save_m div{width:134px; text-align:center; margin:45px auto 0; color:#ffffff; font-size:18px; }
.toparea li.save_m div strong{font-size:34px; letter-spacing:-1px; font-weight:normal;}
.toparea li.save_m div strong em{font-size:13px; font-weight:normal; vertical-align:2px;}

.home_list{padding:0 5px;}
.home_list ul li{position:relative; cursor:pointer; background:url(http://img.enuri.info/images/mobilefirst/reward/ico_reward.png) 0 0 no-repeat #ffffff; background-size:37px 250px; width:100%; border-radius:4px; box-shadow: 0px 2px 0px 0px #e9e9e9; color:#343434;  font-size:12px; height:71px; margin-bottom:7px; padding:18px 55px 0 73px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;}
.home_list ul li:after{display:block;content:''; position:absolute; right:30px; top:25px; width:12px; height:40px;  background:url(http://img.enuri.info/images/mobilefirst/reward/ico_bullet.png) left 0 no-repeat; background-size:20px;}
.home_list ul li:nth-child(1){background-position:29px 17px;}
.home_list ul li:nth-child(2){background-position:29px -48px;}
.home_list ul li:nth-child(3){background-position:29px -120px;}
.home_list ul li:nth-child(4){background-position:29px -194px;}
.home_list ul li span{display:block; font-size:16px; color:#171717; }