@charset "utf-8";

/*탭2개*/
.tab_trend ul {height:34px; background: #ffffff; border-bottom: 2px solid #dadada;}
.tab_trend  li {width:50%; float:left; position:relative;}
.tab_trend  li a {display:block; text-align:center; line-height:34px; color:#b3b3b3}
.tab_trend  li a.selected {color:#181818; font-weight:bold;}
.tab_trend li a.selected:after {position:absolute; content:""; left:0; bottom:0; width:100%; height:2px; background:#40cde6; }

/*탭3개*/
.tab_trend.three li{width:33.3%; float:left; position:relative;}
.tab_trend.three li:last-child{width:33.4%; }

.tab_news ul {height:34px; background: #ffffff;}
.tab_news  li {width:50%; float:left; position:relative;}
.tab_news  li a {display:block; text-align:center; line-height:34px; height:34px; color:#b3b3b3}
.tab_news  li a.selected {color:#181818; font-weight:bold; }
.tab_news li a.selected:after {position:absolute; content:""; left:0; bottom:0; width:100%; height:2px; background:#40cde6; }

.trend_area {margin-top:10px; border-bottom:2px solid #dadada; position:relative; }
.trend_area h3 {font-size:15px; padding:10px 10px 6px 10px; color:#000000; letter-spacing:-1px;}
.trend_area h3 .stress1 {color:#00bcdd;}
.trend_area h3 .stress2 {color:#ff7781;}

.trend_area .news_rank {overflow:hidden;}
.trend_area .news_rank ul {margin:0 13px;}
.trend_area .news_rank li {padding:11px 0 11px 0;line-height:14px; border-bottom:1px solid #f5f5f5;}
.trend_area .news_rank li a {display:block; height:16px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; padding-right:70px; position:relative;}
.trend_area .news_rank li em{margin-right:8px; font-style:italic;  font-family:Tahoma; font-weight:bold; font-size:12px; color:#00bcdd;}
.trend_area .news_rank li a .hits {position:absolute; right:8px; top:0px;  font-size:11px; color:#6b6b6b}
.trend_area .news_rank li a .hits em {display:inline-block; width:13px; height:10px; text-indent:-999em; margin:0; padding-right:5px; background:url(http://img.enuri.info/images/mobilefirst/ico_eye.png) 0 0 no-repeat; background-size:13px 10px; }

.trend_wrap:after{content:""; clear:both; display:block; }
.sp_today{background:#ffffff; }

.recentnews_tab{width:100%; height:34px; border-top:1px solid #e3e3e3; box-shadow: 0px 2px 1px #d4d4d4; padding:0 15px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.recentnews_tab li{float:left; }
.recentnews_tab li:nth-child(1){width:25%; }
.recentnews_tab li:nth-child(2){width:20%; }
.recentnews_tab li:nth-child(3){width:30%; }
.recentnews_tab li:nth-child(4){width:25%; }
.recentnews_tab li a{color:#6b6b6b; letter-spacing:-1px; text-align:center; display:block; padding-top:8px; height:26px; position:relative;}
.recentnews_tab li a.on{font-weight:bold; color:#444; }
.recentnews_tab li a.on:after{content: ""; height: 2px; background: #40cde6;position:absolute; left:0; bottom:0; width:100%;}

.top_img{margin:10px 6px;}
.top_img img{width:100%; }

.top_news_box {margin-top:10px; overflow:hidden; background:#e5e5e5; }
.top_news_box ul {overflow:hidden; border-bottom:2px solid #dadada;background:#ffffff; padding-bottom:6px }
.top_news_box ul li {float:left; width:50%;}
.top_news_box ul li a {display:block;margin:0 16px 0 14px;}
.top_news_box ul li .thumb {display:block; min-height:106px; border:1px solid #ececec;}
.top_news_box ul li img { width:100%; min-height:106px; /*height:100%;*/} 
.top_news_box ul li .tit {display:block; overflow:hidden; height:30px; line-height:15px; padding:5px 6px 0px 6px; font-weight:bold; color:#6b6b6b; font-size:13px;}
.top_news_box ul li .tit  strong {color:#5081b5;}

.news_list{background:#e5e5e5; padding-top:5px;}
.news_list li {position:relative;  min-height:10px; padding:14px 9px; border-bottom:2px solid #dadada; margin-bottom:5px; background:#ffffff;}
.news_list li:last-child{margin-bottom:0;}
.news_list li strong{display:block; height:32px; color:#6b6b6b; overflow:hidden; line-height:16px; margin-bottom:3px; }
.news_list li a .hits{position:absolute; right:8px; bottom:9px;  font-size:11px; color:#6b6b6b}
.news_list li a .hits em{display:inline-block; width:13px; height:10px; text-indent:-999em; padding-right:5px; background:url(http://img.enuri.info/images/mobilefirst/ico_eye.png) 0 0 no-repeat; background-size:13px 10px; }
.news_list li span.txt{display:block; padding-top:5px; height:34px; line-height:17px; color:#999999; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; }
.news_list li .date{font-size:10px; color:#b6b6b6}
.news_list li .date em{padding:1px 5px 0 0;}
.news_list li .date em:first-child{border-right:1px solid #f5f5f5; margin-right:5px;}

.news_list.recent li {min-height:29px; }
.news_list.recent li a .thumb {display:block;border:1px solid #ececec;}
.news_list.recent li .date {position:absolute; left:18px; bottom:10px; font-size:10px; color:#b6b6b6;}
.news_list.recent li .date .today{color:#5081b5}
.news_list.recent li .date em{padding-right:10px;}
.news_list.recent li .date em:first-child{border-right:1px solid #f5f5f5; }
.news_list li em.today{color:#5081b5}


.news_list li.news_pic {padding: 14px 9px;}
.news_list li.news_pic a {background:none; display:block; }
.news_list li.news_pic .txt{padding-right: 85px;}
.news_pic .thumb{position:absolute; right:10px; bottom:10px; }
.news_pic .thumb  img{width:71px; height:55px; }
.news_pic .aright {display:block; overflow:hidden; box-sizing:border-box;white-space:nowrap; }
.news_pic .date{left:88px !important;}



.trend_area .trendBox{padding:15px 0 0 0; background:#ffffff; }
.trend_area .trendBox li {position:relative; }
.trend_area .trendBox li img{padding:10px 10px 0px 10px; width:100%; text-align:center; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.trend_area .trendBox strong.b_tit{font-size:15px; color:#444444; text-align:center; display:block; padding-bottom:10px; height:40px; }
.trend_area .trendBox strong span{display:block; font-size:12px; color:#6b6b6b; padding-top:2px; }
.trend_area .trendBox a{display:block; }
.trend_area .trendBox .tit{color:#6b6b6b; font-size:13px; display:block; font-weight:bold; overflow:hidden; height:15px; margin-bottom:4px; padding-top:10px;}
.trend_area .trendBox .price{color:#6b6b6b; font-size:13px; font-family:tahoma; width:100%; }
.trend_area .trendBox .price em{font-size:9px; font-family:malgun gothic; vertical-align:1px}
.trend_area .trendBox .price strong{color:#2485fb; font-size:15px;}
.trend_area .trendBox .priceinfo{position:relative; padding: 0 10px 15px 10px;}
.trend_area .trendBox .pricego{border:1px solid #2485fb; background:#ffffff; font-size:12px; color:#2485fb; padding:1px 6px 0px 6px; height:21px; position:absolute; right:10px; top:34px;}
.trend_area .keyword{padding:0px 15px 0 1px; font-size:13px; overflow:hidden; height:24px; margin-left:15px; margin-bottom:5px}
.trend_area .keyword:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.trend_area .keyword dt{background:#00bcdd; border-radius:15px; height:19px; padding: 3px  5px 0  5px; float:left; color:#ffffff; margin-right:10px; }
.trend_area .keyword dd a{text-decoration:underline; height:21px; line-height:21px; float:left; color:#64bcdd; font-size:13px; margin-right:10px}
.trend_area .morebtn{border-top:1px solid #f5f5f5; font-size:14px; text-align:center; height:26px; display:block; color:#6b6b6b; padding-top:10px; background:#ffffff; }
.trend_area .morebtn span{display:inline-block; padding-right:10px; background:url(http://img.enuri.info/images/mobilefirst/ico_more.gif) right 4px no-repeat; background-size:4px 9px; } 

.trend_area .departArea{border-top:1px dotted #e5e5e5; padding-top:10px;}
.trend_area .departArea img{vertical-align:middle; }
.trend_area .departArea:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.trend_area .departArea dt{float:left; width:50%; height:23px; font-size:10px; color:#6b6b6b }
.trend_area .departArea dt img{width:51px; height:19px; padding:0 10px 0 0px }
.trend_area .departArea dd{float:left; width:50%; text-align:right; height:23px; color:#6b6b6b; font-size:10px; font-family:tahoma;}
.trend_area .departArea dd em{padding:0 0px 0 2px; font-size:10px; vertical-align:0px; font-weight:normal;}
.trend_area .departArea dd.min{color:#2485fb; font-weight:bold; font-size:12px; }
.trend_area .departArea dd.min em{vertical-align:1px;}

.trendBox li .new {padding-top:13px; font-size:13px; font-family:tahoma;font-weight:bold; text-align:center; position:absolute; left:10px; top:-15px; background:#40cde6; width:35px; height:22px; color:#ffffff; background:url(http://img.enuri.info/images/mobilefirst/bg_new.gif);}

.relation{height:52px; padding:5px 0; border-top: 1px solid #f5f5f5; background:#ffffff}
.relation li{padding:0 8px; width:50%; float:left; position:relative; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.relation li:first-child{border-right:1px solid #e5e5e5;}
.relation li strong{display:block; font-weight:normal; height:26px; overflow:hidden; margin-bottom:5px; padding: 2px 8px 0px 57px; font-size:11px; color:#6b6b6b; line-height:13px; }
.relation li img{width:50px !important; height:50px !important; position:absolute; left:10px; top:0; padding:0 !important; }
.relation li span{padding: 0 8px 0 57px; text-align:right; display:block; color:#2485fb; font-family:tahoma; font-size:12px;}
.relation li span em{font-family:malgun gothic; font-size:10px; vertical-align:1px}

/* 오늘의 뉴스 */
section.todaynews_wrap {background-color:#e5e5e5;}
.head_area  {padding-bottom:2px; background:url(http://img.enuri.info/images/mobilefirst/nav_bg.png) left bottom; background-size:2px; position:fixed; left:0; top:0; width:100%; z-index:100}
.head_area .head_inner {text-align:center; padding-top:10px; font-size:13px;color:#fff;font-weight:bold; background:#0072bb; border-bottom:1px solid #041e49; height:27px;}
.head_area .head_inner .tit {font-size:15px}
.head_area .head_inner .close {position:absolute; right:1px; top:3px; width:12px; height:13px; text-indent:-9999em; padding:10px; background:url(http://img.enuri.info/images/mobilefirst/ico_close.png) 10px 10px no-repeat; background-size:12px 13px; }

.title_todaynews {margin-top:34px; padding-top:15px; background-color:#f3f3f3;}
.title_todaynews .tit {padding:0 11px; font-size:15px; font-weight:bold; color:#444;}
.news_time {padding:8px 11px; text-align:right; font-size:12px; }
.news_time .hits {margin-left:5px;}

.news_wrap{padding:15px 13px;font-size:14px; border-bottom:1px solid #dadada; background-color:#fff; line-height:20px;}
.news_wrap .news_picture {margin:15px 0; padding:0 26px}
.news_wrap .news_picture img {display:block; width:100%;}
.news_wrap .pic_exp {padding-top:5px; font-size:12px; color:#444; line-height:17px;}
.news_wrap .txt_news .reporter {padding-top:18px; text-align:right;}

.newsproduct_wrap {margin-top:11px; border-bottom:1px solid #f5f5f5; background-color:#e5e5e5; }
.newsproduct_wrap h3 {padding:10px 13px; font-size:15px; color:#444; background-color:#fff;}
.newsproduct_wrap .product_box li {position:relative; margin-top:1px; min-height:110px; overflow:hidden; padding:13px 10px; background-color:#fff;}
.newsproduct_wrap .product_box li a {display:block; font-size:11px;  color:#444; overflow:hidden; text-overflow:ellipsis; }
.newsproduct_wrap .product_box .thumb {position:absolute; top:13px; left:10px;  width:112px; height:112px; display:block;}
.newsproduct_wrap .product_box img {vertical-align:top; width:100%;  height:100%;}

.product_box .aright {position:relative; padding-left:117px; text-align:left; min-height:109px; display:block; overflow:hidden; box-sizing:border-box; }
.product_box .aright  .tit {padding-top:9px; height:14px; line-height:1.1; font-size:12px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.product_box .aright .prodInfo1 {position:relative; margin-top:10px; font-size:12px; color:#6b6b6b;}
.product_box .aright .prodInfo1 .date {position:absolute; top:0; right:0; text-align:right;}
.product_box .aright .prodInfo2 {height:17px; margin-top:8px; font-size:15px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
.product_box .aright .prodInfo3 {position:absolute; bottom:1px; right:0; text-align:right;  }
.product_box .aright .prodInfo3 em {font-size:12px; color:#6b6b6b;}
.product_box .aright .prodInfo3 .price {margin-left:3px; font-size:12px; color:#2485fb;}
.product_box .aright .prodInfo3 .price strong {font-family:Tahoma; font-weight:bold; font-size:16px; color:#2485fb;}


/*list*/
.product_box:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.product_box li{min-height:150px; border-bottom:2px solid #dadada; margin-top:6px; background:#ffffff; z-index:10; }
.product_box li a.listarea{padding:20px 10px 0 146px; display:block; height:123px; color:#444444; position:relative; z-index:1}
.product_box li .rank{z-index:10; background:#7adcda; font-weight:bold; font-size:12px; width:22px; line-height:22px; color:#ffffff; display:block; text-align:center; position:absolute; left:10px; top:13px;}
.prodChoice{position: absolute;top:3px;right:3px; z-index:1;}
.prodChoice button{width:32px; height:32px; background:url(http://img.enuri.info/images/mobilefirst/btn_zzim.png) no-repeat 0 0; background-size:32px 70px; border: 0; text-indent:-9999em;}
.prodChoice button.on{background-position:0 -38px;}
.product_box li span.thum{position:absolute; left:10px; top:15px; width:123px; height:123px;}
.product_box li span.thum img{width:123px; height:123px;}
.product_box li input{margin:10px;}
.product_box li span.chk_zzim{left:-3px !important; top:-3px !important}

.product_box li a div{padding-top:22px; position:relative;}
.product_box li a div .stit{font-size:11px; display:block; color:#6b6b6b; position:absolute; left:0px; top:66px; }
.product_box li a div .stit em{color:#dfdfdf; padding:0 4px;}
.product_box li a div .com{display:block; height:20px; padding:0px 0 2px 0; font-size:12px; color:#6b6b6b; position:absolute; left:0; top:0; width:100%; }
.product_box li a div .com em:first-child{width:100px; height:19px; overflow:hidden; }
.product_box li a div .com em.date{position:absolute; right:29px;}
.zzim_List li a div .com em.date{position:absolute; right:0px;}
.product_box li a div .com em.company{display:none;}

.product_box li a div strong{display:block; font-size:15px; height:38px; overflow:hidden; margin-bottom:6px; word-break:break-all;}
.product_box li a div .price{min-width:140px; text-align:right; display:block; font-size:12px; height: 23px; position:absolute; right:0; bottom:-57px; padding:4px 5px 0 5px;
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4)); background: -moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);
border: 1px solid #dfdfdf;
text-align: right;}
.product_box li a div .price.shop_p{min-width:105px;}
.product_box li a div .price.sold{background:none; border:none; }
.product_box li a div .price .min span{padding-left:20px; display:inline-block;}
.product_box li a div .price .min{position:absolute; left:4px; top:7px;}

.product_box li a div .price em{color:#2485fb; font-size:16px; font-weight:bold; }
.product_box li a div .price em em{font-size:12px; font-family:malgun gothic; vertical-align:1px; font-weight:normal;}
.product_box li a div .price .soldout{display:block; padding-top:1px; color:#ff7781;font-family:malgun gothic; font-size:14px; text-align:center;}
.product_box li a div .price .release{display:block; padding-top:1px; color:#2485fb;font-family:malgun gothic; font-size:14px; text-align:center;}
.product_box li a div em.shop{position:absolute; left:0; top:97px; font-size:11px; width:50px; height:15px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis; }
.product_box li a div em.sales{position:absolute; left:0; top:90px; font-size:11px; width:50px; }


/* 20150916 rwd */
@media screen and (min-width:540px){
.trdrwd{float:left; width:50%; margin:auto; overflow:hidden; margin-top:12px; padding:0 5px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.trend_area{border-bottom:none;}
.trd_nav ul{margin:0 auto;}
}


/* 151123 nav */
.trd_nav{text-align:center; height:36px; overflow:hidden; margin:10px 6px 0 6px; position:relative; background:#ffffff; padding:0 30px;}
.trd_nav ul{width:460px}
.trd_nav li{display:inline-block; }
.trd_nav li a{font-size:12px; color:#6B6B6B; padding:10px 10px 0px 10px; height:26px; display:block; position:relative;}
.trd_nav button{background:url(http://img.enuri.info/images/mobilefirst/trd_nav_btn.png) no-repeat; background-size:7px 50px; height:32px; width:30px; position:absolute; top:0; border:none;}
.trd_nav .trd_prev{background-position:10px 11px; left:0; }
.trd_nav .trd_next{background-position:66% -27px; right:0; }
.trd_nav li a.on{color:#444444; font-weight:bold; }
.trd_nav li a.on:after{content: ""; position:absolute; width:100%; height:2px; background:#40cde6; position:absolute; left:0; bottom:0;}

.trd_scroll{width: 100%; overflow-x: scroll; position:relative;}
.trd_scroll .hit_product {overflow: hidden; }
.trd_scroll .hit_product li{float: left; margin-right: 10px; }
.trd_scroll .hit_product li:last-child{margin-right:0;}

/* 151208 쇼핑추천팁 */
.trend_area .prod_page{position:absolute; right:10px; top:12px; font-size:11px; color:#6b6b6b }
.trend_area .prod_page em{color:#444444;}

.mainbnr{padding:0px 6px 10px 6px; position:relative; z-index:10; overflow:hidden; }
.bannerCarousel{min-height:100px}
.mainbnr button{border:none; display: inline-block; zoom: 1; text-indent: -9999em; position: absolute; z-index:1;}
.mainbnr button.slick-prev{position:absolute; left: 0px; background: url(http://img.enuri.info/images/mobilefirst/ico_back.png) 10px 0 no-repeat; background-size: 20px 30px;  margin:10px 0; top: 40%;  width: 30px; height: 30px; }
.mainbnr button.slick-next{position:absolute; right: 0px; background: url(http://img.enuri.info/images/mobilefirst/ico_next.png) 0 0 no-repeat; background-size: 20px 30px; margin:10px 0; top: 40%;  width: 30px; height: 30px; }

.prodarea button{border:none; display: inline-block; zoom: 1; position: absolute;}
.prodarea button.slick-prev{width: 20px; height: 30px; position:absolute; left: 5px; background: url(http://img.enuri.info/images/mobilefirst/ico_bn.png) 0 0 no-repeat; background-size: 75px 25px; top: 150px; text-indent:-9999em;}
.prodarea button.slick-next{width: 20px; height: 30px; position:absolute; right: 5px; background: url(http://img.enuri.info/images/mobilefirst/ico_bn.png) right top no-repeat; background-size: 75px 25px; top: 150px; text-indent:-9999em;}
.prodarea .prod_page{position:absolute; right:20px; top:12px; font-size:11px; color:#6b6b6b }
.prodarea .prod_page em{color:#444444;}
.slick-dots{display:none;}

.tip_list{padding:7px 3px; }
.tip_list:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.tip_list li{float:left; width:50%; margin:8px 0; padding:0 4px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.tip_list li strong{overflow:hidden; padding:5px; color:#6b6b6b; font-size:13px; height:26px; display:block; text-align:center; font-weight:normal;}
.tip_list li a{width:100%; position:relative; display:block; background:#ffffff; }
.tip_list li img{width:100%; }

@media screen and (min-width:540px){
.tip_list li{width:33.3%;}
}

@media screen and (min-width:720px){ 
.tip_list li{width:25%;}
}

/*160407 마음열기*/
.adguide{margin-top:37px}
.news_list li.thum{height: 55px; padding-left: 79px;}
.news_list li.thum a{font-weight:bold; margin-top:10px; width:100%;  overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; word-wrap:break-word; }
.news_list li.thum img{width:60px; height:60px; position:absolute; left:8px; top:11px;}
.news_btn_more{padding:8px 12px; display:block; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.news_btn_more button{border:1px solid #dadada; border-radius:3px; background:#ffffff; width:100%; padding:9px 0 8px 0; color:#6b6b6b;}
.news_btn_more button em{font-size:10px; vertical-align:1px; margin-left:2px}