* {margin:0;padding:0;font-size:11px;}
body { background-color:#F9F9F9;overflow:hidden;background:#ffffff;width:287px; }

a {color:#000;text-decoration:none;}
img {vertical-align:middle;border:0;}
div { overflow:hidden; }

.clearBlank {clear:both;}
.button {cursor:pointer;}
.placeholder {font-family: "맑은 고딕";font-size:11px;color:#666;}

#mainWrap { position:relative;width:287px;height:100%;background-color:#ffffff; }

span.pMadeBy {font-weight:bold;}

div.pPrice {float:left;font-family:arial;}
div.pLinkBtn {float:left;}
div.pPriceMark {float:left;}

span.priceNum {font-weight:bold;color:#0066e8;}
div.deliveryPrice { color:#585858;font-family:"돋움";font-size:11px;width:80px;height:16px;text-align:right; }
div.deliveryPrice .priceNum  {font-weight:normal;color:#585858;}

#mainWrap .dummyHader { width:287px;height:138px; }
#defaultInfo { z-index:200;position:fixed;top:0px;left:0px;background-color:#ffffff;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/box_bg.gif');width:287px;height:141px; }
#headerNotice {position:absolute;top:6px;left:118px;font-family: "맑은 고딕";font-size:9pt;font-weight:bold;}
#mainCloseBtn { display:block;position:absolute;top:6px;right:6px;width:10px;height:10px;z-index:10;overflow:hidden; }
#mainCloseBtn img { cursor:pointer;overflow:hidden; }
#defaultInfo span.closeBtn.comp_1 {display:none;}

#MainView { position:relative;width:287px;height:141px;overflow:hidden; }
#MainView div.pImage { position:absolute;top:7px;left:7px;width:100px;height:100px;border:1px solid #acacac; }
#MainView div.pImage img { cursor:pointer;width:100px;height:100px; }
#MainView div.pName { padding:8px 11px 0px 113px;line-height:13px;height:70px;overflow:hidden;word-break:break-all; }
#MainView div.pName span { font-family:'돋움';font-size:11px; }
#MainView div.pName span.moveLink { cursor:pointer; }
#MainView div.pName .pNameTitle { position:relative;overflow:hidden;width:91px;height:18px;margin:0px 0px 2px 0px; }
#MainView div.pName .pNameTitle img  {  }
#MainView div.pDelivery { width:77px;height:15px;position:absolute;left:8px;bottom:8px;text-align:left;color:#3d3d3d; }
#MainView div.pDelivery span { cursor:pointer; }
#MainView div.pPriceSet { display:block;text-align:right;width:165px;height:15px;position:absolute;right:8px;bottom:8px; }
#MainView div.pSingo { float:right;margin:1px 4px 0px 0px;width:25px;height:12px;text-align:right;cursor:pointer; }
#MainView div.pPriceMark { float:right;margin:1px 4px 0px 0px;width:31px;height:11px; }
#MainView div.pPrice { float:right;cursor:pointer;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_1.gif') no-repeat;width:72px;height:15px;line-height:15px;text-align:right; }
#MainView div.pPriceEx { width:79px;height:15px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_2.gif') no-repeat; }
#MainView div.pPrice .priceNum { margin:0px 14px 0px 0px; }
#MainView div.pMall { position:absolute;right:8px;bottom:30px;text-align:right;width:100px;height:20px;line-height:20px;display:block; }
#MainView div.pMall span { cursor:pointer;font-family:'맑은 고딕','돋움';font-size:12px;color:#3d3d3d;font-weight:bold; }
#MainView div.pRelease { position:absolute;cursor:pointer;width:60px;height:20px;line-height:20px;right:84px;bottom:34px;font-size:11px;color:#3d3d3d;font-family:'돋움'; }
#MainView div.pRelease sup.year{color:#000000;font-family:ms serif;font-size:10px;margin:0px 2px 0px 0px;}
#MainView div.pRelease .title { font-family:'돋움';font-size:11px;color:#808080; }
#scrollView {clear:both;display:block;position:relative;height:60px;}

#shopTypeInfoImgDiv { display:none;overflow:hidden;position:fixed;z-index:999; }
#shopTypeInfoImgDiv img { overflow:hidden; }
#shopTypeInfoImgXBtn { overflow:hidden;position:absolute;margin:14px 0px 0px 251px;width:17px;height:16px;cursor:pointer;z-index:999; }
#shopTypeInfoImgXBtn img { overflow:hidden;width:17px;height:16px; }

#defaultInfo > div.clearBlank {clear:both;display:block;margin-top:-2px;width:287px;height:18px;background:#F9F9F9 url('http://img.enuri.gscdn.com/2012/sim/bg_similar_02.gif') no-repeat;}


#contents { overflow:hidden;width:285px;margin-top:0px;border-left:1px solid #000000;border-right:1px solid #000000;border-bottom:1px solid #000000; }

#orderSelector { float:left;margin-top:3px;width:284px; }

#orderSelector .orderTitle { margin:5px 0px 0px 5px; }
#orderSelector .orderMenu { height:20px;margin:5px 0px 5px 0px; }
#orderSelector .orderMenu .plistOptionTitle { float:left;margin:4px 6px 0px 18px;width:25px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/align(1).gif'); }

#orderSelector .orderMenu #plistDefault { float:left;margin:5px 14px 0px 0px;overflow:hidden;cursor:pointer;width:36px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/default.gif'); }
#orderSelector .orderMenu #plistClass1Delivery { float:left;margin:5px 14px 0px 0px;overflow:hidden;cursor:pointer;width:68px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/ship.gif'); }
#orderSelector .orderMenu #plistDefault.selected { background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/default_on.gif'); }
#orderSelector .orderMenu #plistClass1Delivery.selected { background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/ship_on.gif'); }

#bbsLink {float:right;width:78px;height:20px;margin-top:1px;padding-top:10px;text-align:center;font-size:9pt;cursor:pointer;}
#bbsLink * {font-family: "맑은 고딕";font-size:9pt;font-weight:bold;}
#bbsNums {font-size:11px;font-weight:normal;margin-left:-17px;}

#contents hr {clear:both;display:none;}


#priceList { clear:both;overflow:visible; }

#topView {display:none;}

#priceList .lineImgDiv { height:3px;margin:0px 7px 0px 6px;overflow:hidden;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/dotline.gif'); }
#priceList ul { list-style:none;overflow:hidden; }
#priceList li { 
	margin:0px 3px 0px 2px;height:141px;position:relative;list-style:none;
}
#priceList > ul > li > * { }
#priceList > ul > li > .pTopGroup, #priceList > ul > li > .pDelivery, #priceList > ul > li > .pDeliveryAdd {cursor:default;}

#priceList li.noMall{text-align:center;cursor:default;padding-left:0;border-bottom:1px dotted #ababab;}
#priceList li.noMall > * {cursor:default;}
#priceList li.noMall div {font-size:11px;color:#595959;font-family:'맑은 고딕';}
#priceList li.noMallToo {height:50px;}
#priceList li.noMallToo div {margin-top:5px;}


#priceList .contentWrap { position:relative;width:283px;height:141px;overflow:hidden; }
#priceList .contentWrap div.pImage { position:absolute;top:7px;left:7px;width:100px;height:100px;border:1px solid #acacac; }
#priceList .contentWrap div.pImage img { cursor:pointer;width:100px;height:100px; }
#priceList .contentWrap div.pName { margin:8px 10px 0px 113px;line-height:13px;height:65px;overflow:hidden;word-break:break-all; }
#priceList .contentWrap div.pName span { cursor:pointer;font-family:'돋움';font-size:11px; }
#priceList .contentWrap div.pDelivery { width:77px;height:15px;position:absolute;left:8px;bottom:8px;text-align:left;color:#3d3d3d; }
#priceList .contentWrap div.pDelivery span { cursor:pointer; }
#priceList .contentWrap div.pPriceSet { display:block;text-align:right;width:165px;height:15px;position:absolute;right:8px;bottom:8px; }
#priceList .contentWrap div.pSingo { float:right;margin:1px 4px 0px 0px;width:25px;height:12px;text-align:right;cursor:pointer; }
#priceList .contentWrap div.pPriceMark { float:right;margin:1px 4px 0px 0px;width:31px;height:11px; }
#priceList .contentWrap div.pPrice { float:right;cursor:pointer;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_1.gif') no-repeat;width:72px;height:15px;line-height:15px;text-align:right; }
#priceList .contentWrap div.pPriceEx { width:79px;height:15px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_2.gif') no-repeat; }
#priceList .contentWrap div.pPrice .priceNum { margin:0px 14px 0px 0px; }
#priceList .contentWrap div.pMall { position:absolute;right:8px;bottom:30px;text-align:right;width:82px;height:20px;line-height:20px;display:block; }
#priceList .contentWrap div.pMall span { cursor:pointer;font-family:'맑은 고딕','돋움';font-size:12px;color:#3d3d3d;font-weight:bold; }
#priceList .contentWrap div.pRelease { position:absolute;cursor:pointer;width:60px;height:20px;line-height:20px;right:84px;bottom:34px;font-size:11px;color:#3d3d3d;font-family:'돋움'; }
#priceList .contentWrap div.pRelease sup.year{color:#000000;font-family:ms serif;font-size:10px;margin:0px 2px 0px 0px;}
#priceList .contentWrap div.pRelease .title { font-family:'돋움';font-size:11px;color:#808080; }


#priceList li.viewVisited, #priceList li.viewVisited * {background-color:#DBECF4;}
#priceList li.viewVisited .priceNum { background-color:transparent; }
#priceList li.viewVisited div.pDeliveryAdd, #priceList li.viewVisited div.pDeliveryAdd * {background-color:transparent;}
#priceList li.viewOption, #priceList li.viewOption * {background-color:#EFEFDE;}




#bbsWrap {display:none;font-size:11px;}
#bbsTotalNums {display:none;}
#bbsWrap a {text-decoration:none;color:#056A9C;background-color:#fff;}

#bbsHeader {margin-top:5px;height:15px;}
#bbsHeaderTitle {font-family:'맑은 고딕';font-size:10pt;font-weight:bold;float:left;margin-left:10px;margin-right:20px;color:#000;}

#bbsWrap ul {list-style:none;}
#bbsWrap li.selected a {color:red;}

ul.articleList {}
ul.articleList > li {margin-top:5px;padding:0 10px;font-family: "맑은 고딕";font-size:10pt;font-weight:normal;border-bottom:1px dashed #a8a8a8;}
div.articleData {font-family: "맑은 고딕";font-size:9pt;}
#bbsWrap div.articleData a.autolink {background-color:#f6f6f6;text-decoration:underline;color:#000;font-family: "맑은 고딕";display:block;}
div.articleInfo {margin:5px 7px;text-align:right;font-size:11px;color:#787878;}
span.writer {font-weight:bold;}
span.enuriuser {padding-left:18px;padding-top:1px;padding-bottom:2px;}
#bbsWrap span.enuriuser.hasID {background:url('http://img.enuri.gscdn.com/2012/toolbar/icon_writer.gif') 0 50% no-repeat;}


#bbsWrap div.delView {position:absolute;right:8px;margin-top:-14px;cursor:pointer;}
#bbsWrap span.delArea {position:absolute;display:none;width:267px;height:35px;margin-top:-22px;right:3px;background:url("http://img.enuri.gscdn.com/images/knowbox/goodboard/layer_info_06.png");}
#bbsWrap span.delArea input.del_pass {position:absolute;left:72px;top:9px;width:106px;border:1px solid #ADADAD;font-size:11px;padding:2px;}
#bbsWrap span.delArea input::-webkit-input-placeholder {color:#808080;}
#bbsWrap span.delArea input:-moz-placeholder {color:#808080;}
#bbsWrap span.delArea input::-moz-placeholder {color:#808080;}
#bbsWrap span.delArea input:-ms-input-placeholder {color:#808080;}

#bbsWrap span.delArea form div {display:block;position:absolute;cursor:pointer;}
#bbsWrap span.delArea div.delSubmit{width:32px;height:17px;top:10px;left:192px;}
#bbsWrap span.delArea div.delClose {width:16px;height:14px;top:8px;left:241px;}

#bbsWrap span.delPasswrongArea {position:absolute;display:none;width:267px;height:35px;margin-top:-22px;right:3px;background:url("http://img.enuri.gscdn.com/images/knowbox/goodboard/layer_info_07.png");}
#bbsWrap span.delPasswrongArea div {display:block;position:absolute;cursor:pointer;}
#bbsWrap span.delPasswrongArea div.delSubmit{width:32px;height:17px;top:10px;left:192px;}
#bbsWrap span.delPasswrongArea div.delClose {width:16px;height:14px;top:8px;left:241px;}






div.articlePaging {position:relative;margin-top:10px;width:100%;height:20px;text-align:center;}


span#pagingclose {position:absolute;margin-left:-17px;top:1px;z-index:100;width:14px;height:13px;cursor:pointer;background-color:#fff;border-right:1px solid #999;border-bottom:1px solid #999;}

div.articlePaging ul {margin: 0 auto;height:20px;display: inline-block;}


div.articlePaging ul li {float:left;width:18px;margin:0 2px;text-align:center;border:1px solid #989999;}
div.articlePaging ul li.pagingnumber {width:18px;}
div.articlePaging li.selected {border:2px solid #FF0000;}
div.articlePaging a {display:block;}

div.articlePaging ul.pagingGroups {width:60px;height: 20px;overflow:visible;text-align:left;margin-top: -15px;}
div.articlePaging ul.pagingGroups li {position:absolute;text-align:left;padding-left:3px;width:50px;color:#8C8C8C;background-color:#fff;cursor:pointer;z-index:1;border-top:0;border-bottom:0;}
div.articlePaging ul.pagingGroups li.on:first-child {border-top:1px solid #AAAAAA;border-bottom:1px solid #AAAAAA;}
div.articlePaging ul.pagingGroups li.on {position:relative;z-index:1;border-top:0;border-bottom:0;}
div.articlePaging ul.pagingGroups li.on:last-child {border-bottom:1px solid #AAAAAA;}

div.articlePaging ul.pagingGroups li.selected {border:1px solid #AAAAAA;z-index:10;}
div.articlePaging ul.pagingGroupsOn li.selected {border-top:0;border-bottom:0;}


#scrollArrow {position:fixed;bottom:5px;left:225px;width:60px;height:50px;z-index:100}
#scrollArrow div {cursor:pointer;position:absolute;}
#scrollUp {left:0;top:5px;}
#scrollDown {bottom:0;right:0;}
#scrollTop {position:absolute;top:0;right:0;}


#priceList div.pCus {display:none;}
#priceList div.pOption {display:none;}



#errorProposal { display:none;position:absolute;top:200px;left:5px;width:280px; }
#errorProposal .closeBtn { position:absolute;top:11px;right:5px; }

#epTitle {
	overflow:hidden;width:280px;height:45px;
	background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/singo_layer_01.png');
}

#ep_content {
	overflow:hidden;width:280px;
    background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/singo_layer_02.png') 0 0 repeat-y;
}
#ep_bottom {
    display:block;width:280px;height:8px;
	background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/singo_layer_03.png');
}

#errorCloseBtn { top:12px;left:259px;width:10px;height:9px; }
#errorCloseBtn img { cursor:pointer; }

#errchk { display:none;margin:16px 14px 0px 18px;height:30px;overflow:hidden; }
#errchkText {font-family: "맑은 고딕", "돋움";font-size:11px;font-weight:bold;}
#errchk input {float:right;margin-right:2px;}

#errGoodsInfo { overflow:hidden;margin:20px 14px 10px 18px; }
#errGoodsInfo div.pMall { float:left;font-weight:bold;margin-bottom:5px;font-size:12px;font-weight:bold;font-family:'맑은 고딕','돋움';color:#333; }
#errGoodsInfo div.pDelivery { float:right;margin:1px 12px 0px 0px;font-family:'돋움';font-size:11px;color:#202020; }
#errGoodsInfo div.pPrice { float:right;font-family:'돋움';font-size:11px;color:#202020; }
#errGoodsInfo div.pPrice span.priceNum { font-family:Arial;font-size:11px;font-weight:bold;color:#0066e8; }
#errGoodsInfo div.pName { clear:both;overflow:hidden;margin:10px 0px 0px 0px;line-height:13px;font-family:"돋움";font-size:11px;color:#535353; }
#errGoodsInfo div.pName .pNameTitle { display:none;}

#ep_ContentsArea {width:280px;}

#epc_header {
    display:none;
    height:8px;
    background:url('http://img.enuri.gscdn.com/2012/sim/singo_box_01.gif') 0 0 no-repeat;
}
#epc_content {
    text-align:center;
    width:280px;
}

#errorProposal textarea { 
	margin:0px 14px 10px 12px;width:240px;height:50px;padding:5px;border:2px solid #B7BABE;
	font-size:11px;font-family:'돋움';color:#666666;
}

#epc_footer {
    display:none;
    height:8px;
    background:url('http://img.enuri.gscdn.com/2012/sim/singo_box_03.gif') 0 100% no-repeat;
}


#errLength {display:none;}

#errSubmit { display:block;float:right;cursor:pointer;margin:0px 16px 10px 0px; }

















#sponsorLink, #redLink {padding:5px;}

#sponsorLink {margin-top:80px;}

#redLink {margin-bottom:50px;}

.span_sponsor_link_title {font-size:9pt;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;cursor:pointer;text-decoration:underline;}
.span_enurilink_title {font-size:9pt;font-family:굴림;font-weight:bold;width:70px;padding-left:2px;padding-top:2px;color:#BA0000;cursor:pointer;text-decoration:underline;display:inline;}
.enurilink_register {margin-top:2px;color:#0000FF;text-decoration:underline;font-size:11px;}
.enurilink {margin:0px;padding:0px;list-style-image:none;list-style:none;margin:6px 0px 0px 0px;line-height:18px;}
.enurilink li {margin:0px;padding:0px;line-height:18px;}
.enurilink_title {color:#BA0000;font-size:11px;font-family:굴림;text-decoration:underline;}
.enurilink_desc {margin:0px;padding:0px;line-height:13px;text-decoration:none;font-size:11px;font-family:굴림;}
.enurilink_link {margin:0px;padding:0px;color:#757575;font-size:11px;font-family:굴림;}
.enurilink_title_bull {color:#BA0000;font-size:11px;font-family:굴림;}
.li_enurilink_link {line-height:11px;}
.li_enurilink_desc {margin:0px 0px 2px 0px;}

.span_sponsor_link_bb_title {font-size:9pt;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;cursor:pointer;text-decoration:underline;}
.span_enurilink_bb_title {font-size:9pt;font-family:굴림;font-weight:bold;width:70px;padding-left:2px;padding-top:2px;color:#BA0000;cursor:pointer;text-decoration:underline;display:inline;}
.enurilink_bb_register {margin-top:2px;color:#0000FF;text-decoration:underline;font-size:11px;}
.enurilink_bb { font-size:9pt;width:100%;list-style-image:none;list-style:none;margin:7 0 0 0;padding:0; }
.enurilink_bb_title { font-size:9pt;color:#BA0000;font-family:굴림;text-decoration:underline; }
.enurilink_bb_title_bull { font-size:9pt;color:#BA0000;font-family:굴림; }
.enurilink_bb_desc { font-size:9pt;text-decoration:none;font-family:굴림;color:#000000; }
.enurilink_bb_link { font-size:9pt;color:#757575;font-family:굴림;text-decoration:none; }
.li_enurilink_bb_link { font-size:9pt;line-height:11px;padding-bottom:3px; }
.li_enurilink_bb_desc { font-size:9pt;margin:3 5 4 0; }


/* 20150603 Phase2_모바일 최저가 노출 */
.ico_cellphone {float:right; display: inline-block; width:8px; height:12px; margin-right:3px; vertical-align: -2px; line-height:999px; *line-height:0; *font-size:0; overflow:hidden; cursor:pointer; background:url(http://img.enuri.gscdn.com/images/main/2015/common/ico_cellphone.gif) 0 0 no-repeat  }
.ico_cellphone.on {background-position:0 -12px;}

/* 기존 css 수정 */
#priceList li {height:161px;}
#priceList .contentWrap {height:161px;}
#MainView div.pSingo {float:left;}
#priceList .contentWrap div.pRelease {bottom:56px;}
#priceList .contentWrap div.pMall {bottom:51px;}
#priceList .contentWrap div.pDelivery {bottom:29px;}
#priceList .contentWrap div.pSingo {float:left;}
#priceList .contentWrap div.pPriceSet {bottom:28px; height:auto; }
#priceList .contentWrap div.pPriceSet.phone {bottom:9px;}
