@charset "utf-8";
/* ---------------------------------------------------- 
                        common
---------------------------------------------------- */
:root{
    --url-comm-sprite : url("//img.enuri.info/images/rev/common_sprite.png");
}
*{margin:0;padding:0}
html,body{width:100%;height:100%;margin:0;padding:0;font:13px/1.4 "맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;vertical-align:middle}
html {background:#eee}
dl,ul,ol,menu,li{list-style:none}
*,
*:before,
*:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.clearfix:after {content:"";display:block;clear:both;*zoom:1;}
img {vertical-align: top;}
em { font-style:normal;}

/* Link Css */
a{cursor:pointer;color:#666666}
a:link,a:visited,a:active{text-decoration:none}
a:hover{text-decoration:underline}
a:active{background-color:transparent}
button{border:0 none;cursor:pointer}
button:disabled {cursor:default}
/* ----------------------------------------------------------- 
				모바일 홈메인_트렌드픽업 
----------------------------------------------------------- */
.preview_trendpickup_m {padding-top:50px;}

.card__head{position:relative;height:44px;background-color:#fff;letter-spacing: -1px}
.card__head .card__tit{padding:0 10px; line-height:50px; font-size:16px;color:#222; font-weight: 600; text-align:left}
.card__head .card__tit span.txt__sub{display:inline-block;margin-left:4px;font-size:12px;color:#888}
.card__head .btn__card_more{position:absolute;right:10px;top:50%;height:16px;font-size:12px;color:#999;line-height:16px; margin-top:-8px; padding-right:13px}
.card__head .btn__card_more:after{content:"";position: absolute;width:5px;height:8px;background-image:url("//img.enuri.info/images/mobile_v2/common_sprite.png");background-repeat:no-repeat;background-size:360px;background-position:-158px -36px;top:50%;right:4px; margin-top:-4px;}

.m_trend_pickup {border-bottom:1px solid #ddd;}
.m_trend_pickup .card__head{border-bottom:1px solid #eee}

.comm__sprite {
    background-image: url(//img.enuri.info/images/mobile_v2/common_sprite.png);
    background-repeat: no-repeat;
    background-size: 360px;
}
/* ----------------------------------------------------------- 
				모바일 홈메인_트렌드픽업 
----------------------------------------------------------- */
.slide_trend_pickup{position: relative;}
.slide_trend_pickup .swiper-button-white{position:absolute;width:34px;height:44px;top:50%;margin-top:-22px;background:rgba(0,0,0,.4);z-index: 1}
.slide_trend_pickup .swiper-button-white:before{position:absolute;content:"";width:20px;height:20px;background-image:url("//img.enuri.info/images/mobile_v2/common_sprite.png");background-repeat:no-repeat;background-size:360px;left:50%;top:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.slide_trend_pickup .swiper-button-prev{left:0;border-radius:0 4px 4px 0;}
.slide_trend_pickup .swiper-button-prev:before{background-position:-220px -235px}
.slide_trend_pickup .swiper-button-next{right:0;border-radius:4px 0 0 4px;}
.slide_trend_pickup .swiper-button-next:before{background-position:-240px -235px}

.swiper-ctrl{position:absolute;z-index: 1; top:12px;right:16px; height:18px;background-color:rgba(0,0,0,.4);border-radius:9px 9px}
.swiper-ctrl .swiper-counter{text-align:center;width:45px;display:block;font-size:10px;letter-spacing: -.5px;color:#fff;line-height:18px}
.swiper-ctrl .swiper-counter .num_index{font-weight:bold}
.swiper-ctrl .swiper-button{position: absolute;top:0;right:0;width:18px;height:18px;border-radius:50% 50%;background-position:-98px -26px;background-color:rgba(0,0,0,.2)}
.swiper-ctrl .swiper-button.btn__play{background-position:-118px -26px;}
.swiper-ctrl .swiper-button.btn__play.stop{background-position:-98px -26px;}
.swiper-ctrl .swiper-button.btn__view_all{background-position:-248px -26px;text-indent:-9999em}

.trend_pickup__list{overflow:hidden}
.trend_pickup__list li{margin-top:0;}
.trend_pickup__list .card__head{height:56px;position: relative;}
.trend_pickup__list .card__tit{font-size:15px;color:#222;line-height:19px;padding-top:11px}
.trend_pickup__list .card__sub{display:block;padding:0 10px;font-size:12px;color:#888;line-height:16px}
.trend_pickup__list .btn__card_more{text-indent:-9999em;position:absolute;top:0;left:0;width:100%;height:100%;box-sizing:border-box;margin-top:0;}
.trend_pickup__list .btn__card_more:after{content:"";position:absolute;width:10px;height:18px;top:50%;margin-top:-9px;right:12px;background-position:-178px -26px}
.trend_pickup__list .card__cnt{padding-top:103.334%;height:0;position: relative;overflow:hidden;background-color:#fff}
.trend_pickup__list .card__cnt .ico__trend_ad{position: absolute;bottom:0;right:0;width:23px;height:11px;background-position:-313px -15px;z-index: 11;text-indent:-9999em}
.trend_pickup__list .card__cnt .card__img{position: absolute;top:0;left:0;width:100%;height:48.666%;}
.trend_pickup__list .card__cnt .card__img img{width:100%;}
.trend_pickup__list .card__cnt .card__info{display:none;position: absolute;top:0;left:0;width:100%;height:34.028%}
.trend_pickup__list .card__cnt .card__goods{position:absolute;top:48.666%;bottom:0;left:0;right:0}
/* type_d */
.trend_pickup__type_d .card__img {height:47.8%!important;z-index:1}
.trend_pickup__type_d .card__img a {display:block;position:relative;top:0; height:100%;}
.trend_pickup__type_d .card__video {position:absolute;left:0; bottom:0; width:100%; padding-top:56.25%; z-index: 10;}
.trend_pickup__type_d .card__video .btn_video {position:absolute;top:0;left:0;right:0;bottom:0; background-repeat: no-repeat;background-size: cover;background-position: center; z-index: 10;}
.trend_pickup__type_d .card__video .btn_video:after {content:""; position:absolute;top:0;left:0;right:0;bottom:0;background:url("//img.enuri.info/images/mobile_v2/ico_btn_play.png") no-repeat 50% 50% / 64px 64px rgba(0,0,0,0.25); z-index: 10;}
.trend_pickup__type_d .card__video .btn_video.played {z-index: 0;}
.trend_pickup__type_d .card__video .ad_video {position:absolute; top:0; left:0; width:100%; height:100%; background-position: center; background-size: cover;}
.trend_pickup__type_d .card__video div.ad_video {background-repeat: no-repeat;background-size: cover;background-position: center;}
.trend_pickup__type_d .card__video iframe.ad_video {z-index: 15;}

/* type_e */
.trend_pickup__type_e .card__img{height:100%!important}
.trend_pickup__type_e .card__img img{position:relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
/* type_f */
#tab_trend .trend_pickup__type_f .card__cnt {border-top:1px solid #eee;}
.trend_pickup__type_f .card__cnt_inner {position:absolute; top:0; left:0; padding:24px 16px 11px; width:100%;}
.trend_pickup__type_f .card__cnt_inner .col_wrap {display: flex; flex-wrap: wrap; margin:0 -8px}
.trend_pickup__type_f .card__cnt_inner .col_wrap > .col {flex: 0 0 auto; padding:0 8px; margin:0; float:none;}
.trend_pickup__type_f .card__cnt_inner .col_wrap > .col_half {width:50%; margin-bottom: 21px;}
.trend_pickup__type_f .card__cnt_inner a {display: block;}
.trend_pickup__type_f .card__cnt_inner a .thum {position: relative; width: 100%; padding-top: 76.93%;}
.trend_pickup__type_f .card__cnt_inner a .thum img {width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
.trend_pickup__type_f .card__cnt_inner a .tx_name {font-size: 13px; font-weight: bold; text-align: center; color:#000; line-height: 20px; margin-top:8px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-break: break-all;}
.trend_pickup__list .card__cnt .trend_pickup__goods{box-sizing:border-box;overflow:hidden;position: absolute;top:0;left:0;right:0;bottom:0;padding:12px 9px; display: flex;}
.trend_pickup__list .card__cnt .trend_pickup__goods li{flex : 0 0 auto; width:33.333333%;height:100%;box-sizing:border-box;margin-top:0;padding:0 7px; border-top:none;}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__inner{margin:0 auto; position: relative; background-color:#fff; height: 100%;}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__img{border:1px solid #f6f6f6;height:0;padding-top:calc(100% - 2px);position:relative}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__img img{width:100%;position:absolute;height:100%;left:0;top:0}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__price{height:65px;width:100%;box-sizing:border-box;position: relative;padding:8px 7px 0;line-height:16px;text-align:left}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__price .goods__tit{display:block;font-size:13px;color:#555;height:32px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__price .goods__price{display:block;margin-top:2px;font-size:14px;color:#222;padding:0; height: 16px; margin-top: 3px;}
.trend_pickup__list .card__cnt .trend_pickup__goods li .goods__price .goods__price strong{font-size:15px;vertical-align:top}
.trend_pickup__list .trend_pickup__type_c .card__img{display:none}
.trend_pickup__list .trend_pickup__type_c .card__info{display:block;text-align:center;letter-spacing:-1px}
.trend_pickup__list .trend_pickup__type_c .card__info .info__inner{position: relative;text-align:center;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);}
.trend_pickup__list .card__cnt .card__info .info__tit{display:block;font-size:20px;line-height:23px}
.trend_pickup__list .card__cnt .card__info .info__sub{display:block;font-size:12px;line-height:18px}
.trend_pickup__list .card__cnt .card__info .info__hash{line-height:0;margin-top:8px;height:27px;overflow:hidden}
.trend_pickup__list .card__cnt .card__info .info__hash a.btn__hash{display:inline-block;border:1px solid transparent;height:25px;line-height:27px;padding:0 13px;font-size:13px;border-radius:14px 14px}
#trend_pickup_tab .swiper-slide{margin-top:10px; border-bottom:1px solid #ddd}
#trend_pickup_tab .swiper-slide:first-of-type{margin-top:0;border-top:0}
@media (min-width:768px) {
	.trend_pickup__list .card__goods{margin:0}
	.trend_pickup__list li{width:50%;float:left;box-sizing: border-box;padding:0 5px;border:0!important;margin:0 0 10px!important}
} 