@charset "utf-8";

/************************************************************************
 * 파일명 : header.css
 * 설명 : 에누리 가격비교 PC Rev / Header + GNB
 * 작성자 : 지승호
 * 작성일 : 2020.12.21
************************************************************************/

/* HEADER */
.header-top-over{position:relative;border-bottom:1px solid rgba(0,0,0,.12);z-index:1000}
.header-top-over__bnr{height:56px;overflow:hidden;position:relative;}
.header-top-over__bnr a{display:block;height:56px;text-align:center;background-position:50% 50%;background-repeat:no-repeat;background-size:auto 56px}
.header-top__btn--close{position:absolute;right:8px;width:24px;height:24px;top:50%;margin-top:-12px;background-position:-120px -60px;text-indent:-9999em}

/* [C] 헤더 wrap */
.header{letter-spacing:-1px;position: relative;height:102px;z-index:1000;background:url(/common/css/bg_header.png) repeat-y 100% 0 #198FF6}
.header h1{float:left;margin:20px 0 0 0;position: relative;}
.header h1 .header-core__bi{text-indent:-9999em;display:block;width:104px;height:30px;background-position:0 -60px}

/* [C] 헤더 - 헤더탑 */
.header-top{position:relative;height:30px;border-bottom:1px solid rgba(0,0,0,.12);letter-spacing:-1px;text-align:center;font-size:11px;font-family:"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;z-index:1010}
.header-top .cont__inner{position:relative;z-index:1010}
.header-top__tab{height:30px;}
.header-top__tab li{position:relative;float:left;padding:0 12px}
.header-top__tab li:first-child{padding-left:0}
.header-top__tab li > a{position:relative;font-weight:bold;display:block;height:100%;font-size:12px;line-height:30px;color:#fff;padding-left:2px}
.header-top__tab li.is--new a:before{content:"";position: absolute;top:6px;right:-6px;width:4px;height:4px;border-radius:2px;background-color:#FFEE00}
/* .header-top__tab li.is--new-yellow{} */

.header-top__menu{position:absolute;right:0;top:6px;height:18px;line-height:18px;font-size:12px;font-family:"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;}
.header-top__menu > li{float:left;padding:0 10px 0 11px;position:relative;color:#fff;height:18px}
.header-top__menu > li:before{content:"";position: absolute;top:3px;left:0;height:12px;border-left:1px solid rgba(0,0,0,.1);}
.header-top__menu > li:first-child:before{display:none}
.header-top__menu > li:last-child{padding-right:0}
.header-top__menu > li > a{color:inherit;vertical-align:top;}
.header-top__menu > li > a i{display:inline-block;position:relative;text-indent:-9999em;width:16px;height:16px;margin-left:2px;vertical-align:-5px}
.ico-grade{border:1px solid #eee;border-radius:50%;overflow:hidden;background-repeat:no-repeat;background-size:100% 100%;background-color:#fff;text-indent:-9999em}
.ico-grade--sm{width:16px;height:16px;}
.ico-grade--big{width:54px;height:54px}
.ico-grade--vip {background-image: url(//img.enuri.info/images/knowcom/ico_grade_vip.png)}
.ico-grade--family {background-image: url(//img.enuri.info/images/knowcom/ico_grade_family.png)}
.ico-grade--green {background-image: url(//img.enuri.info/images/knowcom/ico_grade_green.png)}
.header-top__menu .ico-login{background-position:-120px 0;top:-2px}
.header-top__menu .ico-join{background-position:-100px 0;top:-2px}
.header-top__menu .ico-arr{background-position:-40px 0;top:-1px}
.header-top__menu .ico-call{background-position:-20px 0}
.header-top__menu .ico-down{background-position:0 0}
.header-top__menu .ico-alarm{background-position:-220px 0;top:-2px}
.header-top__menu .menu__tx--act,
.header-top__menu .menu__tx--emoney{letter-spacing:0;font-weight:bold;font-family:"Helvetica",Helvetica,'Arial',Arial,"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;}
.header-top__menu .menu-user-info > a,
.header-top__menu .menu-more > a{display:block;height:24px;}
.header-top__menu .menu-user-info > a:hover{text-decoration:none}
.menu-user-info .user-info__name{letter-spacing:0}
.menu-user-info .user-info__name em{font-weight:bold}

/* 헤더 - 헤더탑 - 우측메뉴 - 확장레이어 */
.header-top__menu .header-top__lay{display:none}
.header-top__menu li:hover .header-top__lay{display:block}
.header-top__menu li:hover .ico-arr{background-position:-40px -100px;opacity:.7}

/* 헤더 - 헤더탑 - 우측메뉴 - 확장레이어 - 컨텐츠 */
.header-top__lay{background-color:#fff;border:1px solid #ddd;border-radius:2px;box-shadow:0 0 12px rgba(0,0,0,.1);font-family:"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;font-size:12px;}
.header-top__menu .header-top__lay{position: absolute;}
.header-top__lay--body{position: relative;}

/* 헤더 - 헤더탑 - 레이어 - 개인정보 레이어 */
.user-info__lay{width:320px;line-height:20px;text-align:left}
.user-info__lay .header-top__lay--body{padding:23px 17px;overflow:hidden;}
.user-info__lay .header-top__lay--body .ico-grade{float:left;margin:2px 8px 2px 0}
.user-info__lay__detail{float:left;width:222px}
.user-info__lay__row a{display:inline-block;}
.user-info--name{display:block;margin-right:70px;color:#222;}
.user-info--name em{font-size:13px;float:left;position:relative;top:1px;color:#222;font-weight:bold;max-width:116px;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;letter-spacing:0;margin-right:4px;letter-spacing:-.5px}
.user-info--name:hover {text-decoration:none;}
.user-info--name:hover em{vertical-align:middle;text-decoration:underline;}
.user-info--score{padding-right:4px}
.user-info--rank{padding-left:8px;position: relative;}
.user-info--rank:before{content:"";position: absolute;top:5px;left:0;height:10px;border-left:1px solid #ddd;}
.user-info--emoney em{font-size:14px;color:#1A70DD!important}
.user-info__lay__row .ico-lock,
.user-info__lay__row .ico-store{display:inline-block;text-indent:-9999em;vertical-align:-1px;}
.user-info__lay__row > a dl,
.user-info__lay__row > a dl dt,
.user-info__lay__row > a dl dd{display:inline-block;color:#555}
.user-info__lay__row > a dl dd em{color:#222;letter-spacing:0;font-weight:bold;font-family:"Helvetica",Helvetica,'Arial',Arial,"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;}

.ico-lock{background-position:-80px 0;width:16px;height:16px;}
.ico-store{background-position:-140px -100px;width:80px;height:16px;}

.user-info__lay .header-top__lay--foot{background-color:#FCFCFC;border-top:1px solid #eee;text-align:center;letter-spacing:-1px;padding:10px 0 9px;overflow:hidden}
.user-info__lay .header-top__lay--foot a{position:relative;float:left;width:25%;font-size:11px;color:#333;letter-spacing:0}
.user-info__lay .header-top__lay--foot a:before{content:"";position: absolute;top:4px;left:0;height:12px;border-left:1px solid #ddd;}
.user-info__lay .header-top__lay--foot a:first-child:before{display:none}
.user-info__btn--logout{background-position:-160px 0;background-color:#fff;width:60px;height:20px;position:absolute;top:25px;right:17px;text-indent:-9999em}

/* 헤더 - 헤더탑 - 레이어 - 사이트맵 */
.header-top__menu .header-top__lay.sitemap__lay{right:0}
.sitemap__lay{width:480px}
.sitemap__lay .header-top__lay--body{padding:20px 16px;overflow:hidden}
.sitemap__lay .header-top__lay--body:before{content:"";position: absolute;top:0;bottom:0;left:50%;border-left:1px solid #eee}
.sitemap__group{width:206px;}
.sitemap__group.group--core{float:left}
.sitemap__group.group--comm{float:right}
.sitemap__group dt{height:28px;line-height:28px;font-size:12px;font-weight:bold;color:#fff;letter-spacing:-1px;text-align:center;margin-bottom:8px}
.sitemap__group dd{overflow:hidden;position: relative;}
.sitemap__group dd:before{content:"";position: absolute;top:6px;bottom:6px;left:50%;border-left:1px solid #F8F8F8}
.sitemap__group .sitemap__list{float:left;width:104px;text-align:left;letter-spacing:0}
.sitemap__group .sitemap__list:first-child{margin-left:-16px;width:118px}
.sitemap__group .sitemap__list li{padding-left:16px;line-height:28px;height:28px;}
.sitemap__group .sitemap__list li a{color:#666;}
.sitemap__group.group--core dt{background-color:#1694F0}
.sitemap__group.group--comm dt{background-color:#01BEC8}
.sitemap__lay .header-top__lay--foot{background-color:#FCFCFC;border-top:1px solid #eee;text-align:center;letter-spacing:-1px;padding:10px 0 9px;overflow:hidden}
.sitemap__lay .header-top__lay--foot a{position:relative;font-size:12px;color:#333;padding-right:16px;}
.sitemap__lay .header-top__lay--foot .ico-arrr{position: absolute;top:50%;margin-top:-6px;right:0}
.ico-arrr{width:12px;height:12px;background-position:-100px -20px;}

/* [C] 헤더 - 코어 */
.header .header-core{position:relative;height:70px;border-top:1px solid rgba(255,255,255,.12)}
.header .header__inner{width:1280px;margin:0 auto;position: relative;}
.header.is--sticky .header-top,
.header.is--sticky .header-core{position:fixed;top:0;left:0;transform:translateY(-100%);width:100%;}
.header.is--sticky .header-top{top:-31px}
.header.is--sticky .header-core{background: url(//img.enuri.info/images/rev/bg_header.png) repeat-y 100% 0 #198FF6;}
.header.is--sticky.is--show .header-top{transform: translateY(0);transition:.3s transform ease;}
.header.is--sticky.is--show .header-core{transform: translateY(0);transition:.3s transform ease;box-shadow:0 2px 5px rgba(0,0,0,.07)}
.header.is--sticky.is--show .header-core h1{margin-top:10px}
.header.is--sticky.is--show .header-core{height:50px;}
.header.is--sticky.is--show .header-sr{top:8px}
.header.is--sticky.is--show .header-cate{top:12px;}
.header.is--sticky.is--show .header-cate__list,
.header.is--sticky.is--show .header-ad{display:none}
.header.is--sticky.is--show .header-top__menu{top:46px}

/* 검색 */
.header-core .header-sr{position: absolute;left:126px;top:18px}
.header-sr{width:370px;height:32px;position:relative;}
.header-sr__form{height:100%;position:relative;border:1px solid #006CCB;border-radius:4px 4px;transition:.3s border ease;height:18px;padding:7px 46px 7px 12px;background-color:#fff}
.header-sr__form__inp{position:relative;height:18px;width:100%;max-width:265px;font-size:13px;color:#222;letter-spacing:-1px;border:0;background:transparent;z-index:1;margin-top:-3px}
.header-sr__form__tx-ad{position:absolute;top:0;left:0;right:0;bottom:0;font-size:13px;color:#666;letter-spacing:-1px;line-height:18px;padding:7px 46px 7px 12px}
.header-sr__form__btn{position:absolute;top:-1px;right:-1px;width:50px;height:34px;border:1px solid #006CCB;border-radius:0 4px 4px 0;background-color:#0081F0;-webkit-transition:.3s background ease;-o-transition:.3s background ease;transition:.3s background ease;-webkit-box-sizing:border-box;box-sizing:border-box;cursor: pointer;}
.header-sr__form__btn:hover{background-color:#006CCB}
.header-sr__form__btn i{position:absolute;text-indent:-9999em;background-position:-160px -60px;width:24px;height:24px;top:4px;left:12px}
.header-sr__ico-arr{position:absolute;width:16px;height:16px;background-position:0 -20px;top:8px;right:66px;z-index:2;cursor:pointer}
.header-sr.is--focused .header-sr__ico-arr{background-position:0 -40px}

.header-sr.is--focused .header-sr__form__tx-ad,
.header-sr.is--active .header-sr__form__tx-ad{display:none}
.header-sr.is--focused .header-sr__form{border-radius:4px 4px 0 0}
.header-sr.is--focused .sr-related{display:block;margin-top:-1px}
.header-sr.is--focused .sr-related__list.list--recent{display:block}
.header-sr.is--focused.is--active .sr-related__list{display:block}
.header-sr.is--focused.is--active .sr-related__list.list--recent{display:none}

.sr-related{position: relative;border:1px solid #1A70DD;width:639px;overflow:hidden;background-color:#fff;z-index:10;line-height:24px;display:none;box-shadow:0 5px 10px rgba(0,0,0,.15)}
.sr-related__tx--off{padding:0 12px}
.sr-related__list{height:240px;margin-right:270px;overflow:hidden;font-size:12px;padding:10px 0 0;margin-bottom:10px;display:none}
.sr-related__list ul{max-height:240px;overflow:hidden}
.sr-related__item {padding:0 12px;position: relative;line-height:0}
.sr-related__item:hover{background-color:#F9F9F9}
.sr-related__item a{display:inline-block;height:24px;line-height:24px;max-width:calc(100% - 4px);padding-right:4px;color:#222;overflow:hidden;white-space: nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; -ms-text-overflow:ellipsis; -moz-text-overflow:ellipsis;}
.sr-related__item.item--cate a{padding-left:16px;color:#666;position:relative;}
.sr-related__item.item--cate a:before{content:"";position:absolute;width:6px;height:6px;border-left:1px solid #999;border-bottom:1px solid #999;left:4px;top:8px}
.sr-related__item em{color:#1A70DD;font-weight:bold}
.sr-related__btn--del{display:none;text-indent:-9999em;width:16px;height:16px;background-position:-140px 0;position:absolute;top:4px;right:12px;background-color:transparent}
.sr-related__item:hover .sr-related__btn--del{display:block}
.sr-related__bnr{position: absolute;top:0;right:0;width:270px;height:290px;background-color:#eaeaea}
.sr-related__bnr a{display:block;font-size:0;position: relative;width:270px;height:290px;}
.sr-related__bnr a:before{content:"";position:absolute;top:0;left:0;bottom:0;border-left:1px solid rgba(0,0,0,.05)}
.sr-related__bnr img{height:290px;width:270px}
.sr-related__foot{padding:6px 8px 7px;margin-right:270px;height:16px;line-height:16px;border-top:1px solid #eee;background-color:#F8F8F8;vertical-align:middle;color:#777;font-family:"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;}
.sr-related__foot button{font-size:11px;letter-spacing:-1px;color:#999;background-color:transparent;padding:0 8px;height:16px;position: relative;margin-top:-1px}
.sr-related__foot button:hover{text-decoration:underline;}
.sr-related__foot .related__btn--lay--off{float:right;margin:0}

/* 헤더 - 카테고리*/
.header-cate{height:26px;position: absolute;top:22px;left:534px}
.header-cate__list{float:left;margin:4px 0 0 40px;}
.header-cate__list:before,
.header-cate__list:after{content:"";display:table}
.header-cate__item{float:left;padding:0 11px 0 12px;position:relative;color:#fff;height:18px;line-height:18px;}
.header-cate__item:before{content:"";position: absolute;top:4px;left:0;height:12px;border-left:1px solid rgba(255,255,255,.24);}
.header-cate__item:first-child{padding-left:0}
.header-cate__item:first-child:before{display:none}
.header-cate__item:last-child{padding-right:0}
.header-cate__item > a{color:#fff !important;font-weight:bold;font-size:13px;display:block;}
.header-cate__item > a .ico-cate{display:inline-block;position:relative;width:20px;height:20px;margin-right:2px;vertical-align:-5px;background:url(//img.enuri.info/images/rev/ico_cate_sprite.png) no-repeat}
.header-cate__item > a .ico-cate--air {background-position:0 0;}
.header-cate__item > a .ico-cate--health {background-position:-20px 0;}
.header-cate__item > a .ico-cate--luxury {background-position:-40px 0;}
.header-cate__item > a .ico-cate--aircontrol {background-position:-60px 0;}
.header-cate__item > a .ico-cate--toy {background-position:-80px 0;}

/* 210514 : SR#46731 : 주요카테고리 관리자 대응 */
/* 210716 : SR#47844 : 카테고리 디자인수정 및 위치변경*/
.header-cate__item > a .ico {display:inline-block;position:relative;max-width:20px;height:20px;margin-right:2px;vertical-align:-5px;}
.header-cate__item > a .ico img {vertical-align:0} /* 혜택존 공통 CSS 간섭으로 추가 */

.header-cate__btn--all{float:left; transition:.2s all ease;width:126px;height:34px;border:1px solid rgba(0,0,0,.1);border-radius:4px;background-color:rgba(0,0,0,.2); text-align:center;font-size:0;font-family:"맑은 고딕","Malgun Gothic","Apple SD Gothic Neo",sans-serif;color:#fff;letter-spacing:-.5px;line-height: 1;padding-left: 8px; margin-top: -4px;}
.header-cate__btn--all.is--on{background: #0060af; border-color:rgba(0,0,0,.05)}
.header-cate__btn--all:hover{box-shadow:0 0 5px rgba(0,0,0,.15)}
.header-cate__btn--all i{display:inline-block;position:relative;text-indent:-9999em;width:18px;height:18px;vertical-align:-6px;}

.header-cate__btn--all span {display: inline-block;vertical-align: -2px;font-size:12px;}
i.ico-cate--all{margin-right:4px;background-position:0 -450px;}
i.ico-cate--arrow-down{margin-left:2px;background-position:-18px -450px}

/* 헤더 - 우측 광고 */
.header-ad{position:absolute;width:168px;height:60px;padding:0 20px;top:5px;right:0}
.header-ad__btn{position:absolute;width:16px;height:16px;border:0;background-color:transparent;top:50%;margin-top:-8px;text-indent:-9999em;overflow:hidden;/* transition:.3s all ease; */opacity:0}
.header-ad__btn--prev{left:0;background-position:-20px -20px;/* transform:translateX(-50%) */}
.header-ad__btn--next{right:0;background-position:-20px -40px;/* transform:translateX(50%) */}
.header-ad:hover .header-ad__btn{/* transform:translateX(0); */opacity:1}
.header-ad:hover .header-ad__btn:hover{opacity:.7;}
.header-ad__btn--prev:hover{background-position:0 -100px}
.header-ad__btn--next:hover{background-position:-20px -100px;/* transform:translateX(50%) */}

/* icon : Close */
.ico-cls{width:24px;height:24px;position:relative;}
.ico-cls:before{content:"";position:absolute;top:50%;left:50%;margin:-1px 0 0 -10px;width:20px;height:2px;background-color:#fff;transform:rotate(-45deg);transform-origin:center center}
.ico-cls:after{content:"";position:absolute;top:50%;left:50%;margin:-1px 0 0 -10px;width:20px;height:2px;background-color:#fff;transform:rotate(45deg);transform-origin:center center}
.ico-cls--big{width:40px;height:40px;position:relative;display:block;font-size:0}
.ico-cls--big:before{content:"";position:absolute;top:50%;left:50%;margin:-2px 0 0 -15px;width:30px;height:4px;background-color:#fff;transform:rotate(-45deg);transform-origin:center center}
.ico-cls--big:after{content:"";position:absolute;top:50%;left:50%;margin:-2px 0 0 -15px;width:30px;height:4px;background-color:#fff;transform:rotate(45deg);transform-origin:center center}
