@charset "utf-8";

/************************************************************************
 * 파일명 : policy.css
 * 설명 :에누리 가격비교 PC Rev / 에누리 정책
 * 작성자 : 신왕섭
 * 작성일 : 2021.02.10
************************************************************************/

/* 에누리 정책 */
.policy{line-height:18px;font-size:14px}
.policy__inner{margin-top:36px;padding-bottom:40px}
.policy__inner:after{content:"";display:block;clear:both}
/* 로케이션 */
.location{padding-top:24px;padding-bottom:17px;border-bottom:1px solid #ddd;margin-bottom:20px;letter-spacing:-1px}
.location__list{height:16px;text-align:left}
.location__list .location__item:first-child{margin-left:0}
.location__list .location__item:last-child .location__tit{padding-right:0}
.location__list .location__item:last-child .location__tit:after{display:none}
.location__item{float:left;height:16px;line-height:16px;font-size:14px;color:#666;margin-left:5px;position:relative}
.location__item.is--selected .location__tit{font-weight:bold;}
.location__tit{position:relative;display:block;padding-right:21px}
.location__tit:after{content:"";position:absolute;width:12px;height:12px;background:url(//img.enuri.info/images/rev/lp_sprite.png) no-repeat 0 -20px;top:2px;right:2px}
.ico-loc-home{display:inline-block;width:16px;height:16px;background-position:0 0;text-indent:-9999em;background-image:url(//img.enuri.info/images/rev/lp_sprite.png);background-repeat:no-repeat}
/* 공통 타이틀 / 메뉴 */
.policy h2{font-size:28px;line-height:38px;font-weight:bold;letter-spacing:-2px;padding-left:8px;color:#1A70DD}
.policy h3{font-size:28px;line-height:38px;font-weight:bold;letter-spacing:-2px;padding-bottom:12px;color:#333;border-bottom:2px solid #333;margin-bottom:32px}
.policy__lnb{width:200px;float:left;}
.policy__cont{width:980px;float:right;color:#666}
.policy__menu{margin-top:12px;border-top:2px solid #1A70DD}
.policy__menu li{height:42px;border-bottom:1px solid #eee;color:#999}
.policy__menu li:hover{color:#333}
.policy__menu li > a{display:block;font-size:14px;padding:12px 0 12px 8px;letter-spacing:-1px;color:inherit}
.policy__menu li > a:hover{text-decoration: none;}
.policy__menu li.is--on{color:#1A70DD;font-weight:bold}
.policy__menu li:last-child{border-color:#ddd}
.policy__tit--sub{font-size:14px;color:#333;font-weight:bold;margin-bottom:16px;letter-spacing:-1px}
.policy__tit--sub em{color:#1A70DD}
/* 이용약관 */
.policy__main{font-size:13px;color:#666;line-height:20px;letter-spacing:-.5px}
.policy__main dl{margin-top:40px}
.policy__main dt{font-size:14px;font-weight:bold;color:#1A70DD;margin-bottom:16px}
.policy__main ol{padding-left:20px;}
.policy__main ol li{position: relative;margin-bottom:6px}
.policy__main ol li > span{position:absolute;margin-left:-20px;}
.policy__main .slist{padding-left:20px;margin:4px 0 12px 0;font-size:12px;letter-spacing:0}
.policy__main .slist li{margin-bottom:0;color:#999}
.policy__main .slist li > span{position:absolute;margin-left:-18px;}
.policy__main .policy__tx--supplement{margin-top:48px}
/* 개인정보처리방침 */
.privacy{font-size:13px;color:#666;line-height:20px;letter-spacing:-.5px}
.privacy .list_box{margin-top:32px;padding:24px 40px;border:1px solid #eee;background-color:#fbfbfb}
.privacy .list_box ol{padding:0}
.privacy .list_box li{margin:8px 0;font-size:14px;font-weight:bold;color:#333}
.privacy .list_box li a{color:inherit}
.privacy dl{position:relative;margin-top:40px}
.privacy dt{font-size:14px;font-weight:bold;color:#1A70DD;margin-bottom:16px}
.privacy ol{padding-left:20px;}
.privacy ol li{position: relative;margin-bottom:6px}
.privacy ol li > span{position:absolute;margin-left:-20px;}
.privacy dd{position:relative;}
.privacy .info_box{margin-top:32px;width:100%}
.privacy .info_box .info{float:left;width:50%}
.privacy .info_box .info > span{color:#333}
.privacy .info_box:after{content:"";display:block;clear:both}
.privacy_tb{width: 720px; margin:16px 0 32px 0;font-size:12px;color:#333}
.privacy_tb th{padding:6px 0;text-align:center;font-weight:bold}
.privacy_tb th{border:1px solid #eee;background:#fbfbfb;}
.privacy_tb td{padding:6px 10px;font-size:12px;color:#666;border:1px solid #eee;line-height:18px}
.privacy_tb td .pvlayer_go{cursor:pointer; }
/* 청소년보호방침 */
.youthpolicy{font-size:13px;color:#666;line-height:20px;letter-spacing:-.5px}
.youthpolicy dl{margin-top:40px}
.youthpolicy dt{font-size:14px;font-weight:bold;color:#1A70DD;margin-bottom:16px}
.youthpolicy ol{padding-left:20px;}
.youthpolicy ol li{position: relative;margin-bottom:6px}
.youthpolicy ol li > span{position:absolute;margin-left:-20px;}
.youthpolicy dd{position:relative;}
.youthpolicy .info_box{margin-top:32px;width:100%}
.youthpolicy .info_box .info{float:left;width:50%}
.youthpolicy .info_box .info > span{color:#333}
.youthpolicy .info_box:after{content:"";display:block;clear:both}
/* 법적고지 */
.disclaimer{font-size:13px;color:#666;line-height:20px;letter-spacing:-.5px}
.disclaimer > p{margin-top:40px}
.disclaimer > p:nth-of-type(1){margin-top:0}
.disclaimer .ask{text-align:right;margin-top:40px}
/* 이전약관 */
.prevPrivacy{margin-top:48px}
.prevPrivacy select{height: 32px;padding: 0 12px 2px;letter-spacing: -1px;border-color: #aaa;border-radius: 4px;}
.prevPrivacy select:hover{border-color:#666}

/* 구)에누리정책 레이어 */
.privacy_layer{position:absolute; left:10px; bottom:0; background:#fff;border:1px solid #575c67; box-shadow: 0px 1px 2px 0px #000; z-index:10; letter-spacing:-0.5px; width:402px;}
.privacy_layer h4{background:#575c67; color:#ffffff; font-size:12px; height:25px; padding-top:5px; text-indent:10px; font-weight:normal; }
.privacy_layer .close{width:14px; height:14px; position:absolute; right:7px; top:7px; background: url(http://img.enuri.info/images/home/ico_stick.png) -117px -208px no-repeat; text-indent:-9999em;}
.privacy_layer .btncnt{text-align:center; }
.privacy_layer .btncnt a{display:inline-block; border:1px solid #e2e2e2; font-size:12px; cursor:pointer; padding:0 8px; height:20px; margin:0 3px; vertical-align:bottom;}
.privacy_layer .btncnt a:hover{text-decoration:none;}
.privacy_layer .pr_layercon{background: #ffffff; padding: 15px 18px; color: #343434;}
.privacy_layer .pr_layercon li{color:#343434; background: url(http://img.enuri.info/images/mailing/common/ico_dot.gif) 0 6px no-repeat; padding-left:8px; line-height:15px; padding-bottom:4px;}
.privacy_layer .pr_layercon h5{font-size:13px; color:#343434; padding:5px 0 2px 0;}
.privacy_layer .pr_layercon .box{border:1px solid #e2e2e2; padding:13px 7px; font-size:12px; color:#666666; }
.privacy_layer .pr_layercon .update{display:block; text-align:right; font-size:12px; color:#666666; }
#prv_layer.privacy_layer{bottom:-60px;left:auto}
