@charset "utf-8";
/************************************************************************
 * 파일명 : sitemap.css
 * 설명 :에누리 가격비교 PC Rev / Sitemap
 * 작성자 : 신왕섭 
 * 작성일 : 2021.01.22 ==> 22.01.07 (modify: 박현원)
************************************************************************/
/* 사이트맵 */
.sitemap{width:1280px;margin:0 auto;padding:38px 0;letter-spacing:-1px}
.sitemap a:hover{text-decoration:underline}
.sitemap h1.sitemap__tit{font-size:28px;font-weight:bold;text-align:center;line-height:37px;color:#333}
.sitemap .sitemap__tx--sub{font-size:14px;color:#999;text-align:center;margin-top:12px;line-height:18px}
.sitemap h2{font-size:18px;font-weight:bold;color:#000;line-height:24px}
.sitemap .sitemap-service{padding:24px 0;margin-top:16px;border-bottom:1px solid #eee}
.sitemap .sitemap-service:last-of-type{border-bottom:0}
.sitemap .sitemap-service:after{content:"";display:block;clear:both}
.sitemap .sitemap-service h2{position:relative;float:left;padding-right:21px}
.sitemap .sitemap-service h2:after{content:"";position: absolute;top:3px;right:0;height:18px;border-right:1px solid #ddd}
.sitemap .sitemap-service .service__bundle{position: relative}
.sitemap .sitemap-service .service__item{float:left;padding:0 20px}
.sitemap .sitemap-service .service__item a{font-size:14px;color:#666;line-height:24px}
.sitemap .sitemap-service.service--category{border-bottom:0}
.sitemap .sitemap-service.service--category h2{float:none}
.sitemap .sitemap-service.service--category h2:after{display:none}

.sitemap .sitemap_category_menu {display: flex; justify-content: space-between; height:42px;margin-top:16px}
.sitemap .sitemap_category_menu > li{flex: 1 1 auto; height:42px; border:1px solid #ddd;border-bottom:0;background-color:#eee; font-size: 13px; color:#666; text-align: center; padding:11px 0; cursor:pointer;}
.sitemap .sitemap_category_menu > li +li {margin-left:-1px;}
.sitemap .sitemap_category_menu > li.is--active {border-color:#1a70dd;background-color:#1a70dd; color:#fff; font-weight: bold;}

.sitemap .sitemap_category_content > div {display: none;}
.sitemap .sitemap_category_content > div.is--active {display: block;}
.sitemap .sitemap_category_content .category-box {border:1px solid #1a70dd;background-color:#fff; padding: 20px 15px;}

.sitemap .category-box > ul {display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; align-items: stretch;}
.sitemap .category-box > ul > li {position: relative; flex: 0 0 auto; width:16.666%; padding-left: 15px; margin-bottom:30px;}
.sitemap .category-box > ul > li:after {content: "";display: block;width: 1px;height: 100%;background-color: #eee;position: absolute;top: 0;right: 0;}
.sitemap .category-box > ul > li:nth-child(6n):after {display: none;}
.sitemap .category-box > ul > li h4 {font-size:14px;font-weight:bold; margin-bottom:10px;}

.sitemap .category-sub__item{padding:4px 0;}
.sitemap .category-sub__item a{font-size:13px;color:#666}