@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;}

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%; background:#8d714a}

.wrap{position:relative;width:100%; }
.mainvisual{width:100%;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/webvisual_bg.gif) left top; background-size:5px 696px; height:696px }
.topcontent{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/webvisual.jpg) center top no-repeat; background-size:500px 696px; height:696px; }
.content{width:320px; margin:0 auto; position:relative; }
.topcontent dl{position:absolute; left:9px; top:373px;}
.topcontent dt{display:none; }
.topcontent dd a{float:left; width:101px; height:83px; text-indent:-9999em; }

/* footer */
.footer{width:320px; margin:0 auto; }
footer{color:#77787b; width:100%; background:#d3d4d5; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;}
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
footer em{color:#c0c1c3; padding:0 6px; display:inline-block; }

.win_close{z-index:10; position: fixed; width: 30px; height: 30px; right:5px; top: 5px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/btn_close.png) 0 0 no-repeat; background-size:30px; }

.notice{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/bg_notice.png) center 0 no-repeat #f0f0f0; background-size:320px 169px; height:169px; text-indent:-9999em; }
.appdown{border-top:1px solid #013e35; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/app_quiz.png) center 0 no-repeat #018f3f; background-size:320px 189px; text-indent:-9999em; }
.appdown a{display:block; height:189px; }

.private{width:300px; height:126px; padding-top:17px; margin:0 auto 20px; background:#f0f0f0; border-radius:10px; }
.private dl:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.private dl dt{width:78px; text-indent:12px; float:left; font-size:13px; color:#000; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/ico_dot.gif) 16px 14px no-repeat; background-size:2px; padding:9px 0 0 10px; margin-bottom:10px;}
.private dd{width:197px;line-height:32px; float:left; margin-bottom:10px;}
.private dd input{border:1px solid #999999; width:180px; padding:2px 5px; height:25px; font-size:13px; }
.private dd select{width:65px; color:#999999; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/butterfly/ico_select.gif) right 0 no-repeat; background-size: 22px 24px; padding-right:22px; padding:2px 5px; border:1px solid #999999; }
.private label{font-size:11px; display:block; text-align:center; width:100%; margin-top:10px; letter-spacing:-1px}
.private label input{margin:-5px 2px 0 0;vertical-align:middle; border:none; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img_chk.gif) 0 0 no-repeat; background-size:12px 26px;  width:12px; height:13px; }
.private label input[type='checkbox']:checked {background-position: 0 -13px;}
.private label .go_detail{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_detail.gif) 0 0 no-repeat; background-size:60px 15px; display:inline-block; width:60px; height:15px; text-indent:-9999em; margin:0 0 0 4px; vertical-align:1px;}
.private a.btn_ok{width:158px; height:27px; position:absolute; left:74px; top:389px; text-indent:-9999em; }
.private .orderbtn{width:170px; height:28px; position:absolute; left:68px; top:120px; text-indent:-9999em; }
.private .shoplist{width:192px; }
.go_enter{width:100%; text-align:center; margin-bottom:33px;}
.go_enter a{width:201px; height:50px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/btn_send.png) 0 0 no-repeat; background-size:201px 50px; display:inline-block; text-indent:-9999em;}

.number{height:364px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/nuddle.png) center top no-repeat; background-size:300px 347px;}
.number .choice{width:305px; margin:0 auto; }
.number .choice:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.number .choice li{width:152px; float:left; height:175px; position:relative; }
.number .choice li .soldout{width:82px; height:82px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/ico_soldout.png) 0 0 no-repeat; background-size:82px; position:absolute; text-indent:-9999em; display:block; left:35px; top:15px;}
.number .choice li span{text-indent:-9999em; display:block; }
.number .choice li input{border:none; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/btn_radio.png) 0 0 no-repeat; background-size:21px; width:21px; height:21px; position:absolute; left:70px; bottom:15px;}
.number .choice li input[type='radio']:checked {background-position: 0 -22px;}

/*레이어*/
.layer_back{width: 100%; height:1586px; position:absolute; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100;}
.layer_back .win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }
.layer_back .win_close02{z-index:10; position: absolute; width:174px; height:27px; left:66px; bottom: 22px; text-indent: -9999em; }

.layer_back_n{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100;}
.layer_back_n .win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }
.layer_back_n .win_close02{z-index:10; position: absolute; width:174px; height:27px; left:66px; bottom: 22px; text-indent: -9999em; }

.privacyArea{z-index:100; position:relative; width:305px; height:435px; margin:0px auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/layer_privacy02.png) 0 0 no-repeat; background-size:305px 435px}
.privacyArea a.btn_ok{width:158px; height:27px; position:absolute; left:74px; top:385px; text-indent:-9999em; }
.privacyArea h2, .privacyArea p, .privacyArea dl, .privacyArea ul{text-indent:-9999em;}

.winArea{width:305px; height:350px; margin:0 auto 0 -152px; position:absolute; left:50%; top:50px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/quiz/layer_winner.png) 0 0 no-repeat; background-size:305px 350px}
.winArea h2{text-indent:-9999em; }
.winArea a.back{width:170px; height:27px; position:absolute; left:68px; top:303px; text-indent:-9999em; }

.win_list{width:251px; background:#f2f2f2; margin:52px auto 0; padding-bottom:5px }
.win_list span{width:100%; text-align:center; display:block; background:#000;}
.win_list select{height:22px; color:#ffffff; font-weight:bold; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/bullet.gif) 73% 8px no-repeat #000; background-size:9px 7px; border:none; padding:0 80px;}
.win_list_scroll{height:150px; overflow:auto;-webkit-overflow-scrolling:touch; padding:5px 5px 5px 15px; }
.win_list dl{font-size:12px; }
.win_list dl dt,dd{float:left; line-height:18px;}
.win_list dl dt{width:25%; text-align:center; overflow:hidden; height:18px;}
.win_list dl dd{width:25%;}

.go_top {width: 39px; height: 39px; position: fixed; bottom: 38px; right: 10px; z-index: 10;}
.go_top a {background: url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}


.shop_info{z-index:100; width:305px; height:435px; margin:0 auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/order_info_img.png) 0 0 no-repeat; background-size:305px 435px; }
.shop_info a.btn_ok{width:172px; height:30px; position:absolute; left:66px; top:385px; text-indent:-9999em; }


/*번호입력*/
.number_input{width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/number_bg.gif) left top; background-size:15px 498px }
.number_input .content{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_oct/bg_number.jpg) 0 0 no-repeat; background-size:320px 498px; height:498px}
.number_in{text-align:center; width:100%; display:block; position:absolute; left:0; top:345px;}
.number_in input{border:2px solid #d2d2d2; width:275px; height:29px; margin:0 3px; text-align:center; }
.appevt_ok{width: 180px; height: 40px; position: absolute; left: 70px; top: 93px; text-indent: -9999em;}

.congrats{z-index:100;width:250px; height:360px; margin: -180px 0px auto -125px; position:absolute; left:50%; top:50%; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app/layerbg_win.png) 0 0 no-repeat; background-size:250px 360px; }
.star{width:180px; height:35px; position:absolute; left:35px; top:254px; text-indent:-9999em;}
.congrats_ok{width:180px; height:35px; position:absolute; left:35px; top:308px; text-indent:-9999em;}
.congrats .win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }

.num_send{z-index:100;width:250px; height:200px; margin: -113px 0px auto -125px; position:absolute; left:50%; top:50%; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/evt_number_end.png) 0 0px no-repeat; background-size:250px 200px; }
.num_send .congrats_ok{width:150px; height:28px; position:absolute; left:50px; top:142px; text-indent:-9999em;}
.num_send .win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }

.number_go{width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/app/number_go.gif) top center no-repeat; background-size:320px 175px; height:175px; text-indent:-9999em; }
.number_go .content{height:175px; }
.number_go a{width:180px; height:39px; display:block; position:absolute; left:70px; bottom:22px;}