@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;}

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%; }

.go_top {width: 39px; height: 39px; position: fixed; bottom: 38px; right: 10px; z-index: 10;}
.go_top a {background: url(http://img.enuri.info/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}
.wrap{position:relative;width:100%; min-width:320px; padding-top:30px;}
.wrap.gate{padding-top:0;}
.content{width:320px; margin:0 auto; position:relative; overflow:hidden;}
.app .wrap{padding-top:48px;}
.app .win_close{bottom: 0px;}

/* footer */
.footer{width:320px; margin:0 auto; }
footer{color:#77787b; width:100%; background:#d3d4d5; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;} 
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;}
footer em{color:#c0c1c3; padding:0 6px; display:inline-block; }

.wrap{height:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.mainvisual{width:100%; background:url(http://img.enuri.info/images/event/2016/com/building.jpg) center bottom no-repeat #4b6274; background-size:950px 334px; height:552px; text-indent:-9999em;  position:relative; }
.mainvisual .content{height:320px; margin:-160px auto 0 -160px; width:320px; position:absolute; left:50%; top:50%; }
.mainvisual .content h1{background:url(http://img.enuri.info/images/event/2016/com/title.png) center top no-repeat; background-size:262px 110px; height:165px; text-indent:-9999em; }

.mainvisual .content .go{width:100%; }
.mainvisual .content .go li{width:50%; height:152px; float:left; background:url(http://img.enuri.info/images/event/2016/com/quest.png) 0 0 no-repeat; background-size:276px 322px;}
.mainvisual .content .go li:first-child{background-position:24px -1px;}
.mainvisual .content .go li:nth-child(2){background-position:-130px -1px;}
.mainvisual .content .go li.on{background-position:-130px -167px;}
.mainvisual .content .go li a{display:block; height:152px;}

.quest01{padding:45px 0; background:#ffffff;  text-indent:-9999em; position:relative;}
.quest01 .content{width:320px; background:url(http://img.enuri.info/images/event/2016/com/quest01.png) 0 0 no-repeat; background-size:320px 490px; margin:0 auto;  height:490px; }
.quest01 .content a{width:213px; height:40px; position:absolute; left:53px; bottom:0;}

.quest02{padding:45px 0;background:#fcfdf3;  text-indent:-9999em; position:relative;}
.quest02 .content{width:320px; background:url(http://img.enuri.info/images/event/2016/com/quest02.png) 0 0 no-repeat; background-size:320px 506px; margin:0 auto;  height:506px; }
.quest02 .content a{width:213px; height:40px; position:absolute; left:53px; bottom:0;}


/*탭*/
.nav-container {height:30px; position:fixed; width:100%; z-index:100; top:0; left:0;}
.f-nav {z-index:9999; position:fixed; left:0; top:0; width:100%;}
.name{height:23px; background:#ffffff; color:#666666; padding:7px 0 0 25px;position:relative; }
.name:after{content:""; background:url(http://img.enuri.info/images/event/2016/attend/iconset.png) 0 0px; background-size:50px; width:15px; height:15px; position:absolute; left:5px; top:6px;}
.name span{position:absolute; right:6px; top:6px; display:block; padding:2px 10px 0 0; cursor:pointer; }
.name span:before{content:""; position:absolute; left:-40px; top:1px; background:url(http://img.enuri.info/images/event/2016/attend/iconset.png) left -23px; background-size:50px; width:37px; height:16px;}
.name span:after{content:""; position:absolute; right:0px; top:4px; background:url(http://img.enuri.info/images/event/2016/attend/iconset.png) right -25px; background-size:50px; width:6px; height:11px;}
.name button.btn_login{position:absolute; right:6px; top:4px; background:url(http://img.enuri.info/images/event/2016/attend/btn_login.gif) 0 0; background-size:65px 23px; width:65px; height:23px; text-indent:-9999em; border:none;}
.win_close{z-index:10; position: absolute; width:21px; height: 21px; right:5px; bottom:-30px; text-indent: -9999em; background: url(http://img.enuri.info/images/event/2016/com/x_black.png) 0 0 no-repeat; background-size:21px; }

.layer_back{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index:1000;}
.appLayer{width:300px; background:#ffffff; height:200px; border:1px solid #0182ea; margin: -100px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:1000}
.appLayer h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.appLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.appLayer .btn_close button{background:#22211e; color:#ffffff; width:100px; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
.appLayer .txt{text-align:center; padding:17px 0; color:#333333;  font-size:16px; letter-spacing:-1px;}
.appLayer .txt strong{color:#ff2424; display:block; }
.appLayer .txt em{font-weight:bold; }
.btn_close{text-align:center; }

