@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;}

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%;}

.wrap{position:relative;width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/bg_back.png) center top repeat-x #fbfbfb; background-size:160px 315px; }
.content{width:320px; margin:0 auto; position:relative; }
.mainvisual{width:100%;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/img01.png) center top no-repeat; background-size:320px 528px; height:528px; text-indent:-9999em; }
.mypage{position:absolute; left:35px; bottom:35px; width:250px; height:56px}
.mainvisual .content{height:528px;}

.evt_go{width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/img02.png) center top no-repeat #eeeeee; background-size:320px 390px; height:390px; text-indent:-9999em; }
.eventgo{position:absolute; left:35px; bottom:35px; width:250px; height:56px}
.evt_go .content{height:390px;}

.note{background:#665c53; width:100%; }
.note h3{background:#4a2f13; color:#ffffff; font-size:18px; line-height:45px; text-align:center; }
.note h3 span{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/bullet_web.png) right 10px no-repeat; background-size:25px; padding-right:30px; display:inline-block; }
.note dl{width:320px; margin:0 auto; padding:12px 0px; }
.note dt{color:#ebebea; font-weight:bold; padding:15px 0 5px 0;}
.note dt:first-child{padding-top:0; }
.note dd{font-size:12px; color:#b9b0a7; padding:0 5px 5px 10px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/ico_dot.gif) 2px 5px no-repeat; background-size:3px 3px; }

.note ul{width:320px; margin:0 auto; padding:12px 0px; }
.note li{font-size:12px; color:#b9b0a7; padding:0 5px 7px 10px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/ico_dot.gif) 2px 5px no-repeat; background-size:3px 3px; }

.topbnr{height:54px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/bg_topbnr.png) ; background-size:8px 54px; }
.topbnr a{width:100%; display:block; height:54px; text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/topbnr.png) center no-repeat; background-size:320px 54px; }
.btmbnr{height:55px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/bg_btmbnr.png) ; background-size:8px 55px; }
.btmbnr a{width:100%; display:block; height:55px; text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/btmbnr.png) center no-repeat; background-size:320px 55px; }

.mainvisual_web{width:100%;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/img03.png) center top no-repeat; background-size:320px 512px; height:512px; text-indent:-9999em; }
.mainvisual_web .content{height:512px; }
.appdown{position:absolute; left:20px; top:175px; width:275px; height:45px}

.howto{width:100%; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/img04.png) center top no-repeat #eeeeee; background-size:320px 471px; height:471px; text-indent:-9999em; }
.howto .content{height:471px;}

.go_top {width: 39px; height: 39px; position: fixed; bottom: 38px; right: 10px; z-index: 10;}
.go_top a {background: url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}

/* footer */
.footer{width:320px; margin:0 auto; }
footer{color:#77787b; width:100%; background:#d3d4d5; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;}
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;}
footer em{color:#c0c1c3; padding:0 6px; display:inline-block; }

.win_close{z-index:10; position: fixed; width:24px; height: 24px; right:5px; top: 12px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/install/close.png) 0 0 no-repeat; background-size:24px; }