@charset "utf-8";
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
/* default.css */
html, body	 {width:100%;height:100%;}
body {width:100%;height:100%;background:#fff; margin:0; padding:0;}
/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
/* common */
body{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666; font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}
img{vertical-align:top;}

.hide{display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */
/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 
/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active, a:hover {text-decoration:none}
/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
button{cursor:pointer;}

/* 20160624 [PC] 2016 상반기 에누리 히트브랜드 */
.event_wrap {position:relative; min-width:1000px;}
.event_wrap h2, .event_wrap .txt,  .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap a {outline:none;}
.event_wrap .section {width:100%; overflow:hidden;}
.event_wrap .contents {position:relative; margin:0 auto; width:1044px; height:100%;}
.event_wrap .height1000 {height:930px;}
.event_wrap .contents .btn {cursor:pointer;}

.tab_area {position:absolute;width:100%;z-index:100; background:#fff;left:0;right:0}
.tab_area .inner{overflow:hidden;width:1000px; margin:0 auto;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab_bg.jpg) no-repeat 0 100%;}
.tab_area .tabmenu{padding-left:180px;overflow:hidden;}
.tab_area .tabmenu li {float:left; width:213px; text-align:center;}
.tab_area .tabmenu li a{display:block;width:213px;height:47px;text-indent:-181818em;border-bottom:1px solid #424242;padding-top:18px;}
.tab_area .tabmenu li.tab1 a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab1.png) no-repeat 0 100%;}
.tab_area .tabmenu li.tab2 a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab2.png) no-repeat 0 100%;}
.tab_area .tabmenu li.tab3 a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab3.png) no-repeat 0 100%;}

.tab_area .tabmenu li.tab1.on a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab1_on.png) no-repeat 0 100%;}
.tab_area .tabmenu li.tab2.on a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab2_on.png) no-repeat 0 100%;}
.tab_area .tabmenu li.tab3.on a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tab3_on.png) no-repeat 0 100%;}

.visual {height:562px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/visual.jpg) no-repeat 50% 0;}

.event_wrap h3 {height:91px;padding:55px 0px 30px;width:100%;background-position:50% 55px;background-repeat:no-repeat;text-indent:-18181em;}
.event_wrap #con1 h3{background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tit1.png);background-color:#fff;}
.event_wrap #con2 h3{padding-bottom:0;background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tit2.png)}
.event_wrap #con2 h4{width:124px;height:58px;border:4px solid #000;font-family:Malgun Gothic;color:#000;font-size:30px;line-height:50px;margin:35px auto;text-align:center;}
.event_wrap #con3 h3{background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/tit3.png)}



.itemlist:after {content:'';display:block; clear:both;}
.itemlist{padding-top:43px;padding-bottom:32px;}
.itemlist li {position:relative; float:left;width:348px; height:498px;cursor:pointer;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/list_bg.png) no-repeat 0px 0px;}
.itemlist li .inner{padding:8px 24px 40px;width:300px;}
.itemlist li .img_box{width:298px;height:298px;text-align:center;padding:1px;}
.itemlist li .img_box img{max-width:298px;max-height:298px;width:100%;}
.itemlist li .txt_box{position:relative;width:260px;height:109px;padding:20px;font-family:Malgun Gothic;font-size:16px;color:#444444;}
.itemlist li .txt_box .tit{font-weight:normal;display:block;}
.itemlist li .txt_box .info{display:block;font-size:12px;color:#C80000;padding-top:6px;}
.itemlist li .txt_box .price{position:absolute;bottom:20px;right:18px;left:0;text-align:right;font-size:0;}
.itemlist li .txt_box .price em{display:inline-block;font-size:12px;letter-spacing:-0.05em;font-weight:bold;color:#ef42f3;vertical-align:middle;margin-top:4px;}
.itemlist li .txt_box .price p{display:inline-block;font-size:25px;padding-left:10px;font-weight:bold;color:#0073c5;vertical-align:middle;}
.itemlist li .txt_box .price p span{font-size:16px;}

/* 프로모션용 푸터 */
.bnr_area{margin-top:8px;background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_footer_bnr.gif) 0 0; text-align:center; height:91px; }
.bnr_area ul{margin:0 auto; width:1000px; background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr.gif) 0 0 no-repeat; height:91px;}
.bnr_area ul li a{width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer{width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu{text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li{margin:auto; display:inline; margin:0 17px;}
.footer_menu li a{color:#555555; text-decoration:none;}

.footer .adr{padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span{padding-right:12px; }
.footer .adr img{vertical-align:middle}

.footer .award_list{background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr02.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright{padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong{display:block; font-weight:normal; color:#5390be; }

#m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}


.bn{width:1000px;margin:0 auto;padding-top:126px;}
#con1{background:#fafafa;}
#con2 button{z-index:10; border:none;outline:none;}
#con2 .slick-prev{ text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/shopping_stamp/spring/arrowtip.png) no-repeat left top; width:32px; height:49px;  position:absolute; top:190px; left:-35px; }
#con2 .slick-prev:hover {background-position:left -49px !important;}
#con2 .slick-next{ text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/shopping_stamp/spring/arrowtip.png) no-repeat right top ; width:32px; height:49px;  position:absolute; top:190px; right:-35px; }
#con2 .slick-next:hover {background-position:right -49px !important;}
#con2 .itemlist{padding-top:0px;}
#con2 .txt_box{}
#con2 .txt_box .tit2{display:block;height:26px;position:absolute;top:0px;left:14px;padding-left:23px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/hitbrand/ico_medal.gif) no-repeat 0 0;color:#343434;font-size:14px;font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;padding-top:2px;}
#con2 .txt_box .tit2 span{font-weight:normal;padding-left:9px;color:#666666;}
#con2 .txt_box .name{display:block;padding-top:30px;}
#con2 .txt_box .price{bottom:14px;}
#con2 .txt_box .price em{color:#ff2222;}
#con2 .txt_box .price p{color:#0073c5;}

.line{display:block;height:1px;background:#e6e6e6;width:1000px;margin:0 auto;}

#con3 .contents{width:1000px;margin:0 auto;}
#con3 .cm_list:after{display:block;content:"";clear:both;}
#con3 .cm_list li{float:left;margin-left:18px;width:236px;height:390px;}
#con3 .cm_list li a{display:block;}
#con3 .cm_list li img{width:236px;height:390px;}
#con3 .cm_list li:first-child{margin-left:0px;}

#con4 .banner{margin-top:102px;height:138px;width:100%;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/banner.gif) no-repeat 50% 0;border-bottom:1px solid #ef42f3;text-indent:-181818em;}
#con4 .contents{background:#fafafa;width:100%;}
#con4 .contents .inner{width:1000px;margin:0 auto;}
#con4 .app1{position:relative;height:311px;padding-top:49px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/app1.jpg) no-repeat 0 100%;text-indent:-181818em;}
#con4 .app1 a{position:absolute;width:25%;display:block;top:140px;bottom:0px;}
#con4 .app1 a.link2{left:25%;}
#con4 .app1 a.link3{left:50%;}
#con4 .app1 a.link4{left:75%;}
#con4 .app2{height:503px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/app2.jpg) no-repeat 0 100%;text-indent:-181818em;}
#con4 .app2 ol{display:none;}

.bn_slide{position:relative;}
.bn_slide .slick-arrow{position:absolute;width:20px;height:39px;z-index:10;border:none;top:50%;margin-top:-20px;text-indent:-99999em;outline:none;}
.bn_slide .slick-prev{left:10px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/bn_left.png) no-repeat 0 0;}
.bn_slide .slick-next{right:10px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/bn_right.png) no-repeat 0 0;}

.lucky_box{position:relative;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/korea_sale_festa/img_lucky.jpg) no-repeat 50% 0;height:1428px;}
.lucky_box a{display:block;position:absolute;left:50%;}
.lucky_box .btn_box .btn_web{top:680px;left:50%;margin-left:-215px;}
.lucky_box .btn_info{height:38px;top:783px;width:208px;margin-left:-104px;left:50%;text-indent:-9999em;}

/*딤레이어 공통 */
.pop-layer  {position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100000;}
.popupLayer {position:absolute; left:0; top:0; width:100%; height:100%; z-index:10000; -ms-filter: alpha(opacity=60); filter: alpha(opacity=60); opacity:0.6; -moz-opacity:0.6;}
.popupLayer .dim {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:10100;}
.popup_box {position:absolute; left:50%; top:50%; overflow:hidden; z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top; margin:0; padding:0;}
.popup_box h4 {height:69px; text-align:center; font-family:Malgun Gothic;font-size:22px; font-weight:normal; line-height:66px;  color:#fff;letter-spacing:-0.75px; background-color:#0182ea;}
.popup_box .layclose {position:absolute; right:25px; top:25px; width:19px; height:19px; background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/shopping_benefits/btn_lay_close.png);}

/* 딤레이어 : 다운로드 SMS 보내기 */
.sendsms {width:408px;  height:237px; margin-left:-204px; margin-top:-118px; border:1px solid #0182ea; border-top:0; background:#fff;}
.sendsms .inner {width:377px; padding:40px 16px 0; line-height:1.5; font-family:Nanum Gothic; font-size:15px;color:#444;}
.sendsms .input_area input {width:213px; padding:0 20px; text-align:left; font-family:Malgun Gothic; font-size:18px; color:#bfbfbf;  letter-spacing:-0.75px;height:38px; line-height:35px; background:0; border:1px solid #0182ea; border-right:0;}
.sendsms .watchout {margin-top:15px;}
.sendsms .watchout li {font-size:15px; color:#7f7f7f; letter-spacing:-0.5px; margin-left:7px; padding-left:10px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.sendsms .laysend {position:absolute; right:0; top:-1px; width:123px; height:42px; background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/template/btn_lay_send.gif);}


/* 딤레이어 : 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;  height:283px; margin-left:-205px; margin-top:-142px; border:1px solid #0182ea; border-top:0; background:#fff;}
.onlyapp .inner {width:377px; padding:22px 16px 0; line-height:1.5; font-family:Nanum Gothic; font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center; line-height:1.2; padding-bottom:25px; font-size:18px; color:#393939; letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-family:Nanum Gothic;font-weight:800; font-size:14px; color:#2366aa;  letter-spacing:-0.5px; margin:0 0 5px 1px; padding-left:10px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px; padding:0 20px; text-align:left; font-family:Malgun Gothic; font-size:16px; color:#bfbfbf;  letter-spacing:-0.5px;height:38px; line-height:35px; background:0; border:1px solid #0182ea; border-right:0;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px; color:#7f7f7f; letter-spacing:-0.5px; margin-left:2px; padding-left:6px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute; right:0; top:-1px; width:123px; height:42px; background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/template/btn_lay_send2.gif);}

/* 가이드팝업 - 유의사항 : 아래로 떨어지는 형태 */
.guide {width:800px;  position:absolute; left:50%; margin-left:-400px; z-index:50;}
.guide.gd1 .layer_open {height:1116px;}
.guide.gd2 .layer_open {height:1144px;}
.guide.gd3 .layer_open {padding-bottom:60px}
.guide h4 {height:69px; text-align:center; font-family:Nanum Gothic;font-size:32px; font-weight:normal;  line-height:66px;  color:#fff; background-color:#d444d7;}
.guide .layer_open {display:none;  position:absolute; left:0; width:100%; border:1px solid #d444d7; border-top:0; background:#fff; z-index:50;}
.guide.gd1 .layer_open {top:-33px;}
.guide.gd2 .layer_open {top:-64px;}
.guide.gd3 .layer_open {top:-577px;}
.guide .layer_open .inner {padding:34px 50px 24px 50px;}
.guide .layer_open dl {margin-bottom:30px; font-size:15px;color:#333;}
.guide .layer_open dt {line-height:20px; font-family:Nanum Gothic;font-weight:800}
.guide .layer_open dd {margin-left:2px;font-family:Nanum Gothic;  line-height:1.5; padding:1px 0 2px 11px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.guide .layer_open dl.bul_bar dd{background:none;text-indent:-0.6em;}
.guide .layer_open dd ul li {padding-top: 1px;}
.guide .layer_open dd .stress {color:#ff2424;}
.guide .laysubmit {position:absolute; left:299px; bottom:28px; width:200px; height:60px; background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute; right:33px; top:23px; width:31px; height:31px; background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2016/emoney/buy/btn_lay_closex.png);}
.guide .tb {margin-top:15px; }
.guide .tb table {border-left:1px solid #333; border-top:1px solid #333;}
.guide .tb table th {text-align:center; padding:3px 15px; font-size:13px; border-right:1px solid #333; border-bottom:1px solid #333; background:#f0f0f0;}
.guide .tb table td {text-align:center; padding:3px 15px; font-size:13px; border-right:1px solid #333; border-bottom:1px solid #333;}
/*.guide .tb .notice {margin-top:3px; font-size:12px; color:#999;}*/

.guide_dim{display:none;position:absolute;top:0;width:100%;bottom:0;height:100%;background:url("http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png");z-index:10000}