@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;}

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%; }

.wrap{position:relative;width:100%; }
.mainvisual{width:100%;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/bg01_end.gif) left top; background-size:3px 666px; height:666px }
.topcontent{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img01_end.jpg) center top no-repeat; background-size:500px 666px; height:666px; text-indent:-9999em; }
.content{width:320px; margin:0 auto; position:relative;  }

.topcontent .go_play{width:224px; height:133px; position:absolute; left:20px; top:340px;}
.topcontent .sns{position:absolute; left:68px; top:535px; width:190px;}
.topcontent .sns li{float:left; }
.topcontent .sns li a{width:88px; height:75px; display:block; }
.topcontent  .reple{width:109px; height:25px; position:absolute; left:106px; top:633px; display:block; }

.evtvisual{width:100%;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/bg02.gif) left top repeat-x; background-size:3px 718px; height:419px; }
.evtcontent{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img02_end.jpg) center 25px no-repeat; background-size:500px 718px; height:419px; }
.evtcontent h3, .evtcontent li, .evtcontent a{text-indent:-9999em;}
.evtcontent .winner{width:148px; height:20px; position:absolute; left:86px; top:249px;}
.evtcontent .vodarea{position:absolute; left:8px; top:147px;}
.evtcontent .vodarea .tab{position:absolute; left:0; top:0px; z-index:100;}
.evtcontent .vodarea .tab li{float:left; }
.evtcontent .vodarea .tab li a{display:block; width:152px; height:30px; text-indent:-9999em;}
.evtcontent .tab01{width:303px; border:1px solid #000000; border-top:none; background:#ffffff; height:203px; padding-top:35px; }
.evtcontent .tab01:before{content: ""; position:absolute; left:0px; top:0px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/tab.gif) left top no-repeat; background-size:305px 65px; width:305px; height:32px;}
.evtcontent .tab02{width:303px; border:1px solid #000000; border-top:none; background:#ffffff; height:203px; padding-top:35px; }
.evtcontent .tab02:before{content: ""; position:absolute; left:0px; top:0px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/tab.gif) left -33px no-repeat; background-size:305px 65px; width:305px; height:32px;}
.evtcontent .vodarea p{padding:5px; background:#000000; width:280px; height:157px; margin:5px auto 0; }
.evtcontent .vodarea .vod_mnt{text-indent:-9999em;margin:7px 0 0 120px; width:73px; height:15px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_reple.gif) 0 0 no-repeat; background-size:73px 15px; display:block; }

.app{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img_app.jpg) center top no-repeat; background-size:500px 287px; height:287px; text-indent:-9999em; }
.appbg{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/bg_app.jpg) left top; background-size:2px 287px; width:100%; height:287px; }
.app a{margin:0 auto; width:320px;}
.app .appdown{width:320px; height:129px; position:absolute; left:0; top:75px; display:block; }

.notice{height:31px; overflow:hidden;  }
.notice dl{height:146px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img03.jpg) center -131px no-repeat; background-size:320px 310px; text-indent:-9999em;}
.notice dt{height:31px;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img03.jpg) center -130px no-repeat #5f5f5f; background-size:320px 310px; }
.notice.notice_more dt{background-position:center -278px; }
.notice.notice_more{height:auto; display:block; }

/* footer */
.footer{width:320px; margin:0 auto; }
footer{background:#d3d4d5;color:#77787b; width:100%; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;}
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}
.win_close{z-index:10; position: fixed; width: 30px; height: 30px; right:5px; top: 5px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }


/*레이어*/
.layer_back{width: 100%; height:1794px; position:absolute; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100;}
.shareArea{position:relative; width:305px; height:276px; margin:0px auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/layer_share.png) 0 0 no-repeat; background-size:305px 276px}
.layer_back .win_close, .privacyArea .win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }
.shareArea h2, .infoArea h2{text-indent:-9999em;}
.shareArea p{padding:5px; background:#000000; width:280px; height:157px; margin:30px auto 0; }
.shareArea .sns{position:absolute; left:25px; top:237px; }
.shareArea .sns li{float:left;}
.shareArea .sns li a{display:block; text-indent:-9999em; width:124px; height:25px; margin-right:10px;}

.infoArea{position:relative; width:305px; height:370px; margin:0 auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/layer_info.png) 0 0 no-repeat; background-size:305px 370px}
.infoArea dt{display:none; }
.infoArea .name{border:1px solid #999999; width:180px; padding:2px 5px; position:absolute; left:90px; top:176px; }
.infoArea .mobile{border:1px solid #999999; width:180px; padding:2px 5px; position:absolute; left:90px; top:212px ; }
.infoArea label{letter-spacing:-1px; position:absolute; left:0; top:280px; font-size:12px; display:block; text-align:center; width:100%; }
.infoArea label input{margin:-5px 2px 0 0;vertical-align:middle; border:none; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img_chk.gif) 0 0 no-repeat; background-size:12px 26px;  width:12px; height:13px; }
.infoArea label input[type='checkbox']:checked {background-position: 0 -13px;}
.infoArea label .go_detail{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_detail.gif) 0 0 no-repeat; background-size:60px 15px; display:inline-block; width:60px; height:15px; text-indent:-9999em; margin:0 0 0 8px; vertical-align:1px;}
.infoArea a.btn_ok{width:158px; height:27px; position:absolute; left:74px; top:321px; text-indent:-9999em; }

.privacyArea{z-index:100; position:relative; width:305px; height:435px; margin:0px auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/layer_privacy.png) 0 0 no-repeat; background-size:305px 435px}
.privacyArea a.btn_ok{width:158px; height:27px; position:absolute; left:74px; top:385px; text-indent:-9999em; }
.privacyArea h2, .privacyArea p, .privacyArea dl, .privacyArea ul{text-indent:-9999em;}

.winArea{position:relative; width:305px; height:435px; margin:0px auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/layer_winner.png) 0 0 no-repeat; background-size:305px 435px}
.winArea h2{text-indent:-9999em; }
.winArea a.back{width:170px; height:27px; position:absolute; left:68px; top:390px; text-indent:-9999em; }

.win_list{width:251px; background:#f2f2f2; margin:35px auto 0; padding-bottom:5px }
.win_list span{width:100%; text-align:center; display:block; background:#000;}
.win_list select{height:22px; color:#ffffff; font-weight:bold; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/bullet.gif) 73% 8px no-repeat #000; background-size:9px 7px; border:none; padding:0 80px;}
.win_list_scroll{height:210px; overflow:auto;-webkit-overflow-scrolling:touch; padding:5px; }
.win_list dl{font-size:12px; }
.win_list dl dt,dd{float:left; line-height:18px;}
.win_list dl dt{width:58px; text-align:center; }
.win_list dl dd{width:86px;}
.win_list dl dd:nth-child(3n+3){width:95px; letter-spacing:-1px}

.go_top {width: 39px; height: 39px; position: absolute; bottom: 38px; right: 10px; z-index: 10;}
.go_top a {background: url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}