@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;color:#5d5d5d;word-wrap:break-word;word-break:break-all; }
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button {outline: medium none;cursor: pointer; border:none; background: transparent;}

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%; }

.wrap{position:relative;width:100%; min-width:320px; padding-top:30px; }
.content{width:320px; margin:0 auto; position:relative; overflow:hidden;  }
.wrap a{display:block; }

/*유의사항*/
.dim{width: 100%; height:100%; position:fixed; left: 0; top: 0; background: rgba(0,0,0,0.7); z-index:10002}
.noteLayer{width:300px; background:#ffffff; border: 1px solid #0182ea; margin: -130px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:1000}
.noteLayer h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.noteLayer h5{padding:5px 0 0 10px; margin-bottom:-10px}
.noteLayer .close{position:absolute; right:0px; top:0px; padding:10px; width:16px; height:16px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 10px 10px no-repeat; background-size:50px; text-indent:-9999em; }
.btn_close{text-align:center; }
.btn_close button{background:#22211e; color:#ffffff; width:100px; line-height:32px; border:none; text-align:center; font-weight:bold; font-size:12px;}
.txtlist{padding:15px 10px 5px; color:#333333}
.txtlist li{font-size: 10px; padding:0 0 5px 8px; position:relative;}
.txtlist li:after{content:"•"; position:absolute; left:0; top:0; }

/* footer */
.footer{width:320px; margin:0 auto; }
footer{color:#77787b; width:100%; background:#d3d4d5; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;} 
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box; 
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;}
footer em{color:#c0c1c3; padding:0 6px; display:inline-block; }

/*출석*/
.attend{position:relative; }
.attend img{width:100%; padding:0; margin:0; display:block;}
.sns{position:absolute; left:10px; top:10px; text-indent:-9999em;z-index:10;}
.sns li{float:left; width:34px; height:34px; margin-left:6px;  background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_common/tit.png) 0 -115px no-repeat; background-size:236px;}
.sns li:last-child{background-position:-40px -115px;}
.sns li a{display:block; height:34px; }

/*달력*/
.cal_area{background:#e2ebfb; padding:20px; }
.month{margin-bottom:12px; padding-bottom:5px; height:42px; width:50%; float:left; text-align:center; color:#363636; box-sizing:border-box;  -webkit-box-sizing:border-box;  -moz-box-sizing:border-box;  -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.month:first-child{border-right:1px solid #a9a2a2;}
.month span{font-size:12px; display:inline-block; text-align:right; }
.month span em{display:block; font-size:13px;}
.month strong{font-size:40px; font-family:tahoma; font-weight:bold; vertical-align:-2px; letter-spacing:-0.5px; padding:0 0 0 5px}

.cal{width:100%; }
.cal:after{content:""; clear:both; display:block; }
.cal.day li{background:#494949; color:#ffffff; text-align:center; height:24px; line-height:24px; font-size:12px; overflow:hidden; }
.cal.day li:first-child{color:#c23637}
.cal.day li:last-child{color:#66baf5}
.cal li{overflow:hidden; z-index:10; font-size:12px; font-family:tahoma; font-weight:bold; background:#ffffff; float: left; position: relative; width:14.285%; height:47px; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; box-sizing:border-box;  -webkit-box-sizing:border-box;  -moz-box-sizing:border-box;  -ms-box-sizing:border-box; -o-box-sizing:border-box;}
.cal li.pass span{color:#b7b7b7 !important;}
.cal li.today{background: #def0ff; }

.cal li span{display:block; padding:2px 0 0 5px; z-index:10}
.cal li:nth-child(7n+1) span{color:#ee2f31}
.cal li:nth-child(7n+7) span{color:#0772be}
.cal li .milk{position:absolute; width:100%; display:block; text-align:center; left:0; top:12px}
.cal li .milk img{width:22px; height:30px;}

.cal li .chk{position:absolute; width:100%; height:46px; left:0; top:0; z-index:-1; }
.cal li .chk:after{width:22px; height:22px; position:absolute; right:2px; top:2px; content:""; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/chk.png) -23px 0 no-repeat; background-size:117px; z-index:-1}
#finger{width:37px; height:53px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/chk.png) 0 -24px no-repeat; background-size:78px; position:absolute; margin:auto; top:20px; left:10px; z-index:10}

.cal li .chk.on{background:none;}
.cal li .chk.on #finger{display:none;}
.cal li .chk.on:after{width:22px; height:22px; position:absolute; right:2px; top:2px; content:""; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/chk.png) 0 0 no-repeat; background-size:117px; }

.note{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/note.png) center top no-repeat; background-size:122px 22px; height:22px; text-indent:-9999em; display:block; width:122px; margin:20px auto 0; }

/*출석레이어*/
#win .inner{position:relative;width:307px; height:430px; margin: -215px auto 0 -153px; left: 50%; top:50%; position:absolute; z-index:1000;box-sizing:border-box;-webkit-box-sizing:border-box;background:#cfe5ff; padding-bottom:20px;}
#win .inner .win_close{width:17px;height:17px;background-size:contain;z-index:10; position: absolute;  right:5px; top:5px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/win_close.gif) 0 0 no-repeat; background-size:17px;}

.cong{background:#9ecbff; height:96px; position:relative;}
.cong span{position:absolute; left:18px; top:8px; }
.banana{width:96px; height:68px; margin:0 auto; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/point.png) 0 -1px no-repeat; background-size:246px; display:block; text-indent:-9999em; left:7px !important; top:12px !important}
.point{width:78px; height:79px; margin:0 auto; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/point.png) 0 -83px no-repeat; background-size:246px; display:block; text-indent:-9999em; }
.point.p10{background-position:-84px -83px; }
.point.p100{background-position:0 -167px; }
.point.p500{background-position:-84px -167px; }
#win .btnok{background:#0182ea; color:#ffffff; width:118px; line-height:30px; border:none; text-align:center; font-weight:bold; position:relative; left:50%; bottom:0;margin-left:-59px;margin-top:10px;}

.cong .mnt{width:180px; color:#2a5285; font-size:15px; letter-spacing:-0.5px; font-weight:bold; height:65px; display: table-cell; vertical-align: middle; line-height: 18px; padding:15px 10px 0 110px; text-align:center; } 

#win h5{font-size:21px; color:#18476e; font-weight:normal; letter-spacing:-0.5px; text-align:center; padding-top:10px}
.best_list{margin-top:10px;padding-right:8px;}
.best_list:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.best_list li{float:left; width:50%; padding-left:8px;box-sizing:border-box;-webkit-box-sizing:border-box;}

.best_list li a{width:100%; position:relative; display:block; background:#ffffff; margin:0 auto; border:1px solid #b9b9b9; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.best_list li img{width:100%; height:auto;}
.best_list li .num{font-size:10px; font-family:tahoma;font-weight:bold; text-align:center; position:absolute; left:0px; top:0; width:17px; height:14px; padding-top:3px; color:#ffffff; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/bg_numico.png); }
.best_list li strong{overflow:hidden; padding:5px; color:#6b6b6b; font-size:13px; height:24px; display:block; }
.best_list li strong img{width:21px; height:13px; border-radius:0; vertical-align:middle; margin:-2px 2px 0 0 }
.best_list li .pr{display:block; color:#2485fb; font-size:16px; font-weight:bold; font-family:tahoma;  padding:3px 5px; position:relative; }
.best_list li .pr em{font-family:malgun gothic; font-size:10px;}
.best_list li .pr .free{font-size:8px; height:11px; line-height:11px; padding:1px 2px 0 2px; color: #b6b6b6; border: 1px solid #b6b6b6;position:absolute; right:7px; top:7px; }
.best_list li .infobtn{padding:10px; width:22px; height:22px; position:absolute; right:0px; top:0px; cursor:pointer; background: url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/ico_info.png) 15px 5px no-repeat; background-size:22px; display:block; text-indent:-9999em;}
.best_list li .best_more{border-top:1px solid #f5f5f5; font-size: 12px; text-align: center; height: 25px; display: block; color: #6b6b6b; position:relative;padding-bottom:0px;}
.best_list li .best_more img{height:25px;width:auto;}

.attend .win_close{top:40px; position:fixed; z-index:100}

/*탭*/
.myarea{position:fixed; width:100%; z-index:1000; top:0; left:0;;z-index:10001}
.name{height:23px; background:#ffffff; color:#666666; padding:7px 0 0 25px;position:relative; border-bottom:1px solid #e0e0e0}
.name:after{content:""; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/iconset.png) 0 0px; background-size:50px; width:15px; height:15px; position:absolute; left:5px; top:6px;}
.name span{position:absolute; right:6px; top:6px; display:block; padding:2px 10px 0 0}
.name span:before{content:""; position:absolute; left:-40px; top:1px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/iconset.png) left -23px; background-size:50px; width:37px; height:16px;}
.name span:after{content:""; position:absolute; right:0px; top:4px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/iconset.png) right -25px; background-size:50px; width:6px; height:11px;}
.name button.btn_login{position:absolute; right:6px; top:4px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/btn_login.gif) 0 0; background-size:65px 23px; width:65px; height:23px; text-indent:-9999em; border:none;}

.nav {position:absolute;width:100%;bottom:-15px;z-index:1002;}
.nav ul{width:100%;position:absolute;top:0;bottom:0}
.nav ul:after{content: ""; display: block; clear: both; }
.nav ul li {width:33.3%;position:absolute;top:0;bottom:0;}
.nav ul li:last-child {border-right:none;width:33.4%;}
.nav ul li:nth-child(1){left:0;}
.nav ul li:nth-child(2){left:33.3%;}
.nav ul li:nth-child(3){right:0;width:33.4%;}
.nav ul li a{display:block;position:absolute;width:100%;bottom:0;top:0;text-indent:-9999em;}
.nav ul li span{color:#c7a14f; display:block; }
.nav ul li.on a{color:#fff200;border-bottom-color:#1c1b1b;}
.nav ul li.on a span{color:#fff696;}

/*구매*/
.win_close{z-index:10; position: absolute; width:28px; height: 28px; right:5px; top:37px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/m_newyear/ico_close.png) 0 0 no-repeat; background-size:28px; }
#eventWrap{position:relative; margin-top:30px;} 
.topnav {z-index:10000; position:fixed; left:0; top:31px; width:100%;bottom:auto;}
#eventWrap .win_close{top:5px;}

.tab_area{position:absolute;width:100%;z-index:10000; left:0; }
.tab_area .inner{overflow:hidden; }
.tab_area .tabmenu{overflow:hidden; padding:0 5px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; background:#8fdce4}
.tab_area .tabmenu li {position:relative;float:left; width:33.3%; text-align:center;}
.tab_area .tabmenu li:first-child{width:33.4%;}
.tab_area .tabmenu li:after{display:block;position:absolute;content:"";width:1px;background:#3d3b3b;height:55px;top:9px;bottom:9px;left:0px;}
.tab_area .tabmenu li:first-child:after{display:none}
.tab_area .tabmenu li a{display:block;width:100%; padding-top:12px; height:60px;color:#c9c9c9; font-size:12px; background:#2c2c2c; letter-spacing:-0.5px; position:relative;}
.tab_area .tabmenu li a strong{display:block; font-size:16px;}
.tab_area .tabmenu li.on a{color:#fffaab;}
.tab_area .win_close{top:77px !important;display:none;}
.tab_area .tabmenu li:before{content:""; left:0; bottom:6px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/ico_tab.png) center bottom no-repeat; background-size:15px 34px; position:absolute; width:100%; height:14px; display:block; z-index:10}
.tab_area .tabmenu li.on:before{background-position:center top;}

.top_visual{position:relative; }
.top_visual img{width:100%;height:auto;vertical-align:top;}
.top_visual .img_box{position:relative;}
.evtop01{position:relative; padding-bottom:72px}

/* 구매왕 */
.contents .inner{position:relative;width:320px;margin:0 auto;}
.con01,.con01_1{background:#ffffff;}
.con01_1{padding-bottom:45px;}
.con01 .inner{position:relative;height:522px;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img_con01.png") 0 0 no-repeat;background-size:contain;}
.con01.type2{border-top:1px solid #c9ced2;}
.con01.type2 .inner{position:relative;height:395px;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img_con02.png") 0 0 no-repeat;background-size:320px 395px;}
.con01 .inner .btn_buy{display:block;position:absolute;bottom:0px;left:33px;width:254px;height:49px;text-indent:-9999em;}
.con01_1 .inner .btn_check{display:block;position:relative;margin:20px auto 0;width:129px;height:23px;text-indent:-9999em;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/promotion/201610/btn_check.png") no-repeat 0 0;background-size:contain}
.con01_1 .inner .txt_box{padding:14px 20px 0px 30px;}
.con01_1 .inner .txt_box li{padding-left:10px; font-size:12px;color:#333333;line-height:1.4em; position:relative;}
.con01_1 .inner .txt_box li:after{content: "•";left:0; top:0; position:absolute;}
.txt_box .red{color:red; font-size: 12px; padding-left:10px; position:relative; display:block; }
.txt_box .red:after{content:"※"; position:absolute; left:0; top:0; }

.con02{border-top:1px solid #c9ced2;padding:26px 0px 40px;background:#f5fbfe}
.con02 .deco{width:214px;height:157px;margin:0 auto;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img01.png") 0 0 no-repeat;background-size:contain;text-indent:-9999em;}
.con02 .info{display:block;padding-top:16px;font-size:19px;color:#2c2c2a;text-align:center;}
.con02 .inner .btn_ranking{display:block;margin:17px auto 8px;width:268px;height:57px;line-height:46px;color:#fff;font-size:18px;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/m_buyking9/bg_my_ranking.png") 0 0 no-repeat;background-size:100%;text-align:center;}
.con02 .inner .btn_check{display:block;position:relative;margin:20px auto 0;width:129px;height:23px;text-indent:-9999em;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/promotion/201610/btn_check.png") no-repeat 0 0;background-size:contain}
.con02 .inner .txt_box{padding:14px 10px 0px 30px;}
.con02 .inner .txt_box li{padding-left:10px; font-size:12px;color:#aaa9a7;line-height:1.4em;letter-spacing:-0.05em; position:relative;}
.con02 .inner .txt_box li:after{content: "•";left:0; top:0; position:absolute;}
.con02 .inner .txt_box li em{display:block; text-decoration:underline;}

.con03 {padding:0px 0px 45px;}
.con03 .tit{display:block;width:190px;height:22px;margin:0 auto;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/m_buyking9/txt1.png") 0 0 no-repeat;background-size:contain;text-indent:-9999em;}
.con03 .site_link{margin:16px 12px 0px;border:1px solid #343434;border-width:1px 0px;}
.con03 .site_link.on .box{display:block;}
.con03 .site_link strong{display:block;padding:10px 25px;text-align:center;font-size:16px;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/buy_king/ico_arr.png") 90% 50% no-repeat;background-size:11px 8px;}
.con03 .site_link.on strong{background-image:url("http://imgenuri.enuri.gscdn.com/images/event/2016/buy_king/ico_arr_on.png")}
.con03 .site_link .box{display:none;padding-bottom:20px;border-top:1px solid #343434;padding-top:11px;}
.con03 .site_link .txt{margin:0px 10px 15px;line-height:38px;background-color:#bbbaba;text-align:center;overflow:hidden;border-radius:20px;-webkit-border-radius:20px;color:#fff;letter-spacing:-0.1em;}
.con03 .site_link .site_ico{position:relative;width:258px;height:124px;margin:0 auto;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/site_link.png") 50% 0 no-repeat;background-size:contain;text-indent:-9999em;}
.con03 .site_link .site_ico > a{position:absolute;display:block;top:-4px;width:74px;height:30px;}
.con03 .site_link .site_ico > a.link1{}
.con03 .site_link .site_ico > a.link2{left:94px;}
.con03 .site_link .site_ico > a.link3{left:184px;}
.con03 .site_link .site_ico > a.link4{top:50px;left:0px;}
.con03 .site_link .site_ico > a.link5{top:50px;left:94px}
.con03 .site_link .site_ico > a.link6{top:50px;left:184px;}
.con03 .site_link .site_ico > a.link7{top:98px;left:0px;}
.con03 .site_link .site_ico > a.link8{top:98px;left:94px;}
.con03 .site_link .site_ico > a.link9{top:98px;left:184px;}


.con04{border:1px solid #b0afaf;border-width:1px 0px;background:#f5fbfe;}
.con04 .inner{position:relative;height:521px;background:url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img_con03.png") 0 0 no-repeat ;background-size:contain;}
.con04 .inner .btn_mypoint{display:block;position:absolute;top:376px;width:254px;height:48px;left:33px;text-indent:-9999em;}
.con04 .inner .btn_check{display:block;position:absolute;bottom:54px;left:96px;width:130px;height:22px;text-indent:-9999em;}


.go_top {width: 39px; height: 39px; position: fixed; bottom: 38px; right: 10px; z-index: 10;}
.go_top a {background: url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}



/*레이어*/
.layer_back{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100005;}
.btn_close{text-align:center; }
.appLayer{width:300px;padding-bottom:15px; background:#ffffff; border:1px solid #0182ea; left:50%; top:50%; position:absolute; z-index:1000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.appLayer h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.appLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.appLayer .btn_close button{background:#22211e; color:#ffffff; width:100px; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
.appLayer .txt{text-align:center; padding:15px 0; color:#333333;  font-size:16px; letter-spacing:-1px;}
.appLayer .txt strong{color:#ff2424; display:block; }
.appLayer .txt em{font-weight:bold; }

.over_ht{position:absolute;}
.over_ht .appLayer{width:auto;height:auto;top:10px;left:10px;right:10px;margin:0;-webkit-transform:translate(0%,0%);transform:translate(0%,0%)}
.over_ht .appLayer .txt{padding:10px;text-align:left;}
.over_ht .btn_close{padding-bottom:10px;}
.over_ht .txt_indent > li{padding-left:8px;margin-top:5px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 2px -42px no-repeat;background-size:50px;}
.over_ht .txt_indent > li:first-child{margin-top:0px;}
.over_ht .txt_indent > li.no_bul{background:none;}
.over_ht .txt{font-size:11px;}
.over_ht .txt strong{color:#333;margin-top:20px;margin-bottom:5px;font-size:12px;}
.over_ht .txt strong:first-child{margin-top:0px;}
.over_ht .txt .inner{padding-left:8px;margin-top:10px;}
.over_ht .txt .inner li{padding-left:1em;text-indent:-1em;margin-top:5px;}
.over_ht .txt .inner li:first-child{margin-top:0px;}
.txt_box p {
      display: none;
	  text-indent:-9999em;
      position: absolute;
	  right:auto;
	  bottom:auto;
	  background-position:100% 100%;
	  background-size:100% 100%;
	  background-repeat:none;
    }
.tb01{margin-top:10px;}
.tb01 table{table-layout:fixed;width:100%;border-collapse:collapse;border-style:hidden;border:1px solid #737373;font-size:10px;}
.tb01 thead th{background:#eeece1;text-align:center;}
.tb01 th,.tb01 td{border:1px solid #737373;padding:2px;text-align:center;}


/*공통영역*/
.enuri_deal{width:320px;margin:0 auto;background:#ffffff url("http://imgenuri.enuri.gscdn.com/images/event/2016/promotion/201610/edeal_t.gif") no-repeat 0 0;padding-top:117px; height:378px; overflow:hidden; background-size:contain;}
.enuri_deal h3{background:#e5e5e5; position:relative; height:42px;  text-indent:-9999em;}
.enuri_deal h3:before{position:absolute; content:""; clear:both; display:block; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/enurideal.png) 0 0 no-repeat #e5e5e5; background-size:250px; width:81px; height:30px; left:50%; top:0; margin:0 auto 0 -40px; }
.enuri_deal .deal_goods{margin:0 auto; width:320px; padding-bottom:12px; }
.enuri_deal .deal_goods li{position:relative; z-index:1; text-align:center; }
.enuri_deal .deal_goods li a{display:block; outline-style:none; }
.enuri_deal .deal_goods li button{background:#000; color:#ffffff; border-radius:20px; line-height:40px; margin:0 auto; width:260px; border:none; font-size:18px; }
.enuri_deal .deal_goods .thum{width:320px; height:205px;}
.enuri_deal .deal_goods strong{display:block; font-size:18px; color:#333333; line-height:38px; overflow:hidden; height:38px; width:260px; margin:0 auto; border-bottom:1px dotted #000; margin-bottom:5px;}

.deal_goods button{z-index:10; border:none;}
.deal_goods .slick-prev{ text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/edeal/ico.png) no-repeat 0px -50px; background-size: 75px 75px;width:15px; height:25px;  position:absolute; top:90px; left:5px; }
.deal_goods .slick-next{ text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/edeal/ico.png) no-repeat -60px -50px ; background-size: 75px 75px;width:15px; height:25px;  position:absolute; top:90px; right:5px; }

.deal_goods li .soldout{font-family: arial;color:#ffffff; line-height:43px; font-size:20px; font-weight:bold; position:absolute; left:91px; top:81px; background:rgba(253,51,51,8); opacity:0.8; width:128px; text-align:center; border-radius:7px;}
.deal_goods li .soon{font-family: arial;letter-spacing:-1px; color:#ffffff; line-height:43px; font-size:20px; font-weight:bold; position:absolute; left:80px; top:81px; background:rgba(146,146,146,8); opacity:0.8; text-align:center; border-radius:7px; padding:0 7px;}

.deal_goods .price{color:#333;font-size:30px;line-height:35px; position:relative; letter-spacing:-1px; margin-bottom:10px;}
.deal_goods .sale{color:#f62e3d; font-family:tahoma; vertical-align: -2px;}
.deal_goods .sale.sp{font-size:12px;font-weight:bold;vertical-align:1px}
.deal_goods .prc{color:#333; font-size:26px;}
.deal_goods .prc b{ font-family:tahoma; font-size:30px; vertical-align:-2px;}
.deal_goods .price del{color:#999;font-size:18px;}
.deal_goods .price del b{font-weight:normal; }
.price .e_info{position:absolute; right:0; top:0;}
.price .e_info li{display:inline; border:1px solid #dcf7fc; color:#00b9e1; background:#e6fbff; font-size:11px; height:13px; padding:1px 2px 0;}
.app_install{text-indent:-9999em; width:261px; height:233px; margin: -116px auto 0 -130px; left: 50%; top: 50%; position: absolute; background:url(http://imgenuri.enuri.gscdn.com/images/mobilefirst/app_install.png) 0 0 no-repeat; background-size:261px 233px; }
.app_install .go_app{position:absolute; width:167px; height:42px; left:48px; bottom:20px;}
.app_install .closebtn{position:absolute; width:36px; height:36px; right:5px; top:0px;}

.deal_goods .owl-buttons div{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/edeal/ico.png) no-repeat 0 0; background-size: 75px 75px;width:15px; height:25px;  position:absolute; top:90px; text-indent:-9999em}
.deal_goods .owl-prev{left:5px; background-position:0px -50px !important}
.deal_goods .owl-next{right:5px; background-position:-60px -50px !important}
.deal_goods .owl-pagination{display:none;}

/*생활혜택*/
.benefit{background:#ececec; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; padding-top:30px; overflow:hidden;}
.benefit h2{height:77px; background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/edeal_t2.gif") center top no-repeat; background-size:128px 52px; text-indent:-9999em;}
.benefit .bef_goos{overflow:hidden; background:#ffffff; padding:30px 0;}
.benefit .bef_goos:after{content:"";clear:both;display:block; }
.benefit .bef_goos li{float:left; width:33.3%}
.benefit .bef_goos li:first-chlid{float:left; width:33.4%}
.benefit .bef_goos li a{text-align:center; color:#171717; font-size:11px; display:block; width:92px; margin:0 auto; }
.benefit .bef_goos li .ellipsis{overflow:hidden;display:-webkit-box;text-overflow:ellipsis;line-clamp:2;-webkit-line-clamp:2;box-orient:vertical;-webkit-box-orient:vertical;line-height:1.1em;}
.benefit .bef_goos li a span{display:block; font-weight:bold; padding-top:5px;}
.benefit .bef_goos li a span .e{vertical-align:2px; margin-right:2px; display:inline-block; background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/ico_e.png") 0 0 no-repeat; background-size:17px; width:17px; height:17px; text-indent:-9999em;}
.benefit .bef_goos li img{border:1px solid #d8d8d8; width:90px; height:90px; }

/*인기기획전*/
.keyword h2{height:119px; background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/edeal_t3.gif") center 30px no-repeat; background-size:152px 53px; text-indent:-9999em;}
.keyword{position: relative;overflow: hidden; overflow-x: auto; padding:0px 0px 20px 0px; background:#f4f4f4;}
.keyword a{display:block; }
.keyword .innder_scroll{overflow-x: auto;overflow-y: hidden; -webkit-overflow-scrolling:touch; width: 100%; }
.keyword .swiper-wrapper {overflow: hidden; display: inline-flex; display: -webkit-inline-box;  text-align:center; }
.keyword .swiper-wrapper li{position: relative; float: left; }
.keyword .swiper-wrapper li a{margin-left:10px;}
.keyword .swiper-wrapper li:first-child a{margin-left:0}
.keyword .slick-arrow{display:none !important;}
.keyword img{width:255px;}

/*e머니혜택*/
#topBanner{width:100%; height:406px; }
.p_top_cnt{width:320px; margin:0 auto; position:relative;}
.p_top_cnt .ff{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/finger.png") center bottom no-repeat; background-size:75px; position:absolute; left:30px; top:230px; width:75px; height:75px; z-index:11;}
.phone{position: absolute; left:58px; top:0; width:205px; height:263px; }
.phone li{height:406px; width:205px; }
.phone .m{width:205px; height:263px; }
.phone .txt{width:205px; height:39px; padding-bottom:104px}
.phone .slick-arrow{display:none !important;}

.phone_back{width:100%; height:406px; position:relative}
.phone_back .phone_width{width:176px; margin:0 auto; position:relative; }
.phone_back .phone_width .um{position:absolute; left:-45px; top:230px; z-index:1000; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/finger.png) 0 0 no-repeat; background-size:74px 75px; width:74px; height:75px;}
.phone_back .mobile{width:176px; background:none;}
.phone_back .mobile li div{position:relative; height:407px; width:176px; }
.phone_back .mobile .slick-arrow{display:none !important;}
.phone_back span{display:block; }

/*이미지 9장*/
.phone_back .mobile li .m{width:176px; height:263px; position:absolute; right:0; bottom:0; }
.phone_back .mobile li .img01{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img1_1.gif") 0 0 no-repeat;  z-index:2; background-size:176px 263px;}
.phone_back .mobile li .img02{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img1_2.gif") 0 0 no-repeat; background-size:176px 263px; z-index:3}
.phone_back .mobile li .img03{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img1_3.gif") 0 0 no-repeat; background-size:176px 263px; z-index:10}

.phone_back .mobile li .img04{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img2_2.gif") 0 0 no-repeat; background-size:176px 263px;}
.phone_back .mobile li .img05{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img2_1.gif") 0 0 no-repeat; background-size:176px 263px;z-index:5}
.phone_back .mobile li .img06{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img2_3.gif") 0 0 no-repeat; background-size:176px 263px; z-index:10}

.phone_back .mobile li .img07{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img3_2.gif") 0 0 no-repeat; background-size:176px 263px;}
.phone_back .mobile li .img08{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img3_1.gif") 0 0 no-repeat; background-size:176px 263px;z-index:5}
.phone_back .mobile li .img09{background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/img3_3.gif") 0 0 no-repeat; background-size:176px 263px; z-index:10}

/* 엄지, 타이틀 1,2,3*/
.phone_back .umji{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/big_son.png) 0 0 no-repeat; background-size:185px 165px; width:185px; height:165px;position:absolute; right:-7px; bottom:0px; z-index:1000; }

.phone_back .txt{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/txt01.gif) 0 0 no-repeat; background-size:176px 20px; width:176px; height:30px; position:absolute; left:0px; top:0;}
.phone_back .txt2{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/txt02.gif) 0 0 no-repeat; background-size:176px 20px; width:176px; height:30px; position:absolute; left:0px; top:0;}
.phone_back .txt3{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/txt03.gif) 0 0 no-repeat; background-size:176px 20px; width:176px; height:30px; position:absolute; left:0px; top:0;}

/*
.phone_back .txt{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/txt01.gif) 0 0 no-repeat; background-size:205px 39px; width:176px; height:75px; position:absolute; left:0px; top:0;}
.phone_back .txt2{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/txt02.gif) 0 0 no-repeat; background-size:205px 39px; width:176px; height:75px; position:absolute; left:0px; top:0;}
.phone_back .txt3{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/txt03.gif) 0 0 no-repeat; background-size:205px 39px; width:176px; height:75px; position:absolute; left:0px; top:0;}
*/


.phone_back .chk{background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/nov/red_point.png) 0 0 no-repeat; background-size:74px 25px; width:74px; height:25px; position:absolute; left:20px; top:180px; z-index:4}
.phone_back .scd .chk{top:196px;}
.phone_back .trd .chk{top:196px;}

/*dot*/
.mobile .slick-dots{position: absolute; top:50px; width: 100%; text-align:center;}
/* .mobile .slick-dots{position: absolute; top:65px; width: 100%; text-align:center;} */
.mobile .slick-dots:after {content:"";display:block;clear:both;}
.mobile .slick-dots li{display: inline-block; zoom: 1; width:13px; height:13px; margin:0 5px;}
.mobile .slick-dots li button{display: block;background:#818181; opacity:0.9; width:8px; height:8px; border-radius:50%; text-indent:-9999em}
.mobile .slick-dots li.slick-active button{display: block; background:#0a98f3; }


.phone_back .trd #scd_umji2,
.phone_back .trd #scd_umji1
{display:none;}



.cover{width:100%; top:77px; left:0; height:330px; position:absolute; z-index:300; background: url("http://imgenuri.enuri.gscdn.com/images/event/2016/nov/mobile_over.png") center bottom no-repeat; background-size:500px 310px; }
