@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;}

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%; }

.wrap{position:relative;width:100%; }
.mainvisual{width:100%;background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/img01_bg.jpg) left top; background-size:5px 485px; height:485px }
.topcontent{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/img01.jpg) center top no-repeat; background-size:500px 485px; height:485px; }
.content{width:320px; margin:0 auto; position:relative; }
.topcontent dl{position:absolute; left:9px; top:373px;}
.topcontent dt{display:none; }
.topcontent dd a{float:left; width:101px; height:83px; text-indent:-9999em; }

.info_area{width:100%;background:#d7faff; }
.infocontent{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/img02.jpg) center top no-repeat; background-size:500px 428px; height:428px;}
.infocontent .money{width:147px; height:183px; position:absolute; left:9px; top:150px; text-indent:-9999em; }
.infocontent .coffee{width:147px; height:183px; position:absolute; left:164px; top:150px; text-indent:-9999em; }
.number{width:208px; height:30px; position:absolute; left:91px; top:358px; text-indent:-9999em; }

.howto{background:#fffae9; }
.howto .content{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/img03.jpg) center top no-repeat; background-size:500px 515px; height:515px; text-indent:-9999em;}

.noticebg{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/butterfly/bg_notice.gif) 0 0 repeat-x; background-size:11px 32px;}
.notice {background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/notice.gif) center 0 no-repeat; background-size:500px 223px; height:223px; text-indent:-9999em; }

/* footer */
.footer{width:320px; margin:0 auto; }
footer{background:#d3d4d5;color:#77787b; width:100%; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;}
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

.win_close{z-index:10; position: fixed; width: 30px; height: 30px; right:5px; top: 5px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }


/*레이어*/
.layer_back{width: 100%; height:1794px; position:absolute; left: 0; top: 0; background:url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100;}
.layer_back .win_close, .privacyArea .win_close, .shop_info .win_close{z-index:10; position: absolute; width: 30px; height: 30px; right:-5px; top: -30px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_close.png) 0 0 no-repeat; background-size:30px; }

.infoArea{width:305px; height:370px; margin:0 auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/butterfly/layer_info.png) 0 0 no-repeat; background-size:305px 370px}
.shareArea{width:305px; height:370px; margin:0 auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/butterfly/layer_info02.png) 0 0 no-repeat; background-size:305px 370px}
.infoArea dt{display:none; }
.infoArea .name{border:1px solid #999999; width:180px; padding:2px 5px; position:absolute; left:90px; top:182px; }
.infoArea .mobile{border:1px solid #999999; width:180px; padding:2px 5px; position:absolute; left:90px; top:218px ; }
.infoArea label{letter-spacing:-1px; position:absolute; left:0; top:280px; font-size:12px; display:block; text-align:center; width:100%; }
.infoArea label input{margin:-5px 2px 0 0;vertical-align:middle; border:none; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img_chk.gif) 0 0 no-repeat; background-size:12px 26px;  width:12px; height:13px; }
.infoArea label input[type='checkbox']:checked {background-position: 0 -13px;}
.infoArea label .go_detail{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_detail.gif) 0 0 no-repeat; background-size:60px 15px; display:inline-block; width:60px; height:15px; text-indent:-9999em; margin:0 0 0 8px; vertical-align:1px;}
.infoArea a.btn_ok{width:158px; height:30px; position:absolute; left:74px; top:321px; text-indent:-9999em; }

.privacyArea{z-index:100; position:relative; width:305px; height:435px; margin:0px auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/layer_privacy.png) 0 0 no-repeat; background-size:305px 435px}
.privacyArea a.btn_ok{width:158px; height:27px; position:absolute; left:74px; top:385px; text-indent:-9999em; }
.privacyArea h2, .privacyArea p, .privacyArea dl, .privacyArea ul{text-indent:-9999em;}

.winArea{width:305px; height:350px; margin:0 auto 0 -152px; position:absolute; left:50%; top:50px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/layer_winner.png) 0 0 no-repeat; background-size:305px 350px}
.winArea h2{text-indent:-9999em; }
.winArea a.back{width:170px; height:27px; position:absolute; left:68px; top:303px; text-indent:-9999em; }

.winArea02{width:250px; height:200px; margin:0 auto 0 -125px; position:absolute; left:50%; top:50px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/layer_winner02.png) 0 0 no-repeat; background-size:250px 200px}
.winArea02 h2{text-indent:-9999em; }
.winArea02 a.back{width:170px; height:27px; position:absolute; left:40px; top:153px; text-indent:-9999em; }

.win_list{width:251px; background:#f2f2f2; margin:62px auto 0; padding-bottom:5px }
.win_list span{width:100%; text-align:center; display:block; background:#000;}
.win_list select{height:22px; color:#ffffff; font-weight:bold; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/bullet.gif) 73% 8px no-repeat #000; background-size:9px 7px; border:none; padding:0 80px;}
.win_list_scroll{height:100px; overflow:auto;-webkit-overflow-scrolling:touch; padding:5px; }
.win_list dl{font-size:12px; }
.win_list dl dt,dd{float:left; line-height:18px;}
.win_list dl dt{width:50%; text-align:center; overflow:hidden; height:18px;}
.win_list dl dd{width:50%;}

.go_top {width: 39px; height: 39px; position: fixed; bottom: 38px; right: 10px; z-index: 10;}
.go_top a {background: url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}

.orderArea{width:305px; height:435px; margin:0 auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/layer_order.png) 0 0 no-repeat; background-size:305px 435px}
.orderArea dl{position:absolute; left:90px; top:174px; }
.orderArea dt{display:none; }
.orderArea dd{line-height:32px; width:100%;}
.orderArea dd input{border:1px solid #999999; width:180px; padding:2px 5px; }
.orderArea dd select{width:65px; color:#999999; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/butterfly/ico_select.gif) right 0 no-repeat; background-size: 22px 24px; padding-right:22px; padding:2px 5px; border:1px solid #999999; }
.orderArea label{letter-spacing:-1px; position:absolute; left:0; top:353px; font-size:12px; display:block; text-align:center; width:100%; }
.orderArea label input{margin:-5px 2px 0 0;vertical-align:middle; border:none; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/img_chk.gif) 0 0 no-repeat; background-size:12px 26px;  width:12px; height:13px; }
.orderArea label input[type='checkbox']:checked {background-position: 0 -13px;}
.orderArea label .go_detail{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/marketing/btn_detail.gif) 0 0 no-repeat; background-size:60px 15px; display:inline-block; width:60px; height:15px; text-indent:-9999em; margin:0 0 0 8px; vertical-align:1px;}
.orderArea a.btn_ok{width:158px; height:27px; position:absolute; left:74px; top:389px; text-indent:-9999em; }
.orderArea .orderbtn{width:170px; height:28px; position:absolute; left:68px; top:120px; text-indent:-9999em; }
.orderArea .shoplist{width:192px; }

.shop_info{z-index:100; width:305px; height:435px; margin:0 auto 0 -152px; position:absolute; left:50%; top:70px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/order_info_img.png) 0 0 no-repeat; background-size:305px 435px; }
.shop_info a.btn_ok{width:172px; height:30px; position:absolute; left:66px; top:385px; text-indent:-9999em; }

.benefit{width:305px; height:435px; margin:0 auto 0 -153px; position:absolute; left:50%; top:70px; text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/benefit01.png) 0 0 no-repeat; background-size:305px 435px; }
.bene02{background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/benefit02.png) 0 0 no-repeat; background-size:305px 435px;}
.bene03{width:305px; height:380px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/purchase/benefit03.png) 0 0 no-repeat; background-size:305px 380px; }