@charset "utf-8";


/* 기획전 레이아웃 공통 */
#container img {width:100%;}
.top_visual {position:relative;margin:0px;padding:0px;width:100%;}
.special_event_tab {position:relative;margin:0px;padding:0px;width:100%;}
.special_event_tab .tabs {position:absolute;top:0px;height:100%; display:inline-block; text-indent:-9999em;}
.cons_title {padding-top:10px;}
.tab_cons {clear:both;padding-top:7px;text-align:center;overflow:hidden; }
.goods {/* padding:5px; margin:6px;height:112px;*/background-color:#ffffff;border:1px solid #e6e6e6;}
.goods:after {content:""; display:block; clear:both;}
.goods .thumb {position:absolute;height:90px;overflow:hidden;width:100px;padding:5px;border:1px solid #e6e6e6;}
.goods .thumb img {width:100%; height:100%;}
.goods .infobox {position:relative;padding:5px 13px;margin-left:110px;}
.goods .company {color:#888888;font-size:11px;}
.goods .product {color:#333333;width:auto;height:36px;font-size:15px;font-weight:600; margin-top:3px; word-wrap:break-word;line-height:18px;word-break:break-all;overflow:hidden;}
.goods .description {color:#888888;font-size:9px; margin-top:3px; height:23px;overflow:hidden;}
.goods .priceinfo {font-weight:bold;text-align:right;}
.goods .lowest {color:#c70000;font-size:12px;}
.goods .price {margin-left:4px; color:#1e67df;font-size:18px;letter-spacing:-0.5px;padding-top:2px;}
.goods .won {margin-left:3px;color:#888888;font-size:11px;}
/* lp 상단 이벤트 레이어 바로가기 뛰우기 */
section {position:relative; }
section .special_layer {display:none; position:absolute; top:5px; right:20px; z-index:100; width:123px; height:103px; text-indent:-9999em;  background-size:123px 103px; }
section .special_layer .btn_close {position:absolute;  top:0; right:0; width:19px; height:20px; display:inline-block;}





/*------------------------------- 별도 기획전 --------------------------------------*/
.tab_area {position:relative;margin:0px;padding:0px;width:100%;}
.tab_area .tabs {position:absolute;top:0px;height:100%; display:inline-block; text-indent:-9999em;}
/* 201504210 어린이날 기획전 */
.child_wrap .tab_area .tabs.tab1 {left:0%;width:19%;}
.child_wrap .tab_area .tabs.tab2 {left:19%;width:22%;}
.child_wrap .tab_area .tabs.tab3 {left:41%;width:20%;}
.child_wrap .tab_area .tabs.tab4 {left:61%;width:16%;}
.child_wrap .tab_area .tabs.tab5 {left:77%;width:23%;}
	section .child_layer {display:none; position:absolute; top:5px; right:16px; z-index:100; width:127px; height:104px; text-indent:-9999em; background:url(http://img.enuri.gscdn.com/images/mobileevent/childrensday/child_layer.png); background-size:127px 104px; }
	section .child_layer .btn_close {position:absolute;  top:0; right:0; width:19px; height:20px; display:inline-block;}


/* 20150428 가정의 달 기획전 */
.familyday_wrap { }
.familyday_wrap .tab_area .tabs.tab1 {left:0%;width:16%;}
.familyday_wrap .tab_area .tabs.tab2 {left:16%;width:21%;}
.familyday_wrap .tab_area .tabs.tab3 {left:37%;width:21%;}
.familyday_wrap .tab_area .tabs.tab4 {left:56%;width:23%;}
.familyday_wrap .tab_area .tabs.tab5 {left:78%;width:21%;}
	section .family_layer {display:none; position:absolute; top:5px; right:20px; z-index:100; width:119px; height:102px; text-indent:-9999em; background:url(http://img.enuri.gscdn.com/images/mobileevent/familyday/family_layer.png); background-size:119px 102px; }
	section .family_layer .btn_close {position:absolute;  top:0; right:0; width:19px; height:20px; display:inline-block;}


/* 20150522 여름신발 기획전 */
.summer_shoes_wrap { }
.summer_shoes_wrap .tab_area .tabs.tab1 {left:0%;width:18%;}
.summer_shoes_wrap .tab_area .tabs.tab2 {left:18%;width:16%;}
.summer_shoes_wrap .tab_area .tabs.tab3 {left:36%;width:24%;}
.summer_shoes_wrap .tab_area .tabs.tab4 {left:58%;width:18%;}
.summer_shoes_wrap .tab_area .tabs.tab5 {left:79%;width:21%;}
	section .summer_shoes_layer {display:none; position:absolute; top:5px; right:20px; z-index:100; width:119px; height:101px; text-indent:-9999em; background:url(http://img.enuri.gscdn.com/images/mobileevent/summer_shoes/summer_shoes_layer.png); background-size:119px 101px; }
	section .summer_shoes_layer .btn_close {position:absolute;  top:0; right:0; width:19px; height:20px; display:inline-block;}


/* 20150603 물놀이용품 기획전 */
.swim_wrap .tab_area .tabs.tab1 {left:0%;width:19%;}
.swim_wrap .tab_area .tabs.tab2 {left:19%;width:17%;}
.swim_wrap .tab_area .tabs.tab3 {left:36%;width:22%;}
.swim_wrap .tab_area .tabs.tab4 {left:58%;width:19%;}
.swim_wrap .tab_area .tabs.tab5 {left:77%;width:23%;}
	section .swim_layer {display:none; position:absolute; top:5px; right:20px; z-index:100; width:123px; height:103px; text-indent:-9999em; background:url(http://img.enuri.gscdn.com/images/mobileevent/swim/swim_layer.png); background-size:123px 103px; }
	section .swim_layer .btn_close {position:absolute;  top:0; right:0; width:19px; height:20px; display:inline-block;}


/* 20150916 rwd */
.goods {box-sizing: border-box; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box; background:#e5e5e5;}
.goods .inner {margin:6px; padding:5px; height:107px; background:#fff;}
@media screen and (min-width:540px){
.goods {float:left; width:50%; margin:auto; overflow:hidden; }
}


.nav-container {background:url('images/nav_bg.jpg') repeat-x 0 0;}
.f-nav {z-index:999; position:fixed; left:0; top:0; width:100%;}

