@charset "utf-8";

* {-webkit-text-size-adjust:none;}
* {-webkit-tap-highlight-color:rgba(0,0,0,0);}
* {margin:0;padding:0;}

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative; 2016-11-23word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}
select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"], input[type="checkbox"] {-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;  border:none; }

input {outline-style:none}
html {overflow-x:hidden;height:100%;}
body {height:100%; }
img{vertical-align:top}

.go_top {width: 39px; height: 39px; position: fixed; bottom: 38px; right: 10px; z-index: 1000;}
.go_top a {background: url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size: 125px 250px; display: block; width: 39px; height: 39px; text-indent: -9999em;}

.myarea{position:fixed; width:100%; z-index:10; top:0; left:0}
.name{height:23px; background:#ffffff; color:#666666; padding:7px 0 0 25px;position:relative; border-bottom:1px solid #e0e0e0}
.name:after{content:""; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/iconset.png) 0 0px; background-size:50px; width:15px; height:15px; position:absolute; left:5px; top:6px;}
.name span{position:absolute; right:6px; top:6px; display:block; padding:2px 10px 0 0}
.name span:before{content:""; position:absolute; left:-40px; top:1px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/iconset.png) left -23px; background-size:50px; width:37px; height:16px;}
.name span:after{content:""; position:absolute; right:0px; top:4px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/iconset.png) right -25px; background-size:50px; width:6px; height:11px;}
.name button.btn_login{position:absolute; right:6px; top:4px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2016/attend/btn_login.gif) 0 0; background-size:65px 23px; width:65px; height:23px; text-indent:-9999em; border:none;}

.wrap{position:relative;width:100%; min-width:320px; padding-top: 30px;}
.content{width:320px; margin:0 auto; position:relative; overflow:hidden;}
.visual{position:relative; }
.xmas{position:absolute; left:0; top:0;}

.first{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/back_pt.gif); background-size:75px; }
.first .content{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/kfc.png) no-repeat center top; background-size:300px 343px; padding-bottom:20px;}
.first ul{margin:350px 0 0 40px;}
.first ul li{font-size:12px; position:relative; padding-left:8px;}
.first ul li:after{content:"·"; left:0; top:0; position:absolute;}
.first ul li span{color:#b93232;}
.first ul li:last-child:after{content:""}
.first ul li em{color:#b93232; font-weight:bold; display:block; background:#bc0100; color:#ffffff; text-align:center; border-radius:3px; margin-top:3px; line-height:18px; padding-top:1px; width:250px;}

.entry_txt{border:1px solid #b4b2b5; border-top:none; background:#ffffff; margin:15px 2px;}
.entry_txt.wishbox{border-top:1px solid #b4b2b5; }
.entry_txt textarea{resize: none; border:none; width:100%; font-size:11px; padding:10px 10px 0;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:45px;}
.entry_txt .wish{height:36px; border-top:1px solid #b4b2b5; display:block; font-size:10px; position:relative; }
.entry_txt .wish em{color:#a9a9a9; position:absolute; left:10px; top:12px;font-size:11px }
.entry_txt.wishbox .wish em{position:absolute; left:170px; top:12px; letter-spacing:-0.5px; color:#a9a9a9; display:block; width:30px; text-align:right; }
.entry_txt .wish button{height:38px; border:1px solid #9d1919; background:#b93232; color:#ffffff; position:absolute; right:-1px; top:-1px; width:108px; font-size:12px; font-weight:bold;}
.content .btnok{border:none; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/btn_ok.gif) 0 0; background-size:104px 20px; width:104px; height:20px; text-indent:-9999em; margin-left:107px;}

.card{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/card.png) center 30px no-repeat #b13035; background-size:320px 617px; }
.card .content{height:690px;}
.card .xams_msg{margin-top:30px; padding-left:5px; width:400px;}
.card .xams_msg:after{content:""; display:block; clear:both}
.card .xams_msg li span{display:block; }
.card .xams_msg li{color:#fae8cf; width:115px; height:146px; padding:70px 20px 0; float:left; text-align:center; font-size:11px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/card_list.png) 0 0 no-repeat; background-size:320px 450px; margin-bottom:10px; }
.card .xams_msg li.card01{background-position:0 0; }
.card .xams_msg li.card02{background-position:-163px 0; }
.card .xams_msg li.card03{background-position:0 -228px; }
.card .xams_msg li.card04{background-position:-163px -228px; }

.paging{text-align:center; margin:10px 0 0 0; position:absolute; height:50px; left:0; bottom:140px; width:100%; }
.paging li{display:inline-block; margin:0 1px; position:relative; }
.paging li a{width:25px; height:25px; line-height:25px; color:#ffffff; text-align:center; display:block; }
.paging li a.selected{background:#661013; border-radius:50%}
.paging li a.btn{text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/paging.png) center top no-repeat; background-size:12px 75px; position:absolute; top:-14px; }
.paging li a.btn.first{background-position:center 3px; }
.paging li a.btn.prev{background-position:center -16px; left:-25px;}
.paging li a.btn.next{background-position:center -37px; right:-25px;}
.paging li a.btn.last{background-position:center -58px; }
.card .content .sns{width:100%; text-align:center; padding-top:113px; }
.card .content .sns button{width:135px; height:52px; border:none; background:none; text-indent:-9999em; }

.second{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/back_pt.gif); background-size:75px; }
.second .content{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/cake.png) no-repeat center 23px; background-size:284px 419px; height:618px;}
.second .do{width:284px; height:49px; position:absolute; left:18px; bottom:176px; background:none; text-indent:-9999em}
.second ul{margin:455px 0 10px 17px;}
.second ul li{font-size:12px; position:relative; padding-left:8px;}
.second ul li:after{content:"·"; left:0; top:0; position:absolute;}

.gift{background:#ffffff; }
.gift .content{background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/gift.png) no-repeat center 35px; background-size:192px 52px; height:244px;}
.gift .content ul{width:320px; margin-top:120px;}
.gift .content ul:after{content:""; clear:both; display:block; }
.gift .content ul li{width:25%; float:left; padding:0 2px;  box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
.gift .content ul li img{width:100%; }

/*layer*/
.dim{width:100%; height:100%; position:fixed; left: 0; top: 0; background: rgba(0,0,0,0.7); z-index:100; display:none;}
.wishlayer{text-indent:-9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/m_xmas/wishlayer.png) 0 0 no-repeat; background-size:320px 272px; width:320px; height:272px; margin:-136px auto 0 -160px; position:absolute; left:50%; top:50%; }
.wishlayer a{position:absolute; left:116px; bottom:52px; width:98px; height:20px; text-indent:-9999em; }

.noteLayer{width:300px; background:#ffffff; border: 1px solid #b93232; margin: -130px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:1000}
.noteLayer h4{background:#b93232; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.noteLayer h5{padding:5px 0 0 10px; margin-bottom:-10px}
.noteLayer .close{position:absolute; right:0px; top:0px; padding:10px; width:16px; height:16px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 10px 10px no-repeat; background-size:50px; text-indent:-9999em; }
.txtlist{padding:5px 10px 10px; color:#333333}
.txtlist dt{font-size:12px; font-weight:bold; padding:7px 0 2px 0; }
.txtlist dd{font-size:10px; padding-left:8px; position:relative; }
.txtlist dd:after{content:"•"; position:absolute; left:0; top:0;}

.appLayer{width:300px;padding-bottom:15px; background:#ffffff; border:1px solid #0182ea; left:50%; top:50%; position:absolute; z-index:1000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.appLayer h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.appLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.appLayer .btn_close button{background:#22211e; color:#ffffff; width:100px; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
.appLayer .txt{text-align:center; padding:15px 0; color:#333333;  font-size:16px; letter-spacing:-1px;}
.appLayer .txt strong{color:#ff2424; display:block; }
.appLayer .txt em{font-weight:bold; }
.btn_close{text-align:center; }

.win_close{z-index:10; position: absolute; width:28px; height: 28px; right:5px; top:37px; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/m_newyear/ico_close.png) 0 0 no-repeat; background-size:28px; }

.visual .bg {position:absolute; left:0; top:0; width:100%; height:100%; background:url(http://webimage.10x10.co.kr/eventIMG/2016/74870/m/bg_snow.png) 50% 0 repeat-y; background-size:100% auto;}
.snowing {animation:snowing 30s linear 1; -webkit-animation:snowing 30s linear 1;}
@keyframes snowing {
        0% {background-position:50% 0;}
        100%{background-position:50% 800px;}
}
@-webkit-keyframes snowing {
        0% {background-position:50% 0;}
        100%{background-position:50% 800px;}
}

.piopio{
	position:absolute;
}
#pajaro{
	left:100%;
	-moz-animation:volar 5s infinite;
	-webkit-animation: volar 5s infinite;
	-o-animation:volar 5s infinite;
	-ms-animation:volar 5s infinite;
	-khtml-animation:volar 5s infinite;
	animation:volar 5s infinite;
}
@-moz-keyframes volar{
	0%{
		top:5px;
	}25%{
		top:100px;
	}50%{
		top:80px;
	}75%{
		top:25px;
	}100%{
		left:-177px;
		top:102px;
	}
}
@-webkit-keyframes volar{
	0%{
		margin-left:100%;
		top:5px;
	}25%{
		top:100px;
	}50%{
		top:80px;
	}75%{
		top:25px;
	}100%{
		left:-177px;
		top:102px;
	}
}
@-o-keyframes volar{
	0%{
		top:5px;
	}25%{
		top:100px;
	}50%{
		top:80px;
	}75%{
		top:25px;
	}100%{
		left:-177px;
		top:102px;
	}
}
@-ms-keyframes volar{
	0%{
		top:5px;
	}25%{
		top:100px;
	}50%{
		top:80px;
	}75%{
		top:25px;
	}100%{
		left:-177px;
		top:102px;
	}
}
@-khtml-keyframes volar{
	0%{
		top:5px;
	}25%{
		top:100px;
	}50%{
		top:80px;
	}75%{
		top:25px;
	}100%{
		left:-177px;
		top:102px;
	}
}
@keyframes volar{
	0%{
		left:100%;
		top:5px;
	}25%{
		top:100px;
	}50px{
		top:80px;
	}75%{
		top:25px;
	}100%{
		left:-177px;
		top:102px;
	}
}




.hi {
	position:absolute;
    width: 50px;
    height: 72px;
    background-image: url("http://s.cdpn.io/79/sprite-steps.png");
    
    -webkit-animation: play 1.2s steps(10) infinite;
       -moz-animation: play 1.2s steps(10) infinite;
        -ms-animation: play 1.2s steps(10) infinite;
         -o-animation: play 1.2s steps(10) infinite;
            animation: play 1.2s steps(10) infinite;
}

@-webkit-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-moz-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-ms-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@-o-keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}

@keyframes play {
   from { background-position:    0px; }
     to { background-position: -500px; }
}
