@charset "utf-8";

html, body   {width:100%;height:100%;}
body {width:100%;height:100%;background:#fff; margin:0; padding:0;}


/* common */
body{font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}


hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}

.hide {display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */

/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 

/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:underline}

.move{width:706px; height:442px; margin: -221px 0px auto -353px; position:absolute; top:50%; left:50%; }
.move h1{background:url('http://imgenuri.enuri.gscdn.com/2014/layout/move_BI.png') 0 0 no-repeat; display:block; height:42px; text-indent:-9999em; }
.move_box{border:3px solid #0073b2; border-top:none; height:487px; position:relative;  }
.move_box h2{background:#0073b2; display:block; color:#ffffff; height:36px; font-weight:normal; padding:7px 0 0 12px; font-size:18px;}
.mall_area{float:left; width:155px; text-align:center; padding:10px 0 0 16px; }
.mall_area{.padding:15px 0 0 16px; }
.mall_area .txt{font-size:12px; display:block; }
.mall_area .load{padding:100px 0 7px 0; display:block;}
.mall_area .btn{ padding-top:18px; display:block;}
.text_area{float:left; width:510px; padding:225px 0 0 17px; display: block; }
.text_area li{line-height:20px; padding-bottom:10px;font-size:13px; list-style-type:none; }
.text_area li span{color:#0073be; font-weight:bold;}
.mall_area .noimg{height:45px; text-align:center; display:block; color:#000000; font-weight:bold; font-size:18px;padding-top:35px;}
.mall_area .logo{height:78px; display:block; }

.move_tour{width:706px; height:338px; margin: -179px 0px auto -353px; position:absolute; top:50%; left:50%; }
.move_tour h1{background:url('http://imgenuri.enuri.gscdn.com/2014/layout/move_BI.png') 0 0 no-repeat; display:block; height:42px; text-indent:-9999em; }
.move_box_tour{border:3px solid #0073b2; border-top:none; height:292px; }
.move_box_tour h2{background:#0073b2; display:block; color:#ffffff; height:36px; font-weight:normal; padding:7px 0 0 12px; font-size:18px;}
.mall_area_tour{float:left; width:155px; text-align:center; padding:10px 0 0 16px; }
.mall_area_tour{.padding:15px 0 0 16px; }
.mall_area_tour .txt{font-size:12px; display:block; }
.mall_area_tour .load{padding:15px 0 7px 0; display:block;}
.mall_area_tour .btn{ padding-top:18px; display:block;}
.text_area_tour{float:left; width:510px; padding:30px 0 0 17px; display: block;  }
.text_area_tour li{line-height:20px; padding-bottom:10px;font-size:13px; list-style-type:none; }
.text_area_tour li span{color:#0073be; font-weight:bold;}
.mall_area_tour .noimg{height:45px; text-align:center; display:block; color:#000000; font-weight:bold; font-size:18px;padding-top:35px;}
.mall_area_tour .logo{height:78px; display:block; }

.price{width:953px; margin: -245px 0px auto -476px; position:absolute; top:50%; left:50%;  }
.price .price_area{width:243px;border-left:3px solid #0073b2; float:left; height:394px; padding-top:50px;}
.price .price_area table{margin:0 auto; }
.price .price_area table td.brn{height:85px; vertical-align:bottom; padding-top:0; }
.price .price_area table td p{width:180px; margin:0 auto;}
.price_tb td{height:249px; vertical-align:middle; }
.coupon_tb td{height:158px; vertical-align:top; padding-top:10px; }
.price .price_area table td{ text-align:center;  }
.price .price_area table td .buy01{font-weight:bold; font-size:15px; padding-bottom:5px;}
.price .price_area table td .buy02{font-size:24px; font-family:verdana; color:#0073b2; padding-top:6px}
.price .price_area table td .buy02 .won{font-size:15px; font-family:Malgun Gothic; font-weight:bold;}
.price .price_area table td .buy02_g{font-size:24px; font-family:verdana; color:#666666; text-align:right; }
.price .price_area table td .buy02_g .won{font-size:15px; font-family:Malgun Gothic; font-weight:bold;}
.price .price_area table td .buy03{color:#0073b2; font-size:15px; font-weight:bold; padding-top:5px;}
.price .price_area table td .buy03_g{color:#666666; font-size:12px; font-weight:bold; border-bottom:1px solid #7f7f7f; padding:8px 0 10px 0; text-align:right; }
.price .price_area table td .buy03_g .d_price{font-family:verdana; font-weight:normal;  }



/* 150128 */
.enuri_txt{width:497px; height:59px; background:url(http://imgenuri.enuri.gscdn.com/images/main/move_enuri_txt.gif) 0 0 no-repeat; text-indent:-9999em; position:absolute; left:180px; top:63px; }
.enuri_txt a{position:absolute; width:130px; height:28px; right:0px; top:97px;}

.benefit_bnr{width:497px; height:120px; background:url(http://imgenuri.enuri.gscdn.com/images/main/move_enuri_txt.gif) 0 bottom no-repeat; text-indent:-9999em; position:absolute; left:180px; top:132px; }
.benefit_bnr a{height:120px; display:block; }

/* 20150303 백화점_AP업체 노출 관련 Bridge Page 변경 */
.depart {height:538px; margin:-269px 0 auto -476px;}
.depart .move_box {height:536px; }
.depart .move_box .inner {overflow:hidden; }
.depart .mall_area {padding:30px 0 0 12px;}
.depart .mall_area .load {padding-top:69px;}
.depart .text_area {width:508px; padding-left:36px;}
.depart .text_area li {font-size:12px; color:#777; line-height:18px;}
.depart .text_area li span {color:#3f4f73; font-weight:normal;}
.depart .price_area {width:234px; height:267px; border-left:1px solid #eee;  padding-top:94px;}
.depart .ap_guide {position:relative; padding:5px 0; border:1px solid #e3e3e3; border-bottom:none; background:url(http://imgenuri.enuri.gscdn.com/2015/layout/bg_ap_pattern.gif) repeat-x 0 0;}
.depart .ap_guide strong {position:absolute; top:21px; left:36px; text-align:center;  font-weight:normal; font-family:"맑은 고딕", Malgun Gothic; font-size:14px; color:#3f382d; letter-spacing:-0.3px; line-height:18px; }
.depart .ap_guide strong img {margin-bottom:3px;}
.depart .ap_guide .guide_list {margin:0 4px 0 190px; padding:12px 10px 15px 19px; border:1px solid #e1e1e1; background-color:#fff; list-style:none;}
.depart .ap_guide .guide_list li {font-family:"맑은 고딕", Malgun Gothic; font-size:14px; color:#777; letter-spacing:-0.04em; line-height:26px; padding-left:11px; background:url(http://imgenuri.enuri.gscdn.com/images/department/common/bul_bar_gray.gif) no-repeat 0 60%;}
.depart .ap_guide .guide_list li em{color:#0071c9;}



/* 150805 */
.event_bnr{width:520px; height:145px; background:url(http://imgenuri.enuri.gscdn.com/images/main/bridge_banner_151030.jpg) 0 0 no-repeat; text-indent:-9999em; position:absolute; left:178px; top:44px; }
.event_bnr a{position:absolute; width:145px; height:28px; right:112px; top:97px;}