@charset "utf-8";


/*==========================================================================
Web Font
==========================================================================*/


@font-face {
  font-family: 'NanumGothic';
  src: url(/common/fonts/NanumGothic.eot);
  src: url(/common/fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothic.woff) format('woff'),
       url(/common/fonts/NanumGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicBold';
  src: url(/common/fonts/NanumGothicBold.eot);
  src: url(/common/fonts/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothicBold.woff) format('woff'),
       url(/common/fonts/NanumGothicBold.ttf) format('truetype');
}





