<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko"><head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="IE=5" http-equiv="X-UA-Compatible">
<link type="text/css" href="../../common/css/listvip.css" rel="stylesheet"><!-- 20150518 모바일 강화 -->
<style type="text/css">
&lt;!--
.divdefault1 {font-size:11px;text-decoration:underline;cursor:pointer;}
.divlink1 {font-size:11px;cursor:pointer;text-decoration:underline;color:blue;}
.divnormal1 {font-size:11px;}
.divselected1 {font-size:11px;color:blue;}

.div_height_2 {height:2px;overflow:hidden;}
.div_height_5 {height:5px;overflow:hidden;}
.div_height_12 {height:12px;overflow:hidden;}


.bg_guide_spec {font-size:11px;line-height:16px;margin:1px 0px 0px 0px;padding:0px 0px 0px 0px;overflow:hidden;text-decoration:none;border-bottom:1px solid #000000;}
.bg_guide_spec_over {font-size:11px;line-height:16px;margin:1px 0px 0px 0px;padding:0px 0px 0px 0px;overflow:hidden;color:#c70b09;cursor:pointer;text-decoration:none;border-bottom:1px solid #c70b09;}
--&gt;
</style>

<style type="text/css">
&lt;!--
/* IE9 CSS */
:root .bg_guide_spec { text-decoration:underline\0/IE9;border-bottom:none\0/IE9; }
:root .bg_guide_spec_over { text-decoration:underline\0/IE9;border-bottom:none\0/IE9; }
--&gt;
</style>
</head>
<body bgcolor="#F9F9F9" scroll="no" style="margin:0px;padding:0px;" onload="Start();">
<!-- 20150603 Phase2_모바일 최저가 노출 -->
<div class="mobile_alram_box" style="display:block;">
	<p class="title"><em>모바일 최저가</em> 알림</p>
	<p class="txt">본 상품은 모바일로 구매 시 더 저렴합니다. <br />
	찜/핸드폰 전송 또는 QR코드를 스캔하여 모바일에서 최저가를 확인하세요.</p>
	<span class="qrcode" title="QR코드 바로가기"><img id="qrcodeImg" src="http://dev.enuri.com/view/qrcode/qr1430187989240.png?cache=1430187989240"  /></span>
</div>
<!-- //20150603 Phase2_모바일 최저가 노출 -->

<div id="box_area1">

	<table cellspacing="0" cellpadding="0" border="0" style="width:100%;">
		<tbody><tr><td align="left">
		<span style="float:left;font-size:11px;font-family:돋움;font-weight:bold;color:#575757;">
		<img align="absmiddle" style="margin:3px 5px 7px 0px;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/sp_board_arrow.gif"><span>조건 선택</span>
		

		</span>
		<span style="float:right;display:inline;">
	
		<img onclick="goDeliveryFlag('true');logInsert(4204);" style="cursor: pointer;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/delivery_x.gif" name="deliverySelectImg" id="deliverySelectImg">
	
		</span>
		</td></tr>
	</tbody></table>
	<table cellspacing="0" cellpadding="0" border="0" style="width:100%;">

		<tbody><tr>
			<td valign="top">


			<table cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;margin:2px 0px 0px 0px;">
				<tbody><tr>
					<td align="right" style="height:16px;white-space:nowrap;width:140px;color:#484848;font-family:돋움;font-size:12px;">
						
						<div title="일반" style="padding:1px 0px 0px 0px;font-size:11px;height:14px;white-space:nowrap;overflow:hidden;">
							<!-- 20150603 Phase2_모바일 최저가 노출 -->
							<span class="ico_cellphone">모바일</span>일반
						</div>
					</td>
					<td align="center" style="height:16px;width:20px;"><img border="0" onclick="goModelno(11895525)" style="cursor:pointer;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/radio_on.gif" id="OptionImg_11895525"></td>
					<td valign="middle" align="left" style="width:64px;height:15px;font-size:11px;"><span onclick="goModelno(11895525)" style="cursor:pointer;"><span style="color:#0058b0;font-family:Arial;font-weight:bold;">988,830</span><span style="font-size:11px;color:#6A6A6A;font-family:돋움;">원</span></span></td>
					
				</tr>
			</tbody></table>


			<table cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;margin:2px 0px 0px 0px;">
				<tbody><tr>
					<td align="right" style="height:16px;white-space:nowrap;width:140px;color:#484848;font-family:돋움;font-size:12px;">
						<div title="SSD 250G (교체)" style="padding:1px 0px 0px 0px;font-size:11px;height:14px;white-space:nowrap;overflow:hidden;"><span onclick="parent.getBeginnerDicInfoPos3('531053',this);event.cancelBubble=true;" onmouseout="this.className='bg_guide_spec';" onmouseover="this.className='bg_guide_spec_over';" class="bg_guide_spec">SSD 250G (교체)</span></div>
					</td>
					<td align="center" style="height:16px;width:20px;"><img border="0" onclick="goModelno(11994719)" style="cursor:pointer;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/radio.gif" id="OptionImg_11994719"></td>
					<td valign="middle" align="left" style="width:70px;height:15px;font-size:11px;"><span onclick="goModelno(11994719)" style="cursor:pointer;"><span style="color:#0058b0;font-family:Arial;">1,126,380</span><span style="font-size:11px;color:#6A6A6A;font-family:돋움;">원</span></span></td>
					
				</tr>
			</tbody></table>
</td>
<td valign="top">


			<table cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;margin:2px 0px 0px 0px;">
				<tbody><tr>
					<td align="right" style="height:16px;white-space:nowrap;width:140px;color:#484848;font-family:돋움;font-size:12px;">
						<div title="SSD 500G (교체)" style="padding:1px 0px 0px 0px;font-size:11px;height:14px;white-space:nowrap;overflow:hidden;"><span onclick="parent.getBeginnerDicInfoPos3('531073',this);event.cancelBubble=true;" onmouseout="this.className='bg_guide_spec';" onmouseover="this.className='bg_guide_spec_over';" class="bg_guide_spec">SSD 500G (교체)</span></div>
					</td>
					<td align="center" style="height:16px;width:20px;"><img border="0" onclick="goModelno(11994904)" style="cursor:pointer;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/radio.gif" id="OptionImg_11994904"></td>
					<td valign="middle" align="left" style="width:70px;height:15px;font-size:11px;"><span onclick="goModelno(11994904)" style="cursor:pointer;"><span style="color:#0058b0;font-family:Arial;">1,305,510</span><span style="font-size:11px;color:#6A6A6A;font-family:돋움;">원</span></span></td>
					
				</tr>
			</tbody></table>


			<table cellspacing="0" cellpadding="0" border="0" style="table-layout:fixed;margin:2px 0px 0px 0px;">
				<tbody><tr>
					<td align="right" style="height:16px;white-space:nowrap;width:140px;color:#484848;font-family:돋움;font-size:12px;">
						<div title="추가구매 필수" style="padding:1px 0px 0px 0px;font-size:11px;height:14px;white-space:nowrap;overflow:hidden;"><span onclick="parent.getBeginnerDicInfoPos3('519368',this);event.cancelBubble=true;" onmouseout="this.className='bg_guide_spec';" onmouseover="this.className='bg_guide_spec_over';" class="bg_guide_spec">추가구매 필수</span></div>
					</td>
					<td align="center" style="height:16px;width:20px;"><img border="0" onclick="goModelno(11994930)" style="cursor:pointer;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/radio.gif" id="OptionImg_11994930"></td>
					<td valign="middle" align="left" style="width:70px;height:15px;font-size:11px;"><span onclick="goModelno(11994930)" style="cursor:pointer;"><span style="color:#0058b0;font-family:Arial;">1,384,000</span><span style="font-size:11px;color:#6A6A6A;font-family:돋움;">원</span></span></td>
					
				</tr>
			</tbody></table>

			</td>
		</tr>
	</tbody></table>
	<div class="div_height_12"></div>

</div>
<div style="position: absolute; display: none;" id="selModelNoticeDiv"><img src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/now_ani.gif" id="selModelNoticeImg"></div>
<!-- 게시판 출력 -->
<div id="box_area2">

<span style="font-size:11px;font-family:돋움;font-weight:bold;color:#575757;">
<img align="absmiddle" style="margin:1px 5px 5px 0px;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/sp_board_arrow.gif">게시판
</span>


<span onclick="parent.bbsTabClick(3);logInsert(4383);" style="text-decoration:underline;cursor:pointer;font-size:11px;font-family:돋움;color:#808080;">
전체보기
</span>

<table cellspacing="0" cellpadding="0" border="0">

	<tbody><tr>
		<td>
			<table cellspacing="0" cellpadding="4" border="0" style="table-layout:fixed;text-align:left;margin:2px 0px 8px 0px;">
			<tbody><tr>
				<td style="line-height:150%;color:#575757;padding:0px 5px; 0px 5px;font-size:11px;font-family:'맑은 고딕';word-break:break-all;" colspan="2">
				빠른 배송 감사합니다. 제가 찾던 사양에서 최저 가격이네요 소리도 심하지 않고, 화면도 큼직하고 좋습니다.
</td>
			</tr>
			<tr>
				<td width="80" valign="top" height="24" style="padding-top:10px">
					
					&nbsp;
					
				</td>
				<td width="390" valign="top" height="24" align="right" style="padding-top:10px;font-size:11px;font-family:돋움;"><span style="display:inline;color:#808080;"><strong>al********
[11번가]
</strong> 2015-4-29</span></td>
			</tr>
		</tbody></table></td>
	</tr>
	<tr>
		<td style="height:1px;background-repeat:repeat-x;background-image:url(http://imgenuri.enuri.gscdn.com/images/knowbox/goodboard/bg_dotline.gif);"><img width="1" height="1" src="http://imgenuri.enuri.gscdn.com/images/blank.gif"></td>
	</tr>

	<tr>
		<td>
			<table cellspacing="0" cellpadding="4" border="0" style="table-layout:fixed;text-align:left;margin:2px 0px 8px 0px;">
			<tbody><tr>
				<td style="line-height:150%;color:#575757;padding:0px 5px; 0px 5px;font-size:11px;font-family:'맑은 고딕';word-break:break-all;" colspan="2">
				삼성전자 노트북 NT500R5K-K58S에 SSD 250GB로 교체해서 구입우선 배송은 하루만에 도착해서 마음에 들었고hdd도 잘 교체되어 왔고윈도우도 깔려있고마음에 듬
</td>
			</tr>
			<tr>
				<td width="80" valign="top" height="24" style="padding-top:10px">
					
					&nbsp;
					
				</td>
				<td width="390" valign="top" height="24" align="right" style="padding-top:10px;font-size:11px;font-family:돋움;"><span style="display:inline;color:#808080;"><strong>cu**********
[11번가]
</strong> 2015-4-23</span></td>
			</tr>
		</tbody></table></td>
	</tr>
	<tr>
		<td style="height:1px;background-repeat:repeat-x;background-image:url(http://imgenuri.enuri.gscdn.com/images/knowbox/goodboard/bg_dotline.gif);"><img width="1" height="1" src="http://imgenuri.enuri.gscdn.com/images/blank.gif"></td>
	</tr>

	<tr>
		<td>
			<table cellspacing="0" cellpadding="4" border="0" style="table-layout:fixed;text-align:left;margin:2px 0px 8px 0px;">
			<tbody><tr>
				<td style="line-height:150%;color:#575757;padding:0px 5px; 0px 5px;font-size:11px;font-family:'맑은 고딕';word-break:break-all;" colspan="2">
				10년도 넘게 쓰던 데스크탑으로 안되는게 너무 많아서 샀는데, 참 조으네요~^^ 빠르고 조용하고. 여기서 사니 싸고, 사은품도 이것저것 챙겨주시고. 많이 파세요~
</td>
			</tr>
			<tr>
				<td width="80" valign="top" height="24" style="padding-top:10px">
					
					<span onclick="parent.bbsTabClick(3);logInsert(4383);" style="text-decoration:underline;cursor:pointer;font-size:11px;font-family:돋움;color:#808080;">
					전체보기
					</span>
					
				</td>
				<td width="390" valign="top" height="24" align="right" style="padding-top:10px;font-size:11px;font-family:돋움;"><span style="display:inline;color:#808080;"><strong>e_****
[11번가]
</strong> 2015-4-20</span></td>
			</tr>
		</tbody></table></td>
	</tr>
	<tr>
		<td style="height:1px;background-repeat:repeat-x;background-image:url(http://imgenuri.enuri.gscdn.com/images/knowbox/goodboard/bg_dotline.gif);"><img width="1" height="1" src="http://imgenuri.enuri.gscdn.com/images/blank.gif"></td>
	</tr>

	<tr>
		<td style="height:6px;"><img width="1" height="1" src="http://imgenuri.enuri.gscdn.com/images/blank.gif"></td>
	</tr>
</tbody></table>

<table cellspacing="0" cellpadding="0" border="0" align="left">
	<tbody><tr>
		<td height="96" align="left"><table cellspacing="0" cellpadding="0" border="0">
			<tbody><tr>
				<td height="15" align="left">
					<span style="font-size:11px;font-family:돋움;font-weight:bold;color:#575757;">
					<img align="absmiddle" style="margin:1px 5px 5px 0px;" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/sp_board_arrow.gif">주의사항
					</span>
				</td>
				<td valign="bottom" height="15" align="right" style="font-size:11px;font-family:돋움;line-height:15px;">
					
					<p>정보갱신:'15년 6월 3일</p>
					
				</td>
			</tr>
			<tr>
				<td valign="top" colspan="2" id="notice_ShowImgTd"><img border="0" usemap="#Map_notice2" src="http://imgenuri.enuri.gscdn.com/images/view/deliverycate/sp_help01_text_top_131106.gif"></td>
			</tr>
		</tbody></table></td>
	</tr>
</tbody></table>
</div>
<map name="Map_notice2">
	<area onclick="parent.logInsert(4452);parent.cmdMap_notice(1, 2);this.blur();" href="javascript://" coords="279,1,291,13" shape="rect">
	<area onclick="parent.logInsert(1462);this.blur();" href="javascript:parent.cmdMap_notice(2, 2);" coords="368,18,380,30" shape="rect">
	<area onclick="parent.logInsert(1461);this.blur();" href="javascript:parent.cmdMap_notice(3, 2);" coords="12,49,64,63" shape="rect">
</map>


</body></html>