@charset "utf-8";

body{background:#f5f5f5; color:#666666;}

/*icon*/
.ico{background:url(/images/member/page/m_icon.png) 0 0; background-size:211px 238px; text-indent:-9999em;}
.memberwrap header .back,
.my_detail .info_more:after,
.myinfo_form .birth:after,
.memberfield .in_radio,
.memberfield .in_chk,
.memberwrap header:after,
.btn_join .m:after,
.btn_agree.on .ag:after,
.memberwrap header h2:after,
.mybox:after,
.pw_pop .header .btn_close,
.adr_search .btnClose,
.my_agr input,
.myinfo_form .gender li label span:after{background:url(/images/member/page/m_icon.png) 0 0; background-size:211px 238px; text-indent:-9999em;}

.memberwrap header h1{position:relative; line-height:34px;background:#0072bc;text-align:center; border-bottom:1px solid #041e49; color:#ffffff; padding-top:3px;}
.memberwrap header .back{position:absolute; left:10px; top:10px; background-position:0 0; width:10px; height:16px; content:""; z-index:1}
.memberwrap header{background:#ffffff; position:relative; border-bottom:1px solid #0073be;}
.memberwrap header:after{content:""; position:absolute; left:0; bottom:-3px; width:100%; height:2px; background:#e2e2e2;}
/* 20190327 헤더 로고 수정 */
.memberwrap header h2{position:relative; height:50px; text-indent:-9999em; }
.memberwrap header h2:after{background-size:120px 135px}
.memberwrap header h2:after{content:""; position:absolute; left:50%; top:12px; width:81px; height:26px;  background-position:0 -59px; -webkit-transform: translateX(-50%); transform: translateX(-50%); }

/*회원정보입력*/
.memberfield{padding:0 10px 20px 10px;}
.memberfield h3{color:#343434; width:100%; font-size:16px; padding:25px 0 10px; font-weight:normal; }
.memberfield h3 em{color:#0073be; }
.memberfield .myinfo_form{border:1px solid #d9d9d9; background:#ffffff; padding:5px 15px 5px 100px ; position:relative; margin-top:-1px;min-height:29px;}
.memberfield .myinfo_form .tit{position:absolute; left:10px; top:12px; letter-spacing:-0.5px;}
.memberfield .myinfo_form .tit .info{position:absolute; right:-22px; top:-3px; width:18px; height:18px; border:1px solid #acacac; background:#bbbbbb; color:#ffffff; font-weight:bold; border-radius:50%; display:inline-block; line-height:20px; text-align:center; font-size:16px }
.memberfield input{border:1px solid #eeeeee; width:100%; line-height:27px; text-indent:5px;}

.pw_pop {position: absolute;top:50%; transform: translateY(-50%); padding:20px; width:100%; box-sizing:border-box;-webkit-box-sizing:border-box;}
.pw_pop .header{position:relative;height:35px;line-height:35px;background:#e6e8eb;border-bottom:1px solid #d5d9de;box-sizing:border-box;-webkit-box-sizing:border-box;}
.pw_pop .header h3{text-indent:11px;font-weight:bold;font-size:14px;color:#333;}
.pw_pop .header .btn_close{position:absolute;display:block;top:9px;right:10px;;width:17px;height:17px; background-position:-122px 0;text-indent:-9999em;} 
.pw_pop .con{padding:14px 11px;font-size:12px;color:#7d7d7d; background:#ffffff; }
.pw_pop .con li{margin-top:15px;padding-left:7px; position:relative; }
.pw_pop .con li:before{content:""; position:absolute; left:0; top:4px; list-style-type:disc; background:#666666; width:3px; height:3px; border-radius:50%; }
.pw_pop .con li:first-child{margin-top:0px;}

.memberfield .txt_red{color:#fe0002; font-size:12px; display:block; padding-top:3px;}
.memberfield .txt_blue{color:#0375bb; font-size:12px; display:block; padding-top:3px;}

/*btn*/
.btn_join{border:1px solid #0073be; background:#1689d3; color:#ffffff; font-weight:bold; font-size:24px; width:100%; box-sizing:border-box;-webkit-box-sizing:border-box; line-height:52px; margin-top:20px;box-shadow: 0px 4px 0px #e2e2e2; }
.btn_join .m{position:relative; padding-left:25px}
.btn_join .m:after{background-position:-30px -72px; width:17px; height:28px; position:absolute; left:0; top:0; content:""; }
.btn_agree{border:1px solid #999999; background:#ffffff; color:#353535; font-weight:bold; font-size:24px; width:100%; line-height:52px; margin-top:20px;box-shadow: 0px 4px 0px #e2e2e2; margin-bottom:-10px; }
.btn_agree em{font-size:14px; font-weight:normal; padding-left:5px;}
.btn_agree.on{border:1px solid #1789d2; }
.btn_agree.on .ag{padding-left:35px; position:relative;}
.btn_agree.on .ag:after{position:absolute; left:0; top:6px; content:""; width:31px; height:21px; background-position:-47px -25px;}
.btn_agree.next{border:1px solid #d2d2d2; color:#999999; background:#f9f9f9; }
.btn_agree.join{border:1px solid #d2d2d2; color:#999999; background:#f9f9f9; }
.btn_confirm { border:1px solid #d2d2d2; color:#999999; background:#f9f9f9; font-weight:bold; font-size:24px; width:100%; line-height:52px; margin-top:20px;box-shadow: 0px 4px 0px #e2e2e2; margin-bottom:-10px;  }
.btn_confirm.on { border:1px solid #0073be; background:#1689d3; color:#ffffff;  }

/* agree 회원가입190130 */
.sns_join { margin-top: 16px; border-top: 1px solid #fff;  }
.btn_member {border:1px solid #d2d2d2; height: 52px; background:#ffffff; color:#353535; font-weight:normal; letter-spacing: -0.025em; font-size:17px; width:100%; line-height:54px; margin-top:20px;box-shadow: 0px 4px 0px #e2e2e2; margin-bottom:-10px; }
.btn_member .sl > span { margin-right: 6px; font-size: 12px; }
.btn_member.naver { margin-top: 15px; }
.btn_member.kakao { margin-bottom: 32px; }
.btn_member.naver .sl { padding-left:74px; position:relative; }
.btn_member.kakao .sl { padding-left:54px; position:relative; }
.btn_member .sl:after { position:absolute; left:0; content:""; background:url(/images/member/page/sns_logo.png); background-size: 70px;   }
.btn_member.naver .sl:after { width:70px; height:13px; top:2px; background-position:0px 0px; }
.btn_member.kakao .sl:after { width:49px; height:15px; top:1px; background-position:0px -15px; }

/* agree 회원가입190327 */
.sns_join_re {padding-bottom:30px;border-bottom:1px solid #cccccc}
.sns_join_re h3.tit{font-size:14px}
.sns_join_re .btn_sns_group{overflow: hidden;}
.sns_join_re .btn_sns_group button{width:49%;float:left;position:relative}
.sns_join_re .btn_sns_group button:last-child{float:right}
.sns_join_re .btn_sns_group .btn_sns_naver,
.sns_join_re .btn_sns_group .btn_sns_kakao{height:50px;border: 1px solid #fff;line-height:50px;letter-spacing: -0.025em;font-weight: normal;font-size:18px;font-weight: bold}
.sns_join_re .btn_sns_group .btn_sns_naver{background-color:#01c33c;border-color:#01b939;color:#fff}
.sns_join_re .btn_sns_group .btn_sns_kakao{background-color:#ffeb33;border-color:#f5e128;color:#381e1f}
.sns_join_re .btn_sns_group .sl{position:relative;}
.sns_join_re .btn_sns_group .sl:before{content:"";position: absolute;top:-1px;left:0;background-image:url(/images/member/page/sprite_sns_logo.png);background-repeat:no-repeat;background-size:300px}
.sns_join_re .btn_sns_group .btn_sns_naver .sl{padding-left:30px}
.sns_join_re .btn_sns_group .btn_sns_naver .sl:before{width:23px;height:24px;background-position:0 -16px;}
.sns_join_re .btn_sns_group .btn_sns_kakao .sl{padding-left:35px}
.sns_join_re .btn_sns_group .btn_sns_kakao .sl:before{width:28px;height:24px;background-position:-23px -16px;}

/* agree_sns 회원가입190130 */
.btn_agree.join{border:1px solid #d2d2d2; color:#999999; background:#f9f9f9; }
.memberfield{padding:0 10px 20px 10px; letter-spacing:-0.025em;}
.memberfield .txt_basic { font-size: 12px; color:#666; }
.memberfield .form_area { margin-bottom: 10px; }
.memberfield .sns_nickname_form {border:1px solid #d9d9d9; height: 48px; background:#ffffff; padding:5px 12px 5px 85px ; position:relative; margin:-1px; min-height:29px;}
.memberfield .sns_nickname_form .tit{position:absolute; left:10px; top:12px; letter-spacing:-0.5px;}
.memberfield .sns_nickname_form .chkbox_area { margin-top: 7px; }
.memberfield .sns_nickname_form .chkbox_area label { font-size: 12px; }
.memberfield .sns_nickname_form input:checked+label { font-weight: normal; }
.chkbox_area input { vertical-align: -3px !important }
.memberfield .chkbox.first{ margin-right: 18px; }
.memberfield .ntf{border:1px solid #eeeeee; width:100%; line-height:27px; text-indent:5px;}
.memberfield .ntf.err{border:1px solid #ff0000; width:100%; line-height:27px; text-indent:5px;}

/* mt_sns 회원가입190130 */
.memberfield .sns_form {border:1px solid #d9d9d9; height: 44px; background:#ffffff; padding:12px 12px 5px 34px; position:relative; margin:-1px; min-height:29px;}
.memberfield .sns_form .in_chk {position:absolute; left:11px; top:13px; letter-spacing:-0.5px;}
.memberfield .sns_form input:checked+label { font-weight: normal; }
.memberfield .sns_form .chkbox_area label { font-size: 12px; }


/*인증방법*/
.my_chk .tab{background:#ffffff; }
.my_chk .tab:after{content:""; clear:both; display:block;}
.my_chk .tab li{float:left; width:50%; position:relative; background:#e2e2e2; display:block; line-height:38px; box-sizing:border-box;-webkit-box-sizing:border-box; text-align:center; }
.my_chk .tab li a{display:block; color:#787878; }
.my_chk .tab li.on a{color:#000; font-weight:bold;}
.my_chk .tab li:after{background:#bbbbbb; position:absolute; left:0; bottom:-1px; width:100%; height:1px; content:""; }
.my_chk .tab li.on:after{background:none; }
.my_chk .tab li.on{background:#ffffff; border:1px solid #bbbbbb; border-bottom:none; }
.my_chk .contarea{border:1px solid #bbbbbb;  border-top:none; background:#ffffff; font-size:12px; }
.my_chk .contarea .phone_chk{padding:15px; }
.my_chk .contarea .phone_chk em{color:#1689d3; font-weight:bold; }
.my_chk .contarea .phone_chk span{display:block; padding:5px 0 0 20px; position:relative;}
.my_chk .contarea .phone_chk span label{font-size:12px; }
.my_chk .contarea .phone_chk span input{position:absolute; left:1px; top:5px;}
.my_chk .contarea .wbtn{display:block; text-align:center;}
.my_chk .contarea .wbtn a{background:#ffffff; border:1px solid #999999; padding:5px 20px; font-size:14px; box-shadow: 0px 2px 0px #e9e9e9; display:inline-block; }
.my_chk .contarea .phone{padding:15px; background:#f9f9f9; color:#999999; font-size:12px; margin-top:15px; }
.my_chk .contarea .phone.ok{font-weight:bold; color:#000;}
.my_chk .contarea .self_chk{margin:0 15px; padding:10px 0; border-top:2px solid #999999; font-size:12px; }
.my_chk .contarea .self_in{padding:5px 80px 5px 95px; min-height:39px; width:100%; position:relative; box-sizing:border-box;-webkit-box-sizing:border-box; display:block; font-size:16px;}
.my_chk .contarea .self_in input{width:100%; vertical-align:top; border-right:none; box-sizing:border-box;-webkit-box-sizing:border-box}
.my_chk .contarea .self_in label{position:absolute; left:0; top:12px;}
.my_chk .contarea .self_in a{width:80px; font-size:14px; text-align:center; background:#f9f9f9; border: 1px solid #bbbbbb; padding-top:2px; height:25px; line-height:27px; color: #666666; position:absolute; right:0; top:5px;}
.my_chk .contarea .self_in .end_txt{display:inline-block; width:100%; padding-top:6px; color:#171717;}

/*상세정보입력*/
.my_detail .info_more{width:158px; height:26px; line-height:26px; border:1px solid #1689d3; color:#343434; font-weight:bold; background:#ffffff; display:block; text-indent:15px; margin-top:20px; position:relative; }
.my_detail.more .info_more{margin-bottom:10px;}
.my_detail .info_more:after{content:""; position:absolute; right:10px; top:5px; width:16px; height:16px; background-position:-91px 0;}
.my_detail .myinfo_form, .my_detail .terms_div{display:none;}
.my_detail.more .myinfo_form, .my_detail.more .terms_div{display:block;}
.my_detail.more .info_more:after{background-position:-74px 0px;}
.terms_div .txtmnt{font-size:12px; margin:-5px 0 5px 0; display:block;}

.myinfo_form .gender:after{display:block; clear:both; content:""}
.myinfo_form .gender li{width:50%; float:left; position:relative; height:36px;}
.myinfo_form .gender li:last-child{border-left:none; }
.myinfo_form .gender li input{display:block; border:none; height:0px;  top:-9999px; }
.myinfo_form .gender li label{width:100%; display:block; text-align:center; line-height:34px; border:1px solid #eeeeee; background:#ffffff; box-sizing:border-box;-webkit-box-sizing:border-box; }
.myinfo_form .gender li label span{position:relative; padding-left:28px;}
.myinfo_form .gender li input:checked+label{color:#171717; border:2px solid #1689d3; font-weight:bold; line-height:32px;}
.myinfo_form .gender li:last-child input:checked+label{border:2px solid #ff6666; }
.myinfo_form .gender li label span:after{content:""; position:absolute; left:0; top:-2px; width:22px; height:22px; background-position:0 -49px }
.myinfo_form .gender li:last-child label span:after{background-position:-23px -49px}
.myinfo_form .gender li:last-child label{border-left:none;}
.myinfo_form .gender li input:checked+label span:after{background-position:0 -26px}
.myinfo_form .gender li:last-child input:checked+label span:after{background-position:-24px -26px}

.myinfo_form .birth{float:left; position:relative;}
.myinfo_form .birth:after{position:absolute; content:""; right:7px; top:10px; width:17px; height:9px; background-position:-49px -50px; }
.myinfo_form .birth.s_yy{width:40%;}
.myinfo_form .birth.s_mm{width:30%; padding-left:10px; box-sizing:border-box;-webkit-box-sizing:border-box; }
.myinfo_form .birth.s_dd{width:30%; padding-left:10px; box-sizing:border-box;-webkit-box-sizing:border-box; }
.myinfo_form .selbox{border: 1px solid #eeeeee; line-height: 27px; padding:0 27px 0 8px; width:100%; background:#ffffff;}
.myinfo_form .adr{display:block; padding-right:80px; position:relative;}
.myinfo_form .adr a{position:absolute; right:0; top:0px; width:78px; font-size:14px; text-align:center; background:#f9f9f9; border:1px solid #bbbbbb; padding-top:2px; height:25px; line-height:27px; color: #666666;}
.myinfo_form .adr_in{margin:5px 0; }
.myinfo_form.intxt .tit{top:4px; line-height:16px;}

/* 가이드가 바껴서 새로 작업함 */
.memberfield .myinfo_form._ver2 {padding:5px 15px 5px 10px;}
.memberfield .myinfo_form._ver2.no_b-top {border-top:0;}
.memberfield .myinfo_form._ver2.no_b-bottom {border-bottom:0;}
.myinfo_form._ver2 .id_inputbox {display:block; padding-right:80px; position:relative;}
.myinfo_form._ver2 .id_inputbox a {position:absolute; right:0; top:0px; width:70px; font-size:14px; text-align:center; border:1px solid #333; padding-top:2px; height:25px; line-height:23px; color: #666;}
.memberfield .myinfo_form._ver2 .tit {top:10px;}
.myinfo_form._ver2 .txt_info {padding-left:100px; font-size:12px; color:#999; line-height:29px; letter-spacing:-1px;}
.myinfo_form._ver2 .txt_info strong {font-weight:bold; letter-spacing:0;}
.myinfo_form._ver2 .txt_info strong.emp {color:#333;}
.myinfo_form._ver2 .txt_phone strong.emp {font-size:18px; color:#171717; line-height:36px; letter-spacing:-1px;}
.myinfo_form._ver2._full .id_inputbox {width:100%; padding-right:0;}

.memberfield .in_radio{width:17px; height:16px; border:none; background-position:-103px -42px; vertical-align:-6px}
.memberfield .in_radio:checked{background-position:-83px -42px}
.memberfield input:checked+label{font-weight:bold; color:#000}
.memberfield .in_chk{width:17px; height:16px; border:none; background-position:-101px -24px; vertical-align:-6px}
.memberfield .in_chk:checked{background-position:-83px -24px}
.memberfield .chkarea{margin-right:20px; display:inline-block}
.memberfield.intxt .chkarea{padding-top:5px;}
.memberfield .in_radio, .memberfield .in_chk{margin-right:5px;}

/*주소검색*/
.adr_search{padding:0 10px; position:absolute; top:50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width:100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  }
.adr_search h2{background:#81a9db; color:#ffffff; font-size:15px; padding: 11px 0 9px 10px;}
.adr_search .btnClose {z-index:10; position:absolute;top:10px;right:20px;width:16px;height:16px;border:0; background-position:-145px 0; text-indent:-99999px;}
.adrarea{padding:5px 10px; background:#ffffff; }
.adrarea .noticed{padding:5px;font-size:13px; color:#777;text-align:left;text-indent:0;}
.adr_search .layerBtn {overflow:hidden; padding:18px 15px; text-align:center; background: #f3f4f5; border-top: 1px solid #d5d5d5;}
.adr_search .layerBtn .btnTxt {width:48%;}

.adr_tab {position:relative; padding-top:31px; }
.adr_tab>li>a {display:block; position:absolute; top:0; width:50%; height:33px; line-height:33px; text-align:center; background:#e6e6e6; color:#999999; border:1px solid #e6e6e6; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.adr_tab>li.on>a {border:1px solid #81a9db; background:#ffffff; color:#444444; font-weight:bold; }
.adr_tab>li:first-child>a {left:0;}
.adr_tab>li+li>a {left:50%;}
.adr_tab>li>div {height:0; overflow:hidden; position:absolute;}
.adr_tab>li.on>div {height:auto; position:static; padding-top:15px;}

.adr_tab .location{padding:0 68px 10px 48px; position:relative; }                                                                             
.adr_tab .location label{color:#444444; position:absolute; left:0; top:8px; }
.adr_tab .location .post_search{width:100%; height:33px; border:1px solid #d2d2d2; text-indent:5px;}
.adr_tab .location .searchbtn{position:absolute; right:0; top:0; width:68px; background:#787878; color:#ffffff; border:none; height:35px}
.adr_tab .location em{color:#b6b6b6; font-size:11px; padding:5px 0 0 5px; display:block; }
.adr_tab .adr_sel{border-top:1px solid #eeeeee; text-align:center; color:#444444; padding:15px 0}

.adr_sel_list{height:200px; -webkit-overflow-scrolling: touch;overflow-x: auto;  border-top:1px solid #787878; margin-bottom:15px }
.adr_sel_list ul{color:#444444; }
.adr_sel_list li{border-bottom:1px solid #eeeeee; padding:10px 0 10px 75px; position:relative; cursor:pointer; }
.adr_sel_list li:last-child{border-bottom:none; }
.adr_sel_list li span{position:absolute; left:5px; top:10px;}

/*tab*/
.member_tab{padding:0px 5px 0;}
.member_tab ul:after{display:block; content:""; clear:both;}
.member_tab li{width:50%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; float:left; line-height:53px; border:1px solid #e2e2e2; border-bottom:none; border-radius:4px 4px 0 0; background:#f2f2f2; }
.member_tab li a{display:block; text-align:center; font-size:18px; color:#787878;}
.member_tab li.on{background:#1689d3; border:1px solid #0073be; border-bottom:none; }
.member_tab li.on a{color:#ffffff; font-weight:bold;}

.memberfield .txt_basic{font-size:12px; padding:25px 0 10px 0; }
.memberfield .txt_basic.star{position:relative; padding-left:7px}
.memberfield .txt_basic.star:after{position:absolute; left:1px; top:27px; content:"*"}
.memberfield .txt_basic.border-top {border-top:1px solid #ced2d7;}
.idpw_area .chkarea{padding-top:6px;}
.idpw_area .chkarea input{margin-right: 5px;}

.memberfield .new_pw{padding:25px 0 10px 0; color:#343434; }
.memberfield .new_pw ul{padding-top:10px}
.memberfield .new_pw ul li{font-size:12px; color:#666666; padding-left:10px; position:relative;}
.memberfield .new_pw ul li:after{position:absolute; left:3px; top:0; content:"·"}

/*아이디조회결과*/
.id_list{width:100%; max-height:200px; overflow:auto; border-bottom:1px solid #dadada;}
.id_search{width:100%; }
.id_search th{background:#fcfcfc; border:1px solid #dadada; font-weight:normal; text-align:left; padding:10px 15px; font-size:13px; }
.id_search th:nth-child(odd){width:55%}
.id_search td{background:#ffffff; border:1px solid #dadada; border-top:none;padding:13px 15px; }
.id_search td:nth-child(odd){color:#0073c5; font-weight:bold; width:55%}
.id_search tr:last-child td{border-bottom:none;}

@media screen and (max-width:320px){
.myinfo_form .chkarea{margin-right:5px; letter-spacing:-1px; font-size:13px;}
.memberfield .in_radio, .memberfield .in_chk{margin-right:3px;}
.my_chk .contarea .self_in a{font-size:12px;}
}

@media screen and (min-width:400px){
.memberfield .chkarea{margin-right:40px;}
}

/*약관동의*/
.terms_chk{color:#333333; padding:10px 0; position:relative; }
.terms_chk .ex_all{font-size:12px; font-weight:bold; text-decoration:underline; position:absolute; right:2px; top:11px; letter-spacing:-0.5px; color: #666;}
.terms_chk input{vertical-align:-3px !important;}
.terms_box{background:#f9f9f9; border:1px solid #d9d9d9; padding:18px; height: 100px; overflow:auto; -webkit-overflow-scrolling: touch; margin-bottom:10px; font-size:12px;}
.terms_box h3{padding:0 0 5px 0; font-size:12px;}
.terms_div li:last-child .terms_box{margin-bottom:0;}
.terms_box div{padding-bottom:10px;}
.terms_div li .terms_box p {margin-bottom:5px;}
.terms_div li .terms_box span {display:block; padding-left:5px;}

/*본인인증*/
.mybox{background:#ffffff; margin-top:10px; text-align:center; font-size:18px; padding:128px 0 20px; position:relative; color:#333333; margin-bottom:15px;}
.mybox em{color:#2d9fe8; }
.mybox:after{background-position:-142px -152px; position:absolute; left:50%; top:20px; -webkit-transform: translateX(-50%); transform: translateX(-50%); width:68px; height:85px; content:""; }
.success:after{background-position:-71px -153px}
.fail:after{background-position:0 -153px}
.my_agr{position:relative; color:#333333; padding:0px 0 15px 35px;}
.my_agr input{position:absolute; left:0; top:0px; background-position:-128px -24px; width:28px; height:28px; border:none;}
.my_agr input:checked{background-position:-162px -24px;}
.my_btnarea{text-align:center; }
.my_btnarea:after{content:""; display:block; clear:both}
.my_btnarea span{float:left; padding:0 5px; width:50%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }
.my_btnarea span button{width:100%; background:#0072bc; color:#ffffff; font-size:15px; line-height:37px; box-shadow:0px 2px 1px #b6b9bd;}
.my_btnarea span button.close{background:#ffffff; color:#0072bc}
.my_btnarea .ok_close{background:#0072bc; color:#ffffff; font-size:15px; line-height:37px; box-shadow:0px 2px 1px #b6b9bd; padding:0 20px; min-width:135px;}

/* 171103 14세 이상 동의 추가 */
.agree_14age {margin-bottom:10px; font-size:14px;}
.agree_14age strong {color: #0073be;}

/* 20190327 카피라이터 추가 */
.mb_footer .container{padding:20px 0; text-align:center; font-size:10px; letter-spacing:-0.5px;}

/* 190409 SNS 회원가입 게이트페이지 */
body.n_sns_join_gate{background:#0b5ac3;color:#fff;}
body.n_sns_join_gate *{font-family: 'Apple SD Gothic Neo','맑은 고딕', 'malgun gothic', 'AppleGothicNeoSD', 'Apple SD 산돌고딕 Neo', 'Microsoft NeoGothic', 'Droid sans', sans-serif;color:#fff}
.memberwrap.n_sns_join_gate{max-width:720px;margin:0 auto;width:100%;box-sizing:border-box;padding:30px}
.memberwrap.n_sns_join_gate .ico_sprite,
.memberwrap.n_sns_join_gate .btn_gate:after,
.memberwrap.n_sns_join_gate .btn_gate > i{background-image:url(/images/member/page/sprite_join.png);background-repeat:no-repeat;background-size:320px auto}
.mb_header{position:relative;}
.memberwrap.n_sns_join_gate h1{text-indent:-9999em;width:88px;height:28px;background-position:-95px -30px}
.memberwrap.n_sns_join_gate .mb_header .btn_close{position: absolute;width:22px;height:22px;top:0;right:0;background-position:-145px 0;text-indent: -9999em}
.memberwrap.n_sns_join_gate .txt_main{font-size:28px;line-height:36px;letter-spacing: -1px;padding:30px 0 44px;}
.mb_container .box_box .btn_gate{display:block;height:55px;border-radius: 2px 2px;border:1px solid #3e7fcf;margin-top:8px;line-height:57px;position:relative;background-color:#fff;text-align:center}
.mb_container .box_box .btn_gate i{display:inline-block;width:24px;height:24px;vertical-align:-15px;}
.mb_container .box_box .btn_gate i + span{display:inline-block;height:24px;line-height:24px;margin-left:8px;color:#000;font-size:16px;}
.mb_container .box_box .btn_gate.btn_enuri{margin-top:0;background-color:#1789d2}
.mb_container .box_box .btn_gate.btn_enuri span{color:#fff}
.mb_container .box_box .btn_gate i.ico_enuri{width:30px;height:30px;background-position:-60px -30px;vertical-align:-12px}
.mb_container .box_box .btn_gate i.ico_enuri + span{height:30px;line-height:29px;}
.mb_container .box_box .btn_gate i.ico_naver{background-position:-201px 0}
.mb_container .box_box .btn_gate i.ico_kakao{background-position:-175px 0}
.mb_container .box_box .btn_gate i.ico_apple{background-position:-227px 0}
.mb_container .div_line{display:block;margin-top:25px;height:15px;border-top:1px solid #0a4ea9;position:relative;text-align:center}
.mb_container .div_line span.txt_line{display:inline-block;height:17px;line-height:17px;background:#0b5ac3;position: relative;top:-9px;padding:0 9px;color:#052653;font-size:12px}

@media (max-width:360px) {
    .memberwrap.n_sns_join_gate .txt_main{font-size:26px;line-height:32px;}
	.mb_container .box_box .btn_gate i + span{font-size:14px}
}

/* 190408 SNS 회원가입 리뉴얼 */
body.n_sns_join{background-color:#fff}
.memberwrap.n_sns_join{background:#fff;}
.memberwrap.n_sns_join .txt_basic{text-align:center;padding:25px 0}
.memberwrap.n_sns_join .ico_star{color:#ff0000}
.memberwrap.n_sns_join .memberfield .txt_red{font-size:10px}
.memberwrap.n_sns_join .memberfield .in_chk{vertical-align: -4px}
.memberwrap.n_sns_join .agree_box{padding:10px 12px 5px;border: 1px solid #d9d9d9;background: #ffffff;position: relative;margin: -1px;min-height: 29px}
.memberwrap.n_sns_join .box_row{padding:0 0 10px 0;position: relative;line-height:18px}
.memberwrap.n_sns_join .btn_all_view{float:right;font-size:10px;color:#343434;}
.memberwrap.n_sns_join .txt_required{color:#1689d3}
.memberwrap.n_sns_join .txt_choice{color:#b4b4b4}
.memberwrap.n_sns_join .all_agree{border-bottom:1px solid #d9d9d9;margin-bottom:10px}
.memberwrap.n_sns_join .all_agree label{font-weight: bold;color:#343434}
.memberwrap.n_sns_join .box_row .btn_flip_on,
.memberwrap.n_sns_join .box_row .btn_flip_off{position:absolute;right:0;top:0;color:#343434;font-size:10px;line-height:20px}
.memberwrap.n_sns_join .btn_flip_on,
.memberwrap.n_sns_join .unflip .btn_flip_off,
.memberwrap.n_sns_join .unflip .inner_cnt{display:none}
.memberwrap.n_sns_join .unflip .btn_flip_on{display:block}
.memberwrap.n_sns_join .txt_arr{display:inline-block;}
.memberwrap.n_sns_join .btn_flip_on .txt_arr{-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);}
.memberwrap.n_sns_join .btn_flip_off .txt_arr{-webkit-transform:rotate(-90deg);-ms-transform:rotate(-90deg);transform:rotate(-90deg);}
.memberwrap.n_sns_join .box_row .inner_cnt{padding:10px 0}
.memberwrap.n_sns_join .box_row .agree_ad_info{border:1px solid #d9d9d9;background-color:#f5f5f5;font-size:10px;padding:7px 15px;letter-spacing: -.5px;margin-top:4px}
.memberwrap.n_sns_join .box_row .agree_ad_info dt{margin-bottom:4px}
.memberwrap.n_sns_join .box_row .agree_ad_info dd{line-height:14px}
.memberwrap.n_sns_join .box_row .warning{font-size:10px}
.memberwrap.n_sns_join .agree_notice .inner_cnt{padding-bottom:0}
.memberwrap.n_sns_join .agree_notice .inner_cnt input{margin-left:25px}
.memberwrap.n_sns_join .btn_join{font-weight:normal;border-radius: 2px 2px;-webkit-box-shadow: none;box-shadow: none;font-size:18px;}
