@charset "utf-8";
/* 폰트 */

/* Spoqa Han Sans CDN */
/* @font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 100;
    src: local('Spoqa Han Sans Thin'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.eot),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.eot?#iefix) format('embedded-opentype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.woff2) format('woff2'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.woff) format('woff'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.ttf) format('truetype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.otf) format('opentype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansThin.svg) format('svg');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 300;
    src: local('Spoqa Han Sans Light'),    
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansLight.woff2) format('woff2'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansLight.woff) format('woff'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansLight.ttf) format('truetype');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 400;
    src: local('Spoqa Han Sans Regular'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.eot),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.eot?#iefix) format('embedded-opentype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.woff2) format('woff2'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.woff) format('woff'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.ttf) format('truetype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.otf) format('opentype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansRegular.svg) format('svg');
}

@font-face {
    font-family: 'SpoqaHanSans';
    font-style: normal;
    font-weight: 700;
    src: local('Spoqa Han Sans Bold'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.eot),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.eot?#iefix) format('embedded-opentype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.woff2) format('woff2'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.woff) format('woff'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.ttf) format('truetype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.otf) format('opentype'),
    url(//img.enuri.info/images/fonts/spoqahansans/SpoqaHanSansBold.svg) format('svg');
} */

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/* default.css */
body {margin:0; padding:0;}
/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
/* common */
*,body{font-family:'Noto Sans KR','Helvetica Neue','맑은 고딕','Malgun Gothic','AppleGothicNeoSD','Apple SD Gothic Neo','Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Droid sans', "돋움", verdana, sans-serif;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}

.hide{display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */
/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active, a:hover {text-decoration:none}

/* form */
textarea {font-family:"Noto Sans KR","맑은 고딕", Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666;outline:none}
select{font-family:"Noto Sans KR","맑은 고딕", Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:"Noto Sans KR","맑은 고딕", Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
button{cursor:pointer;}
img {vertical-align:top;}