@charset "utf-8";

/* default.css */
html, body	 {width:100%;height:100%;}
body {width:100%;height:100%;background:#fff; margin:0; padding:0;}
/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
/* common */
body{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666; font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}

.hide{display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */
/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 
/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active, a:hover {text-decoration:none}
/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
button{cursor:pointer;}



/* 20151221 라면백 3차 설치 프로모션 */
.event_wrap {position:relative; width:100%;}
.event_wrap h3, .event_wrap .txt, .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap a {outline:none;}
.event_wrap .section {overflow:hidden; }
.event_wrap .contents {position:relative; margin:0 auto; width:941px; height:100%; }

.visual {height:1113px; background:url(http://img.enuri.info/images/event/2015/ramenback3/install_visual_bg1.jpg)  repeat-x 0 0;}
.visual .inner {height:100%; background:url(http://img.enuri.info/images/event/2015/ramenback3/install_visual_bg2.jpg)  no-repeat 50% 0;}
.visual .contents {background:url(http://img.enuri.info/images/event/2015/ramenback3/install_visual.png)  no-repeat 0 0;}
.visual .contents h2 {text-indent:-9999em;font-size:0;line-height:0;overflow:hidden;}

.visual .down  {position:absolute; top:455px; left:273px; width:392px; height:130px;}
.visual .down .number {height:42px; overflow:hidden; }
.visual .down .number dt {text-indent:-9999em;font-size:0;line-height:0;overflow:hidden;}
.visual .down .number input {float:left; margin-right:10px; width:120px; height:42px; line-height:43px; font-family:malgun gothic; font-size:18px; color:#fff; text-align:center; border:0; background:0;}
.visual .down .btn.appdown {display:block; width:380px; height:46px; margin-top:10px;}

.visual .down .agree {width:100%; height:20px; margin-top:10px; overflow:hidden;}
.visual .down .agree * {vertical-align:middle;}
.visual .down .agree input {margin-right:4px; }
.visual .down .agree label {width:152px; height:100%; display:inline-block; text-indent:-9999em; cursor:pointer}
.visual .down .agree .btn_detail {width:73px; height:100%; display:inline-block;  text-indent:-9999em; }

.guide {height:614px; background-color:#fff; }
.guide .contents {background:url(http://img.enuri.info/images/event/2015/ramenback3/install_guide.jpg) no-repeat 0 0;}

.review {height:1020px; background-color:#fbf2e6;}
.review .contents {width:941px; background:url(http://img.enuri.info/images/event/2015/ramenback3/install_review.jpg) no-repeat 0 0;}
.review .btn_go {position:absolute; bottom:410px; display:inline-block; width:459px; height:78px; } 
.review .btn_go.wi {left:1px; }
.review .btn_go.request {left:481px; }

.slide {height:1017px; background-color:#f8f8f8;}
.slide .contents {width:612px; height:875px; margin-top:56px; background:url(http://img.enuri.info/images/event/2015/ramenback3/bg_slide.png) no-repeat 50% 0;}
	/* 플리킹 */
	.movecontent  .owl-pagination{position:absolute; bottom:-32px; *bottom:-15px; left:166px; display:inline-block; width:116px; text-align:center }
	@media \0screen {.movecontent  .owl-pagination{bottom:-24px;}}
	.movecontent .howto_one {padding-top:160px; width:430px; height:574px; margin:0 auto;}
	.movecontent .howto_one .owl-controls .owl-pagination{display:block; }
	.movecontent .howto_one .owl-controls .owl-pagination span{opacity:1; width:13px; height:13px; display:block; float:left; background:url(http://img.enuri.info/images/event/2015/ramenback3/dot.png) no-repeat left top; }
	.movecontent .howto_one .owl-controls .active span{background:url(http://img.enuri.info/images/event/2015/ramenback3/dot_on.png) no-repeat left top; }
	.movecontent .howto_one .item{z-index:10000; height:574px; }
	.movecontent .howto_one .item img {width:430px; height:574px; *margin-left:-17px}
	.movecontent .owl-buttons > div{position:absolute;top:237px; z-index:10; display:block !important; width:57px !important; height:105px !important; background:url(http://img.enuri.info/images/event/2015/ramenback/arrow.png) no-repeat; }
	.movecontent .owl-prev{left:-84px !important; background-position:left top !important;}
	.movecontent .owl-next{right:-84px !important; background-position:right top !important;}
	.owl-theme .owl-controls .owl-buttons div{font-size: 0 !important; text-indent:-9999em}
	.movecontent .scrap {position:absolute; bottom:20px; width:80px; height:80px; }
	.movecontent .scrap.facebook {left:220px; }
	.movecontent .scrap.kakao {left:314px; }

.caution {width:100%; height:257px; background:#665c53;}
.caution .contents h4 {width:107px; height:20px; display:inline-block; margin:56px 0 0 1px; text-indent:-9999em; font-size:0; background:url(http://img.enuri.info/images/event/2015/ramenback3/install_tit_caution.gif) no-repeat 0 0; }
.caution .contents ul {margin:23px 0 0 2px}
.caution .contents ul li {padding:0 0 10px 15px; font-family:Malgun Gothic; font-size:18px; color:#b9b0a7;  line-height:20px; letter-spacing:-0.08em;  background:url(http://img.enuri.info/images/event/2015/ramenback3/bul_circle_brown.gif) no-repeat 0 10px;}


/* 레이어 */
.layer {position:relative; overflow:hidden; display:none;}
.layer.on {display:block;}
.layer h3, .layer .txt, .layer .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.layer a {outline:none;}
.layer img {vertical-align:top; margin:0; padding:0;}

.popInfo {width:442px; /*height:612px;*/  border:1px solid #b5b5b5; border-top:none; background:#fff;}
.popInfo dl {font-family:dotum; font-size:12px; color:#767676; }
.popInfo dt {height:28px; padding-left:15px; font-weight:bold; line-height:28px;  border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5;background-color:#dcdcdc;}
.popInfo dd {padding:18px 15px; line-height: 16px; letter-spacing:-0.05em;}
.popInfo dd ol li, .popInfo dd ul {margin-top:16px;}
.popInfo a.close {position:absolute; top:0; right:0; width:30px; height:30px; text-indent:-9999em; z-index:10; background:url(http://img.enuri.info/images/event/2015/ramenback/popup_close.gif) no-repeat 0 0; }

.pop_sms {width:271px; height:165px; z-index:100; background:url(http://img.enuri.info/images/event/2015/ramenback2/pop_sms.png) no-repeat 0 0; }
.pop_sms .btn.sms {position:absolute; right:16px; top:16px; width:22px; height:22px;}
.pop_sms p { padding:0 10px; font-family:Malgun Gothic; font-size:15px; font-weight:bold; color:#787878; letter-spacing:-0.05em; line-height:20px;  text-align:center;}
.pop_sms p.line1 {padding-top:70px; padding-bottom:10px;}
.pop_sms p strong {color:#343434;}

.apply {width:398px; height:360px; background: url(http://img.enuri.info/images/event/2015/ramenback3/bg_lay_apply.png) 0 0 no-repeat;}
.apply dt {padding-top:32px; text-align:center;  font-size:26px; color:#343434; line-height:1.1; }
.apply dd {padding:79px 0 0 56px; }
.apply dd strong {width:73px; display:inline-block;  font-weight:normal;}
.apply dd input[type="text"] {height:25px; font-family:Malgun Gothic; font-size:14px; line-height:22px; padding:0 10px; margin-left:93px; color:#999999; background:0; border:0;}
.apply dd .agree input[type="checkbox"] {margin-right:5px; vertical-align:-3px}
.apply dd .agree {margin-top:30px; line-height:1.1; font-family:Malgun Gothic;  font-size:11px; color:#787878; }
.apply dd .agree label {letter-spacing:-0.08em; cursor:pointer; }
.apply dd p strong {height:28px}
.apply a.btn {position:absolute;}
.apply a.btn_detail  {bottom:145px;  right:56px; width:60px;height:21px }
.apply a.btn_close {bottom:25px;  left:119px; width:160px; height:46px; }
.apply a.btn_closex {top:17px; right:16px; width:22px; height:22px; }
.apply .model {margin:9px 0 0 94px; *margin:7px 0 0 94px;}
.apply .model .select_box {width:190px;}
.select_box {position: relative;height: 23px; *height: 21px; background: url(http://img.enuri.info/images/event/2015/ramenback3/bul_select_arrow.gif) #fff 100% 0 no-repeat;}
.select_box label {position: absolute;  top:0; left:54px; width:70px; text-align:center; font-family:Malgun Gothic; font-size:14px; color: #999;}
.select_box select.selectbar {width:100%; height: 23px; min-height: 23px; line-height:23px; opacity: 0; filter: alpha(opacity=0);padding:0;	 cursor:pointer}
.select_box .select_box_sel {width:100%; height: 23px; min-height: 23px; line-height:23px; opacity: 0; filter: alpha(opacity=0);	}


/* ------------------------------------------------ 개발 ------------------------------------------------  */

#divScreen {display:none;position:fixed; top:0; left:0;width:0%; height:0%; background: url(http://img.enuri.info/images/event/2015/prize/layer_back.png); z-index:10000;}
#divScreen.on{width:100%; height:100%;display:block;}

.pagingMain { margin:0 auto;height:40px;font-size:24px;}
.pagingMain span {
    padding-top:5px;
    padding-right:2px;
    padding-left:2px;
    width:17px;
    height:17px;
    border:1px solid #D6E3E9;
    font-family: Arial;
    margin-right:5px;
    text-align:center;
    cursor:pointer;
    font-size:12px;
    color:#006699;
    text-decoration:none;
    display:inline-block
}
.pagingMain span:hover {
    border:1px solid #ff0000;
    color:#FF6600;
}

.pagingMain span.on {
    text-decoration:none;
    color:#FF6600;
    border:2px solid #ff0000;
    color:#FF6600;
}


/* display 관련. 2015.05.20 추가. */
.displayblock {display:block;visibility:visible;}
.displaynone {display:none;visibility:hidden;}

/*150520 푸터*/
.bnr_area{margin-top:8px;background:url(http://img.enuri.info/images/main/bg_footer_bnr.gif) 0 0; text-align:center; height:91px; }
.bnr_area ul{margin:0 auto; width:1000px; background:url(http://img.enuri.info/images/main/footer_bnr.gif) 0 0 no-repeat; height:91px;}
.bnr_area ul li a{width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer{width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu{text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li{margin:auto; display:inline; margin:0 17px;}
.footer_menu li a{color:#555555; text-decoration:none;}

.footer .adr{padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span{padding-right:12px; }
.footer .adr img{vertical-align:middle}

.footer .award_list{background:url(http://img.enuri.info/images/main/footer_bnr02.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright{padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong{display:block; font-weight:normal; color:#5390be; }

#m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}

