@charset "utf-8";

/* HTML 5 Reset */
nav, section, article, header, aside, footer, figure, dialog {display:block}
time, progress, mark, output {display:inline}

/* common */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button{margin:0;padding:0;-webkit-text-size-adjust:none}
body,input,textarea,select,table,button{font-size:14px;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;}
body{position:relative;background-color:#fff;color:#000;word-wrap:break-word;word-break:break-all}
img,fieldset{border:0}
dl,ul,ol,li {list-style:none;}
a{color:#000;text-decoration:none;cursor:pointer}
em,address{font-style:normal}
hr,caption {display:none;}
.hide {display:none}  /* none */
.blind {display:block;position:absolute;overflow:hidden;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px} /* hide */
table{border-collapse:collapse;}

nav, section, article, header, aside, footer, figure, dialog {display:block}

/*select, input[type="text"], input[type="password"], input[type="number"], input[type="radio"]{-webkit-appearance:none;-moz-appearance:none;border-radius:0;}*/
button::-moz-focus-inner {border:0;padding:0;}
select, textarea {outline: medium none; }
button { outline: medium none;cursor: pointer;}

html{-webkit-text-size-adjust:none; } 

input {outline-style:none}