@charset "utf-8";

@import url("default.css");
html {overflow-x:hidden;height:100%;}
body {height:100%; }

#wrap{position:relative;width:100%; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/body_bg.gif) repeat-x 0 0; background-size:15px 2021px;}
.content{width:320px; margin:0 auto; position:relative; }
.visual{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/img01.jpg) repeat-x 0 0; background-size:320px 300px; text-indent:-9999em; height:300px; }
.con01{position:relative; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/img02.jpg) repeat-x 0 0; background-size:320px 575px; text-indent:-9999em; height:575px; }
.con01 .depart_go{position:absolute; left:44px; bottom:0; width:232px; height:29px;}

.con02{position:relative; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/img03.jpg) repeat-x 0 0; background-size:320px 302px; text-indent:-9999em; height:302px; }
.con02 .all_view{position:absolute; right:39px; bottom:64px; width:42px; height:50px;}
.con02 .app_update{position:absolute; right:39px; bottom:13px; width:110px; height:17px;}

.con03{position:relative; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/img04.jpg) repeat-x 0 0; background-size:320px 587px; height:587px; }
.con04{position:relative; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/img05.jpg) repeat-x 0 0; background-size:320px 255px; height:255px; text-indent:-9999em; }
.con04 .event_go{position:absolute; left:44px; top:0; width:232px; height:29px; }
.con04 .event_go.disable{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/btn_disable.gif) repeat-x 0 0; background-size:232px 29px; cursor:default; }

.con04 .hint{position:absolute; left:45px; top:39px; width:112px; height:29px;  }
.con04 .hint.disable{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/btn_disable_hint.gif) repeat-x 0 0; background-size:112px 29px; cursor:default; }
.con04 .winner{position:absolute; left:162px; top:39px; width:112px; height:29px; }

.go_top{width:39px; height:39px; position:absolute; bottom:10px; right:10px; z-index:10; }
.go_top a{background:url(http://imgenuri.enuri.gscdn.com/images/m_deal/common.png) -73px -211px no-repeat; background-size:125px 250px; display:block; width:39px; height:39px; text-indent:-9999em; }

/* footer */
.footer{width:320px; margin:0 auto; }
footer{background:#d3d4d5;color:#77787b; width:100%; }
footer{content:"";display:block;clear:both;}
footer p {font-size:11px; color:#707078;}
footer .alert {padding:8px 12px;border-bottom:1px dashed #c1c1c2;}
footer .cop {padding:8px 12px;}
footer .info {padding:0 12px 8px 12px;}
footer .info span{padding-left:10px;}
footer .footNav1 {background: #dddee1; border-top: 1px solid #c8c9c9; border-bottom: 1px solid #c8c9c9;}
footer .footNav1 li {float: left; width: 25%;}
footer .footNav1 li a {
position: relative;
display: block;
height: 32px;
padding: 7px 0 0;
text-align: center;
font-size: 13px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
}

/* 퀴즈 */
.smallThum{position:relative; width:100%; padding-top:15px; height:84px; z-index:10}
.smallThum a{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/btn_thum.png) repeat-x 0 0; background-size:36px 74px; width:36px; height:36px; }
.smallThum a.prev{position:absolute; left:27px; top:38px; background-position:0 0; text-indent:-9999em;}
.smallThum a.next{position:absolute; right:27px; top:38px; background-position:0 -37px; text-indent:-9999em;}
.smallThum .smThum_list{width:186px; margin:0 auto; overflow:hidden; }
.smallThum .smThum_list:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.smallThum .smThum_list div{float:left; width:56px; height:72px; position:relative; margin:0 3px}
.smallThum .smThum_list div img{width:56px; height:72px; }
.smallThum .smThum_list div .ico{position:absolute; left:0; bottom:0px; width:56px; height:56px;}
.smallThum .select{border:3px solid #9a1c03; width:53px; height:53px;position:absolute; left:131px; top:30px; z-index:10}

.bigThum{width:100%;}
.bigThum .prod{width:211px; margin:0 auto;  }
.bigThum .prod img{width:211px; height:237px;}
.bigThum .prod span{display:block; width:100%; text-align:right; color:#0073be; font-size:16px;font-weight:bold; padding:1px 0 7px 0;}
.bigThum .question{width:264px; margin:0 auto; }
.bigThum .question .tit{padding-bottom:6px;}
.bigThum .question .tit img{width:264px; height:96px}
.bigThum .question ul{padding-left:60px; }
.bigThum .question ul li{color:#6a4f18; font-size:16px; line-height:24px; }
.bigThum .question ul li img{width:17px; height:17px; vertical-align:middle; margin:-3px 3px 0 0}
.bigThum .question .msg{text-align:center; color:#6a4f18; font-size:16px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/img_msg.gif) center top no-repeat ; background-size:50px 43px; padding-top:50px;}

/* 경품 모두보기 */
.allview{position: absolute; left: 50%; top:50px; margin: 0 0 auto -150px;position:absolute; width:301px; z-index:1000;}
.allview img{width:100%; float:left; }
.layer_back{width: 100%; height: 2154px; position: absolute; left: 0; top: 0; background: url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100;}
.layer_back .close{position:absolute; width:25px; height:25px; right:0; top:0; text-indent:-9999em; }
.layer_back .go_event{position:absolute; width:233px; height:30px;left:35px; bottom:50px; text-indent:-9999em; }

/* 당첨자발표 */
.win_layer{position: absolute; left: 50%; top:50px; margin: 0 0 auto -150px;position:absolute; width:300px; z-index:1000; border:1px solid #c3a95c; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/bg_winner.gif) 0 0; background-size:3px 3px; }
.win_layer .win_info{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/winner_img01.jpg) 0 0 no-repeat; background-size:300px 447px; width:100%; height:447px; }
.win_layer .win_info h2, .win_layer .win_info p{text-indent:-9999em; font-size:0; }

.gift_area{width:250px; margin:0 auto; color:#898989; text-align:center; padding-top:124px;}
.gift_area img{width:171px; height:202px;}
.gift_area .win{padding-top:8px; color:#b0b0b0; font-size:13px; font-weight:bold; line-height:16px;}
.gift_area .win strong{color:#0073be; font-size:15px;}
.gift_area .win span.how{display:block; font-size:11px; color:#898989; padding-top:5px; font-weight:normal}

.win_list h3{display:none; }
.win_list{width:280px; margin:0 auto; padding-bottom:20px;}
.win_list table{width:280px;}
.win_list th, .win_list td{border:1px solid #dcd1ab; }
.win_list th{background:#ededed; color:#9d9d9d; font-weight:bold; padding:5px 0; font-size:8px; }
.win_list td{color:#898989; background:#ffffff; padding:4px 3px; font-size:10px;}
.win_list td.date{color:#981b02; text-align:center; font-size:8px;}
.win_list td.a_c{text-align:center; }

.win_mnt{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/winner_img02.jpg) 0 0 no-repeat; background-size:300px 199px; width:100%; height:199px; text-indent:-9999em; position:relative; }
.win_mnt .back{position:absolute; left:35px; bottom:20px; width:232px; height:30px; }


/*레이어*/
.depart_layer_bg{width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: url(http://imgenuri.enuri.gscdn.com/images/mobilenew/images/layer_back.png); z-index:100;}
.depart_big_bnr{width:300px; height:360px; margin: -180px 0px auto -150px; position:absolute; left:50%; top:50%; background:#ffffff; position:relative; }
.depart_big_bnr a.depart_go_event{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/bigbanner.png) 0 0 no-repeat; background-size:300px 360px; width:300px; height:335px; display:block; text-indent:-9999em;}
.depart_big_bnr a.btn_today{position:absolute; left:7px; bottom:5px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/btn_close.gif) right 1px no-repeat; background-size:12px 12px; padding-right:15px; color:#7a5914; font-size:12px;}
.depart_big_bnr a.btn_close{position:absolute; right:7px; bottom:5px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/btn_close.gif) right 1px no-repeat; background-size:12px 12px; padding-right:16px; color:#7a5914; font-size:12px;}

.win_close{z-index:100; position: fixed; width: 25px; height: 25px; right: 0; top: 0; text-indent: -9999em; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/mobile_depart/btn_win_close.gif) 0 0 no-repeat; background-size:25px; width:25px; height:25px; }