@charset "utf-8";

/************************************************************************
 * 파일명 :common_m.css
 * 설명 :에누리 해외직구 (Mobile)
 * 작성자  :신왕섭
 * 작성일 :2019.09.04
************************************************************************/

*{margin:0;padding:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0;width:auto;font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Apple SD 산돌고딕 Neo','Microsoft NeoGothic','Helvetica','AppleGothic','Droid sans','Sans-serif','Dotum','Verdana','Helvetica',sans-serif}
fieldset,img {border:0 none}
img{max-width:100%}
dl,ul,ol,menu,li, dir {list-style:none; margin:0}
blockquote, q {quotes:none}
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer;outline:none}
table {border-collapse:collapse;border-spacing:0}
body {-webkit-text-size-adjust:none}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'] , input[type="tel"] , input[type="number"]{-webkit-appearance:none;border-radius:0;border:0;outline:none;background:transparent}
input[readonly="readonly"] {background-color:#f6f6f6}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
body {background:transparent}
body,th,td,input,select,textarea,button {font-size:14px;line-height:1; font-family: AppleSDGothicNeo, Malgun Gothic, Helvetica, serif , Droid sans, sans-serif ; color:#222; letter-spacing:-0.5px} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover, a:link {text-decoration:none}
address,caption,cite,code,dfn,em,var, i {font-style:inherit;font-weight:inherit}
li,p,dt,dd,div,span{word-break:break-all}
b, strong, em{font-weight:normal}
pre{white-space:pre-wrap}

/* Contents */
#wrap{position:relative;width:100%;min-width:320px;overflow:hidden}
#wrap.scroll_lock{position:fixed;left:0;right:0;top:0;height:100%;overflow:hidden;z-index:0}
.comm_sprite{background-image:url(http://img.enuri.info/images/global/m_common_sprite.png);background-size:180px}
.dimmed{position:fixed;top:0;left:0;width:100%;height:100%;z-index:510;background:rgba(0,0,0,.5)}
.dimmed .layer_inner{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:#fff;border:1px solid #dbdbdb;box-shadow:0px 20px 20px rgba(0,0,0,.2)}
.dimmed .layer_inner .btn_close{width:22px;height:22px;background-position:-280px -40px;text-indent:-9999em}
.dimmed .btn_bg_close{position:absolute;top:0;left:0;width:100%;height:100%;z-index:-1}
.scr_wrap{overflow-x:auto;overflow-y:hidden}
.scr_wrap .scr_item{display:flex;display:-webkit-inline-box;display:-ms-inline-flexbox}

/* 헤더 */
#header{position:relative}

/* 메인헤더 */
#header{height:100px}
#header .header_inner{height:100px}
#header .header_wrap{height:57px;position:relative;box-sizing:border-box;padding:10px 0; border-bottom:1px solid #eee;}
#header .header_wrap h1{position:absolute;top:18px;left:16px;padding-left:36px}
#header .header_wrap h1 a.btn_enuri_home{width:28px;height:28px;background-position:0 -185px;text-indent:-9999em;position:absolute;top:-4px;left:0;z-index: 1}
/* #header .header_wrap h1 a.btn_enuri_home:after{content:"";position:absolute;top:0;right:-13px;top:3px;height:22px;border-right:1px solid #e5e5e5} */
#header .header_wrap h1 a.btn_home{display:block;width:65px;height:21px;background-position:-21px -30px;text-indent:-9999em}
#header .header_wrap h1 .discount_per_store {position:relative; padding-left:15px; margin-left:10px; font-size: 14px; font-weight: bold; color:#d9117c;}
#header .header_wrap h1 .discount_per_store em {font-family: 'Roboto'; font-size: 15px;}
#header .header_wrap h1 .discount_per_store:before {content:""; display: block; width:1px; height: 16px; background-color: #efefef; position:absolute; top:50%; left:0; margin-top:-8px;}

#header .header_wrap .btn_myenuri{position:absolute;top:17px;right:18px}
.btn_myenuri .ico{display:block;width:21px;height:21px;background-position:-111px 0;text-indent:-9999em}
#header .header_wrap .btn_alarm {position:absolute;top:14px;right:16px}
.btn_alarm .ico{display:block;width:28px;height:28px;background-position:0 -248px;text-indent:-9999em}


#header.fixed_top .gnb_wrap{position:fixed;top:0;left:0;width:100%;z-index:500;box-shadow:0 2px 10px rgba(0,0,0,.05)}
/* #wrap #header.hide_top .gnb_wrap{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:all .1s linear;-o-transition:all .1s linear;transition:all .1s linear} */
/* .scr_down #header.fixed_top .gnb_wrap{-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);box-shadow:none;} */
/* .scr_up #header.fixed_top .gnb_wrap{-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);} */

#header.fixed_top .nav_global{background-color:#d11479}
#header.fixed_top .nav_global .item_nav a{color:#e88abc}
#header.fixed_top .nav_global .item_nav.on a{color:#fff;border-color:#f1b9d7}

/* VIP용 헤더 */
#header.header_vip{height:45px;position: relative;}
#header.header_vip .header_wrap{height:45px;padding:10px 0;background-color:#fff;border-bottom:1px solid #eeeeee}
#header.header_vip .btn_hd_back{width:24px;height:24px;position: absolute;left:16px;top:10px;}
#header.header_vip .btn_hd_back .ico{display:block;width:24px;height:24px;background-position:-140px -85px;text-indent:-9999em}
#header.header_vip h1{margin:0 16px 0 56px;line-height:24px;font-size:16px;font-weight:bold;padding:0;top:0;left:0;position:static;height:25px}
#header.header_vip.fixed_top .header_wrap{position: fixed;top:0;left:0;left:0;right:0;z-index: 600}

/* GNB */
#header .gnb_wrap{height:45px;position:relative;background-color:#fff;}
#header .nav_global{position:relative;padding:0 5px;color:#222222;letter-spacing:-.6px;height:45px}
#header .nav_global .item_nav{width:auto;height:37px;text-align:center;padding:0 5px}
#header .nav_global .item_nav a{padding:4px 5px 0 5px;display:inline-block;position:relative;height:37px;line-height:37px;border-bottom:4px solid transparent;font-size:15px;letter-spacing:-1px;font-weight:bold}
#header .nav_global .item_nav.on a{color:#d9117c;border-color:#d9117c}
@media (min-width:640px) {
	#header .nav_global .swiper-wrapper{display:flex;justify-content:space-around}
}

/* 푸터 */
/* (삭제)기존 푸터  */
footer.footer p{color:#999999}
footer.footer{background:#f9f9f9;padding:10px;color:#999999;font-size:12px;line-height: 16px;letter-spacing: -.12px;box-sizing: border-box}
footer.footer p + p{margin-top:10px;}
footer.footer .txt_tit,
footer.footer .txt_company_name{display:block;font-size:12px;color:#666;line-height:17px;margin-bottom:2px;letter-spacing: -.6px}
footer.footer .footer_menu{background:#fff;border:1px solid #e7edf7;width:100%;box-sizing: border-box;/* display:flex;flex-direction:row;justify-content : space-around; */padding:8px 0;font-size:11px;text-align:center;letter-spacing:-.5px}
footer.footer .footer_menu a{display:inline-block;color:#999;height:12px;line-height:12px;padding:0 10px;border-left:1px solid #ddd}
footer.footer .footer_menu a:first-child{border:0}
footer.footer .footer_menu a:nth-child(2){font-weight:bold;color:#555}
/* // 여기까지 */

.footer .box_quick{position:fixed;bottom:60px;right:16px;-webkit-transition:.3s all ease-in-out;-o-transition:.3s all ease-in-out;transition:.3s all ease-in-out;-webkit-transform:translateY(40px);-ms-transform:translateY(40px);transform:translateY(40px);opacity:0;z-index: 100}
.footer .box_quick ul li{margin-top:2px;width:44px;height:44px;}
.footer .btn_top--quick{width:44px;height:44px;background-position:-46px -85px;display:block;text-indent:-9999em}
.scr_down .footer .box_quick.scr_mode{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.scr_up .footer .box_quick.scr_mode{-webkit-transition-delay:.5s;-o-transition-delay:.5s;transition-delay:.5s}

/* 200609 [MW] 푸터 개선건 */
footer.footer--com{padding:16px;position:relative;background-color:#f6f6f6;font-size:14px;letter-spacing:-.5px;text-align:center;color:#222}
footer.footer--com .footer__info{padding:12px 0 0}
footer.footer--com .footer__tx_com{width:100%;border:0;outline:none;height:22px;line-height:22px;text-align:center;display:block;margin-bottom:12px;background:#f6f6f6;font-size:14px}
footer.footer--com .footer__tx_com .ico_farr{width:14px;height:14px;display:inline-block;vertical-align:middle;border:1px solid #ddd;border-radius:50%;margin-left:2px;position:relative}
footer.footer--com .footer__tx_com .ico_farr:after{content:"";position:absolute;width:5px;height:5px;border:1px solid #aaa;border-left:0;border-top:0;top:35%;left:50%;-webkit-transform:translate(-50%,-25%) rotate(45deg);-ms-transform:translate(-50%,-25%) rotate(45deg);transform:translate(-50%,-25%) rotate(45deg);-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center}
footer.footer--com .footer__tx_com.unfold .ico_farr:after{-webkit-transform:translate(-50%,0) rotate(-135deg);-ms-transform:translate(-50%,0) rotate(-135deg);transform:translate(-50%,0) rotate(-135deg);-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center}
footer.footer--com .footer__tx_com.unfold + .footer__info_com{display:block}
footer.footer--com .footer__info_com{display:none;max-width:320px;background-color:#efefef;line-height:20px;padding:12px 22px;position:relative;font-size:11px;margin:0 auto 16px}
footer.footer--com .footer__info_com dt{position:absolute;color:#888}
footer.footer--com .footer__info_com dd{position:relative;padding-left:85px;text-align:left;}
footer.footer--com .footer__menu a{display:inline-block;position:relative;color:#222}
footer.footer--com .footer__menu a:before{content:"";position:absolute;top:8px;bottom:8px;left:0;border-left:1px solid #dfdfdf}
footer.footer--com .footer__menu a strong{font-weight:bold}
footer.footer--com .footer__menu_top{height:30px;line-height:30px}
footer.footer--com .footer__menu_top a{line-height:30px;font-size:13px;padding:0 12px 0 13px;}
footer.footer--com .footer__menu_top a:first-child:before{display:none}
footer.footer--com .footer__menu_bot{margin-top:8px}
footer.footer--com .footer__menu_bot a{line-height:28px;font-size:12px;padding:0 8px 0 9px;color:#555}
footer.footer--com .footer__menu_bot a:first-child:before{display:none}
footer.footer--com .footer__tx_noti{display:block;font-size:11px;color:#aaa;line-height:15px;padding-bottom:12px}

/* 서브네비 */
.sub_nav{width:100%;padding:25px 0;background-color:#181818;color:#fff;letter-spacing:-.6px;text-align:center;background-position:60% 0;background-repeat:no-repeat; background-size:auto 100%}
.sub_nav h2{font-size:22px;font-weight:bold;line-height:30px;letter-spacing:-1.2px}
.sub_nav .txt_sub{display:block;line-height:18px;color:#999;font-size:13px;margin-top:4px}
.sub_nav.bg_shop_us{background-image:url(http://img.enuri.info/images/global/bg_list_us.jpg)}
.sub_nav.bg_shop_asia{background-image:url(http://img.enuri.info/images/global/bg_list_asia.jpg)}
.sub_nav.bg_shop_all{background-image:url(http://img.enuri.info/images/global/bg_list_all.jpg)}
.sub_nav.bg_srp{background-image:url(http://img.enuri.info/images/global/bg_list_srp.jpg)}
.sub_nav.bg_shop_cate{background-image:url(http://img.enuri.info/images/global/bg_list_cate.jpg)}
.sub_nav.bg_shop_event{background-image:url(http://img.enuri.info/images/global/bg_list_event.jpg)}
.sub_nav.bg_guide{background-image:url(http://img.enuri.info/images/global/bg_guide.jpg)}

/* 검색 */
.search_wrap{margin-left:139px;margin-right:56px;height:22px;padding-bottom:3px;border-bottom:1px solid #222;position:relative}
.search_wrap .btn_search{position:absolute;top:0;right:0}
.search_wrap .btn_search .comm_sprite{display:block;width:21px;height:21px;background-position:-90px 0;text-indent:-9999em}
.search_wrap input{height:21px;line-height:21px;font-size:13px;color:#888;width:calc(100% - 30px);letter-spacing:-.6px;position:relative}
.search_wrap input::-webkit-input-placeholder{color:#888}
.search_wrap input::-moz-placeholder{color:#888}
.search_wrap input:-ms-input-placeholder{color:#888}
.search_wrap input::-ms-input-placeholder{color:#888}
.search_wrap input::placeholder{color:#888}

/* 툴팁 */
.tool_tip{display:block;float:right;letter-spacing:-.5px;line-height:20px;margin-top:12px}
.tool_tip .txt_tip{color:#555555;font-size:12px;display:inline-block}
.tool_tip .lay_tool_tip{position:relative;display:inline-block;z-index:10}
.tool_tip .ico_tool_tip{display:inline-block;width:12px;height:12px;background-position:-99px -30px;text-indent:-9999em;vertical-align:-6px;cursor:pointer}
.tool_tip .layer_box{position:absolute;left:50%;top:50%;width:270px;background-color:#fff;-webkit-box-shadow:0px 20px 20px rgba(0,0,0,.2);box-shadow:0px 20px 20px rgba(0,0,0,.2);-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.tool_tip .layer_box .lay_tit{font-size:14px;height:42px;line-height:42px;color:#222;font-weight:bold;padding:0 22px;border-bottom:1px solid #dbdbdb}
.tool_tip .layer_box .lay_cnt{padding:22px}
.tool_tip .layer_box .lay_cnt ul li{line-height:16px;font-size:12px;margin-top:8px;color:#555555}
.tool_tip .layer_box .lay_cnt ul li:first-child{margin-top:0}

/* 로그인레이어 */
.com__layer{background-color:#fff;position:absolute;top:50%;left:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);letter-spacing:-1px}
.com__layer .lay_head{height:37px;text-align:center;line-height:37px;font-size:16px;color:#333;border-bottom:1px solid rgba(0,0,0,.01)}
.com__layer .lay_close{background-image:url(http://img.enuri.info/images/mobile_v2/common_sprite.png);background-repeat:no-repeat;background-size:360px;width:20px;height:20px;background-position:-292px -21px;position: absolute;top:8px;right:10px;text-indent:-9999em}
.com__layer .lay_inner{background-color:#f6f6f6;text-align:center}

.lay_login .layer_inner{padding:21px;text-align:center;letter-spacing:-.6px;width:258px}
.lay_login .layer_inner .btn_close{position:absolute;top:20px;right:20px;background-position:-132px -40px;width:20px;height:20px}
.lay_login .layer_inner .img_logo{display:block;width:182px;height:93px;margin:0 auto}
.lay_login .layer_inner .img_logo img{width:100%;height:100%}
.lay_login .layer_inner .txt_main{height:38px;line-height:19px;font-size:14px;display:block;margin-top:3px;letter-spacing:-1px}
.lay_login .layer_inner .txt_main em{font-weight:bold;color:#ed0e96}
.lay_login .layer_inner .txt_main em:before{content:"";display:block;}
.lay_login .layer_inner .btn_group{width:258px;height:92px;margin-top:8px}
.lay_login .layer_inner .btn_group button{width:124px;height:92px;border:1px solid #dbdbdb;vertical-align:top}
.lay_login .layer_inner .btn_group .ico{width:24px;height:24px;display:block;margin:16px auto 7px}
.lay_login .layer_inner .btn_group .txt_btn{line-height:16px;font-size:12px;padding-bottom:33px;display:block}
.lay_login .layer_inner .txt_noti{display:block;margin-top:6px;line-height:15px;color:#888888;font-size:11px;}
.btn_login .ico{background-position:-90px -110px}
.btn_no_login .ico{background-position:-115px -110px}
.btn_cert .ico{background-position:0px -155px}

.lay_cert .txt_cert{font-size:16px;font-weight:bold;color:#222222;letter-spacing:-1px}
.lay_cert .txt_cert em{font-weight:bold}
.lay_cert .txt_cert em:before{content:"\2018"}
.lay_cert .txt_cert em:after{content:"\2019"}
.lay_cert.lay_login .layer_inner .txt_main{margin-top:7px}
.lay_cert.lay_login .layer_inner .txt_main{font-size:13px}
.lay_cert .txt_noti{display:none}

/* SNS공유하기 */
.share_layer{width:270px;margin-left:-135px;}
.share_layer .lay_inner{padding:15px 20px 25px;}
.share_layer .lay_inner ul{margin-top:-5px;display:inline-block;overflow:hidden;width:auto;max-width:204px}
.share_layer .lay_inner ul li{float:left;width:60px;height:60px;text-indent:-9999em;margin:5px 4px 0}
.share_layer .lay_inner ul li.share_fb{background:url(http://img.enuri.info/images/mobile_v2/ico_share_fb.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner ul li.share_kakao{background:url(http://img.enuri.info/images/mobile_v2/ico_share_kakao.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner ul li.share_tw{background:url(http://img.enuri.info/images/mobile_v2/ico_share_tw.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner ul li.share_line{background:url(http://img.enuri.info/images/mobile_v2/ico_share_line.png) no-repeat 50% 50%;background-size:100% 100%}
.share_layer .lay_inner .btn_group{margin-top:20px;height:25px;overflow:hidden;position:relative;}
.btn_group .txt__share_url,
.btn_group .btn__share_copy{border:1px solid #ccc;background-color:#fff;font-size:12px;color:#333;border-radius: 2px 2px;line-height:25px;}
.share_layer .lay_inner .btn_group .txt__share_url{display:block;padding:0 10px;margin-right:53px;height:23px;overflow:hidden;white-space: nowrap;text-overflow: ellipsis;letter-spacing: 0}
.share_layer .lay_inner .btn_group .btn__share_copy{position: absolute;top:0;right:0;text-align:center;width:48px;height:25px}

/* 191107 로그인레이어 추가 */
.lay_pop_login{position:fixed;left:0;bottom:0;background-color:rgba(217,17,124,.9);color:#fff;line-height:17px;font-size:12px;z-index:100;width:100%}
.lay_pop_login .inner{text-align:center;letter-spacing:-.5px;padding:12px}
.lay_pop_login .inner .txt{display:block;}
.lay_pop_login .inner .txt > span{display:inline-block;margin-left:4px}
.lay_pop_login .inner .btn_login{padding:4px 0;width:98px;border:1px solid #f5c3de;display:inline-block;border-radius: 14px 14px;color:#fff;margin-top:6px}
.lay_pop_login .inner .btn_login:active{background:rgba(0,0,0,.15)}
.lay_pop_login .btn_close{width:30px;height:30px;position: absolute;top:10px;right:10px;text-indent:-9999em;opacity:.6}
.lay_pop_login .btn_close:before,
.lay_pop_login .btn_close:after{content:"";position: absolute;top:0;left:50%;height:30px;border-left:1px solid #fff;}
.lay_pop_login .btn_close:before{-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}
.lay_pop_login .btn_close:after{-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:50% 50%;-ms-transform-origin:50% 50%;transform-origin:50% 50%}
