@charset "utf-8";

/************************************************************************
 * 파일명 : guide.css
 * 설명 : 에누리 해외직구 - 이용쟈가이드 (PC)
 * 작성자  : 신왕섭
 * 작성일 : 2019.10.01
************************************************************************/

/* 컨텐츠 */
.container{padding-bottom:100px}

.guide_box{margin:100px auto 0;position: relative;width:1280px;letter-spacing:-1px}
.guide_tab{height:67px;overflow:hidden;}
.guide_tab li{border:1px solid #cccccc;height:65px;text-align:center;line-height:65px;background-color:#f8f8f8;color:#333;font-size:20px;float:left;position: relative;}
.guide_tab li.on{border-color:#ec097f;color:#ec097f;font-weight:500;background-color:#fff;z-index:3 !important;}
.guide_tab li.tab_01{width:419px;border-right:0;border-radius:4px 0 0 4px;position: relative;padding-right:42px;margin-right:42px;padding-right:0}
.guide_tab li.tab_01:after{content:"";position: absolute;top:-1px;right:-42px;width:42px;height:67px;background:url(http://img.enuri.info/images/global/guide_tab_deco_03.png) no-repeat 0 0;z-index: 2;}
.guide_tab li.tab_01.on:after{background:url(http://img.enuri.info/images/global/guide_tab_deco_01.png) no-repeat 100% 0}
.guide_tab li.tab_02{width:368px;padding-left:42px;margin-left:-42px;z-index:1;border-right:0}
.guide_tab li.tab_02:before{content:"";position: absolute;top:0px;left:-42px;width:42px;height:65px;background:#f8f8f8;}
.guide_tab li.tab_02.on{padding-left:0;margin-left:0}
.guide_tab li.tab_02.on:before{top:-1px;height:67px;background:url(http://img.enuri.info/images/global/guide_tab_deco_02.png) no-repeat 0 0}
.guide_tab li.tab_02:after{content:"";position: absolute;top:-1px;right:-42px;width:42px;height:67px;background:url(http://img.enuri.info/images/global/guide_tab_deco_03.png) no-repeat 0 0}
.guide_tab li.tab_02.on:after{background:url(http://img.enuri.info/images/global/guide_tab_deco_01.png) no-repeat 100% 0}
.guide_tab li.tab_03{width:405px;border-radius:0 4px 4px 0;padding-left:42px}
.guide_tab li.tab_03.on{padding-left:0;margin-left:42px}
.guide_tab li.tab_03:before{content:"";position: absolute;top:0px;left:-42px;width:42px;height:65px;background:#f8f8f8;}
.guide_tab li.tab_03.on:before{top:-1px;height:67px;background:url(http://img.enuri.info/images/global/guide_tab_deco_02.png) no-repeat 0 0}

.guide_steps{margin-top:40px;border-top:1px solid #555555;border-bottom:1px solid #555555}
.guide_steps li{height:190px;padding:40px 0;position: relative;border-top:1px solid #dbdbdb;}
.guide_steps li:first-child{border-top:0}
.guide_steps .step_01{background:url(http://img.enuri.info/images/global/guide_step_01.jpg) no-repeat 780px 50% }
.guide_steps .step_02{background:url(http://img.enuri.info/images/global/guide_step_02.jpg) no-repeat 780px 50% }
.guide_steps .step_03{background:url(http://img.enuri.info/images/global/guide_step_03.jpg) no-repeat 780px 50% }
.guide_steps .step_04{background:url(http://img.enuri.info/images/global/guide_step_04.jpg) no-repeat 780px 50% }
.guide_steps .step_05{background:url(http://img.enuri.info/images/global/guide_step_05.jpg) no-repeat 780px 50% }
.guide_steps .step_06{background:url(http://img.enuri.info/images/global/guide_step_06.jpg) no-repeat 780px 50% }

.guide_steps .step_num{width:140px;height:140px;border-radius: 50% 50%;text-align:center;font-size:18px;font-weight: 900;color:#fff;background-color:#ee218c;position: absolute;top:65px;left:50px;line-height:20px}
.guide_steps .step_num em{position: relative;top:50%;margin-top:-10px;display:block}
.guide_steps .step_info{margin-left:240px;border-left:1px solid #efefef;padding:15px 0 0 50px;height:175px}
.guide_steps .txt_tit{display:block;height:46px;line-height:46px;font-size:32px;color:#222;letter-spacing: -2px;font-weight: 500}
.guide_steps .txt_sub{display:block;line-height:22px;font-size:16px;color:#555555;margin:5px 0 20px}
.guide_steps .txt_sub em{color:#ed0e96}
.guide_steps .txt_sub em.point{display:block;margin-top:5px}
.guide_steps .btn_link{display:inline-block;height:44px;border-radius: 22px 22px;line-height:43px;background-color:#000000;width:233px;text-align:center;color:#fff;font-size:20px;}