@charset "utf-8";

/************************************************************************
 * 파일명 : guide_m.css
 * 설명 : 에누리 해외직구 - 이용가이드 (Mobile)
 * 작성자  : 신왕섭
 * 작성일 : 2019.10.01
************************************************************************/

/* 기본박스 */
.container{background-color:#eeeeee;padding-bottom:8px}

/* 컨텐츠 */
.guide_box{position: relative;text-align:center;letter-spacing:-1px}
.guide_box .guide_tit{padding:16px 0}
.guide_box .guide_tit h3{display:inline-block;font-size:18px;font-weight:bold;border-bottom:2px solid #222;height:26px;line-height:24px}
.guide_steps li{margin-top:8px;background-color:#fff;}
.guide_steps li:first-child{margin-top:0}
.guide_steps li .step_info{padding:30px 0 300px;position: relative}
.guide_steps li .step_info .txt_tit{display:inline-block;height:46px;line-height:23px;padding-left:55px;position: relative;}
.guide_steps li .step_info .txt_tit .step_num{position: absolute;top:0;left:0;width:46px;height:46px;border-radius: 50% 50%;color:#fff;background-color:#ee218c;}
.guide_steps li .step_info .txt_tit .step_num em{display:block;font-size:10px;font-weight:bold;margin-top:12px}
.guide_steps li .step_info .txt_tit .txt{display:block;position: relative;top:50%;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);text-align:left;font-size:20px;font-weight:bold;letter-spacing:-2px}
.guide_steps li .step_info .txt_sub{display:block;margin-top:10px;line-height:17px;color:#555;font-size:13px;}
.guide_steps li .step_info .txt_sub em{color:#ee218c}
.guide_steps li .step_info .btn_link{display:block;width:160px;height:32px;border-radius: 16px 16px;line-height:32px;background-color:#000000;text-align:center;color:#fff;font-size:15px;margin:12px auto 0;letter-spacing:-1.5px}
.step_01 .step_info{background:url(http://img.enuri.info/images/global/m_guide_step_01.jpg) no-repeat 50% 100%;background-size:360px auto }
.step_02 .step_info{background:url(http://img.enuri.info/images/global/m_guide_step_02.jpg) no-repeat 50% 100%;background-size:360px auto }
.step_03 .step_info{background:url(http://img.enuri.info/images/global/m_guide_step_03.jpg) no-repeat 50% 100%;background-size:360px auto }
.step_04 .step_info{background:url(http://img.enuri.info/images/global/m_guide_step_04.jpg) no-repeat 50% 100%;background-size:360px auto }
.step_05 .step_info{background:url(http://img.enuri.info/images/global/m_guide_step_05.jpg) no-repeat 50% 100%;background-size:360px auto }
.step_06 .step_info{background:url(http://img.enuri.info/images/global/m_guide_step_06.jpg) no-repeat 50% 100%;background-size:360px auto }
