@charset "utf-8";

/************************************************************************
 * 파일명 : home.css
 * 설명 : 에누리 해외직구 - 메인페이지 (PC)
 * 작성자  : 신왕섭
 * 작성일 : 2019.08.29
************************************************************************/

/* 컨텐츠 */
.container{padding-bottom:100px}

/* 메인배너 */
.main_bnr{height:400px;background-color:#f2f2f8;position:relative}
.main_bnr .swiper-slide{height:400px}
.main_bnr .swiper-button-prev,
.main_bnr .swiper-button-next{width:58px;height:58px;background-color:rgba(0,0,0,.2);position:absolute;top:50%;margin-top:-29px;z-index: 1;cursor: pointer;}
.main_bnr .swiper-button-prev{left:50%;margin-left:-640px;background-position:-320px 0}
.main_bnr .swiper-button-next{right:50%;margin-right:-640px;background-position:-380px 0}
.main_bnr .swiper-button-prev:hover,
.main_bnr .swiper-button-next:hover{background-color:rgba(0,0,0,.4)}
.main_bnr .bnr_area{width:1280px;margin:0 auto;height:400px;cursor: pointer;}
.main_bnr .txt_group{position: absolute;top:90px;left:50%;margin-left:-510px;letter-spacing:-.6px;}
.main_bnr .txt_group span{display:block;font-weight: 300;-webkit-transition:all 1s ease-out;-o-transition:all 1s ease-out;transition:all 1s ease-out;opacity:0;-webkit-transform:translateX(40px);-ms-transform:translateX(40px);transform:translateX(40px)}
.main_bnr .txt_group .txt_brand{height:26px;line-height:26px;font-size:16px;padding-left:3px;}
.main_bnr .txt_group .txt_tit{height:104px;line-height:52px;font-size:44px;font-weight: 200;margin-top:4px;letter-spacing:-2px}
.main_bnr .txt_group .txt_sub{height:30px;line-height:30px;font-size:20px;margin-top:24px;padding-left:3px}
.main_bnr .swiper-slide-active .txt_group .txt_brand{opacity:1;-webkit-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.main_bnr .swiper-slide-active .txt_group .txt_tit{opacity:1;-webkit-transition-delay:.2s;-o-transition-delay:.2s;transition-delay:.2s;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.main_bnr .swiper-slide-active .txt_group .txt_sub{opacity:1;-webkit-transition-delay:.4s;-o-transition-delay:.4s;transition-delay:.4s;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}

/* 인기스토어 */
.sec_store{padding-bottom:58px}
.sec_store .list_store{margin:0 0 0 -20px;width:1300px}
/* 가격비교 */
.container .sec_compare{margin-top:50px}
/* 실시간 판매 상품 */
.container .sec_realtime{margin-top:62px}
/* 인기상품 */
.container .sec_goods{margin-top:80px}
/* 하단 두개 묶음 */
.container .sec_bundle{overflow:hidden;margin-top:100px;height:184px;position: relative;}

/* 관세청 고시 환율 */
.sec_exchange_rate{position: absolute;top:0;left:0;width:412px}
.sec_exchange_rate .box_head{margin-top:-18px;border-color:#dbdbdb}
.sec_exchange_rate .txt_terms{font-size:16px;margin-left:4px;display:inline-block;letter-spacing:-.5px}
.sec_exchange_rate ul.list_country{padding:0 18px}
.sec_exchange_rate ul.list_country li{display:table;height:22px;margin-top:14px}
.sec_exchange_rate ul.list_country li:first-child{margin-top:0}
.sec_exchange_rate ul.list_country li > span{display:table-cell;vertical-align:middle;font-size:14px}
.sec_exchange_rate ul.list_country li .txt_name{width:222px}
.sec_exchange_rate ul.list_country li .txt_rate{width:80px;text-align:right;padding-right:10px;}
.sec_exchange_rate ul.list_country li .txt_raf{width:90px;text-align:center}

/* flag 아이콘 */
.sec_exchange_rate .ico_flag{display:inline-block;width:22px;height:22px;vertical-align:-6px}
.usd .ico_flag{background-position:0 -80px}
.eur .ico_flag{background-position:-30px -80px}
.jpy .ico_flag{background-position:-60px -80px}

.ico_fall,
.ico_rise{display:inline-block;padding-left:13px;position: relative;}
.ico_fall:before,
.ico_rise:before{content:"";background-image:url(http://img.enuri.info/images/global/common_sprite.png);position: absolute;width:9px;height:11px;top:5px;left:0;}
.ico_fall:before{background-position:-160px -60px}
.ico_rise:before{background-position:-140px -60px}
.ico_fall{color:#4482ee}
.ico_rise{color:#de254d}

/* CS */
.menu_cs{margin-left:434px}
.menu_cs ul{overflow:hidden;margin-left:-22px;width:868px;}
.menu_cs ul li{float:left;margin-left:22px;width:193px;height:182px;border:1px solid #dbdbdb;}
.menu_cs ul li > a{display:block;padding-top:26px;}
.menu_cs ul li > a .comm_sprite{display:block;width:60px;height:60px;margin: 0 auto}
.menu_cs ul li .info{display:block;margin-top:12px;text-align:center;letter-spacing: -.5px}
.menu_cs ul li .info > span{display:block}
.menu_cs ul li .info .txt_tit{line-height:20px;font-size:16px;font-weight:700;color:#222}
.menu_cs ul li .info .txt_sub{line-height:18px;font-size:13px;}

.comm_sprite.ico_myenuri{background-position:-440px 0}
.comm_sprite.ico_guidance{background-position:-500px 0}
.comm_sprite.ico_mcash{background-position:-560px 0}
.comm_sprite.ico_cs{background-position:-440px -60px}
.comm_sprite.ico_faq{background-position:-500px -60px}