@charset "utf-8";

/************************************************************************
 * 파일명 : template_m.css
 * 설명 : 에누리 해외직구 - 템플릿 (Mobile)
 * 작성자  : 신왕섭
 * 작성일 : 2019.09.04
************************************************************************/

/* 컨텐츠 */

/* 기본박스 */
.container .box_inner{margin-top:8px;background-color:#fff}
.box_inner .box_head{position:relative;padding:10px 16px;height:45px;line-height:45px;font-size:18px;color:#222;letter-spacing: -1.5px;}
.box_inner .box_head em{font-weight:bold}
.box_inner .box_head .menu_group{height:25px;line-height:25px;padding-top:10px;font-size:0}
.box_inner .box_head .menu_group button{display:inline-block;height:25px;padding:0 12px 0 22px;position:relative;color:#222222;font-size:14px;letter-spacing: -.6px}
.box_inner .box_head .menu_group button:last-of-type{padding-right:0}
.box_inner .box_head .menu_group button .icon{width:16px;height:16px;position: absolute;top:4;left:0;background-position:-46px 0}
.box_inner .box_head .menu_group button.on .icon{background-position: -30px 0}
.box_inner .box_head .menu_group button.on{color:#d11479;font-weight:bold}
.box_inner .box_cnt{position:relative;}
.box_inner .box_head .btn_filter{height:20px;position:absolute;padding:0 10px 0 22px;border:1px solid #d11479;border-radius: 10px 10px;font-size:12px;letter-spacing: -.6px;color:#d11479;right:16px;top:22px}
.box_inner .box_head .btn_filter .ico{width:16px;height:16px;position: absolute;top:1px;left:8px;background-position:-164px -32px}
.box_inner .box_head .btn_refresh{color:#d11479;padding-left:22px;position: relative;height:16px;line-height:16px;font-size:12px;position: absolute;top:24px;right:16px}
.box_inner .box_head .btn_refresh .ico{position: absolute;top:0;left:0;width:16px;height:16px;background-position:-164px -16px;-webkit-transform-origin: center center;-ms-transform-origin: center center;transform-origin: center center}
.box_inner .box_head .txt_paging{float:right;font-size:12px;color:#999;margin-top:4px}
.box_inner .box_head .txt_paging em{color:#222}

/* 카테고리 바로가기 */
.list_cate{height:95px;padding:0 12px}
.list_cate li{width:76px;text-align:center}
.list_cate li a{display:block;height:95px;text-align:center;}
.list_cate li .ico_cate{display:block;width:68px;height:68px;border-radius: 50% 50%;overflow:hidden;background-color:#f4f4f4;margin:0 auto}
.list_cate li .ico_cate img{padding:12px;-webkit-box-sizing: border-box;box-sizing: border-box;width:100%}
.list_cate li .txt_cate{display:block;height:28px;line-height:28px;letter-spacing:-1px;font-size:12px}
@media (min-width:1024px) {
    .list_cate.scr_item{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;}
}

/* 인기샵 */
.list_store{overflow:hidden;}
.list_store li{width:100%;height:118px;position:relative;border-bottom:1px solid #eeeeee;text-align:center;}
.list_store li a{display:block;margin:0 16px;position:relative;height:100%}
.list_store li .img_shop{display:block;width:120px;padding-top:25px;}
.list_store li .img_shop img{height:61px}
.list_store li .info{position: absolute;top:25px;left:137px;right:0;text-align:left}
.list_store li .info .txt_earn{display:block;font-size:14px;color:#d11479;letter-spacing:-1px;font-weight:bold}
.list_store li .info .txt_shop_nm{display:block;font-size:14px;color:#222222;line-height:20px;font-weight:bold;height:20px;margin-bottom:41px;overflow:hidden;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.list_store li .info .txt_sub{position:absolute;top:20px;left:0;color:#888888;font-size:12px;right:16px;line-height:18px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;}
.list_store li .tag{position:relative;text-align:center;display:block;}
.tag span{display:inline-block;height:16px;line-height:16px;padding:0 6px;font-size:10px;border-radius:2px 2px;overflow:hidden;color:#fff;margin-left:1px}
/* .tag span{display:inline-block;height:14px;line-height:14px;padding:0 6px;font-size:10px;border-radius:2px 2px;overflow:hidden;color:#fff;margin-left:1px} */
.tag .tag_earn_add{background-color:#f1b627}
.tag .tag_earn_x2{background-color:#db589b}
.tag .tag_coupon{background-color:#b173c3}
.list_store li .tag .tag_coupon_quantity{background-color:#fff;border:1px solid #9dacc4;color:#9dacc4;line-height:16px;border-left:0;position: relative;padding-left:7px}
.list_store li .tag .tag_coupon_quantity:before{content:"";position:absolute;top:-1px;left:0;height:18px;width:5px;background:url(http://img.enuri.info/images/global/common_sprite.png) no-repeat -150px -40px;background-size:180px}
.btn_fav_shop{width:16px;height:16px;text-indent:-9999em;background-position:-132px 0}
.btn_fav_shop.on{background-position:-132px -20px}
.list_store .btn_fav_shop{position: absolute;top:10px;left:16px}
.list_store li.no_result{line-height:116px;text-align:center;}
@media (min-width:736px) {
    .list_store{border-top:1px solid #eee}
    .list_store li{width:50%;float:left;position: relative;}
    .list_store li:nth-child(even):after{content:"";position: absolute;top:0;left:0;height:100%;border-left:1px solid #eee}
}

/* 스토어 타입2 */
.list_store_02{overflow:hidden;padding:6px 12px 35px}
.list_store_02 li{position:relative;height:170px;width:135px;border:1px solid #eeeeee;margin:0 4px}
.list_store_02 li a{display:block;}
.list_store_02 li .img_shop{display:block;width:120px;height:61px;overflow:hidden;margin:29px auto 0}
.list_store_02 li .img_shop img{width:100%;height:100%}
.list_store_02 li .info{display:block;padding:10px 5px;text-align:center}
.list_store_02 li .info .txt_shop_nm{height:18px;line-height:18px;font-size:12px;font-weight: bold;color:#222222;overflow:hidden;display:block;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;}
.list_store_02 li .info .txt_earn{display:block;margin-top:4px;line-height:19px;font-size:14px;color:#d11479;margin-bottom:2px;font-weight:bold}
.list_store_02 .btn_fav_shop{position: absolute;top:8px;left:7px}

/* 상품리스트 타입2 */
.list_goods_02{overflow:hidden;margin:0 8px}
.list_goods_02 li{position:relative;-webkit-box-sizing:border-box;box-sizing:border-box;width:50%;padding:0 8px;overflow:hidden;float:left;}
.list_goods_02 li a{display:block;position:relative;}
.list_goods_02 li .thumb{position:relative;display:block;width:100%;height:0;padding-top:100%;background-image:url(http://img.enuri.info/images/global/global_noimg.gif);background-size:contain;}
.list_goods_02 li .thumb:after{content:"";position: absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.02);z-index: 2;}
.list_goods_02 li .thumb .thumb_img{position:absolute;top:6px;left:6px;right:6px;bottom:6px;background-repeat:no-repeat;background-size:contain;background-position:50% 50%;z-index: 1;}
.list_goods_02 li .info{display:block;padding-top:9px;height:155px}
.list_goods_02 li .info > span{display:block;color:#222;font-size:13px;letter-spacing: -.5px}
.list_goods_02 li .info .txt_brand{height:18px;line-height:18px;font-weight:bold;overflow:hidden}
.list_goods_02 li .info .txt_prd_nm{height:36px;line-height:18px;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;}
.list_goods_02 li .info .txt_price{font-weight:bold;font-size:17px;height:25px;line-height:25px;}
.list_goods_02 li .info .txt_earn{font-size:12px;margin-top:5px;height:12px;line-height:12px;position:relative;color:#0073be;}
.list_goods_02 li .info .txt_sub{color:#aaaaaa}
.ico_emoney{display:inline-block;height:12px;width:12px;background-position:-111px -30px;text-indent:-9999em;vertical-align: 0px;margin-right:2px}
.list_goods_02 .btn_zzim{padding:6px;position: absolute;top:0;left:8px;z-index: 3}
.list_goods_02 .btn_zzim .ico_zzim{display:block;width:16px;height:14px;background-position:-148px 0px;text-indent:-9999em}
.list_goods_02 .btn_zzim.on .ico_zzim{background-position:-148px -20px}

@media (min-width:736px) {
    .list_goods_02 li{width:25%}
}

.sec_compare ul.list_compare,
.sec_compare ul.list_compare .swiper-slide{height:auto!important}
.list_compare li .list_inner{padding:0 16px 16px;position: relative;}
.list_compare li .thumb{position:relative;display:block;width:125px;height:125px;background-image: url(http://img.enuri.info/images/global/global_noimg.gif);background-repeat: no-repeat;background-size: 60% 60%;background-position: 50% 50%;overflow: hidden;}
.list_compare li .thumb:after{content:"";position: absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.02);z-index: 2;}
.list_compare li .thumb .thumb_img{position:absolute;top:0;left:0;width:100%;height:100%;background-repeat:no-repeat;background-size:contain;background-position:50% 50%;z-index: 1;}
.list_compare li .info{position: absolute;top:14px;left:0;right:16px;margin-left:155px;}
.list_compare li.type_compare .info{top:20px}
.list_compare li .info .txt_prd_nm{display:block;line-height:17px;height:34px;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;word-wrap:break-word;font-size:14px;color:#222;margin-bottom:8px}
.list_compare li .info .ico_brand{height:25px;display:block;box-sizing:border-box;padding-top:7px}
.list_compare li .info .ico_brand img{height:10px;}
.list_compare li .info .area_price{display:block;font-size:12px;line-height:20px}
.list_compare li .info .area_price .txt_lowest{color:#666;display:inline-block;margin-right:4px}
.list_compare li .info .area_price .txt_price{color:#d9117c}
.list_compare li .info .area_price .txt_price strong{font-size:20px;font-weight:bold;display:inline-block;}
.list_compare li .info .txt_earn{display:block;font-size:12px;height:12px;line-height:12px;position:relative;color:#0073be;}
.list_compare li .info .txt_sub{color:#aaaaaa}
.list_compare li.type_compare .txt_earn{display:none}
.list_compare li .info .prd_price{display:block;height:123px;letter-spacing: -.5px;position: relative;}
.list_compare li .info .prd_price .txt_notice{position: absolute;bottom:0;left:0;width:100%;height:48px;border-top:1px solid #eeeeee;line-height:48px;font-size:13px;color:#888888}
.list_compare li .btn_purchases{display:block;width:100%;height:37px;color:#fff;background-color:#d9117c;font-size:14px;text-align:center;line-height:37px;margin-top:16px}
.sec_compare .swiper-pagination{border-top:1px solid #eeeeee;padding:12px 0;text-align:center;}
.sec_compare .swiper-pagination span{margin:0 4px;opacity:1}
.sec_compare .swiper-pagination .swiper-pagination-bullet{background-color:#eee}
.sec_compare .swiper-pagination .swiper-pagination-bullet-active{background-color:#666}

/* 쇼핑몰 필터 */
.sec_finding{z-index: 501}
.box_layer{position:fixed;top:0;left:0;bottom:0;right:0;display:none}
.box_layer .box_inner{position: absolute;top:0;right:0;bottom:0;width:240px;background:#eee;z-index: 520;overflow-x:hidden;overflow-y:auto;-webkit-transition:.3s transform linear;-o-transition:.3s transform linear;transition:.3s transform linear;-webkit-transform:translateX(100%);-ms-transform:translateX(100%);transform:translateX(100%)}
.box_layer.on .box_inner{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.box_layer .box_inner .box_head{padding-bottom:0}
.box_layer .box_inner .box_lay_head{position: -webkit-sticky;position: sticky;top:0;z-index: 1;background-color:#fff;border-bottom:1px solid #eeeeee}
.sec_finding .cate_finding_row{margin-top:8px;background-color:#fff;font-size:13px}
.sec_finding .cate_finding_row .row_head{border-bottom:1px solid #eee;padding:14px 16px;background-color:#fff;height:16px;line-height:16px;position: relative;}
.sec_finding .cate_finding_row .row_head em{font-weight: bold;font-size:13px;color:#555555}
.sec_finding .cate_finding_row .row_head .txt_sub{color:#888;font-size:12px}
.sec_finding .cate_finding_row .row_head .select_val{font-size:12px;color:#aaaaaa;height:16px;float:right;padding-right:22px;position: relative;}
.sec_finding .cate_finding_row .row_head .select_val:after{content:"";position: absolute;background-image:url(http://img.enuri.info/images/global/m_common_sprite.png);background-size:180px;width:16px;height:16px;background-position:-164px 0;-webkit-transform-origin:center center;-ms-transform-origin:center center;transform-origin:center center;top:0;right:0;-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg);-webkit-transition:-webkit-transform .2s ease-in-out;transition:-webkit-transform .2s ease-in-out;-o-transition:transform .2s ease-in-out;transition:transform .2s ease-in-out;transition:transform .2s ease-in-out, -webkit-transform .2s ease-in-out;opacity:.6}
.sec_finding .cate_finding_row .row_cnt{padding:16px;display:none}
.sec_finding .cate_finding_row.flip_on .row_cnt{display:block}
.sec_finding .cate_finding_row.flip_on .row_head .select_val:after{-webkit-transform:rotate(0deg);-ms-transform:rotate(0deg);transform:rotate(0deg)}

.list_finding li{padding:0 6px;}
.list_finding li:first-child{padding-left:0}
.list_finding li a{display:inline-block;height:32px;line-height:32px;padding:0 15px;color:#222;border-radius:16px 16px;background-color:#f4f4f4;}
.list_finding li a.on{background-color:#d11479;color:#fff}

.list_finding.type_shop{overflow:hidden;/* margin-top:24px */}
.list_finding.type_shop li{float:left}
.list_finding.type_shop li a.type_txt_alone{width:32px;height:32px;padding:0;text-align:center}
.list_finding.type_shop.tab_en,
.list_finding.type_shop.tab_ko{margin-left:-10px;width:calc(100% + 20px);margin-top:2px}
.list_finding.type_shop.tab_en li,
.list_finding.type_shop.tab_ko li{margin:13px 0 0 0;padding:0 10px}
.list_finding.type_shop.tab_en li:first-child,
.list_finding.type_shop.tab_ko li:first-child{padding-left:10px}

.list_tab{overflow:hidden;border:1px solid #dbdbdb;}
.cf_shop .list_tab{display:none}
.list_tab li{width:50%;float:left;height:28px;position: relative;text-align:center;line-height:28px;background-color:#f9f9f9;}
.list_tab li.on{background-color:#fff;color:#d11479}
.list_tab li:before{content:"";position: absolute;top:0;left:0;border-left:1px solid #dbdbdb;height:100%;}
.list_tab li:first-child:before{display:none}

.list_finding_radio li{padding:5px 0}
.list_finding_radio li a{display:block;padding-left:26px;color:#222;height:20px;line-height:20px;position: relative;}
.list_finding_radio li a:before{content:"";position: absolute;top:0;left:0;width:20px;height:20px;background-image:url(http://img.enuri.info/images/global/m_common_sprite.png);background-size:180px;background-position:0px -85px}
.list_finding_radio li a.on:before{background-position:0px -106px}

.list_finding_chkbox li{padding:5px 0}
.list_finding_chkbox li a{display:block;padding-left:26px;color:#222;height:20px;line-height:20px;position: relative;}
.list_finding_chkbox li a:before{content:"";position: absolute;top:0;left:0;width:20px;height:20px;background-image:url(http://img.enuri.info/images/global/m_common_sprite.png);background-size:180px;background-position:-25px -85px}
.list_finding_chkbox li a.on:before{background-position:-25px -106px}

/* 쇼핑몰리스트 */
.list_shop{border-top:1px solid #555555}
.list_shop li{border-bottom:1px solid #dbdbdb;position: relative;padding:24px 0 24px 20px;height:124px}
.list_shop li a{display:block;overflow:hidden}
.list_shop li .img_shop{float:left;width:200px}
.list_shop li .img_shop img{width:200px}
.list_shop li .tag{position: absolute;top:133px;left:20px;width:200px;text-align:center}
.list_shop li .info{float:left;width:840px;margin-left:35px;letter-spacing: -.6px}
.list_shop li .info > span{display:block;overflow:hidden;}
.list_shop li .info .txt_brand{font-size:13px;line-height:20px;height:20px;margin-top:-1px;color:#555}
.list_shop li .info .txt_tit{font-size:16px;line-height:24px;height:24px;font-weight: 500}
.list_shop li .info .txt_coupon{margin-top:37px;padding-top:26px;position: relative;color:#555;line-height:18px;font-size:13px}
.list_shop li .info .txt_sub{font-size:12px;line-height:20px;height:20px;color:#aaaaaa;font-weight: 300;position: absolute;top:0;left:0;width:100%}
.list_shop li .info .txt_code,
.list_shop li .info .txt_expiry{display:inline-block;position: relative;}
.list_shop li .info .txt_code em{display:inline-block;padding:0 14px  0 7px;color:#ee328e}
.list_shop li .info .txt_expiry{padding-left:17px;}
.list_shop li .info .txt_expiry:before{content:"";position: absolute;top:3px;left:0;height:12px;border-left:1px solid #dbdbdb}
.list_shop li .earn{width:174px;float:right;height:124px;font-size:16px;color:#ec097f;border-left:1px solid #eeeeee;display:table;text-align:center}
.list_shop li .earn span.earn_inner{display:table-cell;vertical-align:middle;font-weight: 700;}
.list_shop li .earn span.earn_inner > span{display:inline-block;position: relative;}
.list_shop li .earn span.earn_inner > span del{position: absolute;top:-16px;left:0;font-weight:400;color:#999;font-size:14px}
.list_shop li:hover .txt_tit{text-decoration: underline}
.list_shop li.no_result{padding:0;height:172px;line-height:172px;font-size:16px;text-align:center}
.list_shop li .btn_fav_shop{position: absolute;top:8px;left:8px}

/* 쿠폰혜택 */
.list_benefit li{border-bottom:1px solid #dbdbdb;padding:15px 0;height:98px;position: relative;}
.list_benefit li .list_tit{position:absolute;top:15px;left:0;width:98px;height:98px;font-size:13px;text-align:center;line-height:20px;font-weight:bold}
.list_benefit li .list_tit .ico{width:44px;height:44px;margin:0 auto;display:block;margin-top:18px}
.list_benefit li .list_info{position: relative;display:block;margin:0 16px 0 98px;height:98px}
.list_benefit li .list_info > span{display:block;font-size:13px;line-height:16px;}
.list_benefit li .list_info .txt_sub{color:#555555;height:32px;margin-top:2px;display:box;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-wrap:break-word;overflow:hidden;}
.list_benefit li .list_info .txt_sub em{color:#ee328e;font-weight:bold}
.list_benefit li .list_info .txt_expire_date{color:#aaaaaa;margin-top:46px}
.list_benefit li .area_coupon{position:absolute;left:98px;right:16px;top:56px;height:32px;background-color:#f7f7f7;border-radius: 2px 2px;line-height:32px;color:#222;padding:0 55px 0 8px;overflow:hidden}
.list_benefit li .area_coupon .txt_code{color:#ee328e;overflow:hidden;height:18px;vertical-align:middle;line-height: 18px;text-overflow: ellipsis;white-space: nowrap;width: calc(100% - 50px);display: inline-block;}
.list_benefit li .area_coupon .btn_copy_code{position: absolute;top:0;right:0;width:50px;height:32px;border-radius: 2px 2px;background-color:#ee328e;color:#fff;text-align:center}

.list_benefit .type_coupon .list_tit .ico{background-position:-55px -135px}
.list_benefit .type_benefit .list_tit .ico{background-position:-102px -135px}

/* 리스트 내용 없을때 */
.list_benefit li.no_result,
.shop_detail li.no_result{height:196px;text-align:center;width:100%}
.list_benefit li.no_result span,
.shop_detail li.no_result span{font-size:13px;position: relative;top:50%;margin-top:-8px;display:block;}

/* 공지사항 */
.comm_notice .inner{position:relative;padding:0 16px;height:44px;background-color:#fff}
.comm_notice .slide_notice{margin-right:60px;height:44px;overflow:hidden}
.comm_notice .slide_notice .swiper-container{height:44px}
.comm_notice .slide_notice .swiper-slide a{display:block;height:44px;line-height:44px;font-size:14px;color:#222;white-space: nowrap;-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow:hidden}
.comm_notice .slide_notice .swiper-slide em{font-weight:700;display:inline-block;margin-right:4px}
.comm_notice .slide_notice .swiper-slide .txt_date{display:none}

/* 전체보기 */
.btn_all_view{height:20px;line-height:20px;font-size:11px;padding-right:11px;position:absolute;letter-spacing: -1px;color:#555555}
.btn_all_view:after{content:"";position:absolute;width:5px;height:11px;top:50%;right:0;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);background:url(http://img.enuri.info/images/global/m_common_sprite.png) no-repeat -90px -30px;color:#555;background-size:180px}
.sec_store .btn_all_view{right:16px;top:22px}
.comm_notice .btn_all_view{right:16px;top:50%;margin-top:-10px}

/* 리스트 더보기 */
.btn_list_more{height:44px;vertical-align:middle;font-size:14px;text-align:center;width:100%}
.btn_list_more .ico{display:inline-block;width:16px;height:16px;background-position: -164px 0;vertical-align:-3px;margin-left:4px;-webkit-transform-origin: center center;-ms-transform-origin: center center;transform-origin: center center;-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}