@charset "utf-8";

/************************************************************************
 * 파일명 : vip.css
 * 설명 : 에누리 해외직구 - VIP (PC)
 * 작성자  : 신왕섭
 * 작성일 : 2019.08.29
************************************************************************/

/* 컨텐츠 */
.container{padding-top:80px;padding-bottom:100px}
.container .box_inner{width:1280px;margin:0 auto;}

/* 샵 정보 개선 */
#wrap{overflow:visible;}
.shop_head{border-top:1px solid #222222;border-bottom:1px solid #dbdbdb;min-height:330px;position: relative;}
.shop_head .shop_logo{position: absolute;top:0;left:0;width:368px;height:100%}
.shop_head .shop_logo .logo_inner{padding:64px 58px 64px 57px;position:-webkit-sticky;position:sticky;top:40px;text-align:center}
.shop_head .shop_logo .img_shop{width:251px;display:block;height:128px;position:relative;}
.shop_head .shop_logo .img_shop img{width:251px;position: relative;top:50%;transform:translateY(-50%)}
.shop_head .shop_logo .shop_save_per {text-align: center; color:#d9117c; font-size: 18px;  font-weight: bold; letter-spacing: -.5px;}
.shop_head .shop_logo .shop_save_per em {font-size: 19px; font-family: 'Roboto';}
.shop_head .shop_logo .btn_shop{margin-top:10px;position:relative;height:42px;line-height:42px;border-radius:21px 21px;font-size:16px;font-weight:500;color:#fff;background-color:#d9117c;display:inline-block;width:240px;}
.shop_head .shop_summ{margin-left:368px;min-height:170px;border-left:1px solid #eee;padding:80px 48px;position: relative;}
.shop_head .sns_group{position:absolute;right:0;top:32px;overflow:hidden}
.shop_head .sns_group button{float:left;margin-left:12px;}
.shop_head .sns_group button:first-child{margin-left:0}
.shop_head .sns_group button .ico{display:block;width:28px;height:28px;background-color:#fff;border:1px solid #eee;border-radius: 50% 50%;text-indent:-9999em}
.shop_head .sns_group button:active .ico{margin:0}
.shop_head .sns_group button:hover .ico{border-color:#bbb}
.btn_share_fb .ico{background-position:-380px -60px}
.btn_share_kakao .ico{background-position:-408px -60px}
.btn_share_copy .ico{background-position:-380px -88px}
.shop_head .shop_summ .tag{display:block;margin-bottom:12px}
.shop_head .shop_summ .info{margin-bottom:42px}
.shop_head .shop_summ .info > span{display:block;letter-spacing: -.5px}
.shop_head .shop_summ .info .txt_name{height:40px;line-height:40px;font-size:32px;font-weight:300;letter-spacing: -2px}
.shop_head .shop_summ .info .txt_sub{height:24px;line-height:24px;font-size:16px;margin-top:6px;font-weight:400;}
.shop_head .shop_summ .info .txt_cate{height:22px;line-height:22px;font-size:13px;margin-top:14px;color:#888}
.shop_head .shop_summ .intro_group .intro_item{margin-top:20px;line-height:20px;font-size:13px;color:#555}
.shop_head .shop_summ .intro_group .intro_item:first-of-type{margin-top:0}
.shop_head .shop_summ .intro_group .intro_item .intro_item_head{font-size:15px;font-weight:500;color:#222;line-height:40px;}

/* 삭제예정 샵정보 */
.shop_summary{border-top:1px solid #222222;border-bottom:1px solid #dbdbdb;height:238px;position: relative;}
.shop_summary .img_shop{width:370px;display:block;height:238px;text-align:center;position: relative;}
.shop_summary .img_shop:after{content:"";position:absolute;right:0;height:190px;top:24px;border-right:1px solid #e4e4e4}
.shop_summary .img_shop img{width:200px;position: relative;top:50%;transform:translateY(-50%)}
.shop_summary .tag{position:absolute;left:0;width:370px;top:170px;text-align:center}
.shop_summary .info{position: absolute;margin-left:416px;left:0;top:0;margin-top:30px;width:630px}
.shop_summary .info > span{display:block;letter-spacing: -1px}
.shop_summary .info .txt_name{height:40px;line-height:40px;font-size:32px;font-weight:300;letter-spacing: -2px}
.shop_summary .info .txt_sub{height:24px;line-height:24px;font-size:16px;margin-top:2px;font-weight:700;}
.shop_summary .info .txt_earn{position: absolute;font-size:18px;font-weight:700;color:#d9117c;line-height:26px;margin-top:22px}
.shop_summary .info .txt_cate{height:20px;line-height:20px;font-size:13px;margin-top:52px;color:#888}
.shop_summary .info .sns_group{margin-top:16px;overflow:hidden}
.shop_summary .info .sns_group button{float:left;margin-left:12px;}
.shop_summary .info .sns_group button:first-child{margin-left:0}
.shop_summary .info .sns_group button .ico{display:block;width:28px;height:28px;background-color:#fff;border:1px solid #eee;border-radius: 50% 50%;text-indent:-9999em}
.shop_summary .info .sns_group button:active .ico{margin:0}
.shop_summary .info .sns_group button:hover .ico{border-color:#bbb}
.btn_share_fb .ico{background-position:-380px -60px}
.btn_share_kakao .ico{background-position:-408px -60px}
.btn_share_copy .ico{background-position:-380px -88px}
.shop_summary .rside{position:absolute;top:0;right:16px;height:100%;width:224px;text-align:right}
.shop_summary .rside .btn_shop{position:relative;height:42px;line-height:42px;padding:0 42px;font-size:16px;font-weight:500;color:#fff;background-color:#d9117c;display:inline-block;top:50%;transform:translateY(-50%);border-radius: 24px 24px}
.shop_summary .btn_fav_shop{position: absolute;top:15px;left:15px}
/* // 여기까지 삭제예정 */

.container .shop_detail{position: relative;margin-top:100px}
.shop_detail .dt_tab{margin-top:100px}
.shop_detail .dt_tab:first-child{margin-top:0}
.shop_detail .dt_tab .list_tab{height:45px;width:100%;border-bottom:1px solid #222222}
.shop_detail .dt_tab .list_tab li{float:left;width:176px;height:44px;border:1px solid #dbdbdb;background-color:#f9f9f9;line-height:44px;text-align:center;border-bottom:0;position: relative;margin-left:-1px;font-weight: 300}
.shop_detail .dt_tab .list_tab li:first-child{margin-left:0}
.shop_detail .dt_tab .list_tab li a{display:block;font-size:14px;color:#222222;}
.shop_detail .dt_tab .list_tab li.on{background-color:#fff;height:45px;z-index: 1;font-weight:500;border-color:#222}
/* 삭제예정 */.shop_detail .tab_intro .tab_cnt{padding:70px 30px 0;font-size:13px;color:#555;line-height:20px}
.shop_detail .tab_benefit .tab_cnt{padding:45px 0 0 0}
.shop_detail .tab_goods .tab_cnt ul li{margin:75px 0 0 20px}

/* 삭제예정 */.shop_detail .tab_box{min-height:200px;margin-top:40px}
/* 삭제예정 */.shop_detail .tab_box:first-of-type{margin-top:0}
/* 삭제예정 */.shop_detail .tab_box .tab_box_head{font-size:14px;font-weight:500;color:#222;line-height:40px;}



.tab_guide .list_guide_title {font-size: 18px; font-weight: bold; color:#222; margin-top:36px; margin-bottom:11px;}
.tab_guide .list_guide_title a {position:relative; float:right; font-size: 13px; font-weight: normal; color:#777; padding-right:15px; margin-top:4px;}
.tab_guide .list_guide_title a:after {content:""; display: block; width: 12px; height:12px; background: url("//img.enuri.info/images/global/common_sprite.png") no-repeat 0 -200px; position:absolute; top:50%; right:0; margin-top:-6px;}
.tab_guide .list_guide {}
.tab_guide .list_guide:after {content:""; display: block; clear:both;}
.tab_guide .list_guide > li {float:left; width:410px; border:1px solid #dbdbdb; text-align: center; padding:32px 0 31px;}
.tab_guide .list_guide > li + li {margin-left:22px;}
.tab_guide .list_guide > li .step_icon {}
.tab_guide .list_guide > li .step_number {font-family: 'Roboto'; font-size: 15px; font-weight: bold; color:#222;    margin-top: 16px;}
.tab_guide .list_guide > li .step_title {font-size: 16px; color:#222; font-weight: 500; margin-top:9px;}
.tab_guide .list_guide > li .step_summary {font-size: 14px; font-weight: 300; color:#888; margin-top: 6px; line-height: 1.4; height: 39px; overflow:hidden;}
.tab_guide .list_guide > li .step_btn {display: inline-block; width:192px; height:40px; text-align: center; line-height: 40px;font-size: 14px; color:#555; border:1px solid #555; border-radius: 22px; margin-top: 30px;}
.tab_guide .list_guide > li .step_btn:hover {color:#ee328e; border-color: #ee328e;}

