@charset "utf-8";
div.common-search {position:relative; margin:20px 5px 0px 0; padding:20px 20px 20px 25px; border:1px solid #c9c9c9; }
div.common-search > .open-close {overflow:hidden; position:absolute; left:430px; bottom:-24px; height:24px;}
div.common-search.open > .open-close img {margin-top:-24px;}
div.common-search div.search-language {margin-top:25px;  }
div.common-search div.search-language ul {overflow:hidden; width:100%; margin-top:4px;}
div.common-search div.search-language ul:first-child {margin-top:6px;}
div.common-search div.search-language ul li {float:left; margin-right:-1px;}
div.common-search div.search-language ul li a {position:relative; display:block; width:22px; height:18px; padding-top:4px; border:1px solid #dfdfdf; color:#a0a0a0; text-align:center; text-decoration:none; font-weight:bold;}
div.common-search div.search-language ul li.selected a {width:20px; height:18px; padding-top:4px; border:1px solid #3e362e; color:#3e362e; z-index:2;}
div.common-search div.search-language ul:first-child li:first-child a,
div.common-search div.search-language ul li.num a {width:45px;}
div.common-search div.search-language ul:first-child li:first-child.selected a,
div.common-search div.search-language ul li.num.selected a {width:43px;}
div.common-search ul.best-list {overflow:hidden; width:100%; padding-bottom:20px;}
div.common-search ul.best-list li {float:left; width:189px; margin-top:10px;}
div.common-search ul.best-list li a {margin-left:5px; color:#8c8c8c; text-decoration:none;}
div.common-search ul.best-list li a:hover {text-decoration:underline;}
div.common-search ul.best-list li a em {color:#c5c4c4;}
div.common-search div.search-results {overflow:hidden; padding:15px 0 0 0; border-top:1px dashed #e9e9e9; margin-top:24px;}
div.common-search.open div.search-results > div {display:block; height:295px; overflow-y:auto; }
div.common-search div.search-results > div {overflow:hidden; width:100%; height:94px; position:relative}

div.common-search div.search-results > div strong {color:#3e362e; font-size:20px; line-height:20px;}
div.common-search div.search-results > div > ul {overflow:hidden; width:100%; margin:0px 0 15px -10px;}
div.common-search div.search-results > div > ul > li {float:left; width:177px; margin-right:-1px; padding-left:9px; border-left:1px solid #f3f3f3; line-height:26px; height:26px; overflow : hidden; }
div.common-search div.search-results > div > ul > li a {color:#8c8c8c !important; text-decoration:none; border:none; display:inline; font-weight:normal;}
div.common-search div.search-results > div > ul > li a:hover {text-decoration:underline; color:#8c8c8c;}
div.common-search div.search-results > div > ul > li a em {color:#c5c4c4;}
div.common-search div.search-results > div > ul > li img {vertical-align:middle !important;}
div.common-search.open div.search-results {display:block; height:295px}

.cate_check-list{overflow:hidden; width:995px; padding:5px 0 5px 0; border-top:1px solid #c9c9c9; border-bottom:1px solid #d1d1d1; margin:20px 0 -6px 0;}
.cate_check-list{.padding:5px 0 10px 0;}
.cate_check-list ul{float:left; width:1100px;}
.cate_check-list li {float:left; width:169px; padding:0 0 0 30px; border-right:1px dashed #e6e6e6; line-height:24px; margin:7px 0; }
.cate_check-list li input.checkbox {vertical-align:-4px;}
.cate_check-list li label {color:#8c8c8c; font-family:"맑은 고딕","돋움"; cursor:pointer;}
.cate_check-list li label a {color:#8c8c8c; font-family:"돋움"; cursor:pointer; text-decoration:none;}
.cate_check-list li label a:hover {text-decoration:underline; color:#575757; }
.cate_check-list li label em {color:#c5c4c4;} 

div.common-search .section {margin-top:25px;}
div.common-search .section3 {margin:0 !important; }
div.common-search ul.check-list {overflow:hidden; width:100%; padding:10px 0; border-top:1px dashed #e9e9e9;}
div.common-search .clist{display:block; height:42px; background:url('http://img.enuri.info/images/department/view/goods_tit.gif') left top no-repeat; text-indent:-9999em; }
div.common-search .blist{display:block; height:42px; background:url('http://img.enuri.info/images/department/view/goods_tit.gif') left bottom no-repeat; position:relative;}
div.common-search .blist span{position:absolute; left:45px; top:14px;}
div.common-search ul.check-list li {float:left; width:189px; padding:3px 0;}
div.common-search ul.check-list li input.checkbox {vertical-align:-4px;}
div.common-search ul.check-list li label {color:#8c8c8c; font-family:"맑은 고딕","돋움"; cursor:pointer;}
div.common-search ul.check-list li label a {color:#8c8c8c; font-family:"돋움"; cursor:pointer; text-decoration:none;}
div.common-search ul.check-list li label a:hover {text-decoration:underline; color:#575757; }
div.common-search ul.check-list li label em {color:#c5c4c4;} 
div.common-search .search-tit {display:block; color:#8c8c8c; font-size:13px; padding-left:30px;}
div.common-search .search-tit em{font-family:tahoma; font-weight:normal; color: #c5c4c4; padding-left:2px;}
div.common-search div.search-list {overflow:hidden;width:948px; height:30px; margin:10px 0 0 30px; }
div.common-search.open div.search-list {height:auto;}
div.common-search div.search-list ul {overflow:hidden; width:928px !important; margin-left:-10px; }
div.common-search.open div.search-list ul on{overflow-x:hidden;overflow-y:scroll; max-height:130px;width:100%;}

div.common-search div.cate-list {overflow:hidden; width:948px; height:35px; margin:10px 0 35px 0; }
div.common-search div.cate-list ul {overflow:hidden; width:918px !important }
div.common-search div.cate-list ul li:first-child{padding-top:0  !important;}
div.common-search.open div.cate-list {height:auto;}

div.common-search div.search-list ul > li {float:left; width:170px; margin-right:-1px; padding-left:9px; border-left:1px solid #f3f3f3; line-height:26px;}
div.common-search div.search-list ul > li a {color:#8c8c8c; text-decoration:none;}
div.common-search div.search-list ul > li a em {color:#c5c4c4; font-family:tahoma;}
div.common-search div.search-list ul > li a:hover{text-decoration:underline}
div.best-brand {margin-top:30px;  }
div.best-brand ul {width:1005px; }
div.best-brand ul:after {content: ""; display: block; clear: both; width: 0px; height: 0px; }
div.best-brand ul li {position:relative; float:left; width:330px !important; height:330px !important; margin:-1px 0px 0px -1px; border:1px solid #dfdfdf; z-index:1;}
div.best-brand ul li:hover{border:1px solid #3f352f; z-index:2; }
div.best-brand ul li em {position:absolute; top:0; left:0; cursor:pointer;}
div.best-brand ul li span img {width:330px; height:330px;}
div.location {position:relative; margin-top:15px; color:#8c8c8c; z-index:3;vertical-align:top; height:40px;}
div.location a {color:#8c8c8c; text-decoration:none; }
div.location a:hover{text-decoration:underline;}
div.location > strong {position:relative; padding-top:1px; }
div.location > strong > a {padding-right:17px; display:inline-block; background:url('http://img.enuri.info/images/department/view/bl_location.gif') no-repeat right 0px; color:#3e362e; }
div.location > strong > span {display:none; position:absolute; top:23px; left:1px; padding:5px 0; border:1px solid #dbdbdb; background:#fff; text-align:left; width:188px; }
div.location > strong.selected > a {padding-right:33px; background:url('http://img.enuri.info/images/department/view/bl_location_on.gif') no-repeat right 5px; color:#3e362e; }
div.location > strong.selected > span {display:block; z-index:2;}
div.location > strong > span a {display:block; padding-left:10px; color:#888888; text-decoration:none; white-space:nowrap;  line-height:26px; font-weight:normal;  font-family:dotum}
div.location > strong > span a:hover {color:#333333;}
div.location > a > img {vertical-align:middle !important; margin-top:-4px;}
div.noresults {overflow:hidden; width:100%; margin-top:30px; padding:30px 0; border-top:1px dashed #e9e9e9; border-bottom:1px dashed #e9e9e9;}
div.noresults strong {float:left; margin:60px 120px 0 120px;}
div.noresults ul {float:left;}
div.noresults ul li {padding-left:8px; background:url('http://img.enuri.info/images/department/view/bl_list.gif') no-repeat left center; color:#3e362e; font-size:13px; line-height:30px;}
ul.select-category {overflow:hidden; width:100%; }
ul.select-category li {overflow:hidden; width:100%; border-top:1px dotted #e9e9e9; vertical-align:top; padding:7px 0;}
ul.select-category li:first-child {border:none;}

#result_cate ul.select-category li div{width:700px}
#result_cate ul.select-category li{padding:10px 0;}
#result_cate ul.select-category{padding-left:30px;}
#result_cate ul.select-category li > strong {float:left; width:174px; margin-top:9px; padding-left:0px; }
#result_cate ul.select-category li label{width:174px;}
#result_cate ul.select-category li strong label:hover{text-decoration:underline; }


ul.select-category li > strong {float:left; width:140px; margin-top:9px; padding-left:30px; }
ul.select-category li > strong a{color:#000000; }
ul.select-category li > strong:hover{text-decoration:underline; }
ul.select-category li > div{width:778px; line-height:32px !important; float:left;}
ul.select-category li > div input.checkbox {margin:0; padding:0; vertical-align:-4px;}
ul.select-category li > div label {display:inline-block; width:189px; color:#8c8c8c; cursor:pointer; vertical-align:middle; font-size:12px !important}
ul.select-category li > div label em {color:#c5c4c4; }
ul.select-category li > div label:hover{text-decoration:underline; }
div.box-view {overflow:hidden; width:998px; border:1px solid #c9c9c9;}
div.box-view div.img {float:left; width:500px; height:500px; overflow:hidden; border-right:1px solid #c9c9c9; font-size:0; line-height:0;}
div.box-view div.txt {overflow:visible; float:left; width:420px; margin:0 0 0 38px;position:relative; height:400px;}
div.box-view div.txt > em {display:block; margin-top:30px; color:#333; font-size:15px; font-family:Malgun Gothic; }
div.box-view div.txt > em span.fif {font-size:12px;}
div.box-view div.txt > strong {display:block; margin-top:10px; color:#333; font-size:22px; line-height:32px; letter-spacing:-1px; font-family:Malgun Gothic}
div.box-view div.txt > span {display:block; position:absolute; text-align:right; padding-right:22px; right:0; top:125px; background:url('http://img.enuri.info/images/department/view/bg_price02.gif') no-repeat right 13px; font-size:18px;}
div.box-view div.txt > span.none{background:none !important}
div.box-view div.txt > span.none span:first-child {color: #2485fb; font-family:dotum; font-size:18px;}
div.box-view div.txt > span > span:first-child {color:#262626; vertical-align:-1px; font-size:22px; line-height:30px; font-family:tahoma;}
div.box-view div.txt > span span.min {vertical-align:-1px; color:#2485fb; line-height:48px; }
div.box-view div.txt > span em.num {font-size:38px; font-family:tahoma; }
div.box-view div.txt > ul {padding:16px 0; border-top:1px dotted #c9c9c9; position:absolute; bottom:0; left:0; width:100%; }
div.box-view div.txt > ul li {vertical-align:top;}
div.box-view div.txt > ul li a {display:block; width:100%; overflow:hidden; width:100%; color:#262626; font-size:13px; text-decoration:none;}
div.box-view div.txt > ul li a > strong {float:left; width:102px; cursor:pointer;}
div.box-view div.txt > ul li a > span {float:left; width:150px; margin-top:8px; cursor:pointer; }
div.box-view div.txt > ul li a > span:hover{text-decoration:underline;}
div.box-view div.txt > ul li a > em {float:right; margin-top:8px; color:#545454;  cursor:pointer; }
div.box-view div.txt > ul li a > em strong {color:#262626; font-size:14px; font-weight:normal; font-family:tahoma; }
div.box-view div.txt > ul li a > em:hover{text-decoration:underline;}
div.box-view div.txt > ul li a > em.lowest {color:#2485fb; cursor:pointer;}
div.box-view div.txt > ul li a > em.lowest strong {color:#2485fb; font-weight:bold; line-height:20px; }
ul.ctab {overflow:hidden; width:999px; margin-top:30px; border:1px solid #c9c9c9; border-top:4px solid #3e362e; border-left:none;}
ul.ctab li {position:relative; float:left; margin:0 -1px -1px 0;}
ul.ctab li a {position:relative; display:block; overflow:hidden; width:165px; height:31px; padding-top:15px; border:1px solid #c9c9c9; border-top:none; text-align:center; text-decoration:none; color:#333; font-size:14px; font-weight:bold;}
ul.ctab li.selected a {border:1px solid #29241e; border-top:none; background:#3e362e; z-index:5; color:#fff;}
ul.ctab li a em {color:#cf9311; font-size:14px; font-weight:bold; cursor:pointer;}
div.view-cont {overflow:hidden; width:100%; margin-top:10px;}
div.view-cont div {margin-top:35px;}
div.compare-cont {overflow:hidden; width:100%; margin-top:16px;}
table.board-list {width:100%; table-layout:fixed; color:#2662626; font-size:13px; line-height:20px; border-spacing:0; border:0; border-collapse:collapse; _border-collapse:collapse;}
table.board-list th {padding:11px 0 11px 0; border-top:2px solid #98948f; border-bottom:1px solid #c3c3c3; background:#f2f2f2;}
table.board-list td {padding:25px 10px 25px 10px; border-bottom:1px solid #edeeef; text-align:center;}
table.board-list td.subject {padding-left:; text-align:left;}
table.board-list td.price {font-weight:bold;}
table.board-list td.benefits {color:#000;}
table.board-list td .installment,
table.board-list td .lowest {display:block;}
table.board-list td.lowest {font-weight:bold; color:#2485fb;}
table.board-list td.lowest a{color:#2485fb;}
table.board-list td .point {color:#000;}
table.board-list td a {color:#262626; text-decoration:none;}
table.board-list td a:hover {text-decoration:underline;}
div.paging {margin-top:20px; text-align:center;}
div.paging:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
/*div.paging a {display:inline-block; width:23px; height:20px; margin:0 1px; padding-top:3px; border:1px solid #d8d7d5; color:#494949; font-size:13px; font-weight:bold; text-align:center; text-decoration:none; line-height:15px; vertical-align:middle;}*/
div.paging strong {border:1px solid #e5e5e5; color:#3e362e; font-weight:bold; width:28px; height:21px; display:inline-block; padding-top:7px;}
div.paging a{color:#727272; text-decoration:none; width:28px; height:22px; display:inline-block; padding-top:6px; }
div.paging a:hover{text-decoration:underline;}
div.paging a.prev,
div.paging a.next {width:auto; height:auto; border:0; padding:0;}
div.paging a.prev {margin-right:10px;}
div.paging a.next {margin-left:10px;}
div.paging img{vertical-align:middle !important; }
div.paging img{.margin-top:-15px}
div.board-cont {overflow:hidden; width:100%; margin-top:35px;}
div.board-cont div.box-board {position:relative; overflow:hidden; width:100%; padding:20px 0; border-top:2px solid #98948f; border-bottom:1px solid #e4e5e5; background:#f2f2f2;}
div.board-cont div.box-board > span {position:absolute; left:20px; bottom:22px;}
div.board-cont div.box-board h3 {float:left; width:145px; margin:3px 0 0 20px;}
div.board-cont div.box-board > div {float:left; width:815px;}
div.board-cont div.box-board div.board-section {overflow:hidden; width:100%; margin-top:10px;}
div.board-cont div.box-board div.board-section:first-child {margin:0;}
div.board-cont div.box-board div.board-section span.section-left {float:left;}
div.board-cont div.box-board div.board-section span.section-left input.text {height:15px; margin-right:3px; padding:3px 0 4px 6px; border:1px solid #d4d4d4; background:#fff; color:#a7a7a7; font-family:"맑은 고딕","돋움"; font-size:13px; line-height:15px;}
div.board-cont div.box-board textarea,
div.board-cont div.box-board input,
div.board-cont div.box-board img,
div.board-cont div.box-board label {vertical-align:middle !important;}
div.board-cont div.box-board div.board-section span.section-left input.checkbox {margin-left:15px;}
div.board-cont div.box-board label {color:#666; font-family:"맑은 고딕","돋움"; line-height:14px; font-weight:bold;}
div.board-cont div.box-board div.board-section span.section-right {float:right; margin-top:4px;}
div.board-cont div.box-board div.board-section span.section-right a {margin-left:25px; color:#666; font-weight:bold; line-height:14px; text-decoration:underline;}
div.board-cont div.box-board div.board-section textarea {float:left; margin-right:7px; padding:10px 15px; border:1px solid #d4d4d4; color:#a7a7a7; font-family:"맑은 고딕","돋움"; font-size:13px; line-height:15px;}
ul.reply li {overflow:hidden; width:100%; padding:25px 20px; border-bottom:1px solid #edeeef; font-size:13px; line-height:20px;}
ul.reply li em {float:left; width:160px; color:#000;}
ul.reply li a {float:left; color:#262626; text-decoration:none;}
ul.reply li a:hover {text-decoration:underline;}

.tab-content {display:none;}
.tab-content-selected {display:block;}

.mgt25 {margin-top:25px !important;}
.mgt70 {display:block; margin-top:70px !important;}
.ellipsis { width: 150px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.view-cont .infotxt {font-size:11px; padding-top:5px;}
.view-cont .infotxt span {font-weight:bold;}
.view-cont .infotxt img{vertical-align:top; margin:-5px 0 0 5px;}

#result_cate_ul.open {overflow-x:hidden;overflow-y:auto; max-height:145px;width:100%;}
#result_brand_ul.open {overflow-x:hidden;overflow-y:auto; max-height:130px;width:100%;}




/*제품상세*/
.box-view .img img {float:left; width:350px; height:350px; }
#goods_img img {vertical-align:middle;}

div.box-view div.txt > ul li {vertical-align:top;height:30px; cursor:pointer;  }
/* 상품평부분 삭제 */
ul.reply li a {float:left; color:#262626; text-decoration:none;}
ul.reply li a:hover {text-decoration:underline;}
/* 상품평부분 대체 */
ul.reply li span {float:left; color:#262626; width:810px;}

.box-view .img{width:425px !important; height:375px !important; border-right:1px solid #c9c9c9; padding:25px 0 0 75px}
.ctit2 .allview{cursor:pointer;color:#8c8c8c;padding-left:15px;font-family:dotum; font-weight:normal; text-decoration:underline; letter-spacing:-1px;}

.enuri_detail{margin:0 !important; padding:20px;}
.enuri_detail h4{font-size:14px; border-bottom:1px solid #e3e3e3; margin-bottom:5px; padding-bottom:5px }
.enuri_detail table{border-collapse:collapse; margin:10px 0 10px 10px;}
.enuri_detail table a{color:#666666; text-decoration:none; }
.enuri_detail table a:hover{text-decoration:underline; color:#000000 }
.enuri_detail table td{vertical-align:top; width:280px; padding:5px 20px 5px 10px; background:url('http://img.enuri.info/2014/main/images/bl_3x2.gif') no-repeat 0 11px; }

/*해외명품*/
.brand_logo{border:1px solid #d1d1d1; margin-top:20px; height:148px; width:993px; overflow:hidden; }
.brand_logo:after{content: ""; display: block; clear: both; width: 0px; height: 0px; }
.brand_logo ul{float:left; width:1000px;}
.brand_logo li{display:table; float:left; width:197px; height:74px; text-align:center ; border-bottom:1px dashed #e6e6e6; border-right:1px dashed #e6e6e6; position:relative; }
.brand_logo li .on{position:absolute; left:0; top:0;}
.brand_logo li:nth-child(5), .brand_logo li:nth-child(10){border-right:none; }
.brand_logo li a{width:197px; height:74px; display:block; background:url(http://img.enuri.info/images/department/view/img_brand.gif) -9999em -9999em no-repeat; text-indent:-9999em;}
.brand_logo li a.on{cursor:default}
.brand_logo li.br01 a, .brand_logo li.br01 a.on:hover{background-position:0 0;}
.brand_logo li.br01 a:hover{background-position:-207px 0;}
.brand_logo li a img{display:none;}
.brand_logo li a.on img{display:block;}

.brand_logo li.br02 a, .brand_logo li.br02 a.on:hover{background-position:0 -79px;}
.brand_logo li.br02 a:hover{background-position:-207px -79px;}

.brand_logo li.br03 a, .brand_logo li.br03 a.on:hover{background-position:0 -158px;}
.brand_logo li.br03 a:hover{background-position:-207px -158px;}

.brand_logo li.br04 a, .brand_logo li.br04 a.on:hover{background-position:0 -238px;}
.brand_logo li.br04 a:hover{background-position:-207px -238px;}

.brand_logo li.br05{border-right:none; width:201px;}
.brand_logo li.br05 a, .br05 a:hover{background-position:0 -318px; width:201px;}
.brand_logo li.br05 a:hover{background-position:-207px -318px;}

.brand_logo li.br06 a, .br06 a:hover{background-position:0 -399px;}
.brand_logo li.br06 a:hover{background-position:-207px -399px;}

.brand_logo li.br07 a, .br07 a:hover{background-position:0 -480px;}
.brand_logo li.br07 a:hover{background-position:-207px -480px;}

.brand_logo li.br08 a, .br08 a:hover{background-position:0 -562px;}
.brand_logo li.br08 a:hover{background-position:-207px -562px;}

.brand_logo li.br09 a, .br09 a:hover{background-position:0 -643px;}
.brand_logo li.br09 a:hover{background-position:-207px -643px;}

.brand_logo li.br06, .brand_logo li.br07, .brand_logo li.br08, .brand_logo li.br09,{border-bottom:none;}

.brand_logo li.br10{border:none; width:201px;}
.brand_logo li.br10 a, .br10 a:hover{background-position:0 -724px; width:201px; }
.brand_logo li.br10 a:hover{background-position:-207px -724px;}

.brand_logo li a img{position:absolute; left:0; top:0;}

/*type2 카테고리선택*/
div.common-search.cate_type2 .search-results{display:none;}
div.common-search.cate_type2.open .search-results{display:block;}
div.common-search.luxury_cate{padding:10px 20px 10px 25px}

.s_cate{font-size:11px; font-weight:normal; padding-left:3px;}
.s_cate em{color:#2485fb !important}

/* 20150303 백화점_AP업체 노출 추가 */
.ap_guide {position:relative; width:998px; height:95px; padding:4px 0; border:1px solid #c9c9c9; border-top:none; background:url(http://img.enuri.info/images/department/view/bg_ap_pattern.gif) repeat-x 0 0;}
.ap_guide strong {position:absolute; top:29px; left:36px; }
.ap_guide .guide_list {margin:0 4px 0 189px; padding:12px 21px 9px; border:1px solid #e1e1e1; background-color:#fff; }
.ap_guide .guide_list  li {font-family:"돋움", dotum; font-size:11px; color:#9e9e9e; letter-spacing:-0.3px; line-height:18px; padding-left:13px; background:url(http://img.enuri.info/images/department/common/bul_bar_gray.gif) no-repeat 0 50%;}


/* 20150511 VIP 내 상품평+평점 정보 노출 */
/* 좌측 상풍별점 */
.comment_mark {position:absolute; right:0; top:220px; width: 100%;}
.comment_mark li {height:18px; line-height:18px;font-family:Malgun Gothic;  }
.comment_mark em {font-style:normal;}
.star_comm {display:block; overflow:hidden;width:100%; font-size:16px; letter-spacing:-0.01em;}
.comment_mark .tit {float:left; }
.comment_mark .bar {float:left; background:url(http://img.enuri.info/images/department/view/bul_bar_gray.gif) 0 5px no-repeat}
	.star_comm .bar {margin-left:10px; padding-left:10px; }
	.evaluate .bar {margin-left:10px; padding-left:9px; }
.star_comm .eval_rate {float:left; color:#333; }
.star_comm .num_rate {float:left; margin-left: 4px;  color:#2485fb; l}
.star_comm .star_rate {float:left;width:77px;height:13px; margin:3px 0 0 0; background-position:0 0}
.star_comm .inner_star {display:block;width:100%;height:100%;font-size:0;line-height:0;background-position:0 -18px;text-indent:-9999px}
.img_star {background:url(http://img.enuri.info/images/department/view/starmark.png) 0 0 no-repeat}
.comment_mark .star_comm .score_mark {margin-left:7px; color:#6b6b6b; line-height: 18px;}
.comment_mark .star_comm .score_mark em {color:#333;}
.evaluate {padding-top: 5px; font-size:12px; letter-spacing:-0.01em;}
.evaluate .tit {color:#2485fb;}
.evaluate .reply {width:351px; display: inline-block; overflow:hidden; text-overflow:ellipsis;white-space:nowrap; color:#676767;}
.screen_out {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.comment_mark .btn_more {position:absolute; top:0; right:7px;  font-family:Malgun Gothic; font-size:12px; color:#959595; letter-spacing:-0.01em; padding-right:12px; background:url(http://img.enuri.info/images/department/view/bul_arrow_rg2.png) 100% 6px no-repeat }

/* 우측 상풍별점 */
.comment_mark2 {margin-top:20px;padding: 15px 0 14px 0; overflow:hidden; border:1px solid #d4d4d4; background-color:#fff; *zoom:1;}
.comment_mark2 ul:after {content:""; display:block; clear:both;}
/*.comment_mark2 ul {margin-left:-20px;}*/
.comment_mark2 ul li {float:left; }
.comment_mark2 ul li.score1 {width:200px;margin-left:68px;}
.comment_mark2 ul li.score2 {width:245px; margin-left:120px;}
.comment_mark2 ul li.score3 {width:90px; margin-left:166px;}
.comment_mark2 em {font-style:normal;}
.comment_mark2 ul li .tit {display:block; margin-bottom:10px; font-family:Malgun Gothic; font-size:12px; color:#333;}
.comment_mark2 ul li .star_comm {line-height: 23px;}
.star_comm .star_rate2 {float:left;width:125px;height:23px;  background-position:0 0}
.star_comm .inner_star2 {display:block;width:100%;height:100%;font-size:0;line-height:0;background-position:0 -28px;text-indent:-9999px}
.img_star2 {background:url(http://img.enuri.info/images/department/view/starmark2.png) 0 0 no-repeat}
.comment_mark2 .star_comm .score_mark {margin-left:10px; font-family:Malgun Gothic;  font-size:20px; color:#6b6b6b; line-height: 21px;}
.comment_mark2 .star_comm .score_mark strong {color:#333;}
.comment_mark2 .case {font-family:Malgun Gothic;  font-size:20px;  color:#6b6b6b; }
.comment_mark2 ul li.score2 .case {margin-left:8px; padding-left:10px; background:url(http://img.enuri.info/images/department/view/bul_bar_gray.gif) 0 10px no-repeat}
.comment_mark2 ul li.score3 .case {padding-left:31px; *line-height:25px;; background:url(http://img.enuri.info/images/department/view/ico_person.gif) 0 4px no-repeat}
.noscore {font-family:Malgun Gothic; font-size:17.5px; color:#a6a6a6; margin-top: -3px;}

div.board-cont {margin-top:0; }
div.board-cont .reply.no_topbox {margin-top:35px;} /* 상단 평점 박스가 없을 때 */