@charset "utf-8";

/************************************************************************
 * 파일명   : common.css
 * 설명     : 목업 COMMON CSS
 * 작성자   : 지승호
 * 작성일   : 2021.06.07
************************************************************************/

/* 목업 메인 */
body *{font-family:'Noto Sans KR',tahoma,"Apple SD Gothic Neo",'malgun gothic',"맑은고딕",'dotum','돋움','gulim','굴림',verdana,sans-serif !important;}
.main-wrap {position:relative;width:100%;height:100%;}
.main-wrap h1 {margin-bottom:10px;margin-left:10px;font-size:24px;font-weight:bold;font-weight:700;text-align:center}
.main-wrap .links {position:absolute;top:50%;left:50%;min-width:980px;width:70%;min-height:280px;margin:0 auto;transform:translate(-50%,-50%)}
.main-wrap .links ul {display:flex;flex-flow:row nowrap;order:1;justify-content:center;height:100px;}
.main-wrap .links ul:after {content:"";display:table;clear:both;}
.main-wrap .links ul li {display:inline-block;width:15%;height:100%;}
.main-wrap .links ul li a {display:block;position:relative;width:90%;height:100%;margin:5%;background-color:#f1f1f1;transition:all .1s ease-in-out;}
.main-wrap .links ul li a:before {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border:1px solid #a9a9a9;pointer-events:none}
.main-wrap .links ul li a span {display:block;position:absolute;top:50%;width:100%;font-size:20px;font-weight:bold;font-weight:500;color:#333;text-align:center;line-height:24px;transform:translateY(-50%)}
.main-wrap .links ul li a:hover {background-color:#3a7bd5}
.main-wrap .links ul li a:hover span {font-size:21px;color:#fff;text-decoration:none}

@media (max-width:980px){
    .main-wrap .links {top:50%;left:0;transform:translate(0, -50%);}
}
@media (max-height:900px){
    .main-wrap .links {top:30px;left:50%;transform:translate(-50%, 0);}
}

@media (max-width:760px){
    .main-wrap .links {top:30px;left:0;width:100%;min-width:auto;min-height:auto;transform:none}
    .main-wrap .links ul {height:auto;}
    .main-wrap .links ul li {width:30%;margin:0;padding:0;}
    .main-wrap .links ul li a {height:80px;font-size:16px;line-height:80px;}
}

/* 모바일 레이아웃 CSS */
#wrap {min-width:0;width:360px;}
.mock_wrap {}
.mock_wrap .dimmed {position:relative;position:fixed;top:0;bottom:0;left:0;right:0;background-color:#242f3f;z-index:1;}
.mock_box {overflow:hidden;position:relative;position:fixed;top:50%;left:50%;width:360px;height:760px;margin-bottom:30px;border-radius:35px;transform:translate(-50%, -50%);z-index:10;}
.mock_head {position:relative;width:360px;height:90px;border-bottom:1px solid #eaeaea;background:url(http://img.enuri.info/images/mobile_v2/iframe_header.png) no-repeat 0 0;z-index: 1;}
.mock_head .txt_url{position:absolute;width:306px;height:32px;line-height:32px;font-size:14px;text-align:center;overflow:hidden;text-overflow: ellipsis;color:#000;top:48px;left:16px}
.mock_cont {overflow:hidden;position:absolute;top:90px;left:50%;bottom:40px;width:360px;height:calc(100% - 90px);padding-right:20px;margin-left:10px;background-color:#fff;overflow:hidden;overflow-y:scroll;transform:translateX(-50%);background-color:#F6F6F6}
.mock_inner {max-width:360px}
.tabs_cont {width:100%}
.tabs_cont > div > img {width:100%;height:100%;vertical-align:top}

.m-tabs {position:fixed;bottom:30px;left:0;right:0;width:100%;text-align:center;z-index:999;}
.m-tabs li {display:inline-block;width:40px;height:40px;margin:0 5px;border:1px solid #eee;border-radius:100%;font-size:16px;font-weight:bold;font-weight:500;cursor:pointer;text-align:center;line-height:40px;vertical-align:middle;background-color:#14171e;transition:all .1s ease-in-out;}
.m-tabs li.tab {color:#333;background:rgba(255,255,255,1);}
.m-tabs li.tab:hover {background:rgba(255,255,255,.7);}
.m-tabs li.tab.on {color:#fff;background-color:#005faf}
.m-tabs li.goback {width:100px;border-radius:25px;}
.m-tabs li.goback a {display:block;color:#fff;}
.m-tabs li.goback:hover {opacity:.8;}
.m-tabs li.goback:hover a {text-decoration:none}
.m-tabs li.gotop a {display:block;color:#fff;font-weight:normal;}
.m-tabs li.gotop:hover {opacity:.8;text-decoration:none}
.m-tabs li.gotop:hover a {text-decoration:none}

@media (max-height:900px){
    .mock_box {position:absolute;top:30px;bottom:30px;transform:translate(-50%, 0)}
}
@media (max-width:759px){
    .m-tabs li {width:30px;height:30px;margin:0;font-size:14px;line-height:30px;}
}

.eclub_wrap {width:100%;background-color:#242f3f;}
.eclub {overflow:hidden;position:relative;width:360px;margin:0 auto}
.eclub img {width:360px;height:auto;vertical-align:top}
.eclub .btn:hover {background:rgba(0,0,0,0.01) !important}

.eclub .eclub_main {overflow:hidden;width:100%;height:100%;}
.eclub .cont-bg {position:relative;padding-bottom:60px;}

.eclub .cont-1 {position:absolute;top:153px;width:100%;height:288px;}
.eclub .cont-1 .swiper-slide {padding:20px 0 66px;}
.eclub .cont-1 img {display:block;margin:0 auto;width:336px;height:auto;box-shadow:0 6px 16px rgba(0,0,0, .16)}
.eclub .cont-1 .arr {position:absolute;top:50%;margin-top:-26px;;z-index:10;width:53px;height:53px;font-size:0;text-indent:-9999px;}
.eclub .cont-1 .arr:active {transform:translateY(1px)}
.eclub .cont-1 .arr-prev {left:-4px;background:url(http://img.enuri.info/images/homemain/210803/swiper-arr-left.png) no-repeat;background-size:53px;}
.eclub .cont-1 .arr-next {right:-4px;background:url(http://img.enuri.info/images/homemain/210803/swiper-arr-right.png) no-repeat;background-size:53px;}
.eclub .cont-1 .arr.swiper-button-disabled{opacity:0;cursor:default}
.eclub .cont-1 .arr.swiper-button-disabled:active {transform:translateY(0)}
.eclub .cont-1 .swiper-pagination {position:relative;bottom:42px;font-size:0;text-align:center}
.eclub .cont-1 .swiper-pagination .swiper-pagination-bullet {width:8px;height:8px;margin:0 4px;border-radius:4px;border:none;background-color:#ccc;opacity:1}
.eclub .cont-1 .swiper-pagination .swiper-pagination-bullet-active {width:20px;background-color:#888}

.eclub .cont-2 {overflow:hidden;position:absolute;top:372px;width:100%;height:436px;}
.eclub .cont-2 .btn {width:100%;height:222px;background:transparent;transition:background .3s ease-in-out;}
.eclub .cont-2 .btn-1 {margin-top:182px;}
.eclub .cont-2 .btn-2 {}

.fixed_nav {opacity:0;overflow:hidden;overflow-y:auto;position:fixed;top:0;left:50%;bottom:0;margin-left:-180px;z-index:100;background-color:#fff;transform:translateX(100%);transition:all .3s ease-in-out}
.fixed_nav.is-expand {opacity:1;transform:translateX(0)}
.fixed_nav img {width:360px;height:auto;}
.fixed_nav .fnav {display:none}
.fixed_nav .fnav.is-shown {display:block;position:relative;}
.fixed_nav .fnav .btn {display:block;position:absolute;font-size:0;text-indent:-9999px;background:transparent;}
.fixed_nav .fnav .btn-back {top:0;left:0;width:50px;height:52px;}
.fixed_nav .fnav .btn-close {top:0;right:0;width:50px;height:52px;}
.fixed_nav .fnav .btn-tab1 {top:52px;right:0;width:50%;height:44px;}
.fixed_nav .fnav .btn-tab2 {top:52px;left:0;width:50%;height:44px;}
.fixed_nav .fnav .btn-card-1 {top:355px;left:0;width:100%;height:440px;}
.fixed_nav .fnav .btn-delivery-1 {top:440px;right:6px;z-index:10;width:20%;height:44px;}

.bottom_sheet {display:none;position:fixed;top:0;left:50%;bottom:0;width:360px;margin-left:-180px;z-index:110;}
.bottom_sheet.is-shown {display:block}
.bottom_sheet .dimmed {position:fixed;top:0;left:50%;bottom:0;width:360px;margin-left:-180px;z-index:10;background-color:rgba(0,0,0,.5)}
.bottom_sheet .bottom {position:fixed;bottom:0;left:50%;width:360px;margin-left:-180px;z-index:20;transform:translateY(100%);transition:transform .3s ease-in-out}
.bottom_sheet .bottom.is-expand {transform:translateY(0)}
.bottom_sheet .bottom img {width:360px;height:auto;vertical-align:top}
.bottom_sheet .btn-close {position:absolute;top:0;right:0;width:50px;height:50px;font-size:0;text-indent:-9999px;background:transparent}

.tabbar {position:fixed;bottom:0;left:50%;width:360px;margin-left:-180px;box-shadow:0 3px 6px rgba(0,0,0, .5)}
.tabbar img {width:100%;height:auto;vertical-align:top}