@charset "utf-8";
/************************************************************************
 * 파일명 : common.css
 * 설명 : 에누리 신차견적 (PC)
 * 작성자  : 신왕섭
 * 작성일 : 2020.07.29 
 * 수정내용 : NotoSans 경로변경
************************************************************************/
@import url("/css/webfont.css");
/* @import url("/css/webfont-local.css");  */
/*
    NotoSans Font Weight
    300 - Light 
    400 - Regular
    500 - Medium
    700 - Bold
*/
*{margin:0;padding:0;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
html,body{width:100%;margin:0;padding:0;font-family:'Noto Sans KR','Apple SD Gothic Neo',tahoma,malgun gothic,"맑은고딕",dotum,'돋움',gulim,'굴림',verdana,sans-serif !important;font-size:12px;line-height:1.5;font-weight:400;-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;color:#222}
ul,ol,li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset,img{border:none;}
legend,caption{display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;margin:0;padding:0;}
table{border-collapse:collapse;word-break: break-all;font-size:12px;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block}
audio, canvas, video {display: inline-block;*display: inline;*zoom: 1}
audio:not([controls]) {display: none}
[hidden] {display: none}
abbr[title] {border-bottom: 1px dotted}
b, strong {font-weight: bold}
dfn {font-style: italic}
mark {color: #000;background: #ff0}
pre {white-space: pre;white-space: pre-wrap;word-wrap: break-word;}
q, blockquote {quotes: none}
q:before,q:after,blockquote:before,blockquote:after {content: '';content: none}
em {font-style: normal}
small {font-size: 75%}
sub, sup {position: relative;font-size: 75%;line-height: 0;vertical-align: baseline}
sup {top: -0.5em}
sub {bottom: -0.25em}
img {border: 0;-ms-interpolation-mode: bicubic}
svg:not(:root) {overflow: hidden}
pre,code,kbd,samp {/* font-family: monospace, sans-serif;font-size: 1em; */font-size:inherit;font-family: inherit;color:inherit;line-height:inherit}
/* Common Custom */
.hide {display:none}  /* none */
.blind {display:block;overflow:hidden;position:absolute;text-indent:-9999px;top:-9999px;font-size:0;width:1px;height:1px;left:-9999px;line-height: 0;} /* hide */
.png24{tmp:expression(setPng24(this));}
/* Link Css */
a {cursor:pointer;color:inherit}
a:link,a:visited,a:active {text-decoration:none}
a:hover{text-decoration:none;}
/* form */
textarea,input,select,label{font-family:/* 'Apple SD Gothic Neo', */'Noto Sans KR',tahoma,malgun gothic,"맑은고딕",dotum,'돋움',gulim,'굴림',verdana,sans-serif!important;font-size:12px;outline:none;line-height:normal;background:transparent;border:0;outline:0}
button {border:0 none;cursor:pointer;vertical-align:middle;background-color:transparent;outline:none;font-family:/* 'Apple SD Gothic Neo', */'Noto Sans KR',tahoma,malgun gothic,"맑은고딕",dotum,'돋움',gulim,'굴림',verdana,sans-serif;}
input{font-family:/* 'Apple SD Gothic Neo', */'Noto Sans KR',tahoma,malgun gothic,"맑은고딕",dotum,'돋움',gulim,'굴림',verdana,sans-serif !important}

/* Contents */
#wrap{position:relative;width:100%;margin:0 auto;min-width:1280px;overflow:hidden}
#wrap.popup{width:900px;min-width:900px}
/* .comm_sprite{background-image:url(http://img.enuri.info/images/global/common_sprite.png);} */
.comm_sprite{background-image:url(http://img.enuri.info/images/newcar/car_sprite.png);}
.dimmed{position:fixed;top:0;left:0;width:100%;height:100%;z-index:510;background:rgba(0,0,0,.5)}
.dimmed .layer_inner{position: absolute;top:50%;left:50%;transform:translate(-50%,-50%);background-color:#fff;border:1px solid #dbdbdb;box-shadow: 0px 20px 20px rgba(0,0,0,.2);}
.dimmed .layer_inner .btn_close{width:22px;height:22px;background-position:-280px -40px;text-indent:-9999em}
.dimmed .btn_bg_close{position: absolute;top:0;left:0;width:100%;height:100%;z-index:-1}

/* 헤더 */
#header{position: relative; border-bottom:1px solid #eee; }
#header .inner{position:relative;width:1280px;margin:0 auto;}

/* 메인헤더 */
#header .header_wrap{background-color:#fff;transition:all .4s ease-in-out}
#header .header_wrap .inner{}
#header .header_wrap.is-expand {margin-bottom:50px;}
#header h1{position: absolute;top:42px;left:0;}
#header h1 a{display:block;width:97px;height:28px;text-indent:-9999em;background-position:0 0}

/* GNB */
#header .nav_global{position:relative; margin:0 0 0 200px; font-size:18px;color:#222222;letter-spacing: -.6px}
#header .nav_global:after {content:""; display: block; clear:both;}
#header .nav_global > li{position:relative; float:left;}
#header .nav_global > li > a {position:relative; display:block; padding: 43px 25px; color:#222}
#header .nav_global > li.on > a,
#header .nav_global > li:hover > a{color:#0060AF;font-weight:500}

#header .nav_global > li > a em {position:relative; padding: 0 4px 2px;}
#header .nav_global > li > a em:after {content:""; display: block; width: 100%; height: 2px; background-color: #0060AF; transition: all .4s; position:absolute; bottom:0; left:0; transform-origin: center; transform: scale(0);}
#header .nav_global > li.on > a em:after,
#header .nav_global > li:hover > a em:after {transform: scale(1);}

/* 211027 : gnb 서브카테고리 작업 */
#header .sub_nav_global {position:absolute; display: none; top:100%; height:50px; left:0; z-index: 100; white-space: nowrap; font-size: 0; transform: scaleY(1); transform-origin: center top;}
#header .sub_nav_global:before {content:""; display: block; width:9999px; height:100%; background-color:#0073be; position:absolute; left:-5000px;}
#header .sub_nav_global > li {position:relative; display: inline-block; z-index: 10;}
#header .sub_nav_global > li > a {display: block; color:#fff; opacity: .5; font-size: 16px; height:50px; line-height: 50px; padding:0 25px;}
#header .sub_nav_global > li.on > a,
#header .sub_nav_global > li > a:hover {opacity: 1;}

#header .nav_global > li.active > .sub_nav_global {display: block; animation: hoverEffect .4s ease-in-out; z-index: 10;}
@-webkit-keyframes hoverEffect {
    from {transform: scaleY(0); }
    to {transform: scaleY(1);}
}
@keyframes hoverEffect { 
    from {transform: scaleY(0);}
    to {transform: scaleY(1);}
}

#header .header_bnr{position: absolute;right:0;top:24px;height:60px}
#header .header_bnr li{width:280px;height:60px;overflow:hidden;background-color:#fff}

#header .shortcuts{font-size:14px;position:absolute;top:45px;right:0;}
#header .shortcuts li{float:left;height:24px;}
#header .shortcuts li i.comm_sprite{width:24px;height:24px;float:left;display:block;margin-right:4px;}
#header .shortcuts li a{display:block;width:98px;line-height:24px;font-size:14px;margin-left:20px;color:#333;letter-spacing:-1px}
#header .shortcuts li:hover a{text-decoration: underline;}
.btn__estimate .comm_sprite{background-position:-152px 0}
.btn__pricenoti .comm_sprite{background-position:-120px 0}

/* 인풋 박스 */
.inp_basic{font-size:14px;color:#333}
.inp_basic input[type="text"]{width:134px;height:34px;border:1px solid #aaa;padding:0 16px;font-size:14px;letter-spacing:-.5px;border-radius:2px}

/* 셀렉트 박스 */
.select_basic{height:34px;border:1px solid #aaa;border-radius:2px}
select.select_basic{position:relative;font-family:/* 'Apple SD Gothic Neo', */'Noto Sans KR',tahoma,malgun gothic,"맑은고딕",dotum,'돋움',gulim,'굴림',verdana,sans-serif;font-size:14px;color:#666;display: inline-block;height: 36px;line-height: 32px;padding: 0 32px 0 16px;box-sizing: border-box;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;-ms-appearance: none;appearance: none;border-radius: 2px;background: url(http://img.enuri.info/images/newcar/ico_arr_down.png) no-repeat calc(100% - 12px) 15px;letter-spacing:-1px}
.select_basic a{display:block;position:relative;height:34px;font-size:14px;color:#666}
.select_basic > a:hover{text-decoration: underline;}
.select_basic a i.ico_size_arr{position: absolute;top:15px;right:12px;}
.select_basic .tx_select{display:block;padding:7px 0 7px 16px;margin-right:20px;overflow:hidden;height: 20px;text-overflow: ellipsis;white-space: nowrap;}
.select_basic .select_list{padding-bottom:1px;max-height:204px;overflow-y:auto}
.select_basic .select_list .tx_select{margin-right:0}
.select_basic.is-unfold > a:after{content:"";position: absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(255,255,255,.5);}

/* 체크박스 */
.chkbox_basic{/* overflow:hidden */}
.chkbox_basic li{position: relative}
.chkbox_basic li label{display:block;padding-left:24px;font-size:14px;cursor:pointer;line-height:20px;}
.chkbox_basic li label:before{content:"";position: absolute;top:0;left:0;bottom:0;width:18px;border:1px solid #dddddd;background-color:#fff;border-radius:2px;overflow:hidden}
.chkbox_basic li:hover label{text-decoration: underline;}
.chkbox_basic li:hover label:before{border-color:#bbb}
.chkbox_basic li input[type="checkbox"]{position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;visibility: hidden;}
.chkbox_basic li input[type="checkbox"]:checked + label:before{background-image:url(http://img.enuri.info/images/newcar/car_sprite.png);background-position:-185px -25px;border-color:#0073be}

/* 라디오버튼 */
.radio_basic{/* overflow:hidden */}
.radio_basic li{position: relative}
.radio_basic label{display:block;padding-left:24px;font-size:14px;cursor:pointer;line-height:20px;}
.radio_basic.radio--sm label{padding-left:20px}
.radio_basic label:before{content:"";position: absolute;top:0;left:0;bottom:0;overflow:hidden;background-image:url(http://img.enuri.info/images/newcar/car_sprite.png);width:20px;height:20px;top:0;background-position:-232px 0px;}
.radio_basic.radio--sm label:before{width:16px;height:16px;top:2px;background-position:-256px 0px;}
.radio_basic li:hover label{text-decoration: underline;}
.radio_basic li:hover label:before{border-color:#bbb}
.radio_basic input[type="radio"]{position:absolute;top:0;left:0;width:1px;height:1px;opacity:0;visibility: hidden;}
.radio_basic input[type="radio"]:checked + label:before{background-position:-232px -24px}
.radio_basic.radio--sm input[type="radio"]:checked + label:before{background-position:-256px -24px}

/* 버튼 : 더보기 */
.btn__head_more{position: relative;height:20px;line-height:18px;padding-right:16px;font-size:14px;color:#666;letter-spacing:-.5px;}
.btn__head_more:hover{text-decoration:underline;}
.btn__head_more .ico_rarr_md_b{position: absolute;right:0;top:2px;text-indent:-9999em}
.btn__head_more .ico_rarr_sm_b{position: absolute;right:0;top:4px;text-indent:-9999em}

/* Location */
.location{height:51px;}
.location .location_wrap{height:50px;border-bottom:1px solid #ccc;background-color:#F8F8F8}
.location .location_inner{width:1280px;margin:0 auto}
.location .location_list{height:24px;padding:12px 0;}
.location .location_list li, 
.location .location_list li a{font-size:16px;color:#000;letter-spacing:-.5px;line-height:24px}
.location .location_list > li{float:left;padding-right:24px;position: relative;margin-left:8px}
.location .location_list > li:after{content:"";position: absolute;top:4px;right:0;width:16px;height:16px;background-image:url(http://img.enuri.info/images/newcar/car_sprite.png);background-position: -328px -24px;background-repeat:no-repeat}
.location .location_list > li:first-child{margin-left:0}
.location .location_list > li:last-child{padding-right:0}
.location .location_list > li:last-child:after{display:none}
.location .sub_loc .btn_loc{padding-right:20px;position: relative;}
.location .sub_loc .btn_loc:after{content:"";position: absolute;top:5px;right:0;width:16px;height:16px;background:url(http://img.enuri.info/images/newcar/car_sprite.png) no-repeat;background-position:-304px -24px}
.location .sub_loc.on .btn_loc:after{background-position:-304px 0}

.location .sub_loc > ul{position: absolute;top:32px;left:-9px;z-index:10;background-color:#fff;border:1px solid #707070;border-top:0;width:100%;display:none;padding:5px 9px 5px 0;max-height:150px;overflow-y:auto;}
.location .sub_loc > a.btn_loc{z-index:11;min-width:40px;display:block}
.location .sub_loc li{line-height:13px;padding:6px 0;width:100%;font-size:13px;padding-left:8px;overflow:hidden;cursor: pointer;}
.location .sub_loc li:hover{text-decoration:underline;color:#0073BE}
.location .sub_loc.on > ul{display:block;}
.location .sub_loc.on:after{content:"";top:-6px;left:-9px;z-index:10;position:absolute;width:100%;height:37px;background-color:#fff;border:1px solid #707070;border-bottom:1px solid #ddd;padding-right:9px;}
.location .location_list li:last-child .sub_loc.on:after{padding-right:20px}
.location .location_list li:last-child .sub_loc > ul{padding-right:20px}

#footer{border-top:1px solid #aaaaaa;/* height:200px */}
.footer .box_quick{position:fixed;bottom:50px;right:15px;-webkit-transition:.3s all ease-in-out;-o-transition:.3s all ease-in-out;transition:.3s all ease-in-out;-webkit-transform:translateY(40px);-ms-transform:translateY(40px);transform:translateY(40px);opacity:0;}
.footer .box_quick ul li{margin-top:4px;width:56px;height:56px;}
.footer .box_quick ul li:hover{-webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);box-shadow: 0 0 10px rgba(0,0,0,.3)}
.footer .btn_top--quick{width:56px;height:56px;background-position:0 -40px;display:block;text-indent:-9999em}
.scr_down .footer .box_quick.scr_mode{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}
.scr_up .footer .box_quick.scr_mode{-webkit-transition-delay:.5s;-o-transition-delay:.5s;transition-delay:.5s}

/* 200605 푸터개편 */
.footer--com{font-family:Roboto,/* 'Apple SD Gothic Neo', */'Noto Sans KR', "맑은 고딕", Malgun Gothic, Dotum, "돋움", verdana, sans-serif;font-weight: 400;line-height:22px;font-size:13px}
.footer--com .footer__inner{width:970px;margin:0 auto}
.footer--com .footer__menu{background-color:#fff;border-top:2px solid #333;border-bottom:1px solid #aaa;font-size:13px;height:50px;letter-spacing:-1px;text-align:center}
.footer--com .footer__menu .footer__menu_list{display:-webkit-box;display:-ms-flexbox;display:flex;}
.footer--com .footer__menu .footer__menu_list li{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto;padding-left:1px;position: relative;}
.footer--com .footer__menu .footer__menu_list li:before{content:"";position: absolute;top:18px;left:0;bottom:18px;border-left:1px solid #dddddd;}
.footer--com .footer__menu .footer__menu_list li:first-child:before{display:none}
.footer--com .footer__menu .footer__menu_list li a{display:block;line-height:20px;height:20px;padding:15px 0;}
.footer--com .footer__menu .footer__menu_list li a strong{font-weight:500;color:#333}
.footer--com .footer__menu .footer__menu_list li:hover a{color:#333;-webkit-transform:translateY(1px);-ms-transform:translateY(1px);transform:translateY(1px)}
.footer--com .footer__info{padding:26px 0 30px;overflow:hidden;color:#999;letter-spacing:-.5px;line-height:26px;text-align:center}
.footer--com .footer__tx_noti,
.footer--com .footer__tx_copyright{display:block;}
.footer--com .footer__tx_copyright{font-size:12px;color:#666;letter-spacing:0}
.footer--com .footer__info_com{padding:12px 0}
.footer--com .footer__info_com > span,
.footer--com .footer__info_com > addr{padding:0 8px;display:inline-block;position: relative;}
.footer--com .footer__info_com > span > b{font-weight:400;color:#666}
.footer--com .footer__info_com > span:before{content:"";position: absolute;top:6px;left:0;height:14px;border-left:1px solid #ddd}
.footer--com .footer__info .footer__tx_tit{display:inline-block;font-weight:500;color:#666;font-size:14px;padding-right:0}
.footer--com .footer__info .footer__tx_tit:before,
.footer--com .footer__info .footer__tx_tel:before{display:none}
.footer--com .footer__info .footer__tx_mail a{text-decoration:underline;color:#666}
.footer--com .footer__info .footer__tx_mail a:hover{color:#333}
.footer--com .footer__info .tx_num{letter-spacing:0;}
/* Wide형 */
/* .footer--com.wide{} */
.footer--com.wide .footer__inner{width:1280px}

/* 레이어 */
.lay_box{position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000}
.lay_box label{font-family: Roboto,'Noto Sans KR', "맑은 고딕", Malgun Gothic, Dotum, "돋움", verdana, sans-serif;}
.lay_box .lay_inner{position: absolute;background-color:#fff;left:50%;top:50%;z-index: 2;max-height:100%;overflow-y:auto!important}
.lay_box .lay_inner .btn__lay_close{width:32px;height:32px;background-position:-60px -40px;background-color:#596374;position: absolute;top:0;right:-32px;text-indent:-9999em}
.lay_box .lay_inner .btn__layin_close{width:24px;height:24px;background-position: -604px -48px;position: absolute;top:20px;right:20px;text-indent:-9999em}
.lay_box .dimmed{position: absolute;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);z-index: 1;}