@charset "utf-8";

/************************************************************************
 * 파일명 : intro.css
 * 설명 : 에누리 신차견적 - 소개페이지 (PC)
 * 작성자  : 신왕섭
 * 작성일 : 2020.11.19
************************************************************************/

/* Common */
.section_inner{width:1280px;margin:0 auto}
.container .intro h3:after{display:none}

/* Intro */
.intro{letter-spacing:-1px}
.intro_top{text-align:center}
.section_tit{background-color:#EBF2FA;height:720px;position:relative}
.section_tit .tx_sub{font-size:30px;line-height:45px;padding-top:85px;display:block;color:#555;letter-spacing:-2px}
.section_tit h2{display:inline-block;margin-top:28px;padding-top:62px;position: relative;}
.section_tit h2 em{color:#266DCB;font-size:78px;letter-spacing:-4px;line-height:92px;}
.section_tit h2 .tx_tit{position: absolute;top:0;left:4px;right:0px;line-height:60px;color:#333;font-size:44px;text-align: justify;text-align-last: justify;letter-spacing:8px}
.section_tit .visual{position:absolute;top:369px;left:50%;margin-left:-402px;width:916px;height:453px;background:url(//img.enuri.info/images/newcar/intro/intro_visual.png) no-repeat 0 0;}
.section_tit .visual{transition:2s all ease;opacity:0;transform:translate(80px,-15px)}
.section_tit .visual.show{opacity:1;transform:translate(0,0)}
.section_summ{background-color:#9BC2F6;height:660px;}
.section_summ h3{padding-top:96px;line-height:70px;color:#24418A;font-weight:500;font-size:48px;letter-spacing:-2px;height:auto;border:0;display:block}
.section_summ .tx_sub{display:block;font-size:24px;line-height:32px;margin-top:18px;color:#fff}
.section_summ dl{width:1200px;height:180px;position: relative;border-radius:10px;margin:45px auto 0;background-color:#fff;overflow:hidden}
.section_summ dl:before{content:"";position: absolute;top:0;left:0;right:0;bottom:0;border:6px solid #237DF3;border-radius: 10px;}
.section_summ dt{position: absolute;top:35px;width:50%;font-size:30px;line-height:45px;color:#333}
.section_summ dl dt{right:0}
.section_summ dl dt:first-child{left:0}
.section_summ dd{float:left;position:relative;width:50%;padding-top:85px;height:54px;line-height:54px;font-weight:700;font-size:40px;color:#237DF3}
.section_summ dl dt:first-child + dd:after{content:"";position: absolute;top:39px;height:100px;border-right:2px solid #ccc;right:-1px}
.section_summ .tx_source{display:block;margin-top:20px;color:#237DF3;font-size:22px;line-height:34px;opacity:.9}
.section_summ .tx_source .tx_date{display:block;color:#fff;font-size:18px;line-height:28px;opacity:.75}

/* LNB */
.intro_cont{}
.section_head{background:#24418A;padding:80px 0;text-align:center}
.section_head h3{line-height:42px;font-size:40px;color:#fff;letter-spacing:-2px}
.section_head .lnb_wrap{margin-top:48px;height:80px;}
.section_head .lnb_inner{height:80px;}
.section_head .lnb_inner ul{width:1200px;margin:0 auto;height:80px;overflow:hidden;position: relative;border-radius:6px}
.section_head .lnb_inner ul:before{content:"";position:absolute;top:0;left:0;right:0;bottom:0;border:1px solid #237DF3;border-radius:6px;z-index:2}
.section_head .lnb_inner ul li{position:relative;width:238px;float:left;height:80px;border-left:1px solid #237DF3;border-right:1px solid #237DF3;background-color:#4771aa}
.section_head .lnb_inner ul li a{display:block;height:80px;line-height:78px;color:#fff;font-size:24px;position: relative;z-index:3;}
.section_head .lnb_inner ul li.on{background-color:#237df3!important}
.section_head .lnb_inner ul li:hover{background-color:#466ea5}

.section_head .lnb_wrap.sticky .lnb_inner{position:fixed;top:0;left:0;right:0;z-index:100;background-color:#24418A;transition:.3s transform ease}
.section_head .lnb_wrap.sticky .lnb_inner ul{border-radius:0;}
.section_head .lnb_wrap.sticky .lnb_inner ul:before{display:none}
.section_head .lnb_wrap.sticky .lnb_inner ul li{background-color:#24418A;border-left:1px solid #24418A;border-right:1px solid #24418A;}
/* .scr_up .section_head .lnb_wrap.sticky .lnb_inner{transform:translateY(-100%);transition-delay:.5s}
.scr_down .section_head .lnb_wrap.sticky .lnb_inner{transform:translateY(0);} */

/* Content */
.section_body{}
.section_body h4{line-height:48px;font-size:40px;color:#344A81;font-weight:500;letter-spacing:-2px}
.section_body h4 em{color:#237DF3}
.section_body .section_inner{box-sizing:border-box}
.section_body .type_01{text-align:left;padding-left:690px}
.section_body .type_02{text-align:right;padding-right:690px}
.section_body .section_inner .tx_sub{display:block;margin-top:20px;font-size:20px;line-height:30px;color:#333}
.section_body .section_inner .tx_sub_noti{display:block;margin-top:11px;font-size:20px;line-height:30px;color:#AAAAAA;font-size:16px}
.section_body .section_inner .btn__move{position:relative;margin-top:70px;display:inline-block;font-size:24px;color:#333;line-height:32px;padding-bottom:6px;border-bottom:1px solid #707070;transition:.3s all ease}
.section_body .section_inner .btn__move:after{content:"";position:absolute;width:30px;height:30px;bottom:0;}
.section_body .section_inner .btn__move.ready{color:#AAAAAA;border-bottom-color:#aaa;}
.section_body .section_inner .btn__move.ready:after{border-color:#aaa!important}
.section_body .type_01 .btn__move{padding-right:58px}
.section_body .type_01 .btn__move:hover{padding-left:10px;padding-right:68px}
.section_body .type_01 .btn__move:after{transform:rotate(-45deg);transform-origin:100% 100%;border-right:1px solid #a7a7a7;right:0;}
.section_body .type_02 .btn__move{padding-left:58px}
.section_body .type_02 .btn__move:hover{padding-left:68px;padding-right:10px;}
.section_body .type_02 .btn__move:after{transform:rotate(45deg);transform-origin:0 100%;border-left:1px solid #a7a7a7;left:0}

.sec_intro_01{height:550px;padding:120px 0 130px}
.sec_intro_01 .section_inner{height:100%;padding-top:92px;background:url(//img.enuri.info/images/newcar/intro/intro_bg_01.png) no-repeat 0 0}

.sec_intro_02{padding:152px 0 144px}
.sec_intro_02 .type_01{height:417px;background:url(//img.enuri.info/images/newcar/intro/intro_bg_02-1.png) no-repeat 64px 0}
.sec_intro_02 .type_01 h4{padding-top:94px}
.sec_intro_02 .type_02{height:527px;margin-top:80px;background:url(//img.enuri.info/images/newcar/intro/intro_bg_02-2.png) no-repeat 589px 0}
.sec_intro_02 .type_02 h4{padding-top:105px}

.sec_intro_03{height:475px;padding:148px 0 177px}
.sec_intro_03 .section_inner{height:100%;padding-top:65px;background:url(//img.enuri.info/images/newcar/intro/intro_bg_03.png) no-repeat 143px 0}

.sec_intro_04{height:417px;padding:177px 0 206px}
.sec_intro_04 .section_inner{height:100%;padding-top:34px;background:url(//img.enuri.info/images/newcar/intro/intro_bg_04.png) no-repeat 669px 0}

.sec_intro_05{height:471px;padding:165px 0}
.sec_intro_05 .section_inner{height:100%;padding-top:64px;background:url(//img.enuri.info/images/newcar/intro/intro_bg_05.png) no-repeat 25px 0}

.sec_intro_06{padding:144px 0 151px;text-align:center}
.sec_intro_06 ul{margin:38px auto 0;width:1224px;overflow:hidden}
.sec_intro_06 ul li{margin:0 12px;padding-top:289px;float:left;width:384px;cursor: pointer;}
.sec_intro_06 ul li:hover h5{font-weight:500}
.sec_intro_06 .spe_01{background:url(//img.enuri.info/images/newcar/intro/intro_spe_01.png) no-repeat 0 0}
.sec_intro_06 .spe_02{background:url(//img.enuri.info/images/newcar/intro/intro_spe_02.png) no-repeat 0 0}
.sec_intro_06 .spe_03{background:url(//img.enuri.info/images/newcar/intro/intro_spe_03.png) no-repeat 0 0}
.sec_intro_06 h5{font-size:30px;line-height:45px;color:#237DF3}
.sec_intro_06 .tx_spe{display:block;line-height:28px;font-size:20px;color:#333;margin-top:7px}

.sec_intro_02,
.sec_intro_04,
.sec_intro_06{background-color:#eaf2fd}

.service_cont{padding:80px 0;background-color:#000;text-align:center}
.service_cont ul{width:1242px;margin:0 auto;overflow:hidden;height:88px;}
.service_cont ul li{width:372px;height:88px;margin:0 21px;float:left}
.service_cont ul li a{display:block;width:100%;height:88px;box-sizing:border-box;border:2px solid #fff;border-radius:6px;line-height:86px;font-size:24px;color:#fff;}
.service_cont .serv_02{background:url(//img.enuri.info/images/newcar/intro/ico_app_store.png) no-repeat 50% 50%}
.service_cont .serv_03{background:url(//img.enuri.info/images/newcar/intro/ico_play_store.png) no-repeat 50% 50%}
.service_cont .serv_02 a,
.service_cont .serv_03 a{text-indent:-9999em}
.service_cont .tx_service{display:block;margin-top:45px;line-height:27px;color:#fff;opacity:.75;font-size:18px;}
