@charset "utf-8";
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}

.font13 {font-size: 13px;}
.font14 {font-size: 14px;}
.font15 {font-size: 15px;}
.font16 {font-size: 16px;}
.font17 {font-size: 17px;}
.font18 {font-size: 18px;}
.bold {font-weight: bold;}
.clear:after { content:""; display: block; clear:both;}
.table { width: 100%; border-collapse: collapse; border-spacing: 0;}
::placeholder {color:#999;}

/* 리스트 데코타입 (특정기호) */
.list_deco {}
.list_deco >li { position:relative; padding-left:18px;}
.list_deco >li >.deco { position:absolute; top:0; left:0;}

.common_container { position:relative;}
.common_container,
.common_container *,
.common_container *:before,
.common_container *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.common-wrap {width: 1280px;margin:0 auto;padding:42px 0 80px;}

.top_banner { height: 320px; background-size: auto 100%; background-color: #3a4149; background-repeat: no-repeat; background-position: center;}
.top_banner .common-wrap {padding:65px 0 0 100px;}
.top_banner .mainbanner_tit{ font-size: 32px; letter-spacing: -1.28px; color:#fff; margin-bottom: 6px; transition:.5s all ease-in-out; transition-delay:.5s; transform:translateX(20px); opacity:0;}
.top_banner .mainbanner_summary { font-size: 18px; letter-spacing: -0.72px; color:#fff; line-height: 1.7; margin-bottom: 6px; transition:.5s all ease-in-out; transition-delay:1.25s; transform:translateX(20px); opacity:0;}
.top_banner .mainbanner_summary2 { font-size: 18px; letter-spacing: -0.72px; color:#a2c2ff; transition:.5s all ease-in-out; transition-delay:2s; transform:translateX(20px); opacity:0;}

.top_banner.intro_start .mainbanner_tit,
.top_banner.intro_start .mainbanner_summary,
.top_banner.intro_start .mainbanner_summary2 { transform:translateX(0); opacity:1}

/* 체크박스 공통 */
.c_checkbox {cursor: pointer;}
.c_checkbox input {display: none;}
.c_checkbox .c_checkbox_shape {display: inline-block;vertical-align: middle;width: 20px;height: 20px; margin-right: 4px; background:url("http://img.enuri.info/images/newcar/quote/c_checkbox_shape.png") no-repeat 0 0;}
.c_checkbox input:checked + span {background:url("http://img.enuri.info/images/newcar/quote/c_checkbox_shape_checked.png") no-repeat 0 0;}
.c_checkbox .label_text { display: inline-block; vertical-align: middle; font-size: 16px; color:#000;}

/* 중제목 공통 */
.common-wrap h3 {margin:0 0 18px; padding:0;}
.common-wrap h3 span {}

/* ----------------------------------------------------------------
                     내차 시세 검색페이지
-----------------------------------------------------------------*/
.section_agree {
    position:relative;
}
/* 영역 왼쪽 오른쪽 공통 */
.area_left {float:left;width: 920px;margin-right: 40px;}
.area_right {float:left;width: 320px;}

.section_input_carno {margin-bottom:45px;}
/* 로그인 전*/
.input_carno_wrap .before_login_txt {display: flex; flex-flow: column; justify-content: center; align-items:center; text-align: center; position:absolute; top:0; left:0; width: 100%; height: 100%; background-color: rgba(255,255,255,.9); font-size: 22px; color:000; letter-spacing: -1px; font-weight: 500;}
.input_carno_wrap .before_login_txt .btn_login { display: block; width:200px; height: 44px; background-color: #596374; font-size: 18px; line-height: 44px; margin:15px auto 0; color:#fff;}

/* 로그인 후*/
.input_carno_wrap {position:relative; padding:23px 0; border-top: 2px solid #596374; border-bottom:1px solid #596374; text-align: center;}
.input_carno_wrap .input_carno_summary {font-size: 18px; font-weight: bold; color:#0073be; margin-bottom:12px;}
.input_carno_wrap input[name=carNo] { width:280px; height:56px; border-radius: 1px; border: solid 2px #0073be; background-color: #fff; font-size: 18px; color:#555; text-align: center;}
.input_carno_wrap .input_carno_notice {font-size: 13px; margin-top: 12px; line-height: 1.6;}
.input_carno_wrap .input_carno_notice .txt1 {color:#555;}
.input_carno_wrap .input_carno_notice .txt2 {color:#999;}
.input_carno_wrap .input_carno_notice .txt3 {color:#cf4141;}

/* 전체 체크 */
.area_left .agree_terms {border-top:1px solid #596374;}
.area_left .agree_terms.first {border-top:2px solid #596374;}
.area_left .agree_terms_all_check {border: 1px solid #596374;}
.area_left .agree_terms_all_check .all_chk {display: block; padding: 13px 24px;}
.area_left .agree_terms_all_check .label_text {}

.area_left .terms_tit {position:relative;padding:14px 24px;}
/* 약관보기버튼*/
.area_left .terms_tit .btn_allview{display: block;width: 20px;height: 20px;background: url("http://img.enuri.info/images/newcar/quote/allview_off.png") no-repeat 0 0;position:absolute;top:50%;right: 24px;margin-top:-10px;cursor: pointer;}
.area_left .terms_tit .btn_allview.on{background: url("http://img.enuri.info/images/newcar/quote/allview_on.png") no-repeat 0 0;}

/* 약관내용 */
.area_left .agree_content {display: none;padding:24px;color:#666;background: #f8f8f8;font-size: 14px;line-height: 1.7;letter-spacing: -.5px;}

.area_left .section_btn {text-align: center; margin-top:32px;}
.area_left .section_btn .btn_submit {width:280px; height: 60px; background-color: #0073be; font-size: 20px; font-weight: 500; color:#fff;}

/* area_right */
/* 오른쪽배너 */
.area_right .evt_banner {margin-bottom: 12px;}
.area_right button[type=submit] {border: none;-webkit-border-radius: 4px;border-radius: 4px;background-color: #596374;padding: 15px 24px 14px;width: 100%;text-align: left;-webkit-transition: all .4s;transition: all .4s;}
.area_right button[type=submit]:hover {background-color: #0a74b2;}

/* ----------------------------------------------------------------
                     내차 시세 검색결과페이지
-----------------------------------------------------------------*/
.section_result_top {color:#fff;padding:22px 20px 28px;-webkit-border-radius: 4px;border-radius: 4px;background-color: #596374;margin-bottom:46px}
.section_result_top .mycar_name {font-size: 28px;}
.section_result_top .mycar_info {font-size: 16px;opacity: .5;margin-bottom:16px;}
.section_result_top .mycar_detailinfo {}
.section_result_top .mycar_detailinfo .thumbnail {position:relative;width: 400px;float: left;margin-right: 20px;-webkit-border-radius: 4px;border-radius: 4px;overflow: hidden;}
.section_result_top .mycar_detailinfo .thumbnail .brand_logo {position:absolute;top:14px;left:20px;width: 82px;height: 53px;}
.section_result_top .mycar_detailinfo .thumbnail .thumbnail_img {padding-top:60%;background-position: center;background-repeat: no-repeat;background-size: 100% auto;background-color: #fff;}
.section_result_top .mycar_detailinfo .detailinfo {float: left;width: 460px;border: 1px solid rgba(255, 255, 255, 0.25);-webkit-border-radius: 4px;border-radius: 4px;overflow: hidden;}
.section_result_top .mycar_detailinfo .detailinfo > div{float:left;width: 33.3333%;height:238px;background-position: center 57px;background-repeat: no-repeat;background-color: #48505e;text-align: center;font-size: 24px;color:#fff;padding-top:115px;}
.section_result_top .mycar_detailinfo .detailinfo > div:before {display: block;font-size: 16px;color:#d9f0ff;margin-bottom: 8px;}
.section_result_top .mycar_detailinfo .detailinfo > div.d_info_mycarNo {background-image:url("http://img.enuri.info/images/newcar/quote/icon_mycarNo.png");}
.section_result_top .mycar_detailinfo .detailinfo > div.d_info_mycarNo:before{content:"차량번호";}
.section_result_top .mycar_detailinfo .detailinfo > div.d_info_mycarRelease {border-left: 1px solid rgba(255, 255, 255, 0.25);border-right: 1px solid rgba(255, 255, 255, 0.25);background-image:url("http://img.enuri.info/images/newcar/quote/icon_mycarRelease.png");}
.section_result_top .mycar_detailinfo .detailinfo > div.d_info_mycarRelease:before{content:"최종등록일";}
.section_result_top .mycar_detailinfo .detailinfo > div.d_info_mycarDistance {background-image:url("http://img.enuri.info/images/newcar/quote/icon_mycarMeter.png");}
.section_result_top .mycar_detailinfo .detailinfo > div.d_info_mycarDistance:before{content:"주행거리(Km)";}

/* 시세 바 그래프 */
.section_quote {padding-bottom:30px;border-bottom:1px solid #596374;margin-bottom:50px;}
.seper_line {width: 100%;height: 2px;background: #596374;margin-bottom:28px;}
.section_quote .quote_wrap {padding: 105px 110px 69px;border: 1px solid #dddddd;background-color: #f8f8f8;margin-bottom:10px;}

/* 시세 프로그레스 바 */
#quote_bar {position: relative;background: #ccc;width: 80%;height: 6px;float:left;}
#quote_bar .bar_pips > span{position:absolute;top:12px;white-space: nowrap;font-size: 16px;color:#999;text-indent: -50%;}
#quote_bar .bar_pips > span:before {content:"";display:block;width: 1px;height: 18px;background: #ddd;position:absolute;top:-18px;left:0;}
#quote_bar .bar_pips > span.min_value {left: 0;}
#quote_bar .bar_pips > span.half_value {left: 50%;}
#quote_bar .bar_pips > span.max_value {left: 100%;}

#quote_bar .value_bar {display: block;width: 80%;margin:0 10%;height: 6px;background-color: #2f8bc7;position: absolute;top:0;-webkit-transition: all .4s;transition: all .4s;}
#quote_bar .value_bar > span {display: block;position:absolute;width: 16px;height: 16px;background-color: #2f8bc7;-webkit-border-radius: 50%;border-radius: 50%;top:-5px;}
#quote_bar .value_bar > span.low_dot {left:-8px;}
#quote_bar .value_bar > span.high_dot {right:-8px;}
#quote_bar .value_bar > span.low_dot:hover,
#quote_bar .value_bar > span.high_dot:hover {z-index: 10;}
#quote_bar .value_bar > span:before {content:"";display: block;width: 36px;height: 36px;-webkit-border-radius: 50%;border-radius: 50%;background: #2f8bc7;opacity: .5;position:absolute;top:-10px;left:-10px;animation: .8s linear 0s infinite circle_expand;}
@keyframes circle_expand {
    0% {transform: scale(0); opacity: .5;}
    100% {transform: scale(1); opacity: 0;}
}
#quote_bar .value_bar > span .value_tooltip {position:absolute;display: block;bottom:100%;width: 100px;left:50%;margin-left:-50px;margin-bottom:20px;text-align: center;letter-spacing: -.5px;padding:10px 0;background: #fff;border:1px solid #2f8bc7;-webkit-border-radius: 8px;border-radius: 8px;line-height: 1;}
#quote_bar .value_bar > span .value_tooltip .prefix {display: block;color:#666;font-size: 14px;margin-bottom: 4px;}
#quote_bar .value_bar > span .value_tooltip .barvalue {font-size: 20px;font-weight: 500;color:#0073be;}
#quote_bar .value_bar > span .value_tooltip .suffix {color:#2f8bc7;font-size: 16px;}
#quote_bar .value_bar > span .value_tooltip:after {content:"";display: block;background: #fff;width:6px;height: 6px;border-right: 1px solid #2f8bc7;border-bottom: 1px solid #2f8bc7;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);position:absolute;bottom:-4px;left:50%;margin-left:-3px;}

/* 출고가 바 */
.release_bar {position:relative;width:20%;float:right;background: #e6e6e6;height: 6px;}
.release_bar .txt {position: absolute;color: #999;font-size: 13px;display: inline-block;top: 15px;left: 100%;text-indent: -50%;white-space: nowrap;}
.release_bar .txt:before {content: "";display: block;width: 1px;height: 18px;background: #ddd;position: absolute;top: -22px;left: 0;}
.release_bar .txt span {color:#222;}

/* 금액 단위 */
.unit_billion:after {content:"억";}
.unit_default:after {content:"만원";}

/* 안내문구 및 버튼 */
.section_quote .qoute_caution {font-size: 14px;color:#aaa;margin-bottom: 30px;}
.section_quote .btn_sell_mycar {color:#fff;font-size: 16px;text-align: center;display: block;padding:10px 0;width: 180px;margin:0 auto;background: #0073be;}
.section_quote .btn_sell_mycar:hover {background: #0566a5;}

/* 미래 시세 차트 */
.section_chart .f_chart_area {background: #f8f8f8;border-top:2px solid #596374;border-bottom:1px solid #596374;}