@charset "utf-8";

/* 즉시출고 상세보기 */
.model_immediate{margin-top:40px}
.box_inner.model_immediate .box_main{margin-left:360px;min-height:900px}
.box_inner.model_immediate .box_wing{left:0}

.wing_immediate{border-top:2px solid #596374;width:320px;letter-spacing:-.5px}
.wing_immediate.fixed {position:fixed; top: 40px; left: 50%; margin-left: -640px; }
.wing_immediate.fixed.stop_fixed{position: absolute;left:0;margin:0;z-index:1}
.wing_immediate .btn_area{padding:34px 0 28px}
.wing_immediate .btn__back{width:220px;height:56px;background-color:#eee;border:1px solid #ddd;border-radius:28px;text-align:left;padding:0 28px 2px;font-size:20px;color:#333;letter-spacing:-1px}
.wing_immediate .btn__back .comm_sprite{margin-right:4px;float:left;margin-top:6px;}
.wing_immediate .info_model{position: relative;}
.wing_immediate .info_model .md_logo{position:absolute;top:0;left:0;width:128px;height:40px;}
.wing_immediate .info_model .md_logo img{width:100%;height:100%; object-fit: cover;}
.wing_immediate .info_model .md_thumb{width:320px;height:160px;padding:32px 0 21px;}
.wing_immediate .info_model .md_thumb img{width:320px;height:160px;}
.wing_immediate .info_model .md_name{font-size:24px;font-weight:500;height:36px;line-height:36px;overflow:hidden;color:#000;letter-spacing:-2px}
.wing_immediate .info_model .md_spec{position: relative;line-height:22px;overflow:hidden;font-size:13px;color:#666;letter-spacing:-.5px;margin-top:7px}
.wing_immediate .info_model .md_spec.md_spec_add{margin-top:0}
.wing_immediate .info_model .md_spec .tx_spec{overflow:hidden;margin-left:-13px;}
.wing_immediate .info_model .md_spec .tx_spec li{float:left;height:22px;padding-left:13px;position:relative;}
.wing_immediate .info_model .md_spec .tx_spec li:empty{display:none}
.wing_immediate .info_model .md_spec .tx_spec li:after{content:"";position: absolute;top:5px;left:6px;height:12px;border-left:1px solid #ccc}
.wing_immediate .info_model .md_bottom{margin-top:10px;line-height:22px;color:#000;font-size:14px;letter-spacing:-.5px;overflow:hidden}
.wing_immediate .info_model .md_bottom ul{overflow:hidden;margin-left:-17px;}
.wing_immediate .info_model .md_bottom ul li{float:left;height:22px;padding-left:17px;position:relative;}
.wing_immediate .info_model .md_bottom ul li:after{content:"";position: absolute;top:5px;left:8px;height:12px;border-left:1px solid #ccc}
.wing_immediate .md_price{position:relative;border-bottom:1px solid #596374;margin-top:26px;}
.wing_immediate .md_price:before{content:"";position:absolute;top:0;left:0;right:0;border-top:1px solid #aaa; z-index:1}
.wing_immediate .md_price .box_price {position:relative; font-size:14px; padding:12px 132px 13px 0;position: relative;border-top:1px solid rgba(89,99,116,.1);}
.wing_immediate .md_price .box_price .tx_tit{height:20px;line-height:20px;color:#000}
.wing_immediate .md_price .box_price .tx_subtext{font-size: 13px; color:#0073BE; margin-top: 3px;}
.wing_immediate .md_price .box_price .tx_price{position:absolute; top:50%; right:0; margin-top:-13px; font-size: 14px;height:26px;line-height:26px; color:#0073BE;}
.wing_immediate .md_price .box_price .tx_price em{font-size:32px;font-weight:500;font-family:Roboto,'Noto Sans KR', "맑은 고딕", Malgun Gothic, Dotum, "돋움", verdana, sans-serif; vertical-align: -3px;}
.wing_immediate .md_price .box_price button:hover{text-decoration:underline;}
.wing_immediate .md_price .box_price.ty_release {padding:24px 132px 24px 0;}
.wing_immediate .md_price .box_price.ty_release .tx_price{color:#333}
.wing_immediate .md_price .box_price.ty_release .tx_price em{font-size:24px;}

.wing_immediate .release_graph .tx_tit{display:block;margin-bottom:13px;color:#0073BE;font-size:16px;}
.wing_immediate .release_graph .tx_tit em{color:#000}
.wing_immediate .release_graph .box_chart{height:206px;border: 1px solid #ddd;}

.wing_immediate .other_link {margin-top:24px;}
.wing_immediate .other_link a {display: block; line-height: 60px; color:#fff; font-size: 20px; text-align: center; background-color: #596374;}
.wing_immediate .other_link a:hover { background-color: #0073be;}

.list_imme_detail{position: relative;letter-spacing:-1px}
.list_imme_detail li.item_imme_detail{margin-bottom:32px}
.list_imme_detail + .tx_noti{display: block; margin-bottom: 80px; line-height:28px;font-size:14px;color:#666666;letter-spacing:-1px}

.item_imme_detail{border:1px solid #DDD;background-color:#fff;color:#333}
.item_imme_detail .item_inner{padding:28px 32px 15px;}
.item_imme_detail .item_head{position: relative;padding-bottom:20px}
.item_imme_detail .item_head .tx_name{height:28px;font-size:18px;line-height:28px;color:#000;text-decoration:underline;overflow:hidden;font-weight:500}
.item_imme_detail .item_head .tx_price{display:inline-block;height:32px;margin-top:1px;color:#0073BE;font-size:14px;line-height:32px;}
.item_imme_detail .item_head .tx_price em{font-weight:500;font-size:24px}
.item_imme_detail .item_head .tx_price_condition {font-size: 14px; color:#666; margin-left:4px;}
.item_imme_detail .item_head .tx_price_release {font-size: 13px; color:#333; margin-left:16px;}

.item_imme_detail .item_head .btn__consult{position:absolute;bottom:24px;right:0;width:132px;height:44px;padding-bottom:2px;background-color:#596374;color:#fff;border-radius:22px;text-align:center;font-size:16px;}
.item_imme_detail .item_option{border-top:1px solid #eee;padding:20px 0 0}
.item_imme_detail .item_option dl{position: relative;}
.item_imme_detail .item_option dl dt,
.item_imme_detail .item_option dl dd{font-size:14px;line-height:28px;}
.item_imme_detail .item_option dl dt{position: absolute;color:#000;font-weight:500}
.item_imme_detail .item_option dl dd{padding-left:88px;padding-bottom:10px}
.item_imme_detail .item_bottom{padding:26px 32px;background-color:#F2F2F2;font-size:16px;line-height:26px;}
.item_imme_detail:hover{border-color:#0073BE}
.item_imme_detail:hover .item_head .btn__consult{background-color:#0073BE}
.item_imme_detail:hover .item_bottom{background-color:#EBF4FA}


/* ----------------------------------------------------------
                @즉시출고 - 상세보기 - 레이어
-----------------------------------------------------------*/
.modalpoopup_consult {width:440px!important; transition: margin-top .4s;}
.modalpoopup_consult .modal_content {padding:27px 30px 12px;}
.modalpoopup_consult .consult_name {font-size: 18px; line-height: 26px; margin-bottom:25px;
 display: -webkit-box; text-overflow: ellipsis; word-wrap: break-word; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; height:52px}
.consult_body {border-top:1px solid #ddd; padding:12px 0;}
.consult_body ul li {position:relative; padding-top: 8px; padding-bottom: 8px; padding-left:80px;}
.consult_body ul li .c_option_name {position:absolute; top:50%; left:0; font-size: 15px; font-weight: 500; color:#333; transform: translateY(-50%);}
.consult_body ul li .c_option {}


.modalpoopup_consult input[type=text] {width:100%; height:36px; font-size: 14px; color:#333; line-height: 34px; border:1px solid #aaa; padding:0 13px;}
.modalpoopup_consult input[type=text]::placeholder {color:#aaa;}

.modalpoopup_consult select {width:100%; height:36px; font-size: 14px; line-height: 34px; border:1px solid #aaa; padding:0 10px;}

.modalpoopup_consult input:focus,
.modalpoopup_consult select:focus {border-color:#0073be;}

.modalpoopup_consult .phonnum_wrap {display: flex; align-items: center;}
.modalpoopup_consult .phonnum_wrap > div{flex:0 0 auto;}
.modalpoopup_consult .phonnum_wrap > .area_prefix {width:74px;}
.modalpoopup_consult .phonnum_wrap > .icon_dash {width:8px; height:1px; background-color: #ccc; margin:0 4px;}
.modalpoopup_consult .phonnum_wrap > .area_remain {width:calc(100% - 90px);}

.consult_body_sub {padding:21px 0 24px; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.consult_body_sub ul li{position:relative; margin-bottom:15px;}
.consult_body_sub ul li:first-child{margin-bottom:24px;}
.consult_body_sub ul li:last-child{margin-bottom:0;}

.consult_body_sub ul li .agree_view_detail {font-size: 12px; color:#aaa; text-decoration: underline; position:absolute; top:0; right:0; padding: 1px 2px;}

/* 체크박스 */
.input_type_check {cursor: pointer;}
.input_type_check .all_chk,
.input_type_check .chk_box {display: none; appearance: none;}
.input_type_check .input_name {font-size: 14px; color:#666;}
.input_type_check .input_name:before {content:""; display: inline-block;vertical-align: -4px; width: 20px;height: 20px; margin-right: 8px; background:url("//img.enuri.info/images/newcar/quote/c_checkbox_shape.png") no-repeat 0 0;} 
.input_type_check input:checked + .input_name:before {background:url("//img.enuri.info/images/newcar/quote/c_checkbox_shape_checked.png") no-repeat 0 0;}
.input_type_check input[name=chk_all] +  .input_name {font-size: 16px; font-weight: 500; color:#333;}

/* 라디오 */
.input_type_radio {line-height: inline-block; line-height: 20px; margin-right:40px; cursor: pointer;}
.input_type_radio [type=radio] {display: none; appearance: none;}
.input_type_radio .input_name {font-size: 14px; color:#666;}
.input_type_radio .input_name:before {content:""; display: inline-block;vertical-align: -4px;width: 20px;height: 20px; margin-right: 8px; background-image: url("//img.enuri.info/images/newcar/car_sprite.png"); background-position: -232px 0;} 
.input_type_radio input:checked + .input_name:before { background-position: -232px -24px;}

/* submit */
.modalpoopup_consult button[type=submit] {display: block; width: 180px; height: 52px; line-height: 52px; border-radius: 2px; background-color: #596374; color:#fff; font-size: 16px; margin:24px auto;}
.modalpoopup_consult button[type=submit]:after {content:""; display: inline-block; width:8px; height:8px; border-top:1px solid #fff; border-right:1px solid #fff; transform: rotate(45deg); margin-left: 5px; vertical-align: 1px;}

/* alert 레이어 */
.lay_alert {position: fixed; left: 50%; top: 50%; width:400px; height:200px; margin-left:-200px; margin-top:-100px; box-shadow: 0 0 10px 4px rgba(0,0,0, .15);background-color: #fff; text-align: center; display: flex; flex-flow: column; justify-content: center; z-index: 10010;}
.lay_alert .alert_summary {color: #222; font-size: 20px; font-weight: 500; }
.lay_alert .alert_btn {display: block; width: 150px; border-radius: 24px; text-align: center; color: #fff; font-size: 16px; line-height: 48px; margin: 25px auto 0; background-color: #666;}
.lay_alert .alert_btn:hover {background-color: #0073be;}

/* agree 상세보기 */
.detail_agree { display:none; width:100%; height:84px; border:1px solid #ddd; font-size: 12px; color:#666; padding:12px 16px; background-color: #f8f8f8; overflow: auto; margin-top: 16px;}
