@charset "utf-8";

/* default.css */
html, body	 {width:100%;height:100%;}
body {width:100%;height:100%;background:#fff; margin:0; padding:0;}
/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
/* common */
body{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666; font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}

.hide{display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */
/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 
/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active, a:hover {text-decoration:none}
/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
button{cursor:pointer;}


/* 폰트 */
@font-face {
  font-family: 'NanumGothic';
  src: url(/common/fonts/NanumGothic.eot);
  src: url(/common/fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothic.woff) format('woff'),
       url(/common/fonts/NanumGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicBold';
  src: url(/common/fonts/NanumGothicBold.eot);
  src: url(/common/fonts/NanumGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumGothicBold.woff) format('woff'),
       url(/common/fonts/NanumGothicBold.ttf) format('truetype');
}


/* 20160122 e머니 정기프로그램 - 매일출석프로모션 */
.event_wrap {position:relative; width:100%; height:100%;}
.event_wrap h2, .event_wrap h3, .event_wrap .txt,  .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap h4 { text-indent:-9999em; font-size:0; line-height:0;}
/*.event_wrap a {outline:none;}*/
.event_wrap .section {overflow:hidden;}
.event_wrap .contents {position:relative; margin:0 auto; width:1000px; height:100%;}

.moving_tap {position: absolute; top:0; left: 50%; width:829px; height: 65px; margin-left:-414px; font-family:NanumGothic; color:#fefefe;  z-index:100; background-image:url(http://img.enuri.info/images/event/2016/attendance/movingtab_bg.png);}
.moving_tap .inner {width:699px; padding:16px 0 0 60px; overflow:hidden;}
.moving_tap strong {font-family:NanumGothicBold; font-size:24px; color:#fefefe; font-weight:normal; letter-spacing:-0.03em;}
.moving_tap .left_area strong {padding-left:37px; background:url(http://img.enuri.info/images/event/2016/attendance/ico_person.png) no-repeat 0 50%;}
.moving_tap .login_before strong {margin-right:8px;}
.moving_tap .login_after strong {margin-right:2px;}
.moving_tap .left_area span {font-size:18px;}
.moving_tap .right_area {position:absolute; right:70px; text-align:right; }
.moving_tap .login_before .right_area {top:12px;}
.moving_tap .login_after .right_area {top:16px;}
.moving_tap .right_area a {display:block;}
.moving_tap .right_area .btn.emoney {float:left; display:inline-block; width:74px; height:32px; margin-right:10px; background-image:url(http://img.enuri.info/images/event/2016/attendance/btn_emoney.png)}
.moving_tap .right_area .btn.login {display:inline-block; width:110px; height:39px; background-image:url(http://img.enuri.info/images/event/2016/attendance/btn_login.png)}
.moving_tap .right_area strong {float:left; padding-right:24px; background:url(http://img.enuri.info/images/event/2016/attendance/bul_right_arrow.png) no-repeat 100% 50%;}
.moving_tap .login_before .left_area span {color:#bddfff;}

/* 공통 레이어 */
.laypop {display:none; width:408px; height:237px; position:absolute; top:62px; right:0; border:1px solid #0182ea; border-top:0; background:#fff; z-index:200000; }
.laypop h4 {height:69px; text-indent:23px; font-family:NanumGothic;font-size:20px; font-weight:normal; line-height:66px;  color:#fff; background-color:#0182ea;}
.laypop .inner {width:364px; padding:20px 22px; line-height:1.5; font-family:NanumGothic; font-size:15px;color:#444;}
.laypop .inner .stress {font-family:NanumGothicBold; color:#ff2424;}
.laypop .layinstall {position:absolute; left:129px; bottom:26px; width:150px; height:50px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_install.gif);}
.laypop .layclose {position:absolute; right:25px; top:25px; width:19px; height:19px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_close.png);}

.event_wrap .benefit {height:241px; border-bottom:1px solid #bcbebd; background:url(http://img.enuri.info/images/event/2016/attendance/benefit_bg.gif) repeat-x 0 0;}
.event_wrap .benefit .contents a {display:block;}

.visual {height:885px; background:url(http://img.enuri.info/images/event/2016/attendance/visual_bg2.png) repeat-x 0 0;}
.visual .inner {height:100%; background:url(http://img.enuri.info/images/event/2016/attendance/visual_bg.png) no-repeat 50% 0;}
.visual .contents {text-align:center; background:url(http://img.enuri.info/images/event/2016/attendance/visual.png) no-repeat 0 0;}

.checking_area {position:absolute; left:205px; top:367px;  width:662px; height:460px; overflow:hidden;}
.checking_area .state {display:block;}
.checking_area .subtit {font-family:Malgun Gothic; font-size:24px; color:#525252; letter-spacing:-0.1em; }
.checking_area .nocursor {cursor:default;}

.stamp {height:1136px; background:url(http://img.enuri.info/images/event/2016/attendance/stamp_bg2.jpg) repeat-x 0 0;}
.stamp .contents {background:url(http://img.enuri.info/images/event/2016/attendance/stamp_bg.png) no-repeat 84px 72px;}
.stamp_area {width:748px; padding:224px 0 0 160px; overflow:hidden;}
/*.stamp_area dl {margin-left:16px;}*/
.stamp_area dt, .stamp_area .state em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.stamp_area ul {overflow:hidden; padding-bottom:24px;}
.stamp_area ul li {float:left; width:110px; margin-right:8px;}
/*.stamp_area ul li.draw {margin-left:38px;}*/
.stamp_area .state {display:inline-block;  width:100px; height:99px; background:url(http://img.enuri.info/images/event/2016/attendance/stamp_pack.png) no-repeat 0 0;}
.stamp_area .state.coin_today {background-position:-220px 0;}
.stamp_area .state.coin100 {background-position:0 0;}
.stamp_area .state.coin100.on {background-position:-110px 0;}
.stamp_area .state.coin200 {background-position:0 -110px;}
.stamp_area .state.coin200.on {background-position:-110px -110px;}
.stamp_area .state.coin300 {background-position:0 -220px;}
.stamp_area .state.coin300.on {background-position:-110px -220px;}
.stamp_area .state.coin0 {background-position:0 -330px;}
.stamp_area .state.coin5000 {background-position:-110px -550px;}
.stamp_area .state.coin5000.on {background-position:-110px -330px;}
.stamp_area .state.coin10000 {background-position:-220px -550px;}
.stamp_area .state.coin10000.on {background-position:-220px -330px;}
/*.stamp_area .state.coin_starbucks {background-position:-110px -440px;}
.stamp_area .state.coin_emart {background-position:-220px -440px;}
.stamp_area .state.coin_cgv {background-position:-330px -440px;}
.stamp_area ul li.draw .state {position:relative;}
.stamp_area ul li.draw .amount {position:absolute; left:0; bottom:-16px; display:inline-block; width:107px; height:51px; text-align:center; font-family:Malgun Gothic; font-size:24px; color:#797979; line-height:52px; letter-spacing:-0.05em; z-index:10000; background:url(http://img.enuri.info/images/event/2016/attendance/tip_amount_bg.png) no-repeat 0 0;}*/
.stamp .tip {position:absolute; left:324px; bottom:0; width:355px; height:65px;}

.caution {display:none; padding:45px 0 50px }
.caution .contents {text-align:center; }
.caution .contents h4 {display:inline-block; width:136px; height:21px; background:url(http://img.enuri.info/images/event/2016/attendance/tit_caution.gif) no-repeat 0 0; }
.caution .contents ul {width:490px; margin:25px auto 0;}
.caution .contents ul > li {padding:0 0 5px 10px; text-align:left; font-family:Malgun Gothic; font-size:18px; color:#818181; line-height:20px; letter-spacing:-0.05em;  background:url(http://img.enuri.info/images/event/2016/attendance/bul_circle_gray.gif) no-repeat 0 11px;}
.caution .contents ul .savedmoney {margin-top:10px; overflow:hidden;}
.caution .contents ul .savedmoney li {float:left; width:320px; font-size:16px; color:#a6a6a6; padding-left:0; background:none; }

.enuriapp {height:620px; border-top:1px solid #bfbfbf; background-color:#addfea;}
.enuriapp .contents {background:url(http://img.enuri.info/images/event/2016/attendance/enuriapp.jpg) no-repeat 0 0;}

 
/* 우측윙 배너 */
.wingBnner {position: absolute; top: 0; left: 50%;  margin-left: 500px;  width:100px; height:320px; z-index:10000; }
.wingBnner a {display:block;}
.wingBnner map area {cursor:pointer;}


/*딤레이어 공통 */
.pop-layer  {position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100000;}
.popupLayer {position:absolute; left:0; top:0; width:100%; height:100%; z-index:1000; -ms-filter: alpha(opacity=60); filter: alpha(opacity=60); opacity:0.6; -moz-opacity:0.6;}
.popupLayer .dim {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:100000000;}
.popup_box {position:absolute; left:50%; top:50%; z-index:102000;}
.popup_box h2, .popup_box .txt, .popup_box .btn_go em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top; margin:0; padding:0;}
.popup_box .pop-conts {position:absolute; left:0; top:0; width:100%; height:100%; z-index:102000;}
/*
.popup_box .btn.close {position:absolute; top:15px; right:15px; width:24px; height:24px; z-index:120000;}
.popup_box input[type="text"] {height:23px; *height:22px; padding:0 10px; font-family:"돋움", dotum; font-size:12px; color:#767676; line-height:23px; *line-height:22px; border:0; background-color:#fff;}
*/
.saving {width:271px; height:165px; margin-left:-135px; margin-top:-82px; background:url(http://img.enuri.info/images/event/2016/attendance/bg_layer_saving.png) no-repeat 0 0;}
.saving .contxt {padding:80px 10px 0 10px; text-align:center; font-family:Malgun Gothic; font-weight:bold; font-size:15px; color:#343434; letter-spacing:-0.05em; line-height:22px; }


/* 개인정보 */
.popInfo {width:442px; height:410px; margin-left:-221px; margin-top:-205px;  border:1px solid #b5b5b5; border-top:none; background:#fff;}
.popInfo dl {font-family:dotum; font-size:12px; color:#767676; }
.popInfo dt {height:28px; padding-left:15px; font-weight:bold; line-height:28px;  border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5;background-color:#dcdcdc;}
.popInfo dd {padding:18px 15px; line-height: 16px; letter-spacing:-0.05em;}
.popInfo dd ol li, .popInfo dd ul {margin-top:16px;}
.popInfo a.close {position:absolute; top:0; right:0; width:30px; height:30px; text-indent:-9999em; z-index:120000; background:url(http://img.enuri.info/images/event/2015/ramenback/popup_close.gif) no-repeat 0 0; }



/* 160204 구매 프로모션에서 가져와서 수정 */
.amass {height:1044px; background-color:#fff;}
.amass .contents {text-align:center; background:url(http://img.enuri.info/images/event/2016/emoney/buy/confirm3.jpg) no-repeat 0 0;}
.amass .contents .btn {position:absolute; left:273px; left:281px; display:block; width:452px; height:90px;}
.amass .contents .btn.super {bottom:210px; left:349px;width:317px; height:70px; }
.amass .contents .btn.mymoney {bottom:60px; }
/*딤레이어 : 슈퍼팁*/
.supertip {width:568px;  height:739px; margin-left:-284px; margin-top:-369px; }
/* 플리킹 */
	.movecontent  .owl-pagination{position:absolute; display:inline-block;width:197px; left:105px; *left:121px; bottom:-62px; text-align:center }
	.movecontent .howto_one .owl-controls .owl-pagination{display:block; }
	.movecontent .howto_one .owl-controls .owl-pagination span{opacity:1;  display:block; float:left;}
	.supertip .movecontent .howto_one {width:400px; *width:416px; height:640px; margin:0 auto}
	.supertip .movecontent .howto_one .owl-controls .owl-pagination span {width:23px; height:23px; background:url(http://img.enuri.info/images/event/2016/emoney/buy/dottip.png) no-repeat left top; }
	.supertip .movecontent .howto_one .owl-controls .active span{background:url(http://img.enuri.info/images/event/2016/emoney/buy/dottip_on.png) no-repeat left top; }
	.supertip .movecontent .howto_one .item{height:571px; z-index:10000;  }
	.supertip .movecontent .howto_one img {width:400px; height:571px;}
	.supertip .movecontent .owl-buttons > div{position:absolute;top:237px; z-index:10; display:block !important; top:260px; width:50px !important; height:73px !important; background:url(http://img.enuri.info/images/event/2016/emoney/buy/arrowtip.png) no-repeat; }
	.supertip .movecontent .owl-prev{left:-72px !important; background-position:left top !important;}
	.supertip .movecontent .owl-prev:hover {background-position:left -73px !important;}
	.supertip .movecontent .owl-next{right:-72px !important; background-position:right top !important;}
	.supertip .movecontent .owl-next:hover {background-position:right -73px !important;}
	.owl-theme .owl-controls .owl-buttons div{font-size: 0 !important; text-indent:-9999em}
	.supertip .owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity: 1;}
	.supertip .owl-theme .owl-controls .owl-page span{margin:3px 10px;}
.supertip .btn.close {position:absolute; bottom:0; left:138px; *left:154px; width:280px; height:80px;  background:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_close.gif) no-repeat; }
/* 딤레이어 : 모바일 앱 전용 이벤트 */
.mobileapp {width:408px;  height:237px; margin-left:-204px; margin-top:-118px; border:1px solid #0182ea; border-top:0; background:#fff;}
.mobileapp h4 {height:69px; text-indent:23px; font-family:NanumGothic;font-size:20px; font-weight:normal; line-height:66px;  color:#fff; background-color:#0182ea;}
.mobileapp .inner {width:364px; padding:20px 22px; line-height:1.5; font-family:NanumGothic; font-size:15px;color:#444;}
.mobileapp .inner .stress {font-family:NanumGothicBold; color:#ff2424;}
.mobileapp .layinstall {position:absolute; left:129px; bottom:26px; width:150px; height:50px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_install.gif);}
.mobileapp .layclose {position:absolute; right:25px; top:25px; width:19px; height:19px; background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_close.png);}

/* 공통 가운데 정렬 */
.alcenter {text-align:center;}


/* ------------------------------------------------ 개발 ------------------------------------------------  */

/*150520 푸터*/
.bnr_area{margin-top:8px;background:url(http://img.enuri.info/images/main/bg_footer_bnr.gif) 0 0; text-align:center; height:91px; }
.bnr_area ul{margin:0 auto; width:1000px; background:url(http://img.enuri.info/images/main/footer_bnr.gif) 0 0 no-repeat; height:91px;}
.bnr_area ul li a{width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer{width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu{text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li{margin:auto; display:inline; margin:0 17px;}
.footer_menu li a{color:#555555; text-decoration:none;}

.footer .adr{padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span{padding-right:12px; }
.footer .adr img{vertical-align:middle}

.footer .award_list{background:url(http://img.enuri.info/images/main/footer_bnr02.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright{padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong{display:block; font-weight:normal; color:#5390be; }

#m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}

