@charset "utf-8";

@import url("default.css");

/* 20150401 시스템 점검 페이지 */

.notice_wrap {position:relative; width:100%; padding-bottom:100px; background:url(http://img.enuri.info/images/notice/2015/bg_notice_wrap.jpg) 0 0 no-repeat;}
.notice_wrap .section {margin:0 auto; width:1000px;}
.notice_wrap .section .visual {position:relative; width:1000px; height:481px; background:url(http://img.enuri.info/images/notice/2015/txt_system.jpg) 0 0 no-repeat;}
.notice_wrap .visual h3, .notice_wrap .visual .time span, .notice_wrap .visual .txt {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.notice_wrap .visual .time strong {position:absolute; top:246px; left:362px; font-family:"맑은 고딕", Malgun Gothic; font-size:23px; color:#1333ac; line-height:23px; letter-spacing:-0.5px;}

/* footer */
.footer_area{width:998px; border:1px solid #cbcbcb; font-size:11px; font-family:dotum; overflow:hidden; height:228px;}
.footer_area .shopmall{height:66px; margin-bottom:4px; padding-top:2px !important; border-bottom:1px solid #cbcbcb; width:1100px; }
.footer_area .shopmall li span{text-indent:-9999em; display:block; width:76px; height:32px; overflow:hidden; cursor:pointer; }
.footer_area .shopmall li{display:inline; float:left; margin:0 18px !important; width:76px; height:32px; }
.footer_area dl{float:left; width:142px; height:141px; padding:10px 0 0 24px; line-height:19px; background:url('http://img.enuri.gscdn.com/2014/main/images/footer_dot.gif') left top repeat-y; }
.footer_area .first{background:none; }
.footer_area dl dt{font-weight:bold; color:#444444; text-decoration:none; }
.footer_area dl dd a{color:#676767; text-decoration:none; }
#footer .footInner .enuriDec{color:#4984b5 !important;font-size:12px !important;}

.copyright {margin:15px 0 0; color:#676767; text-align:center;}