* {padding:0;margin:0;font-family:'돋움';}
body{width:287px;overflow:hidden;margin-left:1px;margin-top:1px;}
img {border:0;}
ul {list-style:none;}
a {text-decoration:none;outline:none;}
.clearBlank {clear:both;}
div { overflow:hidden; }

miniguide {display:none;}

span.price { font-family:Arial;font-size:11px;font-weight:bold;color:#0066e8;line-height:15px; }
span.shopbid {color:#de1515;}

#bbsTotalNums, #kbTotalNums {display:none;}
#scrollView {clear:both;display:block;position:relative;height:60px;}

#shopTypeInfoImgDiv { display:none;overflow:hidden;position:absolute;z-index:999; }
#shopTypeInfoImgDiv img { overflow:hidden; }
#shopTypeInfoImgXBtn { overflow:hidden;position:absolute;margin:0px 0px 0px 0px;width:16px;height:15px;cursor:pointer;z-index:999; }
#shopTypeInfoImgXBtn img { overflow:hidden;width:17px;height:16px; }

#powerInfoLayerDiv {display:none;position:absolute;width:246px;height:73px;z-index:999;}

#wrapMain {position:relative;overflow:visible;width:287px;font-size:12px;color:#000;}

/* top fixed. 2013.06.18 */
/*#defaultInfo.fix { position:fixed;top:0px;width:287px;height:141px; }
 #contentBody.fix { margin-top:138px;overflow:hidden; } */
/* top fixed. 2013.06.18 */

#defaultInfo { display:none;position:fixed;top:0px;padding:0px;width:287px;height:141px;background-color:#ffffff;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/box_bg.gif');z-index:208; }

#defaultInfo span.closeBtn {top:0;right:0;cursor:pointer;z-index:10;}
#defaultInfo span.closeBtn a {background:url('http://img.enuri.gscdn.com/2012/toolbar_new/toolbar_x.gif') 50% 50% no-repeat;}
#defaultInfo span.closeBtn.comp_1 {display:none;}

#bigtmp4debug {display:none;position:absolute;left:0;top:0px;}

#goodsInfo {position:relative;}

#goodsPhoto { float:left;margin:5px 0px 0px 5px;width:106px;height:107px;cursor:pointer;background-color:#eeeeee;background:url('http://img.enuri.gscdn.com/images/mobile4/m_photo_bg_130731.gif') 0 0 no-repeat; }
#goodsPhoto.icode_1, #goodsPhoto.icode_2, #goodsPhoto.icode_4,#goodsPhoto.icode_6,
#goodsPhoto.icode_7,#goodsPhoto.icode_8, #goodsPhoto.icode_9 {cursor:pointer;}
#goodsPhoto img { width:100px;height:100px;margin:3px 3px 4px 3px; }
#goodsPhoto img#compzoom {width:12px;height:13px;display:none;position:absolute;left:93px;top:92px}

#goodsPhoto.icode_1 img#compzoom.comp_1,#goodsPhoto.icode_2 img#compzoom.comp_1,
#goodsPhoto.icode_4 img#compzoom.comp_1,#goodsPhoto.icode_6 img#compzoom.comp_1,
#goodsPhoto.icode_7 img#compzoom.comp_1,#goodsPhoto.icode_8 img#compzoom.comp_1,
#goodsPhoto.icode_9 img#compzoom.comp_1 {display:block;}

#goodsTextList { float:right;width:174px;height:140px; }
#goodsName { margin:8px 0px 0px 0px;width:160px;height:70px;line-height:13px;font-size:11px;font-weight:bold;overflow:hidden;font-family:"맑은 고딕","돋움"; }
#goodsName span { font-size:11px;font-family:"맑은 고딕","돋움"; }
#goodsName .goodsNm { font-weight:bold;cursor:pointer; }
#goodsName .plnoGoodsNm { font-weight:normal;font-family:'돋움';font-size:11px;color:#3d3d3d; }
#goodsName .pNameTitlePlno { width:106px;height:18px;margin:0px 0px 2px 0px;padding:0px 0px 0px 2px; }
#goodsName .pNameTitlePlno img  {  }
#goodsName .pNameTitleDetail { width:98px;height:18px;margin:0px 0px 2px 0px;padding:0px 0px 0px 2px; }
#goodsName .pNameTitleDetail img  {  }

#goodsCompany { font-size:11px;font-weight:normal;color:#1f73a0;margin:0px 0px 0px 8px; }
#goodslowestPrice { float:left;font-size:11px;margin-right:5px; }

#defaultActionLinks { position:absolute;top:90px;right:28px;width:146px; }
#defaultActionLinks * {font-size:11px;}
#defaultActionLinks .newwinImg { float:left;cursor:pointer;margin:0px 10px 0px 0px; }
#goodsRelease { float:left;font-size:11px;width:60px;height:16px;padding:0px;overflow:hidden; }
#goodsRelease sup.year {color:#000000;font-family:ms serif;font-size:10px;overflow:hidden;margin:0px 2px 0px 0px;padding:0px; }
#goodsRelease .title { font-family:'돋움';font-size:11px;color:#808080;line-height:16px; }
#btnShareMenuToggle { float:right;margin:0px 0px 0px 0px;width:35px;height:11px;line-height:11px;font-family:'맑은 고딕','돋움';overflow:hidden;cursor:pointer;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/arr_dn_0928.gif') no-repeat right 50%; }
#btnShareMenuToggle.list { background:url('http://img.enuri.gscdn.com/2012/toolbar2/arr_dn.gif') no-repeat right 50%; }
#btnShareMenuToggle ul li {display:none;}

#singo_area { position:absolute;left:112px;bottom:51px;width:30px;height:14px;z-index:100; }
.singo_button {display:none;width:25px;height:12px;background-color:#C2D7F0;font-size:11px;cursor:pointer;}
.singo_view { display:block;margin:0px 0px 0px 2px; }
li .singo_button {position:absolute;bottom:17px;bottom:3px;}
li .singo_phone {bottom:20px;}
#singo_img { float:left;margin:0px 0px 0px 2px; }
#singo_clear {display:none;float:right;width:24px;height:12px;font-size:11px;cursor:pointer;}
#singo_info {position:absolute;right:15px;margin-top:4px;}

#mainMenu { clear:both;overflow:hidden;position:absolute;height:25px;top:119px;left:24px;z-index:99; }
#mainMenu ul {  }
#mainMenu ul li {float:left;width:81px;height:22px;text-align:center;vierflow:visible;}
#mainMenu ul li a {display:block;padding-top:7px;width:100%;height:23px;font-size:11px;font-weight:bold;color:#000;background-repeat:no-repeat;}
#mainMenu ul li.selected a {padding-top:9px;height:21px;}
#menu1 { cursor:pointer;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/tab_01.gif'); }
#menu2 { cursor:pointer;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/tab_02.gif'); }
#menu3 { cursor:pointer;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/tab_03.gif');display:relative; }
#menu3 .itemNums { display:block;position:absolute;left:214px;bottom:10px;width:30px;height:12px;font-family:Arial;font-size:10px;text-align:left; }

#mainMenu.sim {left:78px;}
#menu1.sim a {background-image:url('http://img.enuri.gscdn.com/2012/toolbar_new/sim/tab_tx.gif');}
#menu1.sim span {position:absolute;top:6px;right:8px;cursor:pointer;width:21px;height:14px;}
#simNotice {display:none;position:absolute;z-index:9999;top:90px;left:3px;;width:280px;height:190px;background:url('http://img.enuri.gscdn.com/2012/sim/layer_02.png');}
#simNotice span.closeBtn {position:absolute;top:8px;right:8px;cursor:pointer;}

#contentBody { display:none;overflow:visible;position:relative;display:block;border:1px solid #000;background-color:#ffffff; }
#contentBody div.wrap {display:none;}
#contentBody div.selected {display:block;}

#priceListWrap {}

#firstSelMall, #planedGoods, #endedGoods {display:none;}

#priceList {display:inline-block;}

#listKind {position:relative;height:28px;}
#listKind ul {width:98%;height:100%;}
#listKind ul li {margin-top:8px;float:right;font-weight:bold;}

#phonePListTab {display:none;}
#priceListSpace {height:23px;}
#priceListInfoImg { height:15px;margin:5px 0px 0px 5px;overflow:hidden; }
#priceListInfoImg img { overflow:hidden; }
#priceListTab { height:23px;margin:0px 0px 0px 0px; }
#priceListTab ul { height:23px;overflow:hidden;z-index:100; }
#priceListTab ul li { height:19px;line-height:19px;margin:4px 0px 0px 0px;float:left;font-family:normal;font-family:'맑은 고딕','돋움';font-size:11px;color:#262626; }
#priceListTab ul li.plistOptionTitle,
#priceListTab ul li.selected { font-weight:bold;font-family:normal;font-family:'맑은 고딕','돋움';font-size:11px;color:#262626; }
#priceListTab ul li.plistOptionTitle { margin:4px 6px 0px 18px;width:25px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/align(1).gif'); }

#priceListTab ul #plistDefault { margin:5px 14px 0px 0px;overflow:hidden;cursor:pointer;width:36px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/default.gif'); }
#priceListTab ul #plistClass1Delivery { margin:5px 14px 0px 0px;overflow:hidden;cursor:pointer;width:68px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/ship.gif'); }
#priceListTab ul #optCard { margin:5px 14px 0px 0px;overflow:hidden;cursor:pointer;width:83px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/card.gif'); }
#priceListTab ul #plistPhoneSellPrice { margin:5px 14px 0px 0px;overflow:hidden;cursor:pointer;width:59px;height:12px;background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/price.gif'); }

#priceListTab ul #plistDefault.selected { background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/default_on.gif'); }
#priceListTab ul #plistClass1Delivery.selected { background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/ship_on.gif'); }
#priceListTab ul #optCard.selected { background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/card_on.gif'); }
#priceListTab ul #plistPhoneSellPrice.selected { background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/price_on.gif'); }

#priceListBody { overflow:hidden;border-top:1px solid #8C8C8C; }

#optCard,#IsCardButtonShow,#priceListSpace ul {display:none;}

#priceLeft {clear:both;border-right:1px solid #8C8C8C;padding:1px 0px 0px 0px;}
#priceRight {padding:1px 0px 0px 0px;}
#priceListWrap div.priceList {display:block;width:142px;float:left;}
#priceListWrap div.priceList div.priceListTitle
{position:relative;margin-top:-1px;padding:1px 0ps 0ps 0ps;height:19px;line-height:20px;font-size:11px;text-align:center;background-color:#e8e8e8;border-bottom:1px solid #8C8C8C;z-index:1;}
#priceListWrap div.priceList div.priceListTitle img { margin:0px 0px 0px 0px; }
#priceListWrap div.priceList div.priceListTitle img.authLogoImg { margin:0px 5px 3px 0px; }
#priceListWrap div.priceList div.priceListTitle span#title_sup {position:absolute;top:1px;margin-left:2px;font-family:'맑은 고딕';font-size:9px;color:#ba1714;}
#priceListWrap div.priceList div.priceListTitle img#title_info { margin:0px 0px 2px 2px;cursor:pointer;}
#priceListWrap div.priceList div.priceListTitle img#title_left { margin:0px 0px 2px 2px;cursor:pointer;}
#title_info_img {display:none;position:absolute;z-index:9999;top:18px;margin-left:-145px;}
#title_left_img {display:none;position:absolute;z-index:9999;top:18px;left:0px;}
#title_info_img img {}
#title_info_img_close {z-index:9999;position:absolute;display:block;width:15px;height:15px;top:11px;right:11px;cursor:pointer;
            background: #D8D8D8 url('http://img.enuri.gscdn.com/2012/toolbar2/x.gif') 50% 50% no-repeat;}
#title_left_img_close {z-index:9999;position:absolute;display:block;width:15px;height:15px;top:11px;right:11px;cursor:pointer;
            background: #D8D8D8 url('http://img.enuri.gscdn.com/2012/toolbar2/x.gif') 50% 50% no-repeat;}
#title_info_close {z-index:9999;position:absolute;display:block;width:15px;height:15px;top:11px;right:11px;cursor:pointer;}
#priceListWrap div.priceList div.phoneListTitle {height:29px;padding-top:2px;vertical-align:middle;}
#priceListWrap div.priceList > ul {margin:0 auto;}
#priceListWrap div.priceList > ul > li { margin:0px 0px 0px 0px;overflow:hidden;position:relative;height:62px;height:46px;border-bottom:1px dotted #ababab;cursor:pointer; }
#priceListWrap .priceList { overflow:visible; }
#priceListWrap .priceList * { overflow:visible; }

#priceListWrap div.priceList > ul > li.visited {background-color:#DBECF4;}
#priceListWrap div.priceList > ul > li.noMall { text-align:center;cursor:default;height:62px;height:46px; }
#priceListWrap div.priceList > ul > li.noMall div { overflow:hidden;height:46px;padding:22px 0px 0px 0px;padding:16px 0px 0px 0px;font-size:11px;color:#595959;font-family:'맑은 고딕'; }
#priceListWrap div.priceList > ul > li.noMallToo {height:62px;height:46px;}
#priceListWrap div.priceList > ul > li.noMallToo div {margin-top:22px;margin-top:15px;}
#priceListWrap div.priceList > ul > li div.mallName { position:relative;overflow:hidden;margin:1px 0px 0px 4px;height:15px;line-height:13px;padding:0px 0px 0px 12px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/icon_more.gif') no-repeat 0 3px; }
#priceListWrap div.priceList > ul > li div.mallNameImg { margin:1px 0px 0px 4px;padding:2px 0px 0px 12px; }
#priceListWrap div.priceList > ul > li div.mallNameImg img {  }
#priceListWrap div.priceList > ul > li div.mallName * { font-family:'돋움';font-size:11px;color:#1c1c1c;font-weight:bold; }
#priceListWrap div.priceList > ul > li div.mallName span { position:absolute;bottom:2px;overflow:hidden;font-family:'맑은 고딕','돋움'; }
#priceListWrap div.priceList > ul > li div.mallName font { font-family:'맑은 고딕','돋움'; }
#priceListWrap div.priceList > ul > li > div.mallName span {float:left;display:block;}
#priceListWrap div.priceList > ul > li > div.mallName span.mallListIcon { position:absolute;left:0px;top:2px;width:10px;height:9px; }
#priceListWrap div.priceList > ul > li div.onMallName {background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/icon_more_ov.gif') no-repeat 0 3px;}
#priceListWrap div.priceList > ul > li div.mallName.couponIcon {background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/icon_more.gif');}
#priceListWrap div.priceList > ul > li div.onMallName.couponIcon {background-image:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/icon_more_ov.gif');}

#priceListWrap div.priceList > ul > li.phoneList,
#priceListWrap div.priceList > ul > li.bookList,
#priceListWrap div.priceList > ul > li.overseas { height:62px;height:46px;overflow:hidden;padding:0px; }
#priceListWrap div.priceList > ul > li.blockshopbid {/*border:1px solid #de1515;*/}

#priceListWrap div.priceList > ul > li.noMall.phoneList,
#priceListWrap div.priceList > ul > li.noMall.bookList,
#priceListWrap div.priceList > ul > li.noMall.overseas { height:62px;height:46px;overflow:hidden;padding:0px; }

#priceListWrap div.priceList > ul > li div.mallPrice,
#priceListWrap div.priceList > ul > li div.deliveryKind { text-align:right;overflow:hidden;margin:2px 3px 0px 0px;padding:1px 0px 0px 0px;height:12px;line-height:11px;position:relative; }
#priceListWrap div.priceList > ul > li div.deliveryKind .agreement { position:absolute;top:18px;left:0px;letter-spacing:-1px;margin-left:4px;color:#888800;line-height:13px; }
#priceListWrap div.priceList > ul > li div.deliveryKind span.dPrice {font-size:11px;font-weight:normal;font-family:'돋움';color:#0066e8;}
div.deliveryKind {font-size:11px;}
#priceListWrap div.priceList > ul > li div.mallPrice { float:right;margin:0px 0px 0px 0px;overflow:hidden;font-size:11px;width:72px;height:15px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_1.gif') no-repeat; }
#priceListWrap div.priceList > ul > li div.mallPriceEx { width:79px;height:15px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_2.gif') no-repeat; }
#priceListWrap div.priceList > ul > li div.mallPriceLayer { float:right;margin:0px 0px 0px 0px;overflow:hidden;font-size:11px;width:120px;height:15px;text-align:right; }
#priceListWrap div.priceList > ul div.mallPriceLayer2 { position:absolute;top:2px;right:4px;overflow:hidden;font-size:11px;width:150px;height:15px;text-align:right; }
#priceListWrap div.priceList > ul div.mallPriceLayer2 img {display:none;}
#priceListWrap div.priceList > ul div.mallPriceLayer2 span.priceunit {color:#4b4b4b;}
#priceListWrap div.priceList > ul > li div.priceInfoImgDiv { float:right;margin:1px 2px 0px 0px;overflow:hidden; }
#priceListWrap div.priceList > ul > li div.priceLine { height:15px;line-height:15px;margin:0px 4px 1px 0px;text-align:right; }
#priceListWrap div.priceList > ul > li div.priceLine span.priceTitle { float:right;margin:0px 3px 0px 0px;font-size:11px; }
#priceListWrap div.priceList > ul > li div.priceLine span.deliveryTypeTxt { float:right;line-height:17px;font-size:11px;margin:0px 2px 0px 0px; }
#priceListWrap div.priceList > ul > li div.priceLine span.priceContent { margin:0px 14px 0px 0px; }
#priceListWrap div.priceList > ul > li div.priceLine span.priceTypeTxt span.price { margin:0px 14px 0px 0px; }

#priceListWrap div.priceList > ul > li.optLimit div.mallPrice span.priceContent { float:right;position:relative;margin:0px 14px 0px 0px; }
#priceListWrap div.priceList > ul > li.optLimit div.mallPrice span.priceContent .limited {position:absolute;top:0px;left:0;cursor:pointer;}
#priceListWrap div.priceList > ul > li.optLimit div.mallPrice span.priceContent span.price {color:#505050;}

#priceListWrap div.priceList > ul > li div.btn_delivery_lev {width:97px;height:11px;margin:2px 0 3px 3px;line-height:11px;border-bottom:1px solid #848484;font-family:돋움;font-size:11px;color:#848484;cursor:pointer;}
.layer_delivery_lev {position:absolute;display:none;width:138px;border:1px solid #000000;background-color:#ecf1f9;font-family:돋움;font-size:11px;z-index:9999;}
.layer_delivery_lev .delivery_lev_layer_close {position:absolute;right:3px;top:3px;width:15px;height:15px;background-image:url(http://imgenuri.enuri.gscdn.com/images/newGuide/layer_close.gif);cursor:pointer;}
.layer_delivery_lev .delivery_lev_title {margin:7px 0 5px 10px;padding:0;color:#000000;}
.layer_delivery_lev .delivery_lev_list {margin:2px 0 7px 10px;padding:0;color:#6e6e6e;list-style:none;}
.layer_delivery_lev .delivery_lev_list li {padding:0;line-height:15px;}

#limitimg {display:none;cursor:default;position:absolute;z-index:9998;top:48px;}
#limitimg .closeBtn {display:block;overflow:hidden;position:absolute;width:13px;height:13px;top:7px;right:8px;cursor:pointer; }
#limitimg .closeBtn img {width:13px;height:13px; }

#priceListWrap div.priceList > ul > li div.hotDeal {position:absolute;top:18px;left:7px;cursor:pointer;height:13px;}
#hotdealimg {display:none;cursor:default;position:absolute;z-index:9998;top:48px;width:288px;height:116px;}
#hotdealimg .hotdealimgWrap { position:relative;width:288px;height:116px; }
#hotdealClose { overflow:hidden;position:absolute;width:14px;height:15px;top:13px;left:262px;cursor:pointer; }
#hotdealClose img { width:14px;height:15px;cursor:pointer; }
#hotdealMore { overflow:hidden;position:absolute;width:114px;height:15px;top:85px;left:161px;cursor:pointer; }
#hotdealMore img { width:114px;height:15px;cursor:pointer; }

#priceListWrap div.priceList > ul > li img.lowestPrice { position:absolute;top:3px;right:5px; }
#priceListWrap div.priceList > ul > li img.couponLowest {right:26px;}
#priceListWrap div.priceList > ul > li.overseas img.lowestPrice {position:relative;top:0;right:0;padding:0;}
#priceListWrap div.priceList > ul > li.visited img.lowestPrice {background-color:#DBECF4;}

#priceListWrap div.noMallPlaned,
#priceListWrap div.noMallEnded {clear:both;width:284px;}
#priceListWrap div.noMallPlaned > ul > li.noMallToo div,
#priceListWrap div.noMallEnded > ul > li.noMallToo div  {margin-top:5px;}
#priceListWrap div.noMallPlaned > ul > li.noMallToo > span {position:relative;bottom:10px;}

#priceListWrap div.priceList > ul > li.phoneList .phoneCommission { color:#888800;text-align:right;font-size:11px;margin:0px 3px 0px 0px; }
#priceListWrap div.priceList > ul > li.phoneList .phoneCommission .agreement { float:left;letter-spacing:-1px;margin-left:4px;color:#888800; }
#priceListWrap div.priceList > ul > li.phoneList .phoneCommission + span,
#priceListWrap div.priceList > ul > li.phoneList .phoneCommission + span * {color:#888800;}
#priceListWrap div.priceList > ul > li div.phoneAdd {color:#888800;position:absolute;width:138px;height:14px;line-height:14px;bottom:0px;font-size:11px;}
#priceListWrap div.priceList > ul > li.overseas div.phoneAdd {text-align:left;}
#priceListWrap div.priceList > ul > li div.phoneAdd .agreement {float:left;letter-spacing:-1px;margin-left:4px;}
.phonePlan {letter-spacing:-1px;display:none;}
#priceListWrap div.priceList > ul > li div.phoneAdd .settlement {text-align:left;}

div.goodsdetailinfo {z-index:9999;overflow:hidden;display:none;position:absolute;padding:2px;left:30px;top:51px;width:265px;background-color:#FFFFE1;font-family:'돋움';font-size:9pt;border:1px solid black;cursor:default;}

#priceRight > ul div.goodsdetailinfo { }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.mallName { background:none;float:left;font-family:'돋움';font-size:11px;color:#1c1c1c;font-weight:bold; }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.mallPriceLayer { float:right;margin:0px 0px 0px 0px;overflow:hidden;font-size:11px;width:140px;height:15px;text-align:right; }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.mallPrice { float:right;width:160px; }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.couponnoti {clear:both;margin:5px auto;text-align:center;width:260px;height:55px;border:1px solid #7F7F7F; background-color:#fff;}
#priceListWrap div.priceList > ul div.goodsdetailinfo div.couponnoti div {font-family:'맑은 고딕', '돋움';}
#priceListWrap div.priceList > ul div.goodsdetailinfo div.couponnoti div.line2 {margin-top:12px;}
#priceListWrap div.priceList > ul div.goodsdetailinfo div.couponnoti div.line3 {margin-top:4px;}
#priceListWrap div.priceList > ul div.goodsdetailinfo div.couponnoti img {}
#priceListWrap div.priceList > ul div.goodsdetailinfo div.detailInfo { clear:both;max-height:55px;overflow:hidden; }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.settlement { margin-top:5px;color:#6D6D6D;height:15px;overflow:hidden;line-height:15px; }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.priceContent { float:right;position:relative;margin:0px 14px 0px 0px; }
#priceListWrap div.priceList > ul div.goodsdetailinfo div.priceContent .price { color:#0066e8; }
#priceListWrap div.priceList > ul div.goodsdetailinfo p.seller_ad_txt {margin:8px 0 0 0;}
#priceListWrap div.priceList > ul div.goodsdetailinfo p.seller_ad_txt strong {font-family:"맑은 고딕", Malgun Gothic; color:#2f9371; font-size:11px;}
#priceListWrap div.priceList > ul div.goodsdetailinfo p.seller_ad_txt sup {margin-left:2px; vertical-align: 2px; }

#priceListWrap div.priceList > ul > li div.couponbtn {position:absolute;top:0px;right:4px;cursor:pointer;line-heihgt:11px;height:16px;}
#priceListWrap div.priceList > ul > li div.couponbtn span { display:block;height:13px;line-height:11px;font-family:'맑은 고딕','돋움';font-size:11px;color:#585858;border-bottom:1px solid #585858; }

#priceListWrap div.priceList > ul > li div.limited {position:absolute;top:18px;left:38px;cursor:pointer;line-heihgt:11px;height:16px;}

#priceListWrap div.priceList > ul div.couponinfo {z-index:9999;display:none;position:absolute;left:7px;top:51px;width:228px;cursor:default;background-color:#FFFFE1;}
#priceListWrap div.priceList > ul div.couponinfo div.mallPrice {position:absolute;}
#priceListWrap div.priceList > ul div.couponinfo div.mallPrice img {display:none;}
#priceListWrap div.priceList > ul div.couponinfo div.mallPrice span.priceunit {color:#4b4b4b;}

#priceListWrap div.priceList > ul > li.banner {padding:0;height:50px;}
#bannerArea {position:absolute;top: -700px;width:285px;height:50px;overflow:hidden;}
#bannerLength { display:none; }

#moreMalls { clear:both;position:relative;height:30px;text-align:center;text-align:right;margin:0px 4px 10px 0px;padding:15px 0px 0px 0px; }
#moreMalls span a { font-size:11px;font-family:'맑은 고딕','돋움';color:#6a6a6a;border-bottom:1px solid #6a6a6a; }
#moreView {float:left;background: url('http://img.enuri.gscdn.com/2012/toolbar_new/mall_more_go_121206.gif') no-repeat 50% 0;}
#frm_list {position:absolute;left:25%;background: url('http://img.enuri.gscdn.com/2012/toolbar_new/mall_more_go_121206.gif') no-repeat 50% 0;}

#moreView a, #frm_list a {display:block;width: 100%;height: 100%;margin-left: -17px;padding-top: 16px;font-size:11px;}
#moreView a img, #frm_list a img {position:absolute;left:84px;top:14px}
#moreView a img {left:64px;top:54px}
#moveList {float:right;}
#moveList2 {margin-left:20px;}

.blankMallList {height:90px;}
#minPriceCnt_left {display:none;}
#minPriceCnt_right {display:none;}
#shopBid_logShopNo {display:none;}
#shopBid_logShopCnt_left {display:none;}
#shopBid_logShopCnt_right {display:none;}

div.cardinfo {position:absolute;top:2px;right:6px;height:14px;color:#CE8A0D;font-size:11px;z-index:100;}
li.optCardList .price, #priceListWrap div.priceList ul li.optCardList div.deliveryKind span.dPrice {color:#CE8A0D;}

#priceListWrap div.priceList > ul > li.optCardList div.couponbtn { top:16px;left:5px;right:auto;margin:0px;padding:0px;overflow:hidden; }

#toolbarNotice {position:relative;margin-top:40px;margin-bottom:40px;text-align:center;}
#detailNoticeBottomArea {position:relative;margin-left:5px;margin-top:10px;margin-bottom:40px;}
#toolbarUpdate {display:none;position:absolute;left:10px;top:-60px;cursor:pointer;}

#goodsDetailWrap {position:relative;padding:5px;}
#goodsDetailWrap {margin-top:10px;}
#goodsDetailWrap, #goodsDetailWrap * {font-family: "돋움";}

#specArea, #specArea * {font-family: "맑은 고딕";}
#goodsDetailWrap dl {clear:both;margin-top:15px;}
#goodsDetailWrap dl dt {height:30px;font-size:0;text-indent:-9999px;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/tit_02_120703.gif') no-repeat;}
#goodsDetailWrap dl dd {min-height:30px;font-family: "맑은 고딕";line-height:17px;}
#goodsDetailWrap dl dd pre {display:inline-block;}
#goodsDetailWrap dl dd pre pre {width:275px;display:block;}
#goodsDetailWrap dl dd pre pre pre {display:inline-block;}

#goodsDetailWrap dl dd pre span {white-space:pre;}
#goodsDetailWrap dl dd pre table {border-collapse:collapse;border-color:gray;}

#goodsDetailWrap dl dd div > pre > span  * {font-family: "맑은 고딕";}
#goodsDetailWrap dl dd div > pre > span > pre * {font-family:'돋움';}

#kbWrap { overflow:visible; }
#kbWrap a {text-decoration:none;color:#056A9C;}
#kbWrap li.selected a {color:red;}
#kbWrap * { overflow:visible; }

#kbHeader, #bbsHeader {margin-top:5px;height:15px;overflow:visible;}
#kbHeader * { overflow:visible; }
#kbHeaderTitle, #bbsHeaderTitle {font-family:'맑은 고딕';font-size:10pt;font-weight:bold;float:left;margin-left:10px;margin-right:20px;color:#000;}
#kbHeader a {display:block;}
#kbHeader a img {margin-top:6px;}

#kbWrap ul.articleList {margin:5px;margin-bottom:15px;}
#kbWrap ul.articleList > li {
    margin-top:5px;padding:0 10px;padding-bottom: 5px;display:inline-block;
    font-family: "맑은 고딕";font-size:11px;font-weight:normal;clear:both;cursor:pointer;
    background:url("http://img.enuri.gscdn.com/images/knowbox/goodboard/gray_dotline.gif") 0 bottom repeat-x;
}
#kbWrap div.articleData {font-family: "맑은 고딕";white-space:pre-line;display:block;width:222px;height:15px;float:left;color:#333333;line-height:16px;}
#kbWrap div.articleData span.replynum {font-family:"MS serif";font-size:6pt;}
#kbWrap div.articleInfo {float:right;display:block;text-align:right;margin-left:3px;width:30px;top:0;font-size:11px;color:#969696;}

#bbsWrap {overflow:visible;font-size:11px;padding-top:10px;padding-bottom:55px;}
#bbsWrap a {text-decoration:none;color:#056A9C;background-color:#fff;}
#bbsWrap li.selected a {color:red;}
#bbsWrap div { overflow:visible; }

#bbsWrap ul.articleList {margin:5px;}
#bbsWrap ul.articleList > li {margin-top:10px;padding:0 10px;padding-bottom: 10px;font-family: "맑은 고딕";font-size:9pt;font-weight:normal;border-bottom:1px dashed #a8a8a8;}
#bbsWrap div.articleData {font-family: "맑은 고딕";white-space:pre-line;color:#000;line-height:16px;}
#bbsWrap div.articleData a {background-color:#f6f6f6;text-decoration:underline;color:#000;font-size:11px;font-family:"돋움";}
#bbsWrap div.articleData a.autolink {background-color:#f6f6f6;text-decoration:underline;color:#000;font-size:11px;font-family:"돋움";display:block;}
#bbsWrap div.articleInfo {margin:5px;text-align:right;font-size:11px;color:#787878;}
#bbsWrap span.writer {font-weight:bold;}
#bbsWrap span.enuriuser {padding-left:18px;padding-top:1px;padding-bottom:2px;}
#bbsWrap span.enuriuser.hasID {background:url('http://img.enuri.gscdn.com/2012/toolbar/icon_writer.gif') 0 50% no-repeat;}

#bbsWrap div.delView {position:absolute;right:8px;margin-top:-14px;cursor:pointer;}
#bbsWrap span.delArea {position:absolute;display:none;width:267px;height:35px;margin-top:-10px;right:3px;background:url("http://img.enuri.gscdn.com/images/knowbox/goodboard/layer_info_06.png");}
#bbsWrap span.delArea input.del_pass {position:absolute;left:72px;top:9px;width:106px;border:1px solid #ADADAD;font-size:11px;padding:2px;}
#bbsWrap span.delArea input::-webkit-input-placeholder {color:#808080;}
#bbsWrap span.delArea input:-moz-placeholder {color:#808080;}
#bbsWrap span.delArea input::-moz-placeholder {color:#808080;}
#bbsWrap span.delArea input:-ms-input-placeholder {color:#808080;}

#bbsWrap span.delArea form div {display:block;position:absolute;cursor:pointer;}
#bbsWrap span.delArea div.delSubmit{width:32px;height:17px;top:10px;left:192px;}
#bbsWrap span.delArea div.delClose {width:16px;height:14px;top:8px;left:241px;}

#bbsWrap span.delPasswrongArea {position:absolute;display:none;width:267px;height:35px;margin-top:-10px;right:3px;background:url("http://img.enuri.gscdn.com/images/knowbox/goodboard/layer_info_07.png");}
#bbsWrap span.delPasswrongArea div {display:block;position:absolute;cursor:pointer;}
#bbsWrap span.delPasswrongArea div.delSubmit{width:32px;height:17px;top:10px;left:192px;}
#bbsWrap span.delPasswrongArea div.delClose {width:16px;height:14px;top:8px;left:241px;}

#bbsWform {position:relative;margin:0 auto;padding:5px 10px;width:260px;background-color:#F0F8FF;} /* border:1px solid #959595; */
#bbsWform * {font-family:'맑은 고딕';}

#bbsWform div.bg {width:3px;height:3px;position:absolute;}
#bbsWform div.bgl {position:absolute;}
#bbsWform_t {top:0;left:3px;width:274px;height:3px;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_02.gif');}
#bbsWform_l {top:3px;left:0;width:3px;height:150px;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_04.gif');}
#bbsWform_r {top:3px;right:0;width:3px;height:150px;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_05.gif');}
#bbsWform_b {bottom:0;left:3px;width:274px;height:3px;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_07.gif');}

#bbsWform_lt {left:0;top:0;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_01.gif') 0 0 no-repeat;}
#bbsWform_rt {right:0;top:0;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_03.gif') 0 0 no-repeat;}
#bbsWform_lb {left:0;bottom:0;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_06.gif') 0 0 no-repeat;}
#bbsWform_rb {right:0;bottom:0;background:url('http://img.enuri.gscdn.com/2012/toolbar_new/w_box_08.gif') 0 0 no-repeat;}

#bbsWriteForm {}
#bbsWriteForm input, #bbsWriteForm textarea {font-size:11px;}
#bbsWriteForm input::-webkit-input-placeholder, #bbsWriteForm textarea::-webkit-input-placeholder {color:#808080;}
#bbsWriteForm input:-moz-placeholder, #bbsWriteForm textarea:-moz-placeholder {color:#808080;}
#bbsWriteForm input::-moz-placeholder, #bbsWriteForm textarea::-moz-placeholder {color:#808080;}
#bbsWriteForm input:-ms-input-placeholder, #bbsWriteForm textarea:-ms-input-placeholder {color:#808080;}

#bbsWFHeader {}
#bbsWFTitle {font-size:10pt;font-weight:bold;float:left;color:#000;}
#bbsWFAuth {position:relative;float:right;text-align:right;width:188px;}
#bbsWFAuth label {display:block;float:left;margin-top:3px;margin-bottom:5px;width:60px;text-align:right;}
#bbsWFAuth input {margin-bottom:5px;width:118px;height:15px;ime-mode:disabled; }

#TmpBbsWFNotiImg {position:absolute;bottom:9px;left:-63px;}

#loginNameView {position:relative;display:inline-block;padding-top:5px;height:24px;}
#loginNameView *{text-align:left;font-family:'돋움';}
#loginNameTitle {float:left;margin-top:5px;margin-bottom:10px;padding-bottom:1px;width:60px;text-align:right;}
#loginName {float:left;margin-top:4px;margin-bottom:10px;margin-left:5px;padding-bottom:1px;border-bottom:1px solid #505050;cursor:pointer;}
#loginMenuLayer {display:none;position:absolute;right:0;top:29px;right:10px;width:86px;padding-top:10px;padding-right:3px;background-color:#fff;border:1px solid #737373;}
#loginMenuLayer div {cursor:pointer;padding:1px 0;padding-left:3px;}
#showMyArticle:hover, #bbsWFlogout:hover {background-color:#E5E9F6;}
#loginMenuClose {position:absolute;right:3px;top:1px}
#loginMenuClose:hover {background-color:#fff;}

#bbsWFActionArea {clear:both;}
#bbsWFActionArea > div {float:left;height:14px;padding-top:2px;margin-bottom:5px;margin-right:8px;cursor:pointer;}
#bbsWFActionArea input {margin-right:1px;}
#bbsWFActionArea > div#actLoginBtn {float:right;width:53px;height:16px;margin-right:0px;padding-top:0px;overflow:hidden;}
#bbsWFActionArea > div#actLoginBtn img { overflow:hidden; }
#bbsWFActionArea > div#actAutoLogin {padding-top:0;margin-bottom:1px;height:18px;cursor:default;line-height:18px;}

#bbsWFContent {clear:both;margin-bottom:10px;}
#bbsWFContent textarea {overflow-y: scroll;width:258px;height:70px;}

#bbsWFAuth input, #bbsWFContent textarea, li span.delArea input.del_pass {border:1px solid #ADADAC;line-height:16px;}

#bbsWFFooter {height:20px;}
#bbsWFInfo {}
#bbsWFInfoViewBtn {position:absolute;top:10px;left:65px;cursor:pointer;}
#bbsWFSubmitBtn {float:right;cursor:pointer;}

#bbsWFFooter div.bbsWFLayer {display:none;position:absolute;z-index:9999;} /* display:none; */
#bbsWFFooter div.bbsWFLayerCloseBtn {display:block;width:15px;height:15px;position:absolute;top:11px;right:8px;cursor:pointer;}

#bbsWFLayerInfo {left:0;margin-top:10px;}
#bbsWFLayerInfoCloseBtn {top:11px;right:8px;}
div.bbsWFLayer.id {top:30px;}
div.bbsWFLayer.pass {top:50px;}
#bbsWFLayerWrongID {left:0;}

#scrollArrow {position:fixed;left:225px;width:60px;height:54px;z-index:100;}
#scrollArrow div {cursor:pointer;position:absolute;}
#scrollUp {left:0;top:5px;}
#scrollDown {bottom:0;right:0;}
#scrollTop {position:absolute;top:0;right:0;}

#errorProposal {display:none;position:absolute;z-index:9999;width:280px;top:185px;left:3px;font-size:11px;}
#errorProposal > div {width:260px;padding:5px 10px;}
#errorProposal * {font-family: "맑은 고딕";}
#epTop {height:40px;background:url('http://img.enuri.gscdn.com/2012/toolbar2/singo_bg_01.png') 0 0 no-repeat;}
#epTop.formall {background:url('http://img.enuri.gscdn.com/2012/toolbar2/singo_bg_01_1.png') 0 0 no-repeat;}
#epTop * {display:none;}
#errorProposal .closeBtn {position:absolute;top:8px;right:8px;cursor:pointer;}
#epTitle {height:24px;font-size:14px;font-weight:bold;}
#epDetail {line-height:16px;}
#epDetail span {color:#800000;}

#epMain {background:url('http://img.enuri.gscdn.com/2012/toolbar2/singo_bg_02.png') 0 0 repeat-y;}
#epForm {width:244px;padding:0 8px;}

#epMallChk {display:none;}
#epMallChk ul {list-style:none;}
#epMallChk ul li {list-style:none;width:50%;line-height:20px;font-size:12px;font-weight:bold;}
#epMallChk ul li.epchL{float:left;}
#epMallChk ul li.epchR{float:right;}

#epFormTitle {clear:both;font-size:12px;color:black;line-height:16px;}
#epfText {}
#epfTitle.formall {font-weight:bold;}

#epfContents {width:100%;height:100px;border:1px solid black;margin:5px auto;IME-MODE:active; }

#epfDetail {font-size:12px;}

#epNums {margin: 5px 0;padding-left:10px;background:url('http://img.enuri.gscdn.com/2012/toolbar2/bu_g.gif') 0 50% no-repeat;}
#epNums * {color:#5A5A5A;}
#epnNums {font-weight:bold;}

#epfSubmit {position:absolute;right:10px;bottom:10px;cursor:pointer;}

#epBottom {height:5px;background:url('http://img.enuri.gscdn.com/2012/toolbar2/singo_bg_03.png') 0 0 no-repeat;}

#sponsorLink, #sponsorLink * {font-family:굴림;}

#redLink {margin:50px 0;}

.span_sponsor_link_title {font-size:9pt;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;cursor:pointer;text-decoration:underline;}
.span_enurilink_title {font-size:9pt;font-family:굴림;font-weight:bold;width:70px;padding-left:2px;padding-top:2px;color:#BA0000;cursor:pointer;text-decoration:underline;display:inline;}
.enurilink_register {margin-top:2px;color:#0000FF;text-decoration:underline;font-size:11px;}
.enurilink {margin:0px;padding:0px;list-style-image:none;list-style:none;margin:6px 0px 0px 0px;line-height:18px;}
.enurilink li {margin:0px;padding:0px;line-height:18px;}
.enurilink_title {color:#BA0000;font-size:11px;font-family:굴림;text-decoration:underline;}
.enurilink_desc {margin:0px;padding:0px;line-height:13px;text-decoration:none;font-size:11px;font-family:굴림;color:#000;}
.enurilink_link {margin:0px;padding:0px;color:#757575;font-size:11px;font-family:굴림;}
.enurilink_title_bull {color:#BA0000;font-size:11px;font-family:굴림;}
.li_enurilink_link {line-height:11px;}
.li_enurilink_desc {margin:0px 0px 2px 0px;}

.span_sponsor_link_bb_title {font-size:9pt;font-family:굴림;font-weight:bold;padding-left:2px;padding-top:2px;cursor:pointer;text-decoration:underline;}
.span_enurilink_bb_title {font-size:9pt;font-family:굴림;font-weight:bold;width:70px;padding-left:2px;padding-top:2px;color:#BA0000;cursor:pointer;text-decoration:underline;display:inline;}
.enurilink_bb_register {margin-top:2px;color:#0000FF;text-decoration:underline;font-size:11px;}
.enurilink_bb { font-size:9pt;width:100%;list-style-image:none;list-style:none;margin:7 0 0 0;padding:0; }
.enurilink_bb_title { font-size:9pt;color:#BA0000;font-family:굴림;text-decoration:underline; }
.enurilink_bb_title_bull { font-size:9pt;color:#BA0000;font-family:굴림; }
.enurilink_bb_desc { font-size:9pt;text-decoration:none;font-family:굴림;color:#000000; }
.enurilink_bb_link { font-size:9pt;color:#757575;font-family:굴림;text-decoration:none; }
.li_enurilink_bb_link { font-size:9pt;line-height:11px;padding-bottom:3px; }
.li_enurilink_bb_desc { font-size:9pt;margin:3 5 4 0; }

/* plno로 데이터가 들어오는 경우 사용하는 스타일 */

.plno_menuDiv { display:block;height:20px; }
.plno_menuDiv #deliveryInfo { float:left;cursor:pointer;width:180px;font-size:11px;font-family:'돋움';color:#3d3d3d; }
.plno_menuDiv #goodsRelease { float:left; }
.plno_menuDiv #singo_title { float:left;margin:0px 0px 0px 30px;height:13px;font-family:'맑은 고딕','돋움';font-size:11px;color:#484848;line-height:13px;border-bottom:1px solid;cursor:pointer; }
.plno_priceDiv { display:block;height:18px;position:absolute;top:116px;right:5px; }
.plno_priceDiv #goodslowestPrice { float:right; }
.plno_priceDiv #goodslowestPrice .priceInfo { float:right;font-family:'돋움';font-size:11px;color:#444444;margin:0px 5px 0px 0px; }
.plno_priceDiv #goodslowestPrice .priceInfo .num { font-family:Arial;font-size:11px;font-weight:bold;color:#000000; }
.plno_priceDiv #goodslowestPrice .mallPrice { float:right;text-align:right;margin:0px 0px 0px 0px;overflow:hidden;font-size:11px;width:72px;height:15px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_1.gif') no-repeat; }
.plno_priceDiv #goodslowestPrice .mallPriceEx { width:79px;height:15px;background:url('http://img.enuri.gscdn.com/2014/toolbar/20140331/btn_price_2.gif') no-repeat; }
.plno_priceDiv #goodslowestPrice .mallPrice .priceContent { float:right;position:relative;margin:0px 14px 0px 0px; }
.plno_priceDiv #goodslowestPrice .mallPrice .priceContent .price { color:#0066e8; }

#goodsOptionLine { display:block;border-bottom:1px dotted #ababab;margin:0px 3px 0px 3px;height:1px; }
#goodsOptionTitleList { display:none;margin:10px 3px 18px 3px;font-size:11px;font-family:'맑은 고딕','돋움';color:#484848;height:20px;line-height:20px; }
#goodsOptionTitleList .optionTitleItem { cursor:pointer;margin:0px 6px 0px 3px;font-size:11px;font-family:'맑은 고딕','돋움';color:#484848;line-height:16px;border-bottom:1px solid #7f7f7f; }

#goodsOptionTitleFirst { display:none;position:relative;height:100px; }
#goodsOptionTitleFirst .optionTitleArr { position:absolute;top:7px;left:12px; }
#goodsOptionTitleFirst .optionTitleFirst1 { padding:12px 0px 1px 30px;font-family:'맑은 고딕','돋움';font-size:11px;color:#444444;height:16px;line-height:15px; }
#goodsOptionTitleFirst .optionTitleFirst1 span { cursor:pointer;font-weight:bold;font-family:'맑은 고딕','돋움';font-size:11px;color:#444444;border-bottom:1px solid #444444; }
#goodsOptionTitleFirst .optionTitleFirst2 { margin:3px 0px 0px 92px;font-family:'맑은 고딕','돋움';font-size:11px;color:#444444;height:16px;line-height:16px; }

#goodsOptionTitleList .goodsOptionTitle { float:left;height:20px;line-height:20px;font-family:'맑은 고딕','돋움';font-size:11px;font-weight:bold;color:#444444; }
#goodsOptionTitleList .goodsOptionTitleBtns { float:right; }
#goodsOptionTitleList .goodsOptionTitleBtns #optionResetBtn { margin:0px 12px 0px 0px;line-height:12px;cursor:pointer;border-bottom:1px solid #7f7f7f;font-family:'맑은 고딕','돋움';font-size:11px;color:#7f7f7f; }
#goodsOptionTitleList .goodsOptionTitleBtns #optionAllBtn { margin:0px 4px 0px 0px;line-height:13px;cursor:pointer;border-bottom:1px solid #3d3d3d;font-family:'맑은 고딕','돋움';font-size:11px;color:#3d3d3d;font-weight:bold; }

#goodsOptionList { display:none;margin:0px 0px 50px 0px; }
#goodsOptionList .optionSubList { margin:0px 4px 15px 4px;border:1px solid #000000; }
#goodsOptionList .optionSubList .optionDataSubItemTitle { position:relative;cursor:pointer;padding:0px 0px 0px 5px;height:24px;line-height:22px;background-color:#e6e6e6;margin:0px 0px 0px 0px;font-family:'맑은 고딕','돋움';font-size:11px;color:#2a2a2a; }
#goodsOptionList .optionSubList .optionDataSubItemTitle .optionDataSubItemX { display:none;position:absolute;right:2px;top:2px;cursor:pointer;font-family:'맑은 고딕','돋움';font-size:12px;color:#25303a; }
#goodsOptionList .optionSubList .optionDataSubItemTitle .optionTitleBullet { position:absolute;top:10px;right:10px; }
#goodsOptionList .optionSubList .optionDataSubItemBody { display:none;background-color:#ffffff;margin:0px 0px 0px 0px; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem { border-bottom:1px solid #d4d4d4;background-color:#ffffff;height:24px;margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;line-height:24px; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem .optionDataSubRadioDiv { float:left;width:14px;margin:6px 0px 0px 5px; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem .optionDataSubRadioDiv .optionDataSubRadio { height:12px;width:12px;cursor:pointer; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem .optionDataSubRadioDiv .optionDataSubRadioNoSel { height:12px;width:12px;cursor:pointer; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem .option_sub_name_price { float:left;margin:7px 0px 0px 0px;overflow:visible;word-break:break-all;width:254px;line-height:12px; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem .option_sub_name_price span { cursor:pointer;font-family:'돋움';font-size:11px;color:#555555; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionDataSubItem span { float:left;color:#616161;font-family:'돋움';font-size:11px; }

#goodsOptionList .optionSubList .optionDataSubItemBody .optionItemFirst { border-top:1px solid #969696; }
#goodsOptionList .optionSubList .optionDataSubItemBody .optionItemLast { border-bottom:1px solid #ffffff; }

#goodsTitlePlno { overflow:hidden;margin:8px 0px 0px 0px;heihgt:14px;font-family:'맑은 고딕','돋움';font-size:11px;color:#3d3d3d;font-weight:bold; }
#goodsCompanyPlno { position:absolute;cursor:pointer;bottom:33px;right:10px;font-family:'맑은 고딕','돋움';font-size:12px;color:#3d3d3d;font-weight:bold; }

/* plno로 데이터가 들어오는 경우 사용하는 스타일 */

/* SimpleView 레이어 스타일 시작 */
._hideClass{display:none;}

#simpleViewShare {position:fixed;top:140px;left:30px;z-index:200;width:231px;height:229px;background-image:url('http://img.enuri.gscdn.com/2012/list/simple/share_layer.png');}
#simpleViewShare *{font-family:'맑은 고딕','돋움';font-size:9pt;}
#simpleViewShare #svsTop {width:231px;height:46px;}
#simpleViewShare #svsTop p {margin:22px 0 0 20px;}
#simpleViewShare #svsTop img {position:absolute;top:17px;right:16px;cursor:pointer;}
#simpleViewShare #svsBody { width:231px;height:175px;}
#simpleViewShare #svsBody #svsBody1 {position:relative;width:211px;height:127px;left:18px;top:10px;margin:0px;padding:0px;list-style:none;}
#simpleViewShare #svsBody #svsBody1 dt {clear:both;float:left;width:45px;height:26px;}
#simpleViewShare #svsBody #svsBody1 dt .shareTxt img {position:relative;top:2px;cursor:pointer;}
#simpleViewShare #svsBody #svsBody1 dd {float:left;width:160px;margin-top:3px;}
#simpleViewShare #svsBody hr {margin-top:15px;width:85%;height:1px;border:0px;background-color:silver;}
#simpleViewShare #svsBody #svsBody2 {position:relative;left:20px;top:0px;margin:0px;padding:0px;list-style:none;}
#simpleViewShare #svsBody #svsBody2 li {float:left;margin-right:5px;}
#simpleViewShare #svsBody #svsBody2 li img { cursor:pointer; }
#simpleViewShare #svsBottom {width:231px;height:10px;}
#simpleViewShare .simpleViewLine { margin:14px 0px 4px 16px;width:190px;overflow:hidden;height:1px;background-color:#c0c0c0; }

#simpleViewMail {position:fixed;top:143px;left:3px;z-index:200;display:none;}
#simpleViewMail * {font-size:12px;font-family:"돋움";}

#simpleViewMail div { padding:0px;margin:0px; }
#simpleViewMail form { margin:0px;padding:0px;overflow:hidden; }
#simpleViewMail form label {line-height:14px;}
#simpleViewMail input {font-size:12px;background-color:#ffffff;border:1px solid #808080;font-family:"돋움";}
#simpleViewMail textarea {font-size:12px;background-color:#ffffff;border:1px solid #7f9db9;font-family:"돋움";}

#simpleViewMail .messageTitle { overflow:hidden;width:282px;height:38px;background:url(http://img.enuri.gscdn.com/images/view/mail/mail_layer_01.png) no-repeat left top; }
#simpleViewMail .titleString {float:left;margin:16px 0 0 15px;width:225px;font-size:12px;font-weight:bold;}
#simpleViewMail .closeBtn {float:right;margin:12px 10px 0 0;width:10px;height:10px;background:url(http://img.enuri.gscdn.com/images/view/mail/x.gif) no-repeat;cursor:pointer;}
#simpleViewMail .titleInfo .require {color:#f00;margin:0 -3px 0 0;}

#simpleViewMail .messageContent {clear:both;overflow:hidden;width:282px;background:url(http://img.enuri.gscdn.com/images/view/mail/mail_layer_02.png);}
#simpleViewMail .bodyContent {margin:0 0 0 10px;padding-top:10px;}
#simpleViewMail #mailInfo {position:relative;}
#simpleViewMail #mailInfo .recv {position:relative;display:block;width:250px;margin:0 0 3px 2px;}
#simpleViewMail #mailInfo .recvEmail {display:inline-block;width:48px;font-size:11px;;}
#simpleViewMail #mailInfo .receiverMail {width:190px;height:18px;ime-mode:inactive;border:2px solid #616161;}

#simpleViewMail #mailCaptcha {position:relative;margin-top:10px;}
#simpleViewMail #mailCaptcha div {float:left;width:100px;margin-left:20px;}
#simpleViewMail #mailCaptcha div .p1 {height:6px;margin:0;padding:0;}
#simpleViewMail #mailCaptcha div .p2 {height:12px;margin:0;padding:0;font-size:11px;line-height:12px;color:#616161;}
#simpleViewMail #captchaImg {display:inline;width:62px;height:25px;}
#simpleViewMail #captchaRefresh {text-decoration:underline;cursor:pointer;}
#simpleViewMail #imgPassText {width:75px;vertical-align:top;margin-top:4px;border:1px solid #020202;}

#simpleViewMail #emailSend {clear:both;float:right;width:64px;height:27px;margin:5px 15px 3px 0px;}
#simpleViewMail #emailSend img {display:block;cursor:pointer;}

#simpleViewMail .messageContent .hr {clear:both;margin-left:5px;width:255px;height:5px;border-top:1px dotted #2b2b2b;}

#simpleViewMail #mailBodyNone {width:260px;height:20px;}
#simpleViewMail #mailBodyNone p {margin:0;padding:0;float:right;text-align:right;width:100px;font-family:"맑은 고딕";font-size:11px;cursor:pointer;}
#simpleViewMail #mailBody {position:relative;display:none;}
#simpleViewMail #mailBody * {font-family:"맑은 고딕";}
#simpleViewMail #mailBody dl {width:260px;height:22px;margin:5px 0 0 0;}
#simpleViewMail #mailBody dt {float:left;margin:0;font-size:11px;}
#simpleViewMail #mailBody dd {float:right;margin:0;font-size:11px;font-weight:bold;cursor:pointer;}
#simpleViewMail #mailBody input {border:1px solid #808080;background-color:#f7f7f7;}
#simpleViewMail #mailBody #sender {height:26px;}
#simpleViewMail #mailBody #senderName {margin-left:1px;width:140px;height:19px;ime-mode:active;color:#676767;}
#simpleViewMail #mailBody #sendMailSubject {width:233px;height:19px;overflow:hidden;ime-mode:active;color:#000000;}
#simpleViewMail #mailBody #sendMailContents {width:261px;margin:5px 0 5px 0;padding-top:2px;border:1px solid #808080;background-color:#f7f7f7;ime-mode:active;color:#676767;}

#simpleViewMail .forBottomBg {width:282px;height:8px;overflow:hidden;background:url(http://img.enuri.gscdn.com/images/view/mail/mail_layer_03.png) no-repeat left top;}

.sv_rz_top {width:268px;height:30px;background-image:url(http://img.enuri.gscdn.com/2012/list/zzim/svi_bg_0926.png);}
.sv_rz_goods {width:268px;height:60px;background-image:url(http://img.enuri.gscdn.com/2012/list/zzim/svi_bg_list_0926.png);}
.sv_rz_goods_sel {width:268px;height:60px;background-image:url(http://img.enuri.gscdn.com/2012/list/zzim/svi_bg_list_on_0926.png);}
/* SimpleView 레이어 스타일 끝 */


/* 20150810 렌탈서비스 */
.rentalWrap { }
.apply_area {padding:20px 18px 50px 17px;}
.guide_box {margin-bottom:20px; }
.apply_area dl {width:100%; height:18px; margin:0;}
.apply_area dl:after {content:""; display:block;clear:both;}
.apply_area dl.price {margin-top:4px;}
.apply_area dl dt {float:left; width:24%; font-family:Malgun Gothic; font-size:12px; color:#343434; letter-spacing:-0.05em; }
.apply_area dl dd {float:left; width:72%; margin-left:5px; font-family:Malgun Gothic; font-size:12px; color:#343434; letter-spacing:-0.05em; }
.apply_area dl dd strong {font-family:Malgun Gothic; font-size:14px; color:#2680ef; letter-spacing:0;}
.apply_area .select_box {position: relative; width:150px; height: 17px;  border: 1px solid #e2e2e2; background: url(http://img.enuri.gscdn.com/2014/toolbar/20150811/bul_select_arrow.gif) #fff 100% 50% no-repeat;}
.apply_area .select_box label {position: absolute;  top: 1px; left: 3px;  font-family:Malgun Gothic; font-size:11px; color:#787878;}
.apply_area .select_box select.selectbar {width:100%; height: 17px; min-height: 17px;	line-height:17px; padding: 0 3px;	opacity: 0;	filter: alpha(opacity=0);	}
.apply_area .al_center {text-align:center; margin-top:15px;}
.apply_area .btn_apply {display:inline-block; width:120px; height:30px; background:url(http://img.enuri.gscdn.com/2014/toolbar/20150811/btn_apply.gif);}
.apply_area .btn_apply span {visibility: hidden; font-size:0;}