@charset "utf-8";

body {background-color:#fff !important;}

/* responsive common */
.container {
	position:relative;
	width:990px !important;
	padding-left:10px;
	padding-right:10px;
}

.col-pc-1, .col-pc-2, .col-pc-3, .col-pc-4, .col-pc-5 {
	float: left;
}

.col-pc-1 {width:100% !important;}
.col-pc-2 {width:50% !important;}
.col-pc-3 {width:33.33333333% !important;}
.col-pc-4 {width:25% !important;}
.col-pc-5 {width:20% !important;}

.hidden-pc {display:none !important;}

/* COMMON */
.str_ i {display:block; width:100%; height:100%; background:url(http://img.enuri.info/images/dealnew/icon_pack_deal_ie8.png) no-repeat; background-size:100%;}
/* .str_pc {display:block; overflow:hidden; text-indent:-9999px; background:transparent;}
.str_pc i {display:block; width:100%; height:100%; background:url(http://img.enuri.info/images/dealnew/icon_pack_dealpc.png) no-repeat;}
.str_mainicon {display:block; overflow:hidden; text-indent:-9999px; background:transparent;}
.str_mainicon i {display:block; width:100%; height:100%; background:url(http://img.enuri.info/images/dealnew/icon_pack_mainicon.png) no-repeat;} */

/*
	IE8 
	- background-size 적용안됨
	- Sprite 이미지 적용 안 되기 때문에, 정확한 사이즈의 이미지 추가함
	- 기존에 background-size 조정되어 있는 이미지 css 재정의
*/
/* MD PICK SLICK */
.mdpicklist {height:394px; padding:0 4px;}
.mdpickitem {width:229px !important; margin:0 7px 0 8px;}

/* MD TOUR PICK SLICK */
.mdtourlist {height:394px; padding:0 4px;}
.mdtouritem {width:229px !important; margin:0 7px 0 8px;}

/* MD ECOUPON PICK SLICK */
.mdecouponlist {height:394px; padding:0 4px;}
.mdecouponitem {width:229px !important; margin:0 7px 0 8px;}

/* 핫딜베스트 상단 탭 */
.tab_deal li.on a {height:53px; border:3px solid #ff544c;}
.tab_deal li.on a:after {display:none;}
.tab_deal li.ico_1 a {background:url(http://img.enuri.info/images/m_home/hotdeal_allkill_ie8.png) center no-repeat;}
.tab_deal li.ico_2 a {background:url(http://img.enuri.info/images/m_home/hotdeal_superdeal_ie8.png) center no-repeat;}
.tab_deal li.ico_3 a {background:url(http://img.enuri.info/images/m_home/hotdeal_shocking_ie8.png) center no-repeat;}
.tab_deal li.ico_4 a {background:url(http://img.enuri.info/images/m_home/hotdeal_timon_ie8.png) center no-repeat;}
.tab_deal li.ico_5 a {background:url(http://img.enuri.info/images/m_home/hotdeal_wemape_ie8.png) center no-repeat;}
.tab_deal li.ico_6 a {background:url(http://img.enuri.info/images/m_home/hotdeal_ssendeal_ie8.png) center no-repeat;}

/* 몰베스트 상단 탭 */
.tab_mall li.on a {height:53px; border:3px solid #ff544c;}
.tab_mall li.on a:after {display:none;}
.tab_mall li.ico_1 a {background:url(http://img.enuri.info/images/m_home/hotdeal_allkill_ie8.png) center no-repeat;}
.tab_mall li.ico_2 a {background:url(http://img.enuri.info/images/m_home/hotdeal_superdeal_ie8.png) center no-repeat;}
.tab_mall li.ico_3 a {background:url(http://img.enuri.info/images/m_home/hotdeal_shocking_ie8.png) center no-repeat;}
.tab_mall li.ico_4 a {background:url(http://img.enuri.info/images/m_home/hotdeal_timon_ie8.png) center no-repeat;}
.tab_mall li.ico_5 a {background:url(http://img.enuri.info/images/m_home/hotdeal_wemape_ie8.png) center no-repeat;}
.tab_mall li.ico_6 a {background:url(http://img.enuri.info/images/m_home/hotdeal_ssendeal_ie8.png) center no-repeat;}

/* ZZIMLY */
.zzimly {background-color:#000; opacity:0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50);}
.zzimly:after {background:url(http://img.enuri.info/images/dealnew/icon_pack_deal_ie8.png) -250px -50px no-repeat;}

/* 우측 아래 TOP 버튼 */
.newquick p {cursor:pointer; background:url(http://img.enuri.info/images/mobilefirst/btn_top_ie8.png) -9999em -9999em no-repeat; background-size:100%; display:block; width:40px; height:40px; margin-top:3px}

/* sub head */
.page_head {height:auto; border-bottom:0; background-color:#fff;}
.page_head .tit {margin-top:50px; padding:10px 0; border-bottom:1px solid #333; font-weight:bold; font-weight:500; font-size:24px; color:#333; line-height:28px; vertical-align:middle; text-align:left;}
.page_head .btn {display:none;}

.productlist > li .p_info .zzim {top:4px; right:7px;}

/* 상품 목록(기본) */
.productlist li#powerLink {width:calc(100% - 20px); max-width:100%;}
.productlist li .p_wrap.block_powerlink {border:0;}
.productlist li .block_powerlink .powerlink_tit h3 {padding-left:10px; font-weight:bold; font-weight:500; font-size:20px; line-height:30px;}
.productlist li .block_powerlink .powerlink_tit .cpcgo {top:8px; width:85px; height:34px; border-radius:3px; border:2px solid #cccbc9; font-size:16px; line-height:30px;}
.productlist li .block_powerlink .list_eabycpc {overflow:hidden; border:1px solid #ddd;}
.productlist li .block_powerlink .list_eabycpc li {display:inline; float:left; width:489px; max-width:100%; margin:0; border-bottom:1px solid #eee; border-right:1px solid #eee; background-color:#fff;}
.productlist li .block_powerlink .list_eabycpc li:first-child {width:490px;}
.productlist li .block_powerlink .list_eabycpc li:first-child+li+li {width:490px; border-bottom:0;}
.productlist li .block_powerlink .list_eabycpc li:first-child+li+li+li {border-bottom:0;}
.productlist li .block_powerlink .list_eabycpc li .list_box {height:auto; padding:19px 19px 20px 19px;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a {height:160px; padding:0 0 0 180px;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .thum img {width:160px; height:160px;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .mall {height:22px; margin:0 0 3px;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .mall img {width:auto; height:100%;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .tit {height:40px; font-size:16px; line-height:20px}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .price {height:60px; margin:0; padding:15px 0; font-size:16px; line-height:30px;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .price em {font-size:24px; letter-spacing:-1px;}
.productlist li .block_powerlink .list_eabycpc li .list_box > a .deli {position:absolute; bottom:0; left:180px; height:18px; font-size:11px; line-height:16px;}

/* 파워링크 */
.block_horizontal_powerlink {border-bottom:0;}
.block_horizontal_powerlink .block_inner {position:relative; width:990px; padding-left:10px; padding-right:10px; margin:0 auto;}
.block_horizontal_powerlink .powerlink_tit h3 {padding-left:10px; font-weight:bold; font-weight:500; font-size:20px; line-height:30px;}
.block_horizontal_powerlink .powerlink_tit .cpcgo {top:8px; width:85px; height:34px; border-radius:3px; border:2px solid #cccbc9; font-size:16px; line-height:30px;}
.block_horizontal_powerlink .horizontal_scroll {height:290px; margin-bottom:30px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area {overflow:hidden; padding:10px 5px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc {display:block; overflow:hidden;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li {width:150px; margin:0 5px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .thumb {width:150px; height:150px; border:0;}	
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest {top:158px; left:0; width:100%; height:112px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest .tit {margin-top:28px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest .shop {top:-1px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest .shop img {height:20px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest .deli {height:18px; font-weight:400; font-size:11px; line-height:16px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest .price {height:60px; margin-top:0; padding:15px 0; font-size:14px; line-height:30px;}
.block_horizontal_powerlink .horizontal_scroll .list_scroll_area .list_eabycpc li .lowest .price strong {font-size:18px;}	










/* 검색 (IE8) */
.m_srch_wrap {top:113px; left:50%;  z-index:2000; width:465px; height:auto; margin-left:-273px; border:4px solid #ff544c; background-color:#fff;}
.ms_head .srch_clear {top:33px; right:52px;}
.ms_head .srch_m {top:32px; right:22px;}




.prodWrap .no_srch,
    .srpWrap .no_srch {margin-top:100px;}
	.prodWrap .no_srch,
    .srpWrap .no_srch .non {margin:20px 0 30px;}
    .srpProdWrap {padding-bottom:0;}
    .srpProdWrap .head {margin:50px 0 10px; padding:0 10px;}
    .srpProdList {padding:0;}
    .srpProdList li {padding-bottom:50px;}
	.srpProdList li > a .thumb {width:176px; height:176px;}
    #srppage .prod_align {margin-top:0;}
    
    .category_list_all {overflow:hidden; float:left; width:100%; border-top:1px solid #f1f0ee; border-left:1px solid #f1f0ee;}
    .category_list_all li {float:left; width:25%; padding:0 10px; border:1px solid #f1f0ee; border-left:0; border-collapse:collapse; border-top:0; font-size:15px; color:#666; line-height:37px;}
    /*.category_list li:nth-child(4n) {border-left:1px solid red}*/
    .category_list_all li a {display:block;}
    .category_list_all li a:hover {text-decoration:underline;}
    
    
    /* LP STYLE CSS */
    .category_list_all {overflow:hidden; float:left; width:100%; border-top:1px solid #f1f0ee; border-left:1px solid #f1f0ee;}
    .category_list_all li {float:left; width:25%; padding:0 10px; border:1px solid #f1f0ee; border-left:0; border-collapse:collapse; border-top:0; font-size:15px; color:#666; line-height:37px;}
    /*.category_list li:nth-child(4n) {border-left:1px solid red}*/
    .category_list_all li a {display:block;}
    .category_list_all li a:hover {text-decoration:underline;}

/* 2017-07-13 결과내 검색 추가 - JSH */
.result_in_srch {display:inline; float:right; width:200px; margin:0 0 5px;}

	#srppage .result_in_srch {position:absolute; top:-35px; right:10px;}
	
	.ms_body .nav_tab {display:table; position:relative; z-index:100; width:100%;}
	.ms_body .nav_tab li {display:table-cell; width:50%; border-collapse:collapse;}
	.ms_body .nav_tab li + li {border-left:1px solid #cccbc9;}
	.ms_body .nav_tab li > a {display:block; height:44px; border-bottom:1px solid #cccbc9; font-weight:bold; font-weight:600; font-size:15px; color:#999; line-height:43px; vertical-align:middle; text-align:center; background-color:#f1f0ee;}
	.ms_body .nav_tab li.on > a {border-bottom:1px solid #fff; color:#ff544c; background-color:#fff;}	
	
	/*페이징*/
    .paging-wrap {margin-bottom:0; padding:0; border-top:0;}
    .paging {position:relative; width:970px; margin:22px auto; border-top:0; text-align:center;}
    .paging li {display:inline-block; width:auto; margin:0 1px; vertical-align:middle}
    .paging li a {width:34px; height:34px; padding-top:2px; border:1px solid #e2e2e2; color:#999999; text-align:center; display:block; font-size:18px; font-family:tahoma;}
    .paging li a.btn {position:relative; top:auto; width:78px; height:34px; padding-top:2px; font-size:16px; color:#181818; background:url(http://img.enuri.info/images/home/bullet.gif) 0 0 no-repeat; }
    .paging li a.btn:hover {border:1px solid #e2e2e2; color:#181818;}
    .paging li a.btn i {display:none !important;}
    .paging li a.btn.prev {left:auto; background-position:10px -247px; text-indent:7px;}
    .paging li a.btn.next {right:auto; background-position:right -300px; text-indent:-7px;}
    .paging li a.selected {cursor:default; background:#2d9fe8; border:1px solid #1f8fd7; text-decoration:none; color:#fff;}
    .paging li a.selected:hover {border:1px solid #1f8fd7; color:#fff;}
    .paging li a:hover {border:1px solid #787878; color:#343434;}
    
    
    
    .filter_wrap {max-width:420px; max-height:564px; margin-left:-210px !important; margin-top:-300px  !important;}
    
    
    
    .check_area li {width:25%;}
    .check_area li:nth-child(even) {width:25%; border-right:1px solid #f1f0ee;}
    
    
    
    #myProdWrap .productlist > li .p_box {height:auto;}
    
    
    
    .hidden-pc {display:none !important;}
    
    
    .cate_scroll {height:72px;}
    .cate_scroll li {width:65px; height:72px;}

	.pccate_scroll ul {display:table;}
	.pccate_scroll ul li {display:table-cell; float:none; position:relative; width:auto; margin:0 5px;}
	.pccate_scroll ul li:nth-child(1), .pccate_scroll ul li:nth-child(2), .pccate_scroll ul li:nth-child(3), .pccate_scroll ul li:nth-child(4), .pccate_scroll ul li:nth-child(5) {border-bottom:0;}
	.pccate_scroll ul li > a {padding-bottom:10px; font-size:13px;}
	.pccate_scroll ul li > a > span {width:50%; margin:10px auto 5px;}
    .cate_scroll {height:82px;}
    .cate_scroll li {width:87px; height:82px;}
    
    
/* 마이페이지 */
.horiScrollWrap {position:relative; overflow:hidden;}
.horiScrollWrap .scrollList {overflow-x:auto; overflow-y:auto; -webkit-overflow-scrolling:touch; position:relative; width:100%;}
.horiScrollWrap .scrollList > ul {display:block; overflow:hidden;}
.recentProdWrap .head .all {position:absolute; top:13px; right:5px; padding-right:10px; font-size:12px; color:#999; background:none;}
.recentProdList {height:auto; padding:0 10px;}
.recentProdList li {float:left; position:relative; width:20%; height:auto; margin-right:0;}
.recentProdList li:last-child {margin-right:0;}
.recentProdList li > a {display:block; position:relative;}
.recentProdList li > a .thumb {width:98%; width:calc(100% - 2px); border:1px solid #eee;}

/* 마이 > 설정 */
.ipt_chk {position:absolute; top:50%; right:10px; margin-top:-14px;}
.ipt_chk .unchk {display:inline-block; width:28px; height:28px; line-height:28px; cursor:pointer; background:url(http://img.enuri.info/images/dealnew/icon_pack_deal_ie8.png) -150px 0 no-repeat; background-size:100%;}
.ipt_chk .chk {display:inline-block; width:28px; height:28px; line-height:28px; cursor:pointer; background:url(http://img.enuri.info/images/dealnew/icon_pack_deal_ie8.png) -150px -28px no-repeat; background-size:100%;}
.ipt_chk .unchk input,
.ipt_chk .chk input {position:absolute; -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; border:0; height:1px; width:1px; margin:-9999em;}

    
    /* 상품 정렬 & 필터 */
    .filter_align {margin-bottom:0;}
    .prod_align {margin-top:15px;}
    .row_align {height:40px; border-top:0;}
	#srppage .row_align {border-top:1px solid #cccbc9;}
    .row_align > ul  {clear:both; float:left; position:relative; width:100%;}
    .row_align > ul > li {border-left:0;}
    .row_align > ul > li.p_numb {line-height:40px;}
    .row_align > ul > li.sel_price {position:absolute; top:5px; right:6px; z-index:100; width:auto; height:30px;}
    .row_align > ul > li.sel_price .select {float:left; position:relative; width:100px; height:30px; padding:0;}
    .row_align > ul > li.sel_price .select a.showList {display:block; overflow:hidden; width:100px; height:100%; border:1px solid #d5d5d5; text-indent:8px; line-height:28px; color:#343434; letter-spacing:-1px; vertical-align:middle; background-color:#fff;}
    .row_align > ul > li.sel_price .select a.showList .arrow {position:absolute; top:0; right:0; width:30px; height:29px;}
    .row_align > ul > li.sel_price .select a.showList .arrow i {background-position:0 -99px;}
    /*
	.row_align ul li.sel_price .select .sub_dp {display:none; overflow:hidden; position:absolute; top:29px; left:0; z-index:100; width:100%; border:1px solid #cccbc9; background:#f1f0ee;}
    .row_align ul li.sel_price .select .sub_dp li {background:none; padding:0; width:100%; height:35px; border-bottom:1px solid #e2e0de;}
    .row_align ul li.sel_price .select .sub_dp li a {display:block; border:none; background:none; margin:0; padding:0; text-indent:8px; font-size:13px; color:#666; line-height:34px;}
    .row_align ul li.sel_price .select .sub_dp li a:hover {background:#ff544c; color:#fff;}
	*/
	.row_align ul li.sel_price .select .sub_dp {display:none; overflow:hidden; z-index:100; width:100%; border:1px solid #cccbc9; border-top:0; background:#fff;}
    .row_align ul li.sel_price .select .sub_dp li {background:none; padding:0; width:100%; height:35px; border-bottom:1px solid #e2e0de;}
    .row_align ul li.sel_price .select .sub_dp li a {display:block; border:none; background:none; margin:0; padding:0; text-indent:8px; font-size:13px; color:#666; line-height:34px;}
    .row_align ul li.sel_price .select .sub_dp li a:hover {background:#ff544c; color:#fff;}
    
	/* 
		2017-05-18 홈(오늘의추천, 실시간핫딜) 상품정렬, 갤러리정렬 탭 삭제, 앱 UI 와 동일하게 변경 
		2017-09-06 인기몰베스트 탭 추가하면서 동일하게 적용
	*/
	#listpage .filter_align,
	#srppage .filter_align,
	#realTime .filter_align,
	#todayRec .filter_align,
	#mallBest .filter_align {margin-bottom:7px;}
	#todayRec .row_align > ul > li.btn > a {display:none;}
    .row_align ul li.btn {position:absolute; top:0; height:40px; line-height:40px;}
    .row_align ul li.btn.right1 {display:none;}
    .row_align ul li.btn.right2 {display:none; right:6px;}

	
	.row_align > ul > li.itemalign ul {padding-top:3px;}

    .row_tags {background-color:#fff;}
    .row_tags ul li .del {right:-5px; width:18px; height:18px; margin-top:-10px;}
    .row_tags ul li .del i {background:url(http://img.enuri.info/images/dealnew/icon_pack_dealpc.png) -50px -100px no-repeat;}
    
    
    .radio_area li:after {content:''; position:absolute; top:12px; left:10px; width:16px; height:16px; background-image: url(http://img.enuri.info/images/dealnew/bg_radio_ie8.png); background-repeat:no-repeat; background-size:16px auto;}
    .check_area li span {display:block; height:41px; padding-left:23px; font-size:14px; color:#333; line-height:41px; cursor:pointer; background:url(http://img.enuri.info/images/dealnew/bg_check_ie8.png) no-repeat; background-size:17px;}