/* 여행 MD Pick 슬라이드 */
.mdtourWrap {overflow:hidden; clear:both; padding-top:15px; background-color:#edf1f5;}

.mdtourlist {margin-bottom:34px;}
.mdtouritem .p_wrap {position:relative; width:229px; cursor:pointer; border:1px solid #cccbc9; background-color:#fff;}
.mdtouritem .p_wrap .p_box {position:relative; padding:0; border-bottom:1px solid #cccbc9;}
.mdtouritem .p_wrap .p_thum {display:block; overflow:hidden; position:relative; width:227px; height:227px; text-align:center;}
.mdtouritem .p_wrap .p_thum img {position:absolute; top:0; bottom:0; left:0; right:0; width:auto; height:auto; max-width:100%; max-height:100%; margin:auto; vertical-align:middle;}

.mdtouritem .p_wrap .p_info {overflow:hidden; display:block; padding:10px 10px 5px; border-top:1px solid #cccbc9; background-color:#fff;}
.mdtouritem .p_wrap .p_info .mall {display:block; width:auto; height:26px;}
.mdtouritem .p_wrap .p_info .tit {display:block; display:-webkit-box; overflow:hidden; height:32px; margin:7px 0 17px; font:normal 13.5px/16px "맑은 고딕", Malgun Gothic, sans-serif; color:#333; letter-spacing:-1px; text-align:left; -webkit-line-clamp:2; text-overflow:ellipsis; -webkit-box-orient:vertical; -ms-box-orient:vertical; box-orient:vertical; word-wrap:break-word; white-space:normal;}
.mdtouritem .p_wrap .p_info .zzim {display:block; position:absolute; top:190px; right:9px; z-index:100; width:28px; height:28px;}
.mdtouritem .p_wrap .p_info .zzim i {background-position:-200px -50px;}
.mdtouritem .p_wrap .p_info .zzim.on i {background-position:-200px -82px;}
.mdtouritem .p_wrap .p_info a {display:block; overflow:hidden;}
.mdtouritem .p_wrap .p_info .price {clear:both; float:left; position:relative; width:100%; text-align:left;}
.mdtouritem .p_wrap .p_info .price .percent {float:left; font-size:15px; color:#ff4a57;}
.mdtouritem .p_wrap .p_info .price .percent em {font-weight:bold; font-weight:600; font-size:20px;}
.mdtouritem .p_wrap .p_info .price .s_price {display:inline; float:left; margin:0 0 0 8px; font-weight:bold; font-weight:600; font-size:20px; color:#333; line-height:26px; vertical-align:middle;}
.mdtouritem .p_wrap .p_info .price .s_price s {position:absolute; top:-10px; font-weight:300; font-size:12px; color:#bbb; line-height:15px;}
.mdtouritem .p_wrap .p_info .price .s_price strong {font-size:16px; color:#ff4a57;}
.mdtouritem .p_wrap .p_info .price .s_price em {font-size:13px;}

.mdtouritem .p_wrap .p_relate {overflow:hidden; clear:both; position:relative; background-color:#fff;}
.mdtouritem .p_wrap .p_relate .buy {position:absolute; top:0; right:10px; clear:both; padding:8px 0; color:#bbb; font-size:12px;}
.mdtouritem .p_wrap .p_relate .badge_list {overflow:hidden; padding:8px 10px;}
.mdtouritem .p_wrap .p_relate .badge_list li {display:inline; float:left; margin-right:3px;}
.mdtouritem .p_wrap .p_relate .badge_list li .bdg {display:block; height:18px; padding:0 4px; border:1px solid #e0f1fc; font-style:normal; font-size:11px; color:#6cbcef; line-height:16px; vertical-align:middle;}
/* 여행 MD Pick SLICK CUSTOM */
.mdtourlist .slick-arrow {position:absolute; top:171px; z-index:99; width:30px; height:48px; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/homemain/main_stripe.png) no-repeat;}
.mdtourlist .slick-arrow.slick-prev {left:10px; background-position:0 -150px;}
.mdtourlist .slick-arrow.slick-next {right:10px; background-position:-50px -150px;}
.mdtourlist .slick-arrow.slick-prev:hover {background-position:-100px -150px;}
.mdtourlist .slick-arrow.slick-next:hover {background-position:-150px -150px;}
.mdtourlist .slick-dots {position:absolute; bottom:-26px; width:100%; text-align:center; line-height:10px;}
.mdtourlist .slick-dots li {display:inline-block; width:10px; height:10px; margin:0 4px;}
.mdtourlist .slick-dots li button {width:10px; height:10px; opacity:1; padding:0; border:0; border-radius:100%; text-indent:-9999em; background-color:#666; outline:0; vertical-align:top;}
.mdtourlist .slick-dots li.slick-active button {background-color:#ff544c; outline:0;}

@media (max-width:1023px) {
	.mdtourWrap {margin-top:6px; padding-top:0; background-color:#e0dedc;}
	.mdtouritem {padding-left:5px !important; padding-right:5px !important;}
	.mdtouritem .p_wrap {width:100%;}
	.mdtouritem .p_wrap .p_thum {width:227px; height:227px; margin:0 auto;}
}
@media (max-width:767px) {	
	/* 여행 MD Pick 슬라이드 */
	.mdtourlist {}
	.mdtouritem {width:206px !important; padding-left:3px !important; padding-right:3px !important; outline:0;}
	.mdtouritem .p_wrap {width:100%; border:0;}
	.mdtouritem .p_wrap .p_box {position:relative; padding:0; border-bottom:1px solid #eee;}
	.mdtouritem .p_wrap .p_thum {display:block; float:none; width:200px; height:200px;}
	
	.mdtouritem .p_wrap .p_info {height:80px; padding:8px; border-top:0;}
	.mdtouritem .p_wrap .p_info .mall {height:22px;}
	.mdtouritem .p_wrap .p_info .mall img {width:auto; height:100%;}
	.mdtouritem .p_wrap .p_info .tit {display:block; overflow:hidden; width:100%; height:17px; margin:0; font:normal 13px/17px "맑은 고딕", Malgun Gothic, sans-serif; vertical-align:top; -webkit-line-clamp:1; text-overflow:ellipsis; word-wrap:auto; white-space:nowrap;}
	.mdtouritem .p_wrap .p_info .zzim {top:158px; right:10px; width:28px; height:28px;}
	.mdtouritem .p_wrap .p_info .price .percent {font-size:14px;}
	.mdtouritem .p_wrap .p_info .price .percent em {font-size:18px;}
	.mdtouritem .p_wrap .p_info .price .s_price {margin:0 0 0 11px; font-size:18px; letter-spacing:-1px; line-height:24px;}
	.mdtouritem .p_wrap .p_info .price .s_price s {float:right; position:relative; top:auto; margin-left:5px; font-weight:300; font-size:12px; color:#ccc; line-height:27px; vertical-align:middle;}
	.mdtouritem .p_wrap .p_info .price .s_price em {font-size:14px; vertical-align:2px;}
	
	.mdtouritem .p_wrap .p_relate .buy {right:8px; padding:0; font:normal 12px/36px Malgun Gothic, "맑은 고딕", sans-serif;}
	.mdtouritem .p_wrap .p_relate .buy em { font:normal 12px/36px Malgun Gothic, "맑은 고딕", sans-serif;}
	.mdtouritem .p_wrap .p_relate .badge_list {padding:8px;}
	.mdtouritem .p_wrap .p_relate .badge_list li {display:inline; float:left; margin-right:3px;}
	.mdtouritem .p_wrap .p_relate .badge_list li .bdg {border-radius:3px; font:blod 11px/16px Malgun Gothic, "맑은 고딕", sans-serif; color:#82bfef;}
		
	.mdtourlist .slick-dots {position:absolute; bottom:-20px; width:100%; text-align:center}
	.mdtourlist .slick-arrow {display:none !important;}
	.mdtourlist .slick-dots li button {background-color:#fff;}
}