@charset "utf-8";

@import url("default.css");


/* 20150209 PC고객 APP설치 홍보 이벤트 */
.event_wrap img {vertical-align:top; margin:0; padding:0;}

.event_wrap {width:1000px; margin:0 auto;}
.event_wrap .explain {position:relative; height:766px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/event_02.jpg) no-repeat 0 0;}

.event_wrap .explain .btn_winner {position:absolute; top:446px; width:112px; height:34px; display:block; text-indent:-999em;background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/btn_pack.png) -20px -70px;} 
.event_wrap .explain .btn_winner.w1 {left:185px;}
.event_wrap .explain .btn_winner.w2 {left:445px;}
.event_wrap .explain .btn_winner.w3 {left:705px;}
.event_wrap .explain .btn_winner.on {background-position: -20px -20px; cursor:pointer;}
.event_wrap .explain .gift dt,
.event_wrap .explain .gift dd strong,
.event_wrap .explain .caution span {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap .explain .btn_member {position:absolute;left:753px; bottom:90px; width:90px; height:22px; display:block; text-indent:-999em;}

.event_wrap .mission1 {position:relative; width:100%; height:702px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/event_03.jpg) no-repeat 0 0;}
.event_wrap .mission1 .url dt {overflow:hidden; position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap .mission1 .url.u1 .mynumber,
.event_wrap .mission1 .url.u2 input {position:absolute; top:407px; left:290px; width:355px; height:46px; line-height:46px; font-family:'Malgun Gothic', '맑은 고딕'; font-size:24px; color:#a0a0a0; border:0; background:none; }
.event_wrap .mission1 .url.u1 .mynumber {top:266px;}
.event_wrap .mission1 .url.u2 input {top:407px;}
.event_wrap .mission1 .url a {position:absolute; left:676px; width:70px; height:50px; overflow:hidden; display:block; text-indent:-999em; background:url(/images/); padding:0; border:0;}
.event_wrap .mission1 .url.u1 a {top:264px;}
.event_wrap .mission1 .url.u2 a {top:405px;}
.event_wrap .mission1 .ag_ck {position:absolute; top:552px; left:220px;}
.event_wrap .mission1 .ag_ck label {margin-left:5px; vertical-align:1px; font-family:Dotum, "돋움"; font-size:!2px; color:#1876b4; line-height:12px;}
.event_wrap .mission1 .ag_ck span:first-child {margin-right:30px;}
.event_wrap .mission1 .btn_clause {position:absolute; top:550px; right:222px; width:70px; height:22px; overflow:hidden; display:block; text-indent:-999em; }

.event_wrap .mission2 {position:relative; width:100%; height:506px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/event_04.jpg) no-repeat 0 0;}
.event_wrap .mission2 textarea {position:absolute; top:182px; left:159px; width:680px; height:180px; font-family:'Malgun Gothic', '맑은 고딕'; font-size:18px; color:#a0a0a0; padding:0; border:0; overflow-y:auto;}
.event_wrap .mission2 a.btn_register {position:absolute; top:392px; left:439px; width:123px; height:54px; overflow:hidden; display:block; text-indent:-999em; background:url(/images/); padding:0; margin:0; border:0; outline:0; box-shadow: none;}
.event_wrap .table_list {margin-top:60px;}
.event_wrap .table_list .tab_comm {overflow:hidden;width:100%;height:40px; z-index:10; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/tab_border.gif) 0 0 repeat-x;}
.event_wrap .table_list .tab_comm li {float:left; margin-right:-1px; }
.event_wrap .table_list .tab_comm .link_tab {display:block;overflow:hidden;width:120px;height:38px;background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/btn_pack.png) no-repeat 0 0; text-indent:-9999px; z-index:100;}
.event_wrap .table_list .tab_comm .recent {background-position:-180px -70px;}
.event_wrap .table_list .tab_comm .like {background-position:-350px -70px;}
.event_wrap .table_list .tab_comm .on .recent {background-position:-180px -20px;}
.event_wrap .table_list .tab_comm .on .like {background-position:-350px -20px;}
.event_wrap .table_list .tab_comm .on a {height:40px; background-color:#fff;}

.tb_box { width:100%;}
.tb_box .tb {width:100%; border-collapse:collapse; }
.tb_box .tb colgroup .col1 {width:64px;}
.tb_box .tb colgroup .col2 {width:671px;}
.tb_box .tb colgroup .col3 {width:140px;}
.tb_box .tb colgroup .col4 {width:97px;}
.tb_box .tb colgroup .col5 {width:10px;}
.tb_box .tb tbody tr td {position:relative;  padding:20px 0; text-align:center; font-family:"맑은 고딕", Malgun Gothic; font-size:13px; color:#333; border-bottom:1px solid #e9e9e9;}
.tb_box .tb tbody tr td.like button {display:block; width:36px; height:35px; font-family:'Malgun Gothic', '맑은 고딕'; font-size:14px; font-weight:600; color:#fff; margin:0 auto; border:0; outline:none; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/btn_pack.png) -20px -160px;}
.tb_box .tb tbody tr td.like.no button {background-position:-20px -210px; }
.tb_box .tb tbody tr td.comment {text-align:left; padding-left:12px; padding-right:12px;}
.tb_box .tb tbody tr td.writer .txt {width:102px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; display:inline-block; *display:inline; zoom:1; }
.tb_box .tb tbody tr td.delete button {display:block; width:6px; height:7px; text-indent:-999em; padding:0; margin:0 auto;  border:0; outline:none;  background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/btn_pack.png) -180px -160px;}

.paginate {margin:30px 0 0; overflow:hidden; text-align:center;}


/* 팝업 공통 */
.popup {width:800px; position:relative; margin:0 auto; overflow-x:hidden; /*overflow-y:auto;*/ background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/bg_popup.gif) repeat-y 0 0;}
.popup img {vertical-align:top; margin:0; padding:0;}
.popup h1 {text-align:center; padding:30px 0 0; } 
.popup .contents {width:700px; margin:0 auto; padding-bottom:40px; /*padding:0 50px;*/}

/*.popup.pop1 {height:1023px;}*/
.pop1 .contents .txt {text-align:center;}
/*.popup.pop2 {height:1827px;}*/
.pop2 .contents .txt, .pop3 .contents .txt {padding:20px 0 0 40px;}
.popup.pop2 .contents .winners_list_box .inner {width:auto;}
/*.pop3 {height:986px; }*/

/* 당첨자 명단 */
.popup .contents .winners_list_box {border:3px solid #0099ff; background-color:#d8f3ff;}
.popup .contents .winners_list_box .inner {width:694px; margin:0 auto; overflow:hidden; }
.popup .contents .winners_list_box .inner .tb_tit {height:40px; line-height:40px; padding-left:18px; text-align:left; font-family:"맑은 고딕", Malgun Gothic;  font-weight:600; font-size:22px; color:#324254;}
.popup .contents .winners_list_box .inner .tablebox {float:left; padding:2px 0; background-color:#fff;}
.popup .contents .winners_list_box .inner .tablebox.tb1 {width:347px;}
.popup .contents .winners_list_box .inner .tablebox.tb2 {width:345px;}
.popup .contents .winners_list_box .inner .tablebox table {width:100%;}
.popup .contents .winners_list_box .inner table tr.first td {border-top:0;}
.popup .contents .winners_list_box .inner table tr td {height:14px; text-align:center; font-size:14px; font-family:"맑은 고딕", Malgun Gothic; color:#324254; border-top:2px solid #d8f3ff; padding:6px 0 7px;}
.popup .contents .winners_list_box .inner table tr td.id {padding-left:20px; text-align:left;}
.popup .contents .winners_list_box .inner .tablebox.tb2 td.id {border-left:2px solid #d8f3ff; }

.winner_comment {overflow:hidden; background-color:#fff;}
.winner_comment ul li {position:relative;  border-top:2px solid #d8f3ff;}
.winner_comment ul li:first-child {border-top:0;}
.winner_comment ul li .text_box {overflow:hidden; padding:23px 20px 20px 62px; }
.winner_comment ul li .top {font-family:"맑은 고딕", Malgun Gothic; font-size:18px; font-weight:600;}
.winner_comment ul li span {position:absolute; top:20px; left:20px; display:block; width:36px; height:35px; line-height:33px; text-align:center; font-family:'Malgun Gothic', '맑은 고딕'; font-size:14px; font-weight:600; color:#fff; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/btn_pack.png) -20px -160px;}
.winner_comment ul li .top em {color:#be2261;}
.winner_comment ul li .top strong {color:#0071bc; margin-left:14px;}
.winner_comment .comment {margin-top:10px; font-family:"맑은 고딕", Malgun Gothic; font-size:12px; color:#324254; line-height:20px; word-wrap:break-word;}


.pop4 .contents { width:732px;}
.pop4 .clause {overflow:hidden; width:100%; height:297px; margin-top:43px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/app_install/pop4_bg.png) no-repeat 0 0;}
.pop4 .clause .c1 { position:absolute; top:86px; left:52px; }
.pop4 .clause .c2  {position:absolute; top:86px; left:426px; }
.pop4 .clause .box {width:330px;  height:149px; overflow-y:auto;padding:10px 10px 0 0; color:#999; line-height:18px;}
.pop4 .clause .box .tit {font-weight:bold;  }
.pop4 .clause .box p {margin-bottom:16px; }
.pop4 .clause .box ol, .pop4 .clause .box ul {margin-left:13px; padding-bottom:10px;}
.pop4 .clause .box ol span, .pop4 .clause .box ul span {margin-left:-14px;}
.pop4 .submit {position:absolute; left:340px; bottom:50px; width:123px; height:54px; overflow:hidden; display:block; text-indent:-999em; background:url(/images/);}