@charset "utf-8";

.dim{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background: rgba(0,0,0,0.6);  z-index: 1000;}

/* 앱실행레이어 */
.newapp{z-index:100;width:290px; height:240px; margin: -120px 0px auto -145px; position:absolute; left:50%; top:50%; background:#4f70a3; }
.newapp h1{width:100%; text-align:center; color:#ffffff; font-weight:normal; font-size:18px; line-height:50px; height:50px; }
.newapp .btn_close{position: absolute; right:10px; top:10px; background: url(http://img.enuri.info/images/event/2015/m_ramenback/btn_close_app.png) 0 0 no-repeat; background-size: 25px; text-indent: -9999em; width: 25px; height: 25px;}
.newapp .txtarea{background:#ffffff; border-radius:6px; margin:0 auto; width:270px; height:180px; text-align:center; }
.newapp .txtarea p{color:#4c72a3; font-weight:bold; padding-top:37px; height:88px; font-size:16px;}
.newapp .txtarea .btn_end{width:120px; height:40px; line-height:40px; background:#3f3f3f; display:inline-block; text-align:center; color:#ffffff; border-radius:3px; font-size:16px; box-shadow: 0px 2px 0px 0px #e0e0e0;}
.newapp .txtarea .btn_detail{width:120px; height:40px; line-height:40px; background:#3f3f3f; display:inline-block; text-align:center; color:#ffffff; border-radius:3px; font-size:16px; box-shadow: 0px 2px 0px 0px #e0e0e0;}
.newapp .txtarea .btn_now{width:120px; height:40px; line-height:40px; background:#ff2154; display:inline-block; text-align:center; color:#ffffff; border-radius:3px; font-size:16px; box-shadow: 0px 2px 0px 0px #e0e0e0;}


.frontLayer{z-index:100;width:300px; height:360px; margin: -180px 0px auto -150px; position:absolute; left:50%; top:50%; background:#373c40; position:absolute; }
.frontLayer ul{width:100%; }
.frontLayer ul li img{width:300px; height:162px; }
.frontLayer .frontbtn{color:#ffffff}
.frontLayer span{box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; height:36px; display:inline-block; text-align:center; font-weight:normal; font-size:12px; position:relative; padding-top:10px}
.frontLayer span a{background: url(http://img.enuri.info/images/m_home/front_close.gif) right 2px no-repeat; background-size:25px; background-size:11px; color:#ffffff; padding-right:15px}
.frontLayer span:first-child{width:70%; border-right:1px solid #35373e;}
.frontLayer span:last-child{width:30%;border-left:1px solid #626467;}
.frontLayer.one img{width:300px; height:324px}

.dealLayer{z-index:100;width:300px;padding:55px 0px 35px ;height:270px; margin: -180px 0px auto -150px; position:absolute; left:50%; top:50%; background:#fff url(http://img.enuri.info/images/event/2016/edeal/bg_deal.png) 0 0 no-repeat; background-size:300px 360px; position:absolute; }
.dealLayer a{height:270px; display:block; }
.dealLayer a.btn_today{position:absolute; left:0px; bottom:0px; width:209px; height:35px; text-indent:-9999em; }
.dealLayer a.btn_close{position:absolute; right:0px; bottom:0px; width:90px; height:35px; text-indent:-9999em; }
.dealLayer #zoom_img{text-align:center;}
.dealLayer .thum{width:auto;height:180px;}
.dealLayer strong{display:block; font-size:18px; color:#333333; line-height:38px; overflow:hidden;text-overflow:ellipsis;text-align:center;white-space:nowrap; height:38px; width:279px; margin:0 auto; border-bottom:1px dotted #000; margin-bottom:5px;}
.dealLayer .soldout{font-family: arial;color:#ffffff; line-height:43px; font-size:20px; font-weight:bold; position:absolute; left:91px; top:123px; background:rgba(253,51,51,0.8); width:128px; text-align:center; border-radius:7px;}
.dealLayer .soon{width:214px;font-family: arial;letter-spacing:-1px; color:#ffffff; line-height:43px; font-size:20px; font-weight:bold; position:absolute;margin-left:-114px; left:50%; top:123px; background:rgba(146,146,146,0.8); text-align:center; border-radius:7px; padding:0 7px;}
.dealLayer .price{color:#333;font-size:30px;line-height:35px; text-align:center;position:relative; letter-spacing:-1px; font-size:0}
.dealLayer .sale{color:#f62e3d; font-family:tahoma; vertical-align: -2px;font-size:30px;}
.dealLayer .sale.sp{font-size:12px;font-weight:bold;vertical-align:1px}
.dealLayer .prc{color:#333; font-size:26px;padding:0px 10px;}
.dealLayer .prc b{ font-family:tahoma; font-size:30px; vertical-align:-2px;}
.dealLayer .price del{color:#999;font-size:18px;}
.dealLayer .price del b{font-weight:normal; }


.topbnr{position:relative; text-align:center; height: 46px; z-index:1}
.topbnr a{display:block; z-index:10}
.topbnr img{width:320px; height: 46px; }
.topbnr .close{z-index:10; text-indent:-9999em; width:18px; height:18px; background:url(http://img.enuri.info/images/event/2016/new/btn_bnr_close.png) 0 0 no-repeat; background-size:17px; position:absolute; right:10px; top:13px;}




/*앱 하단 플로팅*/
.app_miniPop{position: fixed; bottom:0; left: 0; width: 100%; height: 57px; z-index: 11;}
.app_main_mini{position: absolute; top: 0; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; z-index: 1001;}
.app_main_mini a{width:100%; height:57px; display:block;}

/*기획전 최저가 공유하기*/
.m_top_sub, .title_todaynews{position:relative;}
.sns_share{position:absolute; right:3px; top:9px; background-position:-63px -117px !important; width:20px; height:20px; display:block; z-index:100; }
.title_todaynews .sns_share{background-position:-63px -139px !important; top:15px;}

.layerPop_sns{position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000; display:none; }
.layerPop_sns .layerPopInner {margin-top: -83px; position:absolute;top:50%;width:100%;padding:0 20px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;z-index:1001;}
.layerPop_sns .layerPopCont {position:relative;background:#fff;}
.layerPop_sns .layerPopCont h1 {padding:11px 0 9px 10px;background:#0072bb !important;color:#fff;font-size:14px;}
.layerPop_sns .layerPopCont .btnClose {z-index:10; position:absolute;top:10px;right:6px;width:16px;height:16px;border:0;background:url(http://img.enuri.info/images/mobilefirst/icon_pack_vip.png) no-repeat -65px -80px;background-size:250px;text-indent:-99999px;}
.layerPop_sns .layerPopCont .layerBtn {padding:6px 0;background:#f3f4f5;border-top:1px solid #d5d5d5;text-align:center;}

.layerPop_sns .layerPopCont .listType1 li {border-top:1px solid #d5d5d5;}
.layerPop_sns .layerPopCont .listType1 li:first-child {border:0;}
.layerPop_sns .layerPopCont .listType1 li label {display:block;height:42px;padding:12px 15px 0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:13px;}
.layerPop_sns .layerPopCont .listType1 li label input {vertical-align:-2px;}
.layerPop_sns .layerPopCont .description {padding:10px; font-size:13px;}
.layerPop_sns .layerPopCont .layerBtn {padding:18px 15px; text-align:center;}
.layerPop_sns .layerPopCont .layerBtn .btnTxt {width:48%;}
.layerPop_sns .linkList {;padding:10px 5px; text-align:center; background:#f3f3f3;border:1px solid #d2d2d2;}
.layerPop_sns .linkList:after {content:"";display:block;clear:both;}
.layerPop_sns .linkList ul {display:table;width:90%; margin:0 auto;}
.layerPop_sns .linkList li {display: inline-block;width:36px;height:36px;text-align:center;vertical-align:middle; margin:0 15px}
.layerPop_sns .linkList li:first-child {padding-left:3px;}
.layerPop_sns .linkList li a {display:block;width:36px;height:36px; margin-left:4px; overflow:hidden;background:url(http://img.enuri.info/images/mobilefirst/icon_pack_vip.png) no-repeat 0 -115px;background-size:250px;text-indent:-99999px;}
.layerPop_sns .linkList li a.facebook {background-position:-40px -115px;}
.layerPop_sns .linkList li a.url {background-position:-200px -115px;}
.layerPop_sns .layerPopCont .contents {padding:10px; border:1px solid #d2d2d2; border-top:none;}
.layerPop_sns input.urlCopy {width:100%; margin-top:10px; height: 25px; padding: 0 5px; background: #fff; border: 1px solid #dedede; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; line-height: 25px;}

/*개정 안내 레이어*/
.terms_layer{padding:10px; position:absolute; left:0; top:50%; margin:-254px auto 0; z-index:100; width:100%; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.terms_layer .con{background:#ffffff; width:100%; background:#dde1e6; padding:8px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.terms_layer .con h1{color:#54748c; font-size:24px; letter-spacing:-1px;padding:10px 0;}
.terms_layer .con h1, .terms_layer .con .txt{text-align:center; }
.terms_layer .con .txt{font-size:12px;color:#666666; line-height:15px; padding-bottom:10px;}
.terms_layer .con .txt02{font-size:10px; color:#666666; padding-bottom:10px;}
.terms_layer .con .wbox{background:#ffffff; border-radius:4px; padding:12px; color:#333333; margin-bottom:6px; text-align:center; }
.terms_layer .con .wbox h2{text-align:left;}
.terms_layer .con .wbox ul{margin:7px 0; text-align:left;}
.terms_layer .con .wbox li{position:relative; font-size:13px; line-height:16px; padding-left:10px; }
.terms_layer .con .wbox li:after{content:"-"; position:absolute; left:0; top:0;}
.terms_layer .con .wbox .view{width:108px; line-height:33px; border:1px solid #ced2d7; border-radius:4px;}
.terms_layer .frontbtn{color:#ffffff; background:#373c40; }
.terms_layer .frontbtn span{box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; height:36px; display:inline-block; text-align:center; font-weight:normal; font-size:12px; position:relative; padding-top:10px}
.terms_layer .frontbtn span a{background: url(http://img.enuri.info/images/m_home/front_close.gif) right 2px no-repeat; background-size:25px; background-size:11px; color:#ffffff; padding-right:15px}
.terms_layer .frontbtn span:first-child{width:70%; border-right:1px solid #35373e;}
.terms_layer .frontbtn span:last-child{width:30%;border-left:1px solid #626467;}

@media screen and (max-height: 480px){
.terms_layer{margin:-242px auto 0; }
.terms_layer .con{height:430px; }
.terms_layer .con h1{font-size:20px; padding:7px 0;}
.terms_layer .con .wbox{padding:8px;}
.terms_layer .con .wbox li{font-size:12px; letter-spacing:-0.5px; }
}
@media screen and (max-width:320px){
.terms_layer .con .wbox li{font-size:12px; letter-spacing:-0.5px; }
}

.terms_layer.app{width:100%; height:100%; background:#dde1e6; top:0; margin:0; padding:0;}
.terms_layer.app .con{padding:20px;}
.terms_layer.app .btnclose{position:absolute; right:3px; top:3px; width:28px; height:28px; border-radius:3px; background: url(http://img.enuri.info/images/main/ico_popup.png) -49px 5px no-repeat #bcbfc4; background-size:72px; text-indent:-9999em;}


/*에누리정책*/
.agreement{width:100%; position:relative; }
.agreement .tab{width:100%;overflow:hidden; }
.agreement .tab li{float:left; width:33.3%; padding-left:5px; box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; }
.agreement .tab li:first-child{padding-left:0;}
.agreement .tab li:after{width:33.4%}
.agreement .tab li a {border:1px solid #d7d7d7; border-bottom:none; border-radius:4px 4px 0 0;font-size:13px; display:block; text-align:center; color:#787878; text-decoration:none; background:#e2e2e2; padding:10px 0;}          
.agreement .tab li.on a {color:#171717;background:#ffffff}        
.agreement .cont_area{clear:both; background:#ffffff; border:1px solid #d7d7d7; border-top:none; ;}
.agreement .cont_area p{color: #4c5363}
.agreement .cont_area .agreeBox{border:none; }
.agreement .infotxt dt{color:#171717; padding-bottom:3px}
.agreement .infotxt dd{font-size:12px; color:#787878; padding-bottom:10px}

@media only screen and (max-width : 320px) {
.agreement .tab li a{font-size:12px; letter-spacing:-1px}
}


.bridge{z-index:100;width:283px; height:323px; margin: -161px 0px auto -141px; position:absolute; left:50%; top:50%; background: url(http://img.enuri.info/images/mobilefirst/brd_banana_txt.png) 0 0 no-repeat; background-size: 283px 323px; }
.bridge.none span{display:none;}
.bridge .btn_close{position: absolute; right:16px; top:-5px; text-indent: -9999em; width:30px; height:30px;}
.bridge h1{text-indent:-9999em; }
.bridge span{display:block; width:155px; overflow:hidden; white-space: nowrap; text-overflow:ellipsis; position:absolute; left:68px; top:102px; color:#fd236b; font-family:NanumGothic; font-size:15px; text-align:center; }
.bridge .go{width:100%; height:57px; display:block; text-indent:-9999em; position:absolute; left:0px; bottom:0px;}
.bridge.none{ background: url(http://img.enuri.info/images/mobilefirst/brd_banana.png) 0 0 no-repeat; background-size: 283px 323px; }

/*마이페이지*/
header.tit_area{position:relative; }
header.tit_area h2{height:44px; border-bottom:1px solid #333333; line-height:44px; color:#ffffff; background:#3d4171; text-align:center; font-size:15px; font-weight:normal;  }
header.tit_area .close{text-indent:-9999em; position:absolute; right:10px; top:12px; width:18px; height:17px; background-position:-128px -241px; }
.mybox h3{font-size:15px; color:#333333; line-height:33px; text-indent:10px; text-align:left; }


/* icon */
.tit_area .close,
.mybox .my_point .e_m em,
.mybox.prod_info li:before,
.myarea .my_join span:after,
.mybox .my_menu li:before{background:url(http://img.enuri.info/images/m_home/icon_pack.png) no-repeat  0 0; background-size: 250px 400px;}

.myarea{padding:5px 5px 10px; text-align:center; }
.mybox:after{content:""; clear:both; display:block; }
.myarea .welcome{padding:5px 10px 10px; text-align:left; }
.myarea .mybox{background:#ffffff; border:1px solid #ced2d7; margin-bottom:8px;}
.mybox .my_point{text-align:center; height:45px; padding-top:20px; color:#333333; font-size:20px; font-weight:bold; }
.mybox .my_point .e_m{color:#2d9fe8; font-size:15px; vertical-align:middle; }
.mybox .my_point .e_m em{margin-right:2px; vertical-align:2px; width:18px; height:21px; display:inline-block; background-position:-225px 0; text-indent:-9999em;}
.mybox .my_menu{border-top:1px solid #e8ebf2;}
.mybox .my_menu:after{clear:both; content:""; display:block; }
.mybox .my_menu li{float:left; width:25%; border-left:1px solid #e8ebf2; box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; padding-top:24px; height:83px; color:#666666; font-size:12px;}
.mybox .my_menu li:first-child{border-left:none; }
.mybox .my_menu li:before{content:""; display:block; width:19px; height:16px; margin:0 auto 8px; }
.mybox .my_menu li:nth-child(1):before{background-position:-34px -241px; }
.mybox .my_menu li:nth-child(2):before{background-position:-57px -241px; }
.mybox .my_menu li:nth-child(3):before{background-position:-81px -241px; }
.mybox .my_menu li:nth-child(4):before{background-position:-105px -241px; }

.myarea .my_login{width:143px; background:#2d9fe8; color:#ffffff; line-height:40px; border-radius:4px; font-size:15px; border-bottom:1px solid #d9d9d9; }
.myarea .logintxt{padding:15px 0;}
.myarea .my_join{padding:12px 0; }
.myarea .my_join span{position:relative; padding-left:25px; }
.myarea .my_join a{color:#2d9fe8;}
.myarea .my_join span a{color:#999999; }
.myarea .my_join span:before{position:absolute; left:12px; top:2px; content:""; width:1px; height:11px; background:#ced2d7; }
.myarea .my_join span:after{position:absolute; right:-10px; top:3px; content:""; width:5px; height:9px; background-position:-226px -193px; }

.mybox.prod_info li{float:left; width:50%; height:73px; border-left:1px solid #e8ebf2; box-sizing:border-box; -moz-box-sizing:border-box;  -webkit-box-sizing:border-box; padding-top:15px; font-size:12px; color:#999999; }
.mybox.prod_info li em{color:#333333; font-size:20px; vertical-align:-3px; padding-left:5px;}
.mybox.prod_info li:before{content:""; width:40px; height:41px; display:inline-block; vertical-align:middle; margin-right:8px; background-position:-209px -29px }
.mybox.prod_info li:last-child:before{background-position:-209px -71px}

.mybox .store_hit{padding-bottom:7px;}
.mybox .store_hit:after{clear:both; content:""; display:block; }
.mybox .store_hit li{width:25%; float:left; color:#787878; font-size:11px; }
.mybox .store_hit li img{width:100%; display:block; }

.myarea .my_btn{width:143px; background:#ffffff; border:1px solid #ced2d7; color:#333333; line-height:32px; border-radius:2px; font-size:15px; }

.app_only{width:300px;padding-bottom:15px; background:#ffffff; left:50%; top:50%; position:absolute; z-index:1000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%); text-align:center; }
.app_only strong{display:block; }
.app_only h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.app_only .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.app_only .install{background:#22211e; color:#ffffff; width:100px; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
.app_only .txt{text-align:center; padding:15px 0; color:#333333;  font-size:16px; letter-spacing:-1px;}