@charset "utf-8";

footer{float:left; width:100%; }
footer, footer p{color:#77787b !important; font-size:12px; } 
footer .new_footer{border-top:2px solid #c8c9c9; padding-bottom:5px; background:#d3d4d5; }
footer .new_footer ul:after{content:"";display:block;clear:both;}
footer .new_footer ul{border-bottom:1px solid #959596; background:#dddee1;  box-shadow: 0px 1px 3px #b5b6b7; }
footer .new_footer li {float:left;width:50%;}
footer .new_footer li a {color:#77787b; position:relative;display:block;line-height:31px;text-align:center;font-size:13px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
footer .new_footer li a:after {content:"";position:absolute;top:11px;left:0;display:block;width:1px;height:10px;background:#acadb0;}
footer .new_footer li:first-child a:after {display:none;}
footer .new_footer li.com_info{text-align:center; }
footer .new_footer li.com_info a.allview_close span{padding-right:16px; background:url(http://img.enuri.info/images/mobilenew/images/bullet_footer.gif) right 4px no-repeat;background-size:11px 25px;}
footer .cominfo_txt{font-family:malgun gothic; background:#d3d4d5;}
footer .cominfo_txt section{padding:10px 15px 10px 15px; font-size:12px; color:#6b6b6b; line-height:16px}
footer .cominfo_txt section p{font-size:12px; }
footer .cominfo_txt section strong{font-weight:normal; padding:15px 0 6px 0; display:block; }
footer .cominfo_txt section p span{color:#abacae; padding:0 5px}
footer .cominfo_txt .rule:after {content:"";display:block;clear:both;}
footer .cominfo_txt .rule li{float:left; text-align:center; height:30px; width:22%; } 
footer .cominfo_txt .rule li a{display:block; text-align:center; color:#6b6b6b; height:20px; padding-top:5px; position:relative;}
footer .cominfo_txt .rule li:nth-child(2){font-weight:bold; width:34%;}
footer .cominfo_txt .rule li a:after {content:"";position:absolute;top:6px;left:0px;display:block;width:1px;height:10px;background:#acadb0;}
footer .cominfo_txt .rule li:first-child a:after{background:none; }
footer .agreeWrap{background:#ffffff; z-index:10;}
footer .agreeWrap .container .agreebox{height:100%; }
footer .footNav2 {position: fixed; left: -1px; bottom: 0; display: block; width: 100%; z-index: 4;}
footer .topBtn {position: fixed; bottom: 3px; right: 9px; }

footer .cominfo_txt .rule.social li{width:33.3%}
footer .cominfo_txt .rule.social li:last-child{display:none;}

.family_app{margin-top: 7px;}
.family_app:after{content: ""; display: block; clear: both; }
.family_app li a{width:50%; float:left; background:#ffffff; line-height:36px; font-size:11px; color:#7d7d7d; display:block; text-indent:46px; position:relative;}
.family_app li a:after{width:21px; height:21px; content:""; position:absolute; left:18px; top:7px; background:url(http://img.enuri.info/images/m_home/icon_pack.png) 0 0 no-repeat ; background-size: 250px 400px;}
.family_app li:nth-child(1) a:after{background-position:-131px -161px}
.family_app li:nth-child(2) a:after{background-position:-157px -161px}
.family_app li:nth-child(3) a:after{background-position:-185px -161px}
.family_app li:nth-child(4) a:after{background-position:-212px -161px}

.agreeWrap h1, .agreeWrap h2, .agreeWrap h3, .agreeWrap h4, .agreeWrap h5 {font-size: 100%; }
.agreeWrap {position:absolute;top:0;right:0;width:100%;height:100%;}
.agreeWrap .agreeSection {position:relative;}
.agreeWrap .container {padding:6px;}
.agreeWrap .btnClose{position:absolute;top:0px;right:0px;width:42px;height:42px;border:0;background:url(http://img.enuri.info/images/mobilenew/images/btn_layer_close.png) no-repeat 15px 11px;background-size:15px;text-indent:-99999px;}
.agreeBox {padding:15px;background:#fff;border:1px solid #d7d7d7;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.agreeBox h2 {margin:20px 0 5px;}
.agreeBox h2:first-child {margin-top:0;}
.agreeBox li ul {margin:0 0 0 12px;}
.nonTxt {padding:17px 0;font-size:14px;text-align:center;}
.pageHead {position:relative;height:42px;background:#0072bc;text-align:center;}
.pageHead h1 {padding:10px 0 0;color:#fff;font-size:15px;}
.pageHead .back {position:absolute;top:0;left:0;display:block;width:27px;height:33px;overflow:hidden;text-indent:-99999px;}
.pageHead .back:after {content:"";display:block;width:9px;height:16px;float:left;margin:12px 0 0 7px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png?ver=1) no-repeat -50px 0;background-size:250px;}
.agreeWrap p, .agreeBox{font-size:12px; color:#77787b; line-height:15px}


/* 141211 백화점모바일 추가 */
.mobiledepart .pageHead{background:#4b4641; }
.mobiledepart .pageHead h1{background:#4b4641; }
.mobiledepart .btnType3{background:#4b4641;}
.mobiledepart .joinTxt{color:#4b4641}
.mobiledepart .joinTxt a{color:#4b4641}



#s3dpop_wrap_div{z-index:11 !important}
.newquick{position:fixed; right:10px; bottom:52px; z-index:100}
.newquick p{cursor:pointer; background:url(http://img.enuri.info/images/mobilefirst/btn_top.png) -9999em -9999em no-repeat; background-size:40px 83px; display:block; width:40px; height:40px; margin-top:3px}
.newquick .cateBtn{width:40px; height:40px; background-position:0 0; margin-bottom:3px; text-indent:-9999em; }
.newquick .TBtn{width:40px; height:41px; background-position:0 -42px; text-indent:-9999em; }




.evtbanner_btm{width:100%; }
.evtbanner_btm a{text-align:Center; margin:12px 6px; display:block; }
.evtbanner_btm img{width:100%;}
.evtbanner_btm.ad_news{clear:both; padding:5px; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; overflow:hidden;}

