@charset "utf-8";

.event_wrap {max-width:100%;}
.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4  {margin:0;}

/* SNS공유하기 - 홈족 SNS 사이즈가 달라 별도 적용 */
.com__btn_share{width:46px;height:46px;background-size:46px;top:20px;left:86px;}

/* 상단 비주얼 */
.visual{overflow:hidden;position:relative;height:710px;background:#eee;text-align:center}
.visual .inner{overflow:hidden;position: relative;width:970px;height:100%;margin:0 auto;z-index:30}
.visual .inner .txt_01{position:relative;margin:100px auto 0 235px;display:block;height:30px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_top_tit_sub.png) no-repeat 0 0 ;text-indent:-9999em}
.visual .inner h2{width:487px;height:69px;margin:18px auto 0 242px;position: relative;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_top_tit.png) no-repeat 0 0;}
.visual .inner h2:after{content:"";position:absolute;top:0px;left:-5px;width:213px;height:71px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_top_tit_cover.png) no-repeat 0 0;}
.visual .inner .txt_02{display:block;width:503px;height:22px;margin:24px auto 0 237px;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_top_txt_sub.png) no-repeat 0 0;}
.visual .inner .box_wrap{position:relative;left:287px;top:36px;overflow:hidden;width:394px;height:412px;opacity:0;}
.visual .inner .box_wrap > span {display:block;position:absolute;}
.visual .inner .box_wrap .mobile {top:32px;left:-73px;width:354px;height:476px;z-index:0;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_mobile.png) no-repeat 0 0;}
.visual .inner .box_wrap .rhand {top:272px;left:114px;width:210px;height:352px;z-index:3;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_rhand.png) no-repeat 0 0;}
.visual .inner .box_wrap .lock {top:272px;left:125px;width:144px;height:44px;z-index:2;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_lockoff.png) no-repeat 0 0;}
.visual .inner .box_wrap .lock.on {top:272px;left:125px;width:144px;height:44px;z-index:1;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_lockon.png) no-repeat 0 0;}
.visual .inner .box_wrap .bell {top:20px;right:43px;width:67px;height:89px;z-index:10;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_bell.png) no-repeat 0 0;}
.visual .inner .box_wrap .bellbox {top:0;right:0;width:161px;height:144px;z-index:9;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_bellbox.png) no-repeat 0 0;}

.obj_flow_01, .obj_flow_02 {position:absolute;top:0;left:50%;height:100%;}
.obj_flow_01{z-index:10;width:966px;margin-left:-416px;}/* 01FLOW */
.obj_flow_02{z-index:9;width:974px;margin-left:-585px;}/* 02FLOW */
.obj_flow_01 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_flow01.png) no-repeat 50% 0;}
.obj_flow_02 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_obj_flow02.png) no-repeat 50% 0;}
.flow_obj_01{top:0}
.flow_obj_02{top:-100%}

/* 모션 */
.visual .inner .txt_01{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner .txt_02{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2:after{transition:.5s all ease-in;transform:translateX(6px);/* transform:scale(1.5); */opacity:0}
.visual .inner .box_wrap .bell {opacity:0;}
.visual .inner .box_wrap .bellbox {opacity:0;}
.visual.intro {opacity:1;transition:none;}
.visual.intro .inner .txt_01{transform:translateX(0);opacity:1}
.visual.intro .inner .txt_02{transition-delay:1.2s;transform:translateX(0);opacity:.6}
.visual.intro .inner h2 {transition-delay:.5s;transform:translateX(0);opacity:1}
.visual.intro .inner h2:after{transition-delay:1.6s;transform:translateX(0);/* transform:scale(1); */opacity:1}
.visual.intro .inner .box_wrap .rhand {transition:.5s all ease-in-out;transition-delay:2.7s;}
.visual.intro .inner .box_wrap .bell {animation:bell_mv 2s linear infinite;animation-delay:3.7s;transition:.5s all ease-in-out;transition-delay:3.2s;opacity:1;}
.visual.intro .inner .box_wrap .bellbox {transition:.5s all ease-in-out;transition-delay:3.2s;opacity:1;}
.visual.intro .inner .box_wrap .lock {transition:.5s all ease-in-out;transition-delay:2.9s;opacity:0;}
.visual.intro .inner .box_wrap .lock.on {opacity:1;}

.obj_flow_01, 
.obj_flow_02{transition:2s all ease-in-out;opacity:0}

@keyframes bell_mv {
	0%, 50%, 100% {transform:rotate(0);transform-origin:50% 0}
    25% {transform:rotate(5deg);transform-origin:50% 0}
	75% {transform:rotate(-5deg);transform-origin:50% 0}
}

/* 모션 intro */
.visual.intro .inner .box_wrap{animation:box_mv 1s linear;animation-delay:2.2s;animation-fill-mode:forwards;}
@-webkit-keyframes box_mv {
    0% {opacity:0;bottom:-150px}
    100% {opacity:1;bottom:-80px}
} 
@keyframes box_mv {
    0% {opacity:0;bottom:-150px}
    100% {opacity:1;bottom:-80px}
} 
.visual.intro .inner .box_wrap .rhand {transform:translateX(100px)}

/* 모션 end */
.visual.end .obj_flow_01,
.visual.end .obj_flow_02{opacity:1}
.visual.end .obj_flow_01 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 12s linear infinite;animation:flowShower 12s linear infinite;}
.visual.end .obj_flow_02 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 26s linear infinite;animation:flowShower 26s linear infinite;}
@-webkit-keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
}
@keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
} 

.visual.intro .loader-box{opacity:0;}
.loader-box{display:inline-block;position: relative;-webkit-transition: all .2s ease;-o-transition: all .2s ease;transition: all .2s ease;transform:translateY(-90px)}
.visual-loader:before{content: "";position: absolute;top: 0px;left: -25px;height: 12px;width: 12px;border-radius: 12px;-webkit-animation:loader10g 3s ease-in-out infinite;animation:loader10g 3s ease-in-out infinite;}
.visual-loader{position: relative;width: 12px;height: 12px;border-radius: 12px;-webkit-animation: loader10m 3s ease-in-out infinite;animation:loader10m 3s ease-in-out infinite;}
.visual-loader:after{content: "";position: absolute;top: 0px;left: 25px;height: 10px;width: 10px;border-radius: 10px;-webkit-animation:loader10d 3s ease-in-out infinite;animation:loader10d 3s ease-in-out infinite;}
@-webkit-keyframes loader10g{
	0%{background-color: rgba(255,255,255,.2);}
	25%{background-color: rgba(255,255,255,1);}
	50%{background-color: rgba(255,255,255,.2);}
	75%{background-color: rgba(255,255,255,.2);}
	100%{background-color: rgba(255,255,255,.2);}
}
@keyframes loader10g{
	0%{background-color: rgba(255,255,255,.2);}
	25%{background-color: rgba(255,255,255,1);}
	50%{background-color: rgba(255,255,255,.2);}
	75%{background-color: rgba(255,255,255,.2);}
	100%{background-color: rgba(255,255,255,.2);}
}

@-webkit-keyframes loader10m{
	0%{background-color: rgba(255,255,255,.2);}
	25%{background-color: rgba(255,255,255,.2);}
	50%{background-color: rgba(255,255,255,1);}
	75%{background-color: rgba(255,255,255,.2);}
	100%{background-color: rgba(255,255,255,.2);}
}
@keyframes loader10m{
	0%{background-color: rgba(255,255,255,.2);}
	25%{background-color: rgba(255,255,255,.2);}
	50%{background-color: rgba(255,255,255,1);}
	75%{background-color: rgba(255,255,255,.2);}
	100%{background-color: rgba(255,255,255,.2);}
}

@-webkit-keyframes loader10d{
	0%{background-color: rgba(255,255,255,.2);}
	25%{background-color: rgba(255,255,255,.2);}
	50%{background-color: rgba(255,255,255,.2);}
	75%{background-color: rgba(255,255,255,1);}
	100%{background-color: rgba(255,255,255,.2);}
}
@keyframes loader10d{
	0%{background-color: rgba(255,255,255,.2);}
	25%{background-color: rgba(255,255,255,.2);}
	50%{background-color: rgba(255,255,255,.2);}
	75%{background-color: rgba(255,255,255,1);}
	100%{background-color: rgba(255,255,255,.2);}
}

/* 탭 */
.navtab{width:100%;height:82px;}
.navtab .navtab_inner{height:82px;background-color:#000}
.navtab.is-fixed .navtab_inner{position:fixed;top:0;left:0;right:0;z-index:900}
.navtab .navtab_list{height:100%;width:970px;margin:0 auto}
.navtab .navtab_list li{float:left;position:relative;width:33.3333%;height:100%;letter-spacing:-1px}
.navtab .navtab_list li + li:before {content:"";display:block;position:absolute;top:31px;left:0;width:1px;height:20px;background-color:#4d4d4d;}
.navtab .navtab_list li a{display:block;padding:0;font-size:24px;color:#fff;text-align:center;line-height:82px;opacity:.5;transition:all .3s ease-in-out;font-family: 'Roboto','Noto Sans KR',tahoma,malgun gothic,"맑은고딕",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
.navtab .navtab_list li a:hover{opacity:.6}
.navtab .navtab_list li a.is-on{font-weight:bold;font-weight:500;opacity:1;color:#fcdc44;}

/* 꼭 확인하세요 위치 */
.com__evt_notice {text-align:center}
.cont2 .com__evt_notice {margin:20px auto 40px;}

/* 이벤트 참여혜택 */
.cont1 {overflow:hidden;text-align:center;background:#fff url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_bg.png) center 178px no-repeat;}
.cont1 .contents {position:relative;width:970px;margin:0 auto;}
.cont1 .contents .tit {width:504px;height:91px;margin:80px auto 22px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_tit.png) no-repeat center;}
.cont1 .contents .btn_noti {display:block;position:relative;width:340px;height:52px;margin:0 auto 50px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_caution.png) no-repeat center;}
.cont1 .contents .btn_noti:after {content:"";display:block;position:absolute;top:15px;right:19px;width:13px;height:22px;transition:all .2s ease-in-out;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_caution_arr.png) no-repeat center;}
.cont1 .contents .btn_noti.on:after,
.cont1 .contents .btn_noti:hover:after {transform:rotate(90deg)}

.cont1 .contents .benefits {width:600px;margin:0 auto 50px;}
.cont1 .contents .benefits_list {}
.cont1 .contents .benefits_list:after {content:"";display:table;clear:both;}
.cont1 .contents .benefits_list li {float:left;width:300px;margin-bottom:30px;}
.cont1 .contents .benefits_list li a {display:block;}
.cont1 .contents .benefits_list li a .img {display:block;width:220px;height:220px;margin:0 auto 20px;transition:all .2s ease-in-out;}
.cont1 .contents .benefits_list li a:hover .img {transform:scale(1.05);}
.cont1 .contents .benefits_list li a .txt {font-size:20px;line-height:28px;color:#000;letter-spacing:-1px;}
.cont1 .contents .benefits_list li a .txt em {display:block;font-weight:bold;font-weight:500;font-size:24px;}
.cont1 .contents .benefits_list li.item1 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_btn1.png) top center no-repeat;}
.cont1 .contents .benefits_list li.item2 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_btn2.png) top center no-repeat;}
.cont1 .contents .benefits_list li.item3 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_btn3.png) top center no-repeat;}
.cont1 .contents .benefits_list li.item4 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont1_btn4.png) top center no-repeat;}

/* 레이어 : 앱푸시 안내 */
.notice {display:none;position:absolute;top:170px;left:50%;width:500px;margin-left:-250px;z-index:1000;}
.notice h3 {display:block;height:43px;text-align:center;font-weight:bold;font-weight:400;font-size:20px;color:#fff;line-height:43px;background-color:#333;}
.notice .btn_cls {display:block;position:absolute;top:11px;right:11px;width:21px;height:21px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -50px -200px no-repeat;outline:0;}
.notice .notice_inner {position:absolute;left:0;width:100%;border:1px solid #333;border-radius:5px;text-align:left;background:#fff;z-index:50;}
.notice .notice_inner .inside {padding:30px;}
.notice .notice_inner li {font-size:18px;color:#333;line-height:30PX;padding:0 0 0 10px;letter-spacing:-1px;word-break:keep-all;background:url(http://img.enuri.info/images/knowcom/bul_dot_blue.gif) no-repeat 0 14px;}

/* 수신동의 이벤트 */
.cont2 {overflow:hidden;text-align:center;background:#fcdc44;}
.cont2 .contents {height:600px;background:url(http://img.enuri.info/images/event/2021/apppush/may/w_cont2_comminsoon.jpg) top center no-repeat;}

/* 웰컴팩 이벤트 */
.cont3 {overflow:hidden;text-align:center;background:#300f95;}
.cont3 .contents {position:relative;width:970px;margin:0 auto;}
.cont3 .contents .tit {width:606px;height:308px;margin:52px auto 34px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont3_tit.png) no-repeat;}
.cont3 .contents .wgift {position:relative;width:100%;height:514px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont3_bg.png) center -50px no-repeat;}
.cont3 .contents .wgift a.btn_wgift {position:absolute;top:182px;left:225px;width:556px;height:303px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont3_btn.png) no-repeat center;transition:all .3s ease-in-out;}
.cont3 .contents .wgift a.btn_wgift:hover {transform:translateY(30px);}

/* APPPUSH 수신동의 가이드 */
.cont4 {overflow:hidden;text-align:center;background:#eee;}
.cont4 .contents {position:relative;width:970px;margin:0 auto;}
.cont4 .contents .tit {width:524px;height:91px;margin:80px auto 32px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont4_tit.png) no-repeat;}
.cont4 .contents .btn_app {display:block;width:269px;height:24px;margin:0 auto 32px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_cont4_titsub.png) no-repeat;}
.cont4 .contents .guidebox {width:676px;margin:0 auto 40px;}
.cont4 .contents .guidebox .swiper-container {padding-bottom:40px;}
.cont4 .contents .guidebox .swiper-slide img {-webkit-box-shadow: 22px 22px 10px 1px rgba(0,0,0,0.05);-moz-box-shadow: 22px 22px 10px 1px rgba(0,0,0,0.05);box-shadow: 22px 22px 10px 1px rgba(0,0,0,0.05);}
.cont4 .contents .guidebox .swiper-button-prev{width:27px;height:50px;margin-top:-25px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_btn_sprite.png) no-repeat 0 0;opacity:.6;transition:all .2s ease-in-out;}
.cont4 .contents .guidebox .swiper-button-next{width:27px;height:50px;margin-top:-25px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/w_btn_sprite.png) no-repeat -27px 0;opacity:.6;transition:all .2s ease-in-out;}
.cont4 .contents .guidebox .swiper-button-prev:hover,
.cont4 .contents .guidebox .swiper-button-next:hover {opacity:1;}
.cont4 .contents .guidebox .swiper-pagination{margin-top:-10px;font-size:0;}
.cont4 .contents .guidebox .swiper-pagination .swiper-pagination-bullet{opacity:1;width:8px;height:8px;border:2px solid #000000;background-color:#000000;margin:0 9px}
.cont4 .contents .guidebox .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:transparent}
.cont4 .contents .noti {display:block;margin-bottom:65px;font-size:18px;line-height:26px;color:#535353;letter-spacing:-1px;}

/* 에누리 혜택*/
.otherbene {overflow:hidden;padding:222px 0 80px;background:#23272c url(http://img.enuri.info/images/event/2020/apppush/nov/w_benefit_tit.png) 50% 80px no-repeat;}
.otherbene .banlist {width:990px;margin:-10px auto 0;overflow:hidden}
.otherbene .banlist li {float:left;width:480px;margin:10px 0  0 10px}
.otherbene .banlist li a {display:block;}

/* PUSH 혜택 레이어 */
.push_layer_wrap {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7);z-index:1000;}
.push_layer {position:absolute;top:50%;left:50%;width:420px;height:240px;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);letter-spacing:-1px;background-color:#fff;}
.push_layer .inner {position:relative;width:100%;height:100%;text-align:center;}
.push_layer .inner > div {display:none;overflow:hidden;}
.push_layer .txt {margin-top:50px;font-size:22px;color:#1b1b1b;line-height:30px;}
.push_layer .txt strong {font-weight:bold;font-weight:500;color:#fa3d3d;}
.push_layer .btn_link {display:block;position:absolute;bottom:30px;left:50%;width:130px;height:48px;margin-left:-65px;font-size:22px;color:#fff;text-align:center;line-height:48px;background-color:#333;}
.push_layer .btn_cls {position:absolute;top:20px;right:20px;width:21px;height:21px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/ico_lay_close.png)}

/*딤레이어 공통 */
.pop-layer  {position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000;}
/*기존*/
.popupLayer {position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.popupLayer .dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10100;}
/*new*/
.backdim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}

.popup_box {position:absolute;left:50%;top:50%;overflow:hidden;z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top;margin:0;padding:0;}
.popup_box h4 {height:69px;text-align:center;font-size:26px;font-weight:500;line-height:69px;color:#fff;letter-spacing:-1px;background-color:#0182ea;}
.popup_box .layclose {position: absolute;right: 18px;top: 21px;width: 26px;height: 26px;background-image: url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);background-size:26px;text-indent: -9999em;z-index: 2;}

/* 딤레이어 : 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;height:283px;margin-left:-205px;margin-top:-142px;border:1px solid #0182ea;border-top:0;background:#fff;}
.onlyapp .inner {width:377px;padding:22px 16px 0;line-height:1.5;font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center;line-height:1.2;padding-bottom:25px;font-size:18px;color:#393939;letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-size:16px;color:#2366aa;letter-spacing:-0.5px;margin:0 0 5px 1px;padding-left:10px;background:url(http://img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px;padding:0 20px;text-align:left;font-family:Roboto,'Noto Sans KR',Malgun Gothic;font-size:16px;color:#666;font-weight:700;letter-spacing:-1px;height:40px;line-height:36px;background:0;border:1px solid #0182ea;border-right:0;box-sizing:content-box;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px;color:#7f7f7f;letter-spacing:-0.5px;margin-left:2px;padding-left:6px;background:url(http://img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute;right:0;top:0;width:123px;height:42px;background:#0182ea;text-align:center;}
.onlyapp .laysend em{position:static;left:0;display:inline-block;line-height:42px;color:#fff;width:auto;height:auto;font-size:18px;font-weight:400;letter-spacing:-1px}

	/* 딤레이어 : 개인정보 수집 동의 */
	.infoagree {width:545px; height:494px; margin-left:-272px; margin-top:-247px; background:url(http://img.enuri.info/images/event/2017/recommand_friend/ver1/pop_infoagree.png) no-repeat 0 0;}
	.infoagree .inner {position:absolute; top:110px; left:0; width:540px}
	.infoagree dl {padding-left:64px; height:60px;font-weight:bold; overflow:hidden;}
	.infoagree dl dt {float:left; width:156px; line-height:56px;  font-size:26px; color:#333333;  letter-spacing:-0.5px;}
	.infoagree dl dd {float:left; width:264px; line-height:58px;  font-size:30px;color:#0182ea; height:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	.infoagree .tip {margin-top:32px; font-size:24px; color:#666666; text-align:center;}
	.infosh {margin-top:20px; text-align:center;}
	.unchk{background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 0 no-repeat;  font-size:24px; letter-spacing:-0.5px; color:#666; padding-left:49px; height:36px; line-height:30px; display:inline-block; cursor:pointer; padding-top:1px;}
	.unchk input, .chk input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
	.chk {background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 -60px no-repeat; font-size:24px; letter-spacing:-0.5px; color:#666; padding-left:49px; height:36px; line-height:30px; display:inline-block; cursor:pointer; padding-top:1px;}
	.infoagree .laysend {position:absolute; left:30px; bottom:36px; width:480px; height:70px; }
	.infoagree .layclose {position:absolute; right:36px; top:22px; width:26px; height:26px; background-image:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/btn_pop_close.png);}
	
		/* 딤레이어 : 인증하고 초대코드 받기 */
	.inviteLayer {overflow:visible; width:610px; height:430px; margin-left:-305px; margin-top:-215px; border-radius:30px; box-shadow:0 10px 30px #dfdfdf inset; background-color:#fff;}
	.inviteLayer .inner {position:absolute; top:70px; left:100px; width:410px;}
	.inviteLayer .agree_txt {text-align:center;}
	.inviteLayer .agree_txt p {margin-bottom:25px; font-weight:normal; line-height:36px; color:#000; letter-spacing:-1px;}
	.inviteLayer .agree_txt p.txt1 {font-weight:bold; font-size:28px; text-align:center;}
	.inviteLayer .agree_txt p.txt2 {margin-top:10px; font-size:20px; line-height:28px; text-align:center;}
	.inviteLayer .agree_txt p.ipt {margin-bottom:25px; text-align:center;}
	.inviteLayer .agree_txt p label {font-size:20px; color:#000; cursor:pointer;}
	.inviteLayer .agree_txt input{vertical-align:middle; margin-right:3px;}
	.inviteLayer .agree_txt input[type='checkbox'] {width:24px; height:26px; border: 0; background: url(http://img.enuri.info/images/event/2017/recommand_friend/renew/chk_form.png) no-repeat 0 0; -webkit-appearance: none; -moz-appearance: none; appearance: none;}
	.inviteLayer .agree_txt input[type='checkbox']:checked {background-position:-24px 0;}
	.inviteLayer .agree_txt .agreebtn{display:inline-block; height:64px; outline: medium none; cursor:pointer; border:none; margin:0 auto; padding:0 40px; border-radius:32px; font-size:23px; font-weight:bold; color:#fff; line-height:62px; vertical-align:middle; background: #22211e;}
	.inviteLayer .layclose {width:23px; height:23px; position:absolute; right:0; top:-40px; width:33px; height:33px; text-indent:-9999em; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/btn_close_layer.png);}

	/* 개인정보 레이어 */
	#privacy .noteLayer{width:300px; padding-bottom:15px; background:#ffffff; margin: -146px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:1000}
	#privacy .noteLayer h4{line-height:36px; color:#ffffff; font-size:16px; text-align:left; letter-spacing:-1px; padding-left:10px; background:#a4a4a4;}
	.privacy_txt{padding:15px; font-size:11px;}
	.privacy_txt p{padding-bottom:7px;}
	.privacy_txt dl dt{font-weight:bold;}
	.privacy_txt dl dd{padding:0 0 5px 14px;}
	.privacy_txt li{letter-spacing:-1px;}

/* 가이드팝업 - 유의사항 */
.guide {width:800px;height:100%;height:400px;margin-top:-200px;margin-left:-400px;border:1px solid #0e151c;border-top:0;background:#fff;}
#notetxt1 .guide {height:300px;margin-top:-188px;}
#notetxt2 .guide {height:720px;margin-top:-360px;}
#notetxt2 .guide .inner {overflow-y:scroll;height:594px;}
.guide.entry {height:589px;margin-top:-294px ;text-align:center;color:#333;}
.guide.entry strong {font-weight:bold;font-size:30px;font-weight:normal;}
.guide.entry .tip { font-size:24px;}
.guide.entry .tip strong  {color:#ff0200;}
.guide h4 {height:69px;text-align:center;font-size:32px;font-weight:normal;line-height:70px;color:#fff;background-color:#0e151c ;}
.guide .inner {padding:34px 50px 24px 50px;}
.guide .inner .ul-tit {display:block;font-size:15px;}
.guide .inner ul {margin-bottom:15px;}
.guide .inner .emp {color:#f00;}
.guide ul li { font-size:15px;color:#333;margin-left:2px;line-height:1.5;padding:2px 0 3px 11px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.guide .layentry {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/install/btn_lay_entry.gif);}
.guide .laysubmit {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute;right:33px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.guide dl dd.emp {color:#f00;}
.guide .tb {width:100%;margin:15px 0;}
.guide .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse;}
.guide .tb table th, .guide .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333;}
.guide .tb table th {background:#f0f0f0;}
.guide .tb table td.savepr {width:100px;text-align:right;}

#notetxt2 .guide dl {margin-bottom:10px;font-size:14px;}
#notetxt2 .guide dl:last-child {margin-bottom:30px;}
#notetxt2 .guide dt {margin-bottom:3px;font-weight:bold;line-height:20px;padding-top:5px;}
#notetxt2 .guide dd {padding-left:10px;line-height:24px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
#notetxt2 .guide dd ul li {font-size:13px;color:#666;background:none;}
 
/* 딤레이어 : emoney */
.emoneypop {width:377px;height:452px;margin-left:-188px;margin-top:-226px;border:1px solid #636363;background:#eaeaea;}
.emoneypop h4 {height:43px;line-height:41px;font-size:20px;letter-spacing:-0.5px;font-weight:bold;color:#fff;background:#202020;}
.msgarea {width:377px;height:217px;overflow:hidden;}
.msgarea.bggrn { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg1.gif) no-repeat 0 0;}
.msgarea.bgpup { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg2.gif) no-repeat 0 0;}
.msgarea.bgnavy { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg3.gif) no-repeat 0 0;}
.msgarea.bgpink { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg4.gif) no-repeat 0 0;}
.msgarea.bgblk { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg5.gif) no-repeat 0 0;}
.msgarea .message {height:80px;padding:86px 35px 0 35px;overflow:hidden;font-size:20px;color:#ffffff;letter-spacing:-0.5px;}
.msgarea .icon { text-align:center;line-height:25px;font-family:Malgun Gothic, '맑은고딕';}
.icon.bubble  {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say1.png) no-repeat 50% 20px;}
.icon.bell {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say2.png) no-repeat 50% 20px;}
.icon.owl {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say3.png) no-repeat 50% 20px;}
.icon.chick {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say4.png) no-repeat 50% 20px;}
