@charset "utf-8";

.wrap{position:relative;width:100%;min-width:320px;/*padding-top:30px;*/}
.contents{width:100%;max-width:320px;margin:0 auto;position:relative;}
.wrap a{display:block;}

/* 공통 */
.imgbox{width:100%;padding:0;margin:0;display:block;}
.imgs {width:100%;max-width:100%;height:auto;vertical-align:middle;}
.sprite {font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2019/newyear_pro/m_sprite.png) no-repeat 0 0;background-size:400px;}
.stripe_layer {font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2018/newyear/prom_stripe_layer.png) no-repeat 0 0;background-size:300px;}

/* 커스텀 :닫기버튼 */
.win_close{top:35px;}
.win_close:before, .win_close:after{background-color:#fff;}
.f-nav .win_close {top:45px;}
.f-nav .win_close:before, .f-nav .win_close:after{background-color:#1b1b1b}

.evt_notice--btn_area{padding-bottom:24px}

#eventWrap{overflow:hidden;position:relative;width:100%;} 

.toparea {position:relative;width:100%;overflow:hidden;}
.visual {overflow:hidden;position:relative;width:100%;height:455px;background:#eee;text-align:center}
.visual .inner{position:relative;width:320px;height:340px;margin:0 auto;padding-top:60px;z-index:10;}
.visual .inner .txt_01{position:relative;margin:0 auto 13px 35px;display:block;height:19px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_top_tit_sub.png) no-repeat 0 0 ;background-size:142px;text-indent:-9999em}
.visual .inner h2{width:257px;height:36px;margin:0 auto 0 39px;position:relative;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_top_tit.png) no-repeat 0 0;background-size:257px;}
.visual .inner h2:after{content:"";position:absolute;top:0;left:-4px;width:75px;height:36px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_top_tit_cover.png) no-repeat 0 0;background-size:75px}
.visual .inner .txt_02{display:block;width:192px;height:29px;margin:16px auto 0 35px;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_top_txt_sub.png) no-repeat 0 0;background-size:192px;}
.visual .inner .box_wrap{position:relative;left:34px;top:24px;overflow:hidden;width:247px;height:260px;opacity:0;}
.visual .inner .box_wrap > span {display:block;position:absolute;}
.visual .inner .box_wrap .mobile {top:20px;left:-43px;width:221px;height:297px;z-index:0;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_mobile.png) no-repeat 0 0;background-size:221px;}
.visual .inner .box_wrap .rhand {top:150px;left:73px;width:131px;height:220px;z-index:3;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_rhand.png) no-repeat 0 0;background-size:131px;}
.visual .inner .box_wrap .lock {top:150px;left:81px;width:89px;height:27px;z-index:2;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_lockoff.png) no-repeat 0 0;background-size:89px;}
.visual .inner .box_wrap .lock.on {top:150px;left:81px;width:89px;height:27px;z-index:1;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_lockon.png) no-repeat 0 0;background-size:89px;}
.visual .inner .box_wrap .bell {top:12px;right:25px;width:43px;height:55px;z-index:10;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_bell.png) no-repeat 0 0;background-size:43px;}
.visual .inner .box_wrap .bellbox {top:0;right:0;width:98px;height:88px;z-index:9;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_bellbox.png) no-repeat 0 0;background-size:98px;}

.obj_flow_01,
.obj_flow_02{position:absolute;top:0%;left:50%;height:100%;}
.obj_flow_01{z-index:10;width:389px;-webkit-transform:translateX(-48%);-ms-transform:translateX(-48%);transform:translateX(-48%);}/* 파랑색 */
.obj_flow_02{z-index:9;width:439px;-webkit-transform:translateX(-52%);-ms-transform:translateX(-52%);transform:translateX(-52%);}/* 분홍색 */
.obj_flow_01 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_flow01.png) no-repeat 50% 0;background-size:389px;}
.obj_flow_02 .bg_flow{position:absolute;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_obj_flow02.png) no-repeat 50% 0;background-size:439px;}
.flow_obj_01{top:0}
.flow_obj_02{top:-100%}

/* 모션 */
.visual .inner .txt_01{-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0}
.visual .inner .txt_02{-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0}
.visual .inner h2{-webkit-transition:.8s all ease-in-out;-o-transition:.8s all ease-in-out;transition:.8s all ease-in-out;-webkit-transform:translateX(20px);-ms-transform:translateX(20px);transform:translateX(20px);opacity:0}
.visual .inner h2:after{-webkit-transition:.3s all ease-in;-o-transition:.3s all ease-in;transition:.3s all ease-in;-webkit-transform:translateX(7px);-ms-transform:translateX(7px);transform:translateX(7px);/* -webkit-transform:translateX(5px);-ms-transform:translateX(5px);transform:translateX(5px); */opacity:0}
.visual .inner .box_wrap .bell {opacity:0;}
.visual .inner .box_wrap .bellbox {opacity:0;}
.obj_flow_01,
.obj_flow_02{-webkit-transition:2s all ease-in-out;-o-transition:2s all ease-in-out;transition:2s all ease-in-out;opacity:0}

/* 모션 intro */
.visual.intro .inner .txt_01{-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1}
.visual.intro .inner .txt_02{-webkit-transition-delay:1.2s;-o-transition-delay:1.2s;transition-delay:1.2s;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:.6}
.visual.intro .inner h2 {-webkit-transition-delay:.5s;-o-transition-delay:.5s;transition-delay:.5s;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0);opacity:1}
.visual.intro .inner h2:after{-webkit-transition-delay:1.6s;-o-transition-delay:1.6s;transition-delay:1.6s;-webkit-transform:scale(1);-ms-transform:scale(1);transform:scale(1);/* -webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0); */opacity:1}
.visual.intro .inner .box_wrap .rhand {-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transition-delay:2.7s;-o-transition-delay:2.7s;transition-delay:2.7s;}
.visual.intro .inner .box_wrap .bell {-webkit-animation:bell_mv 2s linear infinite;animation:bell_mv 2s linear infinite;-webkit-animation-delay:3.7s;animation-delay:3.7s;-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transition-delay:3.2s;-o-transition-delay:3.2s;transition-delay:3.2s;opacity:1;}
.visual.intro .inner .box_wrap .bellbox {-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transition-delay:3.2s;-o-transition-delay:3.2s;transition-delay:3.2s;opacity:1;}
.visual.intro .inner .box_wrap .lock {-webkit-transition:.5s all ease-in-out;-o-transition:.5s all ease-in-out;transition:.5s all ease-in-out;-webkit-transition-delay:2.9s;-o-transition-delay:2.9s;transition-delay:2.9s;opacity:0;}
.visual.intro .inner .box_wrap .lock.on {opacity:1;}
@-webkit-keyframes bell_mv {
	0%, 50%, 100% {-webkit-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:50% 0;transform-origin:50% 0}
    25% {-webkit-transform:rotate(5deg);transform:rotate(5deg);-webkit-transform-origin:50% 0;transform-origin:50% 0}
	75% {-webkit-transform:rotate(-5deg);transform:rotate(-5deg);-webkit-transform-origin:50% 0;transform-origin:50% 0}
}
@keyframes bell_mv {
	0%, 50%, 100% {-webkit-transform:rotate(0);transform:rotate(0);-webkit-transform-origin:50% 0;transform-origin:50% 0}
    25% {-webkit-transform:rotate(5deg);transform:rotate(5deg);-webkit-transform-origin:50% 0;transform-origin:50% 0}
	75% {-webkit-transform:rotate(-5deg);transform:rotate(-5deg);-webkit-transform-origin:50% 0;transform-origin:50% 0}
}

/* 모션 intro */
.visual.intro .inner .box_wrap{-webkit-animation:box_mv 1s linear;animation:box_mv 1s linear;-webkit-animation-delay:2.2s;animation-delay:2.2s;-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;}
@-webkit-keyframes box_mv {
    0% {opacity:0;bottom:-150px}
    100% {opacity:1;bottom:-80px}
} 
@keyframes box_mv {
    0% {opacity:0;bottom:-150px}
    100% {opacity:1;bottom:-80px}
} 
.visual.intro .inner .box_wrap .rhand {-webkit-transform:translateX(62px);-ms-transform:translateX(62px);transform:translateX(62px)}

/* 모션 end */
.visual.end .obj_flow_01,
.visual.end .obj_flow_02{opacity:1}
.visual.end .obj_flow_01 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 50s linear infinite;animation:flowShower 50s linear infinite;}
.visual.end .obj_flow_02 .bg_flow{-webkit-transition:1s all linear;-o-transition:1s all linear;transition:1s all linear;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);-webkit-animation:flowShower 20s linear infinite;animation:flowShower 20s linear infinite;}
@-webkit-keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
}
@keyframes flowShower {
    0% {-webkit-transform:translateY(0%);transform:translateY(0%)}
    100% {-webkit-transform:translateY(100%);transform:translateY(100%)}    
} 

.visual.intro .loader-box{opacity:0}
.loader-box{display:inline-block;position:relative;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;-webkit-transform:translateY(-50px);-ms-transform:translateY(-50px);transform:translateY(-50px)}
.visual-loader:before{content:"";position:absolute;top:0px;left:-25px;height:12px;width:12px;border-radius:12px;-webkit-animation:loader10g 3s ease-in-out infinite;		animation:loader10g 3s ease-in-out infinite;}
.visual-loader{position:relative;width:12px;height:12px;border-radius:12px;-webkit-animation:loader10m 3s ease-in-out infinite;		animation:loader10m 3s ease-in-out infinite;}
.visual-loader:after{content:"";position:absolute;top:0px;left:25px;height:10px;width:10px;border-radius:10px;-webkit-animation:loader10d 3s ease-in-out infinite;		animation:loader10d 3s ease-in-out infinite;}
@-webkit-keyframes loader10g{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,1);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}
@keyframes loader10g{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,1);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}

@-webkit-keyframes loader10m{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,1);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}
@keyframes loader10m{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,1);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}

@-webkit-keyframes loader10d{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,1);}
	100%{background-color:rgba(255,255,255,.2);}
}
@keyframes loader10d{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,1);}
	100%{background-color:rgba(255,255,255,.2);}
}
/* 플로팅 배너 */
.floating_bnr{width:108px;height:108px;position:fixed;bottom:38px;left:20px;z-index:1200;-webkit-animation:bounce ease-in-out 2s infinite alternate;animation:bounce ease-in-out 2s infinite alternate}
.floating_bnr img{width:100%}
.floating_bnr .btn_close{width:30px;height:30px;position:absolute;top:8px;right:3px;}
@-webkit-keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
    50%,70% {-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);}    
}
@keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
    50%,70% {-webkit-transform:translateY(-10px);-ms-transform:translateY(-10px);transform:translateY(-10px);}    
} 

/* 탭 */
.navtab{width:100%;height:60px;}
.navtab .navtab_inner{height:60px;background-color:#000}
.navtab.is-fixed .navtab_inner{position:fixed;top:0;left:0;right:0;z-index:1001}
.navtab .navtab_list{height:100%;width:320px;margin:0 auto}
.navtab .navtab_list li{float:left;position:relative;height:100%;letter-spacing:-1px}
.navtab .navtab_list li a{display:block;height:100%;text-indent:-9999em;background-image:url(http://img.enuri.info/images/event/2021/apppush/may/m_nav.jpg);background-repeat:no-repeat;background-size:320px;}
.navtab .navtab_list li .navtab_item--01{width:93px;background-position:0 0}
.navtab .navtab_list li .navtab_item--02{width:120px;background-position:-97px 0}
.navtab .navtab_list li .navtab_item--03{width:107px;background-position:-210px 0}
.navtab .navtab_list li a.is-on{background-position-y:100%!important}

/* 꼭 확인하세요 위치 */
.com__evt_notice {text-align:center}
.cont2 .com__evt_notice {margin-bottom:5px}

/* 이벤트 참여혜택 */
.cont1 {overflow:hidden;text-align:center;background:#fff}
.cont1 .contents {position:relative;width:100%;margin:0 auto;}
.cont1 .contents .tit {width:262px;height:49px;margin:40px auto 15px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_tit.png) no-repeat center;background-size:262px;}
.cont1 .contents .btn_noti {display:block;position:relative;width:200px;height:31px;margin:0 auto 30px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_caution.png) no-repeat center;background-size:200px;}
.cont1 .contents .btn_noti:after {content:"";display:block;position:absolute;top:9px;right:11px;width:9px;height:14px;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_caution_arr.png) no-repeat center;background-size:9px;}
.cont1 .contents .btn_noti.on:after {-webkit-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg)}

/* 레이어 :앱푸시 안내 */
.notice {display:none;position:absolute;top:100px;left:50%;width:300px;margin-left:-150px;z-index:1000;}
.notice h3 {display:block;height:35px;text-align:center;font-weight:bold;font-weight:400;font-size:16px;color:#fff;line-height:35px;background-color:#333;}
.notice .btn_cls {display:block;position:absolute;top:12px;right:12px;width:11px;height:11px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/knowcom/pc_stripe_img.png) -25px -100px no-repeat;outline:0;background-size:50px;}
.notice .notice_inner {position:absolute;left:0;width:100%;border:1px solid #333;border-radius:5px;text-align:left;background:#fff;z-index:50;text-align:center;}
.notice .notice_inner .inside {padding:15px 10px;}
.notice .notice_inner li {font-size:14px;color:#333;line-height:20px;letter-spacing:-1px;word-break:keep-all;}

.cont1 .contents .benefits {width:300px;margin:0 auto 20px;}
.cont1 .contents .benefits_list:after {content:"";display:table;clear:both;}
.cont1 .contents .benefits_list li {float:left;width:50%;margin-bottom:20px;}
.cont1 .contents .benefits_list li a {display:block;text-align:center;}
.cont1 .contents .benefits_list li a .img {display:block;width:100%;height:152px;margin:0 auto;}
.cont1 .contents .benefits_list li a .txt {font-size:20px;line-height:28px;color:#000;letter-spacing:-1px;}
.cont1 .contents .benefits_list li a .txt em {display:block;font-weight:bold;font-weight:500;font-size:24px;}
.cont1 .contents .benefits_list li.item1 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_btn1.png) top center no-repeat;background-size:141px;}
.cont1 .contents .benefits_list li.item2 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_btn2.png) top center no-repeat;background-size:112px;}
.cont1 .contents .benefits_list li.item3 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_btn3.png) top center no-repeat;background-size:112px;}
.cont1 .contents .benefits_list li.item4 a .img {background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont1_btn4.png) top center no-repeat;background-size:151px;}

/* 수신동의 이벤트 */
.cont2 {overflow:hidden;text-align:center;background:#f2d445;}
.cont2 .contents {height:415px;background:url(http://img.enuri.info/images/event/2021/apppush/may/m_cont2_comminsoon.jpg) top center no-repeat;background-size:320px}

/* 웰컴팩 이벤트 */
.cont3 {overflow:hidden;text-align:center;background:#300f95;}
.cont3 .contents {position:relative;width:970px;margin:0 auto;}
.cont3 .contents .tit {width:239px;height:206px;margin:19px auto 18px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont3_tit.png) no-repeat;background-size:239px;}
.cont3 .contents .wgift {width:100%;height:250px;margin-bottom:18px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont3_btn.png) center top no-repeat;background-size:320px;}
.cont3 .contents .wgift a.btn_wgift {display:block;width:100%;height:250px;}

/* APPPUSH 수신동의 가이드 */
.cont4 {overflow:hidden;text-align:center;background:#eee;}
.cont4 .contents {position:relative;margin:0 auto;}
.cont4 .contents .tit {width:273px;height:49px;margin:40px auto 15px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont4_tit.png) no-repeat;background-size:273px;}
.cont4 .contents .btn_app {display:block;width:104px;height:38px;margin:0 auto 25px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont4_titsub.png) no-repeat;background-size:104px;}
.cont4 .contents .guidebox {width:100%;margin:0 auto 25px;}
.cont4 .contents .guidebox .swiper-container {padding-bottom:25px;}
.cont4 .contents .guidebox .swiper-slide img {width:271px;height:auto;}
.cont4 .contents .guidebox .swiper-pagination{margin-top:0;font-size:0;}
.cont4 .contents .guidebox .swiper-pagination .swiper-pagination-bullet{opacity:1;width:4px;height:4px;border:1px solid #000000;background-color:#000000;margin:0 4.5px}
.cont4 .contents .guidebox .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color:transparent}
.cont4 .contents .noti {display:block;width:273px;height:29px;margin:0 0 45px 24px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/apppush/nov/m_cont4_txt.png) no-repeat;background-size:273px;}

/* 에누리 혜택*/
.otherbene {overflow:hidden;padding:118px 0 35px;background:#23272c url(http://img.enuri.info/images/event/2020/apppush/nov/w_benefit_tit.png) 50% 40px no-repeat;background-size:169px;}
.otherbene .banlist {width:309px;margin:-5px auto 0;overflow:hidden}
.otherbene .banlist li {float:left;width:147px;margin:5px 0  0 5px}
.otherbene .banlist li a {display:block;}
.otherbene .banlist li a img {width:100%;height:auto;}

/* PUSH 혜택 레이어 */
.push_layer_wrap {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.7);z-index:1000;}
.push_layer {position:absolute;top:50%;left:50%;width:250px;height:150px;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);letter-spacing:-1px;background-color:#fff;}
.push_layer .inner {position:relative;width:100%;height:100%;text-align:center;}
.push_layer .inner > div {display:none;overflow:hidden;}
.push_layer .txt {margin-top:30px;font-size:14px;color:#1b1b1b;line-height:24px;}
.push_layer .txt strong {font-weight:bold;font-weight:500;color:#fa3d3d;}
.push_layer .btn_link {display:block;position:absolute;bottom:20px;left:50%;width:100px;height:35px;margin-left:-50px;font-size:13px;color:#fff;text-align:center;line-height:35px;background-color:#333;}
.push_layer .btn_cls {position:absolute;top:-20px;right:0;width:16px;height:16px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat;background-size:50px;}


/*레이어*/
.layer_back{width:100%;height:100%;position:fixed;left:0;top:0;background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png);z-index:100005;}
.layer_back.nofix {position:absolute;background:none;}
.layer_back.nofix .dim {width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,0.7);z-index:10002}
.btn_close{text-align:center;}
.appLayer{width:300px;padding-bottom:15px;background:#ffffff;border:1px solid #0182ea;left:50%;top:50%;position:absolute;z-index:1000;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.appLayer h4{background:#0182ea;line-height:36px;color:#ffffff;font-size:16px;text-align:center;letter-spacing:-1px;}
.appLayer .close{position:absolute;right:10px;top:10px;width:16px;height:16px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat;background-size:50px;text-indent:-9999em;}
.appLayer .btn_close button{background:#22211e;color:#ffffff;width:100px;line-height:50px;border:none;text-align:center;font-weight:bold;font-size:18px;}
.appLayer .txt{text-align:center;padding:15px 0;color:#333333; font-size:16px;letter-spacing:-1.3px;}
.appLayer .txt strong{color:#ff2424;display:block;}
.appLayer .txt em{font-weight:bold;}
.go_top {width:39px;height:39px;position:fixed;bottom:38px;right:10px;z-index:10100;}
.go_top a {background:url(http://img.enuri.info/images/m_deal/common.png) -73px -211px no-repeat;background-size:125px 250px;display:block;width:39px;height:39px;text-indent:-9999em}

.app_install{text-indent:-9999em;width:261px;height:233px;margin:-116px auto 0 -130px;left:50%;top:50%;position:absolute;background:url(http://img.enuri.info/images/mobilefirst/app_install.png) 0 0 no-repeat;background-size:261px 233px;}
.app_install .go_app{position:absolute;width:167px;height:42px;left:48px;bottom:20px;}
.app_install .closebtn{position:absolute;width:36px;height:36px;right:5px;top:0px;}

.layer_back{width:100%;height:100%;position:fixed;left:0;top:0;background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png);z-index:100005;}
.layer_back.nofix {position:absolute;background:none;}
.layer_back.nofix .dim {width:100%;height:100%;position:fixed;left:0;top:0;background:rgba(0,0,0,0.7);z-index:10002}
.btn_close{text-align:center;}
.appLayer{width:300px;padding-bottom:15px;background:#ffffff;border:1px solid #0182ea;left:50%;top:50%;position:absolute;z-index:1000;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.appLayer h4{background:#0182ea;line-height:36px;color:#ffffff;font-size:16px;text-align:center;letter-spacing:-1px;}
.appLayer .close{position:absolute;right:10px;top:10px;width:16px;height:16px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat;background-size:50px;text-indent:-9999em;}
.appLayer .btn_close button{background:#22211e;color:#ffffff;width:100px;line-height:50px;border:none;text-align:center;font-weight:bold;font-size:18px;}
.appLayer .txt{text-align:center;padding:15px 0;color:#333333; font-size:16px;letter-spacing:-1.3px;}
.appLayer .txt strong{color:#ff2424;display:block;}
.appLayer .txt em{font-weight:bold;}

.noteLayer{width:300px;background:#ffffff;border:1px solid #0e151c;left:50%;top:50%;position:absolute;z-index:1000;margin:0;transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);}
.noteLayer.no_fixed {top:40px;left:50%;z-index:10005;transform:translate(-50%, 0);-webkit-transform:translate(-50%, 0);-o-transform:translate(-50%, 0);-moz-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);}
.noteLayer h4{margin-bottom:0;background:#0e151c;line-height:36px;color:#ffffff;font-size:16px;text-align:center;letter-spacing:-1px;}
.noteLayer h5{padding:5px 0 0 10px;margin-bottom:-10px}
.noteLayer .close{position:absolute;right:0px;top:0px;padding:10px;width:16px;height:16px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 10px 10px no-repeat;background-size:50px;text-indent:-9999em;}
.noteLayer .btn_close{text-align:center;}
.noteLayer .btn_close button{background:#22211e;color:#ffffff;width:100px;margin-bottom:20px;line-height:32px;border:none;text-align:center;font-weight:bold;font-size:12px;}
.txtlist{padding:15px 10px 5px;color:#333333}
.txtlist li {position:relative;font-size:12px;padding:0 0 5px 8px;word-break:keep-all;}
.txtlist li:after{content:"•";position:absolute;left:0;top:0;}
dl.txtlist {font-size:12px;color:#333;}
dl.txtlist dt {line-height:20px;font-weight:bold;margin-bottom:3px;font-weight:bold;padding-top:10px;}
dl.txtlist dt:first-of-type{padding-top:0;}
dl.txtlist dd {margin-left:2px;line-height:1.5;padding:1px 0 2px 8px;word-break:keep-all;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 7px;background-size:3px;}
dl.txtlist dd strong{font-weight:bold;}
dl.txtlist dd.emp {color:#f00;}
dl.txtlist.no-dot dd {padding-left:0;background:none;}

/* 유의사항 드롭다운 */
.caution-wrap {overflow:hidden; position:relative; min-height:35px;}
.caution-wrap .btn_check_hide {display:block; width:100px; height:30px; margin:30px auto 10px; font-size:14px; color:#fff; line-height:30px; text-align:center; vertical-align:middle;background-color:#333;}
.caution-wrap .moreview {display:none; background-color:#fff;}
.caution-wrap .moreview h4 {background:#0e151c; line-height:36px; color:#fff; font-size:16px; text-align:center; letter-spacing:-1px; }
.caution-wrap .moreview .tb {margin-top:15px; }
.caution-wrap .moreview .tb table {width:100%; border-left:1px solid #333; border-top:1px solid #333;}
.caution-wrap .moreview .tb table .col1 {width:65%;}
.caution-wrap .moreview .tb table .col2 {width:35%;}
.caution-wrap .moreview .tb table th, .appLayer .tb table td {text-align:center; padding:3px 20px; font-size:11px; word-break:keep-all; border-right:1px solid #333; border-bottom:1px solid #333; }
.caution-wrap .moreview .tb table th {padding:3px 5px; background:#f0f0f0;}
.caution-wrap .moreview .txt{padding:10px;text-align:left;}
.caution-wrap .moreview .txt_indent > li{padding-left:8px;margin-top:5px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 2px -42px no-repeat;background-size:50px;}
.caution-wrap .moreview .txt_indent > li:first-child{margin-top:0px;}
.caution-wrap .moreview .txt_indent > li.no_bul{background:none;}
.caution-wrap .moreview .txt{font-size:11px;  letter-spacing:-1.3px;}
.caution-wrap .moreview .txt .stress {color:#e91030;}
.caution-wrap .moreview .txt strong{display:block; color:#333;margin-top:20px;/* margin-bottom:5px; */font-size:12px;}
.caution-wrap .moreview .txt strong:first-child{margin-top:0px;}
.caution-wrap .moreview .txt .emp {color:#f00;}
.caution-wrap .moreview .txt .inner{padding-left:8px; margin:0; margin-top:10px; }
.caution-wrap .moreview .txt .inner li{padding-left:1em;text-indent:-1em;margin-top:5px;}
.caution-wrap .moreview .txt .inner li:first-child{margin-top:0px;}
.txt_box p {display:none;text-indent:-9999em;position:absolute;right:auto;bottom:auto;background-position:100% 100%;background-size:100% 100%;background-repeat:none;}
.caution-wrap .moreview table{table-layout:fixed;width:100%;border-collapse:collapse;border-style:hidden;border:1px solid #737373;font-size:10px;}
.caution-wrap .moreview thead th{background:#eeece1;text-align:center;}
.caution-wrap .moreview th,.moreview td{border:1px solid #737373;padding:2px;text-align:center; background:#fff;}

/* 경품 레이어 */
.voteResult_layer {position:fixed; left:0; top:0; width:100%; height:100%; background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index:100005;}
.voteResult_layer .inner_layer {position:absolute; top:50%; left:50%; z-index:1000; width:260px; height:320px; margin:-160px 0 0 -130px; padding:0;}
.voteResult_layer .inner_layer .cont_area {position:relative;}
.voteResult_layer .inner_layer .cont_area img{width:100%}
.voteResult_layer .layclose {position:absolute; right:10px; top:10px; width:25px; height:25px; font-size:0; text-indent:-9999px;}
.voteResult_layer .img_box {text-align:center;}
.voteResult_layer .img_box .p_img {width:100%; height:auto;}

/* 응모완료 레이어 */
.complete_layer {position:fixed; left:0; top:0; width:100%; height:100%; background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index:100005;}
.complete_layer .inner_layer {position:absolute;top:50%; left:50%; z-index:1000; width:320px; height:305px; padding:0;-webkit-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);transform:translate(-50%, -50%);background-color:#fff;}
.complete_layer .inner_layer .tit {width:100%;height:55px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2020/summer_pro/m_complete_tit.png) no-repeat 50% 20px;background-size:139px;}
.complete_layer .inner_layer .cont_area img {width:100%;height:auto;}
.complete_layer .layclose {position:absolute; right:10px; top:15px; width:25px; height:25px; font-size:0; text-indent:-9999px; background-image:url(http://img.enuri.info/images/event/2020/summer_pro/m_btn_close.png); background-size:100% auto}

/* 개인정보 레이어 */
.laypop {position:absolute;top:50%;left:50%;width:280px;height:auto;margin:0 auto;-ms-transform:translate(-50%, -50%);-webkit-transform:translate(-50%, -50%);transform:translate(-50%,-50%);z-index:1000;}
.prilayer{padding-bottom:15px;background:#ffffff;border:1px solid #a4a4a4;}
.prilayer.h_layer{margin:-200px auto 0 -150px;}
.prilayer h4{background:#0075a9;line-height:36px;color:#ffffff;font-size:16px;text-align:left;letter-spacing:-1px;padding-left:10px;}
.prilayer h5{padding:5px 0 0 10px;margin-bottom:-10px}
.prilayer .close{position:absolute;right:10px;top:10px;width:16px;height:16px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat;background-size:50px;text-indent:-9999em;}

#privacy .prilayer h4{background:#a4a4a4;}
.privacy_txt{padding:15px;font-size:11px;}
.privacy_txt p{padding-bottom:7px;}
.privacy_txt dl dt{font-weight:bold;}
.privacy_txt dl dd{padding:0 0 5px 14px;}
.privacy_txt li{letter-spacing:-1px;}
.prilayer .btn_close{text-align:center;}
.prilayer .btn_close button{background:#606060;color:#ffffff;width:120px;line-height:32px;border:none;text-align:center;font-weight:bold;font-size:15px;}

/* 개인정보 수집 이용안내 레이어 */
.agree_layer{width:310px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;border-radius:7px 7px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:12px}
.agree_layer .inner{position:relative;letter-spacing:-.5px;color:#555555;line-height:16px;overflow:hidden}
.agree_layer .inner .txt_tit{height:35px;line-height:35px;font-weight:bold;text-align:center;font-size:18px;color:#057ad9}
.agree_layer .inner .txt_cnt{background:#f4f4f4;padding:24px 12px 30px}
.agree_layer .inner .agree_tit{text-align:center;padding:0 12px 18px}
.agree_layer .agree_txt{line-height:18px;color:#666666;letter-spacing:-0.5px;font-weight:normal;font-size:10px}
.agree_layer .agree_txt input[type='checkbox']:checked {background-position:0 -20px;}
.agree_layer .agree_txt input[type='checkbox'] {width:18px;height:18px;border:0;background:url(http://img.enuri.info/images/event/2016/friend/bg_form.gif) no-repeat 0 0;background-size:39px;}
.agree_layer .agree_txt input {vertical-align:bottom;margin-right:3px;}
.agree_layer .btn_view_detail{color:#057ad9;text-decoration:underline;float:right}
.agree_layer .btn_close{z-index:10000;position:absolute;width:28px;height:28px;right:5px;top:-35px;text-indent:-9999em;}
.btn_close:before, .btn_close:after {position:absolute;left:12px;content:'';height:30px;width:4px;background-color:#fff;border-radius:2px 2px;}
.btn_close:before {-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);}
.btn_close:after {-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}

.agree_layer .btn_apply{text-align:center;clear:both}
.agree_layer .btn_apply button{background:#133c7e;color:#ffffff;width:100px;line-height:30px;border:none;text-align:center;font-weight:bold;font-size:14px;margin-top:12px;margin-bottom:6px}

/* 개인정보 수집 이용안내 레이어 */
.agree_noti_layer{width:310px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;border-radius:7px 7px;-webkit-box-sizing:border-box;box-sizing:border-box;padding:12px}
.agree_noti_layer .inner{position:relative;letter-spacing:-.5px;color:#555555;line-height:16px}
.agree_noti_layer .inner .txt_tit{height:35px;line-height:35px;font-weight:bold;text-align:center;font-size:18px;color:#057ad9}
.agree_noti_layer .inner .txt_cnt{background:#f4f4f4;padding:12px}
.agree_noti_layer .inner .txt_cnt strong{font-size:12px;font-weight:bold;color:#333333}
.agree_noti_layer .inner .txt_cnt dl{margin:12px 0 0 0}
.agree_noti_layer .inner .txt_cnt dt{font-size:11px;font-weight:bold}
.agree_noti_layer .inner .txt_cnt dd{margin-bottom:10px;color:#666666;font-size:11px;padding-left:6px}
.agree_noti_layer .inner .txt_cnt dd:last-child{margin-bottom:0}
.agree_noti_layer .btn_close button{background:#133c7e;color:#ffffff;width:100px;line-height:30px;border:none;text-align:center;font-weight:bold;font-size:14px;margin-top:12px;margin-bottom:6px}

/* 페이백 완료 */
.payback_noti_layer{width:260px;height:210px;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;border-radius:7px 7px;overflow:hidden}
.payback_noti_layer .inner{position:absolute;top:0;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2020/buy_birth/oct/m_layer_payback.jpg) no-repeat 50% 50%; background-size:100% auto}
.payback_noti_layer .btn_close button{width:104px;height:35px;border:none;outline:none;background:transparent;position:absolute;bottom:20px;left:78px;text-indent:-9999em}

/* 정보 동의 레이어 */
.agreeLayer{background:url(http://img.enuri.info/images/event/2017/m_friend2/agree_layer.png) 0 0 no-repeat; background-size:270px 245px; width:270px; height:245px; margin:-122px auto 0 -135px; left:50%; top:50%; position:absolute; }
.agreeLayer .close{width:23px; height:23px; position:absolute; right:12px; top:8px; text-indent:-9999em;}
.agreeLayer h3{height:56px; text-indent:-9999em;}
.agreeLayer .agree_txt{width:240px; height:175px; margin-left:15px; text-align:center; line-height:30px; font-weight:bold; color:#333333; font-size:13px; position:relative; }
.agreeLayer .agree_txt em{color:#0182ea; padding-left:8px; }
.agreeLayer .agree_txt p{line-height:18px; color:#666666; letter-spacing:-0.5px; font-weight:normal; margin-top:10px;}
.agreeLayer .agree_txt input{vertical-align:bottom; margin-right:3px;}
.agreeLayer .agree_txt input[type='checkbox'] {width:18px; height:18px; border:0; background:url(http://img.enuri.info/images/event/2016/friend/bg_form.gif) no-repeat 0 0; background-size:39px;}
.agreeLayer .agree_txt input[type='checkbox']:checked {background-position:0 -20px;}
.agreeLayer .agree_txt .agreebtn{position:absolute; left:0; bottom:0; width:100%; height:35px; text-indent:-9999em; border:none; background:transparent;}

/* 인증 초대코드 레이어 */
.inviteLayer {width:305px; margin:-105px auto 0 -152px; left:50%; top:50%; position:absolute; border-radius:15px; -webkit-box-shadow:0 5px 15px #dfdfdf inset; box-shadow:0 5px 15px #dfdfdf inset; background-color:#fff;}
.inviteLayer .close{width:23px; height:23px; position:absolute; right:0; top:-26px; width:16.5px; height:16px; text-indent:-9999em; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/btn_close_layer.png); background-size:16.5px;}
.inviteLayer h3{height:56px; text-indent:-9999em;}
.inviteLayer .agree_txt{width:calc(100% - 40px); padding:35px 20px; text-align:center; line-height:30px; font-weight:bold; color:#333333; font-size:13px; position:relative; }
.inviteLayer .agree_txt em{color:#0182ea; padding-left:8px; }
.inviteLayer .agree_txt p{font-weight:normal; line-height:20px; color:#333; letter-spacing:-0.5px; margin-top:10px; text-align:center;}
.inviteLayer .agree_txt p.txt1 {font-weight:bold; font-size:16px;}
.inviteLayer .agree_txt p.txt2 {font-size:12px;}
.inviteLayer .agree_txt p.ipt {margin-bottom:10px; text-align:center;}
.inviteLayer .agree_txt input{vertical-align:-1px; margin-right:3px;}
.inviteLayer .agree_txt input[type='checkbox'] {width:12px; height:13px; border:0; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/chk_form.png) no-repeat 0 0; background-size:24px;}
.inviteLayer .agree_txt input[type='checkbox']:checked {background-position:-12px 0;}
.inviteLayer .agree_txt .agreebtn{width:200px; height:35px; margin:0 auto; border-radius:15px; font-size:14px; font-weight:bold; color:#fff; line-height:35px; vertical-align:middle; background:#22211e;}