@charset "utf-8";
/* ----------------------------------------------------------------
                     common
-----------------------------------------------------------------*/
.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.color-red {color:#ff2424;}
.bgcolor_lightblue {background-color: #e5f4ff;}
.clear:after {content:"";display: block;clear:both;}
img {max-width: 100%; vertical-align: top;}
/* ----------------------------------------------------------------
                     com.enuri.event.m 부분으로인한 꺠짐수정.
-----------------------------------------------------------------*/
.com__btn_share{z-index: 50;}

.name {height: auto;padding:7px 0 7px 25px;}
.name:after {top:8px;}
.name span {padding:0 10px 0 0;}
.name span:before {top: 2px;}

.moving_tap .inner {width: 1280px;}
.moving_tap .left_area {padding-left: 0;}

.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4  {margin:0;}
.event_wrap, .event_wrap * {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}

/* ----------------------------------------------------------------
					상단비주얼
-----------------------------------------------------------------*/
.visual{position:relative; width: 100%; background: #515dd8 url("//img.enuri.info/images/event/2021/connect_shop/m_visual_bg.jpg") no-repeat center 0; background-size: cover; text-align:center;overflow: hidden;}
.visual .visual_obj_list {}
.visual .visual_obj_list .visual_obj {position:absolute; width: 100%; height:100%;}
.visual .visual_obj_list .obj_paper {top:0; left:0; animation: falling_obj linear 8s infinite; background-image: url("//img.enuri.info/images/event/2021/connect_shop/m_visual_obj_paper.png"); background-repeat: repeat; background-position: center; background-size: 320px;}
.visual .visual_obj_list .obj_coin {top:0; left:0; background-image: url("//img.enuri.info/images/event/2021/connect_shop/m_visual_obj_coin.png"); background-repeat: no-repeat; background-position: center bottom;     background-size: auto 131.5px;}
@keyframes falling_obj {
	0% {background-position: 0 0;}
	100% {background-position: 0 440.5px; }
}

.visual .inner {position: relative; width: 320px; padding: 75px 0 110px; margin:0 auto; z-index:10;}
.visual .inner .obj_ticket {position:relative; width:310px; height:140px; margin:0 auto; overflow: hidden;}
.visual .inner .obj_ticket:before {content:""; width:100%; height: 15px; background-color: #111111; border-radius: 15px; position: absolute; bottom:0; left:0;}
.visual .inner .obj_ticket:after {content: ""; width: 90%; height: 0px; box-shadow: 0 0px 14px 7px #111; position: absolute; bottom: 0; left: 5%; z-index: 10; background: #111;}
.visual .inner .txt1{display: block; font-size: 15px; color:#fff; line-height: 1; letter-spacing: -.5px; opacity:0}
.visual .inner .shape_ticket{display: block; width: 279px; position:absolute; bottom:-100%; left:50%; margin-left:-140px;}

/* .start 시 작동 */
.visual.start .inner .txt1{ opacity:1; transition: all .6s;}
.visual.start .inner .shape_ticket{ bottom:0; transition: all 1s .5s;}

.visual .inner .move_evt_area {width:280px; margin:0 auto; margin-top:25px;}
.visual .inner .move_evt_area li {border-bottom:2px solid #fff;}
.visual .inner .move_evt_area li:last-child {border-bottom:none;}
.visual .inner .move_evt_area li a {display: block; padding:15px 2px 10px;}

/* ----------------------------------------------------------------
					evt_intro
-----------------------------------------------------------------*/
#evt_intro {}
#evt_intro .inner {width:320px; margin:0 auto; padding:40px 0; text-align: center; letter-spacing: -1px;}
#evt_intro .inner .tit {width:160px; margin:0 auto; height:33px; line-height: 33px; font-size: 16px; color:#fff; background-color: #616cdc; border-radius: 17px;}
#evt_intro .inner .subtit {font-size: 13px; color:#444; margin-top: 23px; line-height: 1.4;}
#evt_intro .inner .subtit em {font-weight: bold;}

#evt_intro .inner .img_shop_icons {margin-top:25px;}
#evt_intro .inner .img_benefit_connect {padding:35px 10px; background-color: #f0f2fb; margin-top:40px;}
#evt_intro .inner .img_benefit_connect img {margin-bottom:80px;}
#evt_intro .inner .img_benefit_connect img:last-child {margin-bottom:0;}

/* ----------------------------------------------------------------
					guide_slide
-----------------------------------------------------------------*/
#evt_guide {background-color: #f8f8f8; text-align: center;}
#evt_guide .inner {width:320px; margin:0 auto; padding:30px 0 35px;}
#evt_guide .subtit {margin-top:15px;}
#evt_guide .subtit > * {display: inline-block; vertical-align: middle;} 
#evt_guide .subtit .txt {width:100%; margin-bottom:10px;}
#evt_guide .subtit .applink_aos,
#evt_guide .subtit .applink_ios {padding:0 20px;}
#evt_guide .subtit .bar {width:2px; height:20px; background-color: #dfdfdf;}

#evt_guide .inner .evt_guide_wrap {width:300px; margin:30px auto 0;}
#evt_guide .btn_prev,
#evt_guide .btn_next {width:13.5px; height:25px; top: 60%; margin-top:0; background-size: 100%; background-repeat: no-repeat; background-position: 0 0;}
#evt_guide .btn_prev {left:0; background-image: url("//img.enuri.info/images/event/2021/connect_shop/btn_evt_guide_prev.png");}
#evt_guide .btn_next {right:0; background-image: url("//img.enuri.info/images/event/2021/connect_shop/btn_evt_guide_next.png");}

#evt_guide .swiper-pagination {font-size: 0; margin-top:40px;}
#evt_guide .swiper-pagination-bullet {width: 6px; height: 6px; border:1px solid #999; background-color: #999; opacity: 1; margin:0 4px; vertical-align: middle;}
#evt_guide .swiper-pagination-bullet.swiper-pagination-bullet-active { background-color: transparent;}

/* ----------------------------------------------------------------
					evt_1,2,3
-----------------------------------------------------------------*/
#evt_detail {background-color: #f0f2fb; text-align: center;}
#evt_detail .inner {width:320px; margin:0 auto; padding:30px 0;}
#evt_detail #evt1,
#evt_detail #evt2,
#evt_detail #evt3 {margin-bottom:20px;}

#evt_detail .evt_period {width:235px; margin:0 auto; text-align: left;}
#evt_detail .evt_period ul {padding-left:18px;}
#evt_detail .evt_period ul li {position:relative; font-size: 12px; color:#444; padding-left:18px; letter-spacing: -.5px;}
#evt_detail .evt_period ul li:before {content:"";display: block; width:4px; height:4px; background-color: #444444; border-radius: 50%; position:absolute; top:50%; margin-top:-2px; left:0;}

.btn_caution {display: block; text-indent: -9999px; width:87px; height:15px; margin:20px auto 25px; background: url("//img.enuri.info/images/event/2021/connect_shop/btn_caution_m.png") no-repeat 0 0; background-size: 87px;}

.btn_connect_shop {display: block; width:235px; height: 45px; line-height: 41px; color:#222; font-size: 18px; font-weight: bold; letter-spacing: -1.5px; border:2px solid #222; margin:0 auto;}


/* ----------------------------------------------------------------
					딤레이어 공통
-----------------------------------------------------------------*/
.pop-layer  {position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000;}
/*기존*/
.popupLayer {position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.popupLayer .dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10100;}
/*new*/
.backdim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}

.popup_box {position:absolute;left:50%;top:50%;overflow:hidden;z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top;margin:0;padding:0;}
.popup_box h4 {height:69px;text-align:center;font-family:Malgun Gothic;font-size:22px;font-weight:normal;line-height:66px;color:#fff;letter-spacing:-0.75px;background-color:#0182ea;}
.popup_box .layclose {position:absolute;right:19px;top:19px;width:30px;height:30px;background-image:url(http://img.enuri.info/images/event/2021/chuseok/btn_lay_close.png);}
#play_result .popup_box .layclose {position:absolute;right:25px;top:25px;width:19px;height:19px;background-image:url(http://img.enuri.info/images/event/2021/chuseok/btn_lay_close.png);}

/* 당첨 레이어 */
.vote_box {position:absolute; left:50%; top:50%; z-index:10200; width:420px; height:570px; margin:-285px 0 0 -210px; padding:0;}
.vote_box .inner {position:relative; width:100%; height:100%;}
.vote_box .inner .vote_img {display:block;}
.vote_box .layclose {position:absolute; right:12px; top:12px; width:30px; height:30px; font-size:0; text-indent:-9999px; background-image:url(http://img.enuri.info/images/event/2020/summer_pro/w_btn_close.png);background-repeat:no-repeat}

/* 딤레이어 : 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;height:283px;margin-left:-205px;margin-top:-142px;border:1px solid #0182ea;border-top:0;background:#fff;}
.onlyapp .inner {width:377px;padding:22px 16px 0;line-height:1.5;font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center;line-height:1.2;padding-bottom:25px;font-size:18px;color:#393939;letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-weight:bold;font-size:14px;color:#2366aa;letter-spacing:-0.5px;margin:0 0 5px 1px;padding-left:10px;background:url(http://img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px;padding:0 20px;text-align:left;font-family:Malgun Gothic;font-size:16px;color:#bfbfbf;letter-spacing:-0.5px;height:40px;line-height:36px;background:0;border:1px solid #0182ea;border-right:0;box-sizing:content-box;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px;color:#7f7f7f;letter-spacing:-0.5px;margin-left:2px;padding-left:6px;background:url(http://img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute;right:0;top:0;width:123px;height:42px;background-image:url(http://img.enuri.info/images/event/2016/template/btn_lay_send2.gif);}

/* 가이드팝업 - 유의사항 */
.guide {width:800px; height:400px; margin-top:-200px;margin-left:-400px;border:1px solid #0e151c;border-top:0;background:#fff;}

.guide.entry {height:589px;margin-top:-294px ;text-align:center;color:#333;}
.guide.entry strong {font-weight:bold;font-size:30px;font-weight:normal;}
.guide.entry .tip { font-size:24px;}
.guide.entry .tip strong  {color:#ff0200;}
.guide h4 {height:69px;text-align:center;font-size:32px;font-weight:normal;line-height:70px;color:#fff;background-color:#0e151c ;}
.guide .inner {padding:20px;}
.guide .layentry {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/install/btn_lay_entry.gif);}
.guide .laysubmit {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute;right:33px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.guide dl dd.emp {color:#f00;}
.guide .tb {width:100%;margin:15px 0;}
.guide .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse;}
.guide .tb table th, .guide .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333;}
.guide .tb table th {background:#f0f0f0;}
.guide .tb table td.savepr {width:100px;text-align:right;}

#notetxt2 .guide dl {margin-bottom:10px;font-size:14px;}
#notetxt2 .guide dl:last-child {margin-bottom:30px;}
#notetxt2 .guide dt {margin-bottom:3px;font-weight:bold;line-height:20px;padding-top:5px;}
#notetxt2 .guide dd {padding-left:10px;line-height:24px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
#notetxt2 .guide dd ul li {font-size:13px;color:#666;background:none;}

/* 딤레이어 : emoney */
.emoneypop {width:377px;height:452px;margin-left:-188px;margin-top:-226px;border:1px solid #636363;background:#eaeaea;}
.emoneypop h4 {height:43px;line-height:41px;font-size:20px;letter-spacing:-0.5px;font-weight:bold;color:#fff;background:#202020;}
.msgarea {width:377px;height:217px;overflow:hidden;}
.msgarea.bggrn { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg1.gif) no-repeat 0 0;}
.msgarea.bgpup { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg2.gif) no-repeat 0 0;}
.msgarea.bgnavy { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg3.gif) no-repeat 0 0;}
.msgarea.bgpink { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg4.gif) no-repeat 0 0;}
.msgarea.bgblk { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg5.gif) no-repeat 0 0;}
.msgarea .message {height:80px;padding:86px 35px 0 35px;overflow:hidden;font-size:20px;color:#ffffff;letter-spacing:-0.5px;}
.msgarea .icon { text-align:center;line-height:25px;font-family:Malgun Gothic, '맑은고딕';}
.icon.bubble  {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say1.png) no-repeat 50% 20px;}
.icon.bell {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say2.png) no-repeat 50% 20px;}
.icon.owl {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say3.png) no-repeat 50% 20px;}
.icon.chick {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say4.png) no-repeat 50% 20px;}


/* 지급 결과 팝업 (앱에서만 출력)...*/
#save_complete .popup_box {width: 300px; height: 220px; margin-top: -110px; margin-left: -150px; border: none; text-align: center; padding: 30px 0 20px; border-radius: 20px; overflow: visible;}
#save_complete .popup_box .save_complete_img {margin-bottom:15px;}
#save_complete .popup_box .layclose {position:absolute;right:0px;top:-33px;width:23px;height:23px;background-image:url("//img.enuri.info/images/event/2021/connect_shop/btn_lay_close_m.png"); background-size: 23px;}


.popup_inner_tit {font-size: 16px;font-weight: bold;margin-bottom: 3px;color:#222;}
.list_mb5 > li{margin-bottom:5px;}
/* 대쉬 형태 리스트 */
.list_hyphen > li {position:relative;list-style: none;padding-left: 15px;font-size: 14px;}
.list_hyphen > li:before {content:"";display:block;width: 5px;border-top:1px solid;position:absolute;top:10px;left:2px;}
/* 닷 형태 리스트 */
.list_dot > li {position:relative;list-style: none;padding-left: 15px;font-size: 14px;}
.list_dot > li:before {content: "";display: block;width: 0px;height: 0px;border: 2px solid;border-radius: 50%;position: absolute;top: 8px;left: 3px;}

.popup_inner_table {width: 100%;border-collapse: collapse;border-spacing: 0;}
.popup_inner_table tr th,
.popup_inner_table tr td {border: 1px solid #ddd;width: 200px;padding: 4px 0;font-size: 14px;text-align: center;}
.popup_inner_table tr th {background-color: #eee;}



/* 200703 이전 프로모션 적용되는 CSS -> 모든 프로모션 개편시 삭제 */
/* 디자인상 안맞아 클래스변경후 재작업 */
.evt_slide{position:relative;border-bottom:1px solid #ccc;background-color:#fff;display:none}
.evt_slide--head{background:#222;line-height:40px;color:#fff;font-size:16px;text-align:center;letter-spacing:-1px;text-align:center}
.evt_slide--cont{margin:0 auto;padding:20px 10px;box-sizing:border-box;letter-spacing:-1px;color:#535353;font-size:12px;text-align:left;}
/* .evt_slide--cont .evt_slide--continner {} */
.evt_slide--cont .evt_slide--continner .htit {font-size:14px;font-weight:600;margin-bottom:10px;color:#222;}
.evt_slide--cont .evt_slide--continner .noti {font-size:11px;}

.evt_slide--cont .evt_slide--continner dl{margin-top:16px;margin-bottom:15px;line-height:22px}
.evt_slide--cont .evt_slide--continner dl:first-of-type{margin-top:0}
.evt_slide--cont .evt_slide--continner dl dt{padding-bottom:3px;color:#222;font-size:13px;font-weight:500;font-weight:bold;}
.evt_slide--cont .evt_slide--continner dl dd ul li {position:relative;margin-left:2px;line-height:1.4;padding:2px 0 2px 8px;/* background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 8px;background-size:2.5px; */}
.evt_slide--cont .evt_slide--continner dl dd ul li:before {content:"";position:absolute;width:3px;height:3px;border-radius:50% 50%;left:0;top:6px;background-color:#222}
.evt_slide--cont .evt_slide--continner dl dd ul li.stress:before {background-color:#ff2424}
.evt_slide--cont .evt_slide--continner dl dd ul li .indent {padding-left:8px;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub {margin-bottom:5px;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub:last-child {margin-bottom:0;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li{position:relative;padding-left:0;background:none;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li:before {display:none;}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li:first-child{margin-top:0}
.evt_slide--cont .evt_slide--continner dl dd ul.sub li strong{font-weight:500;color:#222}
.evt_slide--cont .evt_slide--continner .stress{color:#ff2424}
.evt_slide--cont .evt_slide--continner li.stress:before{background-color:#ff2424}
.evt_slide--cont .evt_slide--continner .gray{color:#343434}
.evt_slide--cont .evt_slide--continner li .evt_noti_tb {margin-top:5px;}
.evt_slide--cont .evt_slide--continner .evt_noti_tb th,
.evt_slide--cont .evt_slide--continner .evt_noti_tb td{border:1px solid #ddd;max-width:200px;padding:0;font-size:11px;text-align:center}
.evt_slide--cont .evt_slide--continner .evt_noti_tb th{background-color:#eee}
.evt_slide--cont .evt_slide--continner .evt_noti_tb td .stress {font-size:11px;line-height:14px;margin-bottom:3px;color:#e91030}
.evt_slide--cont .evt_slide--continner .evt_noti_tb + ul{margin-top:16px}



/* 200703 이전 프로모션 적용되는 CSS -> 모든 프로모션 개편시 삭제 */
.evt_slide--cont .list__event li{line-height:20px;position:relative}
.evt_slide--cont .list__event > li{padding-left:10px;margin-top:4px}
.evt_slide--cont .list__event > li:before{content:"";position:absolute;width:2px;height:2px;background-color:#222;border-radius:50% 50%;top:9px;left:4px;}
.evt_slide--cont .list__event > li:first-of-type{margin-top:0}
.evt_slide--cont .list__event > li > ul > li{padding-left:12px}
.evt_slide--cont .list__event > li > ul > li:before{content:"-"}
.evt_slide--cont .txt{text-align:center; color:#333333; letter-spacing:-1.3px;text-align:left;font-size:11px; letter-spacing: -1px;}
.evt_slide--cont .txt em{font-weight:bold; }
.evt_slide--cont .txt_indent > li{padding-left:8px;margin-top:5px;background:url(http://img.enuri.info/images/event/2016/buy/ico.png) 2px -42px no-repeat;background-size:50px;}
.evt_slide--cont .txt_indent > li:first-child{margin-top:0px;}
.evt_slide--cont .txt_indent > li.no_bul{background:none;}
.evt_slide--cont .stress {color:#e91030;}
.evt_slide--cont strong{display:block;color:#333;margin-top:20px;margin-bottom:5px;font-size:12px;}
.evt_slide--cont strong:first-child{margin-top:0px;}
.evt_slide--cont .inner{width:auto; padding-left:8px; margin:0; margin-top:10px; }
.evt_slide--cont .inner li{padding-left:1em;text-indent:-1em;margin-top:5px;}
.evt_slide--cont .inner li:first-child{margin-top:0px;}
.evt_slide--cont .tb {margin-top:15px;}
.evt_slide--cont .tb table {width:100%; border-left:1px solid #333; border-top:1px solid #333;}
.evt_slide--cont .tb table .col1 {width:65%;}
.evt_slide--cont .tb table .col2 {width:35%;}
.evt_slide--cont .tb table th,
.evt_slide--cont .tb table td {text-align:center;padding:3px 20px; font-size:11px; word-break:keep-all; border-right:1px solid #333; border-bottom:1px solid #333; }
.evt_slide--cont .tb table th {padding:3px 5px; background:#f0f0f0;}
.evt_slide--foot{padding:0 10px 20px}
.evt_slide--cont .evt_slide--foot{padding:10px 0 0 0}
.evt_slide--foot .btn__evt_confirm{display:block;width:100px;height:30px;margin:0 auto 0;font-size:14px;color:#fff;line-height:30px;text-align:center;vertical-align:middle;background-color:#333}

.evt_slide .evt_notice--foot {}
.evt_slide .evt_notice--foot button {display: block;width: 100px;height: 30px;margin: 0 auto 0;font-size: 14px;color: #fff;line-height: 30px;text-align: center;vertical-align: middle;background-color: #333;}


/*레이어*/
.layer_back{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index:100005;}
.layer_back.appinfo__layer {display:none; position:absolute; top:200px; margin-top:0;}
.layer_back.appinfo__layer .btn_close {padding-bottom:30px;}
.btn_close{text-align:center; }
.btn_close button {background:#22211e; color:#ffffff; width:100px; line-height:32px; border:none; text-align:center; font-weight:bold; font-size:12px;}
.appLayer{width:300px;padding-bottom:15px; background:#ffffff; border:1px solid #0182ea; left:50%; top:50%; position:absolute; z-index:1000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
.appLayer h4{background:#0182ea; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.appLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
.appLayer .btn_close button{background:#22211e; color:#ffffff; width:100px; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
.appLayer .txt{text-align:center; padding:15px 0; color:#333333;  font-size:16px; letter-spacing:-1.3px;}
.appLayer .txt strong{color:#ff2424; display:block; }
.appLayer .txt em{font-weight:bold; }

/*유의사항*/
.noteLayer {width:300px; background:#fff; border: 1px solid #025e9a; margin: -20px auto 0 -150px; left: 50%; top:50%; position:absolute; z-index:10010;}
.layer_back.appinfo__layer .noteLayer {margin-bottom:30px;}
#appinfo .noteLayer{top:0}
.noteLayer h4 {background:#025e9a; line-height:36px; color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
.noteLayer h5 {padding:5px 0 0 10px; margin-bottom:-10px}
.noteLayer .close {position:absolute; right:0px; top:0px; padding:10px; width:16px; height:16px; background: url(http://img.enuri.info/images/event/2016/buy/ico.png) 10px 10px no-repeat; background-size:50px; text-indent:-9999em; }
.txtlist {padding:15px 10px; color:#333;}
.txtlist li {position:relative; font-size:10px; padding:0 0 5px 8px; word-break:keep-all;}
.txtlist li:after {content:"•"; position:absolute; left:0; top:0; }
.txtlist li .stress {color:#f00;}