@charset "utf-8";

.event_wrap {max-width:100%;}
.contents{position:relative;width:970px;margin:0 auto}
.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4  {margin:0;}

/* SNS공유하기 - 홈족 SNS 사이즈가 달라 별도 적용 */
.com__btn_share{width:46px;height:46px;background-size:46px;top:20px;left:0;}

/* 상단 비주얼 */
.visual{overflow:hidden;position:relative;height:520px;background:url(http://img.enuri.info/images/event/2021/familymonth/visual/w_visual_bg.jpg) no-repeat center top;text-align:center}
.visual .inner{position:relative;width:970px;height:100%;margin:0 auto;z-index:30}
.visual .inner .txt_01{position:relative;top:169px;display:block;height:37px;background:url(http://img.enuri.info/images/event/2021/familymonth/visual/w_top_tit_sub.png) no-repeat 0 0 ;text-indent:-9999em}
.visual .inner h2{width:555px;height:77px;top:192px;margin-left:6px;position:relative;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2021/familymonth/visual/w_top_tit.png) no-repeat 0 0;}
.visual .inner h2:after{content:"";position:absolute;top:-3px;left:-7px;width:198px;height:78px;background:url(http://img.enuri.info/images/event/2021/familymonth/visual/w_top_tit_cover.png) no-repeat 0 0;}
.visual .inner .txt_02{display:block;position:relative;top:219px;font-family:'Roboto', sans-serif;font-size:22px;color:#000;line-height:1;letter-spacing:-1px;text-align:left;}
.visual .inner .obj_family{overflow:hidden;position:absolute;bottom:-80px;right:-66px;width:577px;height:466px;margin:0 auto;background:url(http://img.enuri.info/images/event/2021/familymonth/visual/w_obj_family.png);z-index:1;}

/* 모션 */
.visual .inner .txt_01{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner .txt_02{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2{transition:.5s all ease-in-out;transform:translateX(20px);opacity:0}
.visual .inner h2:after{transition:.5s all ease-in;transform:translateX(6px);opacity:0}
.visual .inner .obj_family{transition:2s all ease-out;-webkit-transform:translateY(100px);-ms-transform:translateY(100px);transform:translateY(100px);opacity:0}

/* 인트로 */
.visual.intro {opacity:1;transition:none;}
.visual.intro .inner .obj_family{transform:translateY(0);opacity:1}
.visual.intro .inner .txt_01{transition-delay:.5s;transform:translateX(0);opacity:1}
.visual.intro .inner h2 {transition-delay:1s;transform:translateX(0);opacity:1}
.visual.intro .inner h2:after{transition-delay:1.5s;transform:translateX(0);opacity:1}
.visual.intro .inner .txt_02{transition-delay:2s;transform:translateX(0);opacity:1}


/* loader end */
.visual.end .loader-box{opacity:0;}
.loader-box{display:inline-block;position:relative;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;transform:translateY(-110px)}
.visual-loader:before{content:"";position:absolute;top:0px;left:-25px;height:12px;width:12px;border-radius:12px;-webkit-animation:loader10g 3s ease-in-out infinite;animation:loader10g 3s ease-in-out infinite;}
.visual-loader{position:relative;width:12px;height:12px;border-radius:12px;-webkit-animation:loader10m 3s ease-in-out infinite;animation:loader10m 3s ease-in-out infinite;}
.visual-loader:after{content:"";position:absolute;top:0px;left:25px;height:10px;width:10px;border-radius:10px;-webkit-animation:loader10d 3s ease-in-out infinite;animation:loader10d 3s ease-in-out infinite;}
@-webkit-keyframes loader10g{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,1);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}
@keyframes loader10g{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,1);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}

@-webkit-keyframes loader10m{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,1);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}
@keyframes loader10m{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,1);}
	75%{background-color:rgba(255,255,255,.2);}
	100%{background-color:rgba(255,255,255,.2);}
}

@-webkit-keyframes loader10d{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,1);}
	100%{background-color:rgba(255,255,255,.2);}
}
@keyframes loader10d{
	0%{background-color:rgba(255,255,255,.2);}
	25%{background-color:rgba(255,255,255,.2);}
	50%{background-color:rgba(255,255,255,.2);}
	75%{background-color:rgba(255,255,255,1);}
	100%{background-color:rgba(255,255,255,.2);}
}

/* 플로팅 배너 */
.floating_bnr{width:160px;height:168px;position:fixed;top:220px;left:50%;margin-left:341px;z-index:998;animation:bounce ease-in-out 2s infinite alternate;transition:all 1s ease-in-out;/* opacity:0;pointer-events:none; */}
.floating_bnr img{width:160px;height:auto;}
.floating_bnr.is-fixed{margin-left:550px;top:200px}
.floating_bnr .btn_close{width:30px;height:30px;position:absolute;top:9px;right:5px;}
@keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform:translateY(0);}
    50%,70% {transform:translateY(-7px);}    
} 
/* .visual.end .floating_bnr{opacity:1;pointer-events:auto} */

/* 탭 */
.navtab{width:100%;height:102px;}
.navtab .navtab_inner{height:102px;background-color:#ff6187}
.navtab.is-fixed .navtab_inner{position:fixed;top:0;left:0;right:0;z-index:1000}
.navtab .navtab_list{height:100%;width:970px;margin:0 auto}
.navtab .navtab_list li{float:left;position:relative;position:relative;height:100%;letter-spacing:-1px;background:url(http://img.enuri.info/images/event/2021/familymonth/visual/w_nav.jpg) no-repeat;}
.navtab .navtab_list li.navtab_item--01 {width:330px;background-position:0 0;}
.navtab .navtab_list li.navtab_item--02 {width:314px;background-position:-330px 0;}
.navtab .navtab_list li.navtab_item--03 {width:326px;background-position:-644px 0;}
.navtab .navtab_list li.navtab_item--01:hover,
.navtab .navtab_list li.navtab_item--01.is-on {background-position:0 -102px;}
.navtab .navtab_list li.navtab_item--02:hover,
.navtab .navtab_list li.navtab_item--02.is-on {background-position:-330px -102px;}
.navtab .navtab_list li.navtab_item--03:hover,
.navtab .navtab_list li.navtab_item--03.is-on {background-position:-644px -102px;}
.navtab .navtab_list li > a{display:block;width:100%;height:100%;font-size:0;text-indent:-9999px;}

/* 꼭 확인하세요 위치 */
.com__evt_notice {margin:20px auto;text-align:center}
.event_buy .com__evt_notice {margin:20px auto 40px;text-align:center}

/* T1 이벤트 :게임 */
.event_game {overflow:hidden;background:#fff2f9 url(http://img.enuri.info/images/event/2021/familymonth/w_tab1_g_bg.jpg) top center no-repeat;}
.event_game .evt1_tit {width:422px;height:111px;margin:90px auto 50px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/familymonth/w_tab1_g_tit.png) 0 0 no-repeat;}
.event_game .evt1_gift {width:499px;height:329px;margin:0 auto 26px;background:url(http://img.enuri.info/images/event/2021/familymonth/w_tab1_g_gift.png) 0 0 no-repeat;}
/* 게임영역 */
.game_wrap{overflow:hidden;position:relative;width:calc(100% - 12px);height:648px;border:6px solid #fca1ca;border-radius:20px;background-color:#fff;}
.game_wrap .sprite {background-image:url(http://img.enuri.info/images/event/2021/familymonth/w_tab1_g_sprite.png)}

.ladder_canvas {z-index:999;}
.ladder {position:relative;margin:211px auto 157px;z-index:0;}
.ladder .dimmed {position:absolute;top:20px;left:-75px;width:830px;height:270px;background:url(http://img.enuri.info/images/event/2021/familymonth/w_tab1_g_dim.png) 0 0 no-repeat;}
.ladder .round__border {display:block;overflow:hidden;position:absolute;top:0;width:100%;height:14px;}
.ladder .round__border span {display:block;position:absolute;top:-5px;width:22px;height:22px;border-radius:100%;border:5px solid white;background-color:#e6e6e6;z-index:-1}
.ladder .round__border .rndb-1 {left:-5px;}
.ladder .round__border .rndb-2 {left:205px;}
.ladder .round__border .rndb-3 {left:415px;}
.ladder .round__border .rndb-4 {left:625px;}
.node {width:0;height:0;background-color:#000;}
.ladder table {position:absolute;top:0;left:0;z-index:-99;border-collapse:collapse;}
.user-wrap {position:absolute;top:-192px;width:210px;margin:0 11px;text-align:center;}
.user-wrap button {width:120px;height:172px;margin:0 auto;border:0;cursor:pointer;outline:0;}
.user-wrap.user-1 button {background-position:0 0;} /* 장미 */
.user-wrap.user-2 button {background-position:-120px 0;} /* 카네이션 */
.user-wrap.user-3 button {background-position:-240px 0;} /* 유채꽃 */
.user-wrap.user-4 button {background-position:-360px 0;} /* 수국 */

.user-wrap.user-1 button.on {background-position:0 -180px;}
.user-wrap.user-2 button.on {background-position:-120px -180px;}
.user-wrap.user-3 button.on {background-position:-240px -180px;}
.user-wrap.user-4 button.on {background-position:-360px -180px;}

.answer-wrap{position:absolute;margin-top:5px;width:210px;margin:0 11px;text-align:center}
.answer-wrap p {width:150px;height:100px;margin:0 auto;background-position:-150px -360px}
.answer-wrap.open p {background-position:0 -360px}

/* T2 이벤트 : 타임특가 대표상품 */                                                                                                                                                                                                                                                                                                                                                                                       
.event_special{position:relative;background:#ffffff url(//img.enuri.info/images/event/2021/familymonth/ico_only_app.png) no-repeat 50% 90px;padding:222px 0 0 0;overflow:hidden}
.event_special > .inner{width:970px;margin:0 auto}
.event_special .tit_sub {display:block;margin-bottom:18px;font-weight:bold;font-weight:500;font-size:32px;color:#222;line-height:1;text-align:center;letter-spacing:-1px;}
.event_special h2.tit{width:100%;margin-bottom:54px;font-weight:bold;font-weight:500;line-height:1;height:52px;font-size:52px;color:#000;text-align:center;letter-spacing:-2px;}
.event_special h2.tit strong {color:#222;vertical-align:top;}
.event_special h2.tit .tx_mon,
.event_special h2.tit .tx_day{display:inline-block;vertical-align:top;width:63px;height:52px;text-indent:-9999em;}
.event_special h2.tit .tx_mon{background:url(//img.enuri.info/images/event/2021/new_semester/sec2_date_month.png) no-repeat 0 2px}
.event_special h2.tit .tx_day{background:url(//img.enuri.info/images/event/2021/new_semester/sec2_date_day.png) no-repeat 0 2px}

/* TIMEDEAL 영역 */ 
.event_special .dealwrap {position:relative;width:970px;margin-bottom:20px;}
.event_special .dealwrap .deal_slide {padding-bottom:50px;}
.event_special .dealwrap .deal_item {position:relative;text-align: center; outline:none;}
.event_special .dealwrap .deal_item .deal_img{position: relative;height:390px;background:url(//img.enuri.info/images/event/2019/hot_summer/w_bg_deal_img.png) no-repeat 50% 0;text-align:center}
.event_special .dealwrap .deal_item .deal_img img{margin:0 auto}
.event_special .dealwrap .deal_item .deal_img .ico_date{position:absolute;background-color:#f24343;border-radius:50% 50%;width:138px;height:138px;top:10px;left:50%;margin-left:136px;box-shadow:3px 5px 1px rgba(0,0,0,.1)}
.event_special .dealwrap .deal_item .deal_img .ico_date > span{display:block;padding-top:38px;font-weight:bold;line-height:28px;font-size:22px;color:#fff;letter-spacing:-2px}
.event_special .dealwrap .deal_item .deal_img .ico_date strong{display:inline-block;font-size:50px;vertical-align:-3px}
.event_special .dealwrap .deal_item .item_info {position:relative;padding:40px 0 0;text-align:center}
.event_special .dealwrap .deal_item .item_info strong.limit{height:52px;text-align:center;display:inline-block;line-height:52px;font-size:32px;color:#fff;letter-spacing: -2px;padding:0 30px;background:#394a78;border-radius: 5px 5px}
.event_special .dealwrap .deal_item .item_info .tit {height:38px;margin: 14px auto 10px;line-height:36px;font-size:30px;letter-spacing:-3px;color:#1b1b1b;display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;word-wrap:break-word;}
.event_special .dealwrap .deal_item .ad{font-size:18px; line-height:20px; letter-spacing: -1px ;color:#677576}
.event_special .dealwrap .deal_item .ad .mark {display: inline-block; width: 108px; height: 24px; overflow: hidden; background-color: transparent; vertical-align: -5px; }
.event_special .dealwrap .deal_item .ad .mark img { display: inline; width:108px }
/* 가격정보 */
.event_special .dealwrap .deal_item .item_info .price {height:60px;font-size:34px;color:#1b1b1b;font-weight: bold}
.event_special .dealwrap .deal_item .item_info .price strong {font-size: 56px; line-height:54px;color:#000000;vertical-align: -4px}

/* 슬릭DOTS */
.event_special .dealwrap .slick-dots {position:absolute;width:100%;bottom:0;left:0;text-align:center}
.event_special .dealwrap .slick-dots li {display:inline-block; overflow:hidden; width:12px; height:12px; margin:0 9px;}
.event_special .dealwrap .slick-dots li button {width:12px; height:12px; padding:0; font-size:0; text-indent:-9999px; border-radius: 50% 50%; vertical-align:top; background:#000;border:2px solid #000}
.event_special .dealwrap .slick-dots li.slick-active button {background-color:transparent;}

/* 화살표 */
.event_special .deal_slide .slick-arrow { position:absolute; width:35px; height:55px;text-indent:-9999em;     z-index:10;cursor:pointer; }
.event_special .deal_slide .slick-prev {top: 332px; left: 0px;background:url(//img.enuri.info/images/event/2019/hot_summer/w_btn_prev.png) no-repeat 0px 0px;opacity:0.6}
.event_special .deal_slide .slick-prev:hover {opacity:1}
.event_special .deal_slide .slick-next {top: 332px; right: 0px;background:url(//img.enuri.info/images/event/2019/hot_summer/w_btn_next.png) no-repeat 0px 0px;opacity:0.6}
.event_special .deal_slide .slick-next:hover {opacity:1}

/* 버튼영역 */
.event_special .dealwrap .deal_item .btn_area{display: block;text-align: center;width:620px;margin:20px auto 0;overflow:hidden;letter-spacing:-.5px}
.event_special .dealwrap .deal_item .btn_area a {display: block;color:#fff;font-size:26px;text-align:center;font-weight:400px;line-height:78px}
.event_special .dealwrap .deal_item .btn_area .deal_btn{width: 305px;height:78px;outline:0;}
.event_special .dealwrap .deal_item .btn_area li{width:305px;height:91px;float:right}
.event_special .dealwrap .deal_item .btn_area li:first-child{float:left}
.event_special .dealwrap .deal_item .btn_area .dview{background-color:#313131}
.event_special .dealwrap .deal_item .btn_area .goapp{background-color:#f24343}

/* 딜 리스트 영역 */
.event_special .deal_list { width: 100%; padding-top:123px;background: url(//img.enuri.info/images/event/2019/xmas/w_next_tit.png) no-repeat 50% 40px}
.event_special .deal_list .slick-list{width: 754px; margin: 0 auto;overflow:hidden}
.event_special .deal_list .w_item {float:left;position:relative; width:166px; margin:0 15px; text-align:center; cursor:pointer; outline:0;}
/* default */
.event_special .deal_list .w_item .period {position: relative;width:156px;height: 40px;line-height:40px;margin:16px auto 0;border-radius: 5px 5px;background:#626262;}
.event_special .deal_list .w_item .period:before{content:"";position:absolute;width:12px;height:12px;background:#626262;top:-6px;left:50%;margin-left:-6px;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);}
.event_special .deal_list .w_item .period > span {color:#fff; font-size: 18px; font-weight: bold; letter-spacing: -.5px}
.event_special .deal_list .w_item .w_tit {margin: 12px 12px 0;height:44px;line-height:22px; font-size:18px; color:#434343;letter-spacing: -2px;overflow: hidden;display: -webkit-box;text-overflow: ellipsis;word-wrap: break-word;-webkit-box-orient: vertical;-webkit-line-clamp: 2;}
.event_special .deal_list .w_item .w_thumb {position:relative; z-index:1; margin: 0 auto; width: 154px; height: 154px;border:6px solid #626262; overflow: hidden;border-radius: 50% 50%;overflow:hidden}
.event_special .deal_list .w_item .w_thumb img {width:224px; height:100%; vertical-align:top;margin-left:-32px}
/* 선택시 */
.event_special .deal_list .w_item.slick-current .w_thumb{border-color:#10cbec}
.event_special .deal_list .w_item.slick-current .period,
.event_special .deal_list .w_item.slick-current .period:before{background-color:#10cbec}
.event_special .deal_list .w_item.slick-current .period > span {color:#fff;}

.event_special .deal_list .slick-arrow{text-indent:-9999em;position: absolute; width:35px; height:55px;top: 120px;}
.event_special .deal_list .slick-prev {left: 0px;background:url(//img.enuri.info/images/event/2019/hot_summer/w_btn_prev.png) no-repeat 0px 0px;opacity:0.6}
.event_special .deal_list .slick-prev:hover {opacity:1}
.event_special .deal_list .slick-next {right: 0px;background:url(//img.enuri.info/images/event/2019/hot_summer/w_btn_next.png) no-repeat 0px 0px;opacity:0.6}
.event_special .deal_list .slick-next:hover {opacity:1}

/* T2 이벤트 : 구매이벤트 */
.event_buy{position:relative;background:#e6fbff url(//img.enuri.info/images/event/2021/familymonth/w_tab2_b_bg.png) no-repeat 47% -60px;overflow:hidden}
.event_buy > .contents{width:970px;margin:0 auto;padding:202px 0 0 0;background:url(//img.enuri.info/images/event/2021/familymonth/ico_only_app.png) no-repeat 50% 70px;}
.event_buy h2{width:100%;margin-bottom:46px;background:url(//img.enuri.info/images/event/2021/familymonth/w_tab2_b_tit.png) no-repeat 50% 0;height:182px;text-indent:-9999em}
.event_buy .evt_area {display:block; width:100%;text-align:center}
.event_buy .evt_area__inner {position:relative; width:100%; height:508px; background: url(//img.enuri.info/images/event/2021/familymonth/w_tab2_b_cont.png) no-repeat 50% 0;}  
.event_buy .evt_area .btn_ready {display:block; position:absolute; left:175px; bottom:0; width:305px; height:78px; font-size:0; text-indent:-9999px;}
.event_buy .evt_area .btn_apply {display:block; position:absolute; left:490px; bottom:0; width:305px; height:78px; font-size:0; text-indent:-9999px;}
.event_buy .subevt_area {display:block;width:100%;padding-top:80px;text-align:center}
.event_buy .subevt_tit {width:100%;margin-bottom:50px;background:url(//img.enuri.info/images/event/2021/familymonth/w_tab2_b_subtit.png) no-repeat 50% 0;height:102px;text-indent:-9999em}
.event_buy .subevt_area__inner {position:relative; width:100%; height:445px; background: url(//img.enuri.info/images/event/2021/familymonth/w_tab2_b_subcont.png) no-repeat 50% 0;}  


/* T3 이벤트 :추천 상품 영역 */
.pro_itemlist {overflow:hidden;background:#fff8e6;clear:both;}
.pro_itemlist h1 {position:relative;width:100%;height:198px;margin:0 auto 0;font-size:0;text-indent:-9999px;background:#fed64a url(http://img.enuri.info/images/event/2021/familymonth/w_tab3_bnr_tit.jpg) 50% 0 no-repeat;}
.pro_itemlist h1:before {content:"";display:block;position:absolute;bottom:-14px;left:50%;width:30px;height:14px;margin-left:-15px;background:url(http://img.enuri.info/images/event/2021/familymonth/w_tab3_bnr_arr.jpg) no-repeat;z-index:0;}
.pro_itemlist h1 > span{display:block;color:#fff;}
.pro_itemlist h1 .tx_sm{padding-top:42px;line-height:37px;font-size:20px;color:#000;letter-spacing:-1px}
.pro_itemlist h1 .tx_main{line-height:54px;font-size:38px;font-weight:500;color:#0d0d0d;letter-spacing:-3px}
.pro_itemlist h3{position:relative;font-size:20px;color:#666;line-height:32px;text-align:center;letter-spacing:-1.5px;padding-bottom:24px;padding-top:60px;}
.pro_itemlist h3 strong{display:block;height:45px;line-height:43px;color:#1b1b1b;font-size:38px;letter-spacing:-2.5px;font-weight:bold}
.pro_itemlist h3 strong em{color:#0099ff}
.pro_itemlist .item_group{padding-bottom:60px;text-align:center}
.pro_itemlist .item_group_01 h3{background:none}
.pro_itemlist .item_group > ul {overflow:hidden; position:relative; max-width:970px; margin:0 auto 40px;display:inline-block}
.pro_itemlist .item_group > ul > li {display:block;float:left;text-align:center;width:233px;border:1px solid #e5e5e5;margin-right:10px}
.pro_itemlist .item_group > ul > li:last-child{margin-right:0;}
.pro_itemlist .item_group > ul > li > a {display:block;position:relative;width:100%;height:50px;padding:0;font-size:22px;color:#fff;background:#bfbfbf;line-height:50px;font-weight:400;letter-spacing:-1px}
.pro_itemlist .item_group > ul > li.active{border-color:#fed64a}
.pro_itemlist .item_group > ul > li.active > a {font-weight:bold;color:#fff;background-color:#fed64a;font-weight:500}

/* 상품리스트 */
.tab_content {overflow:visible;width:970px;margin:0 auto;}
.itemlist {overflow:visible;width:100%;text-align:center;}
.itemlist .items {overflow:hidden;width:970px;margin:0 auto;}
.itemlist .items .item {float:left;width:300px;height:430px;margin:0 35px 0 0;}
.itemlist .items .item a{outline:none}
.itemlist .items .item:nth-child(3n) {margin-right:0;}
.itemlist .items .item .thumb {display:block;position:relative;width:300px;height:300px;margin-bottom:15px;overflow:hidden}
.itemlist .items .item .thumb:after {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border:1px solid rgba(0,0,0,.1)}
.itemlist .items .item .thumb .soldout {position:absolute;width:300px;height:300px;top:0%;left:0%;background:url(http://img.enuri.info/images/event/2019/hot_summer/ico_soldout.png) no-repeat 50% 50%;z-index:100;text-indent:-9999em;}
.itemlist .items .item .thumb > img {width:100%;height:100%;-webkit-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;image-rendering:-webkit-optimize-contrast}
.itemlist .items .item:hover .thumb > img {-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.itemlist .items .item .pro_info  {display:block;text-align:center;}
.itemlist .items .item .pro_info .pro_name {display:block;padding:0 62px;height:40px;margin-bottom:0;font-size:16px;letter-spacing:-1px;color:#262626;line-height:20px;display:-webkit-box;overflow:hidden;text-overflow:ellipsis;white-space:normal;word-wrap:break-word;-webkit-box-orient:vertical;-webkit-line-clamp:2;}
.itemlist .items .item .pro_info .price {overflow:hidden;display:block;color:#222;font-weight:bold}
.itemlist .items .item .pro_info .price .price_label {font-size:20px;letter-spacing:-1px;}
.itemlist .items .item .pro_info .price > em {font-weight:bold;font-size:30px;letter-spacing:-1.5px;color:#ff4e4e;margin:0 3px;}
.itemlist .items .item .pro_info .price .pro_unit {font-size:20px;margin-left:-2px;}
.itemlist .items .item .pro_info .price.soldout {font-size:20px;letter-spacing:-1px;opacity:.5;line-height:54px;}
/* SLICK 공통 */
.itemlist .slick-arrow {position:absolute;top:380px;z-index:10;width:33px;height:55px;border:none; text-indent:-9999em;}
.itemlist .slick-prev {left:-60px;background:url(http://img.enuri.info/images/event/2019/hot_summer/w_btn_prev.png) no-repeat 0 0;opacity:0.8}
.itemlist .slick-prev:hover {opacity:1}
.itemlist .slick-next {right:-60px;background:url(http://img.enuri.info/images/event/2019/hot_summer/w_btn_next.png) no-repeat 0 0;opacity:0.8}
.itemlist .slick-next:hover {opacity:1}
/* .itemlist .slick-dots {display:inline-block; height:29px; margin:0 auto 30px; padding:0 30px; border-radius:15px; background-color:#999;} */
.itemlist .slick-dots {display:inline-block; margin:0 auto 30px; padding:0 30px; background-color:transparent;}
.itemlist .slick-dots li {display:inline-block;overflow:hidden; width:12; height:12; margin:0 9px;}
.itemlist .slick-dots li button {width:12px; height:12px; padding:0; font-size:0; text-indent:-9999px; border-radius:50% 50%; background-color:#000; border:2px solid #000;vertical-align:top;}
.itemlist .slick-dots li.slick-active button {background-color:transparent;}
.tab_content .btn_more {display:block; width:220px; height:52px; margin:0 auto;background:url(http://img.enuri.info/images/event/2020/newyear/w_btn_more_goods.png) no-repeat 50% 50%;text-indent:-9999em}

#prodGroup01,#prodGroup03{background:#fff;}
#prodGroup01 .pro_tabs > li.active > a,
#prodGroup03 .pro_tabs > li.active > a {font-weight:bold; color:#fff; background-color:#fed64a;border-color:#fed64a}

/* 에누리 기획전 */
.enuriexhibition {}
.enuriexhibition .inner{width:970px;margin:0 auto}
.enuriexhibition .inner h3 {padding:55px 0 34px;font-weight:bold;font-weight:500;font-size:36px;color:#000;line-height:44px;text-align:center;}
.enuriexhibition .inner .exb_list {margin-bottom:60px;}
.enuriexhibition .inner .exb_list:after {content:"";display:table;clear:both;}
.enuriexhibition .inner .exb_list li {float:left;position:relative;width:450px;height:62px;margin-bottom:10px;padding-left:30px;border-radius:4px;background-color:#f2f2f2;transition:all .3s ease-in-out;}
.enuriexhibition .inner .exb_list li:nth-child(even) {margin-left:10px;}
.enuriexhibition .inner .exb_list li:after {content:"";display:block;position:absolute;top:23px;right:30px;width:10px;height:16px;background:url(http://img.enuri.info/images/event/2021/newyear/w_tab3_exh_arr.png) 0 0 no-repeat;transition:transform .3s ease-in-out;}
.enuriexhibition .inner .exb_list li a {display:block;overflow:hidden;width:calc(100% - 60px);font-size:22px;color:#7d7d7d;line-height:60px;text-overflow:ellipsis;white-space:nowrap;}
.enuriexhibition .inner .exb_list li:hover {background-color:#2e4272;}
.enuriexhibition .inner .exb_list li:hover:after {transform:translateX(8px);background-position:0 -16px;}
.enuriexhibition .inner .exb_list li:hover a {color:#fff;}

/* 에누리 혜택*/
.otherbene {overflow:hidden;height:734px;background:url(http://img.enuri.info/images/event/2021/familymonth/w_benefit_bg.jpg) 50% 0 no-repeat;}
.otherbene .inner{width:970px;margin:0 auto;background:url(http://img.enuri.info/images/event/2021/familymonth/w_benefit_bnr.png) 50% 0 no-repeat;}
.otherbene .inner .ben_list{padding-top:224px;width:100%;margin:0 auto;overflow:hidden} 
.otherbene .inner .ben_list li{position:relative;width:50%;float:left;margin-bottom:10px;}
.otherbene .inner .ben_list li a{display:block;width:100%;height:210px;text-indent:-9999em}

/*딤레이어 공통 */
.pop-layer  {position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000;}
/*기존*/
.popupLayer {position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.popupLayer .dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10100;}
/*new*/
.backdim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10000;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}

.popup_box {position:absolute;left:50%;top:50%;overflow:hidden;z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top;margin:0;padding:0;}
.popup_box h4 {height:69px;text-align:center;font-size:26px;font-weight:500;line-height:69px;color:#fff;letter-spacing:-1px;background-color:#0182ea;}
.popup_box .layclose {position:absolute;right:18px;top:21px;width:26px;height:26px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);background-size:26px;text-indent:-9999em;z-index:2;}

/* 딤레이어 :모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;height:283px;margin-left:-205px;margin-top:-142px;border:1px solid #0182ea;border-top:0;background:#fff;}
.onlyapp .inner {width:377px;padding:22px 16px 0;line-height:1.5;font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center;line-height:1.2;padding-bottom:25px;font-size:18px;color:#393939;letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-size:16px;color:#2366aa;letter-spacing:-0.5px;margin:0 0 5px 1px;padding-left:10px;background:url(http://img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px;padding:0 20px;text-align:left;font-family:Roboto,'Noto Sans KR',Malgun Gothic;font-size:16px;color:#666;font-weight:700;letter-spacing:-1px;height:40px;line-height:36px;background:0;border:1px solid #0182ea;border-right:0;box-sizing:content-box;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px;color:#7f7f7f;letter-spacing:-0.5px;margin-left:2px;padding-left:6px;background:url(http://img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute;right:0;top:0;width:123px;height:42px;background:#0182ea;text-align:center;}
.onlyapp .laysend em{position:static;left:0;display:inline-block;line-height:42px;color:#fff;width:auto;height:auto;font-size:18px;font-weight:400;letter-spacing:-1px}

	/* 딤레이어 :개인정보 수집 동의 */
	.infoagree {width:545px;  height:494px; margin-left:-272px; margin-top:-247px; background:url(http://img.enuri.info/images/event/2017/recommand_friend/ver1/pop_infoagree.png) no-repeat 0 0;}
	.infoagree .inner {position:absolute; top:110px; left:0; width:540px}
	.infoagree dl {padding-left:64px; height:60px;font-weight:bold; overflow:hidden;}
	.infoagree dl dt {float:left; width:156px; line-height:56px;  font-size:26px; color:#333333;  letter-spacing:-0.5px;}
	.infoagree dl dd {float:left; width:264px; line-height:58px;  font-size:30px;color:#0182ea; height:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
	.infoagree .tip {margin-top:32px; font-size:24px; color:#666666; text-align:center;}
	.infosh {margin-top:20px; text-align:center;}
	.unchk{background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 0 no-repeat;  font-size:24px; letter-spacing:-0.5px; color:#666; padding-left:49px; height:36px; line-height:30px; display:inline-block; cursor:pointer; padding-top:1px;}
	.unchk input, .chk input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
	.chk {background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 -60px no-repeat; font-size:24px; letter-spacing:-0.5px; color:#666; padding-left:49px; height:36px; line-height:30px; display:inline-block; cursor:pointer; padding-top:1px;}
	.infoagree .laysend {position:absolute; left:30px; bottom:36px; width:480px; height:70px; }
	.infoagree .layclose {position:absolute; right:36px; top:22px; width:26px; height:26px; background-image:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/btn_pop_close.png);}
	
		/* 딤레이어 :인증하고 초대코드 받기 */
	.inviteLayer {overflow:visible; width:610px; height:430px; margin-left:-305px; margin-top:-215px; border-radius:30px; box-shadow:0 10px 30px #dfdfdf inset; background-color:#fff;}
	.inviteLayer .inner {position:absolute; top:70px; left:100px; width:410px;}
	.inviteLayer .agree_txt {text-align:center;}
	.inviteLayer .agree_txt p {margin-bottom:25px; font-weight:normal; line-height:36px; color:#000; letter-spacing:-1px;}
	.inviteLayer .agree_txt p.txt1 {font-weight:bold; font-size:28px; text-align:center;}
	.inviteLayer .agree_txt p.txt2 {margin-top:10px; font-size:20px; line-height:28px; text-align:center;}
	.inviteLayer .agree_txt p.ipt {margin-bottom:25px; text-align:center;}
	.inviteLayer .agree_txt p label {font-size:20px; color:#000; cursor:pointer;}
	.inviteLayer .agree_txt input{vertical-align:middle; margin-right:3px;}
	.inviteLayer .agree_txt input[type='checkbox'] {width:24px; height:26px; border:0; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/chk_form.png) no-repeat 0 0; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
	.inviteLayer .agree_txt input[type='checkbox']:checked {background-position:-24px 0;}
	.inviteLayer .agree_txt .agreebtn{display:inline-block; height:64px; outline:medium none; cursor:pointer; border:none; margin:0 auto; padding:0 40px; border-radius:32px; font-size:23px; font-weight:bold; color:#fff; line-height:62px; vertical-align:middle; background:#22211e;}
	.inviteLayer .layclose {width:23px; height:23px; position:absolute; right:0; top:-40px; width:33px; height:33px; text-indent:-9999em; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/btn_close_layer.png);}

	/* 개인정보 레이어 */
	#privacy .noteLayer{width:300px; padding-bottom:15px; background:#ffffff; margin:-146px auto 0 -150px; left:50%; top:50%; position:absolute; z-index:1000}
	#privacy .noteLayer h4{line-height:36px; color:#ffffff; font-size:16px; text-align:left; letter-spacing:-1px; padding-left:10px; background:#a4a4a4;}
	.privacy_txt{padding:15px; font-size:11px;}
	.privacy_txt p{padding-bottom:7px;}
	.privacy_txt dl dt{font-weight:bold;}
	.privacy_txt dl dd{padding:0 0 5px 14px;}
	.privacy_txt li{letter-spacing:-1px;}

/* 가이드팝업 - 유의사항 */
.guide {width:800px;height:100%;height:400px;margin-top:-200px;margin-left:-400px;border:1px solid #0e151c;border-top:0;background:#fff;}
#notetxt1 .guide {height:300px;margin-top:-188px;}
#notetxt2 .guide {height:720px;margin-top:-360px;}
#notetxt2 .guide .inner {overflow-y:scroll;height:594px;}
.guide.entry {height:589px;margin-top:-294px ;text-align:center;color:#333;}
.guide.entry strong {font-weight:bold;font-size:30px;font-weight:normal;}
.guide.entry .tip { font-size:24px;}
.guide.entry .tip strong  {color:#ff0200;}
.guide h4 {height:69px;text-align:center;font-size:32px;font-weight:normal;line-height:70px;color:#fff;background-color:#0e151c ;}
.guide .inner {padding:34px 50px 24px 50px;}
.guide .inner .ul-tit {display:block;font-size:15px;}
.guide .inner ul {margin-bottom:15px;}
.guide .inner .emp {color:#f00;}
.guide ul li { font-size:15px;color:#333;margin-left:2px;line-height:1.5;padding:2px 0 3px 11px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
.guide .layentry {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/install/btn_lay_entry.gif);}
.guide .laysubmit {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute;right:33px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.guide dl dd.emp {color:#f00;}
.guide .tb {width:100%;margin:15px 0;}
.guide .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse;}
.guide .tb table th, .guide .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333;}
.guide .tb table th {background:#f0f0f0;}
.guide .tb table td.savepr {width:100px;text-align:right;}

#notetxt2 .guide dl {margin-bottom:10px;font-size:14px;}
#notetxt2 .guide dl:last-child {margin-bottom:30px;}
#notetxt2 .guide dt {margin-bottom:3px;font-weight:bold;line-height:20px;padding-top:5px;}
#notetxt2 .guide dd {padding-left:10px;line-height:24px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
#notetxt2 .guide dd ul li {font-size:13px;color:#666;background:none;}
 
/* 딤레이어 :emoney */
.emoneypop {width:377px;height:452px;margin-left:-188px;margin-top:-226px;border:1px solid #636363;background:#eaeaea;}
.emoneypop h4 {height:43px;line-height:41px;font-size:20px;letter-spacing:-0.5px;font-weight:bold;color:#fff;background:#202020;}
.msgarea {width:377px;height:217px;overflow:hidden;}
.msgarea.bggrn { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg1.gif) no-repeat 0 0;}
.msgarea.bgpup { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg2.gif) no-repeat 0 0;}
.msgarea.bgnavy { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg3.gif) no-repeat 0 0;}
.msgarea.bgpink { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg4.gif) no-repeat 0 0;}
.msgarea.bgblk { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg5.gif) no-repeat 0 0;}
.msgarea .message {height:80px;padding:86px 35px 0 35px;overflow:hidden;font-size:20px;color:#ffffff;letter-spacing:-0.5px;}
.msgarea .icon { text-align:center;line-height:25px;font-family:Malgun Gothic, '맑은고딕';}
.icon.bubble  {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say1.png) no-repeat 50% 20px;}
.icon.bell {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say2.png) no-repeat 50% 20px;}
.icon.owl {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say3.png) no-repeat 50% 20px;}
.icon.chick {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say4.png) no-repeat 50% 20px;}

/* 당첨 레이어 */
.vote_box {position:absolute; left:50%; top:50%; z-index:10200; width:312px; height:384px; transform:translate(-50%, -50%); padding:0;}
.vote_box .inner {position:relative; width:100%; height:100%;}
.vote_box .inner .vote_img {display:block;width:312px;height:384px;}
.vote_box .inner .vote_img img {width:312px;height:384px;vertical-align:top}
.vote_box .layclose {position:absolute; right:12px; top:12px; width:29px; height:30px; font-size:0; text-indent:-9999px; background:url(http://img.enuri.info/images/event/2021/familymonth/m_laybtn_cls.png) no-repeat;background-size:29px}
