@charset "utf-8";

.wrap{overflow-x:hidden; position:relative;width:100%; min-width:320px; }
.content{width:320px; margin:0 auto; position:relative; overflow:hidden;}
.visual, .howto{position:relative; display:block; }
.visual {height:383px;background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_bg_top_1217.jpg) no-repeat 50% 50% #0b0704;background-size:640px}
.visual .inner{height:243px;background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_top.png) no-repeat 50% 50%;background-size:320px}
.howto .gift{width:50%; height:30%; position:absolute; right:0; bottom:12%; display:block; text-indent:-9999em; }
.howto .note{width:80%; height:5%; position:absolute; left:50%; bottom:5%;  -webkit-transform: translateX(-50%); transform: translateX(-50%); text-indent:-9999em; }
/*.stripe {font-size:0; text-indent:-9999px; background:url(//img.enuri.info/images/event/2017/hitbrand/m_december/m_stripe.png) no-repeat; background-size:300px;}*/

/* 상반기 히트브랜드 */
.inner {width:100%;margin:0 auto;}
.imgs {display:block; width:100%; max-width:320px; margin:0 auto;}
.sprite {display:block; font-size:0; text-indent:-9999px; background:url(//img.enuri.info/images/event/2018/hitbrand_june/m_sprite_img.png) no-repeat; background-size:30rem;}

.event__wrap {width:100%; background-color:#efefef; position: relative;z-index: 200;}
.event__wrap .inner {}
.event__wrap .bgicon {display:block; position:absolute; z-index:1; font-size:0; text-indent:-9999px; background:url(//img.enuri.info/images/event/2018/hitbrand_dec/m_bg_icon.jpg) no-repeat; background-size:11rem; transition:all .3s ease-out;}

.slotm {display:block;position:relative;background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_bg_evt_cont.jpg) repeat-x 50% 0;background-size:1px auto;background-color:#000;text-align:center}
.slotm .inner {display:block; position:relative; z-index:100;}
.slotm h3{height:157px;background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_slot_tit.png) no-repeat 50% 0;background-size:320px}
.slotm .tx_total{padding:6px 23px;font-weight:normal;display:inline-block;height:19px;line-height:19px;color:#fff;background-color:#e15023;border-radius:16px;font-size:13px;letter-spacing:-1px}
.slotm .tx_total .tx_dv{display:inline-block;padding:0 10px;font-size:11px;vertical-align: 2px;}
.slotm .tx_total em{font-weight:bold}
.slotm .tx_total em .num_ticket{font-size:15px;font-weight:bold}
.slotm_game{width:100%;margin:0 auto;background:url(//img.enuri.info/images/event/2021/hitbrand/jun/m_bg_slotm.png) no-repeat 50% 0;background-size:640px}
.slotm_game > h4{height:50px;background:url(//img.enuri.info/images/event/2020/hitbrand_dec/m_slotm_tit.png) no-repeat 50% 15px;background-size:116px;text-indent:-9999em}
.slotm_wrap{width:320px;margin:0 auto;height:220px;position: relative;}
.slotm_wrap .tx_emoney{height:18px;line-height:18px;position: absolute;top:18px;left:0;width:100%;font-size:13px;color:#fff;letter-spacing:-1px}
.slotm_wrap .tx_emoney .tx_emoney_tit{color:#f9bb4a}
.slotm_wrap .tx_emoney em{font-size:14px;font-weight:bold;letter-spacing:0}
.slotm_wrap .mask{position: absolute;top:60px;left:76px;width:168px;height:92px;background:url(//img.enuri.info/images/event/2020/hitbrand/mask_slotm2.png) no-repeat 0 0;background-size:168px;z-index: 1;}
.slotm_con{padding-left:89px;padding-top:61px;overflow:hidden;height:90px}
.slotm_con .box{width:45px;height:90px;overflow:hidden;float:left;padding-right:4px;position: relative;background-color:#fff}
.slotm_con .box ul{-webkit-transform: translateY(-22.5px);-ms-transform: translateY(-22.5px);transform: translateY(-22.5px);}
/* .slotm_con .box ul.animA{-webkit-animation: slotm 2s cubic-bezier(.47,2.2,.41,.8) 1;animation: slotm 2s cubic-bezier(.47,2.2,.41,.8) 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}            
.slotm_con .box ul.animB{-webkit-animation: slotm1 2s cubic-bezier(.47,2.2,.41,.8) 1;animation: slotm1 2s cubic-bezier(.47,2.2,.41,.8) 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}            
.slotm_con .box ul.animC{-webkit-animation: slotm2 2s cubic-bezier(.47,2.2,.41,.8) 1;animation: slotm2 2s cubic-bezier(.47,2.2,.41,.8) 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}            */
/* .slotm_con .box ul.animA{-webkit-animation: slotm 2s ease 1;animation: slotm 2s ease 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}            
.slotm_con .box ul.animB{-webkit-animation: slotm1 2s ease 1;animation: slotm1 2s ease 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}            
.slotm_con .box ul.animC{-webkit-animation: slotm2 2s ease 1;animation: slotm2 2s ease 1;-webkit-animation-fill-mode: forwards;animation-fill-mode: forwards;}            
.slotm_con .box ul.anim.anim1{-webkit-animation-duration: 5s;animation-duration: 5s;}
.slotm_con .box ul.anim.anim2{-webkit-animation-duration: 8s;animation-duration: 8s;}
.slotm_con .box ul.anim.anim3{-webkit-animation-duration: 11s;animation-duration: 11s;} */
.slotm_con .box li{width:45px;height:45px;text-align:center;background:url("//img.enuri.info/images/event/2021/hitbrand/dec/slot_logo.png");background-size:45px;color:#fff;text-indent:-9999em}
.slotm_con .box li.slot_item_2{background:url(//img.enuri.info/images/event/2020/hitbrand/@bg_box.png);background-size:45px;}
.slotm_con .box li.slot_item_1{background-position:0 0px}
.slotm_con .box li.slot_item_3{background-position:0 -45px}
.slotm_con .box li.slot_item_4{background-position:0 -90px}
.slotm_con .box li.slot_item_5{background-position:0 -135px}
.slotm_con .box li.slot_item_6{background-position:0 -180px}
.slotm_con .box li.slot_item_7{background-position:0 -225px}
.slotm_con .box li.slot_item_8{background-position:0 -270px}
.slotm_con .box li.slot_item_9{background-position:0 -315px}
.slotm_con .box li.slot_item_10{background-position:0 -360px}
.slotm_con .box li.slot_item_11{background-position:0 -405px}
.slotm_con .box li.slot_item_12{background-position:0 -450px}
.slotm_con .box li.slot_item_13{background-position:0 -495px}
.slotm_con .box li.slot_item_14{background-position:0 -540px}
.slotm_con .box li.slot_item_15{background-position:0 -585px}
.slotm_con .box li.slot_item_16{background-position:0 -630px}
.slotm_con .box li.slot_item_17{background-position:0 -675px}
.slotm_con .box li.slot_item_18{background-position:0 -720px}
.slotm_con .box li.slot_item_19{background-position:0 -765px}
.slotm_con .box li.slot_item_20{background-position:0 -810px}
.slotm_con .box li.slot_item_21{background-position:0 -855px}
.slotm_con .box li.slot_item_22{background-position:0 -900px}
.slotm_con .box li.slot_item_23{background-position:0 -945px}
.slotm_con .box li.slot_item_24{background-position:0 -990px}
/*
.slotm_con .box li.slot_item_25{background-position:0 -1035px}
.slotm_con .box li.slot_item_26{background-position:0 -1080px}
.slotm_con .box li.slot_item_27{background-position:0 -1125px}
.slotm_con .box li.slot_item_28{background-position:0 -1170px}
.slotm_con .box li.slot_item_29{background-position:0 -1215px}
.slotm_con .box li.slot_item_30{background-position:0 -1260px}
.slotm_con .box li.slot_item_31{background-position:0 -1305px}
.slotm_con .box li.slot_item_32{background-position:0 -585px}
.slotm_con .box li.slot_item_33{background-position:0 -630px}
.slotm_con .box li.slot_item_34{background-position:0 -675px}
.slotm_con .box li.slot_item_35{background-position:0 -720px}
.slotm_con .box li.slot_item_36{background-position:0 -765px}
.slotm_con .box li.slot_item_37{background-position:0 -810px}
.slotm_con .box li.slot_item_38{background-position:0 -855px}
.slotm_con .box li.slot_item_39{background-position:0 -900px}
.slotm_con .box li.slot_item_40{background-position:0 -945px} */

.slotm_wrap .btn_start{position:absolute;left:188px;top:152px;width:47px;height:29px;}
.slotm_wrap .btn_start .obj_button{display:block;width:47px;height:29px;background:url(//img.enuri.info/images/event/2020/hitbrand/btn_start.png) no-repeat 0 0;background-size:100%;-webkit-transition:.3s all ease;-o-transition:.3s all ease;transition:.3s all ease}
.slotm_wrap .btn_start:after{content:"";position: absolute;top:0;left:0;width:100%;height:100%;background:url(//img.enuri.info/images/event/2020/hitbrand/btn_cover.png) no-repeat 0 0;background-size:100%;z-index:1}
.slotm_wrap .btn_start:hover .obj_button{-webkit-transform:translateY(2px);-ms-transform:translateY(2px);transform:translateY(2px)}
.slotm_wrap .btn_start:active .obj_button{-webkit-transform:translateY(5px);-ms-transform:translateY(5px);transform:translateY(5px)}
.slotm_wrap .tx_push{width:55px;height:26px;background:url(//img.enuri.info/images/event/2020/hitbrand/m_tx_push.png) no-repeat 0 0;background-size:100%;text-indent:-9999em;position: absolute;left:188px;top:178px;-webkit-animation:bounce ease-in-out 2s infinite alternate;animation:bounce ease-in-out 2s infinite alternate}

@-webkit-keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform:scale(1);transform:scale(1);}
    50%,70% {-webkit-transform:scale(1.1);transform:scale(1.1);}    
} 
@keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform:scale(1);transform:scale(1);}
    50%,70% {-webkit-transform:scale(1.1);transform:scale(1.1);}    
} 

.slotm_game .tx_noti{display:inline-block;line-height:19px;font-size:12px;color:#f9bb4a;padding:35px 0 25px;letter-spacing:-1px}
.slotm_game .tx_noti dl{position: relative;font-size:11px;text-align:left;margin-bottom:5px}
.slotm_game .tx_noti dl dt{position: absolute;left:0;top:0;}
.slotm_game .tx_noti dl dd{padding-left:55px;color:#fff;font-weight:normal}
.slotm_game .tx_noti .btn_applyway2{display:block;height:35px;background:url(//img.enuri.info/images/event/2021/hitbrand/jun/m_btn_slotm_04.png?v=2) no-repeat center;background-size:auto 100%; text-indent: -9999px;}

.slotm_game .exc_wrap {width:100%;background-color:#301f0f;padding:20px 0}
.slotm_game .exc_wrap .btn_exc_group{width:300px;margin:0 auto;overflow:hidden}
.slotm_game .exc_wrap .btn_exc_group a{display:block;width:148px;height:51px;text-indent: -9999em}
.slotm_game .exc_wrap .btn_exc_group .btn_stamp_exc{float:left;background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_btn_stamp_exc.png) no-repeat 50% 50%;background-size:100%}
.slotm_game .exc_wrap .btn_exc_group .btn_emoney_exc{float:right;background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_btn_emoney_exc.png) no-repeat 50% 50%;background-size:100%}
.slotm_game .exc_wrap .winner_list{width:300px;margin:10px auto 0;}
.slotm_game .exc_wrap .winner_list dl{position:relative;display:block;text-align:left;line-height:15px;color:#fff;font-size:10px;opacity:.7}
.slotm_game .exc_wrap .winner_list dl dt{position: absolute;top:0;left:0;font-weight:bold}
.slotm_game .exc_wrap .winner_list dl dd{padding-left:68px;letter-spacing:-.5px}
.slotm_game .exc_wrap .winner_list .btn_winlist{display:block;width:100%;height:36px;margin:10px auto 0;text-indent: -9999em;background: url(//img.enuri.info/images/event/2021/hitbrand/jun/m_btn_slotm_03.png) no-repeat 50% 50%;background-size:320px}

.slotm_game .btn_group{overflow:hidden;width:160px;margin:0 auto}
.slotm_game .btn_group a{display:block;width:160px;height:64px;float:left;text-indent: -9999em}
.slotm_game .btn_group .btn_applyway{background:url(//img.enuri.info/images/event/2021/hitbrand/jun/m_btn_slotm_01a.png) no-repeat 50% 50%;background-size:auto 65px}
/* .slotm_game .btn_group .btn_caution{background:url(//img.enuri.info/images/event/2020/hitbrand/m_btn_slotm_02.png) no-repeat 50% 50%;background-size:100%} */

/* 스페셜 경품 */
.apply_box {display:block; position:relative;background:#e3f1f5;text-align:center}
.apply_box .btn_apply_group{width:190px;margin:0 auto;text-align:left}
.apply_box .btn_apply_group a{display:block;width:190px;height:42px;text-indent:-9999em;margin-top:5px}
.apply_box .btn_apply_group a:first-of-type{margin-top:0}
.apply_box .btn_apply_group .btn_apply_go{background:url(//img.enuri.info/images/event/2021/hitbrand/dec/m_btn_apply_go.png) no-repeat 50% 50%;background-size:100%}
.apply_box .btn_apply_group .btn_my_apply{background:url(//img.enuri.info/images/event/2021/hitbrand/jun/m_btn_my_apply.png) no-repeat 50% 50%;background-size:100%}
.apply_box .btn_group{overflow:hidden;width:160px;margin:0 auto}
.apply_box .btn_group a{display:block;width:160px;height:65px;float:left;text-indent: -9999em}
.apply_box .btn_group .btn_caution{background:url(//img.enuri.info/images/event/2020/hitbrand/m_btn_slotm_05.png) no-repeat 50% 50%;background-size:auto 65px}

.apply_box .contents {display:block; position:relative;}
.apply_box .contents img {width:100%;max-width:320px}

/* 버튼 그룹 */
.btn__group {clear:both; position:relative;overflow:hidden}
.btn__group a {float:left;width:50%;}
.btn__group img {width:100%;vertical-align:top;}

/* POWER클릭 AD */
.powerad_wrap {background:#fff; border-bottom:1px solid #d2d3d5; margin-bottom:9px;}
.powerad_wrap .pad_head {position:relative; padding:6px 8px;}
.powerad_wrap .pad_head h2 {width:55px;}
.powerad_wrap .pad_head .join {position:absolute; top:10px; right:8px; font-weight:bold; font-size:10px; color:#181818;}

/*스크롤 wrap(공통) scrollList 하위 ul 까지 공통*/
.horiScrollWrap {position:relative; overflow:hidden; background:#fff;}
.horiScrollWrap .scrollList {overflow-x:auto; overflow-y:hidden; -webkit-overflow-scrolling:touch; position:relative; width:calc(100% - 20px); padding:0 8px;}
.horiScrollWrap .scrollList > ul {display:inline-flex; display:-webkit-inline-box; overflow:hidden;}

.adProdList {height:215px; outline:1px solid #fff;}
.adProdList li {float:left; position:relative; width:116px; height:208px; margin-right:7.5px;}
.adProdList li:last-child {margin-right:0;}
.adProdList li > a {display:block; position:relative;}
.adProdList li > a .thumb {width:98%; width:calc(100% - 2px); margin-bottom:7px; border:1px solid #e2e2e2;}
.adProdList li > a .ad_ico {display:block; overflow:hidden; position:absolute; top:5px; left:5px; z-index:100; width:15px; height:10px; text-indent:-9999px; background:url(//img.enuri.info/images/event/2017/hitbrand/mobile/pad_ico.png) no-repeat; background-size:15px;}
.adProdList li > a .info {display:block; position:relative;}
.adProdList li > a .info .txt {display:box; display:-ms-flexbox; display:-moz-box; display:-webkit-box; overflow:hidden; clear:both; -webkit-line-clamp:2; -webkit-box-orient:vertical; word-wrap:break-word; word-break:break-all; height:28px; padding:8px 0; font-size:11px; color:#333; line-height:14px; -o-text-overflow:ellipsis; text-overflow:ellipsis; vertical-align:middle;}
.adProdList li > a .info .price {display:block; font-weight:bold; font-size:11px; color:#333; line-height:15px; text-align:right;}
.adProdList li > a .info .price em {font-size:15px;}
.adProdList li > a .info .price .low {margin-right:3px; font-weight:bold; font-size:12px; color:#ff4a57; vertical-align:0; word-wrap:break-word; word-break:break-all;}
.adProdList li.moreProd > a {height:100%;}
.adProdList li.moreProd > a .ico {position:absolute; top:70px; left:50%; width:30px; height:30px; -webkit-transform:translateX(-50%); -ms-transform:translateX(-50%); transform:translateX(-50%); font-size:0; text-indent:-9999px; background:url(//img.enuri.info/images/m_home/icon_pack_vip2.png) no-repeat -200px -45px; background-size:300px;}
.adProdList li.moreProd > a .txt {display:inline-block; position:absolute; top:100px; width:100%; font-size:12px; color:#999; text-align:center;}

.delivery_info {float:left;}
.delivery_info i {display:inline-block; float:left; margin:0 1px 2px; padding:0 4px; height:13px; font-style:normal; font-size:10px; color:#999; line-height:13px; vertical-align:middle;}
.delivery_info i.i_delivery {position:relative; padding-left:18px; color:#82bfef;}
.delivery_info i.i_delivery:after {content:""; display:inline-block; position:absolute; top:2px; left:4px; width:12.5px; height:8.5px; background:url(//img.enuri.info/images/m_home/icon_pack_vip2.png) no-repeat 0 -95px; background-size:300px;}
.brand {position:absolute; top:-2px; right:0; color:#bbb; font-size:13px;}
.brand.shopbid {display:block; text-indent:-9999em; background:url(//img.enuri.info/images/board/big/logo_536b.gif) 0 0 no-repeat; background-size:40px 20px; padding-left:45px; height:20px;}
.brand em.spon {position:absolute; left:54px; top:15px; background:url(//img.enuri.info/images/mobilefirst/ico_sponsor02.png) no-repeat 0 0; background-size:25px; width:25px; height:12px; text-indent:-9999em;}
.brand.shopbid_536 {display:inline-block; text-indent:-9999em; background:url(//img.enuri.info/images/board/big/logo_536b.gif) 0 0 no-repeat; background-size:40px 20px; padding-left:30px; height:20px;}
.brand.shopbid_536 em.spon {top:17px;}
.brand.shopbid_4027 {display:inline-block; text-indent:-9999em; background:url(//img.enuri.info/images/board/big/logo_4027b.gif) 0 0 no-repeat; background-size:40px 20px; padding-left:30px; height:20px;}

/* tab */
.tabList {width:100%;margin:0 auto;position:relative;overflow:hidden;}
.tabBt {width:100%; position:absolute;top:0px; background:#fff;}
.menu{height:51px}
.menu li {float:left; width:25%; height:51px;position:relative;}
.menu li a {display:block;height:100%;position:absolute; left:0; top:0; width:100%; text-indent:-9999em;line-height:0}
.menu li:before {content:""; display:block; width:64px; height:51px; margin:0 auto; background:url(//img.enuri.info/images/event/2019/hit_june/m_tab_sprite.png) 0 0 no-repeat; background-size:320px;}
.menu li:nth-child(1):before {background-position:0 0;}
.menu li:nth-child(2):before {background-position:25% 0;}
.menu li:nth-child(3):before {background-position:50% 0;}
.menu li:nth-child(4):before {background-position:75% 0;}
.menu li.on:before {background-position-y:-51px;}
.conList {margin-top:92px}
.plan {background-color:#e5e5e5;}

nav.m_top{ width:100%; position:relative; -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1);border-top: 1px solid #d8d8d8}
nav.m_top .gnbarea{overflow-x: auto; position:relative; width:100%; height:40px; text-align:center; background-color:#f9f9f9;}
nav .newgnb {display:table; position:relative; width:100%; padding-right:35px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
nav .newgnb li {display:table-cell; position:relative; padding:0 13px; text-align: center; white-space: nowrap;}
nav .newgnb li a {font-size:12px; color:#959595; letter-spacing:-1px; text-align:center; display:block; padding-top:1px; height:40px;line-height:40px}
nav .newgnb li a.on {color:#000000; height:40px;}

.submenu .grd_next {z-index:10; position:absolute; top:0px; right: 0px;width:40px; height:40px; border-left:1px solid #d8d8d8;background:#b5b5b5; }
.submenu .grd_next:before{-webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; background: #fff;content: '';height:2px;left:0;position:absolute;top: 50%;width: 20px;left:10.5px; top:18px;-webkit-transition: -webkit-transform 500ms ease;transition: -webkit-transform 500ms ease;-o-transition: transform 500ms ease;transition: transform 500ms ease;transition: transform 500ms ease, -webkit-transform 500ms ease;}
.submenu .grd_next:after{-webkit-transform-origin:50% 50%; -ms-transform-origin:50% 50%; transform-origin:50% 50%; background: #fff;content: '';height:2px;left:0;position:absolute;top: 50%;width: 20px;left:10.5px; top:18px;-webkit-transition: -webkit-transform 500ms ease;transition: -webkit-transform 500ms ease;-o-transition: transform 500ms ease;transition: transform 500ms ease;transition: transform 500ms ease, -webkit-transform 500ms ease;-webkit-transform: rotate(90deg);-ms-transform: rotate(90deg);transform: rotate(90deg);}
.submenu.on .grd_next:before{-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);}
.submenu.on .grd_next:after{-webkit-transform: rotate(225deg);-ms-transform: rotate(225deg);transform: rotate(225deg);}
.submenu .sh{position:absolute; top:0; right:40px;width:18px; height:40px; background: -webkit-gradient(linear,left top,right top,color-stop(0,rgba(255,255,255,0)),color-stop(70%,#e3e3e3)); z-index:1}
.submenu{background:#f9f9f9}
.submenu ul{display:none; }
.submenu.on ul {display:block; position:relative; top:-40px; left:0; z-index:11; width:100%; margin-top:-1px; border-top:1px solid #d8d8d8; -webkit-transition:all .2s ease-out; -o-transition:all .2s ease-out; transition:all .2s ease-out; -webkit-transition:all .2s ease-out 0s;background-color:#f9f9f9}
.submenu.on ul:after {content:""; display:table; clear:both;} 
.submenu.on ul li {float:left; width:33.3%; text-align:center; padding:5px 0;box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.submenu.on ul li.cate {float:none; width:100%;padding:20px 0 10px}
.submenu.on ul li.cate a {display:inline-block;border-radius:15px;padding:0 5%; font-weight:bold; font-size:15px; color:#333; line-height:28px; vertical-align:middle; text-align:center;border:1px solid #f83939;color:#f83939}
.submenu.on ul li:nth-child(3n+3){width:33.4%;}
.submenu.on ul li a{font-size:15px; color:#959595;}
.submenu.on ul li a.on{color:#000; }

.submenu .submenu__close {display:none;} 
.submenu.on .submenu__close {display:block; position:relative; z-index:11; width:100%; height:30px;padding-top:5px;padding-bottom:10px; text-align:center;}
.submenu.on .submenu__close button {position:relative; display:inline-block; height:30px; border:0; font-size:14px;text-decoration: underline; padding-right:12px;outline:0; background-color:transparent;color:#b5b5b5}
.submenu.on .submenu__close button:after{position: absolute;content: "";width: 6px;height: 6px;border: 1px solid #b5b5b5;border-top: 0;border-left: 0;top: 50%;right: 0;-webkit-transform: rotate(-135deg);-ms-transform: rotate(-135deg);transform: rotate(-135deg);}
/*기획전 상품영역*/
.planlist{background:#ffffff; -webkit-box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1); box-shadow: 0 3px 2px 0 rgba(0, 0, 0, 0.1); margin-bottom:9px;}
.planlist h4{padding:20px 15px 5px;text-align:center}
.planlist h4 span{display:inline-block; font-size:18px; color:#fff; min-width:150px;padding:0 15px;height:35px; line-height:35px; background-color:#312f41; border-radius:18px 18px; text-align:center; }

.detail{height:143px; margin:10px 0 0 140px; position:relative; }
.detail .md{display:block; position:absolute; left:-140px; top:1px; z-index:10; width:50px; height:25px;background:#bc8032;color:#fff;line-height:25px;font-size:14px;text-align:center;font-weight:bold}
.planlist .plan_thum{margin:8px; border-bottom:1px solid #e5e5e5; position:relative;}
.planlist .plan_thum:after{width:100%; background: url(//img.enuri.info/images/event/2016/m_hit/ico_arrow.gif) center top no-repeat; background-size:10px; content:""; height:10px; position:absolute; left:0; bottom:-10px;}
.detail .thum{position:absolute; left:-140px; top:0; width:125px; height:125px; border:1px solid #eee; }
.detail .com{display:block; color:#333; font-size:12px;margin-bottom:10px;padding-top:5px;}
.detail .com img{width:auto; height:15px; border-right:1px solid #cccccc; padding-right:5px; display:inline-block; margin-right:5px; vertical-align:-4px;}
.detail .tit{display:block; font-weight:normal; height:35px; overflow:hidden; margin-bottom:32px; font-size:13px;}
.detail .price{display:block; text-align:right; color:#0073be; font-size:12px; }
.detail .price em{font-weight:bold; font-size:12px; color:#ff7070;}
.detail .price strong{display:inline-block; color:#0073be; font-weight:bold; font-size:17px; padding:0 1px; vertical-align:-1px;}
.detail .btnvote{width:100%; background:#0073be; color:#fff; line-height:26px; position:absolute; left:0; bottom:16px; border-radius:2px;}
.detail .btnjoinquiz {position:absolute; right:0; bottom:16px; width:155px; height:25px; background-position:-50px -140px;}

.plan_list{width: 100%; overflow-x: scroll; position:relative; text-align:center; height:80px; padding:10px 0 15px}
.plan_list ul:after{content:""; clear:both; display:block; display:table; position:relative; width:100%; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;  }
.plan_list li{display: table-cell; padding:0 10px 0 15px; position:relative; text-align: center; white-space: nowrap;}
.plan_list.three ul{width:100%;}
.plan_list.three li{padding:0; width:33.3%; text-align:center; float:left;}
.plan_list li.on img{border:2px solid #0073be; }
.plan_list img{width:75px; height:75px;border:2px solid #ebebeb; border-radius:50%;}

.tabBt .m_top{position:absolute; left:0; top:51px; z-index:100; border-bottom:1px solid #d8d8d8;}

/* layer */
.dim {width: 100%; height:100%; position:fixed; left: 0; top: 0; background: rgba(0,0,0,0.7); z-index:10001;}
.btn_c{text-align:center; }
.layer {position:absolute; left:50%; top:50%; z-index:10002; width:calc(100% - 2rem); max-width:64rem; background:#fff;}
.layer h2{background:#333333; color:#ffffff; font-size:1.5rem; line-height:3rem; text-align:center; }
.layer .close{position:absolute; right:0; top:0; padding:.6rem; width:1.6rem; height:1.6rem; background: url(//img.enuri.info/images/event/2016/buy/ico.png) .6rem .6rem no-repeat; background-size:5rem; text-indent:-9999em; }
.ly_con{padding:1rem;}

.layer .gift_txt{border:.1rem solid #e2e2e2; padding:.6rem .6rem .6rem; margin-bottom:1rem; font-size:1rem;}
.layer .gift_txt li{position:relative; padding-left:.7rem; margin-top:.4rem; }
.layer .gift_txt li:after{content:"·"; position:absolute; left:0; top:0;}
.layer .giftinfo{width:100%; height:13.5rem; background:url(//img.enuri.info/images/event/2016/m_hit/gift.gif) center top no-repeat; background-size:21.4rem;text-indent:-9999em; margin-bottom:1rem;}
.layer .btnok{width:8.5rem; line-height:3rem; background:#333; color:#fff; }

.topnav {z-index:100; position:fixed; left:0; top:31px; width:100%;}
.win_close{z-index:10000; position: absolute; width:28px; height:28px;right:5px;top:35px; /*bottom:-35px;*/ text-indent: -9999em;}
.win_close:before, .win_close:after {position: absolute;left: 12px;content: '';height: 30px;width: 4px;background-color: #fff;border-radius: 2px 2px;}
.win_close:before {-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.win_close:after {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg);}
.topnav .win_close {position:fixed; top:70px; right:5px;}
.topnav .win_close:before, .topnav .win_close:after{background-color:#414751}
/* .win_close{z-index:1000; position: absolute; width:28px; height: 28px; right:5px; top:40px; text-indent: -9999em; background: url(//img.enuri.info/images/event/2015/m_newyear/ico_close.png) 0 0 no-repeat; background-size:28px; }
.topnav .win_close{top:50px; } */

/*레이어*/
.layer_back{position:absolute; left:0; top:0; z-index:10010; width: 100%; min-height:100%; background:url(//img.enuri.info/images/mobilenew/images/layer_back.png);}

.btn_close{text-align:center; }
.appLayer {position:absolute; left:50%; top:50%; z-index:10050; width:280px;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%); background:transparent;}
.appLayer h4 {height:50px; font-size:19px; color:#fff; line-height:50px; text-align:center; letter-spacing:-1px; background-color:#e15023;position: relative;}
.appLayer .close {position:absolute;width:30px;height:30px;top:10px;right:12px;text-indent: -9999em}
.appLayer .close:before{-webkit-transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;transform-origin: 50% 50%;background: #fff;content: '';height: 1px;left: 0;position: absolute;top: 50%;width: 30px;left: 0px;-webkit-transition: -webkit-transform 500ms ease;transition: -webkit-transform 500ms ease;-o-transition: transform 500ms ease;transition: transform 500ms ease;transition: transform 500ms ease, -webkit-transform 500ms ease;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.appLayer .close:after{-webkit-transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;transform-origin: 50% 50%;background: #fff;content: '';height: 1px;left: 0;position: absolute;top: 50%;width: 30px;left: 0px;-webkit-transition: -webkit-transform 500ms ease;transition: -webkit-transform 500ms ease;-o-transition: transform 500ms ease;transition: transform 500ms ease;transition: transform 500ms ease, -webkit-transform 500ms ease;-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);}
.appLayer .btn_close button {padding:0 30px; border:none; font-weight:bold; font-size:12px; color:#fff; line-height:30px; text-align:center; background-color:#a0a0a0;}
.appLayer .layercont {overflow:hidden; padding-bottom:20px; background-color:#f9f9f9;}
.appLayer .layercont img {width:100%; height:auto; vertical-align:top;}
.appLayer .txt{text-align:center; padding:1.5rem 0; color:#818181; font-size:1.6rem; letter-spacing:-1.3px;}
.appLayer .txt strong{color:#ff2424; display:block; }
.appLayer .txt em{font-weight:bold; }
.popin-layer .appLayer {transform:translate(-50%, -50%); -webkit-transform:translate(-50%, -50%);}

/*전용 이벤트 레이어*/
#app_only.layer_back{width: 100%; height:100%; position:fixed; left: 0; top: 0; background:url(//img.enuri.info/images/mobilenew/images/layer_back.png); z-index:100005;}
#app_only.layer_back.appinfo__layer {display:none; position:absolute; top:200px; margin-top:0;}
#app_only.layer_back.appinfo__layer .btn_close {padding-bottom:30px;}
#app_only .dim{position:fixed; left: 0; top: 0; width:100%; height:100%; background: rgba(0,0,0,0.7); z-index:100;}
#app_only .btn_close{text-align:center; }
#app_only .btn_close button {background:#22211e; color:#ffffff; width:100px; line-height:32px; border:none; text-align:center; font-weight:bold; font-size:12px;}
#app_only .appLayer{width:300px;padding-bottom:15px; background:#ffffff; border:1px solid #0182ea; left:50%; top:50%; position:absolute; z-index:1000;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%); -moz-transform:translate(-50%,-50%); -ms-transform:translate(-50%,-50%);}
#app_only .appLayer h4{background:#0182ea; line-height:36px; height:auto;color:#ffffff; font-size:16px; text-align:center; letter-spacing:-1px; }
#app_only .appLayer .close{position:absolute; right:10px; top:10px; width:16px; height:16px; background: url(//img.enuri.info/images/event/2016/buy/ico.png) 0 0 no-repeat; background-size:50px; text-indent:-9999em; }
#app_only .appLayer .close:before,
#app_only .appLayer .close:after{display:none}
#app_only .appLayer .btn_close button{background:#22211e; color:#ffffff; width:100px; padding:0; line-height:50px; border:none; text-align:center; font-weight:bold; font-size:18px;}
#app_only .appLayer .txt{text-align:center; padding:15px 0; color:#333333;  font-size:16px; letter-spacing:-1.3px;}
#app_only .appLayer .txt strong{color:#ff2424; display:block; }
#app_only .appLayer .txt em{font-weight:bold; }

/* 유의사항 넘침 */
.caution_layer {/* position:absolute; */ top:40px; left:0;width:280px}
.caution_layer h4{background-color:#7d7d7d}
.backdim {position:fixed; left:0; top:0; z-index:10010; width: 100%; min-height:100%; background:url(//img.enuri.info/images/mobilenew/images/layer_back.png);}
.caution_layer .appLayer{/* top:18px; */ z-index:10020; margin:0;-webkit-transform:translate(-50%,0%);transform:translate(-50%,0%)}
.caution_layer .appLayer .txt{padding:12px;text-align:left;}
.caution_layer .txt_indent > li{padding-left:8px; margin-top:6px;font-size:12px; line-height:15px; background:url(//img.enuri.info/images/event/2016/buy/ico.png) 2px -42px no-repeat;background-size:50px;}
.caution_layer .txt_indent > li:first-child{margin-top:0;}
.caution_layer .txt_indent > li.no_bul{background:none;}
.caution_layer .txt_indent > li .under {text-decoration:underline;}
.caution_layer .txt_indent > li b{color:#f83939}
.caution_layer .txt_indent > li > em{color:#222}
.caution_layer .txt_indent > li > ul > li{padding-left:6px;text-indent:-6px}
/* .caution_layer .txt_indent > li > ul > li b{color:#f83939} */
.caution_layer .txt{font-size:10px;}
.caution_layer .txt strong{color:#333;margin-top:20px;margin-bottom:0;font-size:12px;}
.caution_layer .txt strong:first-child{margin-top:0;}
.caution_layer .txt strong.top {margin-bottom:15px;font-size:16px;}
.caution_layer .txt .inner{padding-left:8px;margin-top:10px;}
.caution_layer .txt .inner li{padding-left:1em;text-indent:-1em;margin-top:5px;}
.caution_layer .txt .inner li:first-child{margin-top:0;}
.caution_layer ol > li {margin-bottom:15px;}

/* 당첨자 확인 */
.winner_layer {}
.winner_layer h4{background-color:#7d7d7d}
.winner_layer .appLayer{position:fixed;z-index:10020;;top:50%;left:50%;width:280px;margin-left:-140px;transform:translateY(-50%)}
.winner_layer .appLayer .txt{padding:12px;text-align:left;}
.winner_layer .layercont{padding:10px;max-height:360px;overflow-y:scroll}
.winner_layer .tb_winlist{margin-bottom:1px;width:100%;font-size:14px;border-right:1px solid #ddd;border-bottom:1px solid #ddd;}
.winner_layer .tb_winlist th,
.winner_layer .tb_winlist td{border-left:1px solid #ddd}
.winner_layer .tb_winlist th{font-size:13px;padding:8px 0;color:#222;font-weight:bold;border-top:1px solid #ddd;border-bottom:1px solid #ddd;background:#efefef}
.winner_layer .tb_winlist td{text-align:center;font-size:12px;padding:4px 0;border-top:1px solid #eee}
.winner_layer .tb_winlist td .tx_id{display:block;width:70px;margin:0 auto}

/* 응모방법안내 레이어 */
.explain_layer {top: 40px;left: 0;width: 280px;}
.explain_layer .appLayer{/* top: 18px; */z-index: 10020;margin: 0;-webkit-transform: translate(-50%,0%);transform: translate(-50%,0%);}
.explain_layer .appLayer h4{background-color:#7d7d7d}
.explain_layer .appLayer .layercont{padding-bottom:0}
.explain_layer .appLayer .txt{padding:16px;font-size:12px; line-height:15px;text-align:left}
.explain_layer .appLayer .txt ul li{margin-top:6px;padding-left:6px;text-indent:-6px;}

/* 나의 경품 응모현황*/
.appLayer.mycheck {}
.appLayer.mycheck .layercont {padding:12.5px 20px;}
.appLayer.mycheck .tit {margin-bottom:9px; font-size:15px; font-weight:bold; color:#333; text-align: center;}
.appLayer.mycheck .mycheck_box {margin-bottom:15px; width:100%; border-radius:10px; text-align:center; background-color:#f5f5f5;}
.appLayer.mycheck .mycheck_box ul li {position:relative; height:30px; line-height:30px; font-size:12px; font-weight:bold; color:#222;border:1px solid #d2d2d2;background-color:#fff;margin-top:5px}
.appLayer.mycheck .mycheck_box ul li:first-child{margin-top:0}
.appLayer.mycheck .mycheck_box ul li em {margin-left:8px; font-size:12px; color:#f83939;}
.appLayer.mycheck .detail_box {overflow:hidden; width:100%; margin-bottom:14px;text-align:center;}
.appLayer.mycheck .detail_box .used {height:30px; line-height:30px; font-size:12px; font-weight:bold; color:#222; border:1px solid #d2d2d2;background-color:#fff}
.appLayer.mycheck .detail_box .used em {margin-left:8px; font-size:12px; color:#f83939;}
.appLayer.mycheck .detail_box .detail_view {overflow-x:hidden; overflow-y:auto; padding:0;max-height:160px; font-size:12px; font-weight:normal; color:#a0a0a0;border:1px solid #e5e5e5;border-top:0}
.appLayer.mycheck .detail_box .detail_view table {width:100%; line-height:26px}
.appLayer.mycheck .detail_box .detail_view table td{font-size:12px}
.appLayer.mycheck .detail_box .detail_view table tr{border-top:1px solid #e5e5e5}
.appLayer.mycheck .detail_box .detail_view table tr:nth-of-type(1){border-top:0}
.appLayer.mycheck .detail_box .detail_view table .col1 {width:32px}
.appLayer.mycheck .detail_box .detail_view table .col2 {width:70px}
.appLayer.mycheck .detail_box .detail_view table .col3 {width:115px}
.appLayer.mycheck .detail_box .detail_view table .col4 {width:45px}
.appLayer.mycheck .layblack {width:300px; left:50%; margin-left:-150px;}

/* 추가 레이어 (이쯤되면 정신없음..)*/
.pop-layer .popup_box{position:fixed;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);width:280px;background-color:#fff;z-index:10011}
.pop-layer .popup_box h4{height: 50px;font-size:19px;color: #fff;line-height: 50px;text-align: center;letter-spacing: -1px;background-color: #004aa5;position: relative;}
.pop-layer .popup_box img{max-width:100%}
.pop-layer .popup_box .inner{position: relative;letter-spacing:-.5px}
.pop-layer .popup_box .btn_layclose{position: absolute;width: 30px;height: 30px;top: 13px;right: 12px;text-indent: -9999em;}
.pop-layer .popup_box .btn_layclose:before{-webkit-transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;transform-origin: 50% 50%;background: #fff;content:'';height: 1px;left: 0;position: absolute;top: 50%;width: 30px;left: 0px;-webkit-transition: -webkit-transform 500ms ease;transition: -webkit-transform 500ms ease;-o-transition: transform 500ms ease;transition: transform 500ms ease;transition: transform 500ms ease, -webkit-transform 500ms ease;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.pop-layer .popup_box .btn_layclose:after{-webkit-transform-origin: 50% 50%;-ms-transform-origin: 50% 50%;transform-origin: 50% 50%;background: #fff;content:'';height: 1px;left: 0;position: absolute;top: 50%;width: 30px;left: 0px;-webkit-transition: -webkit-transform 500ms ease;transition: -webkit-transform 500ms ease;-o-transition: transform 500ms ease;transition: transform 500ms ease;transition: transform 500ms ease, -webkit-transform 500ms ease;-webkit-transform: rotate(135deg);-ms-transform: rotate(135deg);transform: rotate(135deg);}
.popup_box.result .tx_emoney{position: absolute;top:22px;left:0;right:0;height:30px;line-height:30px;color:#f83939;font-size:14px;text-align:center;}
.popup_box.result .tx_emoney em{font-weight:bold;font-size:16px}

.pop-layer .popup_box.exchange h4{background-color:#1b1b1b}
.pop-layer .popup_box.exchange .inner{padding:20px 0;text-align:center}
.pop-layer .popup_box.exchange .tx_cur{line-height:22px;font-size:16px;color:#000;padding:2px 0 0;letter-spacing:-1px}
.pop-layer .popup_box.exchange .tx_cur_sub{display:block;margin-top:2px;height:20px;line-height:20px;color:#999999;font-size:13px}
.pop-layer .popup_box.exchange .btn_exc_ticket{display:block;margin:11px auto 0;width:160px;padding:8px 0;border-radius:3px;background-color:#f83939;color:#fff;}
.pop-layer .popup_box.exchange .btn_exc_ticket .tx_btn_exc{display:block;height:19px;line-height:19px;font-size:14px;font-weight:bold}
.pop-layer .popup_box.exchange .btn_exc_ticket .tx_btn_exc_sub{display:block;height:15px;line-height:15px;font-size:12px;font-weight:normal}
.pop-layer .popup_box.exchange .tx_exc_noti{display:block;height:16px;line-height:16px;color:#999;font-size:12px;margin-top:8px;margin-bottom:-4px;letter-spacing:-1px}
.pop-layer .popup_box.exchange .btn_lay_close{width:90px;height:35px;line-height:35px;display:block;margin:20px auto 0;background-color:#aaaaaa;color:#fff;font-size:14px;text-align:center}
.pop-layer .popup_box.app_only {background:transparent}
.pop-layer .popup_box.app_only .btn_app_only{display:block;margin:0 auto;width:190px;height:36px;line-height:36px;border-radius:18px;background-color:#00a7ee;text-align:center;font-size:15px;color:#fff}
.pop-layer .popup_box.app_only .tx_app_only_noti{display:block;margin-top:10px;line-height:19px;font-size:14px;color:#fff;text-align:center}

/* 레이어 - 대박 경품전 */
.quizApplyLayer{}
#applyPrize .appLayer{top:auto;}
#applyPrize .layercont{padding-bottom:0}
.join_area .select_prize{text-align:center}
.join_area .select_prize .tx_apply_prize{font-size:11px;padding:20px;display:block;line-height:15px;letter-spacing:-1px;color:#818181}
.join_area .select_prize .num_coin {margin-bottom:20px;display:inline-block;width:211px;height:30px;line-height:30px;font-size: 14px; letter-spacing: -1px;color: #fff;background-color:#000;border-radius: 15px;}
.join_area .select_prize .num_coin em { color:#ffe348;font-size:15px;font-weight:bold;}

.join_area .select_prize .prize_list {overflow:hidden;}
.join_area .select_prize .prize_list li {float:left;width:90px;position:relative; text-align:center; letter-spacing:-1px;box-sizing: border-box;background-color:#fff;margin-left:5px;padding-bottom:10px}
.join_area .select_prize .prize_list li:nth-child(1){margin-left:0}
/* .join_area .select_prize .prize_list li:first-child{border-color:#fff} */
.join_area .select_prize .prize_list li label {display:block; text-align:center; cursor:pointer;}
.join_area .select_prize .prize_list li label .thumb {display:block;height:auto; overflow:hidden;}
.join_area .select_prize .prize_list li label .thumb img {width:100%; height:100%;}
.join_area .select_prize .prize_list li label .proname {display:block; height:42px;font-weight:bold; font-size:10px; color:#535353; line-height:14px; word-break:keep-all;letter-spacing: -1px}
.join_area .select_prize .prize_list li label .proname strong {display:block}
.join_area .select_prize .prize_list li .p_rdo {display:inline-block; position:absolute; top:0; left:50%; -webkit-appearance:none; -moz-appearance:none; appearance:none; vertical-align:middle; width:0; height:0; margin-right:.5rem; border:0; background:transparent; cursor:pointer;}
.join_area .select_prize .prize_list li:after {content:''; display:block; width:12px; height:12px; margin:8px auto 0;border-radius: 50% 50%;border:4px solid #d2d2d2}
.join_area .select_prize .prize_list li.chk:after {border-color:#f83939}
.join_area .select_prize .prize_list li label .price {margin-bottom:12px; line-height:45px; vertical-align:middle;}
.join_area .select_prize .prize_list li label .price .t1 {font-size:17px; color:#9b9b9b;}
.join_area .select_prize .prize_list li label .price .t2 {font-size:21px; color:#000; letter-spacing:-1px;}
.join_area .select_prize .prize_list li label .price .t2 em {font-weight:bold; font-size:25px; color:#000;}

.join_area .agreebox {padding:12px 14px; border-radius:6px; text-align:center; letter-spacing:-0.5px;}
.join_area .agreebox .tit {margin-bottom:5px; font-size:11px; color:#818181; letter-spacing:-1px;}
.join_area .input_num {overflow:hidden; display:block; margin-bottom:5px; text-align:center;}
.join_area .input_num label {display:inline-block; width:40px; height:19px; font-weight:bold; font-size:11px; color:#343434; line-height:21px; vertical-align:middle;}
.join_area .input_num input {display:inline; width:115px; height:17px; padding:0 10px; border:1px solid #e2e2e2; font-family:Malgun Gothic; font-size:10px; color:#999; line-height:21px; vertical-align:middle; background:#fff;-webkit-appearance: none;-moz-appearance: none;}
.join_area .input_num input:focus {font-size:11px; color:#333; line-height:21px;}
.join_area .info_agree {overflow:hidden; position:relative; margin:0; font-size:10px; color:#b5b5b5; line-height:16px; letter-spacing:-0.5px; text-align:center;}
.join_area .unchk2 {display:inline-block; position:relative; top:1px; height:14px; padding-left:14px; line-height:12px; cursor:pointer; background:url(//img.enuri.info/images/event/2017/hitbrand/m_december/m_stripe_chk.png) 0 0 no-repeat; background-size:11px;}
.join_area .chk2 {display:inline-block; position:relative; top:1px; height:14px; padding-left:14px; line-height:12px; cursor:pointer; background:url(//img.enuri.info/images/event/2017/hitbrand/m_december/m_stripe_chk.png) 0 -15px no-repeat; background-size:11px;}
.join_area .unchk2 input, 
.join_area .chk2 input {-webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em;}
.join_area .agreebox .btn_detail {display:inline-block; width:56px; height:16px; margin-left:5px; color:#fff; font-size:10px; text-align:center; line-height:18px; vertical-align:middle; background-color:#b3b3b3;}
.join_area .btn__group {display:block;overflow:hidden}
.join_area .btn__group a {float:left;width:50%;height:45px;line-height:45px;font-size:14px;text-align:center; color:#fff}
.join_area .btn__group a.layjoin {background-color:#222;width:100%}

/* 레이어 - 개인 정보 수집 */
#Personinfo{z-index:10052}
.personinfo {width:100%; z-index:10000; text-align:left;}
.personinfo .box {padding:13px;}
.personinfo .title {font-size:12px; color:#505050; line-height:15px;}
.personinfo ol li {margin-top:12px; font-size:12px;}
.personinfo ol li .stit {font-weight:bold; color:#505050; line-height:15px; margin-top:6px; padding:0; background:0;}
.personinfo ol li .text {margin-left: 5px; padding:0 0 0 .8rem; background:url(//img.enuri.info/images/event/2016/hitbrand_sh/bul_sq_gray.gif) no-repeat 0 .55rem;}
.personinfo ul > li { line-height:1.3; padding:0 0 0 .8rem; background:url(//img.enuri.info/images/event/2016/hitbrand_sh/bul_sq_gray.gif) no-repeat 0 1.1rem;}
.personinfo .slist > li {padding-left:0;  background:0;}
.personinfo .layblack {display:block; width:100px; height:35px; margin:5px auto 0; font-weight:bold; font-size:15px; color:#fff; line-height:35px; vertical-align:middle; text-align:center; background-color:#333;}

