@charset "utf-8";
/* ----------------------------------------------------------------
                    common
-----------------------------------------------------------------*/
/* root 색상변수추가 */
:root {
	--shop-color-type1 : #1ab081;
	--shop-color-type2 : #5471dc;
	--shop-color-type3 : #b154dc;
}

.mb20 {margin-bottom:20px;}
.mb30 {margin-bottom:30px;}
.mb40 {margin-bottom:40px;}
.color-red {color:#ff2424;}
.bgcolor_lightblue {background-color: #e5f4ff;}
.clear:after {content:"";display: block;clear:both;}
img {vertical-align: top; max-width: 100%; margin:0 auto;}
.section {position:relative;}
.bg_white_bar:before {content:""; display: block; position:absolute; top:0; left:0; width: 100%; height:458px; background-color: #fff;}
/* ----------------------------------------------------------------
                    com.enuri.event 에서 너비잡은부분 수정
-----------------------------------------------------------------*/
.moving_tap .inner {width: 1280px;}
.moving_tap .left_area {padding-left: 0;}

.event_wrap .inner {position:relative; width: 1280px; margin:0 auto;}

.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4  {margin:0;}

/* SNS공유하기 - 홈족 SNS 사이즈가 달라 별도 적용 */
.com__btn_share{width:46px;height:46px;background-size:46px;top:20px;left:86px;}
.event_wrap, .event_wrap * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* 상단 비주얼 */


/* ----------------------------------------------------------------
				플로팅 배너 - 둥둥이
-----------------------------------------------------------------*/
.floating_bnr{width: 156px;height: 156px;position: fixed;top: 170px;left: 50%;margin-left: 372px;z-index: 998;animation: bounce ease-in-out 2s infinite alternate;}
.floating_bnr img{width:156px;}
.floating_bnr .btn_close{width: 30px;height: 30px;position: absolute;top: 0;right: 7px;}
@keyframes bounce { 
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50%,70% {transform: translateY(-7px);}    
} 

/* ----------------------------------------------------------------
					visual
-----------------------------------------------------------------*/
.visual {background-color: #45beb4; background-image: linear-gradient(to right, #45beb4 , #c3f6da);}
.visual .bnnr {text-align: center;}

/* ----------------------------------------------------------------
							evt1
-----------------------------------------------------------------*/
#evt1 {padding:90px 0 100px; text-align: center; background-color: #edfbf3;}
#evt1 h3 {margin-bottom:70px;}
#evt1 .evt_img {margin-bottom:70px;}
#evt1 .evt_cont {padding:0 89px;}
#evt1 .evt1_coupon_list:after {content:""; display: block; clear:both;}
#evt1 .evt1_coupon_list li {float:left; width: 350px; margin-right:26px; margin-bottom:60px;}
#evt1 .evt1_coupon_list li:last-child {margin-right:0;}

/* ----------------------------------------------------------------
							evt2
-----------------------------------------------------------------*/
#evt2 {padding:90px 0 100px; text-align: center;}
#evt2 h3 {margin-bottom:70px;}
#evt2 .evt_img {margin-bottom:70px;}
#evt2 .evt_cont {margin-bottom:40px;}
#evt2 .evt2_how {padding: 70px 0 80px; background-color: #f0f2fb; margin-bottom:25px;}
#evt2 .evt2_how .evt2_how_tit {margin-bottom:45px;}

#evt2 .evt2_crtek_number_regist {padding: 70px 0 80px; background-color: #edfbf3;}
#evt2 .evt2_crtek_number_regist .regist_tit {margin-bottom:70px;}

#evt2 .evt2_crtek_number_regist form {}
#evt2 .evt2_crtek_number_regist form ul {width: 1020px; margin:0 auto;}
#evt2 .evt2_crtek_number_regist form ul:after {content:"";display: block; clear:both;}
#evt2 .evt2_crtek_number_regist form ul li {float:left; width: 340px; margin-bottom:50px;}
#evt2 .evt2_crtek_number_regist form ul li label img {display: block; margin:0 auto 30px;}
#evt2 .evt2_crtek_number_regist form ul li label input {appearance: none; vertical-align: middle; display: inline-block; width: 28px; height: 28px; border:2px solid #858c88; border-radius: 50%; background-color: #fff; }
#evt2 .evt2_crtek_number_regist form ul li label input:checked {border:3px solid #45bb96;}
#evt2 .evt2_crtek_number_regist form ul li label input:checked:after {content: "";display: block;width: 14px;height: 14px;border-radius: 50%;background-color: #45bb96;margin: 4px;}
#evt2 .evt2_crtek_number_regist form ul li label .input_nm {display: inline-block; vertical-align: middle; margin-left: 5px; font-size: 20px; color:#666;}
#evt2 .evt2_crtek_number_regist form ul li label .input_nm em {font-size: 26px; font-weight:500; color:#222;}
#evt2 .evt2_crtek_number_regist form .input_text {margin-bottom:34px;}
#evt2 .evt2_crtek_number_regist form .input_text input {width: 660px; height: 80px; border:10px solid #45bb96; background-color: #fff; text-align: center; font-size: 25px; letter-spacing: -1px;}
#evt2 .evt2_crtek_number_regist form .input_text input::placeholder {color:#cbcbcb;}

#evt2 .evt2_crtek_number_regist form .btn_area {text-align: center; font-size: 0;}
#evt2 .evt2_crtek_number_regist form .btn_area button,
#evt2 .evt2_crtek_number_regist form .btn_area a {display: inline-block; vertical-align: middle; margin:0 5px; width: 325px; height: 78px; font-size: 26px; color:#fff; line-height: 78px;}
#evt2 .evt2_crtek_number_regist form .btn_area button {background-color: #27c694;}
#evt2 .evt2_crtek_number_regist form .btn_area a {background-color: #222;} 

.btn_caution {display: block;position: relative;width: 134px;height: 22px;background: url(http://img.enuri.info/images/event/2019/pre_winter/btn_notice.png) no-repeat 0 0;margin: 0 auto;text-indent: -9999em;}

/* ----------------------------------------------------------------
							evt3
-----------------------------------------------------------------*/
#evt3 {padding:90px 0 100px; text-align: center; background-color: #edfbf3;}
#evt3 h3 {margin-bottom:55px;}
#evt3 .evt_img {margin-bottom:70px;}
#evt3 .evt3_cont {}
#evt3 .evt3_cont .week {margin-bottom:60px;}
#evt3 .evt3_cont .week:last-child {margin-bottom:0;}
#evt3 .evt3_cont .week .weeks_txt {font-size: 40px; font-weight: bold; color:#333; line-height: 1; margin-bottom: 15px;}
#evt3 .evt3_cont .week .weeks_period {font-size: 29px;color:#888; line-height: 1; margin-bottom: 70px;}
#evt3 .evt3_cont .week .weeks_period .weeks_str_time_color {color: #1ab081}
#evt3 .evt3_cont .week .weeks_period .weeks_end_time_color {color: #5471dc}

#evt3 .weeks_goods {width: 1090px; margin:0 auto;}
#evt3 .weeks_goods:after {content:""; display: block; clear:both;}
#evt3 .weeks_goods li{float:left; width: 50%;}
#evt3 .weeks_goods li a {display: block;}
#evt3 .weeks_goods li a .goods_thumbs {position:relative; width: 390px; height: 390px; margin:0 auto 40px;}
#evt3 .weeks_goods li a .goods_thumbs .thumbnail_img {position: relative; width: 390px; height: 390px; border-radius: 50%; overflow: hidden;}

#evt3 .weeks_goods li a .goods_thumbs .thumbnail_img:after {content:""; display: none; width: 100%; height: 100%; background-color: rgba(0,0,0,.7); background-position: center; background-repeat: no-repeat; background-size: auto; position:absolute; top:0; left:0;}
#evt3 .weeks_goods li.soldout a .goods_thumbs .thumbnail_img:after {display: block; background-image:url(http://img.enuri.info/images/event/2021/smartstore_crtek/txt_soldout.png);}
#evt3 .weeks_goods li.soon a .goods_thumbs .thumbnail_img:after {display: block; background-image:url(http://img.enuri.info/images/event/2021/smartstore_crtek/txt_soon.png);}
#evt3 .weeks_goods li.expire a .goods_thumbs .thumbnail_img:after {display: block; background-image:url(http://img.enuri.info/images/event/2021/smartstore_crtek/txt_expire.png);}


#evt3 .weeks_goods li a .goods_thumbs .per_discount {position:absolute; top:10px; right:-56px; 
	width: 138px; height: 138px; line-height: 138px; border-radius: 50%; background-color: #1ab081; color:#fff; font-size: 50px; font-weight: bold; text-align: center;}
#evt3 .weeks_goods li a .goods_nm {font-size: 30px; color:#1b1b1b; line-height: 1; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; word-break: break-all;}
#evt3 .weeks_goods li a .goods_price {letter-spacing: -1px; line-height: 1; margin-top: 10px;}
#evt3 .weeks_goods li a .goods_price .before_price {position:relative; color:#b8b8b8; font-size: 22px;}
#evt3 .weeks_goods li a .goods_price .before_price em {font-size: 34px;}
#evt3 .weeks_goods li a .goods_price .before_price:after {content: "";display: block;position: absolute;top: 50%;left: -2%;width: 104%;height: 2px;background-color: #b8b8b8;margin-top: -1px;}
#evt3 .weeks_goods li a .goods_price .current_price {color:#1ab081; font-size: 34px; font-weight: bold; margin-left:5px;}
#evt3 .weeks_goods li a .goods_price .current_price em {font-size: 56px;}

/* ----------------------------------------------------------------
							evt4
-----------------------------------------------------------------*/

#evt4 {padding:90px 0 100px; text-align: center; background-color: #f5f5f5;}
#evt4 h3 {margin-bottom:70px;}
#evt4 .evt4_cont {position: relative; padding:0 90px;}
#evt4 .store_swiper {position: relative; margin-bottom:35px;}
#evt4 .store_swiper .store_slide_tit {font-size: 28px; color:#888; line-height: 1; margin-bottom:40px;}
#evt4 .store_swiper .store_slide_tit em {font-size: 40px; font-weight: bold; color:#333;}
#evt4 .store_swiper .swiper {overflow: hidden;}
#evt4 .swiper-slide a {display: block; text-align: left;}
#evt4 .swiper-slide a .goods_thumbs {border:1px solid #d7d7d7; margin-bottom:20px;}
#evt4 .swiper-slide a .goods_thumbs .thumbnail_img {width: 100%; height: 100%;}
#evt4 .swiper-slide a .goods_thumbs .thumbnail_img img {object-fit: cover;}
#evt4 .store_swiper .swiper-slide a .goods_thumbs .flag {position:absolute; top:0; left:0; width: 98px; height: 38px; line-height: 38px; font-size: 18px; color:#fff; text-align: center;}
#evt4 .store_swiper:nth-child(odd) .swiper-slide a .goods_thumbs .flag {background-color: #1ab081;}
#evt4 .store_swiper:nth-child(even) .swiper-slide a .goods_thumbs .flag {background-color: #5471dc;}


#evt4 .swiper-slide a .goods_nm {font-size: 24px; color:#444; line-height: 1; width:100%; white-space: nowrap; text-overflow: ellipsis; word-break: break-all; overflow: hidden;}
#evt4 .swiper-slide a .goods_price {position:relative; padding-right:55px; letter-spacing: -1px; line-height: 1; margin-top: 10px;}
#evt4 .swiper-slide a .goods_price .before_price {position:relative; color:#b8b8b8; font-size: 18px;}
#evt4 .swiper-slide a .goods_price .before_price:after {content: "";display: block;position: absolute;top: 50%;left: -2%;width: 104%;height: 1px;background-color: #b8b8b8;}
#evt4 .swiper-slide a .goods_price .current_price {color:#444; font-size: 20px; margin-left:5px;}
#evt4 .swiper-slide a .goods_price .current_price em {font-size: 24px; font-weight: bold; }
#evt4 .swiper-slide a .goods_price .per_discount {position:absolute; top:0; right:0; width: 55px; 
	text-align: right; font-size: 24px; font-weight: bold;}
#evt4 .store_swiper:nth-child(odd) .swiper-slide a .goods_price .per_discount {color: #1ab081;}
#evt4 .store_swiper:nth-child(even) .swiper-slide a .goods_price .per_discount {color: #5471dc;}

#evt4 .swiper-btn{position:absolute; top: 50%; margin-top:-16px; width: 32px; height: 32px; cursor: pointer; z-index: 50;}
#evt4 .swiper-btn-next{right:-64px; background: url(http://img.enuri.info/images/event/2021/smartstore_crtek/swiper_btn_next.png) no-repeat 0 0;}
#evt4 .swiper-btn-prev{left:-64px; background: url(http://img.enuri.info/images/event/2021/smartstore_crtek/swiper_btn_prev.png) no-repeat 0 0;}

#evt4 .swiper-pagination {position:relative; bottom:0; left:0; font-size: 0; padding:35px 0;}
#evt4 .swiper-pagination-bullet {width:12px; height:12px; margin:0 9px; border:2px solid #000000; background-color: transparent; vertical-align: middle; opacity: 1;}
#evt4 .swiper-pagination-bullet.swiper-pagination-bullet-active {background-color: #000;}
/* ----------------------------------------------------------------
					딤레이어 공통
-----------------------------------------------------------------*/
.pop-layer  {position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000;}
/*기존*/
.popupLayer {position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.popupLayer .dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10100;}
/*new*/
.backdim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10000;-ms-filter: alpha(opacity=60);filter: alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}

.popup_box {position:absolute;left:50%;top:50%;overflow:hidden;z-index:10200;}
.popup_box .input_area  {position:relative;}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top;margin:0;padding:0;}
.popup_box h4 {height:69px;text-align:center;font-family:Malgun Gothic;font-size:22px;font-weight:normal;line-height:66px;color:#fff;letter-spacing:-0.75px;background-color:#0182ea;}
.popup_box .layclose {position:absolute;right:25px;top:25px;width:19px;height:19px;background-image:url(http://img.enuri.info/images/event/2016/shopping_benefits/btn_lay_close.png);}

/* 당첨 레이어 */
.vote_box {position:absolute; left:50%; top:50%; z-index:10200; width:420px; height:570px; margin:-285px 0 0 -210px; padding:0;}
.vote_box .inner {position:relative; width:100%; height:100%;}
.vote_box .inner .vote_img {display:block;}
.vote_box .layclose {position:absolute; right:12px; top:12px; width:30px; height:30px; font-size:0; text-indent:-9999px; background-image:url(http://img.enuri.info/images/event/2020/summer_pro/w_btn_close.png);background-repeat:no-repeat}

/* 딤레이어 : 모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;height:283px;margin-left:-205px;margin-top:-142px;border:1px solid #0182ea;border-top:0;background:#fff;}
.onlyapp .inner {width:377px;padding:22px 16px 0;line-height:1.5;font-size:15px;color:#444;}
.onlyapp .inner .exp {text-align:center;line-height:1.2;padding-bottom:25px;font-size:18px;color:#393939;letter-spacing:-0.5px;}
.onlyapp .inner .tit {font-weight:bold;font-size:14px;color:#2366aa;letter-spacing:-0.5px;margin:0 0 5px 1px;padding-left:10px;background:url(http://img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px;padding:0 20px;text-align:left;font-family:Malgun Gothic;font-size:16px;color:#bfbfbf;letter-spacing:-0.5px;height:40px;line-height:36px;background:0;border:1px solid #0182ea;border-right:0;box-sizing:content-box;}
.onlyapp .watchout {margin-top:13px;}
.onlyapp .watchout li {font-size:14px;color:#7f7f7f;letter-spacing:-0.5px;margin-left:2px;padding-left:6px;background:url(http://img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px;}
.onlyapp .laysend {position:absolute;right:0;top:0;width:123px;height:42px;background-image:url(http://img.enuri.info/images/event/2016/template/btn_lay_send2.gif);}

/* 가이드팝업 - 유의사항 */
.guide {width:800px; height:400px; margin-top:-200px;margin-left:-400px;border:1px solid #0e151c;border-top:0;background:#fff;}

.guide.entry {height:589px;margin-top:-294px ;text-align:center;color:#333;}
.guide.entry strong {font-weight:bold;font-size:30px;font-weight:normal;}
.guide.entry .tip { font-size:24px;}
.guide.entry .tip strong  {color:#ff0200;}
.guide h4 {height:69px;text-align:center;font-size:32px;font-weight:normal;line-height:70px;color:#fff;background-color:#0e151c ;}
.guide .inner {padding:20px;}
.guide .layentry {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/install/btn_lay_entry.gif);}
.guide .laysubmit {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif);}
.guide .layclose {position:absolute;right:33px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);}
.guide dl dd.emp {color:#f00;}
.guide .tb {width:100%;margin:15px 0;}
.guide .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse;}
.guide .tb table th, .guide .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333;}
.guide .tb table th {background:#f0f0f0;}
.guide .tb table td.savepr {width:100px;text-align:right;}

#notetxt2 .guide dl {margin-bottom:10px;font-size:14px;}
#notetxt2 .guide dl:last-child {margin-bottom:30px;}
#notetxt2 .guide dt {margin-bottom:3px;font-weight:bold;line-height:20px;padding-top:5px;}
#notetxt2 .guide dd {padding-left:10px;line-height:24px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px;}
#notetxt2 .guide dd ul li {font-size:13px;color:#666;background:none;}

/* 딤레이어 : emoney */
.emoneypop {width:377px;height:452px;margin-left:-188px;margin-top:-226px;border:1px solid #636363;background:#eaeaea;}
.emoneypop h4 {height:43px;line-height:41px;font-size:20px;letter-spacing:-0.5px;font-weight:bold;color:#fff;background:#202020;}
.msgarea {width:377px;height:217px;overflow:hidden;}
.msgarea.bggrn { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg1.gif) no-repeat 0 0;}
.msgarea.bgpup { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg2.gif) no-repeat 0 0;}
.msgarea.bgnavy { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg3.gif) no-repeat 0 0;}
.msgarea.bgpink { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg4.gif) no-repeat 0 0;}
.msgarea.bgblk { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg5.gif) no-repeat 0 0;}
.msgarea .message {height:80px;padding:86px 35px 0 35px;overflow:hidden;font-size:20px;color:#ffffff;letter-spacing:-0.5px;}
.msgarea .icon { text-align:center;line-height:25px;font-family:Malgun Gothic, '맑은고딕';}
.icon.bubble  {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say1.png) no-repeat 50% 20px;}
.icon.bell {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say2.png) no-repeat 50% 20px;}
.icon.owl {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say3.png) no-repeat 50% 20px;}
.icon.chick {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say4.png) no-repeat 50% 20px;}


/* 팝업 추가 css */
#notetxt1 .popup_box.guide { width: 800px; height: 600px; margin-top:-300px; margin-left:-400px;}
#notetxt1 .popup_box.guide .inner { height: 473px; overflow: auto;}

#notetxt2 .popup_box.guide { width: 800px; height: 400px; margin-top:-200px; margin-left:-400px;}
#notetxt2 .popup_box.guide .inner { height: 473px; overflow: auto; }

#notetxt3 .popup_box.guide { width: 800px; height: 600px; margin-top:-300px; margin-left:-400px;}
#notetxt3 .popup_box.guide .inner { height: 530px; overflow: auto;}

#scratch_result .popup_box.guide { width: 312px; height: 406px; margin-top:-203px; margin-left:-156px; border:none; }
#scratch_result .popup_box.guide .layclose { position: absolute; right: 15px; top: 12px; width: 29px; height: 29px; background-image: url("http://img.enuri.info/images/event/2021/summer_pro/closed.png");  }


.popup_box .popup_inner_tit {font-size: 16px;font-weight: bold;margin-bottom: 3px;color:#222;}
.list_mb5 > li{margin-bottom:5px;}
.list_hyphen > li {position:relative;list-style: none;padding-left: 15px;font-size: 14px;}
.list_hyphen > li:before {content:"";display:block;width: 5px;border-top:1px solid;position:absolute;top:10px;left:2px;}
.list_dot > li {position:relative;list-style: none;padding-left: 15px;font-size: 14px;}
.list_dot > li:before {content: "";display: block;width: 0px;height: 0px;border: 2px solid;border-radius: 50%;position: absolute;top: 8px;left: 3px;}
.popup_inner_table {width: 100%;border-collapse: collapse;border-spacing: 0;}
.popup_inner_table tr th,
.popup_inner_table tr td {border: 1px solid #ddd;width: 200px;padding: 4px 0;font-size: 14px;text-align: center;}
.popup_inner_table tr th {background-color: #eee;}


/* ----------------------------------------------------------------
					딤레이어 공통
-----------------------------------------------------------------*/
.evt__enuri_plan {padding:58px 0 60px;}
.evt__enuri_plan .inner {width: 970px;margin:0 auto;}
.evt__enuri_plan .inner h3 {display: block;color: #1b1b1b;text-align: center;font-size: 38px;font-weight: bold;line-height: 1;letter-spacing: -2.5px;margin:0 0 40px;}
.evt__enuri_plan .inner ul li {float: left;width: 480px;margin: 0 10px 10px 0;}
.evt__enuri_plan .inner ul li:nth-child(even) {margin-right:0;}
.evt__enuri_plan .inner ul li a {position:relative;display:block;font-size: 22px;color:#7d7d7d;padding:14px 30px;background: #f2f2f2;-webkit-border-radius: 5px;border-radius: 5px;}
.evt__enuri_plan .inner ul li a:after {content:"";display:block;width:10px;height: 10px;border-top:2px solid;border-right:2px solid;border-bottom:2px solid transparent;border-left:2px solid transparent;position:absolute;top:50%;margin-top:-5px;right:30px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);color:#b7b7b7;}


/* 아..진짜..ㅅ */
#search_number .popup_box.guide .inner { overflow:auto; height: 291px;}