@charset "utf-8";

.event_wrap {max-width:100%}
.contents{position:relative;width:1280px;margin:0 auto}
.contents h4 {margin-bottom:50px;text-align:center}
.contents .laypop h4  {margin:0}

/* SNS공유하기 - 홈족 SNS 사이즈가 달라 별도 적용 */
.com__btn_share{width:46px;height:46px;background-size:46px;top:20px;left:86px}

/* 상단 비주얼 */
.visual {overflow:hidden;position:relative;height:1085px;background:linear-gradient(to left, #000, #333 100%)}
.visual:before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_bg.png) 50% 0 no-repeat}
.visual:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_bgslice.png) 50% 0 no-repeat}
.visual .inner {position:relative;width:1280px;height:100%;margin:0 auto;z-index:30}
.visual .inner .tx_tit {position:absolute;top:132px;left:368px;width:581px;height:302px;font-size:0;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_tit.png) no-repeat 50% 50%}
.visual .inner .tx_sub {position:absolute;top:320px;left:462px;width:446px;height:155px;font-size:0;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_sub.png) no-repeat 50% 50%}
.visual .inner .move_coin {position:relative;width:100%;height:100%}
.visual .inner .move_coin:before {content:"";position:absolute;top:32px;left:-100px;width:1543px;height:553px;font-size:0;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2021/threegopc/w_mv_coin1.png) no-repeat 50% 50%}
.visual .inner .move_coin:after {content:"";position:absolute;top:-57px;left:-270px;width:1451px;height:1046px;font-size:0;text-indent:-9999em;background:url(http://img.enuri.info/images/event/2021/threegopc/w_mv_coin2.png) no-repeat 50% 50%}
.visual .inner .move_3go{position:absolute;top:502px;left:360px;width:560px;height:464px}
.visual .inner .move_3go span {display:block;position:absolute;width:180px;height:363px;font-size:0;text-indent:-9999px;cursor:pointer}
.visual .inner .move_3go span.go_1 {top:100px;left:0;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_go1.png) no-repeat 50% 50%}
.visual .inner .move_3go span.go_2 {top:50px;left:190px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_go2.png) no-repeat 50% 50%}
.visual .inner .move_3go span.go_3 {top:0;right:0;background:url(http://img.enuri.info/images/event/2021/threegopc/w_visual_go3.png) no-repeat 50% 50%}

/* 모션 */
.visual:before {transition:.5s all ease-in;opacity:0}
.visual:after {transition:.5s all ease-in;opacity:0}
.visual .inner .tx_tit{transition:.5s all ease-in;transform:translateY(-20px);opacity:0}
.visual .inner .tx_sub{transition:.5s all ease-in-out;opacity:0}
.visual .inner .move_coin:before {transition:1.5s all ease-in-out;transform:translateY(-50px);opacity:0}
.visual .inner .move_coin:after {transition:1.5s all ease-in-out;transform:translateY(-50px);opacity:0}
.visual .inner .move_3go span {transition:.5s all ease-in-out;transform:translateY(-30px);opacity:0}


/* INTRO */
.visual.intro:before {opacity:1}
.visual.intro:after {transition-delay:.5s;transform:translate(0,0);opacity:1}
.visual.intro .inner .tx_tit {transition-delay:1s;transform:translateY(0);opacity:1}
.visual.intro .inner .tx_sub{transition-delay:1.5s;opacity:1}
.visual.intro .inner .move_3go span.go_1 {transition-delay:2s;transform:translateY(0);opacity:1}
.visual.intro .inner .move_3go span.go_2 {transition-delay:2.5s;transform:translateY(0);opacity:1}
.visual.intro .inner .move_3go span.go_3 {transition-delay:3s;transform:translateY(0);opacity:1}
.visual.intro .inner .move_coin:before {transition-delay:3.5s;transform:translateY(0);opacity:1}
.visual.intro .inner .move_coin:after {transition-delay:4.1s;transform:translateY(0);opacity:1}

.visual.intro .loader-box{opacity:0}
.loader-box{display:inline-block;position:relative;-webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;transform:translateY(-542px);left:50%}
.visual-loader:before{content:"";position:absolute;top:0px;left:-25px;height:12px;width:12px;border-radius:12px;-webkit-animation:loader10g 3s ease-in-out infinite;animation:loader10g 3s ease-in-out infinite}
.visual-loader{position:relative;width:12px;height:12px;border-radius:12px;-webkit-animation:loader10m 3s ease-in-out infinite;animation:loader10m 3s ease-in-out infinite}
.visual-loader:after{content:"";position:absolute;top:0px;left:25px;height:10px;width:10px;border-radius:10px;-webkit-animation:loader10d 3s ease-in-out infinite;animation:loader10d 3s ease-in-out infinite}
@-webkit-keyframes loader10g{
	0%{background-color:rgba(255,255,255,.2)}
	25%{background-color:rgba(255,255,255,1)}
	50%{background-color:rgba(255,255,255,.2)}
	75%{background-color:rgba(255,255,255,.2)}
	100%{background-color:rgba(255,255,255,.2)}
}
@keyframes loader10g{
	0%{background-color:rgba(255,255,255,.2)}
	25%{background-color:rgba(255,255,255,1)}
	50%{background-color:rgba(255,255,255,.2)}
	75%{background-color:rgba(255,255,255,.2)}
	100%{background-color:rgba(255,255,255,.2)}
}

@-webkit-keyframes loader10m{
	0%{background-color:rgba(255,255,255,.2)}
	25%{background-color:rgba(255,255,255,.2)}
	50%{background-color:rgba(255,255,255,1)}
	75%{background-color:rgba(255,255,255,.2)}
	100%{background-color:rgba(255,255,255,.2)}
}
@keyframes loader10m{
	0%{background-color:rgba(255,255,255,.2)}
	25%{background-color:rgba(255,255,255,.2)}
	50%{background-color:rgba(255,255,255,1)}
	75%{background-color:rgba(255,255,255,.2)}
	100%{background-color:rgba(255,255,255,.2)}
}

@-webkit-keyframes loader10d{
	0%{background-color:rgba(255,255,255,.2)}
	25%{background-color:rgba(255,255,255,.2)}
	50%{background-color:rgba(255,255,255,.2)}
	75%{background-color:rgba(255,255,255,1)}
	100%{background-color:rgba(255,255,255,.2)}
}
@keyframes loader10d{
	0%{background-color:rgba(255,255,255,.2)}
	25%{background-color:rgba(255,255,255,.2)}
	50%{background-color:rgba(255,255,255,.2)}
	75%{background-color:rgba(255,255,255,1)}
	100%{background-color:rgba(255,255,255,.2)}
}


/* 꼭 확인하세요 위치 */
.com__evt_notice {text-align:center}

/* CONT1 */
.cont01 {position:relative;width:100%;border-top:7px solid #6334ff;background-color:#000}
.cont01 .cont__head {position:relative;width:100%;height:220px}
.cont01 .cont__num {position:absolute;top:-71px;left:50%;width:120px;height:135px;margin-left:-60px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont1_num.png) 50% 50% no-repeat}
.cont01 .cont__tit {position:absolute;top:112px;left:50%;width:416px;height:100px;margin-left:-181px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont1_tit.png) 50% 50% no-repeat}

.cont01 .cont__body {width:100%}
/* 큰 상품 스와이퍼 */
.cont01 .prdc_swiper--big {position:relative;width:100%;margin-bottom:50px;background:#000 url(http://img.enuri.info/images/event/2021/threegopc/w_prdc_lg_none.png) 50% 270px no-repeat}
.cont01 .prdc_swiper--big:after {content:"";position:absolute;top:130px;bottom:4px;left:0;right:0;z-index:10;height:548px;border:1px solid #656565;pointer-events:none}
.cont01 .prdc_swiper--big .swiper-slide {position:relative;opacity:0 !important}
.cont01 .prdc_swiper--big .swiper-slide.swiper-slide-active {opacity:1 !important}
.cont01 .prdc_swiper--big .tx_progress {display:block;margin:40px auto}
.cont01 .prdc_swiper--big .tx_progress .tx_badge {display:block;height:50px;margin:0 auto}
.cont01 .prdc_swiper--big .tx_progress .tx_badge.is-open {width:140px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_progress_open.png) 50% 50% no-repeat}
.cont01 .prdc_swiper--big .tx_progress .tx_badge.is-close {width:140px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_progress_close.png) 50% 50% no-repeat}
.cont01 .prdc_swiper--big .tx_progress .tx_badge.is-ready {width:360px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_progress_ready.png) 50% 50% no-repeat}
.cont01 .prdc_swiper--big .tx_progress .tx_badge.is-ready .tx_cnt {padding:7px 0 7px 168px;font:normal 20px/36px Roboto, "Roboto", "Helvetica",Helvetica,'Arial',Arial,dotum,'돋움',"맑은 고딕","Malgun Gothic", "Apple SD Gothic Neo",sans-serif;color:#fff}
.cont01 .prdc_swiper--big .tx_progress .tx_badge.is-ready .tx_cnt em {font-weight:bold;margin-right:5px}
.cont01 .prdc_swiper--big .btn_box {position:absolute;bottom:70px;right:100px;width:460px;height:72px}
.cont01 .prdc_swiper--big .btn_box .btn {display:block;width:100%;height:100%;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_btn_abled.png) 50% 50% no-repeat}
.cont01 .prdc_swiper--big .btn_box .btn.is-disabled {background:url(http://img.enuri.info/images/event/2021/threegopc/w_btn_disabled.png) 50% 50% no-repeat;cursor:none;pointer-events:none}
.cont01 .prdc_swiper--big .swiper-slide.is-comming:before,
.cont01 .prdc_swiper--big .swiper-slide.is-soldout:before {content:"";display:block;position:absolute;top:130px;bottom:4px;left:0;z-index:1;right:0;width:100%;height:550px;background-color:rgba(0,0,0,.6)}
.cont01 .prdc_swiper--big .swiper-slide.is-comming:after {content:"";display:block;position:absolute;top:130px;bottom:4px;left:0;z-index:10;right:0;width:100%;height:550px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_prdc_comsoon.png) 50% 50% no-repeat}
.cont01 .prdc_swiper--big .swiper-slide.is-soldout:after {content:"";display:block;position:absolute;top:130px;bottom:4px;left:0;z-index:10;right:0;width:100%;height:550px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_prdc_soldout.png) 50% 50% no-repeat}


/* 작은 상품 스와이퍼 */
.cont01 .prdc_swiper--sm {position:relative;margin:0 75px; }
/* SR#48384 더많은특가상품 타이틀 제거
.cont01 .prdc_swiper--sm .tx_tit {display:block;width:158px;height:27px;margin:25px auto 30px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_thumb_tit.png) 50% 50% no-repeat;}
*/
.cont01 .prdc_swiper--sm .swiper-slide {cursor:pointer}
.cont01 .prdc_swiper--sm .swiper-slide .item {display:block;position:relative;background-color:#2c2d30}
.cont01 .prdc_swiper--sm .swiper-slide .item:after {content:"";position:absolute;top:0;bottom:0;left:0;right:0;border:1px solid #393939;pointer-events:none}
.cont01 .prdc_swiper--sm .swiper-slide .item .sold_out {position:absolute;top:0; right:0; color:#fff; font-size:22px; background-color: #ff1a1a; padding:12px 10px;}
.cont01 .prdc_swiper--sm .swiper-slide .item .thumb_img {width:100%;}
.cont01 .prdc_swiper--sm .swiper-slide .item .thumb_img img {width:218px;height:242px;vertical-align:top}
.cont01 .prdc_swiper--sm .swiper-slide .item.is-ready .thumb_img {padding-top:111%; background:#2c2d30 url(http://img.enuri.info/images/event/2021/threegopc/w_prdc_sm_none.png) 50% 50% no-repeat;}
.cont01 .prdc_swiper--sm .swiper-slide .tx_date {padding:12px 0;color:#c5c5c5;font:normal 19px/26px Roboto, "Roboto", "Helvetica",Helvetica,'Arial',Arial,dotum,'돋움',"맑은 고딕","Malgun Gothic", "Apple SD Gothic Neo",sans-serif;text-align:center;}
.cont01 .prdc_swiper--sm .swiper-slide.swiper-slide-active .tx_date {color:#fff;}

.cont01 .prdc_swiper--sm .swiper-slide.swiper-slide-active .item {background-color:#6334ff}
.cont01 .prdc_swiper--sm .swiper-slide.swiper-slide-active .item.is-ready .thumb_img {background-color:#6334ff}

.cont01 .prdc_swiper--sm .arr {position:absolute;top:50%;width:40px;height:40px;margin-top:-20px;opacity:.8;transition:all .2s ease-in-out;background:url(http://img.enuri.info/images/event/2021/threegopc/w_swiper_arr.png) no-repeat;cursor:pointer}
.cont01 .prdc_swiper--sm .arr:hover {opacity:1;}
.cont01 .prdc_swiper--sm .arr-prev {left:-75px;background-position:0 0}
.cont01 .prdc_swiper--sm .arr-next {right:-75px;background-position:-40px 0}
/* .cont01 .cont01 .prdc_swiper--sm .arr.swiper-button-disabled {opacity:0} */
.prdc_swiper--sm .swiper-pagination {display:none}

.cont01 .more_threegopc {width: 460px; height: 72px; margin: 40px auto 0; text-indent: -9999px; background:url(http://img.enuri.info/images/event/2021/threegopc/more_threegopc.jpg); cursor: pointer;}
.cont01 .evt_notice--btn_area {padding:50px 0;}

/* 리뷰 이미지 */
.cont01 .review_box {overflow:hidden;position:relative;padding-bottom:120px;background-color:#2c2d30}
.cont01 .review_box .review_tit1 {width:571px;height:83px;margin:0 auto 62px;padding-top:90px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_review_tit1_modi.png) 50% 90px no-repeat}
.cont01 .review_box .review_img1 {display:block;width:100%;height:749px;margin-bottom:60px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_review_img1.jpg) 50% 50% no-repeat}
.cont01 .review_box .review_img2 {display:block;width:100%;height:847px;margin-bottom:90px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_review_img2.jpg) 50% 50% no-repeat}
.cont01 .review_box .review_tit2 {width:434px;height:83px;margin:0 auto 62px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_review_tit2.png) 50% 50% no-repeat}
.cont01 .review_box .review_img3 {display:block;width:1305px;height:354px;margin-left:-25px;margin-bottom:30px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_review_img3.png) 50% 50% no-repeat}

/* CONT2 */
.cont02 {position:relative;width:100%;padding-bottom:110px;border-top:7px solid #d2ff5a;background-color:#000}
.cont02 .cont__head {position:relative;width:100%;height:210px}
.cont02 .cont__num {position:absolute;top:-71px;left:50%;width:120px;height:135px;margin-left:-60px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont2_num.png) 50% 50% no-repeat}
.cont02 .cont__tit {position:absolute;top:112px;left:50%;width:524px;height:101px;margin-left:-262px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont2_tit.png) 50% 50% no-repeat}
.cont02 .cont__body {overflow:hidden;width:100%}
.cont02 .detail_box {display:block;position:relative;width:1234px;height:408px;margin:40px 0 40px -5px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont2_detail.png) 50% 50% no-repeat}
.cont02 .detail_box .btn_link {display:block;position:absolute;bottom:35px;left:416px;width:460px;height:72px}

/* CONT3 */
.cont03 {position:relative;width:100%;padding-bottom:110px;border-top:7px solid #6334ff;background-color:#000}
.cont03 .cont__head {position:relative;width:100%;height:210px}
.cont03 .cont__num {position:absolute;top:-71px;left:50%;width:120px;height:135px;margin-left:-60px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont3_num.png) 50% 50% no-repeat}
.cont03 .cont__tit {position:absolute;top:112px;left:50%;width:492px;height:100px;margin-left:-246px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont3_tit.png) 50% 50% no-repeat}
.cont03 .cont__body {overflow:hidden;width:100%}
.cont03 .detail_box {display:block;position:relative;width:1327px;height:586px;margin:20px 0 0 -54px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont3_detail2.png) 50% 50% no-repeat}
.cont03 .detail_box .btn_prdc {display:none;position:absolute;bottom:131px;left:803px;width:110px;height:34px}
.cont03 .detail_box .btn_link {display:block;position:absolute;bottom:54px;left:464px;width:460px;height:72px}

/* CONT4 쓰리고PC 라인업 */
.cont4 {overflow:hidden;position:relative;width:100%;padding-bottom:100px;background-color:#f6f6f6}
.cont4 .cont__head {position:relative;width:100%}
.cont4 .cont__tit {width:280px;height:39px;margin:80px auto 50px;font-size:0;text-indent:-9999px;background:url(http://img.enuri.info/images/event/2021/threegopc/w_cont4_tit.png) 50% 50% no-repeat}
.cont4 .cont__body {}
/*-----------------------------------------------------------------------------------------------------------------------------
- listbox typeL2 : 리스트 2열, listbox typeL3 : 3열, listbox typeL4 : 4열, listbox typeL5: 5열
- listbox typeT : 탭형 
- groupbox : 그룹형
 -----------------------------------------------------------------------------------------------------------------------------*/
.listbox {overflow:hidden;margin:0 auto;background-color:#fff}
.listbox .product_box {width:1021px;margin:50px auto 60px;padding-bottom:12px; overflow:hidden;}
.listbox .pdname_box .txt_pdname {width:760px; height:17px; line-height: 1.2; margin:36px auto 10px; text-align:center; background-image:url(http://img.enuri.info/images/exhibition/bg_bar_pdname.png);}
.listbox .pdname_box:first-child .txt_pdname { margin:22px auto 40px;}
.listbox .pdname_box .txt_pdname > strong {display:inline-block; *display:inline; zoom:1; width:330px; margin-top:-3px; overflow:hidden;font-size:22px; color:#444;letter-spacing:-1px}
@media screen {.listbox .pdname_box .txt_pdname > strong {margin-top:-5px;}}
.listbox .pdname_box .img_pdname {width:760px; margin:40px auto 40px;  text-align:left; background:none; } /* 이미지형*/
.listbox .pdname_box .img_pdname > strong {display:inline; }

.btm_exp {position:relative; height:52px;margin:20px 0 0;padding:16px;background-color:#fafafa;}
.btm_exp .txt1 {width:770px; height:30px; line-height:30px; overflow:hidden;font-size:18px; font-weight:500;  color:#464e5b;}
.btm_exp .txt2 {width:770px; height:22px; line-height:22px; font-size:14px; color:#aaaaaa;}
.btm_exp .morego {position:absolute; right:16px; top:50%;margin-top:-16px; padding:0 32px 0 16px; height:32px;line-height:31px;font-size:14px; color:#fff; letter-spacing:-0.5px;background-color:#464e5b;border-radius:16px 16px;}
.btm_exp .morego:after{content:"";position: absolute;width:6px;height:32px;top:0;right:16px;background: url(http://img.enuri.info/images/exhibition/bul_arrow_w.png) no-repeat 100% 50%;}
 
.listbox .productlist {*zoom:1;margin-top:20px}
.listbox .productlist:first-of-type{margin-top:0}
.listbox .productlist{padding-top:4px;margin-left:-21px;}
.listbox .productlist:after {content:""; display:block; clear:both;}
.listbox .productlist > li {float:left; width:232px; margin:0 0 0 21px; border:1px solid #f0f0f0; background:#fff;}
/*160218 상품등록 이미지형tyimg 추가 */
.listbox .productlist > li.tyimg {text-align:center; overflow:hidden;}
.listbox .productlist > li.tyimg.tya {height:400px;}
.listbox .productlist > li.tyimg.tyb {height:524px;}
.listbox .productlist > li.tyimg a {display:block;}
.listbox .productlist > li.tyimg img {vertical-align:top;}
.listbox.basic .productlist > li {border:1px solid #f0f0f0; }
.listbox .productlist > li:hover{border-color:#ddd;-webkit-box-shadow: 0 4px 4px rgba(0,0,0,.05);box-shadow: 0 2px 10px rgba(0,0,0,.05);}
.listbox .productlist > li:hover .model_sub{text-decoration: underline;text-underline-position: under;}

.productlist > li .pdinner {}
.productlist > li .pdinner .pd_thumb {width:232px; height:232px;overflow:hidden;position: relative;}
.productlist > li .pdinner .thumb{position:relative; z-index:10;width:232px;height:232px}
.grouplist > li .thumb {width:180px;height:180px;}
.productlist > li .pdinner .thumb a,  .grouplist > li .thumb a {height:100%; overflow:hidden; display:block;text-align:center; z-index:10;}
.productlist > li .pdinner .thumb a:before,  
.grouplist > li .thumb a:before{content:"";position: absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.015);z-index: 40;}
.productlist > li .pdinner .thumb a .space,  .grouplist > li .thumb a .space {display:none}
.productlist > li .pdinner .thumb a img,  .grouplist > li .thumb a img {position:relative;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);transform-origin: center center}
.productlist > li:hover .pdinner .thumb a img,  .grouplist > li:hover .thumb a img{
-webkit-transition:.3s all ease-in-out;-o-transition:.3s all ease-in-out;transition:.3s all ease-in-out;
-webkit-transform:translate(-50%,-50%) scale(1.05,1.05);
-ms-transform:translate(-50%,-50%) scale(1.05,1.05);
transform:translate(-50%,-50%) scale(1.05,1.05);
}
.productlist > li .pdinner .thumb a img {max-width: 232px;max-height: 232px;width:100%;margin: 0;padding: 0;-o-object-fit: contain;object-fit: contain;}
.product_box .grouplist > li .thumb a {line-height:180px;}
.product_box .grouplist > li .thumb a img {max-width:180px; max-height:180px;width:100%;-o-object-fit: contain;object-fit: contain;}
.productlist > li .pdinner .thumb .soldout,
.grouplist > li .thumb .soldout {position:absolute; top:50%; left:50%; display:none; width:130px; height:130px; margin:-80px 0 auto -65px; text-indent:-9999em; z-index:50; background-image:url(http://img.enuri.info/images/cmexhibition/pc/ico_soldout_blu.png);background-size:100% 100%}
.productlist > li .pdinner .nocom .thumb .soldout,
.grouplist > li .thumb .soldout{margin-top:-65px}
/* 임시제거 */
.productlist > li .pdinner .thumb .flag,  .grouplist > li .thumb .flag {display:none}
/* .productlist > li .pdinner .thumb .flag,  .grouplist > li .thumb .flag {position:absolute; top:-1px; left:-1px; z-index:30;display:inline-block; width:40px; height:42px; margin-right:1px; text-align: center; background-image:url(http://img.enuri.info/images/exhibition/bg_flag.png);zoom: 1;} */
.grouplist > li .thumb .flag {top:-14px; left:-13px;}
.productlist > li .pdinner .thumb .flag.like {text-indent:-9999em; background-position:-80px 0 ;}
.productlist > li .pdinner .thumb .flag .tag,  .grouplist > li .thumb .flag .tag {display:block; line-height:42px; font-family:Tahoma; font-weight:bold; font-size:20px; color:#fff;text-shadow: 1px 1px 0 rgba(0,0,0,1);}

/* 190517 출시가 노출 타입 추가 */
.listbox .productlist > li .tyRelease{}
.listbox .productlist > li .tyRelease .price_area .lowstate{margin-top:0;padding-top:17px;position: relative;}
.listbox .productlist > li .tyRelease .release_price{display:block;height:17px;line-height:17px;color:#aaa;position:absolute;top:0;left:0;width:100%}
.listbox .productlist > li .tyRelease .release_price b{font-size:12px;position: relative;font-weight: normal;text-decoration: line-through;}
.listbox .productlist > li .tyRelease .release_price .txt_price{margin-left:2px;}
.listbox .productlist > li .tyRelease .lowest{display:block;}
.listbox .productlist > li .tyRelease .lowest .tit{color:#222;}

/* 191230 통합최저가 규칙 추가2 - 현금아이콘 */
.cash_price{background: url(http://img.enuri.info/images/home/ico_stick_v2.png) no-repeat -30px -100px #fff;height: 14px;width: 26px;display: inline-block;text-indent: -999em;cursor: pointer;text-align: left;margin-right:3px;vertical-align: -7px;}

.productlist .comment_mark {position:absolute;top:200px;left:0;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0}
.comment_mark {overflow:hidden;color:#777;width:100%; height:30px; line-height:30px; font-size:12px; border-top:1px solid #e2e2e2; background-color:rgba(255,255,255,.9); z-index:12;}
.comment_mark .eval_comm {position:relative; padding:0 12px }
.comment_mark .eval_comm .eval_rate {color: #707070; }
.comment_mark .eval_comm .num_rate {color: #222; margin-left:1px;}
.comment_mark .eval_comm .salenum {position:absolute; top:0; right:12px; margin-left:1px; color:#787878;}
.comment_mark .eval_comm .star_rating {display:inline-block; width:65px; height:12px; margin-left:1px; overflow:hidden; vertical-align:-1px; *vertical-align:middle; background:url(http://img.enuri.info/images/exhibition/starmark_blu.png) no-repeat 0 0;	}
.comment_mark .eval_comm .star_rating .star_value {display:inline-block; height:12px; overflow:hidden; color:transparent;	font:0/0 a; vertical-align:top;	background:url(http://img.enuri.info/images/exhibition/starmark_blu.png) no-repeat 0 -14px;}
.comment_mark .share_box {display:none; position:absolute; top:25px; right:30px; width:102px; height:132px; text-indent:-9999em; z-index:80; background:url(http://img.enuri.info/images/main/2015/common/share_box3.png) 0 0 no-repeat; }
.comment_mark .share_box .list {position:absolute; top:30px; left:1px; width:98px; margin:0; padding:0; }
.comment_mark .share_box .list li a {display:block; height:23px;}
.comment_mark .share_box .close {position:absolute; top:5px; right:7px; width:12px; height:11px; padding:5px; text-indent:-9999em; z-index:90; }

.pd_name {padding:0 12px;height: 130px; overflow:hidden; letter-spacing:-1px;}
.pd_name .model_sub  {margin-top:12px; display:block; max-height:44px; line-height:22px; overflow:hidden; font-size:17px; color:#222; font-weight:500}
.pd_name .model_title {margin-top:5px; display:block; height:32px; line-height:16px; overflow:hidden; font-size:12px; color:#688bb9;letter-spacing:-.5px}
.pd_name .model_title,
.pd_name .model_etc{font-family:malgun gothic,'맑은고딕',sans-serif;font-size:13px;letter-spacing:-1px;margin-top:8px}

.pd_price {z-index:30;}
@-moz-document url-prefix() { .pd_price {margin-top:7px;} }
.price_area {position:relative; height:43px; line-height:26px; padding:0 12px 10px;text-align:right; overflow:hidden; z-index:30;}
.price_area .lowstate {position:relative; display:block;margin-top:17px}
.price_area .lowstate .maximum {display:block; margin-top:-17px; height:17px;line-height:17px;font-size:12px; color:#aaa;}
.price_area .lowstate .maximum .number {}
.price_area .lowstate .maximum .launch {text-decoration:line-through}
.price_area .lowstate .tit {font-size:12px;color:#222}
.price_area .lowstate .mallname {position:absolute;left:0; bottom:2px; padding-right:2px; display:inline-block; height:20px;line-height:20px; font-size:12px; color:#999; letter-spacing:-0.5px; max-width:60px;overflow:hidden; text-overflow:ellipsis;  white-space: nowrap; }
.price_area .lowstate.max .tit {display:inline-block;color:#222}
.typeL5 .price_area .lowstate .tit {font-size:11px;}
.typeL5 .price_area .lowstate .pricerange {padding-top:1px;}
.price_area .lowstate .lowest {color:#222; height:26px;line-height:26px;font-size:14px;}
.price_area .lowstate.max .lowest {margin-left: 1px; vertical-align: -2px;}
.typeL4 .price_area .lowstate .pricerange .lowest, .typeL5 .price_area .lowstate .pricerange .lowest {display:block;}
.price_area .lowstate .lowest .number {font-family:"Helvetica",Helvetica,'Arial',Arial,"tahoma",tahoma,"Noto Sans KR","Malgun Gothic","Segoe UI",Verdana,gulim,dotum,sans-serif;font-weight:bold;font-size:24px;letter-spacing:-1px}
.typeL5 .price_area .lowstate .pricerange .lowest .number {font-size:14px; }
.pd_price .btn_compare {display: block; height:30px; font-size:12px; color:#fff; letter-spacing:-0.5px; text-align:center;background:#f8f8f8;z-index:30;border-top:1px solid #f0f0f0}
.pd_price .btn_compare:hover{background-color:#f0f0f0}
.pd_price .btn_compare .btn_txt  {display: block; width:206px; margin: 0 auto; line-height:30px; height:30px;}
.pd_price .btn_compare .btn_txt strong{color:#333;font-weight:400}
.pd_price .btn_compare .btn_txt em{color:#0073be}
.typeL5 .price_area .btn_compare {width:73px; height:34px; font-size:11px; background:url(http://img.enuri.info/images/exhibition/bg_btn_compare2.gif) repeat-x 0 0;}
/* 아이콘 추가 */
.price_area .lowstate .ico_down {position:absolute; top:5px; left:0; z-index:30;display:inline-block; width:38px; height:38px; text-align: center; background-color:#0073be;border-radius: 50% 50%;}
.price_area .lowstate .ico_down .disc {display:block; line-height:37px; font-weight:400; font-size:13px; color:#fff; letter-spacing:-.5px;}

.shop_price {*zoom:1; height:80px; padding:7px 12px 5px; border-top:1px solid #f0f0f0; }
.shop_price:after {content:""; display:block; clear:both;}
.shop_price li {width:100%; height:26px; line-height:26px; }
.shop_price li:first-child {border:none;}
.shop_price li a {display:block;font-size:12px; color:#787878; letter-spacing:-0.05em; overflow:hidden}
.shop_price li a.on {font-weight:500;}
.shop_price li .shopname {float:left; width:45%; overflow:hidden; text-overflow:ellipsis;  white-space: nowrap;  }
.shop_price li .price {float:right; width:50%; font-size:12px;  color:#343434; text-align:right;}
.shop_price li .price .cash_price{vertical-align: -6px;}

/* 170202 썸네일 태그노출 */
.thumb {position:relative;}
.thumb .img_tag{position:absolute; margin: 6px;left:0px; top:0; text-align:right; width:calc(100% - 12px); height:calc(100% - 42px);z-index:1 }
.nocom .thumb .img_tag,
.grouplist .thumb .img_tag{height:calc(100% - 12px)}
.thumb div {clear:right;}
.thumb .img_tag span{float:right; background: #181818; color:#fff; font-size:11px; display:inline-block; margin:0 2px; line-height:20px; height:20px; padding:0 4px; vertical-align:top; border-radius:3px;}
.thumb .img_tag .blue{opacity: 1; position:absolute; right:0px; bottom:0; z-index:1; height:20px;}
.thumb .img_tag .blue span{padding:0 6px; height:20px; line-height:20px; font-size:11px; 
background: #41bce9; /* Old browsers */
background: -moz-linear-gradient(left,  #41bce9 0%, #3a7dd9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #41bce9 0%,#3a7dd9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #41bce9 0%,#3a7dd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41bce9', endColorstr='#3a7dd9',GradientType=1 ); /* IE6-9 */
}
.thumb .img_tag span.btm{position:absolute; left:0; bottom:0; z-index:1}
.thumb .img_tag .hue{position:absolute; left:5px; bottom:7px;}
.thumb .img_tag .hue li{margin:0 1px; padding:0; border-bottom:none; display:inline-block; float:left; border-radius:50%; background:#fff; width:14px; height:14px; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);  overflow:hidden;}
.thumb .img_tag .hue li.w{border:1px solid #bbbbbb; width:12px; height:12px; box-shadow: none;}
.thumb .img_tag .hue li em{display:block; text-align:left; text-indent:-9999em; }
.thumb .img_tag .hue li em.half{width:50%; float:left; }
/* 썸네일 아래 상품평 없을 때 class="nocom" 추가 */
.productlist > li .pdinner .pd_thumb.nocom .thumb {height:232px;}







/*딤레이어 공통 */
.pop-layer  {position:fixed;_position:absolute;top:0;left:0;width:100%;height:100%;z-index:100000}
/*기존*/
.popupLayer {position:absolute;left:0;top:0;width:100%;height:100%;z-index:10000;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6}
.popupLayer .dim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10100}
/*new*/
.backdim {position:absolute;left:0;top:0;width:100%;height:100%;background:#000;z-index:10000;-ms-filter:alpha(opacity=60);filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6}

.popup_box {position:absolute;left:50%;top:50%;overflow:hidden;z-index:10200}
.popup_box .input_area  {position:relative}
.popup_box h2, .popup_box .txt, .popup_box .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0}
.popup_box img {vertical-align:top;margin:0;padding:0}
.popup_box h4 {height:69px;text-align:center;font-size:26px;font-weight:500;line-height:69px;color:#fff;letter-spacing:-1px;background-color:#0182ea}
.popup_box .layclose {position:absolute;right:18px;top:21px;width:26px;height:26px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png);background-size:26px;text-indent:-9999em;z-index:2}

/* 딤레이어 :모바일 앱 전용 쇼핑 혜택 */
.onlyapp {width:410px;height:283px;margin-left:-205px;margin-top:-142px;border:1px solid #0182ea;border-top:0;background:#fff}
.onlyapp .inner {width:377px;padding:22px 16px 0;line-height:1.5;font-size:15px;color:#444}
.onlyapp .inner .exp {text-align:center;line-height:1.2;padding-bottom:25px;font-size:18px;color:#393939;letter-spacing:-0.5px}
.onlyapp .inner .tit {font-size:16px;color:#2366aa;letter-spacing:-0.5px;margin:0 0 5px 1px;padding-left:10px;background:url(http://img.enuri.info/images/event/2016/template/bul_circle_blue.gif) no-repeat 0 9px}
.onlyapp .input_area input {width:213px;padding:0 20px;text-align:left;font-family:Roboto,'Noto Sans KR',Malgun Gothic;font-size:16px;color:#666;font-weight:700;letter-spacing:-1px;height:40px;line-height:36px;background:0;border:1px solid #0182ea;border-right:0;box-sizing:content-box}
.onlyapp .watchout {margin-top:13px}
.onlyapp .watchout li {font-size:14px;color:#7f7f7f;letter-spacing:-0.5px;margin-left:2px;padding-left:6px;background:url(http://img.enuri.info/images/event/2016/template/bul_sq_grays.gif) no-repeat 0 9px}
.onlyapp .laysend {position:absolute;right:0;top:0;width:123px;height:42px;background:#0182ea;text-align:center}
.onlyapp .laysend em{position:static;left:0;display:inline-block;line-height:42px;color:#fff;width:auto;height:auto;font-size:18px;font-weight:400;letter-spacing:-1px}

	/* 딤레이어 :개인정보 수집 동의 */
	.infoagree {width:545px;  height:494px; margin-left:-272px; margin-top:-247px; background:url(http://img.enuri.info/images/event/2017/recommand_friend/ver1/pop_infoagree.png) no-repeat 0 0}
	.infoagree .inner {position:absolute; top:110px; left:0; width:540px}
	.infoagree dl {padding-left:64px; height:60px;font-weight:bold; overflow:hidden}
	.infoagree dl dt {float:left; width:156px; line-height:56px;  font-size:26px; color:#333333;  letter-spacing:-0.5px}
	.infoagree dl dd {float:left; width:264px; line-height:58px;  font-size:30px;color:#0182ea; height:100%; overflow:hidden; text-overflow:ellipsis; white-space:nowrap}
	.infoagree .tip {margin-top:32px; font-size:24px; color:#666666; text-align:center}
	.infosh {margin-top:20px; text-align:center}
	.unchk{background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 0 no-repeat;  font-size:24px; letter-spacing:-0.5px; color:#666; padding-left:49px; height:36px; line-height:30px; display:inline-block; cursor:pointer; padding-top:1px}
	.unchk input, .chk input{-webkit-appearance:none; border:0; height:1px; width:1px; position:absolute; margin:-9999em}
	.chk {background:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/ico_chk.gif) 0 -60px no-repeat; font-size:24px; letter-spacing:-0.5px; color:#666; padding-left:49px; height:36px; line-height:30px; display:inline-block; cursor:pointer; padding-top:1px}
	.infoagree .laysend {position:absolute; left:30px; bottom:36px; width:480px; height:70px; }
	.infoagree .layclose {position:absolute; right:36px; top:22px; width:26px; height:26px; background-image:url(http://img.enuri.info/images/event/2016/recommend_friend/ver2/btn_pop_close.png)}
	
		/* 딤레이어 :인증하고 초대코드 받기 */
	.inviteLayer {overflow:visible; width:610px; height:430px; margin-left:-305px; margin-top:-215px; border-radius:30px; box-shadow:0 10px 30px #dfdfdf inset; background-color:#fff}
	.inviteLayer .inner {position:absolute; top:70px; left:100px; width:410px}
	.inviteLayer .agree_txt {text-align:center}
	.inviteLayer .agree_txt p {margin-bottom:25px; font-weight:normal; line-height:36px; color:#000; letter-spacing:-1px}
	.inviteLayer .agree_txt p.txt1 {font-weight:bold; font-size:28px; text-align:center}
	.inviteLayer .agree_txt p.txt2 {margin-top:10px; font-size:20px; line-height:28px; text-align:center}
	.inviteLayer .agree_txt p.ipt {margin-bottom:25px; text-align:center}
	.inviteLayer .agree_txt p label {font-size:20px; color:#000; cursor:pointer}
	.inviteLayer .agree_txt input{vertical-align:middle; margin-right:3px}
	.inviteLayer .agree_txt input[type='checkbox'] {width:24px; height:26px; border:0; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/chk_form.png) no-repeat 0 0; -webkit-appearance:none; -moz-appearance:none; appearance:none}
	.inviteLayer .agree_txt input[type='checkbox']:checked {background-position:-24px 0}
	.inviteLayer .agree_txt .agreebtn{display:inline-block; height:64px; outline:medium none; cursor:pointer; border:none; margin:0 auto; padding:0 40px; border-radius:32px; font-size:23px; font-weight:bold; color:#fff; line-height:62px; vertical-align:middle; background:#22211e}
	.inviteLayer .layclose {width:23px; height:23px; position:absolute; right:0; top:-40px; width:33px; height:33px; text-indent:-9999em; background:url(http://img.enuri.info/images/event/2017/recommand_friend/renew/btn_close_layer.png)}

	/* 개인정보 레이어 */
	#privacy .noteLayer{width:300px; padding-bottom:15px; background:#ffffff; margin:-146px auto 0 -150px; left:50%; top:50%; position:absolute; z-index:1000}
	#privacy .noteLayer h4{line-height:36px; color:#ffffff; font-size:16px; text-align:left; letter-spacing:-1px; padding-left:10px; background:#a4a4a4}
	.privacy_txt{padding:15px; font-size:11px}
	.privacy_txt p{padding-bottom:7px}
	.privacy_txt dl dt{font-weight:bold}
	.privacy_txt dl dd{padding:0 0 5px 14px}
	.privacy_txt li{letter-spacing:-1px}

/* 가이드팝업 - 유의사항 */
.guide {width:800px;height:100%;height:400px;margin-top:-200px;margin-left:-400px;border:1px solid #0e151c;border-top:0;background:#fff}
#notetxt1 .guide {height:300px;margin-top:-188px}
#notetxt2 .guide {height:720px;margin-top:-360px}
#notetxt2 .guide .inner {overflow-y:scroll;height:594px}
.guide.entry {height:589px;margin-top:-294px ;text-align:center;color:#333}
.guide.entry strong {font-weight:bold;font-size:30px;font-weight:normal}
.guide.entry .tip { font-size:24px}
.guide.entry .tip strong  {color:#ff0200}
.guide h4 {height:69px;text-align:center;font-size:32px;font-weight:normal;line-height:70px;color:#fff;background-color:#0e151c }
.guide .inner {padding:34px 50px 24px 50px}
.guide .inner .ul-tit {display:block;font-size:15px}
.guide .inner ul {margin-bottom:15px}
.guide .inner .emp {color:#f00}
.guide ul li { font-size:15px;color:#333;margin-left:2px;line-height:1.5;padding:2px 0 3px 11px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px}
.guide .layentry {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/install/btn_lay_entry.gif)}
.guide .laysubmit {position:absolute;left:299px;bottom:30px;width:200px;height:60px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_submit.gif)}
.guide .layclose {position:absolute;right:33px;top:18px;width:31px;height:31px;background-image:url(http://img.enuri.info/images/event/2016/emoney/buy/btn_lay_closex.png)}
.guide dl dd.emp {color:#f00}
.guide .tb {width:100%;margin:15px 0}
.guide .tb table {border-left:1px solid #333;border-top:1px solid #333;border-spacing:0;border-collapse:collapse}
.guide .tb table th, .guide .tb table td {text-align:center;padding:3px 20px;font-size:13px;border-right:1px solid #333;border-bottom:1px solid #333}
.guide .tb table th {background:#f0f0f0}
.guide .tb table td.savepr {width:100px;text-align:right}

#notetxt2 .guide dl {margin-bottom:10px;font-size:14px}
#notetxt2 .guide dl:last-child {margin-bottom:30px}
#notetxt2 .guide dt {margin-bottom:3px;font-weight:bold;line-height:20px;padding-top:5px}
#notetxt2 .guide dd {padding-left:10px;line-height:24px;background:url(http://img.enuri.info/images/event/2016/emoney/buy/bul_circle_gray.gif) no-repeat 0 10px}
#notetxt2 .guide dd ul li {font-size:13px;color:#666;background:none}
 
/* 딤레이어 :emoney */
.emoneypop {width:377px;height:452px;margin-left:-188px;margin-top:-226px;border:1px solid #636363;background:#eaeaea}
.emoneypop h4 {height:43px;line-height:41px;font-size:20px;letter-spacing:-0.5px;font-weight:bold;color:#fff;background:#202020}
.msgarea {width:377px;height:217px;overflow:hidden}
.msgarea.bggrn { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg1.gif) no-repeat 0 0}
.msgarea.bgpup { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg2.gif) no-repeat 0 0}
.msgarea.bgnavy { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg3.gif) no-repeat 0 0}
.msgarea.bgpink { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg4.gif) no-repeat 0 0}
.msgarea.bgblk { background:url(http://img.enuri.info/images/event/2016/attendance/decem/meg_bg5.gif) no-repeat 0 0}
.msgarea .message {height:80px;padding:86px 35px 0 35px;overflow:hidden;font-size:20px;color:#ffffff;letter-spacing:-0.5px}
.msgarea .icon { text-align:center;line-height:25px;font-family:Malgun Gothic, '맑은고딕'}
.icon.bubble  {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say1.png) no-repeat 50% 20px}
.icon.bell {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say2.png) no-repeat 50% 20px}
.icon.owl {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say3.png) no-repeat 50% 20px}
.icon.chick {background:url(http://img.enuri.info/images/event/2016/attendance/decem/icon_say4.png) no-repeat 50% 20px}

/* 당첨 레이어 */
.vote_box {position:absolute; left:50%; top:50%; z-index:10200; width:420px; height:570px; margin:-285px 0 0 -210px; padding:0}
.vote_box .inner {position:relative; width:100%; height:100%}
.vote_box .inner .vote_img {display:block}
.vote_box .layclose {position:absolute; right:12px; top:12px; width:30px; height:30px; font-size:0; text-indent:-9999px; background-image:url(http://img.enuri.info/images/event/2020/xmas/btn_close.png);background-repeat:no-repeat}
