@charset "utf-8";

/************************************************************************
 * 파일명 : eventZone_view_expgroup.css
 * 설명 : 체험단
 * 작성자  : (--)v
 * 작성일 : 2021.06.03
************************************************************************/
/* default common */
.mt8 { margin-top:8px;}
.mt10 { margin-top:10px;}
.mb10 { margin-bottom:10px;}
.mb15 { margin-bottom:15px;}
.mb40 { margin-bottom:40px;}
.full-right {float:right;}
.full-width {width:100%!important;}
.text-center {text-align: center;}
.visible-mobile {  display: none;}
::placeholder {color:#aaa;}
/* mobile common */
.mobile .visible-mobile { display: block;}
.mobile .hidden-mobile { display: none;}

.event_conts{margin-top:0}
.mobile .event_conts{margin:0!important;border-top:0;border-left:0;border-right:0}

/*========================================================================
                              PC
========================================================================*/
.expgroup_box_head {position:relative;height:310px;margin:0 0 16px;}
.expgroup_inner {width:100%;}
.expgroup_inner:after {content:"";display:table;clear:both;}
.expgroup_inner .com__btn_share {position:absolute;top:10px;left:10px;width:45px;height:45px;opacity:.8;background:url(http://img.enuri.info/images/event/2020/newyear_pro/ico_share.png) no-repeat 50% 50%;background-size:45px;text-indent:-9999em;z-index:20}
.expgroup_inner .com__btn_share:hover {opacity:1;}
.expgroup_inner .expgroup_imgs {float:left;width:398px;height:310px;margin-right:32px;}
.expgroup_inner .expgroup_imgs a {display:block;overflow:hidden;}
.expgroup_inner .expgroup_imgs a img {width:100%;height:auto;-webkit-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;image-rendering:-webkit-optimize-contrast}


/* 체험단 > 정보 */
.expgroup_inner .expgroup_info {float:left;width:386px;}
.expgroup_inner .expgroup_info dl dt { margin-bottom:17px; padding:28px 0 21px; border-bottom:1px solid #ececec;}
.expgroup_inner .expgroup_info dl dt .tx { display:block; font-size:14px; letter-spacing:-.5px; line-height:1; color:#999; margin-bottom:14px;}
.expgroup_inner .expgroup_info dl dt .tx .date{ margin-right: 5px;}
.expgroup_inner .expgroup_info dl dt .expgroup_tit { display:block; position:relative; width:100%; font-weight:bold; font-size:22px; color:#222; line-height:1; letter-spacing:-1px;}
.expgroup_inner .expgroup_info dl dd .expgroup_detail {margin-bottom:30px;}
.expgroup_inner .expgroup_info dl dd .expgroup_detail li { position:relative; font-size:14px; color:#333; line-height:1; vertical-align:middle; letter-spacing:-1px; margin-bottom:10px;}
.expgroup_inner .expgroup_info dl dd .expgroup_detail li:last-child {margin-bottom:0;}
.expgroup_inner .expgroup_info dl dd .expgroup_detail li span { margin-left:5px; color:#666;}
.expgroup_inner .expgroup_info dl dd .expgroup_detail li small { font-size: 12px; color:#999;}
.expgroup_inner .expgroup_info .btn_group { display:block;  /*overflow:hidden;*/ clear:both;}
.expgroup_inner .expgroup_info .btn_group .btn { float: left; position: relative; width: 186px; height: 38px; border: 1px solid #d9d9d9; font-size: 16px; line-height: 38px; color: #222; vertical-align: middle; text-align: center; letter-spacing: -1px;}
/* 버튼 */
.expgroup_inner .expgroup_info .btn_group .btn:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
.expgroup_inner .expgroup_info .btn_group .btn.buy {margin-left:10px;border-color:#00a7ee;color:#fff;background-color:#00a7ee;cursor:pointer;}
.expgroup_inner .expgroup_info .btn_group .btn.buy:hover {background-color:#00a1e5;}
.expgroup_inner .expgroup_info .btn_group .btn.ready {margin-left:10px;color:#fff;border-color:#b9b9b9;background-color:#b9b9b9;}
.expgroup_inner .expgroup_info .btn_group .btn.end {margin-left:10px;color:#fff;border-color:#b9b9b9;background-color:#b9b9b9;}
.expgroup_inner .expgroup_info .btn_group.btn_group-one .btn {display:block;float:none;position:relative;width:100%;height:38px;margin-left:0;border:0;line-height:38px;}
.expgroup_inner .expgroup_info .btn_group .btn.btn_mission_apply {margin-left:10px;border-color:#FD5900;color:#fff;background-color:#FD5900;cursor:pointer; height: 40px; line-height: 1;}
.expgroup_inner .expgroup_info .btn_group .btn.btn_mission_apply:hover {background-color: #ec5104;}

/* 체험단 안내 */
.expgroup_notice {padding:38px 26px 38px;background-color:#fafafa;}
.expgroup_notice dl dt {margin-bottom:10px;font-weight:bold;font-size:14px;color:#666;}
.expgroup_notice dl dd ul li {position:relative; padding-left:19px;font-size:14px;color:#666;line-height:20px; letter-spacing:-1px;word-break:keep-all;}
.expgroup_notice dl dd ul li:before { content:""; display:block; width: 2px; height: 2px; background-color: #666; position:absolute; top:50%; margin-top:-1px; left:7px;}
.mobile .expgroup_notice dl dd ol li br{display:none}

/* 체험단 상세 */
.expgroup_article { padding:40px 48px;}
.expgroup_article img { max-width:100% !important; min-height:200px; height:auto;}

/* 체험단 참여 주의사항 */
.expgroup_caution { padding:0 14px; margin-bottom:46px;}
.expgroup_caution h5 { font-size: 16px; font-weight: 500; color:#343434; line-height: 1; margin: 0 0 14px; }
.expgroup_caution .inner_box { padding:21px 38px; background: #eee;}
.expgroup_caution ol li { font-size: 13px; color: #666; list-style: decimal; letter-spacing: -1px; word-break: keep-all; line-height: 1; margin-bottom: 8px;}
.expgroup_caution ol li:last-child {margin-bottom: 0;}

/* 모집중인 다른 체험단 */
.expgroup_another { position:relative; padding:0 14px; margin-bottom: 60px;}
.expgroup_another h5 { font-size: 16px; font-weight: 500; color:#343434; line-height: 1; margin: 0 0 14px;}
.expgroup_another .expgroup_another_swiper { position:relative; overflow: hidden; border:1px solid #eeeeee;}
.expgroup_another_swiper a { padding-left:220px; display: block; height: 166px;}
.expgroup_another_swiper .item_thumbnail { position:absolute; top:0; left:0;}
.expgroup_another_swiper .item_thumbnail .img_area { width: 220px; height: 166px; background-position: center; background-repeat: no-repeat; background-size: cover;}
.expgroup_another_swiper .item_info { padding: 22px 24px 0 24px; height: 144px;}
.expgroup_another_swiper .item_info .item_tit { font-size: 18px; font-weight: bold; line-height: 1; margin-bottom:17px; letter-spacing: -.5px;}
.expgroup_another_swiper .item_info .item_condition li { font-size: 14px; color:#999; margin-bottom:10px; line-height: 1;}
.expgroup_another_swiper .item_info .item_condition li:last-child {margin-bottom:0;}
.expgroup_another .nav_btn_common { width: 40px; height: 40px; position:absolute; top:50%; margin-top:-20px; cursor: pointer; z-index: 10; opacity: 0; -webkit-transition: all .4s; -moz-transition: all .4s; -o-transition: all .4s; transition: all .4s; background-size: 100%; background-repeat: no-repeat;}
.expgroup_another .expgroup_another_swiper_nav_btn_prev { background-image: url("http://img.enuri.info/images/knowcom/view_expgroup/btn_prev.png"); left:0;}
.expgroup_another .expgroup_another_swiper_nav_btn_next {background-image: url("http://img.enuri.info/images/knowcom/view_expgroup/btn_next.png");right:0;}
.expgroup_another:hover .nav_btn_common { opacity: 1;}

/* 신청서작성  */
.expgroup_participation { padding:33px 16px 60px; border:1px solid #d9d9d9; background: #fff; letter-spacing: -.5px;}
.expgroup_participation *,
.c_popup__layer * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.expgroup_participation h5 { font-size: 18px; color:#222; margin-bottom: 12px;}
.tbl_common_write { width: 100%; border-collapse: collapse; border-spacing: 0; background: #fff;}

/* 신청서작성 - 테이블 */
.tbl_common_write thead tr th,
.tbl_common_write tbody tr th,
.tbl_common_write tbody tr td { font-size: 14px; border:1px solid #ddd;}
.tbl_common_write thead tr th,
.tbl_common_write tbody tr th{ color:#666; background:#fbfbfb; padding:11px 0; text-align: center;}
.tbl_common_write tbody tr td{ padding:10px 15px;}

/* 신청서작성 - 인풋,셀렉트,텍스트영역 */
.tbl_common_write tbody tr td a{ text-decoration: underline; color:#333;}
.tbl_common_write input[type=text] { height: 36px; border:1px solid #eee; padding:5px 10px; background: #fff; width: 100%; font-size: 14px;}
.tbl_common_write select { height: 36px; border:1px solid #eee; padding:5px 0 5px 5px; background: #fff; width: 100%;}
.tbl_common_write textarea { width: 100%; height: 250px; border:1px solid #eee; padding:10px; resize: none; font-size: 14px;}

/* 신청서작성 - 안내 */
.tbl_common_write .tbl_common_write_noti { font-size: 12px; color:#aaa; margin-top:10px;}

/* 신청서작성 - 우편번호 */
.tbl_common_write .zipcode_wrap { position:relative; padding-right:216px;}
.tbl_common_write .zipcode_wrap .btn__fd_zipcode { position: absolute;top: 0;right: 0;width: 206px;background: #898d94;color: #fff;height: 36px;display: block;text-decoration: none;text-align: center;padding: 8px 0;}

/* 신청서작성 - 셀렉트박스 3분할시 사용 */
.expgroup_participation .col-wrap {display:-webkit-flex;display:flex;justify-content: space-between;flex-wrap: wrap;}
.expgroup_participation .col-wrap .col-3{ flex:0 0  auto; width:32.33%;}

/* 신청서작성 - 동의박스 */
.expgroup_participation .box_innerwrap { border:1px solid #ddd; padding:16px;}
.expgroup_participation .agree_caution {position:relative; padding-left:15px; font-size: 14px; color:#999;}
.expgroup_participation .agree_caution:before {content:"※"; position:absolute; top:0; left:0;}

/* 신청서작성 - 안내사항 */
.expgroup_participation ol li { list-style: decimal; margin-left:10px; margin-bottom: 4px; font-size: 14px;}
.expgroup_participation ol li:last-child { margin-bottom: 0;}
.expgroup_participation ol li span { font-size: 12px; color:#999;}

/* 신청서작성 -신청버튼 */
.expgroup_participation .btn_group { padding-top:50px; text-align: center; font-size: 0;}
.expgroup_participation .btn_group .btn { display:inline-block; vertical-align: middle; font-size: 16px; padding:8px 0 9px; text-align: center; width: 188px; height: 40px; margin:0 5px;}
.expgroup_participation .btn_group .btn.btn_cancle { border:1px solid #d9d9d9; background: #fff; color:#222}
.expgroup_participation .btn_group .btn.btn_write { border:1px solid #00a7ee; background: #00a7ee; color:#fff}

/* 페이지공통 - 동의하기 아우터 */
.expgroup_participation .agree_checkbox_wrap { font-size: 14px; color:#333; margin-top:20px;}
.expgroup_participation .agree_checkbox_wrap label { float:right;}

/* 페이지공통 - 체크박스 커스텀 */
.label_checkbox { position:relative; padding-left:26px; cursor: pointer;}
.label_checkbox input[type=checkbox]{ display:none;}
.label_checkbox .checkbox_img { width: 18px; height: 18px; border:1px solid #ccc; display: block; position: absolute; top: 0; left: 0; background-color: #fff;}
.label_checkbox input[type=checkbox]:checked + .checkbox_img { border:none; background: url("http://img.enuri.info/images/knowcom/checkbox_checked.png");}


/*========================================================================
                              mobile
========================================================================*/
.mobile #SubWrap .grid_box.expgroup_box_head,
.mobile #SubWrap .grid_box.expgroup_box_cont {margin:0;box-shadow:none;border:0;} /* 그리드 해제 */
/* 체험단 최상단 정보 */
.mobile .expgroup_box_head {height:auto;border-bottom:1px solid #e2e2e2 !important;}
.mobile .expgroup_box_head .com__btn_share{top:10px;width:38px;height:38px;background-size:38px;}
.mobile .expgroup_inner .expgroup_imgs {float:none;width:100%;height:auto;margin-right:0;}
.mobile .expgroup_inner .expgroup_info {float:none;width:calc(100% - 44px);padding:20px 22px;}
.mobile .expgroup_inner .expgroup_info dl dt {margin-bottom:13px;padding:0 0 10px;}
.mobile .expgroup_inner .expgroup_info dl dt .expgroup_tit {font-size:18px;color:#343434;line-height:24px;}
.mobile .expgroup_inner .expgroup_info dl dd .expgroup_detail {margin-bottom:0;}
.mobile .expgroup_inner .expgroup_info dl dd .expgroup_detail li {font-size:14px;}
.mobile .expgroup_inner .expgroup_info .btn_group { position:fixed; bottom:0; left:0; right:0; width:100%; background-color:#fff; z-index:1000; box-shadow: 0 4px 12px rgba(0,0,0,.5);}
.mobile .expgroup_inner .expgroup_info .btn_group .btn {width:50%;height:48px;border:0;font-size:14px;color:#343434; line-height: 48px;}
.mobile .expgroup_inner .expgroup_info .btn_group .btn.buy {margin-left:0;color:#fff;}
.mobile .expgroup_inner .expgroup_info .btn_group .btn.ready {margin-left:0;color:#fff;}
.mobile .expgroup_inner .expgroup_info .btn_group .btn.end {margin-left:0;color:#fff;}
.mobile .expgroup_inner .expgroup_info .btn_group .btn.btn_mission_apply {margin-left:0;color:#fff;}
.mobile .expgroup_inner .expgroup_info .btn_group.btn_group-one .btn {display:block;width:100%;height:44px;}

/* 체험단 안내 */
.mobile .expgroup_notice {padding:18px; background-color:#f7f7f7;}
.mobile .expgroup_notice dl {opacity:.7;}
.mobile .expgroup_notice dl dt {font-size:12px;line-height:17px;}
.mobile .expgroup_notice dl dd ol li {margin-left:10px;font-size:11px;line-height:17px;}

/* 체험단 상세영역 */
.mobile .expgroup_article {padding:35px 8px 60px;}
.mobile .expgroup_article img {max-width:100% !important;min-height:200px;height:auto;}

/* 체험단 참여 주의사항 */
.mobile .expgroup_caution .inner_box {padding:18px;}
.mobile .expgroup_caution .inner_box ol li {margin-left: 10px; font-size: 13px; line-height: 17px; margin-bottom:4px;}

/* 모집중인 다른체험단 */
.mobile .expgroup_another_swiper a{padding-left:128px; height: 106px;}
.mobile .expgroup_another_swiper .item_thumbnail .img_area {width: 128px; height: 106px;}
.mobile .expgroup_another_swiper .item_info {padding:13px 10px 0; height: 90px;}
.mobile .expgroup_another_swiper .item_info .item_tit {font-size: 14px; line-height: 1.4; margin-bottom:10px; height: 38px; overflow: hidden;}
.mobile .expgroup_another_swiper .item_info .item_condition li {font-size: 12px; margin-bottom:6px;}
.mobile .expgroup_another_swiper .item_info .item_condition li:nth-child(n+3) {display: none;}
.mobile .expgroup_another .nav_btn_common {width:20px; height:20px; margin-top:-10px; opacity: 1;}
/*.mobile .expgroup_another h5 {font-size: 13px;}*/
/*.mobile .expgroup_another_swiper a { height: auto; padding-left:0;}*/
/*.mobile .expgroup_another_swiper .item_thumbnail {position: static;}*/
/*.mobile .expgroup_another_swiper .item_thumbnail .img_area {width: 100%;height: auto;padding-top:75.46%;}*/
/*.mobile .expgroup_another_swiper .item_info .item_tit {font-size: 16px;}*/
/*.mobile .expgroup_another_swiper .item_info .item_condition li {font-size: 12px;}*/
/*.mobile .expgroup_another_swiper .item_info {height: 135px;}*/

/* 모바일 신청서 작성 */
.mobile .expgroup_participation {border:none; margin-top:10px;}
.mobile .expgroup_participation h5 { font-size: 16px;}

/* 모바일 신청서 작성 - 테이블 */
.mobile .tbl_common_write thead tr th,
.mobile .tbl_common_write tbody tr th,
.mobile .tbl_common_write tbody tr td { font-size: 14px; }
.mobile .tbl_common_write tbody tr th { width: 72px;}
/* 모바일 신청서 작성 - 주소찾기 */
.mobile .tbl_common_write .zipcode_wrap {padding-right:120px;}
.mobile .tbl_common_write .zipcode_wrap .btn__fd_zipcode { width: 110px;}

/* 모바일 신청서 작성 - 동의하기1  */
.mobile .expgroup_participation .agreebox .box_innerwrap { border:none; padding:0;}

/* 모바일 신청서 작성 - 안내사항  */
.mobile .expgroup_participation ol li { font-size: 14px;}
.mobile .expgroup_participation .agree_checkbox_wrap { font-size: 14px;margin-top:10px;background: #f9f9f9;padding: 10px;border: 1px solid #e0e0e0;}
.mobile .expgroup_participation .agree_checkbox_wrap label { float:none; display: block; margin-top:5px;}

/* 모바일 신청서 작성 - 신청버튼  */
.mobile .expgroup_participation .btn_group .btn { width: 140px;}


/*========================================================================
                              레이어
========================================================================*/
.evt__layer{position: absolute;top:0;left:0;width:846px;height:100%;z-index: 10;background:rgba(0,0,0,.8);display:none}
.mobile .evt__layer{width:100%}

.evt__layer .evt__layer_inner{position:absolute;width:520px;left:50%;transform:translateX(-50%);background-color:#fff;}
.evt__layer .evt__layer_inner .lay_head{padding:20px;height:40px;font-size:18px;letter-spacing:-2px;color:#222;line-height:40px;background-color:#f5f5f5;text-align:center}
.evt__layer .evt__layer_inner .lay_head em{font-size:20px;font-weight:bold;display:inline-block;position: relative;}
.evt__layer .evt__layer_inner .lay_head em:after{content:"";position: absolute;bottom:5px;left:0;right:0;border-bottom:2px solid #222;}
.evt__layer .evt__layer_inner .lay_cnt{text-align:left;font-size:14px;line-height:20px;letter-spacing:-1px;color:#888;padding:26px 30px 30px}
.evt__layer .evt__layer_inner .evt__btn_lay_close{border:0;outline:none;width:22px;height:22px;background:url(http://img.enuri.info/images/knowcom/renew_grade/btn_close.png) no-repeat 0 0 transparent;position: absolute;top:-30px;right:0;text-indent:-9999em}
.evt__layer .evt__layer_inner dt{color:#444444;font-weight:bold;}
.evt__layer .evt__layer_inner dd{margin-bottom:12px}
.evt__layer .evt__layer_inner dd ul li{padding-left:18px;position: relative;}
.evt__layer .evt__layer_inner dd ul li:before{content:"-";position: absolute;top:0;left:0;}

.evt__lay_notice .evt__layer_inner {top:1312px}

.mobile .evt__layer_inner{position:fixed;top:50%;width:90%;max-width:520px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.mobile .evt__layer_inner .lay_head{padding:20px 0}


/*========================================================================
                              팝업
========================================================================*/
.btn_mission_apply{ width:200px; height:50px; margin:0 auto; border:0; cursor:pointer;}
.c_popup__layer{display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;letter-spacing: -.5px;}
.c_popup__layer .c_popup__dimmed{position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.55)}
.c_popup__inner{border:1px solid #222;-webkit-box-sizing:border-box;box-sizing:border-box;width:530px;position:absolute;top:50%;left:50%;margin-left:-280px;background-color:#fff;z-index:1;opacity:0;-webkit-transition:.3s all ease-in-out;-o-transition:.3s all ease-in-out;transition:.3s all ease-in-out;-webkit-transform:translateY(-30%);-ms-transform:translateY(-30%);transform:translateY(-30%);overflow:hidden}
.on .c_popup__inner{-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%);opacity:1;}
.c_popup__inner.wide{width:800px;margin-left:-400px}

.c_popup__head{position:relative; font-size:20px;color:#fff;text-align:center;background-color:#333;padding:6px;line-height:36px;z-index:1;-webkit-box-shadow:0 16px 10px rgba(255,255,255,1);box-shadow:0 16px 10px rgba(255,255,255,1)}
.c_popup__cont{padding:20px;}
.btn__evt_close{position: absolute;right: 13px;top: 14px;width: 21px;height: 21px;background-image: url(http://img.enuri.info/images/knowcom/btn_lay_closex.png);background-color: transparent;text-indent: -9999em;z-index: 2;}


.mobile .c_popup__inner {width: 90%;left:5%;margin-left:0; max-height: 90%; overflow-y: scroll;}
/*========================================================================
                              미션수행폼
========================================================================*/
.form_mission_apply h5 {font-size: 16px; color:#222; margin:0 0 10px;}
.form_mission_apply .box_noti {font-size: 13px;color:#999;padding:15px 10px;border:1px solid #ddd;background: #fbfbfb;}

.form_mission_apply .input_wrap {position:relative;margin-top:8px; }
.form_mission_apply .input_wrap input {
    padding-right: 30px;
}
.form_mission_apply .input_wrap .delete_input {
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    top: 11px;
    right:8px;
    background-image: url(http://img.enuri.info/images/knowcom/btn_input_delete.png);
    cursor: pointer;
}
/*인풋추가*/
.form_mission_apply .add_input_etc_url {display:inline-block;background: #aaa;color:#fff;font-size: 12px;text-align: center;width: 52px;padding:5px 0;text-decoration: none;margin-top: 10px;}
/*버튼*/
.form_mission_apply .btn_group { padding: 30px 0 10px; text-align: center; font-size: 0;}
.form_mission_apply .btn_group .btn { display:inline-block; vertical-align: middle; font-size: 14px; padding:5px 0 9px; text-align: center; width: 148px; height: 32px; margin:0 5px;}
.form_mission_apply .btn_group .btn.btn_cancle { border:1px solid #d9d9d9; background: #fff; color:#222}
.form_mission_apply .btn_group .btn.btn_confirm { border:1px solid #666; background: #666; color:#fff}

.mobile .form_mission_apply .btn_group .btn { width: 120px;}