@charset "utf-8";

/************************************************************************
 * 파일명 : nurigoOpen.css
 * 설명 : 쇼핑지식 > 누리GO 오픈 이벤트 CSS
 * 작성자  : 지승호
 * 작성일 : 2020.05.21
************************************************************************/

.event_conts{margin-top:0}
.mobile .event_conts{margin:0!important;border-top:0;border-left:0;border-right:0}

/* PC 컨텐츠 */
.evtzone_box_head {position:relative;height:310px;margin:0 0 16px;}
.evtzone_inner {width:100%;}
.evtzone_inner:after {content:"";display:table;clear:both;}
.evtzone_inner .com__btn_share {position:absolute;top:10px;left:10px;width:45px;height:45px;opacity:.8;background:url(http://img.enuri.info/images/event/2020/newyear_pro/ico_share.png) no-repeat 50% 50%;background-size:45px;text-indent:-9999em;z-index:20}
.evtzone_inner .com__btn_share:hover {opacity:1;}
.evtzone_inner .evtzone_imgs {float:left;width:398px;height:310px;margin-right:32px;}
.evtzone_inner .evtzone_imgs a {display:block;overflow:hidden;}
.evtzone_inner .evtzone_imgs a img {width:100%;height:auto;-webkit-transition:all .2s ease-out;-ms-transition:all .2s ease-out;transition:all .2s ease-out;image-rendering:-webkit-optimize-contrast}
.evtzone_inner .evtzone_info {float:left;width:386px;}
.evtzone_inner .evtzone_info dl dt {margin-bottom:19px;padding:48px 0 18px;border-bottom:1px solid #ececec;}
.evtzone_inner .evtzone_info dl dt .evtzone_tit {display:block;position:relative;width:100%;margin-bottom:3px;font-weight:bold;font-size:22px;color:#222;line-height:30px;letter-spacing:-1px;}
.evtzone_inner .evtzone_info dl dt .evtzone_tit:before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition:.3s all ease-out;-o-transition:.3s all ease-out;transition:.3s all ease-out;z-index:0;background-color:#009aff;-webkit-transform:scaleX(0);-ms-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;opacity:.1;}
.evtzone_inner:hover .evtzone_imgs a img {-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05);}
.evtzone_inner:hover .evtzone_info dl dt .evtzone_tit:before {-webkit-transform:scaleX(1);-ms-transform:scaleX(1);transform:scaleX(1);opacity:.15;}

/* 특가이벤트 > 상품 정보 */
.evtzone_inner .evtzone_info dl dt .evtzone_price {display:inline;}
.evtzone_inner .evtzone_info dl dt .evtzone_price .precent {display:inline;font-size:32px;color:#00a7ee;line-height:36px;vertical-align:top;}
.evtzone_inner .evtzone_info dl dt .evtzone_price .precent em {font-weight:bold;}
.evtzone_inner .evtzone_info dl dt .evtzone_price .price {display:inline;margin-left:3px;font-weight:bold;font-size:24px;color:#222;line-height:36px;vertical-align:top;}
.evtzone_inner .evtzone_info dl dt .evtzone_price .price em {font-weight:bold;font-size:32px;vertical-align:-2px;letter-spacing:-2px;}
.evtzone_inner .evtzone_info dl dt .evtzone_price .price s {position:relative;top:4px;font-weight:normal;font-size:16px;color:#969696;line-height:36px;vertical-align:bottom;letter-spacing:-1px;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail {margin-bottom:25px;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail:after {content:"";display:table;clear:both;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail li {float:left;position:relative;padding-right:13px;margin-right:12px;font-size:14px;color:#666;line-height:22px;vertical-align:middle;letter-spacing:-1px;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail li:nth-child(-n+2) {margin-bottom:4px;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail li:nth-child(odd):after {content:"";position:absolute;top:5px;right:0;width:1px;height:14px;line-height:22px;vertical-align:middle;background-color:#e9e9e9;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail li:last-child:after {display:none;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail li:nth-child(3) {clear:both;}
.evtzone_inner .evtzone_info dl dd .evtzone_detail li span {display:inline-block;margin-right:5px;color:#333;}
.evtzone_inner .evtzone_info .btn_group {display:block;overflow:hidden;clear:both;}
.evtzone_inner .evtzone_info .btn_group .btn {float:left;position:relative;width:186px;height:42px;border:1px solid #d9d9d9;font-size:18px;line-height:40px;color:#222;vertical-align:middle;text-align:center;letter-spacing:-1px;}
.evtzone_inner .evtzone_info .btn_group .btn:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
.evtzone_inner .evtzone_info .btn_group .btn.buy {margin-left:10px;border-color:#00a7ee;color:#fff;background-color:#00a7ee;cursor:pointer;}
.evtzone_inner .evtzone_info .btn_group .btn.buy:hover {background-color:#00a1e5;}
.evtzone_inner .evtzone_info .btn_group .btn.ready {margin-left:10px;color:#fff;border-color:#b9b9b9;background-color:#b9b9b9;}
.evtzone_inner .evtzone_info .btn_group .btn.end {margin-left:10px;color:#fff;border-color:#b9b9b9;background-color:#b9b9b9;}
.evtzone_inner .evtzone_info .btn_group.btn_group-one .btn {display:block;float:none;position:relative;width:100%;height:44px;margin-left:0;border:0;line-height:42px;}

/* 체험단 > 정보 */
.evtzone_inner .expgroup_info {float:left;width:386px;}
.evtzone_inner .expgroup_info dl dt {margin-bottom:19px;padding:30px 0 36px;border-bottom:1px solid #ececec;}
.evtzone_inner .expgroup_info dl dt .tx_date {display:block;font-size:14px;letter-spacing:-.5px;line-height:20px;color:#999}
.evtzone_inner .expgroup_info dl dt .expgroup_tit {display:block;position:relative;width:100%;margin-bottom:3px;font-weight:bold;font-size:22px;color:#222;line-height:30px;letter-spacing:-1px;}
.evtzone_inner .expgroup_info dl dt .expgroup_tit:before {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;-webkit-transition:.3s all ease-out;-o-transition:.3s all ease-out;transition:.3s all ease-out;z-index:0;background-color:#009aff;-webkit-transform:scaleX(0);-ms-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;opacity:.1;}
.evtzone_inner .expgroup_info dl dt .evtzone_price {display:inline;}
.evtzone_inner .expgroup_info dl dt .evtzone_price .precent {display:inline;font-size:32px;color:#00a7ee;line-height:36px;vertical-align:top;}
.evtzone_inner .expgroup_info dl dt .evtzone_price .precent em {font-weight:bold;}
.evtzone_inner .expgroup_info dl dt .evtzone_price .price {display:inline;margin-left:3px;font-weight:bold;font-size:24px;color:#222;line-height:36px;vertical-align:top;}
.evtzone_inner .expgroup_info dl dt .evtzone_price .price em {font-weight:bold;font-size:32px;vertical-align:-2px;letter-spacing:-2px;}
.evtzone_inner .expgroup_info dl dt .evtzone_price .price s {position:relative;top:4px;font-weight:normal;font-size:16px;color:#969696;line-height:36px;vertical-align:bottom;letter-spacing:-1px;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail {margin-bottom:25px;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail:after {content:"";display:table;clear:both;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail li {float:left;position:relative;padding-right:13px;margin-right:12px;font-size:14px;color:#666;line-height:22px;vertical-align:middle;letter-spacing:-1px;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail li:nth-child(-n+2) {margin-bottom:4px;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail li:nth-child(odd):after {content:"";position:absolute;top:5px;right:0;width:1px;height:14px;line-height:22px;vertical-align:middle;background-color:#e9e9e9;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail li:last-child:after {display:none;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail li:nth-child(3) {clear:both;}
.evtzone_inner .expgroup_info dl dd .evtzone_detail li span {display:inline-block;margin-right:5px;color:#333;}
.evtzone_inner .expgroup_info .btn_group {display:block;overflow:hidden;clear:both;}
.evtzone_inner .expgroup_info .btn_group .btn {float:left;position:relative;width:186px;height:42px;border:1px solid #d9d9d9;font-size:18px;line-height:40px;color:#222;vertical-align:middle;text-align:center;letter-spacing:-1px;}
.evtzone_inner .expgroup_info .btn_group .btn:after {content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;}
.evtzone_inner .expgroup_info .btn_group .btn.buy {margin-left:10px;border-color:#00a7ee;color:#fff;background-color:#00a7ee;cursor:pointer;}
.evtzone_inner .expgroup_info .btn_group .btn.buy:hover {background-color:#00a1e5;}
.evtzone_inner .expgroup_info .btn_group .btn.ready {margin-left:10px;color:#fff;border-color:#b9b9b9;background-color:#b9b9b9;}
.evtzone_inner .expgroup_info .btn_group .btn.end {margin-left:10px;color:#fff;border-color:#b9b9b9;background-color:#b9b9b9;}
.evtzone_inner .expgroup_info .btn_group.btn_group-one .btn {display:block;float:none;position:relative;width:100%;height:44px;margin-left:0;border:0;line-height:42px;}

.evtzone_notice {padding:38px 104px 38px;background-color:#fafafa;}
.evtzone_notice dl dt {margin-bottom:6px;font-weight:bold;font-size:14px;color:#666;}
.evtzone_notice dl dd ol li {margin-left:15px;font-size:14px;color:#666;line-height:20px;list-style:decimal;letter-spacing:-1px;word-break:keep-all;}
.mobile .evtzone_notice dl dd ol li br{display:none}

.evtzone_article {padding:40px 48px 140px;}
.evtzone_article img {max-width:100% !important;min-height:200px;height:auto;}

/* MO 컨텐츠 */
.mobile #SubWrap .grid_box.evtzone_box_head,
.mobile #SubWrap .grid_box.evtzone_box_cont {margin:0;box-shadow:none;border:0;} /* 그리드 해제 */
.mobile .evtzone_box_head {height:auto;border-bottom:1px solid #e2e2e2 !important;}
.mobile .evtzone_box_head .com__btn_share{top:10px;width:38px;height:38px;background-size:38px;}
.mobile .evtzone_inner .evtzone_imgs {float:none;width:100%;height:auto;margin-right:0;}
.mobile .evtzone_inner .evtzone_info {float:none;width:calc(100% - 44px);padding:20px 22px;}
.mobile .evtzone_inner .evtzone_info dl dt {margin-bottom:13px;padding:0 0 10px;}
.mobile .evtzone_inner .evtzone_info dl dt .evtzone_tit {font-size:16px;color:#343434;line-height:24px;}
.mobile .evtzone_inner .evtzone_info dl dt .evtzone_price .precent {position:relative;top:2px;font-size:22px;}
.mobile .evtzone_inner .evtzone_info dl dt .evtzone_price .price {font-size:16px;}
.mobile .evtzone_inner .evtzone_info dl dt .evtzone_price .price em {font-size:22px;vertical-align:-1px;letter-spacing:-1px;}
.mobile .evtzone_inner .evtzone_info dl dt .evtzone_price .price s {top:0;margin-left:3px;font-size:13px;}
.mobile .evtzone_inner .evtzone_info dl dd .evtzone_detail {margin-bottom:0;}
.mobile .evtzone_inner .evtzone_info dl dd .evtzone_detail li {padding-right:16px;margin-right:14px;font-size:12px;line-height:20px;}
.mobile .evtzone_inner .evtzone_info dl dd .evtzone_detail li:nth-child(-n+2) {margin-bottom:0;}
.mobile .evtzone_inner .evtzone_info dl dd .evtzone_detail li:nth-child(odd):after {top:3px;height:12px;line-height:20px;}
.mobile .evtzone_inner .evtzone_info .btn_group {position:fixed;bottom:0;left:0;right:0;width:100%;background-color:#fff;z-index:1000;}
.mobile .evtzone_inner .evtzone_info .btn_group .btn {width:50%;height:40px;border:0;font-size:14px;color:#343434;}
.mobile .evtzone_inner .evtzone_info .btn_group .btn.buy {margin-left:0;color:#fff;}
.mobile .evtzone_inner .evtzone_info .btn_group .btn.ready {margin-left:0;color:#fff;}
.mobile .evtzone_inner .evtzone_info .btn_group .btn.end {margin-left:0;color:#fff;}
.mobile .evtzone_inner .evtzone_info .btn_group.btn_group-one .btn {display:block;width:100%;height:44px;}

.mobile .evtzone_notice {padding:25px 18px;background-color:#f7f7f7;}
.mobile .evtzone_notice dl {opacity:.7;}
.mobile .evtzone_notice dl dt {margin-bottom:0;font-size:11px;line-height:17px;}
.mobile .evtzone_notice dl dd ol li {margin-left:10px;font-size:11px;line-height:17px;}

.mobile .evtzone_article {padding:35px 8px 60px;}
.mobile .evtzone_article img {max-width:100% !important;min-height:200px;height:auto;}

/* 게시판 */
.evt__board{margin:0 16px 72px;}
.mobile .evt__board{margin:0}
.mobile .evt__board .m_reply__board{width:100%;margin:0 auto}
.mobile .evt__board .m_reply__board .contents {padding:0 10px;}

.reply__head{height:334px;margin-bottom:45px;background:url(http://img.enuri.info/images/knowcom/nurigo_open/w_evt_03.jpg) no-repeat 0 0;text-indent:-9999em}
.mobile .reply__head{height:242px;margin-bottom:0;background:url(http://img.enuri.info/images/knowcom/nurigo_open/m_evt_03.jpg) no-repeat 50% 0;background-size:360px;}

/* 글쓰기 - 룰렛에서 가져옴 */
.reply__board {clear:both;text-align:left}
.reply__board .reply__write {overflow:hidden; position:relative; width:100%; margin-bottom:14px;}
.reply__board .reply__write .txt_area {float:left; width:660px; height:94px; padding:14px 23px 13px; border-radius:3px; border:1px solid #d9d9d9; font-size:14px; line-height:21px; color:#333; letter-spacing:-1px; box-sizing:border-box; resize:none; -webkit-box-shadow:1px 2px 0px 0px rgba(231,231,231,1); -moz-box-shadow:1px 2px 0px 0px rgba(231,231,231,1); box-shadow:1px 2px 0px 0px rgba(231,231,231,1);}
.reply__board .reply__write .btn.regist {float:right; width:149px; height:96px; margin-right:3px; border:0; font-size:0; text-indent:-9999px; outline:0; background:url(http://img.enuri.info/images/knowcom/renew_grade/pc_replyevt_btn.png) no-repeat;}
.reply__board .reply__write .curr {position:absolute; bottom:8px; right:180px; font-family:"돋움", Dotum, sans-serif; font-size:13px; color:#989898; line-height:20px; letter-spacing:-.5px;}
.reply__board .reply__write .curr span {margin-right:2px; color:#3b6fd8;}

.reply__board .reply__list {width:811px; margin:0 auto 20px 1px; padding:0;}
.reply__board .reply__list ul li {padding:11px 22px 14px; border-bottom:1px solid #eee;}
.reply__board .reply__list ul li .user {display:block; margin:0 0 1px; font-weight:bold; font-size:14px; color:#272727; line-height:20px;}
.reply__board .reply__list ul li .date {display:inline-block; margin-left:3px; font-weight:normal; font-size:13px; color:#999; vertical-align:-2px; letter-spacing:-1px;}
.reply__board .reply__list ul li .cont {font-size:14px; color:#272727; line-height:20px;}
.reply__board .reply__list ul li.reply__divide {position:relative; width:100%; height:69px; padding:0; border-radius:3px; border-bottom:0; background-color:#e3ecff;}
.reply__board .reply__list ul li.reply__divide:before {position:absolute; top:-1px; width:100%; height:1px; background-color:red;}
.reply__board .reply__list ul li.reply__divide .endtxt {padding:17px 0 22px; font-weight:bold; font-size:16px; color:#333; line-height:30px; text-align:center; vertical-align:middle;}
.reply__board .reply__list ul li.reply__divide .endtxt i {display:inline-block; width:49px; height:24px; margin-right:5px; font-size:0; text-indent:-9999px; vertical-align:middle; background:url(http://img.enuri.info/images/knowcom/slotevt/pc_icon_divide.png) no-repeat;}

.reply__board .paging {display:block; position:relative; width:100%; margin-bottom:20px; padding:0; text-align:center;}
.reply__board .paging .btn {display:inline-block; overflow:hidden; position:relative; width:33px; height:33px; border:1px solid #c6cace; background:url(http://img.enuri.info/images/event/2017/workers/paging_arrow2.png) no-repeat;}
.reply__board .paging .btn.prev {background-position:-33px 0;}
.reply__board .paging .btn.next {background-position:0 -33px;}
.reply__board .paging .btn.first {background-position:0 0;}
.reply__board .paging .btn.last {background-position:-33px -33px;}
.reply__board .paging .list {display:inline-block; text-align:center; vertical-align:top;}
.reply__board .paging .list li {display:inline-block; margin:0 1px;}
.reply__board .paging .list li a {display:inline-block; width:33px; height:33px; padding-top:0; font:bold 14px/33px Arial, sans-serif; color:#323232; vertical-align:middle; border:1px solid #ccc; background-color:#fcfcfc;}
.reply__board .paging .list li a:hover,
.reply__board .paging .list li a.selected {border-color:#323232; color:#3b6fd8; background-color:#fff;}

.mobile .m_reply__board {clear:both;text-align:left}
.mobile .m_reply__board .reply__write {position:relative; width:calc(100% - 20px); margin:0 10px;}
.mobile .m_reply__board .reply__write .input {overflow:hidden; position:relative;}
.mobile .m_reply__board .reply__write .input #touchBox {display:block; position:absolute; top:0; left:0; z-index:1000; width:100%; height:100%; font-size:0; text-indent:-9999px;}
.mobile .m_reply__board .reply__write .input .txt_area {float:left; width:calc(100% - 60px); height:48px; padding:6px 9px; border-radius:3px; border-top-right-radius:0; border-bottom-right-radius:0; border:1px solid #d9d9d9; border-right:0; font-size:12px; line-height:16px; color:#333; letter-spacing:-1px; resize:none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-appearance:none; -webkit-appearance:none; appearance:none; outline:0;}
.mobile .m_reply__board .reply__write .input .btn.regist {display:inline; float:right; width:60px; height:48px; border:0; font-size:0; text-indent:-9999px; outline:0; background:url(http://img.enuri.info/images/knowcom/slotevt/m_replyevt_btn.png) no-repeat; background-size:60px;}
.mobile .m_reply__board .reply__write .input .curr {position:absolute; bottom:4px; right:65px; font-size:11px; color:#999; line-height:1; box-shadow:none;}
.mobile .m_reply__board .reply__write .input .curr span {color:#3b6fd8;}

/* 로그인 후 */
.mobile .m_reply__board .reply__write .input.login {position:relative;}
.mobile .m_reply__board .reply__write .input.login .box1 {overflow:hidden; clear:both; width:calc(100% - 22px); padding:10px; border:1px solid #d9d9d9; background-color:#fff;}
.mobile .m_reply__board .reply__write .input.login .box1 .user {margin-bottom:10px; font-weight:bold; font-size:13px; color:#272727;}
.mobile .m_reply__board .reply__write .input.login .box1 .txt_area {width:100%; height:70px; padding:0; border:0; outline:0; resize:none; font-size:12px; color:#333; line-height:16px;}
.mobile .m_reply__board .reply__write .input.login .box1 .txt_area:focus {color:#000}
.mobile .m_reply__board .reply__write .input.login .box2 {overflow:hidden; clear:both; border:1px solid #d9d9d9; border-top:0; background-color:#fff;} 
.mobile .m_reply__board .reply__write .input.login .box2 .word_num {float:left; width:calc(100% - 76px); padding:0 8px; font-size:11px; color:#999; text-align:right; line-height:48px; vertical-align:middle;}
.mobile .m_reply__board .reply__write .input.login .box2 .word_num span {color:#3b6fd8;}
.mobile .m_reply__board .reply__write .input.login .box2 .btn.regist {width:60px; height:48px; border:0; outline:0; background-position:0 0;}

.mobile .m_reply__board .reply__list {width:100%; margin:0 0 20px; padding:0;}
.mobile .m_reply__board .reply__list ul li {padding:5px 0 10px; border-bottom:1px solid #eee;}
.mobile .m_reply__board .reply__list ul li .user {display:block; margin:0 0 1px; font-family:sans-serif; font-weight:bold; font-size:13px; color:#272727; line-height:20px;}
.mobile .m_reply__board .reply__list ul li .date {display:inline-block; margin-left:3px; font-family:sans-serif; font-weight:normal; font-size:11px; color:#989898; vertical-align:0; letter-spacing:-1px;}
.mobile .m_reply__board .reply__list ul li .cont {font-family:sans-serif; font-size:12px; color:#343235; line-height:17px;}
.mobile .m_reply__board .reply__list ul li.reply__divide {position:relative; width:100%; height:63px; padding:0; border-bottom:0; background-color:#e3ecff;}
.mobile .m_reply__board .reply__list ul li.reply__divide:before {content:""; display:block; position:absolute; top:-1px; width:100%; height:1px; background-color:#fff;}
.mobile .m_reply__board .reply__list ul li.reply__divide .endtxt {display:block; overflow:hidden; padding:16px 10px 18px; font-weight:bold; font-size:18px; color:#343235; line-height:29px; text-align:center; vertical-align:middle; letter-spacing:-1px; text-overflow:ellipsis; white-space:nowrap;}
.mobile .m_reply__board .reply__list ul li.reply__divide .endtxt i {display:inline-block; width:55px; height:24px; margin-right:5px; font-size:0; text-indent:-9999px; vertical-align:4px; background:url(http://img.enuri.info/images/knowcom/slotevt/m_icon_divide.png) no-repeat; background-size:55px;}

.mobile .m_reply__board .paging {display:block; position:relative; width:100%; margin-bottom:30px; padding:0; text-align:center;}
.mobile .m_reply__board .paging .btn {display:inline-block; overflow:hidden; position:relative; width:29px; height:29px; border:1px solid #c6cace; background:url(http://img.enuri.info/images/event/2017/workers/paging_arrow2.png) -2px -2px no-repeat;}
.mobile .m_reply__board .paging .btn.prev {background-position:-35px -2px;}
.mobile .m_reply__board .paging .btn.next {background-position:-2px -34px;}
.mobile .m_reply__board .paging .list {display:inline-block; text-align:center; vertical-align:top;-webkit-transform:scale(.8);-ms-transform:scale(.8);-o-transform:scale(.8);-moz-transform:scale(.8);transform:scale(.8)}
.mobile .m_reply__board .paging .list li {display:inline-block; margin:0 2px;}
.mobile .m_reply__board .paging .list li a {display:inline-block; width:29px; height:29px; padding-top:0; font:bold 17.5px/31px Arial, sans-serif; color:#616161; vertical-align:middle; border:1px solid #ccc; background-color:#fcfcfc;}
.mobile .m_reply__board .paging .list li a:hover,
.mobile .m_reply__board .paging .list li a.selected {border-color:#323232; color:#3b6fd8; background-color:#fff;}

/* 레이어 */
.evt__layer{position: absolute;top:0;left:0;width:846px;height:100%;z-index: 10;background:rgba(0,0,0,.8);display:none}
.mobile .evt__layer{width:100%}

.evt__layer .evt__layer_inner{position:absolute;width:520px;left:50%;transform:translateX(-50%);background-color:#fff;}
.evt__layer .evt__layer_inner .lay_head{padding:20px;height:40px;font-size:18px;letter-spacing:-2px;color:#222;line-height:40px;background-color:#f5f5f5;text-align:center}
.evt__layer .evt__layer_inner .lay_head em{font-size:20px;font-weight:bold;display:inline-block;position: relative;}
.evt__layer .evt__layer_inner .lay_head em:after{content:"";position: absolute;bottom:5px;left:0;right:0;border-bottom:2px solid #222;}
.evt__layer .evt__layer_inner .lay_cnt{text-align:left;font-size:14px;line-height:20px;letter-spacing:-1px;color:#888;padding:26px 30px 30px}
.evt__layer .evt__layer_inner .evt__btn_lay_close{border:0;outline:none;width:22px;height:22px;background:url(http://img.enuri.info/images/knowcom/renew_grade/btn_close.png) no-repeat 0 0 transparent;position: absolute;top:-30px;right:0;text-indent:-9999em}
.evt__layer .evt__layer_inner dt{color:#444444;font-weight:bold;}
.evt__layer .evt__layer_inner dd{margin-bottom:12px}
.evt__layer .evt__layer_inner dd ul li{padding-left:18px;position: relative;}
.evt__layer .evt__layer_inner dd ul li:before{content:"-";position: absolute;top:0;left:0;}

.evt__lay_notice .evt__layer_inner {top:1312px}

.mobile .evt__layer_inner{position:fixed;top:50%;width:90%;max-width:520px;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.mobile .evt__layer_inner .lay_head{padding:20px 0}
