/* 언박싱특가 */
.ubx{text-align:center;padding:16px}
.ubx .visual{background-color:#5f3fd3}
.ubx .ubx_cnt{padding-bottom:60px}
.ubx .date_noti{line-height:28px;padding:12px 0;background-color:#97959e;text-align:center}
.ubx .noti_wrap{display:inline-block;}
.ubx .date_noti dl{display:block;letter-spacing:-1.2px;text-align:left}
.ubx .date_noti dl dt,
.ubx .date_noti dl dd{display:inline-block;font-size:18px;font-weight: bold}
.ubx .date_noti .evt_date{color:#d6e853}
.ubx .date_noti .ann_date{color:#ffffff}
.ubx .deal{padding-top:60px;width:500px;margin:0 auto}
.ubx .deal .img{width:500px;height:500px;position: relative;overflow:hidden}
.ubx .deal .img img{width:100%;height:100%}
.ubx .deal .img .tag{width:142px;height:142px;padding:0 28px 28px 0;position: absolute;top:0;left:0;background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_sprite.png);background-position:0 0;color:#5f3fd3;font-weight:bold;line-height:22px;font-size:22px;z-index: 1}
.ubx .deal .img .num_rate{height:48px;line-height:46px;font-size:32px;display:block;margin-top:36px;letter-spacing: -1px}
.ubx .deal .img .num_rate em{font-size:52px;vertical-align: -1px}
.ubx .deal .img .dim{position: absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(255,255,255,.6);z-index: 2;text-indent:-9999em;background-position:50% 50%;background-repeat:no-repeat}
.ubx .deal .img .lay_apply_end{background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_apply_end.png)}
.ubx .deal .img .lay_apply_fin{background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_apply_finish.png)}
.ubx .deal .img .lay_end{background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_end.png)}
.ubx .deal .img .lay_ready{background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_ready.png)}
.ubx .deal .img .lay_soldout{background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_soldout.png)}
.ubx .deal .info > span{display:block;padding:0 20px;position:relative;letter-spacing: -2px}
.ubx .deal .info .deal_tit{color:#0d0d0d;font-size:30px;height:70px;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;white-space:nowrap;border-bottom:2px solid #e3e3e3;line-height:68px;font-weight:bold;}
.ubx .deal .info .deal_lowest{height:47px;border-bottom:1px solid #e3e3e3;text-align:right;line-height:45px;font-size:20px;color:#aaaaaa}
.ubx .deal .info .deal_lowest del{letter-spacing:0;font-size:24px;vertical-align: -2px}
.ubx .deal .info .deal_price{height:72px;text-align:right;line-height:70px;font-size:22px;color:#5f3fd3;font-weight: bold}
.ubx .deal .info .deal_price strong{letter-spacing:-1px;font-size:36px;vertical-align: -5px}
.ubx .deal .info .txt_tit{position: absolute;top:0;left:0;height:100%;padding-left:20px;text-align:left}
.ubx .deal .info .txt_sub{font-size:14px;letter-spacing: -1px;vertical-align: 1px}
.ubx .deal .info .btn_deal_vip{display:block;height:40px;padding:14px 0;border:2px solid #5f3fd3;color:#5f3fd3}
.ubx .deal .info .btn_deal_vip .btn_txt{display:inline-block;padding-right:26px;position: relative;line-height:36px;font-size:20px;font-weight: bold;letter-spacing: -2px}
.ubx .deal .info .btn_deal_vip .btn_txt:after{content:"";position: absolute;top:11px;right:0;width:12px;height:18px;background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_sprite.png);background-position:-210px -50px}
.ubx .deal .info .btn_deal_vip.disabled{border-color:#97959e !important;color:#97959e !important;opacity:.5}
.ubx .deal .info .btn_deal_vip.disabled .btn_txt{}
.ubx .deal .info .btn_deal_vip.disabled .btn_txt:after{background-position:-210px -130px}
.ubx .deal .btn_group{width:100%;overflow:hidden;margin-top:20px}
.ubx .deal .btn_group > a{display:block;width:245px;height:72px;line-height:68px;border-radius:6px 6px;color:#fff;font-size:24px;letter-spacing: -2px;float:right}
.ubx .deal .btn_group .btn_apply{background-color:#5f3fd3;}
.ubx .deal .btn_group .btn_confirm{background-color:#f75624}
.ubx .deal .btn_group > a.disabled{background-color:#97959e}
.ubx .deal .btn_group > a:first-of-type{float:left}
.ubx .deal_noti{margin-top:60px;background-color:#f7f7f7;padding:53px 87px 56px;color:#434343;text-align:left;letter-spacing: -1px}
.ubx .deal_noti .txt_tit{font-size:18px;color:#1b1b1b;font-weight:bold;line-height:1.8;}
.ubx .deal_noti ol{padding-left:20px;}
.ubx .deal_noti ol li{font-size:16px;line-height:1.5;text-indent:-18px}
.ubx .deal_winner{border-top:2px solid #1b1b1b;padding:40px 0 38px;color:#1b1b1b;letter-spacing: -1px}
.ubx .deal_winner .txt_tit,
.ubx .deal_winner .txt_sub{display:block;font-weight: bold}
.ubx .deal_winner .txt_tit{line-height:1.4;font-size:28px;}
.ubx .deal_winner .txt_sub{line-height:1.6;font-size:20px}
.ubx .deal_winner .txt_sub > span{display:inline-block;padding:0 12px}
.ubx .deal_winner .txt_sub .txt_user{color:#ff4d4d}
.ubx .deal_mv{width:814px;height:448px;position:relative}
.ubx .deal_mv iframe{width:100%;height:100%}

.mobile .ubx{padding:8px}
.mobile .ubx .visual img{width:100%;max-width:324px}
.mobile .ubx .date_noti{padding:8px 0;line-height:18px;letter-spacing: 0}
.mobile .ubx .date_noti dl dt,
.mobile .ubx .date_noti dl dd{font-size:13px}
.mobile .ubx .deal{padding-top:30px;width:250px}
.mobile .ubx .deal .img{width:250px;height:250px}
.mobile .ubx .deal .tag{width:71px;height:71px;padding:0 14px 14px 0;background-size:115px;font-size:12px;line-height:12px}
.mobile .ubx .deal .img .num_rate{height:24px;line-height:24px;font-size:16px;margin-top:18px;}
.mobile .ubx .deal .img .num_rate em{font-size:26px}
.mobile .ubx .deal .img .dim{background-size:130px}
.mobile .ubx .ubx_cnt{padding-bottom:30px}
.mobile .ubx .deal .info > span{letter-spacing: -.5px;padding:0 10px}
.mobile .ubx .deal .info .deal_tit{font-size:18px;height:50px;line-height:50px;padding-left:10px}
.mobile .ubx .deal .info .deal_lowest{height:48px;font-size:13px;line-height:48px}
.mobile .ubx .deal .info .deal_lowest .txt_tit{line-height:17px;height:34px;padding-top:7px}
.mobile .ubx .deal .info .deal_lowest .txt_sub{display:block;font-size:10px}
.mobile .ubx .deal .info .deal_lowest del{font-size:16px}
.mobile .ubx .deal .info .deal_price{height:48px;font-size:14px;line-height:48px;}
.mobile .ubx .deal .info .deal_price strong{font-size:24px;vertical-align: -2px}
.mobile .ubx .deal .info .txt_tit{padding-left:10px}
.mobile .ubx .deal .info .btn_deal_vip{border-width:1px;padding:10px 0;height:20px;}
.mobile .ubx .deal .info .btn_deal_vip .btn_txt{font-size:13px;line-height:20px;letter-spacing: -1px;padding-right:20px}
.mobile .ubx .deal .info .btn_deal_vip .btn_txt:after{background-size:115px;background-position:-85px -25px;width:20px;height:20px;top:0;right:0}
.mobile .ubx .deal .info .btn_deal_vip.disabled .btn_txt:after{background-position:-85px -65px}
.mobile .ubx .deal .btn_group{margin-top:10px}
.mobile .ubx .deal .btn_group > a{width:123px;height:41px;line-height:41px;font-size:16px;border-radius:3px 3px}
.mobile .ubx .deal_noti{margin-top:30px;padding:20px}
.mobile .ubx .deal_noti .txt_tit{font-size:13px;}
.mobile .ubx .deal_noti ol{padding-left:16px}
.mobile .ubx .deal_noti ol li{font-size:12px;text-indent:-12px;word-break: keep-all}
.mobile .ubx .deal_winner{padding:24px 0}
.mobile .ubx .deal_winner .txt_sub > span{padding:0 6px}
.mobile .ubx .deal_winner .txt_tit{font-size:19px;}
.mobile .ubx .deal_winner .txt_sub{font-size:15px}
.mobile .ubx .deal_mv{width:100%;height:0;padding-top:55%;}
.mobile .ubx .deal_mv iframe{position: absolute;top:0;left:0}

/* 레이어 */
.ubx_layer{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,.9);z-index: 1000;text-align:center}
.ubx_lay_in{position: absolute;top:50%;left:50%;width:500px;height:544px;-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%);}
.ubx_lay_in .btn_lay_close{position: absolute;top:-50px;right:0;width:50px;height:50px;background:url(http://img.enuri.info/images/knowcom/unboxing/unbox_sprite.png) no-repeat -170px 0;text-indent:-9999em}
.ubx_lay_in .lay_tit{display:block;margin-top:49px}
.ubx_lay_in .lay_cnt{height:266px;width:362px;margin:-5px auto 60px}
.ubx_lay_in .lay_txt{color:#fff;font-size:28px;letter-spacing: -1px}
.ubx_lay_in .btn_order{display:block;height:40px;padding:16px 0;color:#fff;background-color:#5f3fd3;-webkit-box-shadow: 5px 10px 10px rgba(0,0,0,.1);box-shadow: 5px 10px 10px rgba(0,0,0,.1)}
.ubx_lay_in .btn_order .btn_txt{display:inline-block;padding-right:30px;position: relative;line-height:36px;font-size:24px;letter-spacing: -2px;}
.ubx_lay_in .btn_order .btn_txt em{font-weight: bold}
.ubx_lay_in .btn_order .btn_txt:after{content:"";position: absolute;top:0;right:0;width:40px;height:40px;background-image:url(http://img.enuri.info/images/knowcom/unboxing/unbox_sprite.png);background-position:-170px -90px}
.ubx_lay_in.lay_drawing .btn_lay_close{display:none}
.ubx_lay_in.lay_drawing .lay_cnt{position:relative;}
.ubx_lay_in.lay_drawing .lay_cnt span{position: absolute;}
.ubx_lay_in.lay_drawing .lay_cnt .obj_box{bottom:0;left:0;width:100%;height:140px;background:url(http://img.enuri.info/images/knowcom/unboxing/unbox_obj_01.png) no-repeat 0 100%;z-index: 1}
.ubx_lay_in.lay_drawing .lay_cnt .obj_door_01{bottom:114px;left:20px;width:61px;height:61px;background:url(http://img.enuri.info/images/knowcom/unboxing/unbox_obj_02.png) no-repeat 0 0;-webkit-transform:rotate(135deg);-ms-transform:rotate(135deg);transform:rotate(135deg);-webkit-transform-origin:100% 90%;-ms-transform-origin:100% 90%;transform-origin:100% 90%}
.ubx_lay_in.lay_drawing .lay_cnt .obj_door_02{bottom:118px;right:70px;width:61px;height:61px;background:url(http://img.enuri.info/images/knowcom/unboxing/unbox_obj_02.png) no-repeat 0 0;-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg);-webkit-transform-origin:90% 90%;-ms-transform-origin:90% 90%;transform-origin:90% 90%;}
.ubx_lay_in.lay_drawing .lay_cnt .obj_deco{top:0;left:0;width:100%;height:140px;background:url(http://img.enuri.info/images/knowcom/unboxing/unbox_obj_03.png) no-repeat 0 0;-webkit-transform:scale(0);-ms-transform:scale(0);transform:scale(0);-webkit-transform-origin: 50% 100%;-ms-transform-origin: 50% 100%;transform-origin: 50% 100%}
.ubx_lay_in.lay_drawing .lay_cnt.play .obj_door_01{-webkit-animation:boxPlay1 1.8s infinite linear;animation:boxPlay1 1.8s infinite linear;}
.ubx_lay_in.lay_drawing .lay_cnt.play .obj_door_02{-webkit-animation:boxPlay2 1.8s infinite linear;animation:boxPlay2 1.8s infinite linear;}
.ubx_lay_in.lay_drawing .lay_cnt.play .obj_deco{-webkit-animation:boxPlay3 1.8s infinite ease-out;animation:boxPlay3 1.8s infinite ease-out;}

@-webkit-keyframes boxPlay1 {	
	0%{-webkit-transform:rotate(135deg);transform:rotate(135deg);opacity:1}
	50%,80% {-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
	90% {-webkit-transform:rotate(0);transform:rotate(0);opacity:0}
	100%{-webkit-transform:rotate(135deg);transform:rotate(135deg);opacity:0}
}

@keyframes boxPlay1 {	
	0%{-webkit-transform:rotate(135deg);transform:rotate(135deg);opacity:1}
	50%,80% {-webkit-transform:rotate(0);transform:rotate(0);opacity:1}
	90% {-webkit-transform:rotate(0);transform:rotate(0);opacity:0}
	100%{-webkit-transform:rotate(135deg);transform:rotate(135deg);opacity:0}
}

@-webkit-keyframes boxPlay2 {	
	0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:1}
	50%,80% {-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:1}
	90% {-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}
	100%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}
}

@keyframes boxPlay2 {	
	0%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:1}
	50%,80% {-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:1}
	90% {-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}
	100%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0}
}

@-webkit-keyframes boxPlay3 {	
	0%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:1}
	60%,80% {-webkit-transform:scale(1);transform:scale(1);opacity:1}
	90% {-webkit-transform:scale(1);transform:scale(1);opacity:0}
	100%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
}

@keyframes boxPlay3 {	
	0%,40%{-webkit-transform:scale(0);transform:scale(0);opacity:1}
	60%,80% {-webkit-transform:scale(1);transform:scale(1);opacity:1}
	90% {-webkit-transform:scale(1);transform:scale(1);opacity:0}
	100%{-webkit-transform:scale(0);transform:scale(0);opacity:0}
}

.mobile .ubx_lay_in{-webkit-transform:translate(-50%,-50%) scale(.6);-ms-transform:translate(-50%,-50%) scale(.6);transform:translate(-50%,-50%) scale(.6)}
@media (min-width:768px){
	.mobile .ubx_lay_in{-webkit-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
}