@charset "utf-8";
/*!
 * product.css
 * enuri - 홈쇼핑 가격비교  
 * 상품상세 스타일 정의
 */

/*common*/
.sectionTit {padding:8px 0; font-size:16px; color:#343434; display:block; }
.sectionTit .ico_review,
.sectionTit .ico_info {margin-right:5px; vertical-align: top; position: relative;top: 2px;}
.spScComm {text-indent:-999px; overflow: hidden; background-image:url(../images/schedule/sp_comm.png); background-repeat:no-repeat; -webkit-background-size:150px auto; -moz-background-size:150px auto; background-size:150px auto}
.spScComm.icPlay {display:inline-block; width:43px; height:43px; background-position:-40px -60px; vertical-align:middle;}
.spScComm.icStop {display:inline-block; width:43px; height:43px; background-position:-85px -60; vertical-align:middle;}

/* 상품 상세 */ 
.onAirMov {padding:15px; display:block; }
.onAirMov.imgArea {padding:0px; display:block; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;} /* 20150812 update: 추가 */
.onAirMov.imgArea .noImg {width:100%; height:115px; background:url(../images/product/img_noOnAir.jpg) 0 0 no-repeat; background-size:cover;  }
.onAirMov.imgArea .onAirSlide {position:relative; padding:25px 35px 15px 35px; display:block; background:#fff;  }
.onAirMov.imgArea .onAirSlide .onAirImg {margin-bottom:25px; display:block; }
.onAirMov.imgArea .onAirSlide .onAirImg a,
.onAirMov.imgArea .onAirSlide .onAirImg img {width:100%; display:block; }
.onAirMov.imgArea .onAirSlide .badge {position:absolute; bottom:55px; right:50px; width:65px; height:65px; background:#000; opacity:0.7; text-align:center; border-radius:32px; z-index:1; display:none; }
.onAirMov.imgArea .onAirSlide .badge span {margin:16px 0; color:#fff; font-size:16px; line-height:1.0em; display:block;  }
.onAirMov.imgArea .onAirSlide .badge.active {display:block; }
.onAirMov.imgArea .onAirSlide .swiper-container-horizontal>.swiper-pagination {bottom:1px; height:11px; }
.onAirMov.imgArea .onAirSlide .swiper-pagination-bullet {background:#fff; }
.onAirMov.imgArea .onAirSlide .swiper-pagination-bullet-active {background:#fa5d50; }
.onAirMov .video {position:relative; width:100%; height:163px; overflow:hidden; background-size:cover; background-position:50%;}
.onAirMov .video > img {width:100%; display:block; }

.onAirMov .video .tbl {display:table; width:100%; }
.onAirMov .video .tbl > div {display:table-cell; vertical-align:middle; padding:19px}
.onAirMov .video .tbl .thumbImage {padding-right:0}
.onAirMov .video .tbl .thumbImage .img {display:block; width:125px; height:125px; margin:0 auto; overflow:hidden} /* 20150730 update: 추가 */
.onAirMov .video .tbl .thumbImage img {width:125px; display:block; margin:0 auto;}
.onAirMov .video .tbl .contArea {padding-left:0; padding-right:0; }
.onAirMov .video .tbl .contArea * {color:#fff}
.onAirMov .video .tbl .contArea .bx {width:110px; margin:0 auto;}
.onAirMov .video .tbl .contArea .bx .label {margin:0 auto;}
.onAirMov .video .tbl .contArea .bx .title {display:block; margin-top:20px; font-size:14px; line-height:24px;}  
.onAirMov .video > a {position:relative; display:block; height:100%; z-index:1}
.onAirMov .video .dimd {position:absolute; top:0; left:0; width:100%; height:100%; background:#000; opacity:0.6;}

.onAirCh {padding:0 15px; display:block; background:#fff; border-top:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8; }
.onAirCh .channel {width:100%; padding:12px 0; }
.onAirCh .channel:after {display:block; content:""; clear:both; }
.onAirCh .channel .logo {float:left; margin-left:15px; }
.onAirCh .channel .timer {float:right; margin-right:15px; font-size:12px; line-height:20px; color:#333;}
.onAirCh .channel .timer .label {margin-right:5px; padding:3px 5px; background:#fa5a52; color:#fff; font-size:8px; border-radius:4px; vertical-align:middle; }
.onAirCh .channel .timer .label02 {margin-right:5px; color:#333; font-size:12x;}
.onAirCh .channel .timer .date {margin-right:5px; color:#fa5a52; font-size:12x; }
.onAirCh .channel .timer strong {color:#fa5a52; }

.onAirProduct {background:#fff;}
.onAirProduct .title {padding:15px 15px 18px 15px; display:block; }
.onAirProduct .title .name {font-size:18px; color:#4b4b4b; word-break:break-all; } /* 20150810 modify */
.onAirProduct .title .salePriceArea {margin-top:5px; text-align:right;}
.onAirProduct .title .salePriceArea * {white-space:nowrap;}
.onAirProduct .title .salePriceArea .tbl {display:table; width:100%;}
.onAirProduct .title .salePriceArea .tbl-cell {text-align:right; margin-top:-6px;}
.onAirProduct .title .salePriceArea .free-delivery {width:76px; text-align:right}
/* .onAirProduct .title .salePriceArea > span {margin-right:9px; } */
.onAirProduct .title .monInsPlan {position: relative; top:-2px; }
.onAirProduct .title .salePriceArea .label {position:relative; padding:4px 17px 4px 10px; font-size:12px; color:#1a9aad; font-weight:bold; border:1px solid #2ab4c8; border-right:none; background:url(../images/product/bg_label.png) right 0 no-repeat; background-size:auto 100%; }
.onAirProduct .benefit {padding:5px 15px 8px 15px; display:block; }
.onAirProduct .benefit .listType01 {padding-left:22px; }
.onAirProduct .benefit .listType01 li {padding:7px 0; font-size:14px; }
.onAirProduct .benefit .listType01 li:first-child {padding-top:3px; }
.onAirProduct .benefit .listType01 li strong {color:#787878; }
.onAirProduct .benefit .listType01 li p {color:#333; }
.onAirProduct .detail {padding:5px 15px 15px 15px; display:block; }
.onAirProduct .viewArea {position:relative; width:100%; }
.onAirProduct .viewArea > img {width:100%; display:block; }
.onAirProduct .viewArea .mask {position:absolute; top:0; left:0; width:100%; height:150px; }
.onAirProduct .viewArea .mask a {position:absolute; top:25px; left:50%; margin-left:-30px; padding-top:33px; width:61px; height:28px;  background: linear-gradient(to left, #ff7c3c, #fa5a52 ); border-radius:60px; display:inline-block; z-index:1; text-align:center; color:#fff; letter-spacing:-0.1em;}
.onAirProduct .viewArea .mask a .ico_zoom {position:absolute; top:13px; left:50%; margin-left:-8px; }
.onAirProduct .viewArea .mask p {position:absolute; top:95px; left:0; width:100%; font-size:12px; color:#fff; text-align:center; z-index:1; }
.onAirProduct .viewArea .mask .dimd {position:absolute; top:0; left:0; width:100%; height:150px; background:#000; opacity:0.6; filter: alpha(opacity=60); }
.onAirProduct .soldOut {height:250px; display:block; background:url(../images/product/soldOut.jpg) 50% 50% no-repeat; background-size:290px auto; }

.elseProduct {padding:5px 15px 7px 15px; background:#ffffff; }
.elseProduct .productList {margin:0 auto; padding-bottom:1px; overflow:hidden; }
.elseProduct .productList ul:after {display:block; content:""; clear:both; }
.elseProduct .productList li {float:left; width:33.33%; /* width:93px; height:148px; */ background:#fff; border:1px solid #e2e2e2; box-shadow: 0px 1px 0px rgba(0, 0, 0, .1); }
.elseProduct .productList li .thumb {width:100%; height:93px; border-bottom:1px solid #eee; overflow:hidden; }
.elseProduct .productList li .thumb img {width:100%; height:auto; display:block; }
.elseProduct .productList li .info {padding:10px; display:block; text-align:center; letter-spacing:-0.1em; height: 46px;}
.elseProduct .productList li .info .title {font-size: 12px; color:#4b4b4b; line-height:14px; display:block; text-align:left; height: 28px; overflow: hidden}
.elseProduct .productList li .info .price {margin-top:2px; font-size: 14px; color:#ef463b; line-height:16px; display:inline-block; }
.elseProduct .productList li .info .price:after {margin-left:2px; content:'원'; font-size: 12px; vertical-align:middle;}
.elseProduct .productList .swiper-container {padding-bottom:34px; overflow:visible;}
/* 20150724 update */
.elseProduct .productList .swiper-ctrl {position:absolute; top:50%; left:0; width:100%; z-index:10;}
.elseProduct .productList .swiper-ctrl .prev {position:absolute; top:-59px; left:0;}
.elseProduct .productList .swiper-ctrl .next {position:absolute; top:-59px; right:0;}
.elseProduct .productList .swiper-ctrl button span {position:relative; width:25px; height:51px; display:block; text-indent:-999px; overflow:hidden; background:url(../images/product/btn_direction.png) no-repeat; -webkit-background-size:75px auto; -moz-background-size:75px auto; background-size:75px auto}
.elseProduct .productList .swiper-ctrl .prev span {background-position:0 0;}
.elseProduct .productList .swiper-ctrl .next span {background-position:100% 0;}
/* //20150724 update */

.onAirReview {padding:7px 15px 15px 15px; background:#fff; } /* 20150729 modify - 하단 여백 수정. */
.onAirReview .reviewList li {padding:10px 0; position:relative; border-top:1px solid #ddd;}
.onAirReview .reviewList li:first-child {border-top:none; }
.onAirReview .reviewList li a {display:block; }
.onAirReview .review {display:block; position:relative; min-height:67px;}
.onAirReview .review .imgArea {position:absolute; top:0; right:0; width:67px; height:67px; overflow:hidden;} /* 20150812 modify - overflow 추가 */
.onAirReview .review .imgArea img {width:67px; height:67px; } /* 20150812 modify - width,height 수정 */
.onAirReview .review .imgArea + .txtArea {margin-right:87px;min-height:45px;}
.onAirReview .review .txtArea .title {padding:5px 0; font-size:12px; font-weight:bold; color:#333; word-break:break-all;} /* 20150810 modify */ 
.onAirReview .review .txtArea .cont {padding:5px 0;font-size:12px font-weight:normal; color:#787878; }
.onAirReview .review .txtArea .register {padding:4px 0;font-size:10px font-weight:normal; color:#1a9aad; }
.onAirReview .review .txtArea .register span {padding:0 4px; border-left:1px solid #1a9aad; }
.onAirReview .review .txtArea .register span:first-child {padding-left:0; border:0; }
.onAirReview .reviewMore {margin:3px 0 10px 0; text-align:center; }
.onAirReview .reviewMore .btnArea {padding:9px 25px; font-size:12px; color:#555; border-radius:5px; border:1px solid #ddd; display:inline-block; }
.onAirReview .reviewMore .btnArea strong {color:#1a9aad; font-weight:normal; }
.reviewType01 {}
.reviewType01 .reviewList {border:none; }
.reviewType01 .reviewMore .btnArea {padding:0; width:100%; height:35px; line-height:35px; font-size:12px; color:#555; border-radius:5px; border:1px solid #ddd; display:block; }
.reviewType01 .reviewMore .btnArea .page {color:#787878; }
.reviewType01 .reviewMore .btnArea .page strong {color:#1a9aad;}

/* 상품 상세 정보 */
.prodDetailPage {padding:15px; background:#fff;}
.prodDetailPage img {width:100%; display:block;}
.prdDetailInfo {margin-top:35px;}
.prdDetailInfo p {font-size:14px; color:#333; letter-spacing:-1px; padding-left:10px; position:relative;}
.prdDetailInfo p + p {margin-top:10px;}
.prdDetailInfo p:before {display:block; content:''; position:absolute; top:7px; left:0; width:3px; height:3px; background:#333; }
.prdDetailInfo .txtCont {padding-left:20px;}

/* 생방송 알림_리스트 없을 때 */
.onAirLstPage {display:block; }
/* .onAirLstPage .noList {background:#fff; } */
.onAirLstPage .noList .notice {padding:62px 15px 80px; text-align:center; }
.onAirLstPage .noList .notice > img {display:block; margin:15px auto; width:94px; height:105px;}
.onAirLstPage .noList .notice .notiTxt1 {color:#4b4b4b; font-size:21px;}
.onAirLstPage .noList .notice .notiTxt2 {color:#4b4b4b; font-size:12px; margin-top:10px;}
.onAirLstPage .noList .notice strong {color:#fa5a52}
.onAirLstPage .srchBtnWrap {width:195px; margin:25px auto 0;}
.onAirLstPage .srchBtnWrap .btn {display:block; height:40px; line-height:40px; text-align:center; background:#fa5d50; color:#fff; font-size:14px;}

/* 리스트 페이지 */
.totalList {padding: 20px 0; }
.totalList .prodList .close {position:absolute; top:0; right:0; padding:7px 7px 0 0; background-position:0 -45px}

/* 삭제팝업 */
.popDelete,
.popTotalDelete {height:100px; }
.popDelete div {padding:25px 0; font-size:18px; color:#333; text-align:center;}
.popTotalDelete div {padding:10px 0 6px 0; font-size:18px; color:#333; text-align:center;}
.popTotalDelete span {padding:6px 0; font-size:14px; color:#787878; text-align:center; display:block; }

.scheduleLstPage {padding-bottom:50px}


/*tab*/
.detail_tab{position:relative; padding-top:39px; border-bottom:1px solid #555555; margin-top:9px; overflow:hidden;}
.detail_tab:after{display:block; content:""; clear:both; }
.detail_tab>li>a {display:block; position:absolute; top:0; width:145px; height:39px; line-height:39px; text-align:center; color:#343434; font-size:16px; letter-spacing:-1px; }
.detail_tab>li.on>a {background:#ffffff; background-size:15px; border:1px solid #555555; border-radius:4px 4px 0 0; border-bottom:0; }
.detail_tab>li>a span{background:url(../images/tab_bg.png) 0 2px no-repeat; background-size:15px; padding-left:18px; }
.detail_tab>li>a span em{font-size:12px; }
.detail_tab>li:first-child>a {left:15px;}
.detail_tab>li+li>a {left:160px;}
.detail_tab>li>div {height:0; overflow:hidden; position:absolute; border-top:1px solid #555555}
.detail_tab>li.on>div {height:auto; position:static; }
