<!doctype html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<META NAME="description" CONTENT="최저가 에누리 - 가격비교 사이트 에누리닷컴입니다."> 
<META NAME="keyword" CONTENT="휴대폰, 사무, 생활가전, 용품, 영상음향, 컴퓨터, 자동차, 명품, 잡화, 스포츠, 유아, 완구, 가구, 화장품, 식품, 가격비교, 쇼핑몰, 최저가">
<link rel="shortcut icon" href="http://img.enuri.info/2014/layout/favicon_enuri.ico">
<title>에누리(가격비교) eNuri.com</title>
<link rel="stylesheet" href="/css/event/template_16july.css" type="text/css">
<script type="text/javascript" src="http://www.enuri.com/common/js/lib/jquery-1.9.1.min.js"></script>
<link rel="stylesheet" href="http://dev.enuri.com/css/event/flick.css" type="text/css">
<script type="text/javascript" src="http://dev.enuri.com/js/flick.event.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#owl-demo").owlCarousel({
			items : 4,
			lazyLoad : true,
			navigation : true,
			slideSpeed : 300,
		}); 
	});
</script>
<script type="text/javascript">
$(function(){
   var menupos = $("#topFix").offset().top;
   $(window).scroll(function(){
		if($(window).scrollTop() >= menupos) {
			$("#topFix").css("position","fixed");
			$("#topFix").css("top","0");
			} else {
			$("#topFix").css("position","absolute");
			$("#topFix").css("top","");
		}
   });
});
</script>
<script type="text/javascript">
	function openLayer(IdName){
		var pop = document.getElementById(IdName);
		pop.style.display = "block";
	}
	function closeLayer(IdName){
		var pop = document.getElementById(IdName);
		pop.style.display = "none";
	}
</script>
</head>

<body>
<!-- 20160519 프로모션 템플릿 -->
<div class="event_wrap Attend"> <!-- 프로모션별 클래스 대문자로 : 혜택 Benefit / 웰컴 Welcome / 출석 Attend / 구매 Buy / 추천 Recommend -->
	
	<!-- 딤레이어 : 모바일 앱 전용 쇼핑 혜택 -->
	<div  id="onlyApp" class="pop-layer" style="display:none;">
		<div class="popupLayer">
			<div class="dim"></div>
		</div>
		<!-- popup_box -->
		<div class="popup_box onlyapp">
			<h4>모바일 앱 전용 쇼핑 혜택</h4>
			<div class="inner">
				<p class="exp">에누리 앱(App)에서<br />e머니를 다양한 e쿠폰 상품으로 교환하세요!</p>
				<p class="tit">앱 다운로드 SMS 보내기</p>
				<p class="input_area">
					<input type="text" name="" id="" maxlength="11" onfocus="this.value='';" value="휴대폰 번호 입력"  />
					<a class="btn laysend" href="javascript:void(0);" onclick="closeLayer('onlyApp');return false"><em>문자발송</em></a>
				</p>
				<ul class="watchout">
					<li>문자 발송은 무료이며, 입력하신 번호는 저장되지 않습니다.</li>
				</ul>
			</div>
			<a class="btn layclose" href="javascript:void(0);" onclick="closeLayer('onlyApp');return false"><em>팝업 닫기</em></a>
		</div>
		<!-- //popup_box -->
	</div>
	<!-- //딤레이어 : 모바일 앱 전용 쇼핑 혜택 -->

	<!-- visual -->
	<div class="section visual">
		<div class="contents">
			<h2>쇼핑을 싹</h2>
			<span class="btn share kakao"><em>카카오스토리 공유</em></span>
			<span class="btn share facebook"><em>페이스북 공유</em></span>
			<!-- '구매' 메세지 --
			<div class="txt_area" style="display:none;">
				<p class="txt1">
					<img src="http://img.enuri.info/images/event/2016/template/move_txt1.png" alt="쇼핑을" />
					<img src="http://img.enuri.info/images/event/2016/template/move_txt2.png" alt="싹" />
				</p>
				<p class="txt2">
					<img src="http://img.enuri.info/images/event/2016/template/move_txt1.png" alt="쇼핑을" />
					<img src="http://img.enuri.info/images/event/2016/template/move_txt3.png" alt="에누리" />
				</p>
			</div>
			<!-- //'구매' 메세지 --

			<!-- '출석' 메세지 --
			<div class="txt_area">
				<p class="txt1">
					<img src="http://img.enuri.info/images/event/2016/template/move_txt4.png" alt="혜택의" />
					<img src="http://img.enuri.info/images/event/2016/template/move_txt2.png" alt="싹" />
				</p>
				<p class="txt2">
					<img src="http://img.enuri.info/images/event/2016/template/move_txt4.png" alt="혜택의" />
					<img src="http://img.enuri.info/images/event/2016/template/move_txt3.png" alt="에누리" />
				</p>
			</div>
			<!-- //'출석' 메세지 -->
			
			<!-- moving_tap -->
			<div class="moving_tap">
				<!-- 로그인 전 -->
				<div class="inner login_before" style="display:block;">
					<div class="left_area"><strong>나의 e머니는 얼마일까?</strong><span>로그인 후 확인하세요.</span></div>
					<div class="right_area">
						<a href="#" class="btn login" onclick="openLayer('layerEvent');return false" title="클릭 시 레이어팝업"><em>로그인</em></a>
					</div>
				</div>
				<!-- //로그인 전 -->
				<!-- 로그인 후 -->
				<div class="inner login_after" style="display:none;">
					<div class="left_area"><strong>홍길동 님</strong><span>은 사는혜택을 받고 계십니다.</span></div>
					<div class="right_area">
						<a href="#">
							<span class="btn emoney"><em>e머니</em></span><strong>14,005,005 점</strong>
						</a>
					</div>
				</div>
				<!-- //로그인 후 -->
			</div>
			<!-- //moving_tap -->

			<!-- laypop :모바일 앱 전용 쇼핑 혜택 -->
			<div  id="layerEvent" class="laypop">
				<h4>모바일 앱 전용 쇼핑 혜택</h4>
				<div class="inner">
					<p class="exp">에누리 앱(App)에서<br />e머니를 다양한 e쿠폰 상품으로 교환하세요!</p>
					<p class="tit">앱 다운로드 SMS 보내기</p>
					<p class="input_area">
						<input type="text" name="" id="" maxlength="11" onfocus="this.value='';" value="휴대폰 번호 입력"  />
						<a class="btn laysend" href="javascript:void(0);" onclick="closeLayer('onlyApp');return false"><em>문자발송</em></a>
					</p>
					<ul class="watchout">
						<li>문자 발송은 무료이며, 입력하신 번호는 저장되지 않습니다.</li>
					</ul>
				</div>
				<a class="btn layclose" href="#" onclick="closeLayer('layerEvent');return false"><em>팝업 닫기</em></a>
			</div>
			<!-- //laypop :모바일 앱 전용 쇼핑 혜택 -->

		</div>
	</div>
	<!-- //visual -->

	<!-- tab_area -->
	<div id="topFix" class="tab_area">
		<p class="blind">페이지 바로 이동 탭 영역</p>
		<ul class="tabmenu">
			<li class="tab1"><a class="on" href="#" title="페이지 이동">출석</a></li><!-- 활성화 a class="on" 추가 -->
			<li class="tab2"><a href="#">도전 구매왕</a></li>
			<li class="tab3"><a href="#">첫 구매</a></li>
		</ul>
	</div>
	<!-- //tab_area -->

	<div style="height:300px;font-size:22px;">
		해당 프로모션 컨텐츠 영역
	</div>

	<!-- epresent -->
	<div  class="section epresent">
		<div class="contents">
			<h4><img src="http://img.enuri.info/images/event/2016/template/epresent_title.gif" alt="e머니로 누리는 생활혜택" /></h4>
			<ul>
				<li>
					<a href="javascript:void(0);" onClick="document.getElementById('onlyApp').style.display='';" title="클릭 시 레이어팝업">
						<img src="https://image.multicon.co.kr/A485/0A/0002.jpg" alt="C&U 농심 짜왕 900" />
						<span class="pro">C&U 농심 짜왕C&U 농심 짜왕C&U 농심 짜왕C&U 농심 짜왕</span>
						<span class="price">900</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onClick="document.getElementById('onlyApp').style.display='';" title="클릭 시 레이어팝업">
						<img src="https://image.multicon.co.kr/A485/0A/0002.jpg" alt="C&U 농심 짜왕 900" />
						<span class="pro">해피머니 상품권해피머니 상품권</span>
						<span class="price">1,000</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onClick="document.getElementById('onlyApp').style.display='';" title="클릭 시 레이어팝업">
						<img src="https://image.multicon.co.kr/A485/0A/0002.jpg" alt="C&U 농심 짜왕 900" />
						<span class="pro">설빙 치즈빙수</span>
						<span class="price">1,000</span>
					</a>
				</li>
				<li>
					<a href="javascript:void(0);" onClick="document.getElementById('onlyApp').style.display='';" title="클릭 시 레이어팝업">
						<img src="https://image.multicon.co.kr/A485/0A/0002.jpg" alt="C&U 농심 짜왕 900" />
						<span class="pro">설빙 치즈빙수</span>
						<span class="price">1,000</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- //epresent -->

	<!-- exhibition -->
	<div  class="section exhibition">
		<div class="contents">
			<h4><img src="http://img.enuri.info/images/event/2016/template/exhibition_title.gif" alt="인기 키워드 기획전" /></h4>
			<div id="owl-demo" class="owl-carousel">
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=167" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#몸짱프로젝트</em><img src="http://img.enuri.info/images/event/2016/template/bnr1.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=143" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#캠핑</em><img src="http://img.enuri.info/images/event/2016/template/bnr2.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=192" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#캐리어</em><img src="http://img.enuri.info/images/event/2016/template/bnr3.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=198" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#셀프광택</em><img src="http://img.enuri.info/images/event/2016/template/bnr4.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=142" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#인생팩트</em><img src="http://img.enuri.info/images/event/2016/template/bnr5.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=152" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#라이딩의계절</em><img src="http://img.enuri.info/images/event/2016/template/bnr1.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=183" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#프로야구</em><img src="http://img.enuri.info/images/event/2016/template/bnr5.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=188" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#자외선차단</em><img src="http://img.enuri.info/images/event/2016/template/bnr2.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?preView=AccessPreView&adsNo=202" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#혼수가구</em><img src="http://img.enuri.info/images/event/2016/template/bnr3.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view.jsp?adsNo=195" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#북유럽주방</em><img src="http://img.enuri.info/images/event/2016/template/bnr1.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?preView=AccessPreView&adsNo=161" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#집들이선물</em><img src="http://img.enuri.info/images/event/2016/template/bnr2.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=204" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#오버워치</em><img src="http://img.enuri.info/images/event/2016/template/bnr2.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?preView=AccessPreView&adsNo=168" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#에코백</em><img src="http://img.enuri.info/images/event/2016/template/bnr3.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?preView=AccessPreView&adsNo=159" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#진짜뷰티</em><img src="http://img.enuri.info/images/event/2016/template/bnr1.jpg" alt="" /></a></div>
				<div class="item"><a href="http://www.enuri.com/cmexhibition/exhibition_view_E.jsp?adsNo=194" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#드론</em><img src="http://img.enuri.info/images/event/2016/template/bnr2.jpg" alt="" /></a></div>
				<div class="item"><a href="#" target="_blank" title="새 페이지 열기"><span class="dim"></span><em>#전동휠</em><img src="http://img.enuri.info/images/event/2016/template/bnr2.jpg" alt="" /></a></div>
			</div>
		</div>
	</div>
	<!-- //exhibition -->
</div>
</body>
</html>