@charset "utf-8";

/*==========================================================================
20150728 CM 기획전
==========================================================================*/

/* 생략된 기본 스타일 */
a:link, a:hover, a:active, a:visited, a:focus{color: #848484;text-decoration: none;} 

.cm_wrap {width:100%; padding-bottom:25px;}
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.basic_area {width:1000px; margin:0 auto;}
.wide_area {width:100%;}
.wide_area .inner {width:1000px; margin:0 auto;}
.topvisual > img {vertical-align:top;}
.basic_area > img {width:1000px;}

/* 상단 좌측 메뉴형 */
.brand_title {width:1000px;  margin:14px 0 3px;}
.mainvisual {position:relative; width:1000px; height:388px; margin:0 auto; border-top:1px solid #eee; border-bottom:1px solid #eee; }
/*카테고리*/
.mainvisual .tabmenu {position:absolute; left:-1px; top:43px; width:197px; background-color:#363843;}
.mainvisual .tabmenu:after{content:"";display:block;clear:both;}
.mainvisual .tabmenu li {float:left; width:100%;  background:url(http://img.enuri.info/images/brand_part/bul_bar.gif) 0 0 repeat-x; }
.mainvisual .tabmenu li:first-child {background:none;}
.mainvisual .tabmenu li a {font-family:Malgun Gothic; font-size:16px; letter-spacing:-0.5px; color:#fff; display:block; padding:20px 20px 20px 21px; background:url(http://img.enuri.info/images/brand_part/ico_arrow.gif) 154px 23px no-repeat; }
.mainvisual .tabmenu li a.on, .mainvisual .cagegory li a:hover {color:#9acaf7; text-decoration:underline;}
/*슬라이드*/
.slide {position:relative;}
.slide .btn_slide {position: absolute; top:176px; width:23px; height:36px; display:block;  z-index: 100; }
.slide .btn_slide.next {right:20px; background: url(http://img.enuri.info/images/brand_part/btn_slide_next.png) no-repeat 0 0;}
.slide .btn_slide.next:hover {background-position: 0 -36px;}
.slide .btn_slide.prev {left:20px; background: url(http://img.enuri.info/images/brand_part/btn_slide_prev.png) no-repeat 0 0;}
.slide.leftTab .btn_slide.prev {left:217px; } /*좌측 탭이 있는 경우*/
.slide .btn_slide.prev:hover {background-position:0 -36px;}
.slide .btn_slide > span {display: none;}


/* 가로형 카테고리 */
.cagegory {*zoom:1; width:1000px; margin:10px auto 0; }
.cagegory:after {content:""; display:block; clear:both;}
.cagegory li {float:left; width:249px; height:45px; text-align:center; border:1px solid #d6d6d6; border-left:none; background:#fff;}
.cagegory li.brtn {border-top:none;}
.cagegory li.first {border-left:1px solid #d6d6d6;}
.cagegory li.first, .cagegory li.first.on {width:248px;}
.cagegory li.on {width:249px; height:45px; margin-left:-1px;}
.cagegory li.first.on {margin-left:0;}
	.cagegory li.st1.on {border:1px solid #ff7070; }
	.cagegory li.st2.on {border:1px solid #0182e8;}
	.cagegory li.st3.on {border:1px solid #000;}
.cagegory li a {display:block; width:100%; height:100%; font-family:Malgun Gothic; font-size:13px; line-height:45px; color:#6b6b6b;}
	.cagegory li.st1 a.on, .cagegory li.st1 a:hover {color:#ff7070; }
	.cagegory li.st2 a.on, .cagegory li.st2 a:hover {color:#0182e8;}
	.cagegory li.st3 a.on, .cagegory li.st3 a:hover {color:#000;}
.cagegory li a span {width:202px; margin:0 auto; display:block; padding-right:20px; background:url(http://img.enuri.info/images/exhibition/bul_arrowbt_gray.gif) no-repeat 100% 55%;}
	.cagegory li.st1 a.on span, .cagegory li.st1 a:hover span {background:url(http://img.enuri.info/images/exhibition/bul_arrowbt_red.gif) no-repeat 100% 55%;}
	.cagegory li.st2 a.on span, .cagegory li.st2 a:hover span {background:url(http://img.enuri.info/images/exhibition/bul_arrowbt_blue.gif) no-repeat 100% 55%;}
	.cagegory li.st3 a.on span, .cagegory li.st3 a:hover span {background:url(http://img.enuri.info/images/exhibition/bul_arrowbt_black.gif) no-repeat 100% 55%;}

/* 카테고리 이미지형 */
/*.cagegory_img {*zoom:1; width:1000px; margin:10px auto 0; }
.cagegory_img:after {content:""; display:block; clear:both;}*/
.cagegory li.catimg  {float:left; width:250px; height:47px; border:0;}
.cagegory li.catimg a {display:block;}


/* 본문 */
.section {width:1000px; margin:0 auto;}
.section h2 {height:24px; line-height:24px; overflow:hidden; margin-bottom:15px; font-family:Malgun Gothic; font-size:18px; font-weight:bold; color:#343434;}
.section h2.imagetit {height:auto; line-height:normal;}
.section h2 em {color:#ff7070;}

/*-----------------------------------------------------------------------------------------------------------------------------
- listbox typeL2 : 리스트 2열, listbox typeL3 : 3열, listbox typeL4 : 4열, listbox typeL5: 5열
- listbox typeT : 탭형 
- groupbox : 그룹형
 -----------------------------------------------------------------------------------------------------------------------------*/
.listbox {margin-top:25px;}
.listbox.typeL2 {margin-top:90px;}
.listbox .product_box {overflow:hidden; padding-bottom:12px; overflow:hidden; background-color:#f9f9f9;}
.listbox .pdname_box .txt_pdname {width:760px; height:17px; line-height: 1.2; margin:36px auto 10px; text-align:center; background-image:url(http://img.enuri.info/images/exhibition/bg_bar_pdname.png);}
.listbox .pdname_box:first-child .txt_pdname { margin:22px auto 10px;}
.listbox .pdname_box .txt_pdname > strong {display:inline-block; *display:inline; zoom:1; width:288px; margin-top:-3px; overflow:hidden; font-family:Malgun Gothic; font-size:18px; color:#444;}
@media \0screen {.listbox .pdname_box .txt_pdname > strong {margin-top:-5px;}}
.listbox .pdname_box .img_pdname {width:760px; margin:36px auto 10px;  text-align:left; background:none; } /* 이미지형*/
.listbox .pdname_box .img_pdname > strong {display:inline; }

.btm_exp {position:relative; margin:20px 12px 0; padding:15px 14px 20px; border-bottom:4px solid #e0e0e0; background-color:#fff;}
	.typeT .btm_exp {margin:20px 14px 0; }
	.groupbox .btm_exp {margin:20px 0 0; }
.btm_exp .txt1 {width:70%; height:24px; line-height:24px; overflow:hidden;font-family:Malgun Gothic; font-size:18px; font-weight:bold;  color:#343434;}
.btm_exp .txt2 {width:70%; height:19px; line-height:19px; padding-top:5px; font-family:Malgun Gothic; font-size:16px; color:#6b6b6b;}
.btm_exp .morego {position:absolute; right:17px; bottom:19px; padding-right:20px; font-family:Malgun Gothic; font-size:16px; color:#ff7070; letter-spacing:-0.05em; background:url(http://img.enuri.info/images/exhibition/bul_arrow_red.gif) no-repeat 100% 9px;}

.listbox .productlist {*zoom:1;}
.listbox .productlist:after {content:""; display:block; clear:both;}
.listbox .productlist > li {float:left; width:236px; margin:9px 0 0 10px;  border:1px solid #d5d4d0;  border-bottom:0 none; background:#fff;}
/*160218 상품등록 이미지형tyimg 추가 */
.listbox .productlist > li.tyimg {text-align:center; overflow:hidden;}
.listbox .productlist > li.tyimg.tya {height:400px;}
.listbox .productlist > li.tyimg.tyb {height:524px;}
.listbox .productlist > li.tyimg a {display:block;}
.listbox .productlist > li.tyimg img {vertical-align:top;}
.listbox .productlist > li .pd_price {background:url(http://img.enuri.info/images/exhibition/bg_bt_gray.gif) repeat-x 0 100%;}
.listbox.basic .productlist > li {border:1px solid #d5d4d0; }
.listbox.basic .productlist > li.brLeft {margin-left:9px;}
.productlist > li .pdinner {margin-top:9px; }
.productlist > li .pdinner .pd_thumb {width:216px; height:216px; /*overflow:hidden;*/ margin:0 auto; border:1px solid #e2e2e2;}
.productlist > li .pdinner .thumb,  .grouplist > li .thumb {position:relative; z-index:10;}
.productlist > li .pdinner .thumb a,  .grouplist > li .thumb a {/*height:100%; overflow:hidden;*/ display:block;text-align:center; z-index:10;}
.productlist > li .pdinner .thumb a .space,  .grouplist > li .thumb a .space {display: inline-block; height: 100%; vertical-align: middle;}
.productlist > li .pdinner .thumb a img,  .grouplist > li .thumb a img {vertical-align:middle; margin-left:-3px;}
	.typeL4 .productlist > li .pdinner .thumb {height:183px; line-height:183px; /*height:216px; line-height:216px;*/}
	.typeL4 .productlist > li .pdinner .thumb a img {max-width:210px; max-height:216px;}
	.product_box .grouplist > li .thumb a {line-height:146px;}
	.product_box .grouplist > li .thumb a img {max-width:146px; max-height:146px; }
.productlist > li .pdinner .thumb .soldout, .grouplist > li .thumb .soldout {position:absolute; top:50%; left:50%; display:none; width:162px; height:162px; margin:-81px 0 auto -81px; text-indent:-9999em; z-index:50; background-image:url(http://img.enuri.info/images/exhibition/cover_soldout.png);}
.productlist > li .pdinner .thumb .flag,  .grouplist > li .thumb .flag {position:absolute; top:-11px; left:-11px; z-index:30;display:inline-block; width:40px; height:42px; margin-right:1px; text-align: center; background-image:url(http://img.enuri.info/images/exhibition/bg_flag.png); /*background:rgba( 0, 0, 0, 0.1 ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000,endColorstr=#10000000);*/ zoom: 1;}
	.grouplist > li .thumb .flag {top:-14px; left:-13px;}
.productlist > li .pdinner .thumb .flag.like {text-indent:-9999em; background-position:-80px 0 ;}
.productlist > li .pdinner .thumb .flag .tag,  .grouplist > li .thumb .flag .tag {display:block; line-height:42px; font-family:Tahoma; font-weight:bold; font-size:20px; color:#fff;text-shadow: 1px 1px 0 rgba(0,0,0,1);}

.productlist .comment_mark {position:relative;}
.comment_mark {overflow:hidden; width:100%; height:31px; line-height: 30px; font-family:Malgun Gothic; font-size:11px; border-top:1px solid #e2e2e2; background-color:#fff; /*background:url(http://img.enuri.info/images/exhibition/bg_comment_mark.gif) repeat-x 0 0;*/ z-index:80;}
.comment_mark .eval_comm {position:relative; width: 206px; margin: 0 auto; }
.comment_mark .eval_comm .eval_rate {color: #787878; }
.comment_mark .eval_comm .num_rate {color: #24b2a4; vertical-align: -1px; margin-left:1px;}
.comment_mark .eval_comm .salenum {position:absolute; top:0; right:0; margin-left:1px; color:#787878;}
.comment_mark .eval_comm .star_rating {display:inline-block; width:65px; height:11px; margin-left:1px; overflow:hidden; vertical-align:-2px; *vertical-align:middle; background:url(http://img.enuri.info/images/exhibition/starmark.png) no-repeat 0 0;	}
.comment_mark .eval_comm .star_rating .star_value {display:inline-block; height:11px; overflow:hidden; color:transparent;	font:0/0 a; vertical-align:top;	background:url(http://img.enuri.info/images/exhibition/starmark.png) no-repeat 0 -15px;}
.comment_mark .share_box {display:none; position:absolute; top:25px; right:30px; width:102px; height:132px; text-indent:-9999em; z-index:80; background:url(http://img.enuri.gscdn.com/images/main/2015/common/share_box3.png) 0 0 no-repeat; }
.comment_mark .share_box .list {position:absolute; top:30px; left:1px; width:98px; margin:0; padding:0; }
.comment_mark .share_box .list li a {display:block; height:23px;}
.comment_mark .share_box .close {position:absolute; top:5px; right:7px; width:12px; height:11px; padding:5px; text-indent:-9999em; z-index:90; }

.pd_name {width:214px; height: 118px; overflow:hidden; margin:0 auto; font-family:Malgun Gothic; letter-spacing:-0.05em; }
.pd_name .model_sub  {margin-top:5px; display:block; max-height:38px; line-height:19px; overflow:hidden; font-size:14px; color:#171717; }
.pd_name .model_title {margin-top:5px; display:block; height:32px; line-height:16px; overflow:hidden; font-size:11px; color:#849fdb; /*padding-left:6px; background:url(http://img.enuri.info/images/exhibition/bul_sq_violet.gif) no-repeat 0 10px;*/}

.pd_price {margin-top:7px; z-index:30;}
.listbox.basic .pd_price {margin-top:8px;}
@-moz-document url-prefix() { .pd_price {margin-top:7px;} }
.price_area {position:relative; width:218px; /*height:41px;*/ margin:0 auto; padding-bottom:12px; text-align:right; overflow:hidden; z-index:30;}
.listbox.basic .price_area {padding-bottom:6px;}
.price_area .lowstate {position:relative; display:block;}
.price_area .lowstate .maximum {display:block; margin-bottom:1px; font-family:Malgun Gothic; font-size:12px; color:#787878;line-height: 12px;}
.price_area .lowstate .maximum .number {}
.price_area .lowstate .maximum .launch {text-decoration:line-through}
.price_area .lowstate .tit {display:block; height:14px; /*margin-bottom: 3px;*/ line-height:14px; font-family:Malgun Gothic; font-size:12px;  color:#ff7070; }
.price_area .lowstate .mallname {position:absolute; left:0;  bottom:2px; display:inline-block; *display:inline; zoom:1; text-align: left; font-family:Malgun Gothic; font-size:12px; color:#787878; letter-spacing:-0.05em; width:78px; overflow:hidden; text-overflow:ellipsis;  white-space: nowrap; }
.price_area .lowstate.max .tit {display:inline;}
	.typeL5 .price_area .lowstate .tit {font-size:11px;}
	.typeL5 .price_area .lowstate .pricerange {padding-top:1px;}
.price_area .lowstate .lowest {font-family:Malgun Gothic; color:#0073be; font-size:14px; line-height:1.1}
.price_area .lowstate.max .lowest {margin-left: 1px; vertical-align: -2px;}
	.typeL4 .price_area .lowstate .pricerange .lowest, .typeL5 .price_area .lowstate .pricerange .lowest {display:block;}
.price_area .lowstate .lowest .number {font-size:22px; }
	.typeL5 .price_area .lowstate .pricerange .lowest .number {font-size:14px; }
.pd_price .btn_compare {display: block; width:235px; height:39px; line-height:38px; font-family:Malgun Gothic; font-size:15px; color:#fff; letter-spacing:-0.05em; text-align:center; border:1px solid #7995d1; background:url(http://img.enuri.info/images/exhibition/bg_btn_compare3.gif) repeat-x 0 0; z-index:30;}
.pd_price .btn_compare .btn_txt  {display: block; width:206px; margin: 0 auto; background:url(http://img.enuri.info/images/exhibition/bul_arrow_white.png) no-repeat 100% 50%;}
	.typeL5 .price_area .btn_compare {width:73px; height:34px; font-size:11px; background:url(http://img.enuri.info/images/exhibition/bg_btn_compare2.gif) repeat-x 0 0;}
/* 아이콘 추가 */
.price_area .lowstate .ico_down {position:absolute; top:0; left:0; z-index:30;display:inline-block; width:34px; height:37px; margin-right:1px; text-align: center; background-image:url(http://img.enuri.info/images/exhibition/bg_disc.png); /*background:rgba( 0, 0, 0, 0.1 ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000,endColorstr=#10000000);*/ zoom: 1;}
.price_area .lowstate .ico_down .disc {display:block; line-height:27px; font-family:Malgun Gothic; font-weight:bold; font-size:14px; color:#fff; letter-spacing:-0.5px;}


.shop_price {*zoom:1; height:83px; padding:0 11px; border-top:1px solid #e2e2e2; background-color:#fafafa;}
.shop_price:after {content:""; display:block; clear:both;}
.shop_price li {width:100%; height:27px; line-height:27px; *height:22px;  *line-height:22px; border-top:1px dotted #d2d2d2; }
.shop_price li:first-child {border:none;}
.shop_price li a {display:block; font-family:Malgun Gothic; font-size:12px; color:#787878; letter-spacing:-0.05em; overflow:hidden}
.shop_price li a.on {font-weight:bold;}
.shop_price li .shopname {float:left; width:45%; height:30px; line-height:30px; overflow:hidden; text-overflow:ellipsis;  white-space: nowrap;  }
.shop_price li .price {float:right; width:50%; font-size:13px;  color:#343434; text-align:right;}

/* 상세 좌측탭형 */
.typeT .slidebox {*zoom:1;  width:100%; height:435px; }
.typeT .slidebox:after {content:""; display:block; clear:both;}
.slidebox .tab_menu {float:left; width:222px; height:420px; margin:15px 0 0 15px; background-image:url(http://img.enuri.info/images/exhibition/bg_lefttab_box3.gif);}
.slidebox .tab_menu ul {margin:16px 0 0 -6px;}
.slidebox .tab_menu li {width:100%; height:55px; line-height:55px; text-indent: 21px; }
.slidebox .tab_menu li a {display:block; font-family:Malgun Gothic; font-size:16px; font-weight:bold; color:#555;}
.slidebox .tab_menu li a.on {width:228px; height:55px; color:#fff; background:url(http://img.enuri.info/images/exhibition/bg_tab_on.png) no-repeat 0 0;}
.slidebox .list_area {position:relative;  float:right; width:763px; }
.slidebox .list_area .slide_inner {position:relative; height:420px; overflow:hidden; margin:15px 15px 0 4px; }
.listbox.typeT .productlist > li {margin: 16px 0 0 10px;}
.slidebox .list_area .paging {position:absolute; right:18px; top:14px; width:50px; text-align:right; font-family:Malgun Gothic; font-size:12px; color:#787878;}
.slidebox .list_area .paging strong {color:#343434;}
/*.typeT .pd_price {margin-top:20px;}*/

/* 슬라이드 버튼 */
.bullet_set{display:none; }
.Nprev{z-index:100; height:244px; width:16px; position:absolute; left:-1px; top:117px; text-indent:-9999em;  display:block; background:url(http://img.enuri.info/images/exhibition/bul_prev.png) no-repeat center 100px;}
.Nprev:hover{background:url(http://img.enuri.info/images/exhibition/bul_prev_over.png) no-repeat center 100px;}
.Nnext{z-index:100; height:244px; width:16px; position:absolute; right:-1px; top:117px; text-indent:-9999em;  display:block; background:url(http://img.enuri.info/images/exhibition/bul_next.png) no-repeat center 100px;}
.Nnext:hover{background:url(http://img.enuri.info/images/exhibition/bul_next_over.png) no-repeat center 100px;}


/* 그룹형 */
.groupbox {margin-top:25px;}
.groupbox > .product_box {padding:10px 10px 12px; overflow:hidden; background-color:#f9f9f9;}
.grouplist > li {overflow:hidden; margin-top:8px; padding:13px 12px 16px 12px ; border:1px solid #e2e2e2; border-bottom:2px solid #e2e2e2; background:#fff;}
.grouplist > li:first-child {margin-top:0;}
.grouplist .thumb {float:left; width:148px; margin-right:12px; height:148px; line-height:148px; border:1px solid #e2e2e2;}
.grouplist .pdinfo {float:left; width:424px; }
.grouplist .model_title {width:100%; height:22px; line-height:22px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-family:Malgun Gothic; font-weight:bold; font-size:16px; color:#171717; letter-spacing:-0.07em;}
.grouplist .price_scope { font-family:Malgun Gothic; }
.grouplist .lowprice {font-size:11px; color:#2680ef; }
.grouplist .lowprice strong {font-size:18px; vertical-align: -2px;}
.grouplist .maxprice {font-size:11px; color:#787878; }
.grouplist .maxprice strong {font-size:16px; vertical-align: -2px;}

.grouplist .model_sub {padding-top:15px; font-family:Malgun Gothic;  font-size:12px; color:#343434;}
.grouplist .model_sub .sub1 {color:#2680ef; letter-spacing:0; width:100%; height:17px; line-height:17px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.grouplist .model_sub .sub2 {width:100%; height:34px; line-height:16px;  overflow:hidden; }
.grouplist .model_sub .txt_guide {color:#343434; }
.grouplist .model_sub .txt_guide:hover {text-decoration:underline; cursor:pointer;}
.grouplist .comment_mark {height:16px; margin-top:22px; border:0 none; background:none;}
.grouplist .comment_mark li {float:left;  margin-left:5px; font-family:Malgun Gothic;  font-size:11px;  color:#343434; line-height: 14px; letter-spacing:-0.05em; padding-left:5px; background:url(http://img.enuri.info/images/exhibition/bul_bar_gray.gif) no-repeat 0 3px;}
.grouplist .comment_mark li.first {margin-left:0; padding-left:0; background:none;}
.grouplist .comment_mark li a {color:#343434; }
.grouplist .comment_mark .num_rate {color:#ff7781; vertical-align: -1px; letter-spacing: 0;}
.grouplist .comment_mark .star_rating {display:inline-block; width:58px; height:10px; margin-left:3px; overflow:hidden; vertical-align:middle; background:url(http://img.enuri.info/images/exhibition/starmark.png) no-repeat -70px 0;}
@media \0screen {.grouplist .comment_mark .star_rating{vertical-align:-1px;}}
.grouplist .comment_mark .star_rating .star_value {display:inline-block; height:10px; overflow:hidden; color:transparent;	font:0/0 a; vertical-align:top;	background:url(http://img.enuri.info/images/exhibition/starmark.png) no-repeat -70px -16px;}
.grouplist .comment_mark .btn_sharing {margin-top:2px; *margin-top:1px;}
.pdprice {position:relative; float:right; width:355px; height:149px;}
.pdprice li {padding:4px 0 3px; text-align:right; border-bottom:1px dotted #e2e2e2;}
.pdprice li:first-child {padding-top:0;}
.pdprice li, .pdprice li a {font-family:Malgun Gothic;  font-size:11px; color:#343434; }
.pdprice li .options {display:inline-block; width:153px; text-align:left;}
.pdprice li .options .name {display:inline-block; vertical-align: -2px; *vertical-align:0; margin:0 5px; width:106px; height:15px; line-height:15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pdprice li .options em {display:inline-block;  width:30px; color:#ff7781;  letter-spacing:-0.05em;}
.pdprice li .price {display:inline-block; width:82px; font-size:11px; color:#787878; }
.pdprice li .price strong {font-size:13px; color:#2680ef; vertical-align: -1px;}
.pdprice li .btn_compare {display:inline-block; width:90px; height:19px; line-height:18px; margin-left:6px; font-size:12px; color:#fff; text-align:center; background-image:url(http://img.enuri.info/images/exhibition/btn_compare.png);}
.pdprice li .btn_compare em {display:inline-block;width:28px; text-align:right;}
.pdprice .btn_more {position:absolute; right:7px; bottom:0; padding-right:7px; font-family:Malgun Gothic;  font-size:11px;  color:#787878; letter-spacing:-0.05em;  background:url(http://img.enuri.info/images/exhibition/bul_arrow_right.png) 100% 6px no-repeat; }
.pdprice .btn_more em {color:#2680ef;}


/* 퀵 윙 배너 */
.quickWing {position: absolute; left: 50%; margin-left: 514px; width:90px; /*height:52px;*/ z-index:100; }
.quickWing a {display:block; cursor:pointer; overflow:hidden; margin-top:2px;}
.quickWing .btn_move {position: fixed;  bottom: 0;}
.quickWing .btn_way {width:90px; height:25px; }
/*.quickWing .btn_way.top {margin-bottom:2px;}*/
.quickWing .btn_way img:hover{margin-top:-25px;}
/*.quickWing .btn_ban_benefit {width:90px; height:120px; margin-top:0;}*/


/* 우측윙 배너 */
.wingBnner {position: absolute; top: 0; left: 50%;  margin-left: 514px;  width:100px; height:175px; z-index:10; }
.wingBnner a {display:block;}
.wingBnner map area {cursor:pointer;}


/* 160419 하단 기획전 모음 배너 추가 
.allcm_banner {margin:16px auto 0; width:282px;}
.allcm_banner a {display:block;}*/

/* 160812 CM 기획전 하단 배너 변경 */
.allcm_banner {margin-top:33px; text-align:center;}


/* 170110 출시가, 요약정보 기능 추가 */
.model_etc {display: block; margin-top:4px; height:33px; line-height: 17px; font-size:12px; color:#666666; letter-spacing:-0.5px; overflow:hidden}


/* 170202 썸네일 태그노출 */
.thumb {position:relative;}
.thumb .img_tag{position:absolute; left:-1px; top:4px; text-align:right; width:100%; height:100%; }
.thumb div {clear:right;}
.thumb .img_tag span{float:right; background: #181818; color:#ffffff; letter-spacing:-0.5px; font-size:12px; display:inline-block; margin:0 2px; line-height:18px; height:20px; padding:0 5px; font-weight:bold; vertical-align:top; border-radius:3px;}
.thumb .img_tag .blue{opacity: 1; position:absolute; right:0px; bottom:6px; z-index:1; height:26px;}
.thumb .img_tag .blue span{padding:0 6px; height:26px; line-height:23px; font-size:16px; 
background: #41bce9; /* Old browsers */
background: -moz-linear-gradient(left,  #41bce9 0%, #3a7dd9 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #41bce9 0%,#3a7dd9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #41bce9 0%,#3a7dd9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41bce9', endColorstr='#3a7dd9',GradientType=1 ); /* IE6-9 */
}
.thumb .img_tag span.btm{position:absolute; left:4px; bottom:6px; z-index:1}
.thumb .img_tag .hue{position:absolute; left:5px; bottom:7px;}
.thumb .img_tag .hue li{margin:0 1px; padding:0; border-bottom:none; display:inline-block; float:left; border-radius:50%; background:#fff; width:14px; height:14px; box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);  overflow:hidden;}
.thumb .img_tag .hue li.w{border:1px solid #bbbbbb; width:12px; height:12px; box-shadow: none;}
.thumb .img_tag .hue li em{display:block; text-align:left; text-indent:-9999em; }
.thumb .img_tag .hue li em.half{width:50%; float:left; }
/* 썸네일 아래 상품평 없을 때 class="nocom" 추가 */
.productlist > li .pdinner .pd_thumb.nocom .thumb {height:216px; line-height:214px;}

/* 180208 CM기획전 하단 엠크로니 네트워크 광고 구좌 생성 */
.network_banner {width:970px; margin:55px auto 22px;}
.network_banner a {display:block;}
