@charset "utf-8";

/*==========================================================================
20150728 CM 기획전
==========================================================================*/

.cm_wrap {width:100%; padding-bottom:150px;}
.cm_wrap.wide {background-color:#f2f2f2;}
/*.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}*/
.basic_area {width:1000px; margin:0 auto;}
.wide_area {width:100%; background:#fff;}
.wide_area .inner {margin:0 auto;}
.topvisual img {vertical-align:top;}
.basic_area img {width:1000px;}

.cagegory {*zoom:1; width:1000px; margin:0 auto; }
.cagegory:after {content:""; display:block; clear:both;}
.cagegory li {float:left; width:249px; height:43px; text-align:center; border:1px solid #bbb; border-left:none; background:#fff;}
.cagegory li.brtn {border-top:none;}
.cagegory li.first {border-left:1px solid #bbb;}
.cagegory li.first, .cagegory li.first.on {width:248px;}
.cagegory li.on {width:249px; height:42px; }
	.cagegory.st1 li.on {border-top:2px solid #2680ef;}
	.cagegory.st2 li.on {border-top:2px solid #000;}
.cagegory li a {display:block; width:100%; height:100%; font-family:Malgun Gothic; font-size:12px; color:#787878; letter-spacing:-0.05em; }
	.cagegory.st1 li.on a {color:#2680ef; }
	.cagegory.st2 li.on a {color:#171717;}
.cagegory li a .space {display:inline-block; height:100%; vertical-align:middle;}
.cagegory li a em {width:100%; display:inline-block; margin-left:-1px; vertical-align:middle; line-height:16px;}

.cagegory_img {*zoom:1; width:1000px; margin:0 auto; }
.cagegory_img:after {content:""; display:block; clear:both;}
.cagegory_img li {float:left; width:250px; height:45px;}

.section {width:1000px; margin:0 auto;}
.section h2 {position:relative; margin-bottom:10px; padding-bottom:9px; font-family:Malgun Gothic; font-size:18px; font-weight:bold; color:#343434; border-bottom:2px solid #343434;}
.section h2 .title {width:80%; height:24px; line-height:24px; overflow:hidden; }
.section h2 .morego {position:absolute; right:0; bottom:6px; font-size:12px; color:#343434;}

/*-----------------------------------------------------------------------------------------------------------------------------
- listbox typeL2 : 리스트 2열, listbox typeL3 : 3열, listbox typeL4 : 4열, listbox typeL5: 5열
- listbox typeT : 탭형 
 -----------------------------------------------------------------------------------------------------------------------------*/
.listbox {margin-top:70px;}
.listbox.typeL2 {margin-top:90px;}
.listbox .productlist {*zoom:1; }
.listbox .productlist:after {content:""; display:block; clear:both;}
.productlist > li {float:left; border:1px solid #eee; background:#fff; border-left:none;}
.productlist > li.brLeft {border-left:1px solid #eee;}
.productlist > li.hover {display:block; border:1px solid #343434 !important;}
	.typeL2 .productlist > li.pLeft {width:497px; }
	.typeL2 .productlist > li.pRight {width:499px;}
	.typeL3 .productlist > li {width:332px; }
	.typeL3 .productlist > li.hover {width:331px; }
	.typeL4 .productlist > li {width:249px; }
	.typeL4 .productlist > li.last {width:248px; }
	.typeL4 .productlist > li.hover {width:248px; }
	.typeL4 .productlist > li.pLast.hover {width:247px; }
	.typeL5 .productlist > li {width:199px; }
	.typeL5 .productlist > li.hover {width:197px;}
.productlist > li .pdinner {margin:17px auto 16px; }
	.typeL2 .productlist > li .pdinner {width:465px;}
	.typeL3 .productlist > li .pdinner {width:298px;}
	.typeL4 .productlist > li .pdinner {width:216px; margin:15px auto 14px;}
	.typeL5 .productlist > li .pdinner {width:177px; margin:10px auto 9px;}
.productlist > li .pdinner .pd_thumb {border:1px solid #e2e2e2;}
.productlist > li .pdinner .thumb {position:relative; z-index:10;}
.productlist > li .pdinner .thumb a {display:block; text-align:center; z-index:10;}
.productlist > li .pdinner .thumb a .space {display: inline-block; height: 100%; vertical-align: middle;}
.productlist > li .pdinner .thumb a img {vertical-align:middle; margin-left:-1px;}
	.typeL2 .productlist > li .pdinner .thumb {height:298px; line-height:298px;}
	.typeL3 .productlist > li .pdinner .thumb {height:293px; line-height:298px;}
	.typeL4 .productlist > li .pdinner .thumb {height:216px; line-height:216px;}
	.typeL5 .productlist > li .pdinner .thumb {height:177px; line-height:177px;}
	.typeL2 .productlist > li .pdinner .thumb a img {max-width:463px; max-height:298px;}
	.typeL3 .productlist > li .pdinner .thumb a img {max-width:292px; max-height:298px;}
	.typeL4 .productlist > li .pdinner .thumb a img {max-width:210px; max-height:216px;}
	.typeL5 .productlist > li .pdinner .thumb a img {max-width:172px; max-height:177px;}
.productlist > li .pdinner .thumb .soldout {position:absolute; top:50%; left:50%; display:none; width:162px; height:162px; margin:-81px 0 auto -81px; text-indent:-9999em; z-index:30; background-image:url(http://imgenuri.enuri.gscdn.com/images/exhibition/cover_soldout.png);}
.productlist > li .pdinner .thumb .flaglist {position:absolute; top:-8px; left:-7px; z-index:50;}
.productlist > li .pdinner .thumb .flaglist .flag {float:left; display:inline-block; width:52px; height:54px; margin-right:1px; text-align: center; background:rgba( 0, 0, 0, 0.1 ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#10000000,endColorstr=#10000000); zoom: 1;}
	.typeL5 .productlist > li .pdinner .thumb .flag {width:48px; height:27px; }
	.typeL5 .productlist > li .pdinner .thumb .flag.adddis {width:48px; height:50px;}
.productlist > li .pdinner .thumb .flag .tag {display:block; width:100%; height:52px; line-height:52px; font-family:Tahoma; font-weight:bold; font-size:17px; color:#fff;}
	.typeL5 .productlist > li .pdinner .thumb .flag .tag {height:25px; line-height:25px; font-size:13px;}
	.typeL5 .productlist > li .pdinner .thumb .flag .tag.discount {width:48px; height:48px; line-height:19px; font-size:11px;}
.productlist > li .pdinner .thumb .flag .discount {line-height:19px; font-family:Malgun Gothic; font-size:12px; font-weight:normal; background:#ff4a57;}
.productlist > li .pdinner .thumb .flag .discount .moredis {display:inline-block; margin-top:5px; letter-spacing:-1px;}
	.typeL5 .productlist > li .pdinner .thumb .flag .discount .moredis {margin-top:5px;}
.productlist > li .pdinner .thumb .flag .discount em {font-family:Tahoma; font-size:18px; line-height:1.1;}
	.typeL5 .productlist > li .pdinner .thumb .flag .tag.discount em {font-size:16px;}
.productlist > li .pdinner .thumb .flag .best {background:#438cff;}
.productlist > li .pdinner .thumb .flag .hot {background:#fbaa4a;}
.productlist > li .pdinner .thumb .flag .new {background:#1db9aa;}

.productlist .comment_mark {position:relative;}
.productlist .comment_mark .btn_sharing {position:absolute; right:35px; bottom:12px; }
.productlist .comment_mark .btn_zzim {position:absolute; right:10px; bottom:12px;}
.comment_mark {height:35px; font-size:12px; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bg_comment_mark.gif) repeat-x 0 0; z-index:80;}
.comment_mark .eval_comm {overflow:hidden; width:100%; height:100%; line-height: 31px; font-family:Malgun Gothic; font-size:12px; }
	.typeL5 .comment_mark .eval_comm {position:relative;}
.comment_mark .eval_comm .eval_rate {margin-left:9px;color: #787878; }
.comment_mark .eval_comm .num_rate {color: #343434; vertical-align: -1px;}
.comment_mark .eval_comm .salenum .num_rate {margin-left:3px;}
.comment_mark .eval_comm .salenum {margin-left:8px; color:#787878;}
.comment_mark .eval_comm .star_rating {display:inline-block; width:65px; height:11px; margin-left:2px; overflow:hidden; vertical-align:middle; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/starmark.png) no-repeat 0 0;	}
.comment_mark .eval_comm .star_rating .star_value {display:inline-block; height:11px; overflow:hidden; color:transparent;	font:0/0 a; vertical-align:top;	background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/starmark.png) no-repeat 0 -15px;}
.comment_mark .btn_sharing {display:inline-block; width:12px; height:12px; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/ico_sharing.png) no-repeat 0 0;}
.comment_mark .btn_sharing:hover, .comment_mark .btn_sharing.on {background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/ico_sharing.png) no-repeat 0 -12px;}
.comment_mark .btn_zzim {display:inline-block; width:14px; height:12px; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/ico_zzim.png) no-repeat 0 0;	}
.comment_mark .btn_zzim:hover, .comment_mark .btn_zzim.on {background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/ico_zzim.png) no-repeat 0 -12px;}
.comment_mark .share_box {display:none; position:absolute; top:25px; right:30px; width:102px; height:132px; text-indent:-9999em; z-index:80; background:url(http://img.enuri.gscdn.com/images/main/2015/common/share_box3.png) 0 0 no-repeat; }
.comment_mark .share_box .list {position:absolute; top:30px; left:1px; width:98px; margin:0; padding:0; }
.comment_mark .share_box .list li a {display:block; height:23px;}
.comment_mark .share_box .close {position:absolute; top:5px; right:7px; width:12px; height:11px; padding:5px; text-indent:-9999em; z-index:90; }

.pd_name {font-family:Malgun Gothic; letter-spacing:-0.05em; }
.pd_name .model_sub  {margin-top:9px; height:18px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:12px; color:#787878; }
.pd_name .model_title {margin-top:6px; display:block; height:38px; overflow:hidden; font-size:14px; color:#171717;}

.pd_price {margin-top:30px; z-index:30;}
.price_area {position:relative; z-index:30;}
.price_area .lowstate {width:70%; padding-left:1px;}
	.typeL4 .price_area .lowstate {width:58%;}
.price_area .lowstate .tit {line-height:13px; font-family:Malgun Gothic; font-size:12px;  color:#787878; }
	.typeL5 .price_area .lowstate .tit {font-size:11px;}
.price_area .lowstate .pricerange {padding-top: 3px; font-family:Malgun Gothic; font-size:12px; color:#343434;}
	.typeL5 .price_area .lowstate .pricerange {padding-top:1px;}
.price_area .lowstate .pricerange .number {font-family:Tahoma; font-size:12px; }
.price_area .lowstate .pricerange .lowest {color:#2680ef;}
	.typeL4 .price_area .lowstate .pricerange .lowest, .typeL5 .price_area .lowstate .pricerange .lowest {display:block;}
.price_area .lowstate .pricerange .lowest .number {font-size:20px; }
	.typeL5 .price_area .lowstate .pricerange .lowest .number {font-size:14px; }
.price_area .btn_compare {position:absolute; bottom:2px; right:0; width:86px; height:38px; line-height:36px; font-family:Malgun Gothic; font-size:13px; color:#fff; letter-spacing:-0.05em; text-align:center; border:1px solid #7995d1; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bg_btn_compare.gif) repeat-x 0 0; z-index:30;}
	.typeL5 .price_area .btn_compare {width:73px; height:34px; font-size:11px; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bg_btn_compare2.gif) repeat-x 0 0;}

.shop_price {*zoom:1; margin-top:10px; padding:0 10px; border:1px solid #e2e2e2; background-color:#f9f9f9;}
.shop_price:after {content:""; display:block; clear:both;}
.shop_price li {width:100%; height:30px; line-height:30px; border-top:1px dotted #d2d2d2;}
.shop_price li:first-child {border:none;}
.shop_price li a {display:block; font-family:Malgun Gothic; font-size:12px; color:#343434; letter-spacing:-0.05em;}
.shop_price li a.on {color:#2680ef;}
.shop_price li .shopname {float:left; width:45%;}
.shop_price li .price {float:right; width:50%; font-size:13px; text-align:right;}

.typeT .slidebox {*zoom:1; width:998px; height:469px; border:1px solid #eee; background-image:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bg_slidebox.gif);}
.typeT .slidebox:after {content:""; display:block; clear:both;}
.slidebox .tab_menu, .slidebox .tab_img {float:left; width:237px; }
.slidebox .tab_menu ul {margin-left:-1px;}
.slidebox .tab_menu li {width:100%; height:55px; line-height:55px; text-indent: 16px; }
.slidebox .tab_menu li a {display:block; font-family:Malgun Gothic; font-size:14px; font-weight:bold; color:#555;}
.slidebox .tab_menu li a.on {width:229px; height:55px; color:#fff; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bg_tab_on.png) no-repeat 0 0;}
.slidebox .list_area {position:relative;  float:right; width:761px; }
.list_area .slide_inner {position:relative; width:751px; height:445px; overflow:hidden; margin: 10px 0 0; }
.list_area .paging {position:absolute; right:16px; bottom:-5px; font-family:Malgun Gothic; font-size:12px; color:#787878;}
.list_area .paging strong {color:#343434;}
.typeT .pd_price {margin-top:20px;}
.typeT .productlist > li .pdinner {margin: 15px auto 12px;}

/* 슬라이드 버튼 */
.bullet_set{display:none; }
.Nprev{z-index:100; height:150px; width:17px; position:absolute; left:1px; top:153px; text-indent:-9999em;  display:block; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bul_prev.png) no-repeat center 50px;}
.Nprev:hover{background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bul_prev_over.png) no-repeat center 50px;}
.Nnext{z-index:100; height:150px; width:17px; position:absolute; right:11px; top:153px; text-indent:-9999em;  display:block; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bul_next.png) no-repeat center 50px;}
.Nnext:hover{background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bul_next_over.png) no-repeat center 50px;}


/* 그룹형 */
.groupbox {margin-top:50px;}
.grouplist > li {overflow:hidden; margin-top:8px; padding:13px 11px 16px 17px ; border:1px solid #e2e2e2; border-bottom:2px solid #e2e2e2; background:#fff;}
.grouplist > li:first-child {margin-top:0;}
.grouplist > li.hover {border:1px solid #343434 !important;}
.grouplist .thumb {float:left; margin-right:16px; display:block; width:148px; height:148px; border:1px solid #e2e2e2;}
.grouplist .thumb img {width:100%; height:100%;}
.grouplist .pdinfo {float:left; width:424px; }
.grouplist .model_title {width:100%; height:22px; line-height:22px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-family:Malgun Gothic; font-weight:bold; font-size:16px; color:#171717; letter-spacing:-0.07em;}
.grouplist .lowprice {font-family:Malgun Gothic;  font-size:11px; color:#2680ef; }
.grouplist .lowprice strong {font-size:18px; vertical-align: -2px;}
.grouplist .model_sub {padding-top:15px; font-family:Malgun Gothic;  font-size:12px; color:#343434; letter-spacing:-0.05em;}
.grouplist .model_sub .sub1 {color:#2680ef; letter-spacing:0; width:100%; height:17px; line-height:17px;  overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.grouplist .model_sub .sub2 {width:100%; height:34px; line-height:16px;  overflow:hidden; }
.grouplist .model_sub .txt_guide {color:#343434; }
.grouplist .model_sub .txt_guide:hover {text-decoration:underline; cursor:pointer;}
.grouplist .comment_mark {height:16px; margin-top:22px; background:none;}
.grouplist .comment_mark li {float:left;  margin-left:5px; font-family:Malgun Gothic;  font-size:11px;  color:#343434; line-height: 14px; letter-spacing:-0.05em; padding-left:5px; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bul_bar_gray.gif) no-repeat 0 3px;}
.grouplist .comment_mark li.first {margin-left:0; padding-left:0; background:none;}
.grouplist .comment_mark li a {color:#343434; }
.grouplist .comment_mark .num_rate {color:#ff7781; vertical-align: -1px;}
.grouplist .comment_mark .star_rating {display:inline-block; width:58px; height:10px; margin-left:3px; overflow:hidden; vertical-align:middle; background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/starmark.png) no-repeat -70px 0;}
@media \0screen {.grouplist .comment_mark .star_rating{vertical-align:-1px;}}

.grouplist .comment_mark .star_rating .star_value {display:inline-block; height:10px; overflow:hidden; color:transparent;	font:0/0 a; vertical-align:top;	background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/starmark.png) no-repeat -70px -16px;}
.grouplist .comment_mark .btn_sharing {margin-top:2px; *margin-top:1px;}
.pdprice {position:relative; float:right; width:355px; height:149px;}
.pdprice li {padding:4px 0 3px; text-align:right; border-bottom:1px dotted #e2e2e2;}
.pdprice li:first-child {padding-top:0;}
.pdprice li, .pdprice li a {font-family:Malgun Gothic;  font-size:11px; color:#343434; }

.pdprice li .options .name {display:inline-block; vertical-align: -2px; *vertical-align:0; margin:0 5px; width:106px; height:15px; line-height:15px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.pdprice li .options em {color:#ff7781;  letter-spacing:-0.05em;}
.pdprice li .price {display:inline-block; width:82px; font-size:11px; color:#787878; }
.pdprice li .price strong {font-size:13px; color:#2680ef; vertical-align: -1px;}
.pdprice li .btn_compare {display:inline-block; width:90px; height:19px; line-height:18px; margin-left:6px; font-size:12px; color:#fff; text-align:center; background-image:url(http://imgenuri.enuri.gscdn.com/images/exhibition/btn_compare.png);}
.pdprice li .btn_compare em {display:inline-block;width:28px; text-align:right;}
.pdprice .btn_more {position:absolute; right:7px; bottom:0; padding-right:7px; font-family:Malgun Gothic;  font-size:11px;  color:#787878; letter-spacing:-0.05em;  background:url(http://imgenuri.enuri.gscdn.com/images/exhibition/bul_arrow_right.png) 100% 6px no-repeat; }
.pdprice .btn_more em {color:#2680ef;}





