* {
	margin:0; 
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body{font-family: 'Noto Sans KR', sans-serif;} 
#skipNav a{display:block;position:absolute;left:0;top:-10000px;text-align: center;width:100%;height:30px;z-index: 500;line-height:30px;font-weight:bold;font-size:14px;}
ul{list-style-type: none;}
a { color:#333;text-decoration: none;}
.cf::after { content:""; display:block; clear:both }
.hide {display:block;position:absolute;left:0;top:-10000px;text-align: center;width:100%;height:30px;z-index: 500;line-height:30px;font-weight:bold;font-size:14px; }


