.wrap { width: 100%; }
.inner {width: 1280px; margin: auto; }

/* title */
.title { height:46px; margin-top: 40px; }
.title .brand-name {  }
.title .brand-name h2 {color:#333; font-size: 18px; float: left;}
.title .brand-name h2::after{content: "";display:block;clear: both;}
.title .brand-name span {color:#666; font-size: 12px;padding-left: 17px;position: relative;}
.title .brand-name span::after {content: "";display: block;  width: 1px; height: 16px ; background-color: #dddddd;position: absolute;left: 8px;top: 0;}

/* condition-box */
.condition-box {border: 1px solid #eeee;margin-bottom: 40px; width: 1280px; background: ;}
.condition-box input {display: none;}
.condition-box label {cursor: pointer; font-size: 12px; color:#666666;}
.condition-box ul {display: flex; flex-wrap: wrap;line-height: 46px;}
.condition-box ul li {flex: 0 0 auto;position: relative;}
.condition-box ul .condition-name {width: 178px;border-right: 1px solid #eeee; font-size: 13px; font-weight: bold; padding-left: 17px; margin-right: 0;border-bottom: 1px solid #eeee;}
.condition-box .one {display: flex; flex-wrap: nowrap;}
.condition-box .one li {flex: 0 0 auto;}
.condition-box .condition-list {border-bottom: 1px solid #eeee;}
.condition-box .condition-list ul{display: flex;width: 1102px;padding-left: 17px; flex-wrap: wrap;}
.condition-box .condition-list ul li {height:40px}
.condition-box .condition-list li {flex: 0 0 auto;margin-right: 20px;}
.condition-box .price-box {display: flex; flex-wrap: wrap;align-items: center;}
.condition-box .price-box span {margin: 0 5.5px 0 4.5px;}
.condition-box .price-box button { flex: 0 0 auto; width: 79px; height: 27px; background:#f8f8f8; border: 1px solid #eeeeee; margin-left: 10px; font-size: 12px; cursor: pointer;}
#price4::placeholder {padding-right: 7.5px;color: #666666; font-size: 12px;}
#price5::placeholder {color: #666666;padding:5.5px 1.5px 7.5px 7.5px;font-size: 12px;}
.condition-box #price4,#price5 {display: block; height: 27px; width: 93px; flex: 0 0 auto;text-align: right;border: 1px solid  #dddddd; }
.condition-box .selection { background: #f9fcfd; display: flex;flex-wrap: nowrap;width: 1278px;overflow: hidden;}
.condition-box .selection .condition-name {border-bottom: none;border-left: none;}
.condition-box .selection .reset {width: 91px;height: 23px;border: 1px solid #cccccc; background:#ffff ;cursor: pointer;background-image: url(../img/icon12_reset.png);background-repeat: no-repeat;background-position: 7.5px 5.5px;padding-left: 23.5px;font-size: 12px; color: #666}
.condition-box .selection .list-inner .add_item {padding:0 8px;}
.condition-box .selection .list-inner .add_item > li {padding:0 8px;}
.condition-box .selection .list-inner .add_item > li > a {display:block;font-size:12px;color:#1a70dd;text-decoration: underline;}
.condition-box .more { background: none;position: absolute;right: 17.5px;top: 0px; cursor: pointer;}
.condition input:checked + label {color: #1a70dd; font-weight: bold;}
.btn_more {width: 15px; height: 15px; border: none; background: none;background-image: url(../img/icon16_b_plus.png);background-repeat: no-repeat; position: absolute;right: 17px;top: 12px;}
.close {height: 15px;width: 15px;border: 1px solid #cccccc;font-size: 12px; color: #999999; background: #fff;text-align:center;line-height: 10px;margin-top: 16px;}


/* more버튼 클릭 시  */
.expand .condition-list ul { background: #fbfbfb; height:auto!important;}
.expand .condition-list ul li {width: 16.6666%;}

/* menu */
.menu {height: 57px;}
.menu::before {content: ""; display: block; width: 100%; height: 1px;  background:#dddddd;margin-bottom: 21px;}
.menu-list {  float: left;}
.menu-list ul {display: flex; flex-wrap: wrap; }
.menu-list ul li {margin-right: 30px; font-size: 12px;color: #666666; flex: 0 0 auto;}
.menu input:checked + label {color: #1a70dd;}
.menu-list input {display: none;}
.range ul li {position: relative; }
.range #watch {float: right; width: 109px; height: 27px;margin-left: 13px;padding-left: 11.5px; font-size: 12px; color: #666666; border: 1px solid #cccccc}
.range #search { width: 153px;height: 27px;float:right;padding-left: 11.5px;right: 0px;top: 0;  border: 1px solid #cccccc}
.range #search::placeholder {color: #aaaaaa; font-size: 12px;}
.range button {position: absolute;right: 122px;width: 27px; height: 27px; border: 1px solid #cccccc}

