/* CSS Document */
body{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #ffffff;
}

p, br, body, td, textarea, option {
	font-family: "µ¸¿ò";
	/*font-size:12px;*/
    color:#767676;
	/* line-height: 16px; */
}

IMG {border: none;} 





/* ---------------------------------------------- ÆÇ¸ÅÀÚ ----------------------------------------------- */


.text01 {	font-family: "µ¸¿ò";	font-size: 12px;	color: #000000; text-decoration:none}
a.text01 :link {color:#000000; text-decoration:none}
a.text01 :visited {color:#000000; text-decoration:none}
a.text01 :active {color: #000000; text-decoration:none}
a.text01 :hover {color:#000000; text- decoration:none}

.text02 {	font-family: "µ¸¿ò";	font-size: 14px;	color: #004276; text-decoration:none; font-weight: bold;}
.text03 {	font-family: "µ¸¿ò";	font-size: 11px;	color: #767676; text-decoration:none; 	line-height: 14px;}
.text04 {	font-family: "µ¸¿ò";	font-size: 11px;	color: #804000; text-decoration:none; 	line-height: 14px;}
.text06 {	font-family: "µ¸¿ò";	font-size: 12px;	color: #767676; text-decoration:none; 	line-height: 16px;}
.text07 {	font-family: "µ¸¿ò";	font-size: 12px;	color: #804000; text-decoration:none; 	line-height: 14px;}

.text05 {	font-family: "µ¸¿ò";	font-size: 12px;	color: #000000; text-decoration:underline}
a.text05 :link {color:#000000; text-decoration:underline}
a.text05 :visited {color:#000000; text-decoration:underline}
a.text05 :active {color: #000000; text-decoration:underline}
a.text05 :hover {color:#000000; text- decoration:underline}



/*Æû ºÎºÐ*/
.form {
	font-family: "µ¸¿ò"; font-size: 12px; color: #303030; background-color: #ffffff; margin: 1px; padding: 1px; border: 1px solid #BCBCBC;}

.faq_scroll{
	scrollbar-highlight-color: #c0c8d9;
	scrollbar-shadow-color: #c0c8d9; 
	scrollbar-arrow-color: #FFFFFF; 
	scrollbar-face-color: #d5dae5; 
	scrollbar-3dlight-color: #fafbfc; 
	scrollbar-darkshadow-color: #fafbfc; 
	scrollbar-track-color: #fafbfc;  
}

/* 20150127 ÆÇ¸ÅÀÚ ½Å±Ô Ãß°¡ */
ul, ol, li {list-style:none; margin:0; padding:0;}
.detail_con {padding-left:45px;}
.detail_con table tr td {text-align:left;}
.detail_con p, .detail_con ul li, .detail_con ol li {font-size:12px; font-family:"µ¸¿ò",dotum; color:#8c8c8c; line-height:16px; text-align:left;}
.pdt10 {padding-top:10px;}
.pdt20 {padding-top:20px;}
.pdl10 {padding-left:10px;}
.detail_con .spread {padding:10px 10px 20px 25px;}
.image_area {padding:35px 0;}

