@charset "utf-8";

html, body	 {width:100%;height:100%;}

html,
body {
	scrollbar-arrow-color:#5b5b5b;
	scrollbar-3dlight-color:#fdfdfd;
	scrollbar-darkshadow-color:#fdfdfd;
	scrollbar-face-color:#fdfdfd;
	scrollbar-highlight-color:#bab8b9;
	scrollbar-shadow-color:#bab8b9;
	scrollbar-track-color:#f5f5f5;
}

body {width:100%;height:100%;background:#fff; margin:0; padding:0;}

/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */

/* common */
body{font-family:'Malgun Gothic','맑은 고딕','AppleSDGothicNeo-Medium','Helvetica','AppleGothic','Sans-serif','Dotum','Verdana','Helvetica',sans-serif;font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}

ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}
table{border-collapse:collapse}
.hide {display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */

/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 

/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active {text-decoration:none}
a:hover{text-decoration:underline}

/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#454545;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none}

h1,h2{display:none;}
.wrap{min-width:1150px; width:100%; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/back.gif) 0 0; }
.toparea{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/img_top.jpg) center top no-repeat; width:100%; height:1071px; }
.content{margin:0 auto; width:950px; overflow:hidden; position:relative;}
.vodarea{padding-top:617px; width:1000px;}
.vodarea li{float:left; margin-right:20px; }
.vodarea li span{display:none;}

.contents{background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/img_content.jpg) center top no-repeat; width:100%; height:1168px; text-indent:-9999em;}
.contents .content{height:1168px;}
.go_app{position:absolute; right:0; top:478px; width:369px; height:52px; z-index:10; display:block; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/a_btn.gif) 0 0 no-repeat;}
.go_price{position:absolute; right:0; top:965px; width:369px; height:52px; z-index:10; display:block; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/a_btn.gif) left bottom no-repeat;}

.bnrarea{width:100%; height:297px; }
.bnrarea .banner{width:1153px; height:297px; margin:0 auto; }
.bnrarea .banner .go_event{text-indent:-9999em; width:1150px; height:140px;  display:block; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/mass_marketing/img_footer_bnt.jpg) center 0px no-repeat;}