@charset "utf-8";

/* default.css */
html, body	 {width:100%;height:100%;}
body {width:100%;height:100%;background:#fff; margin:0; padding:0;}
/* mobile */
html{-webkit-text-size-adjust: none;} /* iphone */
/* common */
body{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666; font-size:12px;color:#666;}
body, ul, ol, li, dt, dl, dd, div, h1, h2, h3, h4, h5, h6, p, form, fieldset, blockquote, iframe, input, object, table, tr, th, td{margin:0;padding:0;}
ul, ol, li{list-style:none}
hr{display:none}
em{font-style:normal}
fieldset, img{border:none;}
legend, caption{display:none}

.hide{display:none}  /* none */
.blind {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;} /* hide */
/* png24 ie6 전용 */
* html .png24{tmp:expression(setPng24(this));} 
/* Link Css */
a {cursor:pointer}
a:link,  a:visited,  a:active, a:hover {text-decoration:none}
/* form */
textarea {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;color:#666666;outline:none}
select{font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;}
input {font-family:Dotum, "돋움", verdana, sans-serif;font-size:12px;outline:none; }
button{cursor:pointer;}


/* 폰트 */
@font-face {
  font-family: 'NanumBarunGothic';
  src: url(/common/fonts/NanumBarunGothic.eot);
  src: url(/common/fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(/common/fonts/NanumBarunGothic.woff) format('woff'),
       url(/common/fonts/NanumBarunGothic.ttf) format('truetype');
}


/* 20151223 VIP구매페이백 프로모션 */
.event_wrap {position:relative; width:100%; height:100%;}
.event_wrap h2, .event_wrap h3, .event_wrap .txt,  .event_wrap .btn em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.event_wrap h4 { text-indent:-9999em; font-size:0;}
/*.event_wrap a {outline:none;}*/
.event_wrap .section {overflow:hidden;}
.event_wrap .contents {position:relative; margin:0 auto; width:1000px; height:100%;}
.visual {height:560px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/visual_bg2.jpg) repeat-x 0 0;}
.visual .inner {height:100%; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/visual_bg.jpg) no-repeat 50% 0;}
.visual .contents {text-align:center; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/visual.png) no-repeat 0 0;}
.visual .contents .ani {display:inline-block; width:504px; margin:64px auto 0;}


.apply {height:605px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/apply_bg.jpg) repeat-x 0 0;}
.apply .contents {background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/apply.png) no-repeat 0 0;}
/*.apply .contents.february {background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/apply2.png) no-repeat 0 0;} /*2월 */
.apply .btn {position:absolute; bottom:70px; }
.apply .btn.register {left:58px; width:320px; height:90px;}
.apply .btn.confirm {left:475px; width:200px; height:40px;}

.brand {background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/brand_bg.gif) repeat-x 0 0;}
.brand h4 {width:602px; height:40px; margin:59px auto 0; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/title_brand.gif) no-repeat 0 0; }
/* 백화점에서 가져옴 */
div.best-brand {margin-top:30px;  }
div.best-brand ul {width:1005px; }
div.best-brand ul:after {content: ""; display: block; clear: both; width: 0px; height: 0px; }
div.best-brand ul li {position:relative; float:left; width:330px !important; height:330px !important; margin:-1px 0px 0px -1px; border:1px solid #dfdfdf; z-index:1;}
div.best-brand ul li:hover{border:1px solid #3f352f; z-index:2; }
div.best-brand ul li em {position:absolute; top:0; left:0; cursor:pointer;}
div.best-brand ul li span img {width:330px; height:330px;}

.caution {width:100%; height:240px;  }
.caution .contents h4 {width:85px; height:22px; margin:38px 0 0 38px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/tit_caution.gif) no-repeat 0 0; }
.caution .contents ul {margin:23px 0 0 38px}
.caution .contents ul li {padding:0 0 5px 12px; font-family:Malgun Gothic; font-size:16px; color:#434343;  line-height:20px; letter-spacing:-0.05em;  background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/bul_circle_gray.gif) no-repeat 0 7px;}
.caution .contents ul li .btn_ask {margin-left:6px; display:inline-block; text-decoration:underline; color:#0073ff;}


/* 레이어팝업 */
.pop-layer  {position:fixed; _position:absolute; top:0; left:0; width:100%; height:100%; z-index:100;}
.popupLayer {position:absolute; left:0; top:0; width:100%; height:100%; z-index:100; -ms-filter: alpha(opacity=60); filter: alpha(opacity=60); opacity:0.6; -moz-opacity:0.6;}
.popupLayer .dim {position:absolute; left:0; top:0; width:100%; height:100%; background:#000; z-index:101;}
.popup_box {position:absolute; left:50%; top:50%; z-index:102;}
.popup_box h2, .popup_box .txt, .popup_box .btn_go em {overflow:hidden;position:absolute;left:-1000%;top:0;width:0;height:0;font-size:0;line-height:0;}
.popup_box img {vertical-align:top; margin:0; padding:0;}
.popup_box .pop-conts {position:absolute; left:0; top:0; width:100%; height:100%; z-index:102;}
.popup_box .btn.close {position:absolute; top:17px; right:17px; width:24px; height:24px; z-index:120;}
.popup_box input[type="text"] {height:23px; *height:22px; padding:0 10px; font-family:"돋움", dotum; font-size:12px; color:#767676; line-height:23px; *line-height:22px; border:0; background-color:#fff;}

.joinin {width:620px; height:700px; margin-left:-310px; margin-top:-350px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/bg_layer_joinin.jpg) no-repeat 0 0;}
.joinin .write {position:absolute; left:97px;  top:88px;}
.joinin .write input {width:186px;}
.joinin .write .select_box {width:206px;}
.joinin .write.phone {top:88px;  left:387px; }
.joinin .write.mall {top:124px;  left:97px; }
.joinin .write.payment {top:161px;  left:97px; }
.joinin .write.number {top:160px;  left:387px; }
.select_box {position: relative;height: 23px; background: url(http://imgenuri.enuri.gscdn.com/images/event/2015/blackfriday/bul_select_arrow.gif) #fff 100% 50% no-repeat;}
.select_box label {position: absolute;  top:5px; left:10px; font-family:"돋움", dotum; font-size:12px; color: #767676;}
.select_box select.selectbar {width:100%; height: 23px; min-height: 23px; line-height:23px; opacity: 0; filter: alpha(opacity=0); cursor:pointer	}
.select_box .select_box_sel {width:100%; height: 23px; min-height: 23px; line-height:23px; opacity: 0; filter: alpha(opacity=0);	}
.joinin .write.buydate {top:124px; left:387px;}
.joinin .write.buydate input.month {width:30px; padding:0 4px; text-align:center;}
.joinin .write.buydate input.date {width:55px; padding:0 4px; margin-left:29px; text-align:center;}
.joinin .agree {position:absolute; top:197px; right:20px;}
.joinin .agree * {vertical-align:middle;}
.joinin .agree input[type="checkbox"] {margin-top:-1px; margin-right:5px; background-color:none;}
.joinin .agree label {font-size:12px;  color:#333; cursor:pointer}
.joinin .agree .btn.detail {display:inline-block; width:70px; height:21px; }
.joinin .btn_state {padding-top:233px; text-align:center}
.joinin .btn_state .btn {display:inline-block; width:204px; height:40px; background-image:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/btn_state.gif)}
.joinin .btn_state .btn.submit {background-position: 0 0; margin-right:10px;}
.joinin .btn_state .btn.cerok {background-position: -216px 0;}

.accountCertify {width:620px; height:400px; margin-left:-310px; margin-top:-200px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/bg_layer_certify.jpg)  #fff no-repeat 0 0;}
.accountCertify .write {position:absolute; }
.accountCertify .write input {width:154px;}
.accountCertify .select_box label {left:4px; top:4px; font-size:11px; }
.accountCertify input[type="text"] {padding:0 4px; font-size:11px;}
.accountCertify .write.account {left:431px; top:121px;}
.accountCertify .write.name {left:87px; top:157px;}
.accountCertify .write.name input {width:238px;}
.accountCertify .write.number2 {left:431px; top:157px;}
.accountCertify .write.bank {left:87px; top:121px;}
.accountCertify .write.bank .select_box {width:246px;}
.accountCertify .caution {padding:284px 0 0 22px;}
.accountCertify .caution li {margin-bottom:12px; font-family:dotum; color:#333; font-size:12px; padding-left:12px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/blackfriday/bul_bar_gray.gif) no-repeat 0 7px;}
.accountCertify .caution li strong {font-weight:normal; color:#ff0000;text-decoration:underline; }
.accountCertify .caution li em {text-decoration:underline; }
.accountCertify .btn.certify {position:absolute; top:205px; left:208px; display:inline-block; width:204px; height:40px;}

.buyinglist {width:620px; height:460px; margin-left:-310px; margin-top:-230px; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/bg_layer_check.jpg) #fff no-repeat 0 0; }
.buyinglist .pop-conts {width: 580px; padding:0 20px;}
.buyinglist .nolist p {padding-top:150px; line-height:23px; text-align:center; color:#333;}
.buyinglist .nolist .btn_comein {position:absolute;  top:214px; left:150px; display:inline-block; width:320px; height:90px; text-indent:-9999em; font-size:0; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/vip_payback/new/btn_comein.jpg) no-repeat 0 0;}
.buyinglist .total {padding:75px 0 15px; font-size:16px; font-weight:bold; color:#333333;}
.buyinglist .total em {color:#e60012 }
.buyinglist .tb {width:580px; padding-bottom:10px;}
.buyinglist .tb th, .buyinglist .tb td {text-align:center; font-family:dotum; font-size:12px; color:#333;}
.buyinglist .tb th {height:35px; line-height:32px; font-weight:normal; border-top:2px solid #898989; border-bottom:1px solid #ccc; background-color:#eaeaea}
.buyinglist .tb td {height:35px; line-height:35px;  border-bottom:1px solid #ccc; }
.buyinglist .tb td.daterg {width:90px;}
.buyinglist .tb td.shop {width:110px;}
.buyinglist .tb td.buydate {width:90px}
.buyinglist .tb td.payment {width:135px; text-align:right; padding-right:15px; color:#e60012;}
.buyinglist .tb td.orderum {width:140px;}}
.buyinglist .tb td.state {width:173px;}
.buyinglist .tb td.state.wait {color:#0066ff;}
.buyinglist .tb td.state.ban {color:#ff0000;}
.buyinglist .btns {margin-top:32px; height:68px; text-align:center;}
.buyinglist .tip {padding:25px 0 5px; line-height:18px; color:#333}

/* 개인정보 */
.popInfo {width:442px; height:410px; margin-left:-221px; margin-top:-205px;  border:1px solid #b5b5b5; border-top:none; background:#fff;}
.popInfo dl {font-family:dotum; font-size:12px; color:#767676; }
.popInfo dt {height:28px; padding-left:15px; font-weight:bold; line-height:28px;  border-top:1px solid #b5b5b5; border-bottom:1px solid #b5b5b5;background-color:#dcdcdc;}
.popInfo dd {padding:18px 15px; line-height: 16px; letter-spacing:-0.05em;}
.popInfo dd ol li, .popInfo dd ul {margin-top:16px;}
.popInfo a.close {position:absolute; top:0; right:0; width:30px; height:30px; text-indent:-9999em; z-index:120; background:url(http://imgenuri.enuri.gscdn.com/images/event/2015/ramenback/popup_close.gif) no-repeat 0 0; }

/* 페이징 */
.paging {margin-top:14px; font-weight:bold;font-size:14px;line-height:14px;text-align:center;vertical-align:top}
.paging a {display:inline-block;padding:7px 8px 6px;margin-right:1px; font-family:NanumBarunGothic; color:#c9c9c9; border:1px solid #c9c9c9;text-decoration:none; background:#eee;}
.paging a:hover, .paging a.on {color:#c62236; background:#fff; border:1px solid #c62236; }
.paging a:hover {text-decoration:none}
.paging a.on {cursor: text;}




/* ------------------------------------------------ 개발 ------------------------------------------------  */

/*150520 푸터*/
.bnr_area{margin-top:8px;background:url(http://imgenuri.enuri.gscdn.com/images/main/bg_footer_bnr.gif) 0 0; text-align:center; height:91px; }
.bnr_area ul{margin:0 auto; width:1000px; background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr.gif) 0 0 no-repeat; height:91px;}
.bnr_area ul li a{width:50%; float:left; display:block; height:91px; text-indent:-9999em; }
.footer{width:1000px; font-family:dotum; font-size:12px; margin:0 auto; padding:0; font-family: 맑은 고딕,Malgun Gothic,Dotum,applegothic,sans-serif,arial;}
.footer_menu{text-align:center; height: 28px; padding:13px 0 0 0;  padding-top: 10px; border-bottom:1px solid #e2e2e2; background:#f2f2f2; margin:0;}
.footer_menu li{margin:auto; display:inline; margin:0 17px;}
.footer_menu li a{color:#555555; text-decoration:none;}

.footer .adr{padding: 14px 0 12px 23px;  font-size:12px;  color:#808080; line-height:16px; margin:0;}
.footer .adr span{padding-right:12px; }
.footer .adr img{vertical-align:middle}

.footer .award_list{background:url(http://imgenuri.enuri.gscdn.com/images/main/footer_bnr02.gif) 0 0 no-repeat; height:51px; text-indent:-9999em; margin:0; padding:0;}
.footer .copyright{padding: 10px 0 20px 23px; line-height:16px;  font-size:11px;  color:#808080; }
.footer .copyright strong{display:block; font-weight:normal; color:#5390be; }

#m_footer .m_footInner address {float:left;margin:0 4px 0 0;color:#888;font-style:normal;}

