@charset "utf-8";

@import url("default.css");
@import url("main.css");
@import url("vip.css");

html {overflow-x:hidden;height:100%;}
body {height:100%; }

#wrap {position:relative;width:100%; }

@font-face {
    font-family: NanumMyeongJo;
    src: url('http://img.enuri.info/images/mobile_dp/font/NANUMMYEONGJO.TTF'); /* IE 4-8 */
    src: url('http://img.enuri.info/images/mobile_dp/font/NANUMMYEONGJO.TTF?') format('eot'), /* IE 9 */
         url('http://img.enuri.info/images/mobile_dp/font/NANUMMYEONGJO.TTF') format('woff'); /* IE 9, Firefox 3.6+, Chrome 6+ */
}

@font-face {
    font-family: georgia;
    src: url('http://img.enuri.info/images/mobile_dp/font/georgia.ttf'); /* IE 4-8 */
    src: url('http://img.enuri.info/images/mobile_dp/font/georgia.ttf?') format('eot'), /* IE 9 */
         url('http://img.enuri.info/images/mobile_dp/font/georgia.ttf') format('woff'); /* IE 9, Firefox 3.6+, Chrome 6+ */
}

/* 상품리스트 */
.brandlist{padding:10px 6px 10px 10px;/*padding:10px;*/ position:relative; border-bottom:1px solid #dddee0;}
.brandlist .br_num{color:#198ef6;  position:absolute; left:10px; top:15px;  font-size:14px;  /*letter-spacing:-1px;*/ line-height:2;}
/*.brandlist .br_num em{font-weight:bold; letter-spacing:-1px;}*/
.brandlist .choice{text-align:right; }

.productlist {padding:6px 6px 15px 6px; background-color:#ebebeb; min-height:200px;}
/*.productlist .inner {padding-top:6px;}*/
.productlist li{position:relative; margin-top:6px; /*padding:0 30px 0 108px; height:116px; border:1px solid #d2d2d2;*/ background-color:#fff;}
.productlist li:first-child {margin-top:0;}
.productlist li .thum{position:absolute; left:10px; top:21px; }
.productlist li .thum img{width:93px; height:93px; }
.productlist li .tit{display:block; font-size:14px; color:#434343; /*padding-top:11px;*/ padding-right:30px; height:54px;letter-spacing:-1px}
.productlist li a {display:block; }
.productlist li .mall{font-size:10px; color:#777777; display:block; }
.productlist li .mall .e1{color:#555555; padding-right:8px;}
.productlist li .mall .e2{color:#bcbcbc; font-size:10px; padding-left:2px;}
.productlist li .price{color:#bbbbbb; padding-top:6px; display:block; font-size:12px; font-family:tahoma; }
.productlist li .price strong{color:#198ef6; font-size:17px; letter-spacing:-1px; margin-right:4px; /*margin-right:10px; */}
.productlist li .price strong em{color:#198ef6; font-size:12px; padding-left:2px; font-weight:normal; vertical-align: 1px;}
.productlist li .price em{font-family:dotum; }
.price_compare li .tit {padding-top:11px;}


.selectype1{display: inline-block; background: -moz-linear-gradient(19% 75% 90deg, #F4F4F4, #FFF) repeat scroll 0% 0% transparent; border: 1px solid #DFDFDF; border-radius: 3px;}
.selectype1 select {width: 100%;height: 28px;padding: 0px 25px 0px 5px;border: 0px none;font-size: 12px;color: #8c8c8c;background: url(http://img.enuri.info/images/mobile_dp/bg_select.png) #fdfdfc right 11px no-repeat ; background-size:18px 6px;
-webkit-appearance:none;-moz-appearance:none;border-radius:5;}

.productlist li .prodChoice {position: absolute; top: 9px; right: 0px; }
.prodChoice button{width: 28px; height: 21px; border: 0px none; text-indent: -99999px; background: url(http://img.enuri.info//images/mobile_dp/ico_zzim.png) no-repeat scroll 0 -26px; background-size:29px 47px;}
.prodChoice button.on{background-position: 0px -1px;}

/* 리스트 가격비교 */
.productlist .inner .prod {/*height:116px;*/ height:93px; padding:21px 30px 20px 108px; border:1px solid #d2d2d2;}
.productlist.price_compare .inner .prod {height:116px; padding:0 10px 0 108px; border-top:1px solid #d2d2d2; border-left:1px solid #d2d2d2; border-right:1px solid #d2d2d2; border-bottom:0 none;} /* 리스트 하단에 가격비교탭이 있을 경우 */
.productlist .inner .price_prepare {position:relative; height:26px; padding:10px 0 0 11px;; line-height:1.2; color:#fff; background-color:#757370;  cursor:pointer;}
.productlist .inner .price_prepare .won {height:15px; padding-left:24px; background: url(http://img.enuri.info/images/mobile_dp/ico_won.png) no-repeat 0 0 ; background-size:14px 14px; }
.productlist .inner .price_prepare .arrow {position:absolute; top:15px;  right:9px; width:11px; height:6px;  text-indent:-9999em; background: url(http://img.enuri.info/images/mobile_dp/bul_arrow_price.png) no-repeat 0 0 ; background-size:11px 12px}
.productlist .price_spread {background-color:#fff; border-right:1px solid #757370; border-bottom:1px solid #757370; border-left:1px solid #757370;}
.productlist .price_spread a {display:table; width:100%;}
.productlist .price_spread .title a span, .productlist .price_spread > .option_list > li a span {display:table-cell; height:40px; vertical-align:middle; line-height:1.2; letter-spacing:0;}
.productlist .price_spread .type {width:70%; color:#555;}
.productlist .price_spread .won {width:30%; text-align:right; font-size:13px; color:#198ef5;}
.productlist .price_spread .title {position:relative; height:40px; line-height:40px; padding:0 11px;  letter-spacing:-0.5px; border-bottom:2px solid #dedede;}
.productlist .price_spread .title strong {font-size:13px; font-weight:900;}
.productlist .price_spread .title strong em { font-weight:normal; color:#888;}
.productlist .price_spread .type em { font-weight:normal; color:#888;}
.productlist .price_spread > .option_list > li {/*height:40px; line-height:40px;*/ margin:0; padding:0 11px; color:#555; border-bottom:1px solid #dedede; border-top:0 none; border-right:0 none;border-left:0 none; }
.productlist .price_spread > .option_list > li:last-child {border-bottom:0 none;}
.productlist .price_spread a.bottom {display:block; height:39px; line-height:39px;  text-align:center; border-top:1px solid #dedede; background-color:#eaeaea;}
.productlist .price_spread a.bottom .total_view {display:inline-block;}
.productlist .price_spread a.bottom .total_view {font-size:15px; color:#444;letter-spacing:-0.5px; padding-right:11px; background: url(http://img.enuri.info/images/mobile_dp/bul_arrow_view2.png) no-repeat 100% 50%; background-size:6px 9px }
.productlist .price_spread a.bottom .total_view em {font-size:11px; color:#888;}



/* 브랜드선택 레이어 */
.br_layer{width:320px; background:#ffffff; margin: -190px 0px auto -160px; height:380px; position:absolute; left:50%; top:50%; }
.br_layer h1{background:#585755; color:#ffffff; font-size:18px; font-weight:normal; letter-spacing:-2px; text-align:center; padding:6px 0; position:relative; }
.br_layer h1 a{width:43px; height:43px; background: url(http://img.enuri.info/images/mobile_dp/ico_close.gif) 13px 9px no-repeat; background-size:15px 15px; position:absolute; text-indent:-9999em; right:0; top:0;}
.layer_back{width: 100%; height: 100%; position: fixed; left: 0px; top: 0px; background: url(http://img.enuri.info/images/mobilenew/images/layer_back.png); z-index: 10000;}

.br_choice{padding-top:10px; height:147px; width:297px; margin:0 auto; overflow:hidden; }
.br_choice .brtab{width:309px; padding-bottom:10px; }
.br_choice .brtab:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.br_choice .brtab li{display:inline-block; float:left; width:98px; text-align:center;border-left:1px solid #ffffff; background:#e6e6e6;}
.br_choice .brtab li a{display:block; text-align:center; font-size:14px; color:#77736f; padding:5px 0}
.br_choice .brtab li .on{background:#bcac9d; color:#f3f3f3; }
.br_choice .brtab li.br01{border-radius:5px 0 0 5px; }
.br_choice .brtab li.br01 .on{border-radius:5px 0 0 5px; background:#bcac9d;}
.br_choice .brtab li.br03{border-radius:0px 5px 5px 0px; }
.br_choice .brtab li.br03 .on{border-radius:0px 5px 5px 0px; background:#bcac9d;}

.br_choice div{float:left; width:100%; }
.choice_list{width:290px; margin:0 auto;}
.choice_list:after{clear: both;content: ".";display: block;font-size: 0px;height: 0px;line-height: 0;visibility: hidden;}
.choice_list li{float:left; display:inline-block; border-radius:5px; background:#f4f4f4; border:1px solid #eaeaea; margin:2px}
.choice_list li a{height:21px; padding-top:5px; width:26px; font-size:14px; text-align:center; display:block; color:#888888;}
.choice_list li.all a{font-size:10px; letter-spacing:-1px; padding-top:7px; height:19px; }
.choice_list li.on{background:#d8d8d8; color:#888888; border:1px solid #cccccc;}
.choice_list li a:hover{background:#d8d8d8; border-radius:5px; }
.choice_list li a.firstSel{background:#d8d8d8; border-radius:5px; }
.choice_list li a.firstNor{background:#d8d8d8; color:#b5b2b2; border-radius:5px; cursor:default; }
.choice_list li a.none{color:#d7d7d7; cursor:default}
.choice_list li a.none:hover{color:#d7d7d7; background:#f4f4f4;}

.br_search{width:100%; overflow:hidden; }
.br_search .all_br{border-top:1px  solid #8c8c8c; margin-bottom:1px; color:#198ef7; padding: 8px; font-size:12px; background:#eeeeee; }
.br_search .all_br span{color:#198ef7; }
.br_search .br_scroll{width:320px; overflow-x:scroll; overflow-y:hidden; padding-bottom:10px; border-top:1px solid #dddddd }
.br_search .br_list{height:85px; }
.br_search .br_list ul{float:left; width:200px; padding:8px 12px;}
.br_search .br_list li{font-size:13px; line-height:24px; color:#555555;}
.br_search .br_list li input{border:1px solid #dddddd; width:12px; height:12px; margin:-1px 3px 0 0; vertical-align:middle; border-radius:0; }
.br_search .br_list li span{color:#888888; font-size:10px; padding-left:3px}
.br_search .btnarea{text-align:center; padding-top:10px;}
.br_search .btnarea button{margin:0 2px;width:90px;}
.type1{letter-spacing:-1px; height:30px;color:#4c5363;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;font-size:13px;}



/* LP 브랜드영역 */
.brand_area .location{height:20px; border-top:1px solid #bdbdbd; background:#fff; font-size:11px; color:#585655; padding:9px 0 0 6px; }
.brand_area .location li{display:inline; padding:0 10px 0 3px; background: url(http://img.enuri.info/images/mobile_dp/ico_location.gif) right 3px no-repeat; background-size: 4px 5px; }
.brand_area .location li:last-child{background:none; }
.br_icon{background: url(http://img.enuri.info/images/mobile_dp/bg_brand.png)  0 0; background-size:38px 220px; }
.brand_area .brand_b_list{background:#ececef; border-top:1px solid #f7f7f7; background:#f8f8f8; height:38px; position:relative; padding:0 71px 0 84px; overflow:hidden; }
.brand_area .brand_b_list .br_all{position:absolute; left:9px; top:12px; font-size:10px; color:#4f525a; font-weight:bold; letter-spacing:-1px;}
.brand_area .brand_b_list button{text-align:center; position:absolute; right:8px; top:3px; width:38px; height:30px; border:none; font-size:9px; color:#575555; }
.brall_list .br_prev{position:absolute; left:65px; top:3px; width:30px; height:30px; background-position:-1px -54px; text-indent:-9999em; }
.brall_list .br_next{position:absolute; right:65px; top:3px; width:30px; height:30px; background-position:-6px -132px; text-indent:-9999em; }
.brand_b_list .brall_list ul{width:600px; padding-top:9px;}
.brand_b_list .brall_list ul li{display:inline; padding:0 5px; font-size:11px;}

/* 리스트 탭 */
.type_wrap {height:36px;}
.type_wrap .tab {width:100%; height:36px; }
.type_wrap .tab:after {content:""; display:block; clear:both;}
.type_wrap .tab li {float:left; height:36px; line-height:36px; text-align:center;}
.type_wrap .tab li a {display:block; font-size:13px; color:#666;}
/* 좌측 카테고리 탭 활성화 */
.type_wrap .tabL li.category {width:45%; background: url(http://img.enuri.info/images/mobile_dp/bul_tab_on.gif) 0 0 repeat-x; background-size:2px 36px;}
.type_wrap .tabL li.category a {color:#fff;}
.type_wrap .tabL li.brand  {width:55%;  background: url(http://img.enuri.info/images/mobile_dp/bul_tab_off.gif) 0 0 repeat-x; background-size:2px 36px;}
.type_wrap .tabL li{position:relative;}
.type_wrap .tabL li.brand span{background: url(http://img.enuri.info/images/mobile_dp/bul_tab_middle1.gif) 0 0 no-repeat ; background-size:30px 36px; position:absolute; left:0; top:0; height:36px; width:30px; display:block; }
/* 우측 브랜드 탭 활성화 */
.type_wrap .tabR li.brand {width:45%; background: url(http://img.enuri.info/images/mobile_dp/bul_tab_on.gif) 0 0 repeat-x; background-size:2px 36px;}
.type_wrap .tabR li.brand a {color:#fff;}
.type_wrap .tabR li.category {width:55%;background: url(http://img.enuri.info/images/mobile_dp/bul_tab_off.gif) 0 0 repeat-x; background-size:2px 36px;}
.type_wrap .tabR li{position:relative;}
.type_wrap .tabR li.category span{background: url(http://img.enuri.info/images/mobile_dp/bul_tab_middle2.gif) 0 0 no-repeat ; background-size:30px 36px; position:absolute; right:0; top:0; height:36px; width:30px; display:block; }


/* 탭 아래 리스트 */
.type_list {}
.type_list li {font-size:13px;  padding:0 14px; color:#555; border-bottom:1px solid #dedede;}
.type_list li.on  {color:#b37f4d;}
.type_list li.on  em {color:#b37f4d;}
.type_list li em {color:#aaa;}
.type_list .pasing {position:relative; height:26px; line-height:1.5; text-align:center; color:#888; padding-top:8px; background-color:#f8f8f8; border-bottom:1px solid #dedede;}
.type_list .pasing a {display:inline-block; width:19px; height:18px; text-indent:-9999em;  }
.type_list .pasing a.btn_pageL {margin-right:10px; background: url(http://img.enuri.info/images/mobile_dp/btn_page_prev.gif) 0 0 no-repeat; background-size: 19px 18px; }
.type_list .pasing a.btn_pageR {margin-left:10px;  background: url(http://img.enuri.info/images/mobile_dp/btn_page_next.gif) 0 0 no-repeat; background-size: 19px 18px; }
.type_list .pasing button {position:absolute; text-indent:-9999em; border:0 none; background:none;}
.type_list .pasing button.initial {top:13px; left:10px; width:40px; height:10px; background: url(http://img.enuri.info/images/mobile_dp/btn_initial.gif) 0 0 no-repeat; background-size: 40px 10px; }
.type_list .pasing button.allview {top:5px; right:9px; width:75px; height:25px; background: url(http://img.enuri.info/images/mobile_dp/btn_allview.gif) 0 0 no-repeat; background-size: 75px 25px; }

/* 탭 아래 카테고리 리스트 */
.type_list.tpcata li {height:37px; line-height:37px; cursor:pointer;}
.type_list.tpcata li a {color:#555;}
.type_list.tpcata li.on a {color:#b37f4d;}

/* 탭 아래 브랜드 리스트 */
.type_list.tpbrand  {}
.type_list.tpbrand li {position:relative; height:30px; padding:4px 0;}
.type_list.tpbrand li > ul:after {content:""; display:block; clear:both;}
.type_list.tpbrand li > ul > li {float:left; width:50%; line-height:20px; font-size:12px; border-bottom:0; overflow:hidden; }
.type_list.tpbrand li > ul > li input[type="checkbox"] { position:absolute; left:0; top:0; width:18px; height:18px; margin:0; opacity:0; padding:4px; }
.type_list.tpbrand li > ul > li .chk { position:absolute; left:4px; top:4px; width:20px; height:20px; background: url(http://img.enuri.info/images/mobile_dp/btn_checkbox.gif) 0 0 no-repeat; background-size:20px 40px; }
.type_list.tpbrand li > ul > li.on .chk {background-position:0 -20px;}
.type_list.tpbrand li > ul > li.on  em {color:#aaa;}
.type_list.tpbrand li > ul > li label {float:left; margin-left:30px; cursor:pointer;}
.type_list.tpbrand li > ul > li label .best {float:left; display:inline-block; width:25px; height:14px; text-indent:-9999em; margin-top:4px; margin-right:3px; background: url(http://img.enuri.info/images/mobile_dp/icon_best.gif) 0 0 no-repeat; background-size:25px 13px; }
.type_list.tpbrand li > ul > li label span {float:left;}
.type_list.tpbrand li > ul > li em {font-size:10px;}
.type_list.tpbrand li > ul > li.line2 {line-height:15px; }
.type_list.tpbrand li > ul > li.line2 input {margin-top:1px; }
.type_list.tpbrand li > ul > li.line2 label {margin-top:-4px;}
.type_list.tpbrand li > ul > li.line2 label .best {margin-top:1px; }

/* 선택된 브랜드 */
.selected_brand {padding:7px 13px; border-bottom:1px solid #dedede; }
.selected_brand dt, .selected_brand dd {display:inline;}
.selected_brand dd {height:13px; line-height:13px; font-size:10px; letter-spacing:-1px; color:#707070; }
.selected_brand dd * {vertical-align:middle;}
.selected_brand dd .del {width:13px; height:13px; margin:0 10px 0 4px; text-indent:-9999em; border:0 none; background: url(http://img.enuri.info/images/mobile_dp/btn-del.gif) 0 0 no-repeat; background-size: 13px 13px; }

/* 상품  리스트 하단 페이징 */
.productlist .pagination {margin:0; padding:15px 0 3px 0;}


/* SRP 검색결과 영역 */
.search_result_area {height:31px; line-height:31px; text-align:center; font-size:13px; color:#585655; letter-spacing:-0.5px;  border-top:1px solid #bdbdbd; }
.search_result_area em {color:#198ef6;}


/* search */
.search {position:relative;padding:10px 0;margin:0 40px 0 82px;background:none; }
.search .btn-search {right:24px; display:block;position:absolute; top:17px;right:17px;width:25px;height:25px;margin:0;padding:0;border:0;background:url(http://img.enuri.info/images/mobile_dp/btn_search.gif) no-repeat 0px 0;background-size:25px; text-indent:-9999px;}
.search input[type='text'] {padding-right:70px;font-family:dotum; overflow:hidden;width:100%;height:40px;padding:0 30px 0 5px;border:3px solid #4b4641;color:#373737;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:14px;line-height:1.2;text-overflow:ellipsis;white-space:nowrap;}
.search .del {position:absolute;top:22px;right:48px;overflow:hidden;width:17px;height:16px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -75px;background-size:250px;border:0;text-indent:-99999px;}
.searchBody {background:#fff;}
.search {position:relative;margin:0;padding:10px;border-bottom:1px solid #e6e6e6;z-index:1;  background:#ffffff}
.searchCont {position:relative;height:100%;margin:-54px 0 0;padding:54px 0 42px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.search label {top:17px; left:17px;}
.latest {padding-right:79px;}
.searchFoot {position:fixed;bottom:0;left:0;width:100%;height:42px;padding:10px 8px 0;background:#e9e9e9;border-top:1px solid #d5d5d5;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.searchFoot button {border:0;background:none;color:#77787b;font-size:14px;}
.searchFoot .bar {margin:0 4px;color:#c1c2c4;}
.searchFoot .close {position:absolute;right:8px;}
.searchList .noneTxt {padding:17px 0 0;text-align:center;font-size:14px;color:#b3b3b3;}
.searchList {min-height:100%;}
.latest .searchList {border-right:1px solid #e6e6e6;}
.searchList li {position:relative;border-bottom:1px solid #e6e6e6;}
.searchList li a {font-family:dotum; display:block;height:41px;padding:12px 30px 0 10px;font-size:13px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.searchList li a span {color:#0081e5;}
.searchList li .del {position:absolute;top:0;right:0;width:30px;height:41px;background:none;border:0;text-indent:-99999px;}
.searchList li .del:after {content:"";position:absolute;top:14px;right:10px;width:11px;height:11px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -25px;background-size:250px;}
.back_line { }

.recent_thum{position:absolute; right:0; top:0; width:79px; border-left:1px solid #dadada; height:100%; }
.latestProd {position:absolute;top:54px;right:0;width:80px;padding:0;background:#fff;border-left:1px solid #e6e6e6;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
.latestProd li {position:relative;overflow:hidden;width:79px;height:83px;border-bottom:1px solid #e6e6e6;}
.latestProd li img {width:79px;height:83px;}
.latestProd li .del {position:absolute;top:0;right:0;width:30px;height:41px;background:none;border:0;text-indent:-99999px;}
.latestProd li .del:after {content:"";position:absolute;top:10px;right:10px;width:11px;height:11px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -25px -25px;background-size:250px;}
.latestProd li.more {height:36px !important;background:#f6f5f5;font-size:13px; padding-top:5px;}
.latestProd li.more a {padding:0 0 0 9px;color:#77787b;line-height:31px;}
.latestProd li.more:after {position:absolute;top:14px;right:12px;content:"";width:6px;height:11px; background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -100px -75px;background-size:250px;}

/* 최근 본 상품 */
.recent_view_area dt {position:relative; t width:100%; height:39px;line-height:39px;  color:#ffffff; font-size:13px; letter-spacing:-1px; text-align:center; background:#4b4641; }
.recent_view_area dt strong{ font-weight:normal; display:block; }
.recent_view_area dd {height:32px; line-height:32px; margin-left:8px; padding-left:6px; text-align:left; font-size:11px; color:#666; letter-spacing:-1px; background:url(http://img.enuri.info/images/mobile_dp/bul_dot_666.gif) no-repeat 0 50%; background-size:2px 2px;}

.pro_delete {padding:7px 0; position:relative; /*border-bottom:1px solid #dddee0;*/}
.pro_delete .br_num {float:left; display:inline-block; }
.pro_delete .br_num input[type="checkbox"] { position:absolute; left:0; top:0; width:18px; height:18px; margin:0; opacity:0; padding:4px; }
.pro_delete .br_num .chk {float:left; position:absolute; left:0; top:10px; width:20px; height:20px; background: url(http://img.enuri.info/images/mobile_dp/btn_checkbox.gif) 0 0 no-repeat; background-size:20px 40px; }
.pro_delete .br_num .chk.on {background-position:0 -20px;}
.pro_delete .br_num label {float:left; width:20px; margin-left:25px; margin-top:1px; color:#888;  font-size:12px;  letter-spacing:-0.5px; line-height:2;}
.pro_delete .choice {text-align:right; }
button.btn_rtype {display: inline-block; width:53px; height: 25px; line-height:2; font-size: 12px; color: #888; text-align:center; border:1px solid #dfdfdf; border-radius:5px; background: url(http://img.enuri.info/images/mobile_dp/bg_gray_w55.png) #fdfdfc right 11px no-repeat ; background-size:1px 25px;}

.productlist li .thum input[type="checkbox"] { position:absolute; left:0; top:0; width:18px; height:18px; margin:0; opacity:0; padding:4px; }
.productlist li .thum .chk {float:left; position:absolute; left:0; top:0; width:20px; height:20px; background: url(http://img.enuri.info/images/mobile_dp/btn_checkbox.gif) 0 0 no-repeat; background-size:20px 40px; }
.productlist li .thum .chk.on {background-position:0 -20px;}

/* 코어에서 가져온 찜 리스트 체크박스 맞춤 */
.productlist li .prodPr input[type="checkbox"] {/*position:absolute; left:0; top:0; */ width:18px; height:18px; margin:0; opacity:0; padding:4px; }
.productlist li .prodPr .chk {/*position:absolute; left:0; top:0;*/ display:inline-block; width:20px; height:20px; background: url(http://img.enuri.info/images/mobile_dp/btn_checkbox.gif) 0 0 no-repeat; background-size:20px 40px; }
.productlist li .prodPr .chk.on {background-position:0 -20px;}

/* 찜 */
.zzim_area dt {position:relative; t width:100%; height:39px;line-height:39px;  color:#ffffff; font-size:13px; letter-spacing:-1px; text-align:center; background:#4b4641; }
.zzim_area dt strong{ font-weight:normal; display:block; }
.zzim_area dd {padding:7px 0; position:relative; }
.zzim_area dd .zimm_folder {position:absolute; top:7px; left:0;width:50%; text-align:left; margin-left:6px; color:#888;}
.zzim_area dd .zimm_folder .zzim_sel {margin-left:5px;}
.zzim_area dd .zimm_folder .selectype1 select {height:26px; color:#666; }
.zzim_area dd .manager { margin-right:6px; text-align:right;}
.manager button.btn_rtype {height:27px;}

.zzim_area.mag {background-color:#ebebeb;}
.zzim_area.mag dd {padding:0;}
.zzim_area.mag .choiceFolderList {background:#fff;}
.zzim_area.mag .choiceFolderList li {padding:7px 6px; color:#888; line-height:2; border-bottom:1px solid #dddee0;}
.zzim_area.mag .choiceFolderList li strong {color:#666; font-weight:normal;}
.zzim_area.mag .choiceFolderList li:after {content:"";display:block;clear:both;}
.zzim_area.mag .choiceFolderList li span {float:left;width:40%;height:23px;}
.zzim_area.mag .choiceFolderList li span.fr {width:20%; text-align:right;}
.zzim_area.mag .choiceFolderList li .btn_rtype {width:54px;}
.zzim_area.mag .btnWrap2 {padding:10px 0; text-align:center;}
.zzim_area.mag .btnWrap2 .btn_rtype {width:93px;}

.recent_view_area .back {position:absolute;top:0;left:0;font-size:0;line-height:0;display:block;width:27px;height:33px;overflow:hidden;text-indent:-99999px;text-align:left; word-break:nowrap;}
.recent_view_area .back:after {content:"";display:block;width:9px;height:16px;float:left;margin:12px 0 0 7px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -50px 0;background-size:250px}
.zzim_area .back {position:absolute;top:0;left:0;font-size:0;line-height:0;display:block;width:27px;height:33px;overflow:hidden;text-indent:-99999px;text-align:left; word-break:nowrap;}
.zzim_area .back:after {content:"";display:block;width:9px;height:16px;float:left;margin:12px 0 0 7px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -50px 0;background-size:250px}

/* 찜 백화점 딱지 */
.productlist li .deptag {position:absolute; left:10px; bottom:22px; display:inline-block; padding:4px 5px; text-align:center; font-size:9px; font-weight:normal; color:#fff; background-color:#3e362e; z-index:1000;}

/* 검색결과 없음 */
.searchNone {margin:0 -6px -12px;padding:18px 0 17px;background:#fff;text-align:center;color:#b3b3b3;border-top:1px solid #e6e6e6;}
.searchNone:before {content:"";display:inline-block;width:75px;height:75px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -175px -150px;background-size:250px;}
.searchNone .txt1 {margin:9px 0 8px;font-size:18px;font-weight:bold;}
.searchNone .txt2:before {content:"";display:inline-block;width:2px;height:2px;margin:0 4px 0 0;background:#b3b3b3;vertical-align:4px;}

/*최근 본 상품 없음 */
.no_prodcut {padding:15% 0; font-size:13px; text-align:center; color:#888;}


/* 코어에서 가져옴 - 찜 리스트---------------------------*/
.core_list {position:relative;margin:6px 0 0;padding:10px 0 0;background:#fff;border:1px solid #d7d7d7;}

.prodPr {overflow:hidden;margin:0 40px 0 10px;color:#5fb2fe;font-size:13px;text-overflow:ellipsis;white-space:nowrap;}
/*
.prodPr input[type='checkbox'] {width:18px;height:18px;border:0;background:url(http://img.enuri.info/images/mobilenew/images/bg_form.png) no-repeat 0 0;background-size:100px;}
*/
.prodPr input[type='checkbox'] {vertical-align:-4px;}
.gridType .prodPr {display:none;}

.prodBox {display:block;margin-top:5px;padding:5px 10px 15px 104px;}
.gridType .prodBox {padding:0 12px 12px;}
.prodBox:after {content:"";display:block;clear:both;}

.prodBox .prodThum {position:absolute;top:41px;left:10px;width:85px;height:85px;border:1px solid #e6e6e6;}
.gridType .prodThum {position:relative;top:auto;left:auto;display:block;width:auto;height:auto;margin:0 0 8px;border:0;text-align:center;}

.prodBox .prodThum img {width:100%;max-width:166px; vertical-align:middle;}
.prodBox .prodThum .img-check {overflow:hidden; display:block; max-width:85px; max-height:85px; line-height:85px;}
.prodBox .prodThum .img-check img {vertical-align:middle;}
.gridType .prodBox .prodThum .img-check {overflow:hidden; display:inline-block; max-width:166px; max-height:166px; line-height:166px;}
.gridType .prodBox .prodThum .img-check img {vertical-align:middle;}
.prodBox .prodThum .label {position:absolute;top:-7px;left:-7px;overflow:hidden;width:50px;height:50px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat;background-size:250px;text-indent:-99999px;}
.prodNone .prodBox .prodThum:after {position:absolute;top:0;left:0;display:block;content:"";width:100%;height:100%;background:#dedcdc;opacity:0.5;z-index:1;}
.prodBox .prodThum .sponsor {background-position:0 -100px;}
.prodBox .prodThum .rank1 {background-position:-50px -100px;}
.prodBox .prodThum .rank2 {background-position:-100px -100px;}
.prodBox .prodThum .rank3 {background-position:-138px -471px;}
.prodBox .prodThum .non {background-position:-200px -100px;}
.prodBox .prodThum .iconZoom {position:absolute;right:5px;bottom:5px;width:12px;height:12px;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -150px -75px;background-size:250px;text-indent:-99999px;z-index:2;}
.prodBox .prodSection {position:relative;height:104px;}
.prodBox .prodSection .prodInfo1 {position:relative;color:#8c8c8c;font-size:13px;}
.prodBox .prodSection .prodInfo1 .prodDate {position:absolute;top:0;right:0;}
.gridType .prodBox .prodSection .prodInfo1 .prodDate {display:none;}
.prodBox .prodSection .prodInfo1 .prodCop {font-weight:normal;}
.gridType .prodBox .prodSection .prodInfo1 {height:20px;overflow:hidden;padding-right:50px;}
.prodBox .prodSection .prodInfo1 .userBuy {color:#ff0000;}
.prodBox .prodSection .prodInfo2 {overflow:hidden;margin:2px 0 0;height:40px;color:#4c5363;font-size:16px; display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;line-height:1.3;letter-spacing:-0.5px;}
.prodBox .prodSection .prodInfo3 {position:relative;padding:12px 145px 0 0;}
.gridType .prodBox .prodSection .prodInfo3 {position:static;padding:0;}
.prodBox .prodSection .prodInfo3 .desc {width:100%;height:30px;overflow:hidden;font-size:13px;color:#8c8c8c;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;text-overflow:ellipsis;line-height:1.2;}
.gridType .prodBox .prodSection .prodInfo3 .desc {height:auto;white-space:nowrap;-webkit-line-clamp:1;}
.prodBox .prodSection .prodInfo3 .desc span {display:inline-block;vertical-align:middle;letter-spacing:-.4px;}
.gridType .prodBox .prodSection .prodInfo3 .desc span {width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; line-height:1.5; vertical-align:top;}
.prodBox .prodSection .prodInfo3 .desc:after {content:"";display:inline-block;height:100%;vertical-align:middle;}
.gridType .prodBox .prodSection .prodInfo3 .desc {position:absolute;top:0;right:0;width:50%;padding:0;text-align:right;}
.prodBox .prodSection .prodInfo3 .sel {color:#8c8c8c;}
.prodBox .prodSection .prodInfo3 .prodPrice {position:absolute;top:12px;right:0;width:140px;height:28px;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;text-align:right;}
.gridType .prodBox .prodSection .prodInfo3 .prodPrice {position:static;display:block;width:100%;margin:5px 0 0;}
.prodNone .prodBox .prodSection .prodInfo3 .prodPrice {/*background:#f0f0f0;*/color:#006ff8;text-align:center;line-height:28px; font-weight:bold;}
.prodBox .prodSection .prodInfo3 .prodPrice em {float:left;overflow:hidden;margin:6px 0 0 5px;font-size:11px;color:#8c8c8c;}
.prodBox .prodSection .prodInfo3 .prodPrice strong {margin:2px 4px 0 0;font-size:11px;color:#006ff8;line-height:27px;}
.prodBox .prodSection .prodInfo3 .prodPrice strong span {font-size:17px;vertical-align:-1px; letter-spacing:-0.5px;margin-right:2px;}
.prodBox .btnLink {position:absolute;top:42px;right:0;}

/* layer popup */
.layerPop {display:none;position:fixed;top:0;left:0;width:100%;height:100%;z-index:1000;}
.layerPopInner {position:absolute;top:50%;width:100%;padding:0 20px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;z-index:1001;}
.layerPopCont {position:relative;background:#fff;}
.layerPopCont h1 {padding:11px 0 9px 10px;background:#4b4641  !important;color:#fff;font-size:14px;}
.layerPopCont .btnClose {position:absolute;top:14px;right:12px;width:15px;height:15px;border:0;background:url(http://img.enuri.info/images/mobilenew/images/icon_pack.png) no-repeat -175px -75px;background-size:250px;text-indent:-99999px;}
.layerPopCont .layerBtn {padding:6px 0;background:#f3f4f5;border-top:1px solid #d5d5d5;text-align:center;}

.layerPopCont .listType1 li {border-top:1px solid #d5d5d5;}
.layerPopCont .listType1 li:first-child {border:0;}
.layerPopCont .listType1 li label {display:block;height:42px;padding:12px 15px 0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;font-size:13px;}
.layerPopCont .listType1 li label input {vertical-align:-2px;}

.transfer-popup.select-option {width:100%; height:auto; top:50%;}
.transfer-popup.select-option .layerPopCont .btnClose {position:absolute;top:14px;right:12px;width:15px;height:15px; background-position:-175px -75px; background-size:250px auto;}
.transfer-popup.select-option .layerPopCont .contents {height:308px; overflow-x:hidden; overflow-y:auto; -webkit-overflow-scrolling:touch;}
.transfer-popup.select-option .layerPopCont .contents ul li {height:45px; border-top:1px solid #d7d7d7;}
.transfer-popup.select-option .layerPopCont .contents ul li:first-child {}
.transfer-popup.select-option .layerPopCont .contents ul li label {display:block; position:relative; height:45px; padding-left:10px; line-height:45px; white-space:nowrap; text-overflow:ellipsis; box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.transfer-popup.select-option .layerPopCont .contents ul li label input[type='checkbox'] {position:absolute; right:10px; top:15px;}
.transfer-popup.select-option .layerPopCont .contents .section-title {padding:9px 10px; border-top:1px solid #d7d7d7; border-bottom:1px solid #f3f4f5; background-color:#f3f4f5;}

/* 141118 찜레이어  */
.transfer-popup.select-option .layerzzim .contents{min-height:130px !important;}
.layerzzim{position: absolute; top: 50%; width: 100%; padding: 0 20px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; z-index: 1001; margin-top:-120px; font-family: 'Malgun Gothic', '맑은 고딕',dotum,'굴림',sans-serif;}
.layerzzim h1{margin:0; padding:0 0 0 10px; line-height:42px;}
.zzimlist {list-style-type: none; margin: 0px; padding: 0px; }
.zzimlist li{border-top: 1px solid #d7d7d7; }
.zzimlist li:first-child{border-top:none;}
.zzimlist li a{padding-left:10px; line-height:45px; display:block; color:#4c5363; text-decoration:none; outline: none; -webkit-tap-highlight-color: transparent; font-size:12px;}
.zzimlist li a.on{color:#0081e5}
.layerzzim button.btnClose{cursor:pointer;}

.layerPopCont .layerBtn {padding:6px 0;background:#f3f4f5;border-top:1px solid #d5d5d5;text-align:center;}
.layerPopCont .layerBtn {padding:18px 15px; text-align:center;}
.layerPopCont .layerBtn .btnTxt {width:48%;}

.btnTxt {height:30px;color:#4c5363;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;font-size:13px;}
.btnTxt2 {width:48%;height:30px;line-height:30px;vertical-align:middle;color:#4c5363;background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f4f4f4));background:-moz-linear-gradient(19% 75% 90deg,#f4f4f4, #fff);border:1px solid #dfdfdf;border-radius:3px;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;cursor:pointer;font-size:13px;}
 
 /* dimmed */
.dimmed {position:fixed;width:100%;height:100%;top:0;left:0;background:#000;z-index:6;opacity:0.5;}

/* ---------------------------코어에서 가져옴 */